.theme_pallet_wrapper{
  font-size: 12px;
  .header-img{
    .preview-wrapper {
      font-size: 14px;
      background-position: 0px 0px;
      background-repeat: no-repeat;
      width: auto;
      height: 100px;
      .container {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 1000px;
        position: relative;
        background-color: #ffcc81;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          li {
            list-style: none;
            float: right;
            position: relative;
            &.logo {
              width: 24%;
              float: left;
              position: relative;
              padding-bottom: 16px;
              background-color: #80510b;
              .img-select{
                label{
                  position: absolute;
                  color: #000000;
                  background-color: #FFFF66;
                  padding: 2px;
                  left: 148px;
                  top: 70px;
                  border: 1px #000000 dotted;
                  border-top: none;
                  width: 80px;
                  text-align: center;
                  font-size: 12px;
                  cursor: pointer;
                }
              }
            }
            &.logo:befor {
              content: "lel";
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              left: -999px;
              background-color: #80510b;
            }
            &.current {
              background-color: #de8e17;
            }
            .icon-done:before {
              content: "\e909";
            }
            a {
              i.number {
                float: left;
                border: 2px solid #af6f0f;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                text-align: center;
                line-height: 16px;
                font-size: 12px;
                font-weight: 600;
                margin-right: 7px;
              }
            }

          }
        }
      }
    }
  }
  .sub_panel{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .color_pallet_container{
    float: left;
    border: 1px solid #000;
    border-style: dashed;
    padding: 10px;
    .icon-img{
      background-image: url("../images/main_logo.png");
      display: block;
      width: 185px;
      height: 44px;
      overflow: hidden;

    }

    .color-selection {
      display: block;
      margin-top: 10px;
      ul {
        list-style: none;
        li {
          input{
            font-size: 9px;
          }
          float: left;
        }
      }
    }
  }

  .header_bar{
    border: 1px solid #000;
    padding: 10px;
    border-style: dashed;

  }
  .image_pallet_wrapper{
    float: left;
    border: 1px solid #000;
    border-style: dashed;
    padding: 10px;
    .conten-wrapper {
      .img-wrapper {
        border: 1px solid #000;
        border-style: dashed;
        div {
          float: left;
          padding: 5px;
          cursor: pointer;
          margin: 5px;
        }
        width: 172px;
        position: relative;
        .icon-img i {
          background-image: url("../images/zip_icon.png");
          display: block;
          width: 185px;
          height: 44px;
          overflow: hidden;
          background-repeat: no-repeat;
          display: none;

        }
        .img-select {
          label {
            color: #000000;
            background-color: #FFFF66;
            padding: 2px;
            border: 1px #000000 dotted;
            width: 95px;
            text-align: center;
            font-size: 12px;
            cursor: pointer;
          }
        }

        .apply-changes {
          position: relative;
          input[type='checkbox'] {
            visibility: visible;
          }
        }
      }
    }
  }
  .theme_pallet_btn {
    .btn {
      display: block;
      width: 100px;
      height: 75px;
      background-repeat: no-repeat;
    }
    .save-theme{
      background-image: url("../images/save-theme.png");
    }
    .save-logo{
      background-image: url("../images/save-logo.png");
    }
    .upload-images{
      background-image: url("../images/save-images.png");
    }
  }

}
