<html>
    <head>
        <title>:: The Ancillary Reminder Notification</title>
    </head>
    <style type="text/css">
        <!--
                 thinBorder{height:18px;border:1px solid;border-color:black;}
                 Body {background : white;margin :0px 0px 0px 0px;}
                 .fntBold{font-weight:bold;}
                 .thinBorder{height:18px;border:1px solid;border-color:black;}
                 .thinBackground{background-color:#C4C4C4;}
                 .thinHD{height:18px;border:1px solid;border-color:black;;background-color:#C4C4C4;}
                 .fntSmall{font-size:9px;}
                 .fntExSmall{font-size:8px;}
                 .fntTiny{font-size:8px;}
                 .fntLarge{font-size: 17px;}
                 .fntExLarge{font-size: 22px;}
                 .fontCapitalize{text-transform: capitalize;}
                 .fntBoldItnry{font-weight:bold;font-family:tahoma;font-size:11px;left:auto;color: red;}
                 UL{MARGIN-TOP: 0px;MARGIN-bottom: 4px;}
                 LI{MARGIN-TOP: 0px;MARGIN-bottom: 0px;}

                 -->

        thinBorder{height:28px;border:1px solid;border-color:black;}

    </style>
    <body>

        <table cellpadding="2" cellspacing="0" border="0" width="480">
            <tr>
                <td bgcolor="#FFFFFF">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#FFFFFF">
                        #set($remainingDays = $notificationDetailDto.getAncillaryCutOverStartTime()/1440)
                        <tr>
                            <td>
                                <img src="$notificationDetailDto.getIbeURL()/images/3_days_header_no_cache.jpg" alt="email - header" width="480" height="159"/>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table width="100%">
                                    <tr>
                                        <td align="center">
                                            <font color="#4997bf" face="Arial, Helvetica, sans-serif" size="3"><b>#if($notificationDetailDto.getDaysRemainingInflights()>0)
                                                $notificationDetailDto.getDaysRemainingInflights()
                                                #if($notificationDetailDto.getDaysRemainingInflights()>1)
                                                    days
                                                #else
                                                    day
                                                #end
                                            #end
                                                #if($notificationDetailDto.getHourRemainingInflights()>0)
                                                    , $notificationDetailDto.getHourRemainingInflights()
                                                    #if($notificationDetailDto.getHourRemainingInflights()>1)
                                                        hours
                                                    #else
                                                        hour
                                                    #end
                                                #end to go... Have you got everything sorted?</b></font>
                                        </td>
                                        <td width="60" >&nbsp;</td>
                                    </tr>
                                </table>

                            </td>
                        </tr>

                        <tr><td>&nbsp;</td></tr>
                        <tr>
                            <td valign="top">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%" id="emailbody">
                                    <tr>
                                        <td width="10">&nbsp;</td>
                                        <td><font face="Arial, Helvetica, sans-serif" size="2">Dear&nbsp;$notificationDetailDto.getName(),</font></td>
                                        <td width="10">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="10">&nbsp;</td>
                                        <td valign="top">
                                            <span id="emailbody"><font face="Arial, Helvetica, sans-serif" size="2">
                                                Thank you for booking your flight. Please make sure you have everything ready
                                                for your flight to <b> $notificationDetailDto.getDestinationDescription(), $notificationDetailDto.getflightDepartureDateTime("EEE, dd MMM yyyy").</b> Also don't forget that you can still book with
                                                us a range of additional services at great value for money.
                                                <br>
                                                <font color="#4997bf" face="Arial, Helvetica, sans-serif" size="2">
                                                    Please choose your preferred options from the list below:
                                                </font>
                                            </span>
                                        </td>
                                        <td width="10">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">&nbsp;</td>
                                    </tr>

                                ##SEAT NOTIFICATION
                                    #if($notificationDetailDto.getSeatReminderReq() == "Y")
                                        <tr>
                                            <td colspan="3">&nbsp;</td>
                                        </tr>

                                        <tr>
                                            <td width="10">&nbsp;</td>
                                            <td>
                                                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                                                    <tr>
                                                        <td width="36" valign="top"><img src="$notificationDetailDto.getIbeURL()/images/seat_selection_no_cache.jpg" alt="seat_selection" width="36" height="42"/></td>
                                                        <td>
                                                            <font color="#4997bf" face="Arial, Helvetica, sans-serif" size="3"><b>Pre-select Your Seat</b></font><br>
                                                            <font face="Arial, Helvetica, sans-serif" size="2">
                                                                Window or aisle? Select your preferred seat from $notificationDetailDto.getSeatApproxAmount()
                                                            </font>
                                                        </td>
                                                        <td width="60" align="center" nowrap><a href="$notificationDetailDto.getIbePnrModificationLink()" >
                                                            <font color="#4997bf" size="2" face="Arial, Helvetica, sans-serif">Book now</font></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="10">&nbsp;</td>
                                        </tr>
                                    #end

                                ##MEAL NOTIFICATION
                                    #if($notificationDetailDto.getMealReminderReq() == "Y")
                                        <tr>
                                            <td colspan="3">&nbsp;</td>
                                        </tr>

                                        <tr>
                                            <td width="10">&nbsp;</td>
                                            <td>
                                                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                                                    <tr>
                                                        <td width="36" valign="top"><img src="$notificationDetailDto.getIbeURL()/images/meal_selection_no_cache.jpg" alt="meal_selection" width="36" height="42"/></td>
                                                        <td>
                                                            <font color="#4997bf" face="Arial, Helvetica, sans-serif" size="3"><b>Pre-order your meal</b></font><br>
                                                            <font face="Arial, Helvetica, sans-serif" size="2">
                                                                Choose a meal from our Sky Cafe menu at extremely affordable price
                                                            </font>
                                                        </td>
                                                        <td width="60" align="center" nowrap><a href="$notificationDetailDto.getIbePnrModificationLink()" >
                                                            <font color="#4997bf" size="2" face="Arial, Helvetica, sans-serif">Book now</font></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="10">&nbsp;</td>
                                        </tr>
                                    #end

                                ##BAGGAGE NOTIFICATION
                                    #if($notificationDetailDto.getBaggageReminderReq() == "Y")
                                        <tr>
                                            <td colspan="3">&nbsp;</td>
                                        </tr>

                                        <tr>
                                            <td width="10">&nbsp;</td>
                                            <td>
                                                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                                                    <tr>
                                                        <td width="36" valign="top"><img src="$notificationDetailDto.getIbeURL()/images/baggage_selection_no_cache.jpg" alt="baggage_selection" width="36" height="42"/></td>
                                                        <td>
                                                            <font color="#4997bf" face="Arial, Helvetica, sans-serif" size="3"><b>Choose your baggage</b></font><br>
                                                            <font face="Arial, Helvetica, sans-serif" size="2">
                                                                Choose a baggage at extremely affordable price (applicable for bookings done after 12th July 2011)
                                                            </font>
                                                        </td>
                                                        <td width="60" align="center" nowrap><a href="$notificationDetailDto.getIbePnrModificationLink()" >
                                                            <font color="#4997bf" size="2" face="Arial, Helvetica, sans-serif">Book now</font></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="10">&nbsp;</td>
                                        </tr>
                                    #end

                                ##INSURANCE NOTIFICATION
                                    #if($notificationDetailDto.getInsReminderReq() == "Y")
                                        <tr>
                                            <td colspan="3">&nbsp;</td>
                                        </tr>

                                        <tr>
                                            <td width="10">&nbsp;</td>
                                            <td>
                                                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                                                    <tr>
                                                        <td width="36" valign="top"><img src="$notificationDetailDto.getIbeURL()/images/insurance_no_cache.jpg" alt="insurance" width="36" height="42"/></td>
                                                        <td>
                                                            <font color="#4997bf" face="Arial, Helvetica, sans-serif" size="3"><b>Secure your trip with Travel Insurance</b></font><br>
                                                            <font face="Arial, Helvetica, sans-serif" size="2">
                                                                Enjoy peace of mind while travelling from $notificationDetailDto.getInsuranceApproxAmount()
                                                            </font>
                                                        </td>
                                                        <td width="60" align="center" nowrap><a href="$notificationDetailDto.getIbePnrModificationLink()" >
                                                            <font color="#4997bf" size="2" face="Arial, Helvetica, sans-serif">Book now</font></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="10">&nbsp;</td>
                                        </tr>
                                    #end

                                ##BUS NOTIFICATION
                                    #if($notificationDetailDto.getBusReminderReq() == "Y")
                                        <tr>
                                            <td colspan="3">&nbsp;</td>
                                        </tr>

                                        <tr>
                                            <td width="10">&nbsp;</td>
                                            <td>
                                                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                                                    <tr>
                                                        <td width="36" valign="top"><img src="$notificationDetailDto.getIbeURL()/images/bus_selection_no_cache.jpg" alt="bus_selection" width="36" height="42"/></td>
                                                        <td>
                                                            #if($notificationDetailDto.getIsBusAtDeparture() == "Y")
                                                                <font color="#4997bf" face="Arial, Helvetica, sans-serif" size="3"><b>Add bus segment for the flight depart from $notificationDetailDto.getBusConnectingAirport()</b></font><br>
                                                            #else
                                                                <font color="#4997bf" face="Arial, Helvetica, sans-serif" size="3"><b>Add bus segment for the flight arriving to $notificationDetailDto.getBusConnectingAirport()</b></font><br>
                                                            #end
                                                            <font face="Arial, Helvetica, sans-serif" size="2">
                                                                book through call center
                                                            </font>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="10">&nbsp;</td>
                                        </tr>
                                    #end

                                    <tr>
                                        <td colspan="3">&nbsp;</td>
                                    </tr>

                                ##RENT A CAR
                                    #if($notificationDetailDto.getCarBookingLink() != "")
                                        #if($notificationDetailDto.isDynamicCarLink())
                                            <tr>
                                                <td width="10">&nbsp;</td>
                                                <td align="center">
                                                    <iframe src="$notificationDetailDto.getCarBookingLink()" width="500px" height="300px" frameborder="0" style="border:0px;" ></iframe>
                                                </td>
                                                <td width="10">&nbsp;</td>
                                            </tr>
                                        #else
                                            <tr>
                                                <td width="10">&nbsp;</td>
                                                <td>
                                                    <table cellpadding="3" cellspacing="0" border="0" width="100%">
                                                        <tr>
                                                            <td width="36" valign="top"><img src="$notificationDetailDto.getIbeURL()/images/car_rental_no_cache.jpg" alt="car_rental" width="36" height="42"/></td>
                                                            <td>
                                                                <font color="#4997bf" face="Arial, Helvetica, sans-serif" size="3"><b>Rent a Car</b></font><br>
                                                                <font face="Arial, Helvetica, sans-serif" size="2">
                                                                    Rent a car and enjoy the lowest rates with our partners
                                                                </font>
                                                            </td>
                                                            <td width="60" align="center" nowrap><a href="$notificationDetailDto.getCarBookingLink()" >
                                                                <font color="#4997bf" size="2" face="Arial, Helvetica, sans-serif">Book now</font></a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width="10">&nbsp;</td>
                                            </tr>
                                        #end
                                    #end

                                    <tr>
                                        <td colspan="3">&nbsp;</td>
                                    </tr>

                                ##RESERVE HOTEL
                                    #if($notificationDetailDto.getHotelBookingLink() != "" )
                                        <tr>
                                            <td width="10">&nbsp;</td>
                                            <td>
                                                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                                                    <tr>
                                                        <td width="36" valign="top"><img src="$notificationDetailDto.getIbeURL()/images/hotel_no_cache.jpg" alt="hotel" width="36" height="42"/></td>
                                                        <td>
                                                            <font color="#4997bf" face="Arial, Helvetica, sans-serif" size="3"><b>Reserve your hotel stay</b></font><br>
                                                            <font face="Arial, Helvetica, sans-serif" size="2">
                                                                Enjoy lower rates when you book your hotel stay with us
                                                            </font>
                                                        </td>
                                                        <td width="60" align="center" nowrap><a href="$notificationDetailDto.getHotelBookingLink()" >
                                                            <font color="#4997bf" size="2" face="Arial, Helvetica, sans-serif">Book now</font></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                    #end

                                    <tr>
                                        <td colspan="3">&nbsp;</td>
                                    </tr>

                                ##ONLINE CHECKIN NOTIFICATION
                                    #if($notificationDetailDto.getAirportOnlineCheckin() == "Y")
                                        <tr>
                                            <td width="10">&nbsp;</td>
                                            <td valign="top">
                                                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                                                    <tr>
                                                        <td width="36" valign="top"><img src="$notificationDetailDto.getIbeURL()/images/online_checkin_no_cache.jpg" alt="online_checkin" width="36" height="42"/></td>
                                                        <td>
                                                            <font color="#4997bf" face="Arial, Helvetica, sans-serif" size="3"><b>Save time by Checking-in online</b></font><br>
                                                            <font face="Arial, Helvetica, sans-serif" size="2">
                                                                Check-in online 24 hours prior to your flight and avoid airport queues.
                                                            </font>
                                                        </td>

                                                        <td width="60" align="center" nowrap>
                                                            <!--
				                        	<a href="$notificationDetailDto.getIbePnrModificationLink()" >
				                        	<font color="#4997bf" size="2" face="Arial, Helvetica, sans-serif">Book now</font></a>
				                        	-->
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="10">&nbsp;</td>
                                        </tr>
                                    #end

                                    <!-- flight details -->
                                    <tr>
                                        <td width="10">&nbsp;</td>
                                        <td>
                                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                <tr>
                                                    <td colspan="3">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td width="100%" colspan="3">
                                                        <font color="#4997bf" face="Arial, Helvetica, sans-serif" size="3"><b>Your flight details:</b></font>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td width="200" valign="top" nowrap>

                                                    ##Segments Information
                                                        #foreach ($segmentDetail in $notificationDetailDto.getFlightSegmentsList())
                                                            #if($segmentDetail.getReturnFlag() == "N")
                                                                <table cellpadding="0" cellspacing="0" border="0" width="225">

                                                                    <tr height="35">
                                                                        <td colspan="3" bgcolor="#4997bf" class="thinBorder" width="150" wrap>
                                                                            <font color="#ffffff" size="2" face="Arial, Helvetica, sans-serif"><b>$segmentDetail.getSegmentDetails()</b></font>
                                                                        </td>
                                                                    </tr>
                                                                    <tr >
                                                                        <td class="thinBorder" colspan="3" >
                                                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                                <tr height="30">
                                                                                    <td align="center" bgcolor="#4997bf" width="25%">
                                                                                        <font color="#ffffff" size="2" face="Arial, Helvetica, sans-serif"><b>Flight</b></font>
                                                                                    </td>
                                                                                    <td align="center"  width="25%">
                                                                                        <font  size="2" face="Arial, Helvetica, sans-serif">$segmentDetail.getFlightNum() &nbsp;</font>
                                                                                    </td>
                                                                                    <td align="center" bgcolor="#4997bf" width="25%">
                                                                                        <font color="#ffffff" size="2" face="Arial, Helvetica, sans-serif"><b>Status</b></font>
                                                                                    </td>
                                                                                    <td align="center" width="25%">
                                                                                        <font size="2" face="Arial, Helvetica, sans-serif">$segmentDetail.getFlightStatus()</font>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    <tr  height="33">
                                                                        <td class="thinBorder" nowrap>
                                                                            <font color="#4997bf" size="2" face="Arial, Helvetica, sans-serif">Departure</font>
                                                                        </td>
                                                                        <td  class="thinBorder" nowrap align="center">
                                                                            <font size="2" face="Arial, Helvetica, sans-serif">$segmentDetail.getDepartureDateTime("EEE, dd MMM yyyy") &nbsp;</font>
                                                                        </td>
                                                                        <td  class="thinBorder" nowrap align="center">
                                                                            <font size="2" face="Arial, Helvetica, sans-serif">$segmentDetail.getDepartureDateTime("HH:mm") &nbsp;</font>
                                                                        </td>
                                                                    </tr>
                                                                    <tr  height="33">
                                                                        <td  class="thinBorder" nowrap>
                                                                            <font color="#4997bf" size="2" face="Arial, Helvetica, sans-serif">Arrival</font>
                                                                        </td>
                                                                        <td class="thinBorder" nowrap align="center">
                                                                            <font size="2" face="Arial, Helvetica, sans-serif">$segmentDetail.getArrivalDateTime("EEE, dd MMM yyyy") &nbsp;</font>
                                                                        </td>
                                                                        <td  class="thinBorder" nowrap align="center">
                                                                            <font size="2" face="Arial, Helvetica, sans-serif">$segmentDetail.getArrivalDateTime("HH:mm") &nbsp; </font>
                                                                        </td>
                                                                    </tr>
                                                                    <tr  height="33">
                                                                        <td  class="thinBorder" nowrap>
                                                                            <font color="#4997bf" size="2" face="Arial, Helvetica, sans-serif">Check-in</font>
                                                                        </td>
                                                                        <td class="thinBorder" align="center" nowrap>
                                                                            <font size="2" face="Arial, Helvetica, sans-serif">$segmentDetail.getCheckInStringDate("EEE, dd MMM yyyy") &nbsp;</font>
                                                                        </td>
                                                                        <td class="thinBorder" align="center" nowrap>
                                                                            <font size="2" face="Arial, Helvetica, sans-serif">$segmentDetail.getCheckInStringDate("HH:mm") &nbsp;</font>
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td colspan="3">
                                                                        &nbsp;
                                                                        <td>
                                                                    </tr>
                                                                </table>
                                                            #end
                                                        #end
                                                    </td>

                                                    <td width="10">&nbsp;</td>

                                                    <td width="200" valign="top" nowrap>

                                                        #foreach ($segmentDetail in $notificationDetailDto.getFlightSegmentsList())
                                                            #if($segmentDetail.getReturnFlag() == "Y")
                                                                <table cellpadding="0" cellspacing="0" border="0" width="225" >
                                                                    <tr height="35">
                                                                        <td colspan="3" bgcolor="#4997bf" class="thinBorder" width="150" wrap>
                                                                            <font color="#ffffff" size="2" face="Arial, Helvetica, sans-serif"><b>$segmentDetail.getSegmentDetails()</b></font>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="thinBorder" colspan="3" >
                                                                            <table  width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                                <tr height="30">
                                                                                    <td align="center" bgcolor="#4997bf" width="25%">
                                                                                        <font color="#ffffff" size="2" face="Arial, Helvetica, sans-serif"><b>Flight</b></font>
                                                                                    </td>
                                                                                    <td align="center"  width="25%">
                                                                                        <font  size="2" face="Arial, Helvetica, sans-serif">$segmentDetail.getFlightNum() &nbsp;</font>
                                                                                    </td>
                                                                                    <td align="center" bgcolor="#4997bf" width="25%">
                                                                                        <font color="#ffffff" size="2" face="Arial, Helvetica, sans-serif"><b>Status</b></font>
                                                                                    </td>
                                                                                    <td align="center" width="25%">
                                                                                        <font size="2" face="Arial, Helvetica, sans-serif">$segmentDetail.getFlightStatus()</font>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>

                                                                    <tr height="33">
                                                                        <td class="thinBorder" nowrap>
                                                                            <font color="#4997bf" size="2" face="Arial, Helvetica, sans-serif">Departure</font>
                                                                        </td>
                                                                        <td class="thinBorder" align="center" nowrap>
                                                                            <font size="2" face="Arial, Helvetica, sans-serif">$segmentDetail.getDepartureDateTime("EEE, dd MMM yyyy") &nbsp;</font>
                                                                        </td>
                                                                        <td class="thinBorder" align="center" nowrap>
                                                                            <font size="2" face="Arial, Helvetica, sans-serif">$segmentDetail.getDepartureDateTime("HH:mm") &nbsp;</font>
                                                                        </td>
                                                                    </tr>
                                                                    <tr height="33">
                                                                        <td class="thinBorder" nowrap>
                                                                            <font color="#4997bf" size="2" face="Arial, Helvetica, sans-serif">Arrival</font>
                                                                        </td>
                                                                        <td class="thinBorder" align="center" nowrap>
                                                                            <font size="2" face="Arial, Helvetica, sans-serif">$segmentDetail.getArrivalDateTime("EEE, dd MMM yyyy") &nbsp;</font>
                                                                        </td>
                                                                        <td class="thinBorder" align="center" nowrap>
                                                                            <font size="2" face="Arial, Helvetica, sans-serif">$segmentDetail.getArrivalDateTime("HH:mm") &nbsp; </font>
                                                                        </td>
                                                                    </tr>
                                                                    <tr height="33">
                                                                        <td class="thinBorder" nowrap>
                                                                            <font color="#4997bf" size="2" face="Arial, Helvetica, sans-serif">Check-in</font>
                                                                        </td>
                                                                        <td class="thinBorder" align="center" nowrap>
                                                                            <font size="2" face="Arial, Helvetica, sans-serif">$segmentDetail.getCheckInStringDate("EEE, dd MMM yyyy") &nbsp;</font>
                                                                        </td>
                                                                        <td class="thinBorder" align="center" nowrap>
                                                                            <font size="2" face="Arial, Helvetica, sans-serif">$segmentDetail.getCheckInStringDate("HH:mm") &nbsp;</font>
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td colspan="3" bgcolor="#FFFFFF">
                                                                        &nbsp;
                                                                        <td>
                                                                    </tr>
                                                                </table>
                                                            #end
                                                        #end

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3"></td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td width="10"></td>
                                    </tr>
                                    <tr>
                                        <td valign="top" colspan="3">
                                            <font class="fntSmall">
                                                * All times in local &nbsp;<br>
                                                Only future flights are shown in your flight details.
                                            </font>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td></tr></table>
    </body>

</html>
