<?xml version="1.0" encoding="UTF-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>$commonTemplatingDTO.getCarrierName() Notification</subject>
	</header>
	<content>
		<body><![CDATA[$commonTemplatingDTO.getCarrierName() Customer, your PNR $pnr $oldFlightAlertInfoDTO.getFlightNumber() on $oldFlightAlertInfoDTO.getDepartureStringDate("EEE, dd MMM yyyy") for $oldFlightAlertInfoDTO.getOriginAptCode()/$oldFlightAlertInfoDTO.getDestinationAptCode() were effected #if($alertTemplateEnum.size() > 0) by #foreach ($alertTemplate in $alertTemplateEnum) $alertTemplate.getCodeDesc() #end #end Please call, in order to take action.]]></body>
		<!--body><![CDATA[Dear Customer,  $message]]></body -->	
	</content>
</message>