<?xml version="1.0" encoding="UTF-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>DST CHANGE</subject>
	</header>
	<content>		
		<body>		
		<![CDATA[<html> 
			<head>
			</head>		
			Dear $user.getFirstName(),
			<p>
				As a result of Applying new Daylight Saving Time for this Year, 
				we wish to inform you that the applicapable flights that are scheduled within the 
				DST Period have been updated.
				
				
			</p>
			<br>
			Sincerely,
			<br>
			$commonTemplatingDTO.getCarrierName() 
			</html>
		]]></body>
	</content>
</message>