<?xml version="1.0" encoding="iso-8859-1"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<header>
		<subject>Topup Alert / $amount $currencyCode / $agentCode </subject>
	</header>
	<content>
		<body><![CDATA[
		<html>
        <head>
	        <title>Topup Alert</title>
        </head>
        <body>
				Successful Agent topup of $amount $currencyCode to agent $agentCode , $agentName .
				New Available Balance is $agentBalance $currencyCode.
	     </body>
	   </html>		  
		]]></body>
	</content>
</message>
