<?xml version="1.0" encoding="UTF-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>$subject</subject>
	</header>
	<content>
		<body><![CDATA[<html> Hi,
			<p>
				$description
			</p>
			<p>
				#if( $alertTemplateEnum )					
					<b>Following changes were introduced: </b><br>
					#foreach ($alertTemplateEnum in $alertTemplateEnum)
						$alertTemplateEnum.getCodeDesc()<br>
			     	#end
		     	#end
			</p>
			<p>
				#if( $alertTemplateEnum && $alertTemplateEnum.getCode() == 3 )
				<b>Cancelled flight details</b><br>
				#else
				<b>Old flight details</b><br>
				#end
					#if( $oldFlightAlertInfoDTO.getScheduleId())
					Schedule Id : $oldFlightAlertInfoDTO.getScheduleId()<br>
					#end
					Flight Id: $oldFlightAlertInfoDTO.getFlightId()<br>
					Flight Number: $oldFlightAlertInfoDTO.getFlightNumber()<br>
					Status: $oldFlightAlertInfoDTO.getStatus()<br>
					Departure Date: $oldFlightAlertInfoDTO.getDepartureStringDate("EEE, dd MMM yyyy")<br>
					Model Number: $oldFlightAlertInfoDTO.getModelNumber()<br>
					Origin Airport Code: $oldFlightAlertInfoDTO.getOriginAptCode()<br>
					Destination Airport Code: $oldFlightAlertInfoDTO.getDestinationAptCode()<br>
					#if( $oldFlightAlertInfoDTO.getRoute() )
						Route: $oldFlightAlertInfoDTO.getRoute()<br>
					#end	
					#if( $oldFlightAlertInfoDTO.getSegmentDetails() )
						Segment Details: $oldFlightAlertInfoDTO.getSegmentDetails()<br>
					#else
						Leg Details: $oldFlightAlertInfoDTO.getLegDetails()<br>
					#end
					<br>
					#if( $newFlightAlertInfoDTO )
						<b>New flight details</b><br>
						#if( $newFlightAlertInfoDTO.getScheduleId())
						Schedule Id : $newFlightAlertInfoDTO.getScheduleId()<br>
						#end
						Flight Id: $newFlightAlertInfoDTO.getFlightId()<br>
						Flight Number: $newFlightAlertInfoDTO.getFlightNumber()<br>
						Status: $newFlightAlertInfoDTO.getStatus()<br>
						Departure Date: $newFlightAlertInfoDTO.getDepartureDate()<br>
						Model Number: $newFlightAlertInfoDTO.getModelNumber()<br>
						Origin Airport Code: $newFlightAlertInfoDTO.getOriginAptCode()<br>
						Destination Airport Code: $newFlightAlertInfoDTO.getDestinationAptCode()<br>				
	
				        #if( $newFlightAlertInfoDTO.getRoute() )
							Route: $newFlightAlertInfoDTO.getRoute()<br>
						#end
						#if( $newFlightAlertInfoDTO.getSegmentDetails() )
							Segment Details: $newFlightAlertInfoDTO.getSegmentDetails()<br>
						#else
							Leg Details: $newFlightAlertInfoDTO.getLegDetails()<br>
						#end
					#end
			</p>						
			<p>
			<b>The affected PNRs are listed below</b><br>
			#foreach ($pnr in $pnrList)
				$pnr <br>
			#end
			</p>
			<br>
			Sincerely,
			<br>
			$commonTemplatingDTO.getCarrierName() 
			</html>
		]]></body>
	</content>
</message>