		<html>
		<head>
		<title>:: Flight Manifest</title>
		</head>
		<style type="text/css">
		 <!--
		 font{font-family:tahoma;font-size:11px;left:auto;color: black;}
		 Body {background : white;margin :0px 0px 0px 0px;}
		  .fntBold{font-weight:bold;}
		 .thinBorder{height:18px;border:1px solid;border-color:black;}
		  .thinBackground{background-color:#C4C4C4;}
		  .thinHD{height:18px;border:1px solid;border-color:black;;background-color:#C4C4C4;}
		  .fntSmall{font-size:9px;}
		  .fntExSmall{font-size:8px;}
		  .fntTiny{font-size:8px;}
		  .fntTinyLarge{font-size: 12px;}
		  .fntLarge{font-size: 17px;}
		  .fntExLarge{font-size: 22px;}
		  .fontCapitalize{text-transform: capitalize;}
		  UL{MARGIN-TOP: 0px;MARGIN-bottom: 4px;}
		  LI{MARGIN-TOP: 0px;MARGIN-bottom: 0px;}
		 .Header{font-family:Arial;font-size:11pt;text-align:left;	left:auto;text-transform: capitalize;color: black;font-weight: bold;}
		 .GridHDPrintBorder{border-color: gray  white gray white;}			
		 .GridItemPrintBorder{border-color: white white white white;}
		 .GridPrintHeader{	background-color: white;}
		 .GridRow{	border-width:1px 1px 2px 1px;height:18px;border-style:solid;}
		 .GridItemRow{border-width:1px;height:18px;border-style:solid;	border-color:white white white white;}
		 .GridHeaderBand{border-bottom-width:thin;	}
		 .GridItem{background-color:white;	}
		 .manifestRow1 { background-color:#FFFFFF;	border:hidden;	height:18px;}
 		.manifestRow2 {	background-color:#E2E2E2;	border:hidden;	height:18px; }
		 -->
		</style>
		<body>
		 <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
		 	<tr>
		 		<td valign="top" align="center">
		 		<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
		 			<tr>
		 				<td width="45%"><img src="$ibeURL/images/$logoImageName"/>
		 				</td>
		 				<td align="left"><font class="Header">Flight Manifest</font>
		 				</td>
		 			</tr>
		 			<tr>
		 				<td colspan= "2"><font class="fntSmall">&nbsp;</font></td>
		 			</tr>
		 			<tr>			
		 				<td></td>
		 				<td align="right">
		 				<table>
		 					<tr><td><font class="fntSmall">Report ID  : UC_REPM_022</font></td></tr>
		 					<tr><td><font class="fntSmall">Print Date : $startDate </font></td></tr>
		 					<tr><td><font class="fntSmall">Print Time : $startTIme </font></td></tr>
		 				</table>
		 				</td>
		 			</tr>
		 			<tr>
		 				<td colspan= "2"><font class="fntSmall">&nbsp;</font></td>
		 			</tr>
		 			
		 			<tr>
						<td style="height:470px;" valign="top" colspan="2">						  		
						<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
							<tr>
								<td width="9%"><font>Flight Number :</font></td>
								<td width="21%"><font>$flightManifestDTO.getFlightNumber()</font></td>
								<td width="4%"><font>Date :</font></td>
								<td width="26%"><font>$flightManifestDTO.getDateOfFM()</span></font></td>
								<td width="5%"><font>Route :</font></td>
								<td width="25%"><font>$flightManifestDTO.getSegmentCode()</span></font></td>
					 		</tr>

							#if($flightManifestDTO.getSummaryPosition() == "top")
							<tr>
								<td colspan="6">
								<table>
									<tr>
										<td><font>Flight Load Status</font></td>	
										<td width='7%'><font>Males </font></td>									
										<td width='5%'><font>$flightManifestDTO.getMaleCount()</font></td>
										<td width='7%'><font>FeMales </font></td>
										<td width='5%'><font>$flightManifestDTO.getFemaleCount()</font></td>
										<td width='7%'><font>Children </font></td>
										<td width='5%'><font>$flightManifestDTO.getChildCount()</font></td>
										<td width='6%' ><font>Infants </font></td>
										<td width='5%'><font>$flightManifestDTO.getInfantCount()</font></td>
										<td width='7%' ><font>Unknown </font></td>
										<td width='5%'><font>$flightManifestDTO.getOthersCount()</font></td>
										<td width='7%'><font>Total</font></td>
										<td width='5%'><font>$flightManifestDTO.getTotalPaxCount()</font></td>	
									</tr>	
									<tr><td><font>&nbsp;</font></td></tr>				
									
									
									#if($flightManifestDTO.getSummaryMode() == "segment")
									 #foreach ($manifestCountDTO in $flightManifestDTO.getPaxCount())
									 <tr>
										<td width='30%'><font>$manifestCountDTO.getSegment()</font></td>
										<td width='7%'><font>Males </font></td>									
										<td width='5%'><font>$manifestCountDTO.getMaleCount()</font></td>
										<td width='7%'><font>FeMales </font></td>
										<td width='5%'><font>$manifestCountDTO.getFemaleCount()</font></td>
										<td width='7%'><font>Children </font></td>
										<td width='5%'><font>$manifestCountDTO.getChildCount()</font></td>
										<td width='6%' ><font>Infants </font></td>
										<td width='5%'><font>$manifestCountDTO.getInfantCount()</font></td>
										<td width='7%' ><font>Unknown </font></td>
										<td width='5%'><font>$manifestCountDTO.getOtherCount()</font></td>
										<td width='7%'><font>Total</font></td>
										<td width='5%'><font>$manifestCountDTO.getTotalCount()</font></td>	
									</tr>
									 #end
									#elseif($flightManifestDTO.getSummaryMode() == "inout")
									
										 #foreach ($airportSummaryDTO in $flightManifestDTO.getAirportInOutSummary())
					 					 <tr>
											<td width='30%'><font>$airportSummaryDTO.getAirportCode()</font></td>
											<td width='7%'><font>In </font></td>									
											<td width='5%'><font>$airportSummaryDTO.getGetInCount()</font></td>
											<td width='7%'><font>Out </font></td>
											<td width='5%'><font>$airportSummaryDTO.getGetDownCount()</font></td>
											<td colspan="8"></td>
										</tr>	
										 #end
									#end
									
		 						</table>
		 						</td>
							</tr>
							#end
							<tr><td><font class="fntSmall">&nbsp;</font></td></tr>
		 					<tr>
							<td valign="top" colspan="6">	
								<table width="100%" border="0" cellpadding="1" cellspacing="0" align="center">
									<tr>	
										<td width="7%"   align="centre" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>PNR</font></td>
										<td width="17%"  align="centre" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Passenger Name</font></td>
										<td width="5%"   align="centre" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>SSR</font></td>
										<td width="5%"   align="centre" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Origin</font></td>
										<td width="9%"  align="centre" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Segment</font></td>
										<td width="5%"  align="centre" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Destination</font></td>
										<td width="6%"   align="centre" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Reservation Status</font></td>
										<td width="6%"   align="centre" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>PAX Status</font></td>
										<td width="5%"   align="right" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Balance</font></td>
										<td width="10%"   align="centre" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>&nbsp;&nbsp;Booking Date</font></td>
									</tr>
	 	
									#if($collectionDTO.size() > 0)
									
									 #foreach ($flightEmailDTO in $collectionDTO)
									 
									 	
				 						<tr>		
				 					
										<td valign="top" class="$style" ><font>$flightEmailDTO.getPnr()</font>
										</td>
										<td valign="top" class="$style" ><font>$flightEmailDTO.getPassengerName()</font>
										</td>	
										
										#if($flightEmailDTO.getSsr() != "")
											<td valign="top" class="$style" ><font>$flightEmailDTO.getSsr()</font>
											</td>		
								        #elseif($flightEmailDTO.getEticket() != "")
				  							<td valign="top" class="$style" ><font>TKNA</font>
											</td>	
				  					    #else  
				  							<td valign="top" class="$style" ><font>&nbsp;</font>
											</td>
				  					    #end
										<td valign="top" class="$style" ><font>$flightEmailDTO.getOrigin()</font>
										</td>
										<td valign="top" class="$style" ><font>$flightEmailDTO.getSegmentCode()</font>
										</td>
										<td valign="top" class="$style" ><font>$flightEmailDTO.getDestination()</font>
										</td>
										<td valign="top" class="$style" ><font>$flightEmailDTO.getReservationStatus()</font>
										</td>
										<td valign="top" class="$style" ><font>$flightEmailDTO.getPaxStatus()</font>
										</td>
										<td valign="top" class="$style" align="right"><font>$flightEmailDTO.getFormatAmt()</font>
										</td>		
										<td valign="top" class="$style" ><font>&nbsp;&nbsp;$flightEmailDTO.getBookingDate()</font>
										</td>											
										</tr>
										
								 	<tr>
			
										#if($flightManifestDTO.isShowSSR() == true)
											#if($flightManifestDTO.isShowSSR() == true) 		
												<td colspan="2"  class="$style"><font>&nbsp;</font>
												</td>
												<td colspan="9" valign="top"  class="$style" ><font>$flightEmailDTO.getSsrText()</font>
								
												#if($flightManifestDTO.isShowCC() && ($flightEmailDTO.getCc4Digit() != "&nbsp;"))
												<font>$flightManifestDTO.getCc4Digit()$flightEmailDTO.getCc4Digit()</font>
												#end								
												</td>			
											#else 
												<td colspan="11" valign="top"  class="$style">
											
												#if($flightManifestDTO.isShowCC() == true && $flightEmailDTO.getCc4Digit() != "&nbsp;")
													<font>$flightManifestDTO.getCc4Digit()&nbsp;$flightEmailDTO.getCc4Digit()</font>
												#end
												</td>
											#end	
				
											</tr>			
										#elseif($flightManifestDTO.isShowCC() == true && $flightEmailDTO.getCc4Digit()!= "&nbsp;")
											<tr>	
											<td colspan="2"  class="$style"><font>&nbsp;</font>
											</td>
											<td colspan="11" valign="top"  class="$style">
											<font>$flightManifestDTO.getCc4Digit()&nbsp;$flightEmailDTO.getCc4Digit()</font>
											</td>
											
											
									
										#end
										
										#if($color=="true")
									 		#set($style ="manifestRow2")
									 		#set($color ="false")
									 	#else
											#set($style ="manifestRow1")
											#set($color ="true")
										#end
										</tr>
								 #end
									
								 #else 
								 	<tr><td colspan="8" align="center"><font>No Data Found</font></td></tr>;
								 #end
							</table>	 	
							</td>
							</tr>
							#if($flightManifestDTO.getSummaryPosition() == "bottom")
							<tr>
								<td colspan="6">
								<table>
									<tr>
										<td><font>Flight Load Status</font></td>	
										<td width='7%'><font>Males </font></td>									
										<td width='5%'><font>$flightManifestDTO.getMaleCount()</font></td>
										<td width='7%'><font>FeMales </font></td>
										<td width='5%'><font>$flightManifestDTO.getFemaleCount()</font></td>
										<td width='7%'><font>Children </font></td>
										<td width='5%'><font>$flightManifestDTO.getChildCount()</font></td>
										<td width='6%' ><font>Infants </font></td>
										<td width='5%'><font>$flightManifestDTO.getInfantCount()</font></td>
										<td width='7%' ><font>Unknown </font></td>
										<td width='5%'><font>$flightManifestDTO.getOthersCount()</font></td>
										<td width='7%'><font>Total</font></td>
										<td width='5%'><font>$flightManifestDTO.getTotalPaxCount()</font></td>	
									</tr>	
									<tr><td><font>&nbsp;</font></td></tr>				
									
									
									#if($flightManifestDTO.getSummaryMode() == "segment")
									 #foreach ($manifestCountDTO in $flightManifestDTO.getPaxCount())
									 <tr>
										<td width='30%'><font>$manifestCountDTO.getSegment()</font></td>
										<td width='7%'><font>Males </font></td>									
										<td width='5%'><font>$manifestCountDTO.getMaleCount()</font></td>
										<td width='7%'><font>FeMales </font></td>
										<td width='5%'><font>$manifestCountDTO.getFemaleCount()</font></td>
										<td width='7%'><font>Children </font></td>
										<td width='5%'><font>$manifestCountDTO.getChildCount()</font></td>
										<td width='6%' ><font>Infants </font></td>
										<td width='5%'><font>$manifestCountDTO.getInfantCount()</font></td>
										<td width='7%' ><font>Unknown </font></td>
										<td width='5%'><font>$manifestCountDTO.getOtherCount()</font></td>
										<td width='7%'><font>Total</font></td>
										<td width='5%'><font>$manifestCountDTO.getTotalCount()</font></td>	
									</tr>
									 #end
									#elseif($flightManifestDTO.getSummaryMode() == "inout")
									
										 #foreach ($airportSummaryDTO in $flightManifestDTO.getAirportInOutSummary())
					 					 <tr>
											<td width='30%'><font>$airportSummaryDTO.getAirportCode()</font></td>
											<td width='7%'><font>In </font></td>									
											<td width='5%'><font>$airportSummaryDTO.getGetInCount()</font></td>
											<td width='7%'><font>Out </font></td>
											<td width='5%'><font>$airportSummaryDTO.getGetDownCount()</font></td>
											<td colspan="8"></td>
										</tr>	
										 #end
									#end
									
		 						</table>
		 						</td>
							</tr>
							#end
							<tr>
							<td colspan="6" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder" align="left"><font><b>Standby Passengers Carry  *  With Their Booking Class $flightManifestDTO.getFlightLegend() </b></font></td>
							</tr>
						</table>
						</td>
					</tr>
					</td>
			</tr>				
		</table>				
		</td>
	</tr>
</table>
</body>
</html>	