<?xml version="1.0" encoding="UTF-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>$commonTemplatingDTO.getCarrierName() Flight Seat Change Notification</subject>
	</header>
	<content>
		<body>
			 
		<![CDATA[
		<html> 
		<head>
		<title>:: Flight Change Notification</title>
		</head>
		<style type="text/css">
		 <!--
		 font{font-family:tahoma;font-size:11px;left:auto;color: black;}
		 Body {background : white;margin :0px 0px 0px 0px;}
		 .fntBold{font-weight:bold;}
		 .thinBorder{height:18px;border:1px solid;border-color:black;}
		 .thinBackground{background-color:#C4C4C4;}
		 .thinHD{height:18px;border:1px solid;border-color:black;;background-color:#C4C4C4;}
		 .fntSmall{font-size:9px;}
		 .fntExSmall{font-size:8px;}
		 .fntTiny{font-size:8px;}
		 .fntTinyLarge{font-size: 12px;}
		 .fntLarge{font-size: 17px;}
		 .fntExLarge{font-size: 22px;}
		 .fontCapitalize{text-transform: capitalize;}
		 UL{MARGIN-TOP: 0px;MARGIN-bottom: 4px;}
		 LI{MARGIN-TOP: 0px;MARGIN-bottom: 0px;}
		 -->
		</style>
		<body>
		 <table width="600" border="0" cellpadding="2" cellspacing="0" align="center">
		   <tr><td> <img src="$ibeURL/images/$logoImageName"/></td></tr>
		  <tr>
		   <td align="center">
		    <font class="fntLarge"><b> FLIGHT SEAT LOST NOTIFICATION </b></font>
		   </td>
		  </tr>
		   <tr>
		    <td>
		      <font>&nbsp;</font>
		    </td>
		  </tr>			  
		  <tr>
		    <td valign="top">
		      <font class="fntTinyLarge">Dear $user,<br><br></font>
		    </td>
		  </tr>
		 <tr>
		    <td valign="top">
		      <font>$message</font>
		    </td>
		  </tr>
		   <tr>
		    <td>
		      <font>&nbsp;</font>
		    </td>
		  </tr>
		  <tr>
		    <td valign="top"><font>
			   <br>
			   Sincerely,
			   <br>
			   $commonTemplatingDTO.getCarrierName()
			</font>
		    </td>
		  </tr>

		 </table>
		  </body>
		  </html>]]>
		 
		</body>	
	</content>
</message>