<?xml version="1.0" encoding="UTF-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>Flight Manifest - $manifestData.getFlightNo() </subject>
	</header>
	<content>
			<body><![CDATA[
			#if($manifestOptions.getViewOption() == "summary")
 				#parse("email/flight_manifest_summary_content.xml.vm")	
			#else
 				#parse("email/flight_manifest_full_content.xml.vm")	
			#end
			]]></body>
	</content>
</message>
