<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>$subject</subject>
	</header>
	<content>
	
		<body>
		
		<![CDATA[<html>
<head>
<title>Booked Hala Services</title>
</head>
<style type="text/css">
<!--
font {
	font-family: tahoma;
	font-size: 11px;
	left: auto;
	color: black;
}

Body {
	background: white;
	margin: 0px 0px 0px 0px;
}

.fntBold {
	font-weight: bold;
}

.thinBorder {
	height: 18px;
	border: 1px solid;
	border-color: black;
}

.thinHD {
	height: 18px;
	border: 1px solid;
	border-color: black;;
	background-color: #C4C4C4;
}

.fntLarge {
	font-size: 12px;
}

.fntHeading {
	font-size: 13px;
}
-->
</style>
<body>
	<table cellpadding="5" cellspacing="2" border="0" width="85%">		
<tr><td>
								<font class="fntBold fntHeading">Flight Details</font>
						    	</td>
						    </tr>
						   
						    <tr>
						   	<td><font class="fntBold">Origin :</font>&nbsp;<font class="fntSmall">$header.getOrigin()</font></td>
						   	</tr>
						   	<tr>
							#if( $hub == $header.getOrigin())
						    	<td><font class="fntBold">Departure time (Local) :</font>&nbsp;<font class="fntSmall">$header.getDepartureDate()</font></td>
							#else
								<td><font class="fntBold">Arrival time (Local) :</font>&nbsp;<font class="fntSmall">$header.getArrivalDate()</font></td>
							#end
						  	</tr>
						  	<tr>	
						  	<td><font class="fntBold">Destination :</font>&nbsp;<font class="fntSmall">$header.getDestination()</font></td>				    
						    </tr>
						    <tr>	
						  	<td><font class="fntBold">Applicable Airport :</font>&nbsp;<font class="fntSmall">$header.getStation()</font></td>				    
						    </tr>
		<tr>
			<td><font class="fntBold fntHeading"> Summary of Booked Airport Services:</font>
			</td>
		</tr>	
		<tr>
			<td>
				<table border="1" width="85%">
					<tr>
						<th class="thinHD" align="center" width="5%"><font
							class="fntBold">&nbsp;</font>
						</th>
						<th class="thinHD" align="center" width="15%"><font
							class="fntBold">Flight No</font>
						</th>						
						<th class="thinHD" align="center" width="20%"><font
							class="fntBold">SSR Code</font>
						</th>
						<th class="thinHD" align="center" width="35%"><font
							class="fntBold">Description</font>
						</th>						
						<th class="thinHD" align="center" width="10%"><font
							class="fntBold">Total</font>
						</th>
					</tr>
					#foreach($service in $servicesSummary)
					<tr>
						<td class="thinBorder" ><font>$velocityCount</font>
						</td>					 
						<td class="thinBorder" ><font>$service.getFlightNo()</font>
						</td>						
						<td class="thinBorder" ><font>$service.getSsrCode()</font>
						</td>
						<td class="thinBorder" ><font>$service.getSsrDescription()</font>
						</td>						
						<td class="thinBorder" ><font>$service.getNoOfPax()</font>
						</td>
					</tr>
					#end
				</table></td>
		</tr>


		<tr>
			<td><font class="fntBold fntHeading">Booked Airport Services Passenger Details </font>
			</td>
		</tr>
		<tr>
			<td>		
				<table border="1" width="98%">
					<tr>
						<th class="thinHD" align="center" width="5%"><font
							class="fntBold">&nbsp;</font>
						</th>
						<th class="thinHD" align="center" width="10%"><font
							class="fntBold">PNR</font>
						</th>
						<th class="thinHD" align="center" width="20%"><font
							class="fntBold">Passenger Name</font>
						</th>
						<th class="thinHD" align="center" width="10%"><font
							class="fntBold">Flight No</font>
						</th>						
						<th class="thinHD" align="center" width="15%"><font
							class="fntBold">OND</font>
						</th>
						<th class="thinHD" align="center" width="15%"><font
							class="fntBold">SSR Code</font>
						</th>				
						<th class="thinHD" align="center" width="25%"><font
							class="fntBold">Description</font>
						</th>	
						
					</tr>
					#foreach($pax in $detailsList)
					<tr>						
						<td class="thinBorder" ><font>$velocityCount</font>
						</td>
						<td class="thinBorder" ><font>$pax.getPnr()</font>
						</td>
						<td class="thinBorder" ><font>$pax.getFullName()</font>
						</td>
						<td class="thinBorder" ><font>$pax.getFlightNo()</font>
						</td>						
						<td class="thinBorder" ><font>$pax.getSegCode()</font>
						</td>
						<td class="thinBorder" ><font>$pax.getSsrCode()</font>
						</td>			
						<td class="thinBorder" ><font>$pax.getSsrDescription()</font>
						</td>	
						
					</tr>
					#end
				</table></td>
		</tr>
	</table>
</body>
</html>]]>	
		</body>
	</content>
</message>