<html>
		<head>
		<title>The PNR History</title>
		</head>
		<style type="text/css">
		 <!--
		 font{font-family:tahoma;font-size:11px;left:auto;color: black;}
		 Body {background : white;margin :0px 0px 0px 0px;}
		 .thinBorder{height:18px;border:1px solid;border-color:black;}
		 .thinHD{height:18px;border:1px solid;border-color:black;;background-color:#C4C4C4;}
		 .fntSmall{font-size:9px;}
		 .fntLarge{font-size: 17px;}
		 -->
		</style>
		<body>
			<table width="670" border="0" cellpadding="2" cellspacing="0" align="center">
			  	<tr>		   
			   		<td align="center">
			    		<font class="fntLarge">PNR HISTORY FOR PNR: $pnr</font>
			    	</td>
			   	</tr>
		 	</table>
		 <table width="770" border="0" align="center">
				 <tr>
					 <td class="thinHD" align="center">
					 	<font class="fntBold">Date</font>
					 </td>
					 <td class="thinHD" align="center">
					 	<font class="fntBold">Action</font>
					 </td>
					 <td class="thinHD" align="center">
					 	<font class="fntBold">System Note</font>
					 </td>
					 <td class="thinHD" align="center">
					 	<font class="fntBold">User Note</font>
					 </td>
					 <td class="thinHD" align="center">
						<font class="fntBold">User Name</font>
					 </td>
				 </tr>
			 
			 #foreach ($history in $historyTO)
				 <tr>
				 	 <td class="thinBorder" align="center">
				 		<font class="fontCapitalize">$history.getDisplayModifyDate()</font>
				 	 </td>
				 	 <td class="thinBorder" align="left">
				 		<font class="fontCapitalize">$history.getDisplayAction()</font>
				 	 </td>
					 <td class="thinBorder" align="left">
					 	<font class="fontCapitalize">$history.getDisplaySystemNote()</font>
					 </td>	
					 <td class="thinBorder" align="left">
					  	<font class="fontCapitalize">
					  	#if ($history.getDisplayUserNote() == "")
					  	-
					 	#else 
					 		$history.getDisplayUserNote()
					 	#end
					 	</font>
					 </td>
					 <td class="thinBorder" align="center">
					 	<font class="fontCapitalize">$history.getDisplayUserName()</font>
					 </td>	 	
				 </tr>
			 #end 
		 </table>
		 </body>
</html>
		