<?xml version="1.0" encoding="UTF-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>$label.subject_before_pnr $pnr $label.subject_to $destination</subject>
	</header>
	<content>
		<body><![CDATA[
		#parse("email/IBE_onhold_notification_email_body.xml.vm")	
		]]></body>
	</content>
</message>