﻿<?xml version="1.0" encoding="iso-8859-1"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>Itinerary for the Reservation $reservationPaxDTO.getPnr()</subject>
	</header>
	<content>
		<body><![CDATA[
		#parse("email/itinerary_body_en.xml.vm")	
		]]></body>
	</content>
</message>