		<html>
		<head>
		<title>:: The Travel Itinerary</title>
		</head>
		<style type="text/css">
		 <!--
		 font{font-family:tahoma;font-size:11px;left:auto;color: black;}
		 Body {background : white;margin :0px 0px 0px 0px;}
		 .fntBold{font-weight:bold;}
		 .thinBorder{height:18px;border:1px solid;border-color:black;}
		 .thinBackground{background-color:#C4C4C4;}
		 .thinHD{height:18px;border:1px solid;border-color:black;;background-color:#C4C4C4;}
		 .fntSmall{font-size:9px;}
		 .fntExSmall{font-size:8px;}
		 .fntTiny{font-size:8px;}
		 .fntLarge{font-size: 17px;}
		 .fntExLarge{font-size: 22px;}
		 .fntLargeGreen{font-size: 22px;color:#009900;font-family:"Eras Medium ITC"}
		 .fontCapitalize{text-transform: capitalize;}
		 .fntBoldItnry{font-weight:bold;font-family:tahoma;font-size:11px;left:auto;color: red;} 
		 UL{MARGIN-TOP: 0px;MARGIN-bottom: 4px;}
		 LI{MARGIN-TOP: 0px;MARGIN-bottom: 0px;}
		 -->
		</style>
		<body>
		 <table width="670" border="0" cellpadding="2" cellspacing="0" align="center">
		  <tr>
		   <td width="20%">
		    <img src="$ibeURL/images/$logoImageName"/>
		   </td>
		   <td width="80%" align="right">
		    <font class="fntSmall">$companyAddress</font>
		   </td>
		  </tr>
		   <tr>
		   <td align="center" colspan="2">
		    <font class="fntLarge"><b>
   				  #if ($reservationPaxDTO.isAllSegmentsStandBy() == true)
	   				  	RESERVATION STANDBY
				  #else    	
	   				  #if ($reservationPaxDTO.isItineraryConfirmation() == true)
	   				  	RESERVATION CONFIRMATION
	   				  #else
	   				  	RESERVATION ON-HOLD
	   				  #end
   				  #end
   				  </b>
	 	    </font>
		   </td>
		  </tr>
		  <tr>
		   <td align="center" colspan="2">
		   </td>
		   </tr>
		  <tr>
		   <td align="center" colspan="2">
		      $barcode
		   </td>
		   </tr>
		  <tr>
		   <td align="center" colspan="2">
		    <hr>
		   </td>
		  </tr>
		  <tr>
		   <td valign="top" colspan="2">
		    <table width="100%" border="0" cellpadding="2" cellspacing="0" ID="Table1">
		     <tr>
			  <td>
		       <li><font class="fntBold">RESERVATION NUMBER</font></li>
		      </td>
		      <td width="20%" class="thinHD">
		       <font class="fntBold"><!-- PNR NO-->$reservationPaxDTO.getPnr()</font>
		      </td>
		      
		      #if ($reservationPaxDTO.getOriginatorPnr() != "")
			  	<td width="30%">
		      		<li><font class="fntBold">GDS PNR NUMBER</font></li>
		      	</td>
		      	<td width="20%" class="thinHD">
		       		<font class="fntBold"><!-- GDS PNR NO-->$reservationPaxDTO.getOriginatorPnr()</font>
		      	</td>
		      #else
			  	<td width="30%">&nbsp;</td>
		      	<td width="20%">&nbsp;</td>
		      #end
		      
		     </tr>
		     <tr>
		      <td><li><font class="fntBold">DATE OF BOOKING</font></li></td>
		      <td width="20%" class="thinHD">
		       <font class="fntBold"><!-- DATE OF BOOKING -->$reservationPaxDTO.getPnrStringDate("dd MMM yyyy")</font>
		      </td>
		     </tr>        
			
			<!-- Policy No -->
			 #if($policyNo != "")
		     		<tr>
		        	<td>
		        		<li><font class="fntBold">POLICY NUMBER</font></li>
		        	</td>
		        	<td width="20%" class="thinHD">
		        		<font class="fntBold">$policyNo</font>
		        	</td>
     				</tr>
     			 #end

			 <tr>
				<td>
					<li><font class="fntBold">PASSENGER DETAILS</font></li>
				</td>
				<td>&nbsp;</td>
			  #if ($reservationPaxDTO.isItineraryConfirmation() == true)
				<td>&nbsp;</td>
			  #else
				<td><li><font class="fntBold">RELEASE TIME </font></li></td>
			  #end
			
			  #if ($reservationPaxDTO.isItineraryConfirmation() == true)
				<td>&nbsp;</td>
			  #else
				<td class="thinHD"><font class="fntBold">$reservationPaxDTO.getReleaseTimeStampString("dd MMM yyyy HH:mm", false)</font></td>
			  #end
			 </tr>
		    </table>
		   </td>
		  </tr>

		  <tr>
		    <td valign="top" colspan="2">
		      <table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table2">
				 <tr>
				  <td class="thinHD" align="center">
				   <font class="fntBold">Passenger Name(s)</font>
				  </td>
				  #if ($reservationPaxDTO.getInfantCount() > 0)
				  <td class="thinHD" align="center">
				   <font class="fntBold">Infant(s)</font>
				  </td>
				  #end
  				  <!-- Charges displayed if selected -->
				  #if ($includePrices)
				  <td class="thinHD" align="center" width="10%">
				   <font class="fntBold">Fare</font>
				  </td>
				  <td class="thinHD" align="center" width="10%">
				   <font class="fntBold">Charges</font>
				  </td>
				  <td class="thinHD" align="center" width="10%">
				   <font class="fntBold">Paid Amount</font>
				  </td>
				  <td class="thinHD" align="center" width="10%">
				   <font class="fntBold">Balance</font>
				  </td>
				  #end
				  <td class="thinHD" align="center" width="10%">
				   <font class="fntBold">SSR</font>
				  </td>
				 </tr>
				 #foreach ($reservationPaxDetailsDTO in $reservationPaxDTO.getPassengers())
				 
				 <tr>
				  <td class="thinBorder">
				   <font class="fontCapitalize"><!-- PASSENGER INFORMATION (1. TITLE. FIRST NAME, LAST NAME) -->
				   #if($reservationPaxDetailsDTO.isChild())
				   	Child. &nbsp; $reservationPaxDetailsDTO.getTitle().toUpperCase() &nbsp; $reservationPaxDetailsDTO.getFirstName().toUpperCase() &nbsp; $reservationPaxDetailsDTO.getLastName().toUpperCase()<br> 
				   		#if($reservationPaxDetailsDTO.getFoidNumber()!="")
				   		<br>
				   		<font class="fntBold">Passport No.  - &nbsp;</font> $reservationPaxDetailsDTO.getFoidNumber()&nbsp; 
				   		#end
				   		#if($reservationPaxDetailsDTO.getDob()!="")
				   		<br>
				   		<font class="fntBold">Date of Birth - &nbsp;</font> $reservationPaxDetailsDTO.getDob()&nbsp;
				   		#end				   		
				   #else
				   	$reservationPaxDetailsDTO.getTitle().toUpperCase() &nbsp; $reservationPaxDetailsDTO.getFirstName().toUpperCase() &nbsp; $reservationPaxDetailsDTO.getLastName().toUpperCase()<br>
				   		#if($reservationPaxDetailsDTO.getFoidNumber()!="")
				   		<br>
				   		<font class="fntBold">Passport No.   - &nbsp;</font> $reservationPaxDetailsDTO.getFoidNumber()&nbsp;
				   		#end
				   		#if($reservationPaxDetailsDTO.getDob()!="")
				   		<br>
				   		<font class="fntBold">Date of Birth - &nbsp;</font> $reservationPaxDetailsDTO.getDob()&nbsp;
			   			#end  
				   		
				   #end
				   &nbsp;</font>
				  </td>
				  #if ($reservationPaxDTO.getInfantCount() > 0)
				  <td class="thinBorder">
				   <font class="fontCapitalize"><!-- INFANT(S) (1. TITLE. FIRST NAME, LAST NAME) -->
				   #if($reservationPaxDetailsDTO.isParent())
				   BABY. &nbsp; $reservationPaxDetailsDTO.getChildFirstName().toUpperCase() &nbsp; $reservationPaxDetailsDTO.getChildLastName().toUpperCase()<br>
				   		#if($reservationPaxDetailsDTO.getChildFoid()!="")
				   		<br>
				   		<font class="fntBold">Passport No.   - &nbsp;</font> $reservationPaxDetailsDTO.getChildFoid() &nbsp; 
				   		#end
				   		#if($reservationPaxDetailsDTO.getChildDob()!="")
				   		<br>
				   		<font class="fntBold">Date of Birth - &nbsp;</font> $reservationPaxDetailsDTO.getChildDob() &nbsp; 
				   		#end
					#end
				   &nbsp;</font>
				  </td>
				  #end
				  <!-- Charges displayed if selected -->
				  #if ($includePrices)
				  <td class="thinBorder" align="right">
				   <font><!-- FARE -->$reservationPaxDetailsDTO.getTotalFareAsString(null) $reservationPaxDTO.getBaseCurrency()&nbsp;</font>
				  </td>
				  <td class="thinBorder" align="right">
				   <font><!-- CHARGES -->$reservationPaxDetailsDTO.getTotalChargeAmountAsString(null) $reservationPaxDTO.getBaseCurrency()&nbsp;</font>
				  </td>
				  <td class="thinBorder" align="right">
				   <font><!-- PAID AMOUNT -->$reservationPaxDetailsDTO.getTotalPaidAmountAsString(null) $reservationPaxDTO.getBaseCurrency()&nbsp;</font>
				  </td>
				  <td class="thinBorder" align="right">
				   <font><!-- CREDIT BALANCE -->$reservationPaxDetailsDTO.getCreditAsString(null) $reservationPaxDTO.getBaseCurrency()&nbsp;</font>
				  </td>
				  #end
				  <td class="thinBorder">
				   <font><!-- SSR CODE -->$reservationPaxDetailsDTO.getSsrCode()&nbsp;</font>
				   #if($reservationPaxDetailsDTO.isParent() && $reservationPaxDetailsDTO.getChildSsrCode() != "")
				   <font>/ <!-- CHILD SSR CODE -->$reservationPaxDetailsDTO.getChildSsrCode()</font>
				   #end
				  </td>
				 </tr>
				 #end

				 <!-- Totals displayed if selected -->
				 #if ($includePrices)
				 <tr>
				  #if ($reservationPaxDTO.getInfantCount() > 0)
				  <td class="thinBorder" align="right" colspan="2" valign="middle">
				  #else
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				  #end
				   <font class="fntBold">TOTAL IN $reservationPaxDTO.getBaseCurrency()</font>
				  </td>
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				   <font><!-- TOTAL TICKET FARE -->$reservationPaxDTO.getTotalTicketFareAsString(null, false) &nbsp;</font>
				  </td>
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				   <font><!-- TOTAL TICKET CHARGE -->$reservationPaxDTO.getTotalTicketChargeAsString(null, false) &nbsp;</font>
				  </td>
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				   <font><!-- TOTAL PAID AMOUNT -->$reservationPaxDTO.getTotalPaidAmountAsString(null, false) &nbsp;</font>
				  </td>
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				   <font><!-- TOTAL BALANCE -->$reservationPaxDTO.getTotalAvailBalanceAsString(null, false) &nbsp;</font>
				  </td>
				  <td class="thinBorder" align="center" colspan="1">
				   <font>&nbsp;</font>
				  </td>
				 </tr>
				 #end	
				 

				 <!-- Totals displayed if selected -->
				 #if ($includePrices && $reservationPaxDTO.showPaymentsInSpecifiedCurrency() == true)
				 <tr>
				  #if ($reservationPaxDTO.getInfantCount() > 0)
				  <td class="thinBorder" align="right" colspan="2" valign="middle">
				  #else
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				  #end
				   <font class="fntBold">TOTAL IN $reservationPaxDTO.getSpecifiedCurrencyCode()</font>
				  </td>
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				   <font>$reservationPaxDTO.getTotalTicketFareAsString(null, true) &nbsp;</font>
				  </td>
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				   <font>$reservationPaxDTO.getTotalTicketChargeAsString(null, true) &nbsp;</font>
				  </td>
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				   <font>$reservationPaxDTO.getTotalPaidAmountAsString(null, true) &nbsp;</font>
				  </td>
				  
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				   <font>$reservationPaxDTO.getTotalAvailBalanceAsString(null, true) &nbsp;</font>
				  </td>
				  <td class="thinBorder" align="center" colspan="1">
				   <font>&nbsp;</font>
				  </td>
				 </tr>
				 #end

			  </table>
		    </td>
		  </tr>
		  
		  <tr>
	        <td valign="top" colspan="2">
			  <li><font class="fntBold">AGENT DETAILS</font></li>
			</td>
		  </tr>

		  <tr>
			<td valign="top" colspan="2">
			  <table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table3">
			    <tr>
				  <td class="thinBorder"><font>
				  #if ($ownerAgent.getAgentName())
				  $ownerAgent.getAgentName()
				  #elseif ($reservationPaxDTO.getReservationAdminInfo().getOwnerChannelId().intValue() == 4)
				  Web Agency
				  #else
				  --
				  #end
				  &nbsp;</font></td>
				  #if ($ownerAgent.getTelephone())
				  <td class="thinBorder"><font>
				  $ownerAgent.getTelephone()
				  &nbsp;</font></td>
				  #end
				  #if ($ownerAgent.getEmailId())
				  <td class="thinBorder"><font>
				  $ownerAgent.getEmailId()
				  &nbsp;</font></td>
				  #end
				  #if ($colExternalChgDTO.size() > 0)
				 	#foreach ($externalChgDTO in $colExternalChgDTO)
				      <td class="thinBorder"><font>$externalChgDTO.getChargeDescription()&nbsp; 
				      $reservationPaxDTO.getBaseCurrency()&nbsp;$externalChgDTO.getAmount().toString()&nbsp;</font></td>
					#end
				  #end
				</tr>
			  </table>
		    </td>
		  </tr>


		  <tr>
		    <td valign="top" colspan="2">
		      <li><font class="fntBold">TRAVEL SEGMENTS</font></li>
		    </td>
		  </tr>

		  <tr>
		   <td valign="top" colspan="2">
		    <table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table4">
		     <tr>
		      <td class="thinHD" align="center" colspan="1">
		       <font class="fntBold">Origin / Destination</font>
		      </td>
		      <td class="thinHD" align="center" colspan="2">
		       <font class="fntBold">Departure</font>
		      </td>
		      <td class="thinHD" align="center" colspan="2">
		       <font class="fntBold">Arrival</font>
		      </td>
		      <td class="thinHD" align="center" colspan="2">
		       <font class="fntBold">Check-in From</font>
		      </td>
		      <td class="thinHD" align="center" colspan="1">
		       <font class="fntBold">Flight</font>
		      </td>
		      #if ($includeClassOfService || $includeLogicalCC)
		      	<td class="thinHD" align="center" colspan="1">
		       		<font class="fntBold">Class</font>
		      	</td>
		      #end
		      	<td class="thinHD" align="center" colspan="1">
		       		<font class="fntBold">Status</font>
		      	</td>	  
		      #if ($includeThumbnailLogo)
		      	<td class="thinHD" align="center" colspan="1">
		       		<font class="fntBold">Carrier</font>
		      	</td>	
		      #end    
		     </tr>
			
			 #if($reservationPaxDTO.getSegmentsOrderedByZuluDepartureDate().size() > 0)

			 #foreach ($reservationSegmentDTO in $reservationPaxDTO.getSegmentsOrderedByZuluDepartureDate())
			 <tr>
			  <td class="thinBorder"><font>$reservationSegmentDTO.getSegmentDescription() &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getDepartureStringDate("EEE, dd MMM yyyy") &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getDepartureStringDate("HH:mm") &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getArrivalStringDate("EEE, dd MMM yyyy") &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getArrivalStringDate("HH:mm") &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getCheckInStringDate("EEE, dd MMM yyyy") &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getCheckInStringDate("HH:mm") &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getFlightNo() &nbsp;</font></td>
			  #if ($includeClassOfService || $includeLogicalCC)
			  		#if ($includeLogicalCC)
			  			<td class="thinBorder" align="center"><font>$reservationSegmentDTO.getLogicalCCCode() &nbsp;</font></td>
			  		#else  
			  			<td class="thinBorder" align="center"><font>$reservationSegmentDTO.getCabinClassCode() &nbsp;</font></td>
			  		#end
			  #end		
  			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getEffectiveStatus($reservationPaxDTO.getStatus()) &nbsp;</font></td>
  			  #if ($includeThumbnailLogo)
			  		<td class="thinBorder" align="center"><image src='$ibeURL/images/LogoThumbnail${reservationSegmentDTO.getCarrierCode()}.jpg'>&nbsp;</td>
			  #end
			 </tr>
			 #end 
			 #end

			 #if($reservationPaxDTO.getOpenReturnSegmentsOrderedByZuluDepartureDate().size() > 0)

			 #foreach ($openReturnItineraryViewTO in $reservationPaxDTO.getOpenReturnSegmentsOrderedByZuluDepartureDate())
			 <tr>
			  	<td class="thinBorder"><font>$openReturnItineraryViewTO.getSegmentInformation() &nbsp;</font></td>
			  	<td colspan="7" class="thinBorder" align="center">
			  	<font>Confirm before : $openReturnItineraryViewTO.getOpenRtConfirmBefore("dd-MM-yyyy HH:mm") &nbsp;</font>
			  	<br>
				<font>Travel Expiry Date: $openReturnItineraryViewTO.getSegmentExpiryDate("dd-MM-yyyy HH:mm") &nbsp;</font>			  	
			  	</td>
			  	#if ($includeClassOfService)
			  		<td class="thinBorder" align="center"><font>&nbsp;</font></td>
			  	#end		
			  	<td class="thinBorder" align="center"><font>Open Return &nbsp;</font></td>
  			  	#if ($includeThumbnailLogo)
  			  		<td class="thinBorder" align="center"><font>&nbsp;</font></td>
  			  	#end
  			 </tr>
  			 #end 
			 #end
			 
		    </table>   
		   </td>
		  </tr>
		
		<!--     Seating Information ----->
		#if($colSeatPaxDTO.getSsrDto().size() > 0)
		<tr>
		    <td valign="top" colspan="2">
		      <li><font class="fntBold">ADDITIONAL SERVICE DETAILS</font></li>
		    </td>
		  </tr>

		  <tr>
		   <td valign="top" colspan="2">
		    <table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table8">
		     <tr>
		      <td class="thinHD" align="center" colspan="2">
		       <font class="fntBold">Passenger Name</font>
		      </td>
		      <td class="thinHD" align="center" colspan="1">
		       <font class="fntBold">Origin / Destination</font>
		      </td>
		      <td class="thinHD" align="center" colspan="1">
		       <font class="fntBold">Flight No.</font>
		      </td>
		      <td class="thinHD" align="center" colspan="1">
		       <font class="fntBold">Dept. Date</font>
		      </td>
		      #if($colSeatPaxDTO.isHasSeats())		      
			      <td class="thinHD" align="center" colspan="1">
			       <font class="fntBold">Seat Id</font>
			      </td>
			      #if($colSeatPaxDTO.isHasAdditionalSeats())
				      <td class="thinHD" align="center" colspan="1">
				       <font class="fntBold">Additional Seat(s)</font>
				      </td>
			      #end
		       #end
		     #if($colSeatPaxDTO.isHasMeals())		      
			      <td class="thinHD" align="center" colspan="1">
			       <font class="fntBold">Meal</font>
			      </td>
		       #end
		        
		     </tr>			 

			 #foreach ($paxSSRDTO in $colSeatPaxDTO.getSsrDto())
			 <tr>
			  <td class="thinBorder" colspan="2"><font>$paxSSRDTO.getPassenger() &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$paxSSRDTO.getSegment() &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$paxSSRDTO.getFlightNo() &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$paxSSRDTO.getDepartureDate() &nbsp;</font></td>
			 #if($colSeatPaxDTO.isHasSeats())			 
			 	<td class="thinBorder" align="center"><font>$paxSSRDTO.getSeatCode() &nbsp;</font></td>
			 	 #if($colSeatPaxDTO.isHasAdditionalSeats())			 
			 		<td class="thinBorder" align="center"><font>
			 			#foreach ($string in $paxSSRDTO.getAdditionalSeatCodes())
			 				$string &nbsp;
			 			#end
			 		</font></td>
				 #end	
			 #end			  
			  #if($colSeatPaxDTO.isHasMeals())			 
			 	<td class="thinBorder" align="center"><font>$paxSSRDTO.getMealCode() &nbsp;</font></td>
			 #end	
			 </tr>			 
			 #end
		    </table>   
		   </td>
		  </tr>	

		#end  
		<!--     end of Seatiing info ---->
		
		<!--     Airport Service Information ----->
		#if($colSSRPaxDTO.getSsrDto().size() > 0)
		<tr>
		    <td valign="top" colspan="2">
		      <li><font class="fntBold">AIRPORT SERVICES</font></li>
		    </td>
		  </tr>

		  <tr>
		   <td valign="top" colspan="2">
		    <table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table8">
		     <tr>
		      <td class="thinHD" align="center" colspan="2">
		       <font class="fntBold">Passenger Name</font>
		      </td>
		      <td class="thinHD" align="center" colspan="1">
		       <font class="fntBold">Origin / Destination</font>
		      </td>
		      <td class="thinHD" align="center" colspan="1">
		       <font class="fntBold">Flight No.</font>
		      </td>
		      <td class="thinHD" align="center" colspan="1">
		       <font class="fntBold">Dept. Date</font>
		      </td>
		      #if($colSSRPaxDTO.isHasAirportService() == true)		      
			      <td class="thinHD" align="center" colspan="1">
			       <font class="fntBold">Service(s) **</font>
			      </td>
		       #end
		    	        
		     </tr>			 

			 #foreach ($paxSSRDTO in $colSSRPaxDTO.getSsrDto())
			 <tr>
			  <td class="thinBorder" colspan="2"><font>$paxSSRDTO.getPassenger() &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$paxSSRDTO.getSegment() &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$paxSSRDTO.getFlightNo() &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$paxSSRDTO.getDepartureDate() &nbsp;</font></td>
			 #if($colSSRPaxDTO.isHasAirportService() == true)		 
			 	<td class="thinBorder"><font>
			 	 #foreach ($PaxSSRDetailDTO in $paxSSRDTO.getColPaxSSRDetailDTO())
			 	 		$PaxSSRDetailDTO.getSsrDesc()
			 	 		#if($PaxSSRDetailDTO.getSsrDesc().length() > 2) 
			 	 			<br>
			 	 		#end
			 	 #end	
			 	</font></td>
			 #end			  
			
			 </tr>			 
			 #end
		    </table>   
		   </td>
		  </tr>	

		#end  
		<!--     end of Airport Service info ---->
		
		
		#if($reservationPaxDTO.getSegmentsOrderByZuluDepDateShownWithFareRules().size() > 0)
			<tr>
    		    <td valign="top" colspan="2">
				  <li><font class="fntBold">FARE RULES</font></li>
				</td>
	 	  	</tr>
			<tr>
				<td valign="top" colspan="2">
					<table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table6">
					 <tr>
		   				   <td class="thinHD" align="center" colspan="1">
		    			   <font class="fntBold">Origin / Destination</font>
		    			   </td>
		    			   <td class="thinHD" align="center" colspan="1">
		     			   <font class="fntBold">Fare Rule</font>
		    			   </td>
		    			   <td class="thinHD" align="center" colspan="1">
		       			   <font class="fntBold">Terms and Conditions</font>
		     			   </td>
		    	    </tr>

					 #foreach ($reservationSegmentDTO in $reservationPaxDTO.getSegmentsOrderByZuluDepDateShownWithFareRules())
						  <tr>
						    <td class="thinBorder"><font>$reservationSegmentDTO.getSegmentDescription() &nbsp;</font></td>
							 #if($reservationSegmentDTO.getRowSpan() != "")
						    	<td class="thinBorder" align="center" rowspan=$reservationSegmentDTO.getRowSpan()><font>$reservationSegmentDTO.getFareTO().getFareCategoryTO().getFareCategoryDesc() &nbsp;</font></td>
							    #if($reservationSegmentDTO.getSegmentExpiryDateLocal())
							    	<td class="thinBorder" rowspan=$reservationSegmentDTO.getRowSpan()><font>$reservationSegmentDTO.getFareTO().getFareRulesComments() &nbsp;&nbsp;</font><br><font class="fntBoldItnry">Expiry Date &nbsp; $reservationSegmentDTO.getSegmentExpiryDate("dd-MM-yyyy HH:mm")</font></td>	
							  	#else
							  		<td class="thinBorder" rowspan=$reservationSegmentDTO.getRowSpan()><font>$reservationSegmentDTO.getFareTO().getFareRulesComments()&nbsp;</font></td>	
							  	#end
							 #end
						  </tr>
					  #end
					</table>
	 			</td>
 			</tr>
		#end
	
		  #if($colItineraryPaymentsDTO.size() > 0)
		  <tr>
		    <td valign="top" colspan="2">
		      <li><font class="fntBold">PAYMENT DETAILS</font></li>
		    </td>
		  </tr>

		  <tr>
		   <td valign="top" colspan="2">
		    <table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table7">
		     <tr>
		      <td class="thinHD" align="center">
		       <font class="fntBold">Date</font>
		      </td>
		      <td class="thinHD" align="center">
		       <font class="fntBold">Passenger Name</font>
		      </td>
		      <td class="thinHD" align="center">
		       <font class="fntBold">Type</font>
		      </td>
		      <td class="thinHD" align="center">
		       <font class="fntBold">Auth Id</font>
		      </td>
		      <td class="thinHD" align="center">
		       <font class="fntBold">Amount</font>
		      </td>
		      	#if($reservationPaxDTO.showPaymentsInSpecifiedCurrency() == true)
		     		<td class="thinHD" align="center">
		       			<font class="fntBold">Amount<br>(Paid Currency)</font>
		     		</td>
		     	#end
		     </tr>
		     
	  	 
	  	 	  #foreach ($itineraryPaymentsDTO in $colItineraryPaymentsDTO)
				 #foreach ($paymentDetailDTO in $itineraryPaymentsDTO.getColPaymentDetailDTO())
					 <tr>
					  <td class="thinBorder" align="center"><font>$paymentDetailDTO.getPaymentStringDate("EEE, dd MMM yyyy") &nbsp;</font></td>
					  <td class="thinBorder" align="center"><font>$paymentDetailDTO.getPassengerName().toUpperCase() &nbsp;</font></td>
					  <td class="thinBorder" align="center"><font>$paymentDetailDTO.getPaymentTypeDescription() &nbsp; $paymentDetailDTO.getLast4DigitsOfCCNo()</font></td>
					  <td class="thinBorder" align="center"><font>$paymentDetailDTO.getAuthorizationId() &nbsp;</font></td>
					  <td class="thinBorder" align="right"><font>$paymentDetailDTO.getPaymentAmountAsString(null) $reservationPaxDTO.getBaseCurrency() &nbsp;</font></td>
					 
						#if($reservationPaxDTO.showPaymentsInSpecifiedCurrency() == true) 
					  		<td class="thinBorder" align="right"><font>$paymentDetailDTO.getPaymentCurrencyAmountAsString(null) $paymentDetailDTO.getPayCurrencyCode() &nbsp;</font></td> 
					  	#end 
					 </tr>
				 #end
					 <tr> 
						 <td class="thinBorder" align="center"><font>&nbsp;</font></td>
						 <td class="thinBorder" align="center"><font>&nbsp;</font></td>
						 <td class="thinBorder" align="center"><font>&nbsp;</font></td>
						 <td class="thinBorder" align="right"><font class="fntBold">&nbsp; T O T A L </font></td>
						 <td class="thinBorder" align="right"><font>$itineraryPaymentsDTO.getPaxPaymentAmountAsString(null) $reservationPaxDTO.getBaseCurrency()&nbsp;</font></td>
							#if($reservationPaxDTO.showPaymentsInSpecifiedCurrency() == true)
					  			<td class="thinBorder" align="right"><font>$itineraryPaymentsDTO.getPaxPayAmountInPayCurrencyAsString(null) $itineraryPaymentsDTO.getPaymentCurrencyCode() &nbsp;</font></td> 
					 		#end
					 <tr>
		      #end
		    </table>   
		   </td>
		  </tr>
	 	  #end
		  
		  
		  #if($colItineraryChargesDTO.size() > 0)
		  <tr>
		    <td valign="top" colspan="2">
		      <li><font class="fntBold">CHARGES DETAILS</font></li>
		    </td>
		  </tr>

		  <tr>
		   <td valign="top" colspan="2">
		    <table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table8">
		     <tr>
		      <td class="thinHD" align="center">
		       <font class="fntBold">Charge Date</font>
		      </td>
		      <td class="thinHD" align="center">
		       <font class="fntBold">Origin / Destination</font>
		      </td>
		      <td class="thinHD" align="center">
		       <font class="fntBold">Passenger Name</font>
		      </td>
		      <td class="thinHD" align="center">
		       <font class="fntBold">Description</font>
		      </td>
		      <td class="thinHD" align="center">
		       <font class="fntBold">Type</font>
		      </td>
		      <td class="thinHD" align="center">
		       <font class="fntBold">Amount</font>
		      </td>
		     </tr>
	  	 
	  	 	  #foreach ($itineraryChargesDTO in $colItineraryChargesDTO)
				 #foreach ($chargesDetailDTO in $itineraryChargesDTO.getColChargesDetailDTO())
					 <tr>
					  <td class="thinBorder" align="center"><font>$chargesDetailDTO.getChargeStringDate("EEE, dd MMM yyyy") &nbsp;</font></td>
					  <td class="thinBorder" align="center"><font>$chargesDetailDTO.getOndDescription() &nbsp;</font></td>
					  <td class="thinBorder" align="center"><font>$chargesDetailDTO.getPassengerName().toUpperCase() &nbsp;</font></td>
					  <td class="thinBorder" align="center"><font>$chargesDetailDTO.getChargeDescription() &nbsp;</font></td>
					  <td class="thinBorder" align="center"><font>$chargesDetailDTO.getChargeType() &nbsp;</font></td>
					  <td class="thinBorder" align="right"><font>$chargesDetailDTO.getChargeAmountAsString(null) $reservationPaxDTO.getBaseCurrency()&nbsp;</font></td>
					 </tr>
				 #end
					 <tr> 
						 <td class="thinBorder" align="center" colspan="1"><font>&nbsp;</font></td>
						 <td class="thinBorder" align="center" colspan="1"><font>&nbsp;</font></td>
						 <td class="thinBorder" align="center" colspan="1"><font>&nbsp;</font></td>
						 <td class="thinBorder" align="right" colspan="2"><font class="fntBold">T O T A L&nbsp;($itineraryChargesDTO.getOndDescription())&nbsp;</font></td>
						 <td class="thinBorder" align="right" colspan="1"><font>$itineraryChargesDTO.getOndChargeAmountAsString(null) $reservationPaxDTO.getBaseCurrency()&nbsp;</font></td>
					 <tr>
		      #end
		    </table>   
		   </td>
		  </tr>
	 	  #end

		  <tr>
		   <td valign="top" colspan="2">
		    <font class="fntSmall">* All times in local &nbsp; $cabinClassesLegend </font>
		   </td>
		  </tr>
		  <tr>
		   <td valign="top" colspan="2">
			#if($carrierLegend.length() > 0)
				<table width="100%" border="0" cellpadding="1" cellspacing="0" ID="Table5">
					<tr><td><font class="fntSmall">* Flight(s) operated by $carrierLegend &nbsp;</font></td></tr>
				</table>
			#end
			</td>
		  </tr>
		  <tr>
		   <td valign="top" colspan="2">
			#if($colSSRPaxDTO.isHasAirportService() == true)
				<table width="100%" border="0" cellpadding="1" cellspacing="0" ID="Table6">
					<tr><td><font class="fntSmall">&nbsp;</font></td></tr>
				</table>
			#end
			</td>
		  </tr>
		  
		  <!-- Itinerary Advertisment Image will come here -->
		  #if($itineraryAdvertisementImageURL != "" )
		    <tr><td>&nbsp;</td></tr>
		  	<tr>
			  	<td align="center" width="80%" valign="top" colspan="2">			  		 		
			  		 		<img src="$itineraryAdvertisementImageURL"/>
			  	</td>
		  	</tr>
		  	<tr><td>&nbsp;</td></tr>
		  #end	  
		  
		  
		  <tr>
		   <td valign="top" colspan="2">
		    $termsNConditions
		    <!-- pick from TermsItinerary.xml file and print -->
		   </td>
		  </tr>
		  
		 </table>
		</body>
		</html>
