﻿<?xml version="1.0" encoding="UTF-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>Itinerary for the Reservation $reservationPaxDTO.getPnr()</subject>
	</header>
	<content>
		<body><![CDATA[
		
		#parse("email/itinerary_body_ar.xml.vm")
			
		]]></body>
	</content>
</message>