﻿<?xml version="1.0" encoding="UTF-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>Itinerary for the Reservation $reservationPaxDTO.getPnr()</subject>
	</header>
	<content>
		<body><![CDATA[
		
		<html dir='rtl'>
		<head>
		<title>:: $commonTemplatingDTO.getCarrierName()</title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		</head>
		<style type="text/css">
		 <!--
		 font{font-family:tahoma;font-size:11px;left:auto;color: black;}
		 Body {background : white;margin :0px 0px 0px 0px;}
		 .fntBold{font-weight:bold;}
		 .thinBorder{height:18px;border:1px solid;border-color:black;}
		 .thinBackground{background-color:#C4C4C4;}
		 .thinHD{height:18px;border:1px solid;border-color:black;;background-color:#C4C4C4;}
		 .fntSmall{font-size:9px;}
		 .fntExSmall{font-size:8px;}
		 .fntTiny{font-size:8px;}
		 .fntLarge{font-size: 17px;}
		 .fntExLarge{font-size: 22px;}
		 .fontCapitalize{text-transform: capitalize;}
		  .fntArabic{font-family: verdana;}
		 UL{MARGIN-TOP: 0px;MARGIN-bottom: 4px;}
		 LI{MARGIN-TOP: 0px;MARGIN-bottom: 0px;}
		 -->
		</style>
		<body>
		 <table width="670" border="0" cellpadding="2" cellspacing="0" align="center">
		  <tr>
		   <td width="20%">
		    <img src="http://$reservationURL/agents/images/AA145_2.jpg"/>
		   </td>
		   <td width="80%" align="left">
		    <font class="fntSmall">$companyAddress</font>
		   </td>
		  </tr>
		  <tr>
		   <td align="center" colspan="2">
		    <font class="fntLarge"><b>
   				  #if ($reservationPaxDTO.isAllSegmentsStandBy() == true)
	   				  	حجز مشروط بتوفر المقاعد
				  #else    	
	   				  #if ($reservationPaxDTO.isItineraryConfirmation() == true)
	   				  تأكـــــــــــيـــــــــــد الحـــــــــــجـــــــــــز
	   				  #else
	   				  حـــــــــــجــــــــــــز مـــــــــــؤقـــــــــــت
	   				  #end
   				  #end
   				  </b>
		   </td>
		  </tr>
		  <tr>
		   <td align="center" colspan="2">
		    <hr>
		   </td>
		  </tr>
		  <tr>
		   <td valign="top" colspan="2">
		    <table width="100%" border="0" cellpadding="2" cellspacing="0" ID="Table1">
		     <tr>
			  <td>
		       <li><font class="fntBold fntArabic"> رقم الحجز </font></li>
		      </td>
		      <td width="20%" class="thinHD">
		       <font class="fntBold"><!-- PNR NO-->$reservationPaxDTO.getPnr()</font>
		      </td>
		      <td width="30%">
		       <li><font class="fntBold fntArabic"> تاريخ الحجز </font></li>
		      </td>
		      <td width="20%" class="thinHD">
		       <font class="fntBold"><!-- DATE OF BOOKING -->$reservationPaxDTO.getPnrStringDate("dd MMM yyyy")</font>
		      </td>
		     </tr>
		    
		     <tr>
				<td>
					<li><font class="fntBold fntArabic"> بيانات المسافر</font></li>
				</td>
				<td>&nbsp;</td>
				  #if ($reservationPaxDTO.isItineraryConfirmation() == true)
					<td>&nbsp;</td>
   				  #else
					<td><li><font class="fntBold fntArabic">وقت الفاء الحجز </font></li></td>
   				  #end
			
   				  #if ($reservationPaxDTO.isItineraryConfirmation() == true)
					<td>&nbsp;</td>
   				  #else
					<td class="thinHD"><font class="fntBold">$reservationPaxDTO.getReleaseTimeStampString("dd MMM yyyy HH:mm", false)</font></td>
   				  #end
			 </tr>
		    </table>
		   </td>
		  </tr>

		  <tr>
		    <td valign="top" colspan="2">
		      <table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table2">
				 <tr>
				  <td class="thinHD" align="center">
				   <font class="fntBold fntArabic">اسم المسافر</font>
				  </td>
				  #if ($reservationPaxDTO.getInfantCount() > 0)
				  <td class="thinHD" align="center">
				   <font class="fntBold fntArabic">الرضّع</font>
				  </td>
				  #end
  				  <!-- Charges displayed if selected -->
				  #if ($includePrices)
				  <td class="thinHD" align="center" width="10%">
				    <font class="fntBold fntArabic">السعر</font>
				  </td>
				  <td class="thinHD" align="center" width="10%">
				   <font class="fntBold fntArabic">الضرائب</font>
				  </td>
				  <td class="thinHD" align="center" width="10%">
				   <font class="fntBold fntArabic">إجمالى المدفوعات</font>
				  </td>
				  <td class="thinHD" align="center" width="10%">
				   <font class="fntBold fntArabic">الرصيد االمتبقي</font>
				  </td>
				  #end
				  <td class="thinHD" align="center" width="10%">
				   <font class="fntBold">SSR Code</font>
				  </td>
				 </tr>
				 #foreach ($reservationPaxDetailsDTO in $reservationPaxDTO.getPassengers())
				 
				 <tr>
				  <td class="thinBorder">
				   <font class="fontCapitalize"><!-- PASSENGER INFORMATION (1. TITLE. FIRST NAME, LAST NAME) -->
				   $reservationPaxDetailsDTO.getTitle().toUpperCase() &nbsp; $reservationPaxDetailsDTO.getFirstName().toUpperCase() &nbsp; $reservationPaxDetailsDTO.getLastName().toUpperCase() 
				   &nbsp;</font>
				  </td>
				  #if ($reservationPaxDTO.getInfantCount() > 0)
				  <td class="thinBorder">
				   <font class="fontCapitalize"><!-- INFANT(S) (1. TITLE. FIRST NAME, LAST NAME) -->
				   #if($reservationPaxDetailsDTO.isParent())
				   BABY. &nbsp; $reservationPaxDetailsDTO.getChildFirstName().toUpperCase() &nbsp; $reservationPaxDetailsDTO.getChildLastName().toUpperCase() 
				   #end
				   &nbsp;</font>
				  </td>
				  #end
				  <!-- Charges displayed if selected -->
				  #if ($includePrices)
				  <td class="thinBorder" align="right">
				   <font><!-- FARE -->$reservationPaxDetailsDTO.getTotalFareAsString(null) $reservationPaxDTO.getBaseCurrency()&nbsp;</font>
				  </td>
				  <td class="thinBorder" align="right">
				   <font><!-- CHARGES -->$reservationPaxDetailsDTO.getTotalChargeAmountAsString(null) $reservationPaxDTO.getBaseCurrency()&nbsp;</font>
				  </td>
				  <td class="thinBorder" align="right">
				   <font><!-- PAID AMOUNT -->$reservationPaxDetailsDTO.getTotalPaidAmountAsString(null) $reservationPaxDTO.getBaseCurrency()&nbsp;</font>
				  </td>
				  <td class="thinBorder" align="right">
				   <font><!-- CREDIT BALANCE -->$reservationPaxDetailsDTO.getCreditAsString(null) $reservationPaxDTO.getBaseCurrency()&nbsp;</font>
				  </td>
				  #end
				  <td class="thinBorder">
				   <font><!-- SSR CODE -->$reservationPaxDetailsDTO.getSsrCode()&nbsp;</font>
				   #if($reservationPaxDetailsDTO.isParent() && $reservationPaxDetailsDTO.getChildSsrCode() != "")
				   <font>/ <!-- CHILD SSR CODE -->$reservationPaxDetailsDTO.getChildSsrCode()</font>
				   #end
				  </td>
				 </tr>
				 #end

				 <!-- Totals displayed if selected -->
				 #if ($includePrices)
				 <tr>
				  #if ($reservationPaxDTO.getInfantCount() > 0)
				  <td class="thinBorder" align="right" colspan="2" valign="middle">
				  #else
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				  #end
				   <font class="fntBold fntArabic">المجموع الكلي $reservationPaxDTO.getBaseCurrency()&nbsp;</font>
				  </td>
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				   <font>$reservationPaxDTO.getTotalTicketFareAsString(null, false) &nbsp;</font>
				  </td>
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				   <font>$reservationPaxDTO.getTotalTicketChargeAsString(null, false) &nbsp;</font>
				  </td>
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				   <font>$reservationPaxDTO.getTotalPaidAmountAsString(null, false) &nbsp;</font>
				  </td>
				  <td class="thinBorder" align="center" colspan="1" valign="middle">
				   <font>&nbsp;</font>
				  </td>
				  <td class="thinBorder" align="center" colspan="1">
				   <font>&nbsp;</font>
				  </td>
				 </tr>
				 #end
				 
				 <!-- Totals displayed if selected -->
				 #if ($includePrices && $reservationPaxDTO.isAgtCurrDiffFromBaseCurr() == true)
				 <tr>
				  #if ($reservationPaxDTO.getInfantCount() > 0)
				  <td class="thinBorder" align="right" colspan="2" valign="middle">
				  #else
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				  #end
				   <font class="fntBold">المجموع الكلي $reservationPaxDTO.getAgentCurrency()&nbsp;</font>
				  </td>
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				   <font>$reservationPaxDTO.getTotalTicketFareAsString(null, true) &nbsp;</font>
				  </td>
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				   <font>$reservationPaxDTO.getTotalTicketChargeAsString(null, true) &nbsp;</font>
				  </td>
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				   <font>$reservationPaxDTO.getTotalPaidAmountAsString(null, true) &nbsp;</font>
				  </td>
				  <td class="thinBorder" align="center" colspan="1" valign="middle">
				   <font>&nbsp;</font>
				  </td>
				  <td class="thinBorder" align="center" colspan="1">
				   <font>&nbsp;</font>
				  </td>
				 </tr>
				 #end
				 
			  </table>
		    </td>
		  </tr>

		  <tr>
	        <td valign="top" colspan="2">
			  <li><font class="fntBold fntArabic">جهة الحجز</font></li>
			</td>
		  </tr>

		  <tr>
			<td valign="top" colspan="2">
			  <table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table3">
			    <tr>
				  <td class="thinBorder"><font>
				  #if ($ownerAgent.getAgentName())
				  $ownerAgent.getAgentName()
				  #elseif ($reservationPaxDTO.getReservationAdminInfo().getOwnerChannelId().intValue() == 4)
				  Web Agency
				  #else
				  --
				  #end
				  &nbsp;</font></td>
				  #if ($ownerAgent.getTelephone())
				  <td class="thinBorder"><font>
				  $ownerAgent.getTelephone()
				  &nbsp;</font></td>
				  #end
				  #if ($ownerAgent.getEmailId())
				  <td class="thinBorder"><font>
				  $ownerAgent.getEmailId()
				  &nbsp;</font></td>
				  #end
				<tr>
			  </table>
		    </td>
		  </tr>

		  <tr>
		    <td valign="top" colspan="2">
		      <li><font class="fntBold fntArabi">تفاصيل الرحلة </font></li>
		    </td>
		  </tr>

		  <tr>
		   <td valign="top" colspan="2">
		    <table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table4">
		     <tr>
		      <td class="thinHD" align="center" colspan="1">
		       <font class="fntBold fntArabi"> المصدر / الوجهة</font>
		      </td>
		      <td class="thinHD" align="center" colspan="2">
		       <font class="fntBold fntArabi">المغادرة</font>
		      </td>
		      <td class="thinHD" align="center" colspan="2">
		       <font class="fntBold fntArabi">الوصول</font>
		      </td>
		      <td class="thinHD" align="center" colspan="2">
		       <font class="fntBold fntArabi">التسجيل</font>
		      </td>
		      <td class="thinHD" align="center" colspan="1">
		       <font class="fntBold fntArabi">رقم الرحلة</font>
		      </td>
		      <td class="thinHD" align="center" colspan="1">
		       <font class="fntBold fntArabi">النوع</font>
		      </td>
		      <td class="thinHD" align="center" colspan="1">
		       <font class="fntBold fntArabi">الدرجة</font>
		      </td>
		      <td class="thinHD" align="center" colspan="1">
		       <font class="fntBold fntArabi">الحالة</font>
		      </td>
		     </tr>

			 #if($reservationPaxDTO.getSegmentsOrderedByZuluDepartureDate().size() > 0)

			 #foreach ($reservationSegmentDTO in $reservationPaxDTO.getSegmentsOrderedByZuluDepartureDate())
			 <tr>
			  <td class="thinBorder"><font>$reservationSegmentDTO.getSegmentDescription() &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getDepartureStringDate("EEE, dd MMM yyyy") &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getDepartureStringDate("HH:mm") &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getArrivalStringDate("EEE, dd MMM yyyy") &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getArrivalStringDate("HH:mm") &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getCheckInStringDate("EEE, dd MMM yyyy") &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getCheckInStringDate("HH:mm") &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getFlightNo() &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getBookingType() &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getCabinClassCode() &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getStatus() &nbsp;</font></td>
			 </tr>
			 #end

			 #end
		    </table>   
		   </td>
		  </tr>

		  #if($colItineraryPaymentsDTO.size() > 0)
		  <tr>
		    <td valign="top" colspan="2">
		      <li><font class="fntBold">PAYMENT DETAILS</font></li>
		    </td>
		  </tr>

		  <tr>
		   <td valign="top" colspan="2">
		    <table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table5">
		     <tr>
		      <td class="thinHD" align="center">
		       <font class="fntBold">التاريخ</font>
		      </td>
		      <td class="thinHD" align="center">
		       <font class="fntBold">إسم المسافر</font>
		      </td>
		      <td class="thinHD" align="center">
		       <font class="fntBold">النوع</font>
		      </td>
		      <td class="thinHD" align="center">
		       <font class="fntBold">Authorization Id</font>
		      </td>
		      <td class="thinHD" align="center">
		       <font class="fntBold">المبلغ</font>
		      </td>
		     </tr>
	  	 
	  	 	  #foreach ($itineraryPaymentsDTO in $colItineraryPaymentsDTO)
				 #foreach ($paymentDetailDTO in $itineraryPaymentsDTO.getColPaymentDetailDTO())
					 <tr>
					  <td class="thinBorder" align="center"><font>$paymentDetailDTO.getPaymentStringDate("EEE, dd MMM yyyy") &nbsp;</font></td>
					  <td class="thinBorder" align="center"><font>$paymentDetailDTO.getPassengerName().toUpperCase() &nbsp;</font></td>
					  <td class="thinBorder" align="center"><font>$paymentDetailDTO.getPaymentTypeDescription() &nbsp;</font></td>
					  <td class="thinBorder" align="center"><font>$paymentDetailDTO.getAuthorizationId() &nbsp;</font></td>
					  <td class="thinBorder" align="right"><font>$paymentDetailDTO.getPaymentAmountAsString(null) $reservationPaxDTO.getBaseCurrency()&nbsp;</font></td>
					 </tr>
				 #end
					 <tr> 
						 <td class="thinBorder" align="center"><font>&nbsp;</font></td>
						 <td class="thinBorder" align="center"><font>&nbsp;</font></td>
						 <td class="thinBorder" align="center"><font>&nbsp;</font></td>
						 <td class="thinBorder" align="right"><font class="fntBold">&nbsp; T O T A L</font></td>
						 <td class="thinBorder" align="right"><font>$itineraryPaymentsDTO.getPaxPaymentAmountAsString(null) $reservationPaxDTO.getBaseCurrency()&nbsp;</font></td>
					 <tr>
		      #end
		    </table>   
		   </td>
		  </tr>
	 	  #end
		  
		  
		  #if($colItineraryChargesDTO.size() > 0)
		  <tr>
		    <td valign="top" colspan="2">
		      <li><font class="fntBold">CHARGES DETAILS</font></li>
		    </td>
		  </tr>

		  <tr>
		   <td valign="top" colspan="2">
		    <table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table6">
		     <tr>
		      <td class="thinHD" align="center">
		       <font class="fntBold">تاريغ الدف</font>
		      </td>
		      <td class="thinHD" align="center">
		       <font class="fntBold">الوجهة</font>
		      </td>
		      <td class="thinHD" align="center">
		       <font class="fntBold">إسم المساف</font>
		      </td>
		      <td class="thinHD" align="center">
		       <font class="fntBold">المواصفات</font>
		      </td>
		      <td class="thinHD" align="center">
		       <font class="fntBold">النوع</font>
		      </td>
		      <td class="thinHD" align="center">
		       <font class="fntBold">المبلغ</font>
		      </td>
		     </tr>
	  	 
	  	 	  #foreach ($itineraryChargesDTO in $colItineraryChargesDTO)
				 #foreach ($chargesDetailDTO in $itineraryChargesDTO.getColChargesDetailDTO())
					 <tr>
					  <td class="thinBorder" align="center"><font>$chargesDetailDTO.getChargeStringDate("EEE, dd MMM yyyy") &nbsp;</font></td>
					  <td class="thinBorder" align="center"><font>$chargesDetailDTO.getOndDescription() &nbsp;</font></td>
					  <td class="thinBorder" align="center"><font>$chargesDetailDTO.getPassengerName().toUpperCase() &nbsp;</font></td>
					  <td class="thinBorder" align="center"><font>$chargesDetailDTO.getChargeDescription() &nbsp;</font></td>
					  <td class="thinBorder" align="center"><font>$chargesDetailDTO.getChargeType() &nbsp;</font></td>
					  <td class="thinBorder" align="right"><font>$chargesDetailDTO.getChargeAmountAsString(null) $reservationPaxDTO.getBaseCurrency()&nbsp;</font></td>
					 </tr>
				 #end
					 <tr> 
						 <td class="thinBorder" align="center" colspan="1"><font>&nbsp;</font></td>
						 <td class="thinBorder" align="center" colspan="1"><font>&nbsp;</font></td>
						 <td class="thinBorder" align="center" colspan="1"><font>&nbsp;</font></td>
						 <td class="thinBorder" align="right" colspan="2"><font class="fntBold">T O T A L &nbsp; $itineraryChargesDTO.getOndDescription() &nbsp;</font></td>
						 <td class="thinBorder" align="right" colspan="1"><font>$itineraryChargesDTO.getOndChargeAmountAsString(null) $reservationPaxDTO.getBaseCurrency()&nbsp;</font></td>
					 <tr>
		      #end
		    </table>   
		   </td>
		  </tr>
	 	  #end


		  <tr>
		   <td valign="top" colspan="2">
		     <font class="fntSmall">*  الأوقات حسب التوقيت المحلي لمطار الاقلاع  والتوقيت المحلي لمطار الهبوط $cabinClassesLegend </font>
		   </td>
		  </tr>

		  <tr>
		   <td valign="top" colspan="2">
		    <!-- test pick from TermsItinerary.xml file and print -->
<font class="fntExSmall fntBlack fntArabic">
					<center><B>هذه الوثيقة هي تذكرة سفر</B></center>
					<font class='fntExSmall fntBold fntBlack fntArabic'>التسجيل</font>
					<ul>
						<li>يبدأ تسجيل المسافرين والأمتعة قبل 3 ساعات  من  موعد الإقلاع وينتهي قبل ساعة من موعد الإقلاع. يفقد المسافر حقة في السفر أو استرجاع قيمة التذكرة في حال تأخره عن موعد التسجيل </li>
						<li> إن من مسؤولية المسافر التأكد من صلاحية وثائقه، مرفقاً تأشيرة السفر، و كل ما ماهو مطلوب من دائرة الجنسية والاقامة</li>						
						
					</ul>
				</font>
		   </td>
		  </tr>
		  <tr>
		   <td valign="top" colspan="2">
		    <!-- test pick from TermsItinerary.xml file and print -->
			<table width='100%' cellpadding='0' cellspacing='0' border='0' align='center'>
			   <tr>
			     <td width="82%">
				<font class="fntExSmall fntBlack fntArabic">
					
					
						<font class='fntExSmall fntBold fntBlack fntArabic'>الأطفال دون مرافق</font>
						<ul>
						   <li>لا تقبل العربية للطيران الأطفال دون سن 12 بالسفر دون مرافق</li>
						   <li>يمنع سفر الأطفال دون الأسبوعين من العمر </li>
					       </ul>
					  	<font class='fntExSmall fntBold fntBlack fntArabic'> الوزن المسموح على متن الطائرة لكل مسافر </font>
						<ul>
						  <li> الأمتعة المسجّلة 
							<ul>االرحلات الى أستانا وألماتي (كازاخستان)  ويريفان 20 كجم</li>
							<li>الرحلات داخل دول الخليج العربي (باستثناء جدة) 25 كجم</li>
							<li>الرحلات خارج دول الخليج العربي (مع جدة) 30 كجم</li>
							</ul>
						  </li>
						  <li>الحد الأقصى للوزن المسموح به هو 32  كجم  لحقيبة السفر الواحدة  بشرط أن لايزيد  مجموع قياساتها عن 160 سم</li>
						  <li>يسمح باقتناء صندوق واحد فقط للشحن يحتوي على البضائع الأصلية للمنتج المراد شحنه مع الأمتعة  بحيث يكون الوزن الإجمالي 32 كجم </li>
						  <li> الحد الأقصى المسموح به لحقيبة اليد 7 كجم بشرط أن تكون أبعاد قياس الحقيبة 55 سم × 40 سم × 20 سم</li>
						  <li>مواد يجب عدم نقلها مع الأمتعة المسجلة:(الطعام والمواد الأخرى, النقود, المجوهرات, الأدوية, الأوراق والعقود المهمة, جوازات السفر وأوراق السفر الأخرى والبطاقات الشخصية, المواد القابلة للكسر)</li>
						</ul>
				</font>
			    </td>
			    <td valign='top'><img src="http://$reservationURL/agents/images/liquidstamp_ar.jpg"/></td>
			  </tr>
			</table>	
		   </td>
		  </tr>
		  <tr>
		   <td valign="top" colspan="2">
		    <!-- test pick from TermsItinerary.xml file and print -->
<font class="fntExSmall fntBlack fntArabic">
					<ul>
						<li>يسمح للمسافر حمل 100 مل من السوائل،المواد المضغوطة والجل في العبوة الواحدة في حقيبة اليد ،  كما سيتم مصادرة أي عبوة مخالفة لهذه الأحكام او تزيد عن 100 مل من قبل رجال أمن المطار  يجب وضع العبوات التي تحتوى هذه السوائل داخل كيس بلاستيكي شفاف قابل لإعادة الإقفال بحجم  20×20 سم (8 × 8 أنش)، على أن لا يتجاوز إجمالي كميتها مجتمعة لو كانت في عبوات متفرقة ، الليتر الواحد كحد أقصى.</li>
					</ul>
					<font class='fntExSmall fntBold fntBlack fntArabic'>عمولات مكاتب السياحة والسفر</font>
					<ul>
						<li>العمولة يجب أن لاتزيد عن: 
							<ul>
							<li>30 درهم (أو مايعادلها) لكل مسافر للرحلات داخل دول الخليج العربي و 50 درهم (أو مايعادلها) لكل مسافر للرحلات خارج دول الخليج العربي ( هذه العمولات لا تحتسب كرصيد للمسافر في حالة الإلغاء) </li>
							<li>400روبية هندية (تذكرة ذهاب فقط) و 650 روبية هندية (تذكرة ذهاب وعودة) لكل مسافر يحجز من الهند. و400روبيةباكستانية (تذكرة ذهاب فقط)و650روبية باكستانية(تذكرة ذهاب وعودة)لكل مسافر يحجز من باكستان.</li>
							<li>900 روبية سيريلانكية (تذكرة ذهاب فقط) و 1500 روبية سيريلانكية (تذكرة ذهاب ورجوع) لكل مسافر يحجز من سيريلانكا</li>
							<li>12 يورو (تذكرة ذهاب وتذكرة ذهاب وأياب)لكل مسافر يحجز من تركيا</li>
							<li>8000 درم أرميني (تذكرة ذهاب أو ذهاب ورجوع) لكل مسافر يحجز من أرمينيا </li>
							<li>600 روبية بنغالية (تذكرة ذهاب فقط ) و1000 روبية بنغالية (تذكرة ذهاب ورجوع) لكل مسافر يحجز من بنغلادش  </li>
							</ul>
						</li>
						<li>لا تسري عمولات مكاتب السياحة والسفر على برامج عطلات العربية للطيران.</li>
						<li>10000 درم أرميني أو مايعادل(دولار)30 ضرائب حكومية واجبة الدفع لكل المسافرين المغادرين من يريفان (أرمينيا ) </li>
					</ul>
					<font class='fntExSmall fntBold fntBlack fntArabic'>تغيير الحجوزات أو إلغائها</font>
					<ul>
						<li> يمكن تغيير موعد السفر 24 ساعة فقط على الأقل قبل موعد الاقلاع وذلك بالإتصال بمركز المبيعات لدى العربية للطيران أو مركز الإتصالات أو الوكلاء المعتمدين على أن يتم دفع مبلغ 50 درهم أو مايعادله لكل مسافرلكل جهة بالإضافة إلى أية مبالغ إضافية أخرى(فروقات الأسعار) إن وجدت في حينها</li>
						<li> لا تسترجع قيمة التذكرة في حالة السداد, وبإمكان المسافر إلغاء موعد السفر قبل 24ساعة من موعد الإقلاع . ويترتب على ذلك خصم قيمة 100 درهم أو ما يعادلها لكل مسافر وعلى كل وجهة. وعليه يحتفظ المسافر بالقيمة المتبقية في نظام الحجز حيث يمكنه إستخدام هذه القيمة خلال عام واحد من تاريخ الدفع</li>
						<li>يفقد المسافرون الذين لم يتمكنوا  من  تغيير  أو إلغاء حجوزاتهم قبل 24 ساعة على الأ قل من تاريخ السفر،  حقهم   بالسفر أو اللحاق برحلة اخرى او إسترجاع قيمة التذكرة</li>
						<li>يرجى الإحاطة بأن الشروط المذكورة أعلاه لا تسري على برامج عطلات العربية للطيران. تطبق سياسة منفصلة بشأن تغيير حجوزات برامج العطلات أو إلغائها، ويمكن الحصول عليها من عطلات العربية للطيران عند الحجز. </li>
						<li> في حالة تغير وزيادة قيمة الضرائب، التعريفات أو التكاليف بعد تأكيد الحجز يترتب على الراكب دفع فرق القيمة. كما يمكن للمسافر في حال انخفاض قيمة الضرائب، التعريفات أو التكاليف بعد تأكيد الحجز المطالبة بفرق القيمة المدفوعة. ويحتفظ بالمبلغ كرصيد يمكن إستخدامه خلال 12 شهر من عملية الحجز من قبل المسافر أو أحد أفراد عائلته والذي يحمل نفس إسم العائلة مع فرض غرامة مالية قدرها 50 درهما.</li>
					</ul>
					<font class='fntExSmall fntArabic'><b> والإقامة الجديدة تأشيرة الزيارة</b></font>
					<ul>
						<li>المسافرين الذين يحملون التأشيرة الأصلية لا يحتاجون إلى الإجراءات الإضافية. وبالنسبة للمسافرين القادمين من الهند وباكستان الى دولة الإمارات ويحملون صورة من التأشيرة الصادرة عن دولة الإمارات. لذا يتوجب على الكفيل أو من يمثل المسافر القيام بإصدار التأشيرة الاصلية شخصيا بتكلفة عشرة دراهم يتم دفعها في إحدى مراكز مبيعات العربية للطيران في الشارقة أو دبي أو من خلال خدمة هلا في مطار الشارقة الدولي ما بين الساعة الثامنة والنصف صباحا حتى الساعة الثالثة عصرا. ويجب على ذلك اتمام الاجراءات اللازمة قبل 24 ساعة من موعد الإقلاع. وسوف تقوم هذه المكاتب بعد التدقيق مع السلطات المختصة بالختم على نظام الحجوزات  والسماح بالسفر.وفي حال عدم اتمام الاجراءات اللازمة، للعربية الحق في رفض عملية السفر.</li>
						
					</ul>
					<font class='fntExSmall fntBold fntBlack fntArabic'>ملاحظات </font>
					<ul>
						<li>ليس من الضروري التأكيد على الرحلة في حال وجود رقم الحجز. </li>
						<li>يمكن شراء الأطعمة و المشروبات على متن الطائرة خلال الرحلة و بأسعار مناسبة</li>
						<li> للإستفسار أو تقديم أي ملاحظة الرجاء الإتصال بأقرب وكيل سفر معتمد أو بمركزالحجوزات بالشارقة على الرقم 0097165580000(24ساعة)ا و إرسال بريد الكتروني على العنوان التالي callcentre@airarabia.com </li>
						
					</ul>
				</font>
				<font class='fntTiny fntBlack fntArabic'><p algin='justify'>.مراكز الاتصال :<br> الشارقة 065580000 ابو ظبي 026315888 ،عجمان 7451444 062، رأس الخيمة072221144  ، الفجيرة  2231991 09 ، العين  037666630 ، خارج الدولة : أستانة0172344797 ،الماتي0272728228 ، الخبر 038691460 ،الكويت 2449824 ، الخرطوم 0183770977 ، القاهرة   7709990 (202) ، الدوحة 4322111 ، جايبور (141) 2378501/02/03/04، الرياض012937701 ،البحرين 1750511 ،  بيروت 01756666،     حلب0212286207 ، جدة 026640291 ، دمشق 01123497682 ،صنعاء 01440001 ، صحار 846388 ،طهران02188706111 ، عمّان 065603666  ،  كابول 0799700095 ، كوتشي 04842359601 ، كولمبو 0115577309 ، مسقط 24700828 ، مومباي 02228395240 ، ناجبور 07122557640 .</p></font>
		   </td>
		  </tr>
		 </table>
		</body>
		
		</html>
			
		]]></body>
	</content>
</message>