<?xml version="1.0" encoding="iso-8859-1"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>Important: Complete your Airewards registration</subject>
	</header>
	<content>		
		<body>		
		<![CDATA[
			<html>
			<head></head>
			<body>
			<table style="border-spacing:0">
				<tr>
					<td style="padding:10px 10px 0 10px"  width="100%" bgcolor="#ededed">
						<table width="100%" bgcolor="#ed0000" style="border-spacing:0">
							<tr>
								<td width="100%"><a href="http://www.airarabia.com/en?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=G9_LE_250814_BEY5DAY" target="_blank"><img style="display:block;border:none;outline:none;text-decoration:none" src="http://img.ed4.net/airarabia/test/20140730/logo.jpg" alt="Air Arabia"></a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td border="0" style="padding:0 10px 0 10px" bgcolor="#ededed">
						<table style="border-spacing:0">
							<tr>
								<td border="0" bgcolor="#ffffff">
									<font face="verdana" size="2">			
										<br><br>
			
										Dear $user.getFirstName(),
										<br><br>
										Thank you for registering with <b>Airewards</b>. To complete your registeration, please <a href="$loginurl">click here</a> to confirm your email address and activate your account.
											
										<br><br>
											
										Your Airewards ID is as follows:
										<br><br>
										<b>Email</b> : $user.getToAddres() 
											
										<br><br>
											
										Please keep this message for your records. Remember to use your Airewards ID every time you make a booking in order to earn points. If your personal information changes at any time, simply login to your account and update your profile.
											
										<br><br>
											
										Best Regards, <br>
										$commonTemplatingDTO.getCarrierName() Team
									</font>			
									<br><br>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td border="0" border="0" style="padding:0 10px 10px 10px" bgcolor="#ededed" style="border-spacing:0">
						<table>
							<tr>
								<td border="0" bgcolor="#ffffff">
									<hr>
									<font face="verdana" size="1">
									You are receiving this message from $commonTemplatingDTO.getCarrierName() upon your acceptance of registation on $commonTemplatingDTO.getAirlineSubDomain(). If this email has been sent to you in error, Please send an email to <a href="mailto:$commonTemplatingDTO.getUnsubscribeEMail()">$commonTemplatingDTO.getUnsubscribeEMail()</a>. Please do not reply directly to this email as it has been auto generated and cannot be responded to.
									</font>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			<table>
			</body>
			</html>
		]]></body>
	</content>
</message>