<?xml version="1.0" encoding="utf-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>Important: Complete your Airewards registration</subject>
	</header>
	<content>		
		<body>		
		<![CDATA[
			<html>
			<head></head>
			<body>
			<table style="border-spacing:0">
				<tr>
					<td style="padding:10px 10px 0 10px"  width="100%" bgcolor="#ededed">
						<table width="100%" bgcolor="#ed0000" style="border-spacing:0">
							<tr>
								<td width="100%"><a href="http://www.airarabia.com/en?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=G9_LE_250814_BEY5DAY" target="_blank"><img style="display:block;border:none;outline:none;text-decoration:none" src="http://img.ed4.net/airarabia/test/20140730/logo.jpg" alt="Air Arabia"></a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td border="0" style="padding:0 10px 0 10px" bgcolor="#ededed">
						<table style="border-spacing:0">
							<tr>
								<td border="0" bgcolor="#ffffff">
									<font face="verdana" size="2">			
										<br><br>
			
										Dear $user.getFirstName(),
										<br><br>
										Merci pour votre enregistrement à <b>Airewards</b>. Pour compléter votre enregistrement, veuillez <a href="$loginurl">cliquer ici</a> pour confirmer votre addresse email et activer votre compte.
											
										<br><br>
											
										Votre ID Airewards est:
										<br><br>
										<b>Email</b> : $user.getToAddres() 
											
										<br><br>
											
										Veuillez garder ce message pour votre historique. Assurez-vous d'utiliser votre ID Airewards à chaque fois que vous faites une réservation pour gagner des points. Si vous changez vos coordonnées dans le futur, il suffit de vous connecter à votre compte pour actualiser votre profile.
											
										<br><br>
											
										Cordialement, <br>
										$commonTemplatingDTO.getCarrierName().
									</font>			
									<br><br>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td border="0" border="0" style="padding:0 10px 10px 10px" bgcolor="#ededed" style="border-spacing:0">
						<table>
							<tr>
								<td border="0" bgcolor="#ffffff">
									<hr>
									<font face="verdana" size="1">
									You are receiving this message from $commonTemplatingDTO.getCarrierName() upon your acceptance of registation on $commonTemplatingDTO.getAirlineSubDomain(). If this email has been sent to you in error, Please send an email to <a href="mailto:$commonTemplatingDTO.getUnsubscribeEMail()">$commonTemplatingDTO.getUnsubscribeEMail()</a>. Please do not reply directly to this email as it has been auto generated and cannot be responded to.
									</font>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			<table>
			</body>
			</html>
		]]></body>
	</content>
</message>
