<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>$subject : $mcoNumber</subject>
	</header>
	<content>
		<body><![CDATA[
		#parse("email/mco_body.xml.vm")	
		]]>	
		</body>
	</content>
</message>