<?xml version="1.0" encoding="iso-8859-1"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>$subject</subject>
	</header>
	<content>
		<body><![CDATA[
		<html>
			<head>
				<title>AccleAero :: $subject</title>
			</head>
			<style type="text/css">
			 <!--
			 font{font-family:tahoma; font-size:11px; left:auto; color: black;}
			 Body {background : white; margin :0px 0px 0px 10px; text-align: center;}
			 -->
			</style>
			<body>
				<table border="0">
                <tr>
					<td width="20%"><b>Agent / GSA ID :</b></td>
					<td>$agentID</td>
				</tr>
				</table>
				<br/>
				Dear colleagues in <b>$carrierName :</b><br/>
                        This is a notification about a <b>$subject</b> for $country for $carrierName on $dayOfWeek, $month $dayOfMonth, $year
                        			
				<table border="0">
                <tr>
					<td width="20%"><b>The $agentID info are :</b></td>
					<td></td>
				</tr>
				<tr>
					<td width="20%"><b>Name :</b></td>
					<td>$agentDisplayName</td>
				</tr>
				<tr>
					<td width="20%"><b>Territory/Station :</b></td>
					<td>$station</td>
				</tr>
				<tr>
					<td width="20%"><b>Currency :</b></td>
					<td>$currency</td>
				</tr>
				<tr>
					<td width="20%"><b>Payment Method :</b></td>
					<td>$paymentMethod</td>
				</tr>
                <tr>
					<td width="20%"><b>Address :</b></td>
					<td> #if($addressLine1 != "")
						 	$addressLine1
						 	<br/>
						 #end
						 #if($addressLine2 != "")					 	
						 	$addressLine2
						 	<br/>
						 #end
						 #if($addressCity != "")
						 	$addressCity
						 	<br/>
						 #end
						 #if($addressStateOrProvince != "")
						 	$addressStateOrProvince
						 	<br/>
						 #end	
					</td>
				</tr>
					
                <tr>
					<td width="20%"><b>City :</b></td>
					<td>$addressCity</td>
				</tr>
                                <tr>
					<td width="20%"><b>Telephone :</b></td>
					<td>$telephone</td>
				</tr>
				</table>
									
			</body>
		</html>]]></body>
	</content>
</message>
