<?xml version="1.0" encoding="iso-8859-1"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>$commonTemplatingDTO.getCarrierName()</subject>
	</header>
	<content>
		<body><![CDATA[Dear Customer your PNR $pnr is on hold. Payment options @ XXX, Post, YYY]]></body>
	</content>
</message>