<?xml version="1.0" encoding="iso-8859-1"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>Retrieving Forgot Password</subject>
	</header>
	<content>
		<body><![CDATA[<html> Dear $user.getFirstName(),
			<p>
				Your requested password is '$password'					
			</p>			
			<br>
			Sincerely,
			<br>
			$commonTemplatingDTO.getCarrierName() 
			</html>
		]]></body>
	</content>
</message>