<?xml version="1.0" encoding="UTF-8"?>
<message>
    <header>
        <subject>Promotion Expired - PNR : ${pnr}</subject>
    </header>
    <content>
        <body>
            <![CDATA[
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
        html, body {height:100%; margin:0; padding:0;}
    </style>
</head>
<body>
    <table id="page-background" width="480" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td style="background:#fe0000 url($ibe_url_root/images/OOps_04.jpg) repeat-y scroll 0 0; width:2px"
                background="#fe0000">
                <img src="$ibe_url_root/images/OOps_04.jpg" width="2" height="auto" alt=""/>
            </td>
            <td>
                <img src="$ibe_url_root/images/promo/flexi_date_notification.jpg" width="476" alt=""/>
            </td>
            <td style="background:#fe0000 url($ibe_url_root/images/OOps_04.jpg) repeat-y scroll 0 0; width:2px"
                background="#fe0000">
                <img src="$ibe_url_root/images/OOps_04.jpg" width="2" height="auto" alt=""/>
            </td>
        </tr>
        <tr>
            <td style="background:#fe0000 url($ibe_url_root/images/OOps_04.jpg) repeat-y scroll 0 0; width:2px"
                background="#fe0000">
                <img src="$ibe_url_root/images/OOps_04.jpg" width="2" height="auto" alt=""/>
            </td>
            <td style="padding:5px;">
                <table style="margin:0px; padding:0px;" width="100%">
                    <tr>
                        <td width="200px" class="font_regular">
                            Reservation's PNR
                        </td>
                        <td class="font_regular">${pnr}</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="font_regular">
                            The promotion had not being granted. Your flight details will remain unchanged.
                        </td>
                    </tr>
                </table>
            </td>
            <td style="background:#fe0000 url($ibe_url_root/images/OOps_04.jpg) repeat-y scroll 0 0; width:2px"
                background="#fe0000">
                <img src="$ibe_url_root/images/OOps_04.jpg" width="2" height="auto" alt=""/>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <img src="$ibe_url_root/images/OOps_05.jpg" width="480" height="120" alt=""/>
            </td>
        </tr>
    </table>
</body>
</html>
        	]]>
        </body>
    </content>
</message>