<?xml version="1.0" encoding="UTF-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
	<header> 
		<subject>Promotion Subscribed - PNR : ${pnr}</subject>
	</header> 
	<content>
		<body>
            <![CDATA[
            <html>
                <head>
                    <style type="text/css">
                        .font_regular {
                        font-family: tahoma;
                        font-size: 12px;
                        }
                    </style>
                </head>
                <body>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
        html, body {height:100%; margin:0; padding:0;}
    </style>
</head>
<body>
    <table id="page-background" width="480" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td style="background:#fe0000 url($ibe_url_root/images/OOps_04.jpg) repeat-y scroll 0 0; width:2px"
                background="#fe0000">
                <img src="$ibe_url_root/images/OOps_04.jpg" width="2" height="auto" alt=""/>
            </td>
            <td>
                <img src="$ibe_url_root/images/promo/flexi_date_subscribed.jpg" width="476" alt=""/>
            </td>
            <td style="background:#fe0000 url($ibe_url_root/images/OOps_04.jpg) repeat-y scroll 0 0; width:2px"
                background="#fe0000">
                <img src="$ibe_url_root/images/OOps_04.jpg" width="2" height="auto" alt=""/>
            </td>
        </tr>
        <tr>
            <td style="background:#fe0000 url($ibe_url_root/images/OOps_04.jpg) repeat-y scroll 0 0; width:2px"
                background="#fe0000">
                <img src="$ibe_url_root/images/OOps_04.jpg" width="2" height="auto" alt=""/>
            </td>
            <td style="padding:5px;">
                <table style="margin:0px; padding:0px;" width="100%">
                    <tr>
                        <td width="200px" class="font_regular">
                            Reservation's PNR
                        </td>
                        <td class="font_regular">${pnr}</td>
                    </tr>
                    <tr>
                        <td class="font_regular">
                            To Unsubscribe
                        </td>
                        <td class="font_regular">
                            <a href="${ibe_url}showReservation.action?hdnParamData=EN^PRM&hdnMode=PRM&promReqAttr=${pnr}^^^^^${promo_id}^1">Click Here</a>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="background:#fe0000 url($ibe_url_root/images/OOps_04.jpg) repeat-y scroll 0 0; width:2px"
                background="#fe0000">
                <img src="$ibe_url_root/images/OOps_04.jpg" width="2" height="auto" alt=""/>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <img src="$ibe_url_root/images/OOps_05.jpg" width="480" height="120" alt=""/>
            </td>
        </tr>
    </table>
</body>
</html>
                </body>
            </html>
        	]]>
        </body>
	</content> 
</message>