<?xml version="1.0" encoding="UTF-8"?>
<message>
    <header>
        <subject>Promotion Notification - PNR : ${pnr}</subject>
    </header>
    <content>
        <body>
            <![CDATA[
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
        html, body {height:100%; margin:0; padding:0;}
    </style>
</head>
<body>
    <table width="600" style="border:1px solid #ccc;" align="center" border="0" cellpadding="0"
           cellspacing="0">
        <tbody>
            <tr>
                <td>
                    <a>
                        <img title="Enjoy double the space for just 70 AED"
                             alt="Enjoy double the space for just 70 AED"
                             src="$ibe_url_root/images/promo/next_seat_notification.jpg" width="600" border="none" height="360"/>
                    </a>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <table align="center" width="90%">
                    <tbody>
                    <tr>
                        <td style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #555; text-align: justify; font-size: 14px; line-height: 22px; padding-bottom: 20px; vertical-align: top;">
                            Dear ${receiver_name},
                            <br/>
                            <br/>
                            Would you like to get more space on your flight to ${destination} on ${dep_date} ?
                            <br/>
                            With
                            <strong>Double Seat</strong>
                            you can now enjoy double the space when travelling with Air Arabia and keep the seat next to
                            you empty.
                            <br/>
                            <br/>
                            <strong>How it works:</strong>
                            <br/>
                            <ol type="a">
                                <li>Click on the link below to select
                                    <strong>Double Seat</strong>
                                    option on your flight.
                                </li>
                                <li>You receive an email confirming your subscription for the service.</li>
                                <li>
                                <strong>Within 24h-12h</strong>
                                before the flight departure and subject to seats availability, Air Arabia will allocate
                                the seats and send you a confirmation:
                                <ul>
                                    <li>If there are seats available on the flight, Air Arabia
                                        <strong>will block</strong>
                                        a Double Seat for you and send you a new booking confirmation with the seat
                                        numbers.
                                    </li>
                                    <li>If there are no seats available on the flight, Air Arabia
                                        <strong>will refund</strong>
                                        the amount of your subscription. No changes will be done on your reservation.
                                    </li>

                                </ul>
                            </ol>
                        </td>
                    </tr>
                    <a href="${ibe_url}showReservation.action?hdnParamData=EN^PRM&hdnMode=PRM&promReqAttr=${pnr}^^^^^${promo_id}">
                        <img title="Complete Your Booking" src="$ibe_url_root/images/promo/subscribe.png" alt="Complete Your Booking" align="right"
                             border="none" height="43" width="180"/>
                    </a>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>

            <tr>
            	<td align="center" width="600">
					<table align="center" cellpadding="3" cellspacing="0" width="600">
						<tbody>
							<tr>
                				<td style="font-family: Tahoma, Geneva, sans-serif; background: #dfdfdf; border-top: 1px solid #ccc; color: #000; font-size: 9px; padding: 10px; vertical-align: top; text-align: center;">
                    				<p> <a href="${ibe_url}showReservation.action?hdnParamData=EN^PRM&hdnMode=PRM&promReqAttr=${pnr}^^^^^${promo_id}^1" target="_blank" style="color: #000000;">Unsubscribe</a> | Copyright &copy; 2013 Air Arabia. All rights reserved.
                        				<a href="http://www.airarabia.com/">www.airarabia.com</a>
                   				   </p>
                		  </td>
                		</tbody>
					</table>
		       </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
        	]]>
        </body>
    </content>
</message>
