<?xml version="1.0" encoding="UTF-8"?>
<message>
	<header> 
		<subject>Promotion Subscribed - PNR : ${pnr}</subject>
	</header> 
	<content>
		<body>
            <![CDATA[
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
        html, body {height:100%; margin:0; padding:0;}
    </style>
</head>
<body>
    <table id="page-background" align="center"  bgcolor="#f2f2f2" width="600" border="0" cellpadding="0" cellspacing="0">
        <tr>
            
            <td style="background:#dfdfdf url($ibe_url_root/images/OOps_04.jpg) repeat-y scroll 0 0; width:2px"
                background="#fe0000">
                <img src="$ibe_url_root/images/OOps_04.jpg" width="2" height="auto" alt=""/>
            </td>
  
            <td>
                <img src="$ibe_url_root/images/promo/next_seat_subscribed.jpg" width="600" alt=""/>
            </td>
            
            <td style="background:#dfdfdf url($ibe_url_root/images/OOps_04.jpg) repeat-y scroll 0 0; width:2px"
                background="#fe0000">
                <img src="$ibe_url_root/images/OOps_04.jpg" width="2" height="auto" alt=""/>
            </td>
        </tr>
        <tr>
            <td style="background:#dfdfdf url($ibe_url_root/images/OOps_04.jpg) repeat-y scroll 0 0; width:2px"
                background="#fe0000">
                <img src="$ibe_url_root/images/OOps_04.jpg" width="2" height="auto" alt=""/>
            </td>
            
             <td style="padding:5px;">
                 <table align="center" width="80%">
					<tbody>
						<tr>
							<td style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #555; text-align: justify; font-size: 14px; line-height: 20px; padding-bottom: 20px; vertical-align: top;">
  								<p> <br /> Dear ${receiver_name}, <br /><br />
    								Congratulations! You've subscribed to <strong>Double Seat</strong><br><br />
    								The final allocation will be done 24-12 hours prior to the flight departure. A confirmation will be sent to you by email if a double seat can be blocked for you. If there are no seats available, we will refund you the amount paid for the service. 
    								<br /><br />
    								</p>
    						</td>
						</tr>
					</tbody>
				</table>
            </td>
           
            <td style="background:#dfdfdf url($ibe_url_root/images/OOps_04.jpg) repeat-y scroll 0 0; width:2px"
                background="#fe0000">
                <img src="$ibe_url_root/images/OOps_04.jpg" width="2" height="auto" alt=""/>
            </td>
            
            
        </tr>
        <tr>
        
           <td colspan="3" style="font-family: helvetica; background: #dfdfdf; border-top: 1px solid #ccc; font-size: 9px; padding: 5px 10px; text-align: left;" align="center" valign="bottom" width="500">
				<p><a href="${ibe_url}showReservation.action?hdnParamData=EN^PRM&hdnMode=PRM&promReqAttr=${pnr}^^^^^${promo_id}^1" target="_self" style="color: #000000;">Unsubscribe</a> | Copyright © 2013 Air Arabia. All rights reserved. <a href="http://www.airarabia.com" target="_blank" style="color: #000000;">www.airarabia.com</a></p>
			</td>
			
			<!--
            <td colspan="3">
                <img src="OOps_05.jpg" width="480" height="120" alt=""/>
            </td>
           -->
        </tr>
    </table>
</body>
</html>
        	]]>
        </body>
	</content> 
</message>