<html>
		<head>
		<title>:: Payment Reciept</title>
		</head>
		<style type="text/css">
		 <!--
		 font{font-family:tahoma;font-size:11px;left:auto;color: black;}
		 Body {background : white;margin :0px 0px 0px 0px;}
		 .fntBold{font-weight:bold;}
		 <!-- .thinBorder{height:18px;border:1px solid;border-color:black;} -->
		 .thinBackground{background-color:#C4C4C4;}
		 <!-- .thinHD{height:18px;border:1px solid;border-color:black;;background-color:#C4C4C4;} -->
		 .fntSmall{font-size:9px;}
		 .fntExSmall{font-size:8px;}
		 .fntTiny{font-size:8px;}
		 .fntLarge{font-size: 17px;}
		 .fntExLarge{font-size: 22px;}
		 .break { page-break-before: always; }
		 .fontCapitalize{text-transform: capitalize;}
		 .fntBoldItnry{font-weight:bold;font-family:tahoma;font-size:11px;left:auto;color: red;} 
		 UL{MARGIN-TOP: 0px;MARGIN-bottom: 4px;}
		 LI{MARGIN-TOP: 0px;MARGIN-bottom: 0px;}
		 -->
		</style>
		<body>
		 <table width="670" border="0" cellpadding="2" cellspacing="0" align="center">
		  <tr>
		   <td width="20%">
		    <img src="$ibeURL/images/$logoImageName"/>
		   </td>
           <td width="20%"> 
            
           </td>
		   <td width="60%" align="right">
		    <font class="fntSmall">$companyAddress</font>
		   </td>
		  </tr>
		   <tr>
		   <td align="center" colspan="3">
		    <font class="fntLarge"><b>
   				  #if ($paymentMode == "CASH")
	   				  	CASH RECEIPT
				  #else    	
	   				  #if ($paymentMode == "ONACCOUNT")
	   				  	AGENT PAYMENT RECEIPT
	   				  #end
   				  #end
   				  </b>
	 	    </font>
		   </td>
		  </tr>
		  <tr>
		   <td align="center" colspan="2">
		   </td>
		   </tr>
		  <tr>
		   <td align="center" colspan="3">
		      $barcode
		   </td>
		   </tr>
		  <tr>
		   <td align="center" colspan="3">

		   </td>
		  </tr>
		  <tr>
          
		   <td valign="top" colspan="3">
		    <table width="100%" border="0" cellpadding="2" cellspacing="2" bordercolor="#FFFFFF" bgcolor="#FFFFFF"  ID="Table1">
		     <tr>
			  <td width="22%">
		       <font class="fntBold">RESERVATION NUMBER</font> </td>
		      <td width="22%" bordercolor="#FFFFFF" bgcolor="#CCCCCC" >
		       <font class="fntBold"><!-- PNR NO-->$reservationPaxDTO.getPnr()</font>		      </td>
		      <td width="10%">&nbsp;</td>
		      <td width="22%"> <font class="fntBold">RECIEPT NUMBER</font></td>
               <td width="22%%" bordercolor="#FFFFFF" bgcolor="#CCCCCC" > <font class="fntBold"> $recieptNo </font></td>
		     	     </tr>
		     <tr>
		      <td><font class="fntBold">DATE OF BOOKING</font></td>
		      <td width="9%" class="" bgcolor="#CCCCCC" >
		       <font class="fntBold"><!-- DATE OF BOOKING -->$reservationPaxDTO.getPnrStringDate("dd MMM yyyy")</font>		      </td>
               <td>&nbsp;</td>
               <td> <font class="fntBold">PAYMENT MODE</font></td>
               <td width="11%" bordercolor="#FFFFFF" bgcolor="#CCCCCC" > <font class="fntBold"> 
               #if($recieptLayoutModesDTO.getActualPaymentMethod() == "null" || $recieptLayoutModesDTO.getActualPaymentMethod() == "")
               		$paymentMode  
               #else
               		$recieptLayoutModesDTO.getActualPaymentMethod()
               #end
               </font></td>
		     </tr>
	         
		     <tr>
		       <td><font class="fntBold">AGENT</font></td>
		       <td class="" bgcolor="#CCCCCC" > 
               <font  class="fntBold">
               #if ($ownerAgent.getAgentName())
				  $ownerAgent.getAgentName()
				  #elseif ($reservationPaxDTO.getReservationAdminInfo().getOwnerChannelId().intValue() == 4)
				  Web Agency
				  #else
				  --
				  #end
				</font>  &nbsp;</td>
		       <td>&nbsp;</td>
		       <td><font class="fntBold">PAYMENT DATE</font></td>
		       <td bordercolor="#FFFFFF" bgcolor="#CCCCCC"><font class="fntBold">$recieptLayoutModesDTO.getPaymentStringDate("dd MMM yyyy") </font></td>
		       <td>&nbsp;</td>
		       <td>&nbsp;</td>
	          </tr>
              			
			<!-- Policy No -->
			 #if($policyNo != "")
		     		<tr>
		        	<td>
		        		<font class="fntBold">POLICY NUMBER</font> </td>
		        	<td width="9%" class="" bgcolor="#CCCCCC" >
		        		<font class="fntBold">$policyNo</font>		        	</td>
     				</tr>
     			 #end

			 <tr>			 </tr>
		    </table>
            <br>
		   </td>
		  </tr>
          
          <tr>
		    <td valign="top" colspan="3">
		      <font class="fntBold">TRAVEL DETAILS</font>
		    </td>
		  </tr>

		  <tr>
		   <td valign="top" colspan="3">
		    <table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table4">
		     <tr>
		      <td class="thinHD" align="center" colspan="1">
		       <font class="fntBold">Origin / Destination</font>
		      </td>
		      <td class="thinHD" align="center" colspan="2">
		       <font class="fntBold">Departure</font>
		      </td>
		      <td class="thinHD" align="center" colspan="2">
		       <font class="fntBold">Arrival</font>
		      </td>
		  
		      <td class="thinHD" align="center" colspan="1">
		       <font class="fntBold">Flight</font>
		      </td>
		      #if ($includeClassOfService)
		      	<td class="thinHD" align="center" colspan="1">
		       		<font class="fntBold">Class</font>
		      	</td>
		      #end
		      	<td class="thinHD" align="center" colspan="1">
		       		<font class="fntBold">Status</font>
		      	</td>	  
		      #if ($includeThumbnailLogo)
		      	<td class="thinHD" align="center" colspan="1">
		       		<font class="fntBold">Carrier</font>
		      	</td>	
		      #end    
		     </tr>
			
			 #if($reservationPaxDTO.getSegmentsOrderedByZuluDepartureDate().size() > 0)

			 #foreach ($reservationSegmentDTO in $reservationPaxDTO.getSegmentsOrderedByZuluDepartureDate())
			 <tr>
			  <td class="thinBorder"><font>$reservationSegmentDTO.getSegmentDescription() &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getDepartureStringDate("EEE, dd MMM yyyy") &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getDepartureStringDate("HH:mm") &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getArrivalStringDate("EEE, dd MMM yyyy") &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getArrivalStringDate("HH:mm") &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getFlightNo() &nbsp;</font></td>
			  #if ($includeClassOfService)
			  		<td class="thinBorder" align="center"><font>$reservationSegmentDTO.getCabinClassCode() &nbsp;</font></td>
			  #end		
  			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getEffectiveStatus($reservationPaxDTO.getStatus()) &nbsp;</font></td>
  			  #if ($includeThumbnailLogo)
			  		<td class="thinBorder" align="center"><image src='$ibeURL/images/LogoThumbnail${reservationSegmentDTO.getCarrierCode()}.jpg'>&nbsp;</td>
			  #end
			 </tr>
			 #end 
			 #end

			 #if($reservationPaxDTO.getOpenReturnSegmentsOrderedByZuluDepartureDate().size() > 0)

			 #foreach ($openReturnItineraryViewTO in $reservationPaxDTO.getOpenReturnSegmentsOrderedByZuluDepartureDate())
			 <tr>
			  	<td class="thinBorder"><font>$openReturnItineraryViewTO.getSegmentInformation() &nbsp;</font></td>
			  	<td colspan="5" class="thinBorder" align="center">
			  	<font>Confirm before : $openReturnItineraryViewTO.getOpenRtConfirmBefore("dd-MM-yyyy HH:mm") &nbsp;</font>
			  	<br>
				<font>Travel Expiry Date: $openReturnItineraryViewTO.getSegmentExpiryDate("dd-MM-yyyy HH:mm") &nbsp;</font>			  	
			  	</td>
			  	#if ($includeClassOfService)
			  		<td class="thinBorder" align="center"><font>&nbsp;</font></td>
			  	#end		
			  	<td class="thinBorder" align="center"><font>Open Return &nbsp;</font></td>
  			  	#if ($includeThumbnailLogo)
  			  		<td class="thinBorder" align="center"><font>&nbsp;</font></td>
  			  	#end
  			 </tr>
  			 #end 
			 #end
			 
		    </table>   
		   </td>
		  </tr>



#if($printPassengerDetails == 'true')

		  <tr>
		    <td valign="top" colspan="3">
		      <table width="100%" border="0" cellpadding="2" cellspacing="2" bordercolor="#FFFFFF" bgcolor="#FFFFFF" ID="Table2">
				 <tr>
				  <td width="20%" bordercolor="#FFFFFF" bgcolor="#CCCCCC" align="center">
				   <font class="fntBold">Passenger Name(s)</font>
				  </td>
				  #if ($reservationPaxDTO.getInfantCount() > 0)
				  <td bordercolor="#FFFFFF" bgcolor="#CCCCCC" align="center">
				   <font class="fntBold">Infant(s)</font>
				  </td>
				  #end
  				  <!-- Charges displayed if selected -->
				  #if ($includePrices)
				  <td bordercolor="#FFFFFF" bgcolor="#CCCCCC" align="center" width="10%">
				   <font class="fntBold">Fare</font>
				  </td>
				  <td bordercolor="#FFFFFF" bgcolor="#CCCCCC" align="center" width="10%">
				   <font class="fntBold">Charges</font>
				  </td>
				  <td bordercolor="#FFFFFF" bgcolor="#CCCCCC"  align="center" width="10%">
				   <font class="fntBold">Paid Amount</font>
				  </td>
				  <td bordercolor="#FFFFFF" bgcolor="#CCCCCC" align="center" width="10%">
				   <font class="fntBold">Balance</font>
				  </td>
				  #end
				 </tr>
				 #foreach ($reservationPaxDetailsDTO in $reservationPaxDTO.getPassengers())
				 
				 <tr>
				  <td bordercolor="#FFFFFF" bgcolor="#EFEEE4">
				   <font class="fontCapitalize"><!-- PASSENGER INFORMATION (1. TITLE. FIRST NAME, LAST NAME) -->
				   #if($reservationPaxDetailsDTO.isChild())
				   	Child. &nbsp; $reservationPaxDetailsDTO.getTitle().toUpperCase() &nbsp; $reservationPaxDetailsDTO.getFirstName().toUpperCase() &nbsp; $reservationPaxDetailsDTO.getLastName().toUpperCase()<br> 
				   		#if($reservationPaxDetailsDTO.getFoidNumber()!="")
				   		<br>
				   		<font class="fntBold">Passport No.  - &nbsp;</font> $reservationPaxDetailsDTO.getFoidNumber()&nbsp; 
				   		#end
				   		#if($reservationPaxDetailsDTO.getDob()!="")
				   		<br>
				   		<font class="fntBold">Date of Birth - &nbsp;</font> $reservationPaxDetailsDTO.getDob()&nbsp;
				   		#end
				   		
				   #else
				   	$reservationPaxDetailsDTO.getTitle().toUpperCase() &nbsp; $reservationPaxDetailsDTO.getFirstName().toUpperCase() &nbsp; $reservationPaxDetailsDTO.getLastName().toUpperCase()<br>
				   		#if($reservationPaxDetailsDTO.getFoidNumber()!="")
				   		<br>
				   		<font class="fntBold">Passport No.   - &nbsp;</font> $reservationPaxDetailsDTO.getFoidNumber()&nbsp;
				   		#end
				   		#if($reservationPaxDetailsDTO.getDob()!="")
				   		<br>
				   		<font class="fntBold">Date of Birth - &nbsp;</font> $reservationPaxDetailsDTO.getDob()&nbsp;
			   			#end  
				   		
				   #end
				   &nbsp;</font>
				  </td>
				  #if ($reservationPaxDTO.getInfantCount() > 0)
				  <td bordercolor="#FFFFFF" bgcolor="#EFEEE4">
				   <font class="fontCapitalize"><!-- INFANT(S) (1. TITLE. FIRST NAME, LAST NAME) -->
				   #if($reservationPaxDetailsDTO.isParent())
				   BABY. &nbsp; $reservationPaxDetailsDTO.getChildFirstName().toUpperCase() &nbsp; $reservationPaxDetailsDTO.getChildLastName().toUpperCase()<br>
				   		#if($reservationPaxDetailsDTO.getChildFoid()!="")
				   		<br>
				   		<font class="fntBold">Passport No.   - &nbsp;</font> $reservationPaxDetailsDTO.getChildFoid() &nbsp; 
				   		#end
				   		#if($reservationPaxDetailsDTO.getChildDob()!="")
				   		<br>
				   		<font class="fntBold">Date of Birth - &nbsp;</font> $reservationPaxDetailsDTO.getChildDob() &nbsp; 
				   		#end
					#end
				   &nbsp;</font>
				  </td>
				  #end
				  <!-- Charges displayed if selected -->
				  #if ($includePrices)
				  <td bordercolor="#FFFFFF" bgcolor="#EFEEE4" align="right">
				   <font><!-- FARE -->$reservationPaxDetailsDTO.getTotalFareAsString(null) $reservationPaxDTO.getBaseCurrency()&nbsp;</font>
				  </td>
				  <td bordercolor="#FFFFFF" bgcolor="#EFEEE4" align="right">
				   <font><!-- CHARGES -->$reservationPaxDetailsDTO.getTotalChargeAmountAsString(null) $reservationPaxDTO.getBaseCurrency()&nbsp;</font>
				  </td>
				  <td bordercolor="#FFFFFF" bgcolor="#EFEEE4" align="right">
				   <font><!-- PAID AMOUNT -->$reservationPaxDetailsDTO.getTotalPaidAmountAsString(null) $reservationPaxDTO.getBaseCurrency()&nbsp;</font>
				  </td>
				  <td bordercolor="#FFFFFF" bgcolor="#EFEEE4" align="right">
				   <font><!-- CREDIT BALANCE -->$reservationPaxDetailsDTO.getCreditAsString(null) $reservationPaxDTO.getBaseCurrency()&nbsp;</font>
				  </td>
				  #end
				  
				 </tr>
				 #end

				 <!-- Totals displayed if selected -->
				 #if ($includePrices)
				 <tr>
				  #if ($reservationPaxDTO.getInfantCount() > 0)
				  <td class="thinBorder" align="right" colspan="2" valign="middle">
				  #else
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				  #end
				   <font class="fntBold">TOTAL IN $reservationPaxDTO.getBaseCurrency()</font>
				  </td>
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				   <font><!-- TOTAL TICKET FARE -->$reservationPaxDTO.getTotalTicketFareAsString(null, false) &nbsp;</font>
				  </td>
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				   <font><!-- TOTAL TICKET CHARGE -->$reservationPaxDTO.getTotalTicketChargeAsString(null, false) &nbsp;</font>
				  </td>
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				   <font><!-- TOTAL PAID AMOUNT -->$reservationPaxDTO.getTotalPaidAmountAsString(null, false) &nbsp;</font>
				  </td>
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				   <font><!-- TOTAL BALANCE -->$reservationPaxDTO.getTotalAvailBalanceAsString(null, false) &nbsp;</font>
				  </td>
				 </tr>
				 #end	
				 

				 <!-- Totals displayed if selected -->
				 #if ($includePrices && $reservationPaxDTO.showPaymentsInSpecifiedCurrency() == true)
				 <tr>
				  #if ($reservationPaxDTO.getInfantCount() > 0)
				  <td class="thinBorder" align="right" colspan="2" valign="middle">
				  #else
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				  #end
				   <font class="fntBold">TOTAL IN $reservationPaxDTO.getSpecifiedCurrencyCode()</font>
				  </td>
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				   <font>$reservationPaxDTO.getTotalTicketFareAsString(null, true) &nbsp;</font>
				  </td>
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				   <font>$reservationPaxDTO.getTotalTicketChargeAsString(null, true) &nbsp;</font>
				  </td>
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				   <font>$reservationPaxDTO.getTotalPaidAmountAsString(null, true) &nbsp;</font>
				  </td>
				  
				  <td class="thinBorder" align="right" colspan="1" valign="middle">
				   <font>$reservationPaxDTO.getTotalAvailBalanceAsString(null, true) &nbsp;</font>
				  </td>
			
				 </tr>
				 #end

			  </table>
		    </td>
		  </tr>
		
 #else
 
 
 
 
 
 
 <tr>
		    <td valign="top" colspan="3">
		      <p><font class="fntBold">FARE DETAILS</font>
                  </p></td>
		  </tr>
 
          
          
          <tr> 
          
          <td colspan="3"> 
          <table  width="100%" border="0" cellpadding="2" cellspacing="2" bordercolor="#FFFFFF" bgcolor="#FFFFFF" >
          <tr>
          <td width="15%" align="center" bordercolor="#FFFFFF" bgcolor="#CCCCCC"> <font class="fntBold"> Pax Type </font></td>
          <td width="25%" align="center" bordercolor="#FFFFFF" bgcolor="#CCCCCC"> <font class="fntBold"> No of Pax </font></td>
          <td width="20%" align="center" bordercolor="#FFFFFF" bgcolor="#CCCCCC"> <font class="fntBold">Fare per pax </font></td>
          <td width="15%" align="center" bordercolor="#FFFFFF" bgcolor="#CCCCCC"> <font class="fntBold">Total Fare </font></td>
          <td width="15%" align="center" bordercolor="#FFFFFF" bgcolor="#CCCCCC"> <font class="fntBold">Total Charges </font> </td>
          <td bordercolor="#FFFFFF" bgcolor="#CCCCCC" align="center"> <font class="fntBold">Total </font></td>
          </tr>
          
          <tr> 
          <td width="15%" align="center" bordercolor="#FFFFFF" bgcolor="#EFEEE4"> <font> Adult </font></td>
          <td width="25%" align="center" bordercolor="#FFFFFF" bgcolor="#EFEEE4"> <font>
          		$recieptPaxDTO.getTotalAdultCount() 
           #if($recieptPaxDTO.getTotalInfantCount() > 0)
           		+  $recieptPaxDTO.getTotalInfantCount()  Infant(s)
           #end         </font>  </td>
          <td width="20%" align="center" bordercolor="#FFFFFF" bgcolor="#EFEEE4"> <font> $recieptPaxDTO.getPerAdultFareAsString(null)  x  $recieptPaxDTO.getTotalAdultCount()       </font>   	</td>
          <td width="15%" align="right" bordercolor="#FFFFFF" bgcolor="#EFEEE4"> <font> $recieptPaxDTO.getAdultsTotalFareAsString(null) </font> </td>
          <td width="15%" align="right" bordercolor="#FFFFFF" bgcolor="#EFEEE4"> <font> $recieptPaxDTO.getAdultsTotalChargeAsString(null) </font> </td>
          <td bordercolor="#FFFFFF" bgcolor="#EFEEE4" align="right"> <font> $recieptPaxDTO.getAdultsTotalAsString(null) </font></td>
          </tr>
          
		#if($recieptPaxDTO.getTotalChildCount() > 0)
          <tr> 
          <td width="15%" align="center" bordercolor="#FFFFFF" bgcolor="#EFEEE4"> <font> Child </font></td>
          <td width="25%" align="center" bordercolor="#FFFFFF" bgcolor="#EFEEE4"> <font> $recieptPaxDTO.getTotalChildCount() </font> </td>
          <td width="20%" align="center" bordercolor="#FFFFFF" bgcolor="#EFEEE4"> <font> $recieptPaxDTO.getPerChildFareAsString(null)   x $recieptPaxDTO.getTotalChildCount() </font></td>
          <td width="15%" align="right" bordercolor="#FFFFFF" bgcolor="#EFEEE4"> <font> $recieptPaxDTO.getChildsTotalFareAsString(null) </font></td>
          <td width="15%" align="right" bordercolor="#FFFFFF" bgcolor="#EFEEE4"> <font>$recieptPaxDTO.getChildsTotalChargeAsString(null) </font> </td>
          <td bordercolor="#FFFFFF" bgcolor="#EFEEE4" align="right"> <font> $recieptPaxDTO.getChildsTotalAsString(null) </font></td>
          </tr>
       #end
          <tr> 
          <td class="thinBorder" align="right" colspan="3" valign="middle" > <font class="fntBold"> TOTAL IN USD  </font> </td>
          <td class="thinBorder" align="right" valign="middle" > <font>$recieptPaxDTO.getTotalFareAsString(null)</font> </td>
          <td class="thinBorder" align="right" valign="middle" > <font>$recieptPaxDTO.getTotalChargeAsString(null) </font></td>
          <td class="thinBorder" align="right" valign="middle" > <font class="fntBold"> $recieptPaxDTO.getTotalReservationAsString(null) </font></td>
          </tr>
          </table>
          </td>
          
          
          </tr>
          
 #end   
          
          
          
 
          
          
          
          
          <!-- Payment Detils -->
               		  #if($colItineraryPaymentsDTO.size() > 0)
		  <tr>
		    <td valign="top" colspan="3">
		      <p><font class="fntBold">PAYMENT DETAILS</font>
                  </p></td>
		  </tr>

		  <tr>
		   <td valign="top" colspan="3">
		    <table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table7">
		     <tr>
		      <td width="15%" bordercolor="#FFFFFF" bgcolor="#CCCCCC"  align="center">
		       <font class="fntBold">Date</font>
		      </td>
		      <td width="20%" bordercolor="#FFFFFF" bgcolor="#CCCCCC"  align="center">
		       <font class="fntBold">Passenger Name</font>
		      </td>
		      <td width="10%" bordercolor="#FFFFFF" bgcolor="#CCCCCC"  align="center">
		       <font class="fntBold">Type</font>
		      </td>
		      <td width="18%" bordercolor="#FFFFFF" bgcolor="#CCCCCC"  align="center">
		       <font class="fntBold">Auth Id</font>
		      </td>
		      <td bordercolor="#FFFFFF" bgcolor="#CCCCCC"  align="center">
		       <font class="fntBold">Amount</font>
		      </td>
		      	#if($reservationPaxDTO.showPaymentsInSpecifiedCurrency() == true)
		     		<td width="15%" bordercolor="#FFFFFF" bgcolor="#CCCCCC"  align="center">
		       			<font class="fntBold">Amount<br>(Paid Currency)</font>
		     		</td>
		     	#end
		     </tr>
		     
             #set ($payCurr = "")
	  	 
	  	 	  #foreach ($itineraryPaymentsDTO in $colItineraryPaymentsDTO)
				 #foreach ($paymentDetailDTO in $itineraryPaymentsDTO.getColPaymentDetailDTO())
					 <tr>
					  <td bordercolor="#FFFFFF" bgcolor="#EFEEE4" align="center"><font>$paymentDetailDTO.getPaymentStringDate("EEE, dd MMM yyyy") &nbsp;</font></td>
					  <td bordercolor="#FFFFFF" bgcolor="#EFEEE4" align="center"><font>$paymentDetailDTO.getPassengerName().toUpperCase() &nbsp;</font></td>
					  <td bordercolor="#FFFFFF" bgcolor="#EFEEE4" align="center"><font>$paymentDetailDTO.getPaymentTypeDescription() &nbsp; $paymentDetailDTO.getLast4DigitsOfCCNo()</font></td>
					  <td bordercolor="#FFFFFF" bgcolor="#EFEEE4" align="center"><font>$paymentDetailDTO.getAuthorizationId() &nbsp;</font></td>
					  <td bordercolor="#FFFFFF" bgcolor="#EFEEE4" align="right"><font>$paymentDetailDTO.getPaymentAmountAsString(null) $reservationPaxDTO.getBaseCurrency() &nbsp;</font></td>
					 
						#if($reservationPaxDTO.showPaymentsInSpecifiedCurrency() == true) 
					  		<td bordercolor="#FFFFFF" bgcolor="#EFEEE4" align="right"><font>$paymentDetailDTO.getPaymentCurrencyAmountAsString(null) $paymentDetailDTO.getPayCurrencyCode() &nbsp;</font></td> 
					  	#end 
					 </tr>
                      #set ( $payCurr = $reservationPaxDTO.getBaseCurrency() )
				 #end
                 
            #end   
                 
               
<tr> 
						 
						
						 <td colspan="4" class="thinBorder" align="right"><font class="fntBold">&nbsp; TOTAL PAID </font></td>
						 <td class="thinBorder" align="right"><strong><font> <u> $recieptLayoutModesDTO.getPaymentAmountAsString(null)  $payCurr &nbsp; </u></font></strong></td>
		  #if($reservationPaxDTO.showPaymentsInSpecifiedCurrency() == true)
					  			<td class="thinBorder" align="right"><strong><u><font>$recieptLayoutModesDTO.getPaymentCurrAmountAsString(null) $recieptLayoutModesDTO.getPayCurr() &nbsp;</font></u></strong></td> 
					 		#end
					 <tr>
		     
		    </table>   
		   </td>
		  </tr>
	 	  #end
          
          
          
          
          <!-- End Payment Details -->
      
      <!--    
      <tr> 
           <td width="8%" align="left">
		    <img src="http://reservations.regionalairtz.com/xbe/images/liquidstamp.jpg"/> 
		   </td>

           <td colspan="3" align="right">    <p>Terms & Conditions:  </p>
             <p>Please vist <a href="http://www.regionaltanzania.com/terms.asp">http://www.regionaltanzania.com/terms.asp</a>  for terms and conditions. </p></td>
           </tr>
           
           -->    
          
          
          
          
          
          
          
          
                   <!-- Charge Deatils -->
 <!--          
           #if($colItineraryChargesDTO.size() > 0)
           
           <br>
           
           
           <tr class="break">
           
           <td colspan="5" align="center"> ------- Charge Details continue to Page 2 ------- </td>
       		
           </tr>
           <br>
		  <tr>
		    <td valign="top" colspan="3">
		      <font class="fntBold">CHARGES DETAILS</font>
		    </td>
		  </tr>

		  <tr>
		   <td valign="top" colspan="3">
		    <table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table8">
		     <tr>
		      <td bordercolor="#FFFFFF" bgcolor="#CCCCCC" align="center">
		       <font class="fntBold">Charge Date</font>
		      </td>
		      <td  bordercolor="#FFFFFF" bgcolor="#CCCCCC" align="center">
		       <font class="fntBold">Origin / Destination</font>
		      </td>
		      <td bordercolor="#FFFFFF" bgcolor="#CCCCCC" align="center">
		       <font class="fntBold">Passenger Name</font>
		      </td>
		      <td bordercolor="#FFFFFF" bgcolor="#CCCCCC" align="center">
		       <font class="fntBold">Description</font>
		      </td>
		      <td bordercolor="#FFFFFF" bgcolor="#CCCCCC" align="center">
		       <font class="fntBold">Type</font>
		      </td>
		      <td  bordercolor="#FFFFFF" bgcolor="#CCCCCC" align="center">
		       <font class="fntBold">Amount</font>
		      </td>
		     </tr>
	  	 
	  	 	  #foreach ($itineraryChargesDTO in $colItineraryChargesDTO)
				 #foreach ($chargesDetailDTO in $itineraryChargesDTO.getColChargesDetailDTO())
					 <tr>
					  <td bordercolor="#FFFFFF" bgcolor="#EFEEE4" align="center"><font>$chargesDetailDTO.getChargeStringDate("EEE, dd MMM yyyy") &nbsp;</font></td>
					  <td bordercolor="#FFFFFF" bgcolor="#EFEEE4" align="center"><font>$chargesDetailDTO.getOndDescription() &nbsp;</font></td>
					  <td bordercolor="#FFFFFF" bgcolor="#EFEEE4" align="center"><font>$chargesDetailDTO.getPassengerName().toUpperCase() &nbsp;</font></td>
					  <td bordercolor="#FFFFFF" bgcolor="#EFEEE4" align="center"><font>$chargesDetailDTO.getChargeDescription() &nbsp;</font></td>
					  <td bordercolor="#FFFFFF" bgcolor="#EFEEE4" align="center"><font>$chargesDetailDTO.getChargeType() &nbsp;</font></td>
					  <td bordercolor="#FFFFFF" bgcolor="#EFEEE4" align="right"><font>$chargesDetailDTO.getChargeAmountAsString(null) $reservationPaxDTO.getBaseCurrency()&nbsp;</font></td>
					 </tr>
				 #end
              
					 <tr> 
						 <td  align="center" colspan="1"><font>&nbsp;</font></td>
						 <td  align="center" colspan="1"><font>&nbsp;</font></td>
						 <td  align="center" colspan="1"><font>&nbsp;</font></td>
						 <td class="thinBorder" align="right" colspan="2"><font class="fntBold">T O T A L&nbsp;($itineraryChargesDTO.getOndDescription())&nbsp;</font></td>
						 <td class="thinBorder" align="right" colspan="1"><font>$itineraryChargesDTO.getOndChargeAmountAsString(null) $reservationPaxDTO.getBaseCurrency()&nbsp;</font></td>
					 <tr>
		     	 #end
		    </table>   
		   </td>
		  </tr>
	 	  #end
-->
                    <!-- End Charge Deatils -->
          
          
          
		
			  </table>
		    </td>
		  </tr>

          
		  <tr>
		   <td valign="top" colspan="2">
		   &nbsp;
		   </td>
		  </tr>
		  <tr>
		   <td valign="top" colspan="2">
		   &nbsp;
		   </td>
		  </tr>
		  <tr>
		   <td valign="top" colspan="2">
		   &nbsp;
		   </td>
		  </tr>
		  <tr>
		   <td valign="top" colspan="2">
		   &nbsp;
		   </td>
		  </tr>
		  
		 </table>
		</body>
		</html>
