<?xml version="1.0" encoding="iso-8859-1"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>Registration Successful</subject>
	</header>
	<content>		
		<body>		
		<![CDATA[<html>
			<html>
			<head></head>
			<body>
			<font face="verdana" size="2">
			Dear $user.getFirstName(),
			<br><br>
			Thank you for registering with <b>$commonTemplatingDTO.getAirlineDomain()</b> Please <a href="$loginurl">click here</a> to login and confirm your registration. 
			This registration enables you to manage your travel on ${strCarrierNames}.
			<br><br>
			Your login details are as follows :<br>
			Email : $userId <br>
			Password : $password <br><br>
			
			Please keep this message for your records. Remember to use your login every time you make your bookings online. If your personal information changes at any time, simply logon to our site and update your profile.
			
			<br><br>
			
			We look forward to your next visit to <a href="http://$commonTemplatingDTO.getAirlineSubDomain()">$commonTemplatingDTO.getAirlineSubDomain()</a>
			
			<br><br>
			
			Best Regards, <br>
			$commonTemplatingDTO.getCarrierName() Team
			</font>			
			<br><br>
			<hr>
			<font face="verdana" size="1">
			You are receiving this message from $commonTemplatingDTO.getCarrierName() upon your acceptance of registation on $commonTemplatingDTO.getAirlineSubDomain(). If this email has been sent to you in error, Please send an email to <a href="mailto:$commonTemplatingDTO.getUnsubscribeEMail()">$commonTemplatingDTO.getUnsubscribeEMail()</a>. Please do not reply directly to this email as it has been auto generated and cannot be responded to.
			</font>
			</body>
			</html>
		]]></body>
	</content>
</message>