<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>Scheduled Report</subject>
	</header>
	<content>
	
		<body>
		
		<![CDATA[<html>
		 <head>
        <title>:: Scheduled Report</title>
        </head>
        <style type="text/css">
         <!--
						 font{font-family:tahoma;font-size:11px;left:auto;color: black;}
						 Body {background : white;margin :0px 0px 0px 0px;}
						 .fntBold{font-weight:bold;}
						 .thinBorder{height:18px;border:1px solid;border-color:black;}
						 .thinHD{height:18px;border:1px solid;border-color:black;;background-color:#C4C4C4;}
						 .fntLarge{font-size: 12px;}
						 .fntHeading{font-size: 13px;}
						 -->
        </style> 		
		<body>
							<table cellpadding="5" cellspacing="2" border="0">
							<tr>
				    			<td colspan="2"><font class="fntBold fntHeading"> Scheduled Report for $reportName</font></td>
				    		</tr>
				    		<tr>
				    			<td width="120px">Generated Time</td>
				    			<td>: $generatedTime</td>
							</tr>
				    		<tr>
				    			<td>Scheduled Date</td>
				    			<td>: $scheduledDate</td>
							</tr>
				    		<tr>
				    			<td>Scheduled By</td>
				    			<td>: $scheduledBy</td>
							</tr>																			
				    		<tr><td colspan="2">
									Please find the scheduled report as a attachment.
								</td>
							</tr>
							</table>
					</body>
		</html>
		]]>	
		</body>
	</content>
</message>