<?xml version="1.0" encoding="UTF-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>$subject</subject>
	</header>
	<content>
		<body><![CDATA[<html> Dear Officer,
			<p>
				$description
			</p>

			<p>
				<b>Cancelled Schedule Details</b><br><br>
				
				Flight Number: $flightAlertInfoDTO.getFlightNumber()<br>				
				Schedule From: $flightAlertInfoDTO.getStartDateFormatted("EEE, dd MMM yyyy")<br>
				Schedule To: $flightAlertInfoDTO.getEndDateFormatted("EEE, dd MMM yyyy")<br>
				#if( $flightAlertInfoDTO.getRoute() )
					Days of Operation: $flightAlertInfoDTO.getOperationDays()<br>
				#end
									
				#if( $flightAlertInfoDTO.getRoute() )
					Route: $flightAlertInfoDTO.getRoute()<br>
				#end
				
				Origin Airport Code: $flightAlertInfoDTO.getOriginAptCode()<br>
				Destination Airport Code: $flightAlertInfoDTO.getDestinationAptCode()<br>								
				Schedule Id : $flightAlertInfoDTO.getScheduleId()<br>
								
				#if( $flightAlertInfoDTO.getNumberOfFlights() )
					Total Cancelled Flights: $flightAlertInfoDTO.getNumberOfFlights()<br>
				#end
				
				Status: $flightAlertInfoDTO.getStatus()<br>
				Model Number: $flightAlertInfoDTO.getModelNumber()<br>
				
				#if( $flightAlertInfoDTO.getSegmentDetails() )
					Segment Details: $flightAlertInfoDTO.getSegmentDetails()<br>
				#else
					Leg Details: $flightAlertInfoDTO.getLegDetails()<br>
				#end
				
				<br>
			</p>						
			
			<br>
			Sincerely,
			<br><b>
			$commonTemplatingDTO.getCarrierName() </b></br>
			</html>
		]]></body>
	</content>
</message>