		<html dir='$direction'>
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>	
			<title> Voucher Details </title>
		</head>
		<style type="text/css">
		<!--
		 font{font-family:tahoma;font-size:11px;left:auto;color: black;}
		 Body {background : white;margin :0px 0px 0px 0px;}
		 .fntBold{font-weight:bold;}
		 .thinBorder{height:18px;border:1px solid;border-color:black;}
		 .thinBackground{background-color:#C4C4C4;}
		 .thinHD{height:18px;border:1px solid;border-color:black;;background-color:#C4C4C4;}
		 .fntSmall{font-size:9px;}
		 .fntExSmall{font-size:8px;}
		 .fntTiny{font-size:8px;}
		 .fntLarge{font-size: 17px;}
		 .fntExLarge{font-size: 22px;}
		 .fontCapitalize{text-transform: capitalize;}
		 .fntBoldItnry{font-weight:bold;font-family:tahoma;font-size:11px;left:auto;color: red;} 
		 .fntRed{color: red;} 
		 UL{MARGIN-TOP: 0px;MARGIN-bottom: 4px;}
		 LI{MARGIN-TOP: 0px;MARGIN-bottom: 0px;}
		-->
		</style>
		 <body>
            <center><h3>VOUCHER DETAILS</h3></center>
            <br>
            <br>
       <table width="100%">
		 <tr>
			<td>
				<table width="670" border="0" cellpadding="2" cellspacing="0" align="center">
					<tr>
						<td>The Voucher Information is as below.</td>
					</tr>
					<tr>
						<td><font>&nbsp;</font></td>
					</tr>
					<tr>
              			<td>Voucher ID : <font>$voucherId</font></td>
              		</tr>
              		<tr>
              			<td>Customer Name : <font>$firstName $lastName</font></td>
              		</tr>
              		<tr>
              			<td>Valid From : <font>$validFrom</font></td>
              		</tr>
              		<tr>
              			<td>Valid To : <font>$validTo</font></td>
              		</tr>
              		<tr>
              			<td>Amount : <font>$amount $currency</font></td>
              		</tr>
              		<tr>
              			<td></td>
              		</tr>
              		<tr>
              			<td></td>
              		</tr>
	            </table>
	            <table width="670" border="0" cellpadding="2" cellspacing="0" align="center">
	            	<tr>
              			<td>$terms</td>
              		</tr>
	            </table>
	          </td>
			</tr>
		  </table>
		  <p style="page-break-before: always"/> 
	     </body>
		</html>
