<?xml version="1.0" encoding="iso-8859-1"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>EK PNL ERROR</subject>
	</header>
	<content>		
		<body>		
		<![CDATA[<html> 
			<p>
				#if( $xaPnlLogDTO )					
					#if( $xaPnlLogDTO.getEmailTo() )
					Dear $xaPnlLogDTO.getEmailTo() , 
					#end
					<br>


					#if( $xaPnlLogDTO.getExceptionDescription() )
						=============================================================<br>
						<b>ERRROR</b><br>
						=============================================================<br>
						<b>$xaPnlLogDTO.getExceptionDescription()</b><br>
						<br>
					#end

					#if( $xaPnlLogDTO.getXaPnlContent() )
						=============================================================<br>
						<b>THE FOLLOWING IS THE RECEIVED PNL</b><br>
						=============================================================<br>
						<br>
						$xaPnlLogDTO.getXaPnlContent() 
						<br>
					#end


					#if( $xaPnlLogDTO.getPaxWithReservations() )
							=================================================================<br>
							<b>SUCCESSFULLY CREATED RESERVATIONS FOR THE FOLLOWING PASSENGERS</b><br>
							=================================================================<br>
							#foreach ($paxWithReservations in $xaPnlLogDTO.getPaxWithReservations())
								$paxWithReservations<br>
							#end
					#end

					#if( $xaPnlLogDTO.getPaxWithErrors() )
							=============================================================<br>
							<b>FOLLOWING PASSENGERS COULD NOT BE PROCESSED</b><br>
							=============================================================<br>
							#foreach ($paxWithErrors in $xaPnlLogDTO.getPaxWithErrors())
								$paxWithErrors<br>
							#end
					#end

				

					#if( $xaPnlLogDTO.getStackTraceElements() )
						=============================================================<br>
						<b>EXCEPTION STACK TRACE</b><br>
						=============================================================<br>
							#foreach ($stackTraceElement in $xaPnlLogDTO.getStackTraceElements())
								$stackTraceElement.toString()
							#end
					#end
					<br><br><br>
					#if( $xaPnlLogDTO.getFileName() )
						<br>
						Log file Name : $xaPnlLogDTO.getFileName() 
						<br>
					#end
	
		     	#end
			</p>
			<br>
			<br>
			Sincerely,
			<br>
			$commonTemplatingDTO.getCarrierName() 
			</html>
		]]></body>
	</content>
</message>