
BODY
{
    FONT-SIZE: 10px;
    BACKGROUND: url(../images/bg_clouds_no_cache.gif) #ffffff left top;
    MARGIN: 0px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	scrollbar-arrow-color:#ECC3C3;
	scrollbar-base-color:#F58E8E;
	scrollbar-shadow-color:#FF7171;
	scrollbar-face-color:#C10000;
	scrollbar-highlight-color:#EFDBDB;
	scrollbar-darkshadow-color:#AC6A6A;
	scrollbar-3d-light-color:#FFFFFF;
}

/* main pageloaging msg */
.mainPageLoader{display:none;z-index:9900; background:transparent;height:68px;position:absolute;top:50%;left:40%;width:192px}
.mainPageLoaderFreame{
	position:absolute;
	background:transparent;
	width:192px;
	height:68px;
}
#content-container
{
    BACKGROUND: url(../images/bg_gradiant_sub_no_cache.gif) repeat-x left top
}
#content
{
    PADDING-RIGHT: 10px;
    MARGIN-TOP: 0px;
    PADDING-LEFT: 10px;
    BACKGROUND: url(../images/subcontent_corner_no_cache.gif) #ffffff no-repeat left top;
    PADDING-BOTTOM: 15px;
    MARGIN-LEFT: 10px;
    PADDING-TOP: 20px
}
#toolBar
{
    PADDING-BOTTOM: 2px;
    BORDER-BOTTOM: #d03637 5px solid
	
}
#content H1
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: bottom;
    COLOR: #000000;
    PADDING-TOP: 0px
}

#content .postimagecenter
{
    MARGIN: 10px;
    MARGIN-LEFT: 50px;
}
#content CITE
{
    PADDING-RIGHT: 20px;
    BORDER-TOP: #ff6600 1px solid;
    DISPLAY: block;
    PADDING-LEFT: 20px;
    PADDING-BOTTOM: 4px;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #ff6600 1px solid
}
#tools-print IMG
{
    BACKGROUND: url(../images/tools_print_btn_no_cache.gif) no-repeat;
    WIDTH: 27px;
    HEIGHT:24px;  
    MARGIN-LEFT: 282px;
}
#content TD
{
    VERTICAL-ALIGN: top;
    BORDER-BOTTOM: #ccc 1px solid
}
#content TR
{
}

#content H2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #99292a
}
#content H3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #99292a
}
#content A
{
    COLOR: #000;
    TEXT-DECORATION: underline
}
.tablefont
{
	FONT-SIZE: 10px;    
    MARGIN: 0px;   
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#page-links
{
    BORDER-TOP: #ccc 1px solid;
    FONT-WEIGHT: bold;
    COLOR: #ff0000;
    TEXT-ALIGN: center
}
.spMsg{
	background-color:#ffffcf;
	border:1px solid;
	border-color:F3F376; 
}
