@charset "UTF-8";

.absolute-center {
  position : absolute;
  text-align: center;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  margin: auto;
}

.left-wide{
  float: left;
  width: 100%;
}

.right-wide{
  float: right;
  width: 100%;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none; 
  -webkit-user-drag: none;
}