//client specific styles - manually copied to here only for backup purposes
.LTR, .RTL{

    .ibe-typeahead .dropdown-menu .active a, .ibe-typeahead .dropdown-menu .active a:focus, .ibe-typeahead .dropdown-menu .active a:hover {
        background-color: #DFF1D6 !important;
        color: $primery_color;
    }
    .payment-confirmation .section .s-heading{
        color: $primery_color;
    }
    .rewards-login .heading{
        padding: 13px 15px 13px 30px !important
    }
    .rewards-login .tabbed-content #signin-content h3{
        margin-bottom: 10px;
    }
    .rewards-login.shown .heading .airline-logo, .rewards-login .heading .airline-logo{
        background-position: 0px 0px;
        top: -5px;
        position: relative;
    }
    .passenger-count-select .done-btn .done{
         background-color: $secondery_color;
    }
    .passenger-count-select .done-btn .done:hover{
         background-color: #02592e;
    }
    .modify-search .icon-close:hover{
        color: $primery_color;
    }
    .summary-drawer .drawer-desc .close-button:hover, .LTR .reservation-drawer .drawer-desc .close-button:hover {
        color: $primery_color;
    }
    .available-services{
        margin: 0px -15px;
    }
    .available-services .btn.red-btn.col-md-4{
        margin: 0px 15px 15px;
    }
    .available-services .btn.red-btn.col-md-4.col-md-offset-4{
        margin: auto;
    }
    .available-services .title{
        margin-bottom: 20px;
    }
    .modify-search .modif-search.modif-search-2{
        border-bottom: medium solid $primery_color;
    }
    .modal-box .modal-content .modal-header .close-btn:hover{
        color: $primery_color;
    }

    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li .mod-flight .icon-outbound-plane-small .path2:before {
        margin-left: -3em;
    }
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li .mod-flight .icon-outbound-plane-small .path1:before {
        color: rgba(145, 145, 145, 0.3);
    }
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li .mod-flight .icon-inbound-plane-small .path2:before {
        margin-left: -3em;
    }
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active {
        background-color: $primery_color;
    }
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active .mod-flight .icon-outbound-plane-small .path1:before,
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active .mod-flight .icon-inbound-plane-small .path1:before,
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active .mod-flight .icon-inbound-plane-small .path2:before,
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active .mod-flight .icon-outbound-plane-small .path2:before {
        color: #fff;
    }
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active:after {
        border-left: 15px solid $primery_color;
    }
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:hover,
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:focus {
        background-color: $primery_color;
    }
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:hover .mod-flight .icon-outbound-plane-small .path1:before,
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:focus .mod-flight .icon-outbound-plane-small .path1:before,
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:hover .mod-flight .icon-inbound-plane-small .path1:before,
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:focus .mod-flight .icon-inbound-plane-small .path1:before,
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:hover .mod-flight .icon-inbound-plane-small .path2:before,
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:focus .mod-flight .icon-inbound-plane-small .path2:before,
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:hover .mod-flight .icon-outbound-plane-small .path2:before,
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:focus .mod-flight .icon-outbound-plane-small .path2:before {
        color: #fff;
    }

    .flight-result-block .flight-options .flight-options-table .options-row .options-td.arrival-time{
        &.nextday-flag{
            vertical-align: bottom;
        }
    }
    .flight-result-block .flight-options .flight-options-table .options-row.header .right-section{
            .fare-type-1{
                background-color: lighten($primery_color, 0%) !important;
            }
            .fare-type-2{
                background-color: lighten($primery_color, 0%) !important;
            }
            .fare-type-3{
                background-color: lighten($primery_color, 0%) !important;
            }
            .fare-type-4{
                background-color: lighten($primery_color, 0%) !important;
            }

            .fare-type-5{
                background-color: lighten($primery_color, 0%) !important;
            }
            .fare-type-6{
                background-color: lighten($primery_color, 0%) !important;
            }
    }
    .payment-details.fullWidth .right-content .amount{
        margin-top:19px !important;
    }
    .content-header .page-title h1 a.skip:hover, .content-header .page-title h1 a.skip:focus, .content-header .page-title h1 a.skip.active{
        color: $primery_color;
    }
    .content-body .sub-title a i.fa, .content-body .footer-title a i.fa{
        color: $primery_color;
    }
    .content-body .sub-title a:hover, .content-body .sub-title a:focus, .content-body .footer-title a:hover, .content-body .footer-title a:focus{
        color: $primery_color;
    }
    .canceled-segment{
    color: #F00 !important;
    }

    header{
        background-color: #DFF1D6 !important;
    }

    header ul li.current {
        background-color: $secondery_color !important;
    }

    .cc-link .icon {
        height: 20px !important;
        width: 32px;
        background-size: 30px !important;;
    }
    .modify-search .btn-wrap #currency .cc-link {
        padding: 5px 5px;
    }
    .curruny-wrapper ul li .flag {
        height: 20px !important;
        width: 32px !important;
        background-size: 32px !important;
    }
    .curruny-wrapper ul li .currancy-type{
        padding: 1px 5px 0;
    }
    .extras-footer a i{
        color: #02592e;
    }
    .extras-footer a:hover span, .extras-footer a:focus span {
        color: #02592e !important;
    }
    .dash-res-sum .reservation-extras ul li:hover .data span a{
      top: 40px; 
      cursor: pointer;
    }
    .dashboard .my-reservations .my-reservations-table .mrt-row .flight h5{
        color: #02592e;
    }
    .dashboard .my-reservations > h2{
        color: #02592e;
    }
    .dashboard .user-profile-dropdown .dropdown-content ul li a:hover{
        color: #02592e;
        cursor: pointer;
    }
    .dash-res-sum .reservation-extras ul li .data span a i{
        color: #02592e;
    }
    .dashboard.modify-search .ibe-typeahead ul.dropdown-menu li a{
        color: #333333;
    }
    .dashboard.modify-search .ibe-typeahead ul.dropdown-menu li.active a{
        color: #02592e !important;
    }
}

.RTL 
{
    .cc-link .icon {
        height: 19px !important;

    }
    header ul li.completed:hover {
        cursor: pointer;
        background-color: #2E7917 !important;
    }
    header ul li.completed:hover a {
        color: #ffffff !important;
    }
    .modify-search .btn-wrap #modify-search {
        padding-top: 6px !important;
    }
    .accelAero-slide .selected-date .day-fare{
        color: #02592e !important;
    }
    .accelAero-slide .selected-date .animated{
        border-bottom: 4px solid #02592e;
    }
    .flight-result-block .flight-options .flight-options-table .options-row .left-section {
        width: 75% !important;
    }
    .flight-result-block .flight-options .flight-options-table .options-row .right-section{
        width: 25% !important;
    }
    .flight-result-block .flight-options .flight-stop-wrapper .flight-icon {
        margin-right: 0!important;
        float: right;
    }
    .flight-result-block .flight-options .flight-stop-wrapper .flight-stop {
        float: left;
    }
    .flight-result-block .flight-options .flight-stop-wrapper .flight-icon{
        color: #02592e !important;
    }
    .fare-radio [type=radio]:checked+label:after{
        color: #02592e !important;
    }
    .flight-result-block .flight-options .flight-options-table .options-row .right-section .options-td {
        padding-bottom: 4px;
    }
    .flight-result-block .flight-options .flight-options-table .options-row.body a .important-info{
        color: #02592e !important;
        border-bottom: 1px solid #02592e !important;
    }
    .flight-result-block .flight-options .flight-options-table .options-row.body a .important-info i, .flight-result-block .flight-options .flight-options-table .options-row.body a .important-info span {
        color: #02592e !important;
    }
    .select-passenger .passengers-list ul li.active-pax {
        background-color: #2E7917 !important;
        color: #fff;
    }
    .select-passenger .passengers-list ul li.active-pax:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        margin-top: -1px;
        border-top: 23px solid transparent;
        border-bottom: 23px solid transparent;
        border-right: 15px solid #2E7917 !important;
        border-left: none;
        z-index: 1;
    }
    .rewards-login .heading .airline-logo {
        width: 60%;
        float: left;
        height: 45px;
        background-image: url(../images/main_logo-colored.png);
        background-repeat: no-repeat;
        background-position: center left;
    }
    .rewards-login.shown .heading .airline-logo {
        width: 60%;
        float: left;
        height: 45px;
        background-image: url(../images/main_logo.png);
        background-repeat: no-repeat;
        background-position: center left;
    }
    .rewards-login .tabbed-content {
        background-color: #DFF1D6;
    }
    .rewards-login .heading {
        padding: 13px 30px 13px 15px !important;
    }
    .dropdown-menu > li > a {
        text-align: right !important;
    }
    .summary-drawer .drawer-bar, .reservation-drawer .drawer-bar{
            border-top: 3px solid #02592e !important;
    }
    .select-extras .thumb-block .options .button.opt-btn {
        background-color: #2E7917;
    }
    .meals-search-box .search-box form input[type=search]{
        border-right: 1px solid #EBEBEB;
        text-align: right;
    }
    .meals-search-box .search-box.col-md-9{
        width: 65%;
    } 
    .meals-search-box .sort.col-md-3{
        width: 35%;
    } 
    .meals-search-box .sort .btn-group.dropdown .dropdown-toggle{
        text-align: center;
    }
    .meal-block .options button:hover i, .meal-block .options button:focus i,  .meal-block .options button.active i {
        background-color: #02592e !important;
    }
    .meal-block .options button.items-added {
        background-color: #02592e !important;
    }
    .meal-block .options .dropdown-content ul li form button:hover, .meal-block .options .dropdown-content ul li form button:focus, .meal-block .options .dropdown-content ul li form button.active, .meal-block .options .dropdown-content ul li form a:hover, .meal-block .options .dropdown-content ul li form a:focus, .meal-block .options .dropdown-content ul li form a.active, .meal-block .options .dropdown-content ol li form button:hover,  .meal-block .options .dropdown-content ol li form button:focus,  .meal-block .options .dropdown-content ol li form button.active, .meal-block .options .dropdown-content ol li form a:hover, .meal-block .options .dropdown-content ol li form a:focus,  .meal-block .options .dropdown-content ol li form a.active{
        color: #2E7917 !important;
    } 
    .meal-block .options .dropdown-content ul li .check label{
        direction: ltr;
    }
    .sidebar-widget .widget-content .w-section .radio-section .item .sub-section .price {
        text-align: left !important;
    }
    .sidebar-widget .widget-content .w-section .radio-section .item .sub-section .section-title .text {
        text-align: right;
    }
    .extras-footer a:hover span, .extras-footer a:focus span, .extras-footer a i {
        color: #02592e !important;
    }
    .available-services .ibe-date-picker .input-group .input-group-btn .btn{
        border-left: 1px solid #1a1a1a !important;
        border-left-color: #1a1a1a !important;
    }
    .available-services .ibe-date-picker .input-group .form-control {
        border-right: 1px solid #000;
        border-right-color: #000 !important;
    }
    .available-services .ibe-timepicker .btn-link {
        color: #02592e;
    }
    .available-services .ibe-select-dropdown {
        border-radius: 0;
        -webkit-appearance: none;
        position: relative;
    }
    .available-services .ibe-select-dropdown-label:after {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        content: "\f078";
        left: 25px;
        top: 10px;
        font-size: 17px;
        pointer-events: none;
    }
    .ancillary-details-payment-summary .table thead tr th{
        text-align: right;
    }
    .pad-r-0{
        padding-right: 15px;
        padding-left: 0px;
    }
    &.fa .payment-details.fullWidth .right-content .amount {
        margin-top: 30px !important;
    }
    .insurance .modal-box .modal-content .modal-body .modal-confirm{
      float: right;
    }
    .insurance .modal-box .modal-content{
      min-height: 360px;
    }
    .sidebar-widget .widget-content .w-section .radio-section .item .sub-section ul li:hover .action {
        right: 25px;
    }
    .payment-confirmation .promotion .modal-content .hotel-car-popup .promo-item .item-desc .list div i{
      padding-left: 5px;
    }
    .payment-confirmation .promotion .modal-content .hotel-car-popup .promo-item .item-img {
        margin-right: 0px;
        margin-left: 20px;
    }
    .payment-confirmation .thanks .fa {
        margin-right: 0px;
        margin-left: 10px;
    }
    .payment-confirmation .section.booking-details .content, .payment-confirmation .section.your-itinerary .content, .payment-confirmation .section.passenger-information .content, .payment-confirmation .section.contact-info .content{
       margin: 0px 15px;
    }
    .dash-res-sum h2 {
        float: right;
    }
    .dash-res-sum .reservation-extras ul li{
        float: right;
    }
    .flight-summary .flight-table .ft-row .col.flight-no label:after{
        left: 0px;
        right: unset;
    }
    .dash-mod-flights .modify-flights-table .flights-head .flights-head-right, .dash-mod-flights .modify-flights-table .flights-head .flights-head-left{
    float: right;
    }
    .dash-mod-flights .modify-flights-table .left-sidebar, .dash-mod-flights .modify-flights-table .right-content{
        float: right;
    }
    .dash-mod-flights .modify-flights-table .left-sidebar ul li.active:after{
        border-right: 15px solid $primery_color;
        border-left: none !important;
        left: -15px;
        right: unset;
    }
    .dash-mod-flights .modify-flights-table .right-content .flight-row .select-flight{
        border-left: 1px solid #e2e2e2;

    }
    .dash-mod-flights .modify-flights-table .ibe-date-picker .input-group .input-group-btn .btn{
    border-left-color: gray !important;
    }
    .dash-mod-flights .modify-flights-table .ibe-date-picker .input-group .form-control {
        border-right-color: gray !important;
    }
    .dash-flights.flight-result-block .flight-date {
        padding: 5px 15px;
        border-bottom: 1px #e8e8e8 solid;
        border-left: 1px #e8e8e8 solid;
        font-size: 14px;
        font-weight: 600;
    }
    .summary-drawer .drawer-desc a,.reservation-drawer .drawer-desc a{
        float: none;
    }
    .ancillary-details-payment-summary h2{
        float: right;
    }
    .summary-drawer .drawer-bar .drawer-icon.icon-plane_shape_L, .summary-drawer .drawer-bar .drawer-icon.icon-plane_shape_R{
        -moz-transform: scaleX(-1);    /* Gecko */
        -o-transform: scaleX(-1);      /* Opera */
        -webkit-transform: scaleX(-1); /* Webkit */
        transform: scaleX(-1);         /* Standard */
        filter: FlipH;  
    }
    .reservation-drawer .drawer-bar .drawer-icon.icon-plane_shape_L, .reservation-drawer .drawer-bar .drawer-icon.icon-plane_shape_R{
        -moz-transform: scaleX(-1);    /* Gecko */
        -o-transform: scaleX(-1);      /* Opera */
        -webkit-transform: scaleX(-1); /* Webkit */
        transform: scaleX(-1);         /* Standard */
        filter: FlipH;  
    }
    
    #mod-search .modif-search .ibe-date-picker .dropdown-menu .btn i{
       -moz-transform: scaleX(-1);    /* Gecko */
        -o-transform: scaleX(-1);      /* Opera */
        -webkit-transform: scaleX(-1); /* Webkit */
        transform: scaleX(-1);         /* Standard */
        filter: FlipH;  
    }
    .user-details .other-details{
        clear: both;
    }
    .sidebar-widget .widget-header{
        background-color: #038b48 !important;
    }
    .select-sevices .services-selection .left-section .data-block ul li.active:after {
        border-right: 15px solid #038b48 !important;
    }
    .services-selection .left-section .data-block ul li.active {
        background-color: #038b48 !important;
    }
    .services-selection .right-section{
        margin-right: -15px;
        margin-left: 0px;
    }
}