/* New Styles Added */
body{
font-family:tahoma;
font-size:11px;
}

div.sexy {
	width: 78px
}

div.sexy input {
	height: 17px;
	width: 60px
}
div.sexy div.icon{left: 60px}
div.sexy div.list-wrapper{width: 120px}
.ms2side__div select {height: auto;width: 113px}
.bottomTable input{width: 60px}
.dateTable input[type='text']{width: 80px}

#tabs { height: 165px;padding: 0px;margin-top:0} 
#tabs1 .tabs-bottom .ui-tabs-nav li { margin-top: -1px !important; margin-bottom: 1px! important; border-top: none; border-bottom-width: 1px; }
#tabs1 .ui-tabs-selected { margin-top: -3px ! important; }
#tabs1 { margin-top: 1px; }
#tabs1 li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
#add_tab { cursor: pointer; }
#tabs1 div.ui-tabs-panel{padding: 6px;border: 1px solid #AAAAAA;border-top: 0px;background: #fff;padding-bottom: 1px}
#tabs1 .ui-tabs-nav{height: 22px;background: transparent;border: 0px;}

.quickTable #tabs2 {height: auto;padding: 0px;margin:5px;margin-top: 10px} 
.quickTable #tabs2 ul{ border: 0px;border-bottom: 1px solid #aaa;background: transparent;}
.quickTable #tabs2 .ui-tabs-panel{height: auto;padding: 5px;border: 1px solid #AAA; border-top: 0px;}

.treeview ul{background-color: transparent! important;}
.treeview a.selected {background-color:transparent;color: #333}
.treeview a.selected:hover{color: #ff9a07}
.mask{position: absolute;display: none;z-index: 10000}

.ui-tabs-panel{padding: 1px; height: 315px;overflow-y: hidden;padding: 5px}

.ui-datepicker{z-index: 10000}
/*
.bDetails table{border: 1px solid #999;}

 .bDetails table td, .bDetails table th{border: 1px solid #999;text-align: center;} 
*/
.f_midclass{background:url("../images/midFare_no_cache.png") repeat-x scroll 0 0;height: 21px}
.leftFare-Coner{background:url("../images/left_coner_fare_no_cache.png") no-repeat scroll 0 0;width: 8px;height: 21px}
.rightFare-Coner{background:url("../images/right_coner_fare_no_cache.png") no-repeat scroll 0 0;width: 8px;height: 21px}

.ui-slider .ui-slider-handle{width: 7px;height: 7px}
.ui-slider-horizontal{height:5px; margin: 0px 0}
.cl{background: transparent;}


.Sales .ui-widget-header{background: #ff4810}
.Departure .ui-widget-header{background: #109618}
.Return .ui-widget-header{background: #ffb347}

.lbl{font-weight: bold;}
.fares{background-color: transparent; margin: 0px;cursor: pointer;border:1px solid transparent;position: relative;}
.fares *{cursor: pointer;color: #333;}
.fares p{background: #d4e1f1;color: #333;}

.ui-widget-content{border: none;background: transparent;}
.addProperty table td,.addAuto table td{background: #fff;border: 1px solid #777;border-bottom:0px;border-right: 0px;padding: 2px }
.selected {border:1px solid #ffe3aa; background:url("../themes/default/images/jquery/ui-bg_glass_55_fbf9ee_1x400_no_cache.png") repeat-x;}

.lastProp{display: block;}
.prop{display: none;}
.singleProp{border: 1px solid #777;border-bottom: 0;padding: 4px 0;background: #f4f4f7;border-right: 0}
.singleProp div.icon{float: left;width: 15px;height: 12px;border: 0px; background:url("../themes/default/images/treeview-default_no_cache.gif") no-repeat scroll -32px -70px transparent;}
.collepse div.icon{background-position:  -64px -25px  }
.ui-tabs .ui-tabs-nav li{margin:-3px 0.2em -1px 0;}

.bDetails .tabs-bottom .ui-tabs-nav li
{
 border: 1px solid #AAAAAA! important;
 margin-top: -1px !important;
 margin-bottom: 1px;

 }
 .bDetails .tabs-bottom li.ui-tabs-selected{ margin-top: -1px ! important;border-top: 0! important }

.tabs-bottom { position: relative; } 
.tabs-bottom .ui-tabs-panel { height: 124px; overflow: auto;padding: 5px } 
.tabs-bottom .ui-tabs-nav { position: absolute !important; left: 0; bottom: 0; right:0; padding: 0 0.2em 3px 0; } 

.bDetails .ui-tabs .ui-tabs-nav{height: 26px;background: transparent;border: 0px; border-top: 1px solid #AAAAAA;margin-right: 10px}

.bDetails .ui-tabs-panel{border: 1px solid #AAAAAA;border-bottom: 0px;background: #fff;width: 510px}

.bDetails .ui-tabs .ui-tabs-nav li{margin:-3px 0.2em -1px 2px;}


.fareScaler {border-left: 0px solid #99b4d1;}
.monthLineClass{float:left;border:1px solid #777;border-right: 0;height: 18px;background: #99b4d1;border-left: 1px solid #fff;}
.lastMonth{border-right:1px solid #777;height: 18px}
.fareValborder{border:1px solid #99b4d1;border-top: 0;border-left: 0;}
.fareScalborder{background: url("../images/y-axis_no_cache.gif") repeat-y scroll 97% 5px;border:1px solid #99b4d1;border-top: 0;border-left: 0;text-align: right;vertical-align: top;padding-right: 10px;}

.icons{float: left;width: 15px;height: 15px;display: block;}
.menu{background:url("../themes/default/images/jquery/ui-icons_222222_256x240_no_cache.png") scroll 0 -210px no-repeat;}
.copy{background:url("../themes/default/images/jquery/ui-icons_222222_256x240_no_cache.png") scroll -176px -130px no-repeat;}
.save{background:url("../themes/default/images/jquery/ui-icons_222222_256x240_no_cache.png")scroll -97px -114px no-repeat;}
.buttonSet{background: #e4e4e4;border: 1px solid #888;z-index: 9999}

.showFares{color: #000}
.ui-corner-all, .ui-corner-bottom, .ui-corner-top{-moz-border-radius:0px;}
#treeView{background-color: #e5e7f5;height: 310px;overflow-y:auto;border: 1px solid #8088be;}
.bSearch{/*width: 160px*/}
.bSearch, .bDetails{padding: 1px 4px 8px; background-color: #bcd1ed;height: 177px;}
#tableBanchmark{background-color: #bcd1ed;border: 1px solid #666}

.cabinClass{}
.cabinClass span{background: #fff;margin: 0 0px;border: 1px solid #8a8ff2;border-top: 0px;}
.cabinClass span.select{border: 1px solid #8a8ff2;border-top: 0px}
.cabinClass span a{padding: 2px 10px;outline: none;}
.cabinClass span.select a{background: #8a8ff2;padding: 1px 10px;}
.cabinClass span a:hover{background: #8a8ff2;padding: 1px 10px;}

.ui-datepicker{background: #fff}

.newFormHeadr{background: url("../images/newTitlebg_no_cache.gif") repeat-x;}

._farelabel{position: absolute;z-index: 10000;}
._farelabel table{border-collapse: collapse;width:auto;border: 0;}
._farelabel table td{text-align: center;}

.quickTable table{background: #fff;border:1px solid #666}
.recordItems td{background: #7B7D78;color: #fff}
.recordItems td hr{margin: 1px}
.recordItems input{margin: 0px}
.radios{}
.radios div{background: #fff;padding: 2px;margin: 1px}
.recordbtn{background: url("../images/record_no_cache.jpg") no-repeat;width: 23px;height: 23px;outline: none;}
.recordbtn-on{background: url("../images/record-on_no_cache.jpg") no-repeat;width: 23px;height: 23px;outline: none;}