 Body {
	background : #EEEEEE; 
	margin :0px 0px 0px 0px;
}
 .TabBGColor{
	background : #F4F4F4; 
	margin :0px 0px 0px 0px;
}
a
{
	text-decoration:none;
	}
.BannerTopLine{
	background-color:#AEAEAE;
}
.BannerBackGround{
	background-color:#ECECEC;
}
.BannerBorderLeft
{
	background-image: url('../images/left_shadow_no_cache.gif');
	}
.BannerBorderRight
{
	background-image: url('../images/right_shadow_no_cache.gif');
	}	
.PageBorder
{
	background-color:#fafafa;
	}
.PageBackGround
{
	background-color:#ffffff;
	}
.PageBottomColor
{
	background-color:#A8A8A8;
	}	
.PageBottomShadow
{
	background-color:#9D9D9D;
	}	
	
font{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: black; 
}
.fntOptMancls{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: blue!important; 
}
.fntOptManopn{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: #FF6666!important; 
}
.fntOptSyscls{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: #CC00FF!important; 
}
.fntOptLwrStdcls{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: #F49803!important; 
}
.fntOptGroupcls{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: #01810E!important; 
}
.fntOptSysopn{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: #A52A2A!important; 
}
.fntOptDef{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: black!important; 
}

.fontPGInfo{
	left:auto;
	color: white; 
}	

.fntBold{
	font-weight:bold;
}
.fntDefault{
	left:auto;
	color: black; 
}
.fntTab{
	left:auto;
	color: black; 
}
.fntSTab{
	left:auto;
	color: black; 
	font-weight:bold;
}
.fntMenu{
	left:auto;
	color: black; 
	font-weight:bold
}
.fntMedium{
	font-size: 14px;
}

.fntDefaultWhite{
	color:white;
}
.Header{
	font-family:Arial;
	font-size:11pt;
	text-align:left;
	left:auto;
	text-transform: capitalize;
	color: black; 
	font-weight: bold;
}

.fntSmall{
	font-size:9px;
}
.fntLarge{
	font-size: 17px;
}
.fontCapitalize{
	text-transform: capitalize;
}
.SubLink{
	text-align:left;
	left:auto;
	color: #6E6E6E;
	font-weight: bold;
	cursor: text; 
}
.SubLinkSelected{
	background-color:#FFBBBB;
	left:auto;
	color: #925656; 
	font-weight: bold;
}
.FormHeadBackGround{
	/*background-color:#678482;*/
	background-image:url('../images/M026_no_cache.gif');
	background-repeat:repeat-x;
}
.FormBackGround{
	background-color:#ECECEC;
}
.FormHeader{
	left:auto;
	color: #FFFFFF;
	font-weight: bold;
}

select
{
	font-family: tahoma;
	font-size: 11px;
	height: 17px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
select:disabled {
   color: graytext;
}
	
input
{
	font-family: tahoma;
	font-size: 11px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
textarea{
	font-family: tahoma;
	font-size: 11px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
}
.InputBorder
{
	font-family: tahoma;
	font-size: 11px;
	color: black;
	height:19px;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}		
.NoBorder
{
	font-family: tahoma;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: Transparent;
	border-color:Transparent;
	border-style:none;
	}		
.LineColor
{
	color:gray;
	}	
.Button
{
	border:1px solid #B2B2B2; font-family:tahoma;
	font-size:11px;
	text-align:center;
	text-transform: capitalize;
	font-weight: bold;
	color: black;
	background-image: url('../images/AA111_no_cache.jpg');
	height: 23px;
	width:80px;
	cursor:pointer;
	}
input.Button:disabled{
	color: Gray;
}
.ButtonDisabled
{
	border:1px solid #B2B2B2; font-family:tahoma;
	font-size:11px;
	text-align:center;
	text-transform: capitalize;
	font-weight: bold;
	color: Gray;
	background-image: url('../images/AA111_no_cache.jpg');
	height: 23px;
	width:80px;
	cursor:pointer;
	}
.ButtonLong
{
	border:1px solid #B2B2B2; font-family:tahoma;
	font-size:11px;
	text-align:center;
	text-transform: capitalize;
	font-weight: bold;
	color: #0C4F00;
	background-image: url('../images/AA111_no_cache.jpg');
	height: 23px;
	cursor:pointer;
	}
.GridHeader
{
	background-color:#D1D1D1;
	height:20px;
	}	
.Grid
{
	background-color:#ECECEC;
	border-color:#D7E4ED;
}
.GridItems
{
	background-color:#FBFBFB;
	height:20px;
	}
.StatsBar2
{
	background-color:#A8A8A8;
	BORDER-RIGHT: thin inset; 
	BORDER-TOP: thin inset; 
	BORDER-LEFT: thin inset; 
	BORDER-BOTTOM: thin inset;
	height:20px;
	}		
.fntHilight{
	color:yellow;
}	
.mandatory{
	color:red;
}
.Error{
	color:red;
}
.StatsBar
{
	background-color:#ECECEC;
	BORDER-RIGHT: thin inset; 
	BORDER-TOP: thin inset; 
	BORDER-LEFT: thin inset; 
	BORDER-BOTTOM: thin inset;
	height:20px;
	}		
.StatsBarDef
{
	background-color:#A8A8A8;
	border: none;
	height:20px;
	}			
	
/* menu Styles */

.menuTopBar {
  background-color: transparent;
  border: 2px thin;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
  padding: 1px 4px;
}
	
.menuBar {
  background-color: #6A6A6A;
  border: 2px solid;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
  padding: 1px 4px;
}

.menuPad {
  background-color: #DBDBDB;
  border: 2px solid;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
  padding:4px;
}

.menuItem {
  background-color: transparent;
  border: 1px solid #6A6A6A;
  color: #000000;
  cursor: default;
  font-weight: bold;
  padding: 2px 6px 2px 6px;
}

.menuTopItem {
  background-color: transparent;
  border: 1px solid;
  border-top-color: #696969;
  border-left-color:#696969;
  border-right-color:#696969; 
  border-bottom-color: #777777;
  color: #000000;
  cursor: default;
  font-weight: bold;
  padding: 2px 6px 2px 6px;
}

.menuItemOn {
  background-color: transparent;
  border: 1px solid #DBDBDB;
  color: #000000;
  cursor: default;
  padding: 2px 6px 2px 6px;
  border-color: #FFFFFF #C1CDCD #C1CDCD #FFFFFF;
}
.menuItemDown {
  background-color: transparent;
  border: 1px solid #DBDBDB;
  color: #000000;
  cursor: default;
  padding: 2px 6px 2px 6px;
  margin-top:1px; margin-left:1px;
  background-color: transparent;
  border-color: #704020 #FFFFFF #FFFFFF #704020;
}

.menuItemSub {
  background-color: transparent;
  border: 1px solid #DBDBDB;
  color: #000000;
  cursor: default;
  font-weight: bold;
  padding: 2px 6px 2px 6px;
  border: 1px solid #494949;
  background-color: white;
}

.holderSpace {
  border: 1px solid #DBDBDB;
  color: #DBDBDB;
  font-weight: bold;
  padding: 2px 6px 2px 6px;
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}

.menuFont {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}
.menuFontOff {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: white;
}
.menuFontOn {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #143F3E;
}

.menuFontOffBold {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: white;
}
.menuFontOnBold {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: white;
}
.menuInfo 
{
	padding: 2px 6px 2px 6px; 
	}

.tagOff 
{
	width:8px; 
	height:12px; 
	float:right; 
	background:url('../images/AA124_no_cache.gif') no-repeat bottom; 
	}
.tagOn 
{
	width:8px; 
	height:12px; 
	float:right; 
	background:url('../images/AA125_no_cache.gif') no-repeat bottom; 
	}

.separatorT 
{
	background-color:#808080; height:1px; margin-top:3px; 
	}
.separatorB 
{
	background-color:#FFFFFF; height:1px; margin-bottom:3px; 
	}
.fltStatus01{
	background-color: #ECECEC;
}
.fltStatus02{
	background-color: gray;
}
.fltStatus03{
	background-color: red;
}
.fltStatus04{
	background-color: green;
}
.bcStatus01{
	background-color: blue;
}
.bcStatus02{
	background-color: #FF6666;
}
.bcStatus03{
	background-color: #CC00FF;
}
.bcStatus04{
	background-color: #A52A2A;
}
.bcStatus05{
	background-color: #F49803;
}
.bcStatus06{
	background-color: #01810E;
}
.ondFareMaster{
	background-color: #FF6666;
}
.ondFareLinked{
	background-color: #CC00FF;
}
.rightText{
	text-align: right;
}
.tabBGColor{
	background-color: white;
}
.overlay{
		background-color:#5A5C63;
		opacity: .2;
		filter: alpha(opacity=30);
		border:1px solid #F3F376;
}
select.pos_left1
{
	position:relative;
	left:20px
}
select.pos_left2
{
	position:relative;
	left:41px
}
select.pos_left3
{
	position:relative;
	left:90px
}
.password {
	font-family:tahoma;
	font-size : 10px;
	width:120px;
	}
.pstrength-info{
	font-family:tahoma;
	font-weight: bold;
	font-size : 10px;
	}	
	
.pstrength-minchar {
	font-family:tahoma;
	font-size : 10px;
}	
.GridItemRow
{
	border-width:1px;  
	height:18px; 
	border-style:solid; 
	border-color:white gray #D4D0C8 white;
	}

.GridItem
{
	background-color:white;
	}

.GridItemHover
{
	background-color:#ECECEC;
	border-width:1px;  
	border-style:solid; 
	border-color:white gray #D4D0C8 white;
	cursor:pointer;
	}
	
	.spMsg{
		background-color:#ffffcf;
		opacity: .8;
		filter: alpha(opacity=80);
		border:1px solid #F3F376;
		padding:2px;
		font-size:11px;
		-moz-border-radius:6px;	/* Rounded edges in Firefox */
		font-family: "tahoma", "Lucida Sans Unicode", Arial, sans-serif; 
}

.fontSm{
	font-family:tahoma;
	font-size:9px;
	left:auto;
	color: black; 
}

.inputSm
{
	font-family: tahoma;
	text-align:center;
	font-size: 10px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}

.ui-corner-tl { -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; }
.ui-corner-tr { -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px; }
.ui-corner-br { -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px; }
.ui-corner-top { -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px; -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius:0px; }
.ui-corner-right {  -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px; }
.ui-corner-left { -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px; }
.ui-corner-all { -moz-border-radius: 0px; -webkit-border-radius: 0px; }
.ui-dialog-titlebar{height: 17px;padding: 3px 8px 0px 8px}
.ui-border-topDis{border-top:0px}
.ui-border-bottomDis{border-bottom:0px}
.admin-panel{margin-top: 4px;padding: .0em;width:932px}
 .admin-panel-smaller{margin-top: 3px;padding: .0em; margin-left:3px; margin-right:3px; width:919px}
.panel-inWindow {width:98%;margin: 5px;}
.admin-inner-panel{text-align: left;padding:.5em 1em; background: #ECECEC}
.ui-tabs .ui-tabs-panel{padding: 1em 1.4em 0em 1.4em}
.admin-panel .NoBorder{height: auto;border: none}
.ui-border-leftDis{border-left: 0px! important}
.ui-border-rightDis{border-right: 0px! important}
.fare-rule-level td{padding:2px }
.adult-class{text-align: center}
.child-class{background-color: #d5d5d5;text-align: center}
.Inf-class{background-color: #c4c4c4;text-align: center}
.hight-light td{border:1px solid #ff0000}
/* jquery overwite */
.ui-widget-header {
  background: url("../images/M026_no_cache.gif") repeat-x scroll 0% 0% #8a8a8a;
  border: 1px solid #AAAAAA;
  color: #ffffff;
  font-family: tahoma;
  font-size:11px;
  font-weight: bold;
}

.ui-state-default, .ui-widget-content .ui-state-default {
  background: #FFFFFF;
  border: 1px solid #D3D3D3;
  color: #555555;
  font-weight: normal;
  outline: medium none;
}

.ui-state-active, .ui-widget-content .ui-state-active {
  background: none repeat scroll 0 0 #ECECEC;
  border: 1px solid #AAAAAA;
  color: #212121;
  font-weight: bold;
  outline: medium none;
}

.ui-tabs .ui-tabs-panel {
  background: none repeat scroll 0 0 #ECECEC;
  border-width: 0;
  display: block;
}

.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
  background: url("../images/jquery/ui-bg_glass_75_e6e6e6_1x400_no_cache.png") repeat-x scroll 50% 50% #E6E6E6;
  border-bottom: 0 none;
  border-left: 0 none;
  border-top: 0 none;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}

.ui-jqgrid .ui-jqgrid-hdiv {
  background: url("../images/jquery/ui-bg_glass_75_e6e6e6_1x400_no_cache.png") repeat-x scroll 50% 50% #E6E6E6;
  border-left: 0 none !important;
  border-right: 0 none !important;
  border-top: 0 none !important;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.ui-jqgrid .ui-jqgrid-titlebar{
	display: none;
}

.myPopup{
	border:1px solid #888;
	border-radius: 8px;
	background:#fff;
}
.myPopup .headerCont{
	background:#888;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding: 4px 0px;
}
.myPopup .headerCont table{
	width:97%;
	margin:0 auto;
}
.myPopup .bodyitems{
	padding:5px;
	overflow-y:auto;
}
.myPopup .footeritems{
	padding:5px;
}
.ui-button-text{display:none}