a{
	outline: none;
}

a:active{
	outline: none;
}

#sideBar, #sideBarMsg{
	text-align:left;
}
#sideBarMsg{
	height:385px
}
#sideBarMsg h2{
	color:#FFFFFF;
	font-size:110%;
	font-family:tahoma;
	margin:10px 10px 10px 10px;
	font-weight:bold !important;
}

#sideBarMsg h3{
	color:#FFFFFF;
	font-size:100%;
	font-family:tahoma;
	margin:1px 10px 0px 10px;
	font-weight:bold;
}

#sideBarMsg ul{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border:0! important;
}

#sideBarMsg li{
	margin:2px 0px;
	padding:2px 0px;
	list-style-type:none;
	display:block;
	font-family:verdana;
	background-color:black;
	width:100%;
	color:#FFFFFF;
	font-weight: 500;
	border:0! important;
}

#sideBarMsg li a{
	width:100%;
}

#sideBarMsg li a:link,
#sideBarMsg li a:visited{
	color:#FFFFFF;
	font-family:verdana;
	font-size:100%;
	text-decoration:none;
	display:block;
	margin:0px 0px 0px 0px;
	padding:0px;
	width:100%;
}

#sideBarMsg li a:hover{
	color:#FFFFFF;
	text-decoration:underline;
}

#sideBar{
	position: absolute;
	width: auto;
	height: auto;
	top: 100px;
	left:0px;
	background-image:url(../../images/dashboard/background-left_no_cache.gif);
	background-position:top right;
	background-repeat:repeat-y;
}

#sideBarTab{
	float:left;
	height:137px;
	width:28px;
}

#sideBarTab img{
	border:0px solid #FFFFFF;
}

#sideBarContents{
	float:left;
	overflow-x:hidden !important;
	overflow-y:auto;
	width:300px;
	height:450px;
	font-size:85%;
}

#sideBarContentsInner{
	width:200px;
}
a.appItem div{
	border:1px solid transparent;
	height:30px
}

a.appItem:hover div{
	background:#524545;
	border:1px solid #fff;
	border-radius: 5px 5px 5px 5px;
}
a.appItem, a.appItem label{
	text-decoration:none;
}
#sideBarContentsInner .digital li {
	color:#fff! important;
}
.wrapdigital{
	border:1px solid #e4e4e4;
	text-align:center;
}
.wrapanalog{
	border:1px solid #e4e4e4;
	float:left;
	width:125px;
	text-align:center;
	margin:1px;
}
.clkLabel{
	padding:2px;
	background:#e4e4e4;
	white-space: nowrap;
	overflow:hidden;
}
.allClocks{
	width:260px;
	padding:2px;
	overflow-y:auto;
	overflow-x:hidden;
	height:300px;
	border-top:1px solid #fff;
}
.digital li{
	background :none repeat scroll 0 0 transparent! important;
}
.clkLabel label{
	color:#ff0000;
	font-size:14px;
}
#wc{
	cursor:pointer;
}
#tabsDB, #tabsDB .ui-tabs-nav {
	border:0px;
	background :none repeat scroll 0 0 transparent! important;
	padding:0px
}
#tabsDB .ui-tabs-nav {
	border-bottom:1px solid #e4e4e4! important;
}
#tabsDB ul{
	border:0px;
	border-radius:0px;
}
#tabsDB .ui-tabs-nav li{
	border-bottom:1px solid #e4e4e4;
	background :#524545;
}
#tabsDB .ui-tabs-nav li a{
	color:#ffffff;
	padding:0.2em 0.5em;
}
#tabsDB .ui-tabs-nav li.ui-state-hover{
	border:1px solid #fff;
}
#tabsDB .ui-tabs-nav li.ui-state-active{
	background :#363636;
	border:1px solid #e4e4e4;
}
#spnToolbar, #spnDashboard, #spnAnci{
	border:1px solid #e4e4e4;
	border-top:0px;
	padding:10px 0px;
}
.appItemLabel{
	font-size:13px;
	color:#FFF;
	text-transform:capitalize;
	text-align:left;
	overflow:hidden;
	text-decoration:none! important;
}

.CalendarGridItemInnerRow
{
    height:10px;
    text-align:right;
}
.CalendarGridItemRow
{
    border-width:1px;
    height:80px;
    width:127px;
    border-style:solid;
    border-color:white gray #D4D0C8 white;
    text-align:right;
}
.CalendarGridItemRowDisabled
{
    border-width:1px;
    height:80px;
    width:127px;
    border-style:solid;
    border-color:white gray #D4D0C8 white;
    text-align:right;
    background: #ccc;
}
.CalendarGridItemHead
{
    border-width:1px;
    height:20px;
    width:127px;
    border-style:solid;
    border-color:white gray #D4D0C8 white;
    text-align:center;
}

