<div class="off-canvas-wrapper" ng-controller="ContactPassengerCtrl as contact">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas-content" data-off-canvas-content>
            <form name="contactForm">

                <div class="row">
                    <fieldset class="small-12 columns">
                        <label ng-show="contact.selectedContactName">
                            <input type="checkbox"
                                   ng-checked="contact.passengerAsContactPerson"
                                   ng-click="contact.passengerAsContact()">
                            {{contact.selectedContactName}} Will be the contact
                        </label>
                    </fieldset>
                    <div ng-if="!contact.passengerAsContactPerson">
                        <fieldset class="small-12 columns">

                        <select ng-model="contact.contactInfo.salutation"
                                ng-required="true"
                                ng-options="title.titleCode as title.titleName for title in contact.titleList">
                            <option value="" disabled selected hidden>Please select salutation</option>
                        </select>

                        </fieldset>

                        <fieldset class="small-12 columns">
                            <input type="text" placeholder="First Name"
                                   ng-required="true"
                                   ng-minlength="2"
                                   ng-pattern="/^[A-Za-z ]+$/"
                                   ng-model="contact.contactInfo.firstName">
                        </fieldset>

                        <fieldset class="small-12 columns">
                            <input type="text"
                                   placeholder="Last Name"
                                   ng-required="true"
                                   ng-minlength="2"
                                   ng-pattern="/^[A-Za-z ]+$/"
                                   ng-model="contact.contactInfo.lastName">
                        </fieldset>

                        <fieldset class="small-12 columns">
                            <label>Nationality</label>

                            <select ng-model="contact.contactInfo.nationality" ng-required="true" ng-options="country.nationalityCode as country.nationalityDes for country in contact.countryList">
                                <option value="" disabled selected hidden>Please select nationality</option>
                            </select>
                        </fieldset>
                    </div>
                </div>
                <div class="clear-2"></div>
                <div class="row">
                    <div class="row">
                        <div class="small-12  columns">
                            <fieldset class="small-12 columns">
                                <label>Country*</label>
                                <select ng-model="contact.contactInfo.country"
                                        ng-required="true"
                                        ng-change="contact.mobileNumberChange()"
                                        ng-options="country.countryCode as country.countryName for country in contact.countryList">
                                    <option value="" disabled selected hidden>Please select country</option>
                                </select>
                            </fieldset>
                        </div>
                        <div class="small-12  columns">
                            <fieldset class="small-12 columns">
                                <input type="email" placeholder="Email Address" ng-model="contact.contactInfo.emailAddress">
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12  columns">
                            <fieldset class="small-12 columns">
                                <label>Address</label>
                                <input type="text" placeholder="Address" ng-model="contact.contactInfo.address.streetAddress1">
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12  columns">
                            <fieldset class="small-12 columns">
                                <label>Address1</label>
                                <input type="text" placeholder="Address1" ng-model="contact.contactInfo.address.streetAddress2">
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12  columns">
                            <fieldset class="small-12 columns">
                                <label>City*</label>
                                <input type="text"
                                       placeholder="City"
                                       ng-required="true"
                                       ng-model="contact.contactInfo.address.city">
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <fieldset class="small-12 columns">
                            <div class="small-12 columns">
                                <label>Contact Number*
                                </label>
                            </div>
                            <div class="small-3 columns padding-right-0">
                                <input type="text"
                                       placeholder="Country"
                                       ng-required="true"
                                       ng-pattern="/^[0-9]+$/"
                                       ng-maxlength="4"
                                       ng-model="contact.contactInfo.mobileNo.countryCode">
                            </div>
                            <div class="small-3 columns padding-right-0">
                                <input type="text"
                                       placeholder="Area"
                                       ng-required="true"
                                       ng-pattern="/^[0-9]+$/"
                                       ng-maxlength="4"
                                       ng-model="contact.contactInfo.mobileNo.areaCode">
                            </div>
                            <div class="small-6  columns">
                                <input type="text"
                                       placeholder="Phone Number"
                                       ng-required="true"
                                       pattern="^[0-9]*"
                                       ng-minlength="5"
                                       ng-maxlength="13"
                                       ng-model="contact.contactInfo.mobileNo.number">
                            </div>
                        </fieldset>
                    </div>

                    <div class="row" ng-hide="contact.sameTravelMoble">
                        <fieldset class="small-12 columns">
                            <div class="small-12 columns">
                                <label>Travel Mobile Number
                                </label>
                            </div>
                            <div class="small-3 columns padding-right-0">
                                <input type="text"
                                       placeholder="Country"
                                       ng-pattern="/^[0-9]+$/"
                                       ng-maxlength="4"
                                       ng-model="contact.contactInfo.mobileNoTravel.countryCode">
                            </div>
                            <div class="small-3 columns padding-right-0">
                                <input type="text"
                                       placeholder="Area"
                                       ng-pattern="/^[0-9]+$/"
                                       ng-maxlength="4"
                                       ng-model="contact.contactInfo.mobileNoTravel.areaCode">
                            </div>
                            <div class="small-6  columns">
                                <input type="text"
                                       placeholder="Phone Number"
                                       pattern="^[0-9]*"
                                       ng-minlength="5"
                                       ng-maxlength="13"
                                       ng-model="contact.contactInfo.mobileNoTravel.number">
                            </div>
                        </fieldset>
                    </div>

                    <div class="row">
                        <fieldset class="small-12 columns">
                            <div class="small-12  columns">
                                <label>
                                    <input type="checkbox"
                                           name="iCheck"
                                           ng-checked="contact.sameTravelMoble"
                                           ng-click="contact.changeTravelMobile()">
                                    I will use the same number during travel
                                </label>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="clear-2"></div>

            </form>

            <div class="row">
                <div class="flight-info small-12 columns ">
                    <div class="small-6 small-offset-3 price text-center columns">
                        USD {{contact.outputData.totalPrice}}
                        <span>Total all inclusive</span>
                    </div>
                </div>
            </div>
            <div class="clear-2"></div>
            <div class="row">
                <div class="small-12 columns">
                    <button class="button small-12"
                            ng-click="contact.navigateToPayment()"
                            ng-disabled="contactForm.$invalid">Proceed
                        <i class="fa fa-chevron-right"aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
