<div ng-controller="PassengerCtrl as pax">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="row collapse">
        <form name="passengerDetailsForm">
        <div class="small-12 columns available-flights">

            <ul class="accordion personal-information" data-accordion>

                <li class="accordion-item" data-accordion-item ng-class="{'is-active': pax.selectedPax == $index}"
                    ng-repeat="passenger in pax.passengers">
                    <a class="accordion-title" ng-click="pax.setCurrentPax($index)">
                        {{ pax.getDisplayName($index) }} - Personal Details
                    </a>

                    <div class="accordion-content" ng-class="{'display-block': pax.selectedPax == $index}"
                         data-tab-content>
                        <div class="row">
                            <div class="small-12  columns" ng-if="passenger.category == 'Infant'">
                                <fieldset class="small-12 columns">
                                    <select ng-options="adult.paxSequence as pax.getDisplayName(adult.paxSequence - 1) for adult in pax.getAdults() track by adult.paxSequence"
                                            ng-required="true"
                                            ng-model="passenger.travelWith">
                                        <option value="" disabled selected hidden>Traveling With</option>
                                    </select>
                                </fieldset>
                            </div>

                            <div class="small-12  columns">
                                <fieldset class="small-12 columns">
                                    <select ng-model="passenger.title"
                                            ng-required="true"
                                            ng-options="title.titleCode as title.titleName for title in pax.getPaxTitles(passenger.category)">
                                        <option value="" disabled selected hidden>Please select salutation</option>
                                    </select>
                                </fieldset>
                            </div>

                            <div class="small-12  columns">
                                <fieldset class="small-12 columns">
                                    <input type="text"
                                           placeholder="First Name"
                                           ng-required="true"
                                           ng-minlength="2"
                                           ng-pattern="/^[A-Za-z ]+$/"
                                           name="firstname"
                                           ng-model="passenger.firstName">
                                </fieldset>
                            </div>
                            <div class="small-12  columns">
                                <fieldset class="small-12 columns">
                                    <input type="text"
                                           placeholder="Last Name"
                                           ng-required="true"
                                           ng-minlength="2"
                                           ng-pattern="/^[A-Za-z ]+$/"
                                           name="lastname"
                                           ng-model="passenger.lastName">
                                </fieldset>
                            </div>


                            <div class="small-12  columns">
                                <div class="small-12  columns">
                                    <label>Date of birth </label></div>

                                <combo-date-picker ng-model="passenger.dob"
                                                   ng-required="true"
                                                   ng-min-date="{{pax.getAgeRules(passenger.category).minDate}}"
                                                   ng-max-date="{{pax.getAgeRules(passenger.category).maxDate}}">
                                </combo-date-picker>

                            </div>
                            <div class="small-12  columns">
                                <fieldset class="small-12 columns">
                                    <select ng-model="passenger.nationality"
                                            ng-required="true"
                                            ng-options="country.nationalityCode as country.nationalityDes for country in pax.countryList">
                                        <option value="" disabled selected hidden>Please select nationality</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="small-12  columns">
                                <fieldset class="small-12 columns">
                                    <label>
                                        <input type="checkbox"
                                               ng-checked="pax.selectedContactPax === $index"
                                               ng-click="pax.setSelectedContactPax($index)">
                                        Select as contact person</label>
                                </fieldset>
                            </div>

                            <div class="small-12  columns">
                                <div class="small-12  columns">
                                    <label>Passport Information </label>
                                </div>
                                <fieldset class="small-12 columns">
                                    <input type="text" placeholder="Passport Number" ng-required="true"
                                           ng-model="passenger.additionalInfo.foidInfo.foidNumber">
                                </fieldset>
                            </div>

                            <div class="small-12  columns">

                                <fieldset class="small-12 columns">
                                    <select ng-model="passenger.additionalInfo.foidInfo.foidPlace"
                                            ng-required="true"
                                            ng-options="country.countryCode as country.countryName for country in pax.countryList">
                                        <option value="" disabled selected hidden>Please select nationality</option>
                                    </select>
                                </fieldset>
                            </div>

                            <div class="small-12  columns">
                                <div class="small-12  columns">
                                    <label>Expiry Date </label>
                                </div>

                                <combo-date-picker ng-model="passenger.additionalInfo.foidInfo.foidExpiry"
                                                   ng-required="true"
                                                   ng-max-date="2100-01-01"
                                                   ng-min-date="{{pax.getToday()}}">
                                </combo-date-picker>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
        </form>
    </div>
    </div>
    <div class="row">
        <div class="flight-info small-12 columns ">
            <div class="small-6 small-offset-3 price text-center columns">
                USD {{pax.outputData.totalPrice}}
                <span>Total all inclusive</span>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="row">
        <div class="small-12 columns">
            <button class="button small-12"
                    ng-click="pax.navigateToContact()"
                    ng-disabled="passengerDetailsForm.$invalid">Proceed
                <i class="fa fa-chevron-right"aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

