<div class="fullPage">
    <div class="container-fluid">
        <header stick-me>
            <div class="container pd-0">
                <ul>
                    <li class="logo pd-4 pd-tp-2"><a href="index.html">
                        <img src="images/main_logo.png" alt="Air Arabia">
                    </a></li>
                </ul>
            </div>
            <div class="progress-step ng-isolate-scope">
                <div class="bar-animator" style="width: 100%;">
                    <h1>404</h1>
                </div>
            </div>
        </header>
    </div>
</div>