<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IBE Flight Booking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="js/libs/styles/bower_styles.css"/>
    <link rel="stylesheet" href="styles/main.css"/>
    <!--[if lt IE 8]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
        .row{
            margin-bottom: 20px;
        }
        input[type='text'], select, button{
            width: 90%;
        }
        .has-error{
            position: absolute;
        }
    </style>

    <script>
        var filename;
        var pattern = /^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]).){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$/g;

        var bValidIP = pattern.test(document.location.hostname);

        if(document.location.hostname == "localhost" || bValidIP){
            // filename="//kwcmb.isaaviations.com/js_scripts/ond.js";
            // filename="//6qcmb9.isaaviations.com/js_scripts/ond.js"
            // filename="//flyme.isaaviations.com/js_scripts/ond.js";
            // filename= "//ri.isaaviations.com/js_scripts/ond.js";
            // filename = "//airarabia29.isaaviations.com/js_scripts/ond.js"
            // filename = "//g9cmb8.isaaviations.com/js_scripts/ond.js"
            filename= "//g914.isaaviations.com/js_scripts/ond.js"
        }
        else{
            filename="../../js_scripts/ond.js";
        }
        document.writeln("<script src="+filename+"><\/script>");
    </script>

</head>
<body ng-controller="dummyCtrl as dummy">

<!--[if lte IE 8]>
<style>
    #main-container {
        display:none;
    }
</style>

<div class="container old-browser">
    <h2 class="center-text">Your internet browser is out of date.</h2>
    <p class="center-text">Your browser is not supported, please upgrade your browser to the latest version or switch to a supported browser</p>

    <div class="row img-row" style="">
        <div class="col-md-4">
            <img class="image img-thumbnail" src="images/browser/ie.png" alt="Internet Explorer">
            <p>Internet Explorer 9+</p>
            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" class="btn btn-default">Download</a>
        </div>
        <div class="col-md-4">
            <img class="image img-thumbnail" src="images/browser/cr.png" alt="Google Chrome">
            <p>Google Chrome</p>
            <a href="https://www.google.com/chrome/browser/desktop/" class="btn btn-default">Download</a>
        </div>
        <div class="col-md-4">
            <img class="image img-thumbnail" src="images/browser/ff.png" alt="Mozilla Firefox">
            <p>Mozilla Firefox</p>
            <a href="http://www.mozilla.org/firefox/new/" class="btn btn-default">Download</a>
        </div>
    </div>
</div>
<![endif]-->

<div class="container" id="main-container" >
    <div class="row">
        <div class="col-sm-5">
            <form name="dummy.searchForm" novalidate ng-submit="dummy.onSubmit($event)" target="_blank" id="searchForm">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>&nbsp;</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Book Flights</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <input type="radio" id="one_way" ng-model="dummy.tripType" value="one_way" ng-click="dummy.setOneWayReturn('one_way')" style="visibility: visible"/>
                        <label for="one_way">One way</label><br/>
                    </div>
                    <div class="col-sm-4">
                        <input type="radio" id="return" ng-model="dummy.tripType" value="return" ng-click="dummy.setOneWayReturn('return')" style="visibility: visible"/>
                        <label for="return">Return</label><br/>
                    </div>
                    <div class="col-sm-4">
                        <a href="javascript:;" ng-click="dummy.redirectToMultiCity($event)">multi city</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="txtOrigin">Origin</label><br/>
                        <input type="text" id="txtOrigin" name="txtOrigin" ng-model="dummy.searchCriteria.from" ng-required="true"
                               uib-typeahead="airport as airport.en for airport in dummy.airports | filter:$viewValue | limitTo:8" autocomplete="off" typeahead-on-select="dummy.filterDesAirport()"/>
                        <div ng-show="dummy.searchForm.$submitted || dummy.searchForm.txtOrigin.$touched" class="ng-hide has-error text-danger">
                            <div ng-show="dummy.searchForm.txtOrigin.$error.required">Origin required!</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="txtDestination">Destination</label><br/>
                        <input type="text" id="txtDestination" name="txtDestination" ng-model="dummy.searchCriteria.to" ng-required="true"
                               uib-typeahead="airport as airport.en for airport in dummy.desAirports | filter:$viewValue | limitTo:8" autocomplete="off" />
                        <div ng-show="dummy.searchForm.$submitted || dummy.searchForm.txtDestination.$touched" class="ng-hide has-error text-danger">
                            <div ng-show="dummy.searchForm.txtDestination.$error.required">Destination required!</div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="txtDepartureDate">Departure Date</label><br/>
                        <input type="text" id="txtDepartureDate" name="txtDepartureDate"
                               show-button-bar="false"
                               show-weeks="false"
                               uib-datepicker-popup="{{dummy.dateformat}}"
                               ng-model="dummy.searchCriteria.departureDate"
                               datepicker-options="dummy.dateOptions"
                               is-open="dummy.departureDateOpened"
                               ng-required="true" close-text="Close"
                               ng-focus="dummy.dpOnClick($event,'departureDateOpened')"/>
                        <div ng-show="dummy.searchForm.$submitted || dummy.searchForm.txtDepartureDate.$touched" class="ng-hide has-error text-danger">
                            <div ng-show="dummy.searchForm.txtDepartureDate.$error.required">Destination required!</div>
                        </div>
                    </div>
                    <div class="col-sm-6" >
                        <label for="txtReturnDate">Return Date</label><br/>
                        <input type="text" id="txtReturnDate" name="txtReturnDate"
                               show-button-bar="false"
                               show-weeks="false"
                               uib-datepicker-popup="{{dummy.dateformat}}"
                               ng-model="dummy.searchCriteria.returnDate"
                               is-open="dummy.returnDateOpened"
                               datepicker-options="dummy.dateOptions"
                               ng-required="tripType=='return'" close-text="Close"
                               ng-focus="dummy.dpOnClick($event,'returnDateOpened')"
                               ng-disabled="dummy.tripType!=='return'"/>
                        <div ng-show="dummy.searchForm.$submitted || dummy.searchForm.txtReturnDate.$touched" class="ng-hide has-error text-danger">
                            <div ng-show="dummy.searchForm.txtReturnDate.$error.required">Destination required!</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="selAdult">Adults</label><br/>
                        <select id="selAdult" ng-options="option for option in dummy.paxADArray track by option"
                                ng-model="dummy.searchCriteria.adults" ng-change="dummy.changePax('adults')"></select>
                    </div>
                    <div class="col-sm-2">
                        <label for="selChild">Children</label><br/>
                        <select id="selChild" ng-options="option for option in dummy.paxCHArray track by option"
                                ng-model="dummy.searchCriteria.children" ng-change="dummy.changePax('children')"></select>
                    </div>
                    <div class="col-sm-2">
                        <label for="selInfants">Infants</label><br/>
                        <select id="selInfants" ng-options="option for option in dummy.paxINArray track by option"
                                ng-model="dummy.searchCriteria.infants"></select>
                    </div>
                    <div class="col-sm-6">
                        <label for="selCabinClass">Cabin Class</label><br/>
                        <select id="selCabinClass" ng-options="key as value for (key , value) in dummy.cabins"
                                ng-model="dummy.searchCriteria.cabinClass"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="selCurrency">Currency</label><br/>
                        <select id="selCurrency" ng-options="option.code as option.en for option in dummy.currency "
                                ng-model="dummy.searchCriteria.currency" ></select>
                    </div>
                    <div class="col-sm-6">
                        <label for="selLanguage">Language</label><br/>
                        <select id="selLanguage" ng-options="key as value for (key , value) in dummy.languages"
                                ng-model="dummy.searchCriteria.language"></select>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="txtPromoCode">PromoCode</label><br/>
                        <input type="text" ng-model="dummy.searchCriteria.promoCode" id="txtPromoCode"/>
                    </div>
                    <div class="col-sm-6 ">
                        <label for="txtOriginCountry">Origin Country</label><br/>
                        <select id="selCurrency" ng-options="option.countryCode as option.countryName for option in dummy.countryList "
                                ng-model="dummy.searchCriteria.originCountry" ></select>
                    </div>
                </div>
                <div class="row">
						<div class="col-sm-6">
							<label for="txtUserToken">User Token</label><br/>
							<input type="text" ng-model="dummy.userToken" id="txtUserToken"/>
						</div>
				</div>
                <div class="row">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6 text-right">
                        <br/>
                        <button class="btn btn-danger" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <form name="dummy.manageBooking" novalidate ng-submit="dummy.findReservation($event)" target="_blank" id="manageBookingFrm">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>&nbsp;</h4>
                    </div>
                </div>
               
                    <div class="col-sm-12" style="border: solid 1px #cccccc;padding-top: 50px; margin-bottom: 20px;">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Manage Booking</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="txtPromoCode">PNR Number</label><br/>
                                <input type="text" id="txtPnr" name="txtPnr" ng-required="true" ng-model="dummy.manage.searchParam.pnr"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="txtPromoCode">Contact Person Last Name</label><br/>
                                <input type="text" id="txtLastName" name="txtLastName" ng-required="true" ng-model="dummy.manage.searchParam.lastName"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="txtDepartureDate">Departure Date</label><br/>
                                <input type="text" id="txtModDepData" name="txtModDepData"
                                       show-button-bar="false"
                                       show-weeks="false"
                                       uib-datepicker-popup="{{dummy.manage.dateformat}}"
                                       ng-model="dummy.manage.searchParam.departureDate"
                                       datepicker-options="dummy.manage.dateOptions"
                                       is-open="dummy.manage.departureDateOpened"
                                       ng-required="true" close-text="Close"
                                       ng-focus="dummy.manage.dpOnClick($event,'dummy.manage.departureDateOpened')"/>
                                <div ng-show="dummy.manageBooking.$submitted || dummy.manageBooking.txtModDepData.$touched" class="ng-hide has-error text-danger">
                                    <div ng-show="dummy.manageBooking.txtModDepData.$error.required">Departure Date required!</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <br/>
                                <button class="btn btn-danger" type="submit">Find Reservation</button>
                            </div>
                        </div>
                    </div>
				</form>
            <div class="col-sm-12" style="border: solid 1px #cccccc; padding-top: 50px;">
					<div class="row">
						<div class="col-sm-12">
							<h4>User Token Login</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label for="txtUserTokenLogin">User Token</label><br /> <input
								type="text" id="txtUserTokenLogin" name="txtUserTokenLogin"
								ng-required="true" ng-model="dummy.userTokenLogin" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<button type="button" class="btn btn-danger" name="button"
								ng-click="dummy.redirectToUserTokenLogin($event)">User
								Token Login page</button>
						</div>
					</div>
				</div>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-12">
                    <h4>&nbsp;</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="border: solid 1px #cccccc;padding-top: 50px;">

                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Passenger Login</h4>
                        </div>
                    </div>

                    <!--

                    <div class="row">
                        <div class="col-sm-12">
                            <label for="txtPromoCode">User Name</label><br/>
                            <input type="text" id="txtuserName"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="txtPromoCode">password</label><br/>
                            <input type="password" id="txtPassword"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <br/>
                            <button class="btn btn-danger" type="button" ng-click="dummy.onPassengerLogIn()">Login</button>
                        </div>
                    </div>

                    -->
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-danger" name="button" ng-click="dummy.redirectToSignIn($event)">Redirect to Sign In page</button>
                        </div>
                    </div>
             </div>

             <div class="col-sm-12" style="border: solid 1px #cccccc;padding-top: 50px;margin-top: 20px; ">

                 <div class="row">
                     <div class="col-sm-12">
                         <h4>Registration</h4>
                     </div>
                 </div>


                 <div class="row">
                     <div class="col-sm-12">
                         <button type="button" class="btn btn-danger" name="button" ng-click="dummy.redirectToRegistration($event)">Redirect to Registration</button>
                     </div>
                 </div>
          </div>
             <div class="col-sm-12" style="border: solid 1px #cccccc;padding-top: 50px;margin-top: 20px; ">

                 <div class="row">
                     <div class="col-sm-12">
                         <h4>Gift Voucher</h4>
                     </div>
                 </div>


                 <div class="row">
                     <div class="col-sm-12">
                         <button type="button" class="btn btn-danger" name="button" ng-click="dummy.redirectToGiftVoucher($event)">Gift Voucher</button>
                     </div>
                 </div>
          </div>

            <div class="col-sm-12" style="border: solid 1px #cccccc;padding-top: 50px;margin-top: 20px; ">

                <div class="row">
                    <div class="col-sm-12">
                        <h4>Multi City Search</h4>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-danger" name="button" ng-click="dummy.redirectToMultiCity($event)">Redirect multi-city search</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">

</div>

<script src="js/libs/scripts/bower_libs.js"></script>
<script>
    var AppParams = null,CountryList=null, basePath="/service-app/controller";
    var initInjector = angular.injector(["ng"]);
    var $http = initInjector.get("$http");
    var path = "/parameters/ibe";
    $http({
        "method": 'POST',
        "url": basePath + path,
        "data": {}
    }).success(function(response) {
        var param = response;

        var pathForCountry = "/masterData/countryList";

        $http({
            "method": 'GET',
            "url": basePath + pathForCountry,
            "data": {}
        }).success(function(response) {
            bootstrapApplication(param,response);
        }).error(function(response) {
        });
    }).error(function(response) {
    });

    function bootstrapApplication(data,country) {
        if (data!==null) {
            AppParams = data.ibeParamKeyResponse;
            CountryList= country.countryList;
            angular.element(document).ready(function () {
                angular.bootstrap(document, ["appDummy"]);
            });
        }
    }
</script>
<script src="js/dummyPage.js"></script>
</body>
</html>
