<!DOCTYPE html>
<html dir="{{main.getDir()}}" class="{{main.getDir()}} {{main.getLangCode()}}" ng-controller="indexCtrl as main">
<head>
    <title>IBE Flight Booking</title>
    <meta name="description" content="">
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,500,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="js/libs/styles/bower_styles.css"/>
    <link rel="stylesheet" href="js/util/isaui_lib/dist/css/isaui_lib.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">   
    <!--[if lte IE 8]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- build:css styles/styles.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="styles/main.css"/>
    <link rel="stylesheet" href="styles/dashboard.css"/>
    <!-- endbower -->
    <!-- endbuild -->
<script>
window.onload = function () { 
	if(window.matchMedia("only screen and (max-width: 767px)").matches){
		if(typeof document.getElementById("xs-mobile-drawer") !='undefined' && document.getElementById("xs-mobile-drawer") !=null) {
			var value=parseInt(document.getElementById("xs-mobile-drawer").offsetHeight) - 15;
			var css = '.xs-ui-view-container{margin-bottom: '+value+'px !important;}',
		    head = document.head || document.getElementsByTagName('head')[0],
		    style = document.createElement('style');
	
			style.type = 'text/css';
			if (style.styleSheet){
			  style.styleSheet.cssText = css;
			} else {
			  style.appendChild(document.createTextNode(css));
			}
		
			head.appendChild(style);
		}else {
			var css = '.xs-ui-view-container{margin-bottom: '+40+'px !important;}',
                        head = document.head || document.getElementsByTagName('head')[0],
                        style = document.createElement('style');
	
			style.type = 'text/css';
			if (style.styleSheet){
			  style.styleSheet.cssText = css;
			} else {
			  style.appendChild(document.createTextNode(css));
                        }
		
			head.appendChild(style);
            }
	}
	
	}
</script>
    <script>
        var filename;
        var pattern = /^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]).){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$/g;

        var bValidIP = pattern.test(document.location.hostname);

        if(document.location.hostname == "localhost" || bValidIP){
        	// filename="//6qcmb9.isaaviations.com/js_scripts/ond.js";
        	//filename="//mahanair2.cmb.isaaviations.com/js_scripts/ond.js";
        	//filename="//qdcmb.isaaviations.com/js_scripts/ond.js";
            // filename="//kwcmb.isaaviations.com/js_scripts/ond.js";
            // filename="//flyme.isaaviations.com/js_scripts/ond.js";
            // filename= "//ri.isaaviations.com/js_scripts/ond.js"
            // filename= "//airarabia29.isaaviations.com/js_scripts/ond.js"
            filename= "//g914.isaaviations.com/js_scripts/ond.js"
        }
        else{
            filename="../../js_scripts/ond.js";
        }
        document.writeln("<script src="+filename+"><\/script>");
    </script>
    
    
    <!-- build:template
	<%= message %> 
	/build -->
    
</head>
<body>

<!--[if lte IE 8]>
<!--[if lte IE 8]>
<div class="container old-browser">
    <h2 class="center-text">Your internet browser is out of date.</h2>
    <p class="center-text">Your browser is not supported, please upgrade your browser to the latest version or switch to a supported browser</p>

    <div class="row img-row" style="">
        <div class="col-md-4">
            <img class="image img-thumbnail" src="images/browser/ie.png" alt="Internet Explorer">
            <p>Internet Explorer 9+</p>
            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" class="btn btn-default">Download</a>
        </div>
        <div class="col-md-4">
            <img class="image img-thumbnail" src="images/browser/cr.png" alt="Google Chrome">
            <p>Google Chrome</p>
            <a href="https://www.google.com/chrome/browser/desktop/" class="btn btn-default">Download</a>
        </div>
        <div class="col-md-4">
            <img class="image img-thumbnail" src="images/browser/ff.png" alt="Mozilla Firefox">
            <p>Mozilla Firefox</p>
            <a href="http://www.mozilla.org/firefox/new/" class="btn btn-default">Download</a>
        </div>
    </div>
</div>
<![endif]-->

<div class="container-fluid page-fade">
    <!-- Reservation header -->
    <header id="header" class="dashboard" stick-me ng-style="{'visibility': pageTransistion?'visible':'hidden'}" style="visibility:hidden" ng-class="{'xs-hidden-progress-header': main.steps[4]['status'] === 'completed'}">
        <div class="setting-panel" ng-if="main.themeEnginStatus == true">
            <div class="setting-panel-wrapper clearfix" >
                <div class="setting-panel-btn" ng-click="main.onSettingPanelClick()">
                </div>
                <div class="setting-panel-content" ng-if="main.showSettings">
                    <ul>
                        <li ng-click="main.settingItemClick(0)">Edit Theme</li>
                        <li ng-click="main.settingItemClick(1)">Edit Language</li>
                    </ul>
                </div>
            </div>
        </div>
        <div ui-view="topNav">
        </div>
        <!-- <div isa-step-progress="" class="progress-step" current-flag="current" current-step="main.selectedStep">
            <div class="bar-animator"></div>
        </div> -->
    </header> <!--// Reservation header -->

    <div ui-view="loginBar"></div>


    <!-- Page Banner -->
    <div ui-view="banner"></div>
    <!-- // Page Banner -->
    <div ui-view="liveChat" class="liveChat hidden-xs"></div>


    <div class="container xs-maincontainer" ng-class="{'pd-0' : removePaddingFromXSContainerClass, 'ma-bt-100' : addMarginForFamilyFriendsPage}">
        <!-- Alert -->
        <uib-alert type="{{main.alertInfo.type}}" close="main.closeAlert($index)"
                   ng-if="main.alertInfo.msg!==undefined"
                   dismiss-on-timeout="5000">
            <span ng-bind-html="main.alertInfo.msg"></span>
        </uib-alert>
        <div ng-if="main.showThemePanel"  on-colorscheme-save = "main.onColorschemeSave(selection)" on-image-click="main.onImageClick()" class="color-picker" isacolorpicker ></div>
        <!-- End Alert -->

        <!-- loading UI route view -->
         <div ui-view class="clearfix ui-view-container xs-ui-view-container"></div>
        <!-- End loading UI route view -->
   
    </div>






    <div ui-view="footer"></div>

</div>

<!-- loading animation directive -->
<isa-loading-progress loading-status="!pageLoaded"
                      time-out="10"></isa-loading-progress>
<!-- End loading animation directive -->



<!-- Uncomment for debugging purpouses
<script src="js/libs/scripts/bower_libs.js"></script>
<script src="js/util/isaui_lib/dist/js/isaui_lib.js"></script>
<script src="js/util/isaui_lib/dist/js/lib.templates.js"></script>
-->


<!-- build:js scripts/scripts.js -->

<script src="js/libs/scripts/bower_libs.js"></script>
<script src="js/util/isaui_lib/dist/js/isaui_lib.js"></script>
<script src="js/util/isaui_lib/dist/js/lib.templates.js"></script>

<!-- Connection Configs -->
<script src="js/connectionProps.js"></script>

<!-- Services -->
<script src="js/commonServices/templateCache.js"></script>
<script src="js/commonServices/common_services.js"></script>
<script src="js/commonServices/remoteService.js"></script>
<script src="js/commonServices/themeService.js"></script>
<!-- End Services -->

<!-- Remote services -->
<script src="services/remote_services.js"></script>



<!-- Validations -->
<script src="services/formValidations/dummy_formValidator_impl.js"></script>
<script src="services/formValidations/remote_formValidator_adaptor.js"></script>
<script src="services/formValidations/remote_formValidator_impl.js"></script>
<!-- EndServices -->


<script src="services/availability/dummy_availability_impl.js"></script>
<script src="services/availability/remote_availability_impl.js"></script>
<script src="services/availability/remote_availability_adaptor.js"></script>

<script src="services/passenger/dummy_passenger_impl.js"></script>
<script src="services/passenger/remote_passenger_impl.js"></script>
<script src="services/passenger/remote_passenger_adaptor.js"></script>

<script src="services/customer/dummy_customer_impl.js"></script>
<script src="services/customer/remote_customer_impl.js"></script>
<script src="services/customer/remote_customer_adaptor.js"></script>

<script src="services/addons/dummy_addons_impl.js"></script>
<script src="services/addons/remote_addons_impl.js"></script>
<script src="services/addons/remote_addons_adaptor.js"></script>

<!-- Payment -->
<script src="services/payment/dummy_payment_impl.js"></script>
<script src="services/payment/remote_payment_impl.js"></script>
<script src="services/payment/remote_payment_adapter.js"></script>

<!-- Voucher -->
<script src="services/voucher/dummy_voucher_impl.js"></script>
<script src="services/voucher/remote_voucher_impl.js"></script>

<!-- Confirm -->
<script src="services/confirm/dummy_confirm_impl.js"></script>
<script src="services/confirm/remote_confirm_impl.js"></script>
<script src="services/confirm/remote_confirm_adapter.js"></script>

<!-- View Profile -->
<script src="services/viewProfile/dummy_viewProfile_impl.js"></script>
<script src="services/viewProfile/remote_viewProfile_impl.js"></script>
<script src="services/viewProfile/remote_viewProfile_adaptor.js"></script>

<!--Modification-->
<script src="services/modification/dummy_modification_impl.js"></script>
<script src="services/modification/remote_modification_impl.js"></script>
<script src="services/modification/remote_modification_adaptor.js"></script>

<!-- userSignIn  -->
<script src="services/userSignIn/dummy_userSignIn_impl.js"></script>
<script src="services/userSignIn/remote_userSignIn_adaptor.js"></script>
<script src="services/userSignIn/remote_userSignIn_impl.js"></script>

<!-- Registration -->
<script src="services/registration/dummy_registration_impl.js"></script>
<script src="services/registration/remote_registration_adaptor.js"></script>
<script src="services/registration/remote_registration_impl.js"></script>

<!-- MultiCity -->
<script src="services/availability/remote_multi_city_impl.js"></script>

<!-- Re-Protect -->
<script src="services/passengerReProtection/remote_self_reprotect_impl.js"></script>

<!--Master-->
<script src="services/master/dummy_master_impl.js"></script>
<script src="services/master/remote_master_impl.js"></script>


<!--  End remote services -->

<!-- Services -->
<script src="modules/reservation/addons/js/extras_service.js"></script>
<script src="modules/reservation/confirm/js/confirm_service.js"></script>
<script src="modules/reservation/fare/js/fare_service.js"></script>
<script src="modules/reservation/passenger/js/passenger_service.js"></script>
<script src="modules/reservation/payments/js/payment_service.js"></script>
<script src="modules/reservation/multi_city/js/multi_city_service.js"></script>
<script src="modules/reservation/multi_city/js/multi_city_factory.js"></script>
<script src="modules/reservation/voucher/js/voucher_service.js"></script>
<!-- EndServices -->

<!-- Controllers -->
<script src="js/configs/app_config.js"></script>
<script src="js/index_controler.js"></script>
<script src="js/IBE_controller.js"></script>
<script src="modules/common/error_page/js/error_page.js"></script>
<script src="modules/common/confirm_page/js/confirm_page.js"></script>
<script src="modules/common/confirm_page/js/customer_confirm.js"></script>
<script src="modules/reservation/fare/js/modify_search.js"></script>
<script src="modules/reservation/fare/js/travel_fare.js"></script>
<script src="modules/reservation/fare/js/fare_main.js"></script>
<script src="modules/reservation/passenger/js/passenger_controller.js"></script>
<script src="modules/reservation/passenger/js/passenger_main.js"></script>
<script src="modules/reservation/addons/js/extras_controller.js"></script>
<script src="modules/reservation/addons/js/extras_baggage_controller.js"></script>
<script src="modules/reservation/addons/js/extras_seatmap_controller.js"></script>
<script src="modules/reservation/addons/js/extras_meal_controller.js"></script>
<script src="modules/reservation/addons/js/extras_automatic_checkin_controller.js"></script>
<script src="modules/reservation/addons/js/extras_in_flight_services_controller.js"></script>
<script src="modules/reservation/addons/js/extras_airport_controller.js"></script>
<script src="modules/reservation/addons/js/extras_insurance_controller.js"></script>
<script src="modules/reservation/addons/js/extras_flexi_controller.js"></script>
<script src="modules/reservation/addons/js/extras_airport_transfer_controller.js"></script>
<script src="modules/reservation/addons/js/ancillary_factory.js"></script>
<script src="modules/reservation/addons/js/ancillary_service.js"></script>
<script src="modules/reservation/addons/js/extras_meal_service.js"></script>
<script src="modules/reservation/addons/js/extras_main.js"></script>
<script src="modules/reservation/confirm/js/onhold_confirm.js"></script>
<script src="modules/reservation/confirm/js/confirm_controller.js"></script>
<script src="modules/reservation/confirm/js/confirm_main.js"></script>
<script src="modules/reservation/payments/js/post_payment_controller.js"></script>
<script src="modules/reservation/payments/js/voucher_post_payment_controller.js"></script>
<script src="modules/reservation/payments/js/payment_controller.js"></script>
<script src="modules/reservation/payments/js/payment_main.js"></script>
<script src="modules/modification/common/js/modification_common_main.js"></script>
<script src="modules/modification/common/js/modification_common_service.js"></script>

<script src="modules/reservation/multi_city/js/multi_city_search_controller.js"></script>
<script src="modules/reservation/multi_city/js/multi_city_flight_controller.js"></script>
<script src="modules/reservation/multi_city/js/multi_city_fare_controller.js"></script>
<script src="modules/reservation/multi_city/js/multi_city_main.js"></script>

<!-- popup service -->
<script src="modules/common/Popup/js/popup_service.js"></script>

<!--Modification - User Dashboard-->
<script src="modules/modification/dashboard/js/modification_dashboard_main.js"></script>
<script src="modules/modification/dashboard/js/modification_dashboard_controller.js"></script>
<script src="modules/modification/dashboard/js/modification_dashboard_service.js"></script>

<!-- User - SignIn module  -->
<script src="modules/user/signIn/js/signIn_main.js"></script>
<script src="modules/user/signIn/js/signIn_controller.js"></script>
<script src="modules/user/signIn/js/signIn_service.js"></script>
<script src="modules/user/viewReservations/js/view_reservation_controller.js"></script>
<script src="modules/user/viewCreditHistory/js/view_credit_controller.js"></script>
<script src="modules/user/familyMembers/js/family_controller.js"></script>
<script src="modules/user/viewSeatMealPreferences/js/seat_meal_controller.js"></script>
<script src="modules/user/viewSeatMealPreferences/js/seat_meal_main.js"></script> 

<!-- loginBar -->
<script src="modules/common/login_bar/js/loginBar_main.js"></script>
<script src="modules/common/login_bar/js/loginBar_controller.js"></script>
<script src="modules/common/login_bar/js/loginBar_service.js"></script>

<!-- User Registration -->
<script src="modules/user/registration/js/registration_main.js"></script>
<script src="modules/user/registration/js/registration_service.js"></script>
<script src="modules/user/registration/js/registration_controller.js"></script>

<!-- Redirect -->
<script src="modules/user/registration/js/redirection_controller.js"></script>
<!-- Dashboard Header -->
<script src="modules/modification/dashboard/js/dashboard_header_controller.js"></script>

<!--Modification - Reservation -->
<script src="modules/modification/reservation/js/modification_reservation_main.js"></script>
<script src="modules/modification/reservation/js/modification_reservation_controller.js"></script>
<script src="modules/modification/reservation/js/modification_reservation_service.js"></script>
<script src="modules/modification/reservation/js/modification_ancillary_factory.js"></script>

<!--Modification Flights-->
<script src="modules/modification/flight/js/modification.flight.main.js"></script>
<script src="modules/modification/flight/js/modification.flight.controller.js"></script>

<!--Gift Voucher-->
<script src="modules/reservation/voucher/js/voucher_controller.js"></script>
<script src="modules/reservation/voucher/js/voucher_thank_controller.js"></script>
<script src="modules/reservation/voucher/js/voucher_main.js"></script>

<!--Passanger Self ReProtection-->
<script src="modules/reservation/passangerReProtection/js/self_reprotect_controller.js"></script>
<script src="modules/reservation/passangerReProtection/js/self_reprotect_main.js"></script>

<script src="js/IBE_main.js"></script>
<script src="js/FileSaver.js"></script>

<script src="js/configs/route_config.js"></script>
<script src="js/configs/validation_configs.js"></script>
<script src="js/configs/misc_configs.js"></script>
<!-- End Controllers -->

<!-- Filters -->
<script src="js/filters/country_filter/country_filter.js"></script>
<script src="js/filters/nationality_filter/nationality_filter.js"></script>
<script src="js/filters/airport_filter/airport_filter.js"></script>
<script src="js/filters/salutation_filter/salutation_filter.js"></script>
<script src="js/filters/list_filter/list_filter.js"></script>
<script src="js/filters/string_filters/string_filters.js"></script>
<script src="js/filters/time_filters/date_conversion_filter.js"></script>
<!-- End Filters -->

<!-- Factories -->
<script src="modules/common/DTO_factory/DTO_factory.js"></script>
<!-- //Factories -->



<!--Interceptors-->
<script src="js/configs/interceptors.js"></script>
<!--END Interceptors-->


<!-- endbuild -->

<script type="text/javascript" src="https://airarabia.widget.custhelp.com/euf/rightnow/RightNow.Client.js"></script>
<script type="text/javascript">
        RightNow.Client.Controller.addComponent({
                seconds: 120,
                logo_image: "/euf/assets/images/airarabialogo.png",
                instance_id: "spac_0",
                div_id: "chatDiv",
                module: "ProactiveChat",
                label_question : "Need help? Click here to chat with one of our representatives",
                type: 2},
                "https://airarabia.widget.custhelp.com/ci/ws/get"
                );
</script>



</body>
</html>
