.icon_aed{
  background-image: url("../images/flags/flag_AED.png");
}
.icon_amd{
    background-image: url("../images/flags/flag_AMD.png");
}
.icon_aud{
    background-image: url("../images/flags/flag_AUD.png");
}
.icon_azn {
	background-image: url("../images/flags/flag_AZN.png"); 
}
.icon_bdt{
    background-image: url("../images/flags/flag_BDT.png");
}
.icon_bhd{
    background-image: url("../images/flags/flag_BHD.png");
}
.icon_chf{
    background-image: url("../images/flags/flag_CHF.png");
}
.icon_cny{
    background-image: url("../images/flags/flag_CNY.png");
}
.icon_cpy{
    background-image: url("../images/flags/flag_CPY.png");
}
.icon_egp{
    background-image: url("../images/flags/flag_EGP.png");
}
.icon_eur{
    background-image: url("../images/flags/flag_EUR.png");
}
.icon_dkk {
	background-image: url("../images/flags/flag_DKK.png"); 
}
.icon_gbp{
    background-image: url("../images/flags/flag_GBP.png");
}

//---------------------
.icon_inr{
    background-image: url("../images/flags/flag_INR.png");
}
.icon_irr{
    background-image: url("../images/flags/flag_IRR.png");
}
.icon_jod{
    background-image: url("../images/flags/flag_JOD.png");
}
.icon_kes{
    background-image: url("../images/flags/flag_KES.png");
}
.icon_kwd{
    background-image: url("../images/flags/flag_KWD.png");
}
.icon_kzt{
    background-image: url("../images/flags/flag_KZT.png");
}
.icon_lbp{
    background-image: url("../images/flags/flag_LBP.png");
}
.icon_lkr{
    background-image: url("../images/flags/flag_LKR.png");
}
.icon_mad{
    background-image: url("../images/flags/flag_MAD.png");
}
.icon_myr{
    background-image: url("../images/flags/flag_MYR.png");
}
.icon_npr{
    background-image: url("../images/flags/flag_NPR.png");
}
.icon_omr{
    background-image: url("../images/flags/flag_OMR.png");
}
.icon_pkr{
    background-image: url("../images/flags/flag_PKR.png");
}
.icon_qar{
    background-image: url("../images/flags/flag_QAR.png");
}
.icon_rub{
    background-image: url("../images/flags/flag_RUB.png");
}
.icon_sar{
    background-image: url("../images/flags/flag_SAR.png");
}
.icon_sdg{
    background-image: url("../images/flags/flag_SDG.png");
}
.icon_sek {
	background-image: url("../images/flags/flag_SEK.png");
}
.icon_syp{
    background-image: url("../images/flags/flag_SYP.png");
}
.icon_try{
    background-image: url("../images/flags/flag_TRY.png");
}
.icon_uah{
    background-image: url("../images/flags/flag_UAH.png");
}
.icon_usd{
    background-image: url("../images/flags/flag_USD.png");
}
.icon_yer{
    background-image: url("../images/flags/flag_YER.png");
}
.icon_del{
    background-image: url("../images/flags/flag_DEL.png");
}
.icon_idk{
    background-image: url("../images/flags/flag_IDK.png");
}
.icon_jpy{
    background-image: url("../images/flags/flag_JPY.png");
}
.icon_khr{
    background-image: url("../images/flags/flag_KHR.png");
}



.icon{
  //background-image: url("../images/country_flags_strip.png") ;
  //background-repeat: no-repeat;
  //height: 28px;
  display:block;
  float: left;
  width: 40px;

}



.currancy-type{
  display: inline-block;
  padding: 5px;
  color: #ffffff;
  font-size: 14px;
}
.crruncy-txt{
  font-size: 14px;
}

.curruny-wrapper{
  font-size: 14px;
  position: absolute;
  top:27px;
  background-color: #5D5D5D;
  display: block;
  width: 540px;
  height: auto;
  z-index: 1000;
  padding: 20px;
  right: initial;
  left: 0;
  ul {
    margin: 0;
    padding: 0px;
    float: left;
    li{
      float: left;
      list-style: none;
      width:90px;
      padding: 0px;
      margin: 10px 5px;
    }

  }
}

.menu-item{
  width: 40px;
  font-weight: 600;
}

.currancy-type .ccactive{
  background-color: #5D5D5D !important;
  color: #000000 !important;
}

.cc-link {
  cursor: pointer;
  float: left;
  width:100%;

  .currancy-type{
  }
}

//
// .cc-link {
//   cursor: pointer;
//   float: left;
//   width:100%;
//
//   .currancy-type{
//
//   }
//
// }
