 Body {
	scrollbar-arrow-color:#0A3986;
	scrollbar-base-color:#E3E3E3;
	scrollbar-shadow-color:#0A3986;
	scrollbar-face-color:#E3E3E3;
	scrollbar-highlight-color:#0A3986;
	scrollbar-darkshadow-color:#E3E3E3;
	scrollbar-3d-light-color:#E3E3E3;
	background : white;
	margin :0px 0px 0px 0px;
}
.pageBody{
	background : #fff;
}
.mainPageLoader{
	display:none;
	z-index:9900;
	background:transparent;
	height:54px;
	position:absolute;
	top:50%;
	left:40%;
	width:234px
}
.mainPageLoaderFreame{
	position:absolute;
	background:transparent;
	width:234px;
	height:54px;
}
A:link
{
    COLOR: #134373;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #134373;
    TEXT-DECORATION: none
}

.tabs-style 
{
	background-position:right 42px;
}

.outLineBoarder{
	background-color:#ffffff;
	height:5px;
}
.outLine{
	background-color:#FFFFFF;
	border:5px none;
	width:775px;
}
.BannerTopLine{
	background-color:#F63F4C;
}
.BannerBackGround{
	background-color:#ECECEC;
	height:100px;
}
.BannerBorderLeft
{
	background-image: url(../images/left_shadow_no_cache.gif);
	}
.BannerBorderRight
{
	background-image: url(../images/right_shadow_no_cache.gif);
	}
.bottomColor{
	background-color: #626262;
	height:50px;
}
.PageBorder
{
	background-color:#fafafa;
	}
.PageBackGround
{
	background-color:#ffffff;
	}
.PageBottomColor
{
	background-color:#BE2539;
	}	
	
.PageBottomColorlogin
{
	background-color:#A8A8A8;
	}
font{
	font-family:tahoma,Arial,sans-serif;
	font-size:11px;
	left:auto;
	color: #737373; 
}
fontArabic{
	font-family:tahoma,Arial,sans-serif;
	font-size:13px;
	left:auto;
	color: black; 
}	
.fontPGInfo{
	font-family:tahoma,Arial,sans-serif;
	font-size:11px;
	left:auto;
	color: white; 
}
.fontPGInfoArabic{
	font-family:tahoma,Arial,sans-serif;
	font-size:13px;
	left:auto;
	color: white; 
}
.fntArabic{
	font-size:15px;
	font-family: tahoma,Arial,sans-serif;
}
.fntEnglish{
	font-family: tahoma,Arial,sans-serif;
}
.fntCVV{
	font-size:11px;
	font-family: tahoma,Arial,sans-serif;
}
.fntWeek{
	font-size:11px;

}
.fntArabicTotal{
	font-family: tahoma,Arial,sans-serif;
}
.setHeight{
	height:18px;
}

.tinySpace{
	height:5px;
}

.fntBold{
	font-weight:bold;
}
.fntWhite{
	color:white;
}
.fntDefaultWhite{
	color:#1E57B4;
}
.fntRed{
	color:#06243B;	
}
.fntGreen{
	color:#00B900;	
}
.fntBlack{
	color:#737373;
}
.fntLink{
	color:#2F54FF;
}
.fntSmall{
	font-size:11px;
}
.fntSmallArabic{
	font-size:13px;
}
.fntExSmall{
	font-size:11px;
}
.fntExSmallArabic{
	font-size:10px;
}
.fntTiny{
	font-size:5px;
}
.fntTinyArabic{
	font-size:7px;
}
.fntLarge{
	font-size: 17px;
}
.fntExLarge{
	font-size: 22px;
}
.fntDefault{
	font-family:tahoma,Arial,sans-serif;
	font-size:12px;
	left:auto;
	color: black; 
}
.fntDefaultArabic{
	font-family:tahoma,Arial,sans-serif;
	font-size:13px;
	left:auto;
	color: black; 
}
.fntMenu{
	font-family:tahoma,Arial,sans-serif;
	font-size:11px;
	left:auto;
	color: black; 
}
.Header{
	font-family:tahoma,Arial,sans-serif;
	font-size:11pt;
	text-align:left;
	left:auto;
	text-transform: capitalize;
	color: #04316F; 
	font-weight: bold;
}

.SubLink{
	text-align:left;
	left:auto;
	color: #6E6E6E;
	font-weight: bold;
	cursor: text; 
}
.SubLinkSelected{
	background-color:#FFBBBB;
	left:auto;
	color: black; 
	font-weight: bold;
}
.FormHeadBackGround{
	background-color:#F63F4C;
}
.FormBackGround{
	background-color:#ECECEC;
}
.FormHeader{
	left:auto;
	color: #FFFFFF;
	font-weight: bold;
}

.Gridwt {
	background-color:#156CAF;
	border-color:#F3F376;
	height:20px;
}


select
{
	font-family: tahoma,Arial,sans-serif;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
	
input
{
	font-family: tahoma,Arial,sans-serif;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
	
.clsInput{
	font-family: tahoma,Arial,sans-serif;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
}
.NoBorder
{
	font-family: tahoma,Arial,sans-serif;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: Transparent;
	border-color:Transparent;
	border-style:none;
	}		
.LineColor
{
	color:#C30000;
	}	
.Button
{
	font-family:tahoma,Arial,sans-serif;
	font-size:10px;
	text-align:center;
	text-transform: capitalize;
	color: white;
	background-image: url(../images/n020_no_cache.jpg);  /* lt2 */
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 22px;
	width:72px;
	cursor:pointer;
	background-repeat:no-repeat;
	padding-bottom:5px;
	}

.Buttonlog
{
	border:1px solid #B2B2B2; font-family:tahoma,Arial,sans-serif;
	font-size:11px;
	text-align:center;
	text-transform: capitalize;
	font-weight: bold;
	color: Black;
	background-image: url('../images/AA111_no_cache.jpg');
	height: 23px;
	width:80px;
	}
.ButtonDefault{
	background-image: url(../images/n020_no_cache.jpg);  /* lt2 */
	width:74px;
	cursor:pointer;
	background-repeat:no-repeat;
}
.ButtonDefaultDisable{
	background-image: url(../images/n021_no_cache.jpg);  /* lt2 */
	width:74px;
	cursor:default;
	background-repeat:no-repeat;
}
.ButtonMedium{
	background-image: url(../images/n022_no_cache.jpg);  /* lt2 */
	width:104px;
	cursor:pointer;
}
.ButtonMediumDisable{
	background-image: url(../images/n023_no_cache.jpg);  /* lt2 */
	width:104px;
	cursor:default;
}
.ButtonLarge{
	background-image: url(../images/n045_no_cache.jpg);
	width:173px;
	cursor:pointer;
}
.ButtonLargeDisable{
	background-image: url(../images/n046_no_cache.jpg);
	width:173px;
	cursor:default;
}

.ButtonHighlight
{
	color: white;
	background-image: url(../images/AA_002_no_cache.jpg);
	}
.GridHeader
{
	background-color:#156CAF;
	height:20px;

	}	

.GridHeaderHighlight{
	background-color:#18496e;
	height:20px;
	}
	
.Grid
{
	background-color:white;
	border-color:#D7E4ED;
}
.GridTable
{
	background-color:#739CBC;
	border-color:#D7E4ED;
}

.GridAlert
{
	background-color:#FFFF99;
	border-color:#D7E4ED;
}
.GridItems
{
	background-color:#FFFFFF;
	height:20px;
	}
.GridHighlight
{
	background-color:#D7E5F0;
	height:20px;
}
.GridDblHighlight{
	height:30px;
}
.GridItemRowRed
{
	border-width:1px;  
	height:18px; 
	border-style:solid; 
	border-color:red;
}
.ItineraryHeader
{
	background-color:#D4D0C8;
	height:20px;
}
.ItineraryGridItems{
	background-color:#F4F4F4;
	height:20px;
	text-transform: capitalize;
}
.FareGridBorder{
	border:1px solid #136FB8;
	height:18px;
	}
.FareInidBorder{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	}
.Dots{
	background-image: url(../images/Dot_no_cache.gif);
	height:20px;
}
.NoFaresBGColor
{
	background-color:#ffffff;
	}	
.FaresDaysBGColor
{
	background-color:white;
	}
.FaresMonthBGColor
{
	background-color:#136FB8;
	}
.FareBGColor
{
	background-color:white;
}
.Mandatory{
	color:#06243B;
}
.SeperateorBGColor{
	background-color:#D7E5F0;
}
.SeperateorBGAlt{
	background-color: #FFFFFF; /* lt2 */
}
.rightText{
	text-align: right;
}
.itneraryBorder{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
}
.itneraryBGColor
{
	background-color:#C4C4C4;
	}
.pageBreak{
	page-break-after: always	
}
.fontCapitalize{
	text-transform: capitalize;
}

.PageBottomShadow
{
	background-color:#9D9D9D;
	}	

.StatsBarDef
{
	background-color:#A8A8A8;
	border: none;
	height:20px;
	}	
.clsSelect
{
	font-family: tahoma,Arial,sans-serif;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
.errorControl{
	background-color:#FEFFAF;
	}
.sperateorBar{
	height:0.5px;
	}
.setHeight{
	height:10px;
}
UL
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 4px;
}
LI
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 0px;
}
#content .postimagecenter
{
    MARGIN: 10px;
    TEXT-ALIGN: center
}

#content H1
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: bottom;
    COLOR: #000000;
    PADDING-TOP: 0px
}
.contentBGcolor{
	background-color:#FFCCCC;
}
.contentAltercolor{
	background-color:#FFCCCC;
}
.FareGridBorderWhite{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	background-color:white;
	}

.FareGridBorder01{
	background-color:#c0e3ff;
	border-color:#136FB8;
	border-style:solid;
	border-width:1px;
	height:18px;
	}
	
.FareGridBorder02{
	background-color:#81c8ff;
	border-color:#136FB8;
	border-style:solid;
	border-width:1px;
	height:18px;
	}	
	
.FareGridBorder03{
	background-color:#50a7ea;
	border-color:#136FB8;
	border-style:solid;
	border-width:1px;
	height:18px;
	}	
	
.FareGridBorder04{
	background-color:#2c83c6;
	border-color:#136FB8;
	border-style:solid;
	border-width:1px;
	height:18px;
	}
	
.FareGridBorder05{
	background-color:#014f8c;
	border-color:#136FB8;
	border-style:solid;
	border-width:1px;
	height:18px;
	}
.fontExp{
	font-family:tahoma,Arial,sans-serif;
	font-size:11px;
	left:auto;
	color: red; 
}

.fntBoldAndRed{
	font-weight:bold;
	color:red;
}
fontHolidays{
	font-family:tahoma,Arial,sans-serif;
	font-size:12px;
	left:auto;
	color: black; 
}

.outLine{
	width:940px;
	border:0px;
}

.bannerClass{
	height:96px;
	width:940px;
	background-repeat:no-repeat;
	background-position:top center;
}

.fareSelSidePanel{
   width:260px;  /* lt2 */
   align:center; 
}

.jquery-checkbox{display: inline; font-size: 16px; line-height: 16px; cursor: pointer; cursor: hand;}
.jquery-checkbox .mark {display: inline;}

.jquery-checkbox img {vertical-align: middle; width: 16px; height: 16px;}
.jquery-checkbox img {background: transparent url(../images/checkbox_no_cache.png) no-repeat;}

.jquery-checkbox img{
	background-position: 0px 0px;
}
.jquery-checkbox-hover img{
	background-position: -16px 0px;
}
.jquery-checkbox-checked img{
	background-position: 0px -16px;
}
.jquery-checkbox-checked .jquery-checkbox-hover img {
	background-position: -16px -16px;
}

.jquery-checkbox-disabled img{
	background-position: 0px -32px;
}
.jquery-checkbox-checked .jquery-checkbox-disabled img{
	background-position: 0px -48px;
}


.calGridWidth{
	width:100%; 
}

.adClass{
z-index: 10;
left: 538px;
position: absolute;
top: 0px;
}

.fntRed{
	color:#06243B; 
}

.selectBox{
	color: #4B4B4B;
	font-family: tahoma,Arial,sans-serif;
	font-size: 8pt;
	font-weight: bold;
	border: 1px solid #808080
}

  
 /* Newly Added */
 .bannerBG{
	background-color:#FFFFFF;
 }
 .navFont{
	font-size:12px;
	vertical-align: middle;
 }
 .hdFont{
	font-size:15px;
 }
 .fntItalic{
	font-style: italic;
 }
 .disableNavFont{
	color:#DFDFDF;
 }
 .aaFontColor{
	color:#06243B;
 }
 .rowSingleGap{
	height:5px;
 }
 .rowGap{
	height:10px;
 }
  .pgBGColor
{
	background-image:none;
	background-color:white;
	}
 .tblBG
{
	background-image:url(../images/n001_no_cache.jpg);
	background-repeat:repeat-x;
	}
 .tblBGT
{
	background-image:url(../images/n018_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:8px;
	}
.tblBGTL
{
	background-image:url(../images/n018_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:8px;
	}
	
 .tblBGTR
{
	background-image:url(../images/n017_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	width:8px;
	height:8px;
	}
 .tblBGB
{
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	}

 .tblBGTSmall
{
	background-image:url(../images/n043_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:8px;
	}
 .tblBGTRSmall
{
	background-image:url(../images/n042_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	width:9px;
	height:8px;
	}
 .tblBGBSmall
{
	background-image:url(../images/n044_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	}
	
 .tblTL{	
	background-image:url(../images/n003_no_cache.gif);
	background-repeat:no-repeat;
	background-position:top;
	height:10px;
	width:10px;
}
.tblTT{	
	background-image:url(../images/n004_no_cache.gif);
	background-repeat:repeat-x;
	background-position:top;
	height:10px;
}
.tblTR{	
	background-image:url(../images/n005_no_cache.gif);
	background-repeat:no-repeat;
	background-position:top;
	height:10px;
	width:10px;
}
.tblML{	
	background-image:url(../images/n006_no_cache.gif);
	background-repeat:repeat-y;
	background-position:left;
	height:10px;
}
.tblMM{	
	background-image:url(../images/spacer_no_cache.gif);
	background-repeat:repeat-y;
}
.tblMR{	
	background-image:url(../images/n007_no_cache.gif);
	background-repeat:repeat-y;
	background-position:right;
}
.tblBL{	
	background-image:url(../images/n008_no_cache.gif);
	background-repeat:no-repeat;
	background-position:top;
	height:10px;
	width:10px;
}
.tblBB{	
	background-image:url(../images/n009_no_cache.gif);
	background-repeat:repeat-x;
	background-position:top;
	height:10px;
}
.tblBR{	
	background-image:url(../images/n010_no_cache.gif);
	background-repeat:no-repeat;
	background-position:top;
	height:10px;
	width:10px;
}

.tblTLE{	
	background-image:url(../images/n011_no_cache.gif);
	background-repeat:no-repeat;
	background-position:top;
	height:10px;
	width:10px;
}
.tblTRE{	
	background-image:url(../images/n012_no_cache.gif);
	background-repeat:no-repeat;
	background-position:top;
	height:10px;
	width:10px;
}
.tblBLE{	
	background-image:url(../images/n013_no_cache.gif);
	background-repeat:no-repeat;
	background-position:top;
	height:10px;
	width:10px;
}
.tblBRE{	
	background-image:url(../images/n014_no_cache.gif);
	background-repeat:no-repeat;
	background-position:top;
	height:10px;
	width:10px;
}
.thinBorderT{border-top:1px solid #D5ECFF;}
.thinBorderB{border-bottom:1px solid #D5ECFF;}
.thinBorderL{border-left:1px solid #D5ECFF;}
.thinBorderR{border-right:1px solid #D5ECFF;}
 
 
.powerdBy{
	background-image:url(../images/n024_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:bottom;
}

.pTopL{
	background-image:url(../images/n025_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:27px;
	width:11px;
}
.pTopM{
	background-image:url(../images/n026_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:27px;
}
.pTopR{
	background-image:url(../images/n027_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:27px;
	width:11px;
}
.pMidL{
	background-image:url(../images/n028_no_cache.jpg);
	background-repeat:repeat-y;
	background-position:top;
	width:2px;
}
.pMidM{
	background-image:url(../images/n033_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}
.pMidR{
	background-image:url(../images/n029_no_cache.jpg);
	background-repeat:repeat-y;
	background-position:top;
	width:2px;
}

.pBotL{
	background-image:url(../images/n030_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:15px;
	width:11px;
}
.pBotM{
	background-image:url(../images/n031_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:15px;
	width:92%;
}
.pBotR{
	background-image:url(../images/n032_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:15px;
	width:11px;
}
.noPadding{
	padding:0px;
}

.pTopDM{
	background-image:url(../images/n048_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:27px;
}
.pTopDR{
	background-image:url(../images/n047_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:27px;
	width:11px;
}
.logUserBG{
	background-image:url(../images/n050_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:34px;
}
.cursorPointer{
	cursor:pointer;
}
.tabSltd{
	background-image:url(../images/n052_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:27px;
}
.tabUnSltd{
	background-image:url(../images/n053_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:27px;
}

 
	
.widePaxInfo{
	width:180px;
}	
	
.MandatoryGrid{
	color: white;
}

.perImage{
	text-align:center;
	height:32px;
	width:142px;
	font-family:tahoma,Arial,sans-serif;
	font-size:11px;
	font-weight:bold;
	background-image: url(../images/NI090_no_cache.gif); 
	background-repeat:no-repeat;
	cursor:pointer;
}

.perRadio{
	cursor:pointer;
	
	}

.letterSpacing{
	letter-spacing: 2pt;
	line-height: 150%;
	}

.progressBG{
		 
		background-color:transparent;
		background-repeat:no-repeat; 
}

 .hdnavFont{
	font-size:20px;
	 
 }
.rowDataHeight{
	height:25px;
}
.GridWhiteRow{
	background-color:white; /* lt2 */
}

.GridLightRow{
	background-color:#FCFCFC; /* lt2 */
}

.spMsg{
	background-color:#ffffcf;
		opacity: .7;
		filter: alpha(opacity=80);
	border:1px solid;
		padding:2px;
		font-size:11px;
		-moz-border-radius:6px;	/* Rounded edges in Firefox */
		font-family: tahoma,Arial,sans-serif; 
}
.lineHeight{
	line-height: 150%
}
.Gridwt
{
	background-color:#FFFFFF;
	height:20px;
	border-color:#F3F376; 
}
.GridStyleLeft{
	border-left: 1px solid #ABA8A8; 
	border-right: 1px solid #ABA8A8;

	border-bottom: 1px solid #ABA8A8;
	}
.GridStyleMiddle{
	

	border-bottom: 1px solid #ABA8A8;
	}
.GridStyleRight{
	
	border-right: 1px solid #ABA8A8; 

	border-bottom: 1px solid #ABA8A8;
	}		
	
.ButtonAncilary{
	background-image: url(../images/n200_no_cache.gif);
	width:174px;
	height:28px;
	cursor:pointer;
	font-family:tahoma,Arial,sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: #5A5959;
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	background-repeat:no-repeat;
}

.linkImage{
	border-color:Transparent;
	border:0px;
	border-style:none;
	}
	
.fntLargePnr{
	font-size: 14px;
	cursor:text;
	}
	
table.client-banner-img {
border-collapse:collapse;
}

table.client-banner-img td{
	padding:0px;
}
	
.btnAuxButton
{
	font-family:tahoma,Arial,sans-serif;
	font-size:9px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: red;
	background-color:transparent;
	background-image: url(../images/n061_no_cache.gif);  /* lt2 */
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 25px;
	width:133px;
	cursor:pointer;
	background-repeat:no-repeat;
	padding-bottom:4px;
	padding-left:0px;
	}
	
.AuxButtonDisable{
	background-image: url(../images/n056_no_cache.gif);  /* lt2 */
	width:133px;
	cursor:default;
	background-color:transparent;
	background-repeat:no-repeat;
	color: gray;
	cursor:crosshair;
}

.btnAuxSrv
{
	font-family:tahoma,Arial,sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: #5A5A5A;
	background-color:transparent;
	background-image: url(../images/n056meal_no_cache.gif); 
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 25px;
	width:154px;
	cursor:pointer;
	background-repeat:no-repeat;
	}

.SeperateorBGAlt{
	background-color: #FFFFFF; /* lt2 */
}

.SeperateorBGColor .fntWhite {
	color:#06243B;
}

.fntCnxSeg{
 	text-decoration:line-through;
}

 .rowGapNone{
	height:0px;
 }
 
.fntSmallSm{
	font-size:9px;
}

.btnCredit{
	background-image: url(../images/n022C_no_cache.jpg);  /* lt2 */
	width:104px;
	cursor:pointer;
}

.btnCDisable{
	background-image: url(../images/n023D_no_cache.jpg);  /* lt2 */
	width:104px;
	cursor:default;
}

.ButtonCreditLarge{
	background-image: url(../images/n045C_no_cache.jpg);
	width:173px;
	cursor:pointer;
}

.btnCLargeDisable{
	background-image: url(../images/n046D_no_cache.jpg);
	width:173px;
	cursor:default;
}

.btnPointer{
	cursor:pointer;
}

.tblBGBLEFT{
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}
.tblBGBRIGHT{
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}

.prograssBarTable{
	 width:210px;
	 border-collapse:collapse;
	 border: 0;
	 margin: 1px;
	 padding: 2px;
}

.disableNavFont {
	color:#444444;
}

td.client-banner-img-gap{
	height:0px;
}

.fntFlexi{
	color: #C11B17; 
}
/* main pageloaging msg */
.mainPageLoader{display:none;z-index:9900; background:transparent;height:80px;position:absolute;top:50%;left:40%;width:250px}

.recordl {
	background-color:#F7F7F7;
	height:20px;
	FONT-SIZE: 11px;
}
.recordl td.GridItems {
    background-color: #FFFFFF;
    border-right: 1px solid #D1D1D1;
    font-size: 11px;
    height: 20px;
    padding: 0 1px;
}
.recordd {
	background-color:#FFFFFF;
	height:20px;
	FONT-SIZE: 11px;
}
.recordd td.GridItems {
    background-color: #FFFFFF;
    border-right: 1px solid #D1D1D1;
    font-size: 11px;
    height: 20px;
    padding: 0 1px;
    border-top: 1px solid #D1D1D1;
	border-bottom: 1px solid #D1D1D1;
}
.hdRow{
	border-bottom:0px! important;
	border-right:1px solid #d1d1d1;
}
.recordlhdr {
	background-color:#F7F7F7;
	height:20px;
	FONT-SIZE: 11px;
	width:100%;
}
.recordlmainhdr {
	background-color:#F7F7F7;
	height:20px;
	FONT-SIZE: 11px;
        border:1px solid;border-color:black;
}
.recordtopHeader{
	font-family: tahoma,Arial,sans-serif;
	font-weight:bold;
	height:20px;
	FONT-SIZE: 10px;
	border:1px solid;
	border-color:#06243B;
	width:97%;
}
	
.recordtop{
	font-family: tahoma,Arial,sans-serif;
	font-weight:bold;
	background-color:#04316F! important;
	height:20px;
	font-size: 14px;
	color:#fff;
}
.recordtop font{
	color:#FFF! important;
	font-size: 14px;
}
.recordtopar{
	font-weight:bolder;
	background-color:#FFFFFF;
	height:20px;
	font-size: 14px;
}