 html, body {	
	background:#ffffff;
 }
* html{	
	overflow-x: hidden;
	overflow-y: auto;
}

.mainPageLoader{
  background: none repeat scroll 0 0 transparent;
    display: none;
    height: 70px;
    left: 44%;
    position: absolute;
    top: 50%;
    width: 234px;
    z-index: 9900;
}
.mainPageLoaderFreame{
    background: none repeat scroll 0 0 transparent;
    height: 70px;
    position: absolute;
    width: 234px;
}
a label{cursor:pointer}
html, body,  ol,  dd, blockquote, q, h1, h2, h3, h4, h5, h6, form, fieldset, a, div, img, table {
	margin: 0;
	padding: 0;
	border: 0;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
}
ul {
	margin-bottom:4px;
	margin-top:0;
}
li {
	margin-bottom:0;
	margin-left:15px;
	margin-top:0;
}
/* LT added */
label{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	left:auto;
	color: #1a1b2d;
	line-height: 16px;
}
.fntDefault{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
	left:auto;
	color: #1a1b2d;
}
.appLogo{
	background-image:url(../images/n024_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:left bottom;
	height:50px;
}
.topBanner{
	background:transparent;
	height:70px;
}
.outerPageBackGround{
	background: url(../images/bg_outerwrapper_no_cache.jpg) scroll center 0 no-repeat;
	width:964px! important;
}
.PageBackGround{
	width:964px! important;
}
.topBannerMB{background-color:#1A1B2D;}
.rowSingleGap{
	height:5px;
}
.rowGap{
	height:10px;
}
.defaultRowGap{
	height:25px;
}
.pnlTop{
	background-image:url(../images/LIbe002_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:8px;
}
.pnlWidth{
	width:800px;
}
.pnlWidthLeft{
	width:258px;
}
.pnlTopR{
	background-image:url(../images/LIbe002_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:8px;
	width:8px;
}
.pnlBottom{
	background-image:url(../images/LIbe003_no_cache.jpg);
	background-repeat:repeat-x;
	height:52px;
}
.pnlBottomTall{
	background-image:url(../images/LIbe004_no_cache.jpg);
	background-repeat:repeat-x;
	height:150px;
}
.pnlBottomTallCal {
	background-image:url("../images/LIbe004_no_cache.jpg");
	background-position:0 0;
	background-repeat:repeat-x;
}
.fntSmall{
	font-size:9px;
}
.fntBold{
	font-weight:bold;
}
.hdFont{
	font-size:15px;
}
.hdFontColor{
	color:#2269DD;
}
.mandatory{
	color: red;
	font-size:10px
}
.tab1A{
	background-image:url(../images/n034_A_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}
.tab1{
	background-image:url(../images/n034_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}
.tab2A{
	background-image:url(../images/n035_A_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:220px;
}
.tab2{
	background-image:url(../images/n035_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:220px;
}
.tab3A{
	background-image:url(../images/n036_A_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}
.tab3{
	background-image:url(../images/n036_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}

select
{
	font-family: tahoma;
	font-size: 10px;
	height: 17px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove #9D9D9D;
	BORDER-TOP: thin groove #9D9D9D;
	BORDER-LEFT: thin groove #9D9D9D;
	BORDER-BOTTOM: thin groove #9D9D9D;
	}
	
input{
	font-family: tahoma;
	font-size: 10px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: solid 1px #9D9D9D;
	BORDER-TOP: solid 1px #9D9D9D;
	BORDER-LEFT: solid 1px #9D9D9D;
	BORDER-BOTTOM: solid 1px #9D9D9D;
}
input[type = 'radio'], input[type = 'checkbox']{
	border: 0px;
	background-color:transparent;
}
	
.clsInput{
	font-family: tahoma;
	font-size: 10px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove #9D9D9D;
	BORDER-TOP: thin groove #9D9D9D;
	BORDER-LEFT: thin groove #9D9D9D;
	BORDER-BOTTOM: thin groove #9D9D9D;
	}
}
.noBorder
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
	color: black;
	background-color: red;
	border-color:green;
	border-width:0px;
	}	
	
.Button{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: white;
	background-image: url(../images/n022_no_cache.jpg);  /* lt2 */
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 25px;
	width:104px;
	cursor:pointer;
	background-repeat:no-repeat;
	padding-bottom:5px;
}
	
.ButtonLarge{
	background-image: url(../images/n045_no_cache.jpg);
	width:173px;
	cursor:pointer;
}
.ButtonDefaultDisable{
	background-image: url(../images/n021_no_cache.jpg);  /* lt2 */
	width:74px;
	cursor:default;
	background-repeat:no-repeat;
}
.ButtonLargeDisable{
	background-image: url(../images/n046_no_cache.jpg);
	width:173px;
	cursor:default;
}
.ButtonLargeMedium{
	background-image: url(../images/n022N_no_cache.jpg);  /* lt2 */
	width:134px;
	cursor:pointer;
}
.ButtonMedium{
	background-image: url(../images/n022_no_cache.jpg);  /* lt2 */
	width:104px;
	cursor:pointer;
}

.gridHD{
	background-color:#7E99E6;
	height:25px;
}
.gridHDDark{
	background-color:#3e3f5d;
	height:25px;
}
.gridHDFont{
	color:white;
}
.gridHDsub {
    background-color: #333333;
    height: 18px;
}
.lpaneTopL{
	background-image:url(../images/LIbe006_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:27px;
	width:11px;
}
.lpaneTopM{
	background-image:url(../images/LIbe007_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	width:238px;
}
.lpaneTopR{
	background-image:url(../images/LIbe008_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	width:11px;
}
.lpaneMidL{
	background-image:url(../images/LIbe009_no_cache.jpg);
	background-repeat:repeat-y;
	background-position:top;
	width:2px;
}
.lpaneMidM{
	background-color:white;
	width:257px;
}
.lpaneMidR{
	background-image:url(../images/LIbe010_no_cache.jpg);
	background-repeat:repeat-y;
	background-position:top;
	width:1px;
}
.lpaneBotL{
	background-image:url(../images/LIbe011_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:18px;
	width:11px;
}
.lpaneBotM{
	background-image:url(../images/LIbe012_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	width:238px;
}
.lpaneBotR{
	background-image:url(../images/LIbe013_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	width:11px;
}
.navFont{
	font-size:12px;
	vertical-align: middle;
	color:white;
 }	
.navFontBig{
	font-size:17px;
	vertical-align: middle;
	color:white;
 }	
.rowColor{
	background-color:white;
}
.rowColorAlternate{
	background-color:#DFDFDF;
}
.bdLeft{
	BORDER-LEFT: solid 1px #DFDFDF;
}
.bdTop{
	BORDER-TOP: solid 1px #DFDFDF;
}
.bdBottom{
	BORDER-BOTTOM: solid 1px #DFDFDF;
}
.bdRight{
	BORDER-RIGHT: solid 1px #DFDFDF;
}
.noPadding{
	padding:0px;
}
.lightGrayHD{
	background-color:#DFDFDF;
	height:25px;
}

.errorControl{
	background-color:#FEFFAF;
}

.fontCapitalize{
	text-transform: capitalize;
}
.ButtonAncilary{
	background-image: url(../images/n200_no_cache.gif);
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: gray;
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 28px;
	width:174px;
	cursor:pointer;
	background-repeat:no-repeat;
	padding-bottom:2px;
}

.ButtonMeal{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: #5A5A5A;
	background-color:transparent;
	background-image: url(../images/n056meal_no_cache.gif); 
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 25px;
	width:154px;
	cursor:pointer;
	background-repeat:no-repeat;
}
.availSeat{
	background-image:url('../images/LCAnsi004_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
}
.notAvailSeat{
	background-image:url('../images/LCAnsi002_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
}

.friendsSeat{
	background-image:url('../images/LCAnsi007_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
}

.SltdSeat{
	background-image:url('../images/LCAnsi003_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
}
.aisle{
	height:15px;
	width:20px;
}
.exitLeft{
	background-image:url('../images/ANCI_06_no_cache.gif');
	background-position:top center;
	background-repeat:no-repeat;
	width:20px;
	height:39px;
}
.exitRight{
	background-image:url('../images/ANCI_07_no_cache.gif');
	background-position:bottom center;
	background-repeat:no-repeat;
	width:20px;
	height:39px;
}
.window{
	width:20px;
}
.wingRight{
	background-image:url('../images/LCAnsi005_no_cache.jpg');
	background-position:bottom center;
	background-repeat:no-repeat;
	height:65px;
	width:594px;
}
.wingLeft{
	background-image:url('../images/LCAnsi006_no_cache.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	height:65px;
	width:594px;
}
.noTextDec{
	text-decoration:none;
}
.seatTT{
	opacity: .8;
	filter: alpha(opacity=80);
}
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.tabBG{
	background-image:url('../images/LIbe016_no_cache.jpg');
	height:27px;
}
.tabSltd{
	background-image:url('../images/LIbe015_no_cache.jpg');
	background-repeat:no-repeat;
	width:109px;
	height:27px;
}
.tabNotSltd{
	background-image:url('../images/LIbe014_no_cache.jpg');
	background-repeat:no-repeat;
	width:109px;
	height:27px;
}
.cursorPointer{
	cursor:pointer;
}
.noBorder{
	border: 0px solid transparent;
}
.progressBG {
	background-color:#FA0101;
}
.fntDefaultWhite{
	color:white;
}
.MandatoryGrid{
	color: white;
}
.paddingL5{
	padding-left: 5px;
}
.paddingL3{
	padding-left: 3px;
}
.Gridwt {
	background-color:#FFFFFF;
	height:20px;
}
.GridTable {
	background-color:#DFDFDF;
	border-color:#DFDFDF;
}
.GridHighlight {
	background-color:#EBEBEB;
	height:20px;
}
.GridItems{background: #ffffff}
.tblBgLeft{
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}
.tblBgRight{
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}
.copyright {
	color:#FFFFFF;
	font-size:11px;
	margin:0 auto;
	padding:10px 19px 14px;
}
.copyright a {
	color:#FFFFFF;
	font-size:11px;
	text-decoration:none;
}
.mainbody{
	background: url(../images/backbg_no_cache.jpg) repeat-y;
	padding:0 6px;
}
.mainbody div#sortable-ul {
	margin:0;
	padding:0;
}
.mainbody div#sortable-ul div.sortable-child {
	float:left;
}
#divSummaryPane, .floater{
	width:250px;
}
.floater{margin-left: 5px;background: transparent! important;}
#divSummaryPane .bookingSummary, #divSummaryPane .paymentSummary {
	margin-bottom:8px;
}

.rightColumn {
	background:none repeat scroll 0 0 transparent;
	margin:0 0 0 8px;
	padding:0;
	width:680px;
}
.headerRow{height: 24px}
.headerBG{background: url("../images/allbg_no_cache.jpg");}
.hLeft{background-repeat: no-repeat;width:11px;height: 32px}
.hCenter{background: url("../images/allbg1_no_cache.jpg") scroll 0px 0px repeat-x;height: 32px}
.hRight{background-repeat:no-repeat;background-position: 0px -69px;width:11px;height: 32px}
.bLeft{background-repeat:no-repeat;background-position: 0px -135px;width:11px;height: 11px}
.bCenter{background-repeat:repeat-x;background-position: 0px -117px;height: 11px}
.bRight{background-repeat:no-repeat;background-position: 0px -105px;width:11px;height: 11px}
.mLeft {
	background: url("../images/borderLeft_no_cache.jpg") scroll -1px 0px repeat-y;
	width:4px;
}
.mCenter{width: 242px}
.mRight {
	background: url("../images/borderRight_no_cache.jpg") scroll 1px 0px repeat-y;
	width:4px;
}

#divSummaryPane .add-padding {
	padding:0 8px;
}
.paddingCalss{padding:0 10px;}
font {
	color:#1a1b2d;
	font-family:Verdana,Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
}
.paddingR5 {
	padding-right:5px;
}
.alignRight {
	text-align:right;
}
.alignLeft {
	text-align:left;
}
.buttonset{text-align: center;}
.buttonset table {
	width:auto;
	margin: 0px auto;
}
/*
New Style
*/
.newPogressLoading ,.loadingContainer{background:#fff;display: none;}
.pageName label{
	color:#2269DD;
	font-size:15px;
	font-weight:bold;
	text-align: left;
	text-transform: uppercase;
}
/* Calendar Styles*/
#tabs1{width: 100%}
.ui-tabs .ui-tabs-panel{
	padding: 8px 0px;
}
.flight-oriented{
	background-image:url(../images/LIbe004_no_cache.jpg);
	background-repeat:repeat-x;
}
.outerCal {
	display:block;
	width:100%;

}
.outerCal>table {
	width:100%;
	display:block;
}
h3.label {
	background: transparent;
	color:#2269DD;
	font-size:12px;
	padding:5px 6px;
	text-align:left;
}
.fntArabic{
	font-size:15px;
	font-family: verdana;
}
.fntEnglish{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	color: #1a1b2d; 
	cursor:default;
}
.cal-header-ul div.cal-one-day {
    background: none repeat scroll 0 0 #446fae;
    border-color: #ECF3F7 #ECF3F7 -moz-use-text-color;
	border-style:solid solid none;
	border-width:1px 1px 0;
	color:#FFFFFF;
	line-height:18px;
	padding:0;
	text-align:center;
}
div.cal-one-day div {
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
}

.calendar-ul li div.cal-day {
	border:1px solid #0064ED;
	height:65px;
}

div.cal-day .flight-body {
	padding:0;
}

div.cal-day .flight-body div.cal-base {
	background:none repeat scroll 0 0 #FFFFFF;
}

.flight-body .cal-base {
	-moz-border-radius:0 0 0 0;
	border:0px solid #446fae;
	height:65px;
	margin:0;
	text-align:center;
	background:#fff;
}
.flight-body a:hover div.cal-base {
	border:0px solid #446fae;
	cursor: pointer;
	background:#446fae;
}

.flight-body a.selected div.cal-base {
	border:0px solid #446fae;
	cursor: pointer;
	background:#446fae;
}

.lowerstCon  {
	display:none;
}

.lowerstCon {
	height:4px;
}
.flightFull div.totalValue {
	background:none repeat scroll 0 0 transparent !important;
	color:#737373 !important;
	font-size:11px;
	font-weight:bold;
}

.noFlight, .FlightFull {
	display:block;
	margin:15px auto;
}

.totalValue {
	background: none repeat scroll 0 0 transparent !important;
    color: #737373 !important;
    font-size: 11px;
    font-weight: bold;
}
.totalValueSelected {
	color:#000;
	display:inline;
	font-size:19px;
	margin-top:0;
}

.totalValueSelected label{
	color:#000;
}

div.stopover {
	display: none;
}
.departureTime span, .departureTime{
	color: #000;
    font-size: 11px;
}
.flight-body a div, .flight-body a span {
	background:none repeat scroll 0 0 transparent;
	cursor:pointer;
}
.totalValueSelected span {
   color: #000;
   font-size: 9px;
}

.selecRadio {
	text-align:left;
}




.sub-div a {
	/*border:1px solid #446fae;*/
	color:#446fae;
	display:block;
	font-family:arial;
	/*font-weight:bold;*/
	line-height:18px;
	outline:medium none;
	padding:0 7px;
	text-decoration:none;
	height:64px;
	font-size:11px;
}
.sub-div a:hover {
	/*border:1px solid #9cb2e4;*/
	color:#9cb2e4;
	display:block;
	font-family:arial;
	/*font-weight:bold;*/
	line-height:18px;
	outline:medium none;
	padding:0 7px;
	text-decoration:none;
	font-size:11px;
}


.sub-div-additional a {
	border:1px solid #446fae;
	color:#446fae;
	display:block;
	font-family:arial;
	font-weight:bold;
	line-height:18px;
	outline:medium none;
	padding:0 6px;
	text-decoration:none;
}
.sub-div-additional a:hover {
	border:1px solid #9cb2e4;
	color:#9cb2e4;
	display:block;
	font-family:arial;
	font-weight:bold;
	line-height:18px;
	outline:medium none;
	padding:0 6px;
	text-decoration:none;
}

/*Gradeant colors */
.FareGridBorder01 {
	background-color:#E6E6ED! important;
	border-color:#2c2d4d;
	border-style:solid;
	border-width:1px;
	height:18px;
}

.FareGridBorder02 {
	background-color:#CACBDF! important;
	border-color: #2c2d4d;
	border-style:solid;
	border-width:1px;
	height:18px;
}

.FareGridBorder03 {
	background-color:#B1B2CE! important;
	border-color: #2c2d4d;
	border-style:solid;
	border-width:1px;
	height:18px;
}

.FareGridBorder04 {
	background-color:#9899BA! important;
	border-color: #2c2d4d ;
	border-style:solid;
	border-width:1px;
	height:18px;
}

.FareGridBorder05 {
	background-color:#8686A7! important;
	border-color:#2c2d4d;
	border-style:solid;
	border-width:1px;
	height:18px;
}
.fntHighLow{color:black! important}
.fntLowHigh{color:black! important}
/* steps */
.StepsTable{}
/* process banner start*/
.StepsTable{width: 618px;display: block;margin: 2px auto}
td.stepsItem div.process1 {background-image: url("../images/n034_no_cache.gif"); background-repeat: no-repeat; width: 188px; height: 68px;}
td.select div.process1{background-image: url("../images/n034_A_no_cache.gif"); background-repeat: no-repeat; width: 188px; height: 68px;}
td.stepsItem div.process2{background-image: url("../images/n035_no_cache.gif"); background-repeat: no-repeat; width: 241px; height: 68px;}
td.select div.process2{background-image: url("../images/n035_A_no_cache.gif"); background-repeat: no-repeat; width: 241px; height: 68px;}
td.stepsItem div.process3{background-image: url("../images/n036_no_cache.gif"); background-repeat: no-repeat; width: 189px; height: 68px;}
td.select div.process3{background-image: url("../images/n036_A_no_cache.gif"); background-repeat: no-repeat; width: 189px; height: 68px;}
/*alert*/
.drager {
	cursor:move;
	height:25px;
	position:relative;
	width:94%;
	z-index:99999;
}
#popup_container {
	-moz-border-radius: 5px 5px 5px 5px;
	background:none repeat scroll 0 0 #FFFFFF;
	border:2px solid #317AF0;
	color:#FFFFFF;
	display:none;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
	overflow:hidden;
	width:380px;
}
#popup_container_frame  {
	height:100%;
	width:100%;
}

.fareSelSidePanel {
	width:260px;
	padding-left:8px;
}

.fareSelSidePanel table.footerRow{
	background:#DBC771;
	height:1px;
}

.pTopM {
	background:url("../images/n025N_no_cache.jpg") repeat-x scroll 0 0px;
	height:30px;
	width: 80px;
}
.pTopM label{color: #fff}

.pTopL {
	background:url("../images/n025_no_cache.jpg") repeat-x scroll 0 0px;
	height:30px;
	width:11px;
}

.pTopDM {
	background:url("../images/allbg_no_cache.jpg") repeat-x scroll 0 -36px;
	height:30px;
}

.pTopDR {
	background:url("../images/allbg_no_cache.jpg") repeat-x scroll 0 -70px;
	height:30px;
	width:11px;
}

.pMidL {
	background: url("../images/borderLeft_no_cache.jpg") scroll -1px 0px repeat-y;
	width:4px;
}
.pMidM {
	background-image:url("../images/n033_no_cache.jpg");
	background-position:center top;
	background-repeat:repeat-x;
	width: 242px
}
.pMidR {
	background: url("../images/borderRight_no_cache.jpg") scroll 1px 0px repeat-y;
	width:4px;
}
.footerRow .pBotL {
	background: url("../images/allbg_no_cache.jpg") scroll 0px -135px no-repeat;
	width:11px;
	height: 11px;
}

.footerRow .pBotM {
	background: url("../images/allbg_no_cache.jpg") scroll 0px -117px repeat-x;
	width:242px;
	height: 11px;
}

.footerRow .pBotR {
	background: url("../images/allbg_no_cache.jpg") scroll 0px -105px no-repeat;
	width:11px;
	height: 11px;
}

.searchCritira  {
	display:block;
	margin:0 auto;
	width:224px;
}
.GridHeaderHighlight {
	background:#3d3e5d;
	height:20px;
	border-bottom: 1px solid #AAA;
}
.GridHeaderHighlight label, .logUserBG  label, .tabSltdUser label{
	color: #ffffff;
}
.logUserBG{
	background:#7E99E6;
	height:34px;
	border-bottom: 1px solid #AAA;
}
.logUserCorT{
	background:#7E99E6;
	height:34px;
	border-bottom: 1px solid #AAA;
}

.tabSltdUser {
	background:#0064ED;
	height:27px;
}

.tabUnSltd {
	background:#7E99E6;
	height:27px;
}

.tabSltdOver {
	background:#0064ED;
	height:27px;
}
.tabSltdOver label{
	color: #1A1B2D
}
.logUserCorB{
	background:#7E99E6;
	height:27px;
}

#trCabinClass p {
	margin:0;
	padding:0;
}

.popuploader{background: transparent;width: 250px}
.popuploader .closethisp{float: right}
.popuploader .headerBG {background: url("../images/allbg_no_cache.jpg") no-repeat;text-align: left;cursor: move;}
.popuploader .headerBG label{cursor: move;width: 220px;float: left}
.popuploader .hLeft {
	background-position:0px 0px;
	background-repeat:repeat-x;
	height:24px;
	width:10px;
}
.popuploader .hCenter {
	background-position:0 0px;
	background-repeat: repeat-x;
	height: 24px;
	font-size: 14px; 
	color: #fff;
	font-weight: bold;
	padding: 0px 0px;
	width:232px;
}
.popuploader .hRight {background-position:0 0px;background-repeat: repeat-x;width: 10px;height: 24px}
.popuploader .popupbody{overflow-y: auto;overflow-x: hidden;border: 1px solid #DBC771;background: #fff}
.ui-datepicker-trigger  {
	margin:1px 2px;
	vertical-align:middle;
}
.footer{background: #ffffff;}
#footer {
    clear: both;
    color: #666666;
    font-size: 10px;
    line-height: 15px;
    margin: 0 auto 15px;
    padding: 5px 0;
    text-align: left;
    width: 890px;
}

#footer div a, #footer div {
    color: #666666;
    text-decoration: none;
    font-size: 10px;
    line-height: 15px;
}
#footer div a:hover {
    color: #666666;
    text-decoration: underline;
    font-size: 10px;
    line-height: 15px;
    
}
#footer div span a{
    color: #145FDB;
    font-size: 10px;
    line-height: 15px;
}
#footer .right {
    text-align: right;
}
.right {
    float: right;
}

.left {
    float: left;
}
#atLeasetOne{
	width:220px! important;
}
.leftNavigation{
	width:60px;
	overflow: hidden;
}
.rightNavigation{
 	width:43px;
	overflow: hidden;
 }
.rightNavigation a{text-align:right}
.sData div{
	display:inline;
}
.sData .daySmall{margin-right:3px;}
.selected .sDataFull div{display:inline}
.selected .sDataFull .daySmall{margin-right:3px;}
.cal-base .from{display:none}
.TDthisFls{padding-top:20px;}
.cal-indBg div, .cal-indBg span, .cal-indBg label{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
	color: #145FDB;
}
.flight-body a.selected div, .flight-body a.selected span, .flight-body a.selected label{
	color: #FFF;
}
.flight-body a:hover div, .flight-body a:hover span, .flight-body a:hover label {
	color: #FFF;
}
.selected .sData{display:block}
.selected .sDataFull{display:none}
.ul-cards li{display:block! important;height:35px;}
.thisFls{background:#DFDFDF}
.thisFls table.GridTable{
	border-spacing:1px;
  	border-collapse:separate;
}
.even > .GridItems{background:#fff}
.trPhoneNoLabel label{font-family:tahoma}
