 Body { 		
	background : white;
	margin :0px 0px 0px 0px;
}
.pageBody{
	background : #f8fbff;
}
A:link
{
    COLOR: #134373;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #134373;
    TEXT-DECORATION: none
}
.outLineBoarder{
	height:0px;
}
.outLine{
	border-color: #e1f2f9 #e1f2f9 #e1f2f9 #e1f2f9;
	border-style: solid solid solid solid;
	background-color: #e1f2f9;
	width:775px;
	border:5px;
}
.BannerTopLine{
	background-color:#F63F4C;
}
.BannerBackGround{
	background-color:#ECECEC;
}
.BannerBorderLeft
{
	background-image: url(../images/left_shadow_no_cache.gif);
	}
.BannerBorderRight
{
	background-image: url(../images/right_shadow_no_cache.gif);
	}
.bottomColor{
	background-color: #626262;
	height:50px;
}
.PageBorder
{
	background-color:#fafafa;
	}
.PageBackGround
{
	background-color:#ffffff;
	}
.PageBottomColor
{
	background-color:#BE2539;
	}	
	
.PageBottomColorlogin
{
	background-color:#A8A8A8;
	}
font{
	font-family:Verdana,Arial,Helvetica,sans-serif;;
	font-size:11px;
	left:auto;
	/**color: #737373;**/
	color: #3e4271; 
}
fontArabic{
	font-family:Verdana,Arial,Helvetica,sans-serif;;
	font-size:13px;
	left:auto;
	color: #636363; 
}	
.fontPGInfo{
	font-family:Verdana,Arial,Helvetica,sans-serif;;
	font-size:11px;
	left:auto;
	color: white; 
}
.fontPGInfoArabic{
	font-family:Verdana,Arial,Helvetica,sans-serif;;
	font-size:13px;
	left:auto;
	color: white; 
}
.fntArabic{
	font-size:15px;
	font-family: verdana;
}
.fntEnglish{
	font-family: Verdana,Arial,Helvetica,sans-serif;;
	color: #3e4271; 
	cursor:default;
}
.fntCVV{
	font-size:11px;
	font-family: Verdana,Arial,Helvetica,sans-serif;;
}
.fntWeek{
	font-size:11px;
	color: white; 
}
.fntArabicTotal{
	font-family: Verdana,Arial,Helvetica,sans-serif;;
}
.setHeight{
	height:18px;
}

.tinySpace{
	height:5px;
}

.fntBold{
	font-weight:bold;
}
.fntWhite{
	color:white;
}
.fntDefaultWhite{
	color:white;
}
.fntRed{
	color:#03024e;	
}
.fntGreen{
	color:#00B900;	
}
.fntBlack{
	color:#03024E;
}
.fntLink{
	color:#03024E;
}
.fntSmall{
	font-size:9px;
}
.fntSmallArabic{
	font-size:13px;
}
.fntExSmall{
	font-size:8px;
}
.fntExSmallArabic{
	font-size:10px;
}
.fntTiny{
	font-size:5px;
}
.fntTinyArabic{
	font-size:7px;
}
.fntLarge{
	font-size: 17px;
}
.fntExLarge{
	font-size: 22px;
}
.fntDefault{
	font-family:Verdana,Arial,Helvetica,sans-serif;;
	font-size:11px;
	left:auto;
	color: #636363; 
}
.fntDefaultArabic{
	font-family:Verdana,Arial,Helvetica,sans-serif;;
	font-size:13px;
	left:auto;
	color: #636363; 
}
.fntMenu{
	font-family:Verdana,Arial,Helvetica,sans-serif;;
	font-size:11px;
	left:auto;
	color: #636363; 
}
.Header{
	font-family:Arial;
	font-size:11pt;
	text-align:left;
	left:auto;
	text-transform: capitalize;
	color: #D11F1F; 
	font-weight: bold;
}

.SubLink{
	text-align:left;
	left:auto;
	color: #6E6E6E;
	font-weight: bold;
	cursor: text; 
}
.SubLinkSelected{
	background-color:#FFBBBB;
	left:auto;
	color: #636363; 
	font-weight: bold;
}
.FormHeadBackGround{
	background-color:#F63F4C;
}
.FormBackGround{
	background-color:#ECECEC;
}
.FormHeader{
	left:auto;
	color: #FFFFFF;
	font-weight: bold;
}

select
{
	font-family: Verdana,Arial,Helvetica,sans-serif;;
	font-size: 10px;
	height: 19px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove #9D9D9D;  /* lt2 */
	BORDER-TOP: thin groove #9D9D9D; /* lt2 */
	BORDER-LEFT: thin groove #9D9D9D; /* lt2 */
	BORDER-BOTTOM: thin groove #9D9D9D; /* lt2 */
	}
	
input
{
	font-family: Verdana,Arial,Helvetica,sans-serif;;
	font-size: 10px;
	height: 19px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: solid 1px #9D9D9D; /* lt2 */
	BORDER-TOP: solid 1px #9D9D9D; /* lt2 */
	BORDER-LEFT: solid 1px #9D9D9D; /* lt2 */
	BORDER-BOTTOM: solid 1px #9D9D9D; /* lt2 */
	}
	
.clsInput{
	font-family: Verdana,Arial,Helvetica,sans-serif;;
	font-size: 10px;
	height: 19px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove #9D9D9D; /* lt2 */
	BORDER-TOP: thin groove #9D9D9D; /* lt2 */
	BORDER-LEFT: thin groove #9D9D9D; /* lt2 */
	BORDER-BOTTOM: thin groove #9D9D9D; /* lt2 */
	}
}
.NoBorder
{
	font-family: tahoma;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: Transparent;
	border-color:Transparent;
	border-style:none;
	}		
.LineColor
{
	color:#C30000;
	}	
.Button
{
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: white;
	background-image: url(../images/n020_no_cache.jpg);  /* lt2 */
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 25px;
	width:74px;
	cursor:pointer;
	background-repeat:no-repeat;
	padding-bottom:5px;
	}

.Buttonlog
{
	border:1px solid #B2B2B2; font-family:tahoma;
	font-size:11px;
	text-align:center;
	text-transform: capitalize;
	font-weight: bold;
	color: Black;
	background-image: url('../images/AA111_no_cache.jpg');
	height: 23px;
	width:80px;
	cursor:hand
	}
ButtonDefault{
	background-image: url(../images/n020_no_cache.jpg);  /* lt2 */
	width:74px;
	cursor:pointer;
	background-repeat:no-repeat;
}
.ButtonDefaultDisable{
	background-image: url(../images/n021_no_cache.jpg);  /* lt2 */
	width:74px;
	cursor:default;
	background-repeat:no-repeat;
}
.ButtonMedium{
	background-image: url(../images/n022_no_cache.jpg);  /* lt2 */
	width:104px;
	cursor:pointer;
}
.ButtonMediumDisable{
	background-image: url(../images/n023_no_cache.jpg);  /* lt2 */
	width:104px;
	cursor:default;
}
.ButtonLarge{
	background-image: url(../images/n045_no_cache.jpg);
	width:173px;
	cursor:pointer;
}
.ButtonLargeDisable{
	background-image: url(../images/n046_no_cache.jpg);
	width:173px;
	cursor:default;
}

.ButtonHighlight
{
	color: white;
	background-image: url(../images/AA_002_no_cache.jpg);
	}
.GridHeader
{
	background-color:#9bd1ed;
	height:20px;
	}

.GridHeaderHighlight{
	background-color:#1793db;
	height:20px;
	}
	
.Grid
{
	background-color:F4F4F4;
	border-color:#DFDFDF;
}
.GridTable
{
	background-color:DFDFDF;
	border-color:#DFDFDF;
}

.GridAlert
{
	background-color:#FFFF99;
	border-color:#D7E4ED;
}
.GridItems
{
	background-color:#ffffff;
	height:20px;
	}
.GridHighlight
{
	background-color:#1793db;
	height:20px;
	}
.GridDblHighlight{
	height:30px;
}
.ItineraryHeader
{
	background-color:#D4D0C8;
	height:20px;
}
.ItineraryGridItems{
	background-color:#F4F4F4;
	height:20px;
	text-transform: capitalize;
}
.FareGridBorder{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	}
.FareInidBorder{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	}
.Dots{
	background-image: url(../images/Dot_no_cache.gif);
	height:20px;
}
.NoFaresBGColor
{
	background-color:#F4F4F4;
	}	
.FaresDaysBGColor
{
	background-color:white;
	}
.FaresMonthBGColor
{
	background-color:#1793db;
	}
.FareBGColor
{
	background-color:white;
}
.Mandatory{
	color: red;
}
.SeperateorBGColor{
	background-color: #c4e3f7;
}
}
.SeperateorBGAlt{
	background-color: #FFFFFF; /* lt2 */
}
.rightText{
	text-align: right;
}
.itneraryBorder{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
}
.itneraryBGColor
{
	background-color:#C4C4C4;
	}
.pageBreak{
	page-break-after: always	
}
.fontCapitalize{
	text-transform: capitalize;
}

.PageBottomShadow
{
	background-color:#9D9D9D;
	}	

.StatsBarDef
{
	background-color:#A8A8A8;
	border: none;
	height:20px;
	}	
.clsSelect
{
	font-family: tahoma;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
.errorControl{
	background-color:#FEFFAF;
	}
.sperateorBar{
	height:5px;
	}
.setHeight{
	height:10px;
}
UL
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 4px;
}
LI
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 0px;
}
#content .postimagecenter
{
    MARGIN: 10px;
    TEXT-ALIGN: center
}

#content H1
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: bottom;
    COLOR: #000000;
    PADDING-TOP: 0px
}
.contentBGcolor{
	background-color:#FFCCCC;
}
.contentAltercolor{
	background-color:#FFCCCC;
}
.FareGridBorderWhite{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	background-color:white;
	}

.FareGridBorder01{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	background-color:#9ED4F0;
	}
	
.FareGridBorder02{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	background-color:#6DBFEA;
	}	
	
.FareGridBorder03{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	background-color:#1793DB;
	}	
	
.FareGridBorder04{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	background-color:#1757DB;
	}
	
.FareGridBorder05{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	background-color:#000563;
	}
.fontExp{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: red; 
}
.spMsg{
	background-color:#ffffcf;
	border:1px solid;
	border-color:#F3F376; 
}
.fntBoldAndRed{
	font-weight:bold;
	color:red;
}
fontHolidays{
	font-family:tahoma;
	font-size:12px;
	left:auto;
	color: black; 
}

.bannerClass{
	height:74px;
}

.calGridWidth{
	width:60%; 
}


























.outLine{
	width:940px;
	border:0px;
}

.bannerClass{
	height:96px;
	width:940px;
	valign:top;
	align:center; 
	background-repeat:no-repeat;
	background-position:top center;
}

.fareSelSidePanel{
   width:260px;  /* lt2 */
   align:center; 
}

.jquery-checkbox{display: inline; font-size: 16px; line-height: 16px; cursor: pointer; cursor: hand;}
.jquery-checkbox .mark {display: inline;}

.jquery-checkbox img {vertical-align: middle; width: 16px; height: 16px;}
.jquery-checkbox img{background: transparent url(../images/checkbox_no_cache.png) no-repeat;}

.jquery-checkbox img{
	background-position: 0px 0px;
}
.jquery-checkbox-hover img{
	background-position: -16px 0px;
}
.jquery-checkbox-checked img{
	background-position: 0px -16px;
}
.jquery-checkbox-checked .jquery-checkbox-hover img {
	background-position: -16px -16px;
}

.jquery-checkbox-disabled img{
	background-position: 0px -32px;
}
.jquery-checkbox-checked .jquery-checkbox-disabled img{
	background-position: 0px -48px;
}


.calGridWidth{
	width:100%; 
}

.adClass{
z-index: 10;
left: 538px;
position: absolute;
top: 0px;
}


.selectBox{
	color: #4B4B4B;
	font-family: Arial;
	font-size: 8pt;
	font-weight: bold;
	border: 1px solid #808080
}

  
 /* Newly Added */
 .bannerBG{
	background-color:#9bd1ed;
 }
 .navFont{
	font-size:12px;
	vertical-align: middle;
 }
 .hdFont{
	font-size:15px;
 }
 .fntItalic{
	font-style: italic;
 }
 .disableNavFont{
	color:#DFDFDF;
 }
 .aaFontColor{
	color:#03024e;
 }
 .rowSingleGap{
	height:5px;
 }
 .rowGap{
	height:10px;
 }
  .pgBGColor
{
	background-image:none;
	background-color:white;
	}
 .tblBG
{
	/**background-image:url(../images/n001_no_cache.jpg);**/
	background-color:#E1F2F9;
	background-repeat:repeat-x;
	}
 .tblBGT
{
	background-image:url(../images/n018_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:8px;
	}
.tblBGTL
{
	background-image:url(../images/n018_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:8px;
	}
	
 .tblBGTR
{
	background-image:url(../images/n017_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	width:8px;
	height:8px;
	}
 .tblBGB
{
	/**
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat-x;
	**/
	background-color:#e1f2f9;
	background-position:top;
	}

 .tblBGTSmall
{
	background-image:url(../images/n043_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:8px;
	}
 .tblBGTRSmall
{
	background-image:url(../images/n042_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	width:9px;
	height:8px;
	}
 .tblBGBSmall
{
	background-image:url(../images/n044_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	}
	
 .tblTL{	
	background-image:url(../images/n003_no_cache.gif);
	background-repeat:no-repeat;
	background-position:top;
	height:10px;
	width:10px;
}
.tblTT{	
	background-image:url(../images/n004_no_cache.gif);
	background-repeat:repeat-x;
	background-position:top;
	height:10px;
}
.tblTR{	
	background-image:url(../images/n005_no_cache.gif);
	background-repeat:no-repeat;
	background-position:top;
	height:10px;
	width:10px;
}
.tblML{	
	background-image:url(../images/n006_no_cache.gif);
	background-repeat:repeat-y;
	background-position:left;
	height:10px;
}
.tblMM{	
	background-image:url(../images/spacer_no_cache.gif);
	background-repeat:repeat-y;
}
.tblMR{	
	background-image:url(../images/n007_no_cache.gif);
	background-repeat:repeat-y;
	background-position:right;
}
.tblBL{	
	background-image:url(../images/n008_no_cache.gif);
	background-repeat:no-repeat;
	background-position:top;
	height:10px;
	width:10px;
}
.tblBB{	
	background-image:url(../images/n009_no_cache.gif);
	background-repeat:repeat-x;
	background-position:top;
	height:10px;
}
.tblBR{	
	background-image:url(../images/n010_no_cache.gif);
	background-repeat:no-repeat;
	background-position:top;
	height:10px;
	width:10px;
}

.tblTLE{	
	background-image:url(../images/n011_no_cache.gif);
	background-repeat:no-repeat;
	background-position:top;
	height:10px;
	width:10px;
}
.tblTRE{	
	background-image:url(../images/n012_no_cache.gif);
	background-repeat:no-repeat;
	background-position:top;
	height:10px;
	width:10px;
}
.tblBLE{	
	background-image:url(../images/n013_no_cache.gif);
	background-repeat:no-repeat;
	background-position:top;
	height:10px;
	width:10px;
}
.tblBRE{	
	background-image:url(../images/n014_no_cache.gif);
	background-repeat:no-repeat;
	background-position:top;
	height:10px;
	width:10px;
}
.thinBorderT{border-top: 1px solid #E8E6E7;}
.thinBorderB{border-bottom: 1px solid #E8E6E7;}
.thinBorderL{border-left: 1px solid #E8E6E7;}
.thinBorderR{border-right: 1px solid #E8E6E7;}
 
 
.powerdBy{
	background-image:url(../images/n024_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:bottom;
}

.pTopL{
	background-image:url(../images/n025_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:27px;
	width:11px;
}
.pTopM{
	background-image:url(../images/n026_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:27px;
}
.pTopR{
	
	background-image:url(../images/n027_no_cache.jpg);
	background-repeat:no-repeat;	
	background-color:#e1f2f9;
	background-position:top;
	height:27px;
	width:11px;
}
.pMidL{
	/**background-image:url(../images/n028_no_cache.jpg);
	background-repeat:repeat-y;**/
	background-color:#e1f2f9;
	background-position:top;
	width:2px;
}
.pMidM{
	
	background-image:url(../images/n033_no_cache.jpg);
	background-repeat:repeat-x;	
	background-color:#e1f2f9;
	background-position:top;
}
.pMidR{
	/**background-image:url(../images/n029_no_cache.jpg);
	background-repeat:repeat-y;
	**/
	background-color:#e1f2f9;
	background-position:top;
	width:2px;
}

.pBotL{
	/**background-image:url(../images/n084_no_cache.jpg);
	background-repeat:no-repeat;	
	**/
	background-color:#e1f2f9;
	background-position:top;
	height:15px;
	width:11px;
}
.pBotM{
	background-image:url(../images/n085_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:15px;
	width:92%;
}
.pBotR{
	/**background-image:url(../images/n086_no_cache.jpg);
	background-repeat:no-repeat;
	**/
	background-color:#e1f2f9;
	background-position:top;
	height:15px;
	width:11px;
}
.noPadding{
	padding:0px;
}

.pTopDM{
	/**background-image:url(../images/n048_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	**/	
	background-color:#9FD7F2;
	height:27px;
}
.pTopDR{
	background-image:url(../images/n027_no_cache.jpg);
	background-repeat:no-repeat;	
	background-color:#e1f2f9;
	background-position:top;
	height:27px;
	width:11px;
}
.logUserBG{
	/**background-image:url(../images/n050_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	**/
	height:34px;
	background-color:#43B2E5;
}
.cursorPointer{
	cursor:pointer;
}
.tabSltd{
	background-image:url(../images/n052_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:27px;
}
.tabUnSltd{
	/**
	background-image:url(../images/n053_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	**/
	height:27px;
	background-color:#43B2E5;
}

 
	
.widePaxInfo{
	width:180;
	}	
	
.MandatoryGrid{
	color: white;
}

.perImage{
	align: center;
	height:32px;
	width:142px;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	background-image: url(../images/NI090_no_cache.gif); 
	background-repeat:no-repeat;
	cursor:pointer;
}

.perRadio{
	cursor:pointer;
	
	}

.letterSpacing{
	letter-spacing: 2pt;
	line-height: 150%;
	}

.progressBG{
		 
		background-color:transparent;
		background-repeat:no-repeat; 
}

 .hdnavFont{
	font-size:20px;
	 
 }
.rowDataHeight{
	height:25px;
}
.GridWhiteRow{
	background-color:white; /* lt2 */
}

.GridLightRow{
	background-color:#FCFCFC; /* lt2 */
}

.spMsg{
		background-color:#ffffcf;
		opacity: .7;
		filter: alpha(opacity=80);
		border:1px solid #F3F376;
		padding:2px;
		font-size:11px;
		-moz-border-radius:6px;	/* Rounded edges in Firefox */
		font-family: "tahoma", "Lucida Sans Unicode", Arial, sans-serif; 
}

.lineHeight{
	line-height: 150%
}

.Gridwt
{
	background-color:#FFFFFF;
	height:20px;
	}	
	
.GridStyleLeft{
	border-left: 1px solid #ABA8A8; 
	border-right: 1px solid #ABA8A8;

	border-bottom: 1px solid #ABA8A8;
	}
.GridStyleMiddle{
	

	border-bottom: 1px solid #ABA8A8;
	}
.GridStyleRight{
	
	border-right: 1px solid #ABA8A8; 

	border-bottom: 1px solid #ABA8A8;
	}		
	
.ButtonAncilary{
	background-image: url(../images/n200_no_cache.gif);
	width:174px;
	height:28;
	cursor:pointer;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: #5A5959;
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	background-repeat:no-repeat;
}

.linkImage{
	border-color:Transparent;
	border:0px;
	border-style:none;
	}
	
.fntLargePnr{
	font-size: 14px;
	cursor:text;
	}
	
.btnAuxButton
{
	font-family:Verdana,Arial,Helvetica,sans-serif;;
	font-size:9px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: red;
	background-color:transparent;
	background-image: url(../images/n061_no_cache.gif);  /* lt2 */
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 25px;
	width:133px;
	cursor:pointer;
	background-repeat:no-repeat;
	padding-bottom:4px;
	padding-left:0px;
	}
	
.AuxButtonDisable{
	background-image: url(../images/n056_no_cache.gif);  /* lt2 */
	width:133px;
	cursor:default;
	background-color:transparent;
	background-repeat:no-repeat;
	color: gray;
	cursor:crosshair;
}

.btnAuxSrv
{
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: #5A5A5A;
	background-color:transparent;
	background-image: url(../images/n056meal_no_cache.gif); 
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 25px;
	width:154px;
	cursor:pointer;
	background-repeat:no-repeat;
	}

.SeperateorBGAlt{
	background-color: #FFFFFF; /* lt2 */
}
.fntCnxSeg{
 	text-decoration:line-through;
}

 .rowGapNone{
	height:0px;
 }
 
.fntSmallSm{
	font-size:8px;
}

.btnCredit{
	background-image: url(../images/n022C_no_cache.jpg);  /* lt2 */
	width:104px;
	cursor:pointer;
}

.btnCDisable{
	background-image: url(../images/n023D_no_cache.jpg);  /* lt2 */
	width:104px;
	cursor:default;
}

.ButtonCreditLarge{
	background-image: url(../images/n045C_no_cache.jpg);
	width:173px;
	cursor:pointer;
}

.btnCLargeDisable{
	background-image: url(../images/n046D_no_cache.jpg);
	width:173px;
	cursor:default;
}

.btnPointer{
	cursor:pointer;
}

.tblBGBLEFT{
	/**
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat-x;
	**/
	background-color:#e1f2f9;
	background-position:top;
}
.tblBGBRIGHT{
	/**
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat-x;
	**/
	background-color:#e1f2f9;
	background-position:top;
}
.PageBlueBackGround
{
	background-color:#e2f4fa;
}