//client specific styles - manually copied to here only for backup purposes
header ul li {
  a {
    //color: $black !important;
  }

  &.pending a {
    color: $mountain_mist !important;

    i.number {
      color: $mountain_mist !important;
      border: 2px solid $mountain_mist !important;
    }
  }

  &.completed:hover {
    background: $color_variation_3 !important;
  }
}
.fare-radio [type=radio]:checked+label:after{
        color: $primery_color !important;
    }
.LTR .drawer-bar {
  background: #F5F2E9 !important;
}

.LTR .services-selection .left-section .data-block ul li {

  &:hover {
    background-color: $color_variation_3 !important;
  }

  &.active {
    background-color: $secondery_color !important;

    &:after {
      border-left: 15px solid $secondery_color !important;
    }
  }
}
.LTR, .RTL .rewards-login .heading .airline-logo{
	height : 50px !important;
}
.LTR .rewards-login .tabbed-content #signin-content h3, .RTL .rewards-login .tabbed-content #signin-content h3{
    margin-bottom: 10px !important;
}
.RTL .sidebar-widget .widget-header {
    background: $gray !important;
}
//.LTR ul li.selected-date .day-block{
//  background: $site_drawer_background_color !important;
//}
@media only screen and (max-width: 767px){
    .sidebar-widget{
        .isa-radio-option-list-wrapper{
            .widget-header{
                .left{
                    color:$charcoal_gray !important;
                }
            }
        }
    }
    .ngdialog.ngdialog-theme-default .ngdialog-content {
       .popup-confirm {
           .btn-set .btn-ok{
               width: 35% !important;
               min-width: 100px !important;
           }
           .btn-set .btn-cancel{
               width: 35% !important;
               min-width: 100px !important;
           }
       }
   }
}