<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td class='pnlBottomL'><img src="../images/spacer_no_cache.gif"/></td>
		<td class='pnlBottomM'><img src="../images/spacer_no_cache.gif"/></td>
		<td class='pnlBottomR'><img src="../images/spacer_no_cache.gif"/></td>
	</tr>
</table>