<!-- Payment Card Information Start -->
<div class="my-reservations ma-tp-0">
	<h2 class="ma-bt-0" translate="lbl_dashboard_saved_cards_header">Payment Information</h2>
	<!-- My Reservations Table -->
	<div class="my-reservations-table reservations-displayblock" id="myreservations_table">
		<div ng-if="paymentCardObject != null && paymentCardObject != 0">
			
			<div class="row row-margin">
				<div class="col col-md-12 col-xs-12">
					<p class="payment-info-subt" translate="lbl_dashboard_belowPayment">Below is a list of your saved payment methods</p>
				</div>
			</div>

			<div class="mrt-row mrt-heading xs-padding-rem  add-payment-header">
				<div class="col col-md-5 col-xs-4 mrt-heading-col table-head-payment"
					translate="lbl_dashboard_paymentCardNo">Card Number</div>
				<div class="col col-md-5 col-xs-8 mrt-heading-col expire-cell"
					translate="lbl_dashboard_paymentExpireOn">Expires On</div>
			</div>
			<!-- // Row -->

			<div class="mrt-row xs-rem-border" ng-repeat="paymentCard in paymentCardObject">
				<div class="col col-md-5 col-xs-4 mrt-heading-col res-flight-status">
					<label class="card-name-mobile">{{ paymentCard.noLastDigits }} </label>
				</div>
				<div class="col col-md-4 col-xs-5 mrt-heading-col res-flight-status expire-cell">
					<label class="card-expiry-date"> Expires: {{paymentCard.expiryDate}} </label>
				</div>
				<div class="delete-btn col-md-3 col-xs-3 mrt-heading-col res-flight-status">
				<span class="button red-btn xs-deletebtn dashboard-delete-btn"
							ng-click="deleteCard({customerAliasId : paymentCard.customerAliasId})"
							translate="title_delete_saved_card">Delete</span>
				</div>
			</div>
		</div>
		<div class="row row-margin">
		<div class="col col-md-6 col-xs-12 add-new-card-container">
			<div class="btn-wrap">
				<span class="btn-link add-new-card" ng-click="addNewCard()"
					translate="lbl_dashboard_addNewCardLink">Can't see a card? Add new one</span>
			</div>
		</div>
		</div>
	</div>
</div>
<!-- Payment Information End -->