<div class="placeholder" ng-class="{'ph-hide' :!isVisible}" ng-click="removePlaceholder()" >
    <span class="placeholder-txt">{{placeholderCaption}}</span>
    <span class="placeholder-icon">{{placeholderSymbol}}</span>
</div>
