<!--Passenger information-->
<ng-form novalidate name="userForm_{{selectedPassenger}}" 
isa-validator-type="{{passenger.category}}"
isa-validator-rules="{{paxValidation}}" ng-submit="">
    <div class="col-md-9 col-sm-9 col-xs-12 passenger-dob passengers-information">
        <div class="hidden-xs heading passenger-heading">
            <i class="info" style="margin-top:10px;"><span translate="lbl_passenger_mandatoryFields">Mandatory Fields</span>&nbsp;<sup class="red">*</sup></i>
            <span class="hidden-xs  name col-sm-9 col-xs-12 col-md-9 col-lg-9">{{passenger.displayName}}</span>

        </div>

        <div ng-if="isAirwordEnabled" class="lms-status-wrapper col-lg-12 hidden-xs" ng-if="passenger.logedInUser">
            <span class="lms-status" ng-if="passenger.isLMSStatus == 'NOTREGISTERD'">Not registered to Air Rewards</span>
            <span class="lms-status" ng-if="passenger.isLMSStatus == 'PENDING'" translate="lbl_account_activate">Air Rewards account not activated</span>
        </div>

        <div class="row pax-row xs-pax-row">

            <div ng-if="paxDetailConfig.travelWith.visibility[passenger.type]"
                 class="col-md-4 col-sm-12 col-xs-12 sm-travelWith"
                 valdr-enabled="!isNameChange"
                 ng-class="{'disable-me':isNameChange}">

                <label>
                    <span translate="lbl_passenger_travelingWith">Traveling With</span>
                    <sup ng-if="paxDetailConfig.travelWith.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div class="ibe-typeahead">
                <div isa-validator>
                        <div class="ibe-drop-down">
                            <div class="btn-group xs-btn-group-class traveling-with-button"
                                    uib-keyboard-nav
                                    uib-dropdown
                                    ng-model="passenger.travelingWith"
                                    name="travelWith">
                                    <button id="traveling-with-button"
                                            type="button"
                                            class="btn btn-primary"
                                            uib-dropdown-toggle
                                            ng-model="passenger.travelingWith"
                                            ng-disabled="isNameChange"
                                            ng-required="!isNameChange">
                                        <span class="dp-caption">{{getPassengerName(passenger.travelingWith)}}</span>
                                        <span class="fa fa-angle-down"></span>
                                    </button>
                                    <ul class="uib-dropdown-menu traveling-with-button" role="menu" aria-labelledby="single-button">
                                            <!--<li ng-repeat="pax in passengerList |filter:{category:'Adult'}" ng-click="setTravelingWith(pax.paxSequence)"-->
                                            <li ng-repeat="pax in passengerList|filter:{infantSequence: '!'+'', category:'Adult'}"
                                                ng-click="setTravelingWith(pax.paxSequence)"
                                                role="menuitem" onclick="closeDropdown()"><a href="javascript:;">{{pax.displayName}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div ng-if="paxDetailConfig.travelWith.visibility[passenger.type] && paxDetailConfig.title.visibility[passenger.type]"
            class="clearfix"></div>

       <div  ng-if="paxDetailConfig.title.visibility[passenger.type]" class="col-md-4 col-sm-12 col-xs-12 sm-title pd-rtl-bt-15"
                valdr-enabled="!isNameChange" ng-class="{'disable-me':isNameChange}">
            <label>
                <span translate="lbl_passenger_Title">Title</span>
                <sup ng-if="paxDetailConfig.title.mandatory[passenger.type]" class="red">*</sup>
            </label>
            <div class="ibe-typeahead" ng-if="isLargeDevice">
                <div isa-validator class="ibe-drop-down">
                    <div class="btn-group" 
                    uib-keyboard-nav 
                    uib-dropdown
                    ng-model="passenger.salutation"
                    name="salutation">
                        <input id="salutation-button"
                                novalidate
                                type="button" 
                                class="form-control"
                                name="salutation"
                                selected-value="passenger.salutation"
                                uib-dropdown-toggle
                                ng-disabled="isNameChange"
                                ng-model="passenger.salutation"
                                style="color:white"
                                value={{passenger.salutation}}>
                                <span class="dp-caption" style="width:auto">{{passenger.salutation || '' | listFilter: salutationList:'titleCode':'titleName'}}&nbsp;</span>
                                <span class="fa fa-angle-down"></span>
                                
                        <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                            <li ng-repeat="salutation in salutationList" ng-click="setSalutation(salutation)"
                                role="menuitem"><a href="javascript:;">{{salutation.titleName || ''}}&nbsp;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
			<div class="ibe-typeahead"  ng-if="!isLargeDevice">  
                <div isa-validator class="ibe-drop-down">
               		<select class=" btn-group xs-btn-group-class form-control"
               			ng-disabled="isNameChange"
               			ng-model="passenger.salutation"
               			name="salutation"
               			type="button"
               			id="salutation-button"
               			uib-keyboard-nav
               			uib-dropdown>
               				<option ng-repeat="salutation in salutationList" value="{{salutation.titleCode}}">{{salutation.titleName}}&lrm;</option>
               				<option value="" selected hidden />
               		</select>
                </div>
            </div>
		</div>

            <div ng-if="paxDetailConfig.firstName.visibility[passenger.type]"
            ng-class="{'col-md-4 col-sm-6 col-xs-12': paxDetailConfig.travelWith.visibility[passenger.type]}"
            class="col-md-4 col-sm-6 col-xs-12">
           <label>
               <span translate="lbl_passenger_firstName">First Name</span>
               <sup ng-if="paxDetailConfig.firstName.mandatory[passenger.type]" class="red">*</sup>
           </label>
           <div class="ibe-typeahead">
                 <div isa-validator>
             
                        <input type="text"
                               class="form-control"
                               ng-model="passenger.firstName"
                               id="firstName_{{selectedPassenger}}"
                               ng-disabled="isNameChange && !(passenger.rules.nameEditable)"
                               name="firstName">
                    </div>
                </div>
            </div>


            <div ng-if="paxDetailConfig.lastName.visibility[passenger.type]"
                    ng-class="{'col-md-4 col-sm-6 col-xs-12': paxDetailConfig.travelWith.visibility[passenger.type]}"
                    class="col-md-4 col-sm-6 col-xs-12">

                <label>
                    <span translate="lbl_passenger_lastName">Last Name</span>
                    <sup ng-if="paxDetailConfig.lastName.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div class="ibe-typeahead">
                <div isa-validator>
                            <input type="text"
                            class="form-control"
                            ng-model="passenger.lastName"
                            ng-disabled="isNameChange && !(passenger.rules.nameEditable)"
                            name="lastName">
                    </div>
                </div>
            </div>
        </div>

        <div class="row pax-row xs-pax-row">

            <div ng-if="paxDetailConfig.nationality.visibility[passenger.type]" class="col-md-4 col-sm-6 col-xs-12"
                id="nationality"     
                ng-class="{'disable-me':isNameChange}" style="padding-top:0 !important">                
                <label>
                    <span translate="lbl_passenger_nationality">Nationality</span>
                    <sup ng-if="paxDetailConfig.nationality.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div class="ibe-typeahead">
                    <div isa-validator>
                        
                                <input type="text"
                                onClick="scrollToNationality()"
                                novalidate
                                name="nationality" 
                                ng-model="passenger.nationality"
                                selected-value="passenger.nationality"
                                uib-typeahead="nationality.code as nationality.name for nationality in nationalityList | filter:{name:$viewValue}:startsWith"
                                ng-disabled="isNameChange"
                                typeahead-input-formatter="formatLabelNationality($model)"
                                typeahead-select-on-exact="true"
                                typeahead-min-length="0"
                                typeahead-focus                                                           
                                class="form-control"
                                autocomplete="off"/>
                            </div>
                            <script>
                                    function scrollToNationality() {                                
                                        if(window.matchMedia("only screen and (max-width: 767px)").matches){                                    
                                        var element = $('#nationality');
                                        $("html, body").animate({
                                            scrollTop: element.offset().top - 94
                                        }, 600);                       
                                        }
                                    }
                            </script>
                        </div>
                    </div>
                    
       <!-- <div ng-if="paxDetailConfig.nationalIDNo.visibility[passenger.type]"
                 ng-class="{'col-md-4 col-sm-6 col-xs-12': paxDetailConfig.travelWith.visibility[passenger.type]}"
                 class="col-md-4 col-sm-6 col-xs-12">
                <label style="width:110%;">
                    <span translate="lbl_passenger_nationalIdNo">National ID No</span>
                    <sup ng-if="paxDetailConfig.nationalIDNo.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div valdr-form-group>
                    <div class="ibe-typeahead">
                        <div isa-validator>
                            <input type="text"
                                   class="form-control"
                                   ng-model="passenger.nationalIDNo"
                                   id="nationalIDNo_{{selectedPassenger}}"
                                   name="nationalIDNo">
                        </div>
                    </div>
                </div>
            </div> -->
            
            
            
            <div ng-if="paxDetailConfig.dob.visibility[passenger.type]" class="dob-validr col-md-4 col-sm-6 col-xs-12">
                    <label>
                        <span translate="lbl_passenger_dob">Date of Birth</span>
                        <sup ng-if="paxDetailConfig.dob.mandatory[passenger.type]" class="red">*</sup>
                    </label>
                    
                    <div class="pas-frm-datePicker ibe-jquery-date-picker" ng-class="{'disable-me':isNameChange}">
                    
                        <div class='ibe-typeahead' ng-if="!isPersianCalendarType">
                            <div isa-validator>
                                <input ui-date="dateOptions" 
                                        type='text'
                                        name="dob"
                                       
                                        ng-model="passenger.dob"
                                        class="form-control"
                                        id="pax-dob"
                                        ui-date-fix
                                        ng-change="onDobChange(passenger)"
                                        />
                            </div>        
                        </div>
                        <div class='ibe-typeahead' ng-if="isPersianCalendarType">
                            <div isa-validator>
                                    <adm-dtp ng-model='passenger.dob'
                                    options='admOptions' 
                                    id="pax-dob" 
                                    ng-change="onDobChange(passenger)" 
                                    mindate="{{minDateForCal}}" 
                                    maxdate="{{maxDateForCal}}" ng-required="false">
                                    </adm-dtp>
            <!--                                   <span>{{maxDateForCal}}/{{minDateForCal}}</span> -->            
                            </div>
                        </div>
                    </div>  
                </div>

            <div   ng-if="paxDetailConfig.ffid.visibility[passenger.type]">
                    <div ng-if="paxDetailConfig.ffid.visibility[passenger.type]" class="col-md-4 col-sm-6 col-xs-12"
                     valdr-enabled="!isNameChange" ng-class="{'disable-me':isNameChange}" ng-hide="!airewardsChecked[selectedPassenger]">
                    <label translate="lbl_passenger_ffid">Air Rewards ID (Email)</label>
                    <a href="" class="submit-link cancel-reward"  ng-click="updateReward({index: selectedPassenger})" translate="btn_common_cancel">Cancel </a>
                    <div ng-class="{'disable-me':isNameChange && !(passenger.rules.ffidEditable)}">
                            <div class="ibe-typeahead airwards-wrapper">  
                                <div isa-validator isa-validatin-on="focus">
                                    <!-- ng-focus="onAirwardsEmailFocus(selectedPassenger)" ng-change="onairewardsEmailChange(selectedPassenger)" class="form-control" -->
                                <input   
                                       ng-focus="onAirwardsEmailFocus(selectedPassenger)"
                                       ng-change="onairewardsEmailChange(selectedPassenger)" 
                                       class="form-control"
                                       ng-disabled="isNameChange && !(passenger.rules.ffidEditable)"
                                       type="text"
                                       ng-model="passenger.airewardsEmail"
                                       id="airewardsEmail_{{selectedPassenger}}"
                                       name="airewardsEmail"
                                       >
                                       <!-- ng-class="{'ng-invalid':(passenger.isLMSValidationDone && (!passenger.lmsValidation.validFFID || !passenger.lmsValidation.validName))}"> -->
                                <!-- <span ng-if="passenger.isLMSValidationDone && (!passenger.lmsValidation.validFFID || !passenger.lmsValidation.validName)" class="airewards-hint">
                                    The Airewards ID you have entered is invalid. Please check and make sure that it is a valid ID and that the passenger name exactly matches the name of the registered member under this Airewards ID.
                                </span> -->
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-sm-6 col-xs-12" ng-if="!airewardsChecked[selectedPassenger]">
                    <label translate="lbl_passenger_earnPoints" class="full-width">Would you like to earn points?</label>
                    <span class="radio" style="margin-left:0 !important">
                        <input name="radioname"
                               id="radio000"
                               type="radio"
                               ng-model="airewardsChecked[selectedPassenger]"
                               ng-value="true"
                               ng-disabled="isNameChange"
                               ng-click="updateReward({index: selectedPassenger});">
                        <label for="radio000"><span translate="lbl_common_yes">Yes</span></label>
                    </span>

                    <span class="radio">
                        <input name="radioname"
                               id="radio001"
                               type="radio"
                               ng-model="airewardsChecked[selectedPassenger]"
                               ng-value="false"
                               ng-disabled="isNameChange">
                        <label for="radio001"><span translate="lbl_common_no">No</span></label>
                    </span>
                </div>
            </div>
        </div>

        <div class="row pax-row xs-pax-row" ng-if="paxDetailConfig.passportNo.visibility[passenger.type] || paxDetailConfig.passportIssuedCntry.visibility[passenger.type]
        || paxDetailConfig.passportExpiry.visibility[passenger.type] || paxDetailConfig.travelDocumentType.visibility[passenger.type] || paxDetailConfig.groupId.visibility[passenger.type] 
        || (paxDetailConfig.visaDocNumber.visibility[passenger.type] && passenger.travelDocumentType == 'Visa') || paxDetailConfig.placeOfBirth.visibility[passenger.type] ||  paxDetailConfig.eticketNo.visibility[passenger.type] || (paxDetailConfig.visaDocPlaceOfIssue.visibility[passenger.type] && passenger.travelDocumentType == 'Visa') || (paxDetailConfig.visaApplicableCountry.visibility[passenger.type] && passenger.travelDocumentType == 'Visa')
        || paxDetailConfig.visaDocIssueDate.visibility[passenger.type] && passenger.travelDocumentType == 'Visa'">
            <div ng-if="paxDetailConfig.passportNo.visibility[passenger.type]" class="col-md-4 col-sm-6 col-xs-12">
                <label>
                    <span translate="lbl_passenger_passportNumber">Passport Number</span>
                    <sup ng-if="paxDetailConfig.passportNo.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div ng-if="carrier !== 'W5'" isa-validator>
                    <div class="ibe-typeahead">
                        <input type="text" class="form-control" ng-model="passenger.additionalInfo.foidInfo.foidNumber" name="passportNo">
                    </div>
                </div>
                <div ng-if="carrier == 'W5'"class="tooltipclass"valdr-form-group isa-validator uib-tooltip-html="dataTip" tooltip-placement="top"
                tooltip-trigger="mouseenter">
                    <div class="ibe-typeahead">
                            <input type="text" class="form-control" ng-model="passenger.additionalInfo.foidInfo.foidNumber" name="passportNo">                   
                    </div>
                </div> 
            </div>

            <div ng-if="paxDetailConfig.passportIssuedCntry.visibility[passenger.type]" class="col-md-4 col-sm-6 col-xs-12"
                 ng-class="{'disable-me':isNameChange}">
                <label>
                    <span translate="lbl_passenger_passportCountry">Passport Issued Country</span>
                    <sup ng-if="paxDetailConfig.passportIssuedCntry.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div class="ibe-typeahead">
                <div isa-validator>
                        <input type="text" ng-model="passenger.passportIssuedCntry"
                        ng-disabled="isNameChange"
                        selected-value="passenger.passportIssuedCntry"
                        uib-typeahead="country.code as country.name for country in countryList | filter:{name:$viewValue}:startsWith"
                        typeahead-input-formatter="formatLabelCountry($model)"
                        typeahead-select-on-exact="true"
                        typeahead-focus
                        name="passportIssuedCntry"
                        class="form-control"
                        autocomplete="off"/>
                    </div>
                </div>
            </div>
            
            <div ng-if="paxDetailConfig.passportExpiry.visibility[passenger.type]" class="col-md-4 col-sm-6 col-xs-12">
                    <label class="hy-mr-bottom-0px">
                        <span translate="lbl_passenger_passportExpiry" class="truncate hy-passport-expiry-lbl">Passport Expiry</span>
                        <sup ng-if="paxDetailConfig.passportExpiry.mandatory[passenger.type]" class="red">*</sup>
                    </label>
                    <div valdr-form-group>
                        <!--<input type="text" class="form-control" ng-model="passenger.passportExpiry" name="passportExpiry">-->
                        <div class="ibe-jquery-date-picker pas-frm-datePicker" isa-validation-disabled="false" isa-validator >
                            <input ui-date="passportExpiry"
                                   ng-if="!isPersianCalendarType"
                                   name="passportExpiry"
                                   ng-model="passenger.passportExpiry"
                                   class="form-control"
                                   id="pass-exp"
                                   ui-date-fix
                                   ng-change=""
                                   ng-required="true"
                                   readonly="readonly"/>
                            <adm-dtp  ng-model='passenger.passportExpiry' ng-if="isPersianCalendarType" id="pass-exp" options='passportExpiry1' ng-change="" mindate="{{minDateForExpiry}}" 
                                      maxdate="{{maxDateForExpiry}}" ng-required="true"></adm-dtp> 
                        </div>
    
                    </div>
                </div>



            <div ng-if="paxDetailConfig.travelDocumentType.visibility[passenger.type]"
                class="col-md-4 col-sm-6 col-xs-12">
                <label>
                    <span translate="lbl_passenger_travelDocType">Travel Document Type</span>
                    <sup ng-if="paxDetailConfig.travelDocumentType.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div class="ibe-typeahead">
                <div isa-validator class="ibe-drop-down">
                        <div class="btn-group xs-btn-group-class" uib-keyboard-nav uib-dropdown
                           ng-model="passenger.travelDocumentType"
                           name="travelDocumentType">
                           <button id="travel-doc-button"
                                    type="button" class="btn btn-primary"
                                    uib-dropdown-toggle
                                    ng-disabled="isNameChange"
                                    >
                                        <span class="dp-caption">{{passenger.travelDocumentType}}&nbsp;</span>
                                        <span class="fa fa-angle-down"></span>
                            </button>   
                            <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                                <li  ng-click="setTravelDocument('NA')"
                                        role="menuitem"  onclick="closeDropdown()"><a href="javascript:;">NA</a></li> 
                                <li  ng-click="setTravelDocument('Visa')"
                                        role="menuitem"  onclick="closeDropdown()"><a href="javascript:;">Visa</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="paxDetailConfig.groupId.visibility[passenger.type]" class="col-md-4 col-sm-6 col-xs-12">
                <label>
                    <span translate="lbl_passenger_groupId">Group ID</span>
                    <sup ng-if="paxDetailConfig.groupId.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div isa-validator>
                    <div class="ibe-typeahead">
                        <input type="text" class="form-control" ng-model="passenger.groupId" name="groupId">
                    </div>
                </div>
            </div>

            <div ng-if="paxDetailConfig.visaDocNumber.visibility[passenger.type] && passenger.travelDocumentType == 'Visa'" class="col-md-4 col-sm-6 col-xs-12">
                <label>
                    <span translate="lbl_passenger_visaDocNumber">Visa Document Number</span>
                    <sup ng-if="paxDetailConfig.visaDocNumber.mandatory[passenger.type]" class="red">*</sup> 
                </label>
                <div isa-validator>
                        <div class="ibe-typeahead">
                            <input type="text" class="form-control" ng-model="passenger.visaDocNumber" name="visaDocNumber">
                        </div>
                </div>
            </div>
            <div ng-if="paxDetailConfig.placeOfBirth.visibility[passenger.type]" class="col-md-4 col-sm-6 col-xs-12">
                    <label>
                        <span translate="lbl_passenger_placeOfBirth">Place of Birth</span>
                        <sup ng-if="paxDetailConfig.placeOfBirth.mandatory[passenger.type]" class="red">*</sup>
                    </label>
                    <div isa-validator>
                        <div class="ibe-typeahead">
                            <input type="text" class="form-control" ng-model="passenger.placeOfBirth" name="placeOfBirth">
                        </div>
                    </div>
            </div>

            <div ng-if="paxDetailConfig.eticketNo.visibility[passenger.type]" class="col-md-4 col-sm-6 col-xs-12">
                <label>
                    <span translate="lbl_passenger_eTicketNumber">e-Ticket Number</span>
                    <sup ng-if="paxDetailConfig.eticketNo.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div isa-validator>
                    <input type="text" class="form-control" ng-model="passenger.eticketNo" name="eticketNo">
                </div>
            </div>




        <div ng-if="paxDetailConfig.visaDocPlaceOfIssue.visibility[passenger.type] && passenger.travelDocumentType == 'Visa'"
            class="col-md-4 col-sm-6 col-xs-12">
           <label>
               <span translate="lbl_passenger_visaDocumentPlaceOfIssue">Visa Document Place of Issue</span>
               <sup ng-if="paxDetailConfig.visaDocPlaceOfIssue.mandatory[passenger.type]" class="red">*</sup>
           </label>
           <div class="ibe-typeahead">
           <div isa-validator>
                    <input type="text" ng-model="passenger.visaDocPlaceOfIssue"
                    selected-value=""
                    uib-typeahead="country.code as country.name for country in countryList | filter:{name:$viewValue}"
                    typeahead-input-formatter="formatLabelCountry($model)"
                    typeahead-editable="false"
                    typeahead-select-on-exact="true"
                    typeahead-min-length="0"
                    typeahead-focus
                    name="visaDocPlaceOfIssue"
                    class="form-control"
                    typeahead-on-select=""
                    autocomplete="off"/>
               </div>
           </div>
        </div>

            <div ng-if="paxDetailConfig.visaApplicableCountry.visibility[passenger.type] && passenger.travelDocumentType == 'Visa'"
                class="col-md-4 col-sm-6 col-xs-12">
                <label>
                    <span translate="lbl_passenger_visaApplicableCountry">Visa Applicable Country</span>
                    <sup ng-if="paxDetailConfig.visaApplicableCountry.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div class="ibe-typeahead">
                <div isa-validator>
                            <input type="text" ng-model="passenger.visaApplicableCountry"
                            selected-value=""
                            uib-typeahead="country.code as country.name for country in countryList | filter:{name:$viewValue}"
                            typeahead-input-formatter="formatLabelCountry($model)"
                            typeahead-editable="false"
                            typeahead-select-on-exact="true"
                            typeahead-min-length="0"
                            typeahead-focus
                            name="visaApplicableCountry"
                            class="form-control"
                            typeahead-on-select=""
                            autocomplete="off"/>
                    </div>
                </div>
            </div>
            <div ng-if="paxDetailConfig.visaDocIssueDate.visibility[passenger.type] && passenger.travelDocumentType == 'Visa'" class="col-md-4 col-sm-6 col-xs-12">
                <label>
                    <span translate="lbl_passenger_visaIssueDate">Visa Document Issue Date</span>
                    <sup ng-if="paxDetailConfig.visaDocIssueDate.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div class="ibe-typeahead">
                <div isa-validator>
                        <div class="pas-frm-datePicker ibe-jquery-date-picker" isa-validation-disabled="false" isa-validator >
                            <input ui-date="visaIssue"
                            ng-if="!isPersianCalendarType"
                            name="visaDocIssueDate"
                            ng-model="passenger.visaDocIssueDate"
                            class="form-control"
                            id="visa-exp"
                            ui-date-fix
                            ng-change=""
                            ng-required="paxDetailConfig.visaDocIssueDate.mandatory[passenger.type]"
                            readonly="readonly"/>
                                <adm-dtp ng-model='passenger.visaDocIssueDate'
                                ng-if="isPersianCalendarType" id="visa-exp" options='visaIssue1' ng-change="" mindate="{{maxDateForVissaIssue}}" 
                                maxdate="{{maxDateForVissaIssue}}" ng-required="paxDetailConfig.visaDocIssueDate.mandatory[passenger.type]"></adm-dtp> 
                        </div>
                    </div>
                </div>
            </div>
                  <!-- <div class="hidden-md hidden-sm hidden-lg">
                <div class="passengers-list">
                    <div class="inner">
                        <ul>
                            <li ng-repeat="passenger in passengerList" ng-class="{'active-pax': selectedPassenger == $index}" ng-click="changeSelected($index)">
                                <span class="checkbox-circle">
                                    <input type="checkbox" id="id{{$index}}" ng-model="passenger.valid" disabled>
                                    <label for=id{{$index}}>{{passenger.displayName}}</label>
                                </span>
                                
                            </li>
                        </ul>
                    </div>
                </div>		
        </div> -->        
        </div>
    </div> 

    <div class="row pax-row xs-pax-row hidden-xs">
            <div class="col-md-5 col-sm-6 col-xs-12 pull-right right-text next-passenger-text">
            <a id="nextId" href=""
                onclick="document.getElementById('passengers-information-header').scrollIntoView()"
                class="submit-link hidden-xs next-passenger-direction"
                ng-click="nextPassenger(passenger, userForm_{{selectedPassenger}})"
                ng-if="!isNameChange"
                ng-hide="lastPassenger">
                <span translate="lbl_passenger_nextPassenger ">Next Passenger</span> &nbsp;
                <i class="fa fa-angle-right"></i>
            </a>

            <a href="" class="submit-link passenger-xs-text" ng-show="lastPassenger && !isNameChange"
                ng-click="scrollToContactDetails(passenger, userForm_{{selectedPassenger}})">
                <!--{{isNameChange ? "Continue" : "Add Contact Info &nbsp;"}}-->

                <span ng-if="isNameChange" translate="lbl_passenger_continue">Continue</span>
                <span ng-if="!isNameChange" translate="lbl_passenger_addContact">Add Contact Info &nbsp;</span>

                <i ng-if="!isNameChange">&#xf055;</i>
            </a>

        </div>
    </div>

    <div class="row ma-bt-4" ng-show="isNameChange" ng-if="!isMobileDevice">
        <div>
            <div class="col-md-3 col-sm-3 col-xs-6 pull-left passenger-detail-backbtn">
                <button type="button" name="button" class="button red-btn" ng-click="backToReservationModication()">
                    Back
                </button>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 pull-right passenger-detail-continuebtn">
                <button ng-show="isNameChange"
                        type="button"
                        name="button"
                        class="button red-btn"
                        id="passenger-namechange-continue"
                        ng-click="scrollToContactDetails(passenger, userForm_{{selectedPassenger}})">Continue
                </button>
                <a href=""
                onclick="document.getElementById('passengers-information-header').scrollIntoView()"
                    class="submit-link name-change-next hidden-xs"
                    ng-click="nextPassenger(passenger, userForm_{{selectedPassenger}})"
                    ng-hide="lastPassenger">
                    <span translate="lbl_passenger_nextPassenger">Next Passenger</span> &nbsp;
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>


    <!-- Passenger information -->
   <!--                For mobile device-->
   <div class="row ma-bt-4 col-xs-12 nmchange-btn-group" ng-if="isMobileDevice && appMode === 'nameChange'" style="margin-top: 15px !important;">
        <div>
            <div class="col-xs-5 passenger-detail-view-backbtn pull-left">
                <button type="button" name="button" class="button red-btn" ng-click="backToReservationModication()">
                    Back
                </button>
            </div>
            <div class="col-md-4 col-sm-2 col-xs-0">
            </div>
            <div class="col-xs-5 passenger-detail-view-continuebtn pull-right">
                <button type="button"
                        name="button"
                        class="button red-btn"
                        id="passenger-namechange-continue"
                        ng-click="scrollToContactDetails(passenger, userForm_{{selectedPassenger}})">Continue
                </button>
    <!--                    <a href=""
                    onclick="document.getElementById('passengers-information-header').scrollIntoView()"
                    class="submit-link name-change-next hidden-xs"
                    ng-click="nextPassenger(passenger, userForm_{{selectedPassenger}})"
                    ng-hide="lastPassenger">
                    <span translate="lbl_passenger_nextPassenger">Next Passenger</span> &nbsp;
                    <i class="fa fa-angle-right"></i>
                </a>-->
            </div>
        </div>
    </div>

</ng-form>
