<!--Passenger information-->
<div class="col-md-9 passengers-information">
    <ng-form novalidate name="userForm_{{selectedPassenger}}" isa-validator-type="{{passenger.category}}"
             isa-validator-rules="{{paxValidation}}" ng-submit="">
        <div class="heading passenger-heading">
            <span class="name">{{passenger.displayName}}</span>
            <i class="info" translate="lbl_passenger_mandatoryFields">Mandatory Fields <sup class="red">*</sup></i>
        </div>
        <div ng-if="isAirwordEnabled" class="lms-status-wrapper col-lg-12 hidden-xs" ng-if="passenger.logedInUser">
            <span class="lms-status" ng-if="passenger.isLMSStatus == 'NOTREGISTERD'">Not registered to Air Rewards</span>
            <span class="lms-status" ng-if="passenger.isLMSStatus == 'PENDING'" translate="lbl_account_activate">Air Rewards account not activated</span>
        </div>

        <div class="row pax-row">

            <div ng-if="paxDetailConfig.travelWith.visibility[passenger.type]"
                 class="col-md-4 col-sm-4 col-xs-4"
                 valdr-enabled="!isNameChange"
                 ng-class="{'disable-me':isNameChange}">

                <label>
                    <span translate="lbl_passenger_travelingWith">Traveling With</span>
                    <sup ng-if="paxDetailConfig.travelWith.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div valdr-form-group>
                    <div class="ibe-drop-down" isa-validator>
                        <div class="btn-group xs-btn-group-class"
                             uib-keyboard-nav
                             uib-dropdown
                             ng-model="passenger.travelingWith"
                             name="travelWith">
                            <input id="traveling-with-button"
                                    type="button"
                                    class="btn btn-primary"
                                    uib-dropdown-toggle
                                    ng-model="passenger.travelingWith"
                                    ng-disabled="isNameChange"
                                    ng-required="!isNameChange">
                                <span class="dp-caption">{{getPassengerName(passenger.travelingWith)}}</span>
                                <span class="fa fa-angle-down"></span>
                            <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                                <!--<li ng-repeat="pax in passengerList |filter:{category:'Adult'}" ng-click="setTravelingWith(pax.paxSequence)"-->
                                <li ng-repeat="pax in passengerList |filter:{infantSequence: '!'+'', category:'Adult'}"
                                    ng-click="setTravelingWith(pax.paxSequence)"
                                    role="menuitem" onclick="closeDropdown()"><a href="javascript:;">{{pax.displayName}}</a>
                                </li>
                            </ul>
                            <script type="text/javascript">function closeDropdown(){ if($('.xs-btn-group-class').hasClass('open')){ $('.xs-btn-group-class').removeClass('open');}}</script>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="paxDetailConfig.title.visibility[passenger.type]" class="col-md-4 col-sm-4 col-xs-4"
                 valdr-enabled="!isNameChange" ng-class="{'disable-me':isNameChange}">
                <label>
                    <span translate="lbl_passenger_Title">Title</span>
                    <sup ng-if="paxDetailConfig.title.mandatory[passenger.type]" class="red">*</sup>
                </label>

                <div isa-validator class="ibe-drop-down">
                    <div class="btn-group xs-btn-group-class" uib-keyboard-nav uib-dropdown
                         ng-model="passenger.salutation"
                         name="salutation">
                        <button id="salutation-button"
                                type="button" class="btn btn-primary"
                                uib-dropdown-toggle
                                ng-disabled="isNameChange"
                                style="padding-right:15px;">
                            <span class="dp-caption">{{passenger.salutation || '' | listFilter: salutationList:'titleCode':'titleName'}}&nbsp;</span>
                            <span class="fa fa-angle-down"></span>
                        </button>
                        <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                            <li ng-repeat="salutation in salutationList" ng-click="setSalutation(salutation)"
                                role="menuitem"><a href="javascript:;">{{salutation.titleName || ''}}&nbsp;</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div ng-if="paxDetailConfig.firstName.visibility[passenger.type]"
                 ng-class="{'col-md-4 col-sm-4 col-xs-4': paxDetailConfig.travelWith.visibility[passenger.type]}"
                 class="col-md-4 col-sm-4 col-xs-4">
                <label>
                    <span translate="lbl_passenger_firstName">First Name</span>
                    <sup ng-if="paxDetailConfig.firstName.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div valdr-form-group>
                    <div class="ibe-typeahead" isa-validator>
                        <input type="text"
                               class="form-control"
                               ng-model="passenger.firstName"
                               id="firstName_{{selectedPassenger}}"
                               name="firstName">
                    </div>
                </div>
            </div>


            <div ng-if="paxDetailConfig.lastName.visibility[passenger.type]"
                 ng-class="{'col-md-4 col-sm-4 col-xs-4': paxDetailConfig.travelWith.visibility[passenger.type]}"
                 class="col-md-4 col-sm-4 col-xs-4">

                <label>
                    <span translate="lbl_passenger_lastName">Last Name</span>
                    <sup ng-if="paxDetailConfig.lastName.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div valdr-form-group>
                    <div class="ibe-typeahead" isa-validator>
                        <input type="text" class="form-control" ng-model="passenger.lastName" name="lastName">
                    </div>
                </div>
            </div>
        </div>


        <div class="row pax-row">

            <div ng-if="paxDetailConfig.nationality.visibility[passenger.type]" class="col-md-4 col-sm-4 col-xs-4"
                 valdr-enabled="!isNameChange" ng-class="{'disable-me':isNameChange}">
                <label>
                    <span translate="lbl_passenger_nationality">Nationality</span>
                    <sup ng-if="paxDetailConfig.nationality.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div valdr-form-group>
                    <div class="ibe-typeahead">
                        <div isa-validator>
                            <input type="text" ng-model="passenger.nationality"
                                   ng-disabled="isNameChange"
                                   selected-value="passenger.nationality"
                                   uib-typeahead="nationality.code as nationality.name for nationality in nationalityList | filter:{name:$viewValue}:startsWith | limitTo:10"
                                   typeahead-input-formatter="formatLabelNationality($model)"
                                   typeahead-select-on-exact="true"
                                   typeahead-focus
                                   name="nationality"
                                   class="form-control"
                                   autocomplete="off"/>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="paxDetailConfig.dob.visibility[passenger.type]" class="col-md-4 col-sm-4 col-xs-4">
                <label>
                    <span translate="lbl_passenger_dob">Date of Birth</span>
                    <sup ng-if="paxDetailConfig.dob.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div valdr-form-group valdr-enabled="!isNameChange && paxDetailConfig.dob.mandatory[passenger.type]">
                    <div ng-class="{'disable-me':isNameChange}">
                        <div class="pas-frm-datePicker ibe-jquery-date-picker" isa-validation-disabled="isNameChange" isa-validator>

                            <input ui-date="dateOptions"
                                   name="dob"
                                   ng-model="passenger.dob"
                                   class="form-control"
                                   id="pax-dob"
                                   ui-date-fix
                                   ng-change="onDobChange(passenger)"
                                   ng-required="false"/>

                        </div>
                    </div>
                </div>
            </div>

            <div   ng-if="paxDetailConfig.ffid.visibility[passenger.type]">
                <div ng-if="paxDetailConfig.ffid.visibility[passenger.type]" class="col-md-4 col-sm-4 col-xs-4"
                     valdr-enabled="!isNameChange" ng-class="{'disable-me':isNameChange}" ng-hide="!airewardsChecked[selectedPassenger]">
                    <label translate="lbl_passenger_ffid">Air Rewards ID (Email)</label>
                    <a href="" class="submit-link cancel-reward" ng-click="updateReward({index: selectedPassenger})" translate="btn_common_cancel">Cancel </a>
                    <div valdr-form-group>
                        <div class="ibe-typeahead airwards-wrapper">
                            <div isa-validator isa-validatin-on="focus">
                                <input ng-focus="onAirwardsEmailFocus(selectedPassenger)" ng-change="onairewardsEmailChange(selectedPassenger)" class="form-control"
                                       ng-disabled="isNameChange"
                                       class="form-control"
                                       ng-model="passenger.airewardsEmail"
                                       id="airewardsEmail_{{selectedPassenger}}"
                                       name="airewardsEmail"
                                        ng-class="{'ng-invalid':(passenger.isLMSValidationDone && (!passenger.lmsValidation.validFFID || !passenger.lmsValidation.validName))}">
                                <span ng-if="passenger.isLMSValidationDone && (!passenger.lmsValidation.validFFID || !passenger.lmsValidation.validName)" class="airewards-hint">
                                    The Air Rewards ID you have entered is invalid. Please check and make sure that it is a valid ID and that the passenger name exactly matches the name of the registered member under this Air Rewards ID.
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-sm-4 col-xs-4" ng-if="!airewardsChecked[selectedPassenger]">
                    <label translate="lbl_passenger_earnPoints">Would you like to earn points?</label>
                    <span class="radio">
                        <input name="radioname"
                               id="radio000"
                               type="radio"
                               ng-model="airewardsChecked[selectedPassenger]"
                               ng-value="true"
                               ng-click="updateReward({index: selectedPassenger})">
                        <label for="radio000"><span translate="lbl_common_yes">Yes</span></label>
                    </span>

                    <span class="radio">
                        <input name="radioname"
                               id="radio001"
                               type="radio"
                               ng-model="airewardsChecked[selectedPassenger]"
                               ng-value="false">
                        <label for="radio001"><span translate="lbl_common_no">No</span></label>
                    </span>
                </div>
            </div>

        </div>

        <div class="row">
            <div ng-if="paxDetailConfig.passportNo.visibility[passenger.type]" class="col-md-4 col-sm-4 col-xs-4">
                <label>
                    <span translate="lbl_passenger_passportNumber">Passport Number</span>
                    <sup ng-if="paxDetailConfig.passportNo.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div valdr-form-group isa-validator>
                    <input type="text" class="form-control" ng-model="passenger.additionalInfo.foidInfo.foidNumber" name="passportNo">
                </div>
            </div>

            <div ng-if="paxDetailConfig.visaDocIssueDate.visibility[passenger.type]" class="col-md-4 col-sm-4 col-xs-4">
                <label>
                    <span translate="lbl_passenger_visaIssueDate">Visa Document Issue Date</span>
                    <sup ng-if="paxDetailConfig.visaDocIssueDate.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div valdr-form-group>
                    <!--<input type="text" class="form-control" ng-model="passenger.visaDocIssueDate"
                           name="visaDocIssueDate">-->
                    <div class="pas-frm-datePicker ibe-jquery-date-picker" isa-validation-disabled="false" isa-validator >
                        <input ui-date="visaIssue"
                               name="visaDocIssueDate"
                               ng-model="passenger.visaDocIssueDate"
                               class="form-control"
                               id="visa-exp"
                               ui-date-fix
                               ng-change=""
                               ng-required="true"/>
                    </div>

                </div>
            </div>

            <div ng-if="paxDetailConfig.placeOfBirth.visibility[passenger.type]" class="col-md-4 col-sm-4 col-xs-4">
                <label>
                    <span translate="lbl_passenger_placeOfBirth">Place of Birth</span>
                    <sup ng-if="paxDetailConfig.placeOfBirth.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div valdr-form-group>
                    <input type="text" class="form-control" ng-model="passenger.placeOfBirth" name="placeOfBirth">
                </div>
            </div>

            <div ng-if="paxDetailConfig.travelDocumentType.visibility[passenger.type]"
                 class="col-md-4 col-sm-4 col-xs-4">
                <label>
                    <span translate="lbl_passenger_travelDocType">Travel Document Type</span>
                    <sup ng-if="paxDetailConfig.travelDocumentType.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div valdr-form-group>
                    <input type="text" class="form-control" ng-model="passenger.travelDocumentType"
                           name="travelDocumentType">
                </div>
            </div>

            <div ng-if="paxDetailConfig.groupId.visibility[passenger.type]" class="col-md-4 col-sm-4 col-xs-4">
                <label>
                    <span translate="lbl_passenger_groupId">Group ID</span>
                    <sup ng-if="paxDetailConfig.groupId.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div valdr-form-group>
                    <input type="text" class="form-control" ng-model="passenger.groupId" name="groupId">
                </div>
            </div>

            <div ng-if="paxDetailConfig.visaDocNumber.visibility[passenger.type]" class="col-md-4 col-sm-4 col-xs-4">
                <label>
                    <span translate="lbl_passenger_visaDocNumber">Visa Document Number</span>
                    <sup ng-if="paxDetailConfig.visaDocNumber.mandatory[passenger.type]" class="red">*</sup> </label>
                <div valdr-form-group>
                    <input type="text" class="form-control" ng-model="passenger.visaDocNumber" name="visaDocNumber">
                </div>
            </div>

            <div ng-if="paxDetailConfig.eticketNo.visibility[passenger.type]" class="col-md-4 col-sm-4 col-xs-4">
                <label>
                    <span translate="lbl_passenger_eTicketNumber">e-Ticket Number</span>
                    <sup ng-if="paxDetailConfig.eticketNo.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div valdr-form-group>
                    <input type="text" class="form-control" ng-model="passenger.eticketNo" name="eticketNo">
                </div>
            </div>

            <div ng-if="paxDetailConfig.passportExpiry.visibility[passenger.type]" class="col-md-4 col-sm-4 col-xs-4">
                <label>
                    <span translate="lbl_passenger_passportExpiry">Passport Expiry</span>
                    <sup ng-if="paxDetailConfig.passportExpiry.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div valdr-form-group>
                    <!--<input type="text" class="form-control" ng-model="passenger.passportExpiry" name="passportExpiry">-->
                    <div class="ibe-jquery-date-picker pas-frm-datePicker" isa-validation-disabled="false" isa-validator >
                        <input ui-date="passportExpiry"
                               name="passportExpiry"
                               ng-model="passenger.passportExpiry"
                               class="form-control"
                               id="pass-exp"
                               ui-date-fix
                               ng-change=""
                               ng-required="true"/>
                    </div>

                </div>
            </div>

            <div ng-if="paxDetailConfig.nationalIDNo.visibility[passenger.type]" class="col-md-4 col-sm-4 col-xs-4">
                <label>
                    <span translate="lbl_passenger_nationalIdNo">National ID No</span>
                    <sup ng-if="paxDetailConfig.nationalIDNo.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div valdr-form-group>
                    <input type="text" class="form-control" ng-model="passenger.nationalIDNo" name="nationalIDNo">
                </div>
            </div>

            <div ng-if="paxDetailConfig.passportIssuedCntry.visibility[passenger.type]"
                 class="col-md-4 col-sm-4 col-xs-4">
                <label>
                    <span translate="lbl_passenger_passportCountry">Passport Issued Country</span>
                    <sup ng-if="paxDetailConfig.passportIssuedCntry.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div valdr-form-group>
                    <!--<input type="text" class="form-control" ng-model="passenger.passportIssuedCntry"
                           name="passportIssuedCntry">-->

                    <div class="ibe-typeahead">
                        <div>
                            <input type="text" ng-model="passenger.passportIssuedCntry"
                                   selected-value=""
                                   uib-typeahead="country.code as country.name for country in countryList | filter:{name:$viewValue}"
                                   typeahead-input-formatter="formatLabelCountry($model)"
                                   typeahead-editable="false"
                                   typeahead-select-on-exact="true"
                                   typeahead-min-length="0"
                                   typeahead-focus
                                   name="passportIssuedCntry"
                                   class="form-control"
                                   typeahead-on-select=""
                                   autocomplete="off"/>
                        </div>
                    </div>

                </div>
            </div>

            <div ng-if="paxDetailConfig.visaDocPlaceOfIssue.visibility[passenger.type]"
                 class="col-md-4 col-sm-4 col-xs-4">
                <label>
                    <span translate="lbl_passenger_visaDocumentPlaceOfIssue">Visa Document Place of Issue</span>
                    <sup ng-if="paxDetailConfig.visaDocPlaceOfIssue.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div valdr-form-group>
                    <!--<input type="text" class="form-control" ng-model="passenger.visaDocPlaceOfIssue"
                           name="visaDocPlaceOfIssue">-->
                    <div class="ibe-typeahead">
                        <div>
                            <input type="text" ng-model="passenger.visaDocPlaceOfIssue"
                                   selected-value=""
                                   uib-typeahead="country.code as country.name for country in countryList | filter:{name:$viewValue}"
                                   typeahead-input-formatter="formatLabelCountry($model)"
                                   typeahead-editable="false"
                                   typeahead-select-on-exact="true"
                                   typeahead-min-length="0"
                                   typeahead-focus
                                   name="visaDocPlaceOfIssue"
                                   class="form-control"
                                   typeahead-on-select=""
                                   autocomplete="off"/>
                        </div>
                    </div>

                </div>
            </div>

            <div ng-if="paxDetailConfig.visaApplicableCountry.visibility[passenger.type]"
                 class="col-md-4 col-sm-4 col-xs-4">
                <label>
                    <span translate="lbl_passenger_visaApplicableCountry">Visa Applicable Country</span>
                    <sup ng-if="paxDetailConfig.visaApplicableCountry.mandatory[passenger.type]" class="red">*</sup>
                </label>
                <div valdr-form-group>
                    <!--<input type="text" class="form-control"
                           ng-model="passenger.visaApplicableCountry"
                           name="visaApplicableCountry">-->
                    <div class="ibe-typeahead">
                        <div>
                            <input type="text" ng-model="passenger.visaApplicableCountry"
                                   selected-value=""
                                   uib-typeahead="country.code as country.name for country in countryList | filter:{name:$viewValue}"
                                   typeahead-input-formatter="formatLabelCountry($model)"
                                   typeahead-editable="false"
                                   typeahead-select-on-exact="true"
                                   typeahead-min-length="0"
                                   typeahead-focus
                                   name="visaApplicableCountry"
                                   class="form-control"
                                   typeahead-on-select=""
                                   autocomplete="off"/>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 pull-right right-text">
                <a href="" class="submit-link" ng-click="nextPassenger(passenger, userForm_{{selectedPassenger}})"
                   ng-hide="lastPassenger"><span translate="lbl_passenger_nextPassenger">Next Passenger</span> &nbsp;<i class="fa fa-angle-right"></i></a>

                <a href="" class="submit-link" ng-show="lastPassenger && !isNameChange"
                   ng-click="scrollToContactDetails(passenger, userForm_{{selectedPassenger}})">
                    {{isNameChange ? "Continue" : "Add Contact Info &nbsp;"}}
                    <i ng-if="!isNameChange">&#xf055;</i>
                </a>

            </div>
        </div>
        <div class="row ma-bt-4" ng-show="isNameChange">
            <div>
                <div class="col-md-4 col-sm-4 col-xs-4 pull-left">
                    <button type="button" name="button" class="button red-btn" ng-click="backToReservationModication()">
                        Back
                    </button>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">

                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 pull-right">
                    <button type="button" name="button" class="button red-btn"
                            ng-click="scrollToContactDetails(passenger, userForm_{{selectedPassenger}})">Done
                    </button>
                </div>
            </div>
        </div>

    </ng-form>
</div><!-- Passenger information -->
