.display-block{
  display:block;
}

.clear {
  display: inline-block;
  width: 100%;
  margin: 20px 0;
}

.clear-2 {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
}

.clear-1 {
  width: 100%;
  margin: 5px 0;
}

.button {
  font-family: 'proxima_nova_rgbold';
  font-size: 28px;
  letter-spacing: 1px;
}

.column, .columns {
  min-height: 1px;
}

.title-bar {
  padding-top: 20px;
  .title-bar-title {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'proxima_nova_rgbold';
    font-size: 16px;
    display: block;
    text-align: center;
  }
}

.page-status {
  padding: 20px 0;
  width: 100%;
  text-align: center;
  display: inline-block;
  .visited {
    position: relative;
    span.int {
      background: #da7b2b;
      border-radius: 100%;
      width: 50px;
      height: 50px;
      display: block;
      text-align: center;
      line-height: 50px;
      font-size: 30px;
      color: #fff;
      position: relative;
      z-index: 3;
      display: inline-block;

    }
    .after-trail {
      background: #da7b2b;
      width: 100%;;
      height: 6px;
      position: absolute;
      top: 50%;
      margin-top: -3px;
      z-index: 1;
      margin-left: 50px;
    }
  }

  .current {
    position: relative;
    span.int {
      background: #fff;
      border: 1px solid #783795;
      border-radius: 100%;
      padding: 2px;
      width: 50px;
      height: 50px;
      display: block;
      text-align: center;
      line-height: 50px;
      font-size: 30px;
      color: #fff;
      position: relative;
      z-index: 3;
      display: inline-block;
      .inner {
        background: #783795;
        border: 1px solid #783795;
        border-radius: 100%;
        width: 44px;
        height: 44px;
        display: block;
        text-align: center;
        line-height: 44px;
        font-size: 30px;
        color: #fff;
      }
    }
    .after-trail {
      background: #fff;
      border-top: 1px solid #da7b2b;
      border-bottom: 1px solid #da7b2b;
      width: 100%;;
      height: 6px;
      position: absolute;
      top: 50%;
      margin-top: -3px;
      z-index: 1;
      margin-left: 50px;
    }
  }
  .normal {
    position: relative;
    span.int {
      background: #fff;
      border-radius: 100%;
      border: 1px solid #96a9b3;
      width: 50px;
      height: 50px;
      display: block;
      text-align: center;
      line-height: 50px;
      font-size: 30px;
      color: #96a9b3;
      position: relative;
      z-index: 3;
      display: inline-block;
    }
    .after-trail {
      background: #fff;
      border-top: 1px solid #96a9b3;
      border-bottom: 1px solid #96a9b3;
      width: 100%;;
      height: 6px;
      position: absolute;
      top: 50%;
      margin-top: -3px;
      z-index: 1;
      margin-left: 50px;
    }
  }
}

.icon-shopping-cart-facing-left:before,
.icon-depature:before,
.icon-return:before,
.icon-plus:before,
.icon-cart:before,
.icon-phone:before,
.icon-add:before {
  line-height: 48px;
}

.current {
  .icon-depature:before {
    line-height: 42px;
  }
  .icon-return:before {
    line-height: 42px;
  }
  .icon-plus:before {
    line-height: 42px;
  }
  .icon-cart:before {
    line-height: 42px;
  }
  .icon-phone:before {
    line-height: 41px;
  }
  .icon-add:before {
    line-height: 42px;
  }
  .icon-shopping-cart-facing-left:before {
    line-height: 42px;
  }
}

/* Loading overlay CSS */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

input.ng-invalid{
  border:#783795 1px solid;
}
input.ng-invalid.ng-dirty{
  border:red 1px solid;
}


select.ng-invalid{
  border:#783795 1px solid;
}
select.ng-invalid.ng-dirty{
  border:red 1px solid;
}


combo-date-picker.ng-invalid select{
  border: #783795 1px solid;
}
combo-date-picker.ng-dirty select{
  border: red 1px solid;
}

// ngDialog Styles
.ngdialog.ngdialog-theme-default .ngdialog-content {
  max-width: 90%;
}

//Date Picker Styles
combo-date-picker{
  .select-date{
    padding-right: 2px;
  }
  .select-month{
    padding-left: 7px;
    padding-right: 7px;
  }
  .select-year{
    padding-left: 2px;
  }
}