@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('fonts/proximanova-bold-webfont.woff2') format('woff2'),
  url('fonts/proximanova-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'proxima_nova_condensedlight';
  src: url('fonts/proximanovacond-light-webfont.woff2') format('woff2'),
  url('fonts/proximanovacond-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'proxima_nova_cn_rgregular';
  src: url('fonts/proximanovacond-regular-webfont.woff2') format('woff2'),
  url('fonts/proximanovacond-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'proxima_nova_condensedSBd';
  src: url('fonts/proximanovacond-semibold-webfont.woff2') format('woff2'),
  url('fonts/proximanovacond-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'proxima_novalight';
  src: url('fonts/proximanova-light-webfont.woff2') format('woff2'),
  url('fonts/proximanova-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('fonts/proximanova-regular-webfont.woff2') format('woff2'),
  url('fonts/proximanova-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'proxima_novasemibold';
  src: url('fonts/proximanova-semibold-webfont.woff2') format('woff2'),
  url('fonts/proximanova-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'icomoon';
  src:    url('fonts/icomoon.eot?20lapa');
  src:    url('fonts/icomoon.eot?20lapa#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?20lapa') format('truetype'),
  url('fonts/icomoon.woff?20lapa') format('woff'),
  url('fonts/icomoon.svg?20lapa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:    url('fonts/icomoon.eot?575qoc');
  src:    url('fonts/icomoon.eot?575qoc#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?575qoc') format('truetype'),
  url('fonts/icomoon.woff?575qoc') format('woff'),
  url('fonts/icomoon.svg?575qoc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:    url('fonts/icomoon.eot?rotykv');
  src:    url('fonts/icomoon.eot?rotykv#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?rotykv') format('truetype'),
  url('fonts/icomoon.woff?rotykv') format('woff'),
  url('fonts/icomoon.svg?rotykv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cancel:before {
  content: "\e91b";
}
.icon-add:before {
  content: "\e90f";
}
.icon-avatar:before {
  content: "\e910";
}
.icon-oneway2:before {
  content: "\e911";
}
.icon-payment_flight_left:before {
  content: "\e912";
}
.icon-payment_flight_right:before {
  content: "\e913";
}
.icon-phone-call:before {
  content: "\e914";
}
.icon-plane_depature:before {
  content: "\e915";
}
.icon-plane_landing:before {
  content: "\e916";
}
.icon-plane_left:before {
  content: "\e917";
}
.icon-plane_right:before {
  content: "\e918";
}
.icon-return2:before {
  content: "\e919";
}
.icon-shopping-cart-facing-left:before {
  content: "\e91a";
}
.icon-flight-arv:before {
  content: "\e90d";
}
.icon-flight-dep:before {
  content: "\e90e";
}
.icon-arrow_down:before {
  content: "\e900";
}
.icon-arrow_right:before {
  content: "\e901";
}
.icon-contact:before {
  content: "\e902";
}
.icon-depature:before {
  content: "\e903";
}
.icon-export_flight:before {
  content: "\e904";
}
.icon-extra:before {
  content: "\e905";
}
.icon-fill-plane:before {
  content: "\e906";
}
.icon-Icon-Plane:before {
  content: "\e907";
}
.icon-line-plane:before {
  content: "\e908";
}
.icon-oneway:before {
  content: "\e909";
}
.icon-personal_info:before {
  content: "\e90a";
}
.icon-return:before {
  content: "\e90b";
}
.icon-shopping_cart:before {
  content: "\e90c";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-phone:before {
  content: "\e942";
}
.icon-user:before {
  content: "\e971";
}
.icon-airplane:before {
  content: "\e9af";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}

