body {
  &.landing-page {
    background: url("../../images/landing-cloud.png") no-repeat center top;
    background-size: cover;
    .row {
      background: url("../../images/landing-logo.png") no-repeat center;
      height: 100%;
      background-size: 75%;
      .small-10 {
        display: table;
        .logo-wrpr {
          display: inline-block;
          text-align: center;
          width: 100%;
          vertical-align: middle;
          height: 100%;
          img {
            margin-top: 50%;
          }
        }
      }
    }
  }
}

.flight-priceInfo{
  background: #EEEEEE;
  padding: 10px;
    .subTotal{
      color:#3a4a4a;
      clear: both;
      font-size: 14px;
      font-family: 'proxima_novasemibold';
      line-height: 100%;
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      &.farePerPass{
        padding:0;
      }
      div{
        display:flex;
        flex: 1 1;
        height:22px;
        align-items: center;
        &.subTotal-title{
          align-items: flex-start;
          text-align: left;
          flex-basis: 50%;
        }
        &.subTotal-amount{
          justify-content: flex-end;
        }
      }
      hr{
        width:100%;
        border: 1px solid #a3a3a33d; 
        margin: 0.25rem auto;
      }  
    }
  
}

.flight-info {
  background: #783795;
  padding: 10px 0;
  color: #fff;
  &.small-12 {
    a {
      font-size: 20px;
      color: #fff;
      line-height: 230%;
      text-decoration: underline;
    }
    .price {
      font-size: 25px;
      color: #fff;
      line-height: 100%;
      font-family: 'proxima_novasemibold';
      display:flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 0px 25px 0px 25px;
      align-items: center;
      .total-title{
        text-align:left;
      }
      span {
        clear: both;
        font-size: 12px;
        font-family: 'proxima_nova_rgregular';
        display: block;
        line-height: 100%;
      }
    }
  }
}

.flight-details {
  padding: 20px 0;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.39);
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  font-size: 32px;
  line-height: 200%;

  .flight-path {
    position: relative;
    padding: 0;
    margin-top: 30px;
    .line {
      width: 100%;
      display: inline-block;
      border-top: 1px solid #888;
      position: absolute;

      .icon-Icon-Plane:before {
        content: "\e907";
        margin-top: -16px;
        position: absolute;
        left: 50%;
      }

    }
    .start {
      width: 10px;
      height: 10px;
      background: #888888;
      display: inline-block;
      float: left;
      border-radius: 50%;
      top: 50%;
      margin-top: -5px;
      position: absolute;
    }
    .end {
      width: 10px;
      height: 10px;
      background: #888888;
      display: inline-block;
      float: right;
      top: 50%;
      right: 0;
      margin-top: -5px;
      position: absolute;
    }
  }
}

.flight-look {
  overflow-x: scroll;
  .tabs {
    width: 1155px;
    padding: 10px 0;
    .tabs-title {
      border-right: 1px solid #999999;
      a {
        width: 160px;
        text-align: center;
        font-size: 30px;
        color: #888;
        margin: 0 2px;
        padding: 3px 5px;
        span {
          clear: both;
          font-size: 24px;
          display: block;
          line-height: 150%;
          color: #888;
        }
      }
      &.is-active {
        a {
          color: #da7b2b;
          background: none;
          font-family: 'proxima_nova_rgbold';
          border-bottom: 2px solid #783795;
          span {
            font-family: 'proxima_novasemibold';
            color: #da7b2b;
          }
        }
      }

    }
  }
}

.available-flights {
  .tabs-panel {
    padding: 0;
    .normal-flight {
      .accordion-item {
        border: none;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #cbc9c9;
        .accordion-title {
          border: none;
          padding: 0;
          margin: 0;

          &:before {
            content: "\e901";
            font-family: 'icomoon';
            color: #c95c00;
            font-size: 24px;
            right: 1rem;
          }
          .normal-flight-int {
            background: #fff;
            display: inline-block;
            padding: 10px 40px 10px 0;
            width: 100%;
            .start {
              display: inline-block;
              color: #888888;
              text-align: center;
              font-size: 22px;
              .time {
                display: block;
                color: #888888;
              } 
              .icn {
                width: 12px;
                height: 12px;
                background: #888888;
                display: inline-block;
              }
            }
            .flight-path {
              position: relative;
              .line {
                width: 100%;
                display: inline-block;
                border-top: 1px solid #888888;
                position: absolute;
                left: 0;
                top: 32px;
                color: #888888;
                .text {
                  display: block;
                  margin-top: -25px;
                  font-size: 16px;
                  @media (max-width: 370px) {
                    font-size: 0.75rem;
                  }
                }
              }
            }
          }

        }
        &.is-active {
          .accordion-title {
            &:before {
              content: "\e900";
              font-family: 'icomoon';
              color: #fff;
              font-size: 24px;
              right: 1rem;
            }
            .normal-flight-int {
              background: #c95c00;
              .start {
                color: #fff;
                .time {
                  color: #fff;
                }
                .icn {
                  background: #fff;
                }
              }
              .flight-path {
                .line {
                  border-top: 1px solid #fff;
                  color: #fff;
                }
              }
            }
          }
        }
        .accordion-content {
          color: #888888;
          padding: 0;
          ul {
            padding: 15px 20px;
            margin: 0;
            background: #da7b2b;
            white-space: nowrap;
            overflow-x: scroll;
            li {
              margin: 0;
              color: #fff;
              display: inline-block;
              width: 220px;
              padding: 0 20px;
              white-space: normal;
              border-right: 1px solid #e9b080;
              .price {
                font-size: 32px;
                line-height: 100%;
                color: #fff;
                span {
                  color: #fefefe;
                  font-size: 22px;
                  display: inline-block;
                  line-height: 100%;
                  font-family: 'proxima_novalight';
                }
              }
            }
          }
        }
      }
    }
  }
}

.search-flight {

  input[type="date"]:before{
    color:lightgray;
    content:attr(placeholder);
  }

  input[type="date"].full:before {
    color:black;
    content:""!important;
  }

  ul {
    li {
      width: 50%;
      display: inline-block;
      text-align: center;

      &.tabs-title {
        &.is-active {
          border-bottom: none;
          a {
            color: #da7b2b;
            background: #ffffff;
          }
        }
      }
      a {
        background: #E8E8E8;
        color: #919191;
        font-family: 'proxima_novalight';
        font-size: 24px;
        span {
          font-size: 24px;
          //line-height: 100%;
          &.icon-oneway3, .icon-return2 {
            //font-size: 32px;
            // line-height: 0;
          }
          &.one-way {
            // line-height: 150%;
            //vertical-align: top;
          }
        }
      }

    }

  }

  .flight-search-info {
    .tabs-content {
      .tabs-panel {
        .icon-return2 {
          font-size: 24px;
        }

        .icon-oneway3 {
          font-size: 32px;
        }
      }
      .title-icn {
        height: 2.4375rem;
        padding: 0.5rem;
        border: 1px solid #f8f7f7;
        margin: 0 0 1rem;
        font-size: 1rem;
        font-family: inherit;
        line-height: normal;
        color: #0a0a0a;
        background-color: #f8f7f7;
        border-radius: 5px 0 0 5px;
      }
      select {
        border-radius: 0 5px 5px 0;
      }
      .input-val {
        margin: 0 0;
        padding: 0;
        .origin {
        }
      }
      .qtyminus, .qtyplus {
        background: #cfcfcf;
        border-radius: 5px 0 0 5px;
        border: none;
        height: 2.4375rem;
        width: 100%;
        font-size: 20px;
      }
      .qty {
        width: 100%;
        padding: 5px;
        text-align: center;
        color: #888888;
      }
      .qtyplus {
        border-radius: 0 5px 5px 0;
      }
    }
  }
}

.personal-information {
  .accordion-item {
    .accordion-title {
      background: #da7b2b;
      color: #fff;
      font-size: 22px;
      border-radius: 0;
      &:before {
        content: "\ea42";
        font-family: 'icomoon';
        right: 1rem;
      }
    }
    &.is-active {
      .accordion-title {
        &:before {
          content: "\ea43";
          font-family: 'icomoon';
        }
      }
    }

    .accordion-content {
      padding: 1rem 0;
    }
  }
}

.cc-input {
  background: url("../../images/cc.png") no-repeat 98% center;
  background-size: 20px 16px;
  padding-right: 35px;
  line-height: 200%;
}

.payment-review {
  background: #431a63;
  .payment-review-container {
    background: #431a63;
    color: #fff;
    font-size: 14px;
    .payment-wper {
      padding: 0 20px;
      > .row {
        line-height: 200%;
      }
      .review-title {
        padding: 20px 0;
        color: #fff;
        a,span {
          color: #fff;
        }

      }
      hr {
        border-color: #ab47bc;
        margin: 5px 0;
      }
      .icn {
        color: #ab47bc;

        font-size: 32px;
        span {
          color: #ab47bc;
        }
      }
      span {
        color: #999999;
      }
      .icon-plane_depature, .icon-plane_landing {
        color: #fff;
      }

    }
    .price-b-cont {
      background: #24043f;
      padding: 20px 0;
      margin: 10px 0;
      .total {
        font-weight: bold;
      }
    }
  }
}

.payment-options {
  .payment-logo {
    float: left;
    margin-top: 10px;

    &:nth-child(even) {
      padding-left:5px;
    }

    &:nth-child(odd) {
      padding-right:5px;
    }

    label{
      border: #aaa 1px dotted;
      border-radius: 5px;

      &.selected{
      background:#eee;
      border-color: #333333 !important;
      }
    }

    label > [type='radio']{
      margin:0;
    }

    img {
      width:80%;
      margin: 10px 10%;
    }

    &:last-child:not(:first-child){
      float:left;
    }
  }
}
.warning-message{
  p{
    padding: 10px;
    background: #FFF9C4;
  }
}

.no-flights{
  color: white;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}


/*-------------------------- Supun's Styles Start ------------------------------------------- */
.padding-0{padding: 0px;}
.padding-10{padding: 10px;}
.padding-left-right-3{padding: 0px 3px;}
.padding-top-0{padding-top: 0px;}
.padding-top-3{padding-top: 3px;}
.padding-top-7{padding-top: 7px;}
.padding-top-20{padding-top: 20px;}

.padding-left-0{padding-left: 0px;}
.padding-left-10{padding-left: 10px;}
.padding-left-15{padding-left: 15px;}
.padding-left-20{padding-left: 20px;}

.padding-right-0{padding-right: 0px;}
.padding-right-10{padding-right: 10px;}
.padding-right-15{padding-right: 15px;}
.padding-right-20{padding-right: 20px;}

.margin-0{margin: 0px;}
.margin-top-0{margin-top: 0px;}

.margin-top-0{margin-top: 0px;}
.margin-top-10{margin-top: 10px;}
.margin-top-15{margin-top: 15px;}
.margin-top-20{margin-top: 20px;}

.margin-bottom-0{margin-bottom: 0px;}
.margin-bottom-10{margin-bottom: 10px;}
.margin-bottom-15{margin-bottom: 15px;}
.margin-bottom-20{margin-bottom: 20px;}

.extras-tab-header{
  background-color: #783795;
}

.extras-tab-header a{
  color: #fff;
  font-size: 1rem;
  transition: background-color linear 0.5s;
}
ul.extras-tab-header li.is-active a{
  color: #a6b7bf;

}

.seats-checkbox-area input[type="checkbox"] {
  display: none;

}
.seats-checkbox-area label {
  cursor: pointer;
  margin:0px;
  font-size: 0.79rem;
  color: #212121;
}
.seats-checkbox-area input[type="checkbox"] + label:before {
  border: 1px solid #7f83a2;
  content: "";
  display: inline-block;
  height: 20px;
  margin: 0 0.25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 20px;
}

.seats-checkbox-area input[type="checkbox"].as + label:before {
  border: 1px solid #e67e22;
  transition: background-color linear 0.5s;
}
.seats-checkbox-area input[type="checkbox"]:checked.as + label:before {
  border: 1px solid #bf360c;
  background-color: #bf360c;
}

.seats-checkbox-area input[type="checkbox"].os + label:before {
  border: 1px solid #ff7043;
  background-color: #ff7043
}

.seats-checkbox-area input[type="checkbox"].ss + label:before {
  border: 1px solid #bf360c;
  background-color: #bf360c;
}

.seats-table table{
  color: #212121;
}

.seats-table table thead tr th{
  color: #212121;
}


.passengers-seatlist ul li a{
  font-size: 1rem;
}
.passengers-seatlist ul li a{
  font-size: 1rem;
  color:#919191;


}
.passengers-seatlist ul li.is-active a{
  color: #da7b2b;

}
.passengers-seatlist ul li:last-child{
  border: 1px solid #f0f0f0;

}

.passengers-seatlist ul li:first-child{
  border: 1px solid #f0f0f0;

}

.passengers-seatlist ul li.is-active{

}

.passengers-seatlist table > tbody > tr.active-row{
  background-color: #bf360c;
  color: #fff;
}

.passengers-seatlist table > tbody > tr{
  color: #212121;
}


.baggage-details .baggage-title-destinations{
  color: #da7b2b;
  font-size: 1rem;
}

.baggage-details .baggage-title-destinations img{
  margin:0px 5px;
}

.baggage-details .baggage-information .accordion-item .accordion-title{
  background-color: #602d76;
  color: #fff;
  font-size: 1rem;
  padding: 0.6rem 1rem;
}

.baggage-details .baggage-information .accordion-item .accordion-title:before {
  content: "\e604";
  font-family: 'simple-line-icons' !important;
  right: 1rem;
}
.baggage-details .baggage-information .accordion-item.is-active .accordion-title:before {
  content: "\e607";
  font-family: 'simple-line-icons' !important;
  right: 1rem;
}

.baggage-details .baggage-information table{
  color: #808080;
}

.baggage-details .img-shadow{
  border-radius: 50%;
  -webkit-box-shadow: -5px 0px 12px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: -5px 0px 12px 0px rgba(0,0,0,0.35);
  box-shadow: -5px 0px 12px 0px rgba(0,0,0,0.35);
}




.meal-list ul li a{
  font-size: 1rem;
}
.meal-list ul li a{
  font-size: 1rem;
  color:#919191;


}
.meal-list ul li.is-active a{
  color: #da7b2b;

}
.meal-list ul.tabs li:last-child{
  border: 1px solid #f0f0f0;

}

.meal-list ul.tabs li:first-child{
  border: 1px solid #f0f0f0;

}


.meal-list .meal-box{
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 13px 0px rgba(0,0,0,0.10);
  -moz-box-shadow: 1px 1px 13px 0px rgba(0,0,0,0.10);
  box-shadow: 1px 1px 13px 0px rgba(0,0,0,0.10);
}

.meal-box h4{
  margin:0px;
  color: #000000;

}

.passengers-meals-count ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.passengers-meals-count ul li{
  color: #000000;
}

.passengers-meals-count ul li select{
  background-color: #fff;
  border: none;
  margin-bottom: 0px;
}

.icons.icon-phone{
  font-family: 'simple-line-icons' !important;
  font-size: 23px;
}

.border-bottom{
  width: 100%;
  height: 2px;
  background-color: #fff;
}



/*------------------------- design fixing ------------------------ */

.page-status .visited span.int{
  width: 45px;
  height: 45px;
  line-height: 47px;
  font-size: 25px;
}
.page-status .visited .after-trail{
  margin-left: 40%;
}

.page-status .current span.int {

  padding: 2px;
  width: 48px;
  height: 48px;
  font-size: 25px;

}

.page-status .current span.int .inner {

  width: 42px;
  height: 42px;
  line-height: 44px;
  font-size: 23px;

}

.page-status .normal span.int {
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 23px;
}

.page-status .normal .after-trail {
  margin-top: -2px;
  margin-left: 40%;
}

.page-status .current .after-trail {
  margin-left: 40%;
}

.icon-shopping-cart-facing-left:before, .icon-depature:before, .icon-return:before, .icon-plus:before, .icon-cart:before, .icon-phone:before, .icon-add:before {
  line-height: 45px;
}

.icon-add{
  font-size: 23px;
}

.flight-info .small-6 a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.flight-info .small-6 a {
  font-size: 16px;
  text-decoration: none;
  margin-top: 10px;
  letter-spacing: 0.4px;
  display: inline-block;
  line-height: 20px;
}

.flight-info .small-6.price span {

  font-size: 16px;
  opacity: 0.5;
}

.flight-info .small-6.price {
  font-size: 28px;
}

.button {
  font-family: 'proxima_nova_rgregular';
  font-size: 22px;
}

.fa-chevron-right{
  font-size: 16px;
}

.select-dropdown{

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: none;
  background:url("../../images/icns/select-dropdwon-img.png") no-repeat #f8f7f7 right center;
  color: #919191;
}

select:focus{
  outline: none;
}

.personal-information .accordion-item .accordion-title {

  font-size: 18px;
  padding: 0.8rem 1rem;
}

.personal-information .accordion-item .accordion-title:before {
  content: "\e604";
  font-family: 'simple-line-icons' !important;
  right: 1rem;
}

.personal-information .accordion-item.is-active .accordion-title:before {
  content: "\e607";
  font-family: 'simple-line-icons' !important;
  right: 1rem;
}

.title-bar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.title-bar .title-bar-title{
  font-family: 'proxima_nova_rgregular';
  font-size: 16px;
  letter-spacing: 1px;
}

/*---------------------------------- right side panel ---------------------------------- */


.right-side-panel{
  background-color: #fff;
  position: absolute;
  top: 2.7rem;
  bottom: 0rem;
  width: 100%;
  left:768px;
  transition: all 0.5s linear;
  z-index: 5;
  color: #212121;
}


.right-side-panel.active-panel{
  left: 0;
}

.right-side-panel .close-button{
  top: -0.3rem;
  color: #212121;
  position: relative;
  font-size: 2.2em;
  right: 0rem;
}

.right-side-panel .close-button:active{
  outline: none;
}

.right-side-panel h3{
  font-size: 1.1rem;
  color: #212121;
}

.separator{
  height: 1px;
  background-color: #783795;
  width: 100%;
}

.flight-info-section{
  margin-bottom: 20px;
  margin-top: 20px;
}

.price-info-section{
  margin-top: 40px;
  background-color: #da7b2b;
  color: #fff;
  padding: 10px 0px;
}

.price-info-section h3{
  color: #fff;
}

.price-info-section strong{
  letter-spacing: 0.05rem;
}

.font-small{
  font-size: 0.9rem;
}

/*---------------------------------- loading bar ---------------------------------- */

#loading-bar {
  .bar {
    background: #da7b2b;
  }
}

/*---------------------------------- / loading bar ---------------------------------- */

@media (max-width: 370px) {
  .flight-details{
    .text-center{
      font-size: 26px;
      padding-left: 10px;
    }
  }

  select,
  #{text-inputs()},
  textarea {
    font-size: 0.9em;
  }

  .payment-wper {
    .amount{
      padding-left:0;
    }

    .date-time{
      font-size: 13px;
    }
  }
}