@media only screen and (max-width: 768px){
    .ngdialog.ngdialog-theme-default.save-card-template { 
        .ngdialog-content{
            top:10% !important;
            .save-card{
                .mandatory-label{
                    position: absolute;
                    left: 27px;
                    top: 178px;
                }
                .desc{
                    font-size: 14px;
                    margin-top:26px;
                }
                .date-divider-container{
                    left: 49%;
                    top: 43px;
                }
                .cc-vv-container{
                    span{
                        display: block;
                    }
                }
                .btn-set{
                    button{
                        width: 100%;
                        height: 43px;
                    }
            
                }
                .ngdialog-close:before{
                    top: 17px;
                }
                .payment-desc-section{
                    margin-bottom: 10px;
                    margin-top: 0px;
                    p{
                        font-size: 14px;
                        margin-bottom:0px !important;
                    }
                }   
            } 
        }
    }
}

@media only screen and (min-width: 768px){
    .ngdialog.ngdialog-theme-default{
        &.save-card-template{
            
            .popup-confirm {
                .btn-set{
                    margin:0;
                }
            }
            .btn-set{
                margin-right:0;
            }
        
            .ngdialog-content{
                padding: 25px 5px 5px 5px;
                width: 525px;
                height: 766px;
                .save-card{
                    .date-divider-container{
                        left: 132px;
                        top: 45px;
                    }
                    .cc-vv-container{
                        padding:0;
                        width: 81px;
                        top: -7px;
                        .cc-vv-desc{
                            font-size: 10px;
                        }
                    }
                    .label-card{
                        &.label-card-sec{
                            padding-left: 0px;
                        }
                    }
                   
                    .form-container{
                        &.card-dates-detail{
                            width: 143px;
                        }
                    }
                    
                    h3{
                        margin-bottom: 26px;
                    }
                    .ngdialog-close:before{
                        top: 21px;
                    }
                   
                }
              
            }
        }
    }
}