@media only screen and (max-width: 768px){
	.xs-cvv-div{
		p.valdr-message{
			margin-top: 3px;
		}
	}
    .ngdialog.ngdialog-theme-default.save-card-template { 
        .ngdialog-content{
            top:10% !important;
            height: 85%;
            overflow: auto;
            padding: 26px 10px 42px 10px !important;
            .save-card{
                .mandatory-label{
                    position: absolute;
                    right: 16px;
                    top: 168px;
                }
    
                .desc{
                    font-size: 14px;
                    margin-top:6px;
                    margin-bottom: 18px
                }
                .date-divider-container{
                    left: 49%;
                    top: 44px;
                }
                .cc-vv-container{
                    top: 0 !important;
                    margin-top: -5px;
                    span{
                        display: block;
                    }
                    .cc-vv-desc{
                        line-height: 1.7;
                    }
                }
                
                .btn-set{
                    &.add-pay-container{
                        margin-top: 2px; 
                    }
                    button{
                        width: 100%;
                        height: 43px;
                    }
            
                }
                .ngdialog-close:before{
                    top: 12px;
                    margin-right: 20px;
                }
                .form-container{
                    margin-bottom:25px;
                    padding-top: 0px;
                    p{
                        margin-bottom:0px;
                    }
                }
    
                .payment-desc-section{
                    margin-bottom: 10px;
                    margin-top: 0px;
                    p{
                        font-size: 14px;
                        margin-bottom:0px !important;
                    }
                }   
            } 
        }
    }
}

@media only screen and (min-width: 768px){
    .ngdialog.ngdialog-theme-default{
        &.save-card-template{
            .ngdialog-content{
                padding: 25px 5px 5px 5px;
                width: 525px;
                height: 766px;
                .save-card-form{
                    .popup-confirm {
                        .btn-set{
                            margin:0;
        
                        }

                        .date-divider-container{
                            left: 132px;
                            top: 45px;
                        }
                        .cc-vv-container{
                            line-height: 1.2;
                            padding:0;
                            width: 81px;
                            top: -3px;
                            .cc-vv-desc{
                                font-size: 10px;
                            }
                        }
                        .label-card{
                            &.label-card-sec{
                                padding-left: 6px;
                            }
                        }
                    
                        .form-container{
                            &.card-dates-detail{
                                width: 143px;
                                padding-right: 0px;
                            }
                        }
                        
                        h3{
                            margin-bottom: 26px;
                        }
                        .ngdialog-close:before{
                            right: 20px;
                            top: 24px;
                        }


                    }
                }
            }
        }
    }
}
