/*======================================
=            Content Header            =
======================================*/

.content-header{
	@extend .left-wide;
	position: relative;
	z-index: 999;
	margin-bottom: 0px;
	
	// Page Title
	.page-title{
		&.payment-page-title {
			padding-right:10px;
		}
		font-size: 24px;
		font-weight: 700;
		float: right;
		margin: 0;
		line-height: 54px;
		padding-bottom: 15px;
		padding:0;
		//max-width: 600px;
		
		&.meal-page-title{
			padding-left: 5px;
			padding-right: 15px;
		}
		&.baggage-page-title{
			padding-right:0px
		}
	    .main-text{
	    	@extend .left-wide;
	    	white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
	    }
	    ul,ol{
	    	@extend .left-wide;
	    	list-style: none;
	    	padding: 0;
	    	margin: 0;
	    	line-height: 1;
	    	li{
	    		float: left;
	    		a{
					float: left;
					text-decoration: none;
	    		}
	    	}
	    }
		a{
			float: right;
			font-size: 11px;
			color: $primary_font_color;
			text-decoration: underline;
			&:hover,&:focus,&.active{
				color: $red;
			}
		}

		.thin{
			font-weight: 400;
		}
	}
	// Page Title - Extras Pages
	.page-title h1{
		width:100%;
		font-size: 24px;
		font-weight: 700;
		float: left;
		margin: 0;
		line-height: 54px;
		padding: 10px 0 0 15px;
		//max-width: 600px;
		.main-text{
			@extend .left-wide;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		ul,ol{
			@extend .left-wide;
			list-style: none;
			padding: 0;
			margin: 0;
			line-height: 1;
			li{
				float: left;
				a{
					float: left;
					text-decoration: none;
				}
			}
		}
		a{
			float: left;
			font-size: 11px;
			color: $primary_font_color;
			text-decoration: underline;
			&:hover,&:focus,&.active{
				color: $red;
			}
		}

		.thin{
			font-weight: 400;
		}
	}

	// Sub intro
	.sub-intro{
		@extend .left-wide;
		color: $red;
		font-size: 14px;
		font-weight: 600;
		line-height: 1;
	}

	// Description
	.description{
		@extend .left-wide;
		margin-top: 14px;
		color: $black;
		font-size: 14px;
		font-weight: 600;
		line-height: 1;
	}

	// Button
	.btn-wrap{
		padding: 0 15px 0 15px;
		.button{
			margin-top: 6px;
		}
		a{
			@extend .left-wide;
			text-decoration: none;
			height: 52px;
    		line-height: 52px;
    		font-weight: 600;
    		text-align: right;
		}
	}
}

/*=====  End of Content Header  ======*/


isa-phone-number{
	.col-md-3{
		padding-left: 5px;
		padding-right: 15px !important;
	}
	.col-md-9{
		padding-right: 5px;
		padding-left: 15px !important;
	}
}