@media only screen and (min-width:992px){
	.row-margin{
		margin-left: 0;
		margin-right: 0;
		> div{
			> p{
    				padding-bottom: 15px !important;
			}
		}
	}
	#myreservations_table {
		.xs-padding-rem{
			border-bottom: 1px solid #DCDCDC;
    	    padding-bottom: 15px;
		}
		.xs-rem-border{
			border-bottom: none;
		}
		.xs-deletebtn{
			background: transparent;
			color: $primery_color;
		}
	}
	
    .booking-details-h2{
        margin-bottom: 15px !important;
        margin-top: 0px;
        padding-bottom: 5px;
    }
    .reservation-extras {
        margin-top: 20px;
        margin-bottom:30px !important;
    }
    .dash-res-sum{
        .contact-details{
            h2{
                margin-bottom:15px !important;
            }
        }

        .col.passengers{
            h2{
                margin-bottom:15px !important;
            }
        }
    }
    .RTL .dash-res-sum h2{
        float: right;
    }
   .LTR #myreservations_table{
        margin-left:-15px !important;		
        >p{
            padding-left:15px !important;
        }
    }
    .dash-res-sum .reservation-extras ul li {
        padding: 0 !important;
    }
    .RTL {
    	.user-details > .book-flight-btn {
    		padding: 0px 10px 0px 0px;
    		margin-left: -20px;
    	}
    	.dashboard-title {
    		padding-left: 0px;
    	}
    	.reservation-credits {
    		padding-left: 0px;
    	}
    }
    .LTR {
    	.dashboard-title.user-details{
    		padding-right: 0px;
    		.book-flight-btn {
    			padding-left: 8px;
	    	}
	    }
    	.container.login-bar {
    		padding-right: 5px;
    	}
    }
    .LTR .xs-sort-by {
    	margin-left: -5px;
    }
    .RTL .xs-sort-by {
    	margin-right: -5px;
    }
}
@media only screen and (min-width:768px){
    .dashboard-content-header{
        .page-title,.btn-wrap{
            margin-top:0 !important;
        }
    }
    .dash-res-sum {
        .inside-content{
            margin-top:15px !important;
        }
    }
    .airwards-registration .ibe-jquery-date-picker .valdr-message{
        bottom: 0 !important;
    }
}
@media only screen and (min-width:768px) and (max-width:991px){

    .inside-content .airwards-registration {        
        .with-sub .section-heading{
            height: auto !important;            
        }
    }
    .booking-details-h2{
        margin-bottom: 5px !important;
        margin-top: 0px;
        padding-bottom: 5px;
    }
    .reservation-extras {
        margin-bottom:10px !important;
    }
    .sm-extras-sec{
        padding-top : 15px !important;
    }	
    .dash-res-sum{
        h2{
            font-size:17px !important;
        }
        .page-title{
            margin-bottom:-20px !important;
        }

        .passengers,.contact-details{
            h2,.edit-pax{
                margin-bottom:10px !important;
                margin-top: 0;
            }
        }

        .inside-content{
            margin-top:15px !important;
        }
        .flight-summary {
            margin-bottom:35px !important;
            margin-top:0 !important;
            .title{
                font-size:18px !important;	
            }
        }
        .passengers{
            .pax-count-lbl{
                //margin-top:32px;
            }
        }

        .reservation-details {
            margin-bottom:0 !important;
        }

        .sm-ancillar{
            .data{
                margin-top:5px !important;	
            }
            .sm-ancillar-edit > a{
                color: $primery_color !important;
                width: 32%;
                margin-right: 34%;
                margin-left: 34%;
                .checked {
                    color: #28cf1c;
                }
                .fa{
                    color: $primery_color !important;
                }
            }
        }
        .flight-table{
            margin-bottom: -20px;
            .col.duration{
                width:14% !important;
            }
            .col.departure,.col.arrival{
                width:22% !important;
            }
        }
        .modify-payment-list{
            margin-top:-15px !important;	
        }
    }
    .RTL .dash-res-sum h2{
        float: right !important;
    }

    #modify-payment-list{
        margin-top:-15px !important;
    }
    .sm-backtodash{
        margin-top : 4% !important;
        float : right !important;
    }
    .sm-m-10{
        margin-top : 10% !important;
    }
    .sm-allreservations{
        padding-left : 15px !important;
   }
    .RTL {
    	.user-details > .book-flight-btn {
    		padding: 0px 10px 0px 0px;
    		margin-left: -20px;
    	}
    	.dashboard-title {
    		padding-left: 0px;
    	}
    	.reservation-credits {
    		padding-left: 0px;
    	}
    	.dashboard .navigation-dropdown .dropdown-content {
    		height: auto;
    		max-width: 490px;
    		overflow: scroll;
    	}
    }
    .LTR {
    	.user-details > .book-flight-btn {
    		padding-left: 8px;
    	}
    	.container.login-bar {
    		padding-right: 3px;
    	}
    	.dashboard .navigation-dropdown .dropdown-content {
    		height: auto;
    		max-width: 490px;
    		overflow: scroll;
    	}
    }
}


@media only screen and (max-width:992px){
    .my-reservations-table{
        .row-margin{
            margin-left: 0px !important;
            margin-right: 0px !important;
            
            >div >p{
                padding-bottom: 0 !important;
            }
        }

        .add-new-card-container{
            padding-left: 0px;
            .btn-wrap{
                margin-bottom: 0px;
            }
        }
            
    }
    

	#myreservations_table {
		.xs-padding-rem{
			padding-bottom: 0 !important;
		}
	}
	.sidebar .xsdashboard-widget{
		padding: 0 !important;
	}
    .mrt-heading-col{
        padding: 10px 0 10px 0 !important;
    }   
    .all-reservations{
        .view-button{
            padding-left:0 !important;
            padding-right:0 !important;
        }
    } 
    .reservation-details{

        .fa-status{
            float:right !important;
            display: block;
            //margin-top: -10px;
        }
    }

    .passengers{
        .pax-count-lbl{
            clear: both;
            display: table !important;
            margin-left: 0 !important;
            padding-top:5px !important;
        }
    }

    .dash-res-sum{
        .content-wrapper{
           
        }
    }
}

@media only screen and (max-width:767px){
    .dashboard-row{
        padding: 0 6px;
    }
	.RTL .pding-top.date-dividier-container{
		right: 130px;
		left: 0;
	}
    .dash-res-sum .reservation-details .col.contact-details {
  	  padding-left: 15px !important;
  	  padding-right: 15px !important;
	}
    .content-body{
        .row{
            .sidebar{
                &.reservation-credits{
                    padding-left: 10px !important;
                    padding-right: 15px !important;
                }
            }
        }
    }  
    .dash-res-sum  .content-body{
        .fa-angle-down, .fa-angle-up{
            font-size:2.3rem !important;
            color: #000000 !important;
            line-height: 0.7;
            margin-right:0;
        }
    }

    .dashboard .my-reservations > h2 {
        margin-bottom: 10px !important;
        margin-top: 5px !important;
    }
    #myreservations_table {
        margin-bottom: 15px !important;
        padding-left: 0;
        padding-right: 0;

        p{            
            font-weight: normal !important;
            font-size: 1.4rem !important;
        }
    }    
    .dashboard-content-header{
        .btn-wrap{
            padding-left:0 !important;
        }
    }      
    .mrt-heading-col{
        padding: 5px 0 6px 0 !important;
        font-size: 1.4rem !important;
        font-weight: 600;
        .departure-arrival span{
            font-size:1.2rem !important;
            label {
                font-weight: 600 !important;                                    
            }
            i {
                font-weight: normal;
            }
        }
    }
    .res-flight-status{
        p{
            font-size:1.1rem !important;
        }
    }    
    .mrt-row {
        border-bottom: 0px solid !important;
        .flight {
            margin-bottom: 10px !important;
            h5{
                margin-bottom:0 !important;
                line-height: 1.42857143 !important;
                font-size: 1.2rem !important;
            }
        }
    }
    .view-reservations {
        padding-top: 0 !important;
        .pagination-wrap {
            height: 40px !important;
            display: inline-block;
            position: relative;
            top: 10px !important;
            .content-one{
                text-align: right; 
                padding-right: 0;
            }
            .content-two{
                text-align: left;
                padding-left: 0;
            }
        }
        .main-text{
            position: relative;
            top: 10px !important;  
            font-size: 1.6rem !important;
            line-height:40px !important;      
        }
        .xs-backtodash {
            display: inline-block;
            width: 50% !important;
            height: 40px;
            position: absolute;
            right: -15px !important;
            top: 6px;
            font-size: 1.2rem;
            line-height: 3 !important;   
            .back-btn{
                u{
                    text-decoration: none !important;
                }
            }
        }
    }
    .res-load-content-header{
        div.btn-wrap:first-child{
            margin-top:-15px !important;
        }
        div.btn-wrap{
            padding-left:0 !important;
        }
    }
    .dashboard-widget{
        position: relative;
        top: 10px;
        .widget-header span {
            font-size: 1.4rem !important;
        }
    } 
    .content-footer{
        margin-top: 0 !important; 
        border-top: none !important;
    }

    .reservation-details{
        .btn-wrap > span {
            padding: 0 5px !important;
        }
            .booking-details-h2{
                padding: 12px 2px 10px 0 !important;
                height: 42px;
                margin-bottom: 10px;            
            // margin-top: 5px;
                font-size: 1.6rem;
            }            
        ul{
            li{
                span{
                    text-align:right;
                }
            }
        }
    }
    .contact-details{
        ul{
            li{
                >span{
                    text-align:left;
                    padding-left:15px;
                }
            }
        }
    }

    .dash-res-sum{
        .flight-summary-xs-div {
            //margin-top: 10px;
            padding:0;
            .flight-summary-div-4{
                padding-left: 15px;
            }
            /*            .panel-body{
                            margin-left:15px;
                        }*/
            .xs-modify-filght-summary{
                margin: 0 5px;
                .row{
                    padding:0 10px;
                }
            }
        }
        .flight-summary-total{
            margin-bottom: 15px;
            font-size: 1.2rem !important;
            &.summary-mobile-total{
                li{
                    padding-left: 2px;
                    padding-right: 3px;
                }
            }
        }
        /*        .reservation-details{
                    >.row:nth-child(2){
                        >.col-xs-12:first-child{
                            margin-bottom: 15px !important;
                        }
                    }
                }*/
        .reservation-details .col {
            //margin-bottom: 10px;    
            ul li > span {
                text-align: left;
                width: 30%;
                margin: auto;
                > currency-text  {
                    font-size: 1.2rem !important;
                }
            }
            ul li {
                font-size: 1.2rem !important;
                label{
                    font-color: #414042 !important;
                }
            }
            .reservation-number {
                width: 45% !important;
            }
        }

        #header-wrapper {
            margin-bottom: 0 !important;
        }
        .passenger-summary-container {
            margin-right: 0;
            margin-left: 0;
            padding: 0 0;
            width: 100%;
            position: relative;
        }

        #modify-payment-list {
            margin-bottom: 15px !important;
            margin-left: -10px;
        }

        .reservation-summay-btn-div {
            margin-left: 0px;
            margin-right: 0px;
            padding-left: inherit;
            padding-right: inherit;
        }
        .reservation-flexibility-heading {
            padding: 0 0;
            text-align: left;
            .ft-heading{
                 background-color: white !important;
            }
            .col-xs-12{
                display: flex !important;
                margin-bottom: 2px !important;
                border-bottom: 0px !important;
            }
            .col{
                font-weight: 600 !important;
                font-size: 1.2rem !important;
                background-color: #e8e8e8 !important;
            }
            .col-xs-7{
                font-size: 1.2rem !important;
                font-weight: 600 !important;
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 10px;
                padding-top: 10px;
                span {
                    font-size: 1.2rem !important;
                }
            }
            .col-xs-5{
                padding: 10px 15px !important
            }
            .flexibility-summary-heading{
                padding: 10px 0px 10px 23px !important;
                color: #000000;
            }            
            
        }

        .passenger-div-xs,.contact-xs-div {
            .panel-group{                
                padding-top: 10px !important;
                padding-bottom: 10px !important;
                margin-bottom: 0 !important;
                //border-bottom: 1px solid !important;
                .panel-body{
                    padding-left: 26px !important;
                    >.panel{
                        border-color: transparent !important;
                        box-shadow: none !important;
                    }
                }

            }
        }


        #contactdetail-span {
            width: 65% !important;
        }

        .dash-res-sum .flight-summary .title {
            font-weight: 600;
        }
        .passengers-list-div {
            float: right;
            margin: -10px 15px;
            padding-left: 0 !important;
            padding-right: 0 !important;
            .lbl-edit-pax {
                margin-left: 3px;
            }
            .glyphicon{
                color: $very_black;
                font-size: 1.2rem;
            }
        }
        .contact-details-div {
            float: right;
            margin: -10px 15px;
            padding-left: 0 !important;
            padding-right: 0 !important;
            .glyphicon{
                color: $very_black;
                font-size: 1.2rem;
            }
        }

        .reservation-details .col.passengers h2 {
            margin-left: 10px;
            font-size: 1.6rem;
            color: $very_black;
        }
        .reservation-details .col .edit-pax {
            margin-right: -30px;
            >label{
                width:auto !important;
                font-size: 1.4rem !important;
            }
        }
        .contact-details h2 {
            margin-left: 10px;
            font-size: 1.6rem;
            color: $very_black;
        }

        .extra-details-div {
            margin-top: -10px;    
            position: absolute;
            .glyphicon, .fa {
                margin-left: -30px;
                color: $very_black;
                font-size: 1.2rem;
            }
            .heading-text {
                margin-left: -5px;
                font-size: 1.6rem !important;
                color: $very_black;
            }
        }

        .xs-modify-filght-summary .ft-heading {
/*            background-color: $bg_primary_color;
            color: $very_black;*/
            font-size: 1.2rem;
        }

        .flight-summary-heading, .flexi-details-heading, .payment-details-heading {
            .Reser-flexi{
                    font-size: 1.6rem !important;
                    font-weight: 600 !important;
                    padding-left: 10px !important;
                }
            //position: absolute;
            .red-btn {
                font-size: 1.4rem !important;
            }
            /*margin-left: 10px !important;*/
            color: $very_black;
        }
        .flight-summary-glyphion, .flexi-details-glyphion, .payment-details-glyphion {
            margin-top: 13px;
            color: $very_black;
            font-size: 1.2rem;
        }

        .passengers .pax-count-lbl {
            font-size: 1.4rem !important;
        }

        .flight-summary {
            .btn-wrap {
                padding-left: initial;
                span{
                    padding-left: 10px !important;
                    padding-right: 10px !important;
                }

            }
            .panel-group {
                margin-bottom: 0px !important;
                .flight-summary-div-4{
                    margin-bottom: 0px !important;
                    line-height: 25px !important;
                }
            }
        }
        .reservation-extras {
            .panel-group {
                margin-bottom: 0px !important;
                .flight-summary-div-4{
                    margin-bottom: 0px !important;
                }
            }
        }
        .payment-details-xs-div {
                 margin-top: -5px !important; 
            .panel-heading{
                padding-top: 0 !important;
                padding-bottom: 0 !important;
                margin-bottom: -20px !important;
            }
            /*            .panel-group{
                            border-bottom: 1px solid !important;
                        }*/
            .panel{
                border-color: transparent !important;
            }
            .panel-body {
                padding: 0;
                border: none !important;
                #modify-payment-list {
                    margin-left: 0px !important;
                    margin-bottom: 0 !important;
                    &.payment-details-list{
                        font-size: 12px;
                        padding-left: 10px !important
                    }
                } 
                .content ul li {
                    line-height: 3 !important;
                }
            }
            .section-line hr {
                margin-bottom: 0 !important;
            }
        }
        .passerger-xs-div {
            .panel-body {
                border: 0 !important;
                padding-left: 20px !important;
                padding-bottom: 0 !important;
            }
        }
        .contact-xs-div {
            .panel-body {
                border: 0 !important;
            }
        }
        .extra-xs-div {
            margin-top: 10px !important;
            .panel{
                border-color: transparent !important;
                box-shadow: none !important;
            }
            .panel-group{
                padding-bottom: 10px !important;
                //border-bottom: 1px solid !important;
            }
            .panel-body {
                border: none !important;
                padding: 0 15px 0 0;
            }
        }
        .flight-summary-xs-div {
            .panel-heading{
                padding-bottom: 0 !important;
                padding-top: 0 !important;
                >h4{
                    margin-top: 2px !important;
                    padding-bottom: 2px !important;
                    /*border-bottom: 1px solid !important;*/
                }
            }
            .panel-body {
                border: 0 !important;
                padding:0;
            }
        }
        .flexi-detail-xs-div {
            .panel-heading{
                    padding-left: 0 !important;
                    padding-bottom: 12px !important;
                    padding-top: 12px !important;
            }
            .panel-body {
                    border: 0 !important;
                    padding: 0 !important;
                    }
        }

        /**/

        padding-top: 0px !important;
        .page-title{
            margin-bottom:-10px !important;
        }
        .content-wrapper{
     
        }
        .reservation-extras ul div .thumb a .checked {
            color: #28cf1c;
        }
        .contact-details{
            h2{
                margin-bottom:10px !important;
            }
        }
        .section{
            margin-bottom:0 !important;
        }

        .reservation-extras > h2{
            margin-bottom:0 !important;
        }
        .res-summary-extras:last-child{
            border-bottom:none !important;
        }
        .res-summary-extras{
            margin-left:0px !important;
            margin-right:0 !important;
            border-bottom:1px solid #dbdce0;
            margin-top: 20px !important;
            .segm-details{
                &.pd-r-0{
                    padding-left: 15px !important;
                }
            }
            > div{
                padding-left:0 !important;
                padding-right:0 !important;
                font-size: 1.2rem !important;
                b{
                    font-size: 1.4rem !important;
                    font-weight: 600;
                }
            }
            .xs-options-price
            {
                position: relative; 
                top: -4px; 
                font-weight: 600;
                i {
                    font-size: 1.2rem !important;
                    color: $primery_color; 
                }
            }

            .add{
                color: #000000 !important;
                position: relative;
                top: -3px;
                padding-left: 5px;
            }
            .checked{
                color: #28cf1c !important;
                margin-left: 5px;
                font-size: 1.8rem;
                margin-right: 5px;
                position: relative;
                top: -3px;
                padding-left: 5px;
            }

            /*            .fa a.edit-pax{
                            color: $primery_color;
                        }*/

            /*            .fa,a.add{
                            color: #000000 !important;
                            
                        }*/
            .select{
                font-size: 1.4rem; 
            }

        }

        .flight-summary{
            .title{
                font-size:1.6rem !important;
                font-weight: 600 !important;
            }
            .payment-title{
                font-size:1.6rem !important;
                width: 100%;
                padding-right: 0;
                //border-bottom: 1px solid #dbdce0;
            }
        }
        .button.red-btn{
            min-width:125px !important;
        }
        .xs-modify-filght-summary{
            font-size:1.2rem !important ;
            margin-bottom:10px !important;
            margin-top: 10px !important;
            .flight-icon-summary{
                position: relative;
                display: inline-block;
                top: 2px;
                margin: 0px 4px;
            }
            
            .row:first-child{
                border-top:1px solid #dbdce0;                
            }
            .row{
                margin-bottom:2px !important;
                display: flex !important;

                > div{
                    padding:10px 15px !important;
                }

                .fa-check-circle{
                    color: #28cf1c;
                }
                .fa-times-circle{
                    color:#ed0000;
                }
                span,label,i{

                    font-weight: 600 !important;	
                }
                .bus-segment-header{
                    .icon-bus{
                        font-size: 1.5rem;
                        color: $primery_color;
                        vertical-align: middle;
                    }
                }
            }

            .ft-heading{
                background-color: #f6f6f6;
                border-bottom: 1px solid #ededef;
                font-weight: 600;	
                &.flight-summary-headding{
                    padding: 10px 0px 10px 23px !important;
                }
            }
        }
        #modify-payment-list{
            margin-top: -10px;
            margin-bottom: 50px;            
            font-size:1rem;			
            .total{
                font-size:1.2rem !important;
            }
        }
    }
    #dashboard-footer-messages{
        padding-top: 15px !important;
        padding-left: 5px;
        >div{
            >sup{
                display: inline-block !important;
                width: 2% !important;
                vertical-align: top !important;
                line-height: 18px !important;
            }
            >div{
                display: inline-block !important;
                width: 95% !important;
                font-size: 1rem !important;
            }
        }
    }
    .modify-search-bookaflight{
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        padding: 0 !important;
    }
    .RTL .view-reservations {
        .pagination-wrap {
            .content-one{
                text-align: left;
                padding-left: 0;
            }
            .content-two{
                text-align: right;
                padding-right: 0;
            }
        }
        .xs-backtodash {
            left: -15px !important;
            right: unset !important;
        }
    }
    .RTL {
        .mr-rt-default{
            margin-right: -15px!important;
        }
        .pd-rt-default{
            padding-right: 15px!important;
        }
        .mr-lt-default{
            margin-left: -10px!important;
        }
        .pd-lt-default{
            padding-left: 15px!important;
        }

        .panel-heading{
            padding-left: 0px;
            padding-right:0px;
        }
        .passengers-list-div {
            margin-left: 0px;
            margin-right: 0px;
        }
        .contact-details-div{
            margin-left: 0px;
            margin-right: 0px;
        }
        .extra-details-div {
            margin-left: 0px;
            margin-right: 0px;
            .glyphicon{
                margin-left: 0px;
            }
        }
        .registration{
            .your-prefs{
                .checkbox label{
                    margin-left: 0px;
                }
            }
        }
        .dash-res-sum{
            .res-summary-extras{
                margin-left:0px !important;
                .col-xs-9,.col-xs-12{
                    padding: 0 !important;
                }
            }
        }
    }
    .max-width-90-per{
        max-width: 90%; 
    }
    #xs-modify-namechange{
        .flight-info-scroll{
            .xs-ttlsum-pricebreak{
                font-weight: bold !important;
            }
            .currency-charge-msg{
                font-size: 0.8rem !important;
            }
        }
        .flights-info-block{
            padding-right: 0 !important;
            >div:last-child{
                >div{
                    margin-bottom: 5px !important;
                }
            }
        }
        .section-line{
            >hr{
                margin-left: -5px !important;
            }
        }
        .price-info-block{
            padding: 0 !important;
            margin-top: -10px !important;
            >div:not(.section-line):not(.total-credit){
                margin-bottom: 5px !important;
            }
        }
    }
    .name-change-arrow{
        top: 1px !important;
        left: -53% !important;
    }
    .name-change-drawer-bar{
        border-bottom: none !important;
        border-top-color: $primery_color !important;
    }
    #xs-paysum_mod-flights-info-block{
        >div:last-child{
            >div{
                margin-bottom: 5px !important;
            }
        }
    }
    .mrt-border{
        border-bottom: 1px solid #e0dfdf !important;
        .res-num{
            padding-top: 10px !important;
        }
    }
    .reservation-btn-group-end{
        margin-bottom: 20px;
    }
    .RTL .dash-res-sum .reservation-details .col .edit-pax{
        padding-left: 10px !important;
    }
    .RTL .rtl-anci-info{
        direction: ltr !important;
    }
    .RTL {
        .all-reservations{
            .view-button{
                padding-left:10px !important;
}
        }
        .modify-search-bookaflight {
                padding-left:0px !important;
        }
    }
    .modify-flight-table {
        width: auto !important;
    } 
    .payment-details .panel .panel-collapse .panel-body{
        width: 100%;
    }
    .RTL .reservation-btn-col {
    	padding-right:0px;
    	padding-left: 30px;
    }
    .LTR .reservation-btn-col {
    	padding-right:0px;
    }
}
