/*===========================================
=            Registration Header            =
===========================================*/

.registration-header{
	@extend .left-wide;
	margin-bottom: 10px;

	> h1{
		@extend .left-wide;
		color: $red;
		font-size: 22px;
		font-weight: 600;
		margin-bottom: 15px;
	}

	> h3{
		@extend .left-wide;
		font-weight: 600;
		font-size: 18px;
		margin-bottom: 15px;
		line-height: 1.6;
	}

	> p{
		@extend .left-wide;
	}
}

/*=====  End of Registration Header  ======*/

.redirect-url{
	color: $site_primary_color;
    cursor: pointer;
}

/*==========================================
=            Dashboard Register            =
==========================================*/
@media only screen and(max-width: 768px){
	.reg-form{
		.section.with-sub{
			.section-sub-heading{
				margin-top: 5px;
				margin-bottom: 5px !important;
				
			}
		}
	}
}
.registration{

	.content-body{
		padding-top: 25px;
	}

	.your-prefs{
		.radio{
			width:100%;
			height: 26px;
		}

		.checkbox label{
			margin-left: 5px;
		}

		h4{
			font-size: 16px;
			font-weight: 600;
			height: 26px;
			line-height: 26px;
		}
	}


}
.fr {
	.reg-form {
		.section.with-sub{
			.section-sub-heading {
				margin-bottom: 20px;
				margin-top: 30px;
			}
		}
	}
}
.it {
	.reg-form {
		.section.with-sub{
			.section-sub-heading {
				margin-bottom: 20px;
				margin-top: 30px;
			}
		}
	}
}
.es {
	.reg-form {
		.section.with-sub{
			.section-sub-heading {
				margin-bottom: 20px;
				margin-top: 30px;
			}
		}
	}
}
.de {
	.reg-form {
		.section.with-sub{
			.section-sub-heading {
				margin-bottom: 20px;
				margin-top: 30px;
			}
		}
	}
}
.ru {
	.reg-form {
		.section.with-sub {
			.section-sub-heading{
				margin-bottom: 20px;
				margin-top: 30px;
			}
		}
	}
}
.ar {
	.reg-form {
		.section.with-sub {
			.section-sub-heading{
				margin-bottom: 20px;
				margin-top: 30px;
			}
		}
	}
}
.reg-form{
	@extend .left-wide;

	.margin-bottom-20{
		margin-bottom: 20px;
	}

	.margin-bottom-30{
		margin-bottom: 30px;
	}

	.margin-top-20{
		margin-top: 20px;
	}

	.margin-top-30{
		margin-top: 30px;
	}

	.section{
		@extend .left-wide;
		margin-bottom: 15px;
		border-bottom: 1px solid #ededef;

		&:last-child{
			border-bottom: 0;
			margin-bottom: 0;
			padding-bottom: 0;
		}

		.ibe-drop-down{
			.dp-caption{
				position: absolute;
				top: 0;
				width: auto;
				padding: 0 15px 0 10px;
				line-height: 50px;
				color: $black;
				font-weight: 400;
				font-size: 14px;
			}
			
			.fa{
				position: absolute;
				top: 0;
				right: 20px;
				line-height: 50px;
			}
		}

		.section-heading{
			@extend .left-wide;
			margin-bottom: 20px;
			font-size: 18px;
			font-weight: 600;
			height: 40px;
			line-height: 40px;

			> span {
				//padding: 0 5px;
				img{
					max-height: 100%;
				}
			}

			div{
				span{
					img#log0-airarabia{
						padding: 0 6px 4px;
					}
				}
			}

			small{
				height: 40px;
				line-height: 40px;
				float: right;
				color: $black;
				font-size: 11px;
				font-weight: 600;
			}
		}

		.section-sub-heading{
			@extend .left-wide;
			> p{
				@extend .left-wide;
				line-height: 1.6;
			}
		}

		&.with-sub{
			margin-bottom: 0;
			border-bottom: 0;
			padding-bottom: 0;

			.section-heading{
				margin-bottom: 0;
			}

			.section-sub-heading{
				margin-bottom: 20px;
				p{
					margin-top: 10px;
				}
			}
		}

		.row{
			margin-bottom: 0;



			.col{
				float: left;
				position: relative;

				.form-group{
					//margin-bottom: 0;

					width: 100%;
					float: left;
				}

				.long-error{
					.form-group{
						//margin-bottom: 0;

						.valdr-message{
							position: relative;
						}
					}

				}

				p{
					line-height: 1.8;
				}
			}
		}
        .phone-number{
          .row{
			     margin-top: 0px; 
			.ibe-typeahead.on-focus .valdr-message{
				display: none;
			}
          }
        }

		.data-input{
			@extend .left-wide;
			//margin-bottom: 20px;
			> label{
				@extend .left-wide;
				margin-bottom: 5px;
			}
		}

		.help-txt{
			@extend .left-wide;
			top: 22px;
		    position: absolute;
		    left: 15px;
		    padding-right: 30px;
		    font-size: 13px;
		    line-height: 1.6;
		}
	}
        .reg-copyright{
            .copyright-text{
                text-align: left;
                margin-bottom: 10px;
                font-size: 13px;
                >sup {
                    display: inline-block;
                    width: 2%;
                    line-height: 20px;
                    vertical-align: top !important;
                }
                .terms-and-condition {
                    display: inline-block;
                    width: 90%;
                    a{
                        color: $primery_color !important;
                        text-decoration: underline;
                    }
                }
            }
        }
        .send-promo-email-reg{
            margin-bottom: 20px;
            .send-promo-text{
                display: table !important;
                font-size: 13px;
            }
        }
}

/*=====  End of Dashboard Register  ======*/
