.view-reservations{
    padding-top: 30px;
}

.dash-res-sum {    
    .content-body{
        .row{
            .section{
                margin-bottom: 50px !important;
                &.reservation-detail-first-sect{
                    padding-left: 0;
                    .reservation-detail-first-title{
                        padding-left:0px !important;
                    }
                }
                &.flight-summary-container,
                &.promo-detail-container{
                    margin-bottom: 20px !important;
                }
                
            }
        }
    }
}

@media only screen and (max-width: 767px) {

    .dash-res-sum {    
        .content-body{
            .row{
                .section{
                    margin-bottom: 0px !important;
                    &.flight-summary-container{
                        margin-bottom: 0px !important;
                    }

                    &.promo-details-accordion{
                        margin-bottom: 10px !important;
                        .section-line{
                            z-index:999;
                        }
                    }
                    .promo-detail-content{
                        ul{
                            font-size: 12px;
                            padding-left: 7px !important;
                        }
                    }
                    .panel-group{
                        .panel-default{
                            .panel-body{
                                content{
                                    .payment-details-list{
                                        padding-left: 10px !important
                                    }
                                }
                            }
                        }
                    }   
                }
            }
        }
    }
}
/*=====================================================
=            Dashbaord Reservation Summary            =
=====================================================*/
.dash-res-sum .reservation-details .col.contact-details {
    padding-left: 0px;
    padding-right: 15px;
}
.dash-res-sum{
    //@extend .left-wide;
    padding-top: 30px;
    .content-wrapper{

        .content-footer{
            border-top: 0;
        }
    }

    h2{
        float: left;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 30px;

        span{
            font-weight: 400;
            font-size: 16px;
        }
    }

    .section{
        @extend .left-wide;
        //margin-bottom: 50px;
    }

    #header-wrapper{
        margin-bottom: 20px;
    }

    .content-header{
        border-bottom: none;
        padding-bottom: 0;
    }
    
    .email-btn{
        right: 15px;
    }
}

/*=====  End of Dashbaord Reservation Summary  ======*/


/*===========================================
=            Reservation Details            =
===========================================*/

.dash-res-sum .reservation-details{

    .row{}
    .col{
        /*float: left;*/
        @media screen and (max-width: 768px) {
            //margin-bottom: 40px;
        }
        .edit-pax{
        	.reservation-edit-lbl{
        		vertical-align: middle;
            }
            .fa.fa-pencil{
                margin-right: 0px;
            }
            padding-left: 10px;
   
        }

        ul{
            @extend .left-wide;
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                @extend .left-wide;
                line-height: 2;
                font-size: 13px;
                label{
                    float: left;
                    width: 45%;
                    font-weight: 400;

                    &.popup-lbl{
                        width: 230px;
                    }
                }
                > span{
                    float: left;
                    width: 55%;
                    font-weight: 600;
                    > span{
                        color: #b5b5b5;
                        font-weight: 400;
                        font-size: 12px;
                        display: inline-block;
                        /*margin-left: 10px;*/

                        &.amount,&.currency{
                            margin-left: 0px;
                            font-weight: 600;
                            color :#333333;
                        }
                    }
                    i{
                        display: inline-block;
                        margin-right: 5px;
                        margin-left: 5px;
                        &.confirmed{
                            color: #28cf1c;
                        }
                        &.canceled{
                            color: $red;
                        }
                    }


                }
            }
        }

        &.passengers{
            label{
                width: 100%;
            }
            h2{
                margin-bottom: 0px;
                line-height: 1em;
            }
            .pax-count-lbl{
                margin-bottom: 10px;
                color: #b5b5b5;
            }
        }

        &.contact-details li{
            label{
                width: 35%;
            }
            span{
                width: 65%;
            }
        }
    }
}
.RTL .dash-res-sum .reservation-details .col{
    float: left;
}


/*=====  End of Reservation Details  ======*/



/*==========================================
=            Reservation Extras            =
==========================================*/

.dash-res-sum .reservation-extras{

    > h2{
        margin-bottom: 40px;
    }

    ul{
        @extend .left-wide;
        li{
            float: left;
            width: 20%;
            text-align: center;
            padding: 0 20px;
            border-left: 1px solid #dbdce0;
            //margin-bottom: 30px;
/*            @media screen and (max-width: 960px) {
                padding: 0 15px;
            }*/
/*            &:last-child{
                border-right: 1px solid #dbdce0;
            }*/

            .thumb{
                text-align: center;
                @extend .left-wide;
                .img{

                    margin-bottom: 10px;



                }
                a{
                    @extend .left-wide;
                    font-weight: 600;
                    color: $black;
                    /* @media screen and (max-width: 768px) {
                            font-size: 13px;
                    } */
                    .fa{
                        display: inline-block;
                        margin-right: 5px;
                        line-height: 1;
                    }
                    .add{}
                    .checked{
                        color: #28cf1c;
                    }
                    span{
                        line-height: 2 !important;
                        display: inline-block;
                    }
                    &:hover{
                        .add{
                            color: $color_variation_1;
                        }
                    }
                }
            }
            .data{
                @extend .left-wide;
                margin-top: 15px;
                font-size: 13px;
                position: relative;
                /* @media screen and (max-width: 768px) {
                        font-size: 11px;
                } */
                label{
                    @extend .left-wide;
                    margin-bottom: 5px;
                }
                span{
                    @extend .left-wide;
                    font-size: 14px;
                    color: #b5b5b5;
                    font-weight: 600;
                    /* @media screen and (max-width: 768px) {
                            font-size: 12px;
                    } */
                    i{
                        color: $black;

                        &.currency{
                            color: $black;
                            width: 20%;
                        }
                    }
                    a{
                        font-size: 13px;
                        text-decoration: none;
                        display: none;
                        top: 23px;
                        right: 10px;
                        position: absolute;
                        /* @media screen and (max-width: 768px) {
                                font-size: 11px;
                        } */
                        i{
                            color: $red;
                        }
                    }


                }
            }

            &:hover{
                .data{
                    span{
                        a{
                            display: inline;
                        }
                    }
                }
            }
        }
    }

    .content-body{
        .row{
            .flight-summary .section{

            }   
        }
    }

}
.LTR .dash-res-sum .reservation-extras ul li:nth-child(5){
     border-right: 1px solid #dbdce0;;
}

.LTR .dash-res-sum .reservation-extras ul li:last-child{
     border-right: 1px solid #dbdce0;
}

.RTL {
    .dash-res-sum .reservation-extras ul li .thumb a span{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 80% !important;
        vertical-align: middle;
    }
    .dash-res-sum .reservation-extras ul li:first-child{
        border-right: 1px solid #dbdce0;
    }
    .dash-res-sum .reservation-extras ul li:last-child{
        border-right: 1px solid #dbdce0;
    }
}

/*=====  End of Reservation Extras  ======*/


/*======================================
=            Flight Summary            =
======================================*/
.dash-res-sum{
    .content-body{
        .row{
            .flight-summary{
                &.flight-summary-container{
                    margin-bottom: 20px !important;
                    .title{
                        font-weight: 600;
                    }
                }
                .panel-default{
                    .collapse.in,
                    .collapsing{
                        height: auto;
                        padding: 0 18px;
                    }
                }  
                .reservation-flexibility-heading{
                  
                }
                .title{

                    font-size: 24px;
                    font-weight: 600;
                    float: left;
                    margin: 0;
                    line-height: 42px;
                    padding: 0 5px 0 0;
                }

                /* Flight Table */
                .flight-table{
                    @extend .left-wide;
                    .ft-row{
                        @extend .left-wide;
                        display: table;
                        border-bottom: 3px solid #f6f6f6;

                        .col{
                            display: table-cell;
                            padding: 15px 15px;
                            width: 12%;
                            font-size: 13px;
                            float: left;
                            .flight-icon-summary{
                                top: 2px;
                                padding-top: 3px;
                                position: relative;
                                display: inline-block;
                            }
                            &.col-1{}
                            &.col-2{}
                            &.col-3{}
                            &.col-4{}
                            &.col-5{}

                            &.ond{
                                width: 30%;
                                //color: $red;
                                font-weight: 600;
                                font-size: 14px;
                                /* span{
                                        float: left;
                                        width: 40%;
                                        &.ico{
                                                width: 20%;
                                                text-align: center;
                                        }
                                } */
                                .ico{
                                    margin: 0 5px;
                                    //font-size: 12px;
                                }

                                .status{
                                    display: block;
                                    font-size: 0.8em;
                                    padding-top: 5px;
                                }

                                &.CNX{
                                    color: $gray-7;

                                    .status{
                                        color: $gray-3;
                                        font-weight: bold;
                                    }

                                    .path2{
                                        &::before{
                                            color:$gray-7 ;
                                        }
                                    }
                                }
                            }
                            &.departure{
                                width: 17%;
                            }
                            &.arrival{
                                width: 17%;
                            }
                            &.flight-no{
                                width: 12%;
                                padding-right:5px !important;
                                padding-left:5px;
                                label{
                                    @extend .left-wide;
                                    position: relative;
                                    text-align: center;
                                }
                            }
                            &.duration{
                                text-align: center;
                            }
                            &.bkstatus{
                                padding: 15px 10px !important;
                                i{
                                    margin-right: 5px;
                                    margin-top: 3px;

                                    &.fa-check-circle{
                                        color: #28cf1c;
                                    }
                                    &.fa-times-circle{
                                        color:#ed0000;
                                    }
                                }
                            }
                        }

                        &.ft-heading{
                            background: {
                                color: #f6f6f6;
                            }
                            border-bottom: 1px solid #ededef;
                            font-weight: 600;
                            .col{
                                border-right: 1px solid #d4d5d9;
                                color: $black;

                                &:last-child{
                                    border-right: 0;
                                }
                                font-size: 14px;
                            }
                        }

                        &.CNX{
                            color:  $gray-7;

                            .flight-no{
                                label{
                                    &::after{
                                        opacity: 0.3;
                                    }
                                }
                            }
                        }
                        .bus-segment-header{
                            >span:first-child, >span:last-child{
                                vertical-align: super;
                            }
                            .icon-bus::before{
                                font-size: 26px;
                                color: $primery_color;
                            }
                        }

                    }
                }
            }
        }
    }
}
.RTL{
    .flight-summary .flight-table .ft-row .col.flight-no label:after{
        right: inherit;
        left: 0 !important;
    }
    .dash-res-sum .content-body .row .flight-summary .flight-table .ft-row .col{
        float:right;
    }
    .dash-res-sum .content-body .row .flight-summary .flight-table .ft-row.ft-heading  .col{
        border-right: 0px;
        border-left: 1px solid #d4d5d9;
        &:last-child{
            border-left: 0px;
        }
    }
    .dash-res-sum .content-body .row .flight-summary .flight-table.reservation-flexibility-heading{
        padding-right: 0px;
    } 
    
}

/*=====  End of Flight Summary  ======*/
