/*================================================
=            Dashboard Modify Flights            =
================================================*/

.dash-mod-flights{
    min-height: 700px;

    .mod-flight-back-reservation{
        width:35%;
    }
    .mod-flight-confirm-reservation{
        width: 65%
    }
    .page-title{
        color: #646365;
    }

    .content-header{
        border-bottom: none;
        padding-bottom: 0;
    }
}

.liveChat{ 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 300px;
    position: fixed;
    right: 0;
    width: 400px;
    bottom: 0;
	#chatDiv{
		position:fixed;
		width:400px;
		height: 300px;
	}
}





/*=====  End of Dashboard Modify Flights  ======*/


/*============================================
=            Modify Flights Table            =
============================================*/

.modify-flights-table{
    @extend .left-wide;
    .flights-head{
        color: #7a797b;
        font-size: 1.3em;
        padding: 10px 5px;
        float:left;
        width: 100%;
        .flights-head-left{
            width: 35%;
            float:left;
        }

        .flights-head-right{
            width: 65%;
            float:left;
        }
    }
}
.RTL .dash-mod-flights .modify-flights-table .flights-head{
    .flights-head-left{
        width: 35%;
        float: right;
        padding-right: 0;
    }
    .flights-head-right{
        width: 65%;
        float: right;
        padding-right: 30px;
    }
}

/*=====  End of Modify Flights Table  ======*/


/*===========================================================
=            Modify Flights Table > Left Sidebar            =
===========================================================*/

.modify-flights-table .left-sidebar{
    float: left;
    width: 35%;
    background-color: $color_variation_1;
    color: $black;

    ul{
        @extend .left-wide;
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            border-bottom: 1px solid #8e8e8e !important;
            padding: 50px 20px;
            display: inline-block;
            margin: 0;
            &:last-child{
                border-bottom: 0;
            }
            .wrapper{


                .mod-flight{

                    .flight-info{
                        .flight-no{
                            width: 20%;

                            label{
                                i{
                                    font-size: 14px;
                                }
                            }
                        }
                        .flight-time{
                            width: 77%;
                            .i{
                                float: left;
                                margin-right: 5px;
                                width: 70px;
                            }
                        }
                    }
                }
            }
            @extend .left-wide;
            &:hover{
                background: {
                    color: darken($secondery_color, 5%);
                }
                cursor: pointer;
            }

      

            &.active{
                position: relative;
                background-color: darken($secondery_color, 15%);
                color: $white;

                .wrapper{
                    //border-bottom: 1px solid #908f90;
                    &:last-child{
                        border-bottom: 0;
                    }
                }

                &:after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    right: -15px;
                    margin-top: 0;
                    border-top: 21px solid transparent;
                    border-bottom: 21px solid transparent;
                    border-left: 15px solid darken($secondery_color, 15%);
                    margin: auto;
                    top: 0;
                    bottom: 0;
                    z-index: 1;
                }

                .icon-outbound-plane-small .path1:before {
                    color: $light_gray;
                }
            }

            h4{
                @extend .left-wide;
                // font-size: 16px;
                // font-weight: 600;
                // margin-bottom: 10px;

                font-size: 16px;
                font-weight: 400;
                margin-top: 0px;
                position: relative;
            }
            label{
                @extend .left-wide;
                font-weight: 400;
                font-size: 13px;
            }
            .departure{
                margin-bottom: 10px;
                text-align: left;
            }
            .ond{
                @extend .left-wide;
                margin-bottom: 15px;
                font-size: 16px;
                text-align: center;
                span{
                    display: inline-block;
                    &.ico{
                        padding: 0 5px;
                        font-size: 15px;
                    }
                    &.dep{
                        float: left;
                    }
                    &.arr{
                        float: right;
                    }
                }
            }
            .arrival{
                text-align: right;
            }
        }
    }
}
.RTL .modify-flights-table .left-sidebar ul li.active:after{
    transform: rotateY(180deg);
    left: -14px;
    right: unset;
}


/*=====  End of Modify Flights Table > Left Sidebar  ======*/



/*============================================================
=            Modify Flights Table > Right Content            =
============================================================*/
.LTR .modify-flights-table .right-content .flight-row{
	padding-left: 0px !important;
}
.RTL .modify-flights-table .right-content .flight-row{
	padding-right: 10px !important;
}

.modify-flights-table .right-content{
    float: left;
    width: 65%;
    border-top: 1px solid #e2e2e2;
    background: {
        //color: #f2f2f2;
    }

    /* Dashboard Flights */
    .dash-flights{
        @extend .left-wide;

        .flight-options-table{
            margin-top: 0px;
        }
    }

    /* Flight Row */
    .flight-row{
        @extend .left-wide;
        display: flex;
        border-bottom: 1px solid #e2e2e2;

        .col{
            display: flex;
            padding-right: 35px;
            justify-content: center;
            align-items: flex-start;
            border-right: 1px solid #e2e2e2;
            height: 100px;
            padding-top: 2%;
            &:last-child{
                //border: none;
                //border-right: 1px solid #e2e2e2;
            }
        }

        /* Duration */
        .duration{
            /* Departure && Arival */
            .departure,

            .arrival{
                /*float: left;*/
                display: inline-block;
                width: 10%;
                label{
                    @extend .left-wide;
                    font-weight: 700;
                    font-size: 16px;
                    margin-top: 27px;
                }
            }

            .arrival{
                text-align: right;
            }

            /* Timeline */
            .timeline{
                /*float: left;*/
                display: inline-block;
                width: 70%;               
                padding-right: 7px;
                padding-left: 10px;
                
                .flight-no{
                    @extend .left-wide;
                    margin-bottom: 10px;
                    font-size: 13px;
                    font-weight: 600;
                }
                .segment-code{
                    float: left;
                    font-size: 13px;
                }

                .line{
                    @extend .left-wide;
                    position: relative;

                    &:after {
                        content: "";
                        height: 3px;
                        background: #dedede;
                        width: 100%;
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin: auto;
                        top: 8px;
                        bottom: 0;
                        z-index: 0;
                    }
                    span{
                        font-size: 10px;
                        line-height: 1;
                        position: absolute;
                        z-index: 9;
                        &.start{
                            color: $red;
                            font-size: 17px;
                            top: -4px;
                            left: 0;
                        }
                        &.hold{
                            color: #828492;
                            left: 30%;
                        }
                        &.stop{
                            color: $red;
                            right: 0;
                        }
                    }
                }
            }


            /* Total Time */
            .total-time{
                @extend .left-wide;
                text-align: right;
                font-size: 13px;
                font-weight: 600;
            }
            
	    /* Segment */
            .segment-code{
                @extend .right-wide;
                text-align: left;
                font-size: 11px;
            }
        }

        /* Promo Fare */
        .promo-fare{
            text-align: center;
            width: 95px;
            label{
                @extend .left-wide;
                margin-bottom: 5px;
            }
            span{
                @extend .left-wide;
                i{
                    font-size: 20px;
                    font-weight: 600;
                }
            }

            &.selected{
                width: 118px;
                background-color: $secondery_color;
                color: #ffffff;
                position: relative;

                .select{
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 25px;
                    line-height: 25px;
                    background: {
                        color: $primery_color;
                    }
                }

            }
        }

        /* Select Flight */
        .select-flight{
            text-align: center;
            width: 117.5px;
            position: relative;
            cursor: pointer;
            border: 1px solid #e2e2e2;
            &.active{
                background: {
                    color: #e8e8e8;
                    //color: #656565;
                }
            }
            .ico{
                @extend .left-wide;
                font-size: 19px;
                color: #666666;
                i{}
            }
            .text{
                @extend .left-wide;
                font-weight: 600;
                color: $red;
                a{
                    text-decoration: none;
                    color:$gray;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }

            /* Flight Fares */
            .flight-fares{
                position: absolute;
                background: {
                    color: #e8e8e8;
                }
                //width: 470px;
                height: 97px;
                right: 0;
                top: 79px;
                z-index: 999;
                display: table;
                padding: 0;

                li{
                    min-width: 115px;
                    text-align: center;
                    display: table-cell;
                    vertical-align: middle;
                    height: 100px;
                    position: relative;
                    padding-bottom: 15px;
                    cursor: default;
                    i.select{
                        display: none;
                        position: absolute;
                        @extend .left-wide;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        height: 25px;
                        line-height: 25px;
                        background: {
                            color: $primery_color;
                        }
                    }
                    &:hover{
                        background: {
                            color: $secondery_color;
                        }
                        color: $white;
                        i.select{
                            display: block;
                        }
                        cursor: pointer;
                    }

                }
                label{
                    @extend .left-wide;
                    margin-bottom: 5px;
                }
                span{
                    @extend .left-wide;
                    i{
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
            }
        }
        &.last-row{
            width: 100%;
            border: 0px;
        }
    }


    /* Search Flights */
    .search-form{
        @extend .left-wide;
        padding: 30px;

        label{
            @extend .left-wide;
        }
        .form-row{
            //margin-bottom: 25px;
        }

        .form-group{
            float: left;
            width: 100%;
        }

        .form-control{
            width: 100%;
            height: 50px;
            line-height: 50px;
            margin-top: 0px;
            background-color: #fff!important;
        }
        .dp-caption{
            font-size: 0.7em;
        }

        .btn-wrp{
            float: none;
            margin: auto;
            .btn{
                margin-top: 15px;
            }
        }
    }


    /* Modify Or Cancel */
    .modify-or-cancel{
        @extend .left-wide;
        text-align: center;

        .col{
            @extend .left-wide;
            min-height: 172px;
            position: relative;

            button{
                width: 41.66666667%;
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
        }

        .or{
            @extend .left-wide;
            color: $gray;
            font-size: 22px;
            position: relative;
            &:after{
                content: "";
                height: 0;
                background: #e2e2e2;
                position: absolute;
                left: 0;
                right: 0;
                width: 100%;
            }
            i{
                position: absolute;
                top: -17px;
                background: $white;
                padding: 0 15px;
                z-index: 99;
                margin: auto;
                left: 0;
                right: 0;
                width: 60px;
            }
        }
    }


    /* Alert */
    .dash-alert{
        @extend .left-wide;
        margin-top: 25px;
        .notification{
            float: none;
            margin: auto;
            padding: 25px 30px;
            background: {
                color: #f8f8f8;
            }
            border: 1px solid #e4e4e4;
            text-align: center;
            line-height: 2;
            font-weight: 600;
        }
    }

    /* Dash Footer */
    .dash-footer{
        @extend .left-wide;
        margin-top: 150px;
    }
    .modify-content-view{
        height: auto;
        display: flex;
        flex-flow: wrap column;
        justify-content: space-between;
    }
}
.RTL{
    .modify-flights-table .right-content .flight-row .select-flight .flight-fares{
        left: 0;
        right: unset;
    }
    .modify-flights-table .right-content .flight-row .duration .total-time{
        text-align: center;
    }
} 
@media only screen and (max-width: 767px) {
    .modify-flights-table .left-sidebar{
        ul{
            li{
                .departure{
                    margin-bottom: 5px;
                }
                .arrival{
                    padding: 5px 0px;
                }
                .total-time{
                    text-align: center !important;
                }
            }
        }
    }
    .LTR .modify-flights-table .left-sidebar ul li .total-time{
        text-align: left !important;
        position: absolute !important;
        left: 21% !important;
        top: 72px !important;
        width: auto !important;
    }
    .modify-flights-table .right-content .flight-row .duration .total-time{
        font-size: 1rem;
    }
}
@media only screen and (min-width: 768px) {
    .content-hidden{
        background-color: $light_gray;
        * {
            display: none;
        }
    }
    .modify-flights-table .right-content{
    //    min-height:800px;
        //min-height: 380px;
/*        .dash-footer{
            .row{
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
        }*/
        .flight-row .promo-fare label{
            padding-top: 15px !important;
        }
    }
    .modify-flights-table .left-sidebar ul li:hover{
        color:initial !important;
    }
}

@media only screen and (max-width: 767px) {
    .modify-flights-table .left-sidebar ul li{
        padding: initial !important;
        border-bottom: none;
    }
      /* Dashboard Flights */
    .modify-flights-table .right-content .dash-flights .flight-options-table{
        margin-top: 0px !important;
    }
    .modify-flights-table .right-content .flight-row{
        display: flex;
        border-bottom: 1px solid #e2e2e2;
        flex-direction: column;
    }
    .RTL{
        .modify-flights-table .right-content .flight-row .duration .timeline{
            width:60%;
            margin-bottom: 3px !important;
        }
        .modify-flights-table .right-content .flight-row .duration .departure, .modify-flights-table .right-content .flight-row .duration .arrival{
            width: 20%;
            label{
                margin-bottom: 0 !important;
            }
        }
        #flight-modify-mobile .right-content .xs-selected-flight .timeline{
            margin-top: 25px !important;
        }
    }
}
@media only screen and (min-width: 992px){
    .modify-flights-table .right-content .flight-row .promo-fare label{
        padding-top: 30px !important;
    }
}
/*=====  End of Modify Flights Table > Right Content  ======*/
