/*==================================
=            Fare Block            =
==================================*/

.fare-block {
  @extend .left-wide;
  border-top: 0px solid;
  border-bottom: 1px solid;
  border-color: #ededef;
  margin-top: -1px;
  padding: 5px 0 5px;

  .detail-toggle {
    cursor: pointer;
  }

  /* Left Content */
  .left-content {
    float: right;
    width: 80%;
    >.row{
       padding-right: 27px;
    }
    // Title
    h2 {
      @extend .left-wide;
      font-size: 16px;
      font-weight: 700;
      height: 36px;
      line-height: 36px;
      margin-bottom: 3px;
    }

    // Description
    .description {
      @extend .left-wide;
      line-height: 1;
      font-size: 13px;
      text-align: right !important;

      .departure {
      }
      .arrival {
      }
      .ico {
        margin: 0 10px;
      }
    }
  }

  /* Right Content */
  .right-content {
    float: left;
    text-align: left;
    width: 20%;

    p {
      @extend .left-wide;
      height: 36px;
      line-height: 36px;
      margin-bottom: 3px;
      color: #9e9e9f;
    }
    .price {
      @extend .left-wide;
      line-height: 1;
      font-size: 14px;
      i {
        font-weight: 600;
      }
    }
  }

  &.additional {
    //padding-bottom: 10px;
    .price {
      height: 36px;
      line-height: 36px;
      margin-bottom: 3px;
    }
    h2 {
      margin-bottom: 10px;
    }
  }

  &.dual {
    .wrap {
      @extend .left-wide;
      margin-bottom: 10px;
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }
    }
    .right-content {
      p {
        line-height: 1;
        margin-top: 10px;
        small {
          @extend .left-wide;
          margin-top: 10px;
        }
      }
      .price {
        position: absolute;
        right: 0;
        bottom: 5px;
      }
    }
  }

  ul {
    @extend .left-wide;
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    font-size: 14px;
    li {
      @extend .left-wide;
      margin-bottom: 12px;
      label {
        float: left;
        margin: 0;
        font-weight: 400;
        line-height: 1;
        i {
        }
      }
      span {
        line-height: 1;
        float: right;
        text-align: right;
        i {
          font-weight: 600;
        }
      }

      &:last-child {
        margin-bottom: 0;
        label {
          font-weight: 600;
        }
      }
    }
  }
}
.fare-floater-wrapper{
  ul {
    li{
      &.selected-date {
        .day-block {
          .animated {
            /*background-color: $secondery_color;*/
            transition: background-color .8s ease-in-out;
            border-bottom: 4px solid $fare_selected;
          }
          .day-fare {
            font-size: 20px;
            margin-top: 4px;
            color: $fare_selected;
            transition: all .2s ease-in-out;
          }
        }
      }

    }
  }
}

/*=====  End of Fare Block  ======*/
/*=====  End of Fare Block  ======*/