/*===========================
=            Fix            =
===========================*/

.material-design {
	.passengers-information,
	.contact-information{
		padding-top: 30px;
	}
}

/*=====  End of Fix  ======*/


/*=======================================
=            Material Inputs            =
=======================================*/

.md-input-group {
	@extend .left-wide;
	position: relative;
	margin-bottom: 25px;

	label {
		font-weight: normal;
		position: absolute;
		pointer-events: none;
		left: 5px;
		top: 10px;
		transition: 0.2s ease all;
		-moz-transition: 0.2s ease all;
		-webkit-transition: 0.2s ease all;
		color: $black;
	    font-weight: 600;
	    font-size: 14px;
	}

	.md-input {
		font-size: 14px;
		padding: 13px 10px 7px 5px;
		display: block;
		width: 100%;
		border: none;
		border-bottom: 1px solid #CACACA;
		-webkit-appearance: none;
		-moz-appearance:    none;
		appearance:         none;
		background-color: transparent;
	}

	.md-input:focus {
		outline: none;
	}

	.md-input:focus ~ label,
	.md-input:valid ~ label,
	.md-input.ng-invalid:focus ~ label,
	.md-input.ng-invalid ~ label{
		top: -10px;
		font-size: 11px;
   		color: #9E9E9E;
   		font-weight: 600;
	}

	.md-input.ng-invalid:focus ~ label,
	.md-input.ng-invalid ~ label {
   		color: $red;
	}

	.md-input.ng-invalid:focus,
	.md-input.ng-invalid {
   		border: none;
		border-bottom: 1px solid $red;
	}

	.btn-group{
		@extend .left-wide;
		button{
			@extend .left-wide;
			color: $black !important;
			background: transparent !important;
			box-shadow: none !important;
			text-align: left;
			font-size: 14px;
			padding: 13px 10px 7px 5px;
			line-height: 1;
			display: block;
			width: 100%;
			border: none;
			border-bottom: 1px solid #CACACA;
			.dp-caption{
				float: left;
			}
			.fa{
				float: right;
			}
		}
	}

	.dropdown-menu{
		border-color: #CACACA;
	}

}

.md-checkbox{
	@extend .left-wide;
	margin-top: -10px;
}
/*=====  End of Material Inputs  ======*/
