/*==================================
=            Meal Block            =
==================================*/

.meal-block {
    @extend .left-wide;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #e4e4e4;

    // Image
    .image {
        float: right;
        height: 110px;
        background: {
        	size: contain;
        	repeat: no-repeat;
        	position: center;
        	color: $white;
        }
    }

    // Data
    .data {
        float: right;

        // Title
        .title {
            @extend .left-wide;
            font-size: 18px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            margin-bottom: 10px;
            margin-top: 3px;
            .note {
                color: $red;
                font-size: 13px;
                font-weight: 400;
            }
        }

        // Description
        .description {
            @extend .left-wide;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            margin-bottom: 15px;
            word-wrap: break-word;
        }

        // More Details
        .more {
            @extend .left-wide;
            span {
                float: left;
                margin-right: 10px;
                font-size: 16px;
                font-weight: 600;
                color: $mountain_mist;
            }
            .ico {
                float: left;
                font-size: 16px;
                color: #6bad6f;
            }
        }
    }

    // Options
    .options {
        float: right;
        text-align: right;
        padding: 0;
        min-height: 110px;
        position: relative;

        // Price Block
        .price-block {
            @extend .left-wide;
            clear: both;
            font-size: 16px;
            margin-bottom: 15px;
            .currency {
            }
            .price {
                font-weight: 600;
            }
            .red {
                color: $red;
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        // Action
        button {
            @extend .right-wide;
            font-weight: 500;
            font-size: 14px;
            padding: 0 15px 0 0;
            height: 35px;
            line-height: 35px;
            text-align: right;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            i {
                float: left;
                height: 35px;
                line-height: 35px;
                padding: 0 10px;
                margin: 0;
                padding-right: 0;
                padding-left: 5px;
            }
            &:hover,
                &:focus,
                &.active {
                i {
                    background: {
                        color: $red - 20;
                    }
                }
            }
            &.items-added{
                &:hover, &:focus, &.active {
                    background-color: $red;
                    color: $white;
                }
            }
        }

        // Dropdown Content
        .dropdown-content {
            position: absolute;
            right: 0;
            width: 100%;
            width: 355px;
            background-color: $gray;
            min-height: 20px;
            top: 100%;
            z-index: 99;
            color: $white;

            ul, ol {
                @extend .right-wide;
                list-style: none;
                margin: 0;
                padding: 0 15px;
                li {
                    @extend .right-wide;
                    border-bottom: 1px solid #545355;
                    padding: 12px 0;
                    cursor: pointer;
                    .check {
                        width: auto;
                        float: left;
                        label {
                            height: 30px;
                            width: 100%;
                            line-height: 30px;
                            cursor: pointer;
                            &:before {
                                line-height: 30px;
                            }
                        }
                    }
                    form {
                        float: right;
                        min-width: 100px;
                        button,
                        a {
                            padding: 0 10px;
                            margin: 0;
                            border: 0;
                            background: transparent;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            color: $white;
                            float: left;
                            text-align: center;
                            height: 30px;
                            line-height: 30px;
                            font-size: 18px;
                            &:hover, &:focus, &.active {
                                color: $red;
                            }
                        }
                        input[type=text] {
                            float: left;
                            width: 50px;
                            margin: 0;
                            height: 30px;
                            line-height: 30px;
                            color: $black;
                            font-weight: 600;
                            outline: none;
                            text-align: center;
                            border: none;
                        }
                        input[type=number] {
                        	-moz-appearance:textfield;
                        	float: left;
                        	width: 50px;
                        	margin: 0;
                        	height: 30px;
                        	line-height: 30px;
                        	color: $black;
                        	font-weight: 600;
                        	outline: none;
                        	text-align: center;
                        	border: none;
                        }
                        input[type=number]::-webkit-inner-spin-button,
                        input[type=number]::-webkit-outer-spin-button {
                        	-webkit-appearance: none;
                        	margin: 0;
                        }
                    }
                }
            }
        }
    }

}
@media only screen and (max-width: 767px) {
	.xs-summary-drawer.summary-drawer-meal {
		#summary-meal {
			max-width: 100% !important;
		}
	}
	.option-section {
		.meal-select-option {
			text-align: left;
		}
	}
	.meals-qty-dropdown {
		.meal-qty-form {
			width: 100%;
			text-align: right;
		}
	}
}
/*=====  End of Meal Block  ======*/