/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v19/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* --------------- multi-city-search-flights -------------- */

.padding-bottom-110{
    padding-bottom:110px !important;
}

.margin-r-10{
    margin-right: 10px !important;
}
.margin-t-20{
    margin-top: 20px;
}
.margin-t-5{
    margin-top:5px;
}

.pad-l-r-0{
    padding-left: 0px;
    padding-right: 0px;
}
.pad-l-0{
    padding-left:0px;   
}
.pad-r-0{
    padding-right:0px;   
}
.pad-t-30{
    padding-top: 30px;
}

.d-block{
    display: block;
}

.d-inline-block{
    display: inline-block;
}

.font-size-16{
    font-size: 16px;
}

font-size-14{
    font-size: 14px;
}

.margin-l-20{
    margin-left:20px;
}

.margin-t-50{
    margin-top: 50px;
}
.margin-b-20{
    margin-bottom:20px;
}
.margin-b-50{
    margin-bottom:50px;
}

h3{
    &.multi-city-title{
        font-weight: 600;
        margin-bottom:15px;
    }    
}
.bg-filled{
    background-color: #585858;
    padding: 10px 0px;
    margin-top: 30px;
    .radio{
        label{
            color: $white;
            .triptype-caption{
                font-size: 18px;
            }
        }

        [type="radio"]:not(:checked) + label:after{
            background-image: url(../images/radio_button_unchecked_white.svg);
            width: 22px;
            height: 22px;
            top: 11px;
        }

        [type="radio"]:checked + label:after{
            background-image: url(../images/radio_button_checked_white.svg);
            width: 22px;
            height: 22px;
            top: 11px;
        }
    }
}

.rotate-90{
    vertical-align: middle;
    color: #c6c6c6;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}


.multicity-search-panel{
    padding: 30px 20px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);

    label{
        color: rgba(0,0,0,0.6);
        font-size: 16px;
    }

    .form-control, .form-control:focus{
        background-color: $white !important;
        font-size: 16px;
    }
    .ibe-date-picker .input-group .input-group-btn .btn{
        background-color: $white !important;
        padding: 5px 15px;
        border-left: none;
    }
    .input-group{
            &.inputicon-on-left{
                
                .input-group-addon{
                    color: $primery_color;
                    background-color: $white;
                    border: gray 1px solid;
                    border-right: none;
                    border-radius: 0;

                    
                }

                .form-control, .form-control:focus{
                    border-left:none;
                }
        }

        .input-group-addon{
            &.passanger-add-btn{
                padding: 0px;
                border: none;
                background: transparent;
                i{
                    color: $primery_color;
                    font-size: 26px;
                }
            }
        }
        
    }

    .ibe-drop-down .btn-group .btn-primary, .ibe-drop-down .btn-group .btn-primary:hover, .ibe-drop-down .btn-group .btn-primary:active{
        background-color: #fff !important;
    }
    .ibe-date-picker .material-icons{
        color: $primery_color;
    }

    .ibe-drop-down .btn-group .dp-caption{
        font-size: 16px;
    }

    
    .add-city-btn{
        border-radius: 0;
        background: #636363;
        color: #fff;
    }

    .remove-city-btn{
        border-radius: 0;
        background: #bdc3c7;
        color: #fff;
        margin-bottom: 10px;
    }

    .multi-destination-list{
        .destinations{
            .row{
                &:first-child{
                    .remove-city-btn{
                        display: none;
                    }
                }
            }
        }
    }

    .select-cabin-caption{
        line-height: 42px;
        font-size: 16px;
    }
    .red-btn{
        background-color: $primery_color;
        color: #fff;
        font-size: 22px;
        width: 100%;
        border-radius: 5px;
        padding: 10px;
        font-weight: normal;
        &:focus, &:hover{
            background-color: $primery_color;
        }
    }
    
    .radio{       
        label{
            color: rgba(84,84,84,0.7);
            font-size: 16px;

        }

        [type="radio"]:not(:checked) + label:after{
            background-image: url(../images/radio_button_unchecked_black.svg);
            width: 24px;
            height: 24px;
            top: 8px;
        }

        [type="radio"]:checked + label:after{
            background-image: url(../images/radio_button_checked_black.svg);
            width: 24px;
            height: 24px;
            top: 8px;
        }
    }

    .multi-destination-list{
        .destinations:first-child{
            padding: 0px 0px 30px;
        }
        .destinations:not(:first-child){
            padding: 30px 0px;
            border-top: 1px solid #ddd;
            border-bottom:1px solid #ddd;
        }
    }
   
}

/* ---------------  multi-city-selected-flights -------------- */
.multi-city-selected-flights{
    h3{
        font-weight: 600;
        margin-bottom: 15px;
    }

    .table td, .table th{
        padding: 15px 10px;
        vertical-align: top;
        font-weight: 500;
        &.fare{
          text-align: center;   
          font-size: 13px;
          padding: 15px 10px;

          i{
              font-size: 16px;
          }
        }
    }

    .table th{
        &.fare{
          background-color: $primery_color;
        }
    }

    .table td{
        border-bottom: 1px solid #ddd;
        .radio{

            float: none;
            height: 30px;
            display: inline-block;

            [type="radio"]:not(:checked) + label:after{
                background-image: url(../images/radio_button_unchecked_black.svg);
                width: 22px;
                height: 22px;
                top: 5px;
              
            }

            [type="radio"]:checked + label:after{
                background-image: url(../images/radio_button_checked_black.svg);
                width: 22px;
                height: 22px;
                top: 5px;
           
            }

            [type="radio"]:not(:checked) + label:before {
                width: 100%;
                height: 30px;
            }
            [type="radio"]:not(:checked) + label:before {
                width: 100%;
                height: 30px;
            }
            [type="radio"] + label:before{
                height: 30px;
            }
        }
    }

    .total-row{
        background-color: #ececec;
        td{
            border: none;
        }
    }

    .width-135{
        width: 135px;
    }
    
    .thead_bg{
        background-color: $Ship_Gray;
        color: #fff;

    }

    .btn-previous{
        font-size: 16px;
        background-color: #b1b1b1;
        color: #fff;
        padding: 15px 25px;
        border-radius: 5px;
        i{
            vertical-align: middle;
        }
    }
    .red-btn{
        font-size: 16px;
        padding: 15px 25px;
        border-radius: 5px;
    }

}
.multi-city-selecting-flights{
    h3{
        font-weight: 600;
        margin-bottom: 15px;
    }

    .table td, .table th{
        padding: 15px 10px;
        vertical-align: top;
        font-weight: 500;
      
    }

    .thead_bg{
        background-color: $Ship_Gray;
        color: #fff;
    }

    .btn-previous{
        font-size: 16px;
        background-color: #b1b1b1;
        color: #fff;
        padding: 15px 25px;
        border-radius: 5px;
        i{
            vertical-align: middle;
        }
    }
    .red-btn{
        font-size: 16px;
        padding: 15px 25px;
        border-radius: 5px;
    }

    .no-flights-msg{
        color: $primery_color;
        font-weight: 600;
    }

    .flight-bar{
        display: inline-block;
        height: 1px;
        width: 20px;
        margin:0 10px;
        background-color: #c6c6c6;
        position: relative;
        top: -5px;
    }

    .accelAero-slide{
        height: 100px;
        margin-bottom:0px !important;
        ul{
            li{
                border-bottom:none;
                border-top: 5px solid #fff;
                background-color: #f7f7f7;
                width: auto;
                min-width: 125px;


                .day-block{
                    border:none !important;  
                    .animated{
                        left:0px;
                        span{
                            &.day-month-date-text{
                                font-size: 14px;
                                b{
                                    font-weight: 600;
                                    font-size: 21px;
                                    vertical-align: sub;
                                }
                            }
                            &.not-available{
                                color: #9b9b9b !important;
                            }
                        }
                    }
                }


                &.selected-date{
                    border-top: 5px solid $primery_color;
                    background-color: $Ship_Gray;
                    border-bottom: 2px solid #fff;
                    .day-block{
                        border:none;
                        .animated{
                            background-color: $Ship_Gray;
                            border-bottom:none !important;
                            left:0px;
                            right: 0px;
                            span{
                                color: #fff;
                            }   
                        }
                        
                    }

                    &:after{
                        content: '';
                        width: 40px;
                        height: 10px;
                        background-color: $Ship_Gray;
                        position: absolute;
                        bottom: -5px;
                        left: 40px;
                    }

                }
            }
        }

        a{
            &.slide-nav{
                background-color: #efefef;
                height: calc(100% - 5px);
                top: 5px;
                line-height: 110px;
                background-repeat: no-repeat;
                background-position: center;
                transition: background-color 0.2s linear;
                cursor: pointer;
            
                
                i{
                    color: $primery_color;
          
                }

                &:hover, &:focus{
                    background-color: #ddd;
                    
                }
            }
        }
    }

    table{
        tr{
            td{
                .radio{
                    height: inherit;
                    line-height: 22px  !important;
                    [type="radio"]:not(:checked) + label:after, [type="radio"]:checked + label:after{
                        top:2px;
                    }
                }
                
            }
        }
    }

}