.emergency-confirm-btn {
        margin-left: 15px !important;
}
@media only screen and (min-width: 768px) and (max-width: 900px) {
    .thumb-block .options{
        width:26% !important;
    }
}
@media only screen and (max-width: 467px) {
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        .popup-confirm {
            .btn-set .btn-ok{
                width: 100%;
                margin-bottom: 10px;
            }
            .btn-set .btn-cancel{
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 467px) and (max-width: 767px){
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        .popup-confirm {
            .btn-set .btn-ok{
                width: 35%;
                min-width: 100px !important;
            }
            .btn-set .btn-cancel{
                width: 35%;
                min-width: 100px !important;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
	.save-card .AddnewCard{
		height: 800px;
	}
    #ngdialog1 .ngdialog-content {
            width: auto !important;        
    }
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        margin-left: 10px !important;        
        margin-right: 10px !important;
        width: auto !important; 
        min-width: 95% !important;
        padding: 20px !important;  
        position: absolute !important;
        top: 10% !important;
        overflow: scroll;
        .popup-confirm {
     
            p {
                font-size: 1.2rem;
                font-weight: normal;
                line-height: 22px !important;
            }
            .usercardCvv{
                p {
                    &.valdr-message{
                        line-height: 13px !important;
                    }
                }  
            }
        }
        .emergency-confirm-btn {
            margin-left: 15px !important;
            padding: 0 0 0 0;
            width : 30% !important;
            min-width: 100px !important;
        }
        .emergency-cancel-btn {
            margin-right: 15px !important;
            padding: 0 0 0 0;
            width : 30% !important;
            min-width: 100px !important;
        }
    }
    .thumb-block .options{
        width:52% ;
    }
    .col-xs-3 {
        width: 25% !important;
    }
    .xs-title {
        width: auto !important;
    }
    .xs-options {
        width: auto;
        padding-right: 15px ;
    }
    .xs-options-heading {
        font-size: 1.5rem !important;
        padding-bottom: 5px;
        padding-left: 5px !important; 
        font-weight:600;
    }
    .xs-options-descrption {
        font-size: 1.2rem !important;
        font-weight: normal !important;
        padding: 5px;

    }
    .xs-sum-contentwrapper {
        width: 100% !important;
        margin-top: 10px;
    }
    .img {
        max-width: 100px !important;
        max-height: 70px !important;
        display:none !important;
    }
    .xs-return-flightrow {}
    .xs-price-row {
        // margin-top: 15px;
    }

    .xs-options-price-col {
        // padding-top : 2% !important;
    } 
    .option-list-airport-services {
        margin-top: 10px !important;
    }
}
