.LTR{
  @import "passenger_modal_ltr";
}

.RTL{
  @import "passenger_modal_rtl";
}
.detailfont-row{
	word-break: break-word;
}
@media only screen and (max-width:767px){
.modal-content.passenger-modal{
	overflow-y: auto;
	padding: 10px 10px 10px 10px !important;
	min-height: 500px !important;
	height: 75px;
	.mr-td-cbox{
		vertical-align: middle;
	}
	.select-header, .detailfont-row, .welcome-header, .travelling-header, {
		font-weight: 600;
	}
 	.mr-family-detail-row{	
 		margin-top: 10px;
 	}
 }
}