
.RTL .select-passenger .passengers-list ul li.active-pax:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-top: -1px;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    border-right: 15px solid $secondery_color !important;
    z-index: 1;
    left: -14px;
}

.airewards-reg-from-div .passenger-communicateLanguage-div {
    top: 5px;
}

.passenger-airportmsg{
    >p{
        position: relative;
        top: -10px;
        margin: 0;

    }
}

.hasDatepicker{
    background-color: #fff  !important;
}

.ui-datepicker-trigger{
    width: 100% !important;
    left: 0;
    background: transparent  !important;
    >img{
        position: relative;
        right:15px;
        float:right;
    }
}

#search-departure-date {
    right: 0px;
    padding-right: 0px;
}
#search-arrival-date {
    right: 0px;
    padding-right: 0px;
}

.departure-span-modify-search {
    width: 100% !important;
    .departure-span-modify-search-btn{
        width: 100% !important;
        float:right !important;
        padding-left: 0px !important;
        background: transparent !important;
        .departure-span-modify-search-img {
            float: right;
            position: relative;
            right: 0px;
        }
    }
}

.send-promo-email{
    margin-bottom: 20px !important;
    span{
        display: table;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-device-width:1024px) {
    select{
        font-size:1.6rem !important;
    }
    select:focus{
        font-size: 1.6rem !important;
    }
}

@media only screen and (max-width: 767px) {
	.rewards-login .tabbed-content #signin-content form .ibe-typeahead{
		margin-bottom: 5px;
	}
	.rewards-login .tabbed-content .valdr-message{
    	position: relative!important;
    	margin-bottom: 0!important;
	}
    /*    .xs-passengerslist-inner{
            .panel-close { 
                .xs-passenger-text{
                    color: #28acb3;
                } 
        } 
    }
    */

    .select-passenger .passengers-list ul li.active-pax{
        .xs-passenger-text{
            color: #fff !important;
        }
    }
    .select-passenger .passengers-list ul li{
        .xs-passenger-text{
            color: #4a4a4a !important;
            font-weight: 600;
        }
    }
    .LTR .select-passenger .passengers-information .pax-row div {
        .tooltip{
            opacity: 1;
        }
         .tooltip-arrow{
                bottom: -9px;
                border-width: 9px 9px 0;
                border-top-color: #414042;
             }
               .tooltip-inner{
                border-radius: 5px;
                 background-color: #414042;
                 margin-top: -43px;
                 height: 43px;
               }
              
    }
   


    /*    .LTR .rewards-login .heading .rewards-logo {
            float: right;
            height: 34px;
            width: 320px;
            background-image: url(../images/rewards-logo-red.png);
            background-repeat: no-repeat;
            background-position: center;
        }*/
    .section-line{
        width: 100vw !important;
        margin-left: -10px !important;
        hr{
            //width:399px !important;
            margin-top:10px !important;
            margin-bottom:10px !important;
            margin-left: -25px !important;
            //margin-left: -15px !important;
            // margin-right: -15px !important;
            height:2px;
            border-top: solid 1px #e0dfdf;
        }
    }
    .contact-information .row{
        margin-bottom: 0 !important;
    }
    .contact-information .row .data-input{
        margin-bottom: 20px !important;
    }

    .LTR .contact-information .row .txt-col{
        padding-top:0 !important;
        padding-bottom: 20px;
    }

    /*    .xs-section-line{
            margin-left: -25px !important;
        }*/

    .ui-datepicker{
        width: 93% !important;
        table{
            min-height: 33vh !important;
        }
    }
    .passengers-information .ibe-jquery-date-picker {
        input[readonly]
        {
            background-color:#fff !important;;
        }


    }
    input{
        font-size:1.6rem !important;
    } 


    .change-passenger-name{
        position: absolute !important;
        right: 0 !important;
        top: 25px !important;
        line-height: 16px !important;
    }
    .dashboard-widget {
        margin-bottom: 25px;
        padding: 0 15px 0 15px !important;
    }
    .reg-form {
        >section:first-child{
            .form-group{
                margin-bottom: 0 !important;
            }
        }
        .section {
            .section-heading{
                span:nth-child(2){
                    font-size: 1rem !important;
                }
            }
            .help-txt {
                font-size: 1.4rem !important;            
            }
            .row .col {    
                position: relative;
                float: none !important;
            }
        }
        #back-dashboard {
            min-width: 130px !important;
        }
        .reg-copyright{
            .copyright-text{
                font-size: 1.4rem !important;
                >sup {
                    width: 3% !important;
                }
            }
        }
        .send-promo-text{
            font-size: 1.4rem !important;
        }
    }

    #passengers-information-header{
        z-index:9;
    }


    .xs-chk-phn{
        .checkbox{
            margin-bottom: 10px !important;
        }
    }

    .xs-airportmsg {
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 10px !important;
        text-align : center;
        margin-bottom:15px !important;
        >p{
            margin:0 !important;
            >span{
                display:block;
            }
        }
    }
    .heading-text{
        text-align: left !important;
        font-size: 1.6rem !important;
    }

    .sm-adult-msg{
        //padding-bottom : 15px !important;		
    }
    .xs-lastname{
        margin-top : 15px;
    }
    .xs-pax-row{
        #salutation-button{
            padding-right : 0 !important;
        }

    }
    #contact-information{
        .heading{
            height: 40px !Important;
            line-height: 31px;
            margin-bottom: 0px;
            > i{
                margin-top: 2px !important;
                font-size: 1rem !important;
                font-weight: 600 !important;
                /*top: -60px !important;*/
                padding-right: 0;
                text-align: right;
            }
        }
        .sm-pass-footer{
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }
    #contact-information .sm-pass-footer {
        margin-bottom: 15px !important;
    }
    .contact-information .airewards-reg-from-div {
        margin-top: 15px;
    }
    .contact-information .form-footer{
        margin-bottom: -50px !important;
    }
}

@media only screen and (max-width: 360px) {
    .xs-logintotext {
        /*padding-left: 40% !important;
        padding-right: 20% !important;*/
    }
    .xs-loginicon {
        /*  padding-left: 80% !important;*/
    }
    .xs-enterdetails {
        width: 100%;
        text-align: center;
    }
    .xs-section-header{
        margin-left: 0 !important;	
    }
    .rewards-login {
        /*max-width: 90% !important;*/
        position: relative !important;
    }
}

@media only screen and (max-width: 300px) {
    .xs-logintotext {
        /*padding-left: 34% !important;*/
    }
    .xs-loginicon {
        margin-right: -25px;
    }
    .rewards-login {
        max-width: 90% !important;
        position: relative !important;
        height:100px;
        .xs-login-heading{
            div{
                .txt{
                    font-size: 1.4rem !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .RTL{
        .xs-passenger-header{
            width: 100%;
        }
    }

    .passenger-xs-text {
        font-size: 1.2rem !important;
    }
    .checkbox{
        label{
            &.passenger-checkbox-desc{
                text-align: justify;
            }
        }
      
    }
    .send-promo-check [type="checkbox"]:checked + label:before{
        margin-bottom: 60px !important
    }

    .send-promo-check [type="checkbox"]:not(:checked) + label:before {
        margin-bottom: 60px !important
    }

    .checkbox [type="checkbox"]:not(:checked) + label:before {
        margin-bottom: 10px;
    }

    .checkbox [type="checkbox"]:checked + label:before{
        margin-bottom: 10px;
    }

    .xs-login-i-row p{
        width: 100%;
        >i{
            float:none !important;
            display:block !important;
            //margin: auto !important;
        }
    }
    .rewards-login {
        max-width: 100% !important;
        position: relative !important;
        height: auto !important;
    }
    .rewards-login .heading{
        height:auto !important;
    }
    .xs-logintotext {
        //  width: 100% !important;
        margin: 0 auto !important;
        font-size: 1.4rem !important;
    } 
    .info-mandatory-field-passanger{
        font-size: 1rem !important;
        font-weight: 600 !important;
        margin-right: -10px !important;
        margin-top: 2px !important;
    }
    .xs-enterdetails{
        font-size: 1.8rem !important;
        margin-bottom: 15px !important;
        margin-top: -5px;
        text-align: left;
    }
    .LTR .rewards-login div.heading, .RTL .rewards-login div.heading {
        // padding: 0 30px !important;
        margin-bottom: 15px;
        padding: 0 !important;
        //from phase2
        width: 100% !important;
        margin-top: -20px !important;
        margin-bottom: 10px !important;
        #loginto,.xs-mobile-logo{
            width: auto !important;
        }
    } 
    .xs-enterdetails {
        //font-size: 21px !important;
        margin-bottom: 0 !important;
        margin-top: -15px !important;
    }
    .LTR .rewards-login div.heading, .RTL .rewards-login div.heading {
        //padding: 0 30px !important;        
    }
    .xs-loginicon {
        top: 5px !important;
    }
    .xs-passenger-header {
        min-height: 40px !important;
        margin-top: -20px;
        //line-height: 30px !important;
        .heading-text{
            font-size: 1.8rem !important;
        }

        /*        >a{
                    margin-top: -10px !important;
                }*/
    }
    .mheight{
        min-height: 45px !important;
    }
    .xs-height{
        min-height: auto !important;
    }
    .passenger-header-height{
        min-height: 0 !important;
        margin-top: 0 !important
    }

    .LTR .rewards-login .tabbed-content #signin-content h3, .RTL .rewards-login .tabbed-content #signin-content h3{
        font-size: 1.8rem !important;
        line-height: 28px;
        font-weight: bold !important;
    }
    .LTR .rewards-login .tabbed-content , .RTL .rewards-login .tabbed-content{
        top: -25px !important;        
    }
    .LTR .rewards-login.shown .heading{
        background-color: transparent;
        color: $primery_color;
    }
    .LTR .rewards-login .tabbed-content .content .description{
        margin-bottom: 10px;
        margin-top: 0;
        font-size: 1.2rem !important;
        line-height: 1.83 !important;
        font-weight: normal !important;
        letter-spacing: -0.1px !important;
    }
    .LTR .rewards-login .tabbed-content #signin-content{
        button{
            font-weight: bold !important;
        }
        form{
            .ibe-typeahead{
                >div >div{
                    >label{
                        line-height: 2.03 !important;
                        letter-spacing: -0.1px !important;  
                    }
                }
            }
        }
    }
    #reset-password{
        button{
            font-weight: bold !important;
        }
    }
    /*    #backToLogin{
            line-height: 5px;
        }*/

    .LTR .rewards-login.shown .heading .airline-logo{
        background-image: url(../images/main_logo-colored.png);
    }

    .LTR .rewards-login .tabbed-content .content{
        padding: 10px;
    }
    .LTR .rewards-login .tabbed-content{
        width: 100vw;
        margin-left: -25px;
    }
    .RTL .rewards-login .tabbed-content{
        width: 100vw;
        margin-left: -25px;
    }
    .overlay{
        background: transparent !important;
    }
    .LTR .rewards-login .tabbed-content #signin-content #btn-close-login-display{
        font-size:1.2rem;
    }
    .LTR .rewards-login .heading:hover{
        background-color: #fff;
    }
    .RTL .rewards-login .xs-loginicon{
        position: absolute;
    }
    .LTR .rewards-login .xs-logintxt-row {
        .xs-logintotext{
            padding-right: 10px;

            //width: 30%;
        }
    }
    .px-bx{
        margin-bottom: 10px!important;
    }
    .LTR .contact-information {
        bottom:15px;
    }

    .xs-logintxt-row p{
        align-content: center;
        //text-align: center;
        width: 70%;
    }
    .xs-loginicon{
        background-position:unset !important;
    }
    .xs-mobile-logo{
        padding-left:0 !important;
    }
    .contact-information{
        >form >div:nth-child(4) >.row:first-child >.col-xs-12:first-child, >form >div:nth-child(4) >.row:nth-child(2) >.col-xs-12:first-child{
            margin-bottom: 20px !important;
        }
    }
    .xs-section-body {
        .Continue-to-Extras {
            font-size: 1.4rem;
            line-height: 1.43;
        }
    }
    .RTL{
        #search-departure-date {
            border: none;
            right: 0px;
            padding-right: 10px;
        }
        #search-arrival-date {
            border: none;
            right: 0px;
            padding-right: 10px;
        }
        .rewards-login .xs-mobile-logo{
            padding-left: 0 !important;
        }
    }   
    .xs-section-body .mandatoryfield {
        padding-left: 0;
        padding-right: 0;
    }
    .xs-passengerslist{
        .xs-passengerslist-inner{
            .panel-group{
                .panel{
                    .panel-collapse{
                        .panel-body{
                            padding:0px 15px !important;
                        }
                    }
                }
            }
        }
    }
    
}

@media only screen and (max-width: 500px) {
    .xs-mobile-logo{
        padding-left:15px !important;
    }
    .passenger-heading{
        >i{
            /*top:-20px;*/
            line-height:15px !important;
        }
    }
    #contact-information{
        .heading{
            .LTR .contact-information .row{
                margin-bottom:0 !important;
            }

            //text-align:center;
        }
    }
    .xs-cntry-code-error-div{
        height:auto !important;
        min-height:45px;
    }

    .LTR {
        header {
            height: 140px;
        }
    }
    .xs-login-heading {
        padding: 0 30px !important;
        margin-top: -7px;
        float: right;
        color: #3a2071;
        font-weight: 600;
        font-size: 1.8rem;
        cursor: pointer;
        position: relative;
        z-index: 9;        
        div{
            .txt{
                font-size: 1.4rem !important;
            }
        }        
    }

    /*    .passenger-xs-text {
            font-size: 10px !important;
        }*/

    .heading-text {
        font-size: 1.6rem;
    }
    .rewards-login {
        position: relative !important;
        float: none !important;
        //margin-bottom: 10%;
        //border-bottom:1px solid #DCDCDC;
    }

    .rewards-login .heading{
        padding : 0 !important;
        height:auto !important;
    }

    .xs-logintotext {
        //font-size:16px;
        //  width:100% !important;
        //padding-top: 10px;
    }

    .xs-loginicon {
        /*padding-left: 75% !important;*/
    }

    .xs-login-i-row p{
        /*margin-right: auto;
        margin-left: auto;
        display: inline-block;
        float: none;*/
    }
}

@media only screen and (min-width: 768px){
    #contact-information{
        .heading{
            > span{
                padding-left:0 !important;
            }
        }
    }
    .LTR .flight-result-block .flight-icon{
        margin-right: 0 !important;
    }
    .reg-form {
        .section {
            .section-heading{
                span:nth-child(2){
                    height: 40px;
                    line-height: 40px;
                    float: right;
                    color: $black;
                    font-size: 11px;
                    font-weight: 600;
                }
            }
        }

    }
    .chk-phn{
        margin-top: -20px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 800px) {
    .xs-chk-phn{
        width : 120% !important;
    }

    .xs-cntry-code-error-div{
        height:auto !important;
        min-height:45px;
    }
}
@media only screen and (min-width: 768px){
    .moreOptionHidden{
        padding-top: 20px !important;
    }
    #contact-information{
        .heading{		
            >i {
                text-align: right;
                padding-right: 0;
            }
        }	
    }

}
@media only screen and (min-width: 501px) and (max-width: 650px) {

    .LTR .rewards-login div.heading, .RTL .rewards-login div.heading {
        padding: 0 30px !important;
        padding-bottom: 5px !important;
    }
    .heading-text {
        font-size: 1.6rem;
    }

    /*.xs-section-body {
      margin-top: 15px !important;
    }*/

    .xs-login-heading {
        padding: 0 30px !important;
        margin-top: -7px;
        float: right;
        color: #3a2071;
        font-weight: 600;
        font-size: 1.5rem;
        cursor: pointer;
        position: relative;
        z-index: 9;        
        div{
            .txt{
                font-size: 1.4rem !important;
            }
        }        
    }
    .xs-enterdetails {
        font-size: 2.1rem !important;
    }


    //   .xs-loginicon {
    //     padding-left: 75% !important;
    //   }
}

@media only screen and (min-width: 651px) and (max-width: 766px) {
    .rewards-login {
        max-width: 100% !important;
        position: relative !important;
    }
    .heading-text {
        font-size: 1.6rem;
    }

    /*.xs-section-body {
      margin-top: 35px !important;
    }*/

    .xs-login-heading {
        padding: 0 30px !important;
        margin-top: -7px;
        float: right;
        color: #3a2071;
        font-weight: 600;
        font-size: 1.8rem;
        cursor: pointer;
        position: relative;
        z-index: 9;        
        div{
            .txt{
                font-size: 1.4rem !important;
            }
        }     
    }
    .xs-enterdetails {
        font-size: 2rem !important;
    }
    /*.xs-loginicon {
      padding-left: 75% !important;
    } */
}

.sm-enter-details {
    padding-left: 0 !important;
}
.rewards-login .tabbed-content #signin-content form .ibe-typeahead > div > div {
        top: unset ;
    }
    
@media only screen and (min-width: 992px){
  .LTR  #contact-information {
		.row .align-input {
			padding-left: 15px !important;
		}
		.row{
    		margin-left: -15px !important;
    		margin-right: -15px !important;
		}
	}
	#passengers-information-panel{
		.row .align-input {
			padding-left: 15px !important;
		}
	}
	.LTR #contact-information{
		 .phone-number{
			.row{
				margin-right: 0 !important;
			}
		}
	}
	.RTL #contact-information .phone-number .row{
		margin-left: 0 !important;
		.align-input{
			padding-right: 15px !important;
		}
	}
	.RTL #contact-information .email-promo-class{
		margin-right: 0 !important;
	}
	
	.RTL  #contact-information {
		.row .align-input {
			padding-right: 15px !important;
		}
		.row{
    		margin-left: -15px !important;
    		margin-right: -15px !important;
		}
	}
	
	
}