#header {
    z-index : 1001 !important;
}
.xs-expire-group .valdr-message{
    font-weight : 600;
}

.xs-cvv-div {
    .valdr-message{
        font-weight : 600;
        margin-top:76px;
    }
    .ibe-typeahead {
        margin-bottom: 11px;
        position: relative;
    }
}
#traveling-with-button{
    span.fa{
        margin-left:-18px;
    }
}
.pas-frm-datePicker{
    button.ui-datepicker-trigger{
        padding-right:0px !important;
    }
}
.pmtSpecialMsgs{
    padding : 10px;
}

@media only screen and (min-width: 981px) {
    .LTR {
        .select-payment-method, .payment-options{
            padding-left:0 !important;
            padding-right:0 !important;
        }
    }
}

@media only screen and (max-width: 767px) {
	 .xs-voucher-sucess{
	 	width: 100% !important;
	 	height: auto !important;
	 	.xs-gly-sign{
	 		font-size: 1.6rem;
	 		margin-top: 0;
	 		margin-right: 5px !important;
	 		margin-left: 5px !important;
	 	}
	 	.xs-redeemption{
	 		font-size: 1.2rem;
	 		padding:0;
	 	}
	 	.xs-anothervoucher{
	 		font-size: 1.2rem;
	 		border-bottom-color: transparent; 
	 		text-decoration: underline; 
			font-weight: 700;
			color: $black;
	 	}
	 }
	 .voucherRedeem .voucher-resend {
	  .txt-height{
		font-size: 1.4rem !important;
 	   }
	  .voucherResendFlds  button.button{
	  		width: 26% !important;
	 	}
	  .voucherResendFlds  input.form-control{
		 	width: 30% !important;
		 }
 	  .voucherResendFlds .otp-txt{
	 		padding:0 !important;
	  	}
	  	.col-sm-5{
	 		padding: 0;
	 		margin-top: 10px;
		 }
	  }
	 
 	.xs-reedem-voucher-text{
 		font-size: 1.4rem !important;
 	}
	.voucherInfoTxt, .totalValuBx{
		font-size: 1.2rem !important;
		padding:0 !important;
		text-align: left !important;
	}
	.voucherInfoTxt{
		margin-top: 90px !important;
		font-weight: 600 !important;
		margin-bottom: 10px !important;
	
	}
	.xs-voucherinfo{
	 	margin-top: 15px !important;
	 }
	 .xs-voucherTxt-new{
	 	    font-weight: 600 !important;
    		margin-bottom: 10px !important;
  			font-size: 1.2rem;
	 }
	.gift-voucher-section{
		.text{
			font-size: 1.4rem !important;
			font-weight: 600;
            margin-right: 0 !important;
            height: auto !important;
		}
	}
	.xs-add-voucher{
		font-size: 1.4rem !important;
		font-weight: 600;
	}
	.voucherRedeem .voucherFlds input{
		width: 100% !important;
		margin-bottom : 10px !important;
		
	}
	.xs-add-input-voucher{
		padding: 0 !important;
	}
	.voucherRedeem .voucherFlds button{
		margin-top: 10px !important;
		width: 100% !important;
		text-align: center !important;
		
	}
    .xs-reservsummery-margin{
        margin-left:  0;
        margin-right: 0;
        margin-top: 10px;
        padding: 0 !important;
    }
    .payment-h2{
        width: auto !important;
        height:auto !important;
        line-height: inherit !important;
    }
    .fare-block{
        .left-content{
            .payment-h2{
                width: auto !important;
                height:auto !important;
                line-height: inherit !important;
            }
        }
    }
    .LTR .airewards-points .airwards-options .points-count label{
        color:#8D8C8E !important;
        font-size: 1rem;
    }
    #lPayment{
        //line-height: 1.7;
    }
    .LTR .summary-drawer.fare-timeline-drawer .drawer-desc{
        padding:0 !important;
        border-top: none !important;
    }
    .points-count{
        margin-left: auto !important;
        margin-right: auto !important;
        padding-left:0 !important;
        padding-right:0 !important;
        display:block;

    }
    .xs-rewards{
        padding-left:0 !important;
        padding-right:0 !important;
        font-size:1.4rem !important;
        height:30px;
    }
    .xs-rewards-radio{
        line-height: 32px !important;
        font-weight:600 !important;
    }
    .xs-payment-card-details{
        font-size:1.2rem !important;
    }
    .xs-right-content{
        position:relative !important;
        margin-top:5px !important;
    }
    .payment-currency-info-summary{
        float:right;
        padding-right:15px !important;
        top: 3px;
    }
    .xs-margin-bottom{
        margin-bottom:80px !important;
        margin-top:10px !important;
    }

    .xs-margin-bottom-3{
        //margin-bottom:30% !important;
    }
    .paymnet-flights-info-block{ 
        max-height:850px !important;
        padding-right : 0 !important;      
        .sector-details:first-child{
            margin-top: 5px !important;
        }
        .sector-details:last-child{
            .sector-flight-info{
                margin-bottom: 0 !important;
            }
        }
        .flight-block{
            padding-left: 0px !important;
            padding-right: 0px !important;
            h4{
                label,span{
                    font-weight: 600 !important;
                }
            }
        }
        #lPayment{
            height: auto !important;
            padding-bottom: 10px !important;
        }
    }
    #xs-paysum_mod-flights-info-block{
        padding-right : 5px !important;
    }
    #xs-amount,.xs-amount{
        margin-bottom : 10px !important;
        margin-top : 0 !important;
        background: transparent;
        padding-top: 0 !important;
        padding-bottom: 5px ;
    }
    .xs-ui-view-container {
        margin-top:-15px !important;
    }
    .xs-pymntoptions{
        margin-bottom : 0 !important;
        padding: 0 !important;
        >.hidden-md{
            margin-top: -27px !important;
            margin-bottom: -30px !important;
        }
    }
    .xs-promopaymnt{
        margin-bottom : 30px !important;
        margin-top : -15px !important;
    }
    .xssm-faretable{
        margin-bottom : -5px !important;
        margin-top: -15px !important;
    }
    .xs-enterccdetails{
        text-align : center !important;	
    }
    .xs-expire-group .valdr-message{

        font-weight : 600;
        margin : -20px 0 0 0 !important;
        width: auto !important;
        max-width: 95% !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }
    .xs-ttlsum-pricebreak{
        font-size : 1.8rem !important;
        line-height: 1;
    }

    #xs-modifyflightdraw-flights-info-block {
        .xs-ttlsum-pricebreak{
            font-size : 1.6rem !important;
        }   
    }
    .xs-paymnt-section{
        margin-top : -15px !important; 
    }

    .reservation-details-payment-summary, .fare-block{
        h2{
            font-size: 1.8rem !important;
        }
    }
    .reservation-details-payment-summary h2 
    {    
        width: auto !important;
        height: auto !important;
        line-height: inherit !important;  
        margin-bottom: 20px !important;
    }
    .fare-block .left-content {
        h2{        
            width: 70% !important;        
        }
        .description{
            //width: 30% !important;
            line-height: inherit !important;           
        }
    }
    .LTR .summary-drawer .drawer-desc .flight-info-scroll .flights-info-block, .LTR .reservation-drawer .drawer-desc .flight-info-scroll .flights-info-block{
        border : none !important;	
        overflow-x : hidden !important;
        overflow-y : auto !important;

        height:auto !important;
        max-height:100% !important;
        /*padding-right : 5px !important;*/
    }
    .LTR .reservation-drawer .drawer-desc{
        /*padding: 15px 0 15px 0 !important;*/ 
    }
    .total-payment{
        .drawer-desc{
            padding-top: 0px !important;
            padding-left : 0 !important;
            padding-right : 0 !important;
        }
    }

    .xs-priceinfo-modify{
        padding-left : 0 !important;
    }

    .select-payment-method div > h2{
        width: 100% !important;
        line-height: 22px !important;
        height:10px !important;
        
        //text-align: center !important;
    }
    .xs-cvv-div{
        >div{
            bottom: 0 !important;
        }
        .valdr-message{
            //margin: 0px !important;
            width: auto !important;
            max-width: 100% !important;
            overflow: hidden !important;
            //text-overflow: ellipsis !important;
            //white-space: nowrap !important;
        }
    }

    .price-info-block span:not(.xs-ttlsum-pricebreak) {
        font-size: 1rem;
    }
    .LTR .summary-drawer .drawer-desc .flight-info-scroll .price-info-block span.pull-right.in-detail {
        /*margin-top: 5px;*/
    }
    .xs-details{
        font-size:1.2rem !important;
        line-height: 27px !important;
    }

    .xs-payment-method{
        h2{
            font-size:1.4rem !important;
        }
    }
    .flight-block .div-info{
        .mobile-flight-time 
        {
            .departure-arrival {
                i{
                    font-size:1rem !important;
                }
            }
        }
        span:not(.small-plain), label {
            font-size: 1.2rem !important;
            margin-bottom : 0 !important;
        }

    }
    .flight-time{
        .departure-arrival {
            i{
                font-size:1rem !important;
            }
        }
    }
    .airewards-points .airwards-options .points-count label i, .airewards-points .airwards-options .points-count label h2 span{



        font-size: 1rem !important;
        width: max-content !important;


    }
    .xs-paymnet-price-info-block{
        h2{
            margin-bottom: 10px !important;
        }
    }
    .payment-overlay{
        position: absolute !important;
        width: 100vw !important;
        margin-left: -10px !important;
        .rewards-login{
            margin-top: 0 !important;           
            top: 10vh !important;
            padding: 10px !important;
        }
    }
    .LTR .payment-overlay .rewards-login {
        border-top: none !important;
    }
    .total-inclusive-hidden{
        h2{
            padding-top: 5px !important;
        }
    }
    .LTR .summary-drawer .drawer-desc .res-summary-start-txt {
        margin-top: 0;
    }
    .redeem-adjust{
        height:410px !important;
        margin-bottom: 5px !important;
    }
    .pmtSpecialMsgs{
            margin-bottom: 20px;
        }
	.pas-frm-datePicker{
    	button.ui-datepicker-trigger{
        	padding-right: 10px !important;
    	}
	}
}


@media only screen and (min-width: 992px) {
    .expiration-date{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .xs-paymnt-section{
        > h1{
            //padding-left:15px !important;
        }
    }	
    .paymnet-price-info-block{
        h2{
            padding-left:0 !important;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .xs-ui-view-container {
        margin-bottom : 10% !important;
        margin-top:-15px !important;
    }
    .xssm-faretable{
        margin-bottom : -5px !important;
    }
    .xs-promopaymnt{
        margin-top : -15px !important;
    }

    .xs-paymnt-section{
        margin-top : -15px !important; 
    }
    .xssm-faretable{
        margin-top:-15px !important;
    }
    .expire-year{
        /*width:100px !important;*/	
    }
    .xs-pymntoptions{
        margin-top:-20px !important;		
    }

    .expiration-date{
        padding:0 !important;
    }

}

@media only screen and (max-width: 500px) {
    .xs-pay-mode-txt{
        line-height: 1 !important;;
        font-size: 1.1rem !important;
        text-align: left !important;
    }

    .fare-block > .left-content, .right-content {
        //text-align: center !important;
        width: 100% !important;
        padding: 0;
    }
    .flight-block .div-info {

        .mobile-flight-time {
            /* padding-left: 13% !important;*/
        }
        .fligh-no {
            i {
                font-size: 1.1rem !important;
            }
        }
        /*
        .payment-flight-no {
           span {
             margin-left: 54% !important
           }
           i {
             padding-left: 13% !important;
           }
         }*/
    }
    .fare-block > .right-content {
        .currency-text, .currency-value {
            font-size: 1.3rem !important;
        }
    }

    .payment-price-info-block,.payment-flights-info-block {

    }
    .one-x {
        width: 10% !important;
        /*padding-left:0 !important;*/
    }
    .tax-detail {
        position: relative;
        /* right: 7%;*/
    }
    .reservation-details-payment-summary {
        text-align: center !important;
        width:100% !important;
        table {
            font-size: 1.2rem !important;
        }
    }
    .admin-fee-label{
        padding-left:9px;
    }

    .optn-1-pay{
        width:110px !important;
    }

    .optn-2-pay{
        width:220px !important;
    }

    .optn-3-pay{
        /*width:335px !important;*/
    }
    /*    .pay-optn-xs{
            text-align: center;
            margin-left: 10px;
            margin-right: auto;
            display: block;
    
            position:relative;
            left:15px;
            width:335px;
        }*/
}

@media only screen and (max-device-width : 767px){
    .would-you-like-section{
        margin-bottom:10px;
        margin-top: 10px;
    }
    .LTR .airewards-points{
        margin-top: 8px;
        border-top: none !important;
    }
    .LTR .img-error + .text{
        top: 28px !important;
    }
    .xs-pay-mode-txt{    
        top: -15px !important;
    }
    #pay-summary-flightinfoscroll{
        padding-right : 0 !important;
        display:block;
        .flight-no{
            padding-right : 0 !important;
            //padding: 0 !important;
            margin-right: 0px !important;
        }
    }
    .xs-paymnet-price-info-block{
        padding-left : 0 !important;
        margin-right: 0px !important;
        .xs-ttlsum-pricebreak{
            font-size: 1.8rem !important;
        }
    }
    .xs-notcreate-page-title{
        line-height: 25px !important;
        padding-top: 15px !important;
    }
    #xs-balpay-flightsinfo-block{
        padding-right : 3px !important;
    }
    .xs-submit-link{
        float : none !important;
        text-align : center !important;
    }
    .xs-back-bar{
        text-align : center !important;
    }
    .LTR .fare-block .left-content .description{
        text-decoration: underline;
        /*        >span{
                    padding-top: 3px !important;
                }*/
    }
    .master-card-details{
        // width: 80% !important;
        //margin: 0px 10%;
        >form{
            .row{
                .valdr-message >span{
                    line-height: 17px;
                }
                margin:0 !important;
            }
        }
    }

    .LTR .payment-details .right-content .amount span.small-txt {
        color: #344252;
        text-align: left;
        width: 50%;
        font-size: 2rem;
        height: auto;
        line-height: 1.5;
        letter-spacing: -0.1px;
    }
    .LTR .payment-details .right-content .amount span.big-txt {
        color: #344252;
        float: right;
        width: 50%;
        height: auto;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: -0.1px;
        .big-txt-currency {
            text-align: right;
        }
    }
    .LTR {
        .payment-card-detail-div{
            .expiration-date{
                .expire-group {
                    .date-dividier {
                        margin-right: 0px;
                        margin-left: 0px;
                        padding-right: 0px;
                        padding-left: 0px;
                        width: 100% !important;
                    }
                    select {
                        margin-right: 0px;
                        margin-left: 0px;
                        padding: 5px 15px;
                    }
                }
            }
            .security-code {
                .lbl-security-code {
                    max-width: 100% !important;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    text-align: left;
                }
                input {
                    width: 100% !important;
                }
            }
        }
        .airewards-points {
            .Would-you-like-to-pay {
                height: auto;
                font-size: 1.4rem !important;
                font-weight: 600;
                line-height: 1.64;
                text-align: left;
                margin-right: 0 !important;
                margin-top: 0 !important;
                span {
                    height: 20px;
                    line-height:20px !important;
                }
            }
            .would-you-like-section{
                margin-bottom:10px;
            }
            .radio-container{
                width:100% !important;
                float:left;
                .radio:first-child{
                    margin-left: 0px !important;
                }
            }
            >.radio{
                margin-left: 0 !important;
            }

        }

        .summary-drawer .drawer-desc .sub-total {
            font-size: 1.4rem;
            height: 40px;
        }

        .summary-drawer .drawer-desc .flight-info-scroll .price-info-block h2 {
            font-size: 1.4rem !important;
            height: auto !important;
            line-height: 1;
            letter-spacing: -0.1px;
            margin-bottom: 10px;
        }
        .summary-drawer .drawer-desc .flight-info-scroll .price-info-block hr {
            margin-top: 10px !important;
            margin-bottom: 10px !important;
        }

        .payment-confirmation .inpage-alert {
            >span{
                >sup {
                    display: inline-block;
                    width: 3%;
                    line-height: 1;
                    vertical-align: top;
                    top: 3px !important;
                }
                >span {
                    display: inline-block;
                    text-align: left;
                    width: 95%;
                    font-size: 1.2rem !important;
                    line-height: 1.58 !important;
                }
            }
        }

    }

    .select-payment-method {
        border-top: none !important;
        padding-top: 0 !important;
        .section-line >hr{
            margin-top: 5px !important;
        }
    }
    .payment-merchant-logo {
        .certificates {
            >span {
                img {
                    width: 15%;
                }
            }
        }
    }
    .LTR header .xs-menu > ul li {
        #lbl_header_nav_payment1{
            font-size: 1.8rem !important;
        }
    }



    .RTL{
        .pay-optn-xs{
            margin-right: 10px;
        }
        .airewards-points .airwards-options .points-count label i, .airewards-points .airwards-options .points-count label h2 span{
            float: right !important;
        }
        .payment-overlay .rewards-login{
            left: 10px !important;
        }
        .xs-pymntoptions > .hidden-md{
            width: 100vw !important;
        }
        .payment-method {
            &.payment-method-container{
                font-size: 12px;
                margin-top: 25px;
                padding-right: 0px;
                padding-left: 0px;
              #single-button{
                  .dp-caption.dropdown-label{
                    font-size: 12px;
                  }
                  .fa{
                    padding-top: 5px;
                  }
              }
            }
        }
    }
    
    .airewards-points {
        padding: 0 !important;
        margin-top: -5px !important;
        .section-line{
            >hr{
                margin-top: 5px !important;
                margin-bottom: 5px !important;
            }
        }
        .rzslider{
            span{
                height:auto !important;
            }    
        }
    }
    .rz-pointer {
        outline: none;
        top:-21px !important;
        z-index: 2;
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        cursor: pointer;
        color: $red;
        font-size: 2.4rem;
        &:hover, &:focus {
            color: darken($red, 6%);
        }
        &:before {
            content: "\e929";
        }
        background-color: unset !important;
        // background:#fafafa !important;

    }
    .rzslider .rz-pointer:after{
        background: unset !important;
    }


    .rzslider{

        margin:auto !important;
        height:1px !important; 
        background-color: #fafafa;
    }
    .rzslider .rz-bubble.rz-limit {
        visibility: hidden !important;;
    }

    .rzslider .rz-bubble.rz-model-value {
        visibility: hidden !important;;
    }  
    .pay-optn-xs{
        .payment-logo{
            width: 33.3% !important;
            margin: 0 !important;
        }
        position:relative;
    }
    #paymentH2{
        .section-line{
            position: absolute !important;
            top: 30px !important;
        }
    }
    .LTR .payment-details .right-content .amount span.smaller-txt{
        color: #344252 !important;
        .admin-fee-label{
            padding-left: 0 !important;
            width: auto !important;
            text-align: center;
        }
        >span:nth-child(2){
            width: auto !important;
        }
        .admin-fee-content{
            font-weight: 600 !important;
            text-align: center;
        }
    }
    .lbl-security-code {
        text-align: right;
    }
    .LTR .payment-currency-info {
        #lPayment {
            margin-top: unset !important;
        }
        #totalPricePayment {
            margin-top: unset !important;
            margin-bottom: unset !important;
            .currency-text {
                margin-top: unset !important;
            }
            .numeric-amount {
                margin-top: unset !important;    
            }
        }
    }

    .RTL #paymentH2 {
        #lPayment {
            margin-top: unset !important;
        }
        #totalPricePayment {
            margin-top: unset !important;
            margin-bottom: unset !important;
            .currency-text {
                margin-top: unset !important;
            }
            .numeric-amount {
                margin-top: unset !important;    
            }

        }
        .section-line {
            top: 15px !important;
        }
    }
}
@media only screen and (min-device-width : 768px){
    .airewards-points, .payment-options {
        .radio{
            label{
                padding-top: 0 !important;
            }
        }
    }
    .payment-logo-text{
        padding-top: 2px !important;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    .airewards-points {
        .rzslider{
            span{
                height:auto !important;
            }    
        }
    }
    .rz-pointer {
        outline: none;
        top:-21px !important;
        z-index: 2;
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        cursor: pointer;
        color: $red;
        font-size: 24px;
        &:hover, &:focus {
            color: darken($red, 6%);
        }
        &:before {
            content: "\e929";
        }
        background-color: unset !important;
        // background:#fafafa !important;

    }
    .rzslider .rz-pointer:after{
        background: unset !important;
    }


    .rzslider{

        margin:auto !important;
        height:1px !important; 
        background-color: #fafafa;
    }
    .rzslider .rz-bubble.rz-limit {
        visibility: hidden !important;;
    }

    .rzslider .rz-bubble.rz-model-value {
        visibility: hidden !important;;
    }
}
@media only screen and (min-device-width : 500px) and (max-device-width : 835px) {
    .fare-block > .right-content {
        text-align: center !important;
        width: 30% !important;
    }
    .fare-block > .left-content{ 
        width: 60%;
    }
    .certificates span{
        width:33% !important;
    }
    .paymnet-price-info-block > h2{
        padding-left:0 !important;
    }
    .captcha-key img{
        width:80% !important;
    }
}

@media only screen and (max-device-width : 981px) {
    .admin-fee-content,.admin-fee-label{
        text-align:center;
    }
    .admin-fee-content{
        i{
            float: none !important;
        }
    }
    .RTL {
        .admin-fee-content{
            i{
                float: none !important;
            }
        }
    }
}


@media only screen and (max-width: 500px) {
    .RTL{
        .airewards-points{
            .text{
                padding-right: 0px;
            }
            .radio-container {
                width:100% !important;
            }
        }
    }
    .airewards-points radio{
        position:relative;
        top: 10px !important;
    }
    .airewards-points  .text{
        font-size: 1.2rem !important;
        width: 100% !important;

    }
    /*    .airewards-points .rad-1{
            left: 26%;
        }*/
    /*    .airewards-points .rad-2{
            left: 19%;
        }*/
            
    .payment-details{
        .left-content{
            .form-payment-flow{
                .ibe-typeahead{
                    p{
                        &.valdr-message{
                            font-size: 12px !important;
                        }
                        span{
                            font-size: 12px !important;
                        }
                    }
                }
                .input-option{
                    .checkbox-payment{
                        margin-bottom: 10px !important;
                    }
                }
                
            }
            .expire-row{
                &.payment-card-detail-div{
                    margin-bottom: 0px;
                }
                margin-bottom: 0px;
                .expire-group{
                    &.expire-payment-flow{
                        margin-bottom: 0px;
                        .expDate{
                            margin-bottom: 0px;
                        }
                        .valdr-message{
                            margin-top: 0px;
                            position: absolute;
                            font-size: 12px;
                        }
                    }
                }
                .security-code{
                    .cvv-payment-flow{
                        .valdr-message{
                            margin-top: 77px;
                            position: absolute;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
    
    .select-payment-method{
        .secure-certificate{
            position: relative;
            right: 7%;
        }
        .raio-container{
            width: 100%;
        }

    } 


    .cash-payment-details  p{
        width: 100% !important;
        font-size: 1rem !important;
        text-align:left !important;
    }
    .cash-payment-details .input-sec{
        width: 100% !important;
    }
    .payment-details p:not(.cash-payment-details  p){
        text-align:right !important;
    }
    .reservation-details-payment-summary table tr > td:first-child{
        text-align:left !important;
    }
    .paymnet-right-content{
        /*padding-left: 0 !important;*/
    }

    /*.xs-payment-details{
        margin-top:-20px !important;	
    }*/
    .select-payment-method div,.xs-payment-details div{
        padding-right: 0 !important;
        padding-left: 0 !important;
        >.text-danger{
            padding: 0 15px!important;
        }
    }
    .select-payment-method div > h2{
        width:100%;
        //text-align:center;
    }
    
    #verify-btn{
        min-width: 50px !important;
        width: 70px !important;
        float: right;
    }

    .modal-relative-wrapper{
        width: 80% !important;
        margin-left: 10% !important;
    }
    .modal-header .text{
        padding-left:20px !important;
    }
    .modal-footer button{
        min-width:125px !important;
        font-size:1.2rem !important;
    }
}
@media (min-width:961px){
    .airewards-points {
        .rzslider{
            span{
                height:auto !important;
            }    
        }
    }
    
    .rz-pointer {
        outline: none;
        top:-21px !important;
        z-index: 2;
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        cursor: pointer;
        color: $red;
        font-size: 24px;
        &:hover, &:focus {
            color: darken($red, 6%);
        }
        &:before {
            content: "\e929";
        }
        background-color: unset !important;
        // background:#fafafa !important;

    }
    .rzslider .rz-pointer:after{
        background: unset !important;
    }


    .rzslider{

        margin:auto !important;
        height:1px !important; 
        background-color: #fafafa;
    }
    .rzslider .rz-bubble.rz-limit {
        visibility: hidden !important;;
    }

    .rzslider .rz-bubble.rz-model-value {
        visibility: hidden !important;;
    }  

}