.payment-confirmation .inpage-alert sup, sup {
    top: 0 !important;
    font-size:13px !important;
}
.fa-chevron-up, .fa-chevron-down{
    cursor:pointer; 	
}

.flight{
    .icon-inbound-plane-small, .icon-outbound-plane-small{
        display:inline-block !important;
        .path1,.path2{
            float:left;
        }
    }
}
.LTR .d-label.truncate.reservation-summary-src-dest-md{
	max-width: 45%;
}
.RTL .d-label.truncate.reservation-summary-src-dest-md{
	max-width: 45%;
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .head-print-btn{
        position: absolute !important;
        right: 5% !important;
    }
    .head-emailme-btn{
        position: absolute !important;
        right: 27% !important;
    }
    .RTL{
        .head-print-btn{
            left: 5% !important;
            right: unset !important;
        }
        .head-emailme-btn{
            left: 27% !important;
            right: unset !important;
        } 
    }
}
@media only screen and (max-width: 360px) {
    .xs-section-font {
        font-size: 1.2rem !important;
    }
}

@media only screen and (max-width: 322px) {
    .xs-section-font {
        font-size: 1.1rem !important;
    }
}

@media only screen and (max-width: 280px) {
    .xs-section-font {
        font-size: 1rem !important;
    }
}

@media only screen and (max-width: 991px) {
    .xssm-reservation-header-btn {
        padding-top : 15px !important;
    }
}

@media only screen and (max-width: 767px) {
    .dash-res-sum .reservation-extras ul li{
        padding-left: 10px !important;
        margin-bottom: 0;
    }
    .alert{
        top: 45% !important;
        width: 95% !important;
        font-size: 1.2rem !important;
    }

    .payment-hold-title{
        line-height: 35px !important;
    }

    .thanks{
        text-align:left !important;
        font-size:1.2rem !important;		
    }
    .hold-content{
        margin:0 auto !important;
        >*{
            padding:0 !important;
        }
    }

    .hold-finish-btn{
        width:100% !important;
    }

    .xs-maincontainer{
       // padding : 10px 15px !important;
    }
    .your-itinerary{        
        .content{
            .flight{
                padding-bottom: 15px !important;
                margin-bottom: 20px !important;
                border-bottom: 1px solid #e0dfdf !important;
            }
            .flight:last-child{
                margin-bottom: 0px !important;
                border-bottom: 0px !important;
            }
        }
    }
    .booking-details{
        .xs-section-font{
            >div{
                display: flex !important;
                margin: 0 !important;
            }
            span{
                font-size: 1rem !important;
                line-height: 1.6 !important;
                color: #414042 !important;
            }
            label{
                font-size: 1.4rem !important;
                font-weight: 600 !important;
                color: #000000;
                line-height: 1.43 !important;
            }
        }
    }
    .LTR {
        .payment-confirmation .promotion .modal-content {
            overflow-y: scroll !important;
            height:80vh !important;
        }
        .sm-summary-sections{
            .icon-outbound-plane-small{
                display:inline-block !important;
                .path1{
                    &:before{
                        content:"\e912";
                        color:$gray;
                    }
                }
                .path2{
                    &:before{
                        content:"\e926";
                        color:$primery_color;
                    }
                }
        
                .path1,.path2{
                    float:left;
                }
            }
            .icon-inbound-plane-small{
                display:inline-block !important;
                .path1{
                    &:before{
                        content:"\e927";
                        color:$gray;
                    }
                }
                .path2{
                    &:before{
                        content:"\e928";
                        color:$primery_color;
                    }
                }
            }
        }   
        .payment-confirmation .section .content{
            padding-bottom: 10px !important;
        }
        .xs-textcenter {
            text-align: left !important;
            .extras-page-sub-title{
                padding-left: 10px !important;
            }
        }
        .payment-confirmation .thanks{
            .fa {
                font-size: 2rem !important;
                position: absolute !important;
                left: 15px !important;
                top: -2px !important;
            }
            label{
                padding-left: 25px !important;
    
            }
            .xs-hold{
                padding-left: 15px !important;
            }
        }
        .content-header #confirm-It >div{
            padding:0;
            margin-top: 0 !important;
            .xs-section-font{
                padding: 10px 10px 10px 15px !important;
            }
        }
        .payment-confirmation .passenger-information .content {
            .xs-passdetailsrow {
                .xs-passdetailsrow-lbl {
                    height: 27px !important;
                }
                .xs-passdetailsrow-border {
                    margin-top: 1px;
                    .fa {
                        color: #4a4a4a !important;
                    }
                    span {
                        display: block;
                        top: 5px;
                        vertical-align: baseline;
                        margin-bottom: 5px;
                    }
                }
                .panel-body {
                    padding-bottom: inherit;
                    background-color: transparent !important;
                    border: none !important;
                    box-shadow: none !important;
                }
            }
        }
        .summary-drawer .drawer-desc .flight-info-scroll, .LTR .reservation-drawer .drawer-desc .flight-info-scroll {
            //max-height: 90vh !important;
            display: flex;
            flex-direction: column;
            overflow-y: hidden !important;
            overflow-x: hidden !important;
        }
        .xs-pl-0{
            padding-left: 0px;
        }
        .xs-flight-info-pl10{
            padding-left: 10px;
        }
        .summary-drawer{
            .drawer-desc{
                hr{
                    border-top:1px solid #eee;
                }
                .summary-line-hr{
                    margin-bottom: 0px;
                    margin-top: 10px !important;
                    width: 95%;
                    float: left;
                }
                .flight-info-scroll{
                    .price-info-block{
                        hr {
                            margin-top: 10 !important;
                            margin-bottom: 10 !important;
                            &.price-break-line-hr{
                                margin-top: 14px !important;
                                margin-bottom: 0px!important;
                            }
                        }
                    } 
                }
            }
        }   

        .payment-confirmation .section .s-heading{
            border-bottom: 2px solid e0edef !important;
            margin-bottom: 0 !important;
        }
    }
    .your-itinerary{                
        label span{                    
            font-size: 1.2rem !important;
            font-weight: 600 !important;
        }
        .flight{
            .select-flight-plane-icon, .icon-plane-shape, icon-plane_shape_R, icon-plan-shape_L{
                font-size: 1.1rem !important;
                color: $red !important;
            }
            .flight-num{
                span{
                    font-size: 1.2rem !important;
                }
                label{
                    font-size: 1.2rem !important;
                    font-weight: 600 !important;                        
                }
            }
            span{
                font-size: 1rem !important;
            }
            label{
                font-size: 1.4rem !important;
                font-weight: 600 !important;
                .d-label{
                    font-size: 1.2rem !important;
                    font-weight: 600 !important;
                    line-height: 1.67 !important;
                }
            }

        }
    }


    .s-heading label{
        font-size: 1.6rem !important;
        font-weight: 600 !important;
    }
    .content .xs-contactrow .xs-contact-labels{
        font-size: 1rem !important;
        font-weight: normal !important;
    }
    p{
        font-size: 1.2rem;
        //font-weight: 600;
    }
    .content {
        .total div{
            label, span, p {
                font-size: 1.2rem !important;
                font-weight: 600 !important;
            }
        }  
        .xs-passdetailsrow{
            h3 {
                font-size: 1.2rem;
                line-height: 2;
                color: #4a4a4a;
            }
            padding: 0 !important;
            .select-flight-plane-icon, .icon-plane-shape, icon-plane_shape_R, icon-plan-shape_L{
                font-size: 1.4rem !important;
                color: $red !important;
                font-weight: normal !important;
                padding-top: 4px;
                padding-right: 4px;
                vertical-align: middle !important;
            }
            .col-xs-11{
                font-size: 1.2rem !important;
                font-weight: 600 !important;
                color: #4a4a4a;
            }
            .additionalservices{
                div >span{
                    font-size: 1rem !important;
                    font-weight: normal !important;
                    padding: 2px 2px 0 2px !important;
                }
                label{
                    padding: 0 !important;
                    display: flex !important;
                    i{  
                        font-size: 1rem !important;
                        font-weight: bold !important;
                        color: #333333;
                    }
                }
            }

        }
        .paymentdet-row{
            line-height: 1.6; 
            .col-xs-5{
                padding-top: 5px !important;
            }
            label, span, p {
                font-size: 1rem !important;
                font-weight: normal !important; 
            }                
        }
        .paymentdet-row:last-child{
            .col-xs-5{
                padding-top: 2px !important;
            }
        }
    }



    .reservation-header-btn .pull-right,.cm-footer  .pull-right{
        padding-left: 0 !important;
        >button{
            min-width: 90px;
        }              
    } 

    .cm-footer  .pull-left{
        >a{
            min-width: 80px;
        }              
    } 

    .email-confirm-msg{
        text-align:left !important;
        font-weight: 500;
        font-size:1rem;
        margin-top: 10px !important;
        >span{
            >sup{
                vertical-align: middle !important;
            }
            >span{
                font-size: 1rem !important;
            }
        }
    }
    .RTL .xs-textcenter {       
        .extras-page-sub-title{
            padding-right: 10px !important;
        }
    }
    .xs-text-center {
        //text-align: center;
    }
    .xs-text-center span{
        font-size: 1.2rem !important;
    }
    .payment-confirmation{
        .passenger-information{
            .content{
                >.row:nth-child(3){
                    /*margin-top: 15px !important;*/
                }
                >.row:nth-child(4){
                    margin-bottom: 5px;
                }
            }
        }
    }
    .xs-emailbtn {
        margin-top: 15px;
    }
    .xs-res-summarytxt {
        font-size: 1.8rem !important;
        font-weight: bold;
        margin-top: 19px;
        margin-bottom: 10px;
    }
    .xs-text-right {
        text-align: right;
    }
    .xs-text-left:not(.email-confirm-msg) {
        /*text-align: left;*/
        font-weight: 700;
        margin-top: 10px;
    }
    .paymentdet-row {
        /*padding-right: 15px;*/
        >div >label { 
            font-weight: 400 !important ;
        }
    }
    .total:last-of-type {
        width:100% !important;
        float:left !important;
        margin-top: 10px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.3);
        font-weight: 700;
        >div >label{
            font-weight: 700 !important;
        }
    }
    .total-hr{
        hr{
            border-top: 1px solid #e0dfdf;
            width:100%;
            margin-top:0 !important;                
        }
    }
    .ps-data > span::after{
        content: " ";
    }
    .xs-reservation {
        padding: 0 !important;
        width: 45% !important;
    }
    .xs-reservation-date,.xs-reservation-policy{
        width: 50% !important;
        padding: 0 !important;
    }

    .xs-lefttext {
        text-align: left !important;
    }
    
    .xs-passdetailsrow {
        .panel-group {
            margin-bottom: 0 !important;
                .panel-heading {
                    padding:0 0 !important;
                    border-bottom:none !important;
                    border-top:none !important;
                }    
        }  
        .xs-passdetailsrow-border {
            background-color:white;
        }
    }
    .xs-lbl-name {
        font-size: 1.2rem;
        color: #4a4a4a;
    }
    .xs-lbl-name-child {
        font-size: 1.2rem;
        color: #4a4a4a;
    }
    .xs-lbl-name-infant {
        font-size: 1.2rem;
        line-height: 2;
        color: #4a4a4a;
    }
    
    
    .xs-pass-heading{
        font-size: 1.4rem;
        font-weight: 600;
    }
    .xs-addi-heading{
        font-size: 1.5rem;
    }
    .xs-pay-confirmation{
        margin-top : -15px !important;
    }
    .xs-modify-drawerarrow{
        top : -48px !important;
    }
    .xs-p-l-0{
        padding-left : 0 !important;
    }
    .xs-contactrow {
        .col-xs-12{
            p{
                margin-bottom: 0 !important;
            }
        }
    }

    .reservation-summary-footer{
        margin-top: 20px !important;
        .xs-red-button{
            padding: 0 10px !important;
        }
    }
    .confirm-plane-icon{
        margin-left: 20px;
        margin-top: 3px;
    }

    .payment-confirmation .passenger-information .content .xs-passdetailsrow .xs-passdetailsrow-border{
        height: 27px !important;
    }

}

.paymentdet-row {
    line-height: 2em;  
}

.xs-contact-labels {
    font-weight: 300 !important;
}

.xs-flight-content {

}

.xs-psflight {
    width: 50% !important;
}

.xs-contactrow {
    margin-left: 0;
    margin-top: -15px;   
}
.RTL{
    @media screen and (max-width: 500px) {
        .xs-text-right {
            text-align: left;
        }
        .xs-text-left {
            text-align: right;
        }
    }
    .xs-pl-0{
        padding-right: 0px;
    } 
    .xs-passdetailsrow{
        .accordion-toggle >span >.col-xs-2{
            padding: 0 !important;
        }
    }
    .confirm-plane-icon{
        margin-right: 20px !important;
        margin-left: 0 !important;
    }
    .reservation-summary-footer{
        >.row{
            margin: 0 !important;
            .head-finish-btn{
                padding-right: 0 !important;
                padding-left: 5px !important;
            }
            .head-print-btn{
                padding-left: 0 !important;
                padding-right: 10px !important;
            }
            .head-emailme-btn{
                padding-left: 0 !important;
                padding-right: 5px !important;
            }
        }
    }
    .payment-confirmation .thanks .fa{
        vertical-align: bottom !important;
        padding-right: 10px !important;
    }
    .payment-confirmation .section .content{
        padding-top: 0 !important;
    }
    /*    .xs-reservation {
            padding-right: 0 !important;
        }*/
        .sm-summary-sections{
            .icon-outbound-plane-small{
                display:inline-block !important;
                .path1{
                    &:before{
                        content:"\e928";
                        color:$primery_color;
                    }
                }
                .path2{
                    &:before{
                        content:"\e927";
                        color:$gray;
                    }
                }
        
                .path1,.path2{
                    float:left;
                }
            }
            .icon-inbound-plane-small{
                display:inline-block !important;
                .path1{
                    &:before{
                        content:"\e926";
                        color:$primery_color;
                    }
                }
                .path2{
                    &:before{
                        content:"\e912";
                        color:$gray;
                    }
                }
            }
        }   
}

