/*=====================================
=            Rewards Login            =
=====================================*/

.rewards-login{
	@extend .right-wide;
	max-width: 475px;
	position: absolute;
	right: 0;
	padding-right: 0;
	z-index: 999;

	.form-footer{
		padding: 0;

		.back-to-login{
			line-height: 0;
			height: 0;
			margin-top: 10px;
		}
	}

	// Heading
	.heading{
		@extend .left-wide;
		line-height: 34px;
		color: $site_primary_color;
		&.heading-container{
			height: auto;
		}
		font :{
			weight: 600;
			size: 18px;
		}
		padding: 5px 20px;
		cursor: pointer;
		position: relative;
		z-index: 9;
		margin: 0;
		transition: .5s all;
		-moz-transition: .5s all;
		-webkit-transition: .5s all;

		.txt{
			float: left;
			font-style: normal;
			padding-top: 3%;
			padding-right: 10px;
		}

		.rewards-logo{
			float: right;
			height: 53px;
			width:230px;
			background: {
				image : url(../images/rewards-logo-red.png);
				repeat : no-repeat;
				position: center;
			}
		}

		&:hover{
			background: {
				color: #f2f2f2;
			}
			//color: $white;
			/* .rewards-logo{
				background: {
					image : url(../images/rewards-logo-white.png);
				}
			} */
		}
	}

	// Tabbed Content
	.tabbed-content{
		@extend .left-wide;
		position: relative;
		z-index: 9;
		background: {
			color: $rewards_login_bg;
		}

		#signin-content{

			.form-footer{
				label#forget-pwd {
					line-height: 5px;
				}
			}
		}

		// Tabs
		.tabs{
			@extend .left-wide;
			.tab{
				float: left;
				width: 50%;
				text-align: center;
				font-weight: 600;
				font-size: 14px;
				padding: 15px 10px;
				color: $white;
				background: {
					color: #a5a4a5;
				}
				cursor: pointer;

				&:hover{
					background: {
						color : #a5a4a5 - 20;
					}
					color: $white;
				}

				&.active{
					background: {
						color : $rewards_login_bg;
					}
					color: $black;
				}

				&#tab-signin{}
				&#tab-register{}
			}
		}

		// Content
		.content{
			@extend .left-wide;
			padding: 20px 30px 30px;
			//display: none;

			&.forget-panel-pd{
				padding-bottom: 10px;
			}

			h2{
				font-size: 16px;
				font-weight: 600;
				margin-bottom: 20px;
			}

			&#signin-content{
				//display: none;
			}
			&#register-content{
				//display: none;
			}

			.description{
				@extend .left-wide;
				margin-bottom: 20px;
				line-height: 1.6;
			}

			.ibe-typeahead{
				@extend .left-wide;

				.help{
					text-align: right;
					margin-top: 5px;
					font-size: 12px;
				}

				.placeholder{
					padding: 0 15px;
					line-height: 50px;
					color: $black;
					font-weight: 300;
					font-size: 14px;

					.placeholder-icon{
						margin-left: 3px;
					}
				}
			}
		}
	}

	// Overlay
	.overlay{
		background: {
			color: rgba(255,255,255,0.80);
		}
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		height: 100%;
		width: 100%;
	}


	// On shown Rewards Login block
	&.shown{

		// Heading
		.heading{
			background: {
				color: $site_primary_color;
			}
			color: $white;

			.rewards-logo{
				background: {
					image : url(../images/rewards-logo-white.png);
				}
			}
		}

		.tabbed-content{
			display: block;
		}

		.overlay{
			display: block;
		}
	}
}
.login-user{
	.details{
		text-align: right;
		margin-top: 20px;
		.user-name{
			font-weight: bold;
			padding-right: 10px;
			cursor: pointer;
		}
		.sign-out{
			cursor: pointer;
			color: $site_primary_color;
		}
	}

}
form.ng-invalid.ng-dirty.ng-touched{
	border: red 1px solid;
}

form.ng-invalid.ng-pristine.ng-touched{
	border: red 1px solid;
}

/*Valdr Validations and messages*/
.valdr-message{
	font-size: 12px;
	color: $red;
	position: absolute;
}

	form,
	ng-form{
		&.ng-submitted{
			.ibe-typeahead {
				.ng-invalid.ng-dirty.ng-untouched,
				.ng-invalid.ng-untouched{
					border: 1px solid $red ;
				}
				.ng-invalid.ng-untouched.on-focus{
					border: 1px solid grey;
				}
			}
		}
		.ibe-typeahead {
			&.on-focus{
				.valdr-message{
					border: none;
					display:none;
				}
		
			}
			.ng-invalid,
			.ng-invalid.ng-touched,
			.ng-invalid.ng-pristine.ng-touched  {
				border: $red 1px solid;
			}
			
			.ng-invalid .valdr-message,
			.ng-invalid.ng-touched .valdr-message,
			.ng-invalid.ng-touched.ng-dirty .valdr-message,
			.ng-invalid.ng-touched.ng-invalid-required .valdr-message{
				border: none;
				color: $red;
			}
			.ng-invalid.ng-dirty .valdr-message,	
			.ng-invalid.ng-touched.on-focus .valdr-message,
			.ng-invalid.ng-pristine.ng-touched.on-focus .valdr-message
			{
				border: none;
				display:none;
			}
			

			.ng-invalid.ng-dirty.ng-untouched,
			.ng-invalid.on-focus,
			.ng-invalid.ng-untouched,
			.ng-invalid.ng-untouched.on-focus,
			.ng-invalid.ng-touched.on-focus,
			.ng-invalid.ng-pristine.ng-touched.on-focus,
			.ng-invalid.ng-dirty.ng-untouched.on-focus
			{
				border: 1px solid grey;
			}
		}
	}


.valdr-message.ng-pristine {
	display:none;
}
/*END Valdr Validations and messages*/
/*=====  End of Rewards Login  ======*/
