/*====================================
=            Select Services            =
====================================*/

.select-sevices {
}

/*=====  End of Select Services  ======*/

/*======================================
=            Service Selection            =
======================================*/

.services-selection {
  @extend .left-wide;
  background: {
    repeat: no-repeat;
    size: cover;
    position: center;
  }
  //min-height: 745px;
  position: relative;

  // Left Section
  .left-section {
    float: left;
    position: relative;
    z-index: 9;

    // Data Block
    .data-block {
      @extend .left-wide;
      color: $black;

      background: {
        color: $white;
      }

      // Heading Title
      .heading-title {
        @extend .left-wide;
        font-size: 14px;
        margin-bottom: 10px;
      }

      // Content
      ul {
        @extend .left-wide;
        padding: 0;
        margin: 0;
        list-style: none;
        border: 1px solid #ededef;
        border-bottom: none;
        border-left: 0 solid #ededef;
        border-right: 0 solid #ededef;

        li {
          @extend .left-wide;
          list-style: none;
          font-weight: 600;
          position: relative;
          span {
            label {
              padding: 12px 0 12px 30px;
              font-weight: 600;
              font-size: 13px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              i {
                float: right;
              }
            }
          }
          &:hover {
            color: $white;
            background-color: $gray-6;

            .remove {
              color: lighten($gray-6, 25%);
            }

          }
          &.active {
            color: $white;
            background: {
              color: $gray;
            }
            &:after {
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              right: -15px;
              margin-top: 0;
              border-top: 21px solid transparent;
              border-bottom: 21px solid transparent;
              border-left: 15px solid $secondery_color;
            }
            .remove {
              color: lighten($gray-6, 25%);
            }
          }

          .remove {
            color: #939393;
            padding: 2px 0 0 5px;
            font-size: 14px;
            &:hover {
              color: $red;
            }
          }

          label {
            margin: 0;
            input {
            }
          }
          span {
          }
        }
      }
    }
  }

  // Right Section
  .right-section {
    position: relative;
    background: {
      color: $white;
    }
    border: 1px solid #e2e2e2;
    padding: 25px 20px 5px 30px;
    margin-left: -15px;
    z-index: 0;
  }
}

/*=====  End of Service Selection  ======*/

/*==========================================
=            Available Services            =
==========================================*/

.available-services {
  @extend .left-wide;
  //min-height: 500px;
  padding-bottom: 5px;

  /* Title */
  .title {
    @extend .left-wide;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  /* List */
  ul {
    @extend .left-wide;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      @extend .left-wide;
      margin-bottom: 10px;
      cursor: pointer;

      img {
        width: 40px;
        float: left;
        margin-right: 5px;
      }

      // Checkbox
      .check {
        float: left;
        width: auto;
        width: 7%;
        margin-top: 5px !important;
        label {
          cursor: pointer;
        }
      }

      // Icon
      .ico {
        float: left;
        color: $red;
        font-size: 27px;
        width: 15%;
        text-align: center;
        line-height: 1;
      }

      // Data
      .data {
        float: left;
        width: 50%;
        padding-left: 5px;
        h4 {
          @extend .left-wide;
          font-size: 13px;
          font-weight: 600;
          margin-bottom: 0;
          line-height: 1.6;
        }
        p {
          @extend .left-wide;
          a {
            color: $secondery_color;
            text-decoration: underline;
            font-size: 12px;
            &:hover, &:focus {
              color: $red;
            }
          }
        }
      }

      // Price
      .price {
        float: right;
        width: 28%;
        font-size: 13px;
        text-align: right;
        i {
          font-weight: 600;
        }
      }
    }
  }

  //datepicker
  .ibe-date-picker{
    ul{
      &.dropdown-menu{
        width: 230px;
      }
    }
  }
  .ibe-timepicker{
    .padding-top-48{
      padding-top:48px;
    }
    .btn-link{
      color: $site_primary_color;
    }
  }
  .ibe-select-dropdown{
    border-radius: 0;
    -webkit-appearance: none;
    position: relative;
    
  }
  .ibe-select-dropdown-label{
    &:after{
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      position: absolute;
      content: "\f078";
      right: 25px;
      top: 10px;
      font-size: 17px;
      pointer-events: none;
    }
  }

  .ibe-contact-number{
      input[type=number]::-webkit-inner-spin-button , 
      input[type=number]::-webkit-outer-spin-button{ 
        -webkit-appearance: none; 
        margin: 0; 
      }

      input[type=number]{
        -moz-appearance: textfield;
      }
    }
  

}

/*=====  End of Available Services  ======*/
