/*========================================
=            Select Passenger            =
========================================*/

.select-passenger{
    @extend .left-wide;
    clear: both;
    border-top: 1px solid #ededef;
    border-bottom: 1px solid #ededef;
    margin-bottom: 0;

    .radio{
        float:right;

        [type="radio"]:checked + label:after{
            top: 12px;
        }

        [type="radio"]:not(:checked) + label:after{
            right: 0;
        }
    }

    .row {
        margin-right: 0;
        >div{
            margin-bottom: 10px !important;
        }
    }

    .heading{
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 0;
    }    
    @media screen and (max-width: 767px) {
        .mr-rt-default{
            margin-right: -15px!important;
        }
        .pd-rt-default{
            padding-right: 15px!important;
        }
        .mr-lt-default{
            margin-left: -15px!important;
        }
        .pd-lt-default{
            padding-left: 15px!important;
        }
    }
    // Passengers List
    .passengers-list{
        padding-right: 0;
        margin-top: -1px;
        float: right;
        @extend .no-select;
        @media screen and (max-width: 990px) {            
            width: 25%;
            }

        .inner{
            @extend .left-wide;
            border-left: 1px solid #ededef;
            background: {
                color: $white;
            }
            color: $gray-5;
            padding: 0 0 16px;
            min-height: 326px;
        }

        .heading{
            @extend .left-wide;
            height: 0;
            line-height: 62px;
            padding: 0 30px;
            background: $site_primary_color;
        }

        ul{
            @extend .left-wide;
            padding: 0;
            margin: 0;
            li{
                @extend .left-wide;
                list-style: none;
                font-weight: 600;
                position: relative;
                span{
                    label{
                        padding: 12px 30px;
                        font-weight: 600;
                        font-size: 14px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    @media screen and (max-width: 767px){
                        label{
                            padding-right: 20px !important;
                        }
                    }
                }
                &:hover{
                    background: {
                        color: $black + 80;
                    }
                }
                &.active-pax{
					color: $white;
					background: {
						color: $secondery_color;
					}
					&:after{
						content: "";
						position: absolute;
						width: 0;
						height: 0;
						margin-top: -1px;
						border-top: 23px solid transparent;
						border-bottom: 23px solid transparent;
						border-right: 15px solid $secondery_color;
						z-index: 1;
					}
					span{
						label{
							padding: 12px 30px;
							font-weight: 600;
							font-size: 14px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}
				}
                label{
                    margin: 0;
                    input{}
                }
                span{}
            }
        }
    }
    
    // Passenger Information
    .passengers-information{
        padding-right: 0;
        float: left;
        @media screen and (max-width: 990px) {
            width: 75%;
        }
   
        .heading{
            @extend .left-wide;
            height: 41px;
            line-height: 41px;
            padding: 0px 15px 0px 0px;
            font-weight: 600;
            margin-bottom: 22px;
            .info{
                font-style: normal;
                float: left;
                font-size: 12px;
                line-height: 47px;
                font-weight: 400;
            }
        }

        .row{
            padding: 0;
            margin: 0 -15px 0 -15px;
        }

        .pax-row{
            padding-bottom:20px;
        }

        .placeholder{
            padding: 0 15px !important;
            line-height: 50px;
            color: $black;
            font-weight: 400;
            font-size: 14px;
            .placeholder-icon{
                margin-left: 3px;
            }
        }

        .ibe-drop-down{
            .dropdown-toggle{
                padding: 0 5px;
            }
            .dp-caption-salutation{
                padding-right: 15px;
                text-align:right;
              }
            .dp-caption{
				position: absolute;
				top: 0;
				width: auto;
                padding: 0 15px 0 10px;
                line-height: 50px;
                color: $black;
                font-weight: 400;
                font-size: 14px;
            }
            .fa{
				position: absolute;
				top: 0;
				left: 20px;
				line-height: 50px;
            }
        }
    }
    @media only screen and (min-width:768px){
        .ma-bt-4{
            .passenger-detail-backbtn{
                margin-right: 24%;
            }
            .passenger-detail-continuebtn{
                margin-left: 15px;
            }
        }
    }
}

#pax-airewards-logo{
    height: 22px;
    margin-bottom: 2px;
}

.passenger-header{
    float:right;
}

.heading-text{
    float: right;
}
.ibe-jquery-date-picker input {
    float: right !important;
    width: 80% !important;
    height:50px !important;
    background-color: #fafafa !important;
    border-right: gray 1px solid;
    border-top: gray 1px solid;
    border-bottom: gray 1px solid;
    color: #1a1a1a;
    border-left: none;
}
.ibe-jquery-date-picker{
    button{
        background: $site_back_color;
        border: 1px #7C7C7C solid !important;
        >img{
            float: left;
            right: unset;
        }
    }
}
.ui-datepicker{
    width: 224px;
}
@media (max-width:1400px){
    .ui-datepicker{
            left: 32.8% !important;
    }       
}

@media (max-width:1300px){
    .ui-datepicker{
        left: 30% !important;
    }       
}

@media (max-width:1600px){
    .ui-datepicker{
        left: 35.8% !important;
    }       
}
@media (min-width:768px){    
    #modify-ibe-date-picker, .ibe-date-picker {
        .dropdown-menu {
            left: unset !important;
            right: 0 !important;
            .glyphicon-chevron-left:before {
                content: "\e079" !important;
            }
            .glyphicon-chevron-right:before {
                content: "\e080" !important;
            }
        }
    }    
}

.ADMdtpInput.open .dtp-ig .closeIcon{ 
    height: 48px !important;
    //margin-top: 10px;
}
.calendarIcon{
    height: 30px !important;
    margin-top: 10px;
    left: -10px;
}
.ADMdtpInput>.removeIcon {
    display:none;
}
.ADMdtp.rtl .masterInput input {
    width: 100% !important;
    height: 50px !important;
    border-right: gray 1px solid !important;
    border-top: gray 1px solid !important;
    border-bottom: gray 1px solid !important;
    border-left:none;
    text-align: right;
}
.dtp-ig{
    border-top: gray 1px solid !important;
    border-bottom: gray 1px solid !important;
    border-left: gray 1px solid !important;
    border-right: none;
    border-radius: 0px !important;
    /*width: 64px;*/
    background-color: #fff;
}
.ADMdtp-box footer{
    display:none;
}
.ADMdtp-calendar-container{
    padding:0;
}
#modify-ibe-date-picker .input-group{
    width: 100%;
}

@media (max-width:767px){
    .ADMdtp-calendar-container{
        width: 95%;    
    }
    .select-passenger{
        .passengers-information{
            width: 100%;
            padding-left:0;
            .pax-row{
                margin: 15px 0;
            }
        }
    }
    .ui-datepicker{
        left:10px !important;
        }
}
/*=====  End of Select Passenger  ======*/
