.heading-seat{
	padding-top: 30px;
	color : $red;
	padding-bottom: 35px;
	font-weight:bold;
}
.heading-seat-2{
	padding-bottom: 35px;
	font-weight:bold;
}
.heading-seat-3{
	padding-bottom: 5px;
	font-size: 24px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
}
.meal-cart-header {
	color: #ffffff;
	background-color: #4E4E4E;
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	padding-top: 15px;
	padding-bottom: 15px;
}
.display-preference-meals{
	padding-left: 10px;
}
.meal-preference-list{
	padding-left: 0;
	padding-right: 10px;
}
.meal-cart-content {
	padding: 15px 0;
	background: #e8e8e8;
}

.meal-cart-content ul {
	list-style: none;
	padding-left: 0;
	display: inline-block;
	margin-bottom: 0;
	width: 100%;
}

.meal-cart-content ul li {
	padding: 10px 0;
}

label.preferred-meal-head {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
}

label.preferred-meal-type {
	font-size: 11px;
}

.selected-cat {
	margin-left: -20px;
}
.selected-cat .col-md-2 {
	padding: 5px 5px;
}

/* .mealbutton .selected-cat.col-md-8.display {
	width: 66.67%;
} */

 .mealbutton .selected-cat.col-md-8.display {
	 margin: auto!important;
	 padding: 0 0 0 10px!important;
}
.meals-search-box-styles {
	margin: auto!important;
	padding-left: 5px!important;
	padding-right: 5px!important;
	padding-bottom: 0!important;
	padding-top: 0!important;
}
.pagination-wrapper.mealpagination {
	display: block !important;
}

.pagination-width {
	margin-right: -10px!important;
	margin-left: -10px!important;
	padding: initial!important;
	width: 100% !important;
	border-bottom: 1px dotted #e4e4e4;
}

.seat-pagination.pagination{
		margin-left: -20px;
			 li{
				  a{
    				position: relative;
   					float: inherit;
   					padding: 3px 0;
   					width: 23px;
   					text-align: center;
   					display: inline-block;
    				text-decoration: none;
    				color: black;
    				background-color: #ddd;
    				margin-right: 7px;
    				&:hover,&:focus{
			 		background-color:red;
			 		border-color: black;
			 		color:#fff;
			 		 }
				   }
				   &:last-child{a{margin-right: 0px;}}
				}
			}

.container-chkbox {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	padding-bottom: 10px;
	cursor: pointer;
	font-size: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.container-chkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	border-radius: 100%;
	border: 1px solid #888;
	background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.container-chkbox input:checked ~ .checkmark {
	background-color: #7ED321;
	border-color: #7ED321;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container-chkbox input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container-chkbox .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.button-preferred{
	margin-left: 55px;
	background-color: #d90000;
    color: #ffffff;	
    padding: 0 15px;
    display: block;
    border-radius: 0;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    font-weight: 600;
    min-width: 140px;
    text-align: center;
    cursor: pointer;
    max-width: 100%;

}

.note-meal{
	margin-left:10px;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

.disactive{
    span{
	    background: #4E4E4E !important;
    	color: #fff !important;
    	&:before{
    		content: "\e909";
    		font-family: 'icomoon';
    		padding-right: 5px;
    	}
    }
}

.search{
	margin-left: -20px;
}
@media only screen and (max-width: 767px){
	.icon-minus:before {
    	content: "\e92e";
	}
	.preferred-meals-list{
		.panel-group .panel-default .panel-heading{
			padding-left: 0;
			padding-right: 0;
		}
		.panel-default .collapse.in{
			display: inline-block !important;
			width: 100%;
		}
	}
	.xs-edit-class{
		height: 30px !important;
    	color: $primery_color !important;
    	background: transparent !important;
    	width: auto !important;
    	text-align: left !important;
    	padding-right: 0 !important;
	}
    .xs-meal-preference{
        .heading-seat-3{
            margin-bottom: 20px !important;
        }
        padding: 0 !important;
        uib-accordion.segment-list .panel-default > .panel-heading + .panel-collapse .panel-body{
            .meal-block{
                margin: 0 0 20px 0 !important;
                padding: 0 !important;
                .image{
                    padding: 0 !important;
                }
                .data{
                    .options{
                        min-height: 1px !important;
                        .button{
                            position: relative !important;
                            min-height: 1px !important;
                        }
                    } 
                    .mealcost-section{
                        display: inline-block !important;
                    }
                }
                .meals-qty-dropdown{
                    li{
                        display: inline-block !important;
                        width: 100% !important;
                        padding: 7px 10px !important;
                        .add{
                            width: 8% !important;
                            font-size: 1.6rem !important;
                        }
                    }
                    .check{
                        width: 75% !important;
                    }
                    form{
                        display: inline-block !important;
                        input{
                            width: 20% !important;
                            text-align: center !important;
                            margin-left: 4px !important;
                            margin-right: 4px !important;
                        }
                    }
                }
            }
            .meal-block:first-child{
                margin-top: 20px !important;
            }
        }
    }
    .meal-cart-content{
        background-color: transparent !important;
        margin-top: 20px !important;
        .table>tbody>tr>.preferred-meal-quantity{
            text-align: left !important;
        }
        .note-meal{
            margin: 0 0 20px 0 !important;
        }
    }
}