/*====================================
=            Select Meals            =
====================================*/

.LTR .select-meals{
	padding-left: 0 !important;
}

.RTL .select-meals{
	padding-right: 0 !important;
}


/*=====  End of Select Meals  ======*/



/*========================================
=            Meals Search Box            =
========================================*/

.meals-search-box{
    @extend .left-wide;
    margin-bottom: 10px;
    position: relative;

    //Done button
    .done-button{
        margin-top:10px;
    }

    // Overlay
    .overlay{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 220%;
        z-index: 90;
        background: $gray-9;
        opacity: 0.5;
    }

    // Defaults
    button,
    input{
        @extend .left-wide;
        height: 40px;
        line-height: 35px;
        //padding: 0 20px;
        margin: 0;
        text-align: left;
        @include border-radius(0);
        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;
        border: 0;
        background: transparent;
        outline: none !important;
        font-weight: 600;
        font-size: 13px;
    }

    button{
        background: {
            color: $light_gray;
        }
        i{
            &.arrow-pref{
                right: 25px;
            }
            &.arrow-extra{
                right: 16px;
            }
            position: absolute;
            top: 10px;
            height: 30px;
            line-height: 35px;
        }
        &:hover,&:focus,&:active{
            background: {
                color: $alto - 20;
            }
        }
    }

    // Meals Category
    .meals-category{
        float: left;
        height: 58px;
        padding: 0;
        margin: 0;
        button{}
        position: static;

        .dropdown-content{
            position: absolute;
            z-index: 990;
            margin-top: 58px;
            left: 0;
            right: 0;
            width: 100%;
            height: 300px;
            background: {
                color: $gray-9;
            }
            display: block;
        }
    }
  
    // Search Box
    .search-box{
        float: left;
        height: 56px;
        padding: 0;
        margin: 0;
        form{
            height: 100%;
            input[type=search]{
                height: 100%;
                border-top: 1px solid #EBEBEB;
                border-bottom: 1px solid #EBEBEB;
                border-left: 1px solid #EBEBEB;
                font-size: 18px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                padding-left: 10px;
            }
        }
    }


    // Sort
    .sort{
        &.dropdown-extra-meal{
            padding-right: 10px; 
        }
        float: left;
        height: 56px;
        padding-left: 0;
        padding-right: 0px;
        margin: 0;
        .dropdown{
            width: 100%;
            height: 100%;
            .sortby-btn{
                height: 100%;
            }
        }
       

        button{
            width: 100%;
            text-align: center;
            padding-top: 2px;
        }

        ul{
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            float: left;
            min-width: inherit;
            padding: 5px 0;
            margin: -1px 0 0;
            font-size: 14px;
            list-style: none;
            border: 1px solid #EBEBEB;
            @include border-radius(0);
            box-shadow: none;
            width: 100%;
            li{
                a{
                    padding: 8px 6px;
                    margin: 0;
                    &:hover{
                        background: {
                            color: $black;
                        }
                        color: $white;
                    }
                }
            }
        }
    }
}

.RTL{
    .meals-search-box{
        .search-box{
            form{
                input[type=search]{
                    border-right: 1px solid #EBEBEB;
                    padding-right: 10px;
                }
            }
        }
        button {
        	i{
        		float:left;
        	}
        }
        .sort{
        	padding-right: 0;
        	padding-left: 10px;
        }
    }
    
}

// Selected Category
.selected-cat{
    @extend .left-wide;
    margin-left: 0 !important;
    margin-bottom: 19px;
    font-weight: 600;

    span{
        float: left;
        padding: 6px 15px;
        background: $alto !important;
        color: $black !important;
        margin: 0;
        font-size: 13px;
        cursor: pointer;
        width: 100% !important;
    }
    .row {
        margin-left: -5px;
        margin-right: -5px;
    }
    .col-md-3 {
        padding: 5px 5px;
    }
}

@media only screen and (min-width: 768px) {
    .selected-cat{
        span{
            &:hover{
                color:$white !important;
                background: $primery_color !important;
            }
        }
    }
}
@media only screen and (max-width: 367px) {
    .selected-cat{
        .col-md-3 {
            padding:0px;
        }
    }
}

/*=====  End of Meals Search Box  ======*/


/*================================
=            Food Box            =
================================*/

.food-box{
    float: left;
    height: 150px;
    position: relative;
    padding: 0;
    z-index: 999;

    input{
        position: absolute;
        left: -9999999px;
    }
    label{
        @extend .left-wide;
        height: inherit;
        background: {
            size : cover;
        }
        position: relative;
        cursor: pointer;

        span{
            height: 50px;
            line-height: 50px;
            text-align: center;
            padding: 0 3px;
            color: $white;
            background: {
                color: rgba(0, 0, 0, 0.5);
            }
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            &:before{
                color: $white;
                width: 30px;
                text-align: center;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                top: -10px;
                z-index: 99;
                font-size: 20px !important;
            }
        }

        &:hover{
            &:before{
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                background: $gray-base;
                opacity: 0.3;
            }
        }

    }

    [type="checkbox"]:not(:checked) + label>span:before{
        content: '\f10c';
        font: normal normal normal 18px/1 FontAwesome;
    }

    [type="checkbox"]:checked + label>span:before {
        content: '\f058';
        font: normal normal normal 18px/1 FontAwesome;
    }
}

/*=====  End of Food Box  ======*/