.page-title{
    .main-text{
        .sm-number{
            height:76px !important;
        }
    }

}
.login-bar{
    .other-details{
        padding-left: 35px !important;
    }
}	
.fixedPos{
    position: fixed !important;
    width: 100%;
}
.RTL .flights-summary-block-continue .copyright-text{
    text-align: right;
}
@media only screen and (min-width:768px) and (max-width: 992px) {
    .xs-proceedtopass-div{
        padding-right : 28px !important;
    }
    .xs-allpayment-msg{
        font-size : 9px !important;
    }	


    .fare-floater-wrapper{
        ul{
            li:first-child{
                border-bottom:none !important;
                .day-block{
                    border-right:none !important;
                }
            }
        }		
    }
}

@media only screen and (min-width:768px){
    .ribbon-help {
        margin-bottom : -6px !important;
        padding-right : 31px !important;
    }
    .sm-modify-btnwrap{
        position:relative;
        left:0%;
    }
    .LTR header ul li#search a{
        float: none !important;
    }
}

@media only screen and (min-width:768px) and (max-width: 950px) {
    .page-title {
        .main-text span.truncate{
            line-height:20px !important;
        }
    }	

    #btn-proceed-to-passenger{
        font-size:14px !important;
    }
    .travelfare-summary{
        .fare-timeline-drawer{
            margin-top:-15px !important;
            .xs-ttlsum-pricebreak{
                font-size:21px !important;
            }
            .summary-modify-button-search{
                font-size:12px !important;
            }
        }
    }
}
@media only screen and (min-width:768px) and (max-width: 799px) {
    .fare-floater-wrapper {
        ul{
            left:-75px !important;
            li:first-child{
                width:109px !important;

            }
        }
    }
}
@media only screen and (min-width:800px) and (max-width: 900px) {
    .fare-floater-wrapper {
        ul{
            left:-73px !important;
        }
    }

}
@media only screen and (max-width: 900px) {
    .xs-term-header{
        text-align: center !important;
    }
    .page-title {
        font-size: 21px !important;
        padding-right:10px !important;
        vertical-align: text-bottom !important;
        span {
           //vertical-align: text-bottom !important;
        }
    }
    .fare-floater-wrapper {
        max-width: 800px !important;      
    }

    .day-fare {
        font-size: 12px !important;
    }

    .currency-txt, #modify-search{
        font-size: 12px;	
    }
    #currency i{
        color: #DCDCDC !important; 	
    }
    .currency-txt{
        vertical-align: top;
        font-size: 1rem !important;
        font-weight: bold !important;
        color: #4a4a4a !important;
    }
    .div-plain-icon {
        padding: 0 !important;
        width: 11%;
    }
    .div-info {
        padding-left: 3px !important;
        h4 {
            font-size: 14px !important;
            > .fare-type {
                font-size: 11px !important;
            }
        }
    }
    .price-info-block > h2 {
        font-size: 15px !important;
    }
}

@media only screen and (min-device-width : 351px) and (max-device-width : 380px) {
    .fare-floater-wrapper {
        max-width: 300px !important;
    }
}
@media only screen and (min-device-width : 400px) and (max-device-width : 500px) {
    .fare-floater-wrapper {
        max-width: 350px !important;
    }
    /*    #currency{
            //padding-left: 17px !important;
        }*/
}
@media only screen and (min-width : 375px) and (max-width : 390px) {
    .fare-floater-wrapper {
        li{	

            width:103px !important;
        }
    }
}

@media only screen and (min-width : 360px) and (max-width : 767px) {

    .LTR .summary-drawer .drawer-desc .flight-info-scroll .flights-info-block 
    .sector-details .sector-flight-info .flight-block .flight-no {
        //bottom: 55px;
        padding: 0 !important;
        width: auto !important;
        >span >label >i{
            font-size: 1.2rem !important;
        }
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 350px) {
    .fare-floater-wrapper {
        max-width: 250px !important;
    }
    /*    #currency{
        margin-right: 6px !important;   
    }*/
    .modify-search .accelAero-slide{
        margin-bottom:30px !important;
    }
    .fare-floater-wrapper {
        li{
            .day-block{
                div.animated{
                    padding-top:5px !important;
                    padding-right:4px !important;
                }
            }

            width:85px !important;
            //height:95px !important;
            .day-fare{
                >span:not(.day-fare-value){
                    /*display:block;*/
                    text-align:center;
                }

/*                span.day-fare-value {
                    display:inline-block;
                    text-align:center;
                }*/
            }
        }	        	

        a.slide-prev {
            top: 0;
            left: 0 !important;
        }
        a.slide-next {
            top: 0;
            right: 0 !important;
        }
    }

    .flight-options .flight-options-table{
        margin-top: -10px !important;
    }
}

@media only screen and (min-width: 500px) and (max-width: 767px) {
    .fare-floater-wrapper {
        max-width: 300px !important;
    }
}

@media only screen and (max-width: 767px) {
/*    .tooltip.top .tooltip-arrow{
        left:32%;
    }
    .tooltip.top{
        margin-top: 17vh;
    }
    .LTR .flight-result-block .flight-options .tooltip-inner{
        //margin-left: 35px;
        margin-top: 18vh;
    }*/
    .summary-fare-padding{
        padding-left: 10px;
    }
    .font-color-red {
        color: $site_primary_color !important;
    }
    
.RTL{
        .icon-plane_shape_L:before {
            content: "\e90b";
        }
        .icon-plane_shape_R:before {
            content: "\e90a";
        }
        .flight-result-block .flight-options .flight-stop-wrapper .flight-icon {
            -webkit-transform: scaleX(1) !important;
             transform: scaleX(1) !important; 
        }        
        #travelfare-summary-bottom{
            .price-info-block hr{
                margin-bottom: 10px !important;
            }              
            .cg-busy-default-sign{
                margin-right: -10px !important;
            }
            .flight-info-scroll{
                margin: 0 !important;
                #travelfare-flight-info-block{
                    padding-right: 15px !important;
                }
            }
            .xs-price-info-block{
                padding-left: 15px;
                padding-right: 15px !important;
            }
        }        
    }
    .flight-result-block .flight-options .flight-stop-wrapper .flight-stop{
        font-size:0.6rem !important;

    }
    .LTR .flight-result-block .flight-options .flight-stop-wrapper .flight-stop {
        width:0px !important;
    }
    
    .LTR .flight-result-block .flight-options .create-flow .flight-stop-wrapper .flight-path {
        top:10px !important;
    }


    .mobile-row{
        margin-left: -10px !important;

        margin-right: -10px !important;
    }
    .modify-cur-background{
        background-color: white !important;
    }
    .modify-search .accelAero-slide{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        max-height: 65px;
        .fare-floater-wrapper{
            border-bottom: solid 1px #e0dfdf !important;
        }
        a.slide-nav{
            height:60px !important;
            line-height: 55px !important;
            margin-top: 1px !important;
            border-bottom: 1px solid #e0dfdf !important;
            width: 11% !important;
            .fa{
                font-size:2rem !important;
                font-weight:600 !important;
                color: #9b9b9b !important;
            }
        }
        a.slide-prev {
            left: 0 !important;
            padding-right:5.5vw;
        }
        a.slide-next {
            right: 0 !important;
            padding-left:5.5vw;
        }
    }

    .flight-result-block .flight-options .flight-options-table.create-flow{
        .header:not(.fare-mobile-header){
            display: none !important;
        }
    }

    div.fare-floater-wrapper{
        ul {
            .selected-date{
                opacity: 1 !important;
            }
            li{
                opacity: 0.5 !important;
                min-height:60px !important;
                border-bottom: none !important;
                .day-block{
                    .animated{
                        bottom:-10px !important;
                        /*                        padding-left: 10px;
                                                padding-right: 10px;*/
                    }

                    font-size: 1.2rem !important;
                    .day-date-text, .day-month-date-text{
                        display: inline-block;    
                    }

                    .day-date-text{
                        text-align: right;
                        /*width:40%;*/
                        padding-right: 2px;
                    }

                    .day-month-date-text{
                        /*width:60%;*/
                        text-align: left;
                    }    
                }
            }
        }
    }
    .login-bar{
        .user-details{
            padding-top: 10px !important;
            padding-bottom: 18px;
            width: 100vw !important;
            font-size:1.2rem !important;
        }
        .signout{
            right: 33px !important;
            position: absolute !important;
        }

        .other-details{
            padding-left: 10px !important;
        }
    }
    .RTL .login-bar{
        .signout{
            left: 10px !important;
            right: unset !important;
            position: absolute !important;
        }
    }
    .RTL .mb-logo-and-login{
        width: auto;
    }
    /*    #currency{
            margin-top:17px !important;
            padding-right:10px !important;
            > span{
                    float : right !important;
            }
    
        }*/
    .travelfare-summary{
        .drawer-desc{
            padding-top:0 !important;
        } 
    }
    .flights-summary-block-continue {
        margin-top: 0 !important;
    }
    .xs-allpayment-msg{
        font-size : 0.9rem !important;
    }	
    .ribbon-help {
        margin-bottom: 20px !important;
        padding-right: 9px !important;
        margin-top: -23px !important;
    }
    .LTR, .RTL {
        .curruny-wrapper{
            width:200% !important;	
            overflow-y:scroll !important;
            ul li .currancy-type{
                font-size:1.2rem;
                font-weight: 600 !important;
            }
        }

    }

    .xs-proceedtopass-div{
        margin-top : 10px;
        .btn{
            font-weight: bold !important;
            font-size: 1.4rem !important;
        }
    }	

    .xs-term-header span{
        font-size: 1.6rem !important;
    }

    .xs-term-body{
        max-height: 58vh !important;
        overflow-y : auto;	
    }
    .xs-term-body p table tbody tr td h2{
        font-size: 1.4rem !important;
        margin-bottom: 10px;
    }

    .xs-term-body p table tbody tr td div ol li{
        font-size: 1.2rem !important;
    }
    .xs-term-body p table tbody tr td div ol li p{
        font-size: 1.2rem !important;
    }
    .page-title {
        font-size: 1.8rem !important;
        /*padding-right:6px !important;*/

        span {
            //text-align: center !important;
        }
        //text-align: center !important;
        margin-top: -4px !important;
        .icon-plane-shape{
                width: 10% !important;
                vertical-align: -4px;
        }
    }
    .dashboard-content-header {
        text-align: left !important;
        position: absolute !important;
        top: -157px !important;
        height: 39px !important;
        width:170 !important;
        h1{
            line-height: 52px !important;
            height: 30px !important;
            width: 170px !important;
            top: 9px !important;
        }
    } 

    .modify-search button[type=submit]{
        font-size:1.8rem !important;
    }
    .day-fare {
        font-size: 1.1rem !important;
        margin-top: 4px !important;
    }
    .modify-search-currency {
        padding-left: 0px;
        //padding-right: 10px !important;
        width: 50%;
        position: fixed;
        height: 40px;
        right: 0px;
        z-index: 9999;
        top: 50px;
        margin-left: 0 !important;
        margin-right: 0 !important;
        .glyphicon-chevron-right {
            font-size: 1rem;
        }
        .currency-div {
            margin-top: 10px !important;
            padding-right: 20px !important;
        }
        #currency{
            padding-right: 0px !important;
            //max-width: 60px;
            margin-top: 10px; 
            width:100% !important;
            .cc-link{
                //background-color: #e7e7e7 !important;
                padding: 0px !important;
                i{
                    font-size: 1rem;
                    font-weight: bold;
                    color: #4a4a4a;
                    padding: 0 !important;
                }
                span{
                    padding: 3px;  
                    float:left;
                    font-size: 1rem;
                    font-weight: bold;
                    color: #4a4a4a;
                }
                i{
                    color: #817D7D !important; 	
                    z-index: 9999;
                    margin:0 !important;
                    padding-right:5px;
                    top:9px;
                    float: left;
                } 
                .icon{
                    display: none !important;
                }
                .fa{
                    position: relative;
                    top: 5px;
                    font-size: 1.4rem !important;
                    padding-left: 2px !important;
                }
            }
        }
        #modify-search{
            a{
                font-size: 1rem;                
                color: #4a4a4a;
                padding-left: 0px;

            }
            //padding-left: 0px !important;
            width: auto !important;
            max-width: 100% !important;
            //line-height: 35px;
            padding: 5px 0 0 5px !important;
            i{
                //line-height: inherit;
            }
        }
    }



    .login-bar {
        margin-bottom: 0 !important;
    }
    .page-title p {
        margin: 0;
        margin-bottom: 5px;
        text-align: left;
        line-height: 14px;
        .thin:first-child{
            /*width:0 !important;*/
        }
    }
    .page-title div, .page-title h1 {
        padding-right:0 !important;
    } 
    .LTR {
        #section-1 {
            .source-destination-div {
                margin-top: 10px;
            }   
        }   
    }
    .LTR {        
        .source-destination-div {
                margin-bottom: 10px;
        }     
    }
    p.xs-travel-heading-text{
        font-size: 1.4rem !important;
        > span{
            text-align: left;
            width: auto !important;
            margin-left: 2px;
            margin-right: 2px;
            line-height: 21px !important;
            display: inline-block;
        }
        span.truncate{
            max-width: 65% !important;
        }
    }

    #xs-page-title{
        padding-left:0 !important;
        .xs-thin-text{
            font-size:1.4rem !important;
        }
        .xs-large-text{
            font-size:1.4rem !important;
        }	
    }

    .page-title h1 > span{
        padding-left:0 !important;

        font-size: 1.8rem;
    }
    .page-title > .main-text:first(p){
        margin-bottom: 2px;
    }
    .btn-wrap {
        margin-top: 0 !important;
    }
    .copyright-text {
        font-size: 1rem;
        margin-bottom:10px;
        sup{
            vertical-align: middle !important;
        }
    }
    .summary-modify-button, .summary-modify-button-search {
        text-align: center !important;
        margin-top:10px !important;

        font-size:1rem;
    }
    .price-info-block {
        .sub-total{
            margin-top:0;
        }
    }
    .flights-info-block, .price-info-block {
        width: 100% !important;
    }
    .div-plain-icon {
        padding: 0 !important;
        width: 11%;
        .icon-plane_shape_R, .icon-plane_shape_L {
            padding-left: 10px ;
        }

    }    
    .div-info {
        padding-left: 3px !important;
        padding-right: 0 !important;
        h4 {
            font-size: 1.3rem !important;
            > .fare-type {
                font-size: 1rem !important;
            }
        }
    }
    .flight-time {
        margin-top:5px;
        width: 100% !important;
        line-height:1.8;
    }

    .flights-summary-block-continue .copyright-text{
        text-align: left;
        >sup {
            display: inline-block !important;
            height: 28px;
            line-height: 17px !important;
            vertical-align: top !important;
            width: 3% !important;
        }
        .terms-and-condition {
            display: inline-block !important;
            width: 95% !important;
        }
        .price-info-block > h2 {
            font-size: 1rem !important;
            text-align: center;
        }
        .flights-summary-block-continue .copyright-text{
            text-align: center;
        }
        .travelfare-summary{
            margin-top: 0 !important;
        }
        .flight-block .flight-no,.flight-block  .fligh-no{
            float: right !important;
            padding-left: 0 !important;
            //padding-right: 0 !important;
            width: 32px !important;
        }
        .fligh-no i{
            font-size:1.2rem !important;
            padding-right: 0 !important;
            width: 32px !important;
        }
        .flight-duration p{
            width: 100% !important;
            text-align:center;
        }
        .slide-nav i{
            font-size:1.2rem;
        }
        a.slide-nav{
            height:60px !important;
            line-height: 55px !important;
        }
        a.slide-prev {
            left: 0 !important;
        }
        a.slide-next {
            right: 0 !important;
        }

    }
    /*   need to understand this from developer a.slide-prev {
            top: -13px;
            left: 0 !important;
        }
        a.slide-next {
            top: -13px;
            right: 0 !important;
        }
        .fare-floater-wrapper {
            li{
                min-height:85px !important;
                div.day-block div{
                    //left:1px !important;
                }
            }
            div.animated{
                //bottom: -11px !important;
            }
        }*/

    .LTR .flight-point > li{
        left: 20% !important;
    }
    .RTL .flight-point > li{
        right: 0%;
    }
    .fare-curr-diff {
        span{
            position:relative;
            top:3px;
            vertical-align:middle;
        }
        h4{
            width:100%;
            vertical-align:middle;
            font-size: 0.8rem !important;
        }
    }
    .flight-header-info{
        margin: 0 !important;
        .col-xs-1{
            margin: 0 !important;
            padding: 0 !important;
            width: 5% !important;
        }
        .col-xs-11{
            width: 95% !important;
            padding: 0 !important;
            padding-left:5px !important;
        }
    }
    #important-info-save{
        text-decoration: underline !important;
        max-height: 15px !important;
        white-space: unset !important;
        overflow: unset !important;
        line-height: 1.0rem !important;
        >span{
            font-size: 0.7rem !important;
        }
    }    
    #travelfare-flight-info-block{
        margin-top: 5px !important;
        padding-top: 0 !important;
        .sector-details > .sector-flight-info > .flight-block {
            .div-info{
                h4{
                    label , span {
                        font-size: 1.3rem !important;
                        font-weight: 700;
                    }
                    .fare-type{
                        font-size: 1.1rem !important;
                    }
                }
                .flight-time > .departure-arrival > label > i {
                    font-size: 1.1rem !important;
                }
                .flight-no > span > label > i {
                    font-size: 1.3rem !important;

                }                
            }
        }
    }
    .LTR{
        #travelfare-flight-info-block{
            padding-right: 15px !important;
        }
    }
    #travelfare-summary-bottom{
        margin-top: 0 !important;
        top: -10px !important;
        .summary-modify-button{
            margin-bottom: 15px !important;
            .summary-title{
                &.summary-fare-padding{
                    padding-left:10px !important;
                }
                padding-right: 28px;
                margin-bottom: 0;
                padding-left: 24px !important;
            }
        }
        .price-info-block > .sub-total {
            > span {
                font-size: 1.2rem !important;  
                margin-top: 5px !important;
            }
            .in-detail {
                span{
                    font-size: 1.2rem !important;
                }
            }        
        }
        .price-info-block > .clearfix:not(.sub-total){
            > span {
                font-size: 1.1rem !important;
            }
        }
        .xs-price-info-block{
            >h2{
                line-height: 1 !important;
                margin-bottom: 15px;
                height:auto !important;
            }
        }
        .price-info-block >.clearfix .pull-right{
            margin-top: 5px !important;
        }
        .price-info-block >.clearfix .pull-left{
            margin-top: 5px !important;
        }
        .cg-busy{            
            width: 100vw !important;
            left: -10px !important;
        }
    }
    .LTR .flight-result-block{   
        margin: 0 0 0 0 !important;
    }
    .travel-modify-search .flight-result-block{
        margin-top: 10px !important;
    }
    .RTL{
        .modify-search-currency {
            left: 0px !important;
            right: unset !important;
            height: 40px !important;
            #modify-search{
                text-align: left;
            }
            #currency{
                left: 7px !important;
            }
        }  
        .div-info {
            padding-left: 0px !important;
            padding-right: 3px !important;
        }
        .xs-price-info-block{
            padding-right: 15px !important;
        }
        .modify-search .accelAero-slide{
            a.slide-prev {
                right: 0 !important;
                left: unset !important;
                padding-right:15px;
                .fa-angle-left:before{
                    content: "\f105"
                }
            }
            a.slide-next {
                left: 0 !important;
                right: unset !important;
                padding-left:15px;
                .fa-angle-right:before{
                    content: "\f104"
                }
            }
        }
        .fare-block-rtl {
            .fare-floater-wrapper{
                .clearfix{
                    padding-right: 15px;
                } 
            } 
        } 
        .page-title .icon-plane-shape{
            vertical-align: -6px !important;
        }
    }
    .LTR{
        .xs-flight-no-ltr{
            padding-right: 0 !important;
        }
    }    
    .cg-busy-default-sign{
        width: 95vw !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }    
    .cg-busy-default-spinner, .cg-busy-default-text{
        text-shadow: none !important;
        font-size: 14px;
    }
    .flight-options .flight-options-table{

        margin-top: -25px !important;
    }
    .page-title{ 
        .main-flight-text{
            max-width: 90% !important;
        }
    }
    .cg-busy-default-text { 
        text-align: center;
    }
    .LTR .modify-search .page-title{
        line-height: 35px !important;
    }
    .Extras-continue{
        padding-right: 0 !important;
    }
}

.flights-summary-block-continue .copyright-text{
    text-align: left;
    >sup {
        display: inline-block;
        width: 1%;
        line-height: 20px;
        vertical-align: top;
    }
    .terms-and-condition {
        display: inline-block;
        width: 90%;
        a{
            color: $primery_color !important;
            text-decoration: underline;
        }
    }
}
