/*===============================
=     Voucher Header            =
===============================*/
header {
	ul.voucher-menu{
		li{
			float: left;			
			&:not(.logo){
				 padding: 0 40px !important;
 				 a {
 				   i.number, span{
 				 		color: $gray !important;
					 	font-size: 12px;
    					font-weight: bold;
					 	font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: -0.1px;
 				 	}
 				 }
			  }
			  &.current{
			  	background: #b4b4b4 !important;
			  	a i.number {
			  		border-color: $gray !important;
			  	}
			  }
			  &.completed{
			  	a i.icon-done{
			  	    font-family: FontAwesome !important;
    				color: #28cf1c;
    				&:before {
					    content: "\f058" !important;
					    font-size: initial;
					}
			  	}
			  }
		}
	    li.logo{
		  	width: auto !important;
		}
	}

}

/*===============================
=     Voucher Content          =
===============================*/
@media screen and (max-width: 367px){
	.summary-selection{
		padding-left: 15px;
	}
}
@media only screen and (max-width: 992px){
	.voucher-expire-row {

		.date-dividier{
			left: 174px !important;
    		top: 117px !important;
		}
		
	}
    .content-wrapper .row .col-sm-8.pd-r-0 {
        padding-left: 15px !important;
    }
  	.row.voucher-title .col-sm-8{
	  	padding-left: 15px;
	}
  	.mob-no{
	  	padding-left: 0px !important;
	}
  	.country-code{
	  	display: none;
	}
    .customer_data{
	    padding-left: 0px;
	    .col-sm-2{
		    width: auto;
		}
	}
  	.customer_data.voucher-title.row, .row.voucher-title.gift-thnk{
	  	margin-left: 0px;
	}
  	.customer_data.voucher-title.voucher_tbl.col-sm-12{
	  	padding-left: 0px;
	}
}

.voucher-mrgin{margin-top: $padding_margin_base * 8;}
.content-wrapper .col-sm-4 .button-block{
  	margin-top: 7px !important;
}
.content-wrapper .row .pd-r-0{
	padding-left: 5px !important;
}
.content-wrapper .row #voucher-contact-panel.col-sm-8{
    padding-left: 10px;
    .voucher-title .col-sm-8{
	    padding-left: 15px;
	}
}
.voucher-title {
	.page-title {
		height: 29px;
		object-fit: contain;
		font-size: 24px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.21;
		letter-spacing: -0.1px;
		color: #414042;
		margin-top: 11px;
	}
}
@media screen and (max-width: 767px){
	.voucher-title .page-title{
	  	margin-left: 0px;
	}
    .col-md-3, .col-sm-8{
	}
    .voucher-bnnr img{
	  	height: 200px !important;
	}
    .mob-no{
	    padding-left: 8px !important;
    }
  	.voucher-redeem-text{
	  	margin-left: 0px !important;
	}
    .voucher-bnnr{
	  	margin-top: 0px !important;
	}
    .remark-sec p{
	    margin-bottom: 21px !important;
	}
}
@media only screen and (max-width: 960px){
    .content-wrapper .voucher-title .page-title{
	    margin-top: 25px;
	}
    .customer_data{
	  	padding-left: 0px !important;
	}
  	.gift-thnk{
	  	padding-left: 0px !important;
	}
}
@media only screen and (min-width:768px) and (max-width: 992px){
  	.content-wrapper .col-sm-4 .button-block{
	    margin-bottom: 35px !important;
	}
    .customer_data .col-sm-12{
	    padding-left: 0px !important;
	}
    .customer_data .summary-action-menu{
	    padding-right: 15px !important;
	}
}

form.voucher_cust_detail{
    .left-element, .input-padding, .remarks{
	    padding-left: 0px;
        padding-right: 0px;
	}
}

.no-gutters .pad-l0 {
	padding-left: 0;
}
.no-gutters .pad-r0 {
	padding-right: 0;
}

.voucher-bnnr{
    position: relative;
    margin-bottom: 15px;
    margin-top: 30px;
    img{
		width: 100%;
	    border-radius: 10px;
	    height: 223px;
	}
  	.main-logo-voucher {
		position: absolute;
        top: 15px;
        right: 15px;
        width: 109px;
        height: 40px;
        background-color: #ed0000;
        display: flex;
        align-items: center;
        img{
            width: 85.4px;
            height: 17.3px !important;
            display: block;
            margin: auto;
            border-radius: 0px;
        }
	}
	.voucher-content-pos {
	    position: absolute;
	    bottom: 15px;
	    .Voucher-banner-currency{
			font-weight: 700;
			margin-top: 40px;
		    font-size: 32px;
		    padding-left: 20px;
		    position: absolute;
		    bottom: 10px;
		    .currency-text {
			    font-size: 20px;
			    font-weight: normal;
			}
		}
		.voucher-content {
		    text-align: right;
		    max-width: 450px;
		   label {
			    font-family: Circular;
			    text-transform: uppercase;
			    font-size: 36px;
			    font-weight: normal;
			    margin-bottom: 0;
			    display: block;
			} 
		  strong {
			    display: block;
			    margin-bottom: 8px;
			    font-size: 12px;
				height: 17px;
				font-weight: 600;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: -0.1px;
				color: #414042;
			}	
		  button {
			    color: white;
			    background: #6299D3;
			    border-radius: 40px;
			    border: 0;
				width: 109px;
				height: 30.8px;
				background-color: #6299d3;
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
				font-size: 12px;
				font-weight: 600;
				font-style: normal;
				font-stretch: normal;
			}
		  .banner-content {
				width: 288px;
				height: 31px;
				font-weight: normal;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				text-align: right;
				color: #414042;
		  }
		}
	}
}

.cart-section{
	.cart-header{
	 	color: $white;
	    background-color: $gray;
	    font-size: 24px;
	    padding-top: $padding_margin_base * 3;
	    padding-bottom: $padding_margin_base * 3;
	 }
	 .cart-content {
	    padding: 15px 0;
	    background: $light_gray;
	    ul {
		    list-style: none;
		    padding-left: 0;
		    display: inline-block;
		    margin-bottom: 0;
		    width: 100%;
		    li {
			    padding: 10px 0;
			    
			    label.voucher-type {
				    margin-bottom: 12px;
				    font-size: 18px;
				}
				.voucher-count {
				    width: 30px;
				    border-radius: 5px !important;
				    text-align: center;
				    border: 1px solid gray;
				    height: 30px;
				    margin: 0 7px;
				    line-height: 29px;
				  	border: solid 1px #979797;
				  	-moz-appearance:textfield;
				    font-weight: 600;
				}
				.voucher-count::-webkit-outer-spin-button,
				.voucher-count::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
				button{
				&.btn-minus {
				  	width: 8px;
				  	font-size: 24px;
				    font-weight: 500;
				}
				&.btn-plus {
				  	width: 14px;
				  	font-size: 18px;
				  	margin-left: -10px;
				    font-weight: 900;
				}
				&.btn-minus, &.btn-plus {
					    background: transparent;
					    border: none;
						height: 33px;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: normal;
						text-align: center;
						color: #435464;
				        font-weight: 600;
					}
				}
				.Voucher-currency {
					margin-top: 6px;
				    font-size: 20px;
				    font-weight: 600;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					text-align: right;
					color: #333334;
				}
			}
		}
	    
	}
  .cart-content.with-admin-fee-label {
	padding-bottom : 0;
  }
}


  .btn-proceed-to-customer {
    padding: 0 15px;
    display: block;
    border-radius: 0;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    font-weight: 600;
    min-width: 100%;
    text-align: center;
    cursor: pointer;
    max-width: 100%;
    border: 0;
    outline: none;
}
.txt-area {
	width: 100%;
	height: 100px !important;
	resize: none;
	padding: 6px 12px;
	border: 1px solid grey;  
}
.select-payment-method{
    border-top: 0px;
  	.pull-left{
	  	height: 31px;
	  	font-size: 18px;
  		font-weight: 600;
	}
}
.payment-options.voucher-options {
  	padding-top: 0px;
  	padding-bottom: 0px;
	.payment-logo {
	    min-height: 60px;
	}
}
.voucher-expire-row {
	label {
    	display: block;
	}
	.date-dividier {
		position: absolute;
	    width:10px;
	    text-align: center;
	    line-height: 50px;
	    font-size: 20px;
	    font-weight: 100;
		left: 163px;
		top: 119px;
	 }
	.cvv{
	  .form-control {
		width: 44%;
		float: left;
		display: inline-block;
	  }
	  span.cvv-desc {
			display: inline-block;
			width: 56%;
			font-size: 10px;
			padding-left: 10%;
		    h5{
				margin-bottom: 0px;
				font-weight: 600;
			}
		}
	  input{
          width: 45%;
      }
	}
	.expire-row {
	  .voucher_select{
		   display: inline-block;
			-webkit-appearance: none;
			line-height: 25px;
		&:focus{
		display: inline-block;
		float: left;
		}
		&:hover{
		  cursor: pointer;
		}
	  }
	  .expire-group {
          .fa {
              position: absolute;
              top: 0;
              right: 20%;
              line-height: 50px;
          }
	  }
	}
    #voucher-cardinfo-panel{
        .master-card-details .col-sm-12 {
            #voucherCheckout {
                margin-right: 0px;
            }
        }
	    #checkout-panel{
		    padding-right: 0px;
		}
	}
}

.gray-btn{
  	background-color: #4e4e4e;
  	&:hover,&:focus{
	  color: $white;
  }
}
.btn-rg{
	margin: 20px 10px 0 10px;
	float: right;
	cursor: pointer;
    height: 42px;
    font-size: 14px;
}
.heading.customer_title{
	    padding: 0;
	    font-size: 24px;
	    font-weight: 700;
	    height: 50px;
  		margin-bottom: 0px;
	
	 + p {
	    font-size: 14px;
	    margin-bottom: 20px;
	    line-height: 28px;
	}

}

/*===============================
=     Voucher Thank You Page    =
===============================*/

.hr-color-chng {
	border-top-color: #d8d8d8;
}

.container-chkbox {
	
}
.voucher_tbl {
	font-size: 14px;
	.container-chkbox {
		display: block;
		position: relative;
		margin-bottom: 12px;
		cursor: pointer;
		font-size: 22px;
		margin-left: 10px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
		 &:checked ~ .checkmark {
				&:after {
					display: block;
				    left: 6px;
				    top: 3px;
				}
			}	
		}
		.checkmark {
			position: absolute;
			top: 0;
			left: 0;
			height: 18px;
			width: 18px;
			border-radius: 100%;
			border: 1px solid #888;
			background-color: #fff;
			&:after {
				content: "";
				position: absolute;
				display: none;
				min-width: 5px;
    			min-height: 10px;
				border: solid white;
				border-width: 0 3px 3px 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
		}
	}
    .table>tr>th{
	    border-top: none;
	}
    td .container-chkbox{
        padding-left: 53px;
	}
    h3{
	    margin-top: 0px !important;
	}
}

.customer_data {
	margin-bottom: 60px;
	font-size: 18px;
  	padding-left: 10px;
	h3 {
		color: #ed0000;
		font-size: 19px;
	    margin-top: 36px;
        font-weight: 600;
	}
	.customer_data_element {
		padding-left: 0!important;
	  	margin-top: 15px;
	    p {
		    font-weight: 600;
		}
	}
	.summary-action-menu {
		padding: 0;
		.align-left {
			padding-left: 0 !important;
		}
	}
    .table {
	}
    th {
	    width: 160px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.14;
        letter-spacing: 0.1px;
        color: #344252;
	    span {
		    height: 30px;
		}
	  	border-bottom: 1px solid #ddd;
	}
    th.pull-right {
        display: flex;
        align-items: center;
    }
    #valid-to {
      width: 360px;
    }
    td {
	    width: 53px;
        height: 30px;
        opacity: 0.7;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.5;
        letter-spacing: 0.1px;
        color: #435464;
	    vertical-align: middle;
	    border-top: none;
	    border-bottom: 1px solid #ddd;
	}
    .label-id {
	    width: 160px;
	}
  	.container-chkbox input:checked ~ .checkmark:after {
		min-width: 5px;
		min-height: 10px;
	}
  	.col-sm-12{
	  	padding-left: 5px;
	}
}

.gift-thnk{
  	padding-left: 10px;
	h1 {
		font-size: 26px;
		font-weight: 600;
	}
	h4 {
		font-size: 18px;
	    margin-top: 5px;
        height: 29px;
        object-fit: contain;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.61;
        letter-spacing: -0.1px;
        color: #414042;
	}
	.number-green {
		color: #7ED321;
	}
  	.page-title{
	  	margin-left: 0px;
	    margin-top: 0px;
	}
}

.custData {
	font-weight: 600;
	margin-left: 30px;
}

.remark-sec {
	margin: 40px 0;
	span {
		margin-bottom: 15px;
	    margin-top: 21px;
		display: inline-block;
	}
	p {
		word-wrap: break-word;
	    text-align: justify;
	}
}
form.voucher_cust_detail {
	.left-element{
		padding-left:0px;
	}
	.input-padding{
		padding-left: 10px;
	}
	
}
.input-padding{
	padding-right: 0 !important;
}