.phone-number{
  border:none!important;
  .row{
    margin-top: -8px;
    .col-md-3{
      padding-right:10px;

      span{
        font-size:10px;
      }
    }

    .col-md-9{
      padding-left:0;
      span{
        font-size:10px;
      }
      .valdr-message{
        margin-top:50px;
      }
    }
  }
}