/*
.GridHeader  {
background-color:#DFEFFC;
}
.GridHeaderBand {
}
.GridHDBorder {
border-color:white #C5DBEC #C5DBEC white;
}
.GridOutBorder {
border-color:#C5DBEC;
border-right:0 solid #C5DBEC;
border-style:solid;
border-width:0 0 1px;
}
.GridBody{background: #ffffff! important}
*/