/* Temporally Theme Styles for Old screen till convert to Jquery */
.FormHeadBackGround{background-color:#a8a8a8;}
.FormBackGround{background-color:#fff}
.addPaddingBottom{padding: 0 0 1px 0}
.top-round{-moz-border-radius:5px 5px 0px 0px; padding: 0 5px}
.Button {
	background:url("../images/jquery/ui-bg_glass_75_e6e6e6_1x400_no_cache.png") repeat-x scroll 50% 50% #E6E6E6;
	border:1px solid #D3D3D3;
	color:#555555;
	font-weight:bold;
	outline:medium none;
	padding:2px 0;
	-moz-border-radius:5px 5px 5px 5px;
}
.fntLarge{color: #163657}
.PageBorder {background-color: #fff}






