.ru, .es, .fr, .it{
    /*
    header ul:first-child li:not(.logo){
      padding: 15px;
      height: 70px;
    } */
    .summary-drawer .drawer-bar .drawer-icon, .reservation-drawer .drawer-bar .drawer-icon{
        height: 60px;
    }
    .summary-drawer .drawer-bar .drawer-bar-title, .reservation-drawer .drawer-bar .drawer-bar-title {
        width: 115px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }
    .rewards-login .heading .rewards-logo{
        background-size: 100%;
        width: 60%;
    }
    .modify-search .btn-wrap #modify-search{
        right: 10px;
    }

    .extras-header .content-header .page-title h1 span{
        display: inline-block;
        max-width: 70%;
        line-height: 30px;
    }
    .sm-modify-btnwrap{
        width: 30%;
    }

}
.es, .fr, .tr{
    @media only screen and (max-width : 380px) {
        .modify-flights-table .right-content .flight-row .select-flight .text {        
            font-size: 13px !important;
        }
        .xs-modify-flight-select .select-flight-buttons .selected label{
            font-size: 13px !important;
        }
    }
}
.fa, .ar {
    .reg-form .section.with-sub .dashboard-airEwards-section {
        >span {
            display: block;
            float: right;
        }
        .radio [type="radio"]:not(:checked) + label:after {
            right: 0 !important;
        }
        .radio [type="radio"]:checked + label:after {
            top: 12px !important;
        }
    }

    @-moz-document url-prefix() { 
        .meal-block .options,.meals-search-box {
            button{
                font-size: 11px !important;
            }
        } 
    }
}
@media only screen and (min-width:768px){
    .ar{
        .fare-block{
            .left-content{
                width: 70% !important;
            }
            .payment-currency-info{
                width: 30% !important;
                float: left !important;
            }
        }
    }
    .ru{
        #meal-filterby {
            padding: 0 2px !important;
            .fa {
                margin-left:-2px !important;
            }
        }
    }
    .hy{
        .hy-mr-bottom-0px{
            margin-bottom: 0px;
            max-width: 100%;
        }
        .hy-passport-expiry-lbl{
            max-width: 92%;
            display: inline-block;
        }
        .fare-block .left-content{
            width: 65% !important;
        }
        .hy-margin-top{
            margin-top: -20px;
        }
        .hy-cvv-margin-top{
                margin-top: 28px;
        }

    }
}

.es{
    /* 
   header ul:first-child li#search{
         padding: 25px 15px;
         width: 145px;
   }  
   header ul:first-child li:not(.logo){
         padding: 15px 10px;
         width: 145px;
   }
 
   header ul:first-child li#fare{
         width: 160px;
         padding: 25px 10px;
   }
   header ul:first-child li#extras{
         padding: 25px 10px;
   }
   header ul:first-child li#passenger a i.number, header ul:first-child li#payment a i.number {
         margin-top: 10px;
   }
   header ul:first-child li#passenger a i.icon-done:before, header ul:first-child li#payment a i.icon-done:before {
         margin-top: 10px;
   }
    */
    /*    .modify-search .btn-wrap #modify-search{
            padding-top: 0px;
            margin-top: -4px;
        }*/
    .extras-header .content-header .page-title h1 span{
        display: inline-block;
        max-width: 50%;
        line-height: 30px;
    }
    .package-block.flexi-block .options-section {
        padding: 30px 0px;
    }

}

.fr{
    /*
        header ul:first-child li#search{
                width: 180px;
                padding: 25px 10px;
        }  
        header ul:first-child li:not(.logo){
                padding: 15px 10px;
                width: 140px;
        }
        header ul:first-child li#fare{
                padding: 25px 10px;
        }
    
        header ul:first-child li#passenger a i.number, header ul:first-child li#payment a i.number, header ul:first-child li#extras a i.number {
            margin-top: 10px;
        }
        header ul:first-child li#passenger a i.icon-done:before, header ul:first-child li#payment a i.icon-done:before, header ul:first-child li#extras a i.icon-done:before {
            margin-top: 10px;
        }
    */
    header ul:first-child li#search table td:nth-child(2) {
        padding-right: 30px;
    }
 
    header ul:first-child li:not(.logo) table td:nth-child(2) {
        padding: 0px;
    }

    .modify-search .btn-wrap #modify-search{
        right: -10px;
    }
    .passengers-information .row.pax-row .col-md-4 label{
        font-size: 12px;
    }
    .passengers-information .row.pax-row .col-md-4 .cancel-reward{
        font-size: 10px;
    }
    .package-block.flexi-block .options-section {
        padding: 30px 0px;
    }
    .payment-details .right-content .amount{
        margin-top:114px !important;
    }
    .payment-details .left-content .cvv span.cvv-desc{
        margin-top: 4px;
    }
    .payment-card-detail-div .security-code .lbl-security-code > span {
        @media only screen and (max-width : 380px) {
            max-width: 95% !important;
        }
    }
}

.ru{
    /*    
        header ul:first-child li#search{
            padding: 25px 15px;
            width: 115px;
        }
        header ul:first-child li:not(.logo){
            padding: 15px 10px;
            width: 145px;
        }
    
        header ul:first-child li#extras{
            width: 180px;
        }
    
        header ul:first-child li#passenger a i.number, header ul:first-child li#payment a i.number, header ul:first-child li#extras a i.number ,  header ul:first-child li#fare a i.number {
            margin-top: 10px;
        }
    
        header ul:first-child li#passenger a i.icon-done:before, header ul:first-child li#payment a i.icon-done:before, header ul:first-child li#extras a i.icon-done:before ,  header ul:first-child li#fare a i.icon-done:before {
            margin-top: 10px;
        }
    */
    .contact-information .ibe-typeahead .input-option{
        white-space: nowrap;
    }
    .modify-search .btn-wrap #modify-search{
        right: 20px;
        padding-top: 10px;
        margin-top: -4px;
        width: auto;
        margin-left: -20px;
    }
    .rewards-login .heading .rewards-logo{
        background-size: 100%;
        width: 75%;
    }
    .package-block.flexi-block .options-section {
        padding: 40px 0px;
    }
    .payment-details .right-content .amount{
        margin-top: 25px !important;
    }
    .payment-details .left-content .cvv span.cvv-desc{
        margin-top: 4px;
        h5{
            margin-bottom: 1px;
        }
    }
    .extras-header .content-header .page-title h1 span,.extras-header.content-wrapper .content-header .page-title h1 a.skip{
        max-width: none !important;
        width: auto !important;
    }
    .passengers-information a.submit-link{
        line-height: 21px;
    }
    .ru-edit-label{
        max-width: 60px;
    }
    .dash-res-sum .reservation-details .col .edit-pax{
        padding-left: 5px;
        max-width: 25%;
    }
    @media only screen and (max-width : 380px) {
        .dash-res-sum .reservation-details .col.contact-details .edit-pax{       
            max-width: 25% !important;
        } 
        #contact-information .heading .info{
            width: 110% !important;
        }
        .content .xs-passdetailsrow .additionalservices div > span {
            padding: 5px 2px 10px 5px !important;
        }
    } 
} 

.it{
    /*    
        header ul:first-child li#search{
            padding: 25px 13px;
            width: 115px;
        }
        header ul:first-child li:not(.logo){
            padding: 15px 10px;
            width: 156px;
        }
        header ul:first-child li#extras, header ul:first-child li#passenger, header ul:first-child li#fare{
            padding: 25px 10px;
        }
        header ul:first-child li#payment a i.number{
            margin-top: 10px;
        }
        header ul:first-child li#payment a i.icon-done:before{
            margin-top: 10px;
        }
    */    
    .payment-details .left-content .cvv span.cvv-desc{
        margin-top: 4px;
        h5{
            margin-bottom: 1px;
        }
    }
    .insurance .modal-content .modal-footer .row{
        clear: both;
    }
    .package-block.flexi-block .options-section {
        padding: 30px 0px;
    }
    .modify-search .btn-wrap #modify-search{
        /*        right: 0px;
                padding-top: 0px;
                margin-top: -4px;*/
        padding: 6px 0 0 0;
    }
}

.tr{
    header ul:first-child li#search table td span {
        width: 70px;
    }

    .extras-header .content-header .page-title h1 span{
        max-width: 65%;
        display: inline-block;
    }

    .payment-details .left-content .cvv span.cvv-desc{
        margin-top: 4px;
        h5{
            margin-bottom: 1px;
        }
    }
    .insurance .modal-content .modal-footer .row{
        clear: both;
    }
    .package-block.flexi-block .options-section {
        padding: 30px 0px;
    }
}
.zh{
    /*
    header ul:first-child li#search{
        padding: 25px 60px 25px 30px;
        width: 160px;
    }
    header ul:first-child li:not(.logo){
        padding: 25px 10px;
        width: 145px;
    }
    */
    header ul:first-child li#search table td span {
        width: 70px;
    }
    .package-block.flexi-block .options-section {
        padding: 30px 0px;
    }
}

.en{
    header ul:first-child li#search table td span {
        width: 70px;
    }

    .package-block.flexi-block .options-section {
        padding: 30px 0px;
    }
    @media only screen and (min-width: 768px){
        #passengers-information-header .rewards-login .heading .txt{
            padding-left: 9% !important;
        }
    }
}

/*===============================
= Flight result table alignment Issues =
===============================*/

.tr{
    .modify-search .page-title{
        width: 75% !important;
    }

}

.ru{
    .meal-block .options button{
        font-size: 11.5px !important;
        @media only screen and (min-width : 991px){
            font-size: 11px !important;
            span{
                    padding-left:0px !important;
            }
        }
    }

    .flight-result-block .flight-options .flight-options-table .options-row.header .right-section a{
        width: 60% !important;     
        margin-bottom: 5px;
    }
}

.es{
    .meal-block .options button{
        font-size: 13.80px !important;
        @media only screen and (min-width : 991px){
            font-size: 13px !important;
            span{
                    padding-left:0px !important;
            }
        }
    }
    @media only screen and (max-width : 380px) {
        .dash-res-sum .reservation-details .col.contact-details .edit-pax{       
            max-width: 25% !important;
        } 
        #contact-information .heading .info{
            width: 110% !important;
        }
    }
    
}
.zh, .tr, .it, .ru{
    .flight-result-block .flight-options .flight-options-table .options-row .accordion-content .options-td{
        
        @media only screen and (max-width : 767px) {
            height: 100px !important;
        }
        
    }
}
.it{
    .flight-result-block .flight-options .flight-options-table .options-row.header .options-td.arrival-time{
        padding-left: 20px !important;
    }
}
.ru, .es, .fr, .it, .tr , .zh{
    .flight-result-block .flight-options .flight-options-table .options-row.body .options-td.departure-time{
        flex-grow:1;
        padding-top: 11px;
        
    }

    .flight-result-block .flight-options .flight-options-table .options-row.header .options-td.departure-time{
        flex-grow:1;
        padding-top: 0px;
    }

    .flight-result-block .flight-options .flight-options-table .options-row.body .options-td.flight-info{
        width:60%;
        padding: 0px 8px 0px 8px;
    }
    .flight-result-block .flight-options .flight-options-table .options-row.header .options-td.flight-info{
        width:60%;
        padding-left: 20px;
        padding-top: 0px;
    }
    .flight-result-block .flight-options .flight-options-table .options-row.body .options-td.arrival-time{
        width:15%;
        padding-left: 15px;
    }

    .flight-result-block .flight-options .flight-options-table .options-row.header .options-td.arrival-time{
        width:15%;
        padding-top: 0px;
        padding-left: 24px;
    }

}


/*=====  End of Flight result table alignment Issues   ======*/


/*===============================
= Common language translation Issues =
===============================*/

.modify-search .page-title{
    line-height: 35px !important;
}

.extras-container.insurance .extras-footer{
    margin-bottom: 0 !important;
}

.contact-information .form-footer{
    margin-bottom: 40px;
}

.content-footer.extras-footer{
    padding-bottom: 35px;
}

.summary-drawer .drawer-bar .drawer-icon, .reservation-drawer .drawer-bar .drawer-icon{
    height: 65px;
}

header ul:first-child li:not(.logo){
    position: relative;
    max-height: 70px;
    overflow: hidden !important;
    padding: 0px !important;
    table{
        display: inline-block;
        td{
            height:70px;
            vertical-align:middle;
            padding:0px 0px 0px 10px;
            span{
                max-height: 40px;
                overflow: hidden;
                word-wrap: break-word;
                br{
                    display: none;
                }
            }

            &:nth-child(2){
                padding: 0px 0px 0px 0px;
            }   
        }
    }
}

header ul:first-child li#search table td span{
    width: 100%;
}
header ul:first-child li#fare table td span{
    width: 100%;
}
header ul:first-child li#passenger table td span{
    width: 100%;
}
header ul:first-child li#extras table td span{
    width: 100%;
}
header ul:first-child li#payment table td span{
    width: 100%;
}
.flight-result-block .flight-options .options-row.body .right-section a .important-info {
    white-space: nowrap;
    max-width: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}
.extras-header.content-wrapper .content-header .page-title h1{
    span{
        display: inline-block;
        max-width: 70%;
        width: 70%;
        line-height: 30px;
        word-break: break-word;
    }
    a.skip{
        display: inline-block;
        max-width: 30%;
        width: 30%;
        line-height: 15px;
        word-break: break-word;
        text-align: right;
        margin-top: 9px;
    }

}

.en .extras-header.content-wrapper .content-header .page-title h1{
    span{
        max-width: 61%;
        width: 61%;

    }
    a.skip{

        max-width: 39%;
        width: 39%;
    }

}
.fa{
    .common-flight-summary{
        max-width: 75%;
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 0) and (max-device-width: 1024px){
        select{
            font-size: 1rem !important;
        }
    }
    .ibe-jquery-date-picker{
        .input-group{
            width: 100%;
            .ADMdtp-container{
                padding: 0;
                border: none;
            }
        }
    }
}


.LTR{
    .package-block.flexi-block .options-section {
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }
    .content-header .page-title h1{
        line-height: 30px !important;
    }
    .flight-result-block .page-title .main-text span.thin:first-child{
        /*height: 36px;*/
        display: inline-block;
        float:left;
        width: 25px;
    }
    .text-left{
        text-align: left !important;
    }
    .text-right{
        text-align: right !important;
    }
    @media only screen and (max-width:767px){
        .pad-l-10{
            padding-left: 10px;
        }
    }            
}

.summary-drawer .drawer-bar .drawer-bar-col.drawer-segment span:last-child{
  //  overflow: hidden;
    max-height: 65px;
    display: block;
}

@media only screen and (max-width:320px){
    .es{
        #contactinfo{
            margin-bottom: 10px !important;
        }  
    }
    .fr{
        #logininfo{
            margin-bottom: 10px !important;
        }
    }

}
@media only screen and (max-width:767px){
    .ru, .es, .fr, .it{
        .summary-drawer .drawer-bar .drawer-bar-title, .reservation-drawer .drawer-bar .drawer-bar-title {
            width: auto !important;
        }   
    }

    .ru{
        #regForm .reg-form .section .login-section-heading{
            margin-bottom: 18px !important;
        }  
        .contact-information .ibe-typeahead .input-option{
            white-space: normal;
        }
        .modify-search .btn-wrap #modify-search{
            right: 0px;
            line-height: 16px;
            padding: 10px 0 5px 10px !important;
        }
        .modify-search-currency{
            td:first-child{
                >a{
                    max-width: 80% !important;
                }
            }
            .cc-link .currancy-type{
                margin-left: -10px !important;
            }
        }

        .package-block .options-section .txt {
            padding-left: 0px !important
        }
        .reservation-header-btn .pull-right > button, .cm-footer .pull-right > button{
            padding:0px 5px;
        }
        .reservation-header-btn .pull-right > button, .cm-footer .pull-left > a{
            padding:0px 5px;
        }
        /*        .modify-search-currency #modify-search{
                    line-height: 15px;
                }*/
        /*        header ul:first-child li#passenger table td span{
                    width: 120px !important;
                }*/
        header ul:first-child li#extras table td span.normal-text{
            width: auto !important;
            max-width: 75% !important;
        }
        .fare-block .left-content {
            .total-info-width{        
                width: 65% !important;        
            }
            .description{
                width: 30% !important;
                margin-top: 3px !important;
            }
        }
        .multi-city-truncate{
            width: 100px !important;
        }
        .dash-res-sum .reservation-details .col .edit-pax{
            max-width: none !important;
        }
        .xs-passenger-header .heading-text .pax-info-width{
            max-width: 65% !important;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .contact-information .heading{
            >i{
                padding-left: 0 !important;
            }
        }
        .contact-details-div .edit-pax{
            max-width: 25% !important;
        }
        .extras-header .content-header .page-title > h1 > a{
            max-width: 100% !important;
            width: auto !important;
            padding-right: 10px !important;
        }
        .fare-block .left-content .description{
            float: right !important;
        }
    }
    .mr-r-0{
        margin-right: 0px;
    }
    .km{
        .edit-mobile > span{
            padding-left: 5px !important;
            padding-right: 5px !important;
        }
        .modify-flights-table .right-content .flight-row .select-flight{
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
    }
    .zh{
        .modify-search .page-title .main-text span.truncate{
            max-width: 235px !important;
            text-align: left; 
        }
        #paymentH2 .section-line {
            top: 15px !important;
        }
    }
    .fa{
        .ADMdtpInput {
            display: flex !important;
        }
        .right-section-fare.accordion-content a{
            min-height: 90px !important;
        }
        .dtp-ig{
            width: 40px !important;
        }
    }
    .tr{
        .left-section > .flight-data-row{
            padding-right: 10px !important;
            .arrival-time label{
                top: -3px !important;
            }
            .flight-price-lbl{
                padding-top: 12px !important;
            }
        }
        .flight-result-block .flight-options .flight-options-table .options-row .options-td.arrival-time{
            padding: 10px 10px 0px 8px !important;
        }
    }
    .it{
        #regForm .reg-form .section .login-section-heading{
            margin-bottom: 18px !important;
        }  
        .airwards-options .points-count {
            .truncate {
                white-space: unset;
                overflow: unset;
                text-overflow: unset;
            }  
        }
    }
    .es{
        .extras-header .content-header .page-title > h1 > a{
            max-width: 100% !important;            
            padding-right: 10px !important;
        }
    }
    .fr, .es {
        .dash-mod-flights .modify-flight-search .xs-select-flight span a {
            word-break: break-word;
        }
    }
    .tr, .ru {
        .payment-details .right-content .amount {
            .big-txt, .small-txt  {
                width: 50% !important;
                height: auto !important
            }
        }        
    } 
    .fa, .ar {
        .dash-res-sum .res-summary-extras {
            .xs-src-dest-name-rtl {
                direction: rtl;
                span {
                    display: inline-block;
                    direction: ltr;
                }
            }
            .ancilary-align-rtl {
                direction: ltr;
            }
        }
        .dash-res-sum .reservation-details .reservtion-status {
            float: left !important;
        }

    }
    .hy{
        .hy-inline-block{
            display:  inline-block;
            width: 200px;
        }
        .radio-btn-lbl{
            width: 100px;
        }
        .txt{
            width: 80px;
        }
        .hy-passport-expiry-lbl{
            max-width: 78%;
            display: inline-block;
        }
        .hy-expiry-card{
            display: inline-block;
            width: 180px;
        }
        .hy-contact-info{
            width: 170px;
        }
        .hy-xs-summary{
            width: 70%;
            height: 14px !important;
        }
        .xs-msearch{
            width: 70px !important;
        }
        .payments{
            h2{
                line-height: 16px !important;
            }
        }
        .hy-header-value{
            width: 110px;
        }
        .hy-xs-security-code{
            display: inline-block;
            width: 88px;
        }
    }
}

@media only screen and (min-width:768px) and (max-width:991px){
    .fr {
        .dash-footer .dash-foot-confirm-div {
            width: 45% !important;
        }
    }
    .zh {
        .modify-flights-table .right-content .modify-or-cancel .or i {
            padding: 0 !important;
        }
    }
    .es{
        .meals-search-box {
            .search-box {
                width: 67% !important;
            }
            .xs-btngroup {
                width: 100%;
            }
            .sort {
            	width: 33% !important;
            }
            .xs-fadown-icon {
                margin-left: 2px !important;
            }
        }
    }
}
@media only screen and (min-width:992px){
    .es{
        .meals-search-box {
            .search-box {
                width: 75% !important;
            }
            .xs-btngroup {
                width: 100%;
            }
            .xs-fadown-icon {
                margin-left: 2px !important;
            }
        }
    }
}
/*=====  End of Common language translation Issues  ======*/

@media only screen and (min-width : 768px) and (max-width : 1024px){
    /*
    .es header ul:first-child li#search {
        padding: 25px 15px;
        width: 132px;
    }
    .es header ul:first-child li#fare {
        width: 164px;
        padding: 25px 10px;
    }
    .fr header ul:first-child li:not(.logo) {
        padding: 15px 10px;
        width: 138px;
    }
    .it header ul:first-child li#search {
        padding: 25px 13px;
        width: 105px;
    }
    .ru header ul:first-child li#search {
        padding: 25px 15px;
        width: 115px;
    }
    */
}
