<div class="summary-drawer-overlay ng-cloak" ng-if="main.quoteStatus" ng-click="main.changeQuoteStatus()">

</div>

<div id="_canceldrawer" class="summary-drawer" ng-if="drawer.showSummaryDrawer" ng-class="{'mod-summary-drawer': main.quoteStatus}">
    <div class="drawer-desc fly-in-group ng-cloak" ng-if="drawer.quoteStatus">
        <div class="container pd-0">
            <div class="drawer-arrow text-center xs-drawer-arrow" ng-click="drawer.changeQuoteStatus()">
                <span class="dp-caret fa fa-chevron-down"></span>
            </div>
            <div class="flight-info-scroll" id="xs-modifydrawsumm-flight-info-scroll">
                <h2 class="xs-text-center xs-ttlsum-pricebreak">{{'lbl_modification_cancellationSummary' | translate}} {{drawer.priceBreakdown.pnr}}</h2>
                <h4 class="xs-text-center hidden-xs" translate="lbl_modification_cancellationDesc"
                    translate-values="{'currency': main.getSelectedCurrencyType()}">
                    All payment will be charged in {{main.getSelectedCurrencyType()}}. All other currencies are
                    for reference only</h4>
                <hr class="hidden-xs"/>
                <!--
                <div class="summary-flight-info" ng-repeat="item in drawer.priceBreakdown.priceItems ">
                    <div class="clearfix">
                        <span>{{item.name}}</span>
                        <span class="pull-right amount">
                            <span class="currency-text currency"></span>
                            <span class="font-weight-normal currency-value fare-value price pull-right"
                                  isa-connector="{{item.amount}}" with-decimal="true" decimal-points="2"></span>
                        </span>
                    </div>
                </div>
                -->


                <div class="clearfix">
                    <div class="flights-info-block hidden-xs">
                        <div ng-repeat="group in drawer.groupWiseSegment"
                             ng-init="parentIndex = $index"
                             class="sector-details"
                             ng-show="group.status !== 'CNX'">

                            <div ng-repeat="segment in group.segments" class="sector-flight-info">
                                <div class="flight-block" >
                                    <div class="div-plain-icon col-md-2 col-sm-2 col-xs-2" >
                                        <span ng-show="{{parentIndex == 0}}" class="icon-outbound-plane-small">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                            </span>
                                            <span ng-show="{{parentIndex == 1}}" class="icon-inbound-plane-small">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </span>
                                    </div>

                                    <div class="div-info col-md-10 col-sm-10 col-xs-8" >
                                        <h4>
                                            <label>{{segment.flight.originName}}</label>
                                            <span translate="msg_common_to">to</span>
                                            <label>{{segment.flight.destinationName}}</label>
                                        </h4>

                                        <div class="flight-no hidden-xs">
                                            <span class="fligh-no">
                                                 <label><i>{{segment.flight.flightNumber}}</i></label>
                                            </span>
                                        </div>
                                            <div class="flight-time">
                                            <span class="departure-arrival row xs-dep-arrival">
                                                <label><i class="i" translate="lbl_common_departure">Departure</i> <i>{{segment.flight.departureDate}} {{segment.flight.departureTime}}</i></label>
                                                <label><i class="i" translate="lbl_common_arrival">Arrival</i> <i>{{segment.flight.arrivalDate}} {{segment.flight.arrivalTime}}</i></label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="flight-no hidden-sm hidden-md hidden-lg col-xs-2">
                                        <span class="fligh-no">
                                             <label><i>{{segment.flight.flightNumber}}</i></label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flights-info-block hidden-md hidden-sm hidden-lg" style="padding-right: 3px !important;">
                        <div ng-repeat="group in drawer.groupWiseSegment"
                             class="sector-details"
                             ng-show="group.status !== 'CNX'">                            

                            <div ng-repeat="segment in group.segments" class="sector-flight-info" >
                                    <div class="flight-block" >
                                        <div class="div-plain-icon col-md-2 col-sm-2 col-xs-2" >
                                            <span ng-show="{{parentIndex == 0}}" class="icon-outbound-plane-small">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </span>
                                            <span ng-show="{{parentIndex == 1}}" class="icon-inbound-plane-small">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                            </span>
                                        </div>

                                        <div class="div-info col-md-10 col-sm-10 col-xs-8" >
                                            <h4 class="source-To-destination">
                                                <label>{{segment.flight.originName}}</label>
                                                <span translate="msg_common_to">to</span>
                                                <label>{{segment.flight.destinationName}}</label>
                                            </h4>

                                            <div class="flight-no hidden-xs">
                                                <span class="fligh-no">
                                                     <label><i>{{segment.flight.flightNumber}}</i></label>
                                                </span>
                                            </div>
                                            <div class="flight-time">
                                                <span class="departure-arrival">
                                                    <label class="departure-canceled-segment">
                                                        <i ng-class="{'canceled-segment':flightDrawer.selectedIndexStatus[segmentIndex]}" class="i departure-label" translate="lbl_common_departure">Departure</i>
                                                        <i class="departure-val direction-ltr">{{segment.flight.departureDate | convertFlightDateFilter}} {{segment.flight.departureTime}}</i>
                                                    </label>
                                                    <label class="arrival-canceled-segment">
                                                        <i ng-class="{'canceled-segment':flightDrawer.selectedIndexStatus[segmentIndex]}" class="i arrival-label" translate="lbl_common_arrival">Arrival</i>
                                                        <i class=" arrival-val direction-ltr">{{segment.flight.arrivalDate | convertFlightDateFilter}} {{segment.flight.arrivalTime}}</i>
                                                    </label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="flight-no pull-right hidden-sm hidden-md hidden-lg col-xs-2 source-To-destination-flightNo">
                                            <span class="fligh-no">
                                                 <label><i>{{segment.flight.flightNumber}}</i></label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="price-info-block xs-p-l-0">
                        <div class="hidden-sm hidden-md hidden-lg section-line" ><hr></div>
                        <span class="hidden-xs" style="font-size: 20px;">
                             <span translate="title_summary_drawer">Price breakdown for</span>
                            <span ng-repeat="pax in drawer.paxSummary">{{pax.count}}
                                <span ng-if="pax.type == 'AD'" translate="lbl_common_adult">Adult</span>
                                <span ng-if="pax.type == 'CH'" translate="lbl_common_child">Child</span>
                                <span ng-if="pax.type == 'IN'" translate="lbl_common_infant">Infant</span>
                            </span>
                        </span>
                        <span class="hidden-sm hidden-md hidden-lg" >
                            <span translate="title_summary_drawer" class="fontclass18" >Price breakdown for</span>
                            <span ng-repeat="pax in drawer.paxSummary" class="fontclass18" >{{pax.count}}
                                <span ng-if="pax.type == 'AD'" translate="lbl_common_adult" class="fontclass18" >Adult</span>
                                <span ng-if="pax.type == 'CH'" translate="lbl_common_child" class="fontclass18" >Child</span>
                                <span ng-if="pax.type == 'IN'" translate="lbl_common_infant" class="fontclass18" >Infant</span>
                            </span>
                        </span>

                        <!-- Passenger charge breakdown -->
                        <div class="clearfix row" ng-repeat="pax in drawer.paxSummary">
                            <span class="col-xs-7">{{pax.count}} x
                                <span ng-if="pax.type == 'AD'" translate="lbl_common_adult">Adult</span>
                                <span ng-if="pax.type == 'CH'" translate="lbl_common_child">Child</span>
                                <span ng-if="pax.type == 'IN'" translate="lbl_common_infant">Infant</span>
                            </span>
                            <span class="">
                                <span class="currency-text currency col-xs-2"></span>
                                <span class="col-xs-3 text-right" isa-connector={{pax.totalCharge}} with-decimal="true"></span>
                            </span>
                        </div>

                        <div class="clearfix row">
                            <span class="col-xs-7" translate="lbl_modify_airportTaxAndSurcharges">Airport Taxes and Surcharges</span>
                         <span class="">
                             <span class="currency-text currency col-xs-2"></span>
                             <span class="col-xs-3 text-right" isa-connector={{drawer.modifyCharges.taxSurcharge}} with-decimal="true"></span>
                         </span>
                        </div><!-- // Passenger charge breakdown -->

                        <hr class="divider"/>

                        <!--Price breakdown-->
                        <div class="clearfix row">
                            <span class="col-xs-7" translate="lbl_modify_totalNewSelect">Total New Selection</span>

                        <span class="">
                            <span class="currency-text currency col-xs-2"></span>
                            <span class="col-xs-3 text-right" isa-connector={{drawer.modifyCharges.postCharge}} with-decimal="true"></span>
                        </span>
                        </div>

                        <div class="clearfix row">
                            <span class="col-xs-7" translate="lbl_modify_previousPayment">Previous payment</span>
                        <span class="">
                            <span class="currency-text currency col-xs-2"></span>
                            <span class="col-xs-3 text-right">
                            	<span>-</span>
                            	<span class="text-right" isa-connector={{drawer.modifyCharges.previousCharge}} with-decimal="true"></span>
                            </span>
                        </span>
                        </div>

                        <div class="clearfix row">
                            <span class="col-xs-7" translate="lbl_modify_nonRefundableAmount">Non refundable amount</span>
                        <span class="">
                            <span class="currency-text currency col-xs-2"></span>
                            <span class="col-xs-3 text-right" isa-connector={{drawer.modifyCharges.nonRefundable}} with-decimal="true"></span>
                        </span>
                        </div>

                        <div class="clearfix row" ng-repeat="(key, charge) in drawer.modifyCharges.chargeInfo" ng-if="charge">
                            <span class="col-xs-7" translate="lbl_modify_modificationCharge" ng-if="key == 'modificationCharge'">Modification charge </span>
                            <span class="col-xs-7" ng-if="key == 'cancellationCharge'">Cancellation Charge </span>
                            <span class="col-xs-7" ng-if="key == 'penaltyCharge'">Penalty charge </span>

                            <span class="">
                                <span class="currency-text currency col-xs-2"></span>
                                <span class="col-xs-3 text-right" isa-connector={{charge}} with-decimal="true"></span>
                            </span>
                        </div><!--// Price breakdown-->

                        <hr class="divider">

                        <div class="total-credit">

                            <div class="clearfix row" ng-if="drawer.modifyCharges.credit">
                                <span class="col-xs-7" translate="drawer_remaining_credits">Remaining Credit</span>
                                <span class="">
                                    <span class="currency-text currency col-xs-2"></span>
                                    <span class="col-xs-3 text-right" isa-connector={{drawer.modifyCharges.credit}} with-decimal="true"></span>
                                </span>
                            </div>

                            <div class="clearfix row" ng-if="drawer.modifyCharges.total">
                                <span class="col-xs-7" translate="drawer_due_amount">Total Due Amount</span>
                                <span class="">
                                    <span class="currency-text currency col-xs-2"></span>
                                    <span class="col-xs-3 text-right" isa-connector={{drawer.modifyCharges.total}} with-decimal="true"></span>
                                </span>
                            </div>

                        </div>
                    </div>
                    
                    <!--<div class="price-info-block">-->

                        <!--&lt;!&ndash;Price breakdown&ndash;&gt;-->
                        <!--<div class="summary-flight-info" ng-repeat="item in drawer.priceBreakdown.priceItems ">-->
                            <!--<div class="clearfix">-->
                                <!--<span>{{item.name}}</span>-->
                                <!--<span class="pull-right amount">-->
                                    <!--<span class="currency-text currency"></span>-->
                                    <!--<span class="font-weight-normal currency-value fare-value price pull-right"-->
                                          <!--isa-connector="{{item.amount}}" with-decimal="true">-->
                                    <!--</span>-->
                                <!--</span>-->
                            <!--</div>-->
                        <!--</div>&lt;!&ndash;// Price breakdown&ndash;&gt;-->

                        <!--<hr class="divider"/>-->

                        <!--<div class="total-credit">-->
                            <!--<div class="clearfix">-->
                                <!--<span>Amount to be credited</span>-->

                                <!--<span class="pull-right">-->
                                    <!--<span class="currency-text currency"></span>-->
                                    <!--<span isa-connector={{drawer.priceBreakdown.finalCredit}}></span>-->
                                <!--</span>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->
                </div>


                <div ng-if="drawer.priceBreakdown.availableCredit > 0" class="clearfix section-total font-weight-bold">Available Credit
                    <span class="pull-right">
                            <span class="currency-text currency"></span>
                            <span class="font-weight-normal currency-value fare-value price font-weight-bold"
                              isa-connector="{{drawer.priceBreakdown.availableCredit}}" with-decimal="true" decimal-points="2"></span>
                    </span>
                </div>

<!--                    <hr>

                    <div class="clearfix sub-total">
                        <div class="pull-right">Amount to be credited<span class="amount">
                            <span class="currency-text currency"></span>&nbsp;
                            <span class="currency-value fare-value price font-weight-bold"
                                  isa-connector="{{drawer.priceBreakdown.finalCredit}}"
                                  with-decimal="true"
                                  decimal-points="2">
                            </span>
                           </span></div>
                    </div>-->

                <div class="row disclaimer">
                    <div class="col-sm-12">
                        <p class="xs-text-center"><span class="font-color-red">*</span> <span style="font-size: 1rem !important;" translate="lbl_modification_confirmCancel1">Click on 'Confirm Cancel Reservation' to continue with the cancellation. Applicable cancellation charges will be deducted and the balance amount will be credited to your account.
                        To use your credit for a new reservation, please contact our</span> <a style="font-size: 1rem !important;" ng-if="drawer.callCenterAvailable"  href="{{main.logoLink + '/call-centre'}}" translate="lbl_modification_confirmCancel2">Call Centre</a> <span ng-if="drawer.callCenterAvailable" translate="lbl_modification_confirmCancel3">in your region.</span> </p>
                    </div>
                </div>
                <h4  class="xs-text-center hidden-sm hidden-md hidden-lg ma-bt-1" translate="lbl_modification_cancellationDesc"
                    translate-values="{'currency': main.getSelectedCurrencyType()}" style="font-size: 1rem !important;">
                    All payment will be charged in {{main.getSelectedCurrencyType()}}. All other currencies are
                    for reference only</h4>
                <div class="row disclaimer xs-disclaimer">
                 <div ng-click="drawer.onConfirmCancelReservationClick()" id="btn-proceed-to-passenger"
                      class="btn red-btn btn-sm col-sm-6 hidden-xs hidden-md hidden-lg pull-right" style="min-width : 50%;"> <span translate="lbl_modification_confirmCancelReservation">Confirm Cancel Reservation</span>
                 </div>
                 <div ng-click="drawer.onConfirmCancelReservationClick()" id="btn-proceed-to-passenger"
                      class="btn red-btn btn-sm hidden-sm col-xs-12 pull-right" > <span translate="lbl_modification_confirmCancelReservation">Confirm Cancel Reservation</span>
                 </div>
                </div>

            </div>
        </div>
    </div>
    <div class="drawer-bar ng-cloak" ng-if="!drawer.quoteStatus">
        <div class="container pd-0 pd-bt-2 pd-tp-2" ng-click="drawer.changeQuoteStatus()">
            <div class="col-sm-12 col-xs-12 drawer-bar-col xs-text-center">
                CANCELLATION PRICE BREAKDOWN
            </div>
            <div class="drawer-arrow text-center xs-drawer-arrow" ng-click="drawer.changeQuoteStatus();$event.stopPropagation()"
                 ng-hide="drawer.quoteStatus">
                <span class="dp-caret fa fa-chevron-up"></span>
            </div>
        </div>
    </div>
</div>




