<div class="summary-drawer-overlay ng-cloak" ng-if="main.quoteStatus" ng-click="main.changeQuoteStatus()">

</div>
<div class="summary-drawer" ng-if="main.showSummaryDrawer" ng-class="{'mod-summary-drawer': main.quoteStatus}">
    <div class="drawer-desc fly-in-group name-change-drawer ng-cloak" ng-if="main.quoteStatus">
        <div class="container pd-0">
            <div class="drawer-arrow text-center" ng-click="main.changeQuoteStatus()" style="top: 0">
                <span class="dp-caret fa fa-chevron-down"></span>
            </div>
            <div class="container" ng-controller="NameChangeController as nameChange" id="xs-modify-namechange">
                <div class="flight-info-scroll">
                    <h2 class="xs-ttlsum-pricebreak">Summary of your passenger name change</h2>
                    <h4 translate="lbl_modification_cancellationDesc"
                        translate-values="{'currency': main.getSelectedCurrencyType()}" class="currency-charge-msg">
                        All payment will be charged in {{main.getSelectedCurrencyType()}}. All other currencies are
                        for reference only</h4>
                    <div class="hidden-sm hidden-md hidden-lg section-line"><hr></div>

                    <div class="clearfix">
                        <div class="flights-info-block">
                            <div ng-repeat="group in nameChange.groupWiseSegment"
                                 class="sector-details"
                                 ng-show="group.status !== 'CNX'">

                                <div ng-repeat="segment in group.segments" class="sector-flight-info" >
                                    <div class="flight-block" >
                                        <div class="div-plain-icon col-md-2 col-sm-2 col-xs-2" >
                                            <span ng-show="{{main.getFlightDirection(segment.flight.originCode, segment.flight.destinationCode,true) === 'outbound'}}" class="icon-outbound-plane-small">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </span>
                                            <span ng-show="{{main.getFlightDirection(segment.flight.originCode, segment.flight.destinationCode,true) === 'inbound'}}" class="icon-inbound-plane-small">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </span>
                                        </div>

                                        <div class="div-info col-md-10 col-sm-10 col-xs-8" >
                                            <h4>
                                                <label>{{segment.flight.originName}}</label>
                                                <span translate="msg_common_to">to</span>
                                                <label>{{segment.flight.destinationName}}</label>
                                            </h4>

                                            <div class="flight-no hidden-xs">
                                                <span class="fligh-no">
                                                    <label><i>{{segment.flight.flightNumber}}</i></label>
                                                </span>
                                            </div>
                                            <div class="flight-time">
                                                <span class="departure-arrival">
                                                    <label>
                                                        <i ng-class="{'canceled-segment':flightDrawer.selectedIndexStatus[segmentIndex]}" class="i" translate="lbl_common_departure">Departure</i>
                                                        <i class="direction-ltr">{{segment.flight.departureDate | convertFlightDateFilter}} {{segment.flight.departureTime}}</i>
                                                    </label>
                                                    <label>
                                                        <i ng-class="{'canceled-segment':flightDrawer.selectedIndexStatus[segmentIndex]}" class="i" translate="lbl_common_arrival">Arrival</i>
                                                        <i class="direction-ltr">{{segment.flight.arrivalDate | convertFlightDateFilter}} {{segment.flight.arrivalTime}}</i>
                                                    </label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="flight-no pull-right hidden-sm hidden-md hidden-lg col-xs-2">
                                            <span class="fligh-no">
                                                <label><i>{{segment.flight.flightNumber}}</i></label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="price-info-block modification-flow-summary">
                            <div class="hidden-sm hidden-md hidden-lg section-line"><hr></div>
                            <h2 class="price-breakdown-lbl">
                                <span translate="title_summary_drawer">Price Breakdown for</span>
                                    <span ng-repeat="pax in nameChange.paxSummary">
                                        <span ng-if="pax.type == 'AD'">
                                            <span class="xs-ttlsum-pricebreak" ng-show="pax.count == 1" translate="lbl_common_adultWithValue" translate-values="{a: '{{pax.count}}'}">{{pax.count}} Adult</span>
                                            <span class="xs-ttlsum-pricebreak" ng-hide="pax.count == 1" translate="lbl_common_a_adults" translate-values="{a: '{{pax.count}}'}">{{pax.count}} Adults</span>
                                        </span>
                                        <span ng-if="pax.type == 'CH'">
                                            <span class="xs-ttlsum-pricebreak" ng-show="pax.count == 1" translate="lbl_common_childWithValue" translate-values="{a: '{{pax.count}}'}">{{pax.count}} Child</span>
                                            <span class="xs-ttlsum-pricebreak" ng-hide="pax.count == 1" translate="lbl_common_a_children" translate-values="{a: '{{pax.count}}'}">{{pax.count}} Children</span>
                                        </span>
                                        <span ng-if="pax.type == 'IN'">
                                            <span class="xs-ttlsum-pricebreak" ng-show="pax.count == 1" translate="lbl_common_infantWithValue" translate-values="{a: '{{pax.count}}'}">{{pax.count}} Infant</span>
                                            <span class="xs-ttlsum-pricebreak" ng-hide="pax.count == 1" translate="lbl_common_a_infants" translate-values="{a: '{{pax.count}}'}">{{pax.count}} Infants</span>
                                        </span>
                                    </span>
                            </h2>
                            <!-- Passenger charge breakdown -->
                            <div class="clearfix" ng-repeat="pax in nameChange.paxSummary">
                                <span>{{pax.count}} x
                                    <span ng-if="pax.type == 'AD'" translate="lbl_common_adult">Adult</span>
                                    <span ng-if="pax.type == 'CH'" translate="lbl_common_child">Child</span>
                                    <span ng-if="pax.type == 'IN'" translate="lbl_common_infant">Infant</span>
                                </span>
                                <span class="pull-right">
                                    <span class="currency-text currency"></span>
                                    <span isa-connector={{pax.totalCharge}} with-decimal="true"></span>
                                </span>
                            </div>

                            <div class="clearfix">
                                <span translate="lbl_modify_airportTaxAndSurcharges">Airport Taxes and Surcharges</span>
                            <span class="pull-right">
                                <span class="currency-text currency"></span>
                                <span isa-connector={{nameChange.modifyCharges.taxSurcharge}} with-decimal="true"></span>
                            </span>
                            </div><!-- // Passenger charge breakdown -->

                            <hr class="divider hidden-xs"/>
                            <div class="hidden-sm hidden-md hidden-lg section-line"><hr></div>

                            <!--Price breakdown-->
                            <div class="clearfix">
                                <span translate="lbl_modify_totalNewSelect">Total New Selection</span>

                            <span class="pull-right">
                                <span class="currency-text currency"></span>
                                <span isa-connector={{nameChange.modifyCharges.postCharge}} with-decimal="true"></span>
                            </span>
                            </div>

                            <div class="clearfix">
                                <span translate="lbl_modify_previousPayment">Previous payment</span>
                            <span class="pull-right">
                                
                                <span class="currency-text currency"></span>
                                <span isa-connector={{nameChange.modifyCharges.previousCharge}} with-decimal="true"></span>
                            </span>
                            </div>

                            <div class="clearfix">
                                <span translate="lbl_modify_nonRefundableAmount">Non refundable amount</span>
                            <span class="pull-right">
                                <span class="currency-text currency"></span>
                                <span isa-connector={{nameChange.modifyCharges.nonRefundable}} with-decimal="true"></span>
                            </span>
                            </div>

                            <div class="clearfix" ng-repeat="(key, charge) in nameChange.modifyCharges.chargeInfo" ng-if="charge">
                                <span ng-if="key == 'modificationCharge'">Modification charge </span>
                                <span ng-if="key == 'cancellationCharge'">Cancellation Charge </span>
                                <span ng-if="key == 'penaltyCharge'">Penalty charge </span>

                                <span class="pull-right">
                                    <span class="currency-text currency"></span>
                                    <span isa-connector={{charge}} with-decimal="true"></span>
                                </span>
                            </div><!--// Price breakdown-->

                            <hr class="divider hidden-xs">
                            <div class="hidden-sm hidden-md hidden-lg section-line"><hr></div>

                            <div class="total-credit">

                                <div class="clearfix" ng-if="nameChange.modifyCharges.credit">
                                    <span translate="drawer_remaining_credits">Remaining Credit</span>
                                    <span class="pull-right">
                                        <span class="currency-text currency"></span>
                                        <span isa-connector={{nameChange.modifyCharges.credit}} with-decimal="true"></span>
                                    </span>
                                </div>

                                <div class="clearfix" ng-if="nameChange.modifyCharges.total">
                                    <span translate="drawer_due_amount">Total Due Amount</span>
                                    <span class="pull-right">
                                        <span class="currency-text currency"></span>
                                        <span isa-connector={{nameChange.modifyCharges.total}} with-decimal="true"></span>
                                    </span>
                                </div>

                            </div>
                        </div>

                        <!--<div class="price-info-block">-->

                        <!--&lt;!&ndash;Price breakdown&ndash;&gt;-->
                        <!--<div class="summary-flight-info" ng-repeat="item in nameChange.priceBreakdown.priceItems ">-->
                        <!--<div class="clearfix">-->
                        <!--<span>{{item.name}}</span>-->
                        <!--<span class="pull-right amount">-->
                        <!--<span class="currency-text currency"></span>-->
                        <!--<span class="font-weight-normal currency-value fare-value price pull-right"-->
                        <!--isa-connector="{{item.amount}}" with-decimal="true">-->
                        <!--</span>-->
                        <!--</span>-->
                        <!--</div>-->
                        <!--</div>&lt;!&ndash;// Price breakdown&ndash;&gt;-->

                        <!--<hr class="divider"/>-->

                        <!--<div class="total-credit">-->
                        <!--<div class="clearfix">-->
                        <!--<span>Amount to be credited</span>-->

                        <!--<span class="pull-right">-->
                        <!--<span class="currency-text currency"></span>-->
                        <!--<span isa-connector={{nameChange.priceBreakdown.finalCredit}}></span>-->
                        <!--</span>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--</div>-->
                    </div>

                    <!--                    <div>
                                            <div class="clearfix">
                                                <span>&nbsp;</span>
                                                <span class="pull-right charge-container title">
                                                    <span class="font-weight-bold before-fare">Before Modification</span>
                                                    <span class="font-weight-bold after-fare" >After Modification</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="summary-flight-info" ng-repeat="charge in nameChange.charges.chargeListToDisplay">
                                            <div class="clearfix">
                                                <span>{{charge.displayDescription}}</span>
                                                <span class="pull-right charge-container">
                                                    <span class="before-fare font-weight-normal currency-value fare-value price" isa-connector="{{charge.displayOldCharge}}"></span>
                                                    <span class="after-fare font-weight-normal currency-value fare-value price"
                                                          isa-connector="{{charge.displayNewCharge}}"></span>
                                                </span>
                                            </div>
                                        </div>
                    -->

                    <!--                    <div class="clearfix section-total font-weight-bold">Available Credit
                                            <span class="pull-right">
                                                    <span class="currency-text currency"></span>
                                                    <span class="font-weight-normal currency-value fare-value price font-weight-bold"
                                                          isa-connector="{{nameChange.charges.creditToDisplay}}"></span>
                                            </span>
                                        </div>

                                        <div class="clearfix sub-total">
                                            <div class="pull-right">Total Due Payment<span class="amount">
                                                 <span class="currency-text currency"></span>
                                                <span class="currency-value fare-value price font-weight-bold"
                                                      isa-connector="{{nameChange.charges.dueAmountToDisplay}}"></span>
                                               </span></div>
                                        </div>-->

                    <div class="row hidden-xs">
                        <div class="col-sm-8">
                            <span class="font-color-red">*</span>
                            <span translate="lbl_summary_drawer_termsText">By clicking Confirm button you
                                agree to the </span><a href="javascript:;" ng-click="main.showTermsAndConditions()" translate="lbl_common_terms">Terms and Conditions.</a>
                        </div>
                        <div class="col-sm-4">
                            <div ng-click="nameChange.onConfirmNameChange()" id="btn-proceed-to-passenger"
                                 class="btn red-btn btn-sm" >Confirm
                            </div>
                        </div>
                    </div>
                    
                    <div class="copyright-text hidden-sm hidden-md hidden-lg">
                        <sup class="red">*</sup>
                        <span translate="lbl_summary_drawer_termsText">By clicking Confirm button you agree to the</span>
                        <a href="javascript:;" ng-click="main.showTermsAndConditions()" translate="lbl_common_terms">Terms and Conditions.</a>
                    </div>
                    <div ng-click="nameChange.onConfirmNameChange()" id="btn-proceed-to-passenger"
                         class="hidden-md hidden-sm hidden-lg btn red-btn btn-sm" >Confirm
                    </div>

            </div>
        </div>
    </div>
    </div>
     <div class="drawer-arrow text-center name-change-arrow" ng-click="main.changeQuoteStatus();$event.stopPropagation()"
          ng-hide="main.quoteStatus" style="top: 0">
                <span class="dp-caret fa fa-chevron-up"></span>
            </div>
    <div class="drawer-bar name-change-drawer-bar ng-cloak" ng-if="!main.quoteStatus">
        <div class="container pd-0 pd-bt-2 pd-tp-2" ng-click="main.changeQuoteStatus()">
            <div class="col-sm-12 drawer-bar-col">
                Passenger Name Change Price Breakdown
            </div>
            </div>
        </div>
    </div>
    <!-- Terms and conditions -->
<div class="modal-box" ng-show="main.ismodalModal">
    <!-- Overlay -->
    <div class="overlay"></div><!-- // Overlay -->

    <!-- Modal Content -->
    <div class="modal-content" style="max-width: 900px;top:10%;max-height: 600px">

        <!-- Modal Header -->
        <div class="modal-header">
            <span ng-if="main.termsNCondition" class="text" translate="lbl_common_terms">Terms and Conditions.</span>
            <span ng-if="main.fareRules" class="text" translate="lbl_common_fare_rules_title">Fare rules</span>
            <span class="close-btn" ng-click="main.closePopup()">
                <i class="fa fa-times"></i>
            </span>
        </div><!-- // Modal Header -->

        <!-- Modal Body -->
        <div ng-if="main.termsNCondition" class="modal-body" style="max-height: 425px;overflow-y: auto">
            <p ng-bind-html="main.popUpData">

            </p>
        </div><!-- // Modal Body -->

		<div ng-if="main.fareRules">
           <span data-ng-repeat="fare in main.fareRulesDescriptions">
                <p ng-bind-html="fare">

                </p>
            </span>

        </div>

        <!-- Modal Footer -->
        <div class="modal-footer">

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">

                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <button class="button red-btn" type="button" ng-click="main.closePopup()"
                            translate="btn_summary_drawer_continue">Close and continue
                    </button>
                </div>
            </div>
        </div><!-- // Modal Footer -->
    </div><!-- // Modal Content -->
</div><!-- // Terms and conditions -->




