<div class="find-reservation">
<section class="dash-res-sum dashboard">
    <section class="content-wrapper">
        <div class="content-body">
            <div class="inside-content col-sm-8">
                    <div class="content-header">
                        <h1 class="page-title">
                            <span class="main-text">Find Reservation</span>
                        </h1>
                    </div>

                        <form name="lookup.findReservationFrm" novalidate ng-submit="lookup.findReservation($event)" target="_blank" id="manageBookingFrm">
                        <div class="col-sm-12">
                            <div class="col-md-9" >
                                <div class="row">
                                    <div class="form-group">
                                        <label >PNR Number </label><br/>
                                        <input type="text" class="form-control" id="txtPnr" name="txtPnr"  ng-required="true" ng-model="lookup.model.searchCriteria.pnr"/>
                                        <div ng-show="lookup.findReservationFrm.$submitted || lookup.findReservationFrm.txtPnr.$touched" class="ng-hide has-error text-danger">
                                            <div ng-show="lookup.findReservationFrm.txtPnr.$error.required">PNR is required!</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label >Contact Person Last Name</label><br/>
                                        <input type="text" id="txtLastName" class="form-control" name="txtLastName" ng-model="lookup.model.searchCriteria.lastName" ng-required="true"/>
                                        <div ng-show="lookup.findReservationFrm.$submitted || lookup.findReservationFrm.txtLastName.$touched" class="ng-hide has-error text-danger">
                                            <div ng-show="lookup.findReservationFrm.txtLastName.$error.required">Last Name is required!</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label >Departure Date</label><br/>
                                        <input type="text" id="txtModDepData" class="form-control"  name="txtModDepData"
                                               show-button-bar="false"
                                               show-weeks="false"
                                               uib-datepicker-popup="{{lookup.model.dateFormat}}"
                                               ng-model="lookup.model.searchCriteria.departureDate"
                                               datepicker-options="lookup.model.dateOptions"
                                               is-open="lookup.model.departureDateOpened"
                                               ng-required="true" close-text="Close"
                                               ng-click="lookup.model.departureDateOpened =!lookup.model.departureDateOpened"/>
                                        <div ng-show="lookup.findReservationFrm.$submitted || lookup.findReservationFrm.txtModDepData.$touched" class="ng-hide has-error text-danger">
                                            <div ng-show="lookup.findReservationFrm.txtModDepData.$error.required">Departure Date required!</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-footer form-group">
                                        <br/>
                                        <button class="button red-btn" type="submit">Find Reservation</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </section>
</section>
</div>