<section class="dash-res-sum dashboard">

    <section class="content-wrapper">
        <!--        <div class="back-bar" ng-show="reservation.isUserLoggedIn">
                    <a href="" ng-click="reservation.backToHome()" translate="lbl_modify_backToDash">Back to Dashboard</a>
                </div>-->
        <!-- Content header -->
        <div id="header-wrapper" class="content-header res-load-content-header" >

            <!-- Page Title -->
            <h1 class="page-title col-sm-7 hidden-xs">
                <span translate="title_confirm_reservation">Reservation Summary</span>
            </h1>
            <!-- // Page Title -->
            <!-- Page Title xs -->
            <div class=" row hidden-md hidden-sm hidden-lg" id="modify-dash-heading">
                <h1 class="page-title col-xs-8 truncate">
                    <span translate="title_confirm_reservation">Reservation Summary</span>
                </h1>
                <span class=" hidden-sm hidden-md hidden-lg back-bar col-xs-4 text-right pull-right" id="reservation-to-dash"  ng-show="reservation.isUserLoggedIn">
                    <a href="" ng-click="reservation.backToHome()" translate="lbl_modify_backToDash">Back to Dashboard</a>
                </span>
            </div>
            <div class="hidden-sm hidden-md hidden-lg section-line xs-section-line" ><hr></div>
            <!-- //Page Title xs -->

            <div class="btn-wrap col-md-3 col-sm-4 col-xs-12 pull-right btn-cancel-res" ng-show="reservation.model.isCancelReservationEnable" ng-if="!deviceType.isMobileDevice">
                <span class="button red-btn" ng-click="reservation.onCancelReservationClick()" translate="lbl_modification_cancelReservation">Cancel Reservation</span>
            </div>
            <div class="btn-wrap col-md-3 col-sm-4 col-xs-12 pull-right pd-rt-0" ng-show="reservation.model.isPayAndConfirmEnable" >
                <span class="button red-btn" ng-click="reservation.onMakePaymentClick()">Make Payment</span>
            </div>

        </div><!-- // Content header -->
        <div class="hidden-xs back-bar text-right" ng-class="{'back-common-btn': !reservation.model.isCancelReservationEnable}" ng-show="reservation.isUserLoggedIn">
            <a href="" ng-click="reservation.backToHome()" translate="lbl_modify_backToDash">Back to Dashboard</a>
        </div> 


        <!--        <div class="hidden-xs back-bar" style="text-align: right;" ng-show="reservation.isUserLoggedIn" ng-if="!deviceType.isLargeDevice || !deviceType.isSmallDevice">
                    <a href="" class="pull-right" ng-click="reservation.backToHome()" translate="lbl_modify_backToDash">Back to Dashboard</a>
                </div>-->

        <!-- Content Body -->
        <div class="content-body">

            <!-- Row -->
            <div class="row">

                <!-- Inside Content -->
                <div class="inside-content col-sm-12">


                    <!-- Details -->
                    <div class="reservation-detail-first-sect flight-summary-container reservation-details section col-xs-12" id="paxSelect" style="margin-bottom: 0;">
                        <div class="row hidden-sm hidden-md hidden-lg" ng-show="reservation.isBalanceAvailable">
                            <div class="col-sm-12 col-md-12 col-xs-12 validation-msg" translate="lbl_modify_ohHoldMessage">
                                Your booking has a balance to be paid, please press the “Make payment” button to finish the payment.
                            </div>
                        </div>	
                        <div class="row">
                            <div class="col col-sm-5 col-xs-12 reservation-btn-col">
                                <h2 class="reservation-detail-first-title pull-left truncate booking-details-h2 col-xs-6 col-sm-9 pd-l-0 pd-r-0" translate="lbl_confirm_booking">Booking Details</h2>
                                <div class="btn-wrap cancel-res-rtl pd-0  col-xs-5 pull-right" ng-show="reservation.model.isCancelReservationEnable" ng-if="deviceType.isMobileDevice" >
                                    <span class="button truncate red-btn" ng-click="reservation.onCancelReservationClick()" translate="lbl_modification_cancelReservation">Cancel Reservation</span>
                                </div>
                                <ul>
                                    <li>
                                        <label  class="reservation-number"translate="lbl_confirm_reservNum">Reservation Number</label>                                       
                                        <span  class="pnr-number text-left">{{reservation.model.bookingDetails.pnr}} <span class="fa-status reservtion-status pd-lt-10"><i class="fa" ng-class="{'confirmed fa-check-circle':reservation.model.bookingDetails.statusCode == 'CNF','canceled':reservation.model.bookingDetails.statusCode == 'CNX','hold fa-check-circle':reservation.model.bookingDetails.statusCode == 'OHD','fa-times-circle': reservation.model.bookingDetails.statusCode == 'CNX' }"></i>{{reservation.model.bookingDetails.status}}</span></span>                                        
                                    </li>
                                    <li>
                                        <label translate="lbl_confirm_reservDate">Date of Booking</label>
                                        <span class=" text-left direction-ltr">{{reservation.model.bookingDetails.bookingDate}}</span>
                                    </li>
                                    <li>
                                        <label translate="lbl_common_totalPaid">Total amount paid</label>
                                        <span class="text-left dir-exc">
                                            <span class="amount" 
                                            isa-connector="{{reservation.model.bookingDetails.amountPaid}}"
                                             with-decimal="true" 
                                             decimal-points="2"></span> <span class="currency-text currency"></span> </span>
                                    </li>
                                    <li ng-show="reservation.model.bookingDetails.policyId">
                                        <label translate="lbl_confirm_policyCode">Policy Code</label>
                                        <span class=" text-left">{{reservation.model.bookingDetails.policyId}}</span>
                                    </li>
                                    <li><div class="hidden-sm hidden-md hidden-lg section-line" style="margin: 0;" ><hr></div></li>                                                               
                                </ul>                                
                            </div>

                            <div class="col col-sm-3 col-xs-12 hidden-xs passengers">
                                <div>
                                    <h2 translate="msg_common_passenger">Passengers</h2>
                                    <a href="" class="edit-pax truncate" ng-show="reservation.model.isNameChangeEnable" ng-click="reservation.onEditPassengerClick();"><i class="fa fa-pencil"></i><label translate="lbl_common_edit" class="ru-edit-label truncate lbl-edit-pax reservation-edit-lbl">edit</label></a>
                                </div>
                                <div class="pax-count-lbl">
                                    {{reservation.model.passengerDetails.paxCountTxt}}
                                </div>

                                <ul>
                                    <li ng-repeat="pax in reservation.model.passengerDetails.allPassengers" ng-if="$index < 2">
                                        <label>{{pax.title}} {{pax.firstName}} {{pax.lastName}}</label>
                                    </li>

                                    <li ng-if="reservation.model.passengerDetails.allPassengers.length > 2">
                                        <label>
                                            <a href="" ng-click="reservation.showPopup()">+{{ reservation.model.passengerDetails.allPassengers.length - 2}} more</a>
                                        </label>
                                    </li>
                                </ul>

                                <!-- popup -->
                                <div class="section-popup fade" ng-class="{'show in': reservation.blockSection}" ng-style="reservation.popupPos" >
                                    <div class="header col-sm-12">
                                        <label>Passengers {{name}}</label>
                                        <a href="javascript:;" class="pull-right" ng-click="reservation.closePopup()"><i class="fa fa-close"></i></a>
                                    </div>
                                    <div class="panelBody col-sm-12">

                                        <div class="content">
                                            <ul>
                                                <li ng-repeat="pax in reservation.model.passengerDetails.allPassengers">
                                                    <label title="{{pax.firstName}} {{pax.lastName}}" class="truncate popup-lbl">{{ pax.firstName}} {{ pax.lastName}}</label>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <!--  <div class="section-mask" ng-style="applyMask" ng-click="reservation.closePopup()"></div>-->
                                <!-- // popup  -->                                
                            </div>

                            <!--Passeger  div mobile  start   -->
                            <div class="col col-sm-3 col-xs-12 passerger-xs-div hidden-lg hidden-md hidden-sm passengers passenger-div-xs">
                                <uib-accordion >
                                    <div uib-accordion-group class="panel-default" is-open="status.open" >
                                        <uib-accordion-heading>

                                            <div  class="col-xs-12 passengers-list-div">
                                                <span class="pull-left fa pd-lt-10" ng-class="{'fa-angle-up': status.open, 'fa-angle-down': !status.open}"></span>

                                                <h2 class="pull-left" translate="msg_common_passenger">Passengers</h2>
                                                <a href="" class="edit-pax pull-right" ng-show="reservation.model.isNameChangeEnable && status.open" ng-click="reservation.onEditPassengerClick();"><i class="fa fa-pencil"></i><label translate="lbl_common_edit" class="ru-edit-label reservation-edit-lbl lbl-edit-pax">edit</label></a>
                                            </div>
                                        </uib-accordion-heading>
                                        <div class="pax-count-lbl">
                                            {{reservation.model.passengerDetails.paxCountTxt}}
                                        </div>

                                        <ul>
                                            <li ng-repeat="pax in reservation.model.passengerDetails.allPassengers" ng-if="$index < 2">
                                                <label>{{pax.firstName}} {{pax.lastName}}</label>
                                            </li>

                                            <li ng-if="reservation.model.passengerDetails.allPassengers.length > 2">
                                                <label>
                                                    <a href="" ng-click="reservation.showPopup()">+{{ reservation.model.passengerDetails.allPassengers.length - 2}} more</a>
                                                </label>
                                            </li>
                                        </ul>

                                        <!-- popup -->
                                        <div class="section-popup fade" ng-class="{'show in': reservation.blockSection}" ng-style="reservation.popupPos" >
                                            <div class="header col-xs-12 col-sm-12 pd-tp-1" style="height: 30px">
                                                <label class="pull-left" style="width: auto">Passengers {{name}}</label>
                                                <a href="javascript:;" class="pull-right" ng-click="reservation.closePopup()"><i class="fa fa-close"></i></a>
                                            </div>
                                            <div class="panelBody col-xs-12 col-sm-12">

                                                <div class="content">
                                                    <ul>
                                                        <li ng-repeat="pax in reservation.model.passengerDetails.allPassengers">
                                                            <label title="{{pax.firstName}} {{pax.lastName}}" class="truncate popup-lbl">{{ pax.firstName}} {{ pax.lastName}}</label>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                        <!--  <div class="section-mask" ng-style="applyMask" ng-click="reservation.closePopup()"></div>-->
                                        <!-- // popup  -->
                                    </div>
                                </uib-accordion>
                                <div class="hidden-sm hidden-md hidden-lg section-line" ><hr></div>
                            </div>
                            <!--Passenger  div mobile end   -->

                            <div class="col col-sm-4 col-xs-12 contact-details pd-r-1 pd-l-1 hidden-xs" style="">
                                <div>
                                    <h2 translate="lbl_common_contactInfo">Contact Details</h2><a href="" class="edit-pax truncate" ng-show="reservation.model.isContactEnable" ng-click="reservation.onEditContactClick();"><i class="fa fa-pencil"></i> <label class="ru-edit-label reservation-edit-lbl truncate" translate="lbl_common_edit">edit</label></a>
                                </div>

                                <!--                                </uib-accordion-heading>-->
                                <ul>
                                    <li>
                                        <label translate="lbl_common_paxname">Name </label>
                                        <span>{{reservation.model.contactInfo.title| salutationFilter}} {{reservation.model.contactInfo.firstName}} {{reservation.model.contactInfo.lastName}}</span>
                                    </li>
                                    <li ng-if="!!reservation.model.contactInfo.emailAddress">
                                        <!-- <label>Address</label>
                                        <span>{{reservation.model.contactInfo.address.streetAddress1}} {{reservation.model.contactInfo.address.streetAddress2}} {{reservation.model.contactInfo.address.city}}</span> -->
                                        <label translate="lbl_common_email">Email</label>
                                        <span>{{reservation.model.contactInfo.emailAddress}}</span>
                                    </li>
                                    <li>
                                        <label translate="lbl_common_mobile">Mobile</label>
                                        <span> {{reservation.model.contactInfo.mobileNumber && reservation.model.contactInfo.mobileNumber.number ? '+' + reservation.model.contactInfo.mobileNumber.countryCode + ' ' + reservation.model.contactInfo.mobileNumber.areaCode + ' ' +  reservation.model.contactInfo.mobileNumber.number: '-'}}</span>
                                    </li>
                                </ul>
                            </div>

                            <!--Contact div start for xs device-->

                            <div class="col col-sm-5 col-xs-12 contact-details contact-xs-div hidden-lg hidden-md hidden-sm" style="">
                                <uib-accordion >
                                    <div uib-accordion-group class="panel-default" is-open="status.open" >
                                        <uib-accordion-heading>
                                            <div class="col-xs-12 contact-details-div">
                                                <span class="pull-left fa  pd-lt-10" ng-class="{'fa-angle-up': status.open, 'fa-angle-down': !status.open}"></span>
                                                <h2 class="pull-left hy-contact-info truncate" translate="lbl_common_contactInfo">Contact Details</h2><a href="" class="edit-pax pull-right pd-lt-10 truncate" ng-show="reservation.model.isContactEnable && status.open" ng-click="reservation.onEditContactClick();"><i class="fa fa-pencil"></i> <label class="ru-edit-label reservation-edit-lbl truncate" translate="lbl_common_edit">edit</label></a>
                                            </div>
                                        </uib-accordion-heading>

                                        <ul>
                                            <li>
                                                <label translate="lbl_common_paxname">Name </label>
                                                <span class="text-left" id="contactdetail-span">{{reservation.model.contactInfo.title| salutationFilter}} {{reservation.model.contactInfo.firstName}} {{reservation.model.contactInfo.lastName}}</span>
                                            </li>
                                            <li ng-if="!!reservation.model.contactInfo.emailAddress">
                                                <!-- <label>Address</label>
                                                <span>{{reservation.model.contactInfo.address.streetAddress1}} {{reservation.model.contactInfo.address.streetAddress2}} {{reservation.model.contactInfo.address.city}}</span> -->
                                                <label class = "truncate" translate="lbl_common_email">Email</label>
                                                <span class="text-left">{{reservation.model.contactInfo.emailAddress}}</span>
                                            </li>
                                            <li>
                                                <label translate="lbl_common_mobile">Mobile</label>
                                                <span class="text-left direction-ltr"> {{reservation.model.contactInfo.mobileNumber && reservation.model.contactInfo.mobileNumber.number ? '+' + reservation.model.contactInfo.mobileNumber.countryCode + ' ' + reservation.model.contactInfo.mobileNumber.areaCode + ' ' +  reservation.model.contactInfo.mobileNumber.number: '-'}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </uib-accordion>
                                <div class="hidden-sm hidden-md hidden-lg section-line" ><hr></div>
                            </div>

                            <!--Contact div end for xs device-->
                        </div>
                    </div>
                </div><!-- // Details -->

                <div class="col-sm-12 col-md-12 validation-msg hidden-xs" ng-show="reservation.isBalanceAvailable"  translate="lbl_modify_ohHoldMessage">
                    Your booking has a balance to be paid, please press the “Make payment” button to finish the payment.
                </div>
                <div class="hidden-xs hidden-md hidden-lg" ng-show="!reservation.isBalanceAvailable">
                    <br/>
                </div>

                <!-- Reservation Extras -->
                <div class="hidden-xs reservation-extras section" ng-show="reservation.showAncillaryList && reservation.model.ancillaries.length != 0" no-mouse is-no-mouse-active="!reservation.model.isAncillaryModificationEnable">
                    <div class="col-xs-12">
                        <h2 class="pull-left" translate="lbl_common_modifyExtras">Your Extras</h2>
                        <div isaoptionlist option-click="reservation.loadModifyOptions(id)" source="reservation.model.ancillaries" template="modificationExtras" dropdown-source=""></div>
                    </div>
                </div>
                <div class="col-xs-12 extra-xs-div hidden-sm hidden-md hidden-lg reservation-extras section" ng-show="reservation.showAncillaryList && reservation.model.ancillaries.length != 0" no-mouse is-no-mouse-active="!reservation.model.isAncillaryModificationEnable">

                    <uib-accordion >
                        <div uib-accordion-group class="panel-default" is-open="status.open" >
                            <uib-accordion-heading>
                                <div class="col-xs-12 extra-details-div pd-rt-0">
                                    <span class="pull-left fa pd-lt-10" ng-class="{'fa-angle-up': status.open, 'fa-angle-down': !status.open}"></span>
                                    <h2 translate="lbl_common_modifyExtras" class="heading-text pd-rt-25">Your Extras</h2>
                                </div>
                            </uib-accordion-heading>

                            <!--{{reservation.model.reservationSegments}}-->
                            <div isaoptionlist option-click="reservation.loadModifyOptions(id)" duplicate-index="reservation.duplicateIndex" duplicate-indexlength="reservation.duplicateIndexLength" flight="reservation.model.reservationSegments2" ond-prefernces="reservation.ondPreferrences"  selected-ancillaries="reservation.selectedAncillaries" source="reservation.model.ancillaries" baggage-for-sector-first="reservation.baggageForSectorFirst" baggage-for-sector-second="reservation.baggageForSectorSecond" template="modificationExtras" dropdown-source=""></div>
                        </div>
                    </uib-accordion>    
                    <div class="hidden-sm hidden-md hidden-lg section-line" ><hr></div>

                </div><!-- // Reservation Extras -->


                <!-- Flight Summary -->
                <div class="flight-summary flight-summary-container section col-xs-12 hidden-xs">
                    <div class="row ma-bt-4">
                        <!-- <h2 class="title col-sm-8"> Summary</h2> -->

                        <div class="col-sm-12">
                            <h1 class="title col-sm-7 col-xs-6 pull-left">
                                <label translate="lbl_common_flightSummary">Flight Summary</label>
                            </h1>

                            <div class="btn-wrap col-md-3 col-sm-4 col-xs-6 pull-right pd-r-0" ng-show="reservation.model.isSegmentModificationEnable">
                                <span class="button red-btn"
                                      ng-if="reservation.model.reservationSegments.length == 1"
                                      ng-click="reservation.onModifyFlightClick()" ><label translate="lbl_common_modifyFlight" >Modify Flight</label></span>

                                <span class="button red-btn xs-fs-12"
                                      ng-if="reservation.model.reservationSegments.length != 1"
                                      ng-click="reservation.onModifyFlightClick()" translate="lbl_common_modifyCancelFlight" >Modify or Cancel Flights</span>
                            </div>
                        </div>
                    </div>

                    <!--Reservation Flight Details List-->
                    <div isaoptionlist 
                         option-click="reservation.loadModifyOptions(id)" 
                         source="reservation.model.reservationSegments" 
                         template="modificationFlightSegment" dropdown-source=""></div>

                </div><!-- // Flight Summary -->
                <!-- Reservation Extras -->
                <!--<div  class="reservation-extras section" ng-show="reservation.showAncillaryList && reservation.model.ancillaries.length != 0" no-mouse is-no-mouse-active="!reservation.model.isAncillaryModificationEnable">-->
                    <!-- <h2 translate="lbl_common_modifyExtras">Your Extras</h2> -->

                    <!-- <div isaoptionlist 
                    option-click="reservation.loadModifyOptions(id)" 
                    source="reservation.model.ancillaries" 
                    template="modificationExtras" dropdown-source="">
                </div> -->


                    <!--Flight summary starts for xs device-->

                    <div class="flight-summary section flight-summary-xs-div col-xs-12 hidden-lg hidden-md hidden-sm">
                        <uib-accordion >
                            <div uib-accordion-group class="panel-default" is-open="status.open" >

                                <uib-accordion-heading> 
                                    <!-- <span class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-up': !status.open}"></span> -->
                                    <div class="row ma-bt-4 flight-summary-div-4 mr-r-0">
                                        <!-- <h2 class="title col-sm-8"> Summary</h2> -->
                                        <!-- <span class="pull-left glyphicon flight-summary-glyphion " ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-down': !status.open}"></span> -->
                                        <div class="col-xs-12 pd-l-0 col-sm-12 flight-summary-heading pd-lt-15 pd-rt-15" style="padding-right:0;max-height: 46px !important">

                                            <h1 class="title col-sm-7 col-xs-7 pd-rt-0 pull-left">
                                                <span class="pull-left fa flight-summary-glyphion pd-lt-10" ng-class="{'fa-angle-up': status.open, 'fa-angle-down': !status.open}"></span>
                                                <label class="pad-l-10 truncate common-flight-summary" ng-class="{'max-width-90-per':reservation.model.isSegmentModificationEnable}"  translate="lbl_common_flightSummary">Flight Summary</label>
                                            </h1>

                                            <div class="btn-wrap col-md-4 col-sm-5 col-xs-5 pull-right pd-r-0" ng-show="reservation.model.isSegmentModificationEnable">
                                                <span class="button red-btn truncate"
                                                      ng-if="reservation.model.reservationSegments.length == 1"
                                                      ng-click="reservation.onModifyFlightClick();$event.stopPropagation()" ><label translate="lbl_common_modifyFlight" >Modify Flight</label></span>

                                                <span class="button red-btn truncate xs-fs-12 pd-l-0 pd-r-0"
                                                      ng-if="reservation.model.reservationSegments.length != 1"
                                                      ng-click="reservation.onModifyFlightClick();$event.stopPropagation()" translate="lbl_common_modifyCancelFlight" >Modify or Cancel Flights</span>
                                            </div>
                                        </div>
                                    </div>
                                </uib-accordion-heading>
                                <!--Reservation Flight Details List-->
                                <div 
                                    isaoptionlist 
                                    option-click="reservation.loadModifyOptions(id)" 
                                    source="reservation.model.reservationSegments" 
                                    template="modificationFlightSegment" 
                                    dropdown-source=""></div>
                            </div>
                        </uib-accordion>
                        <div class="hidden-sm hidden-md hidden-lg section-line" style="margin-left:0 !important;" ><hr></div>
                    </div>

                    <!--Reservation Flight Details List-->
                    <!-- <div isaoptionlist option-click="reservation.loadModifyOptions(id)" source="reservation.model.reservationSegments" template="modificationFlightSegment" dropdown-source=""></div> -->

                    <!--Flight summary for xs device ends-->

                    <!-- Flexi details -->
                    <div class="col-xs-12 flight-summary flight-summary-container section hidden-xs" ng-if="reservation.model.flexiInfoList.length > 0">
                        <div class="row ma-bt-4">

                            <div class="col-sm-12">
                                <h1 class="title col-sm-9 col-xs-12 pull-left">
                                    Reservation Flexibilities
                                </h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="flight-table col-xs-12 reservation-flexibility-heading pd-l-0 pd-r-0">
                                <div class="ft-row ft-heading col-xs-12 reservation-flexibility-heading">
                                    <div class="col col-1 col-xs-4 ond" translate="lbl_common_originDest">Origin / Destination</div>
                                    <div class="col col-2 col-xs-8 departure">Flexibilities</div>
                                </div>
    
                                <div class="col-xs-12 reservation-flexibility-heading ft-row" ng-repeat="flexiInfo in reservation.model.flexiInfoList">
                                    <div class="col col-1 col-xs-4 ond" ng-class="obj.flight.status">
                                        <span>{{flexiInfo.segmentCode}}</span>
                                    </div>
                                    <div class="pd-1 col-xs-8">
                                        <span>{{flexiInfo.flexiDetails}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div><!-- // Flexi details -->

                    <!--                    Flexi details div starts for xs device-->
                    <div class="col-xs-12 flight-summary section flexi-detail-xs-div hidden-lg hidden-md hidden-sm pd-l-0 pd-r-0" style="padding-left: 0px!important;" ng-if="reservation.model.flexiInfoList.length > 0">
                        <uib-accordion >
                            <div uib-accordion-group class="panel-default" is-open="status.open" >

                                <uib-accordion-heading>

                                    <div class="row ma-bt-4 flight-summary-div-4" style="margin-left: 15px; margin-right: 15px;">
                                        <span class="pull-left fa flexi-details-glyphion" ng-class="{'fa-angle-up': status.open, 'fa-angle-down': !status.open}" style="margin-top: 0px !important;"></span>
                                        <div class="col-sm-12 flexi-details-heading">
                                            <h1 class="pull-left Reser-flexi" class="title col-sm-9 col-xs-12">
                                                Reservation Flexibilities
                                            </h1>
                                        </div>
                                    </div>
                                </uib-accordion-heading>
                                <div class="flight-table col-xs-12 reservation-flexibility-heading">
                                    <div class=" ft-heading reservation-flexibility-heading"  ng-repeat="flexiInfo in reservation.model.flexiInfoList">
                                        <div class="row col-xs-12">
                                            <div class="col col-1 col-xs-5 ond flexibility-summary-heading" translate="lbl_common_originDest">Origin / Destination</div>
                                            <div class="col-xs-7" ng-class="obj.flight.status">
                                                <span>{{flexiInfo.segmentCode}}</span>
                                            </div>
                                        </div>
                                        <div class="row col-xs-12">
                                            <div class="col col-1 col-xs-5 ond flexibility-summary-heading">Flexibilities</div>
                                            <div class="col-xs-7">
                                                <span>{{flexiInfo.flexiDetails}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-accordion>
                        <div class="hidden-sm hidden-md hidden-lg section-line" ><hr></div>
                    </div>

                    <!--                    Flexi details div ends for xs device-->


                    <!-- Promotional Details Summary -->
                    <div class="flight-summary section payment-details promo-detail-container hidden-xs" ng-show="reservation.model.promoInfo">
                        <div class="ma-bt-4">
                            <div class="col-sm-12 pd-l-3">
                                <h1 class="title col-sm-9">
                                    Promotional Details
                                </h1>
                            </div>
                        </div>

                        <!-- Content -->
                        <div class="content promo-detail-content">
                            <ul>
                                <li>{{reservation.model.promoInfo.promoType}} Promotion</li>

                                <!-- Discount promotion VALUE-->
                                <li ng-if="reservation.model.promoInfo.promoType === 'Discount' && reservation.model.promoInfo.discountType !== 'PERCENTAGE'">
                                    Up to {{reservation.baseCurrency}} {{reservation.model.promoInfo.value| number:2}} Discounts on {{reservation.model.promoInfo.appliedTo}}</li>
                                <li ng-if="reservation.model.promoInfo.promoType === 'Discount' && reservation.model.promoInfo.discountType !== 'PERCENTAGE'">
                                    Total Discount of {{reservation.baseCurrency}} {{reservation.model.promoInfo.appliedTotal| number:2}}</li>
                                <!-- // Discount promotion VALUE-->

                                <!-- Discount promotion PERCENTAGE -->
                                <li ng-if="reservation.model.promoInfo.promoType === 'Discount' && reservation.model.promoInfo.discountType === 'PERCENTAGE'">
                                    Up to {{reservation.model.promoInfo.value| number:2}} % Discounts on {{reservation.model.promoInfo.appliedTo}}</li>
                                <!-- // Discount promotion PERCENTAGE -->

                                <!-- Buy one get one free -->
                                <li ng-if="reservation.model.promoInfo.promoType === 'Buy And Get Free'">
                                    Free Passenger Count - {{reservation.model.promoInfo.appliedAdults}} Adult(s), {{reservation.model.promoInfo.appliedChilds}} Children(s), {{reservation.model.promoInfo.appliedInfants}} Infants(s)
                                </li>
                                <!-- // Buy one get one free -->

                                <li>Modification
                                    <i ng-if="reservation.model.promoInfo.modifiable">allowed</i><i ng-if="!reservation.model.promoInfo.modifiable">not allowed</i>,
                                    Cancellation
                                    <i ng-if="reservation.model.promoInfo.cancellable">allowed</i><i ng-if="!reservation.model.promoInfo.cancellable">not allowed</i>.
                                </li>
                            </ul>
                        </div><!-- // Content -->
                    </div><!-- // Promotional Details Summary -->
                    <div class="flight-summary section payment-details promo-details-accordion payment-details-xs-div col-xs-12 hidden-lg hidden-md hidden-sm">
                            <uib-accordion >
                                    <div uib-accordion-group class="panel-default" is-open="status.open" >
                                        <uib-accordion-heading>
                                            <div class="row ma-bt-4">
                                                <div class="col-sm-12 col-xs-12 pd-l-0">
                                                    <h1 class="title payment-title payment-details-heading col-sm-9 col-xs-12">
                                                        <span class="pull-left fa payment-details-glyphion pd-rt-0 pd-lt-10" ng-class="{'fa-angle-up': status.open, 'fa-angle-down': !status.open}"></span>
                                                        <label class="pad-l-10"> Promotional Details</label>
                                                    </h1>
                                                </div>
                                            </div>
                                        </uib-accordion-heading>
                                        <!-- Content -->
                                        <div class="content promo-detail-content">
                                                <ul>
                                                    <li>{{reservation.model.promoInfo.promoType}} Promotion</li>

                                                    <!-- Discount promotion VALUE-->
                                                    <li ng-if="reservation.model.promoInfo.promoType === 'Discount' && reservation.model.promoInfo.discountType !== 'PERCENTAGE'">
                                                        Up to {{reservation.baseCurrency}} {{reservation.model.promoInfo.value| number:2}} Discounts on {{reservation.model.promoInfo.appliedTo}}</li>
                                                    <li ng-if="reservation.model.promoInfo.promoType === 'Discount' && reservation.model.promoInfo.discountType !== 'PERCENTAGE'">
                                                        Total Discount of {{reservation.baseCurrency}} {{reservation.model.promoInfo.appliedTotal| number:2}}</li>
                                                    <!-- // Discount promotion VALUE-->

                                                    <!-- Discount promotion PERCENTAGE -->
                                                    <li ng-if="reservation.model.promoInfo.promoType === 'Discount' && reservation.model.promoInfo.discountType === 'PERCENTAGE'">
                                                        Up to {{reservation.model.promoInfo.value| number:2}} % Discounts on {{reservation.model.promoInfo.appliedTo}}</li>
                                                    <!-- // Discount promotion PERCENTAGE -->

                                                    <!-- Buy one get one free -->
                                                    <li ng-if="reservation.model.promoInfo.promoType === 'Buy And Get Free'">
                                                        Free Passenger Count - {{reservation.model.promoInfo.appliedAdults}} Adult(s), {{reservation.model.promoInfo.appliedChilds}} Children(s), {{reservation.model.promoInfo.appliedInfants}} Infants(s)
                                                    </li>
                                                    <!-- // Buy one get one free -->

                                                    <li>Modification
                                                        <i ng-if="reservation.model.promoInfo.modifiable">allowed</i><i ng-if="!reservation.model.promoInfo.modifiable">not allowed</i>,
                                                        Cancellation
                                                        <i ng-if="reservation.model.promoInfo.cancellable">allowed</i><i ng-if="!reservation.model.promoInfo.cancellable">not allowed</i>.
                                                    </li>
                                                </ul>
                                            </div><!-- // Content -->
                                    </div>
                            </uib-accordion>
                           
                            <div class="hidden-sm hidden-md hidden-lg section-line" ><hr></div>
                    </div>
                    <!-- Payment Details Summary -->
                    <div class="flight-summary flight-summary-container section payment-details col-xs-12 hidden-xs">
                        <div class="row ma-bt-4">
                            <div class="col-sm-12">
                                <h1 class="title payment-title col-sm-9 pull-left">
                                    <label translate="lbl_confirm_paymentDetails">Payment Details</label>
                                </h1>
                            </div>
                        </div>

                        <!-- Content -->
                        <div class="content">
                            <ul id="modify-payment-list" style="padding-left: 0 !important; padding-right: 0 !important;">

                                <li class="hidden-xs" ng-repeat="charge in reservation.charges" ng-class="{'total':(charge.isTotal)}">
                                    <label translate="{{reservation.chargeTypes[charge.type]}}">{{charge.type}}</label>
                                    <span>
                                        {{ charge.currencyType === "BASE" ? reservation.baseCurrency : reservation.paymentGatewayCurrency }}
                                        <i isa-connector="{{charge.amount}}" 
                                        with-decimal="true" 
                                        decimal-points="2" 
                                        currency="{{charge.currencyType === 'BASE' ? reservation.baseCurrency : reservation.paymentGatewayCurrency}}"
                                        is-base-currency="{{charge.currencyType === 'BASE'}}"
                                        ></i>
                                    </span>
                                </li>

                                <li class="hidden-sm hidden-md hidden-lg" ng-repeat="charge in reservation.charges" ng-class="{'total':(charge.isTotal)}">
                                    <div class="col-xs-7" style="padding-left: 0">
                                        <label translate="{{reservation.chargeTypes[charge.type]}}">{{charge.type}}</label>
                                    </div>
                                    <div class="col-xs-2">
                                        <label>{{ charge.currencyType === "BASE" ? reservation.baseCurrency : reservation.paymentGatewayCurrency }}</label>
                                    </div>
                                    <div class="col-xs-3" style="padding-right: 0">
                                        <span>
                                            <i isa-connector="{{charge.amount}}" 
                                            with-decimal="true" 
                                            decimal-points="2" 
                                            currency="{{charge.currencyType === 'BASE' ? reservation.baseCurrency : reservation.paymentGatewayCurrency}}"
                                            is-base-currency="{{charge.currencyType === 'BASE'}}"></i>
                                        </span>
                                    </div>
                                </li>

                            </ul>
                        </div><!-- // Content -->

                    </div><!-- // Flight Summary -->

                    <!--Payment details div start for xs devices-->

                    <div class="flight-summary section payment-details payment-details-xs-div col-xs-12 hidden-lg hidden-md hidden-sm" >
                        <uib-accordion >
                            <div uib-accordion-group class="panel-default" is-open="status.open" >

                                <uib-accordion-heading>
                                    <div class="row ma-bt-4">
                                        <div class="col-sm-12 col-xs-12 pd-l-0">
                                            <h1 class="title payment-title payment-details-heading col-sm-9 col-xs-12">
                                                <span class="pull-left fa payment-details-glyphion pd-rt-0 pd-lt-10" ng-class="{'fa-angle-up': status.open, 'fa-angle-down': !status.open}"></span>
                                                <label class="pad-l-10" translate="lbl_confirm_paymentDetails">Payment Details</label>
                                            </h1>
                                        </div>
                                    </div>
                                </uib-accordion-heading>

                                <!-- Content -->
                                <div class="content">
                                    <ul id="modify-payment-list" class="payment-details-list">
                                        <li><div class="hidden-sm hidden-md hidden-lg section-line" style="margin: 0;" ><hr></div></li>
                                        <li class="hidden-xs" ng-repeat="charge in reservation.charges" ng-class="{'total':(charge.isTotal)}">
                                            <label translate="{{reservation.chargeTypes[charge.type]}}">{{charge.type}}</label>
                                            <span>
                                                {{ charge.currencyType === "BASE" ? reservation.baseCurrency : reservation.paymentGatewayCurrency }}
                                                <i isa-connector="{{charge.amount}}" 
                                                with-decimal="true" 
                                                decimal-points="2" 
                                                currency="{{charge.currencyType === 'BASE' ? reservation.baseCurrency : reservation.paymentGatewayCurrency}}"
                                                is-base-currency="{{charge.currencyType === 'BASE'}}"></i>
                                            </span>
                                        </li>

                                        <li class="hidden-sm hidden-md hidden-lg" ng-repeat="charge in reservation.charges" ng-class="{'hidden':(charge.isTotal)}">
                                            <div class="col-xs-8" style="padding: 0;">
                                                <label translate="{{reservation.chargeTypes[charge.type]}}">{{charge.type}}</label>
                                            </div>
                                            <div class="col-xs-4 pd-l-0 pd-r-0">
                                                <label style="float: left;">{{ charge.currencyType === "BASE" ? reservation.baseCurrency : reservation.paymentGatewayCurrency }}</label>
                                                <span style="float: right;" class="numeric-amount">
                                                    <i isa-connector="{{charge.amount}}" 
                                                    with-decimal="true" decimal-points="2" 
                                                    currency="{{charge.currencyType === 'BASE' ? reservation.baseCurrency : reservation.paymentGatewayCurrency}}"
                                                    is-base-currency="{{charge.currencyType === 'BASE'}}"></i>
                                                </span>
                                            </div>
                                            <!--                                        <div class="col-xs-3 pd-l-0" style="padding-right: 0">
                                                                                        <span>
                                                                                            <i isa-connector="{{charge.amount}}" with-decimal="true" decimal-points="2" currency="{{charge.currencyType === 'BASE' ? reservation.baseCurrency : reservation.paymentGatewayCurrency}}"></i>
                                                                                        </span>
                                                                                    </div>-->
                                        </li>

                                    </ul>
                                </div><!-- // Content -->
                            </div>
                        </uib-accordion>
                        <div class="hidden-sm hidden-md hidden-lg section-line" ><hr></div>
                    </div>
                 

                    <div class="flight-summary-total summary-mobile-total hidden-md hidden-sm hidden-lg col-xs-12">
                        <ul>
                            <li ng-repeat="charge in reservation.charges" ng-class="{'total':(charge.isTotal)}" ng-if="charge.isTotal" class="pd-l-0">
                                <div class="col-xs-8 pd-rt-0  text-left" style="padding-left: 0">
                                    <label translate="{{reservation.chargeTypes[charge.type]}}">{{charge.type}}</label>
                                </div>
                                <div class="col-xs-4 pd-l-0 pd-r-0">
                                    <label style="float: left">{{ charge.currencyType === "BASE" ? reservation.baseCurrency : reservation.paymentGatewayCurrency }}</label>
                                    <span style="float:right">
                                        <i class="numeric-amount" 
                                        isa-connector="{{charge.amount}}" 
                                        with-decimal="true" 
                                        decimal-points="2" 
                                        currency="{{charge.currencyType === 'BASE' ? reservation.baseCurrency : reservation.paymentGatewayCurrency}}" 
                                        is-base-currency="{{charge.currencyType === 'BASE'}}"></i>
                                    </span>
                                </div>
                            </li>
                        </ul>

                    </div>

                    <!--Payment details div ends for xs device-->

                    <div ng-style="{'margin-bottom': reservation.mbottom}" class="col-xs-12 reservation-btn-group-end" style="min-height:42px; padding: 0" >
                        <div style="right:0" class="btn-wrap email-btn col-sm-3 col-xs-6 pull-right" ng-if="reservation.model.contactInfo.emailAddress && !reservation.isBalanceAvailable">
                            <span class="button red-btn" ng-click="reservation.emailItinerary()" translate="lbl_common_emailItinerary">Email Itinerary</span>
                        </div>
                        <div class="btn-wrap ite-btn col-sm-3 col-xs-6 pull-right" ng-if="!reservation.isBalanceAvailable">
                            <span class="button red-btn" ng-click="reservation.viewItinerary()" translate="lbl_common_viewItinerary">View Itinerary</span>
                        </div>
                    </div>

                    <div style="min-height:100px" class="row col-xs-12 reservation-summay-btn-div hidden-lg hidden-md hidden-sm" ng-if="!reservation.model.contactInfo.emailAddress && reservation.isBalanceAvailable">
                        <div class="btn-wrap ite-btn col-sm-4 col-xs-12 pull-left" >
                            <span class="button red-btn" ng-click="reservation.viewItinerary()" translate="lbl_common_viewItinerary">View Itinerary</span>
                        </div>
                    </div>

                    <div class="flight-summary col-xs-12 section hidden-xs">
                        <div ng-if="reservation.model.advertisements.length" class="row ma-bt-4">
                            <div class="col-sm-12">
                                <h1 class="title col-sm-9 col-md-12" translate="lbl_payment_services">
                                    Additional services
                                </h1>
                            </div>
                        </div>
                        <!-- Content -->
                        <div class="content" ng-if="reservation.model.advertisements.length">

                            <div class="ad-cat" ng-repeat="ad in reservation.model.advertisements">
                                <h4>{{ad.category}}</h4>

                                <div class="ad-item" ng-repeat="innerAd in ad.advertisements">
                                    <!-- <div ng-if="innerAd.linkLoadWithinFrame" style="background-color:#ccc;margin-bottom:30px;"> -->
                                    <iframe type="text/html" ng-src="{{reservation.getTrustedUrl(innerAd.url)}}" frameborder="0" width="800" height="220"></iframe>
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- // Inside Content -->
            </div><!-- // Row -->

        </div><!-- // Content Body -->


        <!-- Content Footer -->
        <div class="content-footer">
            <!-- <span><sup class="red">*</sup> By using My Air Arabia, You accept to recieve our promotional emails and offers.</span> -->
        </div><!-- // Content Footer -->
    </section><!-- // Page Wrapper -->
</section>
