.GridBody {
	background : #828282; 
	margin :0px 0px 0px 0px;
}
.ScrollBar
{
	scrollbar-arrow-color:#ECC3C3;
	scrollbar-base-color:#F58E8E;
	scrollbar-shadow-color:#FF7171;
	scrollbar-face-color:#C10000;
	scrollbar-highlight-color:#EFDBDB;
	scrollbar-darkshadow-color:#AC6A6A;
	scrollbar-3d-light-color:#FFFFFF;
}
.GridRow
{
	border-width:1px 1px 2px 1px; 
	height:18px;  
	border-style:solid; 
	}
.GridHDBorder
{
	border-color:white gray gray white; 
	}	
.GridItemRow
{
	border-width:1px;  
	height:18px; 
	border-style:solid; 
	border-color:white gray #D4D0C8 white;
	}
.GridHeaderBand
{
	border-bottom-width:thin;
	}
.GridHeader
{
	background-color:#D4D0C8;
	cursor:hand;
	}
.GridHeadHover
{
	border-width:1px 1px 2px 1px; 
	height:18px;  
	border-style:solid;
	background-color:#ECEBE8;
	border-color:white gray #B5B5B5 white; 
	cursor:hand;
	}		
	
.GridItem
{
	background-color:white;
	}	
.GridHDClicked
{
	border-width:1px 1px 2px 1px; 
	height:18px;  
	border-style:inset; 
	border-color:white gray white white; 
	}
.GridAlternateRow
{
	background-color:#F7F7F7;
	}
.GridItemHover
{
	background-color:#ECECEC;
	border-width:1px;  
	border-style:solid; 
	border-color:white gray #D4D0C8 white;
	cursor:hand;
	}
.GridNoBorder
{
	font-family: Verdana;
	font-size: 10px;
	height: 10px;
	background-color: Transparent;
	border-color:Transparent;
	border-style:none;
	}	
.GridItemSelected
{
	border-width:1px 1px 2px 1px; 
	height:18px;  
	border-style:solid;
	background-color:#FFFFEC;
	border-color:white gray #B5B5B5 white; 
	cursor:hand;
	}	
.GridOutBorder
{
	BORDER-RIGHT: #EFEFEF 0px solid; 
	BORDER-TOP: #EFEFEF 0px solid; 
	BORDER-LEFT: #EFEFEF 0px solid; 
	BORDER-BOTTOM: #EFEFEF 1px solid;
	}	
		
		