 html, body {	

}

html, body, ul, ol, li, p, dd, blockquote, q, h1, h2, h3, h4, h5, h6, form, fieldset, a, div, img, table {
	margin: 0;
	padding: 0;
	border: 0;
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size: 11px;
	color: #333;
}
.mainPageLoader{
	display:none;
	z-index:9900;
	background:transparent;
	height:87px;
	position:absolute;
	top:45%;
	left:40%;
	width:252px
}
.mainPageLoaderFreame{
	display:none;
	position:absolute;
	background:transparent;
	width:250px;
	height:85px;
}
u{text-decoration: none;}
a, a>label, a>span, a>u>label{
	color:#2E507F;
	cursor: pointer;
}
a:hover, a:hover>label, a:hover>span, a:hover>u>label{
	color:#95B4D9;
}
/* LT added */
label{
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:11px;
	left:auto;
	color: #333;
}
.fntDefault{
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:11px;
	left:auto;
	color: #333;
}
.appLogo{
	background-image:url(../images/n024_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:left bottom;
	height:50px;
}
.topBanner{
	background-image:url(../images/n063_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#D82520;
	height:70px;
}
.topBannerLB{
	background-image:url(../images/n037_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:left bottom;
	height:26px;
	width:14px;
}
.topBannerMB{
	background-image:url(../images/n038_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:bottom;
	width:912px;
}
.topBannerRB{
	background-image:url(../images/n039_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
	width:14px;
}

.rowSingleGap{
	height:5px;
}
.rowGap{
	height:10px;
}
.defaultRowGap{
	height:25px;
}
.pnlTop{
	background-image:url(../images/LIbe002_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:8px;
}
.pnlWidth{
	width:800px;
}
.pnlWidthLeft{
	width:258px;
}
.pnlTopR{
	background-image:url(../images/LIbe002_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:8px;
	width:8px;
}
.pnlBottom{
	background-image:url(../images/LIbe003_no_cache.jpg);
	background-repeat:repeat-x;
	height:52px;
}
.pnlBottomTall{
	background-image:url(../images/LIbe004_no_cache.jpg);
	background-repeat:repeat-x;
	height:150px;
}
.fntSmall{
	font-size:9px;
}
.fntBold{
	font-weight:bold;
}
.hdFont{
	font-size:15px;
}
.hdFontColor{
	color:#1263AD;
}
.mandatory{
	color: red;
}
.tab1A{
	background-image:url(../images/n034_A_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}
.tab1{
	background-image:url(../images/n034_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}
.tab2A{
	background-image:url(../images/n035_A_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:220px;
}
.tab2{
	background-image:url(../images/n035_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:220px;
}
.tab3A{
	background-image:url(../images/n036_A_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}
.tab3{
	background-image:url(../images/n036_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}

select
{
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 10px;
	height: 17px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove #9D9D9D;
	BORDER-TOP: thin groove #9D9D9D;
	BORDER-LEFT: thin groove #9D9D9D;
	BORDER-BOTTOM: thin groove #9D9D9D;
	}
	
input{
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 10px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: solid 1px #9D9D9D;
	BORDER-TOP: solid 1px #9D9D9D;
	BORDER-LEFT: solid 1px #9D9D9D;
	BORDER-BOTTOM: solid 1px #9D9D9D;
	}
	
.clsInput{
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 10px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove #9D9D9D;
	BORDER-TOP: thin groove #9D9D9D;
	BORDER-LEFT: thin groove #9D9D9D;
	BORDER-BOTTOM: thin groove #9D9D9D;
	}
}
.noBorder
{
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 11px;
	color: black;
	background-color: red;
	border-color:green;
	border-width:0px;
	}	
	
.Button
{
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: white;
	background-image: url(../images/n020_no_cache.jpg);  /* lt2 */
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 30px;
	width:80px;
	cursor:pointer;
	background-repeat:no-repeat;
	padding-bottom:5px;
	}
.gridHD{
	background-color:#3D66A0;
	height:25px;
}
.gridHDDark{
	background-color:#7F7F7F;
	height:25px;
}
.gridHDFont{
	color:white;
}
.gridHDsub {
    background-color: #333333;
    height: 18px;
}
.lpaneTopL{
	background-image:url(../images/LIbe006_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:27px;
	width:11px;
}
.lpaneTopM{
	background-image:url(../images/LIbe007_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	width:238px;
}
.lpaneTopR{
	background-image:url(../images/LIbe008_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	width:11px;
}
.lpaneMidL{
	background-image:url(../images/LIbe009_no_cache.jpg);
	background-repeat:repeat-y;
	background-position:top;
	width:2px;
}
.lpaneMidM{
	background-color:white;
	width:257px;
}
.lpaneMidR{
	background-image:url(../images/LIbe010_no_cache.jpg);
	background-repeat:repeat-y;
	background-position:top;
	width:1px;
}
.lpaneBotL{
	background-image:url(../images/LIbe011_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:18px;
	width:11px;
}
.lpaneBotM{
	background-image:url(../images/LIbe012_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	width:238px;
}
.lpaneBotR{
	background-image:url(../images/LIbe013_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	width:11px;
}
.navFont{
	font-size:12px;
	vertical-align: middle;
	color:white;
 }	
.navFontBig{
	font-size:17px;
	vertical-align: middle;
	color:white;
 }	
.rowColor{
	background-color:white;
}
.rowColorAlternate{
	background-color:#DFDFDF;
}
.bdLeft{
	BORDER-LEFT: solid 1px #DFDFDF;
}
.bdTop{
	BORDER-TOP: solid 1px #DFDFDF;
}
.bdBottom{
	BORDER-BOTTOM: solid 1px #DFDFDF;
}
.bdRight{
	BORDER-RIGHT: solid 1px #DFDFDF;
}
.noPadding{
	padding:0px;
}
.lightGrayHD{
	background-color:#DFDFDF;
	height:25px;
}

.errorControl{
	background-color:#FEFFAF;
}

.fontCapitalize{
	text-transform: capitalize;
}
.ButtonAncilary{
	background-image: url(../images/n200_no_cache.gif);
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: gray;
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 28px;
	width:174px;
	cursor:pointer;
	background-repeat:no-repeat;
	padding-bottom:2px;
}

.ButtonMeal{
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: #5A5A5A;
	background-color:transparent;
	background-image: url(../images/n056meal_no_cache.gif); 
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 25px;
	width:154px;
	cursor:pointer;
	background-repeat:no-repeat;
}
.availSeat{
	background-image:url('../images/LCAnsi004_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
}
.notAvailSeat{
	background-image:url('../images/LCAnsi002_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
}

.friendsSeat{
	background-image:url('../images/LCAnsi007_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
}

.SltdSeat{
	background-image:url('../images/LCAnsi003_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
}
.aisle{
	height:15px;
	width:20px;
}
.exitLeft{
	background-image:url('../images/ANCI_06_no_cache.gif');
	background-position:top center;
	background-repeat:no-repeat;
	width:20px;
	height:39px;
}
.exitRight{
	background-image:url('../images/ANCI_07_no_cache.gif');
	background-position:bottom center;
	background-repeat:no-repeat;
	width:20px;
	height:39px;
}
.window{
	width:20px;
}
.wingRight{
	background-image:url('../images/LCAnsi005_no_cache.jpg');
	background-position:bottom center;
	background-repeat:no-repeat;
	height:65px;
	width:594px;
}
.wingLeft{
	background-image:url('../images/LCAnsi006_no_cache.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	height:65px;
	width:594px;
}
.noTextDec{
	text-decoration:none;
}
.seatTT{
	opacity: .8;
	filter: alpha(opacity=80);
}
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.tabBG{
	background-image:url('../images/LIbe016_no_cache.jpg');
	height:27px;
}
.tabSltd{
	background-image:url('../images/LIbe015_no_cache.jpg');
	background-repeat:no-repeat;
	width:109px;
	height:27px;
}
.tabNotSltd{
	background-image:url('../images/LIbe014_no_cache.jpg');
	background-repeat:no-repeat;
	width:109px;
	height:27px;
}
.cursorPointer{
	cursor:pointer;
}
.noBorder{
	border: 0px solid transparent;
}
.progressBG {
	background-color:#FA0101;
}
.fntDefaultWhite{
	color:white;
}
.MandatoryGrid{
	color: white;
}
.paddingL5{
	padding-left: 5px;
}
.paddingL3{
	padding-left: 3px;
}

.Gridwt {
	background-color:#FFFFFF;
	height:20px;
}
.GridTable {	
	border-color:#DFDFDF;
}
.tblBgLeft{
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}
.tblBgRight{
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}
.ButtonLarge{
	background-image: url(../images/n045_no_cache.jpg);
	width:173px;
	cursor:pointer;
}
.ButtonLargeDisable{
	background-image: url(../images/n046_no_cache.jpg);
	width:173px;
	cursor:default;
}
.ButtonDefaultDisable{
	background-image: url(../images/n021_no_cache.jpg);  /* lt2 */
	width:80px;
	cursor:default;
	background-repeat:no-repeat;
}
.pnlBg{
	background-image:url(../images/LIbe004_no_cache.jpg);
	background-repeat:repeat-x;	
}
.alignRight{ 
	text-align:right;
}
.alignLeft{
	text-align:left;
}
.newPogressLoading ,.loadingContainer{background:#fff;display: none;}
.mainbody div#sortable-ul{margin: 0;padding: 0}
.mainbody div#sortable-ul div.sortable-child{float: left;}
#divSummaryPane{
	width: 250px;
}
.rightColumn{
	width: 675px;
	margin-left: 10px;
}
h3.label{padding: 0 10px 10px 10px}
h3.label, h3.label span{
	color:#1263AD;
}
.headerRow{
	background:#3D66A0;
	height:28px;
	line-height:28px;
}
.headerRow .hCenter{
	padding: 0 10px;
}
.mLeft, .mRight{
	background:#3D66A0;
	width:1px;
}
.add-padding{
	padding:0 6px;
}
.mCenter{
	
}
.footerRow{
	border-top:1px solid #3D66A0;
}
.process-mid{text-align: center;}
.StepsTable{
	width:90%;
	margin:0 auto;
	background: url("../images/dot_line_bg_no_cache.gif") repeat-x scroll 0 20px;
	height:26px;
}
.stepsItem .icon{
	display: none;
	background: url("../images/AA175_no_cache.gif") no-repeat scroll 50% 50%;
	padding:3px 10px;
	margin: 0px 3px;
}
.stepsItem.select{
	background: url("../images/down-arrow_no_cache.png") no-repeat scroll 50% 100%;
}
.select .fntBold{
	color:#1263AD;
}
.selected .icon{
	display: inline;
}
.buttonset>table{
	width:auto;
	margin:0 auto;
}
.leftNavigation{
	width:54px;
}
.rightNavigation{
	width:35px
}
.calendar-ul li div.cal-day{
	border:1px solid #3D66A0
}
.calendar-ul li div.cal-day, .calendar-ul li div.cal-day a{
	height:78px;
}
.selected .sDataFull{
	display: none;
}
.selected .sData{
	display: block;
}
.sData{
 background:#3D66A0;
}
.sData>div{
	display:inline;
	font-size:13px;
	color: white
}
.daySmall{
	margin-right:3px;
}
.minFareValue label{
	display:block;
	font-size: 16px;
	font-weight: bold;
}
.cal-indBg>div{
	padding:3px 0;
}
.flight-body>a.selected, .flight-body>a:hover{
	background:#3D66A0
}
a.selected div,a.selected label, a.selected span,
a:hover div,a:hover label, a:hover span{
	color:white;
	cursor: pointer;
}
.paddingCalss{padding:0 5px;}
.TDthisFls>.pnlBottom{
	margin-top: 15px;
}
.even > .GridItems{
	background: none;
}
.lowerstCon{display:none! important;}
#trPriceBDPannel table.GridTable{
	border-spacing: 0px;
}
.thisFls table ,#trPriceBDPannel table.GridTable td{
	border-right: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
}
.thisFls td ,#trPriceBDPannel table.GridTable{
	border-left: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
}
.GridHighlight{
	background: #7F7F7F;
	border-bottom: 1px solid #DFDFDF;
	height: 27px;
}
.GridHighlight label{
	color:white;
}

/* jAlert */
#popup_container{
	font-family: Arial, sans-serif;
	font-size: 12px;
	background: #FFF;
	border: solid 2px #1344a1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	width: 380px;
	display: none;
	overflow: hidden;
}
.drager {position: relative;z-index: 99999;height: 25px;width:94%;cursor: move;}
#popup_container_frame{
	width: 100%;
	height: 100%;
}