//client specific styles - manually copied to here only for backup purposes
@font-face {
    font-family: 'Avenir LT 65 Medium';
    src: url('../fonts/AvenirLT-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Avenir LT 65 Medium' !important;
}

.LTR{
    header{
        background-color: #ffffff !important;
        ul{
            li{
                a{
                    // color: $secondery_color !important;
                    i{
                        &.number{
                            // color: $secondery_color !important;
                            //  border: 2px solid $secondery_color !important;
                        }
                    }
                }

                &.current{
                    a{
                        color: #ffffff !important;
                        i{
                            &.number{
                                //   color: #ffffff !important;
                                //  border: 2px solid #ffffff !important;
                            }
                        }
                    }
                }

                &.pending{

                    a{
                        color: $secondery_color !important;
                        i{
                            color: $secondery_color !important;
                        }
                    }
                }

                &.completed{

                    a{
                        color: $secondery_color !important;
                        i{
                            color: $secondery_color !important;
                        }


                    }

                    &:hover, &:focus, &:visited{
                        a{
                            color: #ffffff !important;
                            i{
                                color: #ffffff !important;
                            }


                        }
                    }
                }

                &.logo{
                    padding: 10px 0px;
                    &:before{
                        background-color: #ffffff !important;
                    }
                    span{
                        width:275px !important;         	
                    }
                }

                &:nth-child(2){
                    border-bottom: 4px solid lighten($secondery_color, 40%);
                    &.current{
                        border-bottom: 4px solid $primery_color;
                        a{
                            i{
                                &.number{
                                    text-indent: -4.5px;
                                    color: $secondery_color !important;

                                    &:after{
                                        color: #fff !important;
                                    }
                                }
                            }
                        }
                    }
                    a{
                        i{
                            &.number{
                                position: relative;
                                text-indent: -0.5px;
                                /*color: #fff  !important;*/
                                &:after{
                                    position: absolute;
                                    /*content: '4';*/
                                    color: $secondery_color;
                                }
                            }
                        }
                    }
                }
                &:nth-child(3){
                    border-bottom:4px solid lighten($secondery_color, 30%);
                    &.current{
                        border-bottom: 4px solid $primery_color;
                    }
                }
                &:nth-child(4){
                    border-bottom:4px solid lighten($secondery_color, 20%);

                    &.current{
                        border-bottom: 4px solid $primery_color;
                    }
                }
                &:nth-child(5){
                    border-bottom:4px solid lighten($secondery_color, 10%);
                    &.current{
                        border-bottom: 4px solid $primery_color;
                    }
                }
                &:nth-child(6){
                    border-bottom:4px solid lighten($secondery_color, 0%);
                    &.current{
                        border-bottom: 4px solid $primery_color;
                    }
                }

                &#search{
                    padding: 25px 30px;
                    a{
                        float: none !important;
                    }
                }
            }
            li.logo:before{
                background-color: #ffffff !important;
            }
        }
    }

    .flight-result-block .flight-options .flight-options-table .options-row.header .right-section{
        .fare-type-1{
            background-color: lighten($secondery_color, 0%) !important;
        }
        .fare-type-2{
            background-color: lighten($secondery_color, 0%) !important;
        }
        .fare-type-3{
            background-color: lighten($secondery_color, 0%) !important;
        }
        .fare-type-4{
            background-color: lighten($secondery_color, 0%) !important;
        }

        .fare-type-5{
            background-color: lighten($secondery_color, 0%) !important;
        }
        .fare-type-6{
            background-color: lighten($secondery_color, 0%) !important;
        }
    }

    .flights-summary-block-continue{
        .copyright-text{
            a, a:hover, a:focus{
                color: $secondery_color;
            }
        }
    }
    #modify-search a{
        color: $secondery_color !important;
    }

    .summary-drawer .drawer-desc a.modify-search-link{
        color: $secondery_color !important;
    }
    .rewards-login.shown .heading{
        background-color: $secondery_color !important;
    }
    .rewards-login.shown .heading .airline-logo{
        background-image:url(../images/main_logo.png);
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);

    }

    .heading .info{
        color: $secondery_color !important;
    }

    .payment-confirmation .section .s-heading{
        color: $secondery_color !important;
    }

    header.dashboard.all-red, .dashboard-header.all-red {
        background-color: #fff !important;
    }

    .dashboard .my-reservations > h2{
        color: $secondery_color;
    }
    .dashboard .my-reservations .my-reservations-table .mrt-row .flight h5{
        color: $secondery_color;
    }
    .flight-result-block .flight-options .options-row.body .selected-fare, .flight-result-block .flight-options .options-row.body a:hover{
        background-color: #ececec;
    }

    .flight-result-block .flight-icon{
        color: $primery_color !important;
    }

    .rewards-login .heading .airline-logo{
        background-image: url(../images/main_logo.png);
        float: right;
        height: 44px;
    }
    .rewards-login .heading{
        padding: 13px 30px;
    }
    .flight-result-block .flight-options .flight-stop-wrapper .flight-start .flight-name{
        font-size: 13px;
    }
    .drawer-arrow{
        background-color: $secondery_color;
    }
    .rewards-login .tabbed-content #signin-content h3{
        margin-bottom: 10px;
    }
    .form-footer{
        margin-bottom: 20px;
    }
    /*    .drawer-bar .drawer-total .price-block .currency-value.price{
            font-size: 20px;
        }
        .drawer-bar .drawer-total .price-block .currency-text.currency{
            font-size: 20px;
        }*/

    .payment-details .submit .red-btn{
        font-size: 16px;
    }
    .payment-confirmation .section .s-heading{
        font-size: 18px;
        margin-top: 20px;
    }
    &.km{
        header ul li:not(:first-child){
            padding: 25px 20px;
        }
        header ul li a span, header ul li a:focus span, bheader ul li a:hover span, header ul li a:visited span{
            font-size: 13px;
        }
    }
    .reservation-drawer .drawer-desc, .summary-drawer .drawer-desc{
        border-top: medium solid $secondery_color;
    }
    .dashboard .user-profile-dropdown .dropdown-content ul li{
        padding: 0px  !important;
    }
    .dashboard .navigation-dropdown .dropdown-content ul li{
        padding: 0px !important;
    }
    header .dashboard.modify-search ul li{
        padding: 0px !important;
    }
    .reservation-details .passengers .pax-count-lbl{
        margin-left: 10px;
        text-transform: capitalize;
        display: inline;
    }
    .dash-res-sum .reservation-details .col .edit-pax{
        color: $secondery_color;
    }
    .dash-res-sum .reservation-details .col .edit-pax:hover label,.dash-res-sum .reservation-details .col .edit-pax:focus label{
        cursor: pointer;
    }
    .passenger-information .content .passenger-information-block .ps-row .ps-col > label{
        font-weight: normal !important;
    }

    .icon-inbound-plane-small .path2:before, .icon-outbound-plane-small .path2:before{
        color: $primery_color !important;
    }
    .payment-details .content ul{
        width: 52%;

        &#modify-payment-list {
            width: 100%;
        }
    }
    .summary-drawer .drawer-bar .drawer-icon, .reservation-drawer .drawer-bar .drawer-icon{
        height: 60px;
    }
    .ibe-typeahead .dropdown-menu li a{
        padding: 7px 12px;
    }
    .ibe-typeahead .dropdown-menu .active a, .ibe-typeahead .dropdown-menu .active a:focus, .ibe-typeahead .dropdown-menu .active a:hover {
        background-color: #faf9f9;
        color: #EE1D23;
        padding: 7px 12px;
    }
    .dashboard .user-profile-dropdown .dropdown-content{
        width: 200px;
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.15);
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.15);
    }
    .cc-link .icon {
        height: 20px;
        width: 30px;
        background-size: 32px;
    }
    .modify-search .btn-wrap #currency .cc-link {
        padding: 5px 5px;
    }
    .curruny-wrapper ul li .flag {
        height: 20px;
        width: 30px;
        background-size: 32px;
    }
    .curruny-wrapper ul li .currancy-type{
        padding: 1px 5px 0;
    }
    .blue-star{
        color: $secondery_color;
    }
    .letter-space{
        letter-spacing: -2px;
    }
    .d-inline-b{
        display: inline-block;
    }
    .modify-search .page-title{
        line-height: 30px;
    }
    .modify-search .page-title .main-text span.truncate{
/*        white-space: inherit;
        overflow: visible;
        text-overflow: inherit;
        max-width: inherit !important;*/
    }
    .modify-flights-table .left-sidebar ul li.active .icon-inbound-plane-small .path2:before,.modify-flights-table .left-sidebar ul li.active .icon-outbound-plane-small .path2:before{
        color: #fff!important;
    }
    .modify-flights-table .left-sidebar ul li:hover .icon-inbound-plane-small .path2:before,.modify-flights-table .left-sidebar ul li:hover .icon-outbound-plane-small .path2:before{
        color: #fff!important;
    }

    .dashboard .ibe-typeahead .dropdown-menu li a{
        color: #333333 !important;
    }
    .dashboard .ibe-typeahead .dropdown-menu li.active a{
        color: #EE1D23 !important;
    }
    .dashboard .my-reservations .my-reservations-table .mrt-row .on-hold .flight.confirmed h5 i{
        color: #fa8c0a;
    }
    .drawer-passenger, .drawer-flight, .drawer-extra, .drawer-total{
        text-align: right;
    }
    .drawer-flight .pull-right{
        position: absolute;
        right: -40px;
    }
    .drawer-extra .pull-right{
        position: absolute;
    }
    .mod-flight{
        div{
            .ico{
                .path1:before{
                    color: rgba(145, 145, 145, 0.3) !important;
                    left: 6px !important;
                    position: relative !important;
                }
            }
        }
    }
    .symbol{
        padding: 0px 10px !important;

    }
    .admin-fee-label{
        width: 100% !important;
        text-align: center !important;
    }
    .admin-fee-content{
        width: auto !important;
        text-align: center !important;
        width: 100% !important;
        span{
            float: none !important;
            display: block !important;
            i{
                float: none !important;

            }
        }
    }
    .no-ancillary{
        padding: 25px 32px !important;
    }
    .with-ancillary{
        padding: 25px 16px !important;
    }
}

@media only screen and (max-width: 340px){
    .xs-login-i-row p {
        width: 106% !important;
    }
}

@media only screen and (min-width: 340px) and (max-width: 360px){
    .xs-login-i-row p {
        width: 100% !important;
    }
}

@media only screen and (min-width: 361px) and (max-width: 370px){
    .xs-login-i-row p {
        width: 88% !important;
    }
}

@media only screen and (min-width: 371px) and (max-width: 500px){
    .xs-login-i-row p {
        width: 92% !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 950px){
    ul > li.logo{
        width: 30.7% !important;
    }
    .payment-confirmation .red-btn{
        margin-bottom: 30px;
    }
    .rewards-login .heading .airline-logo{
        width: 80% !important;
    }
}
@media only screen and (min-width: 992px){
    ul > li.logo{
        /*        width: 28.7% !important;*/
        margin-right: 10px !important;
    }
    ul > li.wd-header{
        width: 14.6% !important;
    }
    .payment-confirmation .red-btn{
        margin-bottom: 30px;
    }
    .rewards-login .heading .airline-logo{
        width: 80% !important;
    }
    .LTR .summary-drawer .drawer-bar, .LTR .reservation-drawer .drawer-bar{
        border-top-color: $secondery_color;
        border-bottom-color: $site_primary_color;
    }
}
@media only screen and (max-width: 767px){
    .payment-confirmation .section .s-heading{
        font-size: 16px;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }	
    .xs-expire-group .valdr-message{

        font-weight : 600;
        margin : -17px 0 0 0 !important;
    }
    .change-passenger-name{
        padding-top : 15px !important;
        padding-bottom : 0 !important;
    }
    .sidebar-widget{
        .isa-radio-option-list-wrapper{
            .widget-header{
                .left{
                    color:$charcoal_gray !important;
                }
            }
        }
    }
}
.xs-cvv-div .valdr-message{
    font-weight : 600;
    margin : 18px 0 0 0 !important;
}