<a href="javascript:;"  ng-repeat="flightFare in flight.flightFaresAvailability track by $index | limitTo:5"
   data-id="{{flight.flightRPH}}_{{flight.flightNumber}}_{{flightFare.fareTypeId}}"
   ng-style="fTypeWidth"
   class="fare-and-services-container"
   ng-class="{'mobile-fare-bundle-desc' : isMobileDevice,
    'desktop-fare-bundle-container-box-{{flight.flightFaresAvailability.length}}' : !isMobileDevice,
    'selected' : flightFare.isFlightSelect,
    'first-item' : !isMobileDevice && !isFlightModification && !isFlightChanged && (($index == 0) && (flight.flightFaresAvailability.length != 1)),
    'last-item' : !isMobileDevice && !isFlightModification && !isFlightChanged && ($index == flight.flightFaresAvailability.length - 1)}"
   ng-if="(isFlightModification || isFlightChanged || !flight.isFlightFull) && $index < 5">
    <div ng-click="selectThisFare($event, flight, flightFare, $index)"
         ng-hide ="flightFare.fareValue === 'null' || flightFare.fareValue === ' ' || !flightFare.fareValue"
         class="fare-and-services-wrapper">
        <div class="fare-and-services-body">

            <!--  THIS IS DISCOUNT INFO NEEDS TO FIND A WAY TO SHOW THE DISCOUNTS TOO FOR OTHER CLIENTS-->
            <!--<div ng-if="flightFare.additionalFareClassInfo.discountAmount">-->
            <!--<span class="important-info top">-->
            <!--<span translate="lbl_fare_saveDisc">Save </span>-->
            <!--<span class="currency-text currency">{{currency}}</span>-->
            <!--<span class="currency-value fare-value"-->
            <!--isa-connector ="{{flightFare.additionalFareClassInfo.discountAmount}}"></span>-->
            <!--</span>&nbsp;-->
            <!--</div>-->
            <!--<span class="ribbon red-rebbon" ng-if="flightFare.additionalFareClassInfo.discountAmount" ng-init="setSavingsAvailable(true)"></span>-->



            <!-- THIS DIV IS FOR THE DESKTOP VIEW CREATE FLOW-->
            <!-- THIS DIV IS FOR THE DESKTOP VIEW-->
            <div ng-if= "(isLargeDevice  && !isFlightModification && !isFlightChanged)
             || (isSmallDevice && !isFlightModification && !isFlightChanged)" 
                 class="fare-and-services-body-container"
                 style="display: flex; flex-direction: column;"
                 ng-class="{'selected' : flightFare.isFlightSelect}" >
                <div class="fare-and-services-header">
                    <table class="fare-and-services-header-row">
                        <tboby>
                            <tr>
                                <td ng-class="{'fare-and-services-header-text' : (flightFare.availableSeats !== ''
                                    && flightFare.availableSeats != '-1' && flightFare.availableSeats > -1),
                                    'fare-and-services-header-text-without-info' : !(flightFare.availableSeats !== ''
                                    && flightFare.availableSeats != '-1' && flightFare.availableSeats > -1)}">
                                    <span>{{fareClassInfo[flightFare.fareTypeId].name}}</span>
                                </td>
                                <td class="fare-and-services-header-info-text" ng-if="(flightFare.availableSeats !== ''
                                    && flightFare.availableSeats != '-1' && flightFare.availableSeats > -1)">
                                    <span style="font-size : 80%; font-weight: 500" >{{flightFare.availableSeats}}  </span>
                                    <span style="font-size : 80%; font-weight: 500" translate="lbl_common_seatsLeft">Seat(s) left</span>
                                </td>
                            </tr>
                        </tboby>
                    </table>
                </div>

                <div class="fare-and-services-items-container"
                    ng-class="{'addSpaceBag' : (flight.flightFaresAvailability.length < 4 )}"
                    ng-style ="fareClassInfo[flightFare.fareTypeId].templateCSS">
                    <div isa-compile-html="fareClassInfo[flightFare.fareTypeId].bodyContent"></div>
                </div>

                <div style="margin-top: auto">
                    <div class="fare-and-services-footer-seperator-wrap">
                        <hr class="fare-and-services-footer-seperator" align="center"/>
                    </div>

                    <table class="bundle-fare-radio fare-and-services-footer-table">
                        <tbody>
                        <tr>
                            <td class="ico" ng-if="isFlightModification && !flight.isFareListVisible" style="text-align: center">
                                <img width="12px" src="js/util/isaui_lib/dist/images/bx_loader.gif" alt="loading">
                            </td>
                            <td class="fare-and-services-footer-left-section" ng-if="!isFlightModification || flight.isFareListVisible">
                            <span class="currency-text currency fare-and-services-footer-currency-text"
                                  ng-style="(isFlightModification || isFlightChanged || isSmallDevice) && {'font-size': '14px'}
                                  || {'font-size': '16px'}" >{{currency}}</span>
                            <span class="currency-value fare-value fareservice-fare-value"
                                  ng-style="(isFlightModification || isFlightChanged || isSmallDevice) && {'font-size': '16px'}
                                  || {'font-size': '24px'}"
                                  style=""
                                  isa-connector="{{flightFare.updatedFareValue || flightFare.fareValue}}"></span>
                            </td>
                            <td class="fare-and-services-footer-right-section "
                                ng-if="(!isFlightModification || flight.isFareListVisible) && isLargeDevice && flight.flightFaresAvailability.length <= 3">
                                <!--<label for="radio_{{flight.flightRPH}}_{{flight.flightNumber}}_{{flightFare.fareTypeId}}_{{flightFare.fareTypeId}}">-->
                                <div class="bundle-fare-label-text" style="height:32px; margin-top: 0px; padding-top: 6px;">
                           <span ng-if="!flightFare.isFlightSelect">
                               <div class="fare-checkbox-container">
                                    <i class="fa fa-circle-thin"></i>
                               </div>
                           
                           <span class="fare-and-services-footer-right-section-select-text" translate="lbl_common_select">Select</span>
                           </span>
                           <span ng-if="flightFare.isFlightSelect" class="fare-selected-tick">
                            <div class="fare-checkbox-container">
                                <img src="js/util/isaui_lib/dist/images/selected-tick-circled.svg">
                            </div>
                            <span class="fare-and-services-footer-right-section-select-text" translate="lbl_common_selected"><b>Selected</b></span>
                           </span>
                                </div>
                                <!--</label>-->
                                <input name="radioname_{{flight.flightRPH}}_{{flight.flightNumber}}_{{flightFare.fareTypeId}}_{{flightFare.fareTypeId}}"
                                       type="radio"
                                       id="radio_{{flight.flightRPH}}_{{flight.flightNumber}}_{{flightFare.fareTypeId}}_{{flightFare.fareTypeId}}"
                                       ng-model="flightFare.isFlightSelect"
                                       ng-value="true"
                                       ng-hide="isMobileDevice" style="float:right">
                                </input>
                            </td>
                        </tr>
                        <tr>
                            <td class="fare-and-services-footer-right-section new-line"
                                ng-style="(isFlightModification || isFlightChanged) && {}
                                  || {'margin-top': '3px'}"
                                ng-if="(!isFlightModification || flight.isFareListVisible) && (!isLargeDevice || (isLargeDevice && flight.flightFaresAvailability.length > 3))">
                                <!--<label for="radio_{{flight.flightRPH}}_{{flight.flightNumber}}_{{flightFare.fareTypeId}}_{{flightFare.fareTypeId}}">-->
                                <span class="bundle-fare-label-text">
                                    <span ng-if="!flightFare.isFlightSelect" >
                                    <div class="fare-checkbox-container">
                                        <i class="fa fa-circle-thin"></i>
                                    </div>
                                    <span class="fare-and-services-footer-right-section-select-text" translate="lbl_common_select">Select</span>
                                    </span>
                                    <span ng-if="flightFare.isFlightSelect" class="fare-selected-tick">
                                    <div class="fare-checkbox-container">
                                        <img src="js/util/isaui_lib/dist/images/selected-tick-circled.svg">
                                    </div>
                                    <span class="fare-and-services-footer-right-section-select-text selected" translate="lbl_common_selected"><b>Selected</b></span>
                                    </span>
                                </span>

                                <!--</label>-->
                                <input name="radioname_{{flight.flightRPH}}_{{flight.flightNumber}}_{{flightFare.fareTypeId}}_{{flightFare.fareTypeId}}"
                                       type="radio"
                                       id="radio_{{flight.flightRPH}}_{{flight.flightNumber}}_{{flightFare.fareTypeId}}_{{flightFare.fareTypeId}}"
                                       ng-model="flightFare.isFlightSelect"
                                       ng-value="true"
                                       ng-hide="isMobileDevice" style="float:right">
                                </input>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <hr class="fare-and-services-footer-bottom"
                        ng-class="{'selected' : flightFare.isFlightSelect}" align="center"/>
                </div>
            </div>

            <!-- THIS DIV IS FOR THE MOBILE VIEW-->
            <table ng-if= "isMobileDevice || (isSmallDevice && (isFlightModification || isFlightChanged))
            || (isLargeDevice && (isFlightModification || isFlightChanged))"
                   class="fare-and-services-mobile-container" style="table-layout: fixed">
                <col ng-if="isSmallDevice" width="35%">
                <col ng-if="isSmallDevice" width="55%">
                <col ng-if="isSmallDevice" width="20%">
                
                <col ng-if="isMobileDevice" width="45%">
                <col ng-if="isMobileDevice" width="55%">
                <col ng-if="isMobileDevice" width="20%">
                <tr>
                    <td class="fare-and-services-mobile-header" width="20%">
                        <div>
                            <span class="bodySmall" style="font-weight: 600">{{fareClassInfo[flightFare.fareTypeId].name}}</span>
                        </div>
                        <div>
                            <div class="fare-and-services-mobile-header-info" ng-if="(flightFare.availableSeats !== ''
                                    && flightFare.availableSeats != '-1' && flightFare.availableSeats > -1)">
                                <span>{{flightFare.availableSeats}}  </span>
                                <span translate="lbl_common_seatsLeft">Seat(s) left</span>
                            </div>
                        </div>

                    </td>
                    <td class="fare-and-services-mobile-extra-item">
                        <span class="fare-description" isa-compile-html="fareClassInfo[flightFare.fareTypeId].summary" ></span>
                        <div class="bagagge-rate-container"
                             ng-if="fareClassInfo[flightFare.fareTypeId].baggageRatesElement"
                             ng-click="showBaggageRates($event, flight, flightFare)">
                            <a class="baggage-rates-link" ng-bind-html = "fareClassInfo[flightFare.fareTypeId].baggageRatesElement" ></a>
                        </div>
                    </td>
                    <td class="fare-and-services-mobile-select-section">
                        <div ng-if="!isFlightModification || flight.isFareListVisible" class="checkBox-container">
                            <input name="radioname_{{flight.flightRPH}}_{{flight.flightNumber}}_{{flightFare.fareTypeId}}_{{flightFare.fareTypeId}}"
                                   type="radio"
                                   id="radio_mobile_{{flight.flightRPH}}_{{flight.flightNumber}}_{{flightFare.fareTypeId}}_{{flightFare.fareTypeId}}"
                                   ng-model="flightFare.isFlightSelect"
                                   ng-value="true"
                                   ng-hide="isMobileDevice">
                            </input>
                            <label for="radio_mobile_{{flight.flightRPH}}_{{flight.flightNumber}}_{{flightFare.fareTypeId}}_{{flightFare.fareTypeId}}">
                           <span ng-if="!flightFare.isFlightSelect">
                           <i class="fa fa-circle-thin"></i>
                           </span>
                           <span ng-if="flightFare.isFlightSelect">
                                <img src="js/util/isaui_lib/dist/images/selected-tick-circled.svg">
                           </span>
                            </label>
                        </div>

                        <div ng-if="!isFlightModification || flight.isFareListVisible" class="currency-text-container">
                            <span class="currency-text currency fare-and-services-footer-currency-text fare-flight-currency-text">{{currency}}</span>
                            <span class="currency-value fare-value fare-flight-currency-number" isa-connector="{{flightFare.updatedFareValue || flightFare.fareValue}}"></span>
                        </div>

                        <div class="ico" ng-if="isFlightModification && !flight.isFareListVisible" style="text-align: center">
                            <img width="12px" src="js/util/isaui_lib/dist/images/bx_loader.gif" alt="loading">
                        </div>
                    </td>
                </tr>
            </table>

        </div>
    </div>
    </div>
</a>

<div class="modal-box baggage-rates-modal" ng-show="showBaggagePopup">
    <!-- Overlay -->
    <div class="overlay"></div><!-- // Overlay -->

    <!-- Modal Content -->
    <div class="modal-content modal-baggage-content" style="padding: 0px; border: none; min-height: auto; max-width: 265px">

        <!-- Modal Header -->
        <div class="modal-header" style="font-size: 14px !important; font-weight: normal; margin-bottom:0px; padding: 10px 3px;">
           
            <span class="close-btn" ng-click="closeBaggagePopup()" style="position: relative; top: 0px; right: 5px;">
                <i class="fa fa-times"></i>
            </span>
            <p style="line-height: 2; padding-left: 17px; padding-right: 17px; margin-bottom: 0;"
                  translate="msg_baggage_rates"
                  translate-values="{origin : '<b>{{flight.originCode}}</b>' , destination : '<b>{{flight.destinationCode}}</b>' }">
                Baggage Rates for {{flight.originCode}} to {{flight.destinationCode}}</p>
           
        </div>

        <!-- Modal Body -->
        <div class="modal-body" style="padding: 20px 10px;">
            <table ng-if ="selectedFareBaggageRates" style="width:auto; direction: ltr; margin: 0 10px;">
                <tbody>
                <tr ng-repeat = "rate in selectedFareBaggageRates" ng-if="selectedFareBaggageRates.length != 0"
                    style="line-height: 1.8">
                    <td class="baggage-rates-price-desc">{{rate.baggageDescription}}</td>
                    <td class="baggage-rates-price-text" style="padding-left: 30px">
                        <span class="currency-text currency fare-and-services-footer-currency-text">{{currency}}</span>
                        <span class="currency-value fare-value" isa-connector="{{rate.baggageCharge}}" with-decimal="true"></span>
                    </td>
                </tr>
                <tr ng-if="selectedFareBaggageRates.length == 0">
                    <td translate="lbl_common_notAvailable" style="text-align: center">Not Available</td>
                </tr>
                </tbody>
            </table>

            <div class="ico" ng-if="!selectedFareBaggageRates" style="text-align: center">
                <img width="40px" src="js/util/isaui_lib/dist/images/bx_loader.gif" alt="loading">
            </div>
        </div>
    </div>
</div>
</div>