/*@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    *:not(i):not(.path1):not(path2):not(.fa){
        font-family: 'Roboto', sans-serif;
    }
}*/
.LTR .meal-block .options .dropdown-content, .RTL .meal-block .options .dropdown-content {
    background-color: $secondery_color;
   }
   .RTL{
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li .mod-flight{
           .icon-outbound-plane-small{
               display:inline-block;
               .path1{
                   &:before{
                       content:"\e926";
                       color:$primery_color;
                   }
               }
               .path2{
                   &:before{
                       content:"\e912";
                       color:$gray;
                   }
               }
       
               .path1,.path2{
                   float:left;
               }
           }
           .icon-inbound-plane-small{
               display:inline-block;
               .path1{
                   &:before{
                       content:"\e928";
                       color:$primery_color;
                   }
               }
               .path2{
                   &:before{
                       content:"\e927";
                       color:$gray;
                   }
               }
       
               .path1,.path2{
                   float:left;
               }
           }
   
       }
   
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active .mod-flight .icon-outbound-plane-small .path1:before,
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active .mod-flight .icon-inbound-plane-small .path1:before,
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list >div li:hover .mod-flight .icon-outbound-plane-small .path1:before,
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list >div li:focus .mod-flight .icon-outbound-plane-small .path1:before,
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list >div li:hover .mod-flight .icon-inbound-plane-small .path1:before,
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list >div li:focus .mod-flight .icon-inbound-plane-small .path1:before,
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list  >div li.active:hover {
            color: $flight-icon-prmary;
       }
       
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active .mod-flight .icon-inbound-plane-small .path2:before,
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active .mod-flight .icon-outbound-plane-small .path2:before,
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list >div li.active:hover .mod-flight .icon-inbound-plane-small .path2:before,
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list >div li.active:focus .mod-flight .icon-inbound-plane-small .path2:before,
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list >div li.active:hover .mod-flight .icon-outbound-plane-small .path2:before,
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list >div li.active:focus .mod-flight .icon-outbound-plane-small .path2:before
       {
            color:  $white;
       }
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list >div li:hover .mod-flight .icon-inbound-plane-small .path2:before,
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list >div li:focus .mod-flight .icon-inbound-plane-small .path2:before,
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list >div li:hover .mod-flight .icon-outbound-plane-small .path2:before,
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list >div li:focus .mod-flight .icon-outbound-plane-small .path2:before{
            color: $flight-icon-secdry;
       }
   
       .icon-inbound-plane-small{
           .path2::before{
                color: $flight-icon-prmary;
                content: "\e926";
                margin-left: -2.470703125em;
           }
           .path1:before{
               color: $flight-icon-secdry;
               content: "\e912";
           }
       }
       .icon-outbound-plane-small{
           .path2::before{
                color: $flight-icon-prmary;
               content: "\e928";
           }
           .path1:before{
               color: $flight-icon-secdry;
               content: "\e927";
           }
       }
   }
   .LTR{
   
       .icon-outbound-plane-small,.icon-inbound-plane-small{
           .path2::before{
               color: $flight-icon-prmary;
           }
           .path1:before{
               color: $flight-icon-secdry;
           }
       }
   
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active .mod-flight .icon-outbound-plane-small .path1:before,
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active .mod-flight .icon-inbound-plane-small .path1:before,
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list  >div li.active:hover {
           color: $white !important;
       }
       
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active .mod-flight .icon-inbound-plane-small .path2:before,
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active .mod-flight .icon-outbound-plane-small .path2:before,
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list >div li:hover .mod-flight .icon-inbound-plane-small .path2:before,
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list >div li:focus .mod-flight .icon-inbound-plane-small .path2:before,
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list >div li:hover .mod-flight .icon-outbound-plane-small .path2:before,
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list >div li:focus .mod-flight .icon-outbound-plane-small .path2:before 
       {
           color:  $primery_color;
       }
   
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list >div li:hover .mod-flight .icon-outbound-plane-small .path1:before,
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list >div li:focus .mod-flight .icon-outbound-plane-small .path1:before,
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list >div li:hover .mod-flight .icon-inbound-plane-small .path1:before,
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list >div li:focus .mod-flight .icon-inbound-plane-small .path1:before{
           color: $gray;
       }
   
   }
   .LTR, .RTL {
       .rewards-login .tabbed-content #signin-content h3{
           margin-bottom: 10px;
       }
   
       .xs-li-logo span{
           width: 185px !important;
       }
       
       .flight-result-block .flight-options .flight-options-table .options-row.header .right-section {
           .fare-type-1{
               background-color: lighten($secondery_color, 30%) !important;
           }
           .fare-type-2{
               background-color: lighten($secondery_color, 25%) !important;
           }
           .fare-type-3{
               background-color: lighten($secondery_color, 20%) !important;
           }
           .fare-type-4{
               background-color: lighten($secondery_color, 15%) !important;
           }
   
           .fare-type-5{
               background-color: lighten($secondery_color, 10%) !important;
           }
           .fare-type-6{
               background-color: lighten($secondery_color, 5%) !important;
           }
       }
   
       .flight-result-block .flight-options .flight-options-table .options-row.header .right-section {
           .fare-type-1,
           .fare-type-2,
           .fare-type-3,
           .fare-type-4,
           .fare-type-5,
           .fare-type-6{
               flex-grow:1;
           }
       }
   
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li .mod-flight .icon-outbound-plane-small .path2:before {
           margin-left: -3em;
       }
   
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li .mod-flight .icon-inbound-plane-small .path2:before {
           margin-left: -3em;
       }
   
     
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active:after {
           border-left: 15px solid $space-gray !important;
           //background-color: $space-gray !importa $primery_color;nt;
           color: $white !important;
       }
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list >div li.active{
           background-color: $space-gray !important;
           color: $white !important;
       }
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list >div li:not(#flight-modify-mobile):hover,
           .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:not(#flight-modify-mobile):focus {
           background-color: $space-gray;
           color: $white;
           .flight-options{
               .flight-icon{
                   color: #ec0000!important;
                   background-color: transparent !important;
               }
           }
       }
   
       .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list >div li{
           background-color: $bg-primary-color !important;
           color: $black !important;
           @media only screen and (min-width:981px){
             height: 166.9px;
           }
           .flight-options{
               .flight-icon{
                   color: #ec0000!important;
                   background-color: transparent !important;
               }
           }
       }
   
      
    
   
   
       @media only screen and (max-width:767px) {     
           
           .ru{
               #regForm .reg-form .section .login-section-heading {
                 margin-bottom: 18px !important;
             }  
           } 
           .xs-details{
               >a:hover{
                text-decoration: none !important;   
               }
           }
   
           .xs-meal-block{
               span.cat-button{
                   background-color: $meals-cat-headin-bg-color !important;
                   color:$charcoal_gray !important;
               }
           }
           .meal-passenger-list{
               ul{
   /*                li{
                       border-bottom: 1px solid #e0dfdf !important;
                   }*/
                   li, li *{
                       background-color: $meals-passenger-bg-color !important;;
                   }
               }
           }
           .package-block .options-section .txt{
               color: $primery_color !important;
           }
           .left-section > .flight-data-row .flight-price-lbl .flight-price-expand-icon{
               color: $flight-price-expand-arrow !important;
           }
   }
   
       .reservation-details {
           .col .edit-pax {
               >label{
                   width:auto !important;
               }
           }
           .passengers{
               .pax-count-lbl{
                   float: left;
                   width: 100%;                
               }
           }
       }
   }
   .LTR header ul li a i.number {
       border-color:$secondery_color !important;
       color:$secondery_color !important;
   }
   .LTR, .RTL{        
       header{
           background-color: $bg_primary_color  !important;
           ul li {
               a {
                   color: $secondery_color !important;
               }
   
               &.completed:hover {
                   background: $color_variation_7 !important;
               }
               &.current {
                   background: $secondery_color !important;
                   @media only screen and (min-width:768px) {
                       span, i.number{
                           color: white !important;
                           border-color: white !important;  
                       }
                   }
   
                   @media only screen and (max-width:767px) {
                       span, i.number{
                           color: #000 !important;
                           border-color: #000 !important;  
                       }
                   }
               }
           }
   
       }
       
       @media only screen and (min-width: 768px){
           .sidebar-widget{
               .isa-radio-option-list-wrapper{
                   .widget-header{
                       background-color:$secondery_color !important;
                   }
               }
           }
   
           .reservation-details {
               .col .edit-pax {
                   i{
                       margin-right: 5px;
                       width:16px;
                       margin-top: 0px;
                   }
               }
           }
       }
   
   
       .select-extras .thumb-block .options .button.opt-btn{
           background-color: $charcoal_gray !important;
           &:hover {
               background-color: $primery_color !important;
           }
       }
   
       .payment-details .right-content .amount{
           margin-top:24px !important;
       }
   
       .drawer-bar {
           background: #e8e8e8 !important;
       }
   
       .services-selection .left-section .data-block ul li {
           &:hover {
               background-color: lighten($secondery_color, 10%) !important;
           }
   
           &.active {
               background-color: $secondery_color !important;
   
               &:after {
   /*                border-left: 15px solid $secondery_color !important;*/
               }
           }
       }
   
       .rewards-login .heading .airline-logo{
           height : 45px !important;
       }
   
       .select-passenger .passengers-list ul, .LTR .seat-selection .left-section .data-block ul {
           li{
               background-color: $site-bg-color !important;
           }
   
           li.active-pax, li.active{
               background-color: $secondery_color !important;
               &:after{
                   /*border-left: 15px solid $secondery_color !important;*/
               }
           }
       }
   
       .right-section-fare { 
           a.fare-option-0{
               background-color: lighten($secondery_color, 35%);
           }
           a.fare-option-1{
               background-color: lighten($secondery_color, 26%);
           }
           a.fare-option-2{
               background-color: lighten($secondery_color, 17%);
           }
           a.fare-option-3{
               background-color: lighten($secondery_color, 9%);
           }
           a.fare-option-4{
               background-color: lighten($secondery_color, 1%);
           } 
       }
   
   }
   @media only screen and (min-width: 768px){
       .LTR  .rewards-login, .RTL .rewards-login {
           max-width: 420px !important;
   
           .tabbed-content{
               background-color: $bg_primary_color  !important;
           }
       }
       .ngdialog.ngdialog-theme-default .ngdialog-content{
           border-top: 5px solid $primery_color !important;
           background:#f0f0f0 !important;
       }
   }
   
   @media only screen and (max-width: 767px){
       .ngdialog.ngdialog-theme-default .ngdialog-content{
           border-top: none !important;
           background-color: $white !important;
       }
       .LTR, .dash-res-sum .res-summary-extras > div{
           .img{
               background-position-x: -19px !important;
           }
       }
   
       .LTR .rewards-login {
           .tabbed-content{
               background-color: $bg_primary_color  !important;
           }
           .heading .rewards-logo{
               //background-position: -147px 2px !important;
               background-image: url(../images/airewards-logo.png) !important;
           }
       }
       .dash-res-sum{ 
           .flight-summary-total{
               margin-bottom: 15px;
           }
           .panel-default>.panel-heading  {
               background-color: $white;
               border-color: $white;
               max-height: 60px;
           }
           .reservation-details .booking-details-h2 {
               color: $very_black;
           }
           .passengers-list-div {
               .glyphicon{
                   color: $very_black;
                   font-size: 12px;
               }
           }
           .contact-details-div {
               .glyphicon{
                   color: $very_black;
                   font-size: 12px;
               }
           }
           .reservation-details .col.passengers h2 {
               color: $very_black;
           }
           .contact-details h2 {
               color: $very_black;
           }
           .extra-details-div {
               .glyphicon {
                   color: $very_black;
                   font-size: 12px;
               }
               .heading-text {
                   color: $very_black !important;
                   font-size: 16px;
               }
           }
           .xs-modify-filght-summary .ft-heading {
               background-color: $bg_primary_color;
               color: $very_black;
               font-size: 12px;
           }
   
           .flight-summary-heading, .flexi-details-heading, .payment-details-heading {
               color: $very_black;
           }
           .flight-summary-glyphion, .flexi-details-glyphion, .payment-details-glyphion {
               color: $very_black;
               font-size: 12px;
           }
   
       }
   
       .xs-enterdetails{
           color: $black !important;
       }
       .heading-text{
           color: $black !important;
       }
       .extras-header{
           .content-header{
               .page-title{
                   >h1{
                       >a{
                           color: $black !important;
                       }
                   }
               }
           }
       }
       #modify-flight-head{
           color: $very_black !important;
       }
       .dash-alert{
           .notification{
               color: $black !important;
               background-color: transparent !important;
           }
       }
       .flights-head{
           >div{
               color: $very_black !important;
           }
       }
   
       .modify-or-cancel{
           .cancel{
               button{
                   background-color: $mild-gray !important;
               }
           }
       }
   
       .LTR .fare-floater-wrapper ul li.selected-date .day-block .day-fare {
           color: $black !important;
           font-weight: 700;
       }
   
       .LTR .font-color-red :not(#travelfare-summary-bottom .font-color-red) {
           color: $color_discount_for_booking !important;
       }
   
       .div-plain-icon {
           .icon-plane_shape_R, .icon-plane_shape_L {
               color: $red;
           }
   
       }
       .paxList .panel-group .panel .panel-heading > h4 > a > span > div{
           >i{
               color: $inflight-pax-icon !important;
           }
           >label{
               color: $charcoal_gray !important;
           }
       }
       .available-services > h2{
           color: $charcoal_gray !important;
       }
       .available-services > ul > li{
           .data > div{
               >h4,>span{
                   color: $inflight-services-details !important;
               }
           }
           .price{
               color: $very_black !important;
           }
       }
   
       #xs-modifyflightdraw-flights-info-block{
           .xs-text-center {
               color: $very_black;
           }
       }
       .LTR .summary-drawer .drawer-desc .flight-info-scroll .price-info-block {
           .price-breakdown-lbl {
               color: $black;
           }
       }
       .LTR .summary-drawer .drawer-desc .flight-info-scroll .price-info-block 
       .total-credit {
           //color: $very_black;
       }
       #modify-summary-last-label{
           color: $black;
       }
       .mrt-row{
           border-bottom-color: $dashboard-border !important;
       }
       .view-reservations{
           .xs-backtodash{
               background-color: $bg_primary_color !important;
           }
       }
       .summery-panel-header,.summery-panel-content{
           color: $charcoal_gray !important;
       }
       .sidebar-widget{
           .isa-radio-option-list-wrapper{
               .widget-header{
                   .left{
                       color:$charcoal_gray !important;
                   }
               }
           }
       }
       .available-services{
           >ul{
               >li{
                   background-color: $bg_primary_color !important;
               }
           }
       }
       .meals-qty-dropdown{
           ul{
               li{
                   background-color: $bg_primary_color !important;
               }
           }
       }
       #aircraft-modal-map{
           .map-heading{
               background-color: $site-bg-color !important;
           }
           .passenger-info{
               border-bottom-color: $bg_primary_color !important;
           }
       }
       .seat-selection{
           .row{
               .left-section{
                   .data-block ul{
                       li{
                           border-bottom-color: $dashboard-border !important;
                           background-color: transparent !important;
                       }
                       li.active{
                           background-color: transparent !important;
                           color: $black !important;
                           label i{
                               color: $black !important;
                           }
                       }
                   }
               }
           }
       }
       #modify-search-list{
           .ibe-typeahead{
               >div{
                   >ul{
                       .active{
                           >a{
                               color: $white !important;
                           }
                       }
                   }
               }
           }
       }
       #modify-ibe-date-picker{
           >p{
               >ul{
                   >li{
                       >div{
                           >table{
                               >thead{
                                   background-color: $white !important;
                               }
                           }
                       }
                   }
               }
           }
       }
       .dashboard-widget{
           >.widget-header{
               background-color: $primery_color !important;
           }
       }
       .dash-mod-flights .back-bar a.submit-link:hover{
           color: $black !important;
       }
       .dash-res-sum .passenger-div-xs .panel-group, .dash-res-sum .contact-xs-div .panel-group, .dash-res-sum .extra-xs-div .panel-group, .dash-res-sum .flight-summary-xs-div .panel-heading > h4, .dash-res-sum .payment-details-xs-div .panel-group{
           border-bottom-color: $dashboard-border !important;
       }
       .LTR .rewards-login .tabbed-content #signin-content h3, .RTL .rewards-login .tabbed-content #signin-content h3{
           color: $black !important;
       }
       .LTR .rewards-login .tabbed-content #signin-content form .ibe-typeahead > div > div > label{
           color: $black !important;
       }
       .LTR .payment-confirmation .thanks{
           color: $charcoal_gray !important;
       }
       .LTR .payment-confirmation .inpage-alert > span > span{
           color: $charcoal_gray !important;
       }
       .xs-passdetailsrow .col-xs-1{
           i{
               color: $charcoal_gray !important;
           }
       }
       .content .xs-contactrow .xs-contact-labels{
           color: $black !important;
       }
       uib-accordion.segment-list .panel-heading{
           background-color: $site-bg-color !important;
       }
       .xs-passengerslist,#contact-information,.xs-payment-details{
           .form-control{
               background-color: $white !important;
           }
       }
       #xs-summary-drawer{
           background-color: $white !important;
       }
       .xs-summary-drawer .drawer-bar .container{
           background-color: $site-bg-color !important;
       }
       .seat-slider-section .meal-slider .xs-meal-block .option-section button .meal-select-done{
           background-color: $meals-passenger-bg-color !important;
       }
       .dash-res-sum .reservation-flexibility-heading .col-xs-4{
           color: $very_black !important;
       }
       .seat-slider-section .meal-slider .xs-meal-block .meals-qty-dropdown ul li{
           border-bottom-color: $dashboard-border !important;
       }
       .modify-cur-bg-grey {
           background-color: $meals-passenger-bg-color !important;
       }
       .package-block{
           .baggage-section-0{
               background-color: lighten($secondery_color, 65%);
           }
           .baggage-section-1{
               background-color: lighten($secondery_color, 60%);
           }
           .baggage-section-2{
               background-color: lighten($secondery_color, 55%);
           }
           .baggage-section-3{
               background-color: lighten($secondery_color, 50%);
           }
           .baggage-section-4{
               background-color: lighten($secondery_color, 40%);
           } 
           .baggage-section-5{
               background-color: lighten($secondery_color, 30%);
           } 
       }
       .flight-result-block .flight-options .options-row.body a{
           .important-info{
               color: $white !important;
               span{
                   color: $white !important;
               }
           }
       }
       .flight-result-block .flight-options .options-row.body a.selected-fare{
           .important-info{
               color: $very_black !important;
               span{
                   color: $very_black !important;
               }
           }
       }
       .package-block .options-section.active{
           background: $light_gray !important;
       }
       .package-block .options-section{
           background: none !important;
       }
       
   }
   .LTR .package-block .main-section .details span {
       i{
           color: $secondery_color !important;
       }
       p{
           color: $secondery_color !important;
       }
       .label-red{
           color: $primery_color !important;
       }
   }
   .button.gray-btn{
       background-color:$secondery_color !important;
   }
   .button.gray-btn:focus{
       background-color:$secondery_color !important;
   }
   .button.gray-btn:hover{
       background-color:$primery_color !important;
   }
   .LTR .RTL .package-block.flexi-block .main-section .details i{
       color:$primery_color !important;
   
   }
   .LTR .login {
       border-top: solid $primery_color 5px !important;
       background-color: $bg_primary_color;
   }
   .LTR .fare-radio-container .fare-radio [type="radio"]:checked + label:after {
       background-image: url('../images/selected-a.svg') !important;
   }
   .RTL .fare-radio-container .fare-radio [type="radio"]:checked + label:after {
       background-image: url('../images/selected-a.svg') !important;
       background-position: center;
       background-repeat: no-repeat;
       content: '' !important;
       height: 16px;
   }
   .RTL .seat-selection .left-section .data-block ul li.active:after{
       border-right: unset;
       transform: rotateY(180deg);
   }