.cboFont
{
	font-family:Tahoma;
	font-size:11px;
	color:Black;}

.cboList
{
	border-color:black;
	background-color: white;
	border-width:1px 1px 1px 1px; 
	border-style:solid; 
	}	
.cboItems
{
	cursor:pointer;
	border-width:1px 1px 1px 1px; 
	border-style:solid; 
	}		
.cboItemsDefault
{
	background-color: white;
	border-color:white;
	}
.cboItemsSelected
{
	border-color:#9CB77A;
	background-color: #C5DBA8;
	}	
.cboListBorder{
	BORDER-RIGHT: #333333 1px solid; 
	BORDER-TOP: #333333 1px solid; 
	BORDER-LEFT: #333333 1px solid; 
	BORDER-BOTTOM: #333333 1px solid;
}	
.cboScroll
{
	scrollbar-arrow-color:black;
	scrollbar-base-color:silver;
	scrollbar-shadow-color:gray;
	scrollbar-face-color:#ECF6DF;
	scrollbar-highlight-color:white;
	margin:0px 0px 0px 0px;
	}
.cboButton
{
	height:18px;
	width:10px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	cursor:pointer;
	}
.cboButtonBG
{
	background-color:#ECF6DF;
	}
.cboInput
{
	font-family: tahoma;
	font-size: 11px;
	height: 19px;
	color: #925656;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
	