.RTL{
    .accelAero-slide ul li .day-month-date-text{
        direction: rtl;
    }
    @media only screen and (max-width:767px){
        .reservation-details{
            .cancel-res-rtl {
                padding-left: 10px !important;
            } 
        }
    }
    .close{
        float: left;
    }
    .ui-datepicker .ui-widget-header .ui-icon{
        text-indent: 100%;
    }
    .ui-datepicker .ui-icon-circle-triangle-w:before{
        position: absolute;
        left: 0px;
    }
    .ui-datepicker .ui-icon-circle-triangle-e:before {
        position: absolute;
        left: 0px;
    }
    .ui-datepicker .ui-widget-header select.ui-datepicker-month{
        margin-right: 0px;
        margin-left: 5px;
    }
    .ui-datepicker .ui-widget-header select.ui-datepicker-month , .ui-datepicker .ui-widget-header select.ui-datepicker-year {        
        margin-top: 5px;
    }
    .modify-search .btn-wrap #modify-search i.glyphicon-chevron-right{
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
        color: #DCDCDC;
        vertical-align: middle;
    }
    .modify-search .btn-wrap #modify-search{
        padding-top: 6px;
    }
    .modify-search .btn-wrap #modify-search a{
        cursor: pointer;
    }
    .flight-result-block .flight-options .flight-options-table .options-row.header label{
        text-align: right;
    }
    .flight-result-block .flight-options .flight-stop-wrapper .flight-start .flight-name{
        top:30px;
    }
    /*
    .flight-result-block .flight-options .flight-options-table .options-row.body .options-td.arrival-time{
      padding: 25px 35px 8px 8px !important;
    }*/
    .modify-search .btn-wrap #currency .cc-link .currancy-type {
        color: #333333;
    }
    #mod-search .radio [type="radio"]:not(:checked) + label:after{
        right: 0;
    }
    #mod-search .radio [type="radio"]:checked + label:after{
        top: 12px;
    }
    #mod-search .text-right{
        text-align: left;
    }
    #mod-search .ibe-date-picker .input-group .form-control{
        border-left-color: gray !important;
        padding-right: 12px !important;
    }
    .summary-drawer .drawer-desc i.glyphicon, .reservation-drawer .drawer-desc i.glyphicon{
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
        margin-left: 5px;
        margin-top: 3px;
        color: #DCDCDC;
    }
    .summary-drawer .drawer-desc .summary-modify-button .modify-search-link{
        color: #999999 !important;
    }
    .summary-drawer .drawer-bar .drawer-icon, .reservation-drawer .drawer-bar .drawer-icon{
        float: right;
        height: 61px;
        font-size: 35px;
        padding: 22px 15px 0 0;
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .phone-number .row .col-md-3 span, .phone-number .row .col-md-9 span {
        font-size: 13px;
    }
    .sector-flight-info .flight-block .flight-time .departure-arrival label{
        clear: both;
    }
    .contact-information .heading .info{
        float: left;
    }
    .select-passenger .passengers-list ul li span label{
        /*direction: ltr;*/
    }
    .rewards-login .heading .rewards-logo{
        background-size: 100%;
        width: 60%;
        float: left;
    }

    .drawer-arrow span {
        position: absolute;
        right: 5px;
    }
    .package-block .details span .txt-highlight{
        direction: ltr;
    }

    .extras-content{
        .icon-outbound-plane-small .path1, .icon-outbound-plane-small .path2, .icon-inbound-plane-small .path1, .icon-inbound-plane-small .path2{
            float: right !important;
            -ms-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
    .seat-selection .left-section .data-block ul li span label{
        padding: 12px 10px 12px 5px;
    }
    .package-block .dropdown-content .col .weight{
        direction: ltr;
    }
    .insurance .modal-content .modal-footer .row{
        clear: both;
    }
    .package-block .main-section .details span i.currency, .package-block .main-section .details span i.currency + i{
        padding-top: 0px;
        margin-top:0px;
    }

    .radio.payment-logo [type="radio"] + label:before{
        float: right;
    }
    .payment-options .radio.payment-logo label{
        direction: rtl;
    }
    .payment-logo{
        float: right;
    }
    .radio.payment-logo [type="radio"]:checked + label:after{
        position: absolute;
        right: 0px;
    }
    .radio.payment-logo  [type="radio"]:not(:checked) + label:after{
        position: absolute;
        right: 0px;
    }
    .dropdown-menu > li > a{
        text-align: left;
        direction: ltr;
    }
    .ibe-typeahead .dropdown-menu > li > a{
        text-align: right;
        direction: ltr;
    }
    .select-passenger .passengers-information .ibe-drop-down .dp-caption{
        direction: ltr;
        text-align: right;
    }
    .tooltip-inner {
        max-width: 210px;
        padding: 1px;
    }

    .thumb-block .summery-panel .summery-panel-segments .summery-panel-content-wrapper .summery-panel-content div{
        direction: ltr;
        text-align: right;
    }
    .package-block.flexi-block .options-section.active{
        background:none;
    }
    .package-block.flexi-block .options-section.active:hover, .package-block.flexi-block .options-section.active:focus{
        background:#e8e8e8;
    }
    .summary-drawer .drawer-desc .close-button, .reservation-drawer .drawer-desc .close-button {
        position: absolute;
        left: 0px;
        right: inherit;
    }

    .package-block.flexi-block .options-section {
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
    }
    .content-header .page-title h1{
        line-height: 30px !important;
    }

    .flight-result-block .page-title .main-text span.thin:first-child{
        height: 36px;
        display: inline-block;
    }

    &.ar{
        /*
        header ul:first-child li:not(.logo){
          
          width: 148px;
          padding: 25px 15px;
          
          a{
            float: right;
          }
        }
        */
        .payment-details .right-content .amount {
            margin-top: 23px!important;
	      &.zero-top-margin {
		margin-top: 0px !important;
	      }
        }
        .button, .cat-button{
            font-size: 16px;
        }
        .select-all-btn{
            float: left;
        }
        .package-block .options-section .txt {
            font-size: 13px;
        }
    }

    &.fa{
        /*
        header ul:first-child li#search{
         
          width: 134px;
          padding: 25px 30px;
         
          a{
            float: left;
          }
        }
        header ul:first-child li:not(.logo){
         a{
            float: right;
          }
        }
        */

        .rewards-login .heading .rewards-logo{
            background-size: contain;
            width: 85%;
        }
        .payment-details .right-content .amount {
            margin-top: 104px !important;
      		&.zero-top-margin {
        		margin-top: 0px !important;
      		}
        }
        /*        .button, .cat-button{
                    font-size: 16px;
                }*/
        .package-block .options-section .txt {
            font-size: 13px;
        }

    }

    header ul:first-child li:not(.logo) a i.number, header ul:first-child li:not(.logo) a i:before{
        flex-grow:1;
        margin-right: 3px;
        margin-left: 4px;
    }

    .flight-result-block .flight-options .flight-options-table .options-row.body .options-td.departure-time{
        flex-grow:1;
        padding-top: 15px;
    }

    .flight-result-block .flight-options .flight-options-table .options-row.header .options-td.departure-time{
        flex-grow:1;
    }

    .flight-result-block .flight-options .flight-options-table .options-row.body .options-td.flight-info{
        width: 60%;
        padding: 0px 11px 8px 8px;
    }
    .flight-result-block .flight-options .flight-options-table .options-row.header .options-td.flight-info{
        width: 60%;
        padding-top: 11px;
        padding-right: 10px;
    }

    .flight-result-block .flight-options .flight-options-table .options-row.body .options-td.arrival-time{
        width:15%;
        padding-right: 15px;
        @media screen and (max-width: 767px) { 
            padding: 0px 0px 10px 8px !important;
        }
        label{
            display: block;
            text-align: right;
        }
        &.nextday-flag{
            @media screen and (max-width: 767px) { 
                padding: 0px 0px 10px 8px !important;
            }
        }
    }

    .flight-result-block .flight-options .flight-options-table .options-row.header .options-td.arrival-time{
        width:15%;
        padding-top: 8px;
        padding-right: 15px;
        text-align: right;
    }

    .flight-result-block .flight-options .options-row.fare_col_3 .left-section{
        padding-right: 0px;
    }

    .curruny-wrapper ul li .flag {
        height: 25px;
        background-size: 40px;
    }  

    .select-meals .pagination-wrapper ul{
        float: right;
    }

    .select-sevices .services-selection .left-section .data-block {
        color: #414042;
        background-color: #ffffff;
    }
    .select-sevices .services-selection .left-section .data-block ul li.active {
        color: #ffffff;
        background-color: $secondery_color;
    }
    .select-sevices .services-selection .left-section .data-block ul li.active:after{
        border-right: 15px solid $secondery_color;
    }
    .select-sevices .services-selection .left-section .data-block .heading-title{
        padding: 20px 0px;
    }
    .passenger-count-select .dropdown-box{
        z-index: 1;
    }
    .modif-search .triptype .radio{
        float: right;
    }

    .flight-result-block .flight-options .flight-stop-wrapper .flight-point li{
        float: right;
    }

    .flight-result-block .flight-options .flight-stop-wrapper .flight-icon{
        -moz-transform: scaleX(-1);    /* Gecko */
        -o-transform: scaleX(-1);      /* Opera */
        -webkit-transform: scaleX(-1); /* Webkit */
        transform: scaleX(-1);         /* Standard */
        filter: FlipH;  
    }

    .flight-result-block .flight-options .flight-stop-wrapper .flight-point li .flight-name{
        -moz-transform: scaleX(-1);    /* Gecko */
        -o-transform: scaleX(-1);      /* Opera */
        -webkit-transform: scaleX(-1); /* Webkit */
        transform: scaleX(-1);         /* Standard */
        filter: FlipH;  
    }

    .flight-result-block .flight-options .flight-stop-wrapper .flight-start .flight-name{
        -moz-transform: scaleX(-1);    /* Gecko */
        -o-transform: scaleX(-1);      /* Opera */
        -webkit-transform: scaleX(-1); /* Webkit */
        transform: scaleX(-1);         /* Standard */
        filter: FlipH;  
        top:-18px;

    }
    .modify-search .page-title .main-text span.truncate {
        position: relative;
        top: 15px;
        height: 33px;
    }
    .user-details {
        direction: rtl;
        text-align: right;
    }
    .dashboard .user-profile-dropdown .dropdown-content ul li{
        width: 100% !important;
        padding: 0px !important;
    }
    .dashboard.modify-search .ibe-typeahead ul.dropdown-menu li{
        width: 100%;
        a{
            width: 100%;
        }
    } 
    .dashboard.modify-search .ibe-typeahead ul.dropdown-menu li.active{
        a{
            color: #fff;
        }
    }
    .user-details i{
        float: right;
        padding-left: 5px;
    }
    .content-wrapper .content-body .passenger-header{
        width: 100%;
    }
    .flight-result-block .flight-options .flight-options-table .options-row.body .tooltip{
        width: 50%;
    }
    .flight-result-block .flight-options .flight-options-table .options-row.body .tooltip .tooltip-inner{
        width: 100%;
    }
    .flight-result-block .flight-options .flight-options-table .options-row.body .tooltip .tooltip-inner .fare-tooltip-wrappe{
        text-align: right;
    }

    header ul:first-child li:not(.logo){
        table{
            td{
                padding:0px 10px 0px 0px;
                &:nth-child(2){
                    padding:0px 0px 0px 10px;
                }
            }

        }
    }

    .extras-header.content-wrapper .content-header .page-title h1{
        a.skip{
            text-align: left;
        } 
    }

    .ui-datepicker .ui-datepicker-title select.ui-datepicker-year{
        float: right;
    }
    .meals-search-box .selected-cat .button.check-btn:before, .cat-button.check-btn:before{
        padding-left: 5px;
    }

    header ul:first-child li#search table td span{
        width: 75px;
    }

    .sidebar-widget .widget-content .w-section .radio-section .item .sub-section .section-title .text{
        direction: ltr;
        padding-left: 5px;
    }
    .registration .radio [type=radio]:not(:checked)+label:after{
        right: 0px;
    }
    .registration .radio [type=radio]:checked+label:after {
        right: 0px;
        top: 12px;
    }
    .reg-form .section .row .col {
        float: right;
        position: relative;
    }
    .page-banner img{
        float: left;
    }
    .dashboard .user-profile-dropdown{
        float: left;
    }
    .dashboard .navigation-dropdown{
        float: left;
    }
    .reg-form .section .section-heading small{
        float: left;
    }
    .reg-form #smsRadioYes + label:after{
        right: 0px;
    }
    .multicity-search-panel{
        .ibe-date-picker .input-group .form-control{
            border-right-color: #000 !important;
            border-left: none;
        }
        .ibe-date-picker .input-group .input-group-btn .btn{
            border-left: 1px solid #000 !important;
            border-right: none;
        }
        .input-group.inputicon-on-left .form-control{
            border-left: 1px solid #000 !important;
            border-right: none;
        }
        .input-group.inputicon-on-left .input-group-addon{
            border-right: 1px solid #000 !important;
            border-left: none;
        }
        .radio [type="radio"]:checked + label:after{
            top: 10px !important;
            right: 2px !important;
        }
        .radio [type="radio"]:not(:checked) + label:after{
            top: 10px !important;
            right: 2px;
        }
        .ibe-date-picker .dropdown-menu{
            right: 0px;
        }
        .ibe-date-picker ul.dropdown-menu li table thead tr th .btn i.glyphicon{
            -moz-transform: scaleX(-1);    /* Gecko */
            -o-transform: scaleX(-1);      /* Opera */
            -webkit-transform: scaleX(-1); /* Webkit */
            transform: scaleX(-1);         /* Standard */
            filter: FlipH;  
        }
    }
    .multi-city-selecting-flights{

        .accelAero-slide ul{
            left: 108px !important;
        }
        table tr td .radio [type="radio"]:not(:checked) + label:after{
            right: 0px;
        }  
        .table th{
            text-align: right;
        }
        .btn-previous i{
            -moz-transform: scaleX(-1);    /* Gecko */
            -o-transform: scaleX(-1);      /* Opera */
            -webkit-transform: scaleX(-1); /* Webkit */
            transform: scaleX(-1);         /* Standard */
            filter: FlipH;  
        }
    }  
    .multi-city-selected-flights{
        .table th{
            text-align: right;
            &.fare{
                text-align: center;
            }
        }  
        .table td .radio{
            display: inline-block;
        }  
        .btn-previous i{
            -moz-transform: scaleX(-1);    /* Gecko */
            -o-transform: scaleX(-1);      /* Opera */
            -webkit-transform: scaleX(-1); /* Webkit */
            transform: scaleX(-1);         /* Standard */
            filter: FlipH;  
        }
    } 

    .summary-drawer .drawer-desc .summary-modify-button .col-md-4.txt-a-r{
        text-align: left;
        .modify-search-link{
            cursor: pointer;
        }
    }
    .dash-res-sum .reservation-extras ul li:hover .data span a{
        top: 40px; 
        cursor: pointer;
    }
    .dash-res-sum .flight-summary .title.col-sm-9{
        float: right;
        padding-right: 0px;
    }
    .dash-res-sum .flight-summary .btn-wrap.col-sm-3.pull-right.pd-r-0{
        padding-left: 0px;
    }

    .dash-res-sum .btn-wrap.col-sm-3.pull-right.pd-r-0{
        padding-left: 0px;
        padding-right: 15px;
    }
    .dash-res-sum .reservation-details .col ul li label{
        float: right;
    }
    .available-services .ibe-date-picker .dropdown-menu .btn i{
        -moz-transform: scaleX(-1);    /* Gecko */
        -o-transform: scaleX(-1);      /* Opera */
        -webkit-transform: scaleX(-1); /* Webkit */
        transform: scaleX(-1);         /* Standard */
        filter: FlipH;  
    }
    .available-services .ibe-date-picker .input-group .dropdown-menu{
        width: 110%;
        right: 0px;
    }
    .pagination-wrap .page-controllers .viewReservation-arrow a{
        .fa-angle-right:before{
            content: "\f104";
        }
    }
    @media screen and (max-width: 767px) {
        .ta-lt-def{
            text-align: left!important;
        }
        .ta-rt-def{
            text-align: right!important;
        }
        .mr-rt-0{
            margin-right: 0px!important;
        }
        .pd-rt-0{
            padding-right: 0px!important;
        }
        .mr-lt-0{
            margin-left: 0px!important;
        }
        .pd-lt-0{
            padding-left: 0px!important;
        }
        .rtl-ac{
            .dropdown-menu{
                right: 15px;
                left: 0px;
            }
            .align-input {
                padding-left: 0!important;
            }
        }
        .phone-number .row .col-md-3 span, .phone-number .row .col-md-9 span {
            font-size: 10px;
        }
        .xs-totalsection{
            left: 0px;
            right: unset;
        }
        .pd-rt-5{
            padding-right: 5px !important;
        }
        .pd-lt-5{
            padding-left: 5px !important;
        }
        .pd-rt-10{
            padding-right: 10px !important;
        }
        .pd-lt-10{
            padding-left: 10px !important;
        }
        .pd-lt-15{
            padding-left: 15px !important;
        }
        .pd-rt-15{
            padding-right: 15px !important;
        }
        .pd-rt-25{
            padding-right: 25px !important;
        }
    }
    /*    .select-flight-plane-icon{
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }*/
    .source-destination{
        float: right !important;
    }
    .flight-stop-wrapper{
        .flight-start{
            margin-right: 0px !important;
        }
    }

    @media screen and (max-width: 767px) {
        .flight-result-block .flight-options .flight-stop-wrapper .flight-point li{
            margin-right: 15% !important;
        }
    
        .modify-search .page-title .main-text span.truncate{
            top:0px !important;
        }
        .flight-result-block .flight-options .flight-options-table .options-row.body .options-td.departure-time{
            padding-top:0px !important;
        }
        .flight-result-block .flight-options .flight-options-table .options-row.body .options-td.arrival-time{
            padding: 0px 0px 10px 8px !important;
            &.nextday-flag{
                    padding: 4px 0px 10px 8px !important;
            }
        }
        .rtl-icon-rotate{
            
        }
        .glyphicon-chevron-left:before {
        content: "\e080";
        }
        .glyphicon-chevron-right:before {
            content: "\e079";
        }
        .ui-datepicker .ui-widget-header select.ui-datepicker-month , .ui-datepicker .ui-widget-header select.ui-datepicker-year {        
        margin-top: 5px !important;
        }
        .flight-result-block .flight-options .flight-options-table .options-row.body .tooltip{
            width: 140%;
        }
     }
      .fa-angle-left:before {
        content: "\f105";
        }
    .text-left{
        text-align: right !important;
    }
    .text-right{
        text-align: left !important;
    }
    .next-passenger-direction{
        .fa-angle-right:before{
             content: "\f104" !important;;
        }
    }
} 
