<!-- Page Wrapper -->
<div class="content-wrapper payment-confirmation" ng-controller="confirmPageController as confirmPage">
    <section class="content-header">
        <isa-busy-loader ng-hide="confirmPage.requestComplete"></isa-busy-loader>
        <!-- Page Title -->
        <h1 class="page-title col-xs-12">
            <span>Email Confirmation Page</span>
        </h1><!-- // Page Title -->

        <span class="confirm-msg" ng-show="confirmPage.lmsConfirmSuccess && confirmPage.requestComplete">
            <span>Your Air Rewards account has been activated. Please <span class="redirect-url" ng-click="confirmPage.goToLogin()">sign in</span>.</span>
        </span>

        <span class="confirm-msg" ng-show="!confirmPage.lmsConfirmSuccess && confirmPage.requestComplete">
            <i class="fa fa-exclamation-triangle" style="color: red;font-size: 16px"></i>
            <label>{{confirmPage.message}}</label>
        </span>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="col-btn-search" style="margin: 0 auto;width:200px;">
                    <div ng-click="confirmPage.goToRegister()" ng-show="!confirmPage.lmsConfirmSuccess"
                         class="btn red-btn btn-sm col-sm-4 ng-scope" translate="btn_common_register">Register</div>
                </div>
            </div>
        </div>
    </section><!-- // Content header -->
</div>