<!-- Page Wrapper -->
<div class="content-wrapper payment-confirmation" ng-controller="customerConfirmController as customerConfirmPage">
    <section class="content-header">
        <isa-busy-loader ng-hide="customerConfirmPage.requestComplete"></isa-busy-loader>
        <!-- Page Title -->
        <h1 class="page-title col-xs-12">
            <span>Email Confirmation Page</span>
        </h1><!-- // Page Title -->

        <span ng-show="customerConfirmPage.customerConfirm && customerConfirmPage.requestComplete">
            <i class="fa fa-check-square" style="color: green;font-size: 16px"></i>
            <label>{{customerConfirmPage.message}}</label>
        </span>

        <span ng-show="!customerConfirmPage.customerConfirm && customerConfirmPage.requestComplete">
            <i class="fa fa-exclamation-triangle" style="color: red;font-size: 16px"></i>
            <label>{{customerConfirmPage.message}}</label>
        </span>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="col-btn-search" style="margin: 0 auto;width:200px;">
                    <div ng-click="customerConfirmPage.goToRegister()" ng-show="!customerConfirmPage.customerConfirm"
                         class="btn red-btn btn-sm col-sm-4 ng-scope" translate="btn_common_register">Register</div>
                </div>
                <div class="col-btn-search" style="margin: 0 auto;width:200px;">
                    <div ng-click="customerConfirmPage.goToLogin()" ng-show="customerConfirmPage.customerConfirm"
                         class="btn red-btn btn-sm col-sm-4 ng-scope" translate="btn_common_login">Login</div>
                </div>
            </div>
        </div>
    </section><!-- // Content header -->
</div>