/* To Do : Refactor */
 html, body {	

}
* html{	
	overflow-x: hidden;
	overflow-y: auto;
	
}
body {
    background-color: #ece8e9 !important;
}
.mainPageLoader{
	display:none;
	z-index:9900;
	height:83px;
	position:absolute;
	top:50%;
	left:40%;
	width:249px
}
.mainPageLoaderFreame{
	position:absolute;
	background:transparent;
	width:253px;
	height:92px;
}
#pageLoading.mainPageLoaderFreame{
    background:white;
    width:253px;
    height:92px;
    z-index: 100;
    text-align: center;
}
html, body,  ol,  dd, blockquote, q, h1, h2, h3, h4, h5, h6, form, fieldset, a, div, img, table
{
	margin: 0;
	padding: 0;
	border: 0;
	font-family:Tahoma,Arial,sans-serif;
	font-size: 11px;
	
}

a:link
{
    COLOR: #134373;
    TEXT-DECORATION: none
}
a:visited
{
    COLOR: #134373;
    TEXT-DECORATION: none
}

UL
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 4px;
}
LI
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 0px;
    margin-left: 15px;
}
label{
	font-family:Tahoma,Arial,sans-serif;
	font-size:12px;
	left:auto;
	color: #0b0b0b;
	line-height: 20px;
}
.divfont{
	font-family:Tahoma,Arial,sans-serif;
	font-size:12px;
	left:auto;
	color: #0b0b0b;
}
font{
	font-family:Tahoma,Arial,sans-serif;
	font-size:12px;
	left:auto;
	color: #0b0b0b; 
}
.fntDefault{
	font-family:Tahoma,Arial,sans-serif;
	font-size:12px;
	left:auto;
	color: #0b0b0b;
}
.fntLink{
    text-decoration: underline;
    cursor: pointer;
}
.appLogo{
	background-image:url(../images/n024_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:0 bottom;
	background-color: transparent;
    position: relative;        
    bottom: 0px;        
    width: 100%;        
    height: 33px;
}
.topBannerMB{
	background-image:url(../images/n038_no_cache.jpg);
	background-repeat:repeat-x;
    background-image:none;      
    background-color: #3f2379;
	height:85px;
}

#lnkHomeBanner{
	background:url(../images/n037_no_cache.gif) no-repeat center left;
	width:470px;
	height:60px;
}

.PageBackGround{
	width: 100%! important;
}
.rowSingleGap{
	height:5px;
}
.rowGap{
	height:10px;
}
.defaultRowGap{
	height:25px;
    background: #fff;
}
.gap{width: 30px}
.pnlTop{
    background:#fff;
	height:8px;
    display: none;
}
.pnlWidth{
	width:800px;
}
.pnlWidthLeft{
	width:258px;
}
.pnlTopR{
	/*background-image:url(../images/LIbe001_no_cache.jpg);
	background:#EFF9FB;
	height:8px;
	width:8px;*/
    
}
.pnlBottom{
    /*background-image:url(../images/LIbe004_no_cache.jpg);
    background-repeat:repeat-x;
    background-position: 0 -1px;
    height:52px;*/
}
.non-pnlBottom{
    background-image: none;
    background-color: #DFDFDF! important;
}
.non-pnlBottom .gridHDFont{
    color: #0b0b0b;
}
.pnlBottomTall{
    background-image:url(../images/LIbe004_no_cache.jpg);
    background-repeat:repeat-x;
    background-position: 0 -1px;
    height:150px;
}
.pnlBottomTallCal{
    background-image:url(../images/LIbe004_no_cache.jpg);
    background-repeat:no-repeat;
    background-repeat:repeat-x;
    background-position: 0 -1px;
}
.fntSmall{
    font-size:9px;
}
.fntBold{
    font-weight:normal;
}
.hdFont{
    font-size:15px;
}
.hdFontColor{
    color:#3f2379;
}
.pTopDM .hdFontColor{
    color:#ffffff;
}

.mandatory,.Mandatory,#spnError li{
    color: red;
}
.tab1A{
    background-image:none;
    background-repeat:no-repeat;
    background-position:top;
    height:56px;
    width:200px;
}
.tab1{
    background-image:none;
    background-repeat:no-repeat;
    background-position:top;
    height:56px;
    width:200px;
}
.tab2A{
    background-image:none;
    background-repeat:no-repeat;
    background-position:top;
    height:56px;
    width:220px;
}
.tab2{
    background-image:none;
    background-repeat:no-repeat;
    background-position:top;
    height:56px;
    width:220px;
}
.tab3A{
    background-image:none;
    background-repeat:no-repeat;
    background-position:top;
    height:56px;
    width:200px;
}
.tab3{
    background-image:none;
    background-repeat:no-repeat;
    background-position:top;
    height:56px;
    width:200px;
}

select
{
    font-family: Tahoma,Arial,sans-serif;
    font-size: 11px;
    height: 19px;
    color: #4E4E4E;
    background-color: #FFFFFF;
    BORDER-RIGHT: thin groove #9D9D9D;
    BORDER-TOP: thin groove #9D9D9D;
    BORDER-LEFT: thin groove #9D9D9D;
    BORDER-BOTTOM: thin groove #9D9D9D;
    padding:1px! important;
    }

input, textarea{
    font-family: Tahoma,Arial,sans-serif;
    font-size: 11px;
    color: #4E4E4E;
    background-color: #FFFFFF;
    BORDER-RIGHT: solid 1px #9D9D9D;
    BORDER-TOP: solid 1px #9D9D9D;
    BORDER-LEFT: solid 1px #9D9D9D;
    BORDER-BOTTOM: solid 1px #9D9D9D;
    padding:3px;
    }
input[type='radio'], input[type='checkbox']{border:0px;.border:0px;_border:0px;.background: transparent;_background: transparent;}
.clsInput{
    font-family: Tahoma,Arial,sans-serif;
    font-size: 11px;
    color: #4E4E4E;
    background-color: #FFFFFF;
    border-bottom: thin groove #9D9D9D;
    border-top: thin groove #9D9D9D;
    border-left: thin groove #9D9D9D;
    border-right: thin groove #9D9D9D;
}

.noBorder
{
    font-family: Tahoma,Arial,sans-serif;
    font-size: 11px;
    color: black;
    border-color:green;
    border-width:0px;
}

.Button
{
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    text-align:center;
    text-transform: capitalize;
    color: white;
    background-color:#3f2379;
    background-image:none;
    height: 25px;
    width:74px;
    cursor:pointer;
    padding-bottom:5px;
    line-height: 22px;
    border: 0;
}

.ButtonLarge {
    background-color:#3f2379;
    background-image:none;
    cursor:pointer;
    width:185px;
}

.ButtonMedium {
    background-color:#3f2379;
    background-image:none;
    cursor:pointer;
    width:104px;
}

.btnCredit{
    background-color:#3f2379;
    width:104px;
    cursor:pointer;
}
.btnCDisable{
    background-color:#c4c4c4;
    width:104px;
    cursor:default;
}
.ButtonLargeDisable{
    background-color:#c4c4c4;
    background-image:none;
    width:185px;
    cursor:default;
}
.ButtonDefaultDisable{
    background-color:#c4c4c4;
    background-image:none;
    width:74px;
    cursor:default;
    background-repeat:no-repeat;
}

.GridHeader {
    background-color:#3f2379;
    height:20px;
}

.gridHD, .totalCol{
    background-color:#3f2379;
    height:40px;
}

.totalCol{
    background-color: #3f2379! important;
}
.gridHDDark{
    background-color:#3f2379;
    height:45px;
    padding: 5px;
}
.gridHDFont{
    color:white;
}
.gridHDsub {
    background-color: #333333;
    height: 18px;
}
.GridItems {
background-color:white;
height:20px;
}
.lpaneTopL{
    background-image:url(../images/LIbe006_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    height:27px;
    width:11px;
}
.lpaneTopM{
    background-image:url(../images/LIbe007_no_cache.jpg);
    background-repeat:repeat-x;
    background-position:top;
    width:238px;
}
.lpaneTopR{
    background-image:url(../images/LIbe008_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    width:11px;
}
.lpaneMidL{
    background-image:url(../images/LIbe009_no_cache.jpg);
    background-repeat:repeat-y;
    background-position:top;
    width:2px;
}
.lpaneMidM{
    background-color:white;
    width:257px;
}
.lpaneMidR{
    background-image:url(../images/LIbe010_no_cache.jpg);
    background-repeat:repeat-y;
    background-position:top;
    width:1px;
}
.lpaneBotL{
    background-image:url(../images/LIbe011_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    height:18px;
    width:11px;
}
.lpaneBotM{
    background-image:url(../images/LIbe012_no_cache.jpg);
    background-repeat:repeat-x;
    background-position:top;
    width:238px;
}
.lpaneBotR{
    background-image:url(../images/LIbe013_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    width:11px;
}
.navFont{
    font-size:12px;
    vertical-align: middle;
    color:white;
 }
.navFontBig{
    font-size:17px;
    vertical-align: middle;
    color:white;
 }
.rowColor{
    background-color:white;
}
.rowColorAlternate{
    background-color:#DFDFDF;
}
.bdLeft{
  /*  BORDER-LEFT: solid 1px #DFDFDF; */
}
.bdTop{
    BORDER-TOP: solid 1px #DFDFDF;
}
.bdBottom{
    BORDER-BOTTOM: solid 1px #DFDFDF;
}
.bdRight{
   /* BORDER-RIGHT: solid 1px #DFDFDF; */
}
.noPadding{
    padding:0px;
}
.lightGrayHD{
    background-color:#DFDFDF;
    height:25px;
}

.errorControl{
    background-color:#FEFFAF;
}

.fontCapitalize{
    text-transform: capitalize;
}
.ButtonAncilary{
    background-image: none;
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    text-align:center;
    text-transform: capitalize;
    color: gray;
    border-top: 0px solid #A65957;
    border-right: 0px solid #A65957;
    border-bottom: 0px solid  #A65957;
    border-left: 0px solid #A65957;
    height: 28px;
    width:174px;
    cursor:pointer;
    background-repeat:no-repeat;
    padding-bottom:2px;
}

.ButtonMeal{
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    text-align:center;
    text-transform: capitalize;
    color: #5A5A5A;
    background-color:transparent;
    background-image: url(../images/n056meal_no_cache.gif);
    border-top: 0px solid #A65957;
    border-right: 0px solid #A65957;
    border-bottom: 0px solid  #A65957;
    border-left: 0px solid #A65957;
    height: 25px;
    width:154px;
    cursor:pointer;
    background-repeat:no-repeat;
}
.oldSeat{
    background-image:none;
    background-repeat:no-repeat;
    height:15px;
    width:20px;
    background-position: -3px;
}
.aisle p{color: #51a7a4! important}
.availSeat{
    background-image:url('../images/LCAnsi004_no_cache.gif');
    background-repeat:no-repeat;
    height:15px;
    width:20px;
    background-position: 0px 0%;
}
.notAvailSeat{
    background-image:url('../images/LCAnsi002_no_cache.gif');
    background-repeat:no-repeat;
    height:15px;
    width:20px;
    background-position: 0px 0%;
}

.friendsSeat{
    background-image:url('../images/LCAnsi007_no_cache.gif');
    background-repeat:no-repeat;
    height:15px;
    width:20px;
}

.SltdSeat{
    background-image:url('../images/LCAnsi003_no_cache1.png');
    background-repeat:no-repeat;
    height:15px;
    width:20px;
    background-position: 0px 0%;
}
.aisle{
    height:15px;
    width:20px;
}
.exitLeft{
    background-image:url('../images/ANCI_06_no_cache.gif');
    background-position:top center;
    background-repeat:no-repeat;
    width:20px;
    height:39px;
}
.exitRight{
    background-image:url('../images/ANCI_07_no_cache.gif');
    background-position:bottom center;
    background-repeat:no-repeat;
    width:20px;
    height:39px;
}
.window{
    width:20px;
}
.wingRight{
    background-image:url('../images/LCAnsi005_no_cache.jpg');
    background-position:bottom center;
    background-repeat:no-repeat;
    height:65px;
    width:594px;
}
.wingLeft{
    background-image:url('../images/LCAnsi006_no_cache.jpg');
    background-position:top center;
    background-repeat:no-repeat;
    height:65px;
    width:594px;
}
.noTextDec{
    text-decoration:none;
}
.seatTT{
    opacity: .9;
    filter: alpha(opacity=90);
    background-color:#3f2379! important;
}
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.tabBG{
    background-image:url('../images/LIbe016_no_cache.jpg');
    height:40px;
    background-repeat: repeat-x;
    background-position: 0 99%;
}
.tabSltd{
    background-image:url('../images/aniciselected.gif');
    background-color:#02592E;
    background-repeat:no-repeat;
    background-position:4px 12px;
    width:auto;
    height:40px;
    padding:1px 5px 1px 25px;
    color: white;
}
.tabNotSltd{
    /*ackground-image:url('../images/LIbe014_no_cache.jpg');*/
	background:#D7D8DA;
	background-repeat:no-repeat;
	width:auto;
	height:40px;
	padding:1px 8px;
	color: #0b0b0b;
}
.tabSltd p, .tabNotSltd p{text-align: left;}
.newTabStyle{height: auto;overflow: hidden;}
.cursorPointer{
	cursor:pointer;
}
.noBorder{
	border: 0px solid transparent;
}
.progressBG {
	background-color:#FA0101;
}
.fntDefaultWhite{
	color:white;
}
.MandatoryGrid{
	color: red;
}
.paddingL5{
	padding-left: 5px;
}
.paddingL3{
	padding-left: 3px;
}
.Gridwt {
	background-color:#FFFFFF;
	height:20px;
}
.GridTable {	
	background-color:#DFDFDF;
	border-color:#DFDFDF;
}
.tblBgLeft{
	background-image:none;
	background-repeat:repeat-x;
	background-position:top;
}
.tblBG{
	background-image:url(../images/LIbe004_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}
.paddingCalss{
   /* padding:0px 10px*/
}
.tblBgRight{
	background-image:none;
	background-repeat:repeat-x;
	background-position:top;
}

.newPogressLoading, .loadingContainer {
background:none repeat scroll 0 0 #FFFFFF;
display:none;
}
.pageName{
    padding-bottom: 15px;
}
.pageName label {
    color:#3f2379;
    font-size:15px;
    font-weight:bold;
    text-align:left;
}
.mainbody{
	background: url("../images/body_bg_no_cache.jpg") repeat-y 50% 0;
	padding-top: 20px;padding-bottom: 20px;
    /*border-top: 5px solid #ece8e9;      
    border-bottom: 5px solid #ece8e9;*/
}
.mainbody #sortable-ul {
	padding:0;
	display: block;
	width: 940px;
	margin: 0px auto 0;
}

.sortable-ul{
	padding:0;
	display: table;
	width: 940px;
	margin: 0px auto 0;
	height: 85px;
}

.mainbody div#sortable-ul div.sortable-child {
	float:left;
}
.floater{
	margin-right:11px;
	width:auto! important;
	display:block! important;
    visibility: visible! important;
}
#divSummaryPane  {
	width:245px;
	margin-left:8px;
}
#divSummaryPane .add-padding {
	padding:0 6px;
}

.rightColumn {
background:none repeat scroll 0 0 transparent;
margin:0 0 0 6px;
padding:0;
width:658px! important;
}

#termsNCond ul {
margin-bottom:4px;
margin-top:0;
}
#termsNCond ul li {
	margin-bottom:0;
	margin-left:15px;
	margin-top:0;
}

.alignLeft {
	text-align:left;
}

.alignRight{
	text-align:right;
}

/* overwirte rak style start*/
table {
background-color:transparent;
border-collapse:separate;
}
/* overwirte rak style end*/

/* Rak Alert style Start*/
#popup_container {
	-moz-border-radius:5px 5px 5px 5px;
	background:none repeat scroll 0 0 #fff;
	border:2px solid #3f2379;
	color:#FFFFFF;
	font-family:Tahoma,Arial,sans-serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size:12px;
	width: 380px;
	display: none;
	overflow: hidden;
}
.drager {position: relative;z-index: 99999;height: 25px;width:94%;cursor: move;}
#popup_container_frame{
	width: 100%;
	height: 100%;
}
/* Rak Alert style End*/

/* Sumarry panle Styles Start*/
.Page-heading table.headerRow{height: 24px;display: table;margin-bottom: 0px}
.Page-heading table.headerRow td{overflow: hidden;height: 40px;}
.Page-heading .headerBG{
	/*background-image: url("../images/pheader_no_cache.jpg");
	background-repeat:repeat-x;*/
	text-align: left;
    background-color: #3f2379;
}
.Page-heading .hBottom{background-repeat: repeat-x;height: 27px;}
.Page-heading .hbSide{background-repeat: repeat-x;height: 27px;width:10px}
.Page-heading .hLeft{background-repeat: repeat-x;width: 10px;height: 27px}
.Page-heading .hCenter{
	background-repeat: repeat-x;
	height: 27px;
	font-size: 14px; 
	color: #fff;
	font-weight: bold;
}
.Page-heading .hRight{background-repeat: repeat-x;width: 10px;height: 27px}

.mLeft{
	/*background-image:url("../images/n028_no_cache.jpg");*/
	background:#3f2379;
	background-position:center top;
	background-repeat:repeat-y;
	width:1px;
}
.mCenter{width: 243px}
.mRight{
	/*background-image:url("../images/n029_no_cache.jpg");*/
	background:#2B7A77;
	background-position:center top;
	background-repeat:repeat-y;
	width:1px;
}
.Page-heading table.footerRow,table.footerRow{overflow: hidden;height: 0px;display: table;border-top:1px solid #3f2379;background-color:#3f2379; height: 32px }
.Page-heading .bLeft{background-position:0 -120px;background-repeat: repeat-x;width: 10px;height: 0px;background: transparent;}
.Page-heading .bCenter{
	background-position:0 -103px;
	background-repeat: repeat-x;
	height: 0px;
	background: transparent;
}
.Page-heading .bRight{background-position:-1px -86px;background-repeat: repeat-x;width: 10px;height: 0px;background: transparent;}
/* Sumarry panle Styles End*/

/* Mahan Calendar Styles Start*/

.newCal > div{
	width:40px;
	height:62px;
}

h3.label {
background:none repeat scroll 0 0 transparent;
color:#3f2379;   
font-size: 13px;      
padding: 10px 0px;     
margin-bottom: 15px;
}

.cal-header-ul div.cal-one-day {
	background:#02592E;
	border-color:transparent;
	border-style:solid;
	border-width:1px;
	color:#FFF;
	line-height:18px;
	padding:0 0;
	text-align:center;
	border-bottom: 0px;
}
div.cal-one-day div {
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}

.flight-body .cal-base {
	-moz-border-radius:0px 0px 0px 0px;
	border:0px solid #aaa;
	margin:0px;
	text-align:center;
}


.sub-div a {
	color:#1D6863;
	display:block;
	font-family:arial;
	font-weight:bold;
	line-height:18px;
	outline:medium none;
	padding:0px 5px;
	text-decoration:none;
	overflow:hidden;
}
.sub-div a:hover {border: 0;color:#555;}
.sub-div-additional a {
	background:transparent;
	border:1px solid #AAAAAA;
	color:#AAAAAA;
	display:block;
	font-family:arial;
	font-weight:bold;
	line-height:18px;
	outline:medium none;
	padding:0px 5px;
	text-decoration:none;
}
.lowerstCon{height: 4px}

.ui-widget-content {
	/*background:transparent;
	border:0px solid #AAAAAA;*/
	color:#222222;
}

.ui-tabs .ui-tabs-panel {
	background:none repeat scroll 0 0 transparent;
	border-width:0;
	display:block;
	padding:0px;
}

.flight-body a.selected div.cal-base {
	background:transparent;
}
.flight-body a:hover div.cal-base{
	background:transparent;
	background-position: 0px 0px;
	cursor: pointer;
	border: 0px solid #aaa;
	text-decoration: none;
}

.flight-body a.selected div, .flight-body a.selected span, .flight-body a.selected .minFareValue label {
    background: none repeat scroll 0 0 transparent;
    color: #fff;
}
.flight-body a:hover {text-decoration: none;}
div.cal-day .flight-body div.cal-base{background: #fff}
.calendar-ul li div.cal-day{
	margin: 0px;
	border-color:#3f2379;
	border-bottom:0px;
	height:61px;
}
.calendar-ul li div.mout{background: #3f2379;} 
.calendar-ul li div.mout label{background: #3f2379;}
.calendar-ul li div.cal-day img {
	display:block;
	margin:auto;
	z-index:12;
	left:0px;
	position:relative;
	top:30%;
}
.calendar-ul li div.mout div.cal-one-day{font-weight: bold;background-position: 0 0px}
div.cal-day .flight-body{padding: 0px}
.flight-header span a:hover{text-decoration: none;background: transparent;}
.flight-body a div, .flight-body a span, .flight-body a label {background: transparent;cursor: pointer;color: #000;}
.flight-body a:hover div, .flight-body a:hover span, .flight-body a:hover label {background: transparent;cursor: pointer;color: #fff;}
.flight-body a.selected span{color: #fff}
.flight-body a.selected label.currValueTotal{color: #fff}
.lowerstCon{display: none;}
.totalValueSelected label.currValueTotal{font-size: 14px;color: #3f2379;margin-top: 0px;display: inline-block;font-weight: bold;}
.totalValueSelected{font-size: 19px;color: #586618;margin-top: 0px;display: inline-block;}
.totalValueSelected span{font-size: 9px;color: #586618;}
.totalValue{
	color: #586618 !important;
    font-size: 11px;
    font-weight: bold;
}
.departureTime span, .departureTime{font-size: 11px;color: #3B7DC1;}
.arivalTime span, .arivalTime{font-size: 11px;color: #3B7DC1;display: none;}
div.stopover{font-size: 11px;font-size: 10px;color:#3B7DC1;display: none}
#tooltip {
	background-color:#FCFCB5;
	border:1px solid #FFFF66;
	opacity:0.9;
	padding:5px;
	position:absolute;
	z-index:3000;
	width:450px;
}
.selecRadio{text-align: left;}
.selecRadio input{border: 0px;background: transparent;}
.noFlight, .FlightFull{display: block;margin: 15px auto}
.FareGridBorder01, .FareGridBorder02, .FareGridBorder03, .FareGridBorder04, .FareGridBorder05{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #FFFFFF -moz-use-text-color -moz-use-text-color;
    border-style: none solid none none;
    border-width: medium 1px medium medium;
}
.FareGridBorder01 {
background-color:#FAE1C9! important;
border-color:#F36A34;
border-style:solid;
border-width:1px;
height:18px;
}

.FareGridBorder02 {
background-color:#F5C292! important;
border-color: #F36A34;
border-style:solid;
border-width:1px;
height:18px;
}

.FareGridBorder03 {
background-color:#F1AB6C ! important;
border-color: #F36A34;
border-style:solid;
border-width:1px;
height:18px;
}

.FareGridBorder04 {
background-color:#EF9321 ! important;
border-color: #F36A34 ;
border-style:solid;
border-width:1px;
height:18px;
}

.FareGridBorder05 {
background-color:#ED8120 ! important;
border-color:#F36A34;
border-style:solid;
border-width:1px;
height:18px;
}
.c-scroller{
	border-left:1px solid #02592E;
	margin-left:1px;
}

.flight-body a.selected{
	background:#3f2379;
	height: 61px
}
.AllFlight .gridHDFont{
	color:#fff;
}
.AllFlight .thinBorderL{
	border:0px;
}
.CompareFare{display:none}

/* Mahan Calendar Styles End*/

.fareSelSidePanel {
width:260px;
margin-left:23px;
}



#divSummaryPane .pane-body {
background:#fff;
border:0 solid #E72E2C;
}

.GridHeaderHighlight  {
background-color:#636363;
height:20px;
}
.logUserBG {
background:#e4e4e4;
background-position:center top;
background-repeat:repeat-x;
height:34px;
}

.logUserCorT {
background:#e4e4e4;
background-position:center top;
height:34px;
}
.fntWhite {
color:white;
}
.buttonset > table{text-align: center;display: table;margin: 0 auto;width: 100%;}

/* process banner start*/
.StepsTable{
	/*width: 620px;*/
    display: block;     
    margin: 0px auto;
	height: 42px;
	background-image:url("../images/pmid_no_cache.jpg");
	background-repeat:repeat-x;
    background:#3f2379;
    border-top: 4px solid #e6411d;
}
.StepsTable td{
    vertical-align:middle! important;
}
.processRight{
	/*background-image:url("../images/pright_no_cache.jpg");
	background-repeat:no-repeat;
	background-position: right top;*/
}
.processLeft{
	/*background-image:url("../images/pleft_no_cache.jpg");
	background-repeat:no-repeat;
	background-position: left top;*/
}
td.stepsItem {
	height:42px;
	vertical-align: middle;
}
td.stepsItem label{color:#fff}
td.select {
	background-image:url("../images/pselect_no_cache.jpg");
	background-repeat:no-repeat;
	background-position: 50% 102%;
}
td.select label{
	color:#fff;
	font-weight:bold;
}
.paymentGadient{
	background-image:url("../images/LIbe004_no_cache.jpg");
	background-repeat:repeat-x;
}


.hdnavFont  {
	font-size:20px;
}
/* process banner end*/

.tabSltdUser{
	background:#221f54;
	height:25px;
}

.tabSltdOver {
	background:#221f54;
	height:25px;
}
.tabSltdOver label{color: white;cursor: pointer;}

.tabUnSltd{
	/*background-image: url("../images/pheader_no_cache.jpg");*/
    background-color: #3f2379;
	background-repeat:repeat-x;
	height:25px;
}
.tabUnSltd label{color: white;cursor: pointer;}
.pTopM {
background:#221f54;
height:25px;
width: 80px;
}

.pTopL {
background:#3f2379;
height:25px;
width:11px;
}

.pTopDM {
	/*background-image: url("../images/pheader_no_cache.jpg");*/
	background-repeat:repeat-x;
	height:25px;
    background-color: #3f2379;
}

.pTopDR {
	/*background-image: url("../images/pheader_no_cache.jpg");*/
	background-repeat:repeat-x;
	height:25px;
	width:11px;
    background-color: #3f2379;
}
.pMidL {
	background:#2B7A77;
	width:1px;
}
.pMidM {
	/*background-image:url("../images/n033_no_cache.jpg");*/
    background-color: #fff;
	background-position:center top;
	background-repeat:repeat-x;
}
.pMidR {
	background:#2B7A77;
	width:1px;
}
.ui-datepicker-trigger{vertical-align: middle;margin: 1px 2px}
.pBotL {
	background:transparent;
	background-position:center top;
	background-repeat:no-repeat;
	height:15px;
	width:11px;
}
.pBotM {
	background:transparent;
	background-position:center top;
	background-repeat:repeat-x;
	height:15px;
	width:92%;
}
.pBotR {
	background:transparent;
	background-position:center top;
	background-repeat:no-repeat;
	height:15px;
	width:11px;
}
.btnAuxButton {
	font-family:Verdana,Arial,Helvetica,sans-serif;;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	color: #004845;
	background-color:#efefef;
	background-position:left; 
	border-top: 2px solid #004845;
	border-right: 2px solid #004845;
	border-bottom: 2px solid #004845;
	border-left: 2px solid #004845;
	height: 28px;
	cursor:pointer;
	background-repeat:no-repeat;
	padding-bottom:4px;
	padding-left:4px;
	padding-right: 20px;
	background-position: 97% 4px;
	-moz-border-radius:4px 4px 4px 4px;

}
#tabs1{
	background:none repeat scroll 0 0 transparent;
	border:0 none;
	width: 100%;
    margin-top: 20px;
}
/* main pageloaging msg */
.mainPageLoader{display:none;z-index:9900; background:transparent;height:80px;position:absolute;top:50%;left:40%;width:250px}

.searchCritira{
	display:block;width:230px;margin: 0 auto;
}
.searchCritira div{padding: 2px 0}
/*FixME this is for pathch*/
#specialMsg div{
		text-align: left;list-style: none;
		background-color:#ffffcf;
		opacity: .7;
		filter: alpha(opacity=80);
		border:1px solid #F3F376;
		padding:2px;
		font-size:11px;
		-moz-border-radius:6px;	/* Rounded edges in Firefox */
		font-family:Tahoma,Arial,sans-serif;
		font-weight: bold;
}

.spMsg{
	background-color:#ffffcf;
	opacity: .7;
	filter: alpha(opacity=80);
	border:1px solid #F3F376;
	padding:2px;
	font-size:11px;
	-moz-border-radius:6px;	/* Rounded edges in Firefox */
	font-family:Tahoma,Arial,sans-serif;
	
}

/*External Agents Pages Styles */
.recordl td.GridItems{
	background-color:#EBEBEB;
	height:20px;
	FONT-SIZE: 11px;
}
.recordd td.GridItems{
	background-color:#FFFFFF;
	height:20px;
	FONT-SIZE: 11px;
}

.header {
	FONT-FAMILY: Tahoma,Arial,sans-serif;
	font-weight: bold;
	background-color:#2DACE3;
	height:20px;
	FONT-SIZE: 11px;
	color: white; 
	
}
.rakHeader .header{background-color:#fff;}
.thinBorderT{border-top: 1px solid #E8E6E7;}
.thinBorderB{border-bottom: 1px solid #E8E6E7;}
.thinBorderL{border-left: 1px solid #E8E6E7;}
.thinBorderR{border-right: 1px solid #E8E6E7;}
	
.recordtop{
	FONT-FAMILY: Tahoma,Arial,sans-serif;
	font-weight:bold;
	background-color:#ECECEC;
	height:20px;
	FONT-SIZE: 10px;
}
.recordtopar{
	font-weight:bolder;
	background-color:#FFFFFF;
	height:20px;
	FONT-SIZE: 14px;
}
div.div-Table .floatItem{width:auto! important}
.footerClass{
	background:#E6E6E6 url("../images/footerbg_no_cache.jpg") no-repeat scroll -2px -2px;
	width:956px;
	height:80px;
}
.pageBody{padding-left:10px}
/*External Agents Pages Styles */
.mainbody .ui-tabs .ui-tabs-panel{
	background: none repeat scroll 0 0 transparent;
	border-width: 0 0 0;
	height: auto;
}
#footer{
	margin-top: 0! important;
	background:url("../images/footer_no_cache.jpg") repeat-x;
	background: #3f2379;
    border-bottom: 5px solid #e6411d;       
    height: 70px;       
    padding-top: 30px;
    display:none;
}

#footer div.logo{
	margin:0 auto;
	width:201px;  
    background:url("../images/footer-logo_no_cache.png") no-repeat;    
    height:39px;
    background: none;
}
.mainbody table,.mainbody tbody,.mainbody td{
	vertical-align: middle;
	margin-bottom: 0px;
}
/*New payment style*/
.ul-cards li div.card-img {
    border-bottom: 0px;
    height: 35px;
    background: #fff;
}
#paymentInfoPanel td{vertical-align: top;padding:5px}
/* Get calendar popup top */
#ui-datepicker-div{z-index: 300;font-size: 1em;display:none;}
/****overRite ****/
form{
	overflow:inherit  ! important;
}
.tblSeatMapContainer p {
    font-size: 13px !important;
    margin:0;
    margin-bottom: 4px !important;
}
.outerCal{width: 648px;}
.rightColumFix{
	margin: 0 15px;
    width: 97%! important;
}

/*************** new Popup *********************/
.popBG,#popupHeader,#footeritems{background: #1A5553}

.popBG1{background: #1A5553}
.popTopLeft{
	width: 10px;
	height: 9px;
}
.popTopMid{

	height: 9px;
}
.popTopRight{
	width: 10px;
	height: 9px;
}

.popMidLeft{
	width: 10px;
}
.popMidMid{
	background:#f1f1f1;
	background-repeat: repeat;
}
.popMidRight{
	width: 10px;
}

.popBottomLeft{
	width: 10px;
	height: 9px;
}
.popBottomMid{
	height: 9px;
}
.popBottomRight{
	width: 10px;
	height: 9px;
}

#popupHeader span.close{
	background: url("../images/popupClose_no_cache.gif") no-repeat;
	float:right;
	width:14px;
	height:16px;
	cursor: pointer;
}
#popupHeader .headerItems{
	float: left;
	width:180px;
	overflow: hidden;
}
#popupHeader .headeritems{
    float: left;
}
#popupHeader .headeritems label{
    color:#000;
    font-weight: bold;
}
#popupFooter input{
	float: right;
}
.popup-column{
	vertical-align:top;
	border-left: 1px solid #e4e4e4;
	width:195px;
	padding-left:5px;
}
.popup-column-first{border:0px}
/*************** new Popup *********************/
.isabutton{
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    color: white;
    background-color: #3f2379;
    background-image: none;
    height: 25px;
    cursor: pointer;
    padding-bottom: 5px;
    line-height: 22px;
    border: 0;
    width:110px;
}
.isabutton > table{
	width:auto;
    margin: 0 auto;
}
.ButtonLarge> table, .ButtonLargeDisable> table{
    width: 100%;
}
.isabutton .buttonspan{width:0px}
.isabutton .buttonMiddle{width:auto;text-align:center}
.isabutton[disabled='disabled'] td{
    color: #c4c4c4;
}
#trPriceBDPannel{width:648px;}
a:link u {
    color: #134373;
    text-decoration: underline;
}
a#linkTerms:link u {
    text-decoration: underline;
    cursor: pointer;
}
a#linkTerms:link u label {
    cursor: pointer;
}
.GridItems .paddingL5{text-align: left}
.secure-image{
	float:left;
}
.floatleft{
	float:left! important;
}
.floatright{
	float:right! important;
	display:none
}
#IPNotification{display:none}
.paymentInfo{display:none;width:0%}
.paymentInfo1{width:100%}
#lblPaymentGeneralInfo3{text-align:justify}
#newPopItem{
	border:1px solid #e4e4e4;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#bodyitems{
    border: 1px solid #1A5553;
    background: #fff;
}
#lblFareRules{
	display:none;
	font-weight: bold;
    font-size: medium;
}
#lblItinerary{font-size:15px; font-weight:bold;color: #02592E;}

/* Styles for Mobile No Format Help */
#lblMobileNoExample{padding-left: 110px;}

#lblCountryCodeHelp{padding-left: 30px;}

#lblAreaCodeHelp{padding-left: 40px;}

#lblNumberHelp{padding-left: 40px;}

#lblCountryCode {
	margin-left: 5px;
	float:left;
	width: 50px;
}

#lblAreaCode {
	margin-left: 5px;
	float:left;
	width: 50px;
}

#lblNumber {
	margin-left: 30px;
	float:left;
	width: 40px;
}
#lblMobileNoMand{}
#btnModSeach{
    display: inline-block;
    padding: 7px 25px;
    border: 1px solid #3f2379;
    background-color: #3f2379;
}
#btnModSeach label{
    color: white;
}
#divModSeach{
    width: 97%! important;
    height: auto! important;
    padding: 10px;
    border: 1px solid #3f2379;
}
.daySmall, .dateSmall{
    display: inline;
    padding: 0 2px;
}

.pnlTopL{
    border-top:1px solid #2e7e7b;
    border-left:1px solid #2e7e7b;
    width: 10px;
    height:5px;
    background: #EFF9FB;
    display:none;
}
.pnlTopM{
    border-top:1px solid #2e7e7b;
    height:5px;
    background: #EFF9FB;
    display:none;
}
.pnlTopR{
    border-top:1px solid #2e7e7b;
    border-right:1px solid #2e7e7b;
    width: 10px;
    height:5px;
    background: #EFF9FB;
    display:none;
}
.pnlMidL{
    border-left:1px solid #2e7e7b;
    width: 10px;
    background: #fff;
    display:none;
}
.pnlMid{
    background: #fff;
 
}
.pnlMidR{
    border-right:1px solid #2e7e7b;
    width: 10px;
    background: #EFF9FB;
    display:none;
}
.pnlBottomL{
    border-bottom:1px solid #2e7e7b;
    border-left:1px solid #2e7e7b;
    width: 10px;
    height:5px;
    background: #EFF9FB;
    display:none;
}
.pnlBottomM{
    border-bottom:1px solid #2e7e7b;
    background: #EFF9FB;
    display:none;
}
.pnlBottomR{
    border-bottom:1px solid #2e7e7b;
    border-right:1px solid #2e7e7b;
    width: 10px;
    height:5px;
    background: #EFF9FB;
    display:none;
}
.pnlGroupbottom{
    border-left:1px solid #2e7e7b;
    border-right:1px solid #2e7e7b;
    display:none;
}
#trModSearch .paddingCalss{
    padding: 0;
}
#tableModSearch{
    width: 100%;
}
#tableModSearch .pnlMid{
    /*text-align: right;*/
}
#tableModSearch .pnlMid>table{
    width: 100%
}
.segcodebar{
    background-color: #3f2379;
}
.segcodebar label{
    color: #fff;
}
.myAALogo{
    width: 1px;
    height: 1px;
}
.v3PaxTitle{
    background: #fff;
}
.v3PaxTitle td{
    height: 30px;
}
.v3PaxTitle label{
    color: #000;
}
.v3PaxTitle label.mandatory{
    color: red;
}
#adlGrid .nonAirarab{
    display: table-row! important;
}
.bookhotelRow{
    display: none;
}
#shoping_Cart_head td{
    background: #3f2379;
}
.getFlightDay{
    height: 60px;
}

.flightCol {
    width: 200px;
}
.segcodebar {
    margin: 0 0 0 1px;
    padding: 4px 10px;
    color: #fff;

}
.anciTable{
    background: white;
}
.anciTable .first-col {
    padding: 0 4px
}
.odd td {
    background: #ffffff;
}
.mealrow .odd {
  background: #FFffff;
}
.mealrow .even {
  background: #e4e4e4;
}
a.selectAici label {
    text-decoration: underline;
    cursor: pointer;
}
.passengerCol {
    width: 190px;
}
.allOtherColl label, .mealCol label, .priceCol label, .clearCol label {
    margin: 0 3px;
}
.mealItem table{
    width:100%
}
.mealItem td{
    text-align: center;
}
.mealItem td.thumb{
    width:55px;
    text-align: center;
}
.mealItem td.name, .mealItem td.description{
    text-align: left;
    width:375px
}
.clearCol {
    width: 16px;
}
.clearLabel {
    background: url("../images/close_icon_no_cache.jpg") no-repeat scroll 50% 50% transparent;
    cursor: pointer;
    float: right;
    height: 16px;
    width: 16px;
}
.qtyHead label{
    display: none;
}
.leftNavigation{
    width: 54px;
}
.rightNavigation{
    width: 33px;
}


/*----------- wataniya new styles ---------------*/

.leftNavigation .sub-div a {
    background-image: url(../images/back.png);
}

.rightNavigation .sub-div a {
    background-image: url(../images/next.png);
}
.sub-div a{
    background-repeat: no-repeat;
    height: 62px;
    background-position: center center;
    background-size: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 150%;
}

#fCalOut_FL tr, #fCalIn_FL tr {
    height: 60px;
}

.tdFareColumn input[type='radio'],.tdFareColumn  input[type='checkbox']{
    margin: 1px 5px;
    vertical-align: text-bottom;
}

#lblPriceBreakDown{
    padding: 10px 0px;
    display: inline-block;
    margin-bottom: 15px;
}

.buttonset .ButtonMedium{
    margin: 0 auto;
}
.gridHDsub{
    background-color: #3f2379;
}

#lblMSGforOtherLang{
    padding: 10px 0px;
    display: block;
}

.psptDetails table:first-child{
    margin-top: 10px;
}

.psptDetails table:first-child tr:nth-child(2) td{
    padding-top: 10px;
}

#lblAdultHD, #lblChildHD, #lblInfantHD{
    padding-bottom: 10px;
    display: block;
}
#lblChildHD, #lblInfantHD{
    padding-top: 10px;
}
.inBoundFlight .sub-head-inob{
    padding-top: 15px;
}
.aisle p {
    color: #3f2379! important;
}
.tabBG{
    background: none;
}
#newPopItem .popBG1 {
    background: #F1F1F3;
}
#newPopItem .popBG, #popupHeader, #footeritems {
    background: #F1F1F3;
}

#adlGrid table thead tr:nth-child(2).psptDetails td, #chdGrid table thead tr:nth-child(2).psptDetails td {
    height: 30px;
}
#infGrid table thead tr:nth-child(2).psptDetails td{
    height: 20px;
    padding-top: 0px;
}

#adlGrid .gridHDsub, #chdGrid .gridHDsub, #infGrid .gridHDsub{
    background-color: #fff;
}

#adlGrid .gridHDFont, #chdGrid .gridHDFont,  #infGrid .gridHDFont{
    color: #0b0b0b;
}

.pnlMid .fntBold{
    font-weight: normal;
}

#adlGrid .psptDetails table tr td:first-child{
    width: 75px !important;
}

#chdGrid .psptDetails table tr td:first-child{
    width: 70px !important;
}

.pnlMid .hdFontColor.fntBold,.pnlMid .fntSmall.fntBold{
    font-weight: bold;
}
#tblContactDetails .three-Col input, #tblContactDetails .three-Col select{
    width: 89% !important;
}

#tblContactDetails .three-Col select#selTitle{
    width: auto !important;
}
#txtEmail, #txtVerifyEmail{
    width: 65% !important;
}
#tbdySeatSeg .tabSltd p{
    margin:0px; 
}
#tbdySeatSeg .tabSltd{
    padding: 0 15px;
}    
#tblSeatDetails .newTabStyle{
    height: auto;
}
#seatPaxTmplt_0 .defaultRowGap{
    height: 40px;
    
}
#payByCreditCardPanel #tblPriceBreakdown{
        background-color: #0134a1;
}
#payByCreditCardPanel .rowColorAlternate{
    padding: 10px 15px 5px 15px;
    
}
#payByCreditCardPanel .rowColorAlternate:nth-child(1){
    text-align: left;
}
#payByCreditCardPanel .rowColorAlternate:nth-child(2){
    text-align: right;
}
#payByCreditCardPanel .rowColorAlternate #lblTotalDue{
    font-size: 16px;
}

#payByCreditCardPanel .rowColorAlternate #lblTotalDueAmount,#payByCreditCardPanel .rowColorAlternate #lblTotalDueAmount + label{
    font-size: 16px;
}
#customCCPanel .pnlMid .paddingCalss{
    padding: 0px 0px 15px 0px;
}
#paymentInfoPanel .totalCol{
    background-color: #0134a1;
    padding: 15px 15px 5px 15px;
    height: 30px;
}
#paymentInfoPanel .totalCol label{
    font-size: 16px;
}
.baseTotalPanel #lblTotal,.baseTotalPanel #totalAmount{
    font-size: 16px;
    font-weight: normal;
}
#tblPriceBreakdown label{
    font-size: 14px;
}


#adlGrid td:first-child table thead tr:nth-child(3) td:nth-child(3){
    width:145px;
}
#adlGrid td:first-child table thead tr:nth-child(3) td:nth-child(4){
    width:155px;
}   
#adlGrid td:first-child table thead tr:nth-child(3) td:nth-child(5){
    width:156px;
}   
#adlGrid td:first-child table thead tr:nth-child(3) td:nth-child(6){
    width:105px;
}

#chdGrid td:first-child table,#infGrid td:first-child table{
    width: 100%;
    margin-top: 0px;
}
#adlGrid td:first-child table{
     margin-top: 0px;
}

#infGrid td:first-child table thead tr:nth-child(2) td:nth-child(1){
    width: 28px;
}
#infGrid td:first-child table thead tr:nth-child(2) td:nth-child(3){
    width: 272px;
}
#infGrid td:first-child table thead tr:nth-child(2) td:nth-child(4){
    width: 199px;
}
#infGrid td:first-child table thead tr:nth-child(2) td:nth-child(5){
    width: 177px;
}
#infGrid td:first-child table thead tr:nth-child(2) td:nth-child(6){
    width: 265px;
}

#infGrid .paxDetailsGrid td:first-child table tbody tr td:nth-child(1){
    width: 56px;
}
#infGrid .paxDetailsGrid td:first-child table tbody tr td:nth-child(3){
    width: 200px;
}
#infGrid .paxDetailsGrid td:first-child table tbody tr td:nth-child(4){
    width: 260px;
}
#infGrid .paxDetailsGrid td:first-child table tbody tr td:nth-child(5){
    width: 280px;
}
#infGrid .paxDetailsGrid td:first-child table tbody tr td:nth-child(6){
    width: 165px;
}   

#infGrid .paxDetailsGrid td:first-child table tbody tr td{
    padding-bottom: 5px;
}

#reservationList #trButtons{
    display: none;
}
#tr-LMS-LoggedIn{
    display: none;
}
#frmBalanceSummay .totalCol{
    background-color: #3f2379;
}

#lblFinalCredit,#finalCreditAmount{
    color: #fff;
}
#payDetail .totalCol{
    background-color: #3f2379;
}
#trPaymentMethods{
    width: 125px !important;
}
#lblOHDExpiryMessage{
    font-weight: normal;
    font-family: Tahoma,Arial,sans-serif;
    font-size: 13px;
    left: auto;
    color: #0b0b0b;
    line-height: 20px;
    letter-spacing: 0.4px;
}

.totalValueSelected span {
    font-size: 14px;
    color: #3f2379;
}

/********************************** Meals Pop Up **************************************/
.mealloader {
    background: transparent;
}

.mealloader .closethis {
    float: right
}

.mealloader .headerBG {
    background: url("../images/panelBGall_no_cache.jpg") no-repeat;
    text-align: left;
    cursor: move;
}

.mealloader .headerBG label {
    cursor: move;
    width: 220px;
    float: left
}

.mealloader .hLeft {
    background-position: -1px -1px;
    background-repeat: repeat-x;
    height: 24px;
    width: 10px;
}

.mealloader .hCenter {
    background-position: 0 -30px;
    background-repeat: repeat-x;
    height: 24px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    padding: 2px 0px;
    width: 232px;
}

a.selectAici label {
    text-decoration: underline;
    cursor: pointer;
}

a:hover.selectAici label {
    text-decoration: underline;
    color: #E52A23;
}

.bigtext {
    font-size: 14px
}

.mealItem {
    background: #fcf6e6;
}

.mealItem td.thumb {
    width: 50px;
    vertical-align: top;
}

.mealItem td.name, .mealItem td.description {
    width: 340px;
    padding: 2px 6px;
    text-align: left;
    vertical-align: top;
}

.mealItem td.qtyHead, .mealItem td.priceHead {
    background: #d0c9bf;
    width: 80px;
    padding: 2px;
    text-align: center;
    vertical-align: top;
}

.mealItem td.qtyBody {
    width: 80px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}

.mealItem td.priceBody {
    width: 80px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}

.mOverMeal {
    background: #eae4d4
}

.mealSpinner {
    width: 65px;
    margin: 10px auto
}

.mealSpinner div {
    background: url("../images/addred_no_cache.gif") no-repeat;
    cursor: pointer;
}

div.add {
    background-position: 0px 0px;
    width: 11px;
    height: 11px;
}

div.reduse {
    background-position: -14px 0px;
    width: 11px;
    height: 11px;
}

.headeritems {
    float: left
}

#popupHeader td {
   /* background: url("../images/meal-BreagCrum_no_cache.jpg"); */
}

#popupHeader td label {
    color: #0b0b0b;
    font-size: 10px;
    line-height: 15px;
}

#popupHeader td.grayBar {
    background-position: 0px -45px;
    height: 15px;
    padding: 0 10px;
}

td.grayBar, td.grayBar label {
    cursor: pointer;
}

#popupHeader td.grayCorner {
    background-position: 0px -15px;
    height: 15px;
    width: 11px;
}
#popupHeader td.grayCorner:after {

}

#popupHeader td.redBar {
    background-position: 0px -30px;
    height: 15px;
    padding: 0 10px
}

#popupHeader td.redCorner {
    background-position: 0px 0px;
    height: 15px;
    width: 11px;
}

label.value {
    width: 30px;
    display: block
}

/* meal images */
#bodyitems {
    background: #ffffff
}

.catBlock {
    float: left;
    width: 94px;
    height: 94px;
    margin: 2px;
    border: 1px solid #f1f1f1;
    cursor: pointer;
    background: url("../images/mealCata_no_cache.jpg") no-repeat;
}

a.calClass1 div {
    background-position: 0 0;
}

a:hover.calClass1 div {
    background-position: -94px 0;
}

a.calClass2 div {
    background-position: 0 -94px;
}

a:hover.calClass2 div {
    background-position: -94px -94px;
}

a.calClass3 div {
    background-position: 0 -188px;
}

a:hover.calClass3 div {
    background-position: -94px -188px;
}

a.calClass4 div {
    background-position: 0 -282px;
}

a:hover.calClass4 div {
    background-position: -94px -282px;
}

a.calClass5 div {
    background-position: 0 -376px;
}

a:hover.calClass5 div {
    background-position: -94px -376px;
}

a.calClass6 div {
    background-position: 0 -469px;
}

a:hover.calClass6 div {
    background-position: -94px -469px;
}

a.calClass7 div {
    background-position: 0 -659px;
}

a:hover.calClass7 div {
    background-position: -94px -659px;
}

.firstCat {
    background-position: 0 -564px;
}

.mealMouseOver {
    opacity: 0.6;
    filter: alpha(opacity=60)
}

.mealMenuTable {
    width: 600px
}

.mealimage1 {
    height: 70px;
    width: 120px;
    background: url("../images/salad_no_cache.jpg") scroll 50% 0 no-repeat;
}

.mealimage2 {
    height: 70px;
    width: 120px;
    background: url("../images/sandwich_no_cache.jpg") scroll 50% 0 no-repeat;
}

.mealimage3 {
    height: 70px;
    width: 120px;
    background: url("../images/cafe_no_cache.jpg") scroll 50% 0 no-repeat;
}

.mealimage4 {
    height: 70px;
    width: 120px;
    background: url("../images/drinks_no_cache.jpg") scroll 50% 0 no-repeat;
}

/* meal images */

.anciTable {
    width: 640px
}

.anciTable .first-col {
    padding: 0 4px
}

.mealrow .odd {
    background: #f4f4f4
}

.passengerCol {
    width: 190px;
}

.flightCol {
    width: 200px;
}

.allOtherColl {
    width: 440px;
}

.mealCol {
    width: 150px;
}

.priceCol {
    width: 80px;
}

.clearCol {
    width: 30px;
}

.passengerCol label, .flightCol label, .allOtherColl label, .mealCol label,
.priceCol label, .clearCol label {
    margin: 0 3px
}

.clearMeal {
    outline: none
}

.clearLabel {
    background: url("../images/close_icon_no_cache.jpg") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: right;
    height: 14px;
    width: 14px
}
.clearLabel.clearAutoGenPax{
    padding:2px 5px 2px 5px;
    float: none!important;
    background-position: 100% 0;
}

a:hover.clearLabel label {
    cursor: pointer;
    color: #E82B25;
    text-decoration: underline;
}

.clear-icon {
    background: url("../themes/default/images/jquery/ui-icons_cd0a0a_256x240_no_cache.png") no-repeat;
    background-position: -176px -96px;
    height: 15px;
    width: 15px;
    display: inline;
    padding: 0 7px
}

.zoomer {
    background: #fafafa;
    border: 3px solid #333;
    z-index: 2000;
    top: 0px;
    left: 0px;
    width: 250px;
}

.zoomer .loadImage {
    height: 250px
}

.zoomer .imgDescription {
    background: #333;
    color: #fff;
    padding: 5px;
    vertical-align: bottom;
}

/*meal accodian */

.accordionWrapper {
    display: inline-block;
    background-color: #fff;
    overflow: hidden;
}

.accordionWrapper img {
    vertical-align: top;
    border: 0;
    margin: 0;
    padding: 0
}

.accordionWrapper div {
    display: inline;
    float: left;
    margin: auto;
}

.accordionWrapper div.title {
    cursor: pointer;
}

.accordionWrapper div.content {
    display: none;
}

a:hover.clear-icon {
    background: url("../themes/default/images/jquery/ui-icons_454545_256x240_no_cache.png") no-repeat;
    background-position: -176px -96px;
    height: 15px;
    width: 15px;
    display: inline;
    padding: 0 7px
}

.mealBack {
    float: left;
    margin-left: 10px;
}

.mealConfirm {
    float: right;
    margin-right: 10px;
}

/********************************** Meals Pop Up **************************************/

.paymentGadient{
    background:none;
}
#divLoadBg.rightColumn {
    width: 100%!important;
    margin:0px;
}
#divLoadBg .PageBackGround{
    width: 940px !important;
}
iframe.paymentCardInputs #footer{
    display: none;
}
#mealTotalROW .totalCol label{
    color: #fff;
}

#reservationDetail .isabutton .buttonMiddle{
    vertical-align: text-bottom;
}
#departureButtonsPannel .isabutton{
    width: 130px;
}
#btnUpdateRes .buttonspan, #btnUpdateRes  .buttonMiddle{
    height: 18px;
    display: inline-block;
}
#btnSeatUpdate,#btnInsUpdate,#btnmealUpdate, #btnBaggageUpdate , #btnHalaUpdate, #btnAPTUpdate, #btnAddSrv4 , #btnMakePayment{
    width:160px;
    white-space: nowrap;
    font-weight: 500;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
}
.StepsTable + div {
    background-color: #fff;
}
.AllFlight .fareClass{
    background-color: #281254;
    padding-left: 2px;
}.AllFlight .fareClass{
    background-color: #281254;
    padding-left: 1px;
    border: 1px solid #ddd;
    border-bottom: none;
    border-right: none;
    border-radius: 5px 0px 0px 0px
}
.AllFlight .tdFareColumn{
    border-left: 1px solid #fff;
}
.daySmall, .dateSmall{
    display: block;
}
.fareClass .ttip{
    background: url('../images/questionMark.png');
    background-repeat: no-repeat;
    background-position: center right;
    width: 13px;
    height: 15px;
    display: inline-block;
}

/*------------ TAP payent gateway image -------------- */

#listCard .card-img span.TAP_GOSELL {
    background-image: url(../images/tap_payment.png);  
    background-position: 0px;
    height: 28px;
    width: 197px;
}

#payMethods.card-img span.TAP_GOSELL {
    background-image: url(../images/cards_no_cache.gif);  
    background-position: -4px -806px;
    background-size: 80%;
    height: 35px;
} 

.card-img .CASH {
    background-position: 0 -223px;
}

