$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #414042;;
  padding: 0.2em 0;
}

input[type='checkbox'], input[type='radio']{
  visibility: hidden;
}
[ng\:cloak],
[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak,.ng-hide,.ng-show {
  display: none !important;
}

.RTL{
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    float: right;
  }

  .pull-right{
    float: left !important;
  }

  .next-passenger-text{
    margin-left: 15px; 
  }
}

html {
  overflow-y: scroll!important;
}

input::-moz-focus-inner { border: 0; }
object, embed { outline: 0; }
a, a:link, a:visited {
  outline: 0;
  color: #999999;
}
a:hover, a:focus{
  color: #333333;
}

*{
  outline: none !important;
  outline: 0 !important;
}

/* Space out content a bit */
body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 100%;
}

.container-fluid{
  padding:0px;
  width: 100%;
  overflow: hidden;
}
.ui-view-container{
  margin-bottom: 60px;
}
.container{
  &.logo-container{
    padding-left: 1px;
  }
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
  width: 100%;
  max-width: 1000px;
  //min-height: 700px;
  position: relative;
}

/* @media (min-width: 768px) {
  .container {
    //width: 700px;
    width: 1000px;
  }
}
@media (min-width: 992px) {
  .container {
    //width: 900px;
    width: 1000px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
} */

.content-wrapper{
  float: left;
  width: 100%;
  clear: both;
  padding: 0;

  @media print {
    padding: 0;
  }
}

.clear{
    clear: both;
}

// text align
.txt-a-r{
    text-align: right;
}

.txt-a-l{
    text-align: left;
}

.pd-0{
  padding : 0;
}
.pd-1{
  padding : $padding_margin_base;
}
.pd-2{
  padding : $padding_margin_base * 2;
}
.pd-3{
  padding : $padding_margin_base * 3;
}
.pd-4{
  padding : $padding_margin_base * 4;
}
.pd-5{
  padding : $padding_margin_base * 5;
}

.ma-0{
  margin: 0;
}

.ma-1{
  margin : $padding_margin_base;
}
.ma-2{
  margin : $padding_margin_base * 2;
}
.ma-3{
  margin : $padding_margin_base * 3;
}
.ma-4{
  margin : $padding_margin_base * 4;
}
.ma-5{
  margin : $padding_margin_base * 5;
}

.pd-tp-1{
  padding-top: $padding_margin_base;
}
.pd-tp-2{
  padding-top: $padding_margin_base * 2;
}
.pd-tp-3{
  padding-top: $padding_margin_base * 3;
}
.pd-tp-4{
  padding-top: $padding_margin_base * 4;
}
.pd-tp-5{
  padding-top: $padding_margin_base * 5;
}


.pd-bt-1{
  padding-bottom: $padding_margin_base;
}
.pd-bt-2{
  padding-bottom: $padding_margin_base * 2;
}
.pd-bt-3{
  padding-bottom: $padding_margin_base * 3;
}
.pd-bt-4{
  padding-bottom: $padding_margin_base * 4 !important;
}
.pd-bt-5{
  padding-bottom: $padding_margin_base * 5;
}

.pd-l-0{
  padding-left: 0px;
}
.pd-l-1{
  padding-left: $padding_margin_base;
}
.pd-l-2{
  padding-left: $padding_margin_base * 2;
}
.pd-l-3{
  padding-left: $padding_margin_base * 3;
}
.pd-l-4{
  padding-left: $padding_margin_base * 4;
}
.pd-l-5{
  padding-left: $padding_margin_base * 5;
}
.pd-l-6{
  padding-left: $padding_margin_base * 6;
}

.pd-r-0{
  padding-right: 0px;
}
.pd-r-1{
  padding-right: $padding_margin_base;
}
.pd-r-2{
  padding-right: $padding_margin_base * 2;
}
.pd-r-3{
  padding-right: $padding_margin_base * 3;
}
.pd-r-4{
  padding-right: $padding_margin_base * 4;
}
.pd-r-5{
  padding-right: $padding_margin_base * 5;
}
.pd-bt-0{
    padding-bottom: 0px;
}
.pd-t-0{
    padding-top: 0px;
}

.pd-lr-0{
  padding-left: 0px;
  padding-right: 0px;
}


.ma-tp-1{
  margin-top: $padding_margin_base;
}
.ma-tp-2{
  margin-top: $padding_margin_base * 2;
}
.ma-tp-3{
  margin-top: $padding_margin_base * 3;
}
.ma-tp-4{
  margin-top: $padding_margin_base * 4;
}
.ma-tp-5{
  margin-top: $padding_margin_base * 5;
}
.ma-tp-6{
  margin-top: $padding_margin_base * 6;
}
.ma-tp-7{
  margin-top: $padding_margin_base * 7;
}
.ma-tp-8{
  margin-top: $padding_margin_base * 8;
}



.ma-bt-0{
    margin-bottom: 0;
}
.ma-bt-1{
  margin-bottom: $padding_margin_base;
}
.ma-bt-2{
  margin-bottom: $padding_margin_base * 2;
}
.ma-bt-3{
  margin-bottom: $padding_margin_base * 3;
}
.ma-bt-4{
  margin-bottom: $padding_margin_base * 4;
}
.ma-bt-5{
  margin-bottom: $padding_margin_base * 5;
}
.ma-bt-7{
  margin-bottom: $padding_margin_base * 7;
}

.btn{
  padding: 5px;
  display: block;
}
.red-btn{
  background-color: $site_primary_color;
  color: $white;
  &:hover,&:focus{
    background-color: $site_primary_color - 20;
    color: $white;
  }
}

.validation-msg{
    color: $red;
    font-size: 12px;
}

.width-full{float:left; width: 100%;}
.width-half{float:left; width: 50%;}

.gray-btn{
  color: $white;
  background-color: $gray-6;
}

.green-btn{
  color: $white;
  background-color: #007700;
}
.label-red{
  color: $red !important;
}
span{
  &.txt-highlight{
    width: auto !important;
    padding: 0 4px !important;
    margin-top: -1px !important;
  }
}
.txt-highlight{
  font-size: 14px !important;
  font-weight: bolder !important;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


/*==============================
=            Colors            =
==============================*/

.red{
  color: $red;
}

/*=====  End of Colors  ======*/


.truncate,.elipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.fixed-parent {
  position: fixed;
  background: #fff;
  width: 100%;
  left: 0;
  z-index: 999;
}



/*===============================
=            Overlay            =
===============================*/

.overlay{
  z-index: 999;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #e6e6e6;
  opacity: 0.5;
}

/*=====  End of Overlay  ======*/



/*===================================
=            Text Aligns            =
===================================*/

.center-text{
  text-align: center;
}

.left-text{
  text-align: left;
}

.right-text{
  text-align: right;
}

.next-passenger-text{
  margin-right: 15px;
}

/*=====  End of Text Aligns  ======*/


/*===============================
=            Borders            =
===============================*/

.no-border{
  border: none !important;
}
.cg-busy-default-sign{
  color:$primery_color;
  background-color:$color_variation_1;
}
.seat-selection {
  .left-section {
    .data-block {
      ul {
        li {
          &.active {
            background: {
              color: $secondery_color !important;
            }
            label{
              i{
                color: $white !important;
              }
            }
            &:after{
                border-left: 15px solid $secondery_color !important;
            }
          }
          &:hover{
            background: {
              color: $primery_color !important;
            }
            label{
              i{
                color: $white !important;
              }
            }
            &:after{
              border-left: 15px solid $primery_color !important;
            }
          }

        }
      }
    }
  }
}
.halfWidth{
  width:100% !important;
}
.fullWidth{
  width:100% !important;
}
.notifications{
  margin-bottom: 10px;
  color: $secondery_color;
  font-size: 12px;
}
.cg-busy-default-text{
  color: $secondery_color;
}
.LTR .payment-details .right-content .amount{
  background-color: $secondery_color;
}
.cg-busy-default-spinner div{
  background-color: $secondery_color;
}
/*=====  End of Borders  ======*/

.d-inline-b{
  display: inline-block;
}
.btn-continue{
  padding-right: 0px;
  margin-top: 10px;
}
/*=====  overide container-fluid inline height 70  ======*/
.container-fluid.page-fade{
    height: auto !important;
   
}

header{
    z-index: 1000 !important;
}
.date-time-wrapper{
  display: block;
  width: 200px;
  .date-time{
    width: auto !important;
  }
}