* {
	margin: 0;
	padding: 0;
}

.analog {
	position: relative;
	width: 125px;
  margin: auto;
	background: url(../../images/clockface.jpg);
	list-style: none;
}

.analog,.analog .hour,.analog .min,.analog .sec {
	height: 125px;
}

.analog .hour,.analog .min,.analog .sec {
	position: absolute;
	width: 6px;
	top: 0;
	left: 60px;
  	padding: 0;
}

.analog .sec {
	background: url(../../images/sechand.png);
	z-index: 3;
}

.analog .min {
	background: url(../../images/minhand.png);
	z-index: 2;
}

.analog .hour {
	background: url(../../images/hourhand.png);
	z-index: 1;
}

.title {
	font-size: 11px;
	font-weight: bold;
	color: #333;
}

.analog .meridiem {
	margin-top: 65px;
	font-size: 10px;
	font-weight: bold;
	color: #333333;
  display: inline-block;
}

/*****custom ****/


