<style>
    #header{
        height:70px !important;
    }
    @media only screen and (max-width: 767px) {
        #header{
            height:50px !important;
        } 
    }
</style>
<div class="fullPage">
    <div class="container-fluid" >
        <header id="header" stick-me>
            <div class="container pd-0">
                <ul class="hidden-xs">
                    <li class="logo pd-4 pd-tp-2">
	                    <a href="redirect.logoLink">
	                        <img src="images/main_logo.png" alt="Air Arabia">
	                    </a>
	                </li>
                </ul>           
            <div class="row hidden-sm hidden-md hidden-lg row" style="height: 50px !important;">
                <ul >
                    <li id="xs-li-logo" class="logo pd-tp-2 xs-li-logo">
                        <span style="align:center" id="xs-logo-img"><a href="{{redirect.logoLink}}">                            
                                <img src="images/main_logo.png" alt="Air Arabia">
                            </a>                        
                        </span>
                    </li>
                </ul>
            </div>
            </div>
            <div class="progress-step ng-isolate-scope">
                <div class="bar-animator" style="width: 100%;">

                </div>
            </div>
        </header>

        <section class="container" ng-controller="redirectionCtrl as redirect">
            <div class="row">
                <div class="col-md-12 col-xs-12" style="margin-top:40px;">

                    <p ng-if="redirect.isConfirmEnabled === 'true' || redirect.isJoinedLMS === 'true'">
                        <span ng-if="redirect.isJoinedLMS === 'true'">
                            <span translate="lbl_signin_airrewards_welcome">Welcome to Air Rewards, you are now a member of the most generous loyalty program in the Region!</span><br/>
                            <span translate="lbl_signin_airrewards_activateEmail"> We have sent you an account activation Email. Please don't forget to click activate to start earning points!</span>
                        </span>
                    </p>

                    <p ng-if="redirect.isLoginSuccess !== 'true'">
                        An error occurred.
                    </p>

                </div>
            </div>

        </section>
    </div>
</div>
