<!-- Page Wrapper -->
<section class="page-wrapper registration" ng-controller="registrationCtrl as reg">


    <section class="content-wrapper">

        <!-- Content Body -->
        <div class="content-body reg-content-body">

            <!-- Row -->
            <div class="row">

                <!-- Inside Content -->
                <div class="inside-content col-sm-8 col-xs-12">

                    <div isa-busy-loader ng-show="reg.isLoaderVisible"></div>

                    <!-- Registration Header -->
                    <div class="registration-header" ng-if="!reg.isUpdateProfilePage">

                        <div class="content-header">
                            <h1 class="page-title">
                                <span class="main-text registration-header-title" translate="lbl_passenger_join">
                                    Join Now
                                </span>
                            </h1>
                        </div>

                        <p class="text-left" translate="lbl_register_steps">Please fill in the details below to complete your registration</p>
                    </div>
                    <!-- // Registration Header -->

                    <!-- Update Profile Header -->
                    <div class="registration-header" ng-if="reg.isUpdateProfilePage">

                        <div class="content-header">
                            <h1 class="page-title">
                                <span class="main-text" translate="lbl_update_profile">
                                    Update Profile
                                </span>
                            </h1>
                        </div>

                        <p class="text-left" translate="msg_common_updateProfile">You can update your password, contact details at anytime. Use the form below and click on update
                            to save the changes.</p>
                    </div>
                    <!-- // Update Profile Header -->


                    <form id="regForm" novalidate 
                    isa-validator-type="CustomerRegistration" 
                    isa-validator-rules="{{reg.formValidation}}" name="regForm"
                        ng-submit="reg.register(regForm)">

                        <div class="reg-form">


                            <!-- Login Info Section -->
                            <section class="section">

                                <h3 id="logininfo" class="xs-login-info login-section-heading section-heading">
                                    <span class="heading-text text-left col-xs-8 pd-0" translate="lbl_register_login_info">Login Information</span>
                                    <span class="pull-right text-right col-xs-4 pd-0">
                                        <span translate="lbl_passenger_mandatory">Mandatory Fields</span>
                                        <sup class="red">*</sup>
                                    </span>
                                </h3>


                                <div class="reg-content">

                                    <div class="row">
                                        <div class="col col-sm-6 col-xs-12">
                                            <div class="data-input long-error">
                                                    <label>
                                                        <span translate="lbl_common_email">Email</span>
                                                        <sup class="red">*</sup>
                                                    </label>
                                                    <div class="ibe-typeahead">
                                                        <div isa-validator>
                                                            <input type="text" name="email" id="email" class="form-control" ng-disabled="reg.isUpdateProfilePage" ng-model="reg.customerId">
                                                            <!--                                                            <div class="valdr-message" style="position:relative" ng-messages="regForm.email.$error" role="alert" ng-show="regForm.email.$dirty">
                                                <div class="valdr-message" ng-message="pattern">Email must be properly formatted</div>
                                                <div class="valdr-message" ng-message="required">Email is required</div>
                                            </div>-->
                                                        </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col col-sm-6 col-xs-12">
                                            <span class="help-txt xs-help-txt valdr-msg-pt" translate="lbl_passenger_loginId">
                                                This will be your login ID
                                            </span>
                                        </div>
                                    </div>

                                    <div class="row" ng-if="!reg.isUpdateProfilePage">
                                        <div class="col col-sm-6 col-xs-12">
                                            <div class="data-input long-error">
                                                <label>
                                                    <span translate="lbl_common_password">Password</span>
                                                    <sup class="red">*</sup>
                                                </label>
                                                <div class="ibe-typeahead">
                                                    <div isa-validator>
                                                        <input 
                                                        type="password"
                                                        class="form-control" 
                                                        id="password" 
                                                        name="password" 
                                                        ng-model="reg.password">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col col-sm-6 col-xs-12">
                                            <!-- <span class="help-txt">The password must contain at least 6 characters and must be alpha-numeric. <br><br>Special characters are not allowed. The password is case-sensitive.</span> -->
                                        </div>
                                    </div>

                                    <div class="row" ng-if="!reg.isUpdateProfilePage">
                                        <div class="col col-sm-6 col-xs-12">
                                            <div class="data-input long-error">
                                                <label>
                                                    <span translate="lbl_common_confirm_password">Confirm Password</span>
                                                    <sup class="red">*</sup>
                                                </label>
                                                <div class="ibe-typeahead">
                                                    <div isa-validator>
                                                                <input type="password" 
                                                                class="form-control" 
                                                                ng-model="reg.confirmPassword" 
                                                                name="confirmPassword" id="confirmPassword" 
                                                                is-equal="{{reg.password}}"
                                                                ng-paste="$event.preventDefault()">
                                                            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </section>
                            <!-- // Login Info Section -->

                            <!-- Forgot PW Section -->
                            <section class="section" 
                            ng-if="reg.contactConfig.securityQuestion.userRegVisibilty || reg.contactConfig.alternateEmail.userRegVisibilty">

                                <h3 class="section-heading">
                                    <span translate="lbl_register_forgot_password">If you forgot your password</span>
                                </h3>

                                <div class="reg-content">
                                    <div class="row hidden-xs">

                                        <div class="col col-sm-12 col-xs-12" 
                                        ng-if="reg.contactConfig.securityQuestion.userRegVisibilty">
                                            <div class="data-input">
                                                <label>
                                                    <span translate="lbl_common_secQues">Security Question</span>
                                                    <sup class="red" 
                                                    ng-if="reg.contactConfig.securityQuestion.mandatory">*</sup>
                                                </label>
                                                <div class="ibe-typeahead">
                                                <div isa-validator>
                                                    <div class="ibe-drop-down">
                                                        <div class="btn-group xs-btn-group" uib-keyboard-nav uib-dropdown>
                                                            <button id="question-button" 
                                                            type="button" class="btn btn-primary" 
                                                            uib-dropdown-toggle 
                                                            ng-disabled="disabled" 
                                                            ng-model="reg.secretQuestion"
                                                            name="secretQuestion" 
                                                            enable-valdr-validation 
                                                            enable-valdr-message>

                                                                <span class="dp-caption">{{reg.secretQuestion|| '' | listFilter: reg.secretQuestionList:'key':'value'}}&nbsp;</span>
                                                                <span class="fa fa-angle-down"></span>
                                                            </button>
                                                            <ul class="uib-dropdown-menu" 
                                                                role="menu" 
                                                                aria-labelledby="single-button">
                                                                <li ng-repeat="secretQuestion in reg.secretQuestionList" 
                                                                    ng-click="reg.setSecretQuestion(secretQuestion)" 
                                                                    onclick="closeDropdown()"
                                                                    role="menuitem">
                                                                    <a href="javascript:;">{{secretQuestion.value}}</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                        <div class="row" 
                                            style="margin-left:0; margin-right:0" 
                                            ng-if="reg.contactConfig.securityQuestion.userRegVisibilty">
                                            <div class="col col-sm-6 col-xs-12">
                                                <div class="data-input">
                                                        <label>
                                                            <span translate="lbl_common_security_answer">Your Answer</span>
                                                            <sup class="red" ng-if="reg.contactConfig.securityQuestion.mandatory">*</sup>
                                                        </label>
                                                    <div class="ibe-typeahead">
                                                        <div isa-validator>
                                                            <input type="text" 
                                                            name="secretAnswer" 
                                                            class="form-control" 
                                                            ng-model="reg.secretAnswer">
                                                                
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col col-sm-6 col-xs-12">
                                                <div class="common_reason_for_secQues" translate="lbl_common_reason_for_secQues">If you forget your Password, you will be asked your Security question and
                                                    the Answer, to verify your identify before allowing you to choose a new
                                                    Password
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col col-sm-6 col-xs-12" 
                                            ng-if="reg.contactConfig.alternateEmail.userRegVisibilty">
                                       
                                            <div class="data-input">
                                                <label>
                                                    <span translate="lbl_common_alternate_email">Alternate Email Address</span>
                                                    <sup class="red" ng-if="reg.contactConfig.alternateEmail.mandatory">*</sup>
                                                </label>
                                                <div class="ibe-typeahead">
                                                <div isa-validator>
                                                  
                                                        <div>
                                                            <input type="text" 
                                                            name="alternativeEmailId" 
                                                            class="form-control" 
                                                            ng-model="reg.alternativeEmailId">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="hidden-sm hidden-ld hidden-md">

                                        <div class="col-xs-12" 
                                            style="padding-left:0; padding-right:0" 
                                            ng-if="reg.contactConfig.securityQuestion.userRegVisibilty">

                                            <div class="data-input">
                                                <label>
                                                    <span translate="lbl_common_secQues">Security Question</span>
                                                    <sup class="red"
                                                     ng-if="reg.contactConfig.securityQuestion.mandatory">*</sup>
                                                </label>
                                                <div valdr-form-group>
                                                    <div class="ibe-drop-down">
                                                        <div class="btn-group xs-btn-group" uib-keyboard-nav uib-dropdown>
                                                            <button id="question-button" 
                                                            type="button" class="btn btn-primary" 
                                                            uib-dropdown-toggle 
                                                            ng-model="reg.secretQuestion"
                                                            name="secretQuestion"
                                                            enable-valdr-validation
                                                            enable-valdr-message>

                                                                <span class="dp-caption">{{reg.secretQuestion|| '' | listFilter: reg.secretQuestionList:'key':'value'}}&nbsp;</span>
                                                                <span class="fa fa-angle-down"></span>
                                                            </button>
                                                            <ul class="uib-dropdown-menu" 
                                                                role="menu" 
                                                                aria-labelledby="single-button">
                                                                <li ng-repeat="secretQuestion in reg.secretQuestionList" 
                                                                    ng-click="reg.setSecretQuestion(secretQuestion)" 
                                                                    onclick="closeDropdown()"
                                                                    role="menuitem">
                                                                    <a href="javascript:;">{{secretQuestion.value}}</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div ng-if="reg.contactConfig.securityQuestion.userRegVisibilty">
                                            <div class="col-xs-12" style="padding-left:0; padding-right:0">
                                                <div class="data-input">
                                                    <label>
                                                        <span translate="lbl_common_security_answer">Your Answer</span>
                                                        <sup class="red" ng-if="reg.contactConfig.securityQuestion.mandatory">*</sup>
                                                    </label>
                                                    <div class="ibe-typeahead">
                                                    <div valdr-form-group>
                                                        
                                                            <div>
                                                                <input type="text" 
                                                                name="secretAnswer"
                                                                 class="form-control" 
                                                                 ng-model="reg.secretAnswer">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12" style="padding-left:0; padding-right:0">
                                                <div class="common_reason_for_secQues" translate="lbl_common_reason_for_secQues">If you forget your Password, you will be asked your 
                                                    Security question and the Answer, to verify your identify before
                                                    allowing you to choose a new Password
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12" style="padding-left:0; padding-right:0" 
                                            ng-if="reg.contactConfig.alternateEmail.userRegVisibilty">
                                            <div class="data-input">
                                                <label>
                                                    <span translate="lbl_common_alternate_email">Alternate Email Address</span>
                                                    <sup class="red" ng-if="reg.contactConfig.alternateEmail.mandatory">*</sup>
                                                </label>
                                                <div class="ibe-typeahead">
                                                <div valdr-form-group>
                                 
                                                        <div>
                                                            <input type="text" 
                                                            name="alternativeEmailId" 
                                                            class="form-control" 
                                                            ng-model="reg.alternativeEmailId">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </section>
                            <!-- // Forgot PW Section -->

                            <!-- Contact info Section -->
                            <section class="section">
                                <!-- <h3 class="section-heading">
                                    <span translate="lbl_common_contactInfo">Contact Information</span>
                                    <span class="pull-right">
                                        <span translate="lbl_passenger_mandatory">Mandatory Fields</span>
                                        <sup class="red">*</sup>
                                    </span>
                                </h3>-->
                                <h3 id="contactinfo" class=" login-section-heading section-heading xs-contact-info">
                                    <span class="heading-text col-xs-8 pd-0 text-left" 
                                    translate="lbl_common_contactInfo">Contact Information</span>
                                    <span class="text-right col-xs-4 pd-0">
                                        <span translate="lbl_passenger_mandatory">Mandatory Fields</span>
                                        <sup class="red">*</sup>
                                    </span>
                                </h3>

                                <div class="reg-content">
                                    <div class="row">

                                        <div class="col col-sm-6 col-xs-12">
                                            <div class="data-input">
                                                <label>
                                                    <span translate="lbl_passenger_Title">Title</span>
                                                    <sup class="red">*</sup>
                                                </label>
                                                <div class="ibe-typeahead">
                                                <div isa-validator>
                                                        <div class="ibe-drop-down">
                                                            <div class="btn-group xs-btn-group" 
                                                            uib-keyboard-nav 
                                                            uib-dropdown
                                                            ng-model="reg.salutation"
                                                            name="salutation">
                                                                
                                                                <input id="salutation-button"
                                                                    type="button" 
                                                                    class="form-control dp-caption-salutation"
                                                                    name="salutation"
                                                                    uib-dropdown-toggle
                                                                    selected-value="reg.salutation"
                                                                    ng-disabled="disabled"
                                                                    ng-model="reg.salutation"
                                                                    style="color:white"
                                                                    value={{reg.salutation}}>
                                                                <span class="dp-caption">{{(reg.salutation | salutationFilter: reg.salutationList) || ''}}&nbsp;</span>
                                                               <span class="fa fa-angle-down"></span>
                                                                <ul class="uib-dropdown-menu" 
                                                                role="menu" 
                                                                aria-labelledby="single-button">
                                                                    <li ng-repeat="salutation in reg.salutationList"
                                                                        ng-click="reg.setSalutation(salutation.titleCode)" 
                                                                        onclick="closeDropdown()"
                                                                        role="menuitem">
                                                                        <a href="javascript:;">{{salutation.titleName}}</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col col-sm-6 col-xs-12">
                                            <div class="data-input">
                                                <label>
                                                    <span translate="lbl_passenger_firstName">First Name</span>
                                                    <sup class="red">*</sup>
                                                </label>
                                                <div class="ibe-typeahead">
                                                <div isa-validator>
                                                   
                                                        <div>
                                                            <input type="text" 
                                                                name="firstName" 
                                                                id="firstName" 
                                                                class="form-control" 
                                                                ng-model="reg.firstName" 
                                                                ng-disabled="reg.isUpdateProfilePage">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col col-sm-6 col-xs-12">
                                            <div class="data-input">
                                                <label>
                                                    <span translate="lbl_passenger_lastName">Last Name</span>
                                                    <sup class="red">*</sup>
                                                </label>
                                                <div class="ibe-typeahead">
                                                <div isa-validator>
                                                        <div>
                                                            <input type="text" 
                                                            name="lastName" 
                                                            id="lastName" 
                                                            class="form-control" 
                                                            ng-model="reg.lastName" 
                                                            ng-disabled="reg.isUpdateProfilePage">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col col-sm-6 col-xs-12">
                                            <div class="data-input">
                                                <label>
                                                    <span translate="lbl_passenger_nationality">Nationality</span>
                                                    <sup class="red">*</sup>
                                                </label>

                                                <div class="ibe-typeahead">
                                                <div isa-validator>
                                                        <div>
                                                            <input type="text" 
                                                                ng-model="reg.nationality" 
                                                                selected-value="reg.nationality" 
                                                                uib-typeahead="nationality.code as nationality.name for nationality in reg.nationalityList | filter:{name:$viewValue}:reg.startsWith"
                                                                typeahead-input-formatter="reg.formatLabelNationality($model)"
                                                                typeahead-editable="false" 
                                                                typeahead-select-on-exact="true" 
                                                                typeahead-min-length="0"
                                                                typeahead-focus
                                                                name="nationality" 
                                                                id="nationality"
                                                                class="form-control"
                                                                typeahead-on-select="reg.onNationalityChange($item)" 
                                                                autocomplete="off"
                                                            />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <!-- air arabia does not want this field in their form should be hidden by configs-->
                                        <div class="col col-sm-6 col-xs-12" ng-if="reg.contactConfig.zipCode.userRegVisibilty">
                                            <div class="data-input">
                                                <label>
                                                    <span translate="lbl_common_zipCode">Zip Code</span>
                                                    <sup class="red" ng-if="reg.contactConfig.zipCode.mandatory">*</sup>
                                                </label>
                                                <div class="ibe-typeahead">
                                                <div>
                                                        <div>
                                                            <input type="text" 
                                                            name="zipCode" 
                                                            class="form-control" 
                                                            ng-model="reg.zipCode">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col col-sm-6 col-xs-12 xs-country" ng-if="reg.contactConfig.country.userRegVisibilty">
                                            <div class="data-input">
                                                <label>
                                                    <span translate="lbl_common_country">Country of Residence</span>
                                                    <sup class="red" ng-if="reg.contactConfig.country.mandatory">*</sup>
                                                </label>

                                                <div class="ibe-typeahead">
                                                <div isa-validator>
                                                        <div>
                                                            <input type="text" 
                                                                ng-model="reg.country" 
                                                                selected-value="reg.country" 
                                                                uib-typeahead="country.code as country.name for country in reg.countryList | filter:{name:$viewValue}:reg.startsWith"
                                                                typeahead-input-formatter="reg.formatLabelCountry($model)" 
                                                                typeahead-editable="false"
                                                                typeahead-select-on-exact="true" 
                                                                typeahead-min-length="0" 
                                                                typeahead-focus
                                                                name="country" 
                                                                id="country" 
                                                                class="form-control" 
                                                                typeahead-on-select="reg.onCountryChange($item)"
                                                                autocomplete="off"/>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col col-sm-8 col-xs-12" ng-if="reg.contactConfig.mobileNo.userRegVisibilty">
                                            <div class="data-input">
                                                <label>
                                                    <span translate="lbl_common_mobile">Mobile Number</span>
                                                    <sup class="red">*</sup>
                                                </label>
                                                            <isa-phone-number 
                                                             field-name="reg.namePhoneField"
                                                             phone-number="reg.mobile"
                                                             country-list="reg.countryList" 
                                                             phone-required="true" 
                                                             label-visible="true" 
                                                             configs="reg.phoneNumberConfigs" 
                                                             validate-with-list="!reg.isValidCareerFor('JCA')">
                                                            </isa-phone-number>
                                                
                                            </div>
                                        </div>

                                        <div class="col col-sm-8 col-xs-12" ng-if="reg.contactConfig.phoneNo.userRegVisibilty">
                                            <div class="data-input">
                                                <label>
                                                    <span translate="lbl_register_mobile_during_travel">Number During Travel</span>
                                                    <sup class="red" ng-if="reg.contactConfig.phoneNo.mandatory">*</sup>
                                                </label>
                                                    <div>
                                                        <isa-phone-number 
                                                        phone-number="reg.mobile"
                                                        country-list="reg.countryList"
                                                        phone-required="reg.contactConfig.phoneNo.mandatory"
                                                        label-visible="false" 
                                                        configs="reg.phoneNumberConfigs" 
                                                        validate-with-list="!reg.isValidCareerFor('JCA')">
                                                        </isa-phone-number>
                                                    </div>
                                            </div>
                                        </div>

                                        <!-- air arabia does not want this field in their form, should be made hidden from the configs -->
                                        <div class="col col-sm-8 col-xs-12" ng-if="reg.contactConfig.fax.userRegVisibilty">
                                            <div class="data-input">
                                                <label>
                                                    <span translate="lbl_common_fax_no">Fax No</span>
                                                    <sup class="red" ng-if="reg.contactConfig.fax.mandatory">*</sup>
                                                </label>
                                                <div>
                                                    <div>
                                                        <isa-phone-number
                                                            phone-number="reg.fax" 
                                                            country-list="reg.countryList"
                                                            phone-required="false" 
                                                            label-visible="false" configs="reg.phoneNumberConfigs" validate-with-list="!reg.isValidCareerFor('JCA')">
                                                        </isa-phone-number>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </section>
                            <!-- // Contact info Section -->

                            <!-- Airewards Header -->
                            <section ng-if="reg.isLoyaltyManagementEnabled" class="section with-sub hidden-xs"
                            ng-show="reg.pageState === reg.pageStates.REGISTER || reg.pageState === reg.pageStates.UPDATE">

                                <h3 class="section-heading">
                                    <div translate="lbl_common_likeTojoin" class="pull-left">
                                        Would you like to join
                                    </div>
                                    <div class="pull-left">
                                        <span>
                                            <img id="log0-airarabia" src="images/airewards-logo.svg" alt="">
                                        </span>
                                    </div>
                                    <div translate="lbl_common_loyaltyProgram" class="pull-left">
                                        Air Arabia Loyalty program?
                                    </div>
                                </h3>

                                <div class="section-sub-heading dashboard-airEwards-section">
                                    <span class="radio">
                                            <input name="airwawrdsXS" 
                                            type="radio" 
                                            id="radio-0-0" 
                                            value="true"
                                            ng-model="reg.hasJoinAirwards">
                                     <label data-section-key="0" translate="lbl_common_yes" for="radio-0-0">Yes</label>
                                    </span>
                                    <span class="radio">
                                            <input name="airwawrdsXS" 
                                            type="radio" 
                                            id="radio-0-1" 
                                            value="false"
                                            ng-model="reg.hasJoinAirwards">
                                     <label data-section-key="0" translate="lbl_common_no"for="radio-0-1">No</label>
                                    </span>
                                </div>
                            </section>
                            
                            <section ng-if="reg.isLoyaltyManagementEnabled" class="section with-sub hidden-ld hidden-lg hidden-sm hidden-md"
                                        ng-show="reg.pageState === reg.pageStates.REGISTER || reg.pageState === reg.pageStates.UPDATE">

                                <h3 class="section-heading airewards-section-heading section-radio">
                                    <div translate="lbl_common_likeTojoin">
                                        Would you like to join
                                    </div>
                                    <div>
                                        <span><img id="log0-airarabia" src="images/airewards-logo.svg" alt=""></span>
                                    </div>
                                    <div translate="lbl_common_loyaltyProgram" >
                                        Air Arabia Loyalty program?
                                    </div>
                                </h3>

                                <div class="section-sub-heading login-section-sub-heading">
                                    <div class="col-xs-6">
                                        <span class="radio pull-right">
                                            <input name="airwawrds" type="radio" id="radio-0-0" value="true"
                                                    ng-app=""ng-model="reg.hasJoinAirwards">
                                            <label data-section-key="0" translate="lbl_common_yes"  for="radio-0-0">Yes</label>
                                        </span>
                                    </div>
                                    <div class="col-xs-6 ">
                                        <span class="radio pull-left">
                                            <input name="airwawrds" type="radio" id="radio-0-1" value="false"
                                                    ng-model="reg.hasJoinAirwards">
                                            <label data-section-key="0" translate="lbl_common_no"  for="radio-0-1">No</label>
                                        </span>
                                    </div>
                                </div>
                            
                            </section>
                            <!-- // Airewards Header -->

                            <!-- Airewards Form -->
                            <section class="section reg-form-section"
                            ng-if="reg.lmsFormVisible()"
                            >

                            <h3 class="section-heading"
                                ng-if="reg.pageState === reg.pageStates.UPDATE_LMS || reg.pageState === reg.pageStates.UPDATE_LMS_MASHREQ">
                                <span class="heading-text" translate="lbl_passenger_airewardsAdditionalInfo">Additional Air Rewards Information</span>
                            </h3>
                            <div class="hidden-sm hidden-md hidden-lg section-line xs-section-line" ><hr></div>
                                <div class="reg-content">

                                    <div class="row">

                                        <div class="col col-sm-6" ng-if="reg.isLmsMember">
                                            <div class="data-input">
                                                <label>Air Rewards ID</label>
                                                <div class="ibe-typeahead">
                                                <div class="form-group">
                                                        <div>
                                                            <input type="text"
                                                            class="form-control"
                                                            ng-model="reg.lmsEmail"
                                                            ng-disabled="reg.isLmsMember"
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div class="col col-sm-6">
                                            <div class="data-input">
                                                <label>
                                                    <span translate="lbl_passenger_dob">Date of Birth</span>
                                                    <sup class="red">*</sup>
                                                </label>

                                                <div>
                                                    <div class="ibe-jquery-date-picker" ng-class="{'disable-dp-button': reg.isLmsMember}" isa-validation-disabled="isNameChange"
                                                        isa-validator>
                                                        <input ui-date="reg.dateOptions" name="airwardsDOB" ng-model="reg.airwardsDOBlocal" isa-jq-date-utc="reg.airwardsDOB" class="form-control"
                                                            id="airewards-dob" ng-disabled="reg.isLmsMember" ng-change="reg.setFamilyEmailStatus(reg.airwardsDOBlocal)"
                                                            ui-date-fix/>
                                                    </div>
                                                </div>

                                            </div> -->
                                            <div  class="col-xs-12 col-md-4 col-sm-6 col-lg-6">
                                                <label style="margin-bottom:0 !important;" translate="lbl_passenger_dob">Date of Birth<sup class="red">*</sup> </label>
                                                <div class="ibe-jquery-date-picker" ng-class="{'disable-dp-button': reg.isLmsMember}">
                                                    <div class="ibe-typeahead" ng-if="!reg.isPersianCalendarType">
                                                        <div class="input-group" 
                                                        isa-validator 
                                                        isa-validation-disabled="isNameChange" 
                                                        style="display:block">
                                                                <input  
                                                                ui-date="reg.dateOptions"
                                                                ng-focus="classInput = 'on-focus'"
                                                                ng-blur="classInput = ''"
                                                                ng-class="classInput"
                                                                name="airwardsDOB"
                                                                ng-model="reg.airwardsDOBlocal"
                                                                isa-jq-date-utc="reg.airwardsDOB"
                                                                class="form-control"
                                                                id="airewards-dob"
                                                                ng-disabled="reg.isLmsMember"
                                                                ng-change="reg.setFamilyEmailStatus(reg.airwardsDOBlocal)"
                                                               />
                                                        </div>
                                                    </div>
                                                    <div class="ibe-typeahead" ng-if="reg.isPersianCalendarType">
                                                        <div isa-validator 
                                                            class="input-group" 
                                                            isa-validation-disabled="isNameChange" 
                                                            style="display:block">    
                                                                <adm-dtp name="airwardsDOB"
                                                                    ng-model='reg.airwardsDOBlocal'
                                                                    options='reg.admOptions'
                                                                    class="form-control"
                                                                    id="airewards-dob"
                                                                    ng-change="reg.setFamilyEmailStatus(reg.airwardsDOBlocal)"
                                                                    ng-disabled="reg.isLmsMember" 
                                                                    style="cursor:pointer;background-color: #fafafa !important;"
                                                                    mindate="{{reg.minDateForJal}}"
                                                                    maxdate="{{reg.maxDateForJal}}"
                                                                    disabled></adm-dtp> 
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-if="reg.isLoyaltyManagementEnabled" class="row">

                                        <div class="col col-sm-6">
                                            <div class="data-input">
                                                <label translate="lbl_passenger_communicateLanguage">Communication Language
                                                    <sup class="red">*</sup>
                                                </label>

                                                <div class="ibe-typeahead">
                                                <div isa-validator>
                                                        <div>
                                                            <input type="text" ng-model="reg.language"
                                                                selected-value="reg.language" 
                                                                uib-typeahead="language.languageCode as language.language for language in reg.languageList | filter:{language:$viewValue}"
                                                                typeahead-input-formatter="reg.formatLabelLanguage($model)" 
                                                                typeahead-editable="false"
                                                                typeahead-select-on-exact="true" 
                                                                typeahead-min-length="0" 
                                                                typeahead-focus
                                                                name="language" 
                                                                class="form-control"
                                                                 typeahead-on-select="reg.onLanguageChange($item)"
                                                                autocomplete="off"
                                                                />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col col-sm-6">
                                            <div class="data-input">
                                                <label translate="lbl_passenger_passportNumber">Passport Number</label>
                                                <div class="ibe-typeahead">
                                                <div class="form-group">
                                                        <div>
                                                            <input type="text" class="form-control" 
                                                            ng-model="reg.passport">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div ng-if="reg.isLoyaltyManagementEnabled" class="row">

                                        <div class="col col-sm-6">
                                            <div class="data-input">
                                                <label translate="lbl_passenger_refMemEmail">Referring Member Email</label>
                                                <div class="ibe-typeahead">
                                                <div class="form-group">
                                                        <div>
                                                            <input type="text" name="refEmail" class="form-control" ng-disabled="reg.isLmsMember"
                                                                   ng-model="reg.referringEmail" ng-trim="true">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col col-sm-6">
                                            <span translate="lbl_passenger_refMemEmailDesc" class="help-txt">If you were referred by another member, please enter their email address</span>
                                        </div>

                                    </div>

                                    <div ng-if="reg.isLoyaltyManagementEnabled" class="row xs-familyhead">

                                        <div class="col col-sm-6">
                                            <div class="data-input">
                                                <label>
                                                    <span translate="lbl_passenger_familyHeadMail">Family Heads Email</span>
                                                    <sup ng-show="reg.isFamilyEmailRequired" class="red">*</sup>
                                                </label>
                                                <div class="ibe-typeahead">
                                                <div isa-validator>
                                                        <div>
                                                            <input type="text" 
                                                            id="familyEmail" 
                                                            name="familyEmail" 
                                                            class="form-control" 
                                                            ng-model="reg.familyEmail"
                                                            ng-trim="true">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col col-sm-6">
                                            <span translate="lbl_passenger_familyHeadMailDesc" class="help-txt">If you are or would like to be a part of a family account, please enter the email
                                                address of the family head that will receive your points.</span>
                                        </div>

                                    </div>

                                </div>

                            </section>
                            <!-- // Airewards Form -->

                            <!-- Mashreq Header - DISABLED due to CR AARESAA-26661 -->
                            <section class="section with-sub" 
                            ng-show="false" 
                            ng-if="reg.mashreqHeaderVisible()">

                                <h3 class="section-heading">Do you have Air Arabia Mashreq Card Loyalty Account?</h3>

                                <!-- Mashreq radio buttons -->
                                <div class="section-sub-heading">
                                    <span class="radio">
                                        <input name="mashreq" 
                                        type="radio" 
                                        id="radio-1-1" 
                                        value="true" 
                                        ng-model="reg.hasMashreqCard">
                                        <label data-section-key="0" for="radio-1-1">Yes</label>
                                    </span>
                                    <span class="radio">
                                        <input name="mashreq" 
                                        type="radio" 
                                        id="radio-1-2" 
                                        value="false" 
                                        ng-model="reg.hasMashreqCard">
                                        <label data-section-key="0" for="radio-1-2">No</label>
                                    </span>
                                </div>
                                <!-- // Mashreq radio buttons -->

                            </section>
                            <!-- // Mashreq Header -->


                            <!-- Mashreq Form -->
                            <section class="section" 
                            ng-show="false" 
                            ng-if="reg.hasMashreqCard === 'true' && reg.mashreqHeaderVisible()">

                                <!-- Mashreq form fields -->
                                <div class="reg-content"
                                 valdr-enabled="reg.hasMashreqCard == 'true'">

                                    <div class="row">
                                        <!-- Card number -->
                                        <div class="col col-sm-12">
                                            <p class="text-left">Air Arabia Mashreq Credit Cardholders need to provide their 12 digit loyalty
                                                account number to link their card to their Air Rewards account.
                                            </p>
                                        </div>
                                        <div class="col col-sm-6">
                                            <div class="data-input">
                                                <label>12 digit Account Number
                                                    <sup class="red">*</sup>
                                                </label>
                                                <div class="ibe-typeahead">
                                                <div isa-validator>
                                                        <div>
                                                            <input type="text" 
                                                            name="loyaltyAccountNo" 
                                                            class="form-control" 
                                                            ng-model="reg.loyaltyProfileDetails.loyaltyAccountNo">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- // Card number -->

                                        <!-- DoB -->
                                        <div class="col col-sm-6">
                                            <div class="data-input">
                                                <label translate="lbl_passenger_dob">Date of Birth
                                                    <sup class="red">*</sup>
                                                </label>
                                                <div>
                                                    <div class="ibe-jquery-date-picker" 
                                                    isa-validation-disabled="isNameChange" isa-validator>
                                                        <input ui-date="reg.dateOptions" 
                                                        name="mashreqDOB" 
                                                        ng-model="reg.mashreqLocalDob" 
                                                        isa-jq-date-utc="reg.loyaltyProfileDetails.dateOfBirth"
                                                        class="form-control" 
                                                        id="mashreq-dob"
                                                         ui-date-fix/>
                                                    </div>
                                                </div>
                                                <!-- // DoB -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!-- City -->
                                        <div class="col col-sm-6">
                                            <div class="data-input">
                                                <label>City
                                                    <sup class="red">*</sup>
                                                </label>
                                                <div class="ibe-typeahead">
                                                <div isa-validator>
                                                        <div>
                                                            <input type="text" 
                                                            class="form-control" 
                                                            name="city" 
                                                            ng-model="reg.loyaltyProfileDetails.city">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- // City -->
                                    </div>

                                    <div class="row">
                                        <div class="col col-sm-12 margin-bottom-30">
                                            <p>Your loyalty account number will be validated against your email ID, date of
                                                birth, mobile no., city, country and nationality. Please make sure that the
                                                information you are entering for these fields is the same as that filled
                                                in your Air Arabia Mashreq Credit Card application form.</p>
                                        </div>
                                    </div>

                                </div>
                                <!-- // Mashreq form fields -->



                            </section>
                            <!-- // Mashreq Form -->

                            <!-- Your Preferences -->
                            <section class="section with-sub" ng-if="reg.yourPrefsAvailable">
                                <h3 class="section-heading" translate="lbl_common_preferences">Your Preferences</h3>

                                <div class="your-prefs">

                                    <div class="row" ng-if="reg.contactConfig.promotionPref.userRegVisibilty">
                                        <div class="col col-sm-12">
                                            <div class="data-input">
                                                <div class="ibe-typeahead">
                                                <div isa-validator>

                                                        <span class="checkbox">
                                                            <input type="checkbox" 
                                                            name="questionaire[1].questionAnswer"
                                                            id="chkQ1" 
                                                            ng-model="reg.customerQuestionaire[1]" 
                                                            ng-init="reg.initQuestioneer()"
                                                            />
                                                            <label data-section-key="0" for="chkQ1" translate="lbl_register_receive_promotions">Yes, I would like to 
                                                                receive promotional material from the airline and its partners
                                                            </label>
                                                        </span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" ng-if="reg.contactConfig.emailPref.userRegVisibilty">
                                        <div class="col col-sm-12">
                                            <div class="data-input">
                                                <h4 translate="lbl_common_promotinal_email">Promotional Email</h4>
                                                <div class="ibe-typeahead">
                                                <div isa-validator>
                                                        <span class="radio">
                                                            <input type="radio" 
                                                            name="promoEmail" 
                                                            id="emailRadio" 
                                                            value="HTML" 
                                                            ng-model="reg.customerQuestionaire[2]"/>
                                                            <label data-section-key="0" for="emailRadio" translate="lbl_register_html_images">
                                                                HTML full-colour with images
                                                            </label>
                                                        </span>
                                                        <span class="radio">
                                                            <input type="radio" 
                                                            name="promoEmail" 
                                                            id="emailRadio1" 
                                                            value="PLAIN" 
                                                            ng-model="reg.customerQuestionaire[2]"/>
                                                            <label data-section-key="0" for="emailRadio1" translate="lbl_register_plain_text">
                                                                Plain text only
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" ng-if="reg.contactConfig.smsPref.userRegVisibilty">
                                        <div class="col col-sm-12 col-xs-12">
                                            <div class="data-input">
                                                <h4 translate="lbl_register_receive_sms">Would you like to receive SMS messages from the airline?</h4>
                                                <div class="ibe-typeahead">
                                                <div isa-validator>
                                                        <span class="radio">
                                                            <input type="radio" name="sms" id="smsRadioYes" value="Yes" ng-model="reg.customerQuestionaire[3]">
                                                            <label id="lbl_register_ensure_mobile" data-section-key="0" for="smsRadioYes" translate="lbl_register_ensure_mobile">
                                                                Yes (please ensure that you have provided us with your mobile number above)
                                                            </label>
                                                        </span>
                                                        <span class="radio">
                                                            <input type="radio" name="sms" 
                                                            id="smsRadioNo" value="No" ng-model="reg.customerQuestionaire[3]"/>
                                                            <label data-section-key="0" for="smsRadioNo" translate="lbl_common_no">No</label>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" ng-if="reg.contactConfig.languagePref.userRegVisibilty">
                                        <div class="col col-sm-12">
                                            <div class="data-input">
                                                <h4 translate="lbl_register_communication_language">Which language would you prefer to receive the communication in?</h4>
                                                <div class="ibe-typeahead">
                                                <div isa-validator>
                                                        <!--TODO: ng-repeat of languages-->
                                                        <span class="radio" ng-repeat="language in reg.languageList">
                                                            <input type="radio" name="communicationLanguage" ng-model="reg.customerQuestionaire[4]" 
                                                                    id="lang{{language.languageCode}}Radio" value="{{language.languageCode}}"/>
                                                            <label data-section-key="0" for="lang{{language.languageCode}}Radio">{{language.language}}</label>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" ng-if="reg.contactConfig.languagePref.userRegVisibilty">
                                        <div class="col col-sm-10">
                                            <div class="data-input">
                                                <p class="text-left" id="lbl_register_service_enhancements" translate="lbl_register_service_enhancements">As we enhance our services in the future, we want to know which languages
                                                    you would like to see our website and communications in. If different
                                                    from the above, please specify:</p>
                                                    <div class="ibe-typeahead">
                                                <div isa-validator>
                                                        <span>
                                                            <input type="text"
                                                            class="form-control" 
                                                            id="additionalLang"
                                                             ng-model="reg.customerQuestionaire[5]" 
                                                             maxlength="50"/>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </section>
                            <!-- // Your Preferences -->

                            <div class="row send-promo-email-reg">
                                <div class="col-md-12 col-sm-12 col-xs-12 input-option">
                                    <span class="checkbox">
                                        <input type="checkbox"
                                               id="sendPromoEmail"
                                               ng-model="reg.isSendPromoEmailChecked"
                                               name="sendPromoEmail">

                                        <label for="sendPromoEmail" class="xs-airewards-promotion">
                                            <span class="send-promo-text" translate="lbl_send_promo_email">
                                                We’ll send you updates about our special offers, holidays and travel products, and Air Rewards exclusive offers and benefits. You may uncheck here if you choose not to receive these exciting updates.
                                            </span>
                                        </label>
                                    </span>
                                </div>
                            </div>

                            <!-- Form submit button -->
                            <div class="row">
                                
                                <div class="copyright reg-copyright col col-sm-10" ng-if="!reg.isUpdateProfilePage">
                                	<div class='copyright-text'>
                                		<sup class='red'>*</sup>
                                		<div class='terms-and-condition text-left'>
                                			<span translate="lbl_common_registerNowDesc"> By clicking 'Register Now' button you agree to the  </span>
                                			<a href='//www.airarabia.com/terms-and-conditions' target='_blank' translate="lbl_common_terms">Terms and Conditions</a>&nbsp;
                                			<span translate="lbl_common_andtxt">and</span>&nbsp;<a href='//www.airarabia.com/privacy-policy' target='_blank' translate="lbl_common_privacyPolicy">Privacy Policy</a>
                                		</div>
                                	</div>
                                </div>
                                
                                <div class="col col-sm-5 col-xs-6" ng-if="reg.isUpdateProfilePage">
                                    <button 
                                    id="register" 
                                    class="button red-btn" 
                                    type="submit">
                                        Update
                                    </button>
                                </div>
                                <div class="col col-sm-5 col-xs-6 pull-left" ng-if="reg.isUpdateProfilePage">
                                    <button id="back-dashboard" class="button red-btn" type="button"
                                            ng-click="reg.backToDashboard()">Back
                                    </button>
                                </div>
                                <div class="col-sm-10 col-xs-12 " ng-if="!reg.isUpdateProfilePage">
                                        <button
                                            id="register"
                                            class="button red-btn"
                                            translate="lbl_passenger_register"
                                            type="submit">
                                            Register Now
                                        </button>
                                </div>
                            </div>
                            <!-- // Form submit button -->

                        </div>

                    </form>

                </div>
                <!-- // Inside Content -->

                <!-- Sidebar -->
                <div ng-if="reg.isLoyaltyManagementEnabled" class="sidebar col-sm-4">
                    <!-- Dashboard Widget MyAirArabia hidden -->
                    <div class="dashboard-widget" ng-show="false">

                        <!-- Widget Header -->
                        <div class="widget-header bg-red">
                            <span>
                                <img src="images/my-airarabia-white.png">
                            </span>
                        </div>
                        <!-- // Widget Header -->

                        <!-- Widget Content -->
                        <div class="widget-content">

                            <p class="intro">Discover all the benefits for signing up for My Airarabia</p>

                            <ul>
                                <li><a href="" class="no-hover"><span>Keep a list of all your reservations and check the details at any time.</span></a>
                                </li>
                                <li><a href="" class="no-hover"><span>Change your reservations and keep the remaining credit to be used for future use.</span></a>
                                </li>
                            </ul>
                        </div><!-- // Widget Content -->
                    </div><!-- // Dashboard Widget -->

                    <!-- XS Dashboard Widget -->
                    <div class="dashboard-widget xs-dashboard-widget hidden-sm hidden-md hidden-lg" ng-hide="reg.isUpdateProfilePage">

                        <!-- Widget Header -->
                        <div class="widget-header bg-red">
                            <span><img src="images/airewards-logo-white.png"></span>
                        </div><!-- // Widget Header -->

                        <!-- Widget Content -->
                        <div class="widget-content">

                            <p class="intro" translate="lbl_signin_airrewards_intro">Air Rewards offers loyal Air Arabia customers a wide range of benefits and
                                rewards:</p>

                            <ul>
                                <li><a href="" class="no-hover"><span translate="lbl_signin_airrewards_earn_points">Earn points for every 1USD you spend.</span></a>
                                </li>
                                <li><a href=""
                                       class="no-hover"><span translate="lbl_signin_airrewards_redeem_dates">Redeem on any flight with no blackout dates.</span></a>
                                </li>
                                <li><a href="" class="no-hover"><span translate="lbl_signin_airrewards_use_points">Use points + cash anytime</span></a></li>
                                <li><a href="" class="no-hover" translate="lbl_signin_airrewards_earn_and_share"><span>Earn and share points with family accounts.</span></a>
                                </li>
                            </ul>

                            <div class="clear"></div>

                            <!-- <div class="txt-a-r">
                                <a ng-href="{{reg.moreDetails}}" translate="lbl_signin_airrewards_moreDetails" target="_blank"><span>More Details</span></a>
                            </div> -->
                        </div><!-- // Widget Content -->
                    </div><!-- // XS Dashboard Widget -->

                    <!-- Dashboard Widget -->
                    <div class="dashboard-widget xs-dashboard-widget hidden-xs">

                        <!-- Widget Header -->
                        <div class="widget-header bg-red">
                            <span><img src="images/airewards-logo-white.png"></span>
                        </div><!-- // Widget Header -->

                        <!-- Widget Content -->
                        <div class="widget-content">

                            <p class="intro" translate="lbl_signin_airrewards_intro">Air Rewards offers loyal Air Arabia customers a wide range of benefits and
                                rewards:</p>

                            <ul>
                                <li><a href="" class="no-hover"><span translate="lbl_signin_airrewards_earn_points">Earn points for every 1USD you spend.</span></a>
                                </li>
                                <li><a href=""
                                       class="no-hover"><span translate="lbl_signin_airrewards_redeem_dates">Redeem on any flight with no blackout dates.</span></a>
                                </li>
                                <li><a href="" class="no-hover"><span translate="lbl_signin_airrewards_use_points">Use points + cash anytime</span></a></li>
                                <li><a href="" class="no-hover" translate="lbl_signin_airrewards_earn_and_share"><span>Earn and share points with family accounts.</span></a>
                                </li>
                            </ul>

                            <div class="clear"></div>

                            <!-- <div class="txt-a-r">
                                <a ng-href="{{reg.moreDetails}}" translate="lbl_signin_airrewards_moreDetails" target="_blank"><span>More Details</span></a>
                            </div> -->
                        </div><!-- // Widget Content -->
                    </div><!-- // Dashboard Widget -->

                    <!-- Dashboard Widget -->
                    <div class="dashboard-widget" ng-show="false">

                        <!-- Widget Header -->
                        <div class="widget-header bg-red">
                            <span><img src="images/mashreq-logo-white.png"></span>
                            <h4>Mashreq Air Arabia Credit card</h4>
                        </div><!-- // Widget Header -->

                        <!-- Widget Content -->
                        <div class="widget-content">

                            <span class="img">
                                <img src="images/mashreq-cards.png">
                            </span>

                            <div class="clear">
                            </div>

                            <p class="intro pd-tp-4 text-left">Apply for Mashreq Air Arabia Platinum Credit Card and earn Dirhams
                                for every retail purchase you make with your card</p>

                        </div><!-- // Widget Content -->
                    </div><!-- // Dashboard Widget -->

                </div><!-- // Sidebar -->
            </div><!-- // Row -->

        </div><!-- // Content Body -->


        <!-- Content Footer -->
        <div class="content-footer">
            <span ng-if="isLoyaltyManagementEnabled"><sup class="red">*</sup> By Registering My Air Arabia, You accept to receive our promotional emails and offers.</span>
        </div><!-- // Content Footer -->
    </section><!-- // Page Wrapper -->
</section>
<script type="text/javascript">function closeDropdown() {
        if ($('.xs-btn-group').hasClass('open')) {
            $('.xs-btn-group').removeClass('open');
        }
    }</script>