/*===========================================
=            Contact Information            =
===========================================*/

.contact-information{
	@extend .left-wide;
	clear: both;

	.heading{}

	.row{
		margin-bottom: 20px;

		.txt-col{
			padding-top: 22px;
		}
		.passenger-communicateLanguage-div{
			top:0px;
		}
	}

	.placeholder{
		padding: 0 15px;
		line-height: 50px;
		color: $black;
		font-weight: 400;
		font-size: 14px;
		.placeholder-icon{
			margin-left: 3px;
		}
	}

	.ibe-drop-down{
		.dropdown-toggle{
			padding: 0 5px;
		}
		.dp-caption-salutation{
			padding-left: 15px;
			text-align:left;
		  }
		.dp-caption{
			padding: 0 15px 0 10px;
			line-height: 50px;
			color: $black;
			font-weight: 400;
			font-size: 14px;
		}
		.fa{
			position:absolute;
			right: 14px;

			line-height: 50px;
			padding: 0 10px 0 0;
		}
	}



	/*Valdr Validations and messages*/
	.valdr-message{
		font-size: 12px;
		color: $red;
	}

	form,
	ng-form{
		&.ng-submitted{
			.ibe-typeahead {
				.ng-invalid.ng-dirty.ng-untouched,
				.ng-invalid.ng-untouched{
					border: 1px solid $red ;
				}
				.ng-invalid.ng-untouched.on-focus{
					border: 1px solid grey;
				}
			}
		}
		.ibe-typeahead {
			&.on-focus{
				.valdr-message{
					border: none;
					display:none;
				}
		
			}
			.ng-invalid,
			.ng-invalid.ng-touched,
			.ng-invalid.ng-pristine.ng-touched  {
				border: $red 1px solid;
			}
			
			.ng-invalid .valdr-message,
			.ng-invalid.ng-touched .valdr-message,
			.ng-invalid.ng-touched.ng-dirty .valdr-message,
			.ng-invalid.ng-touched.ng-invalid-required .valdr-message{
				border: none;
				color: $red;
			}
			.ng-invalid.ng-dirty .valdr-message,	
			.ng-invalid.ng-touched.on-focus .valdr-message,
			.ng-invalid.ng-pristine.ng-touched.on-focus .valdr-message
			{
				border: none;
				display:none;
			}
			

			.ng-invalid.ng-dirty.ng-untouched,
			.ng-invalid.on-focus,
			.ng-invalid.ng-untouched,
			.ng-invalid.ng-untouched.on-focus,
			.ng-invalid.ng-touched.on-focus,
			.ng-invalid.ng-pristine.ng-touched.on-focus,
			.ng-invalid.ng-dirty.ng-untouched.on-focus
			{
				border: 1px solid grey;
			}
		}
	}
	
	
	.valdr-message.ng-pristine {
		display:none;
	}
	.valdr-message-fix{
		margin-top:50px;
	}
	/*END Valdr Validations and messages*/
}

/*=====  End of Contact Information  ======*/