/*======================================
=            Content Footer            =
======================================*/

.content-footer{
	@extend .left-wide;
	border-top: 1px solid #ededef;
	padding-top: 0px;
	font-size: 13px;
	margin-top: 80px;
}

/*=====  End of Content Footer  ======*/
