
@media only screen and(max-width: 676px){
	.dashboard{
		.content-body{
			.my-reservation-container{
				padding-left: 15px !important;
			}
		}
	}
}


// /*=================================
// =            Dashboard            =
// =================================*/



// .dashboard{
// 	ul,ol{
// 		list-style: none;
// 		margin: 0;
// 		padding: 0;
// 	}

// 	label{
// 		margin: 0;
// 	}

// 	a{
// 		text-decoration: none;
// 	}

// 	img{
// 		@extend .no-select;
// 	}

// 	.modif-search-2{
// 		top: 99px;
// 	}
// }

// /*=====  End of Dashboard  ======*/



// /*==============================
// =            Header            =
// ==============================*/

// header.dashboard,
// .dashboard-header{
// 	overflow: visible;

// 	&.all-red{
// 		background-color: $site_primary_color;

// 		.user-profile-dropdown .user-name{
// 			color: $white;
// 		}

// 		.navigation-dropdown .toggle{
// 			color: $white;
// 		}
// 	}
// }

// /*=====  End of Header  ======*/


// /*===================================
// =            Page Banner            =
// ===================================*/

// .page-banner{
// 	@extend .left-wide;
// 	height: 220px;
// 	background : {
// 		image : url(../images/misc/reg-banner.png);
// 		position: right;
// 		repeat: no-repeat;
// 		color: $Westar;                
// 	}

// 	.wrap{
// 		width: 100%;
// 		margin-right: auto;
// 		margin-left: auto;
// 		padding: 0 15px;
// 		width: 100%;
// 		max-width: 1000px;
// 	}

// 	img {
// 		max-width: 100%;
// 		margin: 48px 0 0;
// 	}
// }

// /*=====  End of Page Banner  ======*/



// /*================================================
// =            Dashboard Content Header            =
// ================================================*/

// .dashboard .content-header{
// 	margin-bottom: 40px;
// 	border-bottom: none;
// 	padding-bottom: 10px;
// }

// /*=====  End of Dashboard Content Header  ======*/



// /*======================================
// =            Dashboard Logo            =
// ======================================*/

// .dash-logo{
// 	float: left;
// 	height: 74px;
// 	line-height: 74px;
// }

// /*=====  End of Dashboard Logo  ======*/


// /*=============================================
// =            User Profile Dropdown            =
// =============================================*/

// .dashboard .user-profile-dropdown{
// 	float: right;
// 	text-align: right;
// 	color: $white;
// 	//margin: 20px 0 0;
// 	margin: 10px 10px 0 0;
// 	//border-left: 2px solid #cccccc;
// 	width: auto;
// 	height: 50px;
// 	position: relative;

// 	/* User Name */
// 	.user-name{
// 		@extend .left-wide;
// 		font-size: 14px;
// 		font-weight: 600;
// 		height: 50px;
// 		line-height: 50px;
// 		cursor: pointer;
// 		color: $primary_font_color;

// 		i{
// 			margin-left: 10px;
// 		}
// 		//margin-bottom: 5px;
// 	}

// 	/* Link */
// 	a.view-profile{
// 		@extend .left-wide;
// 		font-size: 11px;
// 		color: $white;
// 		text-decoration: none;
// 		&:hover{
// 			opacity: 0.8;
// 		}
// 	}

// 	.dropdown-content{
// 		display: block;
// 		position: absolute;
// 		top: 60px;
// 		background: #EAEAEA;
// 		z-index: 9990;
// 		right: -10px;
// 		width: 240px;

// 		ul {
// 			li {
// 				float: left;
// 				width: 100%;
// 				text-align: right;
// 				border-bottom: 1px solid #E0E0E0;
// 				a {
// 					float: left;
// 					width: 100%;
// 					text-align: right;
// 					color: #414042;
// 					padding: 10px 15px;
// 					font-size: 13px;
// 					&:hover{
// 						color: $red;
// 					}
// 				}
// 			}
// 		}
// 	}
// }

// /*=====  End of User Profile Dropdown  ======*/


// /*===========================================
// =            Navigation Dropdown            =
// ===========================================*/

// .dashboard .navigation-dropdown{
// 	float: right;
// 	position: relative;

// 	/* Toggle */
// 	.toggle{
// 		color: $primary_font_color;
// 		height: 74px;
// 		line-height: 74px;
// 		font-size: 19px;
// 		text-decoration: none;
// 		float: left;
// 		padding-right: 10px;

// 		&:hover{
// 			opacity: 0.8;
// 		}
// 	}

// 	/* Dropdown Content */
// 	.dropdown-content{
// 		display: block;
// 		position: absolute;
// 		top: 70px;
// 		background: #EAEAEA;
// 		z-index: 9990;
// 		right: 0;
// 		width: 275px;
// 		ul{
// 			@extend .left-wide;
// 			list-style: none;
// 			li{
// 				float: left;
// 				width: 50%;
// 				text-align: center;
// 				border-bottom: 1px solid #E2E2E2;

// 				a{
// 					@extend .left-wide;
// 					padding: 12px 15px;
// 					color: $black;
// 					cursor: pointer;

// 					> div{
// 						font-size: 13px;
// 						padding-bottom: 4px;
// 					}

// 				}

// 				&:nth-child(even) {
// 					border-right: 1px solid #E2E2E2;
// 				}
// 			}
// 		}
// 	}
// }

// /*=====  End of Navigation Dropdown  ======*/


// /*=========================================
// =            Dashboard Widgets            =
// =========================================*/

// .dashboard-widget{
// 	@extend .left-wide;
// 	margin-bottom: 25px;

// 	/* Widget Header */
// 	.widget-header{
// 		@extend .left-wide;
// 		color: $white;
// 		background: #414042;
// 		min-height: 60px;
// 		line-height: 60px;
// 		padding: 0 20px;
// 		font-size: 16px;
// 		font-weight: 600;

// 		&.bg-red{
// 			background-color: $red;
// 		}
// 		h4{
// 			margin-bottom: 20px;
// 		}
// 	}

// 	/* Widget Content */
// 	.widget-content{
// 		@extend .left-wide;
// 		padding: 0 25px 25px;
// 		background: #e8e8e8;

// 		p{
// 			a{
// 				text-decoration: underline;
// 				color: $primary_font_color !important;
// 			}
// 		}

// 		.highlight{
// 			@extend .left-wide;
// 			font-size: 16px;
// 			line-height: 50px;
// 			border-bottom: 1px solid #d6d6d6;
// 			label{
// 				font-weight: 600;
// 			}

// 			.strong{
// 				font-weight: 600;
// 			}

// 			.description{
// 				line-height: 25px;
// 				padding: 10px 0 10px;
// 			}
// 			.join{
// 				cursor: pointer;
// 			}
// 		}

// 		.img{
// 			@extend .left-wide;
// 			img{
// 				float: left;
// 				max-width: 100%;
// 				margin: 0 auto;
// 			}
// 		}

// 		.intro{
// 			margin-top: 25px;
// 			margin-bottom: 20px;
// 		}

// 		ul,ol{
// 			@extend .left-wide;
// 			padding: 0;
// 			margin: 0;
// 			list-style: none;

// 			li{
// 				@extend .left-wide;
// 				line-height: 25px;
// 				margin-bottom: 4px;
// 				a{
// 					@extend .left-wide;
// 					color: $black;
// 					text-decoration: none;
// 					&:before{
// 						color: $red;
// 						content: "\f105";
// 						font: normal normal normal 14px/1 FontAwesome;
// 						font-size: inherit;
// 						text-rendering: auto;
// 						-webkit-font-smoothing: antialiased;
// 						-moz-osx-font-smoothing: grayscale;
// 						//font-family: $fontawesome;
// 						float: left;
// 						//height: 23px;
// 						padding-top: 7px;
// 						font-weight: 600;
// 						width: 20px;
// 					}

// 					span{
// 						float: left;
// 						width: 90%;
// 						width: calc(100% - 20px);
// 					}

// 					&:hover{
// 						color: $red;
// 					}

// 					&.no-hover:hover{
// 						color: $black;
// 						cursor: default;
// 					}
// 				}
// 			}
// 		}
// 	}
// }

// /*=====  End of Dashboard Widgets  ======*/



// /*=======================================
// =            My Reservations            =
// =======================================*/

// #single-button{
// 	padding-left:15px;
// 	padding-right: 15px;

// 	.dp-caret{
// 		padding:0;
// 		line-height: 50px;
// 	}
// }

// .dashboard{
// 	.content-header{
// 		.back-btn{
// 			color: #333;
// 		}
// 	}

// 	.sidebar{
// 		padding-top: 20px;
// 	}

// 	.airwards-registration{
// 		.reg-content{
// 			clear: both;
// 			border-bottom: 1px solid #ededef;
// 		}
// 	}

// 	.my-reservations{
// 		@extend .left-wide;
		
// 		> h2{
// 			@extend .left-wide;
// 			color: $red;
// 			font-size: 16px;
// 			font-weight: 600;
// 			margin: 0 0 13px;
// 		}

// 		/* My Reservations Table */
// 		.my-reservations-table{
// 			@extend .left-wide;
// 			margin-bottom: 35px;

// 			.mrt-row{
// 				@extend .left-wide;
// 				border-bottom: 1px solid #ededef;
// 				cursor: pointer;

// 				&.mrt-heading{
// 					font-weight: 600;
// 					cursor: default;
// 					.col-1{
// 						&:first-child{
// 							padding-left: 0;
// 						}
// 						&:after{
// 							content: "";
// 							width: 1px;
// 							height: 80%;
// 							position: absolute;
// 							right: 0;
// 							top: 0;
// 							bottom: 0;
// 							margin: auto;
// 							background: #ededef;
// 						}
// 					}
// 				}

// 				.col{
// 					//float: left;
// 					padding: 20px 15px;
// 					position: relative;
// 					&.col-1{
// 						width: 20%;
// 						padding-left: 0;

// 						&:hover{
// 							label{
// 								cursor:pointer;
// 								color:$red;
// 							}
// 						}
// 					}
// 					&.col-2{
// 						width: 80%;
// 					}
// 				}

// 				.flight{
// 					@extend .left-wide;
// 					margin-bottom: 15px;
// 					cursor: pointer;
// 					&:last-child{
// 						margin-bottom: 0;
// 					}
// 					h5{
// 						@extend .left-wide;
// 						color: $red;
// 						font-weight: 600;
// 						margin-bottom: 10px;
// 						i{
// 							display: inline-block;
// 							margin-left: 5px;
// 						}
// 					}

// 					.departure-arrival{
// 						span{
// 							display: inline-block;
// 							font-size: 13px;
// 							&.departure{}
// 							&.arrival{}
// 							&.ico{
// 								margin: 0 10px;
// 							}
// 						}
// 					}

// 					&.confirmed{
// 						h5{
// 							i{
// 								color: #28cf1c;
// 							}
// 						}
// 					}

// 					&.hold{
// 						h5{
// 							i{
// 								color: #f6ce12;
// 							}
// 						}
// 					}

// 					&.canceled{
// 						h5{
// 							i{
// 								color: #ed0000;
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}

// 		// All Reservations
// 		.all-reservations{
// 			@extend .left-wide;
// 		}
// 	}
// }

// /*=====  End of My Reservations  ======*/

// .section-popup{
// 	.panelBody{
// 		position: static;
// 		top: 0px;
// 		padding-top: 10px;
// 		padding-bottom: 10px;

// 		.content{

// 			ul{
// 				label{
// 					color: #CACACA;
// 				}
// 			}
// 		}
// 	}
// }



// /*===================================================
// =            Dashboard Header Pagination            =
// ===================================================*/

// .pagination-wrap {
// 	padding: 0;
// 	.info {
// 		line-height: 54px;
// 	}
// 	.page-controllers {
// 		line-height: 54px;
// 		padding-left: 10px;
// 		margin: 10px 0 0;
// 		li {
// 			padding: 0 10px;
// 			height: 30px;
// 			line-height: 30px;
// 			border: 1px solid gray;
// 			margin: 0 3px;
// 			cursor: pointer;
// 			a {
// 				color: gray;
// 				font-weight: 600;
// 				line-height: 1;
// 				i {
// 					font-weight: 600;
// 				}
// 			}
// 			&:hover {
// 				background: #ccc;
// 				a {
// 					color: $black;
// 				}
// 			}
// 			&.disable {
// 				background: #E6E6E6;
// 				border-color: #ccc;
// 				&:hover {
// 					background: #E6E6E6;
// 					border-color: #ccc;
// 					a{
// 						color: gray;
// 					}
// 				}
// 			}
// 		}
// 	}
// }
// .thumb-block .options .price-block {
//     /* clear: both; */
//      font-size: 16px;
//     margin-bottom: 15px;
// }
// .thumb-block .options .price-block .price {
//     font-weight: 700;
// }

// /*=====  End of Dashboard Header Pagination  ======*/