@media only screen and (max-width: 767px){
    .baggage-sidebar{
        .sidebar-widget{
            .isa-radio-option-list-wrapper{
                .widget-header{
                    background-color:transparent !important;
                    padding:0 10px !important;
                }
            }
        }

    }
    .airport-transfer-sidebar{
        .sidebar-widget{
            .isa-radio-option-list-wrapper{
                .widget-header{
                    background-color:transparent !important;
                    padding:0 15px !important;
                }
            }
        }
    }
    .extra-service-sidebar{
        .sidebar-widget{
            .isa-radio-option-list-wrapper{
                .widget-header{
                    padding:0 10px !important;
                }
            }
        }
    }
    .sidebar-widget{
        .isa-radio-option-list-wrapper{
            .widget-header{
                background-color:transparent !important;
                padding:0 0px !important;

                .right{
                    color: $primery_color;
                    font-size:1.8rem;

                    i:not(.currency){
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .seat-selection {
        .left-section .data-block{
            ul{
                border-left: none !important;
                border-right: none !important;
            }
        }
        min-height: auto !important;
        .checkbox-circle{
            >label >i{
                padding-right: 30px !important;
            }
        }

        .right-section{
            padding-left:10px !important;
            padding-right:10px !important;	
        }
    }


    #aircraft-modal-map{
        left:0;
        background-color: #ffffff;
        height: -webkit-fill-available !important;
        position: fixed;
        top: 0;
        z-index: 9999;
        overflow-y: scroll;
        overflow-x: hidden;
        .map-heading{
            line-height:40px;
            .map-heading-title{
                font-size: 1.6rem;
                font-weight: bold;
                padding-left: 10px !important;
            }
            .icon-close{
                /*float: right;*/
                padding-right: 10px;
                top: 12px;
                position: relative;    
            }
        }
        .passenger-info{
            line-height: 25px;
            border-bottom:1px solid;
            padding: 10px 0 !important;
            .name{
                font-size: 1.4rem;
                font-weight: 600;
                padding-left: 10px !important;
            }
            .seat-info{
                padding-right: 10px !important;
                span{
                    float:right;
                }
            }
            .seat-number{
                font-size: 2.4rem !important;
                /*                float: left !important;
                                margin-top: -27px !important;
                                margin-right: 10px !important; 
                Commenting because dessign isn't matching' */
            }
            .status{
                font-size: 1.2rem;
                font-weight: bold;
                color: $primery_color;

                text-align: right;
                display: block;
                width: 100%;
            }
        }

        .seatmap-legend{
            margin-top:10px;

            .col-xs-4:not(:first-child):not(:last-child){
                padding-left: 5px !important;
                padding-right: 5px !important;
            }

            .col-xs-4:first-child{
                padding-left: 10px !important;
                padding-right: 5px !important;
            }

            .col-xs-4:last-child{
                padding-left: 5px !important;
                padding-right: 10px !important;
                text-align: right;
            }
            .available-seat-icon{
                background-image:url(../images/plane/default-seat.svg)
            }

            .occupied-seat-icon{
                background-image:url(../images/plane/disabled-seat.svg)
            }

            .selected-seat-icon{
                background-image:url(../images/plane/selected-seat.svg) 
            }

            .previous-seat-icon{
                background-image:url(../images/plane/previous-seat.svg)
            }
            .xs-seatlegend-text{
                line-height: 16px;
                vertical-align: top;
                font-size: 1rem;
                width: 72%;
                display: inline-block;
                /*padding: 0 !important;*/
                text-align: left;
            }
            i{
                height: 22px;
            }
        }
        .btn-continu-bottom{
            margin-bottom: 20px !important;
            margin-top: 10px !important;
        }
    }
    .xs-seatlegend-text{
        padding : 0 15px 0 0 !important;
    }

    .seat-page-title span{
        width: 100% !important;
        max-width: 100% !important;
        text-align: left;

    }

    .seat-selection{
        .row{
            margin-left: -10px !important;
            margin-right: -10px !important;

            .left-section .data-block .heading-title{
                font-size: 1.2rem !important;;
                text-align: left !important;
                padding-left: 10px;
            }

            .left-section {
                .data-block ul {
                    li:after,li.active:after{

                        border: none !important;

                    }
                    li, li.active{
                        label{
                            i{
                                padding-right: 0px !important;
                            }
                        }
                    }
                    li{
                        border-bottom: 1px solid;

                        line-height: 50px;

                        .checkbox-circle [type="checkbox"]:checked + label:before, .checkbox-circle [type="checkbox"]:not(:checked) + label:before{
                            content: '' !important;
                            padding:0 !important;
                        }
                        .checkbox-circle{
                            width: 100%;
                            //padding-left: 10px !important;
                            //padding-right: 10px;

                            label{
                                padding: 0;
                                width: 100%;

                                span{
                                    font-weight: normal !important;
                                }

                                span.action-span{
                                    font-weight: bold;
                                }
                            }
                        }

                        a{
                            span{
                                color: $primery_color !important;
                                margin-left: 15px !important;
                            }
                        }
                    }
                    li:last-child{
                        border-bottom: none !important;
                    }
                }
            }
        }
    }


    .LTR .content-wrapper.extras-container{

        margin-top: 0 !important;
    }

    .skip-section{
        max-width: 50%;
        float: right;
        top: 75px;
        z-index: 9999;
        line-height: 14px;
        position: fixed;
        right: 0;

        .skip-link{
            font-size: 1rem;
            color: $black;
            text-decoration: underline;
            vertical-align: middle;
            display: block;
        }
    }
    .seatmap-optionlist{
        .isa-radio-option-list-wrapper {
            .widget-header{
                padding-left: 10px !important;
                padding-right: 10px !important;
            }
        }
    }
    .RTL .seat-selection .row .left-section .data-block ul li a span{
        margin-left: 0 !important;
    }
    .RTL #aircraft-modal-map .seatmap-legend .xs-seatlegend-text{
        padding-right: 5px !important;
        padding-left: 10px !important;
        text-align: right !important;
    }
    .seat-selection .xs-margin-seats{
		margin-left: 0 !important;
		margin-right:0 !important;
	}
	.LTR .seat-selection .left-section{
		padding-left: 0 !important;
	}
	.LTR .select-seats{
		padding-right: 0 !important;
	}
	.RTL .seat-selection .left-section{
		padding-right: 0 !important;
	}
	.RTL .select-seats{
		padding-left: 0 !important;
	}
}
.sub-title h2 {
    span:last-child > span {
        position: relative;
        top: 5px !important;
    }
    i {
        min-width: 40px !important;
    }

}
@media only screen and (min-width: 768px) and (max-width:990px){
    .plane-body{
        .seat{
            //margin-left:1px;
            margin-right:1px;
        }
    }
}

@media only screen and (max-width: 800px) {
    .seat-map-legend {
        width: 73% !important;
        h3 {
            font-size: 1.4rem !important;
        }
    }
    .widget-content {
        .sub-section span {
            font-size: 1.1rem !important;
        }
        .radio label {
            font-size: 1.3rem !important;
        }
    }
    .sub-title p i {
        min-width: 30px !important;
    }
    .widget-header span {
        font-size: 1.6rem !important;
    }
}

@media only screen and (max-width: 500px) {
    .sub-title {
        a {
            /*width: 100% !important;*/
        }
        p {
            text-align:center !important;
            overflow: hidden;
            text-overflow: ellipsis;
            span {
                font-weight: 700 !important;
            }
        }
    }
    .flight-name {
        text-align: center !important;
    }
    .seat-map-legend {
        width: 96% !important;
        margin-left: 6px !important;
        margin-right: 2px !important;
        text-align: center !important;

        height: 115px;
        margin-top: 16px !important;
        ul{

            margin-top: 0 !important;
            li span{
                margin-left: 0 !important;
                left:16%;
            }
        }
    }
    /*.available-seat-icon {
      background-image: url('../images/plane/default-seat.svg');
    }
    .occupied-seat-icon {
      background-image: url('../images/plane/disabled-seat.svg');
    }
    .selected-seat-icon {
      background-image: url('../images/plane/selected-seat.svg');
    }
    .previous-seat-icon {
      background-image: url('../images/plane/previous-seat.svg');
    }*/
    .seat-icon {
        width: 19px;
        height: 28px;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .seat-map-legend {
        h3 {
            font-size: 1.4rem !important;
            padding-bottom: 15px !important;
        }
        span{
            display: block;
            font-size: 1.2rem !important;   	 
        }
    }
    .col-numbers {
        font-size: 0.1rem !important;
    }
    .plane-body span {
        margin: 1px !important;
    }
    .sidebar {
        padding-left: 0 !important;
        padding-right: 0 !important;
        font-size: 1.2rem !important;
    }
    .widget-header span {
        font-size: 1.6rem !important;
    }
    .heading-title {
        font-weight: 600;
        text-align: center !important;
    }

    .plane-map{
        float:none !important;
        margin:0 auto !important;
        left:0 !Important;
    }
    .tooltip{
        z-index: 999 !important;
    }
    .goto-sector{
        position: relative;
        text-align: center; 
        float: none; 
        top: 3px;
        left: -8px;
        font-size:1.2rem !important;
    }
    .fa-goto-sector{
        text-align: center;
        float: none;
    }
    .RTL{
        .action-span{
            padding-right: 10px;
        }
        .seat-selection {
            .checkbox-circle{
                >label >i{
                    padding-right: 0px !important;
                }
            }
        }
    }

    .LTR{
        .action-span{
            padding-left: 10px;
        }
    }
    .LTR,.RTL{
        .dir-exc{
            direction: rtl !important;
        }
    }
}
/*for scrolling issue in iphone
 iPhone < 5: 
@media screen and (device-aspect-ratio: 2/3) {
    #aircraft-modal-map .btn-continu-bottom{
        margin-bottom: 30px !important;
    }
}
 
 iPhone 5, 5C, 5S, iPod Touch 5g 
@media screen and (device-aspect-ratio: 40/71) {
    #aircraft-modal-map .btn-continu-bottom{
        margin-bottom: 30px !important;
    }
}
 
 iPhone 6, iPhone 6s, iPhone 7 portrait/landscape 
@media screen and (device-aspect-ratio: 375/667) {
    #aircraft-modal-map .btn-continu-bottom{
        margin-bottom: 30px !important;
    }
}
 
 iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape 
@media screen and (device-aspect-ratio: 9/16) {
    #aircraft-modal-map .btn-continu-bottom{
        margin-bottom: 30px !important;
    }
}*/
