.btn_confirm_selection {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

@media only screen and (max-width: 767px) {
	.xs-meal-form{	
		width: 100% !important;
	}
    .xs-meal-btn{
        width: 84px !important;
        min-width: 0 !important;
        max-width: 84px !important;
        margin-top: -10px;
    }
    .seat-slider-section{
        margin-left: -10px;
        margin-right: -10px;
        .selected-cat {
            margin-top: 3px;
            margin-bottom:0 !important;
            .row{
                margin: 0 !important;   
            }   
        }

        .meal-slider{
            margin: 0 !important;
            span.cat-button{
                padding-left: 10px !important;
                padding-right: 10px !important;
                /*text-align: left !important;*/
                margin-bottom: 2px;
            }

            .xs-meal-block{
                .meal-block{
                    margin-top: 15px !important;
                    margin-bottom: 0 !important;
                    padding-bottom: 0 !important;
                    >.row{
                        .col-xs-3{
                            padding:0 !important;
                        }
                        .col-xs-9{
                            padding-right: 0 !important;
                        }
                    }
                }
                h2.meal-heading{
                    padding-left: 0;
                    font-size: 1.4rem !important;
                    font-weight: bold;
                }

                p.xs-options-descrption{
                    font-size:1.2rem;
                    margin: 0 !important;

                    font-weight: normal;
                }
                .cat-button{
                    &.check-btn:before{
                        display: none;
                    }
                    max-width: 100vw;
                    width:100% !important;
                }
                i.fa,span.cat-button{ 
                    display: inline-block;
                }
                i.fa{
                    margin-left:0 !important;
                    margin-right: 15px;
                }

                .mealcost-section{
                    display: inline-block;
                    text-align: left;
                    width:30%;
                    .price-block{
                        padding-left: 0 !important;
                        padding-right: 0 !important;
                        background: transparent !important;
                        font-size:1.2rem;
                        .currency{
                            font-weight:normal;    
                        }
                        .price{
                            font-weight: bold;
                        }
                    }
                }
                .option-section{
                    display: inline-block;
                    width: auto !important;
                    vertical-align: top;
                    button{
                        height:30px !important;      
                        color: $primery_color;;
                        background: transparent !important;
                        // padding-right:0 !important;replaced this with below code
                        width: auto !important;
                        /*text-align:right !important;*/
                        padding-right:0 !important;

                        span{
                            color: $red !important;
                            font-size:1.2rem !important;
                            //padding: 0;
                            line-height: 15px;
                            background: transparent !important; 
                            padding-left: 0 !important;
                            padding-right: 10px !important;
                            width: auto !important;                         
                        }
                        .meal-select-done{
                            padding: 14px !important;
                        }
                    }
                }

                .meals-qty-dropdown {
                    display:table !important;
                    //margin-top: -2px;
                    position: relative !important;
                    //margin-right: 15px;
                    width: 100% !important;
                    min-height: 50px !important;
                    ul {
                        width: 100%;
                        margin-bottom: 0 !important;
                        padding:0 !important;
                        li {
                            border-bottom: 2px solid !important;
                            min-height:50px !important;
                            padding-left: 10px !important;
                            padding-right: 10px !important;
                            list-style: none;

                            >span{
                                vertical-align: middle;
                                margin-top: 17px !important;
                                margin-bottom: 15px !important;

                                padding: 0 !important;
                                //background-color: $bg_primary_color;
                                width:65% !important;
                                display:block;
                                >label{
                                    // background-color: $bg_primary_color;
                                    /*text-align:left !important;*/
                                    font-size: 1.2rem;
                                    color:$black;
                                    margin-top: -10px;
                                }
                            }
                            >form{

                                text-align: right;
                                display:inline-block;
                                //position:relative;
                                position:absolute;
                                width: 35%;
                                margin-top: 5px !important;
                                //line-height:50px;
                                >a:first-child{
                                    text-align: left;
                                    padding-left: 8px;
                                    vertical-align: 1px !important;
                                }
                                >a:nth-child(3){
                                    padding-right: 7px;
                                    vertical-align: 1px !important;
                                }
                                a > i{
                                    margin: 0 !important;
                                    color:#344252;
                                    text-align: center;

                                }

                                input{
                                    line-height: 25px;
                                    height: 25px;
                                    border: 1px solid #bbbbbb !important;
                                    background-color: #ffffff !important;

                                    width: 45px !important;
                                    text-align: center;
                                    width: 20%;
                                }
                                //right:-15px;	
                            }
                        }
                        li:last-child{
                            border-bottom: none !important;
                        }
                    }
                }
            }
        }
    }
    .RTL{
        .seat-slider-section{
            .meal-slider{
                .xs-meal-block{
                    .option-section{
                        button{
                            span{
                                padding-left: 15px !important;
                            }
                        }
                    }
                    .meal-block{
                        margin-top: 10px;
                        >.row{
                            .col-xs-9{
                                padding-right: 15px !important;
                                padding-left: 0px;
                            }
                        }
                    }
                }
                .option-section{
                    button{
                        padding-left:0px !important;
                    }
                }
                .meals-qty-dropdown {
                    ul {
                        margin-left: 0px;
                        li {
                            padding-left: 0px;
                        }
                    }
                }
            }
        }
    }
    .xs-fadown-icon{
        disply:none;
    }

    .selected-cat .xs-cat-button {
        background: none !important;
    }

    .xs-gotoi, .xs-gotospan {
        float: none !important;
    }
    .xs-footer-goto {
        text-align: center !important;
        a {
            float: none !important;
        }
    }

    .xssm-selectmeal-type {
        margin-top: 3px !important;
    }

    .xs-btngroup {
        font-size: 1rem;
    }

    .xs-searchtxt {
        font-size: 1.4rem;
    }

    .xs-pagination-icons {
        float: none !important;
    }

    .xs-pagination-wrapper {
        text-align: center;
    }

    .xs-meal-options-button {
        position: relative !important;
        text-align: center !important;
    }

    .meal-block{
        border-bottom:1px solid #e4e4e4 !important;
        margin-bottom:15px !important;

        .xs-options-meals{
            float: none !important;
            min-height:45px !important;
        }	
        .meals-qty-dropdown{

        } 		
    }

    .xs-mealcost {
        text-align: left;
    }


    .xs-selectall-row {
        margin-left: -15px !important;
        margin-right: -15px !important;
    }

    .xs-select-inputgrp-child {
        width: 15% !important;
        min-width: 0 !important;
    }

    .xs-select-inputgrp-main {
        width: 85% !important;
    }

    .meal-page-title span, .meal-page-sub-title {
        max-width: 100% !important;
        width: 100% !important;
        text-align: center;
    }
    .meal-page-title span {
        font-size: 1.6rem !important;
        padding-left: 11%;
    }
    .meal-page-sub-title {
        margin-top: 10px;
        font-size: 1.1rem !important;
    }

    .meal-page-title {
        span{
            font-size: 1.8rem !important;
            text-align: left;
        }
        p.meal-msg{
            font-size: 1.2rem;
            font-weight: 600;
            text-align: left;
            line-height: 25px;
            color: $black;
        }

    }
    /*    .RTL{
            .seat-slider-section .meal-slider .xs-meal-block i.fa {
                margin-left: 15px !important;
                margin-right: 0px !important;
            }
        }*/
}

@media only screen and (min-device-width: 768px) and (max-device-width: 835px) {
    .LTR .sidebar-widget .widget-content .w-section .radio-section .item .sub-section ul li {
        font-size: 11px;
    }
    .meal-sidebar span {
        font-size: 13px !important;
    }
    .xs-fadown-icon{
        margin-left: 1px !important;
    }
 
    

}


@media screen  and (min-width: 1700px) and (max-width: 1813px){ 
	.LTR .selected-cat span{
		font-size: 14px;
	}
	.RTL .selected-cat span{
		font-size: 14px !important;
	}
}

@media screen  and (min-width: 1600px) and (max-width: 1699px){ 
	.LTR .selected-cat span{
		font-size: 14px;
	}
	.RTL .selected-cat span{
		font-size: 14px !important;
	}
}
