.text-right{
    text-align : right;
}
@media only screen and (max-width: 767px) {
    .xs-modify-actions > div > a{
        margin-top : -5px !important;
    }
    .xs-modify-actions-extras{	
        margin-bottom: 25px !important;
    }
    .pd-lr-0{
        padding-left : 0 !important;
        padding-right : 0 !important;
    }		
    .LTR .services-selection .xs-right-section{
        margin-left : 0 !important;
    }
    .LTR .services-selection .left-section{
        margin-left : -15px !important;
        ul {
            width : 110% !important;
        }
    }
    .extras-page-title h1 span{
        width : 100% !important;
        max-width : 100% !important;
    }	
    .extras-page-title span, .extras-page-sub-title {
        max-width: 100% !important;
        width: 100% !important;
        //text-align: center;
    }
    .extras-page-title span {
        font-size: 1.6rem !important;
        /*padding-left: 11%;*/
    }
    .extras-page-title {
        > h1 {

            > span {
                font-size: 1.8rem !important;
            }

        }
    }

    /*    .extras-page-sub-title{
            margin-top : 10px;
        }*/
    .sub-title {
        a {

        }
        h2 {
            span:last-child > span {
                position: relative;
                top: 5px !important;
            }
        }
        > span ,label,i{
            font-size:1.3rem !important;
        }
        > p {
            >span{
                font-size:1.8rem !important;	
            }
        }
    }
    .sidebar {
        padding-left: 0 !important;
        padding-right: 0 !important;
        font-size: 1.2rem !important;
    }
    /*    .meal-sidebar{
    
            width:100vw !important;
            margin-left: -10px !important;
        }*/
    .widget-header span {
        font-size: 1.8rem !important;
    }
    .heading-title {
        font-weight: 600;
        text-align: center !important;
    }
    .xs-baggage-edit .weight {
        font-size : 1.5rem !important;	
    }
    .options-section .ico {
        font-size : 1.6rem !important;
    }
    .xsflight-info-scroll{
        padding-left : 15px !important;
    }
    .paxList-up{
        /*border-bottom: 1px solid lightgray !important;*/
        border-left: none !important;
        border-right: none !important;
        padding-top: 5px !important;
        width: 100vw !important;
        margin-left: -10px !important;
    }
    .paxList{
        .panel-default > .panel-heading + .panel-collapse .panel-body{
            padding: 0 !important;
            border-top: none !important;
        }
        .panel-group .panel .panel-heading{
            padding: 0 !important;
            margin-left: 10px !important;
            margin-right: 10px !important;
            color: black !important;
            height: 40px !important;
            border-color: transparent !important;
            background-color: transparent !important;
            >h4{
                >a{
                    >span{
                        >div{
                            font-size: 1.2rem !important;
                            >i{
                                font-size: 1.4rem !important;
                                //padding-left: 3px !important;
                            }
                            >label{
                                padding-left: 17px !important;
                            }

                        }
                    }
                }
            }
        }
    }
    .LTR .paxList .panel-group .panel .panel-heading > h4 > a > span > div > i{
        padding-left: 3px !important;
    }



    .available-services{
        margin: 5px 0 0 -10px !important;
        padding-bottom: 0 !important;
        width: 100vw !important;
        margin-left: -10px !important;
        >h2{
            padding-left: 40px !important;
            font-size: 1.2rem !important;
            font-weight: bold !important;
            margin-bottom: 10px !important;
        }
        >ul{
            >li{
                margin-bottom: 2px !important;
                padding: 10px !important;
                .check{
                    position: absolute !important;
                    color: $malachit;
                }
                line-height: 24px !important;
                font-size: 1.4rem !important;
                .price{
                    font-size: 1.2rem !important;
                    width: 20% !important;
                    margin-top: 3px !important;
                    //text-align: center !important;
                    //margin-left: -10px !important;
                }
                .addRemoveToggle{
                    font-size: 1.2rem !important;
                    font-weight: 600 !important;
                    margin-top: 3px !important;
                    max-width: 15% !important;
                }
                .data{
                    padding-left: 29px !important;
                    width: 65% !important;
                    >div{
                        >h4{
                            font-size: 1.4rem !important;
                            max-width: 100% !important;
                            width: 100% !important;
                            overflow: hidden !important;
                            max-height: 25px !important;
                            >span:first-child{
                                font-size: 1.6rem !important;   
                            }
                        }
                        >span{
                            font-size: 1.2rem !important;
                            line-height: 1 !important;
                        }
                    }
                }
            }
        }
    }
    .addRemoveToggle{
        color: $site_primary_color !important;
        font-weight: bold !important;
    }
    .xs-airporttransfer-form{
        .addRemoveToggle{
            color: $site_primary_color !important;
            font-weight: bold !important;
            margin-left:-15px;
            top:-28px !important;
        }   
        .ml-0{
            margin-left: 0 !important;
        }
        .padding-left-37{
            padding-left:37px !important;  
        }
        .padding-right-30{
            padding-right:30px !important;
        }
        .ibe-date-picker ul.dropdown-menu{
            width:100% !important;
        }
    }

    .RTL {
        .paxList-up{
            margin-left: 0px !important;
            margin-right: 0px;
            width: 100% !important;
        }
        .paxList{
            .panel-group .panel .panel-heading{
                >h4{
                    >a{
                        >span{
                            >div{
                                >label{
                                    padding-left: 0px !important;
                                    padding-right: 17px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .available-services{
            margin: 0 !important;
            padding-bottom: 0 !important;
            width: 100% !important;
            >h2{
                padding-right: 30px !important;
                padding-left:  unset !important;
            }
            >ul{
                >li{
                    .data{
                        padding-left: unset !important;
                        padding-right: 30px !important;
                    }
                    .price{
                        padding-left: 10px !important;
                        padding-right: 0 !important;
                    }
                }
            }
        }
        .extra-service-addon{
            .paxList{
                .panel-group .panel .panel-heading{
                    margin: 0px !important;
                }            
            }
        }
    }
}
@media only screen and (max-width: 320px) {
    .sub-title {
        > p {
            >span{
                font-size:1.5rem !important;	
            }
        }
    }
}
