.LTR{
  @import "family_ltr";
}

.RTL{
  @import "family_rtl";
}
.family-container{
	.glyphicon-plus{
		cursor: pointer;
		right: 10px;
		top: -3px;

	}
}
.familyform{
	.ibe-drop-down{
		li{
			a{
				padding-left: 10px;
			}
		}
	}
}
.family-table{
	.glyphicon-edit,
	.glyphicon-trash{
		cursor: pointer;
	}
}
.family-heading-2 {
  font-size: 14px;
}

#nationalityInContact .nationality-class-familymember{
	.ibe-typeahead{
		margin-bottom: 0 !important;
	}
	ul{
		max-height: 200px !important;
	}
}
.ma-bt-100{
	margin-bottom: 100px !important;
}
#familyForm {
	.title{
			float: none;
	}
	#airewards-dob {
		background-color : #fafafa !important;
	}
	#title, #relationship {
		font-weight: normal;
		font-size: 16px;
	}
}
.modal-box{
	.overlay {
   		background: #000000 !important;
	}
	.modal-content.family-delete-modal{
		max-width: 370px;
		min-height: 200px;
		padding: 40px 20px 0px 20px;
	}
}
.modal-footer .cancel-btn {
	background : $black !important;
	color: $white;
}

form.ng-submitted{
		.relationship-border.ng-invalid{
				button{
					border: 1px solid $red ;
			}
		}
}
@media only screen and (max-width: 767px) {
.detailfont-row {
	font-weight: 600;
}

.modal-box .modal-content .modal-body{
	#nationalityInContactmob ul li:before {
    	height: auto;
    	margin: auto;
	}
}
#familyForm {
	.modal-box {
		overflow-y: auto;
	}
	.modal-box .modal-content.family-modal {
	    top: 10%;
    	max-width: 700px;
	    min-width: 90%;
    	max-height: 500px;
		padding: 40px 0px;
		overflow-y: auto;
		.delete-btn{
			font-size: 20px;
		}
	}
	.modal-box .modal-content .modal-body ul li:before {
		background: none;
	}
	#title, #firstName, #lastName, #relationship, #nationality,
	#title-dropdown, #relationship-dropdown, .dob-family .pas-frm-datePicker{
  		width: 100% !important;
	}

}
}