.family-heading{

	padding-top: 25px;
	color : $red;
	padding-bottom: 35px;
	font-weight:bold;
}
.family-heading-2{
	padding-bottom:30px;
    line-height: 1.4;
}
.family-heading-3{
	padding-bottom: 35px;
	font-weight:bold;
}
.valdr-message.dob {
    font-size: 13px;
}
.family-table{
	margin-top: 15px;
	th{
		text-align: right;
	}
    th:nth-child(1), td:nth-child(1) {
		width: 100px;
      	vertical-align: middle;
    }
    th:nth-child(2), td:nth-child(2){
		width: 155px;
      vertical-align: middle;
    }
    th:nth-child(3), td:nth-child(3) {
		width: 142px;;
      vertical-align: middle;
    }
    th:nth-child(4), td:nth-child(4) {
		width: 127px;
      vertical-align: middle;
    }
    th:nth-child(5), td:nth-child(5) {
		width: 180px;
      vertical-align: middle;
    }
    th:nth-child(6), td:nth-child(6) {
		width: 108px;
      vertical-align: middle;
    }
    th:nth-child(7), td:nth-child(7) {
      min-width: 51px;
	  text-align: center;
    }
    th:nth-child(8), td:nth-child(8) {
	  text-align: center;
    }
}
.alignFamily {
	 margin-left: 0px;
     margin-right: 0px;
	.col-md-2 {
		padding: 0 5px;
		width:auto;
		&:first-child{
			padding-left:0;
		}
		&:last-child{
			padding-right:0;
		}
		label{
			margin-bottom: 6px;
		}
		.valdr-message{
			font-size:13px;
		}
		.dp-caption{
			width: 80%;
   			font-size: 14px;
    		color: $gray-1;
    		font-weight: 400;
    		padding-left: 15px;
		}
		.dropCorner{
			position: relative;
			span.fa.fa-angle-down{
				position: absolute;
			    top: 13px;
			    right: 12px;
			    font-size: 28px;
			    cursor: pointer;
			}
		}
		.pas-frm-datePicker{
		    border: gray 1px solid;
			input[name="dob"]{
				border: none !important;
				height: 48px !important;
				background-color: #fafafa !important;
				&:focus, &:focus:focus{
					 border: none;
				}
				+ button{
					border: none !important;
					height: 48px;
				}
			} 
			&.dob-invalid{
				border-color: $red;
			}
		}
		button.button.red-btn {
		    background-color: $white;
		    color: $red;
		    height: 49px;
		    margin-top: 6px;
		    border: 1px solid $red;
		    line-height: 49px;
		    &:hover{
		    	background-color: $red;
    			color: $white;
		    }
		}
	}
}

form.ng-submitted{
		.relationship-border.ng-invalid{
				button{
					border: 1px solid $red;
			}
		}
} 


.dob-family{
	margin-bottom: 0 !important;
}
.relationship-border #title {
	float: right;
	width: 93px;
  }
#familyForm {
	#firstName, #lastName {
				width: 140.2px;
		}
		.relationship-border #relationship {
				width: 117.7px;
		}
		.nationality-class-familymember #nationality{
				width: 165px;
		}
		#button-element{
				width: 134.5px;
		}
		.dob-family .pas-frm-datePicker{
				width: 115.6px;
		}
		#title-dropdown{
			min-width: 93px;
		}
		#relationship-dropdown{
				min-width: 117.7px;
		}
	.ibe-drop-down{
		.dp-caption{
			position: absolute;
			top: 0;
			width: auto;
			padding: 0 15px 0 10px;
			line-height: 50px;
			color: $black;
			font-weight: 400;
			font-size: 14px;
		}
		.fa-angle-down{
			position: absolute;
			top: 0;
			left: 20px;
			line-height: 50px;
		}
	}
}