
.find-reservation{
    margin: 0 auto;
    padding-top: 60px;
    min-height: 700px;

    .onhold-error{
        margin-left: 0px;
        margin-bottom: 15px;
    }

    .description{
        margin-bottom: 20px;
    }

    .content-body{
        padding-top: 25px;
    }

    .inside-content{

        .content-header{
            margin-bottom: 10px;
            margin-left: 15px;
        }
    }

    .form-footer{
        margin-top: 0px;
        padding: 2px 0 10px;
    }

    label {
        padding-bottom: 5px;
    }

    button.button.red-btn {
        width: 50%;
        clear: both;
    }

}
