header{
    background-color: $light_gray;
    font-size: 14px;
    position: relative;
    height: auto !important;
    overflow: visible;
    @media print{
        display: none !important;
    }

    .dashboard{
        &.modify-search{
            ul{
                li{
                    float: none;

                    a{
                        float: none;
                    }

                    &.active{
                        a{
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            list-style: none;
            float: left;

            &.current a{
                i{
                    color:white;
                }
                span{
                    color:white;
                }
            }

            a:active{
                color:red;
            }

            &.completed:hover{
                cursor: pointer;
                background-color: $gray-7;

                a:hover{
                    cursor: pointer;
                }
            }

            &.current a{
                i{
                    color:$white;
                }
                span{
                    color:$white;
                }
            }

            a:active{
                color:$red;
            }

            a, a:hover, a:visited, a:focus{
                color: $gray;
                text-decoration: none;
                font-weight: 500;
                float: right;
                cursor: default;
                i{
                    border-color: $white;
                }

                i::before{
                    font-size: 20px;
                    float: right;
                    margin-left: 7px;
                }

                span{
                    float: left;
                    font-size: 14px;
                }
            }

            &.pending{
                i,a{
/*                    color: $gray;
                    border-color: $gray;*/
                }
            }
        }
        li.logo{
            width: 26%;
            float: right;
            background-color: blue;
            position:relative;
            padding-bottom:16px;
            padding-left: 51px;
            padding-right: 0px;
            &:before{
                content:"";
                position:absolute;
                top:0;
                bottom:0;
                left:0;
                right: -9999px;
                background-color: $site_primary_color;
            }

            a{
                position:relative;
                z-index:1;
                text-align: center;
                float: right;
            }
        }

         @media only screen and (min-width : 768px)  {
            li.current{
              background-color: $secondery_color;
            }
        }
    
        @media only screen and (max-width : 767px)  {
            li.current {
                background-color: #fff !important;
                width: 100%;
            }
        }
    }
    .progress-step{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $site_back_color;
        height: 5px;
        .bar-animator{
            display:none;
            background-color: $site_primary_color_dark;
            position: absolute;
            top:0;
            left: 0;
            width:0;
            bottom: 0;
        }
    }

    ul {
        li {
            &.current{
                a i.number{
                    border-color: $white;
                }
            }
            a i.number{
                float: right;
                border: 2px solid;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                text-align: center;
                line-height: 16px;
                font-size: 12px;
                font-weight: 600;
                margin-left: 7px;
            }
        }
    }
}
