/*==================================
=            Meal Block            =
==================================*/

.meal-block {
  @extend .left-wide;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted rgba(78, 78, 78, 0.2);

  // Image
  .image {
    float: left;
    height: 110px;
    background: {
      size: contain;
      repeat: no-repeat;
      position: center;
      color: $white;
    }
  }

  // Data
  .data {
    float: left;
    // Title
    .title {
      @extend .left-wide;
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      margin-bottom: 10px;
      margin-top: 3px;
      .note {
        color: $red;
        font-size: 13px;
        font-weight: 400;
      }
    }

    // Description
    .description {
      @extend .left-wide;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      margin-bottom: 15px;
      word-wrap: break-word;
    }

    // More Details
    .more {
      @extend .left-wide;
      span {
        float: left;
        margin-right: 10px;
        font-size: 16px;
        font-weight: 600;
        color: $mountain_mist;
      }
      .ico {
        float: left;
        font-size: 16px;
        color: #6bad6f;
      }
    }
  }

  // Options
  .options {
    float: left;
    text-align: right;
    padding: 0;
    min-height: 100px;
    position: relative;

    // Price Block
    .price-block {
      @extend .left-wide;
      clear: both;
      font-size: 16px;
      margin-bottom: 15px;
      .currency {
      }
      .price {
        font-weight: 600;
      }
      .red {
        color: $primery_color;
        font-weight: 600;
        text-transform: uppercase;
      }
    }

    // Action
    button {
      @extend .right-wide;
      font-weight: 500;
      font-size: 14px;
      padding: 0 10px 0 2px;
      height: 40px;
      line-height: 35px;
      text-align: left;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      i {
        width: 38px;
        float: right;
        height: 100%;
        line-height: 35px;
        padding: 2px 10px;
        margin: 0;
        top: 0;
        right: 0;
        position: absolute;
      }
      &.gray-btn{
        &:hover,
        &:focus,
        &.active {
          i {
            background: {
              color: $primery_color;
            }
          }
        }
        &.items-added{
          &:hover, &:focus, &.active {
            background-color: $primery_color;
            color: $white;
          }
        }
      }
      &.red-button{
        &:hover,
        &:focus,
        &.active {
          i {
            background: {
              color: $primery_color - 20;
            }
          }
        }
        &.items-added{
          &:hover, &:focus, &.active {
            background-color: $primery_color;
            color: $white;
          }
        }
      }
      
	.meal-select-caption {
            padding-left: 10px;
	}
    }

    // Dropdown Content
    .dropdown-content {
      position: absolute;
      right: 0;
      width: 100%;
      width: 355px;
      background-color: $gray;
      min-height: 20px;
      top: 100%;
      z-index: 99;
      color: $white;

      ul, ol {
        @extend .right-wide;
         /* Handle */
         &.activeScroll{
          height: 220px;
          &::-webkit-scrollbar{
            width: 10px;
            background-color: #F5F5F5;
          }
  
          /* Track */
          &::-webkit-scrollbar-track{
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
          }
          /* Handle */
          &::-webkit-scrollbar-thumb
          {
            border-radius: 10px;
            background-color: rgb(255, 0, 0);
          }  
        }
      
        overflow: auto;
        height: auto;
        list-style: none;
        margin: 0;
        padding: 0 15px;
        li {
          @extend .right-wide;
          border-bottom: 1px solid #545355;
          padding: 12px 0;
          background-color: $gray !important;
          cursor: pointer;
          .check {
            width: auto;
            float: left;
            label {
              height: 30px;
              width: 100%;
              line-height: 30px;
              cursor: pointer;
              &:before {
                line-height: 30px;
              }
            }
          }
          form {
            float: right;
            min-width: 100px;
            button,
            a {
              padding: 0 10px;
              margin: 0;
              border: 0;
              background: transparent;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              color: $white !important;
              float: left;
              text-align: center;
              height: 30px;
              line-height: 30px;
              font-size: 18px;
              &:hover, &:focus, &.active {
                color: $primery_color;
              }
            }
            input[type=text] {
              float: left;
              width: 50px;
              margin: 0;
              height: 30px;
              line-height: 30px;
              color: $black;
              font-weight: 600;
              outline: none;
              text-align: center;
              border: none;
            }
            input[type=number] {
              -moz-appearance:textfield;
              float: left;
              width: 50px;
              margin: 0;
              height: 30px;
              line-height: 30px;
              color: $black;
              font-weight: 600;
              outline: none;
              text-align: center;
              border: none;
            }
            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }
      }
    }
  }

}

/*=====  End of Meal Block  ======*/

/*=====  Meal Block Mobile  ======*/

@media screen and (max-width: 767px) {
  .btn-wrap{
    float:none;
  }
  .meal-block {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #e4e4e4;
    display:flex;
    flex-direction: column;
      // Image
      .image {
        float: left;
        height: 80px;
      }
      // Data
    .data {
      text-align: center;
      .title {
        font-size: 14px !important
      }
      .description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin-bottom: 0px;
        padding-right: 0px;
      }
    }
    .options{
      float:none;
      min-height: 0px;
      margin-top: 25px;
    }
  }
  .option-section {
  	.meal-select-option {
  		text-align: right;
  	}
  }
  .meals-qty-dropdown {
  	.meal-qty-form {
  		text-align: left;
  		input {
  			float: left;
  		}
  	}
  }
}