.RTL .modify-flights-table .left-sidebar{
    float:right;
}
.RTL .back-to-reservation{
        .fa-angle-left::before {
            content: "\f105";
        }
    }


@media only screen and (min-width:981px){
    .RTL{
        .dash-mod-flights #flight-segment-list li .div-info{
            padding-bottom: 20px;
            padding-right: 15px !important;
        }
        .dash-mod-flights #flight-segment-list li .div-info{
            .flight-time .dept-arr-text{
                padding-right: 15px !important;
            }
        }
        .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li .mod-flight{
            .icon-outbound-plane-small{
                display:inline-block;
                .path1{
                    &:before{
                        content:"\e926";
                        color:$primery_color;
                    }
                }
                .path2{
                    &:before{
                        content:"\e912";
                        color:$gray;
                    }
                }
        
                .path1,.path2{
                    float:left;
                }
            }
            .icon-inbound-plane-small{
                display:inline-block;
                .path1{
                    &:before{
                        content:"\e928";
                        color:$primery_color;
                    }
                }
                .path2{
                    &:before{
                        content:"\e927";
                        color:$gray;
                    }
                }
        
                .path1,.path2{
                    float:left;
                }
            }
    
        }
        
    }

        
    .dash-mod-flights{
        .modify-flight-page-title{
            margin-top:20px !important;	
        }
        .modify-flights-table .right-content .flight-row .select-flight{
            min-height: 80px !important;
            padding: 35px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .right-content{
            .modify-flight-search{
                .col.duration{
                    width:81.1% !important;
                }

                .select-flight-buttons{
                    padding-left : 0 !important;
                    .promo-fare{
                        height:100px !important;
                    }
                }
            }
        }
/*        .back-bar{
            >a{

                margin-top:-45px !important;
            }
        }*/
        .modify-flights-table{
            .left-sidebar{
                padding-left:0 !important;
                padding-right:0 !important;
            }
            .flights-head{
                padding-left:0 !important;
                .flights-head-left{
                    padding-left:0 !important;
                }
                .flights-head-right{
                    padding-left:0 !important;
                }
            }
        }

        #flight-segment-list{
            li{
                padding-top:20px !important;
                padding-bottom: 0px !important;
                padding-left:10px !important;
                padding-right:10px !important;
                border-bottom:2px solid white !important;
                .div-plain-icon{
                    width:15% !important;
                    padding-left:0 !important;
                    padding-right:0 !important;
                }
                .div-info{
                    padding-right:0 !important;
                    padding-bottom: 20px;
                    div,h4{
                        font-size:16px !important;
                    }
                }
                .flight-no{
                    padding-left:0 !important;	
                }
                .flight-time{
                    padding-right:0 !important;
                }
                .departure-arrival{
                    i{
                        padding-left: 3px !important;
                    }
                    i.date-time{
                        text-align:right !important;
                    }
                }
                .thick-font{
                    font-size:13px !important;
                    font-weight:400 !important;
                }
                .thick-font-flightNumber{
                    font-size:14px !important;
                    font-weight:400 !important;
                }
            }
        }
    }
   
}
@media only screen and (min-width:768px) and (max-width:991px){
    .drawer-breakup-price{
        padding: 0 !important;
    }
    .drawer-breakup-label{
        padding:0 !important;
    }
    .sm-summary-drawer .drawer-desc{
        overflow-y: scroll;
        height: inherit;
    }
    .dash-mod-flights{
        .modify-flight-page-title{
            margin-top:20px !important;
        }
        .modify-flights-table{
            .left-sidebar{
                width:45% !important;
                padding-left:0 !important;
                padding-right:0 !important;
            }
            .flights-head{
                padding-left:0 !important;
                .flights-head-left{
                    padding-left:0 !important;
                    width:45% !important;
                }
                .flights-head-right{
                    padding-left:0 !important;
                    width:55% !important;
                }
            }
        }
        #flight-segment-list{
            li{
                padding-top:20px !important;
                padding-bottom:20px !important;
                padding-left:10px !important;
                padding-right:10px !important;
                border-bottom:2px solid white !important;
                .div-plain-icon{
                    width:15% !important;
                    padding-left: 0;
                }
                .div-info{
                    padding-right: 0 !important;
                    div,h4{
                        padding-left:0 !important;
                    }
                }
                .xs-flight-no{
                    /*right:10px !important;*/
                    padding-left:0 !important;	
                }
                .thick-font{
                    font-weight:600 !important;
                }
            }
        }
        .right-content{
            width:55% !important;
            .modify-or-cancel {
                margin-top:20%;
                .or{
                    font-size:16px !important;
                }
                .col{
                    min-height:90px !important;
                    button{
                        width:70% !important;
                    }
                }
            }
            .search-form{
                padding-right:0 !important;
                .btn-wrp{
                    float:right !important;

                    button{
                        font-size:13px !important;
                    }
                }
            }
            .modify-flight-search{
                .col.duration{
                    padding-top:12px !important;
                    padding-right:10px !important;
                    height:100px !important;

                    border-bottom: 1px solid #e2e2e2;
                }
                .col.select-flight{
                    padding-top: 7% !important;
                }
                .col.select-flight,.select-flight-buttons{
                    width: 95px !important;
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }

                .select-flight-buttons{
                    border-left: 1px solid #e2e2e2;
                    .promo-fare{
                        width:95px !important;
                        height:90px !important;
                    }
                    .xs-modify-select-flight,.xs-modify-select-flight ul > li{
                        width:95px !important;
                        min-width:95px !important;
                        min-height:80px !important;
                        > label{
                            line-height: 22.65px !important;
                            top: -5px;
                            position: relative;
                        }
                    }
                }
            }

            .flight-date,.text-center{
                font-size:12px !important;
                border-right:none !important;
            }

            ul.flight-fares:not(.xs-modify-selected-fare){
                li{
                    min-width: 75px !important;  
                }
            }
            ul.xs-modify-selected-fare{
                top:79.367px !important;
            }

        }

        .dash-footer{
            margin-top:0 !important;
            /*margin-left:-15px !important;*/
            > .row{
                margin-top:0 !important;
                margin-left:0 !important;
                margin-right:-30px !important;
                >div{
                    padding: 0 !important;
                }
            }
        }
/*        .back-bar{
            >a{
                margin-top:-40px !important;
            }
        }*/
        .modify-flight-search{
            .xs-search-result{

                .total-time{
                    text-align:center !important;
                    font-size: 10px !important;
                    margin-top: -10px !important;
                }

                .departure{
                    label{
                        text-align:left !important;
                    }
                }
                .flight-no{
                    margin-bottom: 12px !important;
                    position: relative !important;
                    top: 12px !important;
                    font-size: 10px !important;
                    text-align:left !important;
                }
            }
        }
    }
    .LTR .flight-result-block .modify-flight-search .select-flight-buttons .select-flight .edit-select-button {
        top: 30px;
    }
    .RTL .dash-mod-flights .right-content .search-form{
        padding-right: 30px !important;
    }
    .LTR .dash-mod-flights .dash-footer > .row{
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .RTL .dash-mod-flights .dash-footer > .row{
        margin-right: 20px !important;
    }
    .RTL .dash-mod-flights #flight-segment-list li .div-info div, .dash-mod-flights #flight-segment-list li{
        .div-info{
            padding-left: 0 !important;
            padding-right: 15px !important;
        }
        .flight-time{
            padding-right: 0 !important;
        }
    }
    .sector-flight-info .flight-block {
        margin: 0px !important;
    } 
}
@media only screen and (max-width:350px){
    .xxs-fs-12{
        font-size : 1.2rem !important;
    }
}


@media only screen and (max-width:320px){
    .xs-select-flight-fare{
        .xs-fare-type-3,.xs-fare-type-4{
            li{
                min-width:70px !important;
            }
        }
    }
}
@media only screen and (min-width:768px){
    .RTL .mod-summary-drawer .drawer-arrow {
        right: 96.5%;
    }
}
@media only screen and (min-width:768px){
    min-height: 390px;
}
@media only screen and (min-width: 768px){
    #modifyflightdraw-flights-info-block{
        max-height: none !important;
    }
}

@media only screen and (max-width:767px){
     .RTL .modify-flights-table .right-content .flight-row .duration .departure label, .RTL .modify-flights-table .right-content .flight-row .duration .arrival label{
        margin-top: 0! important;
        margin-bottom: 15px !important;
    }
    .RTL .modify-flights-table .right-content .flight-row .col{
        display: block !important;
    }
    .drawer-breakup-label{
            padding:0 !important;
     }
    .tooltip-inner{
        .fare-tooltip-wrappe{
            line-height: 20px !important;
            text-align: left ;
        }
    }
    .flight-block {
        float: left;
        width: 100%;
        margin-bottom: 10px;
        padding: 0px !important;
        margin: 0px !important;
    }
  
    ul{
        .flight-point{
            position: absolute;
            margin-top: 23px;
            margin-left: 30px;
            .tooltip-arrow{
                left: 65px !important;
            }
           
        }
        
        
    }
    .price-info-block .fontclass18{
        font-size: 1.8rem !important;
    }
    .passenger-count-select .done-btn .done{
        font-size:1.4rem !important;
    }
    .modify-flights-table .left-sidebar ul li{
        
        padding:unset !important;
    }
  
    .flight-result-block .flight-options {

    }
        
  
   
    .flight-point>li{
        margin-top: -2px;
        width: 16px !important;
        font-size: 1.1rem !important;
    }
    #xs-modifydrawsumm-flight-info-scroll{
        padding-right : 0 !important;
        >h2 {
            font-size: 1.8rem !important;
            margin-bottom: 20px;
            line-height: 22px !important;
        }
    } 
    #xs-modifyflightdraw-flights-info-block{
        padding-right : 0 !important;
        padding-left : 0 !important;
        >h2{
            margin-bottom: 25px !important;
            margin-top: 0px !important;
        }
        >hr{
            margin-top: 0 !important;
        }
        .xs-text-center {
            font-size: 1.6rem;
            font-weight: bold;
            letter-spacing: -0.1px;
            text-align: left;
        }
        .flights-info-block{
            .flight-block{
                .col-xs-8{
                    >h4 >span{
                        font-weight: 600 !important;
                    }
                }
            }
            .sector-details:last-child{
                .sector-flight-info{
                    margin-bottom: 5px !important;
                }
            }
        }
    }
    #airport-taxes{
        margin-bottom: 5px !important;
    }
    .LTR .summary-drawer .drawer-desc .flight-info-scroll .price-info-block {
        >.row{
            margin-bottom: 0px !important;
        }
        .price-breakdown-lbl span {
            font-size: 1.8rem !important;
        }
    }
    .price-info-block {
        // margin-right: 15px;
        
        .price-Breakdown-for {
            line-height: 1.33;
        }
        .X-Adult {
            line-height: 1.6;
        }
        .Airport-Tax-Surcha {
            line-height: 1.6;
        }
        .Total-New-Selection {
            //line-height: 2.6;
        }
        .Total-Due-Amount {
            //line-height: 1.67;
        }
    }
    .source-To-destination, .source-To-destination-flightNo, .destination-To-source, .destination-To-source-flightNo {
        font-weight: 600 !important;
    }
    .LTR .dash-mod-flights .modify-flight-search .xs-search-result .total-time {
        left: 24% !important;
        top: 45px !important;
    }
    .LTR .summary-drawer .drawer-desc .flight-info-scroll .price-info-block 
    .total-credit {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.67;
        letter-spacing: -0.1px;
        text-align: left;
    }
    .summary-drawer .drawer-desc .flight-info-scroll .price-info-block 
    .total-credit{
        margin-bottom: 0px !important;
    }

    #xs-modify-flightdraw-flights-info-block{
        padding-right : 3px !important;
    }

    .xs-dep-arrival{
        padding-left:15px !important;
    }	
    .xs-ibe-date-picker{
        .dropdown-menu{
            min-height : 50vh !important;
            width : 100% !important;
        }
    }
    .dash-mod-flights{
        padding-left:0 !important;
        padding-right:0 !important;
        margin-top:10px !important;
        .modify-flight-page-title{
            margin-top:10px !important;
            padding: 0 10px !important;
            h1{
                font-size:2.1rem !important;
            }
        }
        .modify-flights-table{
            /*margin-bottom:15px !important;*/
            .left-sidebar{
                width:100% !important;
                padding-left:0 !important;
                padding-right:0 !important;
            }
        }

        #flight-segment-list{
            >div{
                >li:not(#flight-modify-mobile):not(#flight-modify-fare-type){
                    display: block !important;
                    height: 100%;                    
                    padding: 12px 10px !important;
                    border-bottom: 2px solid $white !important;
                    font-weight:600 !important;
                    font-size: 1rem !important;
                    .div-plain-icon{
                        width:12% !important;
                    }
                    .div-info{
                        padding-left: 5px !important;
                        div,h4{
                            margin-left:-8px;
                            padding-left:0 !important;
                            padding-bottom: 10px !important;
                        }
                    }
                    .xs-flight-no{
                        padding-left:0 !important;	
                        padding-right: 0 !important;
                        text-align: right !important;
                    }
                    .promo-fare{
                        font-size: 1.2rem !important;
                    }
                    .flight-time .departure-arrival i{
                        padding-left: 0 !important;
                    }
                }
            }
        }
        .back-bar{
            a.submit-link{
                width:344px!important;
                text-align:left !important;
                font-weight: 600 !important;
                >span{
                    text-decoration: underline !important;
                }
            }
        }

        .right-content{
            margin-bottom: 0 !important;
            padding-left: 10px !important;
            padding-right: 10px !important;
            .btn-wrp .red-btn{
                font-weight: bold !important;
            }
            h4{
                font-size:1.3rem !important;
            }
            .search-form{
                padding:0 !important;
                margin-top:15px !important;
                label{
                    font-size: 1.4rem !important;
                    font-weight: 600 !important;
                }
            }
            .modify-or-cancel {
                .or{
                    font-size:1.6rem !important;
                }
                .col{
                    min-height:auto !important;
                    button{
                        width:100% !important;
                        position: relative !important;
                        margin-top: 20px !important;
                        font-weight: bold !important;
                    }
                }
                .cancel{
                    button{
                        margin-top: 10px !important;
                        margin-bottom: 20px !important;
                    }
                }
            }
            .dash-flights{
                .flight-date{
                    border: none !important;
                    padding: 15px 0 0 0 !important;
                    margin-bottom:25px;

                }
                .flight-options .flight-options-table{
                    .flight-row{
                        display:inline-table;
                        padding-top: 15px;
                    }
                }

            }
        }
        .modify-flights-table .left-sidebar ul li.active::after{
            border: none !important;
        }
        
        .modify-flight-search{
                height: 70px ;
                justify-content: center;
                &.flight-row {
                    display:inline-block;
                }
             .xs-modify-flight-select .col.duration.xs-search-result{
                justify-content: flex-start ;
                align-items: center ;
                padding-left:0 ;
                padding-right:0px ;
                border: none ;
                padding-top: 0px ;
                height: 100% ;
                margin-top: -12px;
                .timeline{
                      margin-bottom: 0px;
                      margin-top: 0px;
                      padding-left: 20px;
                      padding-right: 15px;
                    .flight-stop-wrapper {
                        .flight-icon{ 
                            top: 3px;
                            background-color:transparent !important;
                            color:$primery_color !important;
                            border-bottom-color:#e8e8e8 !important;
                        }
                        .flight-stop{
                            top:6px !important;
                        }
                        ul.flight-point{
                            position: absolute;
                            margin-top: 15px;
                            margin-left: 30px !important;
                            .tooltip-arrow{
                                left: 65px !important;
                            } 
                        }
                    }
                    .total-time{
                        font-size: 0.8rem;
                        margin-top: -15px;
                    }
                    .flight-no{
                        margin-bottom: 0px !important;
                        position: relative !important;
                        top: 0px !important;
                        font-size: 1rem !important;
                        padding-left: 10px !important;
                        text-align: center !important;                        
                    }
                }
                .departure{
                    label{
                        text-align:left !important;
                    }
                    margin-bottom: 0px !important;
                }
                .arrival{                    
                    padding: 0px !important;
                }
               
            }
            .select-flight{
                height:auto !important;
                border: 1px solid #e2e2e2;	
            }	
            .select-flight-buttons{
                padding-left:0 !important;
                padding-right:0 !important;
                margin-top: 20px !important;
                //width:100% !important;	
                .promo-fare{
                    height: 70.65px !important;
                    width: auto !important;
                    /*                    margin-left: auto;
                                        margin-right: auto;*/
                    > label{
                        line-height: 48.65px !important;
                        font-size: 1.4rem !important;
                        font-weight: bold !important;
                    }
                    .select{
                        font-size: 1.2rem !important;
                    }
                }
            }
            .xs-ico{
                width: 12% !important;
                float: right !important;
                font-size: 1.1rem !important;
                top: 4px !important;
                position: relative;
            }

            .xs-select-flight{
                padding: 9px 5px 9px 5px !important;
                border: solid 1px #979797 !important;
                margin-top: 0px !important;
                height: 100% !important;
                width: auto !important;
                width: 25% !important;
                span{
                    color: unset !important;
                    a{
                        color: $black !important;
                    }
                }

                .ico{
                    width: 20% !important;
                    float: right !important;
                    font-size: 1.2rem !important;
                    top: 45px;
                    position: absolute;
                    right: 35px;
                }
            }

            .xs-select-flight .fare-and-services-flight-mobile-select-button {
                span {
                    color: $white !important;
                }
            }

            .select-flight.active {
                background-color: #e8e8e8;
                border: none !important;
            }
            .xs-select-flight-fare{
                max-height:75px;
                cursor: auto !important;
                border:none !important;
                max-width:100% !important;
                width:auto !important;
                min-width:45.6% !important;	
                margin-left:auto;
                margin-bottom: 0 !important;

                ul.flight-fares{
                    width:  73% !important;
                    position:relative;
                    top: -2px !important;
                    margin-top: 0 !important;
                    height: auto !important;
                    #flight-modify-fare-type{
                        padding: 0 5px !important;
                        border: none !important;
                    }
                    #flight-modify-fare-type:last-child{
                        border-right: none !important;
                    }
                    label{
                        margin-bottom: 0 !important;
                        font-size: 1.4rem !important;
                        width: 100% !important;
                        padding-top: 15px !important;
                        position: relative !important;
                        font-weight: bold !important;
                    }
                }

                ul.xs-fare-type-1 li{
                    max-width: 100% !important;
                    min-width: 1px !important;
                }
                ul.xs-fare-type-2 li{
                    max-width: 50% !important;
                    min-width: 1px !important;
                }
                ul.xs-fare-type-3 li{
                    max-width: 33.33% !important;
                }
                ul.xs-fare-type-4 li{
                    max-width: 25% !important;
                    min-width: 1px !important;
                }

                ul.xs-fare-type-5 li{
                    display: inline-block !important;
                    max-width: 20% !important;
                    min-width: 1px !important;
                }
            }
            .red-btn, .light-gray-btn{
                font-weight: bold !important;
            }

            /*			.xs-fare-type-1,.xs-fare-type-2{
                                            width: 45.6% !important;
                                            margin-left: auto;
                                            margin-right: auto;
                                    }
                            
                                    .xs-fare-type-3,.xs-fare-type-4{
                                            width: 45.6% !important;
                                            margin-left: auto;
                                            margin-right: auto;
                                            li{
                                                    label{
                                                            margin-bottom: 17px !important;
                                                    }
                                            }
                                    }*/
        }
        .section-line{
            hr{
                margin-bottom: 0 !important;
            }
        }
    }
    #modify-flight-head{
        font-size: 1.6rem !important;
    }
    .dash-alert{
        margin-top: 15px !important;
        .notification{
            padding: 0 !important;
            text-align: left !important;
            border: none !important;
            font-weight: 400 !important;
        }
    }
    .flights-head{
        padding-left: 10px !important;
        padding-right: 10px !important;
        >div{
            padding-left: 0 !important;
            padding-right: 0 !important;
            font-size: 1.6rem !important;
            font-weight: 600 !important;
        }
    }
    .mod-flight{
        >.div-info{
            padding-left: 5px !important;
            >h4{
                >span{
                    font-weight: 600 !important;
                }
            }
        }
        .xs-flight-no .fligh-no label, .dept-arr-text{
            font-weight: 600 !important;
        }
        .dept-arr-text-modify {
            text-align: right;
        }
    }
    #flight-modify-mobile{
        width: 100%;
        //padding: 0 10px 0 10px !important;
        border-bottom: 10px solid $white!important;
    }
    #single-button{
        padding-left: 10px !important;
        padding-right: 10px !important; 
        background-color: white !important;
    }
    .xs-modify-flight-select{
        display: flex;
        align-items: center;
        margin-left: 0 !important;
        margin-right: 0 !important;
        .flight-stop-wrapper{
            .flight-stop{
                top: 6px !important;
            }
            .flight-path{
                left: 15px !important;
                top: 23px !important;
                width: 92% !important;
                border-top-color: #e0dfdf !important;
            }
            .flight-start{
                top: -4px !important;
            }
        }
        .duration{
            .departure,.arrival{
                label{
                    font-size: 1.4rem !important;
                    font-weight: bold !important;
                    margin-top: 11px !important;
                    margin-bottom: 0px !important;
                }
            }
        }
    }
    #modify-summary-last-label{
        margin: 5px 15px 10px 15px !important;
        font-size: 0.8rem !important;
        line-height: 2 !important;
        letter-spacing: -0.1px;
        text-align: left;
        font-weight: normal !important;
        display: inline-block !important;
    }
    .name-change-drawer{
        padding: 15px 10px !important;
    }
    .summary-drawer{
        .drawer-desc{
            .container{
                padding : 0 !important;
                .drawer-arrow{
                    margin-left: 51% !important;
                }
            }
        }
    }
    .xs-drawer-arrow:not(.drawer-arrow){
        left: -200px !important;
    }
    .xs-drawer-modi-arrow{
        left: -54% !important;
        max-height: 12px !important;
        top: -23px !important;
        >span{
            position: absolute !important;
            right: 6px !important;
            top: -1px !important;
            font-size: 1.2rem !important;
        }
    }
    #modify-dash-heading{
        margin-left: 0 !important;
        margin-right: 0 !important;
        height: 50px !important;        
        #reservation-to-dash{
            padding-top: 21px !important;
            padding-right: 0 !important;
            padding-left: 0 !important;
            width: auto !important;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 33%;

            >a{
                font-size: 1rem !important;
                text-align: center;
            }
        }
        .page-title {
            height: 50px !important;
            padding-left: 0;
            span{
                font-size: 1.6rem !important;
                line-height: 70px !important;
            }
        }
    }    
    #modify-ibe-date-picker{
        >p{
            ul{
                padding: 15px !important;
                li{
                    padding: 0 !important;
                }
            }
        }
    }
    .modify-flights-table .right-content .search-form .form-control{
        font-size: 1.6rem !important;
        font-weight: 600 !important;
    }
    .new-flight-heading{
        font-size: 1.6rem !important;
        font-weight: 600 !important;
        margin-right: 15px !important;
        margin-bottom: 15px !important;
        .RTL{
            .modify-flights-left{
                float: left !important;
            }
        }
    }
    .RTL{

        .modify-flights-table .right-content .flight-row .xs-modify-flight-select .duration.xs-search-result  .timeline{
            margin-bottom: 0px !important;
        }
        .dash-mod-flights .modify-flight-search .xs-search-result .total-time{
            //   margin-left: 0px;
        }
        .xs-modify-flight-select .flight-stop-wrapper .flight-path{
            width: 90% !important;
            left: 0px !important;
        }
        .flight-result-block .flight-options .flight-stop-wrapper .flight-stop{
            width: 6px !important;
        }
        .dash-mod-flights .modify-flight-search .xs-search-result .flight-no{
            padding-right: 20px;
        }
        .dash-mod-flights{
            .modify-flights-table{
                width: 100% !important;
                .left-sidebar{
                    width:100% !important;
                    .flight-time .departure-arrival i{
                        padding-left: 0 !important;
                    }
                    .promo-fare{
                        float: none !important;
                    }
                }
            }
        }
        .mod-summary-drawer .drawer-desc .container .drawer-arrow{
            margin-left: unset !important;
            margin-right: 47% !important;
        }
        .xs-drawer-modi-arrow{
            right: unset !important;
            left: -45% !important;
        }
        #modify-ibe-date-picker{
            >p{
                ul{
                    left: 0px !important;
                }
            }
        }
        .new-flight-heading{
            margin-right: 0 !important;
        }
        #flight-modify-mobile{
            // margin-left: 0px !important;
        }
        .dash-mod-flights #flight-segment-list > div > li:not(#flight-modify-mobile):not(#flight-modify-fare-type) .xs-flight-no{
            margin-top: -3px !important;
        }
        .xs-start-over{
            text-align: left !important;
        }
        .dash-mod-flights #flight-segment-list > div > li:not(#flight-modify-mobile):not(#flight-modify-fare-type) .div-plain-icon{
            width: auto !important;
        }
        .dash-mod-flights .right-content .dash-flights .flight-options .flight-options-table .modify-flight-selected{
            padding-top: 15px !important;
        }
    }
    .modif-search-2{
        -webkit-overflow-scrolling: touch !important;
    }
    .departure-canceled-segment {
        width: 100%;
        .departure-label {
            width: 30% !important;
        }
        .departure-val {
            width: 65%;
        }
    }
    .arrival-canceled-segment {
        width: 100%;
        .arrival-label {
            width: 30% !important;
        }
        .arrival-val {
            width: 65%;
        }
    }
    .departure-payment-segment {
        width: 100%;
        .departure-label {
            width: 30% !important;
        }
        .departure-val {
            width: 65%;
        }
    }
    .arrival-payment-segment {
        width: 100%;
        .arrival-label {
            width: 30% !important;
        }
        .arrival-val {
            width: 65%;
        }
    }
    .dash-mod-flights .right-content .dash-flights .flight-options .flight-options-table .modify-flight-selected{
        padding-top: 0 !important;
    }
    .dash-mod-flights .right-content .dash-flights .modify-flight-changed-message{
        margin-bottom: 0 !important;
    }
}       

@media only screen and (min-width:376px) and (max-width:412px){
    .xs-select-flight-fare{
        .xs-fare-type-3,.xs-fare-type-4{
            li{
                min-width:80px !important;
            }
        }
    }
}

@media only screen and (min-width:361px) and (max-width:375px){
    .xs-select-flight-fare{
        .xs-fare-type-3,.xs-fare-type-4{
            li{
                min-width:80px !important;
            }
        }
    }
}


@media only screen and (min-width:321px) and (max-width:360px){
    .xs-select-flight-fare{
        .xs-fare-type-3,.xs-fare-type-4{
            li{
                min-width:80px !important;
            }
        }
    }
}

@media only screen and (min-width:768px) and (max-width: 992px) {
    .LTR .modify-search .col-btn-search {
        margin-top: 0;
    }
    .modify-search .modif-search.modif-search-2 {
        overflow-y : scroll; 
        height : 90%;
    }
    .RTL .modify-search .col-btn-search {
        margin-top: unset;
    }
    
    .LTR .curruny-wrapper {
        right: 35px;
    }
}


@media only screen and (max-width: 992px) {
    .flight-info-scroll{
        .price-info-block{
            &.modification-flow-summary{
                margin-right:0px;
            }
        }
    }
        
}