.welcome-header {
	padding-bottom: 25px;
}
.modal-content.passenger-modal {
	position: fixed;
	top: 20%;
	max-width: 700px;
	max-height: 650px;
  	overflow-y: auto;
	transform: translateY(-20%);

    tr th{
        height: 30px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.14;
        letter-spacing: 0.1px;
        color: #414042;
	    border-top: none;
	}
	.table td{
		border-bottom: 1px solid #DDD;
	}
    .modal-data .table {
	    th:nth-child(2), th:nth-child(3), th:nth-child(4){
		    width: 100px;
		}
	    th:nth-child(5), th:nth-child(6), th:nth-child(7){
			width: 135px
		}
	    tr:nth-child(1){
		    border-top: none;
		    min-width: 60px;
		}
	}
    .modal-data .greeting-text{
	    height: 29px;
        object-fit: contain;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.61;
        letter-spacing: -0.1px;
        color: #414042;
	    margin-bottom: 34px;
	}
    .modal-data h2{
        height: 29px;
        object-fit: contain;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.61;
        letter-spacing: -0.1px;
        color: #414042;
	}
    .modal-data .welcome-header{
	    margin-bottom: 17px;
	    padding: 0px;
	}
    .greeting-text{
	    margin-bottom: 34px;
	}
    .container-chkbox .checkmark{
	    width: 19px;
	    height: 17px;
        text-align: center;
        vertical-align: middle;
	}
  	.modal-footer .col-md-6 {
	  padding-right: 0px;
	  padding-left: 0px;
	  .button{
		min-width: 300px;
		height: 43px;
	  }
	}
    .container-chkbox input:checked ~ .checkmark:after {
	  top: 1px;
	  left: 5.47px;
    }
	.container-chkbox {
		display: block;
		position: relative;
		padding-left: 35px;
		margin-bottom: 12px;
		cursor: pointer;
		font-size: 22px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}
.checkmark.default{
	 background-color: #7ED321;
     border-color: #7ED321;	
	i{
		left: 9px;
    	top: 5px;
    	width: 5px;
    	height: 10px;
    	border: solid white;
    	border-width: 0 1px 1px 0;
    	transform: rotate(33deg);
    	position: absolute;
    }
}

/* Hide the browser's default checkbox */
.container-chkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	border-radius: 100%;
	border: 1px solid #888;
	background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.container-chkbox input:checked ~ .checkmark {
	background-color: #7ED321;
	border-color: #7ED321;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container-chkbox input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container-chkbox .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 1px 1px 0;
	-webkit-transform: rotate(33deg);
	-ms-transform: rotate(33deg);
	transform: rotate(33deg);
}
.family{
		a{
			color:red;
		}
}
@media only screen and (min-width: 768px){
  	.modal-footer .col-md-6 {
  		width: auto;
  		padding-right: 0px;
  		.button{
  			min-width: 250px !important;
  		}
	}
}
@media only screen and (max-width: 767px){
	.modal-content.passenger-modal {
		.container-chkbox {
			padding-left: 0px;
		}
		.pd-xs-r-0{
			padding-right: 0px;
		}
	}
}