/*===============================
=            Login             =
===============================*/

.payment-overlay {
  z-index: 1000;
  background: {
    color: rgba(255, 255, 255, 0.80);
  }
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.login {
  border-top: solid $secondery_color 5px;
  background-color: $color_variation_1;
  width: 450px;
  margin: 200px auto 0;
  // box-shadow: 5px 5px 35px 0px rgba(0, 0, 0, 0.25);
  // -moz-box-shadow: 5px 5px 35px 0px rgba(0, 0, 0, 0.25);
  // -webkit-box-shadow: 5px 5px 35px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 30px;

  #title {
    text-align: center;
    margin: 15px 0 20px;
    font-size: 18px;
    font-weight: 600;
  }

  input {
    margin: 0 0 5px 0;
  }

  label {
    display: block;
    color: $black;
    font-size: 14px;
    text-align: left;
    margin: 15px 0 10px 0;
    padding: 0;
    font-weight: 500;
  }

  .valdr-message {
    position: static;
  }

  button {
    margin: 20px 0;
  }
}

/*=====  End of Slider  ======*/
/*=====  End of Rewards Login  ======*/




/*Valdr Validations and messages*/
.valdr-message{
	font-size: 12px;
	color: $red;
	position: absolute;
}

	form,
	ng-form{
		&.ng-submitted{
			.ibe-typeahead {   
				.ng-invalid.ng-dirty.ng-untouched,
				.ng-invalid.ng-untouched{
          border: 1px solid $red;
          &.valdr-message{
            border: none;
          }
          &#search-departure-date,
          &#search-arrival-date{
            border: 1px solid $red !important;
          }
				}
				.ng-invalid.ng-untouched.on-focus{
					border: 1px solid grey;
				}
			}
    }
    
		.ibe-typeahead {
			&.on-focus{
				.valdr-message{
					border: none;
					display:none;
				}
		
			}
			.ng-invalid,
			.ng-invalid.ng-touched,
			.ng-invalid.ng-pristine.ng-touched  {
        border: $red 1px solid;
        &.valdr-message{
          border: none;
        }
			}
			
			.ng-invalid .valdr-message,
			.ng-invalid.ng-touched .valdr-message,
			.ng-invalid.ng-touched.ng-dirty .valdr-message,
			.ng-invalid.ng-touched.ng-invalid-required .valdr-message{
				border: none;
				color: $red;
			}
			.ng-invalid.ng-dirty .valdr-message,	
			.ng-invalid.ng-touched.on-focus .valdr-message,
			.ng-invalid.ng-pristine.ng-touched.on-focus .valdr-message
			{
				border: none;
				display:none;
			}
			

			.ng-invalid.ng-dirty.ng-untouched,
			.ng-invalid.on-focus,
			.ng-invalid.ng-untouched,
			.ng-invalid.ng-untouched.on-focus,
			.ng-invalid.ng-touched.on-focus,
			.ng-invalid.ng-pristine.ng-touched.on-focus,
			.ng-invalid.ng-dirty.ng-untouched.on-focus
			{
				border: 1px solid grey;
			}
		}
	}


.valdr-message.ng-pristine {
	display:none;
}
/*END Valdr Validations and messages*/


/*===============================
=            Slider            =
===============================*/

.scroller {
  rzslider {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2px;
    margin: 0 0 15px 0;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:after{
      content: "";
      height: 7px;
      width: 7px;
      top: -4px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      position: absolute;
      background: #8b8a8b;
      right: 0px;
    }
    .rz-pointer {
      outline: none;
      z-index: 2;
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      cursor: pointer;
      color: $red;
      font-size: 24px;
      &:hover, &:focus {
        color: darken($red, 6%);
      }
      &:before {
        content: "\e929";
      }
      &:after {
        background: none;
      }
    }
  }

  rzslider span {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    font-size: 18px;
    bottom: 1px;
  }

  rzslider .rz-base {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  rzslider .rz-bar-wrapper {
    left: 0;
    z-index: 1;
    width: 100%;
    height: 32px;
    padding-top: 16px;
    margin-top: -16px;
    box-sizing: border-box;
  }

  rzslider .rz-bar-wrapper.rz-draggable {
    cursor: move;
  }

  rzslider .rz-bar {
    left: 15px;
    z-index: 1;
    width: 97%;
    height: 1px;
    background-color: grey;
  }

  rzslider .rz-bubble {
    display: none
  }
  
}
rzslider .rz-bar.rz-selection{
    background-color: $site_primary_color;
  }
/*=====  End of Slider  ======*/




/*===============================
=            Payment            =
===============================*/

.xs-notcreate-page-title{
    margin-left: -10px !important;
}
.payments {
  @extend .left-wide;
  margin-top: 20px;
  margin-left: -10px;

  h2 {
    float: left;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    line-height: 36px;
    margin-bottom: 3px;
  }

  .strong {
    font-weight: 600;
  }

  .total-payment {
    /*.summary-drawer{
        z-index: 10;
    }*/
    .payment-method {
      padding: 0 !important;
      &.payment-method-container{
        margin-bottom: 10px;
      }
      .dropdown-label {
        font-size: 14px;
        color: #414042;
        font-weight: normal;
      }
    }
  }
}

/*=====  End of Payment  ======*/

/*========================================
=            Fare Animations            =
========================================*/
.all-flights {
  @extend .left-wide;
  min-height: 100px;
  transition: 0.5s linear all;
  opacity: 1;

  h2 {
    padding-top: 0;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    position: relative;
  }

  h3 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
    margin-top: 0px;
    margin-bottom: 10px;
    position: relative;
  }

  h4 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    margin-top: 0px;
    position: relative;
  }

  a {
    text-decoration: underline;
    color: inherit !important;
  }

  .more-flights {
    color: $red !important;
    text-decoration: none;
    font-weight: 600;
    font-size: 11px;
  }

  .plane-icon-trail {
    position: relative;
    top: -4px;
    color: $gray-5;
  }

  .flight-info-scroll {
    max-height: 500px;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .section-total {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
  }

  .sub-total {
    @extend .left-wide;
    font-size: 18px;
    padding: 0;
    font-weight: 600;
    margin: 10px 0 20px;

    .amount {
      padding-left: 20px;
    }
  }

  .flights-summary-block {
    float: left;
    width: 55%;
    padding-right: 15px;

    .flight-block {
      float: left;
      width: 100%;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px dotted #E8E8E8;

      &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }

      .title {
        float: left;
        width: 100%;
        margin-bottom: 3px;

        label {
          font-weight: 700;
        }
      }

      > span {
        width: 100%;
        float: left;
        > i {
          float: left;
          padding: 0 5px;
        }
        label {
          //width: 100%;
          float: left;
          margin: 0;
          font-weight: 400;
          font-size: 11px;
          i {
            float: left;
            //width: 60%;
          }
          .i {
            color: $black;
            font-weight: 600;
            float: left;
            margin-right: 5px;
            //width: 15%;
          }
        }
      }
    }
  }

  .price-summary-block {
    float: left;
    padding: 0 0 0 15px;
    width: 45%;
    position: relative;
  }

}

.all-flights.ng-hide {
  transition: 0.5s linear all;
  opacity: 0;
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  30% {
    opacity: .3;
  }
  100% {
    opacity: 0;
  }
}
.adult-text{
	padding:0 !important;
}

/*=====  End of Fare Animations  ======*/

/*========================================
=            Airewards Points            =
========================================*/

.airewards-points {
  @extend .left-wide;
  border-top: 1px solid;
  border-color: $gray-9;
  padding: 10px 0;
  span {
    float: left;
    height: 42px;
    line-height: 42px;
    .voucher-redeem-text {
      margin-left: -15px;
    }
    
  }
  .radio-container{
    display: flex;
    width: 37%;
    justify-content: flex-start;
    float: right;
  }
  .text {
    font-size: 18px;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    padding-left: 0px;
    width: auto;
  }
  @media only screen and (max-width: 767px){
      .text {
          width: 100%;
      }
  }
  .alert {
    //margin-top: 15px;
  }
  .radio {
    margin-left: 40px !important;
    float: left;
  }
  img {
    height: 20px;
  }

  /* Airwards Options */
  .airwards-options {
    @extend .left-wide;
    margin-bottom: 12px;
    .row {
      position: relative;
      display: inline-block;
    }

    .cg-busy {
      z-index: 9;
      bottom: -5px;

      .cg-busy-default-sign {
        z-index: 10;
      }
    }

    .pax-signout {
      font-size: 13px;
      padding-left: 6px;
      font-weight: normal;
      color: $site_primary_color;
      cursor: pointer;
    }

    /* Left Content */
    .awards-id {
      @extend .left-wide;
      font-size: 14px;
      font-weight: 600;
      a {
        color: $black;
        text-decoration: underline;
        font-size: 12px;
        font-weight: 400;
        margin-left: 30px;
        cursor: pointer;
        display: inline-block;
        &:hover, &:focus {
          color: $red;
        }
      }
    }

    .notice {
      .alert-btn {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .points-count {
      @extend .left-wide;
      margin-bottom: 12px;
      display: table;

      .currency-text {
        padding-right: 5px;
      }

      label {
        margin: 0;
        display: table-cell;
        i {
          @extend .left-wide;
          text-align: left;
          line-height: 1;
          color: $mountain_mist;
          font-size: 14px;
        }
        h2 {
          @extend .left-wide;
          text-align: left;
          font-size: 14px;
          line-height: 1;
          height: auto;
        }
      }
    }
    ul {
      @extend .left-wide;
      padding: 0;
      margin: 0;
      font-size: 14px;
      list-style: none;
      li {
        @extend .left-wide;
        margin-bottom: 10px;
        line-height: 26px;

        &:before {
          content: "";
          background: $red;
          float: left;
          width: 5px;
          height: 5px;
          margin: 7px 15px 0 0;
        }
        span {
          float: left;
          line-height: 1.5;
          height: auto;
          width: 94%;
          width: calc(100% - 25px);
        }
      }
    }

    /* Left Content */
    .left-content {
      width: 100%;
      padding-right: 32%;
    }

    /* Right Content */
    .right-content {
      padding-left: 10px;
      position: absolute;
      top: 0;
      right: 0;

      button {
        width: 100%;
      }

      /* Redeem Amount */
      .redeem-amount {
        @extend .left-wide;
        background: {
          color: $mountain_mist;
        }
        color: $white;
        text-align: right;
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;

        .section {
          @extend .left-wide;
          padding: 15px 25px;
          span {
            line-height: 1;
            height: auto;
          }
          .small-txt {
            @extend .left-wide;
            text-align: right;
            font-size: 12px;
            margin-bottom: 10px;
          }
          .big-txt {
            @extend .left-wide;
            text-align: right;
            font-size: 18px;
            i {
              font-weight: 600;
            }
          }

          &.active {
            background: {
              color: $black;
            }
            box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.19);
            min-height: 78px;
          }
        }
      }
    }
  }
}

/* Redeem Adjust */
.redeem-adjust {
  @extend .left-wide;
  background: {
    color: $black;
  }
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.19);
  color: $white;
  padding: 10px 20px 9px;
  margin: -1px 0 30px;

  h2 {
    @extend .left-wide;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    height: auto;
    margin-bottom: 5px;
  }

  /* Scroller */
  .scroller {
    @extend .left-wide;
    height: 25px;
    margin-bottom: 15px;
    .line {
      height: 1px;
      background: {
        color: #727173;
      }
      width: 100%;
      position: relative;
      &:before, &:after {
        content: "";
        height: 7px;
        width: 7px;
        top: -3px;
        @include border-radius(50%);
        position: absolute;
        background: $mountain_mist;
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
      .drag-pointer {
        color: $red;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 24px;
        left: 30%;
        cursor: pointer;
        &:hover, &:focus {
          color: darken($red, 6%);
        }
      }
    }

    .count {
      font-size: 10px;
      color: #c6c6c7;
      @extend .left-wide;
      line-height: 1;
      .left-count {
        float: left;
      }
      .right-count {
        float: right;
      }
    }

    .rz-scroller {
      width: 104%;
      margin-left: -14px;
    }
  }
}
.Would-you-like-to-pay img{
    height: 25px !important;
}

/*=====  End of Airewards Points  ======*/

/*=============================================
=            Redeem Voucher Section            =
=============================================*/
	.voucherRedeem {
		.voucherFlds{
			input{
				width: 70%;
				margin-right: 10px;
				float: left;
			}
			button{
        height: 50px;
				width: 34%;
				float: left;
                margin-right: -40px;
				}
		}
		.totalValuBx {
		    background: $light_gray;
		    @include border-radius(5px);
		    font-size: 18px;
		    @extend .pd-3;
		    .currency-right{
		    	float:right;
		    }
		}
		.voucherInfoTxt {
		    font-size: 18px;
            font-weight: 600;
            margin-top: 0;
            padding-top: 10px;
            padding-left: 0;
		}
		.font-txt{
		 	font-size: 18px;
		}
		
		.voucher-resend{
			background: $site_back_color;
            padding-left: 42px;
            margin-top: 15px;
            margin-bottom: 19px;
		    @include border-radius(5px);
		    font-size: 18px;
		    
		    text-align: left;
		    padding: 20px 0px 25px 15px;
		    .txt-height{
				   height: auto;
		           line-height: normal;
		           font-size: 18px;
				}
			.voucherResendFlds{
				
				.otp-txt{
                    padding-left: 15%;
					label{
						 font-weight: 400;
					}
					
				}
				input.form-control{
					width: 20%;
					text-align: center;
					margin-left: 10px;
					float: left;
				}
				button.button{
					    width: 25%;
					    background: #525153;
					    color: #fff;
					    min-width: 1px;
					    height: 50px;
					    margin: 0 10px;
                        margin-right: 18px;
					    float: left;
				}
				a{
				        float: left;
					    color: red;
					    border-bottom: 1px solid red;
					    margin-top: 12px;
					    height: auto;
					    line-height: initial;
					    &:hover{
					    	text-decoration: none;
					    	 border-bottom-color: transparent;
					    }
				}
			}
            .col-sm-5{
                padding-right: 0px;
            }
		
		}
		.voucherSuccess{
			background: #fcf8e3;
			font-size: 18px;
            width: 983px;
            height: 64px;
			@include border-radius(5px);
			span{
				height: auto;
				line-height: normal;
                font-weight: 600;
			}
			 .number-green {
				    color: #28cf1c;
				    float: left;
    				margin-right: 20px;
                    margin-left: 8px;
    				margin-top: 4px;
				}
			  
			form{
			 text-align: right;
			 a{
			 	color: $black;
			 	border-bottom: 1px solid $black;
			 	font-weight: 700;
			 	&:hover{
			 	  border-bottom-color: transparent;
			 	  text-decoration: none;
			 	  
			 	}
			 }
			}	
		&.voucherError{
            width: 983px;
            height: 64px;
            border-radius: 5px;
            margin-bottom: 0;
			background: #f5d0d0;
			.number-red{
			  	color: $red;
			  	float: left;
   				margin-top: 4px;
                width: 17px;
                height: 17px;
                margin-right: 24px;
			  }	
		  }		
		}
		
		
}

/*=============================================
=            Select Payment Method            =
=============================================*/

.select-payment-method {
  @extend .left-wide;
  padding: 10px 0 0;
  border-top: 1px solid;
  border-color: $gray-9;

  h2 {
    float: left;
  }
  &.voucherSelect {
  	border-top: none !important; 
  	padding: 0 !important;
  }
  .airewards-points{
    .secure-certificate {
      .data {
        float: left;
        width: 99%;
        .certificates {

          img {
            width: 70px;
            height:26px;
          }
  
          #master-card {
            padding-top: 1px;
          }
          #visa-card {
            padding-top: 0px;
          }
          //padding-top: 11px;
          clear: both;
          span {
            width: 28%;
            float: right;
            text-align: center;
          }
        }
      }
    }
  }
  .secure-certificate {
    .data {
      float: left;
      width: 99%;
      span {
        @extend .left-wide;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 3px;
      }
      p {
        @extend .left-wide;
        font-size: 12px;
        margin-bottom: 0;
        a {
          color: $black;
          font-style: italic;
          text-decoration: underline;
          &:hover, &:focus {
            color: $red;
          }
        }
      }
      .secure-title {
        float: left;
        width: auto;
        line-height: 26px;
        margin: 0 10px;
      }

      .certificates {

        img {
          width: 70px;
        }

        #master-card {
          padding-top: 11px;
        }
        #visa-card {
          padding-top: 10px;
        }
        //padding-top: 11px;
        clear: both;
        span {
          width: 28%;
          float: right;
          text-align: center;
        }
      }
    }
    .ico {
      float: left;
      //float: right;
      display: inline-block;
      background: {
        image: url(../images/misc/secure-lock.png);
        size: contain;
        repeat: no-repeat;
        position: center;
      }
      float: left;
      width: 24px !important;
      height: 24px;
    }

  }

}

/*=====  End of Select Payment Method  ======*/

/*=======================================
=            Payment Options            =
=======================================*/

.payment-options {
  @extend .left-wide;
  padding: 25px 0;
  margin-bottom: 30px;
  display: table;
  &.payment-options-container{
    margin-bottom: 0px;
    padding-top: 0;
  }
  label {
    padding-left: 0;
  }

  .payment-logo {
    img {
      max-width: 100px;
    }
  }
}

.img-error{
    display: none;
    +.text{
      position: relative;
      top:20px;
      width: auto !important;
    }
}

/*=====  End of Payment Options  ======*/

/*=======================================
=            Payment Details            =
=======================================*/

.payment-details {
  @extend .left-wide;

  /* Left Content */
  .left-content {
    padding-left: 0;
    label {
      @extend .left-wide;
      font-size: 14px;
      line-height: 1.5;
    }

    #verify-btn {
      margin-top: 5px;
      min-width: 115px;
      height: 50px;
    }

    section {
      @extend .left-wide;
      //margin-bottom: 20px;
    }

    .form-control {
      margin-top: 5px;
      height: 50px;
      line-height: 50px;
      font-size: 14px;
      font-weight: 400;
      &:focus{
        border-color: $black;
      }
    }

    .form-payment-flow{
      .checkbox-payment{
        margin-top: 10px!important;
        margin-bottom: 30px !important;
      }
      .card-holder-container{
        padding: 0;
      }
      .ibe-typeahead{
       &.card-holder-typeahead{
           margin-bottom: 36px;
         }
        p{
          &.valdr-message{
            position: absolute;
            font-weight: 400; 
            font-size: 14px
          }
        }
      }
      
    }
    .expire-row {
      &.payment-card-detail-div{
        padding:0px;
      }

      .security-code{
        padding-right: 0px;
        padding-left: 5%;
        width: 50%;
        span{
            font-size: 14px;
        }
      }
      .expiration-date span{
          font-size: 14px;
      }
      .ng-scope .ng-active {
        bottom: 0;
      }

      label {
        margin-bottom: 0;
      }
      
      .expire-group {
        &.expire-payment-flow{
          .expDate {
            .ibe-typeahead{
              margin-bottom: 36px;
            }

          }
          p{
            &.valdr-message{
              font-weight: 400;
            }
          }

        }
        .expDate {
          margin:0;
          padding:0;
          width:45%;
          .valdr-message{
            position: absolute;
            font-weight: 600; 
          }
          select {
            -webkit-appearance: none;
            line-height: 25px;
            &:hover, &:focus {
              cursor: pointer;
            }
          }
          .fa {
            position: absolute;
            top: 0;
            right: 10px;
            line-height: 50px;
          }
        }
        span.date-dividier {
          display: inline-block;
          float: left;
          width: 10%;
          text-align: center;
          line-height: 50px;
          font-size: 20px;
          font-weight: 100;
          margin-top: 5px;
        }
      }
    }

    .cvv {
      div.ng-scope {
        position: absolute;
        width: 100%;
        bottom: 19px;
      }
      .form-control {
        width: 50%;
        float: left;
        margin-right: 10%;
      }
      span.cvv-desc {
        float: left;
        width: 40%;
        margin-top: 5px;
        h5 {
          @extend .left-wide;
          font-size: 12px;
          font-weight: 600;
          margin-bottom: 4px;
          line-height: 1;
        }
        p {
          @extend .left-wide;
          font-size: 11px;
          font-weight: 400;
          line-height: 1.2;
          margin-bottom: 0;
        }
      }
    }

    p {
      margin-bottom: 20px;
      a {
        font-weight: 600;
        text-decoration: underline;
      }
    }

    p.valdr-message{
      border: none;
      color: $red;
      position: absolute;
    }
    .input-sec {
      width: 50%;
      margin: 10px 0 30px;
    }

    .selected-partner {
      @extend .left-wide;
      margin-bottom: 10px;
      label {
        @extend .left-wide;
        span {
          margin-right: 30px;
          // width: 30%;
          display: inline-block;
        }
        img {
          height: 40px;
          display: inline-block;
        }
      }
    }
  }

  /* Right Content */
  .right-content {
    padding-right: 0;
    .add-space {
      width: 100%;
      height: 28vh;
    }
    /* Notifications */
    .notification {
      @extend .left-wide;
      margin-bottom: 20px;
      padding: 25px;
      background: {
        color: $citrine_white;
      }
      border: 1px solid #F5F5DC;
      h4 {
        @extend .left-wide;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      p {
        @extend .left-wide;
        font-size: 14px;
        margin-bottom: 0;
        line-height: 1.5;
      }
    }

    /* Amount */
    .amount {
      @extend .left-wide;
      padding: 15px 25px;
      background: {
        color: #2E7917;
      }
      color: $white;
      text-align: center;
      margin-bottom: 47px;
      margin-top: 94px !important;

      &.binpromo-status {
        margin-top: 154px;
      }

      &.zero-top-margin {
        margin-top: 0px !important;
      }

      &.one-line {
        margin-top: 70px;
      }

      span {
        @extend .left-wide;
        &.smaller-txt {
          font-size: 14px;
          margin-bottom: 10px;
          color: $white;
          text-align: left;
          i {
            float: none;
            text-align: center;
          }
        }
        &.small-txt {
          font-size: 19px;
          //margin-bottom: 10px;
        }
        &.big-txt {
          font-size: 24px;
          i {
            font-weight: 600;
          }
        }
      }
      .admin-fee-label, .admin-fee-content{
          width: auto;
          text-align: center;
      }
      .admin-fee-text-length {
		  max-width: 125px !important;
		  white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
	  }
    }

    /* Captcha Form */
    .captcha-form {
      @extend .left-wide;
      margin-bottom: 20px;
      padding: 10px 25px 20px;
      background: {
        color: $citrine_white;
      }
      border: 1px solid #F5F5DC;
      span {
        @extend .left-wide;
      }
      .captcha-key {
        margin-bottom: 15px;
        position: relative;
        img {
          height: 45px;
        }
        .refresh {
          position: absolute;
          right: 0;
          top: 5px;
          background: {
            image: url(../images/misc/refresh.png);
            size: contain;
            repeat: no-repeat;
            position: center;
          }
          height: 20px;
          width: 20px;
          cursor: pointer;
        }
      }
      input {
        height: 42px;
        line-height: 42px;
        font-size: 14px;
        font-weight: 400;
      }
    }

    /* Submit */
    .submit {
      @extend .left-wide;
      margin-bottom: 20px;
      button {
        width: 100%;
      }
    }

    /* Cetificates */
    .certificates {
      @extend .left-wide;
      display: table;
      text-align: center;
      span {
        display: table-cell;
        padding: 0 10px;
        img {
          max-width: 95%;
        }
      }
    }
  }

  /* Master Card Details */
  .master-card-details {
      .align-input .row{
          margin-left: 0px !important;
      }
  }
}

/*=====  End of Payment Details  ======*/


/*=======================================
=           Payment Breakdown           =
=======================================*/
.reservation-details-payment-summary {
  padding:20px 0;
  border-top:1px solid #ededef;
  width: 75%;

  td:nth-child(n+2) {
    width: 18%;
  }

  h2 {
    width:100%;
  }

  .detail-toggle {
    cursor:pointer;
    font-size: 13px
  }
}
/*===== End of Payment Breakdown ======*/
.payment-total{
    width:60% !important; 
}
.payment-total-amount{
    width: auto !important
}
.payment-total-number{
    float: right;
}

@media only screen and (max-width: 767px) {
    .payment-details .right-content .amount span.smaller-txt{
        color: #ccc;
    }
    .payments{
        margin-left: 0px;
    }
    .payment-details .left-content .expire-row .security-code{
        width: 30%;
    }
}
@media only screen and (max-width: 992px) {
    .payments{
        margin-left: 0px;
    }
    .pding-l-none{
        padding-left: 0px;
    }
    .xs-notcreate-page-title{
        margin-left: 0px !important;
    }
    .airewards-points .text{
        font-size: 20px;
    }
}

.card-animation-none {
	transition: none;
}

/*========================================
   = Mobile Responsive Payment.tpl.html   =
    ========================================*/
.pmtSpecialMsgs{
        padding : 10px;
}  
.gift-hight {
		height: 45px !important;
    line-height:23px !important;
    border-top: none;
}
/*===== End of Mobile Responsive Payment ======*/