.pending{
    opacity:0.5;
}
.xs-li-3{
    width : 37.5% !important;
}

#xs-li-logo{
    width : 100% !important;
    padding-bottom: 13px !important;
    padding-top: 13px !important;

}
.sm-li-logo{
    width : 28% !important;
}
#md-page-title{
    padding-left:10px;
}
@media only screen and (max-width: 900px) {
    .LTR header {
        ul li a span {
            font-size: 12px !important;
            width: 95% !important;
        }
    }
}
@media only screen and (min-width:768px) and (max-width: 950px) {
    #md-page-title{
        line-height: 25px !important;
        font-size: 19px !important;
        padding-left: 10px !important;
    }	
}
@media only screen and (min-width:800px) and (max-width: 950px) {
    .logo img{
        max-width:239px;
    }
}
@media only screen and (min-width:768px) and (max-width: 799px) {
    header {
        ul li a span {
            width: 65px !important;
        }
        .logo img{
            max-width:222px;
        }
    }
    .logo{
        width : 30% !important;
    }
}
@media only screen and (max-width: 767px) {

    .RTL .currancy-type {
        display: inline-block;
        padding: 1px;
        font-size: 1.2rem !important;
        vertical-align: middle !important;
    }
    .RTL .cc-link{
        height:21px;
        i{
            //float: right !important;
            padding-right: 3px !important;
        }
    }
    .xs-msearch{
        font-size:1rem;
/*        color: #4e4e4e !important;*/
    }

    .xs-modify-fa{
        vertical-align: middle;
        font-size:14px;
        padding-left: 2px;
    }
    .RTL .xs-modify-fa{
        margin-top: 0px;
        margin-left: unset;
        margin-right: 3px;
    }

    .cc-link .icon{
        display: none;
    }
    .cc-link i {
        padding:0 !important;
        float: left;
        margin-top: 4px !important;
        vertical-align: top;
    }
    .LTR header {
        ul li.current {
            background-color: #fff !important;
            span,a {
                font-size: 1.6rem !important;
                color:#000 !important;
                i{
                    color:#000 !important;
                }
                i.number{
                    font-size: 1rem !important;
                    float: left;
                    width: 16px !important;
                    height: 16px !important;
                    line-height: 12px !important;
                    border: 1px solid #4a4a4a !important; 
                }
            }
        }

        .xs-menu{            
            > ul li{
                float:none !important;
                i{
                    font-size:1.6rem !important;
                    font-weight: bold;
                    line-height: 20px !important;
                }            
                span{
                    font-size:1.6rem !important;
                    font-weight: bold;
                    line-height: 20px !important;                    
                    white-space: nowrap;                    
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .page-title{
                width: 100% !important;                
            }
        }
        .create-flow-header {
            max-width: 40vw !important;
        }
        .create-flow-header-addons {
            max-width: 49vw !important;
        }
        .modify-flow-header {
            max-width: 90vw !important;
        }
        #xs-logo-img{
            width: 33.33% !important; 
        }
        ul:first-child li:not(.logo) table td{
            line-height: 20px !important;
            height:40px !important;
        }
        ul:first-child li:not(.logo) table td:nth-child(1){
            width:10%;
        }
        ul:first-child li:not(.logo) table td:nth-child(2){
            width:90%;
        }
        ul li#search a{
            float:left !important;	
        }
        height: auto !important;
        .xs-msearch{
            max-width: 85%;
            width: auto;
        }
        ul li a {
            width:100%;
            span {
                font-size: 1.2rem !important;
            }
        }        
    }
    .RTL header {
        ul li.current {
            background-color: #fff !important;
            float:right !important;
            span,a {
                font-size: 1.6rem !important;
                color:#000 !important;
                font-weight: bold;
                line-height: 20px !important;                
                white-space: nowrap;                    
                overflow: hidden;
                text-overflow: ellipsis;
                i{
                    color:#000 !important;
                }
                i.number{
                    font-size: 1rem !important;
                    //   float: left;
                    width: 16px !important;
                    height: 16px !important;
                    line-height: 12px !important;
                    border: 1px solid #000 !important;
                }
            }
        }
        ul:first-child li:not(.logo) table td{
            height:40px !important;
            line-height: 20px !important;
        }
        height: 90px !important;

        .create-flow-header {
            max-width: 40vw !important;
        }
        .create-flow-header-addons {
            max-width: 49vw !important;
        }
        .modify-flow-header {
            max-width: 90vw !important;
        }
        .xs-msearch{
            width: auto !important;
        }
    }
    header {
        .xs-menu{
            margin:0 !important;               
        }
        ul li{
        }
    }
    #header-title{
        max-height: 40px !important;
        >li {
            max-height: 40px !important;
            height: 40px !important;
        }
    }

    header ul li:not(.logo) {
        max-height: 55px !important;
    }
    .xs-li-logo span{
        display: block;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        img{
            height: 24px !important;
            width: 120px !important;
        }
    }
    .xs-hidden-nav {
        display : none !important;
    }
    .LTR .xs-hidden-progress-header {
        height : 50px !important;
    }
    .icon-done{
        float:left;
    }
    .RTL{
        .xs-hidden-progress-header {
            height : 50px !important;
        }
    }
    .modify-search-currency {
        .modify-search-currency {
            #td-selectFare-ModifySearch {
                .btn-selectFare-ModifySearch-chi {
                    width: auto !important;
                    vertical-align: middle;
                    height: 25px;
                }
                .xs-modify-fa {
                    line-height: inherit !important;
                    vertical-align: middle;
                    height: 25px;
                }
            }
            .cc-link {
                margin-top: 2px;
                i{
                    font-size: 14px;
                }
            }

        }
    }
}
