
.meal-pref-block{
	.data{
		padding-top:10px;
	}
}
.all-heading-sub-text{
	margin-bottom:35px;
	font-size: 14px;
}
.seat-checkbox-margin{
	margin-bottom: 10px;
	&:nth-child(7){
		margin-bottom: 25px;
	}
}
//Save Preference meal buttons
.btn-wrap{
	a{
		&.save-pref-meal-btn{
			width:90%;
			margin: auto;
		}
	}
}
button{
	&.save-pref-meal-btn{
		width:90%;
		margin: auto;
	}
}

.heading-seat{
	padding-top: 30px;
	color : $red;
	padding-bottom: 35px;
	font-style: normal;
	font-stretch: normal;
	font-weight:600;
	font-size: 18px;
}
.heading-seat-2{
	padding-bottom: 35px;
	font-weight:bold;
	font-size: 24px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
}
.heading-seat-3{
	padding-bottom: 5px;
	font-size: 24px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
}
.meal-cart-header {
	color: #ffffff;
	background-color: #4E4E4E;
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	padding-top: 15px;
	padding-bottom: 15px;
}

.meal-cart-content {
	padding: 15px 0;
	background: #e8e8e8;
}

.meal-cart-content ul {
	list-style: none;
	padding-left: 0;
	display: inline-block;
	margin-bottom: 0;
	width: 100%;
}

.meal-cart-content ul li {
	padding: 10px 0;
}

label.preferred-meal-head {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
}

label.preferred-meal-type {
	font-size: 11px;
}

.selected-cat {
	margin-left: -20px;
}
.selected-cat .col-md-2 {
	padding: 5px 5px;
}

/* .mealbutton .selected-cat.col-md-8.display {
	width: 66.67%;
} */
 .mealbutton .selected-cat.col-md-8.display {
	 margin: auto!important;
	 padding: 0!important;
}
.search-row{
	margin-bottom: 10px;
}
.meals-search-box-styles {
	margin: auto!important;
	padding-left: 5px!important;
	padding-right: 5px!important;
	padding-bottom: 0!important;
	padding-top: 0!important;
}

.options {
	button{
		&.add-meal-pref{
			font-weight: 600;
		}
	}
}

.pagination-wrapper.mealpagination {
	display: block !important;
}

.pagination-width {
	margin-right: -10px!important;
	margin-left: -10px!important;
	padding-bottom: 35px !important;
	width: 103%!important;
	border-bottom: 1px dotted rgba(78, 78, 78, 0.2);
}

.seat-pagination.pagination{
		margin-left: -20px;
		
			 li{
				 &.active{
					a{
						background-color:red;
						border-color: red;
						color:#fff;
						&:hover,&:focus,&:active{
							background-color:red;
							border-color: red;
							color:#fff;
						   }
					}
				}
				  a{
    				position: relative;
   					float: inherit;
   					padding: 3px 0;
   					width: 23px;
   					text-align: center;
   					display: inline-block;
    				text-decoration: none;
    				color: black;
    				background-color: #ddd;
    				margin-right: 7px;
    				&:hover,&:focus,&:active{
			 		background-color:red;
			 		border-color: red;
			 		color:#fff;
					}
					  
				   }
				   &:last-child{a{margin-right: 0px;}}
				}
			}
.display-preference-meals{
	padding-right: 5px;
}
.container-chkbox {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 5px;
	padding-bottom: 10px;
	cursor: pointer;
	font-size: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.container-chkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: -1px;
	left: 0;
	height: 25px;
	width: 25px;
	border-radius: 100%;
	border: 1px solid #888;
	background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.container-chkbox input:checked ~ .checkmark {
	background-color: #7ED321;
	border-color: #7ED321;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container-chkbox input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container-chkbox .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 1px 1px 0;
	-webkit-transform: rotate(33deg);
	-ms-transform: rotate(33deg);
	transform: rotate(33deg);
}

.button-preferred{
	margin-left: 55px;
	background-color: #d90000;
    color: #ffffff;	
    padding: 0 15px;
    display: block;
    border-radius: 0;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    font-weight: 600;
    min-width: 140px;
    text-align: center;
    cursor: pointer;
    max-width: 100%;

}

.note-meal{

	padding: 12px 0px;
	width: 89%;
	margin: auto;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

table{
	&.table-pref-meal{
		margin-bottom: 0px;
		tbody{
			tr{
				&:last-child{
					border-bottom: 1px solid #aeb3ba;
					padding-bottom: 10px;
					height: 50px;
					td{
						&:first-child{
							padding-bottom: 23px !important;
							text-align: center;
							vertical-align: top;
						}
					}
				}
		
				td{
					border:none;
					&:first-child{
						padding-bottom: 7px !important;
						text-align: center;
						vertical-align: bottom;
					}
					&:nth-child(2){
						text-align: left;
	
					}
					.trash-icon-meal{
						opacity: 0.67;
						color: #9b9b9b;
						cursor: pointer;
					}
				}
			
				
			}
		}
	}
	
	
}

.disactive{
    span{
	    background: #4E4E4E !important;
    	color: #fff !important;
    	&:before{
    		content: "\e909";
    		font-family: 'icomoon';
    		padding-right: 5px;
    	}
    }
}

.search{
	margin-left: -20px;
}
@media only screen and (max-width: 767px){
	.icon-minus:before {
    	content: "\e92e";
	}
	.preferred-meals-list{
		.panel-group .panel-default .panel-heading{
			padding-top: 0;
			padding-left: 0;
			padding-right: 0;
		}
		.panel-default .collapse.in{
			display: inline-block !important;
			width: 100%;
		}
	}
	.xs-edit-class{
		height: 30px !important;
    	color: $primery_color !important;
    	background: transparent !important;
    	width: auto !important;
    	text-align: right !important;
    	padding-right: 0 !important;
	}
    .xs-meal-preference{
        .heading-seat-3{
            margin-bottom: 20px !important;
		}
		.save-pref-meal{
			margin-top: 20px;
			width: 1000%;
			padding: 0px 15px;
		}
        padding: 0 !important;
        uib-accordion.segment-list .panel-default > .panel-heading + .panel-collapse .panel-body{
            .meal-block{
                margin: 0px !important;
                padding: 5px 0 !important;
                .image{
                    padding: 0 !important;
                }
                .data{
                    .options{
                        min-height: 1px !important;
                        .button{
                            position: relative !important;
                            min-height: 1px !important;
                        }
                    } 
                    .mealcost-section{
                        display: inline-block !important;
                    }
                }
                .meals-qty-dropdown{
                    li{
                        display: inline-block !important;
                        width: 100% !important;
                        padding: 7px 0px !important;
                        .add{
                            width: 8% !important;
                            font-size: 1.6rem !important;
                            float: left;
                        }
                    }
                    .check{
                        width: 75% !important;
                    }
                    form{
                        //width: 25% !important;
                       // text-align: right !important;
                        display: inline-block !important;
                        input{
                            width: 10% !important;
                            text-align: center !important;
                            margin-left: 4px !Important;
                            margin-right: 4px !important;
                        }
                    }
                }
            }
            .meal-block:first-child{
                // margin-top: 10px !important;
            }
        }
    }
    .meal-cart-content{
        .table>tbody>tr>.preferred-meal-quantity{
            text-align: right !important;
        }
        .note-no-meals{
            margin: 0 0 20px 16px;
        }
    }
}
@media screen and (max-width: 367px){
	.heading-seat{
		padding-top: 20px;
		padding-bottom: 25px;
	}
	.heading-seat-2{
		padding-bottom: 25px;
	}
	.heading-seat-3 {
		text-align: center;
	}
	.all-heading-sub-text{
		margin-bottom:25px;
		font-size: 14px;
	}
	.search{
		margin-left:0;

	}
	.container-chkbox{
		padding-bottom: 0px;

	}
	//Save Preference meal buttons
	.btn-wrap{
		a{
			&.save-pref-meal-btn{
				width:100%;
				margin: auto;
			}
		}
	}
	.seat-pagination.pagination{
		margin-left:0;
		width:100%;
		.pagination-wrapper{
			display:flex;
			flex-wrap: wrap;
			justify-content: center;
			&.pagination>li{
				padding: 4px;
				a{
					margin-right: 0;
				}
			}
		}
	}
}