/*========================================
=            Select Passenger            =
========================================*/

.select-passenger{
	@extend .left-wide;
	clear: both;
	border-top: 1px solid #ededef;
	border-bottom: 1px solid #ededef;
	margin-bottom: 0;

	.heading{
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 0;
	}

	// Passengers List
	.passengers-list{
		padding-right: 0;
		margin-top: -1px;
		float: left;
		@extend .no-select;
		@media screen and (max-width: 990px) {
			width: 25%;
		}

		.inner{
			@extend .left-wide;
			//border: 1px solid #ededef;
			border-left: 0 solid #ededef;
			border-bottom: none;
			background: {
				color: $white;
			}
			color: $gray-5;
			padding: 0 0 16px;
			min-height: 326px;
		}

		.heading{
			@extend .left-wide;
			height: 0;
			line-height: 62px;
			padding: 0 30px;
			background: $site_primary_color;
		}

		ul{
			@extend .left-wide;
			padding: 0;
			margin: 0;
			li{
				@extend .left-wide;
				list-style: none;
				font-weight: 600;
				position: relative;
				cursor: pointer;
				span{
					label{
						padding: 12px 30px;
						font-weight: 600;
						font-size: 14px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
				&.active-pax{
					color: $white;
					background: {
						color: $secondery_color;
					}
					&:after{
						content: "";
						position: absolute;
						width: 0;
						height: 0;
						right: -14px;
						margin-top: -1px;
						border-top: 23px solid transparent;
						border-bottom: 23px solid transparent;
						border-left: 15px solid $secondery_color;
						z-index: 1;
					}
					span{
						label{
							padding: 12px 30px;
							font-weight: 600;
							font-size: 14px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}
				}
				label{
					margin: 0;
					input{}
				}
				span{}
			}
		}
	}

	// Passenger Information
	.passengers-information{
		padding-right: 0;
		float: left;
		border-left: 1px solid #ededed;
		
		.airwards-wrapper{
			.valdr-message{
				position: absolute;
			}
		}

		@media screen and (max-width: 990px) {
			width: 75%;
		}
        .lms-status-wrapper{
          position: relative;
          top: -25px;
          .lms-status{
            line-height: 10px;
            font-weight: 500;
            color: $red;
          }
        }
        .airewards-hint{
          font-size: 12px;
          color: $red;
        }
		.heading{
			@extend .left-wide;
			height: 41px;
			line-height: 41px;
			padding: 0 15px;
			font-weight: 600;
			margin-bottom: 22px;
			margin-top: 10px;
			.info{
				font-style: normal;
				float: right;
				font-size: 12px;
				line-height: 47px;
				font-weight: 400;
			}
		}	
		

		.row{
			padding: 0;
            margin: 0;
		}

		.pax-row{
			padding-bottom:45px;
          div{
            margin-bottom: 0px;
			  
          }
		  .form-group{
		  	margin-bottom: 15px !important;
		  }
		}

		.placeholder{
			padding: 0 15px !important;
			line-height: 50px;
			color: $black;
			font-weight: 400;
			font-size: 14px;
			.placeholder-icon{
				margin-left: 3px;
			}
		}

		.ibe-drop-down{
			.dropdown-toggle{
				padding: 0 5px;
			}
			.dp-caption-salutation{
				padding-left: 15px;
				text-align:left;
			  }
			.dp-caption{
				position: absolute;
				top: 0;
				width: 195px;
				text-overflow: ellipsis;
				padding: 0 15px 0 10px;
				line-height: 50px;
				color: $black;
				font-weight: 400;
				font-size: 14px;
			}
			.fa{
				position: absolute;
				top: 0;
				right: 20px;
				line-height: 50px;
			}
		}
	}
	@media only screen and (max-width:767px){
		.select-passenger{
			.passengers-information{
				.ibe-drop-down{
					.dp-caption{
						width: auto;
					}
				}
			}	
		}

		.passengers-information{
			.airwards-wrapper .valdr-message{
				position: relative;
			}
		}
		.passengers-list{
			ul.dropdown-menu{
				top: 0px !important;
				position: relative;
				li, li.active{
					background-color: $white !important;
				}
			}
		}
		
	}
        @media only screen and (min-width:768px){
            .ma-bt-4{
                .passenger-detail-backbtn{
                    margin-left: 27%;
                }
                .passenger-detail-continuebtn{
                    margin-right: 1%;
                }
            }
        }
}

#pax-airewards-logo{
	height: 22px;
	margin-bottom: 2px;
}

/*=====  End of Select Passenger  ======*/

