.RTL .ibe-drop-down .btn-group .dp-caption {
    float: right;
    text-align: right;
    direction: ltr
}
.RTL .ibe-drop-down .uib-dropdown-menu.dropdown-menu>li>a {
    text-align: right;
}
.RTL .dashboard-widget .widget-content ol li a:before, .RTL .dashboard-widget .widget-content ul li a:before {
    content: "\f104";
    padding-right: 5px;
    float: right;
}
/*.RTL{
    .fa-angle-left:before {
    content: "\f105";
    }
    .fa-angle-right:before {
        content: "\f104";
    }
}*/
form .form-group .ng-invalid.ng-dirty.valdr-message{
        position: absolute;
}

#signin-section .content-body .inside-content form .ibe-typeahead .sign-in-emailAddressAndPassword {
    .valdr-message {
        top: 73px;
    }  
}
.reg-form .reg-form-section .row{
        min-height: 90px;
    }
@media only screen and (max-width:359px){
    .user-details{
        font-size : 1.2rem !important;
    }
}
@media only screen and (max-width:980px){
    .registration .your-prefs {
        .radio, h4{
            height:auto !important;
            label{
                font-size:14px !important;
                height:30px!important;
            }
            #lbl_register_ensure_mobile{
                line-height:20px !important;
            }
        }
    }
}
@media only screen and (min-width: 768px) and (max-width:991px){
    .login-bar{
        .user-details{
            #user-name-details{
                margin: 0 !important;
                padding: 0 !important;
            }
            >div:nth-child(3){
                padding-left: 20px !important;
            }
            .user-icon {
            	margin-top: 10px;
            	width: auto;
            }
        }
    }
    .reg-form .section.with-sub .section-heading {       
        height: auto !important;        
    }
}
@media only screen and (max-width:767px){
    .rewards-login .tabbed-content #signin-content{
        form .ibe-typeahead {
            margin-bottom: 5px
        }
    }
    .cg-busy{
        /*z-index:9998 !important;*/
    }
    .registration .registration-header p{
        font-size: 1.4rem !important;
        font-weight: normal !important;
        line-height: 1.71 !important;
    }

    .xs-dashboard-widget{
        padding-top : 15px !important;
    }	
    .xs-backtodash{
        text-align : center !important;
    }
    .xs-font-12{
        font-size : 1.2rem !important;
        .section-line{
            hr{
               margin-bottom: 10px !important;
            }
        }
    }
    #signin-section .red-btn{
        width:100% !important;
    }

    .back-to-login-section{
        margin-top:-15px !important;
    }

    .page-banner{        
        background : {
		image : url(../images/misc/reg-banner-mobile.png) !important;
		position: right;
		repeat: no-repeat;
		color: $Westar;
	}
        background-size: 100% 100% !important;
        height: 127px !important;
        .wrap{
            img{
                max-width: 85% !important;
                margin: 30px 0 15px !important;
            }
        }
    }
    .common_reason_for_secQues{
        font-size:1.2rem !important;
        margin-bottom : 10px !important;
    }
    .inside-content .airwards-registration {
        .section {
            padding-bottom: 0 !important;
            margin-bottom: 0 !important;
            .help-txt{
                font-size: 1.2rem !important;
            }
        }
        .with-sub .section-heading{
            height: auto !important;
            div {        
                font-size:1.4rem !important;
                font-weight: 600px !important;
                line-height: 20px !important;
            }
        }
    }
    .reg-form-section{
        padding-bottom: 10px !important;
        margin-bottom: 20px !important;
    }
    .reg-form {
        .section{
            .help-txt{
                position:static !important;
                font-size: 1.4rem !important;
                line-height: 1.71 !important;
                padding-bottom: 0 !important;
                padding-right: 0 !important;
            }
            .section-heading{
                margin-bottom:10px;
                font-size:1.6rem !important;
                font-weight: 600px !important;
                line-height: 20px !important;
                .pull-right{
                    margin-top: 3px !important;
                }
            }
        }
        .with-sub{
            .section-heading{
                /*height: 100px !important;*/
                div{
                    font-size: 1.8rem !important;
                    font-weight: 600px !important;
                    text-align: center !important;
                    line-height: 1.72 !important;
                }
                #log0-airarabia{
                    width: 125px !important;
                    height: 27px !important;
                }
            }
            .section-sub-heading{
                .radio{
                    label{
                        font-size: 1.4rem !important;
                        font-weight: 600 !important;
                    }
                }
            }
        }
        .reg-content{
            .row{                
                padding-bottom: 10px !important;
            }
            .xs-familyhead{
                padding-top: 20px !important;
                .help-txt {
                    padding-right: 0;
                }
            }
        }
    }
    .section-heading{
        .red{
            font-size:1.1rem !important;
        }
    }

    .uib-dropdown-menu{
        z-index:999 !important;
    }

    .reg-content-body{
        .xs-cntry-code-error-div{
            min-height:0 !important;
        }
        .phone-number .row .valdr-message{
            position: static !important;			
        }
    }
    .registration .your-prefs {
        .radio, h4{
            height:auto !important;
            label{
                font-size:1.2rem !important;
                height:25px!important;
            }
            #lbl_register_ensure_mobile{
                line-height:20px !important;
                height: auto !important;
            }
        }
    }
    #lbl_register_service_enhancements{
        text-align:left;
        font-size:1.3rem !important;
    }
    #signin-section .content-body{
        .row{
            margin:0;
            .col-sm-8{
                padding:0;
            }
        }
        padding-top: 15px;
    }
    .registration .content-body{
        padding-top: 15px !important;
    }
    #register{
        //margin-bottom: -42px;
    }

    .xs-full-logo{
        width:100% !important;
    }

    .xs-half-logo{
        width: 50% !important;
        padding-left: 0 !important;
        margin-left: -25px;
    }
    .login-name{
        padding-left: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .dashboard-page-title {               
        span {
            font-size: 1.6rem !important;
            font-weight: 700 !important;
            float: left !important;
            margin: 0 !important;
            line-height: 40px !important;
            padding: 0 !important;
        }
    }

    .user-menu {       
        /*background-color: $color_variation_1 !important;*/
        position: relative !important;
        height: 40px !important;
        padding-top: 10px;
        background-color: #d8d8d8;       
        max-width: 260px;        
        a{
            text-decoration: none;
            .icon-nav-toggle {
                font-size: 2.2rem !important;            
            }

        }

        .fa-caret-down{
            padding-left: 5px !important; 
            position: relative;
            top: -4px;
        }
        .user-profile-dropdown .navigation-dropdown {
            line-height: 35px !important;                 
            height: 35px !important;
        }
        .user-name {                
            font-weight: bold;
            padding-left: 5px !important;
            display: inline-block;
            max-width: 160px;
            //min-width: 80px !important;
            max-height: 20px;                    
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 1.4rem !important;
            font-weight: bold;    
            text-align: right !important;
        }                                  
    }
    .xs-user-details {
        background-color : #d8d8d8 !important;
        border-top: 1px solid #cacfcf;
        padding-bottom: 0px !important;
        margin-bottom: 10px !important;
    }
    .user-details{
        line-height: 24px !important;
        margin-left: -10px;
        margin-right: -10px;        
        width: 100vw !important;
        >div {
            padding: 0 10px !important;
        }       
    }
    .quick-links{            
        max-width: 200px !important;           
    }

    .dropdown-content {
        display: block;
        width: 100% !important;
        /*background: #d8d8d8 none repeat scroll 0% 0%;*/                    
        ul{
            width: 100%;
            margin-bottom: 5px !important;
            margin-top: 5px !important; 	
            padding-left: 0 !important;
            padding-right: 0 !important;
            list-style:none;                
            li{ 
                padding: 7px 0 !important;
                border-top: 2px solid #e0dfdf;
                a{
                    font-size: 1.2rem !important;
                    color:#404142 !important;
                }
            }
        }
    }
    .RTL {
        .registration .your-prefs {
            .radio, h4{
                height:auto !important;
            }
        }
        .user-menu{
            .dropdown-content{
                //width: auto;
                left:0;
                right:unset;
                ul{
                    text-align: left;
                   padding-right: 0;
                }
            }
        }
    }
    .xs-help-txt{
        margin-bottom : 0 !important;
    }
    .xs-country{
        margin-top : 15px !important;
    }
    .section-popup .header{
        height: 0px;
        line-height: 20px;
    }
    .xs-viewreser-head{
        margin-bottom : 15px !important;
    }
    .RTL .user-details >.row > div{
        padding-right: 0px;
    }
    .RTL .xs-help-txt{
        padding-right: 0px !important;
    }
    .valdr-msg-pt{
        padding-top: 5px;
    }
    #regForm .reg-form .section .login-section-heading {
        margin-bottom: 0;
        height: auto !important;        
    }
    .reg-form .section.with-sub .login-section-sub-heading {
            margin-bottom: 0 !important;
        }
        .reg-form .section.with-sub .airewards-section-heading {
            margin-bottom: 0 !important;
        }
        
        .registration-header {
            .content-header {
                .registration-header-title {
                    height: 60px;
                }
            }
        } 
        .reg-form .section .section-radio{
              height: auto !important;
        }
}
@media only screen and (min-width:992px){
    .user-details{
        #user-name-details{
            margin-left: 0 !important;
            margin-right: 0 !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .other-details{
            padding-left: 0px !important;
            padding-right: 0 !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
        #other-details-bottom{
            padding-bottom: 20px !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
        .user-icon {
        	margin-top: 10px;
        	width: auto;
        }
    }
}

