.summary-drawer,
.reservation-drawer{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;

    .price-summary-block {
        width: 45%;
        float: right;
        padding-left: 15px;
    }



    .flights-summary-block {
        float: left;
        width: 55%;
        padding-right: 15px;

        .flight-block {
            float: left;
            width: 100%;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px dotted #E8E8E8;

            &:last-child{
                border-bottom: 0;
                margin-bottom: 0;
                padding-bottom: 0;
            }

            .title {
                float: left;
                width: 100%;
                margin-bottom: 3px;

                label {
                    font-weight: 700;
                }
            }

            > span {
                width: 100%;
                float: left;
                > i{
                    float: left;
                    padding: 0 5px;
                }
                label {
                    //width: 100%;
                    float: left;
                    margin: 0;
                    font-weight: 400;
                    font-size: 11px;
                    i{
                        float: left;
                        //width: 60%;
                    }
                    .i{
                        color: $black;
                        font-weight: 600;
                        float: left;
                        margin-right: 5px;
                        //width: 15%;
                    }
                }
            }
        }
    }

    .drawer-bar {

        cursor:pointer;

        position: relative;
        z-index: 999;

        color: $black;
        background: $light_gray;

        border-top: 3px solid $site_primary_color;
        border-bottom: 3px solid $secondery_color;

        .drawer-icon {
            float: left;
            font-size: 35px;
            padding: 5px 5px 0 0;
        }

        .drawer-bar-title {
            font-weight: 400;
        }
    }

    .drawer-desc {
        position: relative;
        padding: 15px 15px;
        background: $site_back_color;
        border-top: medium solid $site_primary_color;

        @include box-shadow(0, 0px, rgba(0, 0, 0, 0.60), "20px", "0");

        .summary-selection{
            .summary-title{
                padding-right: 40px;
                margin-bottom: 17px;
            }
        }
        .drawer-arrow {
            cursor:pointer;
            top: -15px !important;
        }

        .close-button{
            position: absolute;
            right: 0;
            top: 9px;
            cursor: pointer;
            &:hover{
                color: $red;
            }
        }

        h2 {
            
            padding-top: 0;
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 5px;
            position: relative;
        }

        h3{
            font-size: 14px;
            font-weight: 600;
            margin-top: 8px;
            margin-top: 0px;
            margin-bottom: 10px;
            position: relative;
        }

        h4{
            font-size: 12px;
            font-weight: 400;
            margin-top: 8px;
            margin-top: 0px;
            position: relative;
            padding-bottom: 1px;
            margin-top: 20px;
        }

        a {
            /*float:left;*/
            text-decoration: underline;
            color: inherit !important;
        }

        i.glyphicon{
            float:left;
        }

        .more-flights{
            color: $red !important;
            text-decoration: none;
            font-weight: 600;
            font-size: 11px;
            float: right;
        }

        .plane-icon-trail {
            position: relative;
            top: -4px;
            color: $gray-5;
        }

        .flight-info-scroll{
            max-height:500px;
            overflow-y: auto;
            overflow-x: hidden;
            width: 100%;
            

            .flights-info-block {
                float: right;
                width: 50%;
                padding-left: 15px;
                overflow: auto;
                &#travelfare-flight-info-block{
                    padding-right:27px;
                }
                &.flights-info-block-payment-summary {
                    border-left: none;
                }
                .sector-details .sector-flight-info {


                    .flight-block{
                        float: right;
                        padding-bottom: 10px;

                        .path1{
                            float: left;
                        }
                        .path2{
                            float: left;
                        }

                        h4 {
                            font-size: 16px;
                            font-weight: 400;
                            margin-top: 8px;
                            margin-top: 0px;
                            position: relative;
                            .fare-type{
                                font-size: 14px;
                            }
                        }
                        .flight-no{
                            /*              width: 20%;
                                          float: right;*/

                            > span {
                                float: right;
                                > i{
                                    float: left;
                                    padding: 0 5px;
                                }
                                label {
                                    //width: 100%;
                                    float: right;
                                    margin: 0;
                                    font-weight: 400;
                                    font-size: 11px;
                                    i{
                                        float: left;
                                        font-weight: 600;
                                        font-size: 12px;

                                    }
                                    .i{
                                        color: $black;
                                        font-weight: 600;
                                        float: left;
                                        margin-right: 5px;
                                        //width: 15%;
                                    }
                                }
                            }
                        }
                        .flight-time{
                            width: 80%;
                            float: left;

                            > span {
                                width: 100%;
                                float: right;
                                > i{
                                    float: left;
                                    padding: 0 5px;
                                }
                                label {
                                    //width: 100%;
                                    float: right;
                                    margin: 0;
                                    font-weight: 400;
                                    font-size: 12px;
                                    i{
                                        float: left;

                                    }
                                    .i{
                                        color: $black;
                                        font-weight: 600;
                                        float: right;
                                        margin-left: 5px;
                                        width: 90px;
                                    }
                                }
                            }
                        }

                    }

                }
            }

            .price-info-block {
                width: 50%;
                float: left;
                padding-right: 15px;
                float: left;
                h2{
                    font-size: 20px;
                    font-weight: 400;
                    width: 100%;
                    height: auto;
                    line-height: 1.4;
                    margin-bottom: 15px;
                }
                span.pull-right.in-detail {
                    min-width: 25%;
                }

                .divider{
                    border-color: #999999;
                    margin: 7px auto;
                }

                .total-credit{
                    font-weight: 600;
                    font-size: 15px;
                    margin-bottom: 10px;
                }
            }
        }

        .section-total {
            font-size: 16px;
            font-weight: 600;
            padding: 10px 0;
        }

        .sub-total {
            font-size: 18px;
            padding: 0 0 0px;
            font-weight: 600;

            .amount {
                padding-right: 20px;
            }
        }
    }
    /* busy loader opacity handle in Summary Drawer */
    .cg-busy-backdrop{
        opacity:1;
        background-color: $site_back_color;
    }
    /*Modification Drawer Styles*/
    .flight-info-scroll{
        .charge-container{

            &.title{
                padding-bottom: 10px;
            }

            width: 35%;

            .before-fare{
                float: left;
                text-align: right;
                width: 50%;
            }
            .after-fare{
                float: right;
                text-align: right;
                width : 50%
            }
        }

        .disclaimer{
            p {
                font-size: 12px;
                margin: 10px 0;
            }
        }

        .summary-flight-info {
            .amount {
                min-width:85px;
            }
        }

    }
    .flight-log{
        display: flex;
        flex-direction: row;
        .flights-info-block{
            display: table-cell;
            float: none;
        }
        .price-info-block{
            display: table-cell;
            float: none;
        }

    }



    /* Fare Timeline page Drawer */
    &.fare-timeline-drawer{
        position: static;
        margin-top: 0px;
        float: left;
        width: 100%;
        margin-bottom: 10px;

        .drawer-desc {
            border-top: 0px solid $alto;
            padding: 20px 0 0;
            position: relative;
            background: $white;
            box-shadow:none;

            h2{
                font-size: 24px;
                font-weight: 700;
            }
        }

        .price-summary-block {
            float: left;
            padding: 0 15px 0 0;
            width: 65%;
            position: relative;
        }

        .flights-summary-block{
            padding: 0 0 0 15px;
            float: right;
            width: 30%;
            position: absolute;
            bottom: 20px;
            right: 0px;
        }

        .copyright-text{
            float: left;
            width: 100%;
            margin-bottom: 15px;
        }

        .content-absolute{
            float: left;
            //position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            bottom: 0;
        }
    }

}

//Common components for the summary_drawer
.font-weight-bold {
    font-weight: 600;
}

.font-weight-normal {
    font-weight: normal;
}

.font-color-red {
    color: $site_primary_color
}

.drawer-bar-col {
    font-weight: 600;
    padding: 0 5px;
}

//Drawer arrow base styles
.drawer-arrow {
    background: $site_primary_color;
    color: white;

    width: 25px;
    height: 15px;
    position: relative;
    top: -25px;
    left: -45px;
    right: 0;
    /*margin-left: 100%;*/

    padding: 0;

    span {
        display: block;
    }
}

.summary-drawer-overlay {
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $gray-9;
    opacity: 0.5
}

//Overriding the bootstrap button styles
#btn-proceed-to-passenger {
    padding: 0 15px;
    display: block;
    border-radius: 0;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    font-weight: 600;
    min-width: 100%;
    text-align: center;
    cursor: pointer;
    max-width: 100%;
    //width: 100%;
    border: 0;
    outline: none;
}

.flights-summary-block-continue {
    @extend .left-wide;
    margin-top: 30px;
    padding-right: 27px;
    padding-left:0px;
    .flight-select-payment-option {
        padding-right:19px;
    }
}

//Animation CSS
.fly-in-group {
    @include transition(all 0.2s linear 0s);
    @include transform(translate3d(0, 0, 0));
}

.fly-in-group.ng-enter,
.fly-in-group.ng-leave.ng-leave-active {
    display: block !important;
    @include transform(translate3d(0, 110%, 0));
}

.fly-in-group.ng-leave,
.fly-in-group.ng-enter.ng-enter-active {
    display: block !important;
    @include transform(translate3d(0, 0, 0));
}

.div-plain-icon {
    float: right;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.div-info h4 {
    float: left;
    width: 100%;
}
.sector-details {
    float: left;
    width: 100%;
}

.sector-details .sector-flight-info {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.sector-details .sector-flight-info .flight-block {
    width: 100%;
}

.summary-wrap {
    float: left;
    width: 100%;
    //min-height: 335px;
    text-align: right;

    .pull-right{
        float: left !important;
    }

    .pull-left{
        float: right !important;
    }
}

.summary-wrap.summary-content {
    min-height: 335px;
}
.price-breakdown-lbl{
    text-align: right !important;
}

@media screen and (max-width: 767px) {
    .flights-summary-block-continue {
        padding-right: 15px;
        .summary-fare-padding{
            padding-left: 25px;
        }
    }
    .flights-info-block-payment-summary {
        padding-left: 0px !important;
    }
    .summary-drawer,.reservation-drawer{
        .drawer-desc {
            .flight-info-scroll{
                .flights-info-block {
                    .sector-details .sector-flight-info {
                        .flight-block{
                            .flight-no{
                                width: auto !important;
                                padding: 0;
                            }
                        }
                    }
                }
                .price-info-block {
                    padding-right: 0px;

                    h2{
                        padding-right: 0px;
                    }
                }
            }
        }
    }
/*    .summary-drawer,
    .reservation-drawer{
        .drawer-desc {
            .flight-info-scroll{
                .flights-info-block {
                    padding-left : 0px;
                }
            }
        }
    }*/
}
.drawer-breakup-label{
    padding-right:3%;
}
.drawer-breakup-price{
	padding-left:3%;
}
@media only screen and (max-width: 767px) {
    .summary-drawer{
        .drawer-desc {
            .flight-info-scroll{
                .flight-info-block-container{
                    flex-direction: column;
                }
            }
        }
    }
}