@media only screen and (max-width: 767px) {
	.LTR .voucher-bnnr .voucher-content-pos .Voucher-banner-currency{
		bottom: 0px;
	}
	.LTR .voucher-bnnr .voucher-content-pos .voucher-content button{
		width: 128px;
		position: absolute;
		right: 12px;
	}
	.LTR .voucher-bnnr .main-logo-voucher{
		right: 12px;
	}
	.LTR .voucher-table-padding{
		padding-right: 5px;
		padding-left: 5px;
	}
	.RTL .voucher-table-padding{
		padding-right: 5px;
		padding-left: 5px;
	}
	.voucher-total{
		font-size: 1.6rem;
		color: #4a4a4a;
	}
	.voucher-currency{
		font-size: 1.6rem;
		color: #344252;
		font-weight: 600;
	}
	.voucher-bnnr .voucher-content-pos .voucher-content label{
		font-size: 2rem !important; 
	}
	.voucher-title .page-title{
		font-size: 2rem !important;
		margin-top: 10px !important;
		margin-bottom: 10px;
	}
	.voucher-bnnr{
		margin-top: 0 !important;
		img{
			border-radius: 12%;
		}
	}
	.voucher-bnnr .voucher-content-pos .voucher-content .banner-content{
		width: 175px !important;
	}
	.voucher-bnnr .voucher-content-pos .Voucher-banner-currency{
		margin-top: 93px !important;
    	position: relative !important;
    	vertical-align: bottom;
	    font-size: 20px !important;
	  	.currency-text{
		  	font-weight: normal;
		}
	}
	.heading.customer_title + p{
		margin-bottom: 15px !important;
	}
	.voucher_txtarea{
		border: gray 1px solid;
	}
	.voucher-options{
		.row{
			margin: 0 !important;
		}
	}
	.cardCvv{
		margin-bottom: 0 !important;
		.valdr-message{
		    position: relative;
    		height: 0;
		}
	}
	.checkoutbtn{
		.col-xs-5{	
			width: 40% !important;
		}
		button{
			margin-top: 10px
		}
	}
	.title-row{
		margin: 0 !important;
		>div{
			padding: 0 !important;
		}
	}
	.voucher-title{
		margin: 0 !important;
	    > .col-xs-12{
		 	padding-left: 0px;
		}
	} 
	.LTR .customer_data{
		table{
			margin-left: 0 !important;
			th, td{
				width: auto !important;
			}
		}
		
	}
	.RTL .customer_data{
		table{
			margin-right: 0 !important;
			th, td{
				width: auto !important;
				text-align: right !important;
			}
		}
		
	}
   .number-green {
    	color: #28cf1c !important;
	}
	.custData{
		margin-left: 0 !important;
	}
	.remark-sec{
		margin: 0 !important;
		
	}
	.xs-cname{
		margin-top: 0 !important;
	}
	.customer_data {
		th{
			font-size: 1.2rem !important;
		}
		td{
			font-size: 1rem !important;
		}
	}
	.customer_data .customer_data_element p{
		font-weight: normal !important;
	}
	.RTL header {
    	height: 50px !important;
	}
}
