.LTR{
  @import "voucher_ltr";
}

.RTL{
  @import "voucher_rtl";
}

.not-available-container{
		font-size: 18px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		text-align: left;
		padding-left: 26px;
		padding-right: 6px;
		display: flex;
		justify-content: space-between;
		margin: 8px;
}
.voucher-expire-row{
	lable{
		font-weight: normal;
	}
	.form-control{              
		background-color: #ffffff!important;
				&.security-code-container{
						width:130px;
				}
				&.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required,
				&.ng-pristine.ng-touched.ng-invalid.ng-invalid-required{
						color:grey;
				}
				option{
						color:black;
				}
				option[disabled] {
						color:grey;
				}
				
		
	}
}
form.voucher_cust_detail .col-sm-12 {
	.validation-msg {
		font-size: 12px;
		color: #ed0000;
	}
  	.phone-number .row{
		.col-md-3{
		  	width: 38%;
		}
	  	.col-sm-8{
		  	width: 62%;
		}
	    .col-md-3, .col-sm-8{
		    padding-top: 8px;
		}
	}
  	.mob-no{
	  	padding-left: 8px;
	}
}
form.voucher_cust_detail {
		.left-element{
			width:50%;
	}
	.input-padding{
			width:50%;
	}
}

@media only screen and (max-width: 500px) {
  .cart-header {
	.currency-text.currency {
	  font-size: 24px !important;
	}
  }
  .cart-content {
	.Voucher-currency {
	  .currency-text.currency {
		font-size: 20px !important;
	  }
	}
  }
}