<div class="ng-hide">
    <div style="position: fixed;top: 0;bottom: 0;right: 0;left: 0;background: white;z-index: 9995;"></div>
    <div class="loading-animation">{{loaderText}}
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
            </div>
    </div>
</div>