<?xml version="1.0" encoding="UTF-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <header>
        <subject>Payment link for PNR : $pnr</subject>
    </header>
    <content>
        <body><![CDATA[<html dir="rtl" lang="ar" style="opacity: 1;">
  <head>
    <meta charset="UTF-8" />
    <title>Air Arabia - Fly more!</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" />
    <style type="text/css">[style*='Open Sans'] {
      font-family: 'Open Sans', Arial, sans-serif !important;
      }
      body{
        font-family: 'Open Sans', Arial, sans-serif, 'Open Sans';
        font-weight: 400;
        font-size: 12px;
      }
      a{
        text-decoration: none;
      }
      h4{
        font-weight: 600;
      }
      .menu-zoom table td a{
        font-weight: 700 !important;
      }
      @media only screen and (max-width: 600px){
        .table-responsive{
          width: 100% !important;
        }
        .text-center{
          text-align: center !important;
        }
        .text-center img{
          float: none !important;
        }
        .text-left{
          text-align: right !important;
        }
        .img-responsive{
          width: 100%;
          max-width: 100%;
        }
        img.img-responsive{
          float: right !important;
        }
        .p-0{
          padding: 0px !important;
        }
        .p-10{
          padding: 10px !important;
        }
        .p-l-10{
          padding-right: 10px !important;
        }
        .p-r-10{
          padding-right: 10px !important;
        }
        .p-t-0{
          padding-top: 0px !important;
        }
        .p-r-0{
          padding-right: 0px !important;
        }
        .p-b-0{
          padding-bottom: 0px !important;
        }
        .p-l-0{
          padding-left: 0px !important;
        }
        .sm-25{
          width: 25% !important;
        }
        .sm-50{
          width: 50% !important;
        }
        .fs-24{
          font-size: 24px !important;
        }
        .fs-16{
          font-size: 16px !important;
        }
        .fs-12, .fs-12 tr td p, .fs-12 tr td{
          font-size: 12px !important;
        }
        .fs-10, .fs-10 tr td p{
          font-size: 10px !important;
        }
        .w-auto td{
          width: auto !important;
        }
      }
      @media only screen and (max-width: 599px){
        .menu-zoom{
          padding-left: 10px !important;
        }
      }
      @media (min-width:2733px) and (max-width:4102px){
        .menu-zoom table{
          width: 100% !important;
        }
        .menu-zoom table td{
          text-align: center !important;
        }
      }
      @media (min-width:4103px) and (max-width:5464px){
        .menu-zoom table{
          width: 100% !important;
        }
        .menu-zoom table td{
          text-align: center !important;
        }
      }
    </style>
  </head>
  <body style="">
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="table-responsive" width="600">
      <tbody>

        <tr>
          <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td dir="rtl" class="text-left p-l-10" style="background: #ed0000; padding: 16px 50px 11px 50px;"><a href="http://www.airarabia.com/" target="_blank"><img alt="" class="img-responsive" src="https://static.cdn.responsys.net/i2/responsysimages/content/airarabia/logo.png" style="max-width: 125px;" width="125" /> </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <!-- header --><!-- menu --><!-- banner --><!-- banner-btm -->
        <tr>
          <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td class="text-left p-10" style="text-align: right; padding: 25px 50px;">
                    <p dir="rtl" style="font-size:14px;color: #435464; font-family: Arial, sans-serif, 'Open Sans'; margin: 0; padding: 0;">عزيزى <span style="font-size:13px">$firstName</span>,
                    </p>
                    &nbsp;
                    <p dir="rtl" style="font-size:14px;color: #435464; font-family: Arial, sans-serif, 'Open Sans'; margin: 0; padding: 0;">سنحتفظ بحجزك حتى <span style="font-size:13px"><strong>#if ($days) $days يوم#end #if ($hours) $hours ساعات#end #if ($minutes)$minutes دقيقة#end</strong></span>.</p>
                    &nbsp;
                    <p dir="rtl" style="font-size:14px;color: #435464; font-family: Arial, sans-serif, 'Open Sans'; margin: 0; padding: 0;"><strong>يرجى <a style="color:#ed0000;font-decoration:underline;" href="$payFortPaymentLink"><u>النقر هنا</u></a> لإتمام عملية الدفع وتأكيد الحجز</strong>.
                    </p>
                    &nbsp;
                    <p dir="rtl" style="font-size:14px;color: #435464; font-family: Arial, sans-serif, 'Open Sans'; margin: 0; padding: 0;">يرجى التأكد من إكمال عملية الدفع قبل انتهاء صلاحية الحجز.للاستفسارات يرجى الاتصال <a style="font-weight:bold;color: #435464;" href="www.airarabia.com/call-centre">بمركز خدمة</a> العملاء مع .أطيب التحيات. </p>
                    &nbsp;
                    <p dir="rtl" style="font-size:13px;color: #435464; font-family: Arial, sans-serif, 'Open Sans'; margin: 0; padding: 0;">العربية للطيران</p></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <!-- intro --><!-- heading --><!-- bar --><!-- space -->
        <tr>
          <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
            </table>
          </td>
        </tr>
        <!-- intro --><!-- intro -->

        <!-- footer -->
      </tbody>
    </table>
    <!-- container --></body>
</html>
]]></body>
    </content>
</message>

