<?xml version="1.0" encoding="UTF-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <header>
        <subject>Payment link for PNR : $pnr</subject>
    </header>
    <content>
        <body><![CDATA[<html>     <div>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
            <tbody>

                <tr>
                    <td>
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td style="background:#ed0000;padding:16px 50px 11px"><a href="http://www.airarabia.com/" target="_blank"><img alt="" src="https://static.cdn.responsys.net/i2/responsysimages/content/airarabia/logo.png" style="max-width:125px" width="125"> </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td style="text-align:left;padding:25px 50px">
                                        <p style="font-size:13px;color:#435464;font-family:Arial,sans-serif,&#39;Open Sans&#39;;margin:0;padding:0">Dear $firstName,</p>
                                        <br>
                                        <p style="font-size:13px;color:#435464;font-family:Arial,sans-serif,&#39;Open Sans&#39;;margin:0;padding:0">We will keep your reservation on hold until<strong>#if ($days) $days days#end #if ($hours) $hours hours#end #if ($minutes)$minutes minutes#end</strong>.</p>
                                        <br>
                                        <p style="font-size:13px;color:#435464;font-family:Arial,sans-serif,&#39;Open Sans&#39;;margin:0;padding:0"><strong>Please <a style="color:#ed0000" href="$payFortPaymentLink"><u>click here</u></a> to complete the payment and confirm your reservation.</strong></p>
                                        <br>
                                        <p style="font-size:13px;color:#435464;font-family:Arial,sans-serif,&#39;Open Sans&#39;;margin:0;padding:0">Please ensure that you complete the payment before your reservation expires. For any enquiries, please contact our <a style="font-weight:bold;color:#435464" href="http://www.airarabia.com/call-centre" target="_blank">call center</a>. </p>
                                        <br>
                                        <p style="font-size:13px;color:#435464;font-family:Arial,sans-serif,&#39;Open Sans&#39;;margin:0;padding:0">Sincerely,<br>
                                            $carrierName
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                        </table>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
			</html>
		]]></body>
    </content>
</message>

