<?xml version="1.0" encoding="UTF-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>$commonTemplatingDTO.getCarrierName() Notification</subject>
	</header>
	<content>
		<body><![CDATA[$commonTemplatingDTO.getCarrierName() Customer, Your flight $oldFlightAlertInfoDTO.getFlightNumber() on $oldFlightAlertInfoDTO.getDepartureStringDate("EEE, dd MMM yyyy HH:mm") {$oldFlightAlertInfoDTO.getOriginAptCode()/$oldFlightAlertInfoDTO.getDestinationAptCode()} has changed.#foreach($seg in $newFlightAlertInfoDTO.getChangedSegments())#if($seg.getDepartureTimeLocal())
New departure is on $seg.departureTimeLocal hrs.#end#if($seg.getArrivalTimeLocal())New arrival is on $seg.arrivalTimeLocal hrs.#end#end For further info call $phone.]]></body>		
	</content>
</message>