<?xml version="1.0" encoding="UTF-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>$commonTemplatingDTO.getCarrierName() Booking Change Notification</subject>
	</header>
	<content>
		<body><![CDATA[$commonTemplatingDTO.getCarrierName() 고객님의 새로운 항공편 스케줄 입니다. 예약번호는 PNR:{pnr} 이며 변경된 항공편은 #if($newFlightAlertInfoDTO.getModelNumber()) $newFlightAlertInfoDTO.getFlightNumber() #else $oldFlightAlertInfoDTO.getFlightNumber() #end 마닐라 현지 출발 시간 #if($newFlightAlertInfoDTO.getDepartureDate()) $newFlightAlertInfoDTO.getDepartureStringDate("EEE, dd MMM yyyy HH:mm") #else $oldFlightAlertInfoDTO.getDepartureStringDate("EEE, dd MMM yyyy HH:mm") #end 인천  도착 시간 자세한 문의 예약 발권부로 전화 주시기 바랍니다.  서울 예약 사무소 : $phone.]]></body>		
	</content>
</message>