<?xml version="1.0" encoding="UTF-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>$commonTemplatingDTO.getCarrierName() Notification</subject>
	</header>
	<content>
		<body><![CDATA[$commonTemplatingDTO.getCarrierName() à la clientèle, votre vol sur $oldFlightAlertInfoDTO.getFlightNumber() $oldFlightAlertInfoDTO.getDepartureStringDate("EEE, dd MMM yyyy HH:mm") {$oldFlightAlertInfoDTO.getOriginAptCode()/$oldFlightAlertInfoDTO.getDestinationAptCode()} a changé. Nouveau départ est le $newFlightAlertInfoDTO.getDepartureStringDate("EEE, dd MMM yyyy HH:mm") heures. Pour obtenir de plus d'infos $phone.]]></body>		
	</content>
</message>