/* To Do : Refactor */
html, body {

}
* html{
    overflow-x: hidden;
    overflow-y: auto;
}

.mainPageLoader{
    display:none;
    z-index:9900;
    background:transparent;
    height:70px;
    position:absolute;
    top:50%;
    left:40%;
    width:192px
}
.mainPageLoaderFreame{
    position:absolute;
    background:transparent;
    width:192px;
    height:68px;
    display:block;
    z-index:9900;
}
html, body,  ol,  dd, blockquote, q, h1, h2, h3, h4, h5, h6, form, fieldset, a, div, img, table {
    margin: 0;
    padding: 0;
    border: 0;
    font-family:tahoma;
    font-size: 10pt;
    line-height: 12pt;
}

a:link
{
    COLOR: #134373;
    TEXT-DECORATION: none
}
a:visited
{
    COLOR: #134373;
    TEXT-DECORATION: none
}

UL
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 4px;
}
LI
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 0px;
    margin-left: 15px;
}
label{
    font-family:Verdana,Arial,Helvetica,sans-serif;;
    font-size:11px;
    left:auto;
    color: #737373;
}
.divfont{
    font-family:Verdana,Arial,Helvetica,sans-serif;;
    font-size:11px;
    left:auto;
    color: #737373;
}
font{
    font-family:Verdana,Arial,Helvetica,sans-serif;;
    font-size:11px;
    left:auto;
    color: #737373;
}
.fntDefault{
    font-family:Verdana,Arial,Helvetica,sans-serif;;
    font-size:11px;
    left:auto;
    color: #737373;
}
.even td{background: #e4e4e4! important}
.fntSmallSm{font-size: 9px}
.fntMedium{font-size: 13px}
.appLogo{
    background-image:url(../images/ar/n024_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:697px bottom;
    height:50px;
}
.topBanner{
    border-top: 1px solid #a90000;
    background: #ed0000;
    height: 91px;
    width: 100%;
}

.PageBackGround{background: #ffffff}
.rowSingleGap{
    height:5px;
}
.rowGap{
    height:10px;
}
.defaultRowGap{
    height:25px;
    background: #fff;
}

.defaultRowGapNew{
    height:25px;
    background: #fff;
}

.pnlTopL{
    background-image:url(../images/v3/topL_no_cache.gif);
    background-repeat:no-repeat;
    background-position:left top;
    height:9px;
    width:9px;
}
.pnlTopM{
    background-image:url(../images/v3/top_no_cache.gif);
    background-repeat:repeat-x;
    background-position:center top;
    height:9px;
}
.pnlTopR{
    background-image:url(../images/v3/topR_no_cache.gif);
    background-repeat:no-repeat;
    background-position:right top;
    height:9px;
    width:9px;
}
.pnlMidL{
    background-image: url("../images/v3/midL_no_cache.gif");
    background-position: left top;
    background-repeat: repeat-y;
    width: 9px;
}
.pnlMid{
    background-image: url("../images/v3/mid_no_cache.gif");
    background-repeat: repeat;
}
div.pnlMid{
    border:1px solid #ddd;
    padding:10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.pnlMidR{
    background-image:url(../images/v3/midR_no_cache.gif);
    background-repeat:repeat-y;
    background-position:right top;
    width:9px;
}
.pnlGroupbottom{border-top: 1px solid #e4e4e4;}
.pnlBottomL{
    background-image:url(../images/v3/bottomL_no_cache.gif);
    background-repeat:repeat-x;
    background-position:left bottom;
    height:9px;
    width:9px;
}
.pnlBottomM{
    background-image:url(../images/v3/bottom_no_cache.gif);
    background-repeat:repeat-x;
    background-position:center bottom;
    height:9px;
}
.pnlBottomR{
    background-image:url(../images/v3/bottomR_no_cache.gif);
    background-repeat:no-repeat;
    background-position:right bottom;
    height:9px;
    width:9px;
}
.pnlWidth{

}
.pnlUnderBottom{
    background-image:url(../images/LIbe004N_no_cache.jpg);
    background-repeat:repeat-x;
}
.pnlUnderDown{
    background-image:url(../images/LIbe002_down_no_cache.jpg);
    background-repeat:repeat-x;
}
.pnlWidthLeft{
    width:258px;
}

.pnlUnderBottomR{
    background-image:url(../images/LIbe001_down_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    height:8px;
    width:8px;
}

.pnlBottomTall{
    /*background-image:url(../images/LIbe004_no_cache.jpg);
    background-repeat:repeat-x;
    height:150px;*/
}
.pnlBottomTallCal{
    background-image:url(../images/LIbe003_no_cache.jpg);
    background-repeat:no-repeat;
    background-repeat:repeat-x;
    background-position: 0 100%;
    background-color: #eeeeee;
}
.fntSmall{
    font-size:9px;
}
.fntBold{
    font-weight:bold;
}
.fntItalic{
    font-style: italic;
}
.uppercase {text-transform:uppercase;}
.lowercase {text-transform:lowercase;}
.capitalize {text-transform:capitalize;}

.hdFont{
    font-size:15px;
}
.hdFontColor{
    color:#EE2F27;
}

a u .hdFontColor{cursor: pointer}

.mandatory{
    color: red;
}
.tab1A{
    background-image:url(../images/n034_A_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    height:56px;
    width:200px;
}
.tab1{
    background-image:url(../images/n034_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    height:56px;
    width:200px;
}
.tab2A{
    background-image:url(../images/n035_A_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    height:56px;
    width:220px;
}
.tab2{
    background-image:url(../images/n035_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    height:56px;
    width:220px;
}
.tab3A{
    background-image:url(../images/n036_A_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    height:56px;
    width:200px;
}
.tab3{
    background-image:url(../images/n036_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    height:56px;
    width:200px;
}

select
{
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    height: 18px;
    color: #4E4E4E;
    background-color: #FFFFFF;
    BORDER-RIGHT: thin groove #9D9D9D;
    BORDER-TOP: thin groove #9D9D9D;
    BORDER-LEFT: thin groove #9D9D9D;
    BORDER-BOTTOM: thin groove #9D9D9D;
}

input, textarea{
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    color: #4E4E4E;
    background-color: #FFFFFF;
    BORDER-RIGHT: solid 1px #9D9D9D;
    BORDER-TOP: solid 1px #9D9D9D;
    BORDER-LEFT: solid 1px #9D9D9D;
    BORDER-BOTTOM: solid 1px #9D9D9D;
    padding: 1px;
}
input[type='text']{height:15px}
input[type='radio'], input[type='checkbox']{
    border:0px;
.border:0px;
_border:0px;
.background: transparent;
_background: transparent;
background-color: transparent;
.background-color: transparent;
_background-color: transparent;
}
.clsInput{
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    color: #4E4E4E;
    background-color: #FFFFFF;
    BORDER-RIGHT: thin groove #9D9D9D;
    BORDER-TOP: thin groove #9D9D9D;
    BORDER-LEFT: thin groove #9D9D9D;
    BORDER-BOTTOM: thin groove #9D9D9D;
}
label input
{
    margin:0px;
    font-family: tahoma;
    font-size: 11px;
    color: black;
.margin:-2px;
_margin:-2px;
padding:0px;
background: #ffffff;
}

.Button
{
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    text-align:center;
    text-transform: capitalize;
    color: white;
    background-image: url(../images/n020_no_cache.jpg);  /* lt2 */
    border-top: 0px solid #A65957;
    border-right: 0px solid #A65957;
    border-bottom: 0px solid  #A65957;
    border-left: 0px solid #A65957;
    height: 25px;
    width:74px;
    cursor:pointer;
    background-repeat:no-repeat;
    padding:2px 0 5px 0px;
}
.gridHD{
    background-color:#E52A23;
    height:25px;
}

.AllFlight {
    background-color:#444444;
    font-family:Arial,Helvetica,sans-serif;
}
.tdFareColumnlabel{
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
}
#trTermsNCond{
    border:1px solid #a60000;
}
.AllFlight .gridHD{
    background-color:#444444;
    background-image:url(../images/v3/nonEcomomy-fares_no_cache.jpg);
    height:36px! important;
}
.NotFare{
    background-position: 0 -188px;
}
.AllFlight .gridHD label{
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
}
.thisFls{
    margin-top:10px;
}


.AllFlight .TDthisFls{
    border:1px solid #e4e4e4;
    border-top:0;
}

.gridHDDark{
    background-color:#E32C26;
    height:25px;
}
.gridHDFont{
    color:white;
    font-weight: bold;
}
.thisFls .gridHDFont{
    font-size:11px;
}
.gridHDsub {
    background-color: #333333;
    height: 18px;
}
.lpaneTopL{
    background-image:url(../images/LIbe006_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    height:27px;
    width:11px;
}
.lpaneTopM{
    background-image:url(../images/LIbe007_no_cache.jpg);
    background-repeat:repeat-x;
    background-position:top;
    width:238px;
}
.lpaneTopR{
    background-image:url(../images/LIbe008_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    width:11px;
}
.lpaneMidL{
    background-image:url(../images/LIbe009_no_cache.jpg);
    background-repeat:repeat-y;
    background-position:top;
    width:2px;
}
.lpaneMidM{
    background-color:white;
    width:257px;
}
.lpaneMidR{
    background-image:url(../images/LIbe010_no_cache.jpg);
    background-repeat:repeat-y;
    background-position:top;
    width:1px;
}
.lpaneBotL{
    background-image:url(../images/LIbe011_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    height:18px;
    width:11px;
}
.lpaneBotM{
    background-image:url(../images/LIbe012_no_cache.jpg);
    background-repeat:repeat-x;
    background-position:top;
    width:238px;
}
.lpaneBotR{
    background-image:url(../images/LIbe013_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    width:11px;
}
.navFont{
    font-size:12px;
    vertical-align: middle;
    color:white;
}
.navFontBig{
    font-size:17px;
    vertical-align: middle;
    color:white;
}
.rowColor{
    background-color:white;
}
.rowColorAlternate{
    background-color:#DFDFDF;
}
.bdLeft{
    BORDER-LEFT: solid 1px #DFDFDF;
}
.bdTop{
    BORDER-TOP: solid 1px #DFDFDF;
}
.bdBottom{
    BORDER-BOTTOM: solid 1px #DFDFDF;
}
.bdRight{
    BORDER-RIGHT: solid 1px #DFDFDF;
}
.noPadding{
    padding:0px;
}
.lightGrayHD{
    background-color:#DFDFDF;
    height:25px;
}

.errorControl{
    background-color:#FEFFAF;
}

.fontCapitalize{
    text-transform: capitalize;
}
.ButtonAncilary{
    background-image: url(../images/n200_no_cache.gif);
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    text-align:center;
    text-transform: capitalize;
    color: gray;
    border-top: 0px solid #A65957;
    border-right: 0px solid #A65957;
    border-bottom: 0px solid  #A65957;
    border-left: 0px solid #A65957;
    height: 28px;
    width:174px;
    cursor:pointer;
    background-repeat:no-repeat;
    padding-bottom:2px;
}

.ButtonMeal{
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    text-align:center;
    text-transform: capitalize;
    color: #5A5A5A;
    background-color:transparent;
    background-image: url(../images/n056meal_no_cache.gif);
    border-top: 0px solid #A65957;
    border-right: 0px solid #A65957;
    border-bottom: 0px solid  #A65957;
    border-left: 0px solid #A65957;
    height: 25px;
    width:154px;
    cursor:pointer;
    background-repeat:no-repeat;
}
.availSeat{
    background-image:url('../images/LCAnsi004_no_cache.gif');
    background-repeat:no-repeat;
    height:15px;
    width:20px;
}
.notAvailSeatLC{
    background-image:url('../images/LCAnsi004_lc_no_cache.gif');
    background-repeat:no-repeat;
    height:15px;
    width:20px;
}
.oldSeat{
    background-image:url('../images/LCAnsi001_no_cache.gif');
    background-repeat:no-repeat;
    height:15px;
    width:20px;
}

.notAvailSeat{
    background-image:url('../images/LCAnsi002_no_cache.gif');
    background-repeat:no-repeat;
    height:15px;
    width:20px;
}
.friendsSeat{
	background-image:url('../images/LCAnsi007_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
}
.SltdSeat{
    background-image:url('../images/LCAnsi003_no_cache.gif');
    background-repeat:no-repeat;
    height:15px;
    width:20px;
}
.aisle{
    height:15px;
    width:20px;
}
.exitLeft{
    background-image:url('../images/ANCI_06_no_cache.gif');
    background-position:top center;
    background-repeat:no-repeat;
    width:20px;
    height:39px;
}
.exitRight{
    background-image:url('../images/ANCI_07_no_cache.gif');
    background-position:bottom center;
    background-repeat:no-repeat;
    width:20px;
    height:39px;
}
.window{
    width:20px;
}
.wingRight{
    background-image:url('../images/LCAnsi005_no_cache.jpg');
    background-position:bottom center;
    background-repeat:no-repeat;
    height:65px;
    width:594px;
}
.wingLeft{
    background-image:url('../images/LCAnsi006_no_cache.jpg');
    background-position:top center;
    background-repeat:no-repeat;
    height:65px;
    width:594px;
}
.tblSeatMapContainer table,a,img,span{
    font-size: 8pt;
}
.fntSmaller {
    font-size: 8pt;
}
.noTextDec{
    text-decoration:none;
}
.textDec{
    text-decoration:underline;
}
.seatTT{
    opacity: 1;
    filter: alpha(opacity=100);
}
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.tabBG{
    background-image:url('../images/LIbe016_no_cache.jpg');
    height:27px;
}
.tabSltd{
    background-image:url('../images/LIbe015_no_cache.jpg');
    background-repeat:no-repeat;
    background-position: 100% -1px;
    height:27px;
    padding:0 6px;
    width:130px;
    background-color: #df2824;
}
.tabNotSltd{
    background-image:url('../images/LIbe014_no_cache.jpg');
    background-repeat:no-repeat;
    background-position: 100% 0;
    height:27px;
    padding:0 6px;
    width:130px;
    background-color: #cecece;
}
.newTabStyle{height: 27px;overflow: hidden;}
.tabSltd p {display: block;line-height: 17px;margin-top: 3px;overflow: hidden;height: 17px;text-align: left;white-space: nowrap;width:127px}
.tabNotSltd p{display: block;line-height: 17px;margin-top: 3px;overflow: hidden;height: 17px;text-align: left;white-space: nowrap;width:127px}

.cursorPointer{
    cursor:pointer;
}
.progressBG {
    background-color:#FA0101;
}
.fntDefaultWhite{
    color:white;
}
.MandatoryGrid{
    color: white;
}
.paddingL5{
    padding-left: 5px;
}
.paddingR5{
    padding-right: 5px;
}
.paddingL3{
    padding-left: 3px;
}

.Gridwt {
    background-color:#FFFFFF;
    height:20px;
}

.GridTable
{
    background-color:#DFDFDF;
    border-color:#DFDFDF;
}
.TDthisFls .GridTable
{
    background-color:transparent;
    border-color:#DFDFDF;
}
.tblBgLeft{
    background-image:url(../images/n019_no_cache.jpg);
    background-repeat:repeat-x;
    background-position:top;
}
.tblBgRight{
    background-image:url(../images/n019_no_cache.jpg);
    background-repeat:repeat-x;
    background-position:top;
}
.ButtonLarge{
    cursor:pointer;
}
.ButtonLargeDisable{
    cursor:default;
}
.ButtonLargeDisable td.buttonMiddle{
    color:#666! important;
}
.ButtonDefaultDisable{
    cursor:default;
}
.ButtonDefaultDisable td.buttonMiddle{
    color:#666! important;
}
.pnlBg{
    background-image:url(../images/LIbe004_no_cache.jpg);
    background-repeat:repeat-x;
}
.alignRight{
    text-align:right;
}
.alignLeft{
    text-align:left;
}
.fntRed{
    font-weight: bold;
    color: #E82B25;
}
.fntRed a{
    font-weight: bold;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    color: #E82B25;
}

.fntGrey{
    color: #737373;
}

.fntGrey a{
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    color: #737373;
}

.fareSelSidePanel{
    width:260px;  /* lt2 */
}
.searchCritira{
    display:block;width:230px;margin: 0 auto;
}
.searchCritira div{padding: 2px 0}
.powerdBy{
    background-image:url(../images/n024_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:bottom;
}
.pTopL{
    background-image:url(../images/n025_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    height:27px;
    width:11px;
}
.pTopM{
    background-image:url(../images/n026_no_cache.jpg);
    background-repeat:repeat-x;
    background-position:top;
    height:27px;
    width: 60px;
}
.pTopR{
    background-image:url(../images/n027_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    height:27px;
    width:11px;
}
.pMidL{
    background-image:url(../images/n028_no_cache.jpg);
    background-repeat:repeat-y;
    background-position:top;
    width:2px;
}
.pMidM{
    background-image:url(../images/n033_no_cache.jpg);
    background-repeat:repeat-x;
    background-position:top;
    background-color:#fff;
}
.pMidR{
    background-image:url(../images/n029_no_cache.jpg);
    background-repeat:repeat-y;
    background-position:top;
    width:2px;
}

.pBotL{
    background: url(../images/n028_no_cache.jpg) repeat-y scroll 0 0 #F1F1F1;
    height:10px;
    width:2px;
    border:0;
    border-bottom: 1px solid #e4e4e4;
}
.pBotM{
    background: none repeat scroll 0 0 #F1F1F1;
    height:5px;
    width:11px;
    border:0;
    border-bottom: 1px solid #e4e4e4;
    height:5px;
}
.pBotR{
    background: url(../images/n029_no_cache.jpg) repeat-y scroll 100% 0 #F1F1F1;
    height:5px;
    width:2px;
    border:0;
    border-bottom: 1px solid #e4e4e4;
}
.pTopDM{
    background-image:url(../images/n048_no_cache.jpg);
    background-repeat:repeat-x;
    background-position:top;
    height:27px;
}
.pTopDR{
    background-image:url(../images/n047_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    height:27px;
    width:11px;
}
.fntWhite{
    color:white;
}
.GridHeaderHighlight{
    background-color:#636363;
    height:20px;
}
.logUserBG{
    background-image:url(../images/n050_no_cache.jpg);
    background-repeat:repeat-x;
    background-position: bottom;
    height:34px;
    background-color: #eaeaea;
}
.logUserCorT {
    background-image:url(../images/n049_no_cache.jpg);
    background-position:top;
    height:34px;
    display: none;
}

.logUserCorB {
    background-image:url(../images/n054_no_cache.jpg);
    background-position:top;
}
.fntBlack{
    color:#636363;
}
.tabUnSltd{
    background-image:url(../images/n053_no_cache.jpg);
    background-repeat:repeat-x;
    background-position:top;
    height:27px;
}

.tabSltdUser{
    background-image:url(../images/n052_no_cache.jpg);
    background-repeat:repeat-x;
    background-position:top;
    height:27px;
}

.tabSltdOver {
    background-image:url("../images/n052_no_cache.jpg");
    background-position:center top;
    background-repeat:repeat-x;
    height:27px;
}
.tabSltdOver label{color: white}

.btnAuxButton
{
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:9px;
    font-weight:bold;
    text-align:center;
    color: red;
    background-color:#efefef;
    background-image: url(../images/n061_no_cache.gif);  /* lt2 */
    border-top: 1px solid #A65957;
    border-right: 1px solid #A65957;
    border-bottom: 1px solid  #A65957;
    border-left: 1px solid #A65957;
    height: 25px;
    cursor:pointer;
    background-repeat:no-repeat;
    padding-bottom:4px;
    padding-left:4px;
    padding-right: 20px;
    background-position: 97% 4px;
    -moz-border-radius:4px 4px 4px 4px;
}
.AuxButtonDisable{
    background-image: url(../images/n056_no_cache.gif);  /* lt2 */
    cursor:default;
    background-color:#ececec;
    background-repeat:no-repeat;
    color: gray;
    cursor:crosshair;
    background-position: 97% 4px;
    padding-right: 20px;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid  #999;
    border-left: 1px solid #999;
    padding-left:4px;
    -moz-border-radius:4px 4px 4px 4px;
}
.tblBGBLEFT{
    background-image:url(../images/n019_no_cache.jpg);
    background-repeat:repeat-x;
    background-position:top;
}
.tblBGBRIGHT{
    background-image:url(../images/n019_no_cache.jpg);
    background-repeat:repeat-x;
    background-position:top;
}

.tblBGT
{
    background-image:url(../images/n018_no_cache.jpg);
    background-repeat:repeat-x;
    background-position:top;
    height:8px;
}
.tblBGTL
{
    background-image:url(../images/n017_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:left top;
    height:8px;
    background-color: #ebebeb;
}

.tblBGTR
{
    background-image:url(../images/n017-1_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:right top;
    width:8px;
    height:8px;
    background-color: #ebebeb;
}
.tblBGB
{
    background-image:url(../images/n019_no_cache.jpg);
    background-repeat:repeat-x;
    background-position:top;
}

.GridHeader
{
    background-color:#E82B25;
    height:20px;
}
.GridItems
{
    background-color:white; /* lt2 */
    height:20px;
}
#fCalOut_FL .GridItems, #fCalIn_FL .GridItems{
    min-height:36px;
    height:auto! important;
    height:36px;
}
.GridDblHighlight{
    height:30px;
}
.GridHighlight
{
    background-color:#EBEBEB;
    height:20px;
}
.SeperateorBGColor{
    /*background-color: #EBEBEB;  lt2 */
}
.btnCredit{
    background-image: url(../images/n022C_no_cache.jpg);  /* lt2 */
    width:104px;
    cursor:pointer;
}

.btnCDisable{
    background-image: url(../images/n023D_no_cache.jpg);  /* lt2 */
    width:104px;
    cursor:default;
}

.ButtonCreditLarge{
    background-image: url(../images/n045C_no_cache.jpg);
    width:173px;
    cursor:pointer;
}

.btnCLargeDisable{
    background-image: url(../images/n046D_no_cache.jpg);
    width:173px;
    cursor:default;
}
.ButtonLargeMedium{
    background-image: url(../images/n022N_no_cache.jpg);  /* lt2 */
    width:134px;
    cursor:pointer;
}
.ButtonMedium{
    background-image: url(../images/n022_no_cache.jpg);  /* lt2 */
    width:104px;
    cursor:pointer;
}

.ButtonMediumDisable{
    background-image: url(../images/n023D_no_cache.jpg);  /* lt2 */
    width:104px;
    cursor:pointer;
}
.hdFont{
    font-size:15px;
}
.setHeight{
    height:18px;
}
.loadingInProgress {filter:alpha(opacity=83);-moz-opacity:.5;opacity:.5;cursor:progress; background-color: #ffffff; height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; z-index: 1000; }

.loadingDone{
    display:block; background:transparent;z-index:1000;
}
.Dots{
    background-image: url(../images/Dot_no_cache.gif);
    height:20px;
}

.readonly_overlay{
    background-color: #FFFFFF;
    opacity: 0.3;
    filter: alpha(opacity=30);
    padding: 0pt !IMPORTANT;
    margin: 0pt !IMPORTANT;
}

.fntCnxSeg{
    text-decoration:line-through;
}

/** JQuery Tooltip**/

#tooltip h3, #tooltip div { margin: 0; font-size: 10px}
#tooltip {
    position: absolute;
    z-index: 3000;
    width:300px
}
#tooltip div.tip-body {
    border: 1px solid #bbb;
    background:#e7e7e7 url(../images/v3/tip_no_cache.jpg) repeat-x scroll 0 -15px;
    padding: 5px;
    -moz-border-radius:3px;
    position: relative;
    top:-1px;
}

#tooltip div.tip-pointer{
    background:url(../images/v3/tipPointer_no_cache.gif) no-repeat scroll 50% 0;
    height: 10px;
    position: relative;
    top:0;
    z-index: 2
}

/* jAlert */
#popup_container{
    font-family: Arial, sans-serif;
    font-size: 12px;
    background: #FFF;
    border: solid 2px #d5241e;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    width: 380px;
    display: none;
    overflow: hidden;
}
.drager {position: relative;z-index: 99999;height: 25px;width:94%;cursor: move;}
#popup_container_frame{
    width: 100%;
    height: 100%;
}

/*
New Style
*/
.flightCalendar{padding-bottom: 0px;}

.newPogressLoading ,.loadingContainer{background:#fff;display: none;}
.inputDate{height: 15px;background: url("../images/Calendar2_no_cache.gif") no-repeat scroll 100% 0;}

.pageName label{color:#EE2F27;font-size:15px;font-weight:bold;text-align: left}

.selecRadio{text-align: left; display: none;}
.selecRadio input{border: 0px; display: none;}

/* Sumarry panle Styles */
.Page-heading table.headerRow{overflow: hidden;height: 50px;display: table;}
.Page-heading table.headerRow td{overflow: hidden;height: 50px}
.Page-heading .headerBG{
    background-image: url("../images/v3/panelBGallV3_no_cache.jpg");
    background-repeat:no-repeat;
}
.Page-heading .hBottom{background-position:0 -102px;background-repeat: repeat-x;height: 27px;}
.Page-heading .hbSide{background-position:0 -136px;background-repeat: repeat-x;height: 27px;width:10px}
.Page-heading .hLeft{background-position:0 0px;background-repeat: repeat-x;width: 10px;height: 27px}
.Page-heading .hCenter{
    background-position:-5px 0px;
    background-repeat: repeat-x;
    height: 27px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}
.Page-heading .hRight{background-position:top right;background-repeat: repeat-x;width: 10px;height: 27px}

.mLeft{
    background-image:url("../images/v3/panel_left_no_cache.jpg");
    background-position:center top;
    background-repeat:repeat-y;
    width:2px;
}
.mCenter{width: 246px;background: #f1f1f1}
.mRight{
    background-image:url("../images/v3/panel_right_no_cache.jpg");
    background-position:center top;
    background-repeat:repeat-y;
    width:2px;
}
.Page-heading table.footerRow{overflow: hidden;height: 15px;display: table;}
.Page-heading .bLeft{background-position:left -55px;background-repeat: repeat-x;width: 10px;border-bottom: 1px solid #cccccc;}
.Page-heading .bCenter{
    background-position:-5px -55px;
    background-repeat: repeat-x;
    padding: 10px 0;
    border-bottom: 1px solid #cccccc;
}
.Page-heading .bRight{background-position:right -55px;background-repeat: repeat-x;width: 10px;border-bottom: 1px solid #cccccc;}


.ui-state-highlight{border: 1px dashed #666;/*height: 100px;width: 100px*/}
.ui-datepicker{border: 1px solid #aaaaaa}
.ui-datepicker-trigger{vertical-align: middle;margin: 1px 2px}
.kisokwelcome{
    color: #fff;font-size: 30px;text-align: center;
    display: block;background: #D3241F;font-weight: bold;padding: 5px 0;
    -moz-border-radius:5px 5px 5px 5px;
}

.rightColumn{width: 680px;background: transparent;margin: 0;padding: 0;margin-right: 8px}
#rightPanel {
    padding-left:10px;
}
#threeDayView{font-size: 13px;cursor: pointer;}
#sevenDayView{font-size: 13px;cursor: pointer;}
/*FixME this is for pathch*/
#specialMsg div{
    text-align: left;list-style: none;
    background-color:#ffffcf;
    opacity: .7;
    filter: alpha(opacity=80);
    border:1px solid #F3F376;
    margin: 0px; padding: 4px;
    font-size: 12px;
    -moz-border-radius:6px;	/* Rounded edges in Firefox */
    font-family: "tahoma", "Lucida Sans Unicode", Arial, sans-serif;
    color:#000;
}
#specialMsg ul li{margin: 0px; padding: 4px;text-align: left;list-style: none;}
.spMsg{
    background-color:#ffffcf;
    opacity: .7;
    filter: alpha(opacity=80);
    border:1px solid #F3F376;
    padding:4px 10px 4px 10px;
    font-size:12px;
    -moz-border-radius:6px;	/* Rounded edges in Firefox */
    font-family: "tahoma", "Lucida Sans Unicode", Arial, sans-serif;
    font-size: 12px;
    color:#000;
}

.spMsg label{
    font-family: "tahoma", "Lucida Sans Unicode", Arial, sans-serif;
    font-size: 12px;
    color:#000;
}
.divSearAnici{

}
.segs-full, .segs-full-baggage{
    width: auto;
    margin: 4px 0px;
}

.NoData{margin: 0px 0px;height: 0}
.clear{clear: both}

.tabBG {
    background:url("../images/LIbe016_no_cache.jpg") repeat-x scroll 0 100%;
    padding: 4px;
}

.segs-full .gridHD, .segs-full-baggage .gridHD{
    background-color:#fff;
    height:25px;
    text-align: left;
}
.segs-full .gridHDFont, .segs-full-baggage .gridHDFont {
    color:#333;
}

.outBoundFlight{float: left;width: 315px;}
.inBoundFlight{float: left;width: 315px;}

.segcodebar{
    margin:0 0 0 1px;
    padding:4px 10px;
    color: #fff;
    background-color:#E32C24;
}

.segcodebar label{font-weight: bold;color: white}
.segs-full .clear-icon{
    background: url("../themes/default/images/jquery/ui-icons_454545_256x240_no_cache.png") no-repeat;
    background-position: -176px -96px;
    height: 15px;
    width: 15px;
    display: inline;
    padding: 0 7px
}
.active .clear-icon{
    background: url("../themes/default/images/jquery/ui-icons_cd0a0a_256x240_no_cache.png") no-repeat;
    background-position: -176px -96px;
    height: 15px;
    width: 15px;
    display: inline;
    padding: 0 7px
}


.buttonset table{width: 100%}
#divSummaryPane, .floater{width: 250px;}

#divSummaryPane .add-padding{padding: 0 8px;}
#divSummaryPane .bookingSummary, #divSummaryPane .paymentSummary{margin-bottom: 8px}
.errorBox{
    padding: 5px;
    border: 1px solid #E72E2C;
    margin-bottom: 8px;
}
.headerBG .setpsTab{display: inline-block;margin-right: 5px}
.setpsTab .hCenter label{font-size: 12px;color: #e4e4e4;font-weight: bold;}
.selected .hCenter label{font-size: 12px;color: #fff;font-weight: bold;}

.mainbody div#sortable-ul{margin: 0;padding: 0}
.mainbody div#sortable-ul div.sortable-child{float: right;}

/********************************** Meals Pop Up **************************************/
.mealloader{background: transparent;}
.mealloader .closethis{float: right}
.mealloader .headerBG {background: url("../images/panelBGall_no_cache.jpg") no-repeat;text-align: left;cursor: move;}
.mealloader .headerBG label{cursor: move;width: 220px;float: left}
.mealloader .hLeft {
    background-position:-1px -1px;
    background-repeat:repeat-x;
    height:24px;
    width:10px;
}
.mealloader .hCenter {
    background-position:0 -30px;
    background-repeat: repeat-x;
    height: 24px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    padding: 2px 0px;
    width:232px;
}
a.selectAici label{text-decoration: underline;cursor: pointer;}
a:hover.selectAici label{text-decoration: underline;color:#E52A23;}
.bigtext{font-size: 14px}
.mealItem {
    background: #fcf6e6;
}
.mealItem td.thumb{
    width:50px;
    vertical-align: top;
}
.mealItem td.name, .mealItem td.description{
    width:340px;
    padding: 2px 6px;
    text-align: left;
    vertical-align: top;
}
.mealItem td.qtyHead, .mealItem td.priceHead{
    background:#d0c9bf;
    width:80px;
    padding: 2px;
    text-align: center;
    vertical-align: top;
}

.mealItem td.qtyBody{
    width:80px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}
.mealItem td.priceBody{
    width:80px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}
.mOverMeal{background: #eae4d4}
.mealSpinner{width:65px;margin: 10px auto}
.mealSpinner div{
    background:url("../images/v3/addred_no_cache.gif") no-repeat;
    cursor: pointer;
}
div.add{
    background-position: 0px 0px;
    width: 11px;
    height: 11px;
}
div.reduse{
    background-position: -14px 0px;
    width: 11px;
    height: 11px;
}
.headeritems{float: left}
#popupHeader td{
    background:url("../images/v3/meal-BreagCrum_no_cache.jpg");
}
#popupHeader td label{color: #ffffff;font-size: 10px;line-height: 15px;}
#popupHeader td.grayBar{
    background-position: 0px -45px;
    height: 15px;
    padding: 0 10px;
}
td.grayBar, td.grayBar label{cursor: pointer;}
#popupHeader td.grayCorner{
    background-position: 0px -15px;
    height: 15px;
    width: 11px;
}
#popupHeader td.redBar{
    background-position: 0px -30px;
    height: 15px;
    padding: 0 10px
}
#popupHeader td.redCorner{
    background-position: 0px 0px;
    height: 15px;
    width: 11px;
}
label.value{width:30px;display:block}
/* meal images */
#bodyitems{background: #ffffff}
.catBlock{
    float: left;
    width: 94px;
    height: 94px;
    margin: 2px;
    border: 1px solid #f1f1f1;
    cursor: pointer;
    background:url("../images/mealCata_no_cache.jpg") no-repeat;
}

a.calClass1 div{
    background-position: 0 0;
}
a:hover.calClass1 div{
    background-position: -94px 0;
}
a.calClass2 div{
    background-position: 0 -94px;
}
a:hover.calClass2 div{
    background-position: -94px -94px;
}
a.calClass3 div{
    background-position: 0 -188px;
}
a:hover.calClass3 div{
    background-position: -94px -188px;
}
a.calClass4 div{
    background-position: 0 -282px;
}
a:hover.calClass4 div{
    background-position: -94px -282px;
}
a.calClass5 div{
    background-position: 0 -376px;
}
a:hover.calClass5 div{
    background-position: -94px -376px;
}
a.calClass6 div{
    background-position: 0 -469px;
}
a:hover.calClass6 div{
    background-position: -94px -469px;
}
a.calClass7 div{
    background-position: 0 -659px;
}
a:hover.calClass7 div{
    background-position: -94px -659px;
}
.firstCat{
    background-position: 0 -564px;
}
.mealMouseOver{opacity:0.6;filter:alpha(opacity=60)}
.mealMenuTable{width:600px}
.mealimage1{height: 70px;width: 120px;background:url("../images/salad_no_cache.jpg") scroll 50% 0 no-repeat;}
.mealimage2{height: 70px;width: 120px;background:url("../images/sandwich_no_cache.jpg") scroll 50% 0 no-repeat;}
.mealimage3{height: 70px;width: 120px;background:url("../images/cafe_no_cache.jpg") scroll 50% 0 no-repeat;}
.mealimage4{height: 70px;width: 120px;background:url("../images/drinks_no_cache.jpg") scroll 50% 0 no-repeat;}
/* meal images */


.anciTable {width: 640px}

.anciTable .first-col{padding: 0 4px}
.mealrow .odd{background:#f4f4f4}

.passengerCol{width: 190px;}
.flightCol{width: 200px;}
.allOtherColl{width: 440px;}
.mealCol{width: 150px;}
.priceCol{width: 80px;}
.clearCol{width: 30px;}

.passengerCol label, .flightCol label, .allOtherColl label, .mealCol label,
.priceCol label, .clearCol label{margin: 0 3px}

.clearMeal{outline: none}
.clearLabel{
    background: url("../images/v3/close_icon_no_cache.jpg") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float:right;
    height: 14px;
    width: 14px
}
a:hover.clearLabel label{cursor: pointer;color: #E82B25;text-decoration: underline;}
.clear-icon{
    background: url("../themes/default/images/jquery/ui-icons_cd0a0a_256x240_no_cache.png") no-repeat;
    background-position: -176px -96px;
    height: 15px;
    width: 15px;
    display: inline;
    padding: 0 7px
}

.zoomer{
    background:#fafafa;
    border:3px solid #333;
    z-index:2000;
    top:0px;
    left:0px;
    width:250px;
}
.zoomer .loadImage{height: 250px}
.zoomer .imgDescription{
    background: #333;
    color: #fff;
    padding: 5px;
    vertical-align: bottom;
}

/*meal accodian */

.accordionWrapper{display:inline-block; background-color:#fff; overflow:hidden;}
.accordionWrapper img{vertical-align:top; border:0; margin:0; padding:0}
.accordionWrapper div{display:inline; float:left; margin:auto;}
.accordionWrapper div.title{cursor:pointer;}
.accordionWrapper div.content{display:none;}

a:hover.clear-icon{
    background: url("../themes/default/images/jquery/ui-icons_454545_256x240_no_cache.png") no-repeat;
    background-position: -176px -96px;
    height: 15px;
    width: 15px;
    display: inline;
    padding: 0 7px
}
.mealBack{
    float: left;
    margin-left: 10px;
}
.mealConfirm{
    float: right;
    margin-right: 10px;
}
/********************************** Meals Pop Up **************************************/

/* Insurance */
#lblInsuranceTNC, #lblInsuranceTNC a{font-size: 9px}

.insCoverInforTable{
    border: 0px solid #AAA;
    background: transparent;
    /*width: 300px;
    display: block;
    margin: 0 auto;*/
}
td.withIcon{padding: 2px 30px}
.insCoverInforTable tbody tr td.withIcon span {
    background:url("../themes/default/images/jquery/ui-icons_cd0a0a_256x240_no_cache.png");
    background-position: -62px -146px;
    padding:0 9px;
    display: inline;
    width: 18px
}
.insCoverInforTable td label{font-weight: bold;}

.insCoverInforTable td.withIcon label{
    color: #626262;
    font-size: 11px
}

/* new Kiosk */
.k-header-left{background:url("../images/k-header-left_no_cache.jpg");height:92px;width:21px}
.k-header-mid{background:url("../images/k-header-mid_no_cache.jpg");height:92px;background-repeat:repeat-x}
.k-header-right{background:url("../images/k-header-right_no_cache.jpg");height:92px;width:21px}
.kiosk-header{background-color:#f9f9f9;}
.kiosk-body{background-color:#f9f9f9}
.kiosk-footer{background-color:#f9f9f9}
.kiosk-top{background:url("../images/kiosk-top-h_no_cache.jpg");height:44px}
.kiosk-bottom{background:url("../images/kiosk-bottom-h_no_cache.jpg");height:38px}
.kiosk-mid{background:url("../images/kiosk-mid-h_no_cache.jpg");height:203px}

.kiosk-title{padding:0 40px;text-align:left}
.kiosk-title label{font-size:13px;font-weight:bold}

.kiosk-welcomnote{text-align:left}
.k-login-label{text-align:right}
.k-login-control{text-align:left}

.kiosk-book-top-left{background:url("../images/k-p-top-left_no_cache.jpg");height:36px;width:17px}
.kiosk-book-top-mid{background:url("../images/k-p-top-mid_no_cache.jpg") scroll 0 1px;height:36px;background-repeat:repeat-x}
.kiosk-book-top-right{background:url("../images/k-p-top-right_no_cache.jpg");height:36px;width:17px}
.kiosk-book-mid-left{background:url("../images/k-p-mid-left_no_cache.jpg");width:17px;background-repeat:repeat-y}
.kiosk-book-mid-mid{background:#ffffff;width:242px}
.kiosk-book-mid-right{background:url("../images/k-p-mid-right_no_cache.jpg");width:17px;background-repeat:repeat-y}
.kiosk-book-bottom-left{background:url("../images/k-p-bottom-left_no_cache.jpg") no-repeat scroll 1px 0;height:36px;width:11px}
.kiosk-book-bottom-mid{background:url("../images/k-p-bottom-mid_no_cache.jpg");height:36px;background-repeat:repeat-x}
.kiosk-book-bottom-right{background:url("../images/k-p-bottom-right_no_cache.jpg") no-repeat scroll 0px 0;height:36px;width:55px}

a.kiosk-button label{
    background:url("../images/k-button_no_cache.gif");
    height:59px;display:block;width:255px;
    line-height:56px;font-size:13px;
    font-weight:bold;color:#333333;
    outline:none;
}
a:hover.kiosk-button label{
    background:url("../images/k-button-h_no_cache.gif");
    height:59px;display:block;width:255px;
    line-height:56px;font-size:13px;
    font-weight:bold;
    color:#FFFFFF;outline:none;
}
/*calendar */
.ui-widget-content {
    /*background:transparent;
    border:0px solid #AAAAAA;*/
    color:#222222;
}


.ui-tabs .ui-tabs-panel {
    background:none repeat scroll 0 0 transparent;
    border-width:0;
    display:block;
    padding:0px;
}
.ui-tabs{padding: 0px}

/******************** process banner start***************/
.StepsTable{
    width: 100%;
    display: block;
    margin: 2px 0px 15px;
}

.stepsItem{
    /*width:163px;*/
    background: url("../images/v3/process_bg_no_cache.jpg") repeat-x scroll 0 0;
}
td.iconCorrect{
    width:20px
}
td.peocess-text{
    font-size: 12px;
    text-align: center;
    width: 127px
}

td.peocess-text font{
    color: #666;
}
.select td.peocess-text font{
    color: #ffffff;
}
td.process-right{
    background: url("../images/v3/right-normal-corner_no_cache.jpg") no-repeat scroll 0 0;
    width:25px;
    height: 50px;
}

.first td.process-left{
    background: url("../images/v3/first-left-normal-corner_no_cache.jpg") no-repeat scroll 0 0;
    width:10px;
    height: 50px;
}

.last td.process-right{
    background: url("../images/v3/last-right-normal-corner_no_cache.jpg") no-repeat scroll 0 0;
    width: 6px;
    height: 50px;
}
.select .first td.process-left{
    background: url("../images/v3/left-Selected-corner_no_cache.jpg") no-repeat scroll 0 0;
    width:8px;
    height: 50px;
}

.select .process-left{
    background: url("../images/v3/selected-right-corner_no_cache.jpg") no-repeat scroll 0 0;
    height: 50px;
    width:23px
}

.select .process-mid{
    background: url("../images/v3/mid-selected_no_cache.jpg") repeat-x scroll 0 0;
    height: 50px;
}

.select .process-right{
    background: url("../images/v3/right-selected-corner_no_cache.jpg") no-repeat scroll 0 0;
    height: 50px;
    width:25px;
}


.select .last td.process-right{
    background: url("../images/v3/last-right-selected-corner_no_cache.jpg") no-repeat scroll 0 0;
    width:6px;
    height: 50px;
}
.selected td.iconCorrect{
    background: url("../images/v3/selecte-done_no_cache.jpg") no-repeat scroll 4px 19px transparent;
}

.last-setected td.process-right{
    width:0px;
}

/******************** process banner end***************/
.hdnavFont  {
    font-size:20px;
}
#tabs1{
    background:none repeat scroll 0 0 transparent;
    border:0 none;
    width: 100%;
}
.paddingCalss{padding:0px 0px}

/*AA Calendar Styles */
.calendar-ul{height:63px}
.calendar-ul li{float: left;}
.leftNavigation{
    float: right; width:auto;
    border-top:1px solid #e4e4e4;
    border-left:1px solid #e4e4e4;
    border-top-left-radius: 4px;
}
.rightNavigation{float: left; width:auto;
    border-top:1px solid #e4e4e4;
    border-right:1px solid #e4e4e4;
    border-top-right-radius: 4px;
}
.cal-header-ul div.cal-one-day {
    background:#cccccc;
    border-width: 0 0 0 1px;
    border-color:#ddd;
    border-style:solid;
    color:#ffffff;
    line-height:20px;
    padding:0 0;
    text-align:center;
}
div.cal-one-day div{
    color:#ffffff;
    border-width: 0 1px 0 0;
    border-color:#bbb;
    border-style:solid;
    height: 20px;
}

.calendar-ul li div.cal-day{
    border-width:0px;
    border-color:#dddddd;
    border-style:solid;
    background: transparent;
}

.flight-body div.cal-indBg{
    background: transparent; /*url(../images/v3/flight-BG_no_cache.jpg) repeat-x scroll 0 35px;*/
    text-align:left! important;
    padding:0 8px;
}
.flightNo{
    background: transparent;
    height:63px;
    position:relative;
    top:15px;
}
.flightNo div.totalValue{
    margin-top: 0px;
    color:#EE2F27 !important;
    font-size: 11px;
    font-weight: normal;

}

.sub-div a {
    height:48px;
    padding:0px 4px;
    line-height: 12px;
    border:0 none;
    background:#F6F6F6 url(../images/v3/next-prev_no_cache.jpg) no-repeat;
}


.flight-body .cal-base {
    -moz-border-radius:0px 0px 0px 0px;
    -moz-border-radius:0px 0px 0px 0px;
    border-width:0 0px 0px 0;
    border-color:#bbb;
    border-style:solid;
    text-align:center;
    height:auto;
    margin: 0px 0px 0px 0px;
}
div.cal-day .flight-body{
    padding: 0px;
    border:0px;
    border-right:0px solid #e4e4e4;
    height:78px;
}
div.cal-day .flight-body div.cal-base {
    background:transparent;
}
.flight-body a{
    display:block;
    height:63px;
    position:relative;
    top:15px;
}
.calendar-ul li div.cal-day img{
    top:25px;
    position:relative;
    display:block;
}
.flight-body a.selected div.cal-base{
    padding: 10px;
    background:transparent;
    border-width: 0 0 1px 0;
    border-color: #444444;
}
.flight-body a:hover.selected div.cal-base{
    padding: 10px;
}
.currLabel{
    font-size:12px;
}
.currValueTotal{
    font-size:12px;
}
.tdFareColumn{
    padding:2px 5px;
}

.flight-body a:hover div.cal-base {
    background:#444444 /*url("../images/v3/cal-selected_no_cache.jpg") no-repeat scroll 0 0*/;
    cursor: pointer;
    border-width: 0 0 1px 0;
    border-color:#444444;
    padding:1px 10px;
    height:48px;
}
.totalValue{
    color: #737373 !important;
    font-size: 11px;
    font-weight: bold;
}
.noFlight, .FlightFull{display: block;}
.minFareValue span, .minFareValue label{display:inline; color:#EE2F27;font-weight:bold}

.selected .minFareValue label, .selected .minFareValue span{
    font-weight:bold;
    color:#ffffff;
}


.flight-body a:hover div.cal-base .minFareValue label, .flight-body a.selected div.cal-base .minFareValue label,
.flight-body a:hover div.cal-base div, a.selected div.cal-base div,
.flight-body a:hover div.cal-base .minFareValue span
{
    color: #ffffff;
}

.lowerstCon{
    display:block;
    height:15px;
}
.tdFareColumn .lowerst{
    display:block;
    color:#EE2F27;
    font-family:arial;
    font-size:9px;
}
.totalValueSelected span{
    font-size:11px;
    color:#737373;
}

.sub-div a:link{
    color:#4b4b4b;
    font-weight: normal;
}
.sub-div a:hover{
    color:#4b4b4b;
}
.sub-div a:hover{
    border:0px solid #7F7F7F;
}
.aligend{
    background:#F6F6F6 url(../images/v3/flight-BG_no_cache.jpg) repeat-x scroll 0px 0px;
    height:63px;
}

.headSelected{background-color: #656565! important}
/* previous Nav */
.cal_previous{
    background-position: 0 0;
    vertical-align: bottom;
    width: 43px;
    background-color: #F6F6F6
}

.cal_previous a {
    background-position: 0 100%;
    display:block;
    text-align: left;
    width:35px;
    overflow: hidden;
}

.cal_previous a:hover{
    background-position: 0 100%;
}

.newCal td{
    background:#f6f6f6;
}

/* next Nev */
.cal_next{
    background-position: 100% 0;
    vertical-align: bottom;
    width: 43px;
}

.cal_next a {
    background-position: 100% 100%;
    display:block;
    text-align:right;
    width: 35px;
    overflow: hidden;
}

.cal_next a:hover{
    background-position: 100% 100%;
}

.sub-div-additional a {
    background:#7F7F7F;
    border:1px solid #AAAAAA;
    color:#fff;
    display:block;
    font-family:arial;
    font-weight:bold;
    line-height:18px;
    outline:medium none;
    padding:0 6px;
    text-decoration:none;
}

.sub-div-additional a:hover{border:1px solid #7F7F7F;color:#efefef;}

.flexibar{
    margin:0;
    text-align: left;
    padding: 0px;
    background: url(../images/v3/flexi-black_no_cache.jpg) no-repeat scroll 100% 100%;
    border: 0px solid #aaa;
    padding-right: 3px
}
.flexibar span{
    display: block;
    background: url(../images/v3/flexi-black_no_cache.jpg) no-repeat scroll 0 100%;
    padding:0px;
}

.flexibar label{
    font-family:Arial,Helvetica,Verdana,sans-serif;
    line-height:18px;
}
.flexi-red-corner{
    background: url(../images/v3/flexi-red_no_cache.jpg) no-repeat scroll 0 0;
    height: 52px;
    padding: 0 10px
}
.flexi-red-arror{
    background: url(../images/v3/flexi-red_no_cache.jpg) no-repeat scroll 100% 0;
    padding: 0 20px 0 0;
}
.flexibar input{
    margin: 0px 5px! important;
    padding: 0px! important;
    vertical-align: bottom! important;
    font-size: 10px;
    _margin: -2px 3px! important;
.margin: -2px 3px! important;
}
.flexibar label{font-size: 10px;color: #ffffff;font-weight: normal;overflow: hidden;white-space: nowrap;}
.flexibar a label{font-weight: normal;text-decoration: underline;color: #ffffff;}
.flexibar label.bigTxt{font-size: 12px;text-transform: uppercase;}
/* Get calendar popup top */
#ui-datepicker-div{z-index: 300;display:none}
#trCabinClass p{margin: 0;padding: 0}

.ButtonBook
{
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    text-align:center;
    text-transform: capitalize;
    color: red;
    background-image: url(../images/ar/Button_Booking_no_cache.gif);
    border-top: 0px solid #A65957;
    border-right: 0px solid #A65957;
    border-bottom: 0px solid  #A65957;
    border-left: 0px solid #A65957;
    height: 25px;
    width:224px;
    cursor:pointer;
    background-repeat:no-repeat;
    padding-bottom:5px;
}
#lblmoreFlexiOut{font-size: 11px}
.outerCal{width: 745px;margin: 6px auto 0px; display:block;}
.outerCal table{
    border-bottom: 0px solid #E4E4E4;
}
.flight-oriented td.gridHD{height: 21px}
h3.label{padding:6px 6px;background: transparent;color: #EE2F27;font-size:12px;}
h3.label .correction{
    color: #EE2F27;
    font-size:12px;
}
/*External Agents Pages Styles */
.recordl td.GridItems{
    background-color:#EBEBEB;
    height:20px;
    FONT-SIZE: 11px;
}
.recordd td.GridItems{
    background-color:#FFFFFF;
    height:20px;
    FONT-SIZE: 11px;
}
.header {
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;;
    font-weight: bold;
    background-color:#E82B25;
    height:20px;
    FONT-SIZE: 11px;
    color: white;

}

.thinBorderT{border-top: 1px solid #E8E6E7;}
.thinBorderB{border-bottom: 1px solid #E8E6E7;}
.thinBorderL{border-left: 1px solid #E8E6E7;}
.thinBorderR{border-right: 1px solid #E8E6E7;}

.thisFls .thinBorderT{border-top: 1px solid #feffff;}
.thisFls .thinBorderB{border-bottom: 1px solid #feffff;}
.thisFls .thinBorderL{border-left: 1px solid #feffff;}
.thisFls .thinBorderR{border-right: 1px solid #feffff;}

.recordtop{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;;
    font-weight:bold;
    background-color:#ECECEC;
    height:20px;
    FONT-SIZE: 10px;
}
.recordtopar{
    font-weight:bolder;
    background-color:#FFFFFF;
    height:20px;
    FONT-SIZE: 14px;
}
.fntArabic{
    font-size:15px;
    font-family: verdana;
}
.fntEnglish{
    font-family: Verdana,Arial,Helvetica,sans-serif;;
    color: #737373;
    cursor:default;
}
.pTopPlainL{
    background-image:url(../images/n025NL_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:1px 0px;
    height:38px;
    width:11px;
}
.pTopPlainM{
    background-image:url(../images/n025NM_no_cache.jpg);
    background-repeat:repeat-x;
    background-position:0px 0px;
    height:38px;
    width:210px;
}
.pTopPlainR{
    background-image:url(../images/n025NR_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:0px 0px;
    height:38px;
    width:11px;
}
.totService{
    display: block;
    width:135px;
    overflow: hidden;
    white-space: normal;
}

.multicityform tr>td{
    height: 30px;
}

/*External Agents Pages Styles */

.reguserSp{border:1px solid #E52A23;}
.reguserSp td{background: transparent;}

/*button span*/
button.isabutton:disabled .buttonMiddle{
    color:#999! important;
}

button.isabutton{
    width:auto;
    padding: 0px;
    margin: 0px;
    overflow: visible;
    background: transparent;
    border: 0! important;
    outline: none;
}
.buttonspan{
    border: 0 none !important;
    cursor: pointer;
    padding: 0px;
}
.buttonMiddle{
    white-space:nowrap;
    font-family:arial;
    font-size: 12px;
    padding: 0px;
    font-weight: bold;
}
.InsConfirm, .InsCancel{
    background: url("../images/n052_no_cache.jpg") repeat-x scroll 0 0;
    -moz-border-radius: 8px; -webkit-border-radius: 8px;
    color:#fff;
    border:1px solid #E02722;
}

/*black buttons*/
.blackStOver td, .backPrevious td, .blackNormal td{
    background: url("../images/v3/black-buton-R_no_cache.png") no-repeat;
}
/*startover*/
.blackStOver td.buttonspan{
    background-position:0 -35px;
    height: 34px;
    padding:0 0 0 27px;
}

.blackStOver td.buttonMiddle{
    background-position:100% 0;
    color: #FFFFFF;
    height: 34px;
    line-height: 34px;
    padding: 0 25px 0 7px;
}

/*backPrevious*/
.backPrevious td.buttonspan{
    background-position:0 -70px;
    height: 34px;
    padding:0 0 0 27px;
}

.backPrevious td.buttonMiddle{
    background-position:100% 0;
    color: #FFFFFF;
    height: 34px;
    line-height: 34px;
    padding: 0 25px 0 7px;
}

/*backNormal*/
.blackNormal td.buttonspan{
    background-position:0 0px;
    height: 34px;
    padding:0 0 0 27px;
}

.blackNormal td.buttonMiddle{
    background-position:100% 0;
    color: #FFFFFF;
    height: 34px;
    line-height: 34px;
    padding: 0 25px 0 7px;
}

/*red buttons*/
.redContinue td, .redNormal td{
    background: url("../images/v3/red-buton-R_no_cache.png") no-repeat;
}
/*redContinue*/
.redContinue td.buttonspan{
    background-position:0 0;
    height: 34px;
    padding:0 0 0 20px;
}
.redContinue td.buttonMiddle{
    background-position:100% -35px;
    height: 34px;
    line-height: 34px;
    margin-top: 0px;
    color:#fff;
    padding-right: 35px;
}
/*redNormal*/
.redNormal td.buttonspan{
    background-position:0 0;
    height: 34px;
    padding:0 0 0 20px;
}
.redNormal td.buttonMiddle{
    background-position:100% 0px;
    height: 34px;
    line-height: 34px;
    margin-top: 0px;
    color:#fff;
    padding-right: 25px;
}
/*white normal*/
.whiteNormalbutton td.buttonspan{
    background: url("../images/v3/white-button-right_no_cache.gif") no-repeat scroll 0 -1px;
    height: 34px;
    line-height: 34px;
    margin-top: 0px;
    color:#fff;
    padding-right: 2px;
}
.whiteNormalbutton td.buttonMiddle{
    background: url("../images/v3/white-button-right_no_cache.gif") no-repeat scroll 100% -1px ;
    height: 36px;
    padding: 0 10px 0 6px;
}

/*white pluse*/

.whitebutton td.buttonspan{
    background: url("../images/v3/white-button-right_no_cache.gif") no-repeat scroll 0 -38px;
    height: 34px;
    line-height: 34px;
    margin-top: 0px;
    color:#fff;
    padding-right: 20px;
}

.whitebutton td.buttonMiddle{
    background: url("../images/v3/white-button-right_no_cache.gif") no-repeat scroll 100% -1px ;
    height: 36px;
    padding: 0 10px 0 6px;
}


/*************** new Popup *********************/
.popBG{background: url("../images/ptl_no_cache.gif");}
.popBG1{background: url("../images/ptl-2_no_cache.gif");}
.popTopLeft{
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 10px;
    height: 9px;
}
.popTopMid{
    background-position: 0px -10px;
    background-repeat: repeat-x;
    height: 9px;
}
.popTopRight{
    background-position: 0px -20px;
    background-repeat: no-repeat;
    width: 10px;
    height: 9px;
}

.popMidLeft{
    background-position: 0px 0px;
    background-repeat: repeat-y;
    width: 10px;
}
.popMidMid{
    background:#f1f1f1;
    background-repeat: repeat;
}
.popMidRight{
    background-position: -8px 0px;
    background-repeat: repeat-y;
    width: 10px;
}

.popBottomLeft{
    background-position: 0px -60px;
    background-repeat: no-repeat;
    width: 10px;
    height: 9px;
}
.popBottomMid{
    background-position: 0px -50px;
    background-repeat: repeat-x;
    height: 9px;
}
.popBottomRight{
    background-position: 0px -40px;
    background-repeat: no-repeat;
    width: 10px;
    height: 9px;
}

#popupHeader span.close{
    background: url("../images/v3/close_icon_no_cache.jpg") no-repeat scroll 0 0 ;
    float:right;
    width:14px;
    height:16px;
    cursor: pointer;
}
#popupHeader .headerItems{
    float: left;
    width:180px;
    overflow: hidden;
}
#popupFooter input{
    float: right;
}
.popup-column{
    vertical-align:top;
    border-left: 1px solid #e4e4e4;
    width:225px;
    padding-left:5px;
}
.popup-column-first{border:0px}
.item-button {
    height: 60px;
}
.item-button input{
    margin: 14px 0 0 5px
}
.item-button span{
    background: url("../images/v3/ancillThunms_no_cache.jpg");
    vertical-align: middle;
    display:block;
    float: left;
    height: 48px
}
.rowSeat span{
    width: 47px;
    background-position: 0 0;
}

.rowMeal span{
    width: 62px;
    background-position: -101px 0;
}

.rowIns span{
    width: 47px;
    background-position: -48px 0;
}

.rowBag span{
    width: 47px;
    background-position: -167px 0;
}
/*************** new Popup *********************/
.table-Row div.dottedLine{border:0;border-top:1px dashed #e4e4e4}
.totalCol{background: url("../images/v3/mid-selected_no_cache.jpg") repeat-x scroll 0 100% #ed2e26}
.totalCol label{color: #FFFFFF! important;font-weight: bold;}
/*************** new Payment Styles *********************/
table#tblPriceBreakdown .bLeft{
    height:5px;
}
table#tblPriceBreakdown .bRight{
    height:5px;
}

.ul-cards {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.ul-cards li{
    list-style: none;
    margin: 2px;
    border: 1px solid #bbb;
    float: left;
    width: 125px;
    height: 90px;
    background: #f1f1f1

}
.ul-cards li div{
    border: 1px solid #e4e4e4
}
.ul-cards li div.card-img{
    border-bottom: 0px;
    height: 35px;
    background: #fff;
}
.ul-cards li div.card-desc{
    border-bottom: 0px;
    height: 53px;
}
.btnFont{color: #fff;margin: auto;line-height: 28px;}

.secure-image{
    background: url("../images/v3/secure_top_no_cache.gif") no-repeat scroll 0 0 ;
    margin:0px;
    padding:0px;
    float:left;
    width:40px;
    height:40px;
}

.searchPannel{
    padding: 10px;
}
.summarySperator{
    height: 5px;
    border-top: 1px dashed #aaa;
}
/*************** new Payment Styles *********************/

/************ Modify Search ************/
.imgMod{
    width: 14px;
    height: 14px;
    float:left;
    background: url("../images/v3/white-button-left_no_cache.gif") no-repeat scroll -8px -11px;
    margin: 0 4px 0 0;
}
.anciRow{position: relative;}

.pbFlexirow {
    background: #606060;
}
.pbFlexirow label{
    color: white;
}
#trPriceBDPannel label{line-height: 14pt}

/*new classes */
.fareClass{
    background-position: 0 -150px;
}
.fareClass .ttip{
    background-image:url("../images/v3/what-icon_no_cache.jpg")!important;
    background-position: 0 -83px;
}
.fareClass label.gridHDFont{
    color:#FFF;
}
.Y_N_class{
    background-image:url("../images/v3/economy-corner_no_cache.jpg")!important;
    background-position: 0 0px;
    border-left:0px! important;
}
.Y_N_class label.gridHDFont{
    color:#fff! important;
}
.Y_N_class .ttip{
    background-position: 0 -13px;
}

.Y_Y_class{
    background-position: 0 0px;
}
.Y_Y_class label.gridHDFont{
    color:#fff! important;
}
.Y_Y_class .ttip{
    background-position: 0 -48px;
}
.flight-body div, .flight-body span{
    font-family:Arial,Helvetica,Verdana,sans-serif;
}
.sData div{
    line-height:13px;
}
.sData .daySmall{
    color:#EE2F27;
    font-size:11px;

}
.sData .dateSmall{
    color:#EE2F27;
    font-weight:bold;
    font-size:11px;
}
.sDataFull .daySmall{
    font-weight:bold;
    color:#ffffff;
}
.sDataFull .dateSmall{
    font-weight:normal;
}
.sData{display:block! important}
.sDataFull{display:none! important}
.selected .sData{display:none! important}
.selected .sDataFull{display:block! important;padding-top:0px}
.minFareValue .from{
    display:none! important;
}
.selected .minFareValue .from{
    display:inline! important;
    text-transform: lowercase;
    font-weight:normal! important;
}
.nPBList .gridHDDark{
    background: url("../images/v3/fareBGs_no_cache.jpg") repeat-x scroll 0 3px;
    height:67px;
}

.nPBList .gridHDDark label{
    display: block;
}
.promoFare_de{
    background: url("../images/v3/promofare_de_no_cache.jpg") no-repeat scroll 0 0! important;
}
.promoFare_en{
    background: url("../images/v3/promofare_en_no_cache.jpg") no-repeat scroll 0 0! important;
}
.promoFare_es{
    background: url("../images/v3/promofare_es_no_cache.jpg") no-repeat scroll 0 0! important;
}
.promoFare_fa{
    background: url("../images/v3/promofare_fa_no_cache.jpg") no-repeat scroll 0 0! important;
}
.promoFare_fr{
    background: url("../images/v3/promofare_fr_no_cache.jpg") no-repeat scroll 0 0! important;
}
.promoFare_it{
    background: url("../images/v3/promofare_it_no_cache.jpg") no-repeat scroll 0 0! important;
}
.promoFare_ru{
    background: url("../images/v3/promofare_ru_no_cache.jpg") no-repeat scroll 0 0! important;
}
.promoFare_tr{
    background: url("../images/v3/promofare_tr_no_cache.jpg") no-repeat scroll 0 0! important;
}

.flexiFare_de{
    background: url("../images/v3/flexifare_de_no_cache.jpg") no-repeat scroll 0 0! important;
}
.flexiFare_en{
    background: url("../images/v3/flexifare_en_no_cache.jpg") no-repeat scroll 0 0! important;
}
.flexiFare_es{
    background: url("../images/v3/flexifare_es_no_cache.jpg") no-repeat scroll 0 0! important;
}
.flexiFare_fa{
    background: url("../images/v3/flexifare_fa_no_cache.jpg") no-repeat scroll 0 0! important;
}
.flexiFare_fr{
    background: url("../images/v3/flexifare_fr_no_cache.jpg") no-repeat scroll 0 0! important;
}
.flexiFare_it{
    background: url("../images/v3/flexifare_it_no_cache.jpg") no-repeat scroll 0 0! important;
}
.flexiFare_ru{
    background: url("../images/v3/flexifare_ru_no_cache.jpg") no-repeat scroll 0 0! important;
}
.flexiFare_tr{
    background: url("../images/v3/flexifare_tr_no_cache.jpg") no-repeat scroll 0 0! important;
}
.primiFare_de{
    background: url("../images/v3/primifare_de_no_cache.jpg") no-repeat scroll 0 0! important;
}
.primiFare_en{
    background: url("../images/v3/primifare_en_no_cache.jpg") no-repeat scroll 0 0! important;
}
.primiFare_es{
    background: url("../images/v3/primifare_es_no_cache.jpg") no-repeat scroll 0 0! important;
}
.primiFare_fa{
    background: url("../images/v3/primifare_fa_no_cache.jpg") no-repeat scroll 0 0! important;
}
.primiFare_fr{
    background: url("../images/v3/primifare_fr_no_cache.jpg") no-repeat scroll 0 0! important;
}
.primiFare_it{
    background: url("../images/v3/primifare_it_no_cache.jpg") no-repeat scroll 0 0! important;
}
.primiFare_ru{
    background: url("../images/v3/primifare_ru_no_cache.jpg") no-repeat scroll 0 0! important;
}
.primiFare_tr{
    background: url("../images/v3/primifare_tr_no_cache.jpg") no-repeat scroll 0 0! important;
}
.colourGreavy {
    background-color: #666666 !important;
    background-position: -4px -4px !important;
    height: 63px !important;
}
.colourGreavy table{
    width:auto;
    margin:30px 5px 0 40px
}
.flight-body a.selected{
    /*width:155px! important;
    top:0px;*/
    background:#444444 url("../images/v3/cal-selected_no_cache.jpg") no-repeat scroll 0 0;
    border-width: 0 0 1px 0;
    border-color: #444444;
}
.FareTypes{
    height: 67px;
    padding:33px 55px;
}
.floatleft{
    float:left;
}
.floatright{
    float:right;
}
#returnDiscountPanel, #promoDiscountPanel, #promoDiscountPanelCredit{
    background:#F7F7BE
}
#returnDiscountPanel label, #promoDiscountPanel label, #promoDiscountPanelCredit label{
    color:#737373!important;
}
#returnDiscountPanel label#discountAmount, #promoDiscountPanel label#promoDiscountAmount , #promoDiscountPanelCredit label#promoDiscountAmount{
    color:#F21D15!important;
}

#tempPromoBanner{font-weight: bold}
#lblCabinClass{
    display:block;
    height:16px;
    overflow: hidden;
}
.AllFlight .normal-table{
    background-position: 0 -2px;
    height: 34px! important;
}
#shoping_Cart .GridTable{
    border: 1px solid #DFDFDF;
    border-top: 1px ;
}
.GridTable.nPBList .gridHDDark{
    background-position: 0 -1px;
    height: 30px;
}