// Need to move to a pop up directive

.section-popup{
  position: absolute;
  z-index: -999;
  background-color: #666666;
  -moz-box-shadow:   0px 0px 10px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);


  .header{
    color: $secondary-color;
    height: 40px;
    line-height: 40px;
    a{
      color: $secondary-color;
    }
  }
  .panelBody{
    background-color: $base-color;
    position: absolute;
    width: 100%;
    top:40px;
    bottom: 0;
    .flight-details{
      font-size: 14px;
      color: #fff;
      padding-top: 6px;
    }
    .fare-details{
      font-size: 25px;
      color: #fff;
      font-weight: 600;
      min-height: 60px;
      padding-top: 10px;
      span{
        float: left;
        margin-right: 11px;
      }
    }
    .fare-popup-icon{
      width: 52px;
      border-top: 2px #6E6E6F solid;
      display: block;
      position: relative;
      top: 21px;
      line-height: 0;
      text-indent: 51px;
      font-size: 22px;
      font-weight: 600;
      float: right !important;
      margin-right: 20px !important;
    }
  }
}
.section-popup.show{
  z-index: 20;
}
.insurance-price-block{
  float: right;
  font-weight: bold;
  .caption{
    padding-right: 10px;
    font-weight: normal;
  }
}

.button,.opt-cat-button {
  padding: 0 15px;
  display: block;
  border-radius: 0;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  font-weight: 600;
  min-width: 140px;
  text-align: center;
  cursor: pointer;
  max-width: 100%;
  width: 100%;
  border: 0;
  outline: none;

  i {
    margin-left: 10px;
  }

  // RED Button
  &.opt-red-btn {
    background-color: $site_primary_color;
    color: $white;
    &:hover, &:focus {
      background-color: $site_primary_color - 20;
      color: $white;
    }
  }

  // GREY Button
  &.opt-btn {
    background-color: $secondary-color;
    color: $white;
    &:hover, &:focus, &.active {
      background-color: $site_primary_color;
      color: $white;
    }
  }

  // Checked button
  &.check-btn:before {
    content: "\e909";
    font-family: 'icomoon';
    padding-right: 5px;
  }

  // LIGHT-GRAY Button
  &.light-gray-btn {
    background-color: $gray-6;
    color: $white;
    &:hover, &:focus, &.active {
      background-color: $gray;
      color: $white;
    }
  }
}
