@charset "utf-8";
/* CSS Document */
body{ margin:0px; padding:0px; background:url(../images/bg2.png) top left repeat; font-family:Georgia, "Times New Roman", Times, serif;}
.fl{float:left;}
.fr{float:right;}
.cl{clear:both;}
h1, h2, h3, h4, h5, h6 {padding:0px; margin:0px; line-height:normal;}
.top_keys h1 {width:100%; margin:0px; padding:0px; font:11px/19px Arial, Helvetica, sans-serif; color:#000000; text-align:center; }

.topbg01{ width:100%; margin:0px; padding:0px; background:url(../images/bg1.png) top left repeat-x;}
.wrapper{width:992px;margin:0px auto; padding:0px;}
.header{ width:980px; margin:0px; padding:3px 6px 0 6px;}
.logo{ width:20%; margin:0px; padding:47px 0 0 0;}

.headrightpart{ width:79%;  margin:0px; padding:0px 0 0 0;}
.headtoplink{ width:706px; margin:0px; padding:0px; background:url(../images/headerright02.png) top left repeat-x;}
.countrytab{ margin:0px 0 0 0; padding:27px 0 0 10px; font:12px Arial, Helvetica, sans-serif; color:#FFF;}
.countrytabnav a{ width:17px; height:15px; margin:0px 10px 0 0; padding:0px; background:transparent url(../images/headarrow.png) no-repeat 0 0; 
/*background:url(../images/mixelements.png) 0px -52px no-repeat;*/ display:block;}
/*.countrytabnav a:hover{background:url(../images/mixelements.png) -17px -52px no-repeat;}*/

/*===========countrytab Drop Down menu ==============*/
#container {
	width:780px;
	margin:0 auto;
	position: relative;}

#content {
	width:520px;
	min-height:500px;
}

#topnav {
	padding:10px 0px 12px;
	font-size:11px;
	line-height:23px;
	text-align:right;
}
#topnav a.signin {
	background:#88bbd4;
	padding:4px 6px 6px;
	text-decoration:none;
	font-weight:bold;
	color:#fff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	background:transparent url("images/signin-nav-bg-ie.png") no-repeat 0 0;
	padding:4px 12px 6px;
}

a.signin {
	position:relative;
	margin-left:3px;
}
a.signin span {
	background-image:url("images/toggle_down_light.png");
	background-repeat:no-repeat;
	background-position:100% 50%;
	padding:4px 16px 6px 0;
}
#topnav a.menu-open {
	background:#ddeef6!important;
	color:#666!important;
	outline:none;
}
#small_signup {
	display:inline;
	float:none;
	line-height:23px;
	margin:25px 0 0;
	width:170px;
}
a.signin.menu-open span {
	background-image:url("images/toggle_up_dark.png");
	color:#789;
}

#signin_menu {
	border-radius: 5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	display:none;
	background-color:#f2f2f2;
	position:absolute;
	width:auto;
	z-index:1000;
	border:1px transparent;
	text-align:left;
	padding:12px;
	margin-top:22px;
	margin-right: 0px;
	*margin-right: -1px;
	color:#393939;
	font-size:11px;
	}
.innerulsty{ margin:0px; padding:0px 0 0 10px; list-style:circle; font:11px/24px Arial, Helvetica, sans-serif}
.innerulsty li a{ color:#393939; text-decoration:none; }
.innerulsty li a:hover{ text-decoration:underline;}

/*===========countrytab Drop Down menu ==============*/
.livechat a{ width:107px; height:26px; margin:21px 0 0 28px; padding:0px 0 0 0px; background:url(../images/mixelements.png) top left no-repeat; display:block; text-indent:-9999em;}
.livechat a:hover{ background:url(../images/mixelements.png) left -26px no-repeat;}

.headtopmenu{ margin:0; padding:0px; font:12px/20px Arial, Helvetica, sans-serif; color:#FFF; text-align:right}
.headtopmenu div { text-transform:uppercase; font-size:10px; padding-top:6px;}
.headtopmenu div a { color:#CCCCCC; text-decoration:none; cursor:pointer; margin:0 10px }
.headtopmenu div a:hover { color:#FFFFFF }
.headtopmenu ul { margin:10px 0 0 0px; padding:0px; list-style:none;}
.headtopmenu ul li{ float:right;}
.headtopmenu ul li a{color:#FFF; text-decoration:none; padding:0px 36px 0 2px; }
.headtopmenu ul li span{ width:11px; height:20px; background:url(../images/mixelements.png) 0px -197px no-repeat; padding:0px; display:block; float:left; }
.headtopmenu ul li span.active{ background:url(../images/mixelements.png) 0px -254px no-repeat; color:#ffbf26;}
.headtopmenu ul li a:hover{text-decoration:none; color:#ffbf26;}
.headtopmenu ul li a.active{text-decoration:none; color:#ffbf26;}



.mainmenu{ width:706px; margin:30px 0 26px 0px; padding:0px; font:14px/20px Georgia, "Times New Roman", Times, serif; color:#FFF;}
.mainmenu ul { z-index:100; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;list-style-type: none;}
.mainmenu ul li{ float:left; position: relative;
display: inline; top:0px; bottom:0px;}
.mainmenu ul li a{ display: block; color:#FFF; text-decoration:none; padding:0px 65px 0 0px; }
.mainmenu ul li a:hover{text-decoration:none; color:#ffd200;}
.mainmenu ul li a.active{ color:#ffd200;}

.bodypart01{width:980px; margin:0px 0 0 0; padding:0px 6px 0 6px; background:url(../images/bodybg.png) top center repeat-y;    }
#apDiv1 {position:absolute;	margin:15px 15px 0 0; padding:0px;	width:424px;	height:300px;	z-index:10;	right:0px;	top:0px;}
/*================================================ End Bannerpart =========================================*/


.linktab01{ margin:0px; width:950px; padding:25px 15px 15px 15px; background:#f2f2f2;}
.flightalert{ width:241px; margin:0px; padding:0px;}
.flightalertheader{ width:236px; margin:0px; padding:0px 0 8px 5px; font-size:16px; color:#393939;} 
.flightalertheader span{ width:26px; height:20px; display:block; background:url(../images/mixelements.png) 0px -145px no-repeat; float:left;}  
.flightalertbody{ width:219px; margin:0px; padding:8px 10px 15px 10px; border:solid 1px #dfdfdf; background:#FFF; height:158px; overflow:hidden;}

.ulsty05{ margin:0px; padding:0px; list-style:none;}
.ulsty05 li{ margin:0px; padding:6px 0 6px 16px; font:11px/17px Tahoma, Geneva, sans-serif; color:#2f2f2f; border-bottom:solid 1px #d7d7d7; display:block;}
.ulsty05 span{ display:block; width:16px; height:16px; margin-top:6px; background:url(../images/mixelements.png) 0px -215px no-repeat; float:left;}

.ulsty06{ margin:0px; padding:0px; list-style:none;}
.ulsty06 li{ margin:0px; padding:8px 0 0px 16px; font:11px/19px Tahoma, Geneva, sans-serif; color:#2f2f2f; display:block;}
.ulsty06 span{ display:block; width:16px; height:10px; margin-top:10px; background:url(../images/mixelements.png) 0px -189px no-repeat; float:left;}
.ulsty06 li a{ color:#2f2f2f; display:block; text-decoration:none}

.latestnews{ width:241px; margin:0px 0 0 20px; padding:0px;}
.latestnewsheader{ width:236px; margin:0px; padding:0px 0 8px 5px; font-size:16px; color:#393939;} 
.latestnewsheader span{ width:26px; height:20px; display:block; background:url(../images/mixelements.png) 0px -168px no-repeat; float:left;}  
.latestnewsheaderbody{ width:219px; margin:0px; padding:8px 10px 5px 10px; border:solid 1px #dfdfdf; background:#FFF; height:168px; overflow:hidden;}
.latestnewsbottom{ width:219px; margin:0px; padding:9px 0 0px 0; border-top:solid 1px #dfdfdf; text-align:right;}
.latestnewsbottom a{margin:0px; padding:0px; font-size:11px; color:#0a61a3; font-family:Arial, Helvetica, sans-serif; text-decoration:none;}
.latestnewsbottom a:hover{text-decoration:underline;}

.lowdealsbox{ width:441px; height:107px; margin:0px; padding:0 0 0 0; background:url(../images/mixelements.png) bottom right no-repeat; }
.lowdealsboxtext{  font:18px/30px Arial, Helvetica, sans-serif; font-weight:bold; color:#FFF;  }
.lowdealsboxtext strong{ font:30px/26px Arial, Helvetica, sans-serif; font-weight:bold; color:#fec912; margin-left:3px; }
.lowdealsboxtext span{ font:11px/18px Arial, Helvetica, sans-serif; color:#efefef;}


.smalllink{ width:440px; margin:0px; padding:19px 0 0 0;}
.smalllink01{ width:111px; height:33px; margin:0px 10px 0 0; padding:12px 12px 12px 12px ; background:url(../images/mixelements.png) -108px top no-repeat; font-size:12px;}
.smalllink01text a{ display:block; color:#393939; text-decoration:none;}
.smalllink01 span{ display:block; width:35px; height:26px; background:url(../images/mixelements.png) 0px -67px no-repeat }

.smalllink02{ width:111px; height:33px; margin:0px 10px 0 0; padding:12px 12px 12px 12px ; background:url(../images/mixelements.png) -108px top no-repeat; font-size:12px;}
.smalllink02text a{ display:block; color:#393939; text-decoration:none;}
.smalllink02 span{ display:block; width:35px; height:26px; background:url(../images/mixelements.png) 0px -90px no-repeat }

.smalllink03{ width:111px; height:33px; margin:0px 0px 0 0; padding:12px 12px 12px 12px ; background:url(../images/mixelements.png) -108px top no-repeat; font-size:12px;}
.smalllink03text a{ display:block; color:#393939; text-decoration:none;}
.smalllink03 span{ display:block; width:35px; height:26px; background:url(../images/mixelements.png) 0px -117px no-repeat }


.piclinkmain{ margin:0px; width:950px; padding:18px 15px 15px 15px;}

.piclink01{width:228px; margin:0px; padding:0px;}
.piclink01img{margin:0px; padding:0px;}
.piclink01img:hover{margin:0px; padding:0px;}
.piclink01text{width:218px; margin:0px; padding:0px 5px 0 5px;}
.piclink01texthd{width:228px; margin:0px; padding:5px 0 0 0; line-height:28px; font-size:16px; color:#393939;}
.piclink01texthd a{color:#393939; text-decoration:none; display:block;}  
.piclink01texthd a:hover{color:#ff9900;}
.piclink01texthd span{ width:12px; height:9px; margin:12px 0 0 0; padding:0px; background: url(../images/mixelements.png) 0px -192px no-repeat; display:block;}
.piclink01textarea{ font:11px/18px Tahoma, Geneva, sans-serif; color:#393939; padding:0 10px 0 15px; text-align:left;}

/*=================================== End Bodypart ===================================*/
.bottompart{ width:980px; border-top:solid 1px #9f9f9f; background:#fafafa; padding-top:10px; padding-left:0px;}
.bottomul{ margin:0px; padding:0px 39px 0 0; list-style:none;}
.bottomul li{ margin:0px; padding:2px 0 2px 16px; font:11px/17px Tahoma, Geneva, sans-serif; color:#2f2f2f;  display:block; clear:left; }
.bottomul li a{ color:#2f2f2f; text-decoration:none;}
.bottomul li a:hover{ color:#ff9900; text-decoration:underline;}
.bottomul span{ display:block; width:14px; height:19px; margin-top:5px; background:url(../images/mixelements.png) 0px -244px no-repeat; float:left;}

.bttpartcopyright{ width:940px; padding:0px 20px 0px 20px; font:11px/24px Arial, Helvetica, sans-serif; color:#393939; }
.bttpartcopyright a{color:#393939; text-decoration:none;}
.bttpartcopyright a:hover{text-decoration:underline;}

/*======================End home.php style =====================*/

.innerpagehead{ margin:0px; padding:20px 0 0 20px; width:960px; height:53px; background:url(../images/innertopround.png) top center no-repeat; font:20px Georgia, "Times New Roman", Times, serif; color:#515151;}
.breadcome{ width:965px; height:27px; margin:0px; padding:0px 0 0 15px; background:url(../images/breadcomebg.png) top left repeat-x;}
.breadcome a{ font:11px/20px Tahoma, Geneva, sans-serif; color:#393939; text-decoration:none; padding:0px 3px 0 3px}
.breadcome a:hover{ text-decoration:underline;}
.breadcome a.active{ font-weight:bold;}

.innerbodypart{ width:980px; padding:0px; margin:0px; background:url(../images/rightpartbg.png) top right repeat-y;}
.rightpart{ width:266px;}

.leftlinks{ width:266px; margin:0px; padding:0px 0 10px 0; border-bottom:solid 1px #b9b9b9;}
.leftlinkshead{ width:241px; margin:0px; padding:5px 0 5px 25px; font:20px/38px Georgia, "Times New Roman", Times, serif; color:#393939; border-top:solid 1px #fff;}

.ulsty9{ margin:0px; padding:0px 0 0 0px; list-style:none; font:14px/24px Georgia, "Times New Roman", Times, serif }
.ulsty9 li{ }
.ulsty9 li a{ color:#393939; text-decoration:none; display:block; padding:7px 0px 6px 25px; }
.ulsty9 li a:hover{ background:url(../images/linkhover01.png) top left no-repeat;}
.ulsty9 li a.active{ background:url(../images/linkhover01.png) top left no-repeat;}

.iconlinkbox1{ width:213px; height:26px; margin:0px; padding:15px 0 10px 18px; background:url(../images/mixelements.png) right -130px no-repeat; cursor:pointer;}
.iconlinkbox1:hover{ background:url(../images/mixelements.png) right -79px no-repeat}
.iconlinkbox1 a{ width:231px;  color:#393939; text-decoration:none;}
.iconlinkbox1 span.bookflight{ width:37px; height:31px; float:left; display:block; background:url(../images/mixelements.png) -46px -67px no-repeat;  }

.iconlinkbox2{ width:213px; height:26px; margin:0px; padding:15px 0 10px 18px; background:url(../images/mixelements.png) right -130px no-repeat; cursor:pointer;}
.iconlinkbox2:hover{ background:url(../images/mixelements.png) right -79px no-repeat}
.iconlinkbox2 a{ width:231px;  color:#393939; text-decoration:none;}
.iconlinkbox2 span.schedule{ width:37px; height:31px; float:left; display:block; background:url(../images/mixelements.png) -46px -99px no-repeat;  }

.iconlinkbox3{ width:213px; height:26px; margin:0px; padding:15px 0 10px 18px; background:url(../images/mixelements.png) right -130px no-repeat; cursor:pointer;}
.iconlinkbox3:hover{ background:url(../images/mixelements.png) right -79px no-repeat}
.iconlinkbox3 a{ width:231px;  color:#393939; text-decoration:none;}
.iconlinkbox3 span.fare{ width:37px; height:31px; float:left; display:block; background:url(../images/mixelements.png) -46px -130px no-repeat;  }

.iconlinkbox4{ width:213px; height:26px; margin:0px; padding:15px 0 10px 18px; background:url(../images/mixelements.png) right -130px no-repeat; cursor:pointer;}
.iconlinkbox4:hover{ background:url(../images/mixelements.png) right -79px no-repeat}
.iconlinkbox4 a{ width:231px;  color:#393939; text-decoration:none;}
.iconlinkbox4 span.mybooking{ width:37px; height:31px; float:left; display:block; background:url(../images/mixelements.png) -46px -163px no-repeat;}

.leftpart{ width:699px; padding-left:7px; padding-top:7px;}
.pagehead{  margin:0px; font:20px Georgia, "Times New Roman", Times, serif; color:#393939; padding-top:10px; }
.pagetextarea{ font:12px/20px Arial, Helvetica, sans-serif; color:#343434; text-align:justify;}

.successstory{ width:667px; }
.successstoryheader{ width:667px; height:51px; background:url(../images/mixicons.jpg) 0px 0px no-repeat}
.successstorybody{ width:667px; font:13px Arial, Helvetica, sans-serif; color:#515151; font-style:italic;}
.successstoryname{ background:url(../images/aw03.jpg) 0px 13px no-repeat; font:12px Arial, Helvetica, sans-serif; color:#515151; padding-left:22px; padding-top:8px; padding-right:55px;}
.point01{ width:27px; height:22px; background:url(../images/mixicons.jpg) -41px -62px no-repeat;}
.point02{ width:27px; height:22px; background:url(../images/mixicons.jpg) -41px -84px no-repeat;}
.msgtext { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ce0303; background:#FFFFE0; height:25px; border:1px solid #FEEE8C; padding:5px 7px; margin-bottom:10px;}
