/* To Do : Refactor */
 html, body {	

}
* html{	
	overflow-x: hidden;
	overflow-y: auto;
}
.mainPageLoader{
	display:none;
	z-index:9900;
	background:transparent;
	height:80px;
	position:absolute;
	top:50%;
	left:40%;
	width:200px;
	box-shadow:0px 0px 7px #aaa;
}
.mainPageLoaderFreame{
	position:absolute;
	background:transparent;
	width:200px;
	height:80px;
}
html, body,  ol,  dd, blockquote, q, h1, h2, h3, h4, h5, h6, form, fieldset, a, div, img, table
{
	margin: 0;
	padding: 0;
	border: 0;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 11px;
	color:#666;
}

a:link
{
    COLOR: #429e4b;
    TEXT-DECORATION: none
}
a:hover
{
    TEXT-DECORATION: underline;
}
a:hover label
{
    cursor:pointer;
}
a:link u
{
    TEXT-DECORATION: none
}
a:visited
{
    COLOR: #429e4b;
    TEXT-DECORATION: none
}
P{color:#666;}
UL
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 4px;
}
LI
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 0px;
    margin-left: 15px;
}
label{
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	left:auto;
	color: #666;
}
.divfont{
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	left:auto;
	color: #666;
}
font{
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	left:auto;
	color: #666; 
}
.fntDefault{
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	left:auto;
	color: #666;
}
.appLogo{
	background-image:url(../images/n024_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:left bottom;
	height:50px;
	background-color: #ffffff;
}
.headder{
	background: url("../images/h_bg_no_cache.jpg");
	height:88px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0px 1px 7px #aaa;
	margin: 10px 0;
}
.home_logo{
	background:#fff url("../images/logo_airline_no_cache.jpg") center;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	height:88px;
	width:245px;
}
.PageBackGround{background: #ffffff;background-color: #ffffff;width:865px! important}
.rowSingleGap{
	height:5px;
}
.rowGap{
	height:10px;
}
.defaultRowGap{
	height:25px;
}
.gap{width: 0px}
.pnlTop{
	background-image:url(../images/LIbe002_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:8px;
}
.pnlWidth{
	width:800px;
}
.pnlWidthLeft{
	width:258px;
}
.pnlTopR{
	background-image:url(../images/LIbe002_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:8px;
	width:8px;
}
.pnlBottom{
	background-image:url(../images/LIbe003_no_cache.jpg);
	background-repeat:repeat-x;
	height:52px;
}
.pnlBottomTall{
	background-image:url(../images/LIbe004_no_cache.jpg);
	background-repeat:repeat-x;
	height:150px;
}
.pnlBottomTallCal{
	background-image:url(../images/LIbe004_no_cache.jpg);
	background-repeat:no-repeat;
	background-repeat:repeat-x;
	background-position: 0 0;
}

/*popup window classes*/
.popBG {
    background: url("../images/ptl_no_cache.gif") repeat scroll 0 0 transparent;
}
.popBG1 {
    background: url("../images/ptl-2_no_cache.gif") repeat scroll 0 0 transparent;
}
.popTopLeft {
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 9px;
    width: 10px;
}
.popTopMid {
    background-position: 0 -10px;
    background-repeat: repeat-x;
    height: 9px;
}
.popTopRight {
    background-position: 0 -20px;
    background-repeat: no-repeat;
    height: 9px;
    width: 10px;
}
.popMidLeft {
    background-position: 0 0;
    background-repeat: repeat-y;
    width: 10px;
}
.popMidMid {
    background: none repeat scroll 0 0 #F1F1F1;
}
.popMidRight {
    background-position: -8px 0;
    background-repeat: repeat-y;
    width: 10px;
}
.popBottomLeft {
    background-position: 0 -60px;
    background-repeat: no-repeat;
    height: 9px;
    width: 10px;
}
.popBottomMid {
    background-position: 0 -50px;
    background-repeat: repeat-x;
    height: 9px;
}
.popBottomRight {
    background-position: 0 -40px;
    background-repeat: no-repeat;
    height: 9px;
    width: 10px;
}
#popupHeader span.close {
    background: url("../images/v3/close_icon_no_cache.jpg") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: right;
    height: 16px;
    width: 14px;
}
#popupHeader .headerItems {
    float: left;
    overflow: hidden;
    width: 180px;
}
#popupFooter input {
    float: right;
}
.popup-column {
    border-left: 1px solid #E4E4E4;
    padding-left: 5px;
    vertical-align: top;
    width: 195px;
}
.popup-column-first {
    border: 0 none;
}


.fntSmall{
	font-size:9px;
}
.fntBold{
	font-weight:bold;
}
.hdFont{
	font-size:15px;
}
.hdFontColor{
	color:#429e4b;
}
.mandatory{
	color: red;
}
.tab1A{
	background-image:url(../images/n034_A_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}
.tab1{
	background-image:url(../images/n034_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}
.tab2A{
	background-image:url(../images/n035_A_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:220px;
}
.tab2{
	background-image:url(../images/n035_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:220px;
}
.tab3A{
	background-image:url(../images/n036_A_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}
.tab3{
	background-image:url(../images/n036_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}

select
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	height: 19px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: 1px solid #9D9D9D;
	BORDER-TOP: 1px solid #9D9D9D;
	BORDER-LEFT: 1px solid #9D9D9D;
	BORDER-BOTTOM: 1px solid #9D9D9D;
	}
	
input, textarea{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: solid 1px #9D9D9D;
	BORDER-TOP: solid 1px #9D9D9D;
	BORDER-LEFT: solid 1px #9D9D9D;
	BORDER-BOTTOM: solid 1px #9D9D9D;
	}
input[type='radio'], input[type='checkbox']{border:0px;.border:0px;_border:0px;.background: transparent;_background: transparent;}	
.clsInput{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove #9D9D9D;
	BORDER-TOP: thin groove #9D9D9D;
	BORDER-LEFT: thin groove #9D9D9D;
	BORDER-BOTTOM: thin groove #9D9D9D;
	}
}
.noBorder
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	color: black;
	border-color:green;
	border-width:0px;
}	
	
.Button
{
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: white;
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 25px;
	width:74px;
	cursor:pointer;
	background-repeat:no-repeat;
	border:1px solid #aaa;
	padding-bottom:5px;
	background: #b4e391; /* Old browsers */
	background: -moz-linear-gradient(top,  #b4e391 0%, #459b14 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(99%,#459b14)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b4e391 0%,#459b14 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b4e391 0%,#459b14 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b4e391 0%,#459b14 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #b4e391 0%,#459b14 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#459b14',GradientType=0 ); /* IE6-9 */
	line-height:24px;
}

.ButtonLarge {
	cursor:pointer;
	width:173px;
}

.ButtonMedium {
	cursor:pointer;
	width:104px;
}

.btnCredit{
	width:104px;
	cursor:pointer;
}
.btnCDisable{
	background: #b4e391; /* Old browsers */
	background: -moz-linear-gradient(top,  #b4e391 0%, #459b14 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(99%,#459b14)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b4e391 0%,#459b14 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b4e391 0%,#459b14 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b4e391 0%,#459b14 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #b4e391 0%,#459b14 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#459b14',GradientType=0 ); /* IE6-9 */
	width:104px;
	cursor:default;
}
.ButtonLargeDisable{
	background: #b5bdc8; /* Old browsers */
	background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 37%, #28343b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(37%,#828c95), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 37%,#28343b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b5bdc8 0%,#828c95 37%,#28343b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b5bdc8 0%,#828c95 37%,#28343b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 37%,#28343b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
	width:173px;
	cursor:default;
	border:1px solid #aaa;
}
.ButtonDefaultDisable{
	background: #b5bdc8; /* Old browsers */
	background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 37%, #28343b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(37%,#828c95), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 37%,#28343b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b5bdc8 0%,#828c95 37%,#28343b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b5bdc8 0%,#828c95 37%,#28343b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 37%,#28343b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
	width:74px;
	cursor:default;
	background-repeat:no-repeat;
	border:1px solid #aaa;
}

.GridHeader {
background-color:#4a99c0;
height:20px;
}

.gridHD{
	background-color:#4a99c0;
	height:25px;
}
.gridHDDark{
	background-color:#0b0b0b;
	height:25px;
}
.gridHDFont{
	color:white;
}
.gridHDsub {
    background-color: #333333;
    height: 18px;
}
.GridItems {
background-color:white;
height:20px;
}
.lpaneTopL{
	background-image:url(../images/LIbe006_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:27px;
	width:11px;
}
.lpaneTopM{
	background-image:url(../images/LIbe007_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	width:238px;
}
.lpaneTopR{
	background-image:url(../images/LIbe008_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	width:11px;
}
.lpaneMidL{
	background-image:url(../images/LIbe009_no_cache.jpg);
	background-repeat:repeat-y;
	background-position:top;
	width:2px;
}
.lpaneMidM{
	background-color:white;
	width:257px;
}
.lpaneMidR{
	background-image:url(../images/LIbe010_no_cache.jpg);
	background-repeat:repeat-y;
	background-position:top;
	width:1px;
}
.lpaneBotL{
	background-image:url(../images/LIbe011_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:18px;
	width:11px;
}
.lpaneBotM{
	background-image:url(../images/LIbe012_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	width:238px;
}
.lpaneBotR{
	background-image:url(../images/LIbe013_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	width:11px;
}
.navFont{
	font-size:12px;
	vertical-align: middle;
	color:white;
 }	
.navFontBig{
	font-size:17px;
	vertical-align: middle;
	color:white;
 }	
.rowColor{
	background-color:white;
}
.rowColorAlternate{
	background-color:#DFDFDF;
}
.bdLeft{
	BORDER-LEFT: solid 1px #DFDFDF;
}
.bdTop{
	BORDER-TOP: solid 1px #DFDFDF;
}
.bdBottom{
	BORDER-BOTTOM: solid 1px #DFDFDF;
}
.bdRight{
	BORDER-RIGHT: solid 1px #DFDFDF;
}
.noPadding{
	padding:0px;
}
.lightGrayHD{
	background-color:#DFDFDF;
	height:25px;
}

.errorControl{
	background-color:#FEFFAF;
}

.fontCapitalize{
	text-transform: capitalize;
}
.ButtonAncilary{
	background-image: url(../images/n200_no_cache.gif);
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: gray;
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 28px;
	width:174px;
	cursor:pointer;
	background-repeat:no-repeat;
	padding-bottom:2px;
}

.ButtonMeal{
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: #5A5A5A;
	background-color:transparent;
	background-image: url(../images/n056meal_no_cache.gif); 
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 25px;
	width:154px;
	cursor:pointer;
	background-repeat:no-repeat;
}
.oldSeat{
	background-image:url('../images/LCAnsi001_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
	background-position: -3px;
}
.aisle p{color: #0faff0! important}
.availSeat{
	background-image:url('../images/LCAnsi004_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
	background-position: -4px;
}
.notAvailSeat{
	background-image:url('../images/LCAnsi002_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
	background-position: -4px;
}

.friendsSeat{
	background-image:url('../images/LCAnsi007_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
}

.SltdSeat{
	background-image:url('../images/LCAnsi003_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
	background-position: -4px;
}
.aisle{
	height:15px;
	width:20px;
}
.exitLeft{
	background-image:url('../images/ANCI_06_no_cache.gif');
	background-position:top center;
	background-repeat:no-repeat;
	width:20px;
	height:39px;
}
.exitRight{
	background-image:url('../images/ANCI_07_no_cache.gif');
	background-position:bottom center;
	background-repeat:no-repeat;
	width:20px;
	height:39px;
}
.window{
	width:20px;
}
.wingRight{
	background-image:url('../images/LCAnsi005_no_cache.jpg');
	background-position:bottom center;
	background-repeat:no-repeat;
	height:65px;
	width:594px;
}
.wingLeft{
	background-image:url('../images/LCAnsi006_no_cache.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	height:65px;
	width:594px;
}
.noTextDec{
	text-decoration:none;
}
.seatTT{
	opacity: .9;
	filter: alpha(opacity=90);
	background-color:#4a99c0! important;
}
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.tabBG{
	background-image:url('../images/LIbe016_no_cache.jpg');
	height:40px;
	background-repeat: repeat-x;
	background-position: 0 99%;	
}
.tabSltd{
	background-image:url('../images/aniciselected.gif');
	background-color:#4a99c0;
	background-repeat:no-repeat;
	background-position:4px 12px;
	width:auto;
	height:40px;
	padding:1px 5px 1px 25px;
	color: white;
}
.tabNotSltd{
	/*ackground-image:url('../images/LIbe014_no_cache.jpg');*/
	background:#D7D8DA;
	background-repeat:no-repeat;
	width:auto;
	height:40px;
	padding:1px 8px;
	color: #0b0b0b;
}
.tabSltd p, .tabNotSltd p{text-align: left;}
.newTabStyle{height: 40px;overflow: hidden;}
.cursorPointer{
	cursor:pointer;
}
.noBorder{
	border: 0px solid transparent;
}
.progressBG {
	background-color:#FA0101;
}
.fntDefaultWhite{
	color:white;
}
.MandatoryGrid{
	color: white;
}
.paddingL5{
	padding-left: 5px;
}
.paddingL3{
	padding-left: 3px;
}
.Gridwt {
	background-color:#FFFFFF;
	height:20px;
}
.GridTable {	
	background-color:#DFDFDF;
	border-color:#DFDFDF;
}
.tblBgLeft{
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}
.tblBG{
	background-image:url(../images/LIbe003_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}
.logUserCorB{width: 0px;background: #000}
.paddingCalss{padding:0px 10px}
.tblBgRight{
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}

.newPogressLoading, .loadingContainer {
background:none repeat scroll 0 0 #FFFFFF;
display:none;
}
.pageName label {
color:#429e4b;
font-size:15px;
font-weight:bold;
text-align:left;
}
.mainbody{background: #fff}
.mainbody #sortable-ul {
padding:0;
display: block;width: 100%;margin: 0 auto;
}

.mainbody div#sortable-ul div.sortable-child {
float:left;
}

#divSummaryPane, .floater {
width:220px!important;
}
#divSummaryPane .add-padding {
padding:0 8px;
}

.rightColumn {
background:none repeat scroll 0 0 transparent;
margin:0 0 0 8px;
padding:0;
width:635px;
}

#termsNCond ul {
	margin-bottom:4px;
	margin-top:0;
	padding: 0px 20px;
}
#termsNCond ul li {
	margin-bottom:0;
	margin-left:15px;
	margin-top:0;
}

.alignLeft {
	text-align:left;
}

.alignRight{
	text-align:right;
}

/* overwirte rak style start*/
table {
background-color:transparent;
border-collapse:separate;
}
/* overwirte rak style end*/

/* Rak Alert style Start*/
#popup_container {
	-moz-border-radius:5px 5px 5px 5px;
	background:none repeat scroll 0 0 #fff;
	border:2px solid #596a72;
	color:#FFFFFF;
	font-family:Arial,Helvetica,sans-serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size:12px;
	width: 380px;
	display: none;
	overflow: hidden;
}
.drager {position: relative;z-index: 99999;height: 25px;width:94%;cursor: move;}
#popup_container_frame{
	width: 100%;
	height: 100%;
}
/* Rak Alert style End*/

/* Sumarry panle Styles Start*/
.Page-heading table.headerRow{overflow: hidden;height: 27px;display: table;}
.Page-heading table.headerRow td{overflow: hidden;height: 27px}
.Page-heading .headerBG{
	/*background-image: url("../images/panelBGall_no_cache.jpg");*/
	background:#4a99c0;
	background-repeat:no-repeat;
	text-align: left;
}
.Page-heading .hBottom{background-position:0 -102px;background-repeat: repeat-x;height: 27px;}
.Page-heading .hbSide{background-position:0 -136px;background-repeat: repeat-x;height: 27px;width:10px}
.Page-heading .hLeft{background-position:0 0px;background-repeat: repeat-x;width: 10px;height: 27px}
.Page-heading .hCenter{
	background-position:0 -29px;
	background-repeat: repeat-x;
	height: 27px;
	font-size: 14px; 
	color: #fff;
	font-weight: bold;
}
.Page-heading .hRight{background-position:0 -57px;background-repeat: repeat-x;width: 10px;height: 27px}

.mLeft{
	/*background-image:url("../images/n028_no_cache.jpg");*/
	background:#D7D8DA;
	background-position:center top;
	background-repeat:repeat-y;
	width:1px;
}
.mCenter{width: 248px}
.mRight{
	/*background-image:url("../images/n029_no_cache.jpg");*/
	background:#D7D8DA;
	background-position:center top;
	background-repeat:repeat-y;
	width:1px;
}
.Page-heading table.footerRow{overflow: hidden;height: 0px;display: table;border-top:1px solid #D7D8DA}
.Page-heading .bLeft{background-position:0 -120px;background-repeat: repeat-x;width: 10px;height: 0px;background: transparent;}
.Page-heading .bCenter{
	background-position:0 -103px;
	background-repeat: repeat-x;
	height: 0px;
	background: transparent;
}
.Page-heading .bRight{background-position:-1px -86px;background-repeat: repeat-x;width: 10px;height: 0px;background: transparent;}
/* Sumarry panle Styles End*/

/* Rak Calendar Styles Start*/
h3.label {
background:none repeat scroll 0 0 transparent;
color:#429e4b;
font-size:11px;
padding:3px 6px;
text-align:left;
}

.cal-header-ul div.cal-one-day {
	background:#4a99c0;
	border-color:#E2F2ff;
	border-style:solid;
	border-width:1px;
	color:#FFF;
	line-height:18px;
	padding:0 0;
	text-align:center;
	border-bottom: 0px;
}
div.cal-one-day div {
color:#FFF;
font-size:11px;
font-weight:bold;
}

.flight-body .cal-base {
	-moz-border-radius:0px 0px 0px 0px;
	border:0px solid #aaa;
	height:80px;
	margin:0px;
	text-align:center;
}

.sub-div{
	height:80px;
}
.sub-div a {
	background:transparent;
	border:0px solid #AAAAAA;
	color:#429e4b;
	display:block;
	font-family:arial;
	font-weight:bold;
	line-height:18px;
	outline:medium none;
	padding:0px 5px;
}
.leftNavigation{
	width: 55px;
}
.rightNavigation{
	width: 35px;
}
.sub-div-additional a {
	background:transparent;
	border:1px solid #AAAAAA;
	color:#AAAAAA;
	display:block;
	font-family:arial;
	font-weight:bold;
	line-height:18px;
	outline:medium none;
	padding:0px 5px;
	text-decoration:none;
}
.lowerstCon{height: 4px}


.active .segcodebar{
	margin:0 0 0 1px;
	padding:4px 5px;
	color: #fff;
	background:#4a99c0;
}
.segcodebar label{font-weight: bold;color: white} 

.ui-widget-content {
	/*background:transparent;
	border:0px solid #AAAAAA;*/
	color:#222222;
}

.ui-tabs .ui-tabs-panel {
	background:none repeat scroll 0 0 transparent;
	border-width:0;
	display:block;
	padding:0px;
}

.flight-body a.selected div.cal-base {
	background:#4a99c0;
}
.flight-body a:hover div.cal-base{
	background:#4a99c0;
	background-position: 0px 0px;
	cursor: pointer;
	border: 0px solid #aaa;
	text-decoration: none;
}

.flight-body a.selected div, .flight-body a.selected span {
    background: none repeat scroll 0 0 transparent;
    color: #fff;
}
.flight-body a:hover {text-decoration: none;}
div.cal-day .flight-body div.cal-base{background: #fff}
.calendar-ul li div.cal-day{margin:0px;border: 1px solid #999;height: 80px}
.calendar-ul li div.mout{border: 1px solid #333;background: transparent;}
.calendar-ul li div.cal-day img {
	display:block;
	margin:auto;
	z-index:12;
	left:0px;
	position:relative;
	top:30%;
}
.calendar-ul li div.mout div.cal-one-day{font-weight: bold;background-position: 0 0px}
div.cal-day .flight-body{padding: 0px}
.flight-header span a:hover{text-decoration: none;background: transparent;}
.flight-body a div, .flight-body a span{background: transparent;cursor: pointer;}
.flight-body a:hover div, .flight-body a:hover span, .flight-body a:hover label {background: transparent;cursor: pointer;color: #fff;}
.flight-body a.selected span, .flight-body a.selected label{color: #fff}
.lowerstCon{display: none;}
.totalValueSelected label.currValueTotal{font-size: 15px;margin-top: 0px;}
.totalValueSelected span{font-size: 11px;}
.totalValue{
	color: #737373 !important;
    font-size: 11px;
    font-weight: bold;
}
.departureTime span, .departureTime{font-size: 11px;color: #666;display: none;}
.arivalTime span, .arivalTime{font-size: 11px;color: #666;display: none;}
div.stopover{font-size: 11px;font-size: 10px;color:#666;display: none}
#tooltip {
	background-color:#FCFCB5;
	border:1px solid #FFFF66;
	opacity:0.9;
	padding:5px;
	position:absolute;
	z-index:3000;
}
.selecRadio{text-align: left;}
.selecRadio input{border: 0px;background: transparent;}
.noFlight, .FlightFull{display: block;margin: 15px auto}
.FareGridBorder01 {
background-color:#cef0ff! important;
border-color:#36b5ec;
border-style:solid;
border-width:1px;
height:18px;
}

.FareGridBorder02 {
background-color:#a4e3ff! important;
border-color: #36b5ec;
border-style:solid;
border-width:1px;
height:18px;
}

.FareGridBorder03 {
background-color:#78d6ff ! important;
border-color: #36b5ec;
border-style:solid;
border-width:1px;
height:18px;
}

.FareGridBorder04 {
background-color:#4cc9ff ! important;
border-color: #36b5ec ;
border-style:solid;
border-width:1px;
height:18px;
}

.FareGridBorder05 {
background-color:#36b5ec ! important;
border-color:#36b5ec;
border-style:solid;
border-width:1px;
height:18px;
}


/* Rak Calendar Styles End*/

.fareSelSidePanel {
width:260px;
}



#divSummaryPane .pane-body {
background:url("../images/LIbe003_no_cache.jpg") repeat-x scroll 0 0 #FFFFFF;
border:0 solid #E72E2C;
}

.GridHeaderHighlight  {
background-color:#636363;
height:20px;
}
.logUserBG {
background:#4a99c0;
background-position:center top;
background-repeat:repeat-x;
height:34px;
}

.logUserCorT {
background:#4a99c0;
background-position:center top;
height:34px;
}
.fntWhite {
color:white;
}
.buttonset table{text-align: center;display: block;margin: 0 auto;width: 250px}

/* process banner start*/
.StepsTable{
	width: 618px;
	display: block;
	margin: 2px auto;
	background: #4a99c0;
	height: 30px;
	line-height: 30px;
	box-shadow: 0px 0px 4px #aaa;
	border: 2px solid #00b8f8;
	border-radius:4px;
}
.stepsItem label{
	color:#fff;
}

.stepsItem.select label{
	color: #f7f700;
	font-weight: bold;
}

.stepsItem.selected label{
	color: #e1e1a1;
}

.paymentGadient{
	background-image:url("../images/LIbe004_no_cache.jpg");
	background-repeat:repeat-x;
}


.hdnavFont  {
	font-size:20px;
}
/* process banner end*/

.tabSltdUser{
	background:#4a99c0;
	height:27px;
}

.tabSltdOver {
	background:#4a99c0;
	height:27px;
}
.tabSltdOver label{color: white;cursor: pointer;}

.tabUnSltd{
	background:#202020;
	height:27px;
}
.tabUnSltd label{color: white;cursor: pointer;}
.pTopM {
background:#4a99c0;
height:27px;
width: 80px;
}

.pTopL {
background:#4a99c0;
height:27px;
width:11px;
}

.pTopDM {
background:#D7D8DA;
height:27px;
}

.pTopDR {
	background:#D7D8DA;
	height:27px;
	width:11px;
}
.pMidL {
	background-image:url("../images/n033_no_cache.jpg");
	width:2px;
	background-repeat:repeat-x;
}
.pMidM {
	background-image:url("../images/n033_no_cache.jpg");
	background-position:center top;
	background-repeat:repeat-x;
}
.pMidR {
	background-image:url("../images/n033_no_cache.jpg");
	width:2px;
	background-repeat:repeat-x;
}
.ui-datepicker-trigger{vertical-align: middle;margin: 1px 2px}
.pBotL {
	background:transparent;
	background-position:center top;
	background-repeat:no-repeat;
	height:15px;
	width:11px;
}
.pBotM {
	background:transparent;
	background-position:center top;
	background-repeat:repeat-x;
	height:15px;
	width:92%;
}
.pBotR {
	background:transparent;
	background-position:center top;
	background-repeat:no-repeat;
	height:15px;
	width:11px;
}
.btnAuxButton {color: #429e4b;cursor: pointer;}
#tabs1{
	background:none repeat scroll 0 0 transparent;
	border:0 none;
	width: 100%;
}


.searchCritira{
	display:block;width:230px;margin: 0 auto;
}
.searchCritira div{padding: 2px 0}
/*FixME this is for pathch*/
#specialMsg div{
		text-align: left;list-style: none;
		background-color:#ffffcf;
		opacity: .7;
		filter: alpha(opacity=80);
		border:1px solid #F3F376;
		padding:2px;
		font-size:11px;
		-moz-border-radius:6px;	/* Rounded edges in Firefox */
		font-family:Arial,Helvetica,sans-serif;
		font-weight: bold;
}

.spMsg{
	background-color:#ffffcf;
	opacity: .7;
	filter: alpha(opacity=80);
	border:1px solid #F3F376;
	padding:2px;
	font-size:11px;
	-moz-border-radius:6px;	/* Rounded edges in Firefox */
	font-family:Arial,Helvetica,sans-serif;
	
}

/*External Agents Pages Styles */
.recordl td.GridItems{
	background-color:#EBEBEB;
	height:20px;
	FONT-SIZE: 11px;
}
.recordd td.GridItems{
	background-color:#FFFFFF;
	height:20px;
	FONT-SIZE: 11px;
}

.header {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;;
	font-weight: bold;
	background-color:#4a99c0;
	height:20px;
	FONT-SIZE: 11px;
	color: white; 
	
}
.rakHeader .header{background-color:#fff;}
.thinBorderT{border-top: 1px solid #E8E6E7;}
.thinBorderB{border-bottom: 1px solid #E8E6E7;}
.thinBorderL{border-left: 1px solid #E8E6E7;}
.thinBorderR{border-right: 1px solid #E8E6E7;}
	
.recordtop{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;;
	font-weight:bold;
	background-color:#ECECEC;
	height:20px;
	FONT-SIZE: 10px;
}
.recordtopar{
	font-weight:bolder;
	background-color:#FFFFFF;
	height:20px;
	FONT-SIZE: 14px;
}
div.div-Table .floatItem{width:auto! important}
#listCard li{
	display:block! important;
}
#listCard .card-img, #listCard .card-desc{
	line-height:33px;
	display:inline;
}


/*External Agents Pages Styles */
.sData div{display:inline;padding:0 2px;}
.selected .sDataFull {
	display: none;
}
.selected .sData {
	display: block;
}
.even>.GridItems{
	background: #fff;
}
.thisFls{
	background: #aaa;
}
.thisFls table{
	border-collapse: separate;
	border-spacing: 1px;
	border-bottom: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
}
.thisFls tbody{
	
}
.thisFls tbody td{
	background: #fff;
}
.thisFls td.thinBorderL{border: 0px;}
.nonAirarab{margin-top:15px;}