 Body {
	scrollbar-arrow-color:#ECC3C3;
	scrollbar-base-color:#F58E8E;
	scrollbar-shadow-color:#FF7171;
	scrollbar-face-color:#C10000;
	scrollbar-highlight-color:#EFDBDB;
	scrollbar-darkshadow-color:#AC6A6A;
	scrollbar-3d-light-color:#FFFFFF;
	background : white;
	margin :0px 0px 0px 0px;
}
.pageBody{
	background : #E1DCE2;
}
A:link
{
    COLOR: #134373;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #134373;
    TEXT-DECORATION: none
}
.outLineBoarder{
	height:5px;
}
.outLine{
	border-color: #D2D3D3 #D2D3D3 #D2D3D3 #D2D3D3;
	border-style: solid solid solid solid;
	background-color: #D2D3D3;
	width:775px;
	border:5px;
}
.BannerTopLine{
	background-color:#F63F4C;
}
.BannerBackGround{
	background-color:#ECECEC;
}
.BannerBorderLeft
{
	background-image: url(../images/left_shadow_no_cache.gif);
	}
.BannerBorderRight
{
	background-image: url(../images/right_shadow_no_cache.gif);
	}
.bottomColor{
	background-color: #626262;
	height:50px;
}
.PageBorder
{
	background-color:#fafafa;
	}
.PageBackGround
{
	background-color:#ffffff;
	}
.PageBottomColor
{
	background-color:#BE2539;
	}	
	
.PageBottomColorlogin
{
	background-color:#A8A8A8;
	}
font{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: black; 
}
fontArabic{
	font-family:tahoma;
	font-size:13px;
	left:auto;
	color: black; 
}	
.fontPGInfo{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: white; 
}
.fontPGInfoArabic{
	font-family:tahoma;
	font-size:13px;
	left:auto;
	color: white; 
}
.fntArabic{
	font-size:15px;
	font-family: verdana;
}
.fntEnglish{
	font-family: tahoma;
}
.fntCVV{
	font-size:11px;
	font-family: tahoma;
}
.fntWeek{
	font-size:11px;

}
.fntArabicTotal{
	font-family: tahoma;
}
.setHeight{
	height:18px;
}

.tinySpace{
	height:5px;
}

.fntBold{
	font-weight:bold;
}
.fntWhite{
	color:black;
}
.fntDefaultWhite{
	color:white;
}
.fntRed{
	color:red;	
}
.fntGreen{
	color:#00B900;	
}
.fntBlack{
	color:black;
}
.fntLink{
	color:blue;
}
.fntSmall{
	font-size:9px;
}
.fntSmallArabic{
	font-size:13px;
}
.fntExSmall{
	font-size:8px;
}
.fntExSmallArabic{
	font-size:10px;
}
.fntTiny{
	font-size:5px;
}
.fntTinyArabic{
	font-size:7px;
}
.fntLarge{
	font-size: 17px;
}
.fntExLarge{
	font-size: 22px;
}
.fntDefault{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: black; 
}
.fntDefaultArabic{
	font-family:tahoma;
	font-size:13px;
	left:auto;
	color: black; 
}
.fntMenu{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: black; 
}
.Header{
	font-family:Arial;
	font-size:11pt;
	text-align:left;
	left:auto;
	text-transform: capitalize;
	color: #D11F1F; 
	font-weight: bold;
}

.SubLink{
	text-align:left;
	left:auto;
	color: #6E6E6E;
	font-weight: bold;
	cursor: text; 
}
.SubLinkSelected{
	background-color:#FFBBBB;
	left:auto;
	color: black; 
	font-weight: bold;
}
.FormHeadBackGround{
	background-color:#F63F4C;
}
.FormBackGround{
	background-color:#ECECEC;
}
.FormHeader{
	left:auto;
	color: #FFFFFF;
	font-weight: bold;
}

select
{
	font-family: tahoma;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
	
input
{
	font-family: tahoma;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
	
.clsInput{
	font-family: tahoma;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
}
.NoBorder
{
	font-family: tahoma;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: Transparent;
	border-color:Transparent;
	border-style:none;
	}		
.LineColor
{
	color:#C30000;
	}	
.Button
{
	font-family:tahoma;
	font-size:10px;
	text-align:center;
	text-transform: capitalize;
	color: white;
	font-weight: bold;
	border:1px solid #aaa;
	height: 22px;
	width:72px;
	cursor:pointer;
	background: #b4e391; /* Old browsers */
	background: -moz-linear-gradient(top,  #b4e391 0%, #459b14 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(99%,#459b14)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b4e391 0%,#459b14 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b4e391 0%,#459b14 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b4e391 0%,#459b14 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #b4e391 0%,#459b14 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#459b14',GradientType=0 ); /* IE6-9 */

}

.Buttonlog
{
	border:1px solid #aaa;
	font-family:tahoma;
	font-size:11px;
	text-align:center;
	text-transform: capitalize;
	font-weight: bold;
	color: Black;
	background: #b4e391; /* Old browsers */
	background: -moz-linear-gradient(top,  #b4e391 0%, #459b14 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(99%,#459b14)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b4e391 0%,#459b14 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b4e391 0%,#459b14 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b4e391 0%,#459b14 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #b4e391 0%,#459b14 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#459b14',GradientType=0 ); /* IE6-9 */
	height: 23px;
	width:80px;
	cursor:hand
	}
.ButtonDefault{
	background: #b4e391; /* Old browsers */
	background: -moz-linear-gradient(top,  #b4e391 0%, #459b14 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(99%,#459b14)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b4e391 0%,#459b14 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b4e391 0%,#459b14 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b4e391 0%,#459b14 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #b4e391 0%,#459b14 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#459b14',GradientType=0 ); /* IE6-9 */
	width:72px;
	cursor:pointer;
	border:1px solid #51ba5b;
}
.ButtonDefaultDisable{
	background: #b5bdc8; /* Old browsers */
	background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 37%, #28343b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(37%,#828c95), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 37%,#28343b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b5bdc8 0%,#828c95 37%,#28343b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b5bdc8 0%,#828c95 37%,#28343b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 37%,#28343b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
	border:1px solid #aaa;
	width:72px;
	cursor:default;
	color:#e1e1e1;
}
.ButtonMedium{
	width:92px;
	cursor:pointer;
}
.ButtonMediumDisable{
	background: #b5bdc8; /* Old browsers */
	background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 37%, #28343b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(37%,#828c95), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 37%,#28343b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b5bdc8 0%,#828c95 37%,#28343b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b5bdc8 0%,#828c95 37%,#28343b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 37%,#28343b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
	width:92px;
	cursor:default;
}
.ButtonLarge{
	width:142px;
	cursor:pointer;
}
.ButtonLargeDisable{
	background: #b5bdc8; /* Old browsers */
	background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 37%, #28343b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(37%,#828c95), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 37%,#28343b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b5bdc8 0%,#828c95 37%,#28343b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b5bdc8 0%,#828c95 37%,#28343b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 37%,#28343b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
	border:1px solid #888888;
	width:142px;
	cursor:default;
}

.ButtonHighlight
{
	color: white;
	}
.GridHeader
{
	background-color:#999999;
	height:20px;
	}	
.Grid
{
	background-color:white;
	border-color:#D7E4ED;
}
.GridTable
{
	background-color:black;
	border-color:#D7E4ED;
}

.GridAlert
{
	background-color:#FFFF99;
	border-color:#D7E4ED;
}
.GridItems
{
	background-color:#EDEDED;
	height:20px;
	}
.GridHighlight
{
	background-color:#B6B6B6;
	height:20px;
	}
.GridDblHighlight{
	height:30px;
}
.ItineraryHeader
{
	background-color:#D4D0C8;
	height:20px;
}
.ItineraryGridItems{
	background-color:#F4F4F4;
	height:20px;
	text-transform: capitalize;
}
.FareGridBorder{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	}
.FareInidBorder{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	}
.Dots{
	background-image: url(../images/Dot_no_cache.gif);
	height:20px;
}
.NoFaresBGColor
{
	background-color:#F4F4F4;
	}	
.FaresDaysBGColor
{
	background-color:white;
	}
.FaresMonthBGColor
{
	background-color:#C4C4C4;
	}
.FareBGColor
{
	background-color:white;
}
.Mandatory{
	color: red;
}
.SeperateorBGColor{
	background-color: #CCCCCC;
}
.rightText{
	text-align: right;
}
.itneraryBorder{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
}
.itneraryBGColor
{
	background-color:#C4C4C4;
	}
.pageBreak{
	page-break-after: always	
}
.fontCapitalize{
	text-transform: capitalize;
}

.PageBottomShadow
{
	background-color:#9D9D9D;
	}	

.StatsBarDef
{
	background-color:#A8A8A8;
	border: none;
	height:20px;
	}	
.clsSelect
{
	font-family: tahoma;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
.errorControl{
	background-color:#FEFFAF;
	}
.sperateorBar{
	height:5px;
	}
.setHeight{
	height:10px;
}
UL
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 4px;
}
LI
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 0px;
}
#content .postimagecenter
{
    MARGIN: 10px;
    TEXT-ALIGN: center
}

#content H1
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: bottom;
    COLOR: #000000;
    PADDING-TOP: 0px
}
.contentBGcolor{
	background-color:#FFCCCC;
}
.contentAltercolor{
	background-color:#FFCCCC;
}
.FareGridBorderWhite{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	background-color:white;
	}

.FareGridBorder01{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	background-color:#FFCCCC;
	}
	
.FareGridBorder02{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	background-color:#FF9999;
	}	
	
.FareGridBorder03{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	background-color:#FF6666;
	}	
	
.FareGridBorder04{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	background-color:#FF3333;
	}
	
.FareGridBorder05{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	background-color:#CE0000;
	}
.fontExp{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: red; 
}
.spMsg{
	background-color:#ffffcf;
	border:1px solid;
	border-color:#F3F376; 
}
.fntBoldAndRed{
	font-weight:bold;
	color:red;
}

.bannerClass{
	height:74px;
}
.calendarBorder{
	background-color:#fff! important;
	border: 1px groove #fff! important;
}
.calendarBorder font{
	color:#666! important;
}
.calendarBorder #div_MsgBox_HeaderspnCalendarDG1{display:block}