<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN" "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">

<taglib>

	<tlib-version>1.1.1</tlib-version>

	<jsp-version>1.2</jsp-version>

	<short-name>WFUtil</short-name>

	<uri>http://www.isa.com/tags</uri>

	<description>Web Platform Tag Libbary</description>


	<tag>
		<name>hasPrivilege</name>
		<tag-class>com.isa.thinair.webplatform.taglib.HasPrivilegeTag</tag-class>
		<body-content>JSP</body-content>

		<description>
			Check privileges
		</description>

		<attribute>
			<name>privilegeId</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
	</tag>
	
	<tag>
        <name>hButton</name>
        <tag-class>com.isa.thinair.webplatform.taglib.HtmlButton</tag-class>
        <body-content>JSP</body-content>
	    <description><![CDATA[Render a HTML button]]></description>
	    <attribute>
            <name>id</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
            <description>
                <![CDATA[id for referencing element]]></description>
        </attribute>
        <attribute>
            <name>name</name>
            <required>true</required>
            <rtexprvalue>false</rtexprvalue>
            <description>
                <![CDATA[name for referencing element]]></description>
        </attribute>
        <attribute>
            <name>cssClass</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
            <description><![CDATA[ to assign css class]]></description>
        </attribute>
        <attribute>
            <name>icon</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
            <description><![CDATA[ true or false, if Icon is not true iconPath iconSide attributes are not valied]]></description>
        </attribute>
        <attribute>
            <name>iconClass</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
            <description><![CDATA[ no default defalt if blank remains balnk image ]]></description>
        </attribute>
        <attribute>
            <name>iconSide</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
            <description><![CDATA[ default value is left can be set only left right]]></description>
        </attribute>
        <attribute>
            <name>iconGap</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
            <description><![CDATA[ default value 5px will set the gap between icon and text]]></description>
        </attribute>
        <attribute>
            <name>value</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
            <description><![CDATA[ default value is HTML button]]></description>
        </attribute>
        <attribute>
            <name>inLineStyles</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
            <description><![CDATA[ can add one inline style]]></description>
        </attribute>
                 <attribute>
            <name>title</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
            <description><![CDATA[ can add the title to the button]]></description>
        </attribute>
         <attribute>
            <name>tabIndex</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
            <description><![CDATA[ add a tab index for the button]]></description>
        </attribute>
    </tag>
</taglib>
