$site-primary-color: #783795;
$site-accent-color: #DA7B2B;
$site-accent-color-dark: #C95C00;

/* Red and Gray Demo

$site-primary-color: #000000;
$site-accent-color: #444444;
$site-accent-color-dark: darken(#848484, 20%);*/