<ul>
    <li ng-repeat="option in source">
        <!-- Checkbox -->
        <span class="check checkbox-circle" ng-click="optionOnClick({id:option, index:$index})">
            <input type="checkbox" id="id_{{$index}}" ng-checked="option.selected" disabled>
            <label for="id_{{$index}}"></label>
        </span><!-- // Checkbox -->

        <!-- Icon -->
        <!--<span class="service-list-img">
            <img ng-src="{{option.ssrImagePath}}" alt="option.ssrName">
            <i class="{{option.icon}}"></i>
        </span>--><!-- // Icon -->

        <!-- Data -->
        <div class="data">
	        <div ng-click="optionOnClick({id:option, index:$index})">
	            <h4>{{option.ssrName}}</h4>
	            <p>
	                <a href=""
	                   ng-show="option.description != option.ssrName"
	                   tooltip-placement="right"
	                   ng-click="moreInfoOnClick($event)"
	                   translate="lbl_common_moreInfo"
	                   uib-tooltip-template="'pop-up-template.html'">More Info</a>
	            </p>
			</div>
                   <!-- onclick="cancelBubble(event, this);this.focus();" -->
            <input type="text" class="ma-tp-2"
                   id="comment_{{option.ssrCode}}" placeholder="Comment"
                   ng-show="option.selected && option.ssrCode == 'FQTV'"
                   ng-model="option.input.comment" ng-change="onCommentChange(option.ssrCode)">

        </div><!-- // Data -->

        <!-- Price -->
        <div class="price" ng-if="option.applicablityType ==='P'">
            <span class="currency"></span> <i isa-connector={{option.charges[passengerType].amount}}> </i>
        </div>
		<div class="price" ng-if="option.applicablityType ==='R'">
            <span class="currency"></span> <i isa-connector={{option.charges[0].amount}}> </i>
        </div><!-- // Price -->
    </li>
	   
</ul>