<ul>
    <li ng-repeat="option in source" ng-click="optionOnClick({id:option, index:$index})">
        <!-- Checkbox -->
        <span class="check checkbox-circle">
            <input type="checkbox" id="id_{{$index}}" ng-checked="option.selected" disabled>
            <label for="id_{{$index}}"></label>
        </span><!-- // Checkbox -->

        <!-- Icon -->
        <span class="service-list-img">
            <img ng-src="{{option.ssrImagePath}}"
                 onerror="if((this.src).indexOf('/service-app/ibe/images/misc/ssr_default.jpg') === -1 ) this.src = '/service-app/ibe/images/misc/ssr_default.jpg'">

            <i class="{{option.icon}}"></i>
        </span><!-- // Icon -->

        <!-- Data -->
        <div class="data">
            <h4>{{option.ssrName}}</h4>
            <p>
                <a class="hidden-xs" href="" tooltip-placement="bottom"
                   ng-click="moreInfoOnClick($event)"
                   translate="lbl_common_moreInfo"
                   uib-tooltip-template="'pop-up-template.html'">More Info</a>
                
                <a class="hidden-sm hidden-md hidden-lg" href="" tooltip-placement="right"
                   ng-click="moreInfoOnClick($event)"
                   translate="lbl_common_moreInfo"
                   uib-tooltip-template="'pop-up-template.html'">More Info</a>
            </p>
        </div><!-- // Data -->

        <!-- Price -->
        <div class="price" ng-if="option.applicablityType ==='P'">
            <span class="currency"></span> <i isa-connector={{option.charges[passengerType].amount}}> </i>
        </div>
		<div class="price" ng-if="option.applicablityType ==='R'">
            <span class="currency"></span> <i isa-connector={{option.charges[0].amount}}> </i>
        </div>
        <!-- // Price -->
    </li>
</ul>