input::-moz-focus-inner { border: 0; }
object, embed { outline: 0; }
a { outline: 0; }

*{
  outline: none !important;
  outline: 0 !important;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sticky-bg {
  z-index: 9999;
}

.section-mask{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  opacity: 0.01;
  z-index: 10;
}

.absolute-center {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.left-wide {
  float: left;
  width: 100%;
}

.right-wide {
  float: right;
  width: 100%;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fullPage {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  z-index: 9999;
}