<div>
    <div class="cc-link"  ng-class="{ccactive:showpanel}">
        <span ng-click="showHideMenu()" class="currancy-type">

                <span class="currency-txt">
                        {{selectedCurrencyType.code}}
                </span>

        </span>
        <span ng-click="showHideMenu()" class="icon_{{selectedCurrencyType.icon}} icon"></span>
        <i  ng-if="!isMobileDevice" class="glyphicon" ng-class="{'glyphicon-chevron-down' : !showpanel,'glyphicon-chevron-up':showpanel}" ng-click="showHideMenu()"></i>
        <i  ng-if="isMobileDevice" class="fa" ng-class="{'fa-angle-down' : !showpanel,'fa-angle-up':showpanel}" ng-click="showHideMenu()"></i>
        <!--<i ng-show="showpanel" class="glyphicon glyphicon-chevron-up" ng-click="showHideMenu()"></i>-->
    </div>
    <div class="curruny-wrapper" ng-show="showpanel" id="dp-menu" >
        <ul>
            <li class="currency-item" ng-repeat="currency in curruncytypes" ng-click="onItemSelect(this)" title="{{currency.title}}">
                <span  class="menu-item currancy-type">{{currency.code}}</span>
                <span  class="flag icon_{{currency.icon}} icon"></span>
            </li>
        </ul>
    </div>
</div>