<!-- Modify Or Cancel -->
<div class="modify-or-cancel">
    <!-- Alert -->
    <div class="dash-alert">
        <div class="notification col-sm-6"
             ng-if="modifyFlights.reservationHasUNSegments
             && selectedFlight.selectedSegmentParams.cancellable != 'true'
             && selectedFlight.selectedSegmentParams.modifible != 'true'">
            <p>Can not cancel or modify flight segment due to a canceled flight in the reservation</p>
        </div>
    </div><!-- // Alert -->

    <!-- Modify Flight -->
    <div class="col modify">
        <button class="col-sm-5 btn red-btn button" ng-click="selectedFlight.onModifyFlightClick()"
                ng-show="selectedFlight.selectedSegmentParams.modifible == 'true'">Modify this flight
        </button>
    </div><!-- // Modify Flight -->

    <span class="or"
          ng-show="selectedFlight.selectedSegmentParams.cancellable == 'true' && selectedFlight.selectedSegmentParams.modifible == 'true'">
        <i>or</i>
    </span>

    <!-- Modify Flight -->
    <div class="col cancel">
        <button class="col-sm-5 btn light-gray-btn button" ng-click="selectedFlight.onCancelSegmentClick()"
                ng-show="selectedFlight.selectedSegmentParams.cancellable == 'true'">Cancel this flight
        </button>
    </div><!-- // Modify Flight -->
</div><!-- // Modify Or Cancel -->
