<!-- Summary Drawer Overlay -->
<div class="summary-drawer-overlay ng-cloak" ng-if="main.quoteStatus" ng-click="main.changeQuoteStatus()">
</div><!-- // Summary Drawer Overlay -->

<!-- Summary Drawer -->
<div class="summary-drawer" ng-if="main.showSummaryDrawer">
    <div class="drawer-desc fly-in-group ng-cloak" ng-if="main.quoteStatus">

        <div class="container pd-0">
            <div class="drawer-arrow text-center" ng-click="main.changeQuoteStatus()">
                <span class="dp-caret fa fa-chevron-down"></span>
            </div>

            <div class="row" ng-controller="ModifyFlightDrawerController as flightDrawer">
                <div class="flight-info-scroll">
                    <h2 translate="{{flightDrawer.heading}}">{{flightDrawer.heading}}</h2>
                    <h4 translate="lbl_modification_cancellationDesc"
                        translate-values="{'currency': main.getSelectedCurrencyType()}">
                        All payment will be charged in {{main.getSelectedCurrencyType()}}. All other currencies are
                        for reference only</h4>
                    <hr/>

                    <div class="clearfix">
                        <div class="flights-info-block">Flight Info</div>

                        <div class="price-info-block">
                            <h2 translate="title_summary_drawer">Price breakdown for
                                <span ng-if="flightDrawer.passengerSummary.adult.count">{{flightDrawer.passengerSummary.adult.count}} <lable translate="lbl_common_adult">Adult</lable></span>
                                <span ng-if="flightDrawer.passengerSummary.child.count">{{flightDrawer.passengerSummary.child.count}} <lable translate="lbl_common_child">Child</lable></span>
                                <span ng-if="flightDrawer.passengerSummary.infant.count">{{flightDrawer.passengerSummary.infant.count}} <lable translate="lbl_common_infant">Infant</lable></span>
                            </h2>

                            <!-- Passenger charge breakdown -->
                            <div class="clearfix" ng-if="flightDrawer.passengerSummary.adult.count">
                                <span>{{flightDrawer.passengerSummary.adult.count}} x <lable translate="lbl_common_adult">Adult</lable></span>
                            <span class="pull-right">
                                <span class="currency-text currency"></span>
                                <span isa-connector={{flightDrawer.passengerSummary.adult.total}}></span>
                            </span>
                            </div>

                            <div class="clearfix" ng-if="flightDrawer.passengerSummary.child.count">
                                <span>{{flightDrawer.passengerSummary.child.count}} x <lable translate="lbl_common_child">Child</lable></span>
                            <span class="pull-right">
                                <span class="currency-text currency"></span>
                                <span isa-connector={{flightDrawer.passengerSummary.child.total}}></span>
                            </span>
                            </div>

                            <div class="clearfix" ng-if="flightDrawer.passengerSummary.infant.count">
                                <span>{{flightDrawer.passengerSummary.infant.count}} x <lable translate="lbl_common_infant">Infant</lable></span>
                            <span class="pull-right">
                                <span class="currency-text currency"></span>
                                <span isa-connector={{flightDrawer.passengerSummary.infant.total}}></span>
                            </span>
                            </div><!-- // Passenger charge breakdown -->

                            <hr/>

                            <!--Price breakdown-->
                            <div class="clearfix">
                                <span>Total New Selection</span>

                            <span class="pull-right">
                                <span class="currency-text currency"></span>
                                <span isa-connector={{flightDrawer.displayCharges.newTotal}}></span>
                            </span>
                            </div>

                            <div class="clearfix">
                                <span>Total Old Selection</span>
                            <span class="pull-right">
                                <span class="currency-text currency"></span>
                                <span isa-connector={{flightDrawer.displayCharges.oldTotal}}></span>
                            </span>
                            </div>

                            <div class="clearfix">
                                <span>Non refundable amount</span>
                            <span class="pull-right">
                                <span class="currency-text currency"></span>
                                <span isa-connector={{flightDrawer.displayCharges.nonRefundable}}></span>
                            </span>
                            </div>

                            <div class="clearfix">
                                <span>Modification charge</span>
                            <span class="pull-right">
                                <span class="currency-text currency"></span>
                                <span isa-connector={{flightDrawer.displayCharges.modification}}></span>
                            </span>
                            </div><!--// Price breakdown-->

                            <hr>

                        </div>
                    </div>

                    <div class="clearfix section-total font-weight-bold">Available Credit
                        <span class="pull-right">
                                <span class="currency-text currency"></span>
                                <span class="font-weight-normal currency-value fare-value price font-weight-bold"
                                      isa-connector="{{flightDrawer.charges.creditToDisplay}}"></span>
                        </span>
                    </div>


                    <div class="clearfix sub-total">
                        <div class="pull-right">Total Due Payment<span class="amount">
                             <span class="currency-text currency"></span>
                            <span class="currency-value fare-value price font-weight-bold"
                                  isa-connector="{{flightDrawer.charges.dueAmountToDisplay}}"></span>
                           </span></div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <span class="font-color-red">*</span> By clicking the Confirm button you
                            agree to the <a href="javascript:;" ng-click="main.showTermsAndConditions()"
                                            translate="lbl_common_terms">Terms and Conditions.</a>
                        </div>
                        <div ng-click="flightDrawer.onConfirmCancelSegment()" id="btn-proceed-to-passenger"
                             class="btn red-btn btn-sm col-sm-3">Confirm
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="drawer-bar ng-cloak">
        <div class="container pd-0 pd-bt-2 pd-tp-2" ng-click="main.changeQuoteStatus()">
            <div class="col-sm-12 drawer-bar-col">
                FLIGHT MODIFICATION PRICE BREAKDOWN
            </div>
            <div class="drawer-arrow text-center" ng-click="main.changeQuoteStatus();$event.stopPropagation()"
                 ng-hide="main.quoteStatus">
                <span class="dp-caret fa fa-chevron-up"></span>
            </div>
        </div>
    </div>
</div><!-- // Summary Drawer -->

<!-- Terms and conditions -->
<div class="modal-box" ng-show="main.ismodalModal">
    <!-- Overlay -->
    <div class="overlay"></div><!-- // Overlay -->

    <!-- Modal Content -->
    <div class="modal-content" style="max-width: 900px;top:10%;max-height: 600px">

        <!-- Modal Header -->
        <div class="modal-header">
            <span class="text" translate="lbl_common_terms">Terms and Conditions.</span>
            <span class="close-btn" ng-click="main.closePopup()">
                <i class="fa fa-times"></i>
            </span>
        </div><!-- // Modal Header -->

        <!-- Modal Body -->
        <div class="modal-body" style="max-height: 425px;overflow-y: auto">
            <p ng-bind-html="main.popUpData">

            </p>
        </div><!-- // Modal Body -->

        <!-- Modal Footer -->
        <div class="modal-footer">

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">

                </div>

                <div class="col-md-6 col-sm-6 col-xs-6">
                    <button class="button red-btn" type="button" ng-click="main.closePopup()"
                            translate="btn_summary_drawer_continue">Close and continue
                    </button>
                </div>
            </div>
        </div><!-- // Modal Footer -->
    </div><!-- // Modal Content -->
</div><!-- // Terms and conditions -->