<div ng-controller="FlightSearchCtrl as flight">
    <div class="row collapse search-flight">
        <div class="small-12 columns">
            <ul class="tabs" id="horz-tabs" data-tabs>

                <li class="tabs-title"
                    ng-class="{'is-active' :flight.selectedTab === flight.flightTypes.ONE_WAY}">
                    <a ng-click="flight.setSelectedTab(flight.flightTypes.ONE_WAY)">
                        <span class="icon-oneway3"></span>
                        <span class="one-way">One Way</span>
                    </a>
                </li>
                <li class="tabs-title"
                    ng-class="{'is-active' :flight.selectedTab === flight.flightTypes.RETURN}">
                    <a ng-click="flight.setSelectedTab(flight.flightTypes.RETURN)">
                        <span class="icon-return2"></span>
                        <span>Return</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="small-12 columns flight-search-info ">
            <form name="flightSearch">
                <div class="tabs-content" data-tabs-content="horz-tabs">
                    <div class="tabs-panel is-active">
                        <div class="row">
                            <fieldset class="small-12 columns">
                                <div class="small-2 columns title-icn">
                                    <label for="id-ret_origin">
                                        <span class="icon-plane_depature"></span></label>
                                </div>
                                <div class="small-10 columns input-val">
                                    <select class="origin" id="id-ret_origin"
                                            ng-change="flight.filterDesAirport()"
                                            ng-model="flight.searchCriteria.from"
                                            ng-required="true">
                                        <option value="" disabled selected hidden>Please select departure
                                            airport
                                        </option>
                                        <option ng-repeat="airport in flight.departureAirports"
                                                ng-value="airport.code">{{airport.en}}
                                        </option>
                                    </select>
                                </div>
                            </fieldset>
                        </div>
                        <div class="row">
                            <fieldset class="small-12 columns">
                                <div class="small-2 columns title-icn">
                                    <label for="id-rtn_destination">
                                        <span class="icon-plane_landing"></span></label>
                                </div>
                                <div class="small-10 columns input-val">
                                    <select class="origin" id="id-rtn_destination"
                                            ng-model="flight.searchCriteria.to"
                                            ng-required="true">
                                        <option value="" disabled selected hidden>Please select destination
                                            airport
                                        </option>
                                        <option ng-repeat="airport in flight.destinationAirports"
                                                ng-value="airport.code">{{airport.en}}
                                        </option>
                                    </select>
                                </div>
                            </fieldset>
                        </div>
                        <div class="row">
                            <fieldset class="small-12 columns">
                                <div class="small-12 columns input-val">Departure Date</div>
                                <div class="small-12 columns input-val">
                                    <input type="date"
                                           name="departure-date"
                                           placeholder="Departure Date"
                                           ng-model="flight.searchCriteria.departureDate"
                                           min="{{flight.getTodayFormatted()}}"
                                           ng-change="flight.departureChanged()"
                                           ng-class="{'full': flight.searchCriteria.departureDate}"
                                           ng-required="true">
                                </div>
                            </fieldset>
                        </div>
                        <div class="row" ng-if="flight.selectedTab === flight.flightTypes.RETURN">
                            <fieldset class="small-12 columns">
                                <div class="small-12 columns input-val">Arrival Date</div>
                                <div class="small-12 columns input-val">
                                    <input type="date" name="departure-date"
                                           placeholder="Arrval Date"
                                           ng-model="flight.searchCriteria.returnDate"
                                           min="{{flight.getFormattedReturnDate()}}"
                                           ng-class="{'full': flight.searchCriteria.returnDate}"
                                           ng-required="true">
                                </div>
                            </fieldset>
                        </div>
                        <div class="row">
                            <fieldset class="small-12 columns">
                                <passenger-picker
                                        id="pax-picker"
                                        passenger-details="flight.passengerDetails"
                                        is-open="false">
                                </passenger-picker>
                            </fieldset>
                        </div>
                        <div class="row">
                            <div class="small-12  columns">
                                <fieldset class="small-12">
                                    <input type="text" placeholder="Promo Code" ng-model="flight.searchCriteria.promoCode">
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <fieldset class="small-12 columns">
                                <div class="small-3 columns title-icn text-center">
                                    Currency:
                                </div>
                                <div class="small-9 columns input-val">
                                    <select class="currency" id="id-trn_currency"
                                            ng-model="flight.searchCriteria.currency"
                                            ng-init="flight.searchCriteria.currency = flight.currencies[0]"
                                            ng-options="currency.code as currency.en for currency in flight.currencies track by currency.code "
                                            ng-required="true">
                                        <option value="" disabled selected hidden>Please select currency
                                        </option>
                                    </select>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <button class="button small-12" ng-click="flight.searchFlight()"
                    ng-disabled="flightSearch.$invalid">Search for Flights<span
                    class="icon-arrow_right"></span></button>
        </div>
    </div>
</div>
