﻿<?xml version="1.0" encoding="UTF-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>Pre select services for your travel with Air Arabia. (PNR ::: $notificationDetailDto.getPnr())</subject>
	</header>
	<content>
		<body><![CDATA[
		#parse("email/ancillary_reminder_body_it.xml.vm")	
		]]></body>
	</content>
</message>