
<div ng-controller = "isaColorPickerController" class="theme_pallet_wrapper clearfix">
    <div class="header_bar sub_panel col-md-12"><span>Manage Theme</span></div>
    <div class="col-md-12 color_pallet_container clearfix sub_panel">
        <div class="header-img row-md-12">
        <!-- preview area start--------->
            <div class="preview-wrapper " >
                <div class="container pd-0 " >
                    <ul>
                        <li class="logo pd-4 pd-tp-2">
                            <div class="img-select">
                                <input type="file" id="mainLogo" multiple accept="image/*" style="display:none" fileuploader file-name="main_logo" file-type="image" max-size="185" set-file-selection = "fileSelection(data)">
                                <label for="mainLogo">select logo</label>
                            </div>
                            <div class="icon-img">
                                <canvas id="canvas-mainLogo" ></canvas>
                            </div>
                        </li>
                        <li class="pd-4 pd-tp-5 pd-bt-5 " id="search" >
                            <a href="javascript:;">
                                <i class="number" >1</i>
                                <span >Search</span>
                            </a>
                        </li>
                        <li class="pd-4 pd-tp-5 pd-bt-5 current" id="fare" >
                            <a href="javascript:;" >
                                <i class="icon-done " >2</i>
                                <span  >Select flight</span>
                            </a>
                        </li>
                        <li class="pd-4 pd-tp-5 pd-bt-5 pending" id="passenger" >
                            <a href="javascript:;" >
                                <i class="number " >3</i>
                                <span >Enter Details</span>

                            </a></li>
                        <li class="pd-4 pd-tp-5 pd-bt-5 pending" id="extras" >
                            <a href="javascript:;" >
                                <i class="number " >4</i>
                                <span  >Add extras</span>
                            </a>
                        </li>

                        <li class="pd-4 pd-tp-5 pd-bt-5 pending" id="payment" >
                            <a href="javascript:;" >
                                <i class="number " >5</i>
                                <span  >Pay and confirm</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        <!-- Preview area end----------->


        </div>
        <div class="color-selection row-md-12">
            <ul>
                <li >
                    <label for="cPrimery" class="col-md-6">Primery Color</label><span  class="col-md-6"> <input id="cPrimery" colorpicker type="text" ng-model="colorscheme.primaryColor" /></span>
                </li>
                <li>
                    <label for="cSecondry" class="col-md-6">Secondry Color</label><span  class="col-md-6"> <input id="cSecondry" colorpicker type="text" ng-model="colorscheme.secondaryColor" /></span>
                </li>
                <li>
                    <label for="cVariation" class="col-md-6">color variation</label><span class="col-md-6"> <input id="cVariation" colorpicker type="text" ng-model="colorscheme.color_variation_1" /></span>
                </li>
            </ul>
        </div>
        <div class="btn-panel row-md-4">
            <div class="theme_pallet_btn col-md-2 sub_panel" ng-click="onColorSelectionSave()">
                <div class="save-theme btn"></div>
            </div>
            <div class="theme_pallet_btn col-md-2 sub_panel" id="mainLogo-save" ng-click="onSelectionSave($event)">
                <div class="save-logo btn"></div>
            </div>
        </div>
    </div>
    <div class="image_pallet_wrapper col-md-12 sub_panel clearfix">
        <div class="row-md-12 conten-wrapper">
            <div class="img-wrapper clearfix col-md-6" >
                <div class="img-select">
                    <input type="file" id="zipImages" multiple accept="zip/*" style="display:none" file-name="images" file-type="zip" fileuploader set-file-selection = "fileSelection(data)">
                    <label for="zipImages">upload images</label>
                </div>
                <div class="icon-img">
                    <i></i>
                    <label></label>
                </div>
            </div>
            <div class="col-md-6">
                <p>Please note that all the images should compress with zip format and file name should be images.zip</p>
            </div>
        </div>
        <div class="btn-panel row-md-12">
            <div class="theme_pallet_btn col-md-12 sub_panel" id="zipImages-save" ng-click="onSelectionSave($event)">
                <div class="upload-images btn"></div>
            </div>
        </div>
    </div>
</div>