<div class="search-box-wrapper">
    <form id="multi-city-searchform" name="modifySearch" valdr-type="ModSearch" ng-submit="vm.searchFlight()" novalidate>

        <!-- Search Box -->
        <div class="row container padding-bottom-110">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="multi-city-title">
                            Book Your Multiple Destination Flight
                        </h3>
                        <p>Enter your travel details and select your search preferences below. Click Find Flights when you are done.</p>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-sm-12 multicity-search-panel">
                    <!-- Multi city section -->
                    <div class="multi-destination-list">
                        <div class="destinations">
                            <div class="row" ng-repeat="flight in vm.searchList">
                                <!--From Airport-->
                                <div class="col-md-4">
                                    <label>From <sup class="red">*</sup> </label>
                                    <div class="ibe-typeahead" valdr-form-group>
                                        <div class="input-group inputicon-on-left">
                                            <span class="input-group-addon"><i class="material-icons">flight_takeoff</i></span>
                                            <input ng-model="flight.origin"
                                                   type="text"
                                                   name="search-from"
                                                   uib-typeahead="airport as airport.en for airport in vm.airports | filter:$viewValue | limitTo:8"
                                                   class="form-control"
                                                   autocomplete="off"
                                                   placeholder="Departing City or Airport"/>
                                        </div>
                                    </div>
                                </div><!--/From Airport-->

                                <!--To Airport-->
                                <div class="col-md-4">
                                    <label>To <sup class="red">*</sup> </label>
                                    <div class="ibe-typeahead" valdr-form-group>
                                        <div class="input-group inputicon-on-left">
                                            <span class="input-group-addon"><i class="material-icons">flight_land</i></span>
                                            <input ng-model="flight.destination"
                                                   type="text"
                                                   name="search-from"
                                                   uib-typeahead="airport as airport.en for airport in vm.airports | filter:$viewValue | limitTo:8"
                                                   class="form-control"
                                                   autocomplete="off"
                                                   placeholder="Arrival City or Airport"/>
                                        </div>
                                    </div>
                                </div><!--/To Airport-->

                                <!--Departure Date-->
                                <div class="col-md-4">
                                    <label>Departure Date <sup class="red">*</sup> </label>
                                    <div class="ibe-date-picker" valdr-form-group>
                                        <p class="input-group">
                                            <input ng-model="flight.departureDateTime"
                                                   class="form-control"
                                                   show-button-bar="false"
                                                   show-weeks="false"
                                                   uib-datepicker-popup="{{vm.dateformat}}"
                                                   is-open="flight.isDatePickerOpen"
                                                   min-date="vm.minDepartureDate"
                                                   datepicker-options="dateOptions"
                                                   placeholder="DD/MM/YYYY"
                                                   required
                                                   />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"
                                                        ng-click="vm.datePickerOnClick(flight)">
                                                    <i class="material-icons">today</i>
                                                </button>
                                            </span>
                                        </p>
                                    </div>
                                    <a class="btn remove-city-btn" ng-click="vm.removeSearchSegment($index)" href="">- Remove Destination</a>
                                </div><!--/Departure Date-->
                                
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label class="select-cabin-caption">
                                                Select Cabin
                                            </label>
                                        </div>

                                        <div class="col-sm-9 pad-l-0">
                                        <span class="radio margin-r-10">
                                            <input name="triptype" type="radio" value="Y" ng-model="vm.searchCriteria.cabin" id="economy">
                                            <label for="economy">
                                                <span class="triptype-caption">Economy</span>
                                            </label>
                                        </span>

                                        <span class="radio ">
                                            <input name="triptype" type="radio" value="C" ng-model="vm.searchCriteria.cabin" id="business">
                                            <label for="business">
                                                <span class="triptype-caption">Business</span>
                                            </label>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    
                                    <a class="btn add-city-btn" ng-click="vm.addSearchSegment()" href="">+ Add Destination</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--// Multi city section -->
                    <div class="row pad-t-30">
                        <div class="col-md-4">
                            <label>Who’s Going?</label>
                            <div class="clearfix"></div>

                            <isa-passenger-picker
                                    id="pax-picker"
                                    passenger-details="vm.passengerDetails"
                                    template="multiCity"
                                    is-open="false">
                            </isa-passenger-picker>
                        </div>

                        <div class="col col-md-4">
                            <div class="data-input">
                                <label>Currency <sup class="red">*</sup> </label>
                                <div valdr-form-group>
                                    <div class="ibe-drop-down">
                                        <div class="btn-group" uib-keyboard-nav uib-dropdown>
                                            <button id="currency-button"
                                                    type="button" class="btn btn-primary"
                                                    uib-dropdown-toggle
                                                    ng-disabled="disabled"
                                                    ng-model="mod.selectedCurrency"
                                                    name="currency"
                                                    enable-valdr-validation
                                                    enable-valdr-message>
                                                <span class="dp-caption">{{vm.selectedCurrency || ''}}&nbsp;</span> <span
                                                    class="fa fa-angle-down"></span>
                                            </button>
                                            <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                                                <li ng-repeat="currency in vm.currencyList"
                                                    ng-click="vm.setCurrency(currency)"
                                                    role="menuitem"><a href="javascript:;">{{currency[vm.selectedLanguage]
                                                    ? currency[vm.selectedLanguage] : currency.en }}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="search-promo-code">Promo Code </label>
                            <input ng-model="vm.searchCriteria.promoCode"
                                   id="search-promo-code"
                                   name="search-promo-code"
                                   class="form-control" type="text">
                        </div>
                    </div>

                    <div class="row margin-t-20">
                        <div class="col-md-4 pull-right">
                            <button type="submit" class="btn red-btn"
                                    translate="btn_selectFare_SearchFlights"  ng-disabled="modifySearch.$invalid"> Search Flights
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div><!-- // Search Box -->
    </form>
    <div class="modify-search-overlay ng-cloak" ng-show="mod.isModifyVisible" ng-click="mod.hideModifySearch()"></div>
</div>
