<div class="multi-city-selected-flights">
    <div class="row container  padding-bottom-110" ng-if="true">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="multi-city-title">
                        Selected Flights Options
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">

                    <table class="table">
                        <thead class="thead_bg">
                            <tr>
                                <th class="width-135">Origin / Destination</th>
                                <th>Flight No</th>
                                <th colspan="2">Departure / Arrival</th>

                                <th>Stops</th>
                                <th class="fare" ng-repeat="fare in vm.fareClasses">{{fare.fareClassType}}
                                    <div class="d-block text-center" tooltip-placement="bottom" uib-tooltip="{{fare.description}}">
                                        <i class="material-icons">help_outline</i>
                                    </div>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="ond in vm.originDestinationResponse">
                                <td class="font-size-16"><b>{{ond.origin}}</b> to <b>{{ond.destination}}</b></td>
                                <td>G9503</td>
                                <td>Tue 22 Nov 2016	<br/>
                                    Wed 23 Nov 2016
                                </td>

                                <td>
                                    21:25 / <br/>
                                    03:20
                                </td>

                                <td>No Stop</td>

                                <td class="text-center fare"
                                    ng-repeat="fareClass in ond.availableOptions[0].availableFareClasses"
                                    ng-click="vm.selectFareClass(fareClass, ond)">
                                    <div>
                                        <div class="d-block" ng-if="fareClass.selected">Selected</div>
                                        <div class="d-block" ng-if="!fareClass.selected">Select</div>
                                        <span class="radio">
                                            <input name="faretype{{ond.ondSequence}}"
                                                   type="radio"
                                                   ng-checked="fareClass.selected"
                                                   value="{{ond.ondSequence + fareClass.fareClassCode}}"
                                                   id="{{ond.ondSequence + fareClass.fareClassCode}}">
                                            <label for="{{ond.ondSequence + fareClass.fareClassCode}}"></label>
                                        </span>
                                        <div class="d-block"><b>{{fareClass.price}}</b></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div ng-show="vm.showPriceBreakdown">
                <div class="row margin-t-50">
                    <div class="col-sm-12">
                        <h3 class="d-inline-block multi-city-title">
                            Price Breakdown
                        </h3>
                        <p class="d-inline-block margin-l-20"><b>All payments will be charged in AED. All other currencies are for reference only</b></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">

                        <table class="table">
                            <thead class="thead_bg">
                            <tr>
                                <th>Origin / Destination</th>
                                <th>Pax Type</th>
                                <th>Fare</th>

                                <th>Tax and Surcharge</th>
                                <th>No. of Pax</th>
                                <th>Total</th>
                            </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="pricing in vm.displayCharges">
                                    <td class="font-size-16"><b>{{pricing.originName}} ({{pricing.origin}}) / {{pricing.destinationName}} ({{pricing.destination}})</b></td>

                                    <td ng-if="pricing.paxType == 'AD'">Adult</td>
                                    <td ng-if="pricing.paxType == 'CH'">Child</td>
                                    <td ng-if="pricing.paxType == 'IN'">Infant</td>

                                    <td><b>{{pricing.fare}}</b></td>
                                    <td><b>{{pricing.fare.totalTaxes + pricing.fare.totalSurcharges}}</b></td>
                                    <td>{{pricing.noOfPax}}</td>
                                    <td class="font-size-16"><b>{{pricing.totalFare}}</b></td>
                                </tr>

                                <tr class="total-row">
                                    <td class="text-right" colspan="5"><b>TOTAL (AED)</b></td>
                                    <td class="font-size-16"><b>AED {{vm.selectedFlightPricing.total.price}}</b></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-previous"><i class="material-icons">keyboard_arrow_left</i>Previous</button>
                    </div>

                    <div class="col-md-6">
                        <button class="btn red-btn pull-right" ng-click="vm.onContinueToPassenger()">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
