<div class="multi-city-selecting-flights ">
    <div class="row container padding-bottom-110" ng-if="true">
        <div class="container">

            <div class="row">
                <div class="col-sm-12">
                    <h3 class="multi-city-title">
                        Select Flights
                    </h3>
                </div>
            </div>

            <div ng-repeat="ond in vm.ondResponse">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>
                            Flights from 
                            <b>{{ond.originName}} ({{ond.origin}})</b>
                            <span class="flight-bar"></span>
                            <i class="material-icons rotate-90">airplanemode_active</i> 
                            <span class="flight-bar"></span> 
                            <b>{{ond.destinationName}} ({{ond.destination}})</b>
                        </h4>
                    </div>
                </div>

                <div class="row margin-t-20">
                    <div class="col-sm-12">

                        <div class="flight-result-block clearfix waypoint_{{$index}}">
                
                            <section class="content-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="ma-bt-4 accelAero-slide">
                                            <div class="fare-floater-wrapper" style="width: auto;">
                                                <ul class="clearfix" ng-style="sliderWidth" style="width: 1091px; left: -108px;">
                                                    <li>
                                                        <div class="day-block">
                                                            <div class="animated bounceIn"><img src="js/util/isaui_lib/dist/images/bx_loader.gif" alt="loading"></div>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="day-block">
                                                            <div class="animated fadeIn ng-scope">
                                                                <span class="day-date-text">Tuesday</span>
                                                                <span class="day-month-date-text"><b>27</b> Dec</span>
                                                                <span class="availability">Available</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                
                                                    <li class="selected-date">
                                                        <div class="day-block">
                                                            <div class="animated fadeIn ng-scope">
                                                                <span class="day-date-text">Wednesday</span>
                                                                <span class="day-month-date-text"><b>28</b> Dec</span>
                                                                <span class="availability">Available</span>
                                                            </div>
                                                        </div>
                                                    </li>
                            
                                                    <li>
                                                        <div class="day-block">
                                                            <div class="animated fadeIn ng-scope">
                                                                <span class="day-date-text">Thursday</span>
                                                                <span class="day-month-date-text"><b>29</b> Dec</span>
                                                                <span class="availability">Available</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                            
                                                    <li>
                                                        <div class="day-block">
                                                            <div class="animated fadeIn ng-scope">
                                                                <span class="day-date-text">Friday</span>
                                                                <span class="day-month-date-text"><b>30</b> Dec</span>
                                                                <span class="availability">Available</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                
                                                    <li>
                                                        <div class="day-block">
                                                            <div class="animated fadeIn ng-scope">
                                                                <span class="day-date-text">Saturday</span>
                                                                <span class="day-month-date-text"><b>31</b> Dec</span>
                                                                <span class="availability">Available</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                        
                                                    <li>
                                                        <div class="day-block">
                                                            <div class="animated fadeIn ng-scope">
                                                                <span class="day-date-text">Sunday</span>
                                                                <span class="day-month-date-text"><b>01</b> Dec</span>
                                                                <span class="availability">Available</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                        
                                                    <li>
                                                        <div class="day-block">
                                                            <div class="animated fadeIn ng-scope">
                                                                <span class="day-date-text">Monday</span>
                                                                <span class="day-month-date-text"><b>02</b> Dec</span>
                                                                <span class="availability">Available</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                            
                                                </ul>
                                            </div>
                                            <a class="slide-nav slide-prev" ng-click="navigate('PREV')">
                                            <i class="material-icons">keyboard_arrow_left</i>
                                            </a>

                                            <a class="slide-nav slide-next" ng-click="navigate('NEXT')">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table">
                                            <thead class="thead_bg">
                                                <tr> 
                                                    <th>Flight No</th>
                                                    <th>Departure</th>
                                                    <th>Arrival</th>
                                                    <th>Stops</th>
                                                    <th>Select a Flight</th>
                                                </tr>    
                                            </thead> 

                                            <tbody>
                                                <tr ng-repeat="option in ond.availableOptions">
                                                    <td>{{option.segments[0].segmentCode}}</td>
                                                    <td>{{option.segments[0].arrivalDateTime.zulu | date: 'EEE dd MMM yyyy   HH:mm'}}</td>
                                                    <td>{{option.segments[0].departureDateTime.zulu | date: 'EEE dd MMM yyyy   HH:mm'}}</td>
                                                    <td>No Stop</td>
                                                    <td>
                                                        <span class="radio ">
                                                            <input 
                                                            name="triptype{{ond.ondSequence}}" 
                                                            type="radio" 
                                                            id="flight{{$index + ' ' + ond.ondSequence}}"
                                                            ng-click="vm.flightSelected(option, ond)"
                                                            value="{{$index + ' ' + ond.ondSequence}}">
                                                            
                                                            <label for="flight{{$index + ' ' + ond.ondSequence}}">
                                                                <span class="triptype-caption" ng-show="option.selected">Selected</span>
                                                                <span class="triptype-caption" ng-show="!option.selected">Select</span>
                                                            </label>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </section>
                            </div> 
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>



            <div class="row margin-t-20">
                <div class="col-sm-12">
                    <h3 class="multi-city-title">
                        Selected Flights Options
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <thead class="thead_bg">
                        <tr>
                            <th>Origin / Destination</th>
                            <th>Flight No</th>
                            <th>Cabin</th>
                            <th>Departure</th>
                            <th>Arrival</th>
                            <!--<th>Stops</th>-->
                        </tr>
                        </thead>

                        <tbody>

                        <tr ng-repeat="ond in vm.flightDataModel" ng-show="ond !== null">
                            <td class="font-size-16"><b>{{ond[0].segmentCode}}</b></td>
                            <td>{{ond[0].filghtDesignator}}</td>
                            <td>Y</td>
                            <td>{{ond[0].departureDateTime.zulu | date: 'EEE dd MMM yyyy   HH:mm'}}</td>
                            <td>{{ond[0].arrivalDateTime.zulu | date: 'EEE dd MMM yyyy   HH:mm'}}</td>
                            <!--<td>No Stop</td>-->
                        </tr>

                        <!--<tr>
                            <td class="font-size-16"><b>Colombo (CMB) / Moscow (MDD)</b></td>
                            <td colspan="5"><span class="no-flights-msg">No flights are available.</span></td>
                        </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-previous"><i class="material-icons">keyboard_arrow_left</i>Previous</button>
                </div>
                <div class="col-md-6">
                    <button 
                    class="btn red-btn pull-right" 
                    ng-disabled="!vm.allFlightsSelected()"
                    ng-click="vm.getPriceQuote()"
                    >Get a Price Quote</button>
                </div>
            </div>

        </div>

    </div>

</div>
