<div class="hotel-car-popup row">

    <div class="col-md-12 promo-item">

        <div class="item-img pull-left">
            <img src="images/confirmation_popup/hotels_no_cache.jpg" alt="" />
        </div>
        <div class="item-desc pull-left">
            <h3 translate="lbl_pgInterlineConfirm_hotelHeading">Hotels</h3>
            <div class="list">
                <div><i class="fa fa-check-circle"></i><span translate="lbl_pgInterlineConfirm_hotelText1"> 263,948 properties worldwide!</span> </div>
                <div><i class="fa fa-check-circle"></i><span translate="lbl_pgInterlineConfirm_hotelText2"> 41,000+ destinations!</span> </div>
                <div><i class="fa fa-check-circle"></i><span translate="lbl_pgInterlineConfirm_hotelText3"> No booking fees!</span> </div>
                <div><i class="fa fa-check-circle"></i><span translate="lbl_pgInterlineConfirm_hotelText4"> Best Price Guaranteed!</span> </div>
            </div>
        </div>
        <div class="btn-booknow">
            <a href="{{confirm.bookingUrl}}" target="_blank" class="btn red-btn pull-right"><span translate="lbl_pgInterlineConfirm_btnBookNowHotels">Book Now</span></a>
        </div>

    </div>


    <div class="col-md-12 promo-item">

        <div class="item-img pull-left">
            <img src="images/confirmation_popup/cars_no_cache.jpg" alt="" />
        </div>
        <div class="item-desc pull-left">
            <h3><span translate="lbl_pgInterlineConfirm_carsHeading">Car Hire: From AED 70 /day</h3>
            <div class="list">
                <div><i class="fa fa-check-circle"></i><span translate="lbl_pgInterlineConfirm_carsText1">800 car rental suppliers!</span> </div>
                <div><i class="fa fa-check-circle"></i><span translate="lbl_pgInterlineConfirm_carsText2">30,000 locations worldwide!</span> </div>
                <div><i class="fa fa-check-circle"></i><span translate="lbl_pgInterlineConfirm_carsText3">Great car hire deals!</span> </div>
            </div>
        </div>
        <div class="btn-booknow">
            <a href="https://www.cartrawler.com/airarabia/?clientId=420667" target="_blank" class="btn red-btn pull-right"><span translate="lbl_pgInterlineConfirm_btnBookNowCar">Book Now</span></a>
        </div>

    </div>

</div>
