<!-- Page Wrapper -->
<div class="content-wrapper payment-confirmation xs-pay-confirmation" ng-controller="confirmController as confirm" ng-hide="confirm.hasDataLoadingErrorOccured">

    <!-- Modal Box -->
    <div class="modal-box promotion" ng-show="confirm.isPopupVisible">
        <!-- Overlay -->
        <div class="overlay" ng-click="confirm.isPopupVisible = false"></div><!-- // Overlay -->

        <!-- Modal Content -->
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="margin-bottom:0px;">
                <span class="close-btn" ng-click="confirm.isPopupVisible = false">
                    <i class="fa fa-times"></i>
                </span>
            </div><!-- // Modal Header -->

            <!-- Modal Body -->
            <div class="modal-body">

                <div ng-include="'modules/reservation/confirm/templates/airarabia.popup.tpl.html'"></div>

            </div><!-- // Modal Body -->

            <!-- Modal Footer -->
            <div class="modal-footer">
                <div class="row">
                </div>
            </div><!-- // Modal Footer -->

        </div><!-- // Modal Content -->
    </div><!-- // Modal Box -->

    <!-- Print Only Header AirArabia -->
    <div class="print-header">
        <img src="images/main_logo_red.png">
    </div><!-- // Print Only Header AirArabia -->

    <!--ipgResults-->
    <div class="inpage-alert alert-warning" ng-show="confirm.igp">
        <h4>Transaction Details</h4>
        <div class="row">
            <div class="col-sm-6">
                <span>Transaction Time</span>:
                <span class="pull-right">{{confirm.igp.transactionTime}}</span>
            </div>

            <div class="col-sm-6">
                <span>Amount</span>:
                <span class="pull-right">{{confirm.igp.currency}}&nbsp;{{confirm.igp.amount}}</span>
            </div>

            <div class="col-sm-6">
                <span>Reference ID</span>:
                <span class="pull-right">{{confirm.igp.referenceID}}</span>
            </div>

            <div class="col-sm-6">
                <span>Transaction Status</span>:
                <span class="pull-right">{{confirm.igp.transactionStatus}}</span>
            </div>

            <div class="col-sm-6">
                <span>Merchant Track ID</span>:
                <span class="pull-right">{{confirm.igp.merchantTrackID}}</span>
            </div>
        </div>
    </div><!--ipgResults-->

    <!-- Header buttons -->
    <div class="hidden-xs">
        <div class="row reservation-header-btn xssm-reservation-header-btn">
            <div class="col col-sm-2 col-xs-6 pull-left">
                <a class="button red-btn xs-red-button" ng-click="confirm.finish()" translate="lbl_common_finish">Finish</a>
            </div>
            <div class="head-print-btn col col-sm-2 col-xs-6 pull-right">
                <button class="button red-btn xs-red-button" ng-click="confirm.print()" translate="lbl_common_print">Print</button>
            </div>
            <div class="head-emailme-btn col col-sm-2 hidden-xs pull-right" ng-if="!!confirm.emailAddress">
                <button class="button truncate red-btn xs-red-button" ng-click="confirm.sendEmail()" translate="lbl_common_emailMe">Email Me</button>
            </div>
            <div class="col-xs-12 xs-text-center hidden-md hidden-sm hidden-lg" style="margin-top : 10px;" ng-if="!!confirm.emailAddress">
                <button class="button red-btn xs-red-button" style="margin-bottom : 0;" ng-click="confirm.sendEmail()" translate="lbl_common_emailMe">Email Me</button>
            </div>
        </div>
    </div><!-- // Header buttons -->

    <!-- Content header -->
    <section class="content-header">
        <!-- Page Title -->
        <div class="row">
            <div class="hidden-xs col-sm-12 col-md-12">    
                <h1 class="page-title">
                    <span translate="title_confirm_reservation">Reservation Summary</span>
                </h1><!-- // Page Title -->
            </div>
            <div class="hidden-sm hidden-md hidden-lg col-xs-12">    
                <p class="xs-res-summarytxt" translate="title_confirm_reservation">Reservation Summary</p>
            </div>
        </div>	
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 xs-text-left pd-lt-0 pd-rt-0">
                <span class="thanks text-left pd-rt-5">
                    <i class="fa fa-check-circle"></i>
                    <label class="hidden-xs" translate="msg_confirm_confirmSuccess">Your Reservation is confirmed.</label>
                    <!-- this is temporary fixed till language translation cms impliment -->
                    <label class="pd-rt-5" ng-if="confirm.carrierCode == '6Q'" translate="msg_confirm_thankyou_chamwings">Thank You for Choosing Cham Wings</label>
                    <label class="pd-rt-5" ng-if="confirm.carrierCode != 'W5' && confirm.carrierCode != '6Q'" translate="msg_confirm_thankyou">Thank You for Choosing Air Arabia</label>
                    <label class="pd-rt-5" ng-if="confirm.carrierCode == 'W5'" translate="msg_confirm_thankyou_mahan">Thank You for Choosing Mahan Air</label>
                </span>
            </div>
        </div>
        <div class="row" id="confirm-It" ng-hide="(confirm.carrierCode == 'W5' && confirm.itineraryLanguage == 'fa')">
            <div class="col-xs-12 col-sm-12 col-md-12 xs-text-left pd-lt-0 pd-rt-0">
                <div class="inpage-alert alert-warning xs-section-font"  role="alert">
                    <span>
                        <sup class="red">*</sup>
                        <span translate="lbl_confirm_passengers">Passengers, who bought tickets via credit cards, will be asked by airport staff for a proof of payment.</span>
                    </span>
                </div>
            </div>
        </div>
    </section><!-- // Content header -->

    <!-- Content Body -->
    <section class="content-body sm-summary-sections sm-section">

        <!-- Booking Details -->
        <div class="section booking-details">
            <!-- Heading -->
            <div class="s-heading">
                <label translate="lbl_confirm_booking">Booking Details</label>
            </div><!-- // Heading -->

            <!-- Content -->
            <div class="content xs-section-font">
                <div class="row" style="margin-right:0;">
                    <div class="col-sm-4 col-xs-4 xs-reservation">
                        <span translate="lbl_confirm_reservNum">Reservation Number</span><br/>
                        <label>{{ confirm.reservationNumber}}</label>
                    </div>
                    <div class="col-sm-4 hidden-xs  xs-text-right xs-reservation">
                        <span translate="lbl_confirm_reservDate">Reservation Date</span><br/>
                        <label class="xs-lefttext ">{{ confirm.reservationDate}}</label>
                    </div>
                    <div class="col-sm-4 hidden-xs" ng-if="confirm.policyCode !== null">
                        <span translate="lbl_confirm_policyCode">Policy Code</span><br/>
                        <label>{{ confirm.policyCode}}</label>
                    </div>
                    <!--<span>{{confirm.policyCode}}</span>-->
                    <div class="hidden-lg hidden-md hidden-sm col-xs-8 pd-l-0 pd-r-0" ng-if="confirm.policyCode !== null && confirm.policyCode !== ''">
                        <div class="col-xs-4  text-center xs-reservation-date pd-l-0" >
                            <span translate="lbl_confirm_reservDate">Reservation Date</span><br/>
                            <label class="xs-textcenter">{{ confirm.reservationDate}}</label>
                        </div>
                        <div class="col-xs-4 xs-text-right xs-reservation-policy pd-r-0" >
                            <span translate="lbl_confirm_policyCode">Policy Code</span><br/>
                            <label>{{ confirm.policyCode}}</label>
                        </div>
                    </div>
                    <div class="col-xs-7 hidden-lg hidden-md hidden-sm" ng-if="confirm.policyCode === null || confirm.policyCode === ''" style="width: 100% !important;">
                        <div class="xs-reservation pd-r-0" >
                            <span translate="lbl_confirm_reservDate">Reservation Date</span><br/>
                            <label class="xs-lefttext ">{{ confirm.reservationDate}}</label>
                        </div>	                
                    </div>
                    <!-- // Content -->
                </div><!-- // Booking Details -->
            </div>
        </div>

        <!-- Your Itinerary -->
        <div class="section your-itinerary sm-section">
            <!-- Heading -->
            <div class="s-heading">
                <label translate="title_confirm_itinerary">Your Itinerary</label>
            </div><!-- // Heading -->

            <!-- Content -->
            <div class="content hidden-xs">

                <!-- Flight-->
                <div class="flight" ng-repeat="flight in confirm.itinerary">
                    <div class="pad-l-0 pull-left details col col-sm-4" ng-class="{'confirmed': flight.status === 'CNF','canceled': flight.status === 'CNX','hold': flight.status === 'ONH'}">
                        <label>
                            <span class="d-label truncate reservation-summary-src-dest-md">
                                <i class="strong">{{ flight.segmentCode.split('/')[0] | airport}}</i>
                            </span>
                                <i translate="msg_common_to">to</i>
                            <span class="d-label truncate reservation-summary-src-dest-md">
                                <i class="strong">{{ flight.segmentCode.split('/')[flight.segmentCode.split('/').length - 1] | airport }}</i>
                            </span>
                            <i ng-class="{'fa-check-circle': flight.status === 'CNF','fa-times-circle': flight.status === 'CNX','fa-ban': flight.status === 'ONH'}" class="fa"></i>
                            

                            <span ng-if="flight.travelMode == 'FLIGHT'" class="select-flight-plane-icon" ng-class="confirm.getFlightDirection(flight.segmentCode.split('/')[0], flight.segmentCode.split('/')[flight.segmentCode.split('/').length - 1]) === 'inbound' ? 'icon-inbound-plane-small' : 'icon-outbound-plane-small'" class="ico">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </span>
                            <span ng-if="flight.travelMode == 'BUS'" class="ico icon-bus" >
                            </span>
			               
                        </label>
                        <p>
                            <span>{{ flight.departureAirportTerminalName}}</span>
                            <span translate="" translate-values="lbl_confirm_flightDesig" translate-values="{a:'{{ flight.flightDesignator}}'}">Flight {{ flight.flightDesignator}}</span>
                        </p>
                    </div>
                    <div class="departure col col-sm-4 pad-l-0">
                        <label translate="lbl_common_departure">Departure</label>
                        <span>{{flight.departureDateTime.local| date: 'dd-MM-yyyy HH:mm'}}</span>
                    </div>
                    <div class="arrival col col-sm-4 pad-l-0">
                        <label translate="lbl_common_arrival">Arrival</label>
                        <span>{{flight.arrivalDateTime.local| date: 'dd-MM-yyyy HH:mm'}}</span>
                    </div>
                </div><!-- // Flight -->
            </div>
            <div class="content hidden-sm hidden-md hidden-lg">
                <!-- Flight-->
                <div class="flight xs-section-font" ng-repeat="flight in confirm.itinerary">
                    <div class="row">
                        <div class="col-xs-6" ng-class="{'confirmed': flight.status === 'CNF','canceled': flight.status === 'CNX','hold': flight.status === 'ONH'}">
                            <label>
                                <span class="d-label">
                                    <i class="strong">{{ flight.segmentCode.split('/')[0] | airport}}</i>
                                    <i translate="msg_common_to">to</i>
                                    <i class="strong">{{flight.segmentCode.split('/')[1] | airport}}</i>
                                </span>

                                <i ng-class="{'fa-check-circle': flight.status === 'CNF','fa-times-circle': flight.status === 'CNX','fa-ban': flight.status === 'ONH'}" class="fa"></i>	     
                            </label>
                        </div>
                        <div class="col-xs-6 xs-text-right flight-num" ng-class="{'confirmed': flight.status === 'CNF','canceled': flight.status === 'CNX','hold': flight.status === 'ONH'}">                                
                            <span class="select-flight-plane-icon  confirm-plane-icon xs-text-right" ng-class="confirm.getFlightDirection(flight.segmentCode.split('/')[0], flight.segmentCode.split('/')[1]) === 'inbound' ? 'icon-plane-shape icon-plane_shape_L' : 'icon-plane-shape icon-plane_shape_R'" class="ico">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </span>

                            <span translate="lbl_common_flightNo">Flight</span>
                            <label>{{ flight.flightDesignator}}</label>

                        </div>
                    </div>
<!--                    <br/>-->
                    <div class="row">
                        <div class="col-xs-6" >                     		
                            <span translate="lbl_common_departure" class="xs-text-right">Departure</span><br/>
                            <label class="direction-ltr">{{flight.departureDateTime.local| date: 'dd-MM-yyyy HH:mm'}}</label>
                        </div>
                        <div class="col-xs-6 xs-text-right">
                            <span translate="lbl_common_arrival" class="xs-text-right">Arrival</span><br/>
                            <label class="direction-ltr">{{flight.arrivalDateTime.local| date: 'dd-MM-yyyy HH:mm'}}</label>
                        </div>
                    </div>
                </div><!-- // Flight -->
            </div>

            <!-- // Content -->
        </div><!-- // Your Itinerary -->

        <!-- Passenger Information -->
        <div class="section passenger-information sm-section">

            <!-- Heading -->
            <div class="s-heading">
                <label translate="lbl_confirm_paxInfo">Passenger Information</label>
            </div><!-- // Heading -->

            <!-- Content -->
            <div class="content hidden-xs">
                <!-- Passenger Information Block : Adult -->
                <div class="passenger-information-block">
                    <div class="ps-row ps-head">
                        <div class="ps-col col-1 col-sm-4 pull-left pad-l-0">
                            <h3 translate="lbl_common_adults">Adults</h3>
                        </div>
                        <div class="ps-col col-2 col-sm-8 pad-l-0">
                            <h3 translate="lbl_confirm_additionalService" ng-show="confirm.hasAnciSelected">Additional Service Details</h3>
                        </div>
                    </div>

                    <div class="ps-row" ng-repeat="pax in confirm.passengers" ng-if="pax.paxType === 'adult'">

                        <div class="ps-col col-1 col-sm-4 pull-left pad-l-0">
                            <label>{{pax.title| salutationFilter}} {{pax.firstName}} {{pax.lastName}}</label>
                        </div>
                        <div class="ps-col col-2 col-sm-8 pad-l-0">
                            <!--<div class="row">-->
                            <div class="ps-flight  pull-left" ng-repeat="extra in pax.extras">
                                <label>
                                    <span>
                                        <i class="strong">{{extra.flightSegmentCode.split('/')[0] | airport}}</i>
                                        <i translate="msg_common_to">to</i>
                                        <i class="strong">{{extra.flightSegmentCode.split('/')[extra.flightSegmentCode.split('/').length - 1] | airport }}</i>
                                    </span>
                                    <span ng-class="confirm.getFlightDirection(extra.flightSegmentCode.split('/')[0], extra.flightSegmentCode.split('/')[extra.flightSegmentCode.split('/').length - 1]) === 'inbound' ? 'icon-inbound-plane-small' : 'icon-outbound-plane-small'" class="ico">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </span>
                                </label>
                                <div class="ps-data" >
                                    <span translate="lbl_confirm_seats" translate-values="{a: '{{extra.seat}}'}" ng-show="extra.seat !== ''">Seat - {{extra.seat}}</span>
                                    <span translate="lbl_confirm_meals" translate-values="{a: '{{extra.meal}}'}" ng-show="extra.meal !== ''">Meals - {{extra.meal}}</span>
                                    <span translate="lbl_confirm_baggage" translate-values="{a: '{{extra.baggage}}'}" ng-show="extra.baggage !== ''">Baggage - {{extra.baggage}}</span>
                                    <span ng-show="extra.airprotServices !== ''">Airport Services - {{extra.airprotServices}}</span>
                                    <span ng-show="extra.specialServices !== ''">SSR - {{extra.specialServices}}</span>
                                </div>
                            </div>
                            <!--</div>-->
                        </div>

                    </div>

                </div><!-- // Passenger Information Block -->

                <!-- Passenger Information Block : Children -->
                <div class="passenger-information-block" ng-if="confirm.isChildrenAvailable">
                    <div class="ps-row ps-head">
                        <div class="ps-col col-1 col-sm-4 pull-left pad-l-0">
                            <h3 translate="lbl_common_children">Children</h3>
                        </div>
                        <div class="ps-col col-2 col-sm-8 pad-l-0">
                            <h3 translate="lbl_confirm_additionalService">Additional Service Details</h3>
                        </div>
                    </div>

                    <div class="ps-row" ng-repeat="pax in confirm.passengers" ng-if="pax.paxType === 'child'">

                        <div class="ps-col col-1 col-sm-4 pull-left pad-l-0">
                            <label>{{pax.title| salutationFilter}} {{pax.firstName}} {{pax.lastName}}</label>
                        </div>

                        <div class="ps-col col-2 col-sm-8 pad-l-0">
                            <div class="ps-flight pull-left ng-scope" ng-repeat="extra in pax.extras">
                                <label>
                                        <span>
                                            <i class="strong">{{extra.flightSegmentCode.split('/')[0] | airport}}</i>
                                            <i translate="msg_common_to">to</i>
                                        <i class="strong">{{extra.flightSegmentCode.split('/')[extra.flightSegmentCode.split('/').length - 1] | airport }}</i>
                                        </span>
                                        <span ng-class="confirm.getFlightDirection(extra.flightSegmentCode.split('/')[0], extra.flightSegmentCode.split('/')[1]) === 'inbound' ? 'icon-inbound-plane-small' : 'icon-outbound-plane-small'" class="ico">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </span>
                                </label>
                                <div class="ps-data" >
                                    <span translate="lbl_confirm_seats" translate-values="{a: '{{extra.seat}}'}" ng-show="extra.seat !== ''">Seat - {{extra.seat}}</span>
                                    <span translate="lbl_confirm_meals" translate-values="{a: '{{extra.meal}}'}" ng-show="extra.meal !== ''">Meals - {{extra.meal}}</span>
                                    <span translate="lbl_confirm_baggage" translate-values="{a: '{{extra.baggage}}'}" ng-show="extra.baggage !== ''">Baggage - {{extra.baggage}}</span>
                                    <span ng-show="extra.airprotServices !== ''">Airport Services - {{extra.airprotServices}}</span>
                                    <span ng-show="extra.specialServices !== ''">SSR - {{extra.specialServices}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- // Passenger Information Block -->



                <!-- Passenger Information Block : Infant -->
                <div class="passenger-information-block" ng-if="confirm.isInfantAvailable">
                    <div class="ps-row ps-head">
                        <div class="ps-col col-1 col-sm-4 pad-l-0 pull-left">
                            <h3 translate="lbl_common_infants">Infants</h3>
                        </div>
                        <div class="ps-col col-2 col-sm-8 pad-l-0">
                            <h3 translate="lbl_confirm_travelWith">Traveling With</h3>
                        </div>
                    </div>

                    <div class="ps-row" ng-repeat="pax in confirm.passengers" ng-if="pax.paxType === 'infant'">

                        <div class="ps-col col-1 col-sm-4 pull-left pad-l-0">
                            <label>{{pax.title| salutationFilter}} {{pax.firstName}} {{pax.lastName}}</label>
                        </div>
                        <div class="ps-col col-2 col-sm-8">
                            <div class="row">
                                <div class="ps-flight xs-psflight col-sm-6 pull-left pad-l-0">
                                    <div class="ps-data">
                                        <span>{{pax.travelWithAdult.title| salutationFilter}} {{pax.travelWithAdult.firstName}} {{pax.travelWithAdult.lastName}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div><!-- // Passenger Information Block -->
            </div><!-- // Content -->

            <div class="hidden-sm hidden-md hidden-lg content">
                <div class="row">	
                    <div class="col-xs-12" style="padding-bottom:10px !important;">
                        <h3 translate="lbl_common_adults" class="xs-pass-heading">Adults</h3>
                    </div>	
                </div>
                <div class="row xs-passdetailsrow" ng-repeat="pax in confirm.passengers" ng-if="pax.paxType === 'adult'" >
                  <uib-accordion >
                    <div uib-accordion-group class="panel-default" is-open="status.open" >
                     <uib-accordion-heading>
                    <div class="col-xs-10 pull-left xs-passdetailsrow-border">
                        <span class="xs-lbl-name">{{pax.title| salutationFilter}} {{pax.firstName}} {{pax.lastName}}</span>
                    </div>
                    
                    <div class="col-xs-2 pull-right xs-passdetailsrow-border" ng-if="confirm.hasAnciSelected">
                        <span class="pull-right fa pd-lt-10" ng-class="{'fa-angle-up': status.open, 'fa-angle-down': !status.open}"></span>
                    </div>	
                     </uib-accordion-heading>
                    <!-- Adult -->
                    <div ng-if="confirm.hasAnciSelected" class="col-xs-12 additionalservices xs-passdetailsrow" collapse="!status.open">	                	
                        <div class="row">
                            <div class="col-xs-12" ng-repeat="extra in pax.extras">
                                <div class="row">
                                    <div class="col-xs-12" style="margin-bottom: 10px !important;" >
                                        <label class="col-xs-4">
                                            <span class="select-flight-plane-icon  pd-lt-10" ng-class="confirm.getFlightDirection(extra.flightSegmentCode.split('/')[0], extra.flightSegmentCode.split('/')[1]) === 'inbound' ? 'icon-plane_shape_L' : 'icon-plane_shape_R'" class="ico">
                                                <!--                                           <span  ng-class="confirm.getFlightDirection(flight.segmentCode.split('/')[0], flight.segmentCode.split('/')[1]) === 'inbound' ? 'icon-plane-shape icon-plane_shape_L' : 'icon-plane-shape icon-plane_shape_R'" class="ico">-->
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </span>
                                            <span>
                                                <i class="strong">{{extra.flightSegmentCode.split('/')[0]}}</i>
                                                <i translate="msg_common_to">to</i>
                                                <i class="strong">{{extra.flightSegmentCode.split('/')[1]}}</i>
                                            </span>
                                            <!--</label>-->

                                        </label>   
                                        <div class="col-xs-8 pd-rt-0" style="padding: 0 10px 0 0">     
                                            <div class="row mr-lt-0 mr-rt-0" style="display: flex;">
                                                <span class="col-xs-6" style="direction: ltr" translate="lbl_confirm_seats" translate-values="{a: '{{extra.seat}}'}" ng-show="extra.seat !== ''">Seat - {{extra.seat}}</span>
                                                <span class="col-xs-6" style="direction: ltr" translate="lbl_confirm_meals" translate-values="{a: '{{extra.meal}}'}" ng-show="extra.meal !== ''">Meals - {{extra.meal}}</span>
                                                <span class="col-xs-6" style="direction: ltr" translate="lbl_confirm_baggage" translate-values="{a: '{{extra.baggage}}'}" ng-show="extra.baggage !== ''">Baggage - {{extra.baggage}}</span>
                                                <span class="col-xs-6" style="direction: ltr" ng-show="extra.airprotServices !== ''">Airport Services - {{extra.airprotServices}}</span>
                                                <span class="col-xs-6" style="direction: ltr" ng-show="extra.specialServices !== ''">SSR - {{extra.specialServices}}</span>		                               
                                            </div>
                                        </div>
                                    </div>

                                    <br/>
                                </div>
                            </div>	
                        </div>
                    </div>
                    </div>
                    </uib-accordion>
                </div>
                
                
                <!-- Children -->
                
                <div class="row" ng-if="confirm.isChildrenAvailable">	
                    <div class="col-xs-12" style="margin-bottom: 10px !important;">	                
                        <h3 translate="lbl_common_children" class="xs-pass-heading">Children</h3>
                    </div>	
                </div>
                <div class="row xs-passdetailsrow" ng-repeat="pax in confirm.passengers" ng-if="pax.paxType === 'child'">	
                    <uib-accordion >
                    <div uib-accordion-group class="panel-default" is-open="status.open" >
                     <uib-accordion-heading>
                    <div class="col-xs-10 pull-left xs-passdetailsrow-border xs-passdetailsrow-lbl">
                        <span class="xs-lbl-name-child">{{pax.title| salutationFilter}} {{pax.firstName}} {{pax.lastName}}</span>
                    </div>
                    <div class="col-xs-2 pull-right xs-passdetailsrow-border">
                        <span class="pull-right fa pd-lt-10" ng-class="{'fa-angle-up': status.open, 'fa-angle-down': !status.open}"></span>
                    </div>
                   </uib-accordion-heading>
                        
                        

                    <div class="col-xs-12 additionalservices passdetailsrow" style="margin-bottom: 10px !important;" collapse="!status.open">	                	
                        <div class="row">
                            <div class="col-xs-12" ng-repeat="extra in pax.extras">
                                <div class="row">
                                    <div class="col-xs-12" style="padding: 0 !important; margin-top: 0 !important;margin-bottom: 10px !important;">
                                        <label class="col-xs-4">
                                        	<span class="select-flight-plane-icon pd-lt-10" ng-class="confirm.getFlightDirection(extra.flightSegmentCode.split('/')[0], extra.flightSegmentCode.split('/')[1]) === 'inbound' ? 'icon-plane_shape_L' : 'icon-plane_shape_R'" class="ico">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </span>
                                            <span>
                                                <i class="strong">{{extra.flightSegmentCode.split('/')[0]}}</i>
                                                <i translate="msg_common_to">to</i>
                                                <i class="strong">{{extra.flightSegmentCode.split('/')[1]}}</i>
                                            </span>		                                    
                                        </label>
                                         <div class="col-xs-8 pd-rt-0" style="padding: 0 10px 0 0 !important;">
                                         	<div class="row mr-lt-0 mr-rt-0" style="display: flex;">
	                                            <span class="col-xs-6" style="direction: ltr" translate="lbl_confirm_seats" translate-values="{a: '{{extra.seat}}'}" ng-show="extra.seat !== ''">Seat - {{extra.seat}}</span>
	                                            <span class="col-xs-6" style="direction: ltr" translate="lbl_confirm_meals" translate-values="{a: '{{extra.meal}}'}" ng-show="extra.meal !== ''">Meals - {{extra.meal}}</span>
	                                            <span class="col-xs-6" style="direction: ltr" translate="lbl_confirm_baggage" translate-values="{a: '{{extra.baggage}}'}" ng-show="extra.baggage !== ''">Baggage - {{extra.baggage}}</span>
	                                            <span class="col-xs-6" style="direction: ltr" ng-show="extra.airprotServices !== ''">Airport Services - {{extra.airprotServices}}</span>
	                                            <span class="col-xs-6" style="direction: ltr" ng-show="extra.specialServices !== ''">SSR - {{extra.specialServices}}</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>	
                        </div>
                    </div>
                    </div>
                  <uib-accordion >
                </div>

                <div class="passenger-information-block" ng-if="confirm.isInfantAvailable">
                    <div class="row">	
                        <div class="col-xs-12" style="margin-bottom: 10px !important;">		                
                            <h3 translate="lbl_common_infants" class="xs-pass-heading">Infants</h3>
                        </div>	
                    </div>
                    <div class="row xs-passdetailsrow" ng-repeat="pax in confirm.passengers" ng-if="pax.paxType === 'infant'">	
                        <uib-accordion >
                    <div uib-accordion-group class="panel-default" is-open="status.open" >
                     <uib-accordion-heading>
                        <div class="col-xs-10 pull-left xs-passdetailsrow-border">
                            <span class="xs-lbl-name-infant">{{pax.title| salutationFilter}} {{pax.firstName}} {{pax.lastName}}</span>
                        </div>
                        <div class="col-xs-2 pull-right xs-passdetailsrow-border">
                            <span class="pull-right fa pd-lt-10" ng-class="{'fa-angle-up': status.open, 'fa-angle-down': !status.open}"></span>
                        </div>
                     </uib-accordion-heading>

                        <div class="col-xs-12 additionalservices xs-passdetailsrow" collapse="!status.open">
                            <h3 translate="lbl_confirm_travelWith" class="xs-addi-heading" style="margin-top: 0 !important;">Traveling With</h3>
                            <strong style="font-size: 12px !important;"><span>{{pax.travelWithAdult.title| salutationFilter}} {{pax.travelWithAdult.firstName}} {{pax.travelWithAdult.lastName}}</span></strong>
                        </div>
                       </div>
                      </uib-accordion >
                    </div>
                    <!-- Infant -->
                </div>
            </div>
        </div>
        <!-- // Passenger Information -->

        <!-- Payment Details -->
        <div class="section payment-details sm-section">

            <!-- Heading -->
            <div class="s-heading">
                <label translate="lbl_confirm_paymentDetails">Payment Details</label>
            </div><!-- // Heading -->

            <!-- Content -->
            <!--  <div class="content">
                 <ul>
                     <li ng-repeat="charge in confirm.charges" ng-class="{'total':(charge.isTotal)}">
                         <label>{{ charge.type}}</label>
                         <span>
                             {{ charge.currencyType === "BASE" ? confirm.baseCurrency : confirm.paymentGatewayCurrency }}
                             <i isa-connector="{{charge.amount}}" with-decimal="true" decimal-points="2" currency="{{charge.currencyType === 'BASE' ? confirm.baseCurrency : confirm.paymentGatewayCurrency}}"></i>
                         </span>
                     </li>
                 </ul>
             </div> -->

            <!-- Generating responsive seperately -->
            <div class="content">
                <div class="row paymentdet-row ma-0" ng-repeat="charge in confirm.charges" ng-class="{'total':(charge.isTotal)}">
                    <span class="total-hr" ng-if="charge.isTotal"><hr></span>
                    <div class="col-xs-7 col-sm-8 col-md-8 pd-0">
                        <label>{{ charge.type}}</label>
                    </div>
                    <div class="col-xs-5 col-sm-4 col-md-4 total-paid-confirm-reservation pd-0">
                        <span style="float: left;">
                            {{ charge.currencyType === "BASE" ? confirm.baseCurrency : confirm.paymentGatewayCurrency }}
                        </span>
                        <span class="numeric-amount" style="float:right;" isa-connector="{{charge.amount}}" with-decimal="true" decimal-points="2" currency="{{charge.currencyType === 'BASE' ? confirm.baseCurrency : confirm.paymentGatewayCurrency}}" is-base-currency="{{charge.currencyType === 'BASE'}}">
                        </span>
                    </div>
                </div>
            </div>
            <!-- // Content -->
        </div><!-- // Payment Details -->

        <!-- Contact Information -->
        <div class="section contact-info">

            <!-- Heading -->
            <div class="s-heading">
                <label translate="lbl_common_contactInfo">Contact Information</label>
            </div><!-- // Heading -->

            <!-- Content -->
            <div class="content row md-contactrow">

                <div class="xs-contactrow">
                    <div class="col-sm-4 col-xs-12 xs-text-left">
                        <label translate="lbl_confirm_personName" class="xs-contact-labels">Contact Person Name</label>
                        <p>{{confirm.contactPerson.title| salutationFilter}} {{confirm.contactPerson.firstName}} {{confirm.contactPerson.lastName}}</p>
                    </div>

                    <div class="col-sm-4 col-xs-12 xs-text-left">
                        <label translate="lbl_common_citizenship" class="xs-contact-labels">Nationality</label>
                        <p>{{ confirm.nationality | nationality }}</p>
                    </div>

                    <div class="col-sm-4 col-xs-12 xs-text-left">
                        <label translate="lbl_common_country" class="xs-contact-labels">Country of Residence</label>
                        <p>{{ confirm.countryOfResidence | country }}</p>
                    </div>
                </div>

                <div class="xs-contactrow">
                    <div class="col-sm-4 col-xs-12 xs-text-left">
                        <label translate="lbl_common_mobilePhone" class="xs-contact-labels">Mobile Phone</label>
                        <p class="text-left" dir="ltr">{{ confirm.mobilePhone}}</p>
                    </div>

                    <div class="col-sm-4 col-xs-12 xs-text-left">
                        <label translate="lbl_common_phone" class="xs-contact-labels">Phone</label>
                        <p class="text-left" dir="ltr">{{ confirm.phone ? confirm.phone : '-' }}</p>
                    </div>

                    <div class="col-sm-4 col-xs-12 xs-text-left">
                        <label translate="lbl_common_emailAddress" class="xs-contact-labels">Email Address</label>
                        <p>{{ confirm.emailAddress ? confirm.emailAddress : '-' }}</p>
                        <div class="email-confirm-msg pull-left">
                            <span ng-if="!!confirm.emailAddress">
                                <sup class="red">*</sup>
                                <span translate="lbl_confirm_reservCopy">A copy of your reservation has been sent to this email address.</span>
                            </span>
                        </div>
                    </div>
                </div>

            </div><!-- // Content -->

        </div><!-- // Contact Information -->


        <!-- Payment Details -->
        <div ng-if="confirm.advertisements.length" class="section payment-details hidden-xs">

            <!-- Heading -->
            <div class="s-heading">
                <label translate="lbl_summary_drawer_additional">Additional services</label>
            </div><!-- // Heading -->

            <!-- Content -->
            <div class="content">

                <div class="ad-cat" ng-repeat="ad in confirm.advertisements">
                    <h4>{{ad.category}}</h4>

                    <div class="ad-item" ng-repeat="innerAd in ad.advertisements">
                        <!-- <div ng-if="innerAd.linkLoadWithinFrame" style="background-color:#ccc;margin-bottom:30px;"> -->
                        <iframe type="text/html" ng-src="{{confirm.getTrustedUrl(innerAd.url)}}" frameborder="0" width="800" height="220"></iframe>
                        <!-- </div> -->
                    </div>
                </div>

            </div>
        </div>

        <!-- Payment Details -->
        <div class="section payment-details hidden-xs">
            
                        <!-- Heading -->
                        <div class="s-heading">
                            <label translate="lbl_pgInterlineConfirm_hotelHeading">Hotel</label>
                        </div>
                        <!-- // Heading -->
                        <div id='b_container'></div>
                        <div id="hotelWidget"></div>        
        </div>
        <!-- Footer -->
        <!-- <div class="cm-footer">
            <div class="row">
                <div class="col col-sm-2 pull-left">
                    <a class="button red-btn" ng-click="confirm.finish()" translate="lbl_common_finish">Finish</a>
                </div>
                <div class="col col-sm-2 pull-right">
                    <button class="button red-btn" ng-click="confirm.print()" translate="lbl_common_print">Print</button>
                </div>
                <div class="col col-sm-2 pull-right" ng-if="!!confirm.isTaxInvoiceGenerated">
                	<button class="button red-btn" ng-click="confirm.getTaxInvoiceList()" translate="">Print Invoice</button>
            	</div>
                <div class="col col-sm-2 pull-right" ng-if="!!confirm.emailAddress">
                    <button class="button red-btn" ng-click="confirm.sendEmail()" translate="lbl_common_emailMe">Email Me</button>
                </div>
            </div>
        </div> --><!-- // Footer -->
        <div class="cm-footer reservation-summary-footer">
            <div class="row">
                <div class="head-finish-btn col col-sm-2 col-xs-4 pull-left">
                    <a class="button truncate red-btn xs-red-button" ng-click="confirm.finish()" translate="lbl_common_finish">Finish</a>
                </div>
                <div class="head-print-btn col col-sm-2 col-xs-4 pull-right pd-lt-10">
                    <button class="button truncate red-btn xs-red-button" ng-click="confirm.print()" translate="lbl_common_print">Print</button>
                </div>
                <div class="head-emailme-btn col col-sm-2 col-xs-4 pull-right" ng-if="!!confirm.emailAddress">
                    <button class="button truncate red-btn xs-red-button" ng-click="confirm.sendEmail()" translate="lbl_common_emailMe">Email Me</button>
                </div>
            </div>                    
        </div>
    </section><!-- // Content Body -->
</div><!-- // Page Wrapper -->
