<!-- Page Wrapper -->
<div class="content-wrapper payment-confirmation" ng-controller="confirmOnHoldController as onHold">

    <!-- Modal Box -->
    <div class="modal-box promotion" ng-show="onHold.isPopupVisible">
        <!-- Overlay -->
        <div class="overlay" ng-click="onHold.isPopupVisible = false"></div><!-- // Overlay -->

        <!-- Modal Content -->
        <div class="modal-content scroll-top reservationpopup">

            <!-- Modal Header -->
            <div class="modal-header" style="margin-bottom:0px;">
                <span class="close-btn" ng-click="onHold.isPopupVisible = false">
                    <i class="fa fa-times"></i>
                </span>
            </div><!-- // Modal Header -->

            <!-- Modal Body -->
            <div class="modal-body">
           
            <div class="success-bottom row">
            <span translate="lbl_visit_sales_office" translate-default="Please Visit Our Sales Office and Pay">Please Visit Our Sales Office and Pay</span><br>
            <span translate="lbl_avoid_automatic_cancellation" translate-default="to Avoid Automatic Cancellation">to Avoid Automatic Cancellation</span>

            <span translate="lbl_cham_wings_air" class="bold-header">Cham Wings Airlines</span>
            <span class="open-time">{{onHold.selectedCountry.hours}}</span><br>

            <div class="row">
                <div>
                    <span translate="lbl_choose_location" translate-default="Choose location to pay:" >Choose location to pay:</span>
                    <div class="item item-input">
                        <select name="" id="" ng-model="onHold.selectedCountryIndex" ng-init="onHold.selectedCountryIndex = '0'" ng-change="onHold.countryChanged()">
                    <option ng-repeat="details in onHold.contactDetails" value="{{$index}}">
                        {{details.country}} - {{details.city}}
                    </option>
                </select>
                    </div>
                </div>
            </div>

            <div class="contact-info">
                <li class="address text-light">
                    <span class="item-container">
                      <!--   <i class="icon common-icon location-icon"></i> -->
                        <span class="list-text">
                            <span>{{onHold.selectedCountry.officeName}}</span><br>
                    <span class="text-bold">{{onHold.selectedCountry.country}}</span> - {{onHold.selectedCountry.city}}
                    <br> {{onHold.selectedCountry.street}} {{onHold.selectedCountry.officeAddress}}

                    </span>
                    </span>
                </li>

                <li class="phone" ng-repeat="phone in onHold.selectedCountry.phone">
                    <a class="item-container" ng-href="tel:{{onHold.selectedCountry.phone}}">
                      <!--   <i class="icon common-icon phone-icon"></i> -->
                        <span class="list-text">{{phone}}</span>
                    </a>
                </li>

                <li class="email" ng-repeat="email in onHold.selectedCountry.email">
                    <a ng-href="mailto:{{email}}?Subject=Booking%20inquiry" class="item-container">
                      <!--   <i class="icon common-icon mail-icon"></i> -->
                        <span class="list-text">{{email}}</span>
                    </a>
                </li>
            </div>
        </div>

            </div><!-- // Modal Body -->

            <!-- Modal Footer -->
            <div class="modal-footer">
                <div class="row">
                </div>
            </div><!-- // Modal Footer -->

        </div><!-- // Modal Content -->
    </div><!-- // Modal Box -->
    
    
    <!-- Print Only Header AirArabia -->
    <div class="print-header">
        <img src="images/main_logo_red.png">
    </div><!-- // Print Only Header AirArabia -->
    <!-- Content header -->
    <section class="content-header">

        <!-- Page Title -->
        <h1 class="payment-hold-title page-title col-xs-12">
            <span translate="title_confirm_reservation">Reservation Summary</span>
        </h1><!-- // Page Title -->

        <span class="thanks text-left hidden-xs">
            <i class="fa fa-check-circle"></i>
            <label translate="msg_confirm_onHoldSuccess">Your Reservation is on hold.</label>
            <label translate="msg_confirm_thankyou">Thank You for Choosing Air Arabia</label><br>

            <i class="fa fa-check-circle"></i>
            <label class="make-payment" translate="msg_confirm_visitAgent">Please visit any of our agents and make the payment for booking confirmation</label>
        </span>
        <div class="thanks text-left hidden-sm hidden-md hidden-lg">
            <div class="row">
                <div class="col-xs-1 pd-0">
                    <i class="fa fa-check-circle"></i>
                </div>
                <div class="col-xs-11 pd-0">
                    <label class="xs-hold" translate="msg_confirm_onHoldSuccess">Your Reservation is on hold.</label>
                    <label class="xs-hold" translate="msg_confirm_thankyou">Thank You for Choosing Air Arabia</label><br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1 pd-0">
                    <i class="fa fa-check-circle"></i></div>
                <div class="col-xs-11 pd-0">
                    <label class="xs-hold" class="make-payment" translate="msg_confirm_visitAgent">Please visit any of our agents and make the payment for booking confirmation</label>
                </div>
            </div>
        </div>
    </section><!-- // Content header -->

    <!-- Offline Payments specific -->
    <!-- Needs to implement translation support for this message-->
    <section class="content-header" ng-if="onHold.message">
        <span class="thanks">
            <label class="make-payment">
                {{onHold.message}}
            </label>
        </span>
    </section><!-- // Content header -->

    <!-- Content Body -->
    <section class="content-body" ng-if="!onHold.showIframe">
        <!-- Booking Details -->
        <div class="section booking-details">
            <!-- Heading -->
            <div class="s-heading">
                <label translate="lbl_confirm_booking">Booking Details</label>
            </div><!-- // Heading -->
            <!-- Content -->
            <div class="content row hold-content">
                <div class="col-sm-12 pd-r-0">
                    <span translate="lbl_confirm_reservNum">Reservation Number</span>
                    <label>{{ onHold.pnr}}</label>
                </div>
                <div class="col-sm-12 pd-r-0" ng-if="onHold.payFortOfflineBillNumber">
                    <span translate="lbl_payfort_fawry_reference" translate-values="{ billNumber: '{{onHold.payFortOfflineBillNumber}}'}">
                    </span>
                </div>
                <br/>
                <p class="col-sm-12 pd-r-0" translate="lbl_confirm_dearCustomer" translate-values="{a: '{{onHold.onHoldStr}}&lrm;'}">
                    Dear customer, your booking is placed ON-HOLD for {{onHold.onHoldStr}}, please make the payment & confirm your booking.
                    Bookings not paid for within the time limit will automatically be canceled.
                </p>
                <div class="margin-tp-10 hold-finish-btn">
                    <div class="col col-xs-12 col-sm-2 pull-left xs-pl-0 pd-r-0">
                        <a class="button red-btn" ng-click="onHold.finish()" translate="lbl_common_finish">Finish</a>
                    </div>
                </div>
            </div><!-- // Content -->
            <!-- Content -->
            <!-- // Content -->
        </div><!-- // Booking Details -->
    </section>
    <section class="content-body" ng-if="onHold.showIframe">
        <!-- Booking Details -->
        <div class="section booking-details">
            <!-- Heading -->
            <div class="s-heading">
                <label translate="lbl_confirm_booking">Booking Details</label>
            </div><!-- // Heading -->
            <!-- Content -->
            <div class="content row hold-content" >
                <div class="col-sm-12 ">
                    <span translate="lbl_confirm_reservNum">Reservation Number</span>
                    <label>{{ onHold.pnr}}</label>
                    <br>
                    <p ng-bind-html="onHold.displayMsg" ></p>
                </div>
                <br/>
                <div class="col-sm-12">
                    <iframe ng-src="{{onHold.iframeURL}}"  style="width: 100%;height:500px"></iframe>
                </div>

            </div><!-- // Content -->
            <!-- Content -->
            <!-- // Content -->
        </div><!-- // Booking Details -->
    </section>
</div>

