<ng-form name="telephone" class="phone-number">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-4 rtl-ac align-input" ng-if="configs.countryCode">
            <div class="ibe-typeahead" ng-class="classAreaInput" ng-if="!validateWithList">
                <span ng-show="isLabelsVisible" translate="lbl_passenger_countryCode">Country Code</span>
                <input  
                    type="text"   
                    name="countryCode"
                    ng-model="phoneNumber.countryCode"
                    selected-value="phoneNumber.countryCode"
                    uib-typeahead="country.code as country.name for country in countryList | filter:{name:$viewValue}:startsWith"
                    typeahead-editable="true" 
                    typeahead-select-on-exact="true"
                    typeahead-input-formatter="formatLabelCountry($model)" 
                    typeahead-focus=""
                    class="form-control"
                    typeahead-on-select="onCountryChange($item)"
                    autocomplete="off"
                    ng-focus="classAreaInput = 'on-focus'"
                    ng-blur="classAreaInput = ''"
                    ng-class="classAreaInput"
                    item-in-list="{{countryCodeList}}"/>
                    
                <div ng-messages="telephone.countryCode.$error"
                class="xs-cntry-code-error-div valdr-message countryCode" 
                ng-if="telephone.$$parentForm.$submitted || telephone.countryCode.$touched">
                    <!-- <p ng-message="required"> <span translate="lbl_validation_phoneOrTravel">Country code is required.</span> </p> -->
                    <p ng-message="maxlength">Area code must contain 3 number or less.</p>
                    <p ng-message="minlength"> <span translate="lbl_validation_phoneCountryMin">Country code is too short</span> </p>
                    <!-- <p ng-message="pattern"> <span translate="lbl_validation_phoneCountryFormat">Country code format is invalid.</span> </p> -->
                    <p ng-message="itemInList"> <span translate="lbl_validation_phoneCountryInList">Country must be selected from a list.</span> </p>
                    <!-- <p ng-message="dependentFilled"> <span translate="lbl_validation_phoneCountryNumRequired">Country code and number both are required.</span> </p> -->
                </div>
            </div>
            <div class="ibe-typeahead" ng-class="classAreaInput" ng-if="validateWithList">
                <span ng-show="isLabelsVisible" translate="lbl_passenger_countryCode">Country Code</span>
                <input 
                type="text"   
                name="countryCode"
                ng-model="phoneNumber.countryCode"
                selected-value="phoneNumber.countryCode"
                uib-typeahead="country.code as country.name for country in countryList | filter:{name:$viewValue}:startsWith"
                typeahead-editable="true" 
                typeahead-select-on-exact="true"
                typeahead-input-formatter="formatLabelCountry($model)" 
                typeahead-focus=""
                class="form-control"
                typeahead-on-select="onCountryChange($item)"
                autocomplete="off"
                ng-focus="classAreaInput = 'on-focus'"
                ng-blur="classAreaInput = ''"
                ng-class="classAreaInput"
                item-in-list="{{countryCodeList}}"/>
                
                <div ng-messages="telephone.countryCode.$error"
                class="xs-cntry-code-error-div valdr-message countryCode" 
                ng-if="telephone.$$parentForm.$submitted || telephone.countryCode.$touched">
                    <!-- <p ng-message="required"> <span translate="lbl_validation_phoneOrTravel">Country code is required.</span> </p> -->
                    <p ng-message="maxlength">Area code must contain 3 number or less.</p>
                    <p ng-message="minlength"> <span translate="lbl_validation_phoneCountryMin">Country code is too short</span> </p>
                    <!-- <p ng-message="pattern"> <span translate="lbl_validation_phoneCountryFormat">Country code format is invalid.</span> </p> -->
                    <p ng-message="itemInList"> <span translate="lbl_validation_phoneCountryInList">Country must be selected from a list.</span> </p>
                    <!-- <p ng-message="dependentFilled"> <span translate="lbl_validation_phoneCountryNumRequired">Country code and number both are required.</span> </p> -->
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-12" ng-if="configs.areaCode">
            <div class="ibe-typeahead" ng-class="classInput">
                <span ng-show="isLabelsVisible" translate="lbl_passenger_areaCode">Area code</span>
                <input type="text"
                    name="areaCode"
                    class="form-control col-md-4"
                    ng-model="phoneNumber.areaCode"
                    ng-required="phoneRequired"
                    pattern="^[0-9]*"
                    ng-minlength="1"
                    ng-maxlength="3"
                    ng-focus="classInput = 'on-focus'"
                    ng-blur="classInput = ''"
                    autocomplete="off"/>


                <!-- <div ng-messages="telephone.areaCode.$error" 
                    class="valdr-message areaCode"
                    ng-if="telephone.$$parentForm.$submitted || telephone.areaCode.$touched">
                    <p ng-message="pattern">Area code can only contain numerical data.</p>
                    <p ng-message="minlength">Area code must contain 3 numbers.</p>
                    <p ng-message="maxlength">Area code must contain 3 number or less.</p> -->
                    <!--<p ng-message="itemInList">Country must be selected from a list.</p>
                    <p ng-message="dependentFilled">Country code and number both are required.</p>-->
                <!-- </div> -->
            </div>

        </div>

        <div class="col-sm-8 col-xs-8 align-input-reverse" ng-class="{'col-md-9': !configs.areaCode, 'col-md-6': config.areaCode}" ng-if="configs.phoneNumber">
            <div class="ibe-typeahead"  ng-class="classInput">
                <span ng-show="isLabelsVisible" translate="lbl_passenger_phone">Phone</span>
                <input type="text"
                    id="telNumber"
                    name="{{fieldName}}"
                    class="form-control col-md-4"
                    ng-class="classInput"
                    ng-model="phoneNumber.number"
                    ng-required="true"
                    pattern="^[0-9]*"
                    ng-minlength="5"
                    ng-maxlength="13"
                    ng-focus="classInput = 'on-focus'"
                    ng-blur="classInput = ''"
                    dependent-filled="{{phoneNumber.countryCode}}"
                    autocomplete="off"/>

     
                    <div ng-messages="telephone[fieldName].$error"
                        ng-if="telephone.$$parentForm.$submitted || telephone[fieldName].$touched"
                        class="{{fieldName}} valdr-message">
                        <p ng-message="required"> <span translate="lbl_validation_phoneOrTravel">Mobile number or travel mobile number is required.</span> </p>
                        <p ng-message="pattern"> <span translate="lbl_validation_phoneNumNumeric">Number can only contain numerical data.</span> </p>
                        <p ng-message="minlength"> <span translate="lbl_validation_phoneNumMin">Telephone number must contain 5 numbers.</span> </p>
                        <p ng-message="maxlength"> <span translate="lbl_validation_phoneNumMax">Telephone number must contain 16 number or less.</span> </p>
                        <p ng-message="dependentFilled"> <span translate="lbl_validation_phoneCountryNumRequired">Country code and number both are required.</span> </p>
                    </div>
                </div>
            </div>
    </div>
</ng-form>
