<div class="row">
    <div class="small-4 columns text-center" ng-repeat="(key, passengerType) in passengerDetails">
        <div class="small-12" ng-if="passengerType.value !== 1">{{passengerType.labelMulti}}</div>
        <div class="small-12" ng-if="passengerType.value === 1">{{passengerType.labelSingle}}</div>
        <div class="small-12">
            <div class="row collapse">
                <div class="small-4 columns">
                    <input type="button" value="-" class='qtyminus' field='quantity' ng-click="removePassenger(key)"/>
                </div>
                <div class="small-4 columns">
                    <input type='text' name='quantity' ng-model='passengerType.value' class='qty'/>
                </div>
                <div class="small-4 columns">
                    <input type='button' value='+' class='qtyplus' field='quantity' ng-click="addPassenger(key)"/>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown-error valdr-message small-4" ng-show="showError">
        {{errorMessage}}
    </div>
</div>
