/*====================================
=            Content Body            =
====================================*/

.content-body{
	@extend .left-wide;
	clear: both;

	// Sub-title
	.sub-title,
	.footer-title{
	@extend .left-wide;
		margin-bottom: 0px;
		padding-right: 0;

		h2{
			float: right;
			font-size: 20px;
			
			height: 30px;
			line-height: 30px;
			span{
				font-weight: 600;
			}
		}
		a{
			float: left;
			font-size: 12px;
			font-weight: 600;
			height: 30px;
			line-height: 30px;
			color: $black;
			span{
				float: right;
				margin-left: 10px;
				height: inherit;
				line-height: inherit;
				&.prev{
					margin-right: 0;
					margin-left: 10px;	
				}
			}
			i{
				float: left;
				color: $red;
				font-size: 19px;
				height: inherit;
				line-height: inherit;
				-ms-transform: rotate(180deg); /* IE 9 */
			    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
			    transform: rotate(180deg);
			}

			&:hover,&:focus{
				color: $red;
			}
		}


		.icon-outbound-plane-small,
		.icon-inbound-plane-small {
		    font-weight: normal;
		    font-size: 16px;
		    margin-left: 5px;
    		display: inline-block;

		    .path1,
		    .path2{
		    	float: left;
		    	//font-weight: 400;
		    }
		}

		/* .icon-outbound-plane-small{
		    font-weight: normal;
		    font-size: 16px;
		}
			
		.icon-inbound-plane-small {
		    font-weight: normal;
		    font-size: 16px;
		} */
	}

	.sub-title{
		margin-bottom: 10px;
	}

	.footer-title{
		margin-top: 60px;
	}
}

/*=====  End of Content Body  ======*/
