/*===========================================
=            Contact Information            =
===========================================*/

.contact-information{
	@extend .left-wide;
	clear: both;

	.heading{}

	.row{
		margin-bottom: 20px;

		.txt-col{
			padding-top: 22px;
		}
	}

	.placeholder{
		padding: 0 15px;
		line-height: 50px;
		color: $black;
		font-weight: 400;
		font-size: 14px;
		.placeholder-icon{
			margin-left: 3px;
		}
	}

	.ibe-drop-down{
		.dropdown-toggle{
			padding: 0 5px;
		}
		.dp-caption{
			padding: 0 15px 0 10px;
			line-height: 50px;
			color: $black;
			font-weight: 400;
			font-size: 14px;
		}
		.fa{
			position:absolute;
			right: 14px;

			line-height: 50px;
			padding: 0 10px 0 0;
		}
	}



	/*Valdr Validations and messages*/
	.valdr-message{
		font-size: 12px;
		color: $red;
	}
	form .form-group .ng-invalid.ng-dirty {
		border: $red 1px solid;
	}
	form .form-group .ng-invalid.ng-dirty.valdr-message{
		border: none;
	}
	form.ng-submitted .form-group {
		border: none;
		.ng-invalid{
			border: $red 1px solid;
		}
		.valdr-message{
			display:block;
			border: none;
		}
	}
	.valdr-message.ng-pristine {
		display:none;
	}
	.valdr-message-fix{
		margin-top:50px;
	}
	/*END Valdr Validations and messages*/
}

/*=====  End of Contact Information  ======*/