
.view-reservations{
	padding-top: 30px;
}

/*=====================================================
=            Dashbaord Reservation Summary            =
=====================================================*/

.dash-res-sum{
	//@extend .left-wide;
	padding-top: 30px;
	.content-wrapper{

		.content-footer{
			border-top: 0;
		}
	}

	h2{
		float: left;
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 30px;

		span{
			font-weight: 400;
			font-size: 16px;
		}
	}

	.section{
		@extend .left-wide;
		margin-bottom: 50px;
	}

	#header-wrapper{
		margin-bottom: 20px;
	}

	.content-header{
		border-bottom: none;
    	padding-bottom: 0;
	}
}

/*=====  End of Dashbaord Reservation Summary  ======*/


/*===========================================
=            Reservation Details            =
===========================================*/

.dash-res-sum .reservation-details{

	.row{}
	.col{
		float: left;
		@media screen and (max-width: 768px) {
			margin-bottom: 40px;
		}
        .edit-pax{
          padding-left: 20px;
          line-height: 1em;
        }

		ul{
			@extend .left-wide;
			padding: 0;
			margin: 0;
			list-style: none;
			li{
				@extend .left-wide;
				line-height: 2;
				font-size: 13px;
				label{
					float: left;
					width: 45%;
					font-weight: 400;

					&.popup-lbl{
						width: 230px;
					}
				}
				> span{
					float: left;
					width: 55%;
					font-weight: 600;
					> span{
						color: #b5b5b5;
						font-weight: 400;
						font-size: 12px;
						display: inline-block;
						margin-left: 10px;

                        &.amount,&.currency{
                          margin-left: 0px;
                          font-weight: 600;
                          color :#333333;
                        }
					}
					i{
						display: inline-block;
						margin-right: 5px;
						&.confirmed{
							color: #28cf1c;
						}
						&.canceled{
							color: $red;
						}
					}


				}
			}
		}

        &.passengers{
			label{
				width: 100%;
			}
			h2{
				margin-bottom: 0px;
				line-height: 1em;
			}
			.pax-count-lbl{
				margin-bottom: 10px;
				color: #b5b5b5;
			}
        }

		&.contact-details li{
			label{
				width: 20%;
			}
			span{
				width: 80%;
			}
		}
	}
}


/*=====  End of Reservation Details  ======*/



/*==========================================
=            Reservation Extras            =
==========================================*/

.dash-res-sum .reservation-extras{

	> h2{
		margin-bottom: 40px;
	}

	ul{
		@extend .left-wide;
		li{
			float: left;
			width: 20%;
			text-align: center;
			padding: 0 20px;
			border-left: 1px solid #dbdce0;
			margin-bottom: 30px;
			@media screen and (max-width: 960px) {
				padding: 0 15px;
			}
			&:last-child{
				border-right: 1px solid #dbdce0;;
			}
			@media screen and (max-width: 768px) {
				width: 33.33%;
				margin-bottom: 40px;
				&:nth-child(4n){
					border-right: 0;
				}
				&:last-child{
					border-right: 1px solid #dbdce0;
				}
			}
			.thumb{
				text-align: center;
				@extend .left-wide;
				.img{

					margin-bottom: 10px;



				}
				a{
					@extend .left-wide;
					font-weight: 600;
					color: $black;
					/* @media screen and (max-width: 768px) {
						font-size: 13px;
					} */
					.fa{
						display: inline-block;
						margin-right: 5px;
						line-height: 1;
					}
					.add{}
					.checked{
						color: #28cf1c;
					}
					span{
						line-height: 1;
						display: inline-block;
					}
					&:hover{
						.add{
							color: $red;
						}
					}
				}
			}
			.data{
				@extend .left-wide;
				margin-top: 15px;
				font-size: 13px;
				position: relative;
				/* @media screen and (max-width: 768px) {
					font-size: 11px;
				} */
				label{
					@extend .left-wide;
					margin-bottom: 5px;
				}
				span{
					@extend .left-wide;
					font-size: 14px;
					color: #b5b5b5;
					font-weight: 600;
					/* @media screen and (max-width: 768px) {
						font-size: 12px;
					} */
					i{
						color: $black;

						&.currency{
	                      color: $black;
	                      width: 20%;
	                    }
					}
					a{
						float: right;
						font-size: 13px;
						text-decoration: none;
						display: none;
						position: absolute;
						top: 23px;
						right: 0px;
						/* @media screen and (max-width: 768px) {
							font-size: 11px;
						} */
						i{
							color: $red;
						}
					}


				}
			}

			&:hover{
				.data{
					span{
						a{
							display: block;
						}
					}
				}
			}
		}
	}


}

/*=====  End of Reservation Extras  ======*/


/*======================================
=            Flight Summary            =
======================================*/

.flight-summary{

	.title{

		font-size: 24px;
		font-weight: 700;
		float: left;
		margin: 0;
		line-height: 42px;
		padding: 0 15px 0 0;
	}

	/* Flight Table */
	.flight-table{
		@extend .left-wide;
		.ft-row{
			@extend .left-wide;
			display: table;
			border-bottom: 3px solid #f6f6f6;

			.col{
				display: table-cell;
				padding: 15px 15px;
				width: 14%;
				font-size: 13px;
				float: left;

				&.col-1{}
				&.col-2{}
				&.col-3{}
				&.col-4{}
				&.col-5{}

				&.ond{
					width: 30%;
					//color: $red;
					font-weight: 600;
					font-size: 14px;
					/* span{
						float: left;
						width: 40%;
						&.ico{
							width: 20%;
							text-align: center;
						}
					} */
					.ico{
						margin: 0 5px;
						//font-size: 12px;
					}

                    .status{
                      display: block;
                      font-size: 0.8em;
                      padding-top: 5px;
                    }

                    &.CNX{
                      color: $gray-7;

                      .status{
                        color: $gray-3;
                        font-weight: bold;
                      }

                      .path2{
                        &::before{
                          color:$gray-7 ;
                        }
                      }
                    }
				}
				&.departure{
					width: 22%;
				}
				&.arrival{
					width: 22%;
				}
				&.flight-no{
					width: 12%;
					label{
						@extend .left-wide;
						position: relative;
						&:after{
							content: "";
						    background: {
						    	image : url(../../images/tail.png);
						    	repeat: no-repeat;
						    	size: contain;
						    	position: center;
						    }
						    width: 24px;
						    height: 22px;
						    position: absolute;
						    right: 0;
						    top: 0;
						    bottom: 0;
						    margin: auto;
						}
					}
				}
				&.duration{
					text-align: center;
				}
			}

			&.ft-heading{
				background: {
					color: #f6f6f6;
				}
				border-bottom: 1px solid #ededef;
				font-weight: 600;
				.col{
					border-right: 1px solid #d4d5d9;
					color: $black;

					&:last-child{
						border-right: 0;
					}
					font-size: 14px;
				}
			}

            &.CNX{
              color:  $gray-7;

              .flight-no{
                label{
                  &::after{
                    opacity: 0.3;
                  }
                }
              }
            }

		}
	}
}

/*=====  End of Flight Summary  ======*/
