/*===========================================
=            Registration Header            =
===========================================*/

.registration-header{
	@extend .left-wide;
	margin-bottom: 10px;

	> h1{
		@extend .left-wide;
		color: $red;
		font-size: 22px;
		font-weight: 600;
		margin-bottom: 15px;
	}

	> h3{
		@extend .left-wide;
		font-weight: 600;
		font-size: 18px;
		margin-bottom: 15px;
		line-height: 1.6;
	}

	> p{
		@extend .left-wide;
	}
}

/*=====  End of Registration Header  ======*/

.redirect-url{
	color: $site_primary_color;
    cursor: pointer;
}

/*==========================================
=            Dashboard Register            =
==========================================*/

.registration{

	.content-body{
		padding-top: 25px;
	}

	.your-prefs{
		.radio{
			width:100%;
			height: 26px;
		}

		.checkbox label{
			margin-left: 5px;
		}

		h4{
			font-size: 16px;
			font-weight: 600;
			height: 26px;
			line-height: 26px;
		}
	}


}

.reg-form{
	@extend .left-wide;

	.margin-bottom-20{
		margin-bottom: 20px;
	}

	.margin-bottom-30{
		margin-bottom: 30px;
	}

	.margin-top-20{
		margin-top: 20px;
	}

	.margin-top-30{
		margin-top: 30px;
	}

	.section{
		@extend .left-wide;
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: 1px solid #ededef;

		&:last-child{
			border-bottom: 0;
			margin-bottom: 0;
			padding-bottom: 0;
		}

		.ibe-drop-down{
			.dp-caption{
				font-size: 14px;
				font-weight: 400;
				padding: 6px 12px;
				line-height: 37px;
			}
		}

		.section-heading{
			@extend .left-wide;
			margin-bottom: 20px;
			font-size: 18px;
			font-weight: 600;
			height: 40px;
			line-height: 40px;

			> span {
				//padding: 0 5px;
				img{
					max-height: 100%;
				}
			}

			div{
				span{
					img#log0-airarabia{
						padding: 0 6px 4px;
					}
				}
			}

			small{
				height: 40px;
				line-height: 40px;
				float: right;
				color: $black;
				font-size: 11px;
				font-weight: 600;
			}
		}

		.section-sub-heading{
			@extend .left-wide;
			> p{
				@extend .left-wide;
				line-height: 1.6;
			}
		}

		&.with-sub{
			margin-bottom: 0;
			border-bottom: 0;
			padding-bottom: 0;

			.section-heading{
				margin-bottom: 0;
			}

			.section-sub-heading{
				margin-bottom: 20px;
				p{
					margin-top: 10px;
				}
			}
		}

		.row{
			margin-bottom: 0;



			.col{
				float: left;
				position: relative;

				.form-group{
					//margin-bottom: 0;

					width: 100%;
					float: left;
				}

				.long-error{
					.form-group{
						//margin-bottom: 0;

						.valdr-message{
							position: relative;
						}
					}

				}

				p{
					line-height: 1.8;
				}
			}
		}

		.data-input{
			@extend .left-wide;
			//margin-bottom: 20px;
			> label{
				@extend .left-wide;
				margin-bottom: 5px;
			}
		}

		.help-txt{
			@extend .left-wide;
			top: 22px;
		    position: absolute;
		    left: 15px;
		    padding-right: 30px;
		    font-size: 13px;
		    line-height: 1.6;
		}
	}
}

/*=====  End of Dashboard Register  ======*/
