/*======================================
=            Extras Header             =
======================================*/

.extras-header.content-wrapper{
	float: none;
	width: 100%;
	clear: both;
	margin:0 auto;
	overflow: hidden;
	max-width:1000px;
}

.extras-header{
	.content-header{
		margin:0;
	}
}

.content-wrapper.extras-container{
	margin-top:15px;
}

.drop-shadow-bottom{
	//box-shadow: 0 0 4px rgba(0,0,0,0.7);
}

/*=====  End of Extras Header  ======*/

/*======================================
=            Extras Content            =
======================================*/

.extras-content{
	padding-top:0px;

	&.extras-main{
		width:100%;
		margin-top: 20px;
	}
	.extras-main-item{
		border-bottom: 1px solid #DCDCDC;
		padding-bottom: 15px;
	}
}

/*=====  End of Extras Content  ======*/


/*=====================================
=            Select Extras            =
=====================================*/

.select-extras{
	.thumb-block{

		.image{}
		.title{
			width: 65%;
			h2{}
			p{}
		}
		.options{
			width: 20%;
			.price-block{
				.currency{}
				.price{}
			}
			.button{
				width: 100%;
			}
		}
	}
}

/*=====  End of Select Extras  ======*/


/*=====================================
=            Extras Footer            =
=====================================*/

.extras-footer{
	margin-top: 30px !important;
	padding-bottom: 55px;
	border: none !important;

	a{
		float: right;
		font-size: 12px;
		font-weight: 600;
		height: 42px;
		line-height: 42px;
		color: $black !important;
		span{
			float: left;
			margin-right: 10px;
			height: inherit;
			line-height: inherit;
			&.prev{
				margin-right: 0;
				margin-left: 10px;
			}
		}
		i{
			float: left;
			color: $red;
			font-size: 19px;
			height: inherit;
			line-height: inherit;
		}
		&:hover,&:focus{
			span{
				color: $red !important;
			}
		}
	}
}
.btn-continu-bottom{
	margin-top: 8px;
}
/*=====  End of Extras Footer  ======*/


/*=====================================
=            Extras Sidebar            =
=====================================*/

.unmodified-options{
	h4{
		font-size: 15px;
		text-align: center;
		font-weight: 600;
		float: left;
		width: 100%;
		padding-bottom: 5px;
	}
}

/*=====  End of Extras Sidebar  ======*/