/*==================================
=            Fare Block            =
==================================*/

.fare-block {
  @extend .left-wide;
  border-top: 0px solid;
  border-bottom: 1px solid;
  border-color: #ededef;
  margin-top: -1px;
  padding: 5px 0 5px;

  .detail-toggle {
    cursor: pointer;
  }

  /* Left Content */
  .left-content {
    float: left;
    width: 80%;

    // Title
    h2 {
      @extend .left-wide;
      font-size: 18px;
      font-weight: 600;
      height: 36px;
      line-height: 36px;
      margin-bottom: 3px;
    }

    // Description
    .description {
      @extend .left-wide;
      line-height: 1;
      font-size: 13px;

      .departure {
      }
      .arrival {
      }
      .ico {
        margin: 0 10px;
      }
    }
  }

  /* Right Content */
  .right-content {
    float: right;
    text-align: right;
    width: 20%;

    p {
      @extend .left-wide;
      height: 36px;
      line-height: 36px;
      margin-bottom: 3px;
      color: #9e9e9f;
    }
    .price {
      @extend .left-wide;
      line-height: 1;
      font-size: 14px;
      i {
        font-weight: 600;
      }
    }
  }

  &.additional {
    //padding-bottom: 10px;
    .price {
      height: 36px;
      line-height: 36px;
      margin-bottom: 3px;
    }
    h2 {
      margin-bottom: 10px;
    }
  }

  &.dual {
    .wrap {
      @extend .left-wide;
      margin-bottom: 10px;
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }
    }
    .right-content {
      p {
        line-height: 1;
        margin-top: 10px;
        small {
          @extend .left-wide;
          margin-top: 10px;
        }
      }
      .price {
        position: absolute;
        right: 0;
        bottom: 5px;
      }
    }
  }

  ul {
    @extend .left-wide;
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    font-size: 14px;
    li {
      @extend .left-wide;
      margin-bottom: 12px;
      label {
        float: left;
        margin: 0;
        font-weight: 400;
        line-height: 1;
        i {
        }
      }
      span {
        line-height: 1;
        float: right;
        text-align: right;
        i {
          font-weight: 600;
        }
      }

      &:last-child {
        margin-bottom: 0;
        label {
          font-weight: 600;
        }
      }
    }
  }
}
.fare-radio [type="radio"]:not(:checked) + label:before {
  background-image: url('../images/unselected.svg') !important;
}
.fare-radio [type="radio"]:checked + label:after {
  background-image: url('../images/selected.svg') !important;
}
/*=====  End of Fare Block  ======*/
