.flight-result-block{
  float: left;
  width: 100%;
  clear: both;
  margin: 0 0 40px;

  .flight-block-header{
    h2{
      font-size: 25px;
      span{
        &.place-holder{
          max-width: 150px;
          display: inline-block;
          line-height: 18px;
        }
      }
    }
  }
  .accelAero-slide{

  }
  .flight-options{
    .flight-options-table{
      display: table;
      width: 100%;
      margin-top: 20px;
      &.create-flow{
        overflow: visible;

      }
      .options-row{
        position: relative;
        display: table-row;
        &.header{
          label{
            text-align: left;
            font-weight: 500;
          }
        }

        .options-td{
          vertical-align: top;

          &.nextday-flag{
            line-height: 22px !important;
            padding-top: 24px !important;
          }

          &.departure-time{
            width: 6%;
            padding: 8px;
          }
          &.departure-time-txt{
            line-height: 54px;
          }
          &.arrival-time-txt{
            line-height: 54px;
          }
          &.flight-info{
            .flight-info-label{

            }
            width: 26%;
          }
          &.arrival-time{
            width: 6%;
            padding: 8px 8px 8px 35px!important;
            text-align: left;
          }
          &.fare-types-table{
            width: 60%;
            display: table;
          }
        }
      }
      .header{
        .arrival-time{
          width: 10%!important;
        }
        .flight-info{
          padding-left:0px;
        }
      }
    }
    /* busy loader opacity handle in flight table */
    .cg-busy-backdrop{
      opacity:1;
    }
  }

}
.flight-result-block.last-block {
  margin: 0 0 0px;
}

.flight-header-tooltip{
  .tooltip-inner{
    border-radius: 0;
    background-color: #444;
    padding: 1px;
    max-width: none;
  }
}