header{
  background-color: #E8E8E8;
  font-size: 14px;
  position: relative;
  height: 70px;
  overflow: visible;
  @media print{
    display: none !important;
  }

  .dashboard{
      &.modify-search{
          ul{
              li{
                  float: none;

                  a{
                      float: none;
                  }

                  &.active{
                      a{
                          color: #ffffff;
                      }
                  }
              }
          }
      }
  }

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      list-style: none;
      float: right;

      &.completed:hover{
        cursor: pointer;
        background-color: #bbbbbb;

        a:hover{
          cursor: pointer;
        }
      }

      &.current a{
        i{
          color:white;
        }
        span{
          color:white;
        }
      }

      a:active{
        color:red;
      }

      a, a:hover, a:visited, a:focus{
        color: $gray;
        text-decoration: none;
        font-weight: 500;
        float: left;
        cursor: default;

        i{
          border-color: white;
        }

        i::before{
          font-size: 20px;
          float: left;
          margin-right: 7px;
        }

        span{
          float: left;
          font-size: 14px;

        }
      }

      &.pending{
        i,a{
          color: $gray;
          border-color: $gray;
        }
      }

      &#search{
        float: none;
        overflow: auto;

        a{
          float:right;
        }
      }
    }
    li.logo{
      width: 26%;
      float: left;
      background-color: blue;
      position:relative;
      padding-bottom:16px;

      &:before{
        content:"lel";
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left: -999px;
        background-color: $site_primary_color;
      }

      a{
        position:relative;
        z-index:1;
      }
    }

    li.current{
      background-color: #4E4E4E;
    }
  }
  .progress-step{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $site_back_color;
    height: 5px;
    .bar-animator{
      display:none;
      background-color: $site_primary_color_dark;
      position: absolute;
      top:0;
      left: 0;
      width:0;
      bottom: 0;
    }
  }

  ul {
    li {
      &.current{
        a i.number{
          border-color: #fff;
        }
      }
      a i.number{
          float: left;
          border: 2px solid $gray;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          text-align: center;
          line-height: 16px;
          font-size: 12px;
          font-weight: 600;
          margin-right: 7px;
      }
    }
  }
}
