header{
  background-color: #E8E8E8;
  font-size: 14px;
  position: relative;
  height: 70px;
  overflow: visible;
  @media print{
    display: none !important;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      list-style: none;
      float: left;

      &.current a{
        i{
          color:white;
        }
        span{
          color:white;
        }
      }

      a:active{
        color:red;
      }

      &.completed:hover{
        cursor: pointer;
        background-color: #bbbbbb;

        a:hover{
          cursor: pointer;
        }
      }

      a, a:hover, a:visited, a:focus{
        color:#4E4E4E;
        text-decoration: none;
        font-weight: 500;
        float: left;

        i::before{
          font-size: 20px;
          float: right;
          margin-left: 7px;
        }

        span{
          float: left;
          font-size: 14px;
        }
      }



      &.pending{
        i,a{
          color: #4E4E4E;
        }
      }
    }
    li.logo{
      width: 26%;
      float: right;
      background-color: blue;
      position:relative;
      padding-bottom:16px;

      &:before{
        content:"";
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right: -9999px;
        background-color: $site_primary_color;
      }

      a{
        position:relative;
        z-index:1;
      }
    }

    li.current{
      background-color: #4E4E4E;
    }
  }
  .progress-step{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $site_back_color;
    height: 5px;
    .bar-animator{
      display:none;
      background-color: $site_primary_color_dark;
      position: absolute;
      top:0;
      left: 0;
      width:0;
      bottom: 0;
    }
  }

  ul {
    li {
      &.current{
        a i.number{
          border-color: #fff;
        }
      }
      a i.number{
        float: right;
        border: 2px solid $gray;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        line-height: 16px;
        font-size: 12px;
        font-weight: 600;
        margin-left: 7px;
      }
    }
  }
}
