/*=================================
=            Insurance            =
=================================*/

.insurance{
	.alert{
		margin-top: 115px;
		margin-bottom: -115px;
	}

}

/*=====  End of Insurance  ======*/


/*=========================================
=            Accordion Content            =
=========================================*/

.accordion-content{
	margin: 20px 0 40px;

	.heading{}

	.content{
		.check{
			label{
				&:before{
					color: $red;
				}
			}
		}
		.data-block{
			@extend .left-wide;
			margin-top: 15px;
		}
		.conditions{
			color: #7D7D7D;
			sup{
				font-size: 22px;
			    line-height: 1;
			    float: left;
			    margin: 12px 15px 0 0;
			}
		}
	}
  .label {
    font-weight: 400;
  }
  .label#insProductName {
    font-weight: 700;
  }
  input[type="checkbox"], input[type="radio"] {
    visibility: visible;
  }
  img {
     display: none; 
  }
}

/*=====  End of Accordion Content  ======*/
.accordion-content table {
  width: 100%;
}

.accordion-content label {
  font-weight: 400;
  font-size: 14px;
}

.accordion-content label#insProductName {
  color: rgb(237, 0, 0);
  font-weight: 600;
  margin: 10px 0 15px;
}