/*====================================
=            Print Header            =
====================================*/

.print-header {
    float: left;
    width: 100%;
    margin: 30px 0;
    display: none;
    @media print {
      display: block;
    }
}

/*=====  End of Print Header  ======*/


/*============================================
=            Payment Confirmation            =
============================================*/


.confirm-page{
    ul {

        li{
            a:hover, a:focus{
                color: #999999;
                cursor: default;
            }
        }
    }
}

.payment-confirmation{
  @extend .left-wide;
  label{
    margin: 0;
  }
  .col{
    float: left;
  }
  @media print {
    font-size: 13px;
  }

  .content-header{
      z-index: 99;
  }

  // Page Title
  .page-title{
    margin-bottom: 15px;
  }

  a.red-btn{
      text-decoration: none;
  }

  .flight {
      .confirmed {
          i.fa{
              color: #28cf1c;
          }
      }
      .hold{
          i.fa{
              color: #f6ce12;
          }
      }
      .canceled{
          i.fa{
              color: #ed0000;
          }
      }
  }


  // Modal popup
  .promotion{

      .modal-content{

          padding-bottom: 20px;

          .modal-header{
              min-height: 0px;
          }

          .modal-body {
              font-size: 13px;
              margin-bottom: 0px;
          }
          .hotel-car-popup{

              h3{
                  margin-bottom: 10px;
              }

              .promo-item{
                  margin-bottom: 15px;
                  border-bottom: 1px solid #ededef;
                  padding-bottom: 15px;

                  &:last-child{
                      margin-bottom: 0;
                      padding-bottom: 0;
                      border-bottom: 0;
                  }

                  .item-img{
                      background-color: #ccc;
                      margin-right: 40px;
                      margin-top: 10px;
                  }

                  .item-desc{
                      width: 320px;

                      .list {
                          div{
                              i{
                                  color: #28cf1c;
                                  padding-right: 5px;
                              }
                          }

                          div{
                              margin-bottom: 5px;
                          }
                      }
                  }

                  .btn-booknow{
                      clear: both;

                      a{
                          color: #fff;
                      }
                  }

              } // End of promo-item.
          }
      }
  }
  
   // Modal popup - contact details
  
	.bold-header {
	    display: block;
	    font-size: 30px;
	    font-weight: 700;
	    padding: 5px 0;
	}
	.success-bottom {
	    text-align: center;
	    color: #00529b;
	    padding: 25px 20px;
	}
	.success-bottom h4 {
	    text-align: left;
	    font-size: 15px;
	    padding-bottom: 0;
	    color: #00529b;
	}
	.success-bottom .bold-header {
	    padding-top: 22px;
	}
	.success-bottom .open-time {
	    color: #1c1c1c;
	    font-weight: 700;
	    font-size: 15px;
	}
	.success-bottom .contact-info {
	    float: left;
	    padding: 15px 10px;
	    text-align: left;
	    font-weight: 700;
	    font-size: 15px;
	    width: 100%;
	}
	.success-bottom .contact-info li {
	    display: flex;
	    justify-content: center;
	    float: left;
	    padding-bottom: 12px;
	    width: 100%;
	    text-align: center;
	}
	.success-bottom .contact-info li .item-container {
	    display: flex;
	    justify-content: center;
	}
	.success-bottom .contact-info li .list-text {
	    display: block;
	    float: left;
	    padding-top: 4px;
	}
	.success-bottom .contact-info .icon {
	    display: block;
	    font-size: 20px;
	    line-height: 24px;
	    font-weight: 300;
	    width: 50px;
	    float: left;
	}
	.success-bottom .contact-info .address .list-text {
	    color: #1c1c1c;
	}
	.success-bottom .button-container {
	    padding: 10px 30px 30px;
	    float: left;
	    width: 100%;
	}
	.success-bottom button {
	    width: 100%;
	    font-size: 15px;
	    padding: auto 30px;
	    line-height: 15px;
	    font-weight: 700;
	}

  .inpage-alert{
      @include border-radius(0);

      font-weight: 400;
      font-size: 14px;
      padding: 20px;
      margin: 0 auto;
      clear: both;

      sup{
          font-weight: 700;
          font-size: 16px;
      }
  }

  // Thanks
  .thanks{
    @extend .left-wide;
    margin-bottom: 20px;
    font-size: 16px;
    @media print {
      display: none;
    }

    .fa{
      color: #28cf1c;
      margin-right: 10px;
    }

    label{}
  }

  // Alert
  .alert{
    padding: 13px 20px;
    sup{
      font-weight: 700;
      font-size: 16px;
    }
    @media print {
      display: none !important;
    }
  }

  // Section
  .section{
    @extend .left-wide;
    //margin-bottom: 20px;
    //border-bottom: 1px solid #ededef;

    @media print{
      page-break-inside: avoid;
      margin-bottom: 40px;
    }

    // Heading
    .s-heading{
      @extend .left-wide;
      color: $red;
      font-weight: 600;
      font-size: 16px;
      border-bottom: 1px solid #ededef;
      height: 50px;
      line-height: 50px;
      margin-bottom: 5px;

      label{}
    }

    // Content
    .content{
      @extend .left-wide;
      padding: 15px 0;

      // Col
      .col{
        float: left;
      }

      .ad-cat{
          margin-bottom: 20px;

          &:last-child{
              margin-bottom: 0px;
          }
      }

    }
  }
}

/*=====  End of Payment Confirmation  ======*/


/*=======================================
=            Booking Details            =
=======================================*/

.payment-confirmation{
  @extend .left-wide;

  .booking-details{
    @extend .left-wide;

    // Heading
    .s-heading{
      label{}
    }

    // Content
    .content{
      // Col
      .col{
        width: 33.33%;
        span{
          @extend .left-wide;
          margin-bottom: 5px;
        }
        label{
          @extend .left-wide;
          font-weight: 700;
        }
      }
    }
  }
}

/*=====  End of Booking Details  ======*/


/*======================================
=            Your Itinerary            =
======================================*/

.your-itinerary{
  @extend .left-wide;

    // Heading
    .s-heading{
      label{}
    }

    // Content
    .content{

      // Flight
      .flight{
        @extend .left-wide;
        margin-bottom: 15px;

        &:last-child{
            margin-bottom: 0px;
        }

        // Details
        .details{
          float: left;
          width: 33.33%;

          > label{
            @extend .left-wide;
            font-weight: 700;

            //margin-bottom: 5px;
            .d-label{
              i{}
            }
            .ico{}
          }

          > p{
            @extend .left-wide;
            line-height: 1.8;
            margin-bottom: 0;
            span{
              @extend .left-wide;
            }
          }
        }

        // Departure
        .departure{
          float: left;
          width: 33.33%;
          label{
              display: block;
          }
          span{}
        }

        // Arrival
        .arrival{
          float: left;
          width: 33.33%;
          label{
              display: block;
          }
          span{}
        }
      }
    }
}

/*=====  End of Your Itinerary  ======*/



/*=============================================
=            Passenger Information            =
=============================================*/


.passenger-information{
  @extend .left-wide;

    // Heading
    .s-heading{
      label{}
    }

    // Content
    .content{

      // Passenger Information Block
      .passenger-information-block{
        @extend .left-wide;
        margin-bottom: 20px;

        &:last-child{
            margin-bottom: 0;
        }

        // Row
        .ps-row{
          @extend .left-wide;

          &.ps-head{
            margin-bottom: 20px;
          }

          .ps-col{
            float: left;
            > h3{
              font-size: 16px;
              font-weight: 700;
              @media print {
                font-size: 14px;
              }
            }
            > label{
              margin-bottom: 10px;
            }
            &.col-1{
              width: 33.33%;
            }
            &.col-2{
              width: 66.66%;
            }

            .ps-flight{
              @extend .left-wide;
              margin-bottom: 15px;

              &:last-child{
                  margin-bottom: 0;
              }


              > label{
                margin-bottom: 8px;
                span{
                  i{}
                }
                .ico{}
              }
              .ps-data{
                span{
                  margin-right: 20px;
                }
              }
            }
          }
        }
      }
    }
}


/*=====  End of Passenger Information  ======*/



/*=======================================
=            Payment Details            =
=======================================*/

.payment-details{

    // Heading
    .s-heading{
      label{}
    }

    // Content
    .content{
      ul{
        @extend .left-wide;
        margin: 0;
        padding: 0;
        list-style: none;
        li{
          @extend .left-wide;
          line-height: 2;
          label{
            float: left;
            font-weight: 400;
            margin: 0;
          }
          span{
            float: right;
            font-weight: 400;
          }

          &.total{
            font-size: 16px;
            margin-top: 10px;
            @media print {
              font-size: 14px;
            }
            label{
              font-weight: 600;
            }
            span{
              i{
                font-weight: 600;
              }
            }
          }
        }
      }
    }

}

/*=====  End of Payment Details  ======*/


/*===========================================
=            Contact Information            =
===========================================*/

.contact-info{
  .content{
    .ci-row{
      @extend .left-wide;

      &:last-child{
          margin-bottom: 0;
      }
      margin-bottom: 20px;
    }
    .col{
      width: 33.33%;
    }
    label{
      //font-size: 16px;
      font-size: 14px;
      margin-bottom: 5px;
      @media print {
        font-size: 13px;
      }
    }
    p{}
    span{
      font-size: 12px;
      @media print {
        font-size: 11px;
      }
    }
  }
}

/*=====  End of Contact Information  ======*/


/*===========================================
=            Confirmation Footer            =
===========================================*/

.cm-footer{
  @extend .left-wide;
  margin-top: 20px;

  .ci-row{
    @extend .left-wide;
  }

  .col{
    //width: 33.33%;
  }

  @media print {
    display: none !important;
  }
}

/*=====  End of Confirmation Footer  ======*/
