
/*===============================
=            Login             =
===============================*/

.payment-overlay {
	z-index: 1000;
	background: {
		color: rgba(255,255,255,0.80);
	}
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.login{
	border-top: solid $red 5px;
    background-color: $light_gray;
    width: 450px;
    margin: 200px auto 0;
    // box-shadow: 5px 5px 35px 0px rgba(0, 0, 0, 0.25);
    // -moz-box-shadow: 5px 5px 35px 0px rgba(0, 0, 0, 0.25);
    // -webkit-box-shadow: 5px 5px 35px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 30px;

	#title{
		text-align: center;
		margin: 15px 0 20px;
		font-size: 18px;
		font-weight: 600;
	}

	input{
		margin: 0 0 5px 0;
	}

	label{
		display: block;
		color: $black;
		font-size: 14px;
		text-align:left;
		margin: 15px 0 10px 0;
		padding: 0;
		font-weight: 500;
	}

	.valdr-message{
		position: static;
	}

	button{
		margin: 20px 0;
	}
}

/*=====  End of Slider  ======*/

/*===============================
=            Slider            =
===============================*/

.scroller {
	rzslider {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 2px;
		margin: 0 0 15px 0;
		vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		.rz-pointer {
			outline:none;
			z-index: 2;
			font-family: 'icomoon' !important;
		    speak: none;
		    font-style: normal;
		    font-weight: normal;
		    font-variant: normal;
		    text-transform: none;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		    cursor: pointer;
		    color: $red;
			font-size: 24px;
    		&:hover,&:focus{
    			color: #CE0808;
    		}
		    &:before {
			    content: "\e929";
			}
		}
	}

	rzslider span {
		position: absolute;
		display: inline-block;
		white-space: nowrap;
		font-size: 18px;
		bottom: 3px;
	}

	rzslider .rz-base {
		width: 100%;
		height: 100%;
		padding: 0;
	}

	rzslider .rz-bar-wrapper {
		left: 0;
		z-index: 1;
		width: 100%;
		height: 32px;
		padding-top: 16px;
		margin-top: -16px;
		box-sizing: border-box;
	}

	rzslider .rz-bar-wrapper.rz-draggable {
		cursor: move;
	}

	rzslider .rz-bar {
		left: 0;
		z-index: 1;
		width: 100%;
		height: 4px;

	}

	rzslider .rz-bubble {
		display:none
	}
}

/*=====  End of Slider  ======*/

/*===============================
=            Payment            =
===============================*/

.payments{
	@extend .left-wide;
	margin-top: 20px;

	h2{
		float: left;
		font-size: 18px;
		font-weight: 600;
		height: 36px;
		line-height: 36px;
		margin-bottom: 3px;
	}

	.strong{
		font-weight: 600;
	}

	.total-payment{
		/*.summary-drawer{
			z-index: 10;
		}*/
	}
}

/*=====  End of Payment  ======*/

/*========================================
=            Fare Animations            =
========================================*/
.all-flights{
	@extend .left-wide;
	min-height: 100px;
	transition:0.5s linear all;
	opacity:1;

	h2 {
	      padding-top: 0;
	      font-size: 22px;
	      font-weight: 600;
	      margin-bottom: 5px;
	      position: relative;
	    }

	    h3{
	      font-size: 14px;
	      font-weight: 600;
	      margin-top: 8px;
	      margin-top: 0px;
	      margin-bottom: 10px;
	      position: relative;
	    }

	    h4{
	      font-size: 14px;
	      font-weight: 400;
	      margin-top: 8px;
	      margin-top: 0px;
	      position: relative;
	    }

	    a {
	      text-decoration: underline;
	      color: inherit !important;
	    }

	    .more-flights{
	      color: $red !important;
	      text-decoration: none;
	      font-weight: 600;
	      font-size: 11px;
	    }

	    .plane-icon-trail {
	      position: relative;
	      top: -4px;
	      color: $gray-5;
	    }

	    .flight-info-scroll{
	      max-height:500px;
	      overflow-y: hidden;
	      overflow-x: hidden;
	    }

	    .section-total {
	      font-size: 16px;
	      font-weight: 600;
	      padding: 10px 0;
	    }

	    .sub-total {
	    	@extend .left-wide;
	      	font-size: 18px;
	      	padding: 0;
	      	font-weight: 600;
	        margin: 10px 0 20px;

	      .amount {
	        padding-left: 20px;
	      }
	    }

	.flights-summary-block {
	    float: left;
	    width: 55%;
	    padding-right: 15px;

	    .flight-block {
	      float: left;
	      width: 100%;
	      margin-bottom: 10px;
	      padding-bottom: 10px;
	      border-bottom: 1px dotted #E8E8E8;

	      &:last-child{
	        border-bottom: 0;
	        margin-bottom: 0;
	        padding-bottom: 0;
	      }

	      .title {
	        float: left;
	        width: 100%;
	        margin-bottom: 3px;

	        label {
	          font-weight: 700;
	        }
	      }

	      > span {
	        width: 100%;
	        float: left;
	        > i{
	          float: left;
	          padding: 0 5px;
	        }
	        label {
	          //width: 100%;
	          float: left;
	          margin: 0;
	          font-weight: 400;
	          font-size: 11px;
	          i{
	            float: left;
	            //width: 60%;
	          }
	          .i{
	            color: $black;
	            font-weight: 600;
	            float: left;
	            margin-right: 5px;
	            //width: 15%;
	          }
	        }
	      }
	    }
	}

	.price-summary-block {
      float: left;
      padding: 0 0 0 15px;
      width: 45%;
      position: relative;
    }

}
.all-flights.ng-hide {
	transition:0.5s linear all;
	opacity:0;
}

@keyframes hide {
	0% {
		opacity: 1;
	}
	30% {
		opacity: .3;
	}
	100% {
		opacity: 0;
	}
}
/*=====  End of Fare Animations  ======*/

/*========================================
=            Airewards Points            =
========================================*/

.airewards-points{
	@extend .left-wide;
	border-top: 1px solid;
	border-color: #ededef;
	padding: 10px 0;
	span{
		float: left;
		height: 42px;
		line-height: 42px;
	}
	.text{
		margin-right: 60px;
		font-size: 18px;
    	font-weight: 600;
	    height: 30px;
	    line-height: 30px;
	    margin-bottom: 10px;
	}
	.alert{
		//margin-top: 15px;
	}
	.radio{
		margin-right: 20px !important;
	}
	img{
		height: 20px;
	}

	/* Airwards Options */
	.airwards-options{
		@extend .left-wide;
		margin-bottom: 12px;
		.row{
			position: relative;
			display: inline-block;
		}

		.cg-busy{
			z-index: 9;
			bottom: -5px;

			.cg-busy-default-sign{
				z-index: 10;
			}
		}

		.pax-signout{
			font-size: 13px;
			padding-left: 6px;
			font-weight: normal;
			color: $site_primary_color;
			cursor: pointer;
		}

		/* Left Content */
		.awards-id{
			@extend .left-wide;
			font-size: 14px;
			font-weight: 600;
			a{
				color: #414042;
				text-decoration: underline;
				font-size: 12px;
				font-weight: 400;
				margin-left: 30px;
				cursor: pointer;
				display: inline-block;
				&:hover,&:focus{
					color: $red;
				}
			}
		}

		.notice{
			.alert-btn{
				text-decoration: underline;
				cursor: pointer;
			}
		}

		.points-count{
			@extend .left-wide;
			margin-bottom: 12px;
			display: table;

			.currency-text{
				padding-right: 5px;
			}

			label{
				margin: 0;
				display: table-cell;
				i{
					@extend .left-wide;
					text-align: left;
					line-height: 1;
					color : #8d8c8e;
					font-size: 14px;
				}
				h2{
					@extend .left-wide;
					text-align: left;
					font-size: 14px;
					line-height: 1;
					height: auto;
				}
			}
		}
		ul{
			@extend .left-wide;
			padding: 0;
			margin: 0;
			font-size: 14px;
			list-style: none;
			li{
				@extend .left-wide;
				margin-bottom: 10px;
				line-height: 26px;

				&:before{
					content: "";
			        background: $red;
			        float: left;
			        width: 5px;
			        height: 5px;
					margin: 7px 15px 0 0;
				}
				span{
					float: left;
				    line-height: 1.5;
				    height: auto;
				    width: 94%;
				    width: calc(100% - 25px);
				}
			}
		}

		/* Left Content */
		.left-content{
			width: 100%;
			padding-right: 32%;
		}

		/* Right Content */
		.right-content{
			padding-left: 10px;
			position: absolute;
			top: 0;
			right: 0;

			button{
				width: 100%;
			}

			/* Redeem Amount */
			.redeem-amount{
				@extend .left-wide;
				background: {
					color: #8b8a8b;
				}
				color: $white;
				text-align: right;
				margin-bottom: 20px;
				position: relative;
				overflow: hidden;

				.section{
					@extend .left-wide;
					padding: 15px 25px;
					span{
						line-height: 1;
    					height: auto;
					}
					.small-txt{
						@extend .left-wide;
						text-align: right;
						font-size: 12px;
						margin-bottom: 10px;
					}
					.big-txt{
						@extend .left-wide;
						text-align: right;
						font-size: 18px;
						i{
							font-weight: 600;
						}
					}

					&.active{
						background: {
							color: #414042;
						}
  						box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.19);
  						min-height: 78px;
					}
				}
			}
		}
	}
}

/* Redeem Adjust */
.redeem-adjust{
	@extend .left-wide;
	background: {
		color: #414042;
	}
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.19);
	color: $white;
	padding: 10px 20px 9px;
	margin: -1px 0 30px;

	h2{
		@extend .left-wide;
		font-size: 14px;
		font-weight: 600;
		line-height: 1;
		height: auto;
		margin-bottom: 20px;
	}

	/* Scroller */
	.scroller{
		@extend .left-wide;
		height: 25px;
		.line{
			height: 1px;
			background: {
				color: #727173;
			}
			width: 100%;
			position: relative;
			&:before,&:after{
				content: "";
				height: 7px;
				width: 7px;
				top: -3px;
				@include border-radius(50%);
				position: absolute;
				background: #8b8a8b;
			}
			&:before{
				left: 0;
			}
			&:after{
				right: 0;
			}
			.drag-pointer{
				color: $red;
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				font-size: 24px;
    			left: 30%;
    			cursor: pointer;
    			&:hover,&:focus{
    				color: #CE0808;
    			}
			}
		}

		.count{
			font-size: 10px;
			color: #c6c6c7;
			@extend .left-wide;
			line-height: 1;
			margin-top: 14px;
			.left-count{
				float: left;
			}
			.right-count{
				float: right;
			}
		}

		.rz-scroller{
			width: 104%;
			margin-left: -14px;
		}
	}
}

/*=====  End of Airewards Points  ======*/


/*=============================================
=            Select Payment Method            =
=============================================*/

.select-payment-method{
	@extend .left-wide;
	padding: 10px 0 0;
	border-top: 1px solid;
	border-color: #ededef;

	h2{
		float: left;
	}



	.secure-certificate{
		//float: right;
		//width: 35%;
		.data{
			float: left;
			width: 99%;
			span{
    			@extend .left-wide;
				font-size: 14px;
    			font-weight: 600;
    			margin-bottom: 3px;
			}
			p{
				@extend .left-wide;
				font-size: 12px;
				margin-bottom: 0;
				a{
					color: $black;
					font-style: italic;
					text-decoration: underline;
					&:hover,&:focus{
						color: $red;
					}
				}
			}
			.secure-title{
			  float: left;
			  width: auto;
			  line-height: 26px;
			  margin: 0 10px;
			}

			.certificates{

				img{
					width: 70px;
				}

			  #master-card{
				  padding-top: 11px;
			  }
			  #visa-card{
				  padding-top: 10px;
			  }
			  //padding-top: 11px;
			  clear: both;
			  span{
				width: 28%;
				float: right;
				text-align: center;
			  }
			}
		}
		.ico{
			float: left;
			//float: right;
			display: inline-block;
			background: {
				image: url(../images/misc/secure-lock.png);
				size : contain;
				repeat : no-repeat;
				position: center;
			}
		  	float: left;
		  	width: 24px!important;
		  	height: 24px;
		}

	}


}

/*=====  End of Select Payment Method  ======*/



/*=======================================
=            Payment Options            =
=======================================*/

.payment-options{
	@extend .left-wide;
	padding: 15px 0;
	margin-bottom: 30px;
	display: table;
	label{
		padding-left: 0;
	}

	.payment-logo{
		img{
			max-width: 100px;
		}
	}
}

/*=====  End of Payment Options  ======*/


/*=======================================
=            Payment Details            =
=======================================*/

.payment-details{
	@extend .left-wide;



	/* Left Content */
	.left-content{
		padding-left: 0;
		label{
			@extend .left-wide;
			font-size: 14px;
			margin-bottom: 20px;
			line-height: 1;
		}

		#verify-btn{
			margin-top:5px;
			min-width:115px;
			height: 50px;
		}

		section{
			@extend .left-wide;
			//margin-bottom: 20px;
		}

		.form-control{
			margin-top: 5px;
			height: 50px;
			line-height: 50px;
			font-size: 14px;
			font-weight: 400;
		}

		.expire-row{
			margin-bottom: 20px;

			.ng-scope .ng-active {
				bottom: 0;
			}

			label{
				margin-bottom: 0;
			}

			.expire-group{
				div.ng-scope{
					position: absolute;
					width: 100%;
					bottom: 0;
				}
				input, select{
					display: inline-block;
					float: left;
					width: 35%;
				}

				span.date-dividier{
					display: inline-block;
					float: left;
					width: 10%;
					text-align: center;
					line-height: 50px;
					font-size: 20px;
					font-weight: 100;
					margin-top: 5px;
				}
			}
		}

		.cvv{
		  	div.ng-scope{
			  position: absolute;
			  width: 100%;
			  bottom: 19px;
			}
			.form-control{
				width: 44%;
				float: left;
			}
			span.cvv-desc{
				float: left;
				width: 55%;
				padding-left: 10px;
				margin-top: 10px;
				h5{
					@extend .left-wide;
					font-size: 12px;
					font-weight: 600;
					margin-bottom: 4px;
					line-height: 1;
				}
				p{
					@extend .left-wide;
					font-size: 11px;
					font-weight: 400;
					line-height: 1.2;
					margin-bottom: 0;
				}
			}
		}

		p{
			margin-bottom: 20px;
			a{
				font-weight: 600;
				text-decoration: underline;
			}
		}

		.input-sec{
			width: 50%;
			margin: 10px 0 30px;
		}

		.selected-partner{
			@extend .left-wide;
			margin-bottom: 10px;
			label{
				@extend .left-wide;
				span{
					margin-right: 30px;
					// width: 30%;
					display: inline-block;
				}
				img{
					height: 40px;
					display: inline-block;
				}
			}
		}
	}

	/* Right Content */
	.right-content{
		padding-right: 0;

		/* Notifications */
		.notification{
			@extend .left-wide;
			margin-bottom: 20px;
			padding: 25px;
			background: {
				color: #fcfce7;
			}
			border: 1px solid #F5F5DC;
			h4{
				@extend .left-wide;
				font-size: 14px;
				font-weight: 600;
				margin-bottom: 10px;
			}
			p{
				@extend .left-wide;
				font-size: 14px;
				margin-bottom: 0;
				line-height: 1.5;
			}
		}

		/* Amount */
		.amount{
			@extend .left-wide;
			padding: 15px 25px;
			background: {
				color: #525153;
			}
			color: $white;
			text-align: center;
			margin-bottom: 47px;
			margin-top: 94px;

			&.binpromo-status{
				margin-top: 154px;
			}

			&.one-line{
				margin-top: 70px;
			}

			span{
				@extend .left-wide;
				&.smaller-txt{
					font-size: 14px;
					margin-bottom: 20px;
					color: $white;
					text-align: left;
					i{
						float: right;
					}
				}
				&.small-txt{
					font-size: 19px;
					//margin-bottom: 10px;
				}
				&.big-txt{
					font-size: 24px;
					i{
						font-weight: 600;
					}
				}
			}
		}

		/* Captcha Form */
		.captcha-form{
			@extend .left-wide;
			margin-bottom: 20px;
			padding: 10px 25px 20px;
			background: {
				color: #fcfce7;
			}
			border: 1px solid #F5F5DC;
			span{
				@extend .left-wide;
			}
			.captcha-key{
				margin-bottom: 15px;
				position: relative;
				img{
					height: 45px;
				}
				.refresh{
					position: absolute;
					right: 0;
					top: 5px;
					background: {
						image : url(../images/misc/refresh.png);
						size : contain;
						repeat : no-repeat;
						position: center;
					}
					height: 20px;
					width: 20px;
					cursor: pointer;
				}
			}
			input{
				height: 42px;
			    line-height: 42px;
			    font-size: 14px;
			    font-weight: 400;
			}
		}

		/* Submit */
		.submit{
			@extend .left-wide;
			margin-bottom: 20px;
			button{
				width: 100%;
			}
		}

		/* Cetificates */
		.certificates{
			@extend .left-wide;
			display: table;
			text-align: center;
			span{
				display: table-cell;
				padding: 0 10px;
				img{
					max-width: 95%;
				}
			}
		}
	}

	/* Master Card Details */
	.master-card-details{
		.align-input {
			padding-left: 0!important;
		}
	}
}
