/*========================================
=            Select Passenger            =
========================================*/

.select-passenger{
	@extend .left-wide;
	clear: both;
	border-top: 1px solid #ededef;
	border-bottom: 1px solid #ededef;
	margin-bottom: 0;

	.radio{
		float:right;

		[type="radio"]:checked + label:after{
			top: 12px;
		}

		[type="radio"]:not(:checked) + label:after{
			right: 0;
		}
	}

	.row {
	    margin-right: 0;
	}

	.heading{
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 0;
	}

	// Passengers List
	.passengers-list{
		padding-right: 0;
		margin-top: -1px;
		float: right;
		@extend .no-select;
		@media screen and (max-width: 990px) {
			width: 25%;
		}

		.inner{
			@extend .left-wide;
			border: 1px solid #ededef;
			border-right: 0 solid #ededef;
			background: {
				color: #ffffff;
			}
			color: #848484;
			padding: 0 0 16px;	
			min-height: 326px;
		}

		.heading{
			@extend .left-wide;
			height: 0;
			line-height: 62px;
			padding: 0 30px;
			background: $site_primary_color;
		}

		ul{
			@extend .left-wide;
			padding: 0;
			margin: 0;
			li{
				@extend .left-wide;
				list-style: none;
				font-weight: 600;
				position: relative;
				span{
					label{
						padding: 12px 30px;
						font-weight: 600;
						font-size: 14px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
				&:hover{
					color: #ffffff;
					background: {
						color: $black + 80;
					}
				}
				&.active{
					color: #ffffff;
					background: {
						color: $gray;
					}
					&:after{
						content: "";
						position: absolute;
						width: 0;
						height: 0;
						margin-top: -1px;
						border-top: 23px solid transparent;
						border-bottom: 23px solid transparent;
						border-right: 15px solid $gray;
						z-index: 1;
					}
					span {
						label {
							padding: 12px 30px;
							font-weight: 600;
							font-size: 14px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}
				}
				label{
					margin: 0;
					input{}
				}
				span{}
			}
		}
	}

	// Passenger Information
	.passengers-information{
		padding-right: 0;
		float: left;
		@media screen and (max-width: 990px) {
			width: 75%;
		}

		.heading{
			@extend .left-wide;
			height: 41px;
			line-height: 41px;
			padding: 0 15px;
			font-weight: 600;
			margin-bottom: 22px;
			.info{
				font-style: normal;
				float: left;
				font-size: 12px;
				line-height: 47px;
				font-weight: 400;
			}
		}

		.row{
			padding: 0;
			margin: 0 0 0 -15px;
		}

		.pax-row{
			padding-bottom:20px;
		}

		.placeholder{
			padding: 0 15px !important;
			line-height: 50px;
			color: $black;
			font-weight: 400;
			font-size: 14px;
			.placeholder-icon{
				margin-left: 3px;
			}
		}

		.ibe-drop-down{
			.dropdown-toggle{
				padding: 0 5px;
			}
			.dp-caption{
				padding: 0 15px 0 10px;
				line-height: 50px;
				color: $black;
				font-weight: 400;
				font-size: 14px;
			}
			.fa{
				line-height: 50px;
			}
		}
	}

}

#pax-airewards-logo{
	height: 22px;
	margin-bottom: 2px;
}

.passenger-header{
	float:right;
}

/*=====  End of Select Passenger  ======*/
