/*====================================
=            Select Services            =
====================================*/

.select-sevices{}

/*=====  End of Select Services  ======*/



/*======================================
=            Service Selection            =
======================================*/

.services-selection{
	@extend .left-wide;
	background: {
		repeat : no-repeat;
		size : cover;
		position: center;
	}
    //min-height: 745px;
    position: relative;

	// Left Section
	.left-section{
		float: right;
		position: relative;
		z-index: 9;

		// Data Block
		.data-block{
			@extend .left-wide;
			color: $white;

			background: {
				color: $black;
			}

			// Heading Title
			.heading-title{
				@extend .left-wide;
				font-size: 18px;
				padding: 20px 30px;
			}

			// Content
			ul{
		      @extend .left-wide;
		      padding: 0 0 15px;
		      margin: 0;
		      list-style: none;
		      li{
		        @extend .left-wide;
		        list-style: none;
		        font-weight: 600;
		        position: relative;
		        span{
		          label{
		            padding: 12px 30px;
		            font-weight: 600;
		            font-size: 13px;

					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
		            i{
		            	float: right;
		            }
		          }
		        }
		        &:hover{
		          background: {
		            color: $black + 20;
		          }
		        }
		        &.active{
		          background: {
		            color: #979697;
		          }
		          &:after{
		            content: "";
		            position: absolute;
		            width: 0;
		            height: 0;
		            left: -15px;
		            margin-top: 0;
		            border-top: 21px solid transparent;
		            border-bottom: 21px solid transparent;
		            border-right: 15px solid #979697;
		          }
		        }
		        label{
		          margin: 0;
		          input{}
		        }
		        span{}
		      }
		    }
		}
	}

	// Right Section
	.right-section{
		position: relative;
		background: {
			color: #f6f6f7;
		}
		padding: 25px 20px 25px 30px;
   		margin-left: -15px;
   		z-index: 0;
	}
}

/*=====  End of Service Selection  ======*/


/*==========================================
=            Available Services            =
==========================================*/

.available-services{
	@extend .left-wide;
	//min-height: 500px;
	padding-bottom: 5px;

	/* Title */
	.title{
		@extend .left-wide;
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 30px;
	}

	/* List */
	ul{
		@extend .left-wide;
		list-style: none;
		padding: 0;
		margin: 0 0 30px;

		li{
			@extend .left-wide;
			margin-bottom: 10px;
			cursor: pointer;

			img{
				width:40px;
				float: left;
				margin-right: 5px;
			}

			// Checkbox
			.check{
				float: right;
				width: auto;
				width: 7%;
				margin-top: 5px !important;
				label{
					cursor: pointer;
				}
			}

			// Icon
			.ico{
				float: left;
				color: $red;
				font-size: 27px;
				width: 15%;
				text-align: center;
    			line-height: 1;
			}

			// Data
			.data{
				float: right;
				width: 50%;
    			padding-left: 5px;
				h4{
					@extend .left-wide;
					font-size: 13px;
    				font-weight: 600;
    				margin-bottom: 0;
    				line-height: 1.6;
				}
				p{
					@extend .left-wide;
					a{
						color: $gray;
						text-decoration: underline;
						font-size: 12px;
						&:hover,&:focus{
							color: $red;
						}
					}
				}
			}

			// Price
			.price{
				float: left;
				width: 28%;
				font-size: 13px;
				text-align: left;
				i{
					font-weight: 600;
				}
			}
		}
	}
}

/*=====  End of Available Services  ======*/
