/*======================================
=            Sidebar Widget            =
======================================*/

.sidebar-widget {
  @extend .left-wide;
  margin-bottom: 15px;
  //max-height: 440px;
  //overflow: auto;

  // Widget Header
  .widget-header {
    @extend .left-wide;
    height: 58px;
    line-height: 58px;
    padding: 0 15px;

    background: {
      color: $black;
    }
    color: $white;
    font-weight: 600;
    font-size: 20px;

    .left {
      float: right;
    }
    .right {
      float: left;
    }

    span {
      i {
        font-weight: 400;
      }
    }
  }

  // Widget Content
  .widget-content {
    @extend .left-wide;

    .radio [type="radio"]:checked + label:after{
      top: 12px;
      right: 0;
    }

    .radio [type="radio"]:not(:checked) + label:after{
      top: 12px;
      right: 0;
    }

    .highlighted {
      background: {
        color: #fcfce7;
      }
    }

    // Widget Section
    .w-section {
      @extend .left-wide;
      //padding: 20px 20px 15px;
      padding: 0;
      border-bottom: 1px solid #eaeaed;
      background: {
        color: #e8e8e8;
      }

      &.highlighted {
        background: {
          color: #fcfce7;
        }
      }

      // Heading
      .section-heading {
        @extend .left-wide;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 5px;
        padding: 0 20px;
        .text {
        }
        i {
          float: right;
          img {
          }
        }
      }

      // Radio Section
      .radio-section {
        @extend .left-wide;

        // Item
        .item {
          @extend .left-wide;

          .radio {
            font-size: 16px;
            width: 100% !important;
            margin: 0 !important;
            padding: 0 20px;
            label {
              padding: 0;
              font-weight: 700;
              span {
                float: left;
                font-weight: 400;
                i {
                  font-weight: 700;
                }
              }
            }
            .disabled {
              font-size: 13px;
              color: #c6c6c9;
              color: #a3a3a3;
            }
            &.active {

              label {
                &:after {
                  color: $black;
                }
              }
              .disabled {
                color: $black;
              }
            }

          }

          .sub-section {
            @extend .left-wide;
            position: relative;
            &:last-child {
              margin-bottom: 5px;
            }
            .section-title {
              @extend .left-wide;
              position: relative;
              font-weight: 600;
              margin-bottom: 5px;
              padding: 0 20px;
            }
            .action {
              position: absolute;
              text-align: center;
              color: $black;
              &:hover, &:focus {
                cursor: pointer;
                color: $red;
                text-decoration: none;
              }
            }
            .text {
              width: 60%;
              float: right;
              padding-right: 30px;

              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .price {
              width: 25%;
              float: left;
              text-align: right;
              font-weight: 400;
              i {
                font-weight: 600;
              }

              span{
                float:left!important;
              }
            }

            ul {
              @extend .left-wide;
              list-style: none;
              padding: 0;
              margin: 0 0 10px;
              li {
                @extend .left-wide;
                position: relative;
                padding: 3px 20px;
                font-size: 12px;
                font-weight: 600;
                color: #4C4C4C;
                cursor: default;
                .action {
                  display: none;
                  cursor: pointer;
                  text-decoration: none;
                  &:hover, &:focus {
                    color: $red;
                  }
                }
                .text {
                }
                .price {
                  i {
                  }
                }

                &:hover {
                  background: {
                    color: #f9f9d1;
                  }
                  .action {
                    display: block;
                  }
                }
              }
            }
          }
        }

      }

    }

    ul.flight-segments {
      float: left;
      width: 100%;
      list-style: none;
      font-size: 10px;
      margin: -6px 0 8px;
      font-weight: 700;
      padding: 0 0 0 48px;
      color: #888;
      li {
        float: left;
        margin-right: 5px;
        i {
          margin-left: 5px;
        }
      }
    }
  }
}

/*=====  End of Sidebar Widget  ======*/