
#signin-section{
    margin: 0 auto;
    padding-top: 60px;

    .description{
        margin-bottom: 20px;
    }

    .content-body{
        padding-top: 25px;
    }

    .red-btn{
        width: 50%;
        clear: both;
    }

    .inside-content{

        .content-header{
            margin-bottom: 10px;
        }
    }

    .form-footer{
        margin-top: 0px;
        padding: 2px 0 10px;
    }

}
