
@mixin border-radius($val){
  border-radius: $val;
  -moz-border-radius: $val;
  -webkit-border-radius: $val;

}

.tf-wrapper {
  .uib-dropdown-menu{
    width:100%;
    li a{
      overflow: hidden;
    }
  }
  h2{
    margin: 0;
    padding: 0;
  }
  .red-btn,.gray-btn{
    @include border-radius(0px);
    color: $site_back_color;
    font-weight: 400;
    font-size: 18px;
    height: 40px;
  }
  .animate-show {
    //line-height: 20px;
    opacity: 1;
    padding: 10px;
  }

  .animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all linear 0.5s;
  }

  .animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
    // padding: 0 10px;
  }

  #mod-search{
    &.row{
      position: absolute;
    }
  }
  .modif-search{
    .triptype{
      .triptype-caption{
        padding: 0px 5px;
        font-size: 20px;
        text-align: center;
        display: table-cell;
        float: left;      }
      input{
        width:20px;
        height: 20px;
        float: left;
        margin: 10px;
      }
    }
    .ms-inputs{
      .div{
        margin: 0px;
        padding: 0px;
      }
    }
  }
  .ms-btn-wrapper{

    div{
      float: left;
      &.btn-panel{
        position: relative;
        float: right;
        margin-top: 25px;

      }
      &.btn{
        width:180px;
        font-size: 18px;
        @include border-radius(0px);
      }
      &.red-btn{
        line-height: 1.8;
        margin-right: 5px;
      }
      &.page-header{
        margin: 0px;
        font-size: 18px;
        border: 0;
      }
    }
  }
  h4 {
    margin-top: 30px !important;
  }
  .row {
    &.ms-btn-wrapper{
      position: relative;
    }
    &.modif-search{
      position: absolute;
      background-color: $site_back_color;
      z-index: 1;
    }

  }
  [class*="col-"] {
    padding: 5px 10px;
  }
  .col-btn-search{
    padding-top: 15px;
  }

}

.flight-result-block{
  .flight-block-header{
    margin: ($padding_margin_base*5) 0px;
    h2{
      margin: 0;
      padding: 0;
      line-height: 50px;
      height: 50px;
      .strong{
        font-weight: bold;
      }
    }
  }
}
