

/* LAYOUT
================================================== */	

#page_wrap {
width: 960px;
margin: 0 auto;
overflow: hidden;
}

/* HEADER
================================================== */	

header figure { width:auto; float:right; margin:10px 0 0 40px;}
header figure a.fb { width:29px; height:26px; background:url(../images/tem/fb_btn.jpg) no-repeat; float:left; margin:0 7px 0 0; float:left; text-indent:-9999px; }
header figure a.fb:hover {background:url(../images/tem/fb_btn_hover.jpg) no-repeat;} 
header figure a.tweeter {width:29px; height:26px; background: url(../images/tem/tweet_btn.jpg) no-repeat; float:left; text-indent:-9999px;}
header figure a.tweeter:hover {background: url(../images/tem/tweet_btn_hover.jpg) no-repeat;}
header #header_elements { width:960px; height:89px; float:left; border-bottom: 1px #edeae3 solid;}
header #header_elements #logo { width:229px; height:78px; float:left; margin:0 213px 0 36px;}
#header_elements #hotels_booking { background:url(../images/tem/hotels_booking.jpg) no-repeat; width:208px; height:44px; float:left; position:relative; padding:45px 5px 0 19px;}
#hotels_booking h4 {font-family: 'Open Sans', sans-serif; font-size:17px; color:#0b8643; font-weight:400;}
#hotels_booking p {font-family: 'Open Sans', sans-serif; font-size:11px; color:#737373; margin:-3px 0 0 0;}
#hotels_booking a { width:24px; height:15px; background:url(../images/tem/double_arrow_btn.png) no-repeat; position:absolute; top:50px; left:200px; text-indent:-9999px}
#hotels_booking a:hover {background:url(../images/tem/double_arrow_btn_hover.png) no-repeat;}
#header_elements #tour_packages { background:url(../images/tem/tour_packages.jpg) no-repeat; width:208px; height:44px; float:left; padding:45px 5px 0 19px; position:relative;}
#tour_packages h4 {font-family: 'Open Sans', sans-serif; font-size:17px; color:#0b8643; font-weight:400;}
#tour_packages p {font-family: 'Open Sans', sans-serif; font-size:11px; color:#737373; margin:-3px 0 0 0;}
#tour_packages a { width:24px; height:15px; background:url(../images/tem/double_arrow_btn.png) no-repeat; position:absolute; top:50px; left:200px; text-indent:-9999px}
#tour_packages a:hover {background:url(../images/tem/double_arrow_btn_hover.png) no-repeat;}


/* MAIN NAVIGATION
================================================== */
nav ul { font-family: 'Open Sans', sans-serif; width: 100%; list-style:none; font-size:18px; font-weight:600;}
.lt-ie9 nav ul {font-weight: normal;} /*css code for ie8*/
nav ul li {float:left;}
nav ul li a {margin: 5px 60px 0 0; padding: 5px 20px; display: block; color:#a69a80; text-decoration: none; *padding: 5px 15px;}
nav ul li:first-child +li+li+li+li a { margin:5px 0 0 0;} 
nav ul li a:hover { color:#f26532; }
		
/* PAGE CONTENT
================================================== */	
#page_template{width: 100%; min-height:700px; height:auto; float:left; margin:20px 0 0 0; padding:0 0 20px 0; background:white;}
#page_content {width: 100%; height:auto; float:left;}
#master_head {width: 100%; height:538px; float:left; margin:20px 0 0 0; background:#065825;}

/* BOOK AND BUY FORM
================================================== */	 
.manage_booking_form { width:300px; height:400px; float:left; background:#09361a; position:relative;}
.manage_booking_form form {padding: 0px 20px;}
.manage_booking_form h1 {font-family: 'Open Sans', sans-serif; font-weight:700; font-size:31px; color:#17af36; border-bottom:1px solid #165127; text-transform:uppercase; padding:5px 15px 10px;}
.manage_booking_form p { font-size: 11px; color:white; font-weight:700; padding:10px 40px 10px 20px;}
.manage_booking_form p label {margin: 0 10px 0 0;}
.manage_booking_form div.stroke { width:260px; height:35px; float:left; margin:0 0 7px 0px; border-bottom:1px solid #486852; border-top:1px solid #486852;}
.manage_booking_form div span {width:43px; height:25px; background:#f26523; color:#f9bcaa; font-family: 'Oswald', sans-serif; font-size:12px; font-weight:600; float:left; padding:5px 5px 5px 5px; text-align:center; }	
.manage_booking_form div .styled-destination { width:207px; height:35px; float:left; border:none; font-size:14px; color:#848484; -webkit-appearance:none; overflow: hidden; background: url(../images/tem/green_arrowdown_big.jpg) no-repeat right #f5f2ec; /*css code for ie7*/ .background: white; .padding:5px 0 0 0; .height:30px; }	
.manage_booking_form div .styled-calendar { width:207px; height:35px; border:none !important; overflow: hidden; background: url(../images/tem/input_calendar.jpg) no-repeat right #f5f2ec; float:left; /*css code for ie7*/ .background: white; .padding:5px 0 0 0; .height:30px; }
.manage_booking_form div .styled-calendar select,
.manage_booking_form div .styled-destination select { width:230px !important; height:35px; float:left; padding:5px; border:none; font-size:14px; color:#848484; -webkit-appearance: none; background: transparent; /*css code for ie7*/ .background:white; .width:207px !important;  }
.manage_booking_form #multi-select {width:260px; height:35px; float:left; border:none;}
#multi-select .styled-select { width:80px; height:32px; border:none !important; overflow: hidden; background: url(../images/tem/green_arrowdown_small.jpg) no-repeat right #f5f2ec; /*css code for ie7*/ .background: white; .padding: 5px 0px; .width:70px; .height:22px; }
#multi-select .styled-select select { width:103px !important; *width:80px !important; height:32px; float:left; border:none; font-size:12px; color:#848484; -webkit-appearance: none; background: transparent; padding:5px; }
#multi-select .styled-select2 { width:85px; height:32px; border:none !important; margin:0 7px; overflow: hidden; background: url(../images/tem/green_arrowdown_small.jpg) no-repeat right #f5f2ec; /*css code for ie7*/ .background: white; .padding: 5px 0px; .width:70px; .height:22px;}
#multi-select .styled-select2 select { width:110px; height:32px; float:left; border:none; font-size:12px; color:#848484; -webkit-appearance: none; background: transparent; padding:5px; }
.manage_booking_form .line { width:300px; height:1px; background:#09361a; border-bottom:1px solid #165127; position:absolute; top:347px;  border-top:none;z-index:2;}
.manage_booking_form button { width:260px !important; height:35px; font-family: 'Open Sans', sans-serif; font-weight:700; float:left; color:#6f3700; background:#ff9933;font-size:19px; border:none !important; margin:13px 0 0 0px; text-align:center; /*css code for ie7*/.margin:10px 0 0 0px;}	


/* BANNER
================================================== */		
#master_head #zestair_banner {width:660px; height:400px; float:right; background:green;}

/* PROMOS
================================================== */	
#master_head #zestair_promos {width: 100%; height:138px; float:left; background:#17af36; list-style:none; }
#master_head #zestair_promos li { width:221px; height:103px; float:left; border-right:1px solid #065825; background:none !important; padding:20px 5px 15px 5px !important; position:relative;}
#master_head #zestair_promos li:first-child +li+li+li { border-right:none;}
#master_head #zestair_promos li img#peso_sign { float:left;}
#master_head #zestair_promos li span { height:42px; width:auto; font-size:45px; font-family: 'Oswald', sans-serif; font-weight:700; color:white; float:left; padding:0 0 0 0 !important; margin:0 7px 7px 0 !important; line-height:40px;}
#master_head #zestair_promos li em {font-family: 'Oswald', sans-serif; font-size:15px; font-style:normal; color:white; line-height:14px; position:absolute; top:30px;}
#master_head #zestair_promos li p { float:left; color:white !important; margin:0 0 15px 0 !important; font-family: 'Open Sans', sans-serif; font-weight:700; font-size:14px !important; line-height:14px !important;}
#master_head #zestair_promos li p i { color:#99cc99; font-family: 'Open Sans', sans-serif; font-size:14px !important; font-weight:normal; font-style:normal; }
#master_head #zestair_promos li b { font-weight:normal; color:#66cc66; float:left; font-size:11px;}
#master_head #zestair_promos li a { width:36px; height:36px; background:url(../images/greenbox_arrow_btn.jpg) no-repeat; position:absolute; left:170px; top:80px; text-indent:-9999px;}
#master_head #zestair_promos li a:hover {background:url(../images/tem/greenbox_arrow_btn_hover.jpg) no-repeat;}
#master_head #zestair_promos li .trip {font-family: 'Oswald', sans-serif; font-size:15px; color:white; line-height:15px; position:absolute; top:30px; left:180px; text-align:center; text-transform:uppercase;}
	
/* READY TO FLY?
================================================== */	
#ready_to_fly { width:100%; height:39px; float:left; margin:30px 0 30px 0;}
#ready_to_fly img {float:left; margin:0 10px 0 80px;}
#ready_to_fly p {font-family: 'Open Sans', sans-serif; font-size:28px; font-weight:700; color:#16af36;}
#ready_to_fly p span {font-weight:300; color:#a69c84;}

#page_content ul { width:100%; height:auto; float:left; list-style:none; margin-bottom:20px !important; }
#page_content ul li { width:231px; height:auto; float:left; background:white !important; padding-bottom:20px !important; margin:0 0 0 8px;}
#page_content ul li:first-child +li+li+li { margin-right:0px;}
#page_content ul li h3 { color:#a69c84; font-size:20px; margin:5px 0 5px 10px; }
#page_content ul li p { font-size:14px; color:#909090; margin:0 0 15px 10px; padding:0 10px 0 0}
#page_content ul li a { color:#f26523; text-decoration:none; font-family: 'Oswald', sans-serif; font-weight:700; font-size:14px; margin:0 0 10px 10px !important;}
#page_content ul li a:hover { color:#17af36;}

/* LASTEST DEALS
================================================== */	
#page_content div#latest_deals { width:100%; height:45px; background:#ddd5c4; padding:20px 40px 10px; float:left;}
div#latest_deals span { width:420px; height:auto; float:left; margin:-15px 20px 0 0;}
div#latest_deals span h1 {font-family: 'Open Sans', sans-serif; font-size:27px; color:#625236;}
div#latest_deals span p { font-family: 'Open Sans', sans-serif; font-size:8.5px; color:#b6a992;}
div#latest_deals input { width:222px; height:19px; float:left; margin-right:10px; font-size:14px; padding:5px;}
div#latest_deals button {font-family: 'Open Sans', sans-serif; font-weight:700; width:199px; height:32px; float:left; color:white; background:#f26523;font-size:19px; border:none !important;}
		
/* FOOTER
================================================== */			
footer {width:100%; height:auto; margin: 20px auto 0; font-size: 14px; float:left; background:#2d2b26; padding:20px 0;}
footer div {width:960px; height:auto; margin:0 auto;}
footer div ul { width:100%; height:auto; list-style:none;}
footer div ul li {width:231px; height:auto; float:left; color:#fe8000; font-weight:600; margin:0 0 0 8px;}
footer div ul li:first-child +li+li+li { margin-right:0px;}
footer div ul li p { font-size:13px; color:#7b7b7b; margin:5px 0 0 0; line-height:22px;}
footer div ul li p a {color:#7b7b7b; text-decoration:none;}
footer div ul li p a:hover { color:white;}

footer div ul li ul li {width:231px; height:auto; float:left; color:#fe8000; font-weight:600; margin:0 0 10px 8px;}
footer div ul li ul li p { font-size:13px; color:#7b7b7b; margin:10px 0 0 0 !important; line-height:12px; /*css code for ie7*/ *font-weight:normal;}
footer div ul li ul li p a {color:#7b7b7b; text-decoration:none;}
footer div ul li ul li p a:hover { color:white;}

footer div span {width:100%; height:auto; float:left; margin:50px 0 0 0;  }
footer div span img {float:left; margin:0 20px 0 0;}
footer div span p#copyright {font-size:13px; color:#7b7b7b; float:left; padding:2px;} 
footer div span p#privacy {font-size:13px; color:#7b7b7b; float:right; padding:2px;} 

/* INNER PAGE
================================================== */	
#inner_master_head {width: 100%; height:auto; float:left; margin:20px 0 0 0; position:relative;}
#inner_page_content {width:660px; height:auto; float:right; background:white; margin-bottom:20px; padding-bottom:30px;}
#inner_page_content h4 { font-weight:700; color:#ff6633; font-size:14px; border-bottom:1px solid #d6d2ca; padding:23px;}
#inner_page_content h4 span {font-weight:normal; color:#a69a80; font-size:14px;}
#inner_page_content .image { width:618px; height:308px; float:left; margin:20px; background:#CCC;}

/* QUICK LINKS
================================================== */	
#inner_master_head #quick_links { width:260px; height:auto; position:absolute; top:420px; left:0px; background:#2d7e3d; padding:20px; float:left !important;}	
#inner_master_head #quick_links h5 { font-weight:700; color:white; padding-bottom:10px!important; font-size:20px; border-bottom:thin solid #246d35;}
#inner_master_head #quick_links ul {margin:10px 0 0 10px; list-style: disc;}
#inner_master_head #quick_links ul li { color:#a2d7ac !important; font-size:13px; background:none !important; padding:0 0 6px 0px !important;}
#inner_master_head #quick_links ul li a {font-family: 'Open Sans', sans-serif; color:#a2d7ac !important; font-size:13px; font-weight:normal;}
#inner_master_head #quick_links ul li a:hover {color:#fff !important;}

/* PROMO PAGE
================================================== */	
#inner_page_content div#promo_table { width:622px; height:auto; float:left; margin:20px 0 0 20px;}
div#promo_table ul.head { width:622px; float:left; margin-bottom:0px !important; border-bottom:4px solid white; background:#09361a;}
div#promo_table ul li { width:auto; height:25px; float:left; color:white; font-size:12px; font-weight:700; text-transform:uppercase; text-align:center;  padding:10px 14px 0 14px; line-height:14px; float:left; margin:0 0 0 0 !important; background:#09361a !important;}

div#promo_table div#table_content {width:622px; height:auto; float:left; margin:0px !important;}
div#promo_table div#table_content div.departure { width:622px; height:auto !important; float:left; background:#35834e; margin:0 0 10px 0; }
div#promo_table div#table_content div.departure p { height:auto; font-size:11px; text-transform:uppercase; text-align:center; padding:10px 5px 0 5px; font-weight:700; float:left; width:95px; color:#fff;}
div#table_content div.departure ul {width:513px; float:left; list-style:none; border-left:2px solid white; margin-bottom:0 !important;}
div#table_content div.departure ul li:first-child { border-top: none; }
div#table_content div.departure ul li { border-top:4px solid white; padding:0px; }
div#table_content div.departure ul li.light_green { background:#17af36 !important; }
div#table_content div.departure ul li.dark_green { background:#35834e !important; }
div#table_content div.departure ul li ul { height:45px; margin:0; padding:0px; list-style:none;}
div#table_content div.departure ul li ul li { height:15px !important; font-size:12px; font-weight:normal; text-transform:none; background:none !important; border:none !important; text-align:center; }

div#table_content div.departure ul li ul li.base_fare { width:85px !important; height:auto; float:left; padding:10px 5px 0 0px !important; }
div#table_content div.departure ul li ul li.base_fare span { width: auto; height:25px; margin-top: -5px; float:right;}
div#table_content div.departure ul li ul li.base_fare span img { margin-top:2px; float:left;}
div#table_content div.departure ul li ul li.base_fare span b {font-size:24px; font-family: 'Oswald', sans-serif; font-weight:700; color:white; float:left; text-align:right; line-height: 24px; margin:0 4px 0 0;}
div#table_content div.departure ul li ul li.arrival { width:70px !important; padding:10px;}
div#table_content div.departure ul li ul li.selling { width:60px; height:45px; float:left; padding:10px ;}
div#table_content div.departure ul li ul li.seats { width:50px; height:45px; float:left; padding:10px; text-align:right !important;}
div#table_content div.departure ul li ul li.travelling { width:60px; height:45px; float:left; padding:10px;}
div#table_content div.departure ul li ul li.buy_now { width:76px; height:45px; float:left; padding:10px !important;  }
div#table_content div.departure ul li ul li.buy_now a { margin:0 25px 0 0 !important;}

/* TOOLTIP
================================================== */
div#table_content div.departure ul li ul li.base_fare em a.breakdown {outline:none; width:75px; height:auto; float:left; margin:-2px 0 0 13px !important;  position:relative;}
div#table_content div.departure ul li ul li.base_fare em a.breakdown img { width:11px; height:9px; margin:3px 3px 0px 0px;  float:left !important;}
div#table_content div.departure ul li ul li.base_fare em a.breakdown p { font-family: 'Open Sans', sans-serif; width:55px !important; float:left; font-size:8px !important; color:#9cfaae !important; text-transform:uppercase; text-decoration:underline; margin:0 0 0 0; padding:0px !important; font-style:normal; font-weight:400px; text-align:left; float:left  !important; }	
div#table_content div.departure ul li ul li.base_fare em a.breakdown div {z-index:20;display:none; padding:14px 20px; margin-top:-30px; margin-left:28px;width:240px; line-height:16px; left:50px}
div#table_content div.departure ul li ul li.base_fare em a.breakdown:hover div {display:inline; position:absolute; color:#111; background:#fff; width:235px; height:auto; border:1px solid #2d7e3d;-moz-box-shadow: 5px 5px 8px #333333; -webkit-box-shadow: 5px 5px 8px #333333; box-shadow: 5px 5px 8px #333333; border-radius:4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-family: 'Open Sans', sans-serif; padding:10px; }
div#table_content div.departure ul li ul li.base_fare em a.breakdown:hover div h5 { width:100%; font-size:14px; font-weight:700px; color:#2d7e3d; font-style:normal; text-transform:uppercase; margin:0 0 10px 0; padding:0; display:block; border-bottom: thin solid #61c16f !important; float:left; text-align:left;}
div#table_content div.departure ul li ul li.base_fare em a.breakdown:hover div h5 span { margin:0px !important; padding:0px !important; float:right;}
div#table_content div.departure ul li ul li.base_fare em a.breakdown:hover div p {width:100% !important; font-size:12px !important; color:#61c16f !important; float:left; text-align:left !important; text-decoration:none; font-weight: normal !important; text-transform:none !important; margin:0 0 5px 0px;}
div#table_content div.departure ul li ul li.base_fare em a.breakdown:hover div h6 {font-size:17px; font-family: 'Oswald', sans-serif; border-top:thin solid #61c16f !important; font-style:normal !important; text-align:left; color:#2d7e3d; padding:5px 0 0 0; margin:5px 0 0 0; line-height:none;}
div#table_content div.departure ul li ul li.base_fare em a.breakdown:hover div h6 span { margin:0px; padding:0px !important; float:right;}
div#table_content div.departure ul li ul li.base_fare em a.breakdown:hover div p b { float:right;}
div#table_content div.departure ul li ul li.base_fare em a.breakdown:hover div em { width:100%; font-size:9px; color:#666; text-align:left; margin:0 0 0 -45px !important; padding:0px !important; font-weight:normal;}
div#table_content div.departure ul li ul li.base_fare em a.breakdown:hover div img.callout {z-index:20 !important;position:absolute;top:30px;border:0;left:-11px;}




