 Body {
	background : url("../images/tem/bg.jpg") repeat-x scroll center -40px #FFFFFF;
	margin :0;
	padding: 0;
	color: #666666;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 11px;
}
/*#divLoadBg{
	background: url("../images/web-shadow.png") repeat-y;
}*/
.pageBody{
	background : #fff;
}
.mainPageLoader{
	display:none;
	z-index:9900;
	background:transparent;
	height:80px;
	position:absolute;
	top:50%;
	left:40%;
	width:200px
}
.mainPageLoaderFreame{
	position:absolute;
	background:transparent;
	width:200px;
	height:75px;
}
A:link
{
    COLOR: #06AF45;
    TEXT-DECORATION: underline;
}
A:visited
{
    COLOR: #134373;
    TEXT-DECORATION: none
}

.tabs-style 
{
	background-position:right 42px;
}

.outLineBoarder{
	background-color:#ffffff;
	height:5px;
}
.outLine{
	background-color:#FFFFFF;
	border:5px none;
	width:775px;
}
.BannerTopLine{
	background-color:#F63F4C;
}
.BannerBackGround{
	background-color:#ECECEC;
	height:100px;
}
.top_hd{background:url("../images/header.jpg") no-repeat center;}
.btm_bg{background:url("../images/footer-bg.jpg") no-repeat center;}
.topBanner img{margin: 20px 0 0 25px}
.BannerBorderLeft
{
	background-image: url(../images/left_shadow_no_cache.gif);
	}
.BannerBorderRight
{
	background-image: url(../images/right_shadow_no_cache.gif);
	}
.bottomColor{
	background-color: #626262;
	height:50px;
}
.PageBorder
{
	background-color:#fafafa;
	}
td.outerPageBackGround{
	/*background: url("../images/web-shadow.png") repeat-y center;*/
}
.mainbody{
	padding:5px 10px;
}
table .PageBackGround
{
	background:#fff;
	}
.PageBottomColor
{
	background-color:#BE2539;
	}	
	
.PageBottomColorlogin
{
	background-color:#A8A8A8;
	}
font{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: black; 
}
fontArabic{
	font-family:tahoma;
	font-size:13px;
	left:auto;
	color: black; 
}	
.fontPGInfo{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: white; 
}
.fontPGInfoArabic{
	font-family:tahoma;
	font-size:13px;
	left:auto;
	color: white; 
}
.fntArabic{
	font-size:15px;
	font-family: verdana;
}
.fntEnglish{
	font-family: tahoma;
}
.fntCVV{
	font-size:11px;
	font-family: tahoma;
}
.fntWeek{
	font-size:11px;

}
.fntArabicTotal{
	font-family: tahoma;
}
.setHeight{
	height:18px;
}

.tinySpace{
	height:5px;
}

.fntBold{
	font-weight:bold;
}
.fntWhite{
	color:white;
}
.fntDefaultWhite{
	color:#1E57B4;
}
.fntRed{
	color:#06243B;	
}
.fntGreen{
	color:#00B900;	
}
.fntBlack{
	color:black;
}
.fntLink{
	color:#2F54FF;
}
.fntSmall{
	font-size:9px;
}
.fntSmallArabic{
	font-size:13px;
}
.fntExSmall{
	font-size:8px;
}
.fntExSmallArabic{
	font-size:10px;
}
.fntTiny{
	font-size:5px;
}
.fntTinyArabic{
	font-size:7px;
}
.fntLarge{
	font-size: 17px;
}
.fntExLarge{
	font-size: 22px;
}
.fntDefault{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: #666; 
}
.fntDefaultArabic{
	font-family:tahoma;
	font-size:13px;
	left:auto;
	color: black; 
}
.fntMenu{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: black; 
}
.Header{
	font-family:Arial;
	font-size:11pt;
	text-align:left;
	left:auto;
	text-transform: capitalize;
	color: #D11F1F; 
	font-weight: bold;
}

.SubLink{
	text-align:left;
	left:auto;
	color: #6E6E6E;
	font-weight: bold;
	cursor: text; 
}

.SubLinkSelected{
	background-color:#FFBBBB;
	left:auto;
	color: black; 
	font-weight: bold;
}
.FormHeadBackGround{
	background-color:#F63F4C;
}
.FormBackGround{
	background-color:#ECECEC;
}
.FormHeader{
	left:auto;
	color: #FFFFFF;
	font-weight: bold;
}

.Gridwt {
	background-color:#156CAF;
	border-color:#F3F376;
	height:20px;
}


select
{
	font-family: tahoma;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
	
input
{
	font-family: tahoma;
	font-size: 11px;
	/*height: 19px;*/
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
}
input[type="text"] {
    height: 15px;
}
input[type="radio"], input[type="checkbox"] {
    background-color: transparent;
    border: 0 none;
}
	
.clsInput{
	font-family: tahoma;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
}
.NoBorder
{
	font-family: tahoma;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: Transparent;
	border-color:Transparent;
	border-style:none;
	}		
.LineColor
{
	color:#C30000;
	}	
.Button
{
	font-family:tahoma;
	font-size:10px;
	text-align:center;
	text-transform: capitalize;
	color: white;
	background-image: url(../images/n020_no_cache.jpg);  /* lt2 */
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 22px;
	width:72px;
	cursor:pointer;
	background-repeat:no-repeat;
	padding-bottom:5px;
	}

.Buttonlog
{
	border:1px solid #B2B2B2; font-family:tahoma;
	font-size:11px;
	text-align:center;
	text-transform: capitalize;
	font-weight: bold;
	color: Black;
	background-image: url('../images/AA111_no_cache.jpg');
	height: 23px;
	width:80px;
	cursor:hand
	}
.ButtonDefault{
	background-image: url(../images/n020_no_cache.jpg);  /* lt2 */
	width:74px;
	cursor:pointer;
	background-repeat:no-repeat;
}
.ButtonDefaultDisable{
	background-image: url(../images/n021_no_cache.jpg);  /* lt2 */
	width:74px;
	cursor:default;
	background-repeat:no-repeat;
}
.ButtonMedium{
	background-image: url(../images/n022_no_cache.jpg);  /* lt2 */
	width:104px;
	cursor:pointer;
}
.ButtonMediumDisable{
	background-image: url(../images/n023_no_cache.jpg);  /* lt2 */
	width:104px;
	cursor:default;
}
.ButtonLarge{
	background-image: url(../images/n045_no_cache.jpg);
	width:173px;
	cursor:pointer;
}
.ButtonLargeDisable{
	background-image: url(../images/n046_no_cache.jpg);
	width:173px;
	cursor:default;
}

.ButtonHighlight
{
	color: white;
	background-image: url(../images/AA_002_no_cache.jpg);
	}
.GridHeader
{
	background-color:#F26422;
	height:20px;

	}	

.GridHeaderHighlight{
	background-color:#2ac462;
	height:20px;
	}
	
.Grid
{
	background-color:white;
	border-color:#D7E4ED;
}
.GridTable {
    background-color: #DFDFDF;
    border-color: #DFDFDF;
}
.TDthisFls .GridTable
{
	background-color:transparent;
	border-color:#DFDFDF;
}

.GridAlert
{
	background-color:#FFFF99;
	border-color:#D7E4ED;
}
.GridItems
{
	background-color:#FFFFFF;
	height:20px;
	}
.GridDblHighlight{
	height:30px;
}
.GridItemRowRed
{
	border-width:1px;  
	height:18px; 
	border-style:solid; 
	border-color:red;
}
.ItineraryHeader
{
	background-color:#D4D0C8;
	height:20px;
}
.ItineraryGridItems{
	background-color:#F4F4F4;
	height:20px;
	text-transform: capitalize;
}
.FareGridBorder{
	border:1px solid #136FB8;
	height:18px;
	}
.FareInidBorder{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	}
.Dots{
	background-image: url(../images/Dot_no_cache.gif);
	height:20px;
}
.NoFaresBGColor
{
	background-color:#ffffff;
	}	
.FaresDaysBGColor
{
	background-color:white;
	}
.FaresMonthBGColor
{
	background-color:#136FB8;
	}
.FareBGColor
{
	background-color:white;
}
.Mandatory{
	color:#06243B;
}
.SeperateorBGColor{
	/*background-color:#D7E5F0;*/
	background-color:#E4E4E4;
}
.SeperateorBGAlt{
	background-color: #FFFFFF; /* lt2 */
}
.rightText{
	text-align: right;
}
.itneraryBorder{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
}
.itneraryBGColor
{
	background-color:#C4C4C4;
	}
.pageBreak{
	page-break-after: always	
}
.fontCapitalize{
	text-transform: capitalize;
}

.PageBottomShadow
{
	background-color:#9D9D9D;
	}	

.StatsBarDef
{
	background-color:#A8A8A8;
	border: none;
	height:20px;
	}	
.clsSelect
{
	font-family: tahoma;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
.errorControl{
	background-color:#FEFFAF;
	}
.sperateorBar{
	height:0.5px;
	}
.setHeight{
	height:10px;
}
UL
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 4px;
}
LI
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 0px;
}
#content .postimagecenter
{
    MARGIN: 10px;
    TEXT-ALIGN: center
}

#content H1
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: bottom;
    COLOR: #000000;
    PADDING-TOP: 0px
}
.contentBGcolor{
	background-color:#FFCCCC;
}
.contentAltercolor{
	background-color:#FFCCCC;
}
.FareGridBorderWhite{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	background-color:white;
	}

.FareGridBorder01{
	background-color:#c0e3ff;
	border-color:#136FB8;
	border-style:solid;
	border-width:1px;
	height:18px;
	}
	
.FareGridBorder02{
	background-color:#81c8ff;
	border-color:#136FB8;
	border-style:solid;
	border-width:1px;
	height:18px;
	}	
	
.FareGridBorder03{
	background-color:#50a7ea;
	border-color:#136FB8;
	border-style:solid;
	border-width:1px;
	height:18px;
	}	
	
.FareGridBorder04{
	background-color:#2c83c6;
	border-color:#136FB8;
	border-style:solid;
	border-width:1px;
	height:18px;
	}
	
.FareGridBorder05{
	background-color:#014f8c;
	border-color:#136FB8;
	border-style:solid;
	border-width:1px;
	height:18px;
	}
.fontExp{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: red; 
}

.fntBoldAndRed{
	font-weight:bold;
	color:red;
}
fontHolidays{
	font-family:tahoma;
	font-size:12px;
	left:auto;
	color: black; 
}

.outLine{
	width:940px;
	border:0px;
}

.bannerClass{
	height:96px;
	width:940px;
	valign:top;
	align:center; 
	background-repeat:no-repeat;
	background-position:top center;
}

.fareSelSidePanel{
   width:260px;  /* lt2 */
   align:center; 
}

.jquery-checkbox{display: inline; font-size: 16px; line-height: 16px; cursor: pointer; cursor: hand;}
.jquery-checkbox .mark {display: inline;}

.jquery-checkbox img {vertical-align: middle; width: 16px; height: 16px;}
.jquery-checkbox img{background: transparent url(../images/checkbox_no_cache.png) no-repeat;}

.jquery-checkbox img{
	background-position: 0px 0px;
}
.jquery-checkbox-hover img{
	background-position: -16px 0px;
}
.jquery-checkbox-checked img{
	background-position: 0px -16px;
}
.jquery-checkbox-checked .jquery-checkbox-hover img {
	background-position: -16px -16px;
}

.jquery-checkbox-disabled img{
	background-position: 0px -32px;
}
.jquery-checkbox-checked .jquery-checkbox-disabled img{
	background-position: 0px -48px;
}


.calGridWidth{
	width:100%; 
}

.adClass{
z-index: 10;
left: 538px;
position: absolute;
top: 0px;
}

.fntRed{
	color:#06243B; 
}

.selectBox{
	color: #4B4B4B;
	font-family: Arial;
	font-size: 8pt;
	font-weight: bold;
	border: 1px solid #808080
}

  
 /* Newly Added */
 .bannerBG{
	background-color:#FFFFFF;
 }
 .navFont{
	font-size:12px;
	vertical-align: middle;
 }
 .hdFont{
	font-size:15px;
 }
 .fntItalic{
	font-style: italic;
 }
 .disableNavFont{
	color:#DFDFDF;
 }
 .aaFontColor{
	color:#06243B;
 }
 .rowSingleGap{
	height:5px;
 }
 .rowGap{
	height:10px;
 }
  .pgBGColor
{
	background-image:none;
	background-color:white;
	}
 .tblBG
{
	background-image:url(../images/n001_no_cache.jpg);
	background-repeat:repeat-x;
	}
 .tblBGT
{
	background-image:url(../images/n018_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:8px;
	}
.tblBGTL
{
	background-image:url(../images/n018_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:8px;
	}
	
 .tblBGTR
{
	background-image:url(../images/n017_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	width:8px;
	height:8px;
	}
 .tblBGB
{
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	}

 .tblBGTSmall
{
	background-image:url(../images/n043_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:8px;
	}
 .tblBGTRSmall
{
	background-image:url(../images/n042_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	width:9px;
	height:8px;
	}
 .tblBGBSmall
{
	background-image:url(../images/n044_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	}
	
 .tblTL{	
	background-image:url(../images/n003_no_cache.gif);
	background-repeat:no-repeat;
	background-position:top;
	height:10px;
	width:10px;
}
.tblTT{	
	background-image:url(../images/n004_no_cache.gif);
	background-repeat:repeat-x;
	background-position:top;
	height:10px;
}
.tblTR{	
	background-image:url(../images/n005_no_cache.gif);
	background-repeat:no-repeat;
	background-position:top;
	height:10px;
	width:10px;
}
.tblML{	
	background-image:url(../images/n006_no_cache.gif);
	background-repeat:repeat-y;
	background-position:left;
	height:10px;
}
.tblMM{	
	background-image:url(../images/spacer_no_cache.gif);
	background-repeat:repeat-y;
}
.tblMR{	
	background-image:url(../images/n007_no_cache.gif);
	background-repeat:repeat-y;
	background-position:right;
}
.tblBL{	
	background-image:url(../images/n008_no_cache.gif);
	background-repeat:no-repeat;
	background-position:top;
	height:10px;
	width:10px;
}
.tblBB{	
	background-image:url(../images/n009_no_cache.gif);
	background-repeat:repeat-x;
	background-position:top;
	height:10px;
}
.tblBR{	
	background-image:url(../images/n010_no_cache.gif);
	background-repeat:no-repeat;
	background-position:top;
	height:10px;
	width:10px;
}

.tblTLE{	
	background-image:url(../images/n011_no_cache.gif);
	background-repeat:no-repeat;
	background-position:top;
	height:10px;
	width:10px;
}
.tblTRE{	
	background-image:url(../images/n012_no_cache.gif);
	background-repeat:no-repeat;
	background-position:top;
	height:10px;
	width:10px;
}
.tblBLE{	
	background-image:url(../images/n013_no_cache.gif);
	background-repeat:no-repeat;
	background-position:top;
	height:10px;
	width:10px;
}
.tblBRE{	
	background-image:url(../images/n014_no_cache.gif);
	background-repeat:no-repeat;
	background-position:top;
	height:10px;
	width:10px;
}
.thinBorderT{border-top:1px solid #ddd;}
.thinBorderB{border-bottom:1px solid #ddd;}
.thinBorderL{border-left:1px solid #ddd;}
.thinBorderR{border-right:1px solid #ddd;}
 
 
.powerdBy{
	background-image:url(../images/n024_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:bottom;
}

.pTopL{
	background-image:url(../images/n025_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:27px;
	width:11px;
}
.pTopM{
	background-image:url(../images/n026_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:27px;
}
.pTopR{
	background-image:url(../images/n027_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:27px;
	width:11px;
}
.pMidL{
	background-image:url(../images/n028_no_cache.jpg);
	background-repeat:repeat-y;
	background-position:top;
	width:2px;
}
.pMidM{
	background-image:url(../images/n033_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}
.pMidR{
	background-image:url(../images/n029_no_cache.jpg);
	background-repeat:repeat-y;
	background-position:top;
	width:2px;
}

.pBotL{
	background-image:url(../images/n030_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:15px;
	width:11px;
}
.pBotM{
	background-image:url(../images/n031_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:15px;
	width:92%;
}
.pBotR{
	background-image:url(../images/n032_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:15px;
	width:11px;
}
.noPadding{
	padding:0px;
}

.pTopDM{
	background-image:url(../images/n048_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:27px;
}
.pTopDR{
	background-image:url(../images/n047_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:27px;
	width:11px;
}
.logUserBG,.logUserCorT{
	background:#E4E4E4;
	height:34px;
}
.cursorPointer{
	cursor:pointer;
}
.tabSltd{
	/*background-image:url(../images/n052_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;*/
	background:#F26422;
	height:27px;
	padding: 0 10px;
}
.tabNotSltd{
	/*background-image:url(../images/n053_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;*/
	background:#ffbb9b;
	height:27px;
	padding: 0 10px;
}

 
	
.widePaxInfo{
	width:180;
	}	
	
.MandatoryGrid{
	color: #F26422;
}

.perImage{
	align: center;
	height:32px;
	width:142px;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	background-image: url(../images/NI090_no_cache.gif); 
	background-repeat:no-repeat;
	cursor:pointer;
}

.perRadio{
	cursor:pointer;
	
	}

.letterSpacing{
	letter-spacing: 2pt;
	line-height: 150%;
	}

.progressBG{
		 
		background-color:transparent;
		background-repeat:no-repeat; 
}

 .hdnavFont{
	font-size:20px;
	 
 }
.rowDataHeight{
	height:25px;
}
.GridWhiteRow{
	background-color:white; /* lt2 */
}

.GridLightRow{
	background-color:#FCFCFC; /* lt2 */
}

.spMsg{
	background-color:#ffffcf;
		opacity: .7;
		filter: alpha(opacity=80);
	border:1px solid;
		padding:2px;
		font-size:11px;
		-moz-border-radius:6px;	/* Rounded edges in Firefox */
		font-family: "tahoma", "Lucida Sans Unicode", Arial, sans-serif; 
}
.lineHeight{
	line-height: 150%
}
.Gridwt
{
	background-color:#FFFFFF;
	height:20px;
	border-color:#F3F376; 
}
.GridStyleLeft{
	border-left: 1px solid #ABA8A8; 
	border-right: 1px solid #ABA8A8;

	border-bottom: 1px solid #ABA8A8;
	}
.GridStyleMiddle{
	

	border-bottom: 1px solid #ABA8A8;
	}
.GridStyleRight{
	
	border-right: 1px solid #ABA8A8; 

	border-bottom: 1px solid #ABA8A8;
	}		
	
.ButtonAncilary{
	background-image: url(../images/n200_no_cache.gif);
	width:174px;
	height:28;
	cursor:pointer;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: #5A5959;
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	background-repeat:no-repeat;
}

.linkImage{
	border-color:Transparent;
	border:0px;
	border-style:none;
	}
	
.fntLargePnr{
	font-size: 14px;
	cursor:text;
	}
	
table.client-banner-img {
border-collapse:collapse;
}

table.client-banner-img td{
	padding:0px;
}
	
.btnAuxButton
{
	font-family:Verdana,Arial,Helvetica,sans-serif;;
	font-size:9px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: red;
	background-color:transparent;
	background-image: url(../images/n061_no_cache.gif);  /* lt2 */
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 25px;
	width:133px;
	cursor:pointer;
	background-repeat:no-repeat;
	padding-bottom:4px;
	padding-left:0px;
	}
	
.AuxButtonDisable{
	background-image: url(../images/n056_no_cache.gif);  /* lt2 */
	width:133px;
	cursor:default;
	background-color:transparent;
	background-repeat:no-repeat;
	color: gray;
	cursor:crosshair;
}

.btnAuxSrv
{
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: #5A5A5A;
	background-color:transparent;
	background-image: url(../images/n056meal_no_cache.gif); 
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 25px;
	width:154px;
	cursor:pointer;
	background-repeat:no-repeat;
	}

.SeperateorBGAlt{
	background-color: #FFFFFF; /* lt2 */
}

.SeperateorBGColor .fntWhite {
	color:#06243B;
}

.fntCnxSeg{
 	text-decoration:line-through;
}

 .rowGapNone{
	height:0px;
 }
 
.fntSmallSm{
	font-size:9px;
}

.btnCredit{
	background-image: url(../images/n022C_no_cache.jpg);  /* lt2 */
	width:104px;
	cursor:pointer;
}

.btnCDisable{
	background-image: url(../images/n023D_no_cache.jpg);  /* lt2 */
	width:104px;
	cursor:default;
}

.ButtonCreditLarge{
	background-image: url(../images/n045C_no_cache.jpg);
	width:173px;
	cursor:pointer;
}

.btnCLargeDisable{
	background-image: url(../images/n046D_no_cache.jpg);
	width:173px;
	cursor:default;
}

.btnPointer{
	cursor:pointer;
}

.tblBGBLEFT{
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}
.tblBGBRIGHT{
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}

.prograssBarTable{
			 width:210px;
			 border-collapse:collapse;
			 border: 0;
			 margin: 1;
			 padding: 2;
}

.disableNavFont {
	color:#444444;
}

td.client-banner-img-gap{
	height:0px;
}

.fntFlexi{
	color: #C11B17; 
}
/* main pageloaging msg */
.mainPageLoader{display:none;z-index:9900; background:transparent;height:80px;position:absolute;top:50%;left:40%;width:250px}
/*label style changes*/
h3.label {
    background: none;
    color: #F26422;
    font-size: 12px;
    padding: 6px;
}
h3.label .correction{
	color: #A69A80;
	
}

/*search fare results style changes*/
.leftNavigation {
    border-left: 1px solid #E2DCCE;
    border-top: 1px solid #E2DCCE;
    border-top-left-radius: 1px;    
    float: right;
    width: 47px;
}
.rightNavigation {
    border-right: 1px solid #E2DCCE;
    border-top: 1px solid #E2DCCE;
    border-top-right-radius: 4px;
    float: left;
    width: auto;
}
.cal_previous a {
    background:url(../images/icon_arrow_left.png) no-repeat scroll 0% 10%;
    display: block;
    overflow: hidden;
    text-align: left;
    width: 47px;
}
.cal_next a {
    background:url(../images/icon_arrow_right.png) no-repeat scroll 100% 10%;
    display: block;
    overflow: hidden;
    text-align: right;
    width: 23px;
}
/*calendar result styles*/
.calendar-ul li div.cal-day {
    background: none;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 0;
}
div.cal-one-day div {
    border-color: #BBBBBB;
    border-style: solid;
    border-width: 0 1px 0 0;
    color: #FFFFFF;
    height: 20px;
}
.aligend {
    background:#F5F2ED;
    height: 61px;
    /*border-top-right-radius: 4px;
    border-top-left-radius: 4px;*/
   border-top: 1px solid #E2DCCE;
}
.sData .daySmall {
    color: #fff;
    font-size: 11px;
    background: #A69A80;
    height: 16px;
    padding:2px 0 0 5px;
}
.flight-body a.selected div.cal-base {
    background: none;
    border-color: #444444;
    border-width: 0 0 1px;
    padding: 6px;
}
.flight-body a.selected:hover div.cal-base {
    padding: 6px;
}
/*highlight selected fare styles*/
.flight-body a.selected {
    background: #F26422;
    border-color: #F26422;
    color:#fff;
    border-width: 0 0 1px;
}
.sData .dateSmall {
    color: #fff;
    font-size: 11px;
    padding: 0 0 0 5px;
    /*font-weight: bold;*/
}
.minFareValue, .flightAvailability{
	padding: 0 0 0 5px;
}
.selected .minFareValue, .selected .flightAvailability{
	padding: 0 0 0 0px;
}
.minFareValue span, .minFareValue label {
    color: #fff;
    display: inline;
    /*font-weight: bold;*/
}
.sDataFull .daySmall {
    font-weight: bold;
}
.sub-div a:link {
    color: #4B4B4B;
    font-weight: normal;
}
.sub-div{
	background: #F5F2ED;
}
.sub-div a {
    /*background: url("../images/v3/next-prev_no_cache.jpg") no-repeat scroll 0 0 #F6F6F6;*/
    border: 0 none;
    height: 33px;
    line-height: 12px;
    padding: 29px 2px 0;
}
.c-scroller{height: 62px;}
.flight-body a:hover div.cal-base {
    background: #A69A80;
    border-color: #A69A80;
    border-width: 0 0 1px;
    cursor: pointer;
    height: 68px;
    /*padding: 1px 10px;*/
}

.flight-body a:hover div.cal-base .minFareValue label, .flight-body a.selected div.cal-base .minFareValue label, .flight-body a:hover div.cal-base div, .flight-body a:hover div.cal-base .minFareValue span {
    color: #FFFFFF;
}
.flight-body div.cal-indBg {
    background:#E2DCCE;
    /*padding: 0 8px;*/
    text-align: left !important;
    height:68px;
}
.flight-oriented td.gridHD {
    height: 21px;
}

.NotFare {
    background-position: 0 -188px;
}
.AllFlight .gridHD label {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
}
.thisFls {
    /*margin-top: 10px;*/
}
.gridHDFont {
    color: #fff;
    font-weight: bold;
}
/*error popup style changes */
#popup_container {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #2D7E3D;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: none;
    font-family: Arial,sans-serif;
    font-size: 12px;
    overflow: hidden;
    width: 380px;
}
.drager {
    cursor: move;
    height: 25px;
    position: relative;
    width: 94%;
    z-index: 99999;
}
#popup_container_frame {
    height: 100%;
    width: 100%;
}
.ui-corner-all {
    border-radius: 4px 4px 4px 4px;
}
.pageName label {
    color: #F63;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}
.hdFontColor {
    color: #F63;
}

a u .hdFontColor{cursor: pointer}
/*BUTTON STYLES*/
.pnlTopL {
    background-image: url("../images/v3/topL_no_cache.gif");
    background-position: left top;
    background-repeat: no-repeat;
    height: 9px;
    width: 9px;
}
.pnlTopM {
    background-image: url("../images/v3/top_no_cache.gif");
    background-position: center top;
    background-repeat: repeat-x;
    height: 9px;
}
.pnlTopR {
    background-image: url("../images/v3/topR_no_cache.gif");
    background-position: right top;
    background-repeat: no-repeat;
    height: 9px;
    width: 9px;
    /*display:none;*/
}
.pnlMidL {
    background-image: url("../images/v3/midL_no_cache.gif");
    background-position: left top;
    background-repeat: repeat-y;
    width: 9px;
}
.pnlMid {
    background-image: url("../images/v3/mid_no_cache.gif");
    background-repeat: repeat;
}
.pnlMidR {
    background-image: url("../images/v3/midR_no_cache.gif");
    background-position: right top;
    background-repeat: repeat-y;
    width: 9px;
}
.pnlGroupbottom {
    border-top: 1px solid #E4E4E4;
}
.pnlBottomL {
    background-image: url("../images/v3/bottomL_no_cache.gif");
    background-position: left bottom;
    background-repeat: repeat-x;
    height: 9px;
    width: 9px;
}
.pnlBottomM {
    background-image: url("../images/v3/bottom_no_cache.gif");
    background-position: center bottom;
    background-repeat: repeat-x;
    height: 9px;
}
.pnlBottomR {
    background-image: url("../images/v3/bottomR_no_cache.gif");
    background-position: right bottom;
    background-repeat: no-repeat;
    height: 9px;
    width: 9px;
}
.pnlWidth {
}
.pnlUnderBottom {
    background-image: url("../images/LIbe004N_no_cache.jpg");
    background-repeat: repeat-x;
}
.pnlUnderDown {
    background-image: url("../images/LIbe002_down_no_cache.jpg");
    background-repeat: repeat-x;
}
.pnlWidthLeft {
    width: 258px;
}
.pnlUnderBottomR {
    background-image: url("../images/LIbe001_down_no_cache.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    height: 8px;
    width: 8px;
}
.pnlBottomTall {
}
.pnlBottomTallCal {
    background-color: #EEEEEE;
    background-image: url("../images/LIbe003_no_cache.jpg");
    background-position: 0 100%;
    background-repeat: repeat-x;
}
.imgMod {
    background: url("../images/v3/white-button-left_no_cache.gif") no-repeat scroll -8px -11px transparent;
    float: left;
    height: 14px;
    margin: 0 4px 0 0;
    width: 14px;
}
/*promotion color*/
.AllFlight .gridHD {
    background-color: #444444;
    background-image: url("../images/v3/nonEcomomy-fares_no_cache.jpg");
    height: 30px !important;
    background-position: center -1px;
}
.Y_N_class {
    /*background-image: url("../images/v3/economy-corner_no_cache.jpg") !important;
    background-position: 0 0;
    border-left:1px;*/
}
.fareClass {
    background-position: 0 -150px;
}
.Y_Y_class {
    background-position: 0 0;
}
/*top bar classes*/
/*.select .first td.process-left {
    background: url("../images/v3/left-Selected-corner_no_cache.jpg") no-repeat scroll 0 0 transparent;
    height: 50px;
    width: 8px;
}
.select .process-left {
    background: url("../images/v3/selected-right-corner_no_cache.jpg") no-repeat scroll 0 0 transparent;
    height: 50px;
    width: 23px;
}
.select .process-mid {
    background: url("../images/v3/mid-selected_no_cache.jpg") repeat-x scroll 0 0 transparent;
    height: 50px;
}
.select .process-right {
    background: url("../images/v3/right-selected-corner_no_cache.jpg") no-repeat scroll 0 0 transparent;
    height: 50px;
    width: 25px;
}
.select .last td.process-right {
    background: url("../images/v3/last-right-selected-corner_no_cache.jpg") no-repeat scroll 0 0 transparent;
    height: 50px;
    width: 6px;
}
.selected td.iconCorrect {
    background: url("../images/v3/selecte-done_no_cache.jpg") no-repeat scroll 4px 19px transparent;
}*/
.top_bok_bar{border: 3px solid #2dc065;-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;margin: 12px 0 0 0;padding: 10px 0;background: #2D7E3D;}
.select td.peocess-text font {
    color: #FFFFFF;
}
.stepsItem{
    color: #fff;
    font-weight: normal;
    font-size:17px;
}
.stepsItem.select{
	color: #F8C901;
    font-weight: bold;
}

.fntBold {
    font-weight: bold;
}
/*loading*/
.loadingContainer{position: absolute;top:0;left:0;right:0;display: none;}
/*hiding flight details*/
#FlightDetailsPanel{display:none!important}
/*fair type styles*/
.FareTypes {
    color: #333333;
    height:auto!important;
    min-height:42px!important;    
    height: 42px;
    padding: 15px 17px 0;
}
.promoFare_en, .promoFare_zh {
    /*background: url("../images/v3/promofare_en_no_cache.jpg") no-repeat scroll 0 0 transparent !important;*/
    background: #F8C901;
}
.gridHD, .totalCol{
	background: #F8C901;
	height:25px;
}
.AllFlight .gridHD .gridHDFont{color:#fff;font-weight: bold}
.gridHD label.gridHDFont{color:#333;font-weight: normal}
.nPBList .gridHDDark {
   /* background: url("../images/v3/fareBGs_no_cache.jpg") repeat-x scroll 0 3px transparent;
    height: 48px;*/
}
.bdBottom {
    border-bottom: 1px solid #DFDFDF;
}
.GridHighlight {
    background-color: #2D7E3D;
    height: 20px;
}
.GridHighlight .fntBold{/*color:#333*/;color:#fff;}
.alignLeft {
    text-align: left;
}
.alignRight {
    text-align: right;
}
.GridHighlight.alignRight{border-right: none!important}
.GridHighlight.alignLeft .hdFontColor{color:#fff}
.totalCol {
    /*background: url("../images/v3/mid-selected_no_cache.jpg") repeat-x scroll 0 50% transparent;*/
    background:#2D7E3D;
    color: #fff;
}
.sortable-child{float:left}
.floater{width:250px;margin:10px 10px 0 0;display:block! important}
.rightColumn{width:650px! important;margin-top:10px}
/*left side coloum*/
.Page-heading .headerBG {
    
}
.Page-heading table.headerRow {
    display: table;
    height: 27px;
    overflow: hidden;
}
.Page-heading table.headerRow td {
    overflow: hidden;
    border-bottom: 1px solid #165127;
    line-height: 48px;
}
.bookingSummary{ background:#09361A;}
.Page-heading .headerBG {
    /*background-image: url("../images/panelBGall_no_cache.jpg");*/
  
    background-repeat: no-repeat;
}
.Page-heading .hBottom {
    background-position: 0 -102px;
    background-repeat: repeat-x;
    height: 27px;
}
.Page-heading .hbSide {
    background-position: 0 -136px;
    background-repeat: repeat-x;
    height: 27px;
    width: 10px;
}
.Page-heading .hLeft {
    background-position: 0 0;
    background-repeat: repeat-x;
    height: 27px;
    width: 10px;
}
.Page-heading .hCenter {
    background-position: 0 -29px;
    background-repeat: repeat-x;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
}
.Page-heading .hRight {
    background-position: 0 -57px;
    background-repeat: repeat-x;
    height: 27px;
    width: 10px;
}
.mLeft {
   /* background-image: url("../images/n028_no_cache.jpg");
    background-position: center top;
    background-repeat: repeat-y;*/
    width: 2px;
}
.mCenter {
    width: 246px;
}
.mRight {
    /* background-image: url("../images/n029_no_cache.jpg");
    background-position: center top;
    background-repeat: repeat-y;*/
    width: 2px;
}
.Page-heading table.footerRow {
    display: table;
    height: 15px;
    overflow: hidden;
}
.Page-heading .bLeft {
    background-position: 0 -120px;
    /*background-position: 0 -103px;*/
    background-repeat: repeat-x;
    height: 15px;
    width: 10px;
}
.Page-heading .bCenter {
    background-position: 0 -103px;
    /*background-position: 0 -86px;*/
    background-repeat: repeat-x;
    height: 15px;
}
.Page-heading .bRight {
    background-position: -1px -86px;
    /*background-position: -1px -69px;*/
    background-repeat: repeat-x;
    height: 15px;
    width: 10px;
}
tr #paxAdTemplate_0 td{padding-top: 5px;}
input, textarea {
    background-color: #FFFFFF;
    border-color: #9D9D9D;
    border-right: 1px solid #9D9D9D;
    border-style: solid;
    border-width: 1px;
    color: #4E4E4E;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
}
select {
    background-color: #FFFFFF;
    border-color: #9D9D9D;
    border-right: thin groove #9D9D9D;
    border-style: groove;
    border-width: thin;
    color: #4E4E4E;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    height: 18px;
}
.ui-datepicker-trigger {
    margin: 1px 2px;
    vertical-align: middle;
}
.ui-corner-all {
    border-radius: 4px 4px 4px 4px;
}
.ui-datepicker {
    border: 1px solid #AAAAAA;
}
/*seat classes*/
.availSeat {
    background-image: url("../images/LCAnsi004_no_cache.gif");
    background-repeat: no-repeat;
    height: 15px;
    width: 20px;
}
.notAvailSeatLC {
    background-image: url("../images/LCAnsi004_lc_no_cache.gif");
    background-repeat: no-repeat;
    height: 15px;
    width: 20px;
}
.oldSeat {
    background-image: url("../images/LCAnsi001_no_cache.gif");
    background-repeat: no-repeat;
    height: 15px;
    width: 20px;
}
.notAvailSeat {
    background-image: url("../images/LCAnsi002_no_cache.gif");
    background-repeat: no-repeat;
    height: 15px;
    width: 20px;
}

.friendsSeat{
	background-image:url('../images/LCAnsi007_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
}

.SltdSeat {
    background-image: url("../images/LCAnsi003_no_cache.gif");
    background-repeat: no-repeat;
    height: 15px;
    width: 20px;
}
.aisle {
    height: 15px;
    width: 20px;
}
.exitLeft {
    background-image: url("../images/ANCI_06_no_cache.gif");
    background-position: center top;
    background-repeat: no-repeat;
    height: 39px;
    width: 20px;
}
.exitRight {
    background-image: url("../images/ANCI_07_no_cache.gif");
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 39px;
    width: 20px;
}
.window {
    width: 20px;
}
.wingRight {
    background-image: url("../images/LCAnsi005_no_cache.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 65px;
    width: 594px;
}
.wingLeft {
    background-image: url("../images/LCAnsi006_no_cache.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    height: 65px;
    width: 594px;
}
.tblSeatMapContainer table, a, img, span {
    font-size: 8pt;
}
#trCabinClass p {
    margin: 0;
    padding: 0;
}
/*label*/
.spMsg label {
    color: #000000;
    font-family: "tahoma","Lucida Sans Unicode",Arial,sans-serif;
    font-size: 12px;
}
.divSearAnici {
}
.segs-full {
    margin: 4px 0;
    width: auto;
}
.segs-full-baggage {
    margin: 4px 0;
    width: auto;
}
.NoData {
    height: 0;
    margin: 0;
}
/**/
.tabBG {
    background: url("../images/LIbe016_no_cache.jpg") repeat-x scroll 0 100% transparent;
    padding: 4px;
}
.segs-full .gridHD {
    background-color: #EBEBEB;
    height: 25px;
}
.segs-full .gridHDFont {
    color: #333333;
}
.segs-full-baggage .gridHD {
    background-color: #F8C901;
    height: 25px;
}
.segs-full-baggage .gridHDFont {
    color: #333333;
}
.active .gridHD {
    background-color: #F8C901;
    height: 25px;
}
.bookingSummary .pnlBottom {
	background: #09361A! important;
	
}
#inFlightsDiv .pnlBottom, #outFlightsDiv .pnlBottom{
	height:auto! important;
}
.bookingSummary label{color:#fff}
/*popup window classes*/
.popBG {
    background: url("../images/ptl_no_cache.gif") repeat scroll 0 0 transparent;
}
.popBG1 {
    background: url("../images/ptl-2_no_cache.gif") repeat scroll 0 0 transparent;
}
.popTopLeft {
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 9px;
    width: 10px;
}
.popTopMid {
    background-position: 0 -10px;
    background-repeat: repeat-x;
    height: 9px;
}
.popTopRight {
    background-position: 0 -20px;
    background-repeat: no-repeat;
    height: 9px;
    width: 10px;
}
.popMidLeft {
    background-position: 0 0;
    background-repeat: repeat-y;
    width: 10px;
}
.popMidMid {
    background: none repeat scroll 0 0 #F1F1F1;
}
.popMidRight {
    background-position: -8px 0;
    background-repeat: repeat-y;
    width: 10px;
}
.popBottomLeft {
    background-position: 0 -60px;
    background-repeat: no-repeat;
    height: 9px;
    width: 10px;
}
.popBottomMid {
    background-position: 0 -50px;
    background-repeat: repeat-x;
    height: 9px;
}
.popBottomRight {
    background-position: 0 -40px;
    background-repeat: no-repeat;
    height: 9px;
    width: 10px;
}
#popupHeader span.close {
    background: url("../images/v3/close_icon_no_cache.jpg") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: right;
    height: 16px;
    width: 14px;
}
#popupHeader .headerItems {
    float: left;
    overflow: hidden;
    width: 180px;
}
#popupFooter input {
    float: right;
}
.popup-column {
    border-left: 1px solid #E4E4E4;
    padding-left: 5px;
    vertical-align: top;
    width: 195px;
}
.popup-column-first {
    border: 0 none;
}
.InsConfirm, .InsCancel {
    background: #F26422;
    border: 1px solid #F26422;
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
}
table#tblPriceBreakdown .bLeft {
    height: 5px;
}
table#tblPriceBreakdown .bRight {
    height: 5px;
}
.ul-cards {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.ul-cards li {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #BBBBBB;
    float: left;
    height: 85px;
    list-style: none outside none;
    margin: 2px;
    width: 125px;
}
.ul-cards li div {
    border: 1px solid #E4E4E4;
}
.ul-cards li div.card-img {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 0 none;
    height: 45px;
}
.ul-cards li div.card-desc {
    border-bottom: 0 none;
    height: 37px;
}
.tdFareColumn .lowerst {
    color: #EE2F27;
    display: block;
    font-family: arial;
    font-size: 9px;
}
.ui-datepicker-title select {
    font-size: 9pt !important;
    height: 20px !important;
}
.outerCal {
    margin: 0;
    width: 655px;
}
.c-scroller{overflow: hidden;}
.page-body,.page-body table{/*width:auto*/}
.GridHighlight a u{text-decoration: none;}

.buttonset{background: #DDD5C4;padding:15px 2px}
.buttonset table{
	width: 95%;
	display: table;
	margin: 0 auto;
}
.gridHDsub {
    background-color: #F26422;
    height: 18px;
}
#divSummaryPane .add-padding {
    padding: 0 6px;
}
.pnlTop{
	background: none repeat scroll 0 0 #EFF9FB;
}
.mandatory,#spnError li{color: #F26422;}
.floatItem{width:223px!important}
.alignLeft a u{text-decoration: none;}
.topBanner1 img{margin: -11px 8px 0 0}
#outFlightDirection,#inFlightDirection,#lblAditionalServices {color: #17AF36;}
/*.totService,.alignLeft .gridHDFont,.alignRight .gridHDFont{color: #F26422}*/
#lblBookingSummary{
	font-weight: 700;
	font-size: 22px;
	color: #17AF36;
	text-transform: uppercase;
}
#footer{color: #fff;padding: 0 0 0 14px}
/*.isabutton{background-image: url(../images/n022C_no_cache.jpg);
	width:73px;
	cursor:pointer;}*/
button.isabutton {
    background: none repeat scroll 0 0 transparent;
    border: 0 none !important;
    margin: 0;
    outline: medium none;
    overflow: visible;
    padding: 0;
    width: auto;
}
.buttonspan {
    border: 0 none !important;
    cursor: pointer;
    padding: 0;
}
.buttonMiddle {
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    padding: 0;
    white-space: nowrap;
}
.redContinue td, .redNormal td {
    background: #f26523;
}
.redContinue td.buttonspan {
    background-position: 0 0;
    height: 34px;
    padding: 0 20px 0 0;
    /*display: none;*/
}
.redContinue td.buttonMiddle {
    background-position: 100% 0;
    color: #FFFFFF;
    height: 34px;
    line-height: 34px;
    margin-top: 0;
    padding: 0 20px 0 0;
}
.redNormal td.buttonspan {
    background-position: 0 0;
    height: 34px;
    padding: 0 0 0 20px;
}
.redNormal td.buttonMiddle {
    background-position: 100% 0;
    color: #FFFFFF;
    height: 34px;
    line-height: 34px;
    margin-top: 0;
    padding-right: 25px;
}
.blackStOver td, .backPrevious td, .blackNormal td {
    background: #2D7E3D;
}
.blackStOver td.buttonspan {
    /*background-position: 0 -35px;*/
    height: 34px;
    padding: 0 9px;
}
.blackStOver td.buttonMiddle {
    background-position: 100% 0;
    color: #FFFFFF;
    height: 34px;
    line-height: 34px;
    padding: 0 25px 0 7px;
}
.backPrevious td.buttonspan {
    background-position: 0 0;
    height: 34px;
    padding: 0 0 0 27px;
}
.backPrevious td.buttonMiddle {
    background-position: 100% 0;
    color: #FFFFFF;
    height: 34px;
    line-height: 34px;
    padding: 0 27px 0 0;
}
.blackNormal td.buttonspan {
    background-position: 0 0;
    height: 34px;
    padding: 0 0 0 27px;
}
.blackNormal td.buttonMiddle {
    background-position: 100% 0;
    color: #FFFFFF;
    height: 34px;
    line-height: 34px;
    padding: 0 25px 0 7px;
}
.buttonset{text-align: right;}
/*new styles*/
.Page-heading table.footerRow {
    display: table;
    height: 15px;
    overflow: hidden;
}
.Page-heading .bLeft {
    /*background-position: left -55px;
    background-repeat: repeat-x;*/
    background:#2D7E3D;
    border-bottom: 1px solid #2D7E3D;
    width: 10px;
}
.Page-heading .bCenter {
    /*background-position: -5px -55px;
    background-repeat: repeat-x;*/
    background:#2D7E3D;
    border-bottom: 1px solid #2D7E3D;
    padding: 10px 0;
}
.Page-heading .bRight {
    /*background-position: right -55px;
    background-repeat: repeat-x;*/
    background:#2D7E3D;
    border-bottom: 1px solid #2D7E3D;
    width: 10px;
}
#divModSeach{width: 635px!important}
.whitebutton td.buttonspan {
    background: url("../images/v3/white-button-right_no_cache.gif") no-repeat scroll 0 -38px transparent;
    color: #FFFFFF;
    height: 34px;
    line-height: 34px;
    margin-top: 0;
    padding-right: 20px;
}
.whitebutton td.buttonMiddle {
    background: url("../images/v3/white-button-right_no_cache.gif") no-repeat scroll 100% -1px transparent;
    height: 36px;
    padding: 0 10px 0 6px;
}
#btnPurchase .redContinue td.buttonMiddle{padding: 0 42px}
#lblMobileNoMand{display:none}
.ancipanelBody{width:630px}
.insTCChk{float:left;height:30px;}
#lblSeatNo, #lblSeatYes, #lblInsuranceYes, #lblInsuranceNo, 
#lblHalaYes, #lblHalaNo, #lblSSRYes, #lblSSRNo{
	color:#F26422;
}
#lblInsuranceDesc{font-weight:bold}
#lblInsuranceTNC{font-size:10px;}
#lblInsuranceTNC a{font-weight:normal}
#lblInsuranceChDesc{
	font-style: italic;
}
.insCoverNote{
	background: url("../images/v3/insCover.jpg") no-repeat scroll 5px 5px #E8FDD2;
	padding: 10px 10px 10px 30px;
	width: 520px;
}
.floatleft{float:left}
.floatright{float:right}
.tblSeatMapContainer a:link{text-decoration: none! important;}
/*Manage your Reservation page refresh button*/
#sortable-ul input#btnRefresh{display:none}
.searchCritira{
	display:block;width:230px;margin: 0 auto;
}
.searchCritira {
    display: block;
    margin: 0 auto;
    width: 230px;
}
.searchCritira div {
    padding: 2px 0;
}
.Page-heading table.footerRow, table.footerRow {
    border-top: 1px solid #2D7E3D;
    display: table;
    height: 0;
    overflow: hidden;
}
.tabSltdUser {
    background:#F26422;
    height: 25px;
}
.tabUnSltd,.logUserCorB {
    background:#ccc;
    height: 25px;
}
.alignLeft a u,.alignLeft a,.alignLeft a u label {
    text-decoration: none;
}
.alignLeft a label{text-decoration: underline;}
#btnPurchase .redContinue td.buttonspan{padding: 0}
/* to hide bease currecny */
.baseTotalPanel{display: none!important;}
table.GridTable.totalCol .baseTotalPanel{display: block!important;float: right}
.baseTotalPanel_prc{display: none!important;}
.baseTot_prc{display: inline!important;}
.gridHDDark{background-color: #2AC462;}
/*.gridHDDark .gridHDFont{color:#000;}*/
.summarySperator {
    border-top: 1px dashed #2D7E3D;
    height: 5px;
}
#ui-datepicker-div{display:none}
.from{display:none! important}
.even > .GridItems{background: #F5F2ED;}
.nonAirarab{display:none !important;}
#mainContainer{background-color:transparent! important}