.placeholder{
  width: 100%;
  height: 50px;
  color: #808080;
  font-size: 20px;
  -webkit-box-shadow:none;
  box-shadow:none;
  position: absolute;
  padding: 15px;
  top: 4px;
  z-index: 99;

  .placeholder-txt{

  }
  .placeholder-icon{
    color: #F00;
    margin-left: 10px;
  }
}

.ph-hide{
  display: none;
}