<!-- Page Wrapper -->
<div class="content-wrapper material-design" ng-controller="passengerController as passengerCtrl">

<!-- Content header -->
<section class="content-header">
    <div class="login-user">
        <div class="details" ng-if="passengerCtrl.isLogin">
             Welcome  <span class="user-name">{{ passengerCtrl.loginUserName}} </span>
            <i class="txt sign-out" ng-click="passengerCtrl.signOut()">Sign Out</i>
        </div>

     </div>
    <!-- Page Title -->
    <h1 class="page-title" translate="lbl_passenger_enterDetails">Enter </h1><!-- // Page Title -->

    <!-- Rewards Login -->
    <div class="rewards-login" ng-class="{'shown':passengerCtrl.displayLogin }">

        <div class="overlay" ng-if="passengerCtrl.displayLogin" ng-click="passengerCtrl.changeLoginDisplay()"></div>

        <!-- Heading -->
			<span class="heading" ng-click="passengerCtrl.changeLoginDisplay()">
				<i class="txt">Login to</i>
				<i class="rewards-logo"></i>
			</span><!-- // Heading -->

        <!-- Tabbed Content -->
        <div class="tabbed-content" ng-show="passengerCtrl.displayLogin">

            <!-- Tabs -->
            <div class="tabs">
                    <span id="tab-signin" ng-class="{'active': passengerCtrl.selectedTab == 'signin'}" class="tab"
                          ng-click="passengerCtrl.setTab('signin', passengerContact)">Sign in and Save Time</span>
                    <span id="tab-register" ng-class="{'active': passengerCtrl.selectedTab == 'register'}" class="tab"
                          ng-click="passengerCtrl.setTab('register', passengerContact)">Register Now</span>
            </div><!-- // Tabs -->

            <!-- Content -->
            <div id="signin-content" class="content" style="display:block;"
                 ng-if="passengerCtrl.selectedTab == 'signin'">
                 <div ng-if="passengerCtrl.isLoyaltyManagementEnabled" class="description">If you are already registered with Air Arabia, you can login to fill your
                    contact information using your profile.
                </div>
                <form novalidate 
                    isa-validator-type="contact" 
                    isa-validator-rules="{{passengerCtrl.contactValidation}}"
                    ng-submit="passengerCtrl.submitSignIn(signIn)">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="ibe-typeahead">
                                <div isa-validator>
                                    <div>
                                        <input isaAttrPlaceholder placeholder-caption="Email Address" placeholder-symbol="*"
                                               is-visible="true" is-input-disabled="true" type="text" name="email" ng-model="passengerCtrl.paxSignInDetails.emailId" class="form-control">
                                    </div>
                                </div>
                             </div>
                        </div>
                        <div class="col-md-12">

                            <div class="ibe-typeahead">
                                <div isa-validator>
                                <div >
                                    <input isaAttrPlaceholder placeholder-caption="Password" placeholder-symbol="*"
                                           is-visible="true" is-input-disabled="true" type="password" name="password" ng-model="passengerCtrl.paxSignInDetails.password" class="form-control">
                                </div>
                            </div>
                                </div>
                        </div>
                    </div>

                    <div class="form-footer">
                        <label>Forgot Password? <a href="">Reset Password</a></label>
                        <button id="aireward-sign-in" class="button red-btn" type="submit">Sign in</button>
                    </div>
                </form>
            </div><!-- // Content -->

            <!-- Content -->
            <div id="register-content" class="content" ng-if="passengerCtrl.selectedTab == 'register'">
                <div class="description">I would like to register with Air Rewards</div>

                <h2>Enter Login Information</h2>

                <form novalidate 
                    isa-validator-type="signIn" 
                    isa-validator-rules="{{passengerCtrl.contactValidation}}"
                    name="passengerRegistration"
                    ng-submit="passengerCtrl.submitRegistration(passengerRegistration)">
                    <div class="row">

                        <div class="col-md-12">

                            <div class="ibe-typeahead">
                                <div isa-validator>
                                <div >
                                    <input isaAttrPlaceholder placeholder-caption="Email Address" placeholder-symbol="*"
                                           is-visible="true" is-input-disabled="true" type="text" class="form-control" ng-model="passengerCtrl.contact.email"  name="email">
                                </div>
                                    </div>
                                <div class="help">This will be your login ID</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="ibe-typeahead">
                                <div isa-validator>
                                <div>
                                    <input isaAttrPlaceholder placeholder-caption="Password" placeholder-symbol="*"
                                           is-visible="true" is-input-disabled="true" type="password" class="form-control" ng-model="passengerCtrl.contact.password" name="password">
                                </div>
                                    </div>
                                <div class="help">The password must be 6 characters and have alpha-numeric. Special
                                    characters are not allowed. The password is case-sensitive.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="ibe-typeahead">
                                <div isa-validator>
                                <div>
                                    <input isaAttrPlaceholder placeholder-caption="Confirm Password" placeholder-symbol="*"
                                           is-visible="true" is-input-disabled="true" type="password" class="form-control" ng-model="passengerCtrl.contact.confirmPassword" name="confirmPassword">
                                </div>
                                    </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-footer">
                        <label><input type="checkbox" ng-checked="passengerCtrl.contact.isJoinAirewards" ng-click="passengerCtrl.airewardsChecked()"> I would like to join Air Rewards</label>
                        <button id="aireward-login" class="button red-btn" type="submit">Register Now</button>
                    </div>
                </form>
            </div><!-- // Content -->
        </div><!-- // Tabbed Content -->

    </div><!-- // Rewards Login -->
</section><!-- // Content header -->

    <!-- Content Body -->
    <section class="content-body">
        
        <!-- Select Passengers -->
        <div class="select-passenger">
            <div class="row">
                <isa-passenger-list passenger-list="passengerCtrl.passengers"
                                    selected-passenger="passengerCtrl.selectedPassenger">
                </isa-passenger-list>
                
                <div class="col-md-9 passengers-information">
                    
                    <div class="row">
                        
                        <div class="col-sm-4">
                            <div class="md-input-group">
                                <select class="md-input" required name="" id="">
                                    <option value=""></option>
                                    <option value="">Mr.</option>
                                    <option value="">Mrs.</option>
                                </select>
                                <label>Salutaion create <sup class="red">*</sup></label>  
                            </div>
                        </div>
                        
                        <div class="col-sm-4">
                            <div class="md-input-group">
                                <input class="md-input" required type="text">
                                <label>First Name <sup class="red">*</sup></label>  
                            </div>
                        </div>
                        
                        <div class="col-sm-4">
                            <div class="md-input-group">
                                <input class="md-input" required type="text">
                                <label>Last Name <sup class="red">*</sup></label>  
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        
                        <div class="col-sm-4">
                            <div class="md-input-group">
                                <input class="md-input" required type="text">
                                <label translate="lbl_passenger_dob">Date of Birth <sup class="red">*</sup></label>  
                            </div>
                        </div>
                        
                        <div class="col-sm-4">
                            <div class="md-input-group">
                                <input class="md-input" required type="text">
                                <label>Nationality <sup class="red">*</sup></label>  
                            </div>
                        </div>
                        
                        <div class="col-sm-4">
                            <div class="md-input-group">
                                <input class="md-input" required type="text">
                                <label>Air Rewards ID (Email)</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 pull-right">
                            <button type="submit" class="btn red-btn button ng-binding" ng-click="isVisible=!isVisible" ng-model="isVisible" ng-init="isVisible=false">Add Contact Info</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--Select Passengers-->

        <!-- Contact Information -->
        <div class="contact-information" id="contact-information" ng-show="isVisible">

            <form 
            autocomplete="off" 
            isa-validator-type="contact" 
            isa-validator-rules="{{passengerCtrl.contactValidation}}"
            name="passengerContact"
            ng-submit="passengerCtrl.checkForDuplicates(passengerContact)">
                <div class="row">

                    <div class="heading">
                        <span class="name">Contact Information</span>
                        <i class="info">Mandatory Fields <sup class="red">*</sup></i>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div class="md-input-group">
                            <select class="md-input" required name="" id="">
                                <option value=""></option>
                                <option value="">Mr.</option>
                                <option value="">Mrs.</option>
                            </select>
                            <label>Salutaion</label>  
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div class="md-input-group">
                            <input class="md-input" required type="text">
                            <label>First Name</label>  
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div class="md-input-group">
                            <input class="md-input" required type="text">
                            <label>Last Name</label>  
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div class="md-input-group" uib-keyboard-nav uib-dropdown>
                            <select class="md-input" required name="" id="">
                                <option value=""></option>
                                <option ng-repeat="language in passengerCtrl.languageList"
                                            ng-click="passengerCtrl.setLanguage(language)"
                                            role="menuitem">{{language.name}}</option>
                            </select>
                            <label>Language</label>  
                        </div>
                    <!--     <div isa-validator>
                            <div class="md-input-group">
                                <div class="btn-group" uib-keyboard-nav uib-dropdown>
                                    <button id="language-button"
                                            type="button" class="btn btn-primary"
                                            uib-dropdown-toggle
                                            ng-disabled="disabled"
                                            ng-model="passengerCtrl.contact.language"
                                            name="language"
                                            enable-valdr-validation
                                            enable-valdr-message="">
                                        <span class="dp-caption">{{passengerCtrl.showLangTitle(passengerCtrl.contact.language) || 'Language'}}</span> <span
                                            class="fa fa-angle-down"></span>
                                    </button>
                                    <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                                        <li ng-repeat="language in passengerCtrl.languageList"
                                            ng-click="passengerCtrl.setLanguage(language)"
                                            role="menuitem"><a href="javascript:;">{{language.name}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="md-input-group">
                            <input class="md-input ng-invalid" required type="text">

                            <label>Nationality</label>  
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="md-input-group">
                            <input class="md-input" required type="text">
                            <label>Country</label>  
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="md-input-group">
                            <input class="md-input" required type="text">
                            <label>Mobile No</label>  
                        </div>
                        <span class="checkbox md-checkbox">
                            <input type="checkbox"
                                id="mobileNoTravel"
                                ng-checked="!passengerCtrl.contact.travelMobile"
                                ng-click="passengerCtrl.changeTravelMobile()"
                                name="mobileNoTravel">
                            <label for="mobileNoTravel">I will use the same number during travel</label>
                        </span>

                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6" ng-show="passengerCtrl.contact.travelMobile">
                        <div class="md-input-group">
                            <input class="md-input" required type="text">
                            <label>Mobile No During Travel</label>  
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="md-input-group">
                            <input class="md-input" required type="text">
                            <label>Email Address</label>  
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="md-input-group">
                            <input class="md-input" required type="text">
                            <label>Verify Email Address</label>  
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-footer">
                            <!--<div class="label-text">
                                <span class="text">Check-in automatically 20 hours before departure.</span>
	                		<span class="radio">
	                			<input name="radioname" type="radio" id="radio001">
	                			<label for="radio001">Yes</label>
	                		</span>
	                		<span class="radio">
	                			<input name="radioname" type="radio" id="radio002" checked>
	                			<label for="radio002">No</label>
	                		</span>
                            </div>-->
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <button class="button red-btn" type="button">Continue to Extras</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- // Contact Information -->

    </section><!-- // Content Body -->
</div><!-- // Page Wrapper -->