<!-- Page Wrapper -->
<div ng-controller="passengerController as passengerCtrl">
	<div ng-if="deviceType.isMobileDevice"
		class="content-wrapper modify-search extra-modify-search"
		ng-show="passengerCtrl.applicationMode == 'create'">
		<section class="content-header" ui-view="modifySearch"></section>
	</div>
	<!-- Page Wrapper -->
	<div class="content-wrapper xs-margin-bottom px-bx">
		<!-- Content header -->
		<section id="passengers-information-header"
			class="content-header xs-section-header">


			<!-- Page Title -->
			<div class="hidden-xs hidden-sm">
				<h1 class="page-title" translate="lbl_passenger_enterDetails">Enter
				</h1>
				<!-- // Page Title -->
			</div>
			<div class="col-sm-12 hidden-xs hidden-md hidden-lg sm-enter-details">
				<h1 class="page-title pd-l-0" style="font-size: 21px !important;"
					translate="lbl_passenger_enterDetails">Enter</h1>
				<!-- // Page Title -->
			</div>
			<div class="pd-0 col-xs-12 hidden-sm hidden-md hidden-lg">
				<strong><p class="xs-enterdetails text-left"
						translate="lbl_passenger_enterDetails"
						ng-if="!deviceType.isMobileDevice">Enter</p></strong>
			</div>
			<div class="overlay" ng-show="passengerCtrl.displayLogin"
				ng-click="passengerCtrl.changeLoginDisplay()"></div>

			<!-- Rewards Login -->
			<div class="rewards-login sm-rewards-login col-sm-12 col-xs-12"
				ng-class="{'shown':passengerCtrl.displayLogin && !deviceType.isMobileDevice }"
				ng-show="!passengerCtrl.isLogin">

				<div ng-show="!passengerCtrl.isLogin">

					<!-- Heading -->
					<div
						class="heading hidden-md hidden-sm hidden-lg col-xs-12 xs-login-heading"
						ng-click="passengerCtrl.changeLoginDisplay()">
						<!--                        <div class="row">
                                                        <div class="pd-0 col-xs-2 xs-logintxt-row">
                                                            <p  class="txt xs-logintotext" translate="lbl_passenger_loginTo">Login to</p>
                                                        </div>
                                                        <div class="pd-0 col-xs-10 xs-login-i-row">
                                                            <p><i ng-class="{'rewards-logo':passengerCtrl.isLoyaltyManagementEnabled, 'airline-logo':!passengerCtrl.isLoyaltyManagementEnabled}" class="xs-loginicon"></i></p>
                                                    </div>-->
						<div class="row">
							<div class="pd-0 col-xs-12"
								style="margin-top: 10px; width: 100vw !important;">
								<div class="col-xs-2 pd-l-0 pd-r-0"
									ng-class="{'col-xs-3':passengerCtrl.isThreeTwentyDevice,'col-xs-2':!passengerCtrl.isThreeTwentyDevice}"
									id="loginto">
									<span class="txt truncate" translate="lbl_passenger_loginTo">Login
										to</span>
								</div>
								<div class="col-xs-10 xs-mobile-logo pd-0"
									ng-class="{'col-xs-9':passengerCtrl.isThreeTwentyDevice,'col-xs-10':!passengerCtrl.isThreeTwentyDevice}"
									id="logoid">
									<div ng-if="!passengerCtrl.isLoyaltyManagementEnabled">
										<i class="airline-logo xs-loginicon"></i>
									</div>
									<div ng-if="passengerCtrl.isLoyaltyManagementEnabled">
										<img id="pax-airewards-logo" src="images/airewards-logo.svg">
									</div>
								</div>
							</div>
						</div>
						<div
							ng-show="passengerCtrl.applicationMode !== 'changeContactInformation'"
							class="hidden-sm hidden-md hidden-lg section-line xs-section-line">
							<hr>
						</div>
					</div>
				</div>
				<span class="heading hidden-md hidden-xs hidden-lg sm-login-heading"
					ng-click="passengerCtrl.changeLoginDisplay()"> <i
					align="middle"
					ng-class="{'rewards-logo':passengerCtrl.isLoyaltyManagementEnabled, 'airline-logo':!passengerCtrl.isLoyaltyManagementEnabled}"></i>
					<i class="txt" translate="lbl_passenger_loginTo">Login to</i>
				</span> <span class="heading heading-container hidden-xs hidden-sm"
					ng-click="passengerCtrl.changeLoginDisplay()"> <i
					class="txt" translate="lbl_passenger_loginTo">Login to</i> <i
					ng-class="{'rewards-logo':passengerCtrl.isLoyaltyManagementEnabled, 'airline-logo':!passengerCtrl.isLoyaltyManagementEnabled}"></i>
				</span>
				<!-- // Heading -->

				<!-- Tabbed Content -->
				<div class="tabbed-content"
					ng-if="deviceType.isSmallDevice || deviceType.isLargeDevice"
					ng-show="passengerCtrl.displayLogin">

					<!-- Content -->
					<div id="signin-content" class="content"
						ng-class="{'forget-panel-pd': passengerCtrl.isForgetPassword}">

						<h3 ng-hide="passengerCtrl.isForgetPassword"
							translate="lbl_passenger_loginSaveTime">Log in and save time</h3>
						<h3 ng-show="passengerCtrl.isForgetPassword"
							translate="lbl_passenger_forgottenPW">Get Forget Password</h3>

						<div ng-if="passengerCtrl.isLoyaltyManagementEnabled"
							class="description" translate="lbl_passenger_loginDesc"
							ng-hide="passengerCtrl.isForgetPassword">If you are already
							a member of Airewards or Myairarabia, you can log in to fill your
							passenger and contact information from your saved profile.</div>

						<div ng-if="passengerCtrl.carrierCode != 'W5'" class="description"
							ng-show="passengerCtrl.isForgetPassword"
							translate="lbl_passenger_forgottenPWDesc">Get forget
							password by filling the form. Email will be sent to you with the
							password.</div>
						<div
							ng-if="passengerCtrl.isForgetPassword && passengerCtrl.carrierCode == 'W5'"
							class="description">
							<span isa-translate key="mahan_password_recovery_notice"></span>
						</div>

						<form novalidate isa-validator-type="signIn"
							isa-validator-rules="{{passengerCtrl.contactValidation}}"
							name="signInForm"
							ng-submit="passengerCtrl.submitSignIn(signInForm)">

							<div class="row" ng-hide="passengerCtrl.isForgetPassword">
								<div class="col-md-12">
									<div class="ibe-typeahead">
										<div isa-validator>
											<label for="email" translate="lbl_common_email">Email</label>
											<input isaAttrPlaceholder placeholder-caption="Email Address"
												placeholder-symbol="*" is-visible="true"
												is-input-disabled="true" type="text" name="email" id="email"
												ng-model="passengerCtrl.paxSignInDetails.customerID"
												class="form-control">
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="ibe-typeahead">
										<div isa-validator>
											<label for="email" translate="lbl_common_password">Password</label>
											<input isaAttrPlaceholder placeholder-caption="Password"
												placeholder-symbol="*" is-visible="true"
												is-input-disabled="true" type="password" name="password"
												ng-model="passengerCtrl.paxSignInDetails.password"
												class="form-control">
										</div>
									</div>
								</div>
							</div>

							<div class="form-footer" ng-hide="passengerCtrl.isForgetPassword">
								<label id="forget-pwd"> <a href=""
									translate="lbl_passenger_forgotPw"
									ng-click="passengerCtrl.showForgetPasswordPanel($event)">Forgot
										Password? </a>
								</label>

								<button id="aireward-sign-in" class="button red-btn"
									type="submit" ng-if="!passengerCtrl.isLoginProccessing"
									translate="btn_common_login">Login</button>

								<button id="aireward-sign-in" class="button red-btn"
									type="submit" ng-if="passengerCtrl.isLoginProccessing"
									translate="btn_common_loginProgress">Login...</button>
							</div>

						</form>

						<div id="reset-password" class=""
							ng-show="passengerCtrl.isForgetPassword">

							<form novalidate isa-validator-type="forgetPassword"
								isa-validator-rules="{{passengerCtrl.contactValidation}}"
								name="forgetPassword"
								ng-submit="passengerCtrl.getForgetPassword(forgetPassword)">

								<div class="row">
									<div class="col-md-12">
										<div class="ibe-typeahead">
											<label for="email" translate="lbl_common_email">Email</label>
											<div isa-validator>
												<input isaAttrPlaceholder
													placeholder-caption="Email Address" placeholder-symbol="*"
													is-visible="true" is-input-disabled="true" type="email"
													name="forgetEmail" id="forgetEmail"
													ng-model="passengerCtrl.forgetPasswordEmail"
													class="form-control">
											</div>
										</div>
									</div>
								</div>
								<div class="row" ng-if="passengerCtrl.carrierCode == 'W5'">
									<div class="col-md-12">
										<div class="ibe-typeahead">
											<div valdr-form-group>
												<div>
													<label for="securityQuestion"
														translate="lbl_common_security_question">Security
														Question</label>
													<div class="ibe-drop-down">
														<div class="btn-group" uib-keyboard-nav uib-dropdown>
															<button id="question-button" type="button"
																class="btn btn-primary" uib-dropdown-toggle
																ng-disabled="disabled"
																ng-model="passengerCtrl.forgetPasswordQuestion"
																name="secretQuestion" enable-valdr-validation
																enable-valdr-message>

																<span class="dp-caption">{{passengerCtrl.forgetPasswordQuestion||
																	'Please Select a Question' }}&nbsp;</span> <span
																	class="fa fa-angle-down"></span>
															</button>
															<ul class="uib-dropdown-menu" role="menu"
																aria-labelledby="single-button">
																<li
																	ng-repeat="secretQuestion in passengerCtrl.secretQuestionList"
																	ng-click="passengerCtrl.setSecretQuestion(secretQuestion['1'])"
																	role="menuitem"><a href="javascript:;">{{secretQuestion[1]}}</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row" ng-if="passengerCtrl.carrierCode == 'W5'">
									<div class="col-md-12">
										<div class="ibe-typeahead">
											<div valdr-form-group>
												<div>
													<label for="securityAnswer"
														translate="lbl_common_security_answer">Your Answer</label>
													<input isaAttrPlaceholder
														placeholder-caption="Email Address" placeholder-symbol="*"
														is-visible="true" is-input-disabled="true" type="email"
														name="securityAnswer" id="forgetAnswer"
														ng-model="passengerCtrl.forgetPasswordAnswer"
														class="form-control">
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="form-footer">
									<button class="button red-btn" type="submit"
										translate="lbl_passenger_getForgotPW">Get forget
										password</button>
									<div class="pull-right">
										<label><a href="" class="back-to-login"
											ng-click="passengerCtrl.isForgetPassword = false"
											translate="lbl_passenger_backToLogin">Back to Login</a></label>
									</div>
								</div>

							</form>

						</div>


					</div>
					<!-- // Content -->

				</div>
				<!-- // Tabbed Content -->


				<!-- xs Tabbed Content -->
				<div class="tabbed-content hidden-sm hidden-md hidden-lg"
					ng-if="deviceType.isMobileDevice"
					ng-show="passengerCtrl.displayLogin">

					<!-- Content -->
					<div id="signin-content" class="content"
						ng-class="{'forget-panel-pd': passengerCtrl.isForgetPassword}">
						<div class="row">
							<div class="col-xs-10">
								<h3 ng-hide="passengerCtrl.isForgetPassword"
									translate="lbl_passenger_loginSaveTime">Log in and save
									time</h3>
								<h3 ng-show="passengerCtrl.isForgetPassword"
									translate="lbl_passenger_forgottenPW">Get Forget Password</h3>
							</div>
							<div class="col-xs-2 text-right">
								<span ng-click="passengerCtrl.changeLoginDisplay()"
									id="btn-close-login-display" class="icon-close"></span>
							</div>
						</div>



						<div ng-if="passengerCtrl.isLoyaltyManagementEnabled"
							class="description" translate="lbl_passenger_loginDesc"
							ng-hide="passengerCtrl.isForgetPassword">If you are already
							a member of Airewards or Myairarabia, you can log in to fill your
							passenger and contact information from your saved profile.</div>

						<div ng-if="passengerCtrl.carrierCode != 'W5'" class="description"
							ng-show="passengerCtrl.isForgetPassword"
							translate="lbl_passenger_forgottenPWDesc">Get forget
							password by filling the form. Email will be sent to you with the
							password.</div>
						<div
							ng-if="passengerCtrl.isForgetPassword && passengerCtrl.carrierCode == 'W5'"
							class="description">
							<span isa-translate key="mahan_password_recovery_notice"></span>
						</div>

						<form novalidate valdr-type="SignIn" name="signInForm"
							isa-validator-type="signIn"
							isa-validator-rules="{{passengerCtrl.contactValidation}}"
							ng-submit="passengerCtrl.submitSignIn(signInForm)">

							<div class="row" ng-hide="passengerCtrl.isForgetPassword">
								<div class="col-md-12 col-xs-12">

									<div class="ibe-typeahead">
										<div isa-validator>
											<div>
												<label for="email" translate="lbl_common_email">Email</label>
												<input isaAttrPlaceholder
													placeholder-caption="Email Address" placeholder-symbol="*"
													is-visible="true" is-input-disabled="true" type="email"
													name="email" id="email"
													ng-model="passengerCtrl.paxSignInDetails.customerID"
													class="form-control">
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12 col-xs-12">

									<div class="ibe-typeahead">
										<div isa-validator>
											<div>
												<label for="email" translate="lbl_common_password">Password</label>
												<input isaAttrPlaceholder placeholder-caption="Password"
													placeholder-symbol="*" is-visible="true"
													is-input-disabled="true" type="password" name="password"
													ng-model="passengerCtrl.paxSignInDetails.password"
													class="form-control">
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="form-footer" ng-hide="passengerCtrl.isForgetPassword">
								<label id="forget-pwd"> <a href=""
									translate="lbl_passenger_forgotPw"
									ng-click="passengerCtrl.showForgetPasswordPanel($event)">Forgot
										Password? </a>
								</label>

								<button id="aireward-sign-in" class="button red-btn"
									type="submit" ng-if="!passengerCtrl.isLoginProccessing"
									translate="btn_common_login">Login</button>

								<button id="aireward-sign-in" class="button red-btn"
									type="submit" ng-if="passengerCtrl.isLoginProccessing"
									translate="btn_common_loginProgress">Login...</button>
							</div>

						</form>

						<div id="reset-password" class=""
							ng-show="passengerCtrl.isForgetPassword">
							<form novalidate valdr-type="forgetPassword"
								name="forgetPassword"
								ng-submit="passengerCtrl.getForgetPassword(forgetPassword)">

								<div class="row">
									<div class="col-md-12 col-xs-12">
										<div class="ibe-typeahead">
											<div valdr-form-group>
												<div>
													<label for="email" translate="lbl_common_email">Email</label>
													<input isaAttrPlaceholder
														placeholder-caption="Email Address" placeholder-symbol="*"
														is-visible="true" is-input-disabled="true" type="email"
														name="forgetEmail" id="forgetEmail"
														ng-model="passengerCtrl.forgetPasswordEmail"
														class="form-control">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row" ng-if="passengerCtrl.carrierCode == 'W5'">
									<div class="col-md-12 col-xs-12">
										<div class="ibe-typeahead">
											<div valdr-form-group>
												<div>
													<label for="securityQuestion"
														translate="lbl_common_security_question">Security
														Question</label>
													<div class="ibe-drop-down">
														<div class="btn-group" uib-keyboard-nav uib-dropdown>
															<button id="question-button" type="button"
																class="btn btn-primary" uib-dropdown-toggle
																ng-disabled="disabled"
																ng-model="passengerCtrl.forgetPasswordQuestion"
																name="secretQuestion" enable-valdr-validation
																enable-valdr-message>

																<span class="dp-caption">{{passengerCtrl.forgetPasswordQuestion||
																	'Please Select a Question' }}&nbsp;</span> <span
																	class="fa fa-angle-down"></span>
															</button>
															<ul class="uib-dropdown-menu" role="menu"
																aria-labelledby="single-button">
																<li
																	ng-repeat="secretQuestion in passengerCtrl.secretQuestionList"
																	ng-click="passengerCtrl.setSecretQuestion(secretQuestion['1'])"
																	role="menuitem"><a href="javascript:;">{{secretQuestion[1]}}</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row" ng-if="passengerCtrl.carrierCode == 'W5'">
									<div class="col-md-12 col-xs-12">
										<div class="ibe-typeahead">
											<div valdr-form-group>
												<div>
													<label for="securityAnswer"
														translate="lbl_common_security_answer">Your Answer</label>
													<input isaAttrPlaceholder
														placeholder-caption="Email Address" placeholder-symbol="*"
														is-visible="true" is-input-disabled="true" type="email"
														name="securityAnswer" id="forgetAnswer"
														ng-model="passengerCtrl.forgetPasswordAnswer"
														class="form-control">
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="form-footer">
									<button class="button red-btn" type="submit"
										translate="lbl_passenger_getForgotPW">Get forget
										password</button>
									<div class="pull-left">
										<label id="backToLogin"><a href=""
											class="back-to-login"
											ng-click="passengerCtrl.isForgetPassword = false"
											translate="lbl_passenger_backToLogin">Back to Login</a></label>
									</div>
								</div>

							</form>

						</div>
						<!-- Select Passengers -->
						<div class="select-passenger" id="passengers-information-panel"
							ng-if="passengerCtrl.applicationMode !== 'changeContactInformation' && !deviceType.isMobileDevice">
							<div class="row">
								<isa-passenger-list passenger-list="passengerCtrl.passengers"
									selected-passenger="passengerCtrl.selectedPassenger">
								</isa-passenger-list>

								<isa-passenger-details
									ng-repeat="passenger in passengerCtrl.passengers"
									ng-if="passengerCtrl.selectedPassenger == $index"
									passenger="passenger"
									application-mode="{{passengerCtrl.applicationMode}}"
									selected-passenger="passengerCtrl.selectedPassenger"
									passenger-list="passengerCtrl.passengers"
									update-contact="passengerCtrl.updateContact(passenger)"
									passenger-count="{{passengerCtrl.passengers.length}}"
									passenger-completed="passengerCtrl.paxDetailsCompleted"
									on-modification-completed="passengerCtrl.onNameChangeCompleted()"
									first-pax-contact="passengerCtrl.firstPaxAsContact"
									pax-detail-config="passengerCtrl.paxParms"
									airewards-checked="passengerCtrl.airewardsCheckedStatus"
									update-airewards-status="passengerCtrl.airewardStateChange(index)"
									on-modification-start="passengerCtrl.resetValidationData(data)"
									is-rtl="passengerCtrl.getDir()"> </isa-passenger-details>

							</div>
							<!-- //Content -->



						</div>

					</div>
					<!-- //Content -->


				</div>
				<!-- // xs Tabbed Content -->

			</div>
	</div>
	<!-- // Rewards Login -->

	</section>
	<!-- // Content header -->

	<!-- Content Body -->
	<section class="content-body xs-section-body">
		<!-- Select Passengers -->
		<div class="passenger-header xs-passenger-header col-xs-12 pad-l-r-0"
			ng-if="!deviceType.isMobileDevice"
			ng-class="{'mheight':passengerCtrl.applicationMode == 'create', 'passenger-header-height' :passengerCtrl.applicationMode == 'changeContactInformation'}">
			<p align="center"
				ng-if="passengerCtrl.applicationMode !== 'changeContactInformation'"
				style="width: 97%;"
				class="heading-text hidden-sm hidden-md hidden-lg">
				<span class="pull-left" translate="lbl_confirm_paxInfo"
					ng-class="{'pax-info-width':passengerCtrl.isThreeTwentyDevice}">Passenger
					information</span> <span
					class="pull-right info-mandatory-field-passanger">
					<i class="info"><span translate="lbl_passenger_mandatoryFields">Mandatory
							Fields</span>&nbsp;<sup class="red">*</sup></i>
				</span>
			</p>
			<div class="passenger-header family">
				<p
					ng-if="passengerCtrl.applicationMode !== 'changeContactInformation' "
					class="heading-text pull-left" translate="lbl_confirm_paxInfo">Passenger
					information</p>
				<a href="" ng-show="passengerCtrl.isLogin && passengerCtrl.applicationMode == 'create'"
					ng-click="passengerCtrl.open()"> <span class="pull-right">
						<span ng-if="!passengerCtrl.aFamilyMemberIsSelected()" translate="lbl_passenger_addPaxNameDetails">Add
							Family and Friends</span>
						<span ng-if="passengerCtrl.aFamilyMemberIsSelected()" translate="lbl_passenger_editPaxNameDetails">Edit
							Family and Friends</span>
				</span>
				</a>

				<!-- Modal Box -->
				<div class="modal-box" ng-if="passengerCtrl.model.isPopupOpen">
					<!-- Overlay -->
					<div class="overlay"></div>
					<!-- // Overlay -->

					<!-- Modal Content -->
					<div class="modal-content passenger-modal">
						<!-- Modal Body -->
						<div class="modal-body">
							<div class="modal-data">
								<div class="row">
									<div class="col-md-12">
											<div class="greeting-text"><span translate="lbl_passenger_hi">Hi </span>{{passengerCtrl.display.passFirstName}}<span
												translate="lbl_common_hiWhoTraveling">, who's travelg?</span></div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
											<table class="table">
													<tr>
														<th></th>
														<th translate="lbl_common_firstName">First Name</th>
														<th translate="lbl_common_lastName">Last Name</th>
														<th translate="lbl_passenger_nationality">Nationality</th>
														<th translate="lbl_passenger_dob">Date of Birth</th>
														<th translate="lbl_payment_airewardIdformobile">Airewards ID</th>
													</tr>
													<tr>
														<td>
															<label class="container-chkbox">
																	<input type="checkbox" ng-model="passengerCtrl.display.selected"><span class="checkmark"></span>
															</label>
														</td>
														<td>{{passengerCtrl.display.passFirstName | limitTo: 10 }}{{passengerCtrl.display.passFirstName.length > 10 ? '...' : ''}}</td>
														<td>{{passengerCtrl.display.passLastName | limitTo: 10 }}{{passengerCtrl.display.passLastName.length > 10 ? '...' : ''}}</td>
														<td>{{passengerCtrl.display.nationalityName}}</td>
														<td>{{passengerCtrl.display.passdateOfBirth}}</td>
														<td class="detailfont-row">{{passengerCtrl.display.emailId}}</td>
													</tr>
												</table>
									</div>
									
								</div>
								<div class="row ma-tp-2" ng-if="passengerCtrl.familyMembersAvailableToDisplay()">
										<div class="col-md-12">
											<h2 class="select-header"
												translate="lbl_passenger_selectPassengerHeader">Select
												your family members</h2>
										</div>
								</div>
								<div class="row" ng-if="passengerCtrl.familyMembersAvailableToDisplay()">
									<br>
									<div class="col-md-12">
											<table class="table">
													<tr>
														<th></th>
														<th translate="lbl_common_firstName">First Name</th>
														<th translate="lbl_common_lastName">Last Name</th>
														<th translate="lbl_common_relationship">Relationship</th>
														<th translate="lbl_passenger_nationality">Nationality</th>
														<th translate="lbl_passenger_dob">Date of Birth</th>
													</tr>
													<tr ng-repeat="familyMember in passengerCtrl.familyMemberList | filter: { isNotLoggedInUser: true }">
														<td>
															<label class="container-chkbox">
																<input type="checkbox" ng-model="familyMember.selected"><span class="checkmark"></span>
															</label>
														</td>
														<td>{{familyMember.firstName | limitTo: 10 }}{{familyMember.firstName.length > 10 ? '...' : ''}}&lrm;</td>
														<td>{{familyMember.lastName | limitTo: 10 }}{{familyMember.lastName.length > 10 ? '...' : ''}}&lrm;</td>
														<td>{{familyMember.relationshipName}}</td>
														<td>{{familyMember.nationalityName}}</td>
														<td>{{familyMember.dateOfBirth}}</td>
													</tr>
												</table>
									</div>
									
								</div>
							</div>
						</div>
						<!-- // Modal Body -->

						<!-- Modal Footer -->
						<div class="modal-footer">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="col-md-6 col-sm-6 col-xs-6">
											<button class="button cancel-btn" type="button"
												ng-click="passengerCtrl.close()"
												translate="lbl_common_cancel">Cancel</button>
										</div>
										<div class="col-md-6 col-sm-6 col-xs-6  pull-right">
											<button class="button red-btn" type="button"
												ng-click="passengerCtrl.populateData()"
												translate="btn_airport_transfer_list_Confirm"
												ng-disabled=passengerCtrl.passengers.length==families.selected>Confirm</button>
										</div>
								</div>
							</div>
						</div>
						<!-- // Modal Footer -->
					</div>
					<!-- // Modal Content -->
				</div>
				<!-- // Modal Box -->
			</div>
		</div>
		<div class="passenger-header xs-passenger-header pad-l-r-0"
			ng-if="deviceType.isMobileDevice"
			ng-class="{'mheight':passengerCtrl.applicationMode == 'create', 'passenger-header-height' :passengerCtrl.applicationMode == 'changeContactInformation','xs-height':passengerCtrl.isLogin}">
			<div class="row">
				<div
					ng-if="passengerCtrl.applicationMode !== 'changeContactInformation'"
					class="col-xs-12 ma-bt-1">
					<div class="row" style="margin-left: 0; margin-right: 0;">
						<div class="col-xs-8 pd-l-0 pd-r-0">
							<span class="text-left heading-text "
								translate="lbl_confirm_paxInfo"
								ng-class="{'pax-info-width':passengerCtrl.isThreeTwentyDevice}">Passenger
								information</span>
						</div>
						<div class="col-xs-4 text-right pd-r-2 pd-l-2 mandatoryfield">
							<span
								class="text-right info-mandatory-field-passanger">
								<i class="info"><span
									translate="lbl_passenger_mandatoryFields">Mandatory
										Fields</span>&nbsp;<sup class="red">*</sup></i>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="passenger-header family">
				<a href="" ng-if="passengerCtrl.isLogin && passengerCtrl.applicationMode == 'create'"
					ng-click="passengerCtrl.open()"> <span class="pull-right">
						<span translate="lbl_passenger_addPaxNameDetails">Add
							Family and Friends</span>
						</span>
				</a>

				<!-- Modal Box -->
				<div class="modal-box" ng-if="passengerCtrl.model.isPopupOpen">
					<!-- Overlay -->
					<div class="overlay"></div>
					<!-- // Overlay -->

					<!-- Modal Content -->
					<div class="modal-content passenger-modal">
						<!-- Modal Body -->
						<div class="modal-body">
							<div class="modal-data">
								<div class="row ma-bt-4 ma-tp-4">
									<div class="col-xs-12">
											<span translate="lbl_passenger_hi">Hi </span>{{passengerCtrl.display.passFirstName}}<span
											translate="lbl_common_hiWhoTraveling">, who's travelg?</span>
									</div>
									
								</div>
								<div class="row">
									<div class="col-xs-12">
											<table class="table">
													<tr>
														<td class="mr-td-cbox">
															<label class="container-chkbox">
																	<input type="checkbox" ng-model="passengerCtrl.display.selected"><span class="checkmark"></span>
															</label>
														</td>
														<td>
															<div class="row mr-family-detail-row">
																<div class="row">
																	<div class="col-md-6 col-sm-6 col-xs-5 col-xs-offset-1 col-xs-rtl-offset-1 pd-xs-r-0 mr-family-header" translate="lbl_common_paxname">Name</div>
																	<div class="col-md-6 col-sm-6 col-xs-6 mr-family-header" translate="lbl_passenger_nationality">Nationality</div>
																</div>
																<div class="row detailfont-row">
																	<div class="col-md-6 col-sm-6 col-xs-5 col-xs-offset-1 col-xs-rtl-offset-1">
																		{{passengerCtrl.display.passFirstName | limitTo: 20 }}{{passengerCtrl.display.passFirstName.length > 20 ? '...' : ''}}&lrm;
																		{{passengerCtrl.display.passLastName | limitTo: 20 }}{{passengerCtrl.display.passLastName.length > 20 ? '...' : ''}}&lrm;
																	</div>
																	<div class="col-md-6 col-sm-6 col-xs-6">{{passengerCtrl.display.nationalityName}}</div>
																</div>
															</div>
															<div class="row mr-family-detail-row ma-bt-2">
																<div class="row">
																	<div class="col-md-6 col-sm-6 col-xs-5 col-xs-offset-1 col-xs-rtl-offset-1 pd-xs-r-0 mr-family-header" translate="lbl_passenger_dob">Date of Birth</div>
																	<div class="col-md-6 col-sm-6 col-xs-6 mr-family-header" translate="lbl_payment_airewardIdformobile">Airewards ID</div>
																</div>
																<div class="row detailfont-row">
																	<div class="col-md-6 col-sm-6 col-xs-5 col-xs-offset-1 col-xs-rtl-offset-1">{{passengerCtrl.display.passdateOfBirth}}</div>
																	<div class="col-md-6 col-sm-6 col-xs-6">{{passengerCtrl.display.emailId}}</div>
																</div>
															</div>
														</td>
																
													</tr>
												</table>
									</div>
									
								</div>
								<div class="row">
									<div class="col-xs-12">
											<h2 class="select-header"
											translate="lbl_passenger_selectPassengerHeader">Select
											your family members</h2>
									</div>
								</div>
								<div class="row">
									<br>
									<div class="col-xs-12">
										<table class="table">
												<tr ng-repeat="familyMember in passengerCtrl.familyMemberList | filter: { isNotLoggedInUser: true }">
													<td class="mr-td-cbox">
														<label class="container-chkbox">
															<input type="checkbox" ng-model="familyMember.selected"><span class="checkmark"></span>
														</label>
													</td>
													<td>
														<div class="row mr-family-detail-row">
															<div class="row">
																<div class="col-md-6 col-sm-6 col-xs-5 col-xs-offset-1 col-xs-rtl-offset-1 pd-xs-r-0 mr-family-header" translate="lbl_common_paxname">Name</div>
																<div class="col-md-6 col-sm-6 col-xs-6 mr-family-header" translate="lbl_passenger_nationality">Nationality</div>
															</div>
															<div class="row detailfont-row">
																<div class="col-md-6 col-sm-6 col-xs-5 col-xs-offset-1 col-xs-rtl-offset-1 pd-xs-r-0 ">
																	{{familyMember.firstName | limitTo: 10 }}{{familyMember.firstName.length > 10 ? '...' : ''}}&lrm;
																	{{familyMember.lastName | limitTo: 10 }}{{familyMember.lastName.length > 10 ? '...' : ''}}&lrm;
																</div>
																<div class="col-md-6 col-sm-6 col-xs-6">{{familyMember.nationalityName}}</div>
															</div>
														</div>
														<div class="row mr-family-detail-row  ma-bt-2">
															<div class="row">
																<div class="col-md-6 col-sm-6 col-xs-5 col-xs-offset-1 col-xs-rtl-offset-1 pd-xs-r-0 mr-family-header" translate="lbl_common_relationship">Relationship</div>
																<div class="col-md-6 col-sm-6 col-xs-6 mr-family-header" translate="lbl_passenger_dob">Date of Birth</div>													
															</div>
															<div class="row detailfont-row">
																<div class="col-md-6 col-sm-6 col-xs-5 col-xs-offset-1 col-xs-rtl-offset-1 pd-xs-r-0 ">{{familyMember.relationshipName}}</div>
																<div class="col-md-6 col-sm-6 col-xs-6">{{familyMember.dateOfBirth}}</div>
															</div>
														</div>
													</td>
												</tr>
											</table>
										</div>
								</div>
							</div>
						</div>
						<!-- // Modal Body -->

						<!-- Modal Footer -->
						<div class="modal-footer">
							<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-8 col-xs-offset-2 col-xs-rtl-offset-2 ma-bt-4">
										<button class="button cancel-btn" type="button"
											ng-click="passengerCtrl.close()"
											translate="lbl_common_cancel">Cancel</button>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-8 col-xs-offset-2  col-xs-rtl-offset-2 ma-bt-4">
										<button class="button red-btn" type="button"
											ng-click="passengerCtrl.populateData()"
											translate="btn_airport_transfer_list_Confirm"
											ng-disabled=passengerCtrl.passengers.length==families.selected>Confirm</button>
									</div>
							</div>
						</div>
						<!-- // Modal Footer -->
					</div>
					<!-- // Modal Content -->
				</div>
				<!-- // Modal Box -->
			</div>
		</div>
		<div ng-if="passengerCtrl.appConfigs.showPaxMsg"
			class="ma-2 hidden-sm hidden-xs"
			style="position: relative; top: 20px; margin-bottom: 30px; margin-right: 0; margin-left: 0">
			<!--airport messages-->
			<div
				class="inpage-alert alert-warning pd-3 passenger-airportmsg  text-left">
				<p class="text-left" translate="msg_passenger_information"></p>
				<p class="text-left"
					ng-if="passengerCtrl.paxParms.passportNo.mandatory.adult"
					translate="msg_passport_format"></p>
			</div>
			<!--airport messages-->
		</div>
		<div ng-if="passengerCtrl.appConfigs.showPaxMsg"
			class="sm-airport-msg hidden-md hidden-lg hidden-xs">
			<!--airport messages-->
			<div
				class="inpage-alert alert-warning passenger-airportmsg  text-left">
				<p translate="msg_passenger_information" class=" text-left"></p>
				<!-- <div translate="msg_passenger_information" class="xs-airportmsg-top"></div> -->
				<!-- <div ng-if="passengerCtrl.paxParms.passportNo.mandatory.adult" translate="msg_passport_format"></div> -->
				<p class="sm-adult-msg  text-left"
					ng-if="passengerCtrl.paxParms.passportNo.mandatory.adult"
					translate="msg_passport_format"></p>
			</div>
			<!--airport messages-->
		</div>
		<div ng-if="passengerCtrl.appConfigs.showPaxMsg"
			class="hidden-sm hidden-md hidden-lg col-xs-12 pad-l-r-0">
			<!--airport messages-->
			<div
				class="inpage-alert alert-warning xs-airportmsg passenger-airportmsg text-left">
				<p translate="msg_passenger_information" class="text-left"></p>
				<p class="sm-adult-msg text-left"
					ng-if="passengerCtrl.paxParms.passportNo.mandatory.adult"
					translate="msg_passport_format"></p>
			</div>
			<!--airport messages-->
		</div>
		<div
			class="passenger-header xs-passenger-header text-right pad-l-r-0 ma-tp-1"
			ng-if="deviceType.isMobileDevice && passengerCtrl.isLogin"
			ng-class="{'mheight':passengerCtrl.applicationMode == 'create', 'passenger-header-height' :passengerCtrl.applicationMode == 'changeContactInformation','xs-height':passengerCtrl.isLogin}">
			<div class="row">
				<a class="col-xs-12"
					ng-show="passengerCtrl.isLogin && passengerCtrl.selectedPassenger === 0 && passengerCtrl.applicationMode == 'create'">
					<span class="text-right"
					ng-click="passengerCtrl.clearAllPassengerDetails()"> <span
						class="glyphicon glyphicon-remove-circle"></span> <span
						translate="lbl_passenger_changePaxNameDetails">Change the
							passenger names and details</span>
				</span>
				</a>
			</div>
		</div>
		<div class="select-passenger hidden-sm hidden-lg hidden-md"
			id="passengers-information-panel"
			ng-if="passengerCtrl.applicationMode !== 'changeContactInformation' && deviceType.isMobileDevice">
			<div class="row mr-rt-default">
				<isa-passenger-list passenger-list="passengerCtrl.passengers"
					selected-passenger="passengerCtrl.selectedPassenger"
					application-mode="{{passengerCtrl.applicationMode}}"
					device-mode="deviceType" passenger-list="passengerCtrl.passengers"
					passenger-count="{{passengerCtrl.passengers.length}}"
					passenger-completed="passengerCtrl.paxDetailsCompleted"
					on-modification-completedparent="passengerCtrl.onNameChangeCompleted()"
					first-pax-contact="passengerCtrl.firstPaxAsContact"
					pax-detail-config="passengerCtrl.paxParms"
					airewards-checked="passengerCtrl.airewardsCheckedStatus"
					update-airewards-status1="passengerCtrl.airewardStateChange(index)"
					on-modification-start="passengerCtrl.resetValidationData(data)"
					country-list="passengerCtrl.countryList"
					is-airword-enabled="passengerCtrl.isLoyaltyManagementEnabled"
					validation-messages="passengerCtrl.validationMessages"
					carrier="passengerCtrl.carrierCode"
					update-contact1="passengerCtrl.updateContact(passenger)"
					language="passengerCtrl.languagepref"> </isa-passenger-list>
				<!--                    update-contact="passengerCtrl.updateContact(passenger)"-->
			</div>
			<div
				class="hidden-sm hidden-md hidden-lg section-line xs-section-line">
				<hr style="border-top: none !important;">
			</div>
		</div>
		<div class="select-passenger hidden-xs"
			id="passengers-information-panel"
			ng-if="passengerCtrl.applicationMode !== 'changeContactInformation' && (deviceType.isSmallDevice || deviceType.isLargeDevice)">
			<div class="row">
				<isa-passenger-list passenger-list="passengerCtrl.passengers"
					selected-passenger="passengerCtrl.selectedPassenger"
					device-mode="deviceType"
					application-mode="{{passengerCtrl.applicationMode}}">
				</isa-passenger-list>

				<isa-passenger-details
					ng-repeat="passenger in passengerCtrl.passengers"
					ng-if="passengerCtrl.selectedPassenger === $index"
					passenger="passenger"
					application-mode="{{passengerCtrl.applicationMode}}"
					selected-passenger="passengerCtrl.selectedPassenger"
					passenger-list="passengerCtrl.passengers"
					update-contact="passengerCtrl.updateContact(passenger)"
					passenger-count="{{passengerCtrl.passengers.length}}"
					passenger-completed="passengerCtrl.paxDetailsCompleted"
					on-modification-completed="passengerCtrl.onNameChangeCompleted()"
					first-pax-contact="passengerCtrl.firstPaxAsContact"
					pax-detail-config="passengerCtrl.paxParms"
					airewards-checked="passengerCtrl.airewardsCheckedStatus"
					update-airewards-status="passengerCtrl.airewardStateChange(index)"
					on-modification-start="passengerCtrl.resetValidationData(data)"
					is-rtl="passengerCtrl.getDir()"
					country-list="passengerCtrl.countryList"
					is-airword-enabled="passengerCtrl.isLoyaltyManagementEnabled"
					validation-messages="passengerCtrl.validationMessages"
					carrier="passengerCtrl.carrierCode"
					language="passengerCtrl.languagepref"> </isa-passenger-details>

			</div>
		</div>
		<!--Select Passengers-->

		<!-- Contact Information -->
		<div class="contact-information waypoint_paxContact"
			id="contact-information"
			ng-show="passengerCtrl.applicationMode != 'nameChange'">
			<div
				class="hidden-sm hidden-md hidden-lg section-line xs-section-line">
				<hr
					style="margin-top: 0 !important; margin-bottom: 20px !important;">
			</div>
			<div isa-busy-loader ng-show="passengerCtrl.isBusyLoaderVisible"></div>
			<form novalidate isa-validator-type="contact"
				isa-validator-rules="{{passengerCtrl.contactValidation}}"
				name="passengerContact"
				ng-submit="passengerCtrl.checkForDuplicates(passengerContact)">
				<div class="row">
					<div ng-if="!deviceType.isMobileDevice" class="heading">
						<span class=" pd-0 name col-xs-12 col-sm-6" style="width: auto;"
							translate="lbl_common_contactInfo"
							ng-class="{'pax-info-width':passengerCtrl.isThreeTwentyDevice}">Contact
							Information</span> <i class="info col-xs-12 col-sm-3 ta-lt-def pd-lt-0"
							style="width: auto;"> <span
							translate="lbl_passenger_mandatory">Mandatory Fields</span> <sup
							class="red">*</sup>
						</i>
					</div>
					<div ng-if="deviceType.isMobileDevice"
						class="ma-bt-1 heading col-xs-12" style="line-height: 20px;">
						<div class="col-xs-8 pd-l-0 pd-r-0">
							<span class=" pd-0 name col-xs-12 col-sm-6"
								translate="lbl_common_contactInfo"
								ng-class="{'pax-info-width':passengerCtrl.isThreeTwentyDevice}">Contact
								Information</span>
						</div>
						<div class="col-xs-4 pd-l-0 pd-r-0">
							<i
								class="info col-xs-12 col-sm-3 ta-lt-def pd-r-0 text-right"
								style="font-size: 1rem !important; font-weight: 600 !important;">
								<span translate="lbl_passenger_mandatoryFields">Mandatory
									Fields</span> <sup class="red">*</sup>
							</i>
						</div>
					</div>
					<div class="col-xs-12 col-md-12"
						ng-if="passengerCtrl.applicationMode !== 'changeContactInformation'">
						<div class="input-option">
							<span class="checkbox xs-contactperson-chckbx"> <input
								type="checkbox" name="firstPaxContact" id="firstPaxContact"
								checked ng-model="passengerCtrl.firstPaxAsContact"
								ng-change="passengerCtrl.toggleFirstPaxContact(passengerCtrl.firstPaxAsContact)">
								<label class="chxbxlbl pull-left" for="firstPaxContact"></label>

								<label class="passenger-xs-text"
								translate="msg_passenger_contact"
								translate-values="{a: '{{passengerCtrl.getContactPersonFullName()}}'}">Mr.
									... will be the contact person for this journey</label>
							</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6 col-sm-offset-right-6 col-xs-12"
						ng-if="passengerCtrl.contactParms.title.visibility && !passengerCtrl.firstPaxAsContact">
						<label> <span translate="lbl_common_salutation">Title</span>
							<sup class="red"
							ng-if="passengerCtrl.contactParms.title.mandatory"> *</sup>
						</label>
						<div isa-validator>
							<div class="ibe-typeahead">
								<div class="ibe-drop-down">
									<div class="btn-group xs-btn-group-class" uib-keyboard-nav
										uib-dropdown ng-model="passengerCtrl.contact.salutation"
										name="salutation">
										<button id="salutation-button" type="button"
											class="btn btn-primary" uib-dropdown-toggle
											ng-disabled="disabled"
											ng-model="passengerCtrl.contact.salutation">
											<span class="dp-caption" style="width:80%;">{{(passengerCtrl.contact.salutation | salutationFilter: passengerCtrl.salutationList) || ''}}&nbsp;</span>
                                            <span class="fa fa-angle-down"></span>
										</button>
										<ul class="uib-dropdown-menu" role="menu"
											aria-labelledby="single-button">
											<li ng-repeat="salutation in passengerCtrl.salutationList"
												ng-click="passengerCtrl.setSalutation(salutation.titleCode)"
												role="menuitem" onclick="closeDropdown()"><a
												href="javascript:;">{{salutation.titleName}}</a></li>
										</ul>
										<script type="text/javascript">function closeDropdown() {
												if ($('.xs-btn-group-class').hasClass('open')) {
													$('.xs-btn-group-class').removeClass('open');
												}
											}
										</script>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div
						ng-if="passengerCtrl.contactParms.firstName.visibility && !passengerCtrl.firstPaxAsContact"
						class="col-md-4 col-sm-6 col-xs-12">
						<label> <span translate="lbl_common_firstName">First
								Name</span> <sup ng-if="passengerCtrl.contactParms.firstName.mandatory"
							class="red"> *</sup>
						</label>
						<div>
							<div class="ibe-typeahead">
								<div isa-validator>
									<input type="text" class="form-control" name="firstName"
										ng-model="passengerCtrl.contact.firstName">
								</div>
							</div>
						</div>
					</div>

					<div
						ng-if="passengerCtrl.contactParms.lastName.visibility && !passengerCtrl.firstPaxAsContact"
						class="col-md-4 col-sm-6 col-xs-12 xs-lastname">
						<label> <span translate="lbl_common_lastName">Last
								Name</span> <sup ng-if="passengerCtrl.contactParms.lastName.mandatory"
							class="red"> *</sup>
						</label>
						<div>
							<div class="ibe-typeahead">
								<div isa-validator>
									<input type="text" class="form-control" name="lastName"
										ng-model="passengerCtrl.contact.lastName">
								</div>
							</div>
						</div>
					</div>
					<div
						ng-if="passengerCtrl.contactParms.lastName.visibility && !passengerCtrl.firstPaxAsContact"
						class="col-md-12 col-sm-12 col-xs-12 notifications">
						<span isa-translate key="mahan_passender_contact_name_notice"></span>
					</div>

					<div class="clearfix"></div>
					<div
						ng-if="passengerCtrl.contactParms.nationality.visibility && !passengerCtrl.firstPaxAsContact"
						id="nationalityInContact" class="col-md-6 col-sm-6 col-xs-12">
						<label> <span translate="lbl_common_citizenship">Nationality</span>
							<sup ng-if="passengerCtrl.contactParms.nationality.mandatory"
							class="red"> *</sup>
						</label>
						<div class="ibe-typeahead">
							<div  isa-validator >
								<input type="text" onClick="scrollToNationality()"
									ng-model="passengerCtrl.contact.nationality"
									selected-value="passengerCtrl.contact.nationality"
									uib-typeahead="nationality.code as nationality.name for nationality in passengerCtrl.nationalityList | filter:{name:$viewValue}:passengerCtrl.startsWith"
									typeahead-input-formatter="passengerCtrl.formatLabelNationality($model)"
									typeahead-editable="false" typeahead-select-on-exact="true"
									typeahead-min-length="0" typeahead-focus name="nationality"
									class="form-control" autocomplete="off" />
							</div>
							
							<script>
							function scrollToNationality() {
								if (window.matchMedia("only screen and (max-width: 767px)").matches) {
									var element = $('#nationalityInContact');
									$("html, body").animate({
										scrollTop : element.offset().top - 94
									}, 600);
								}
							}
						</script>
						</div>
						
					</div>

					<div
						ng-if="passengerCtrl.contactParms.preferredLang.visibility && !passengerCtrl.firstPaxAsContact"
						class="col-md-6 col-sm-6 col-xs-12">
						<label> <span translate="lbl_common_language">Preferred
								Language</span> <sup
							ng-if="passengerCtrl.contactParms.preferredLang.mandatory"
							class="red"> *</sup>
						</label>
						<div isa-validator>
							<div class="ibe-typeahead">
								<div class="ibe-drop-down">
									<div class="btn-group xs-btn-group-class" uib-keyboard-nav
										uib-dropdown>
										<button id="language-button" type="button"
											class="btn btn-primary" uib-dropdown-toggle
											ng-disabled="disabled"
											ng-model="passengerCtrl.contact.language" name="language"
											enable-valdr-validation enable-valdr-message="">
											<span class="dp-caption">{{passengerCtrl.showLangTitle(passengerCtrl.contact.language)
												|| ''}}&nbsp;</span> <span class="fa fa-angle-down"></span>
										</button>
										<ul class="uib-dropdown-menu" role="menu"
											aria-labelledby="single-button">
											<li ng-repeat="language in passengerCtrl.languageList"
												ng-click="passengerCtrl.setLanguage(language)"
												role="menuitem" onclick="closeDropdown()"><a
												href="javascript:;">{{language.language}}</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>


					<!--From AA-->


					<div ng-if="passengerCtrl.contactParms.address.visibility"
						class="col-md-6 col-sm-6 col-xs-12">
						<label> <span translate="lbl_common_address">Address</span>
							<sup ng-if="passengerCtrl.contactParms.address.mandatory"
							class="red"> *</sup>
						</label>
						<div isa-validator>
							<div class="ibe-typeahead address-group">
								<input placeholder="{{ 'lbl_passenger_address1' | translate }}"
									type="text" class="form-control" name="address"
									ng-model="passengerCtrl.contact.address.streetAddress1">
							</div>
						</div>
						<div isa-validator>
							<div class="ibe-typeahead">
								<input placeholder="{{ 'lbl_passenger_address2' | translate }}"
									type="text" class="form-control" name="address"
									ng-model="passengerCtrl.contact.address.streetAddress2">
							</div>
						</div>
					</div>
					<div
						ng-if="!passengerCtrl.contactParms.address.visibility && passengerCtrl.showAddress"
						class="col-md-6 col-sm-6 col-xs-12">
						<label> <span translate="lbl_common_address">Address</span>
							<sup class="red"> *</sup>
						</label>

						<div>
							<div class="ibe-typeahead">
								<div isa-validator>
									<input type="text" name="address" class="form-control"
										ng-model="passengerCtrl.contact.address.streetAddress1">
								</div>
							</div>
						</div>
					</div>

					<div
						ng-if="passengerCtrl.contactParms.taxRegNo.visibility || passengerCtrl.showTaxRegNo"
						class="col-md-6 col-sm-6 col-xs-12">
						<label> <span
							translate="{{passengerCtrl.taxRegNumberLabel}}"
							translate-default="Tax Registraion Number">Tax Registraion
								Number</span> <sup
							ng-if="passengerCtrl.contactParms.taxRegNo.mandatory" class="red">*</sup>
						</label>
						<div class="form-group">
							<div class="ibe-typeahead">
								<div isa-validator>
									<input type="text" class="form-control"
										ng-model="passengerCtrl.contact.taxRegNo" name="taxRegNo"
										id="contactTaxRegNo"
										ng-disabled="passengerCtrl.disableTaxRegNo">
								</div>
							</div>
						</div>
					</div>

					<div ng-if="passengerCtrl.contactParms.city.visibility"
						class="col-md-6 col-sm-6 col-xs-12">
						<label> <span translate="lbl_common_city">City</span> <sup
							ng-if="passengerCtrl.contactParms.city.mandatory" class="red">
								*</sup>
						</label>
						<div isa-validator>
							<div class="ibe-typeahead">
								<input type="text" class="form-control" name="city"
									ng-model="passengerCtrl.contact.address.city">
							</div>
						</div>
					</div>

					<div ng-if="passengerCtrl.contactParms.country.visibility"
						id="country" class="col-md-6 col-sm-6 col-xs-12">
						<label> <span translate="lbl_common_country">Country</span>
							<sup ng-if="passengerCtrl.contactParms.country.mandatory"
							class="red"> *</sup>
						</label>
						<div class="ibe-typeahead">
							<div isa-validator>
								<input type="text" onClick="scrollToCountry()" novalidate
									name="country" ng-model="passengerCtrl.contact.country"
									selected-value="passengerCtrl.contact.country"
									uib-typeahead="country.code as country.name for country in passengerCtrl.countryList | filter:{name:$viewValue}:passengerCtrl.startsWith"
									typeahead-input-formatter="passengerCtrl.formatLabelCountry($model)"
									typeahead-select-on-exact="true" typeahead-min-length="0"
									typeahead-on-select="passengerCtrl.onCountryChange($item)"
									typeahead-focus class="form-control" autocomplete="off" />
							</div>
							<script>
								function scrollToCountry() {
									if (window.matchMedia("only screen and (max-width: 767px)").matches) {
										var element = $('#country');
										$("html, body").animate({
											scrollTop : element.offset().top - 94
										}, 600);
									}
								}
							</script>
						</div>
					</div>
					<!--From AA-->
					<div
						ng-if="passengerCtrl.contactParms.state.visibility || passengerCtrl.showState"
						class="col-md-6 col-sm-6 col-xs-12">
						<label> <span translate="lbl_common_state">State</span> <sup
							ng-if="passengerCtrl.contactParms.state.mandatory || passengerCtrl.showState"
							class="red"> *</sup>
						</label>
						<div class="form-group">
							<div class="ibe-typeahead">
								<div isa-validator>
									<input type="text" ng-model="passengerCtrl.contact.state"
										novalidate selected-value="passengerCtrl.contact.state"
										uib-typeahead="state.stateCode as state.stateName for state in passengerCtrl.statesList | filter:{stateName:$viewValue}:passengerCtrl.startsWith"
										typeahead-input-formatter="passengerCtrl.formatLabelState($model)"
										typeahead-editable="false" typeahead-select-on-exact="true"
										typeahead-min-length="0" typeahead-focus name="state"
										class="form-control" autocomplete="off" id="contactState"
										ng-disabled="passengerCtrl.disableState" />
								</div>
							</div>
						</div>
					</div>
					<div ng-if="passengerCtrl.contactParms.email.visibility"
						class="col-md-6 col-sm-6 col-xs-12"
						valdr-enabled="passengerCtrl.isContactFieldValidated('email')">
						<label> <span translate="lbl_common_emailAddress">Email
								Address</span> <sup ng-if="passengerCtrl.contactParms.email.mandatory"
							class="red">*</sup>
						</label>
						<div class="form-group">
							<div class="ibe-typeahead">
								<div isa-validator>
									<input type="email" class="form-control"
										ng-model="passengerCtrl.contact.email" name="email">
								</div>
							</div>
						</div>
					</div>

					<div class="clearfix"></div>

					<div ng-if="passengerCtrl.contactParms.mobileNo.visibility"
						class="col-md-6 col-sm-6 col-xs-12">

						<label> <span translate="lbl_common_mobile">Mobile
								No</span> <sup ng-if="passengerCtrl.contactParms.mobileNo.mandatory"
							class="red"> *</sup>
						</label>
						<div>
							<isa-phone-number field-name="passengerCtrl.namePhoneTraveller"
								phone-required="passengerCtrl.validPhoneProvided()"
								phone-number="passengerCtrl.contact.mobileNo"
								country-list="passengerCtrl.countryList"
								configs="passengerCtrl.phoneNumberConfigs"
								validate-with-list="!passengerCtrl.isValidCareerFor('JCA')">
							</isa-phone-number>

							<div class="xs-chk-phn input-option ma-0">
								<span class="checkbox"> <input type="checkbox"
									id="mobileNoTravel"
									ng-checked="!passengerCtrl.contact.travelMobile"
									ng-click="passengerCtrl.changeTravelMobile()"
									name="mobileNoTravel"> <label class="passenger-xs-text"
									for="mobileNoTravel" translate="msg_passenger_mobileTravel">
										I will keep the same mobile number during travel </label>
								</span>
							</div>
						</div>
					</div>

					<div ng-if="passengerCtrl.contactParms.mobileNo.visibility"
						class="col-md-6 col-sm-6 col-xs-12">
						<label> <span translate="lbl_passenger_mobileDuringTvl">Mobile
								No During Travel</span> <sup
							ng-if="passengerCtrl.contactParms.mobileNo.mandatory" class="red">
								*</sup>
						</label>
						<div>
							<isa-phone-number field-name="passengerCtrl.nameMobileTraveller"
								phone-required="passengerCtrl.validPhoneProvided()"
								phone-number="passengerCtrl.contact.mobileNoTravel"
								country-list="passengerCtrl.countryList"
								configs="passengerCtrl.phoneNumberConfigs"
								validate-with-list="!passengerCtrl.isValidCareerFor('JCA')">
							</isa-phone-number>

						</div>
					</div>

					<div class="clearfix"></div>

					<div ng-if=" passengerCtrl.contactParms.zipCode.visibility"
						class="col-md-6 col-sm-6 col-xs-12">
						<label> <span translate="lbl_common_zipCode">Zip
								Code</span> <sup ng-if="passengerCtrl.contactParms.zipCode.mandatory"
							class="red"> *</sup>
						</label>

						<div class="ibe-typeahead">
							<div isa-validator>
								<div>
									<input type="text" class="form-control" name="zipCode"
										ng-model="passengerCtrl.contact.address.zipCode">
								</div>
							</div>
						</div>
					</div>

					<div ng-if="passengerCtrl.contactParms.gender.visibility"
						class="col-md-6 col-sm-6 col-xs-12">
						<label> <span translate="lbl_common_gender">Gender</span>
							<sup ng-if="passengerCtrl.contactParms.gender.mandatory"
							class="red"> *</sup>
						</label>
						<div class="ibe-typeahead">
							<div isa-validator>
								<div>
									<input type="text" class="form-control" name="gender"
										ng-model="passengerCtrl.contact.gender">
								</div>
							</div>
						</div>
					</div>



					<div ng-if="passengerCtrl.contactParms.userNote.visibility"
						class="col-md-6 col-sm-6 col-xs-12">
						<label> <span translate="lbl_common_userNote">User
								Note</span> <sup ng-if="passengerCtrl.contactParms.userNote.mandatory"
							class="red"> *</sup>
						</label>
						<div class="ibe-typeahead">
							<div isa-validator>
								<div>
									<input type="text" class="form-control" name="userNote"
										ng-model="passengerCtrl.contact.userNote">
								</div>
							</div>
						</div>
					</div>

					<div ng-if=" passengerCtrl.contactParms.homeofficceNo.visibility"
						class="col-md-6 col-sm-6 col-xs-12">
						<label> <span translate="lbl_common_homeOffice">Home
								Office Number</span> <sup
							ng-if="passengerCtrl.contactParms.homeofficceNo.mandatory"
							class="red"> *</sup>
						</label>
						<div class="ibe-typeahead">
							<div isa-validator>
								<div>
									<input type="number" class="form-control" name="homeofficceNo"
										ng-model="passengerCtrl.contact.homeofficceNo">
								</div>
							</div>
						</div>
					</div>

					<div ng-if="passengerCtrl.contactParms.password.visibility"
						class="col-md-6 col-sm-6 col-xs-12">
						<label> <span translate="lbl_common_password">Password</span>
							<sup ng-if="passengerCtrl.contactParms.password.mandatory"
							class="red"> *</sup>
						</label>
						<div class="ibe-typeahead">
							<div isa-validator>
								<input type="text" class="form-control" name="password"
									ng-model="passengerCtrl.contact.password">
							</div>
						</div>
					</div>

					<div ng-if=" passengerCtrl.contactParms.languagePref.visibility"
						class="col-md-6 col-sm-6 col-xs-12">
						<label> <span translate="lbl_common_langPref">Language
								Preference</span> <sup
							ng-if="passengerCtrl.contactParms.languagePref.mandatory"
							class="red"> *</sup>
						</label>
						<div class="ibe-typeahead">
							<div isa-validator>
								<div>
									<input type="text" class="form-control" name="languagePref"
										ng-model="passengerCtrl.contact.languagePref">
								</div>
							</div>
						</div>
					</div>

					<div ng-if=" passengerCtrl.contactParms.fax.visibility"
						class="col-md-6 col-sm-6 col-xs-12">
						<label> <span translate="lbl_common_fax">Fax</span> <sup
							ng-if="passengerCtrl.contactParms.fax.mandatory" class="red">
								*</sup>
						</label>
						<div class="ibe-typeahead">
							<div isa-validator>
								<div>
									<input type="text" class="form-control" name="fax"
										ng-model="passengerCtrl.contact.fax">
								</div>
							</div>
						</div>
					</div>

					<div ng-if="passengerCtrl.contactParms.alternateEmail.visibility"
						class="col-md-6 col-sm-6 col-xs-12">
						<label> <span translate="lbl_common_altEmail">Alternative
								Email</span> <sup
							ng-if="passengerCtrl.contactParms.alternateEmail.mandatory"
							class="red"> *</sup>
						</label>
						<div class="ibe-typeahead">
							<div isa-validator>
								<div>
									<input type="email" class="form-control" name="alternateEmail"
										ng-model="passengerCtrl.contact.alternateEmail">
								</div>
							</div>
						</div>
					</div>

					<div
						ng-if=" passengerCtrl.contactParms.securityQuestion.visibility"
						class="col-md-6 col-sm-6 col-xs-12">
						<label> <span translate="lbl_common_secQues">Security
								Question</span> <sup
							ng-if="passengerCtrl.contactParms.securityQuestion.mandatory"
							class="red"> *</sup>
						</label>
						<div class="ibe-typeahead">
							<div isa-validator>
								<div>
									<input type="text" class="form-control" name="securityQuestion"
										ng-model="passengerCtrl.contact.securityQuestion">
								</div>
							</div>
						</div>
					</div>

					<div ng-if=" passengerCtrl.contactParms.loyaltyPref.visibility"
						class="col-md-6 col-sm-6 col-xs-12">
						<label> <span translate="lbl_common_loyalPref">Loyalty
								Preference</span> <sup
							ng-if="passengerCtrl.contactParms.loyaltyPref.mandatory"
							class="red"> *</sup>
						</label>
						<div class="ibe-typeahead">
							<div isa-validator>
								<div>
									<input type="text" class="form-control" name="loyaltyPref"
										ng-model="passengerCtrl.contact.loyaltyPref">
								</div>
							</div>
						</div>
					</div>

					<!--<div ng-if="passengerCtrl.contactParms.areaCode.visibility" class="col-md-6 col-sm-6 col-xs-12">
                        <label>
                            <span translate="lbl_common_areaCode">Area Code</span>
                            <sup ng-if="passengerCtrl.contactParms.areaCode.mandatory" class="red"> *</sup>
                        </label>
                        <div isa-validator>
                            <div class="ibe-typeahead">
                                <div>
                                    <input type="text" class="form-control" name="areaCode" ng-model="passengerCtrl.contact.areaCode" >
                                </div>
                            </div>
                        </div>
                    </div> -->

					<div ng-if="passengerCtrl.contactParms.promotionPref.visibility"
						class="col-md-6 col-sm-6 col-xs-12">
						<label> <span translate="lbl_common_promoPref">Promotion
								Prefs</span> <sup
							ng-if="passengerCtrl.contactParms.promotionPref.mandatory"
							class="red"> *</sup>
						</label>
						<div class="ibe-typeahead">
							<div isa-validator>
								<div>
									<input type="text" class="form-control" name="promotionPref"
										ng-model="passengerCtrl.contact.promotionPref">
								</div>
							</div>
						</div>
					</div>

					<div ng-if="passengerCtrl.contactParms.smsPref.visibility"
						class="col-md-6 col-sm-6 col-xs-12">
						<label> <span translate="lbl_common_smsPrefs">SMS
								Prefs</span> <sup ng-if="passengerCtrl.contactParms.smsPref.mandatory"
							class="red"> *</sup>
						</label>
						<div class="ibe-typeahead">
							<div isa-validator>
								<div>
									<input type="text" class="form-control" name="smsPref"
										ng-model="passengerCtrl.contact.smsPref">
								</div>
							</div>
						</div>
					</div>

					<div ng-if="passengerCtrl.contactParms.emailPref.visibility"
						class="col-md-6 col-sm-6 col-xs-12">
						<label> <span translate="lbl_common_emailPrefs">Email
								Prefs</span> <sup
							ng-if="passengerCtrl.contactParms.emailPref.mandatory"
							class="red"> *</sup>
						</label>
						<div class="ibe-typeahead">
							<div isa-validator>
								<div>
									<input type="email" class="form-control" name="emailPref"
										ng-model="passengerCtrl.contact.emailPref">
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="row email-promo-class">
					<div class="input-option align-input col-md-12 col-sm-12 col-xs-12" ng-if="passengerCtrl.applicationMode != 'nameChange'">
						<span class="checkbox send-promo-check">
							<input type="checkbox"
								   id="sendPromoEmail"
								   ng-model="passengerCtrl.sendPromoEmailChecked"
								   ng-click="passengerCtrl.sendPromoEmailChange()"
								   name="sendPromoEmail">

							<label for="sendPromoEmail" class="passenger-checkbox-desc">
								<span class="passenger-xs-text" translate="lbl_send_promo_email_passenger">
									As an Air Arabia passenger, we’ll send you updates about our special offers, holidays and inspiring news on flights and travel products. You may uncheck here if you choose not to receive these exciting updates.
								</span>

							</label>
						</span>
					</div>
                </div>
				<div class="row"
					ng-show="passengerCtrl.applicationMode !== 'changeContactInformation'">
					<div
						ng-if="!passengerCtrl.isLogin && passengerCtrl.isLoyaltyManagementEnabled"
						class="col-md-12 col-sm-12 col-xs-12">
						<div class="input-option">
							<span class="checkbox"> <input type="checkbox"
								id="registerUser" ng-model="passengerCtrl.isRegisterChecked"
								ng-click="passengerCtrl.registerCheckChange()"
								name="registerUser"> 
								<label for="registerUser"
								class="xs-register-user passenger-checkbox-desc"> <span
									class="passenger-xs-text" translate="lbl_passenger_register_1">I
										would to register for </span> <img id="pax-airewards-logo"
									src="images/airewards-logo.svg" class="Rewards-Logo"> <span
									class="passenger-xs-text" translate="lbl_passenger_register_2">,
										Air 's loyalty program.</span>
							</label>
							</span>
						</div>
					</div>
				</div>

				<div ng-if="passengerCtrl.isRegisterChecked"
					class="airewards-reg-from-div">

					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="ibe-typeahead">
								<label> <span translate="lbl_common_password">Select
										Password</span> <sup class="red"> *</sup>
								</label>
								<div>
									<div isa-validator>
										<input isaAttrPlaceholder placeholder-caption="Password"
											placeholder-symbol="*" is-visible="true"
											is-input-disabled="true" type="password" class="form-control"
											ng-model="passengerCtrl.contact.password" name="password">
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="ibe-typeahead"
								style="margin-bottom: 20px !important;">
								<label> <span translate="lbl_common_confirm_password">Confirm
										Password</span> <sup class="red">*</sup>
								</label>
								<div>
									<div isa-validator>
										<input isaAttrPlaceholder
											placeholder-caption="Confirm Password" placeholder-symbol="*"
											is-visible="true" is-input-disabled="true" type="password"
											class="form-control"
											ng-model="passengerCtrl.contact.confirmPassword"
											name="confirmPassword">
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">

						<!--                    <div class="col-sm-6 col-md-6 col-xs-12">
                                            <div class="data-input">
                                                <label translate="lbl_passenger_dob">Date of Birth<sup class="red">*</sup></label>
                                                <div>
                                                    <div class="ibe-jquery-date-picker" isa-validation-disabled="isNameChange" isa-validator >
                                                        <input ui-date="passengerCtrl.dateOptions"
                                                               name="airwardsDOB"
                                                               ng-model="passengerCtrl.airwards.dateOfBirth"
                                                               ng-change="passengerCtrl.onDobChange()"
                                                               class="form-control"
                                                               id="airewards-dob"
                                                               ui-date-fix/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->
						<div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
							<div class="ibe-typeahead data-input">
								<label translate="lbl_passenger_dob">Date of Birth<sup
									class="red">*</sup></label>
								<div
									class="pas-frm-datePicker ibe-jquery-date-picker xs-ibe-date-picker"
									ng-class="{'disable-dp-button': reg.isLmsMember}"
									isa-validation-disabled="isNameChange" isa-validator>
									<p class="input-group" style="display: block">
										<input ui-date="passengerCtrl.dateOptions" name="airwardsDOB"
											ng-model="passengerCtrl.airwards.dateOfBirth"
											ng-change="passengerCtrl.onDobChange()" class="form-control"
											id="airewards-dob" ui-date-fix />

									</p>
								</div>
							</div>
						</div>

						<div
							class="col col-lg-6 col-sm-6 col-md-6 col-xs-12 passenger-communicateLanguage-div">
							<div class="ibe-typeahead data-input">
								<label translate="lbl_passenger_communicateLanguage">Communication
									Language <sup class="red">*</sup>
								</label>
								<div>
									<div isa-validator class="ibe-drop-down">
										<div class="btn-group" uib-keyboard-nav uib-dropdown
											ng-model="passengerCtrl.airwards.language" name="language">
											<button id="language-button" type="button"
												class="btn btn-primary" uib-dropdown-toggle>
												<span class="dp-caption">
													{{passengerCtrl.airwards.language| listFilter:
													passengerCtrl.languageList : 'languageCode' : 'language'}}
													&nbsp;</span> <span class="fa fa-angle-down"></span>
											</button>
											<ul class="uib-dropdown-menu" role="menu"
												aria-labelledby="single-button">
												<li ng-repeat="language in passengerCtrl.languageList"
													ng-click="passengerCtrl.onLanguageChange(language)"
													role="menuitem"><a href="javascript:;">{{language.language||
														''}}&nbsp;</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>


					</div>
					<!--                <div class="row">
                        <div class="col col-lg-6 col-sm-6 col-md-6 col-xs-12">
                            <div class="data-input">
                                <label translate="lbl_passenger_communicateLanguage">Communication Language <sup class="red">*</sup> </label>

                                <div>
                                    <div isa-validator class="ibe-drop-down">
                                        <div class="btn-group" uib-keyboard-nav uib-dropdown
                                             ng-model="passengerCtrl.airwards.language"
                                             name="language">
                                            <button id="language-button"
                                                    type="button" class="btn btn-primary"
                                                    uib-dropdown-toggle>
                                                <span class="dp-caption">
                                                     {{passengerCtrl.airwards.language| listFilter: passengerCtrl.languageList : 'languageCode' : 'language'}}
                                                    &nbsp;</span>
                                                <span class="fa fa-angle-down"></span>
                                            </button>
                                            <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                                                <li ng-repeat="language in passengerCtrl.languageList"
                                                    ng-click="passengerCtrl.onLanguageChange(language)"
                                                    role="menuitem">
                                                    <a href="javascript:;">{{language.language|| ''}}&nbsp;</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>-->

					<div class="row">
						<div class="col col-sm-6 col-md-6 col-xs-12">
							<div class="data-input">
								<label translate="lbl_passenger_passportNumber">Passport
									Number</label>
								<div>
									<div class="ibe-typeahead">
										<div>
											<input type="text" class="form-control"
												ng-model="passengerCtrl.airwards.passportNum">
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="row">

						<div class="col col-sm-6 col-md-6 col-xs-12">
							<div class="data-input">
								<label translate="lbl_passenger_refMemEmail">Referring
									Member Email</label>
								<div>
									<div class="ibe-typeahead">
										<div isa-validator>
											<input type="email" name="refEmail" class="form-control"
												ng-model="passengerCtrl.airwards.refferedEmail"
												ng-trim="true">
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col col-sm-6 col-md-6 col-xs-12 txt-col">
							<span translate="lbl_passenger_refMemEmailDesc" class="help-txt">If
								you were referred by another member, please enter their email
								address</span>
						</div>

					</div>

					<div class="row">

						<div class="col col-sm-6 col-md-6 col-xs-12">
							<div class="data-input">
								<label translate="lbl_passenger_familyHeadMail">Family
									Heads Email <sup ng-show="passengerCtrl.isFamilyEmailRequired"
									class="red">*</sup>
								</label>
								<div class="ibe-typeahead">
									<div isa-validator>
										<div>
											<input type="email" name="familyEmail" class="form-control"
												ng-model="passengerCtrl.airwards.headOFEmailId"
												valdr-enabled="passengerCtrl.isFamilyEmailRequired"
												ng-trim="true">
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col col-sm-6 col-md-6 col-xs-12 sm-txt-col">
							<span translate="lbl_passenger_familyHeadMailDesc"
								class="help-txt">If you are or would like to be a part of
								a family account, please enter the email address of the family
								head that will receive your points.</span>
						</div>

					</div>

				</div>

                
				<div class="row">
					<div class="">
						<div class="form-footer sm-pass-footer"
							ng-if="passengerCtrl.applicationMode !== 'changeContactInformation'">
							<div class="col-md-4 col-sm-4 col-xs-4 hidden-xs pull-right">
								<button ng-if="passengerCtrl.appConfigs.showExtras"
									class="button red-btn" type="submit"
									translate="lbl_common_continueExtra">Continue to
									Extras</button>
								<button ng-if="!passengerCtrl.appConfigs.showExtras"
									class="button red-btn" type="submit"
									translate="lbl_common_continuePayment">Continue to
									Payments</button>
							</div>
							<div
								class="hidden-lg hidden-md hidden-sm col-xs-12 btn-continu-bottom">
								<button ng-if="passengerCtrl.appConfigs.showExtras"
									class="button red-btn xs-continue Continue-to-Extras"
									type="submit" translate="lbl_common_continueExtra">Continue
									to Extras</button>
								<button ng-if="!passengerCtrl.appConfigs.showExtras"
									class="button red-btn" type="submit"
									translate="lbl_common_continuePayment">Continue to
									Payments</button>
							</div>
						</div>
						<div class="form-footer"
							ng-if="passengerCtrl.applicationMode === 'changeContactInformation'">
							<div class="col-md-4 col-sm-4 col-xs-6 pull-left">
								<div class="button red-btn"
									ng-click="passengerCtrl.backToModifyReservation()">Back</div>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-6 pd-rt-0 pull-right">
								<button class="button red-btn" type="submit"
									translate="lbl_common_done">Done</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- // Contact Information -->

		<!--<isa-back-button/>-->
	</section>
	<!-- // Content Body -->
</div>
<!-- // Page Wrapper -->

<script>
	// Remove the JQuery DatePickers function that checks the offset
	// Date picker always shows from the bottom
	$.extend($.datepicker, {
		_checkOffset : function(inst, offset, isFixed) {
			return offset
		}
	});
</script>