hrmlSrt +='<tr><td align="left">'+
						'<table width="95%" border="0" cellpadding="1" cellspacing="1" align="center"><tr>'+
								'<td width="5%" class="gridHD" align="center"><label class="gridHDFont fntBold">&nbsp;</label></td>'+
								'<td width="40%" class="gridHD" align="center"><label class="gridHDFont fntBold" id="lblSeatPaxNameHD">'+UI_Container.labels.lblSeatPaxNameHD+'</label></td>'+
								'<td width="20%" class="gridHD" align="center"><label class="gridHDFont fntBold" id="lblSeatNumberHD">'+UI_Container.labels.lblSeatNumberHD+'</label></td>'+
								'<td width="20%" class="gridHD" align="center"><label class="gridHDFont fntBold" id="lblSeatPriceHD">'+UI_Container.labels.lblSeatPriceHD+'</label></td>'+
								'<td width="20%" class="gridHD" align="center"><label class="gridHDFont fntBold">&nbsp;</label></td>'+
							'</tr><tr id="seatPaxTemplate">'+
								'<td class="defaultRowGap rowColor bdLeft bdBottom bdRight" align="center"><input type="radio" id="radSeatPax" name="radSeatPax"></td>'+
								'<td class="rowColor bdRight bdBottom"><label name="paxName"></label></td>'+
								'<td class="rowColor bdRight bdBottom" align="center"><label name="seatNo"></label></td>'+
								'<td class="rowColor bdRight bdBottom" align="center"><label name="seatCharge"></label></td>'+
								'<td class="rowColor bdRight bdBottom" align="center"><span name="clear"></span></td>'+
							'</tr><tr id="socialSeating">'+ // TODO: configurable
								'<td width="50%" class="gridHD" align="center"> <input type="button" id="btnSocialMedia" name="btnSocialMedia" value="To find frineds log with Facebook" /></td>'+
							'</tr>' +
							'<tr id="socialSeatingUserInfo">'+
								'<td> <div id="user-info"></div> </td>'+
							'</tr>' +
							'<tr id="socialSeatingFriends">'+
								'<td> <div id="friendsIds" ></div> </td>'+ //style="display:none"
								'<td> <div id="mutualFriends" ></div> </td>'+
							'</tr></table>'+
				'</td></tr>';