Body {
	background : #FFFFFF;
	margin :0px 0px 0px 0px;
}
.pageBody{
	background : #FFFFFF;
}
A:link
{
    COLOR: #134373;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #134373;
    TEXT-DECORATION: none
}
.outLineBoarder{
	height:0px;
}
.outLine{
	border-color: #D2D3D3 #D2D3D3 #D2D3D3 #D2D3D3;
	border-style: solid solid solid solid;
	background-color: #FFFFFF;
	width:775px;
	border:1px;
}
.BannerTopLine{
	background-color:#F63F4C;
}
.BannerBackGround{
	background-color:#ECECEC;
}
.BannerBorderLeft
{
	background-image: url(../images/left_shadow_no_cache.gif);
	}
.BannerBorderRight
{
	background-image: url(../images/right_shadow_no_cache.gif);
	}
.bottomColor{
	background-color: #626262;
	height:50px;
}
.PageBorder
{
	background-color:#fafafa;
	}
.PageBackGround
{
	background-color:#ffffff;
	}
.PageBottomColor
{
	background-color:#BE2539;
	}	
	
.PageBottomColorlogin
{
	background-color:#A8A8A8;
	}
font{
	font-family:Arial,Helvetica;
	font-size:11px;
	left:auto;
	color: #5856A7; 
}
fontArabic{
	font-family:Arial,Helvetica;
	font-size:13px;
	left:auto;
	color: black; 
}	
.fontPGInfo{
	font-family:Arial,Helvetica;
	font-size:11px;
	left:auto;
	color: white; 
}
.fontPGInfoArabic{
	font-family:Arial,Helvetica;
	font-size:13px;
	left:auto;
	color: white; 
}
.fntArabic{
	font-size:15px;
	font-family: verdana;
}
.fntEnglish{
	font-family: Arial,Helvetica;
	cursor:default;
}
.fntCVV{
	font-size:11px;
	font-family: Arial,Helvetica;
}
.fntWeek{
	font-size:11px;

}
.fntArabicTotal{
	font-family: Arial,Helvetica;
}
.setHeight{
	height:18px;
}

.tinySpace{
	height:5px;
}

.fntBold{
	font-weight:bold;
}
.fntWhite{
	color:#FFFFFF;
}
.fntDefaultWhite{
	color:white;
}
.fntRed{
	color:#2F2E7A;	
}
.fntGreen{
	color:#00B900;	
}
.fntBlack{
	color:#2F2E7A;
}
.fntLink{
	color:blue;
}
.fntSmall{
	font-size:9px;
}
.fntSmallArabic{
	font-size:13px;
}
.fntExSmall{
	font-size:8px;
}
.fntExSmallArabic{
	font-size:10px;
}
.fntTiny{
	font-size:5px;
}
.fntTinyArabic{
	font-size:7px;
}
.fntLarge{
	font-size: 17px;
}
.fntExLarge{
	font-size: 22px;
}
.fntDefault{
	font-family:Arial,Helvetica;
	font-size:11px;
	left:auto;
	color: black; 
}
.fntDefaultArabic{
	font-family:Arial,Helvetica;
	font-size:13px;
	left:auto;
	color: black; 
}
.fntMenu{
	font-family:Arial,Helvetica;
	font-size:11px;
	left:auto;
	color: black; 
}
.Header{
	font-family:Arial;
	font-size:11pt;
	text-align:left;
	left:auto;
	text-transform: capitalize;
	color: #D11F1F; 
	font-weight: bold;
}

.SubLink{
	text-align:left;
	left:auto;
	color: #6E6E6E;
	font-weight: bold;
	cursor: text; 
}
.SubLinkSelected{
	background-color:#FFBBBB;
	left:auto;
	color: black; 
	font-weight: bold;
}
.FormHeadBackGround{
	background-color:#F63F4C;
}
.FormBackGround{
	background-color:#ECECEC;
}
.FormHeader{
	left:auto;
	color: #FFFFFF;
	font-weight: bold;
}

select
{
	font-family: Arial,Helvetica;
	font-size: 11px;
	height: 19px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
	
input
{
	font-family: Arial,Helvetica;
	font-size: 11px;
	height: 19px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
	
.clsInput{
	font-family: Arial,Helvetica;
	font-size: 11px;
	height: 19px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
}
.NoBorder
{
	font-family: Arial,Helvetica;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: Transparent;
	border-color:Transparent;
	border-style:none;
	}		
.LineColor
{
	color:#C30000;
	}	
.Button
{
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color:white;
	background-image: url(../images/n020_no_cache.gif);  /* lt2 */
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 25px;
	width:74px;
	cursor:pointer;
	background-repeat:no-repeat;
	padding-bottom:5px;
	}

.Buttonlog
{
	border:1px solid #B2B2B2; font-family:tahoma;
	font-size:11px;
	text-align:center;
	text-transform: capitalize;
	font-weight: bold;
	color: Black;
	background-image: url('../images/AA111_no_cache.jpg');
	height: 23px;
	width:74px;
	cursor:hand
	}
.ButtonDefault{
	background-image: url(../images/n020_no_cache.gif);  /* lt2 */
	width:74px;
	cursor:pointer;
	background-repeat:no-repeat;
}
.ButtonDefaultDisable{
	background-image: url(../images/n021_no_cache.jpg);  /* lt2 */
	width:74px;
	cursor:default;
	background-repeat:no-repeat;
}
.ButtonMedium{
	background-image: url(../images/n022_no_cache.gif);  /* lt2 */
	width:104px;
	cursor:pointer;
}
.ButtonMediumDisable{
	background-image: url(../images/n023_no_cache.jpg);  /* lt2 */
	width:104px;
	cursor:default;
}
.ButtonLarge{
	background-image: url(../images/n045_no_cache.gif);
	width:173px;
	cursor:pointer;
}
.ButtonLargeDisable{
	background-image: url(../images/n046_no_cache.jpg);
	width:173px;
	cursor:default;
}

.ButtonHighlight
{
	color: white;
	background-image: url(../images/AA_002_no_cache.jpg);
	}
.GridHeader
{
	background-color:#646488;
	height:20px;
	}		
.GridHeaderHighlight{
	background-color:#646488;
	height:20px;
	}
	
.Grid
{
	background-color:white;
	border-color:#2F2E7A;
}
.GridTable
{
	background-color:#2F2E7A;
	border-color:#2F2E7A;
}

.GridAlert
{
	background-color:#FFFF99;
	border-color:#2F2E7A;
}
.GridItems
{
	background-color:#EDEDED;
	height:20px;
	}
.GridHighlight
{
	background-color:#B6B6B6;
	height:20px;
	}
.GridDblHighlight{
	height:30px;
}
.ItineraryHeader
{
	background-color:#D4D0C8;
	height:20px;
}
.ItineraryGridItems{
	background-color:#F4F4F4;
	height:20px;
	text-transform: capitalize;
}
.FareGridBorder{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	}
.FareInidBorder{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	}
.Dots{
	background-image: url(../images/Dot_no_cache.gif);
	height:20px;
}
.NoFaresBGColor
{
	background-color:#F4F4F4;
	}	
.FaresDaysBGColor
{
	background-color:white;
	}
.FaresMonthBGColor
{
	background-color:#C4C4C4;
	}
.FareBGColor
{
	background-color:white;
}
.Mandatory{
	color: red;
}
.SeperateorBGColor{
	background-color: #EBEBF7;
}
.rightText{
	text-align: right;
}
.itneraryBorder{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
}
.itneraryBGColor
{
	background-color:#C4C4C4;
	}
.pageBreak{
	page-break-after: always	
}
.fontCapitalize{
	text-transform: capitalize;
}

.PageBottomShadow
{
	background-color:#9D9D9D;
	}	

.StatsBarDef
{
	background-color:#A8A8A8;
	border: none;
	height:20px;
	}	
.clsSelect
{
	font-family: Arial,Helvetica;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
.errorControl{
	background-color:#FEFFAF;
	}
.sperateorBar{
	height:5px;
	}
.setHeight{
	height:10px;
}
UL
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 4px;
}
LI
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 0px;
}
#content .postimagecenter
{
    MARGIN: 10px;
    TEXT-ALIGN: center
}

#content H1
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: bottom;
    COLOR: #000000;
    PADDING-TOP: 0px
}
.contentBGcolor{
	background-color:#FFCCCC;
}
.contentAltercolor{
	background-color:#FFCCCC;
}
.FareGridBorderWhite{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	background-color:white;
	}

.FareGridBorder01{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	background-color:#E3E3F5;
	}
	
.FareGridBorder02{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	background-color:#CFCFF4;
	}	
	
.FareGridBorder03{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	background-color:#BDBDF4;
	}	
	
.FareGridBorder04{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	background-color:#AAAAEF;
	}
	
.FareGridBorder05{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	background-color:#9C9CD5;
	}
.fontExp{
	font-family:Arial,Helvetica;
	font-size:11px;
	left:auto;
	color: red; 
}
.spMsg{
	background-color:#ffffcf;
	border:1px solid;
	border-color:#F3F376; 
}
.fntBoldAndRed{
	font-weight:bold;
	color:red;
}
fontHolidays{
	font-family:Arial,Helvetica;
	font-size:12px;
	left:auto;
	color: black; 
}

.outLine{
	width:940px;
	border:0px;
}
.bannerClass{
	height:96px;
	width:940px;
	valign:top;
	align:center; 
	background-repeat:no-repeat;
	background-position:top center;
}

.fareSelSidePanel{
   width:260px;  /* lt2 */
   align:center; 
}
.calGridWidth{
	width:100%; 
}
 .rowGap{
	height:10px;
 }
  .rowSingleGap{
	height:5px;
 }
 .tblBG
{
	background-image:url(../images/n001_no_cache.jpg);
	background-repeat:repeat-x;
	}
 .tblBGT
{
	background-image:url(../images/n018_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:8px;
	}
	.tblBGBTM
{
	background-image:url(../images/n018B_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:8px;
	}
	
	
.tblBGBTML
{
	background-image:url(../images/n017BL_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:8px;
	}
 .tblBGTR
{
	background-image:url(../images/n017_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	width:8px;
	height:8px;
	}
	
.tblBGTMR
{
	background-image:url(../images/n017BR_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	width:8px;
	height:8px;
	}
	
	.tblBGTL
{
	background-image:url(../images/n017TL_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	width:8px;
	height:8px;
	}
 .tblBGB
{
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat;
	background-position:top;
	}

.bannerBG{
	background-color:#66668A;
 }
 
 .tblBGBLEFT{
	background-image:url(../images/n028_no_cache.jpg);
	background-repeat:repeat-y;
	background-position:left;
	width:8px;
}

.tblBGBRIGHT{
	background-image:url(../images/n029_no_cache.jpg);
	background-repeat:repeat-y;
	background-position:right;
	width:8px;
}

.powerdBy{
	background-image:url(../images/n024_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:bottom;
}

.pTopL{
	background-image:url(../images/n025_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:27px;
	width:8px;
}
.pTopM{
	background-image:url(../images/n026_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:27px;
	
}
.pTopR{
	background-image:url(../images/n027_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:27px;
	width:8px;
}
.pMidL{
	background-image:url(../images/n028_no_cache.jpg);
	background-repeat:repeat-y;
	background-position:left;
	width:8px;
}
.pMidM{
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat;
	background-position:top;
}
.pMidR{
	background-image:url(../images/n029_no_cache.jpg);
	background-repeat:repeat-y;
	background-position:right;
	width:8px;
}

.pBotL{
	background-image:url(../images/n017BL_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:8px;
	width:8px;
}
.pBotM{
	background-image:url(../images/n018B_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:8px;
	width:95%;
}
.pBotR{
	background-image:url(../images/n017BR_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:8px;
	width:8px;
}

.thinBorderT{border-top: 1px solid #2F2E7A;}
.thinBorderB{border-bottom: 1px solid #2F2E7A;}
.thinBorderL{border-left: 1px solid #2F2E7A;}
.thinBorderR{border-right: 1px solid #2F2E7A;}

 .disableNavFont{
	color:#DFDFDF;
	font-size: 12px;
	cursor:default;
 }
.ButtonAncilary{
	background-image: url(../images/n200_no_cache.gif);
	width:174px;
	height:28;
	cursor:pointer;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: #5A5959;
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	background-repeat:no-repeat;
}
.fntLargePnr{
	font-size: 14px;
	cursor:text;
	}
.btnAuxButton
{
	font-family:Verdana,Arial,Helvetica,sans-serif;;
	font-size:9px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: red;
	background-color:transparent;
	background-image: url(../images/n061_no_cache.gif);  /* lt2 */
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 25px;
	width:133px;
	cursor:pointer;
	background-repeat:no-repeat;
	padding-bottom:4px;
	padding-left:0px;
	}
	
.AuxButtonDisable{
	background-image: url(../images/n056_no_cache.gif);  /* lt2 */
	width:133px;
	cursor:default;
	background-color:transparent;
	background-repeat:no-repeat;
	color: gray;
	cursor:crosshair;
}

.btnAuxSrv
{
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: #5A5A5A;
	background-color:transparent;
	background-image: url(../images/n056meal_no_cache.gif); 
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 25px;
	width:154px;
	cursor:pointer;
	background-repeat:no-repeat;
	}
.btnPointer{
	cursor:pointer;
}

.cursorPointer{
	cursor:pointer;
}
.tabSltd{
	background-image:url(../images/n052_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:27px;
}
.tabUnSltd{
	background-image:url(../images/n053_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:27px;
}
.pTopDM{
	background-image:url(../images/n048_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:27px;
}
.pTopDR{
	background-image:url(../images/n047_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:27px;
	width:11px;
}
.logUserBG{
	background-image:url(../images/n050_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:34px;
}

.Gridwt
{
	background-color:#EDEDED;
	height:20px;
	}	
	
.progressBG{
	background-image:url(../images/nProgress_no_cache.jpg);
	background-repeat:repeat-x;
	height:34px;
	}
	
.hdFont{
	font-family:Arial,Helvetica;
	font-size:13px;
	color: #5856A7;
 }
 
 .GridLightRow{
	background-color:#EDEDED; /* lt2 */
}

 .navFont{
	font-size:12px;
	vertical-align: middle;
 }
 
 .fntFareDesc{
 	color: #FFFFFF;
 }
 
 .SeperateorBGAlt{
 background-color: #E9E5E5;
 }
 
 .rowDataHeight{
 		height:25px;
 }
 
 .btnCredit{
	background-image: url(../images/n022C_no_cache.jpg);  /* lt2 */
	width:104px;
	cursor:pointer;
}

.btnCDisable{
	background-image: url(../images/n021_no_cache.jpg);  /* lt2 */
	width:104px;
	cursor:default;
}

.ButtonCreditLarge{
	background-image: url(../images/n045C_no_cache.jpg);
	width:173px;
	cursor:pointer;
}

.btnCLargeDisable{
	background-image: url(../images/n046D_no_cache.jpg);
	width:173px;
	cursor:default;
}