<div ng-controller="insuranceController as insurance">
    <!-- Extra header -->
    <div scroll-top>
        <!-- Content header -->
        <div class="extras-header content-wrapper">
            <section class="content-header">

                <div class="page-title col-md-8 col-sm-8 col-xs-12 insurance-header">
                    <!-- Page Title -->
                    <h1>
                        <span class="hidden-xs"translate="title_extra_selectIns">Select Insurance for your trip</span>
                        <!--<a href="" ng-click="insurance.skipServices()" class="skip" translate="btn_extra_skipIns">Skip Insurance Selection</a>-->
                        <p class="description" translate="msg_extra_insDesc">Traveling is fun and it's more fun when you travel with a peace of mind.</p>
                    </h1><!-- // Page Title -->
                </div>

                <div class="btn-wrap col-md-4 col-sm-4  pull-right hidden-xs">
                    <span ng-click="insurance.backToExtras()" class="button red-btn" translate="lbl_common_continue">Continue</span>
                </div>
            </section><!-- // Content header -->
        </div>
    </div><!-- // Extra header -->

    <!-- Page Wrapper -->
    <div class="content-wrapper extras-container insurance">


        <!-- Content Body -->
        <section class="content-body">

            <!-- Row -->
            <div>

                <!-- Extras Content -->
                <div class="extras-content insurance col-md-12 col-sm-12 col-xs-12 select-meals">
                    <div isaoptionlist option-click="insurance.onInsuranceChange(id,groupData)"
                         source="insurance.model.allInsurancePolicies" 
                         insurance-amount="insurance.insuranceFinalAmount"
                         template="insurance" on-end="insurance.onEnd(planName)"></div>

                </div><!-- // Extras Content -->

            </div><!-- // Row -->


            <!-- Modal Box -->
            <div class="modal-box" ng-show="insurance.model.isPopupOpen">
                <!-- Overlay -->
                <div class="overlay" id="insurance-overlay"></div><!-- // Overlay -->

                <!-- Modal Content -->
                <div class="modal-content" id="insurance-modal-popup">
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <div class="modal-data" ng-bind-html="insurance.popUpData.thingsCovered">

                        </div>
                        <div class="modal-confirm">
                            <h3 translate="msg_extra_finalSel">Please make your final selection</h3>
                        </div>

                    </div><!-- // Modal Body -->

                    <!-- Modal Footer -->
                    <div class="modal-footer">

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button class="button gray-btn" type="button"
                                        ng-click="insurance.removeInsurance(insurance.model.changedPolicyId)" translate="msg_extra_noNeedIns">No I don't want Insurance
                                </button>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button class="button red-btn" type="button"
                                        ng-click="insurance.getInsurance(insurance.model.nextPolicyId,insurance.model.changedPolicyId)" translate="msg_extra_needIns">Yes! I Need Insurance
                                </button>
                            </div>
                        </div>
                    </div><!-- // Modal Footer -->
                </div><!-- // Modal Content -->
            </div><!-- // Modal Box -->
        </section><!-- // Content Body -->

        <!-- Content Footer -->
        <div class="content-footer extras-footer">
            <div class="row">
                <div class="btn-continu-bottom btn-wrap col-md-4 col-sm-4 col-xs-12 pull-right insurance-btn-bottom">
                    <span ng-click="insurance.backToExtras()" class="button red-btn" translate="lbl_common_continue">Continue</span>
                </div>
            </div>
        </div><!-- // Content Footer -->
    </div><!-- // Page Wrapper -->

    <div class="row" ng-if="insurance.appMode == 'modifyAnci' || insurance.appMode == 'modify_segment'">
        <a href="" class="col-md-4 submit-link pull-left" ng-click="insurance.backToHome()" ng-if="insurance.appMode == 'modify_segment'">
            <i>&#xf053;</i>
            <span translate="lbl_common_back">Back</span>
        </a>

        <a href="" class="col-md-4 center submit-link pull-left" ng-class="{'text-right': insurance.appMode == 'modify_segment'}" ng-click="insurance.backToHome()">
            <i>&#xf021;</i>
            <span translate="btn_common_startOver">Start Over</span>
        </a>
    </div>
    
</div>
