<!-- Page Wrapper -->
<div ng-controller="passengerController as passengerCtrl">
    <div ng-if="deviceType.isMobileDevice"  class="content-wrapper modify-search extra-modify-search" >
        <section class="content-header" ui-view="modifySearch"></section>  
    </div>
</div>
<!-- Page Wrapper -->
<div class="content-wrapper extra-content-wrapper" ng-class="{'xs-margin-bottom-extras': extras.appMode == 'modify_segment'}" ng-controller="extrasController as extras" >


    <!-- Content Body -->
    <section class="content-body">{{extrasController.defaultSelection}}
        <!-- Content header -->
        <section class="xs-section-header content-header">

            <!-- Page Title -->
            <div class="page-title hidden-sm hidden-xs col-md-8">
                <h1 class="xs-addonheader-text page-title">
                    <span translate="lbl_extras_title">Select extras for your trip</span>
                </h1><!-- // Page Title -->
            </div>
            <div class="page-title hidden-md hidden-lg hidden-xs col-sm-8" style="padding-left: 0 !important;">
                <h1 class="" style="padding-left: 0 !important; font-size:20px;">
                    <span translate="lbl_extras_title">Select extras for your trip</span>
                </h1><!-- // Page Title -->
            </div>

<!--            <div class="btn-wrap col-md-4 col-sm-4 col-xs-12">
                <span ng-show="extras.anciOptions && extras.anciOptions.length > 3" ng-click="extras.continueToPayment()" class="button red-btn" translate="btn_extra_contPaymnt">Continue to Payment</span>
            </div>-->
        <div class="col-md-4 col-sm-4 col-xs-12 extras-button" ng-if="!deviceType.isMobileDevice">
                <span ng-click="extras.continueToPayment()" class="button red-btn" translate="btn_extra_contPaymnt">Continue to Payment</span>
            </div>

        </section><!-- // Content header -->
        <!-- Row -->
        <div class="xs-extra-container-row">

            <!-- Extras Content -->
            <div class="extras-content select-extras col-md-8 col-sm-8 col-xs-12 extras-main pd-0" >

                <isa-busy-loader ng-hide="extras.contentLoaded"></isa-busy-loader>

                <div isaoptionlist class="extras-option-list" option-click="extras.loadModifyOptions(id)" source="extras.anciOptions" template="extras" dropdown-source="extras.indivExtrasTotal" widget-data = "extras.accumulatedTotal(type)">
                </div>
                <!-- Thumb Block -->

            </div><!-- // Extras Content -->

            <!-- Sidebar -->
            <div class="sidebar col-md-4 col-sm-4 col-xs-12">

                <!-- Widget -->
                <!--<div class="sidebar-widget" isaradiooptionlist source="extras.ancillariesPreferance" set-option="extras.showExtrasTotal" select-option="extras.nextSector(index,section)" level="1" type="default" header-value="" >-->

                <!-- Widget Header -->
                <!--</div>--><!-- // Widget -->
            </div><!-- // Sidebar -->
        </div><!-- // Row -->

    </section><!-- // Content Body -->

    <!-- Content Footer -->
    <div class="content-footer extras-footer col-xs-12" id="extras-footer">
        <div class="row">
            <div ng-if="!deviceType.isMobileDevice" class="btn-wrap col-md-4 col-sm-4 pd-l-3 col-xs-12 pull-right extras-button">
                <span ng-click="extras.continueToPayment()" class="button red-btn" translate="btn_extra_contPaymnt">Continue to Payment</span>
            </div>
             <div ng-if="deviceType.isMobileDevice" class=" btn-wrap col-md-4 col-sm-4  col-xs-12 pull-right" >
                <span ng-click="extras.continueToPayment()" class="button red-btn" translate="btn_extra_contPaymnt">Continue to Payment</span>
            </div>
        </div>
    </div><!-- // Content Footer -->

    <!-- <div class="row" ng-if="extras.appMode == 'modifyAnci' || extras.appMode == 'modify_segment'">
            <a href="" class="col-md-4 col-sm-4 col-xs-6 submit-link pull-left" ng-click="extras.goBack()" ng-if="extras.appMode == 'modify_segment'">
                    <i  >&#xf053;</i>
                    Back
            </a>

            <a href="" class="col-md-4 col-sm-4 col-xs-6 center submit-link pull-left" ng-class="{'text-center': extras.appMode == 'modify_segment'}"
               ng-click="extras.backToHome()">
                    <i>&#xf021;</i>
                    Start Over
            </a>
    </div> -->
    <div class="row xs-modify-actions-extras" ng-if="extras.appMode == 'modifyAnci' || extras.appMode == 'modify_segment'">
        <div ng-if="extras.appMode == 'modify_segment'">
            <a  class="col-md-4 col-sm-6 col-xs-6 submit-link pull-left" ng-click="extras.goBack()">
                <i  class="backClass fa fa-angle-left"></i> 
                <span translate="lbl_common_back">Back</span>
            </a>
              

            <a href=""  class="col-md-4 col-sm-6 col-xs-6 center submit-link text-right" 
               ng-class="{'text-right': extras.appMode == 'modify_segment'}" 
               ng-click="extras.backToHome()">
                <i>&#xf021;</i>
                <span translate="btn_common_startOver">Start Over</span>
            </a>
        </div>
        <div ng-if="extras.appMode != 'modify_segment'" style="text-align: center;">
            <a href="" class="col-md-4 col-sm-12 col-xs-12 center submit-link" ng-class="{'text-center': extras.appMode == 'modify_segment'}" 
               ng-click="extras.backToHome()">
                <i>&#xf021;</i>
                <span translate="btn_common_startOver">Start Over</span>
            </a>
        </div>
    </div>

</div><!-- // Page Wrapper -->
