
<div ng-controller="extrasAirportServicesController as servicesCtrl">
    <!-- Extra header -->
    <div scroll-top>
        <!-- Content header -->
        <div class="extras-header content-wrapper" ng-if="deviceType.isSmallDevice || deviceType.isLargeDevice">
            <section class="content-header">

                <div class="page-title col-md-8 col-sm-8 col-xs-12 extras-page-title">
                    <!-- Page Title -->
                    <h1>
                        <span translate="lbl_extra_selectService">Select Airport Services</span>
                        <a href="" class="skip hidden-xs" ng-click="servicesCtrl.skipServices()" translate="btn_extra_skip">Skip Services Selection</a>
                    </h1><!-- // Page Title -->
                </div>
                <div class="page-title hidden-md hidden-sm hidden-lg col-xs-12">
                    <h1>
                        <a href="" class="extras-page-sub-title" ng-click="servicesCtrl.skipServices()" translate="btn_extra_skip">Skip Services Selection</a>
                    </h1><!-- // Page Title -->
                </div>

                <div class="btn-wrap col-md-4 col-sm-4 hidden-xs pull-right">
                    <span ng-click="servicesCtrl.backToExtras()" class="button red-btn" translate="lbl_common_continue">Continue</span>
                </div>
                <div class="hidden-sm hidden-md hidden-lg col-xs-12" style="padding-left: 0; padding-right: 0; padding-top:12px;">
                    <span ng-click="servicesCtrl.backToExtras()" class="button red-btn" translate="lbl_common_continue">Continue</span>
                </div>
            </section><!-- // Content header -->
        </div>
    </div><!-- // Extra header -->

    <!-- Page Wrapper -->
    <div class="content-wrapper extras-container">
        <!-- Content Body -->
        <section class="content-body">
            <!-- Row -->
            <div class="hidden-xs" ng-if="deviceType.isSmallDevice || deviceType.isLargeDevice">

                <!-- Extras Content -->
                <div class="extras-content select-sevices col-md-8 col-sm-8 col-xs-12 select-meals" >

                    <!-- Content Sub Title -->
                    <div class="sub-title hidden-xs">
                        <h2>
                            <span ng-if="servicesCtrl.airportNames.point === 'ARRIVAL'" translate="lbl_common_arrival">Arrival</span>
                            <span ng-if="servicesCtrl.airportNames.point === 'DEPARTURE'" translate="lbl_common_departure">Departure</span>

                            <span ng-if="servicesCtrl.airportNames.point === 'DEPARTURE'" translate="msg_common_from" style="padding : 0 5px 0 5px;"> from </span>
                            <span ng-if="servicesCtrl.airportNames.point === 'ARRIVAL'" translate="msg_common_to" style="padding : 0 5px 0 5px;"> to </span>
                            <span class="truncate">{{servicesCtrl.airportNames.departureAirportName}} </span>
                            <i ng-if="servicesCtrl.airportNames.arrivalAirportName" translate="msg_common_to" style="padding : 0 5px 0 5px;">to</i>
                            <span ng-if="servicesCtrl.airportNames.arrivalAirportName" class="truncate">{{servicesCtrl.airportNames.arrivalAirportName}}</span>

                            <!--<span class="ico">
                                <span class="icon-inbound-plane-small">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </span>
                            </span>-->

                        </h2>

                        <a href="" ng-show="servicesCtrl.servicesPreference.scopes[0].preferences.length > 1">
                            <span ng-click="servicesCtrl.nextSector()" translate="lbl_extra_nextSector">Go To Next Sector</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                    <!--                 <div class="sub-title hidden-sm hidden-md hidden-lg"> -->
                    <!--                     <p> -->
                    <!--                         <span ng-if="servicesCtrl.airportNames.point === 'ARRIVAL'" translate="lbl_common_arrival">Arrival</span> -->
                    <!--                         <span ng-if="servicesCtrl.airportNames.point === 'DEPARTURE'" translate="lbl_common_departure">Departure</span> -->

                    <!--                         <span ng-if="servicesCtrl.airportNames.point === 'DEPARTURE'" translate="msg_common_from"> from </span> -->
                    <!--                         <span ng-if="servicesCtrl.airportNames.point === 'ARRIVAL'" translate="msg_common_to"> to </span> -->
                    <!--                         <span class="truncate">{{servicesCtrl.airportNames.departureAirportName}} </span> -->
                    <!--                         <i ng-if="servicesCtrl.airportNames.arrivalAirportName" translate="msg_common_to">to</i> -->
                    <!--                         <span ng-if="servicesCtrl.airportNames.arrivalAirportName" class="truncate">{{servicesCtrl.airportNames.arrivalAirportName}}</span> -->

                    <!--                         <span class="ico">
                    <!--                             <span class="icon-inbound-plane-small"> -->
                    <!--                                 <span class="path1"></span> -->
                    <!--                                 <span class="path2"></span> -->
                    <!--                             </span> -->
                    <!--                         </span>--> 

                    <!--                     </p> -->
                    <!--                     <a class="extras-page-sub-title" style="padding-left: 0 !important; margin-top:0 !important;" href="javascript:;" ng-click="servicesCtrl.nextSector()" ng-show="servicesCtrl.servicesPreference.scopes[0].preferences.length > 1"> -->
                    <!--                        <span style="text-align: center; float: none;" ng-click="servicesCtrl.nextSector()" translate="lbl_extra_nextSector">Go To Next Sector</span> -->
                    <!--                        <i style="text-align: center; float: none;    position: relative;left: -8px;font-size: 14px !important;" class="fa fa-angle-right"></i> -->
                    <!--                  	</a> -->
                    <!--                 </div>// Content Sub Title -->

                    <!-- Seat Selection -->
                    <div class="services-selection">
                        <div class="row">
                            <div class="hidden-sm hidden-md hidden-lg col-xs-12" style="text-align: center; padding-bottom: 15px;">
                                <span class="heading-title ng-scope" translate="msg_seatmap_pax">Select passenger from the list below</span>
                            </div>
                            <div class="col-md-12 col-sm-12 hidden-xs" style="padding-bottom: 15px;">
                                <span class="heading-title ng-scope" translate="msg_seatmap_pax">Select passenger from the list below</span>
                            </div>
                            <!-- Left Section -->
                            <div class="left-section col-md-5 col-sm-5 col-xs-12">
                                <isa-passenger-list passenger-list="servicesCtrl.paxData"
                                                    list-type="services"
                                                    device-mode="deviceType"
                                                    passenger-change="servicesCtrl.passengerChange(pax)"
                                                    selected-passenger="servicesCtrl.selectedPax">
                                </isa-passenger-list>
                            </div><!-- // Left Section -->

                            <!-- Right Section -->
                            <div class="right-section col-md-7 col-sm-7 col-xs-12">

                                <!-- Available Services -->
                                <div class="available-services">

                                    <!-- Title -->
                                    <h2 class="title" translate="title_extra_apServices">Available Airport Services</h2><!-- // Title -->
                                    <span class="heading-title" ng-if="servicesCtrl.noServices">No Services available for this airport</span>

                                    <div isaservicesoptionlist
                                         option-click="servicesCtrl.optionClick(id, index)"
                                         source="servicesCtrl.availableServices"
                                         selected-items="servicesCtrl.currentServiceList"
                                         passenger-type="servicesCtrl.passengerType"
                                         passenger="servicesCtrl.paxData[servicesCtrl.selectedPax]"
                                         template="services"></div>

                                </div><!-- // Available Services -->

                            </div><!-- // Right Section -->

                        </div>
                    </div><!-- // Seat Selection -->

                    <!-- Content Sub Title -->
                    <!-- <div class="footer-title">
                        <a href="" ng-show="servicesCtrl.servicesPreference.scopes[0].preferences.length > 1">
                            <span ng-click="servicesCtrl.nextSector()" translate="lbl_extra_nextSector">Go To Next Sector</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div> --><!-- // Content Sub Title -->

                </div><!-- // Extras Content -->
                <!-- Sidebar -->
                <div class="sidebar  col-md-4 col-sm-4 col-xs-12">

                    <div class="sidebar-widget"
                         isaradiooptionlist
                         source="servicesCtrl.servicesPreference"
                         previous-source="servicesCtrl.previousSelection"
                         set-option="servicesCtrl.sectionSelection"
                         select-option="servicesCtrl.nextSector(index, section)"
                         level="2"
                         icon-click="servicesCtrl.onDelete(element,event,index)"
                         type="meal" header-value="lbl_extra_services">
                    </div><!-- // Sidebar -->

                </div><!-- // Row -->
                <div class="btn-continu-bottom btn-wrap col-md-4 col-sm-4 col-xs-12 pull-right">
                    <span ng-click="servicesCtrl.backToExtras()" class="button red-btn" translate="lbl_common_continue">Continue</span>
                </div>
            </div>
            <div ng-if="deviceType.isMobileDevice">
                <div class="addon-inflight-panel" ng-repeat="(key,flights) in servicesCtrl.servicesPreference.scopes">
                    <uib-accordion class="segment-list" id="airport-services-list" close-others="true" >
                        <uib-accordion-group ng-repeat="flight in flights.preferences track by $index" ng-init="outerIndex = $index"
                                             is-open="accordionArray[$index]">
                            <div ng-if="flight.segments[0].from">
                                <uib-accordion-heading ng-if="flights.scopeType === 'AIRPORT' && flight.preferanceId.point" >
                                    <div ng-click="servicesCtrl.nextSector($index);">
                                        <i class="fa" ng-class="accordionArray[$index] ? 'fa-angle-up' : 'fa-angle-down'"></i>
                                        <span class="pd-rt-10 origin-dest-name">{{flight.segments[0].from}} (<i translate="{{'lbl_common_' + flight.preferanceId.point}}">{{flight.preferanceId.point| capitalizeFirstFilter}}</i>)</span>
                                        <span class="price pull-right">
                                            <span class="currency font-weight-normal">{{servicesCtrl.currency}}</span> 
                                            <span class="font-weight-bold" isa-connector="{{flight.total}}"></span>
                                        </span>
                                    </div>
                                </uib-accordion-heading>
                                <isa-passenger-list 
                                    passenger-list="servicesCtrl.paxData"
                                    option-clickparent="servicesCtrl.optionClick(id, index)"
                                    list-type="services"
                                    service="services"
                                    device-mode="deviceType"
                                    passenger-change="servicesCtrl.passengerChange(pax)"
                                    selected-passenger="servicesCtrl.selectedPax"
                                    source="servicesCtrl.availableServices"
                                    selected-items="servicesCtrl.currentServiceList"
                                    passenger-type="servicesCtrl.passengerType"
                                    passenger="servicesCtrl.paxData[servicesCtrl.selectedPax]"
                                    outer-index="$index"
                                    >
                                </isa-passenger-list>
                            </div>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
                <div class="sidebar baggage-sidebar col-md-4 col-sm-4 col-xs-12">

                    <div class="sidebar-widget"
                         isaradiooptionlist
                         source="servicesCtrl.servicesPreference"
                         previous-source="servicesCtrl.previousSelection"
                         set-option="servicesCtrl.sectionSelection"
                         select-option="servicesCtrl.nextSector(index, section)"
                         level="2"
                         icon-click="servicesCtrl.onDelete(element,event,index)"
                         type="meal" header-value="lbl_extra_services">
                    </div><!-- // Sidebar -->

                </div>
                <div class="btn-continu-bottom btn-wrap col-md-4 col-sm-4 col-xs-12 pull-right">
                    <span ng-click="servicesCtrl.backToExtras()" class="button red-btn" translate="lbl_common_continue">Continue</span>
                </div>
            </div>
        </section><!-- // Content Body -->

        <!-- Content Footer -->
        <div class="content-footer extras-footer" ng-show="servicesCtrl.servicesPreference.scopes[0].preferences.length > 1">
            <div class="row">
                <div class="col-md-8 col-sm-8 hidden-xs">
                    <div class="footer-title">
                        <a href="" ng-show="servicesCtrl.servicesPreference.scopes[0].preferences.length > 1">
                            <span ng-click="servicesCtrl.nextSector()" translate="lbl_extra_nextSector">Go To Next Sector</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <!--                 <div class="hidden-sm hidden-md hidden-lg col-xs-12"> -->
                <!-- 	                <div class="footer-title"> -->
                <!-- 	                   <a class="seat-page-sub-title" style="padding-left: 0 !important"  -->
                <!-- 	                    onclick="$('html, body').animate({scrollTop: 0}, 2000);" ng-click="servicesCtrl.nextSector()" href="" ng-show="servicesCtrl.servicesPreference.scopes[0].preferences.length > 1"> -->
                <!-- 	                       <span style="text-align: center; float: none;" translate="lbl_extra_nextSector" ng-click="servicesCtrl.nextSector()">Go To Next Sector</span> -->
                <!-- 	                       <i style="text-align: center; float: none; position: relative;left: -8px;font-size: 14px !important;" class="fa fa-angle-right"></i> -->
                <!-- 	                 	</a> -->
                <!-- 	                </div> -->
                <!-- 	            </div> -->
            </div>
        </div><!-- // Content Footer -->

    </div><!-- // Page Wrapper -->

    <!-- <div class="row" ng-if="servicesCtrl.appMode == 'modifyAnci' || servicesCtrl.appMode == 'modify_segment'">
        <a href="" class="col-md-4 col-sm-6 col-xs-6 submit-link pull-left" ng-click="servicesCtrl.skipServices()" ng-if="servicesCtrl.appMode == 'modify_segment'">
            <i  >&#xf053;</i>
            Back
        </a>

        <a href="" class="col-md-4 col-sm-6 col-xs-6 center submit-link pull-left" ng-class="{'text-center': servicesCtrl.appMode == 'modify_segment'}" ng-click="servicesCtrl.backToHome()">
            <i>&#xf021;</i>
            Start Over
        </a>
    </div> -->
    <div class="row xs-modify-actions" ng-if="servicesCtrl.appMode == 'modifyAnci' || servicesCtrl.appMode == 'modify_segment'">
        <div ng-if="servicesCtrl.appMode == 'modify_segment'">
            <a href="" class="col-md-4 col-sm-6 col-xs-6 submit-link pull-left" ng-click="servicesCtrl.skipServices()">
                <i class="backClass fa fa-angle-left"></i>
                <span translate="lbl_common_back">Back</span>
            </a>

            <a href="" class="col-md-4 col-sm-6 col-xs-6 center submit-link" ng-class="{'text-right': servicesCtrl.appMode == 'modify_segment'}" ng-click="servicesCtrl.backToHome()">
                <i>&#xf021;</i>
                <span translate="btn_common_startOver">Start Over</span>
            </a>
        </div>
        <div ng-if="servicesCtrl.appMode != 'modify_segment'" style="text-align: center;">
            <a href="" class="col-md-4 col-sm-12 col-xs-12 center submit-link" ng-class="{'text-center': servicesCtrl.appMode == 'modify_segment'}" ng-click="servicesCtrl.backToHome()">
                <i>&#xf021;</i>
                <span translate="btn_common_startOver">Start Over</span>
            </a>
        </div>
    </div>


</div>
