<div ng-controller="flexiController as flexi">
    <!-- Extra header -->
    <div scroll-top>
        <!-- Content header -->
        <div class="extras-header content-wrapper">
            <section class="content-header hidden-xs">

                <div class="page-title col-md-8 col-sm-8 col-xs-8 ">
                    <!-- Page Title -->
                    <h1>
                        <span translate="title_extra_flexi">Select flexi for your
                            trip</span> <a href="" class="skip" ng-click="flexi.skipServices()"
                                       translate="btn_extra_skipFlexi">Skip flexi Selection</a>
                    </h1>
                    <!-- // Page Title -->
                </div>

                <div class="btn-wrap col-md-4 col-sm-4 col-xs-4 pull-right">
                    <span ng-click="flexi.backToExtras()" class="button red-btn"
                          translate="lbl_common_continue">Continue</span>
                </div>
            </section>
            <!-- // Content header -->
        </div>
    </div>
    <!-- // Extra header -->

    <!-- Page Wrapper -->
    <div class="content-wrapper extras-container">
        <!-- Content Body -->
        <section class="content-body">
            <!-- Row -->
            <div  ng-if="deviceType.isSmallDevice || deviceType.isLargeDevice">

                <!-- Extras Content -->
                <div
                    class="extras-content select-flexi col-md-8 col-sm-8 col-xs-8 select-meals" >

                    <!-- Content Sub Title -->
                    <div class="sub-title">
                        <h2>
                            <span class="truncate">{{flexi.airportNames.departureAirportName}}</span>
                            <i translate="msg_common_to">to</i> <span class="truncate">{{flexi.airportNames.arrivalAirportName}}</span>

                            <span class="ico"
                                  ng-if="(flexi.airportNames.departureAirportCode === flexi.searchCriteria.from) || (flexi.airportNames.arrivalAirportCode === flexi.searchCriteria.to)">
                                <span class="icon-outbound-plane-small"> <span
                                        class="path1"></span> <span class="path2"></span>
                                </span>
                            </span> <span class="ico"
                                          ng-if="(flexi.airportNames.arrivalAirportCode === flexi.searchCriteria.from) || (flexi.airportNames.departureAirportCode === flexi.searchCriteria.to)">
                                <span class="icon-inbound-plane-small"> <span
                                        class="path1"></span> <span class="path2"></span>
                                </span>
                            </span>
                        </h2>
                        <a href=""
                           ng-show="flexi.flexiPreferance.scopes[0].preferences.length > 1">
                            <span ng-click="flexi.nextSector()"
                                  translate="lbl_extra_nextSector">Go To Next Sector</span> <i
                                  class="fa fa-angle-right"></i>
                        </a>

                    </div>
                    <!-- // Content Sub Title -->

                    <!--                    &lt;!&ndash; Package Block &ndash;&gt;
<div class="col-md-12">
    <div class="col-md-6">
        <span class="check checkbox-circle" ng-click="flexi.optionOnClick({index:$index})">
            <input type="checkbox" id="flexi_{{flexi.currentOndId}}"
                   ng-checked="flexi.isSelected[flexi.currentOndId]" disabled>
            <label for="flexi_{{flexi.currentOndId}}">Add flexi fare to this journey</label>
        </span>&lt;!&ndash; // Checkbox &ndash;&gt;
    </div>
    <div class="col-md-6 price">Charge &nbsp;<span class="currency"></span> <span
            isa-connector="{{flexi.currentFlexiCharge}}"></span></div>
</div>-->


                    <div class="package-block flexi-block">
                        <div class="row">
                            <!-- Main Section -->
                            <div class="col col-md-10 col-sm-10 col-xs-10 main-section">
                                <span class="title" translate="lbl_extra_flexiTitle">Flexi
                                    Fare</span>
                                <div class="details">
                                    <span ng-show="!flexi.isSelected[flexi.currentOndId]">
                                        <p>
                                            {{'lbl_extra_flexiAddFlexi'| translate}} <i class="currency"></i>
                                            <i isa-connector="{{flexi.currentFlexiCharge}}"></i>
                                            {{'lbl_extra_andEnjoyModification'| translate}}
                                        </p>
                                    </span> <span ng-show="flexi.isSelected[flexi.currentOndId]">
                                        <p translate="lbl_extra_flexiAddedDesc">Flexi added on
                                            this sector. You have one free modification and one free
                                            cancellation.</p>
                                    </span>
                                </div>
                            </div>
                            <!-- // Main Section -->

                            <!-- Options section -->
                            <div ng-click="flexi.optionOnClick({index: $index})"
                                 ng-class="{active:($index == selectedIndex)}"
                                 class="col col-md-2 col-sm-2 col-xs-2 options-section">
                                <i class="ico"> <span
                                        ng-class="{'icon-plus':(!(flexi.isSelected[flexi.currentOndId])),'icon-close':(flexi.isSelected[flexi.currentOndId])}"></span>
                                </i> <span ng-show="!flexi.isSelected[flexi.currentOndId]"
                                           class="txt" translate="lbl_common_add">Add</span> <span
                                           ng-show="flexi.isSelected[flexi.currentOndId]" class="txt"
                                           translate="lbl_common_remove">Remove</span>
                            </div>
                            <!-- // Options section -->

                        </div>
                    </div>


                    <!-- Content Sub Title -->
                    <div class="footer-title">
                        <a href=""
                           ng-show="flexi.flexiPreferance.scopes[0].preferences.length > 1">
                            <span ng-click="flexi.nextSector()"
                                  translate="lbl_extra_nextSector">Go To Next Sector</span> <i
                                  class="fa fa-angle-right"></i>
                        </a>
                    </div>
                    <!-- // Content Sub Title -->


                </div>
                <!-- // Extras Content -->
                <!-- Sidebar -->
                <div class="sidebar baggage-sidebar col-md-4 col-sm-4">

                    <!-- Widget -->
                    <div class="sidebar-widget" selected="{index:0, section:'Outbound'}" isaradiooptionlist level="2"
                         source="flexi.flexiPreferance" set-option="flexi.showExtrasTotal"
                         previous-source="flexi.previousSelection"
                         select-option="flexi.nextSector(index,section)" level="2" type="baggage"
                         header-value="lbl_extra_flexiHeader">

                    </div><!-- // Widget -->

                </div>
                <!-- // Sidebar -->
                <div
                    class="btn-continu-bottom btn-wrap col-md-4 col-sm-4 col-xs-4 pull-right hidden-xs">
                    <span ng-click="flexi.backToExtras()" class="button red-btn"
                          translate="lbl_common_continue">Continue</span>
                </div>
            </div>
            <!-- // Row -->
            <div class="mobile-section" ng-if="deviceType.isMobileDevice">
                <div class="flexi-mobile-section" ng-if="deviceType.isMobileDevice">
                    <div class="addon-inflight-panel" ng-repeat="(key,flights) in flexi.flexiPreferance.scopes">
                        <uib-accordion class="segment-list" close-others="true">
                            <uib-accordion-group
                                ng-repeat="flight in flights.preferences track by $index"
                                is-open="accordionArray[$index]">
                                <div ng-if="flight.segments[0].from">
                                    <uib-accordion-heading ng-if="flights.scopeType == 'OND'">
                                        <div>
                                            <i class="fa" ng-class="accordionArray[$index] ? 'fa-angle-up' : 'fa-angle-down'"></i>
                                            <span><strong>{{flight.segments[0].from}} </strong><i
                                                    translate="msg_common_to">to</i> <strong>{{flight.segments[0].to}}</strong></span>
                                            <span class="price pull-right"><i class="currency">{{flexi.currency}}</i> <i
                                                    class="font-weight-bold" isa-connector="{{flight.total}}"></i>
                                            </span>
                                        </div>
                                    </uib-accordion-heading>
                                    <div class="package-block flexi-block">
                                        <div class="row">
                                            <!-- Main Section -->
                                            <div class="col col-md-10 col-sm-10 col-xs-10 main-section">
                                                <!-- 												<span class="title" translate="lbl_extra_flexiTitle">Flexi -->
                                                <!-- 													Fare</span> -->
                                                <div class="details">
                                                    <span ng-show="!flexi.isSelected[$index]">
                                                        <p>
                                                            {{'lbl_extra_flexiAddFlexi'| translate}} <i
                                                                class="currency"></i> <i
                                                                isa-connector="{{flexi.currentFlexiCharge}}"></i>
                                                            {{'lbl_extra_andEnjoyModification'| translate}}
                                                        </p>
                                                    </span> <span ng-show="flexi.isSelected[$index]">
                                                        <p translate="lbl_extra_flexiAddedDesc">Flexi added on
                                                            this sector. You have one free modification and one free
                                                            cancellation.</p>
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- // Main Section -->

                                            <!-- Options section -->
                                            <div ng-class="{active:($index == selectedIndex)}" ng-click="flexi.optionOnClick({index: $index})"
                                                 class="col col-md-2 col-sm-2 col-xs-2 options-section" style="background:unset !important;">
                                                <!-- 										<i class="ico"> <span -->
                                                <!-- 											ng-class="{'icon-plus':(!(flexi.isSelected[$index])),'icon-close':(flexi.isSelected[$index])}"> -->
                                                <!-- 											</span> -->
                                                <!-- 										</i> -->
                                                <span ng-show="!flexi.isSelected[$index]"
                                                      class="txt" translate="lbl_common_add">Add</span> <span
                                                      ng-show="flexi.isSelected[$index]" class="txt"
                                                      translate="lbl_common_remove">Remove</span>
                                            </div>
                                            <!-- // Options section -->

                                        </div>
                                    </div>
                                </div>
                            </uib-accordion-group>
                        </uib-accordion>
                    </div>
                </div>
                <!-- Sidebar -->
                <div class="sidebar baggage-sidebar col-xs-12 col-md-4 col-sm-4">

                    <!-- Widget -->
                    <div class="sidebar-widget" selected="{index:0, section:'Outbound'}" isaradiooptionlist level="2"
                         source="flexi.flexiPreferance" set-option="flexi.showExtrasTotal"
                         previous-source="flexi.previousSelection"
                         select-option="flexi.nextSector(index,section)" level="2" type="baggage"
                         header-value="lbl_extra_flexiHeader">

                    </div><!-- // Widget -->

                </div>
                <!-- // Sidebar -->
            </div>
            <div class="btn-wrap col-md-4 col-sm-4 col-xs-12 pull-right btn-continu-bottom" ng-if="deviceType.isMobileDevice">
                <span ng-click="flexi.backToExtras()" class="button red-btn" translate="lbl_common_continue">Continue</span>
            </div>

        </section>
        <!-- // Content Body -->
    </div>
    <!-- // Page Wrapper -->

    <div class="row" ng-if="flexi.appMode == 'modifyAnci' || flexi.appMode == 'modify_segment'">
        <a href="" class="col-md-4 submit-link pull-left" ng-click="flexi.skipServices()" ng-if="flexi.appMode == 'modify_segment'">
            <i>&#xf053;</i> 
            <span translate="lbl_common_back">Back</span>
        </a> 
        <a href="" class="col-md-4 center submit-link" ng-class="{'text-right': flexi.appMode == 'modify_segment'}" ng-click="flexi.backToHome()"> 
            <i>&#xf021;</i> 
            <span translate="btn_common_startOver">Start Over</span>
        </a>
    </div>

    <div class="content-footer extras-footer">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8"></div>
        </div>
    </div>
</div>
