<div ng-controller="mealController as meals">
    <!-- Extra header -->
    <div scroll-top>
        <!-- Content header -->
        <div class="extras-header content-wrapper">
            <section class="content-header">

                <div class="page-title col-md-8 col-sm-8 col-xs-12 meal-page-title select-meals" ng-if="!deviceType.isMobileDevice">
                    <!-- Page Title -->
                    <h1>
                        <span translate="title_extra_meal" class="text-left">Select meals for your trip</span>
                        <a href="" class="hidden-xs skip" ng-click="meals.skipServices()" translate="btn_extra_skipMeal">Skip Meal Selection</a>
                    </h1><!-- // Page Title -->
                    <p class="text-left hidden-sm hidden-md hidden-lg meal-msg" translate="msg_extra_meal">Select your meal</p>
                    <p class="sub-intro" ng-hide="true" translate="msg_extra_freeMeal">3 Free Meals Available</p>
                </div>



                <!-- Confirm button has to go down -->
                <div class="hidden-xs btn-wrap col-md-4 col-sm-4 col-xs-12 pull-right btn_confirm_selection">
                    <span ng-click="meals.backToExtras()" class="button red-btn" translate="lbl_common_continue">Continue</span>
                </div>
            </section><!-- // Content header -->
        </div>
    </div><!-- // Extra header -->

    <!-- Page Wrapper -->
    <div class="content-wrapper extras-container">

        <!-- Content Body -->
        <section class="content-body">
            <!-- Row -->
            <div>

                <!-- Extras Content -->
                <div class="extras-content select-meals col-md-8 col-sm-8 col-xs-12 hidden-xs" ng-if="!deviceType.isMobileDevice">

                    <!-- Content Sub Title -->
                    <div class="sub-title hidden-xs">
                        <h2>
                            <span class="truncate">{{meals.airportNames.departureAirportName}}</span>
                            <i ng-if="meals.airportNames.arrivalAirportName" translate="msg_common_to">to</i>
                            <span class="truncate" ng-if="meals.airportNames.arrivalAirportName">{{meals.airportNames.arrivalAirportName}}</span>


                            <span class="ico" ng-if="meals.airportNames.departureAirportCode === meals.searchCriteria.from || meals.airportNames.arrivalAirportCode === meals.searchCriteria.to">
                                <span class="icon-outbound-plane-small">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </span>
                            </span>

                            <span class="ico" ng-if="meals.airportNames.arrivalAirportCode === meals.searchCriteria.from || meals.airportNames.departureAirportCode === meals.searchCriteria.to">
                                <span class="icon-inbound-plane-small">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </span>
                            </span>
                        </h2>

                        <a href="" ng-show="meals.mealPreferance.scopes[0].preferences.length > 1" >
                            <span ng-click="meals.nextSector()" translate="lbl_extra_nextSector">Go To Next Sector</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div><!-- // Content Sub Title -->

                    <div class="sub-title hidden-sm hidden-md hidden-lg">
                        <p>
                            <span class="truncate">{{meals.airportNames.departureAirportName}}</span>
                            <i ng-if="meals.airportNames.arrivalAirportName" translate="msg_common_to">to</i>
                            <span class="truncate" ng-if="meals.airportNames.arrivalAirportName">{{meals.airportNames.arrivalAirportName}}</span>


                            <span class="ico" ng-if="meals.airportNames.departureAirportCode === meals.searchCriteria.from || meals.airportNames.arrivalAirportCode === meals.searchCriteria.to">
                                <span class="icon-outbound-plane-small">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </span>
                            </span>

                            <span class="ico" ng-if="meals.airportNames.arrivalAirportCode === meals.searchCriteria.from || meals.airportNames.departureAirportCode === meals.searchCriteria.to">
                                <span class="icon-inbound-plane-small">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </span>
                            </span>
                        </p>

                        <a class="meal-page-sub-title" ng-show="meals.mealPreferance.scopes[0].preferences.length > 1">
                            <span style="text-align: center; float: none;" ng-click="meals.nextSector()" translate="lbl_extra_nextSector">Go To Next Sector</span>
                            <i style="text-align: center; float: none;" class="fa fa-angle-right"></i>
                        </a>
                    </div>
                    
                    <div ng-if="meals.selectedMealList.length === 0" style="margin-top: 10%;">
                        <h4 class="text-center" translate="lbl_extra_mealsNoMeals">Meals not available</h4>
                    </div>

                    <div ng-if="!deviceType.isMobileDevice">
                        <div isaoptionlist option-click="meals.updateMealSelection(id)"
                             secondary-option-click="meals.sortBy(option)"
                             source="meals.selectedMealList"
                             getmeal="meals.getMealSelection()"
                             template="meals"
                             dropdown-source="meals.mealCategories"
                             dropdown-click="meals.onSelectWeight(id,weight,amount,index,section)"
                             widget-options="meals.passengerList" widget-data="meals.setMealSelection(count,index,fromMobileClick,value)"
                             widget-option-click="meals.showHideMealPanel(target,index,selectedRow,categoryCode)"
                             selected-list="meals.selectedCategories" reset="meals.resetOptions(evt)" panel-type="OND"
                             current-item-selection="meals.currentMealSelection" widget-data="extras.accumulatedTotal(type)"
                             added-items="meals.addedMealList"
                             pagination-data="meals.paginationData"
                             on-pagination = "meals.pageSelection(index)"
                             text-filtering = "meals.onFiltering(mealName)"
                             reset-values = "meals.resetInputData"
                             available-options = "meals.itemCount"
                             get-inv="meals.getInv(oldCount,newCount,key,value)"
                             ></div>
                    </div>

                </div>

                <!-- Sidebar -->
                <div ng-if="!deviceType.isMobileDevice" class="sidebar meal-sidebar col-md-4 col-sm-4 col-xs-12">

                    <!-- Widget -->
                    <div class="sidebar-widget"
                         isaradiooptionlist
                         source="meals.mealPreferance"
                         preferedsource="meals.customerPreferredMealList"
                         previous-source="meals.previousSelection"
                         set-option="meals.showExtrasTotal"
                         select-option="meals.nextSector(index,section)"
                         level="2"
                         type="meal"
                         header-value="lbl_extra_mealsHeader"
                         icon-clickpm="meals.removeMeal(element,event,index)"
                         icon-click="meals.onDelete(element,event,index)">
                        <!-- // Widget -->
                    </div><!-- // Sidebar -->

                </div><!-- // Row -->




                <!--<h4 class="text-center"
                    ng-if="meals.selectedMealList.length === 0" translate="lbl_extra_mealsNoMeals">Meals not available</h4>-->

                <!-- Content Sub Title -->
                <!-- <div class="footer-title">
                    <a href="" ng-show="meals.mealPreferance.scopes[0].preferences.length > 1">
                        <span ng-click="meals.nextSector()" translate="lbl_extra_nextSector">Go To Next Sector</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div> --><!-- // Content Sub Title -->

            </div><!-- // Extras Content -->



            <div ng-if="deviceType.isMobileDevice" class="seat-slider-section">
                

                <div class="addon-panel" ng-repeat="(key,flights) in  meals.mealPreferance.scopes" id="meal-accordion">
                    <uib-accordion class="segment-list" >
                        <uib-accordion-group ng-repeat="flight in flights.preferences track by $index"   is-open="accordionArray[$index]">

                            <uib-accordion-heading ng-if="flights.scopeType == 'SEGMENT' && flight.segments[0].from" >
                                <div ng-click=" meals.nextSector($index); meals.closeAllMealBlock();" class="pd-l-2 pd-r-2">
                                    <i class="fa" ng-class="accordionArray[$index] ? 'fa-angle-up' : 'fa-angle-down'"></i>
                                   
                                    <span class="pd-rt-10"><span class="origin-dest-name">{{flight.segments[0].from}} </span><i class="font-weight-normal" translate="msg_common_to">to</i> <span class="origin-dest-name">{{flight.segments[0].to}}</span></span>
                                    <span class="price pull-right"><i class="currency font-weight-normal">{{meals.currencyType}}</i> <i class="font-weight-bold" isa-connector="{{flight.total}}"></i></span>
                                </div>
                            </uib-accordion-heading>

                            <div isaoptionlist option-click="meals.updateMealSelection(id)"
                                 secondary-option-click="meals.sortBy(option)"
                                 source="meals.selectedMealList"
                                 template="meals"
                                 dropdown-source="meals.mealCategories"
                                 dropdown-click="meals.onSelectWeight(id,weight,amount,index,section)"
                                 widget-options="meals.passengerList" widget-data="meals.setMealSelection(count,index,fromMobileClick,value)"
                                 widget-option-click="meals.showHideMealPanel(target,index,selectedRow,categoryCode,isClose)"
                                 selected-list="meals.selectedCategories" reset="meals.resetOptions(evt)" panel-type="OND"
                                 current-item-selection="meals.currentMealSelection" widget-data="extras.accumulatedTotal(type)"
                                 added-items="meals.addedMealList"
                                 pagination-data="meals.paginationData"
                                 on-pagination = "meals.pageSelection(index)"
                                 text-filtering = "meals.onFiltering(mealName)"
                                 reset-values = "meals.resetInputData"
                                 available-options = "meals.itemCount"
                                 current-segment="currentSegment.currentSegment"
                                 is-next-sector-click="meals.isNextSectorClick"
                            	 get-inv="meals.getInv(oldCount,newCount,key,value)"
                                 ></div>

                        </uib-accordion-group>
                    </uib-accordion>
                    <!--                    <div ng-repeat="flight in flights.preferences">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a href="#collapseOne_{{$index}}" tabindex="0" data-toggle="collapse" data-parent="#meal-accordion" >
                                                            <span>
                    
                                                                <div ng-click="isOpen = !isOpen">
                                                                    <i class="fa"  ng-class="{'fa-angle-down': isOpen,'fa-angle-up': !isOpen}"></i>
                    
                                                                    <span><strong>{{flight.segments[0].from}} </strong><i translate="msg_common_to">to</i> <strong>{{flight.segments[0].to}}</strong></span>
                                                                    <span class="price pull-right"><i class="currency"></i> <i class="font-weight-bold" isa-connector="{{flight.total}}"></i></span>
                                                                </div>
                                                            </span>
                                                        </a>
                                                    </h4>
                                                </div>
                    
                                                <div id="collapseOne_{{$index}}" class="panel-collapse collapse in"  aria-expanded="true" aria-hidden="false" style="height: auto;">
                                                    <div class="panel-body" ng-transclude="">
                                                        <div isaoptionlist option-click="meals.updateMealSelection(id)"
                                                             secondary-option-click="meals.sortBy(option)"
                                                             source="meals.selectedMealList"
                                                             template="meals"
                                                             dropdown-source="meals.mealCategories"
                                                             dropdown-click="meals.onSelectWeight(id,weight,amount,index,section)"
                                                             widget-options="meals.passengerList" widget-data="meals.setMealSelection(count,index,value)"
                                                             widget-option-click="meals.showHideMealPanel(target,index,selectedRow)"
                                                             selected-list="meals.selectedCategories" reset="meals.resetOptions(evt)" panel-type="OND"
                                                             current-item-selection="meals.currentMealSelection" widget-data="extras.accumulatedTotal(type)"
                                                             added-items="meals.addedMealList"
                                                             pagination-data="meals.paginationData"
                                                             on-pagination = "meals.pageSelection(index)"
                                                             text-filtering = "meals.onFiltering(mealName)"
                                                             reset-values = "meals.resetInputData"
                                                             available-options = "meals.itemCount"
                                                             ></div>
                                                    </div>
                                                </div>
                                            </div>
                                         
                                        </div>-->
                </div>

            </div>
            <div ng-if="deviceType.isMobileDevice" class="sidebar meal-sidebar col-md-4 col-sm-4 col-xs-12" style="padding-left: 10px !important; padding-right: 10px !important;">

                <!-- Widget -->
                <div class="sidebar-widget"
                     isaradiooptionlist
                     source="meals.mealPreferance"
                     previous-source="meals.previousSelection"
                     set-option="meals.showExtrasTotal"
                     select-option="meals.nextSector(index,section)"
                     level="2"
                     type="meal"
                     header-value="lbl_extra_mealsHeader"
                     icon-click="meals.onDelete(element,event,index)">
                    <!-- // Widget -->
                </div><!-- // Sidebar -->

            </div>
            <div class="btn-continu-bottom btn-wrap col-md-4 col-sm-4 col-xs-12 pull-right">
                <span ng-click="meals.backToExtras()" class="button red-btn" translate="lbl_common_continue">Continue</span>
            </div>

        </section><!-- // Content Body -->


    </div>

    <!-- Content Footer -->
    <div class="content-footer extras-footer" ng-show="meals.mealPreferance.scopes[0].preferences.length > 1">
        <div class="row">
            <div class="col-md-8 col-sm-8 hidden-xs">
                <div class="footer-title">
                    <a href="" ng-show="meals.mealPreferance.scopes[0].preferences.length > 1">
                        <span ng-click="meals.nextSector()" translate="lbl_extra_nextSector">Go To Next Sector</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <!--            <div class="hidden-sm hidden-md hidden-lg col-xs-12">
                            <div class="footer-title">
                                <a class="seat-page-sub-title" style="padding-left: 0 !important" 
                                   onclick="$('html, body').animate({scrollTop: 0}, 2000);" ng-click="meals.nextSector()" href="" ng-show="meals.mealPreferance.scopes[0].preferences.length > 1">
                                    <span style="text-align: center; float: none;" translate="lbl_extra_nextSector" ng-click="meals.nextSector()">Go To Next Sector</span>
                                    <i style="text-align: center; float: none; position: relative;left: -8px;font-size: 14px !important;" class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>-->
        </div>
        <!--  <div class="row">
             <div class="col-md-8 col-sm-8 col-xs-12">
                 <div class="footer-title xs-footer-goto">
                     <a href="" ng-show="meals.mealPreferance.scopes[0].preferences.length > 1">
                         <span class="xs-gotospan" ng-click="meals.nextSector()" translate="lbl_extra_nextSector">Go To Next Sector</span>
                         <i class="fa fa-angle-right xs-gotoi"></i>
                     </a>
                 </div>
             </div>
         </div> -->
    </div><!-- // Content Footer -->

    <!-- <div class="row" ng-if="meals.appMode == 'modifyAnci' || meals.appMode == 'modify_segment'">
        <a href="" class="col-md-4 submit-link pull-left" ng-click="meals.skipServices()" ng-if="meals.appMode == 'modify_segment'">
            <i  >&#xf053;</i>
            Back
        </a>
    
        <a href="" class="col-md-4 center submit-link pull-left" ng-class="{'text-center': meals.appMode == 'modify_segment'}" ng-click="meals.backToHome()">
            <i>&#xf021;</i>
            Start Over
        </a>
    </div> -->
    <div class="row xs-modify-actions" ng-if="meals.appMode == 'modifyAnci' || meals.appMode == 'modify_segment'">
        <div ng-if="meals.appMode == 'modify_segment'">
            <a href="" class="col-md-4 col-sm-6 col-xs-6 submit-link pull-left" ng-click="meals.skipServices()">
                <i class="backClass fa fa-angle-left"></i>
                <span translate="lbl_common_back">Back</span>
            </a>

<!--<<<<<<< HEAD
            <a href="" class="col-md-4 col-sm-6 col-xs-6 center submit-link" ng-class="{'text-right': meals.appMode == 'modify_segment'}" ng-click="meals.backToHome()">
=======-->
            <a href="" style="text-align: right;" class="col-md-4 col-sm-6 col-xs-6 xs-start-over center submit-link" ng-class="{'text-center': meals.appMode == 'modify_segment'}" ng-click="meals.backToHome()">
                <i>&#xf021;</i>
                <span translate="btn_common_startOver">Start Over</span>
            </a>
        </div>
        <div ng-if="meals.appMode != 'modify_segment'" style="text-align: center;">
            <a href="" class="col-md-4 col-sm-12 col-xs-12 center submit-link" ng-class="{'text-center': meals.appMode == 'modify_segment'}" ng-click="meals.backToHome()">
                <i>&#xf021;</i>
                <span translate="btn_common_startOver">Start Over</span>
            </a>
        </div>
    </div>
</div>
