<div ng-controller="automaticCheckinController as automaticCheckin">
	<!-- Extra header -->
	<div scroll-top>
		<!-- Content header -->
		<div class="extras-header content-wrapper">
			<section class="content-header">
				<div
					class="page-title col-md-8 col-sm-8 hidden-xs baggage-page-title">
					<!-- Page Title -->
					<h1>
						<span translate="title_extra_automatic_checkin">Enable
							Automatic Check in</span>
					</h1>
					<!-- // Page Title -->
				</div>
				<div class="row">
					<div class="col-md-8 col-sm-8">
						<p translate="lbl_autocheckin_description">Save time and
							finish your check-in right now! with Automatic Check-in, you get
							checked-in before anybody else, get the best available seats and
							receive your boarding pass 36h-24h before your flight.</p>
					</div>
				</div>
				<div
					class="hidden-xs btn-wrap col-md-4 col-sm-4 col-xs-12 pull-right">
					<span ng-click="automaticCheckin.backToExtras()"
						class="button red-btn" translate="lbl_common_continue">Continue</span>
				</div>
			</section>
			<!-- // Content header -->
		</div>
	</div>
	<!-- // Extra header -->
	<!-- Page Wrapper -->
	<div class="content-wrapper extras-container">
		<!-- Content Body -->
		<section class="content-body extras-xs-body">
			<!-- Row -->
			<div class="row">
				<!-- Extras Content -->
				<div ng-if="!deviceType.isMobileDevice"
					class="extras-content select-baggage col-md-8 col-sm-8 col-xs-12 hidden-xs">
					<!-- Content Sub Title -->
					<div class="sub-title ">
						<div class="col-md-8">
							<h2>
								<span class="truncate">{{automaticCheckin.airportNames.departureAirportName}}</span>
								<i class="pd-l-1 pd-r-1" translate="msg_common_to">to</i> <span
									class="truncate">{{automaticCheckin.airportNames.arrivalAirportName}}</span>
								<span class="ico"> <span
									class="icon-outbound-plane-small"
									ng-if="automaticCheckin.airportNames.searchCriteria.from === automaticCheckin.airportNames.departureAirportCode">
										<span class="path1"></span> <span class="path2"></span>
								</span> <span class="icon-inbound-plane-small"
									ng-if="automaticCheckin.airportNames.searchCriteria.to === automaticCheckin.airportNames.departureAirportCode">
										<span class="path1"></span> <span class="path2"></span>
								</span>
								</span>
							</h2>
						</div>
						<div class="col-md-4 text-right">
							<!-- Page Title -->
							<a href="" class="hidden-xs skip"
								ng-click="automaticCheckin.skipServices()"><span
								translate="btn_extra_skipAutomaticCheckin">Skip Automatic
									Checkin</span></a>
							<!-- // Page Title -->
						</div>
					</div>
					<!-- // Content Sub Title -->
					<!-- Package Block -->
					<!-- ---------begning of passengers seat-preference form -->
					<form name="frmSeatPreference">
						<div class="col-md-12">
							<div class="col-md-6">
								<p translate="lbl_autocheckin_seatlbl">Seat Preference</p>
							</div>
						</div>
						<div ng-repeat="passenger in automaticCheckin.passengersList"
							ng-if="passenger.category!=='Infant'">
							<div class="col-md-12">
								<div class="col-md-6">
									<label>{{passenger.displayName}}</label>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<div ng-if="!automaticCheckin.seatPreference[$index]">
											<div class="form-group" ng-if="$index>0">
												<div class="xs-chk-phn input-option mrn-higt">
													<span class="checkbox"> <input type="checkbox"
														ng-model="automaticCheckin.seatPreferenceStatus">
														<label class="passenger-xs-text ng-scope"
														for="mobileNoTravel"
														ng-click="automaticCheckin.sitTogetherTrigger($index)">Sit
															Together</label>
													</span>
												</div>
											</div>
											<div class="ibe-typeahead" ng-if="$index==0">
												<label><span
													translate="lbl_autocheckin_preferredSeat">Preferred
														Seat</span><sup class="red">*</sup></label>
												<div isa-validator class="ibe-drop-down">
													<div class="btn-group" uib-keyboard-nav uib-dropdown
														name="salutation">
														<input id="salutation-button" novalidate type="button"
															class="form-control" name="salutation"
															selected-value="automaticCheckin.preferredSeat[$index].seat"
															uib-dropdown-toggle ng-disabled="isNameChange"
															ng-model="automaticCheckin.preferredSeat[$index].seat"
															style="color: white"
															value={{automaticCheckin.preferredSeat[$index].seat}}>
														<span class="dp-caption fieldname">{{automaticCheckin.preferredSeat[$index].seat
															|| '' | listFilter:
															automaticCheckin.salutationList:'titleCode':'titleName'}}&nbsp;</span>
														<span class="fa fa-angle-down fieldarrow"></span>
														<ul class="uib-dropdown-menu" role="menu"
															aria-labelledby="single-button">
															<li
																ng-repeat="salutation in automaticCheckin.salutationList"
																ng-click="automaticCheckin.setSalutation(salutation,$parent.$index)"
																role="menuitem"><a href="javascript:;">{{salutation.titleName
																	|| ''}}&nbsp;</a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="ibe-typeahead"
												ng-if="!automaticCheckin.sitTogetherClicked && $index>0">
												<label><span
													translate="lbl_autocheckin_preferredSeat">Preferred
														Seat</span><sup class="red">*</sup></label>
												<div isa-validator class="ibe-drop-down">
													<div class="btn-group" uib-keyboard-nav uib-dropdown
														name="salutation">
														<input id="salutation-button" novalidate type="button"
															class="form-control" name="salutation"
															selected-value="automaticCheckin.preferredSeat[$index].seat"
															uib-dropdown-toggle ng-disabled="isNameChange"
															ng-model="automaticCheckin.preferredSeat[$index].seat"
															style="color: white"
															value={{automaticCheckin.preferredSeat[$index].seat}}>
														<span class="dp-caption fieldname">{{automaticCheckin.preferredSeat[$index].seat
															|| '' | listFilter:
															automaticCheckin.salutationList:'titleCode':'titleName'}}&nbsp;</span>
														<span class="fa fa-angle-down fieldarrow"></span>
														<ul class="uib-dropdown-menu" role="menu"
															aria-labelledby="single-button">
															<li
																ng-repeat="salutation in automaticCheckin.salutationList"
																ng-click="automaticCheckin.setSalutation(salutation,$parent.$index)"
																role="menuitem"><a href="javascript:;">{{salutation.titleName
																	|| ''}}&nbsp;</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group"
										ng-if="automaticCheckin.seatPreference[$index]">
										<input type="text" class="form-control"
											ng-model="automaticCheckin.seatPreference[$index]" readonly />
									</div>
								</div>
							</div>
							<div></div>
						</div>
					</form>
					<!-- ---------end of passengers seat-preference form -->
				</div>
				<!-- // Extras Content  -->
				<div ng-if="deviceType.isMobileDevice">
					<div class="addon-panel baggage-panel"
						ng-repeat="(key,flights) in automaticCheckin.autoCheckinPreferance.scopes">
						<uib-accordion class="segment-list" close-others="true">
						<uib-accordion-group
							ng-click="$event.preventDefault();$event.stopPropagation();automaticCheckin.nextSector($index,$index,$event);"
							ng-repeat="flight in flights.preferences track by $index"
							is-open="accordionArray[$index]">
						<div ng-if="flight.segments[0].from">
							<uib-accordion-heading ng-if="flights.scopeType === 'OND'">
							<div>
								<i class="fa"
									ng-class="accordionArray[$index] ? 'fa-angle-up':'fa-angle-down'"></i>
								<span><span class="origin-dest-name">{{flight.segments[0].from}}
								</span><i translate="msg_common_to" style="font-weight: normal">to</i>
									<span class="origin-dest-name">{{flight.segments[getLength(flight.segments)].to}}</span></span>
								<span class="price pull-right"><i
									class="currency font-weight-normal">{{automaticCheckin.currency}}</i>
									<i class="font-weight-bold" isa-connector="{{flight.total}}"></i></span>
							</div>
							</uib-accordion-heading>
						</div>
						<div isaoptionlist
							option-click="automaticCheckin.onEditBaggage(id,event)"
							source="automaticCheckin.autoCheckinPreferance.scopes[0].preferences[$index].passengers"
							template="automaticCheckin"
							dropdown-source="automaticCheckin.weightsList"
							outer-index="$index"
							dropdown-click="automaticCheckin.onSelectWeight(id,weight,price,index,section,baggageId,event)"></div>
						</uib-accordion-group> </uib-accordion>
					</div>
				</div>
				<!-- Sidebar -->
				<div class="sidebar baggage-sidebar col-xs-12 col-md-4 col-sm-4">
					<!-- Widget -->
					<div class="sidebar-widget"
						selected="{index:0, section:'Outbound'}" isaradiooptionlist
						level="2" source="automaticCheckin.autoCheckinPreferance"
						set-option="automaticCheckin.showExtrasTotal"
						previous-source="automaticCheckin.previousSelection"
						select-option="automaticCheckin.nextSector(index,section)"
						level="2" type="automaticCheckin"
						header-value="lbl_common_AutomaticCheckin"
						icon-click="automaticCheckin.onDelete(element,event,index)">
					</div>
					<!-- // Widget -->
				</div>
				<!-- // Sidebar -->
			</div>
			<div
				class="btn-wrap col-md-4 col-sm-4 col-xs-12 pull-right btn-continu-bottom"
				ng-if="deviceType.isMobileDevice">
				<span ng-click="automaticCheckin.backToExtras()"
					class="button red-btn" translate="lbl_common_continue">Continue</span>
			</div>
			<!--</div> // Row -->
			<div class="row">
				<div
					class="btn-wrap col-md-4 col-sm-4 col-xs-12 pull-right btn-continu-bottom"
					ng-if="!deviceType.isMobileDevice">
					<span ng-click="automaticCheckin.backToExtras()"
						class="button red-btn" translate="lbl_common_continue">Continue</span>
				</div>
			</div>
			<!-- // Row -->
		</section>
		<!-- // Content Body -->
		<div class="row xs-modify-actions"
			ng-if="automaticCheckin.appMode == 'modifyAnci' || automaticCheckin.appMode == 'modify_segment'">
			<div ng-if="automaticCheckin.appMode == 'modify_segment'">
				<a href="" class="col-md-4 col-sm-6 col-xs-6 submit-link pull-left"
					ng-click="automaticCheckin.skipServices()"> <i
					class="backClass fa fa-angle-left"></i> Back
				</a> <a href="" class="col-md-4 col-sm-6 col-xs-6 center submit-link"
					ng-class="{'text-right': automaticCheckin.appMode == 'modify_segment'}"
					ng-click="automaticCheckin.backToHome()"> <i>&#xf021;</i> Start
					Over
				</a>
			</div>
			<div ng-if="automaticCheckin.appMode != 'modify_segment'"
				style="text-align: center;">
				<a href="" class="col-md-4 col-sm-12 col-xs-12 center submit-link"
					ng-class="{'text-center': automaticCheckin.appMode == 'modify_segment'}"
					ng-click="baggage.backToHome()"> <i>&#xf021;</i> Start Over
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<!-- ---------begning of passengers form -->
				<isa-auto-checkin passenger="automaticCheckin.passenger"
					application-mode="{{automaticCheckin.applicationMode}}"
					selected-passenger="automaticCheckin.selectedPassenger"
					passenger-list="automaticCheckin.passengersList"
					update-contact="automaticCheckin.updateContact(passenger)">
				</isa-auto-checkin>
				<!-- ---------end of passengers form -->
			</div>
		</div>
	</div>
	<!-- // Page Wrapper -->
</div>

