<div ng-controller="extrasAirportTransferController as servicesCtrl">
    <!-- Extra header -->
    <div scroll-top>
        <!-- Content header -->
        <div class="extras-header content-wrapper">
            <section class="content-header">

                <div class="page-title col-md-8 col-sm-8 col-xs-12 extras-page-title hidden-xs">
                    <!-- Page Title -->
                    <h1>
                        <span translate="lbl_extra_selectTransferService">Select Airport Transfer Services</span>
                        <a href="" class="skip hidden-xs" ng-click="servicesCtrl.skipServices()" translate="btn_extra_skip">Skip Services Selection</a>
                    </h1><!-- // Page Title -->
                </div>				
                <div class="btn-wrap col-md-4 col-sm-4 col-xs-4 pull-right hidden-xs"  style="width:33%;">
                    <span ng-click="servicesCtrl.backToExtras()" class="button red-btn" translate="lbl_common_continue">Continue</span>
                </div>
            </section><!-- // Content header -->
        </div>
    </div><!-- // Extra header -->

    <!-- Page Wrapper -->
    <div class="content-wrapper extras-container">
        <!-- Content Body -->
        <section class="content-body">
            <!-- Row -->
            <div>

                <!-- Extras Content -->
                <div class="extras-content select-sevices col-md-8 col-sm-8 col-xs-12 select-meals">

                    <!-- Content Sub Title -->
                    <div class="sub-title" ng-if="!deviceType.isMobileDevice">
                        <h2>
                            <span ng-if="servicesCtrl.airportNames.point === 'ARRIVAL'" translate="lbl_common_arrival">Arrival</span>
                            <span ng-if="servicesCtrl.airportNames.point === 'DEPARTURE'" translate="lbl_common_departure">Departure</span>

                            <span ng-if="servicesCtrl.airportNames.point === 'DEPARTURE'" translate="msg_common_from"> from </span>
                            <span ng-if="servicesCtrl.airportNames.point === 'ARRIVAL'" translate="msg_common_to"> to </span>
                            <span class="truncate">{{servicesCtrl.airportNames.departureAirportName}} </span>
                            <i ng-if="servicesCtrl.airportNames.arrivalAirportName" translate="msg_common_to">to</i>
                            <span ng-if="servicesCtrl.airportNames.arrivalAirportName" class="truncate">{{servicesCtrl.airportNames.arrivalAirportName}}</span>

                            <!--<span class="ico">
                                <span class="icon-inbound-plane-small">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </span>
                            </span>-->

                        </h2>

                        <a href="" ng-show="servicesCtrl.servicesPreference.scopes[0].preferences.length > 1">
                            <span ng-click="servicesCtrl.nextSector()" translate="lbl_extra_nextSector">Go To Next Sector</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div><!-- // Content Sub Title -->
		<div ng-if="deviceType.isMobileDevice">
                    <!--<span>{{servicesCtrl.servicesPreference.scopes}}</span>-->
                    <div ng-repeat="(key,flights) in servicesCtrl.servicesPreference.scopes">
                        <uib-accordion class="segment-list airport-transfer-service" >
                            <uib-accordion-group   ng-repeat="flight in flights.preferences track by $index" is-open="accordionArray[$index]" >
                                <div  ng-if="flight.segments[0].from " >
                                    <uib-accordion-heading  ng-if="flights.scopeType === 'AIRPORT' " >
                                        <div ng-click=" servicesCtrl.nextSector($index);">
                                            <i class="fa" ng-class="accordionArray[$index] ? 'fa-angle-up':'fa-angle-down'"></i>

                                            <span><strong >{{flight.segments[0].from}} </strong>(<i translate="{{'lbl_common_' + flight.preferanceId.point}}">{{flight.preferanceId.point | capitalizeFirstFilter}}</i>)</span>
                                            <span class="price pull-right"><span class="currency">{{servicesCtrl.currency}}</span> <span class="font-weight-bold" isa-connector="{{flight.total}}"></span></span>
                                        </div>
                                    </uib-accordion-heading>
                                     <isa-passenger-list passenger-list="servicesCtrl.paxData"
                                                    source="servicesCtrl.availableServices"
                                                    add-transfer-parent="servicesCtrl.confirmAddTransfer(item, comment, dateValidations)"
                                                    remove-transfer-parent="servicesCtrl.removeTransfer(item)"
                                                    selected-items="servicesCtrl.currentServiceList"
                                                    validations="servicesCtrl.validationDefinitions"
                                                    current-selection="servicesCtrl.currentlySelectedServices"
                                                    list-type="services"
                                                    service="transfer"
                                                    passenger-change="servicesCtrl.passengerChange(pax)"
                                                    selected-passenger="servicesCtrl.selectedPax">
                                        </isa-passenger-list>
                                    <!--                                    <div airport-transfer-list
                                         source="servicesCtrl.availableServices"
                                         index="$index"
                                         add-transfer="servicesCtrl.confirmAddTransfer(item, comment, dateValidations)"
                                         remove-transfer="servicesCtrl.removeTransfer(item)"
                                         selected-items="servicesCtrl.currentServiceList"
                                         validations="servicesCtrl.validationDefinitions"
                                         current-selection="servicesCtrl.currentlySelectedServices"
                                         passenger="servicesCtrl.paxData[servicesCtrl.selectedPax]">
                                    </div>-->

                                </div>
                            </uib-accordion-group>
                        </uib-accordion>
                    </div>
<!--                        <p>
                            <span ng-if="servicesCtrl.airportNames.point === 'ARRIVAL'" translate="lbl_common_arrival">Arrival</span>
                            <span ng-if="servicesCtrl.airportNames.point === 'DEPARTURE'" translate="lbl_common_departure">Departure</span>

                            <span ng-if="servicesCtrl.airportNames.point === 'DEPARTURE'" translate="msg_common_from"> from </span>
                            <span ng-if="servicesCtrl.airportNames.point === 'ARRIVAL'" translate="msg_common_to"> to </span>
                            <span class="truncate">{{servicesCtrl.airportNames.departureAirportName}} </span>
                            <i ng-if="servicesCtrl.airportNames.arrivalAirportName" translate="msg_common_to">to</i>
                            <span ng-if="servicesCtrl.airportNames.arrivalAirportName" class="truncate">{{servicesCtrl.airportNames.arrivalAirportName}}</span>
                        </p>

                        <a class="extras-page-sub-title" style="padding-left: 0 !important; margin-top:0 !important;" href="javascript:;" ng-show="servicesCtrl.servicesPreference.scopes[0].preferences.length > 1">
                            <span  style="text-align: center; float: none;" ng-click="servicesCtrl.nextSector()" translate="lbl_extra_nextSector">Go To Next Sector</span>
                            <i  style="text-align: center; float: none;"class="fa fa-angle-right"></i>
                        </a>-->
                    </div><!-- // Content Sub Title xs -->

                    <!-- Seat Selection -->
                    <div ng-if="!deviceType.isMobileDevice" class="services-selection">
                        <div class="row">

                            <!-- Left Section -->
                            <div class="left-section col-md-5 col-sm-5 col-xs-12">
                                <isa-passenger-list passenger-list="servicesCtrl.paxData"
                                                    list-type="services"
                                                    passenger-change="servicesCtrl.passengerChange(pax)"
                                                    selected-passenger="servicesCtrl.selectedPax">
                                </isa-passenger-list>
                            </div><!-- // Left Section -->

                            <!-- Right Section -->
                            <div class="right-section col-md-7 col-sm-7 col-xs-12">

                                <!-- Available Services -->
                                <div class="available-services">

                                    <!-- Title -->
                                    <h2 class="title" translate="title_extra_aptServices">Available Airport Services</h2><!-- // Title -->

                                    <span class="heading-title" ng-if="servicesCtrl.noServices">No Services available for this airport</span>

                                    <div airport-transfer-list
                                         source="servicesCtrl.availableServices"
                                         add-transfer="servicesCtrl.confirmAddTransfer(item, comment, dateValidations)"
                                         remove-transfer="servicesCtrl.removeTransfer(item)"
                                         selected-items="servicesCtrl.currentServiceList"
                                         validations="servicesCtrl.validationDefinitions"
                                         current-selection="servicesCtrl.currentlySelectedServices"
                                         passenger="servicesCtrl.paxData[servicesCtrl.selectedPax]">
                                    </div>

                                </div><!-- // Available Services -->

                            </div><!-- // Right Section -->

                        </div>
                    </div><!-- // Seat Selection -->

                    <!-- Content Sub Title -->
                    <!-- <div class="footer-title">
                        <a href="" ng-show="servicesCtrl.servicesPreference.scopes[0].preferences.length > 1">
                            <span ng-click="servicesCtrl.nextSector()" translate="lbl_extra_nextSector">Go To Next Sector</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div> --><!-- // Content Sub Title -->

                </div><!-- // Extras Content -->

                <!-- Sidebar -->
                <div class="sidebar airport-transfer-sidebar col-md-4 col-sm-4 col-xs-12">

                    <div class="sidebar-widget"
                         isaradiooptionlist
                         source="servicesCtrl.servicesPreference"
                         previous-source="servicesCtrl.previousSelection"
                         set-option="servicesCtrl.sectionSelection"
                         select-option="servicesCtrl.nextSector(index, section)"
                         level="2"
                         icon-click="servicesCtrl.onDelete(element,event,index)"
                         type="meal" header-value="lbl_extra_services">
                    </div><!-- // Sidebar -->

                </div><!-- // Row -->
                <div class="btn-continu-bottom btn-wrap col-md-4 col-sm-4 col-xs-12 pull-right">
                    <span ng-click="servicesCtrl.backToExtras()" class="button red-btn" translate="lbl_common_continue">Continue</span>
                </div>
            </div>
            <!-- // Content Body -->
        </section>
        <!-- Content Footer -->
        <div class="content-footer extras-footer">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="footer-title">
                        <a href="" ng-show="servicesCtrl.servicesPreference.scopes[0].preferences.length > 1" class="hidden-xs">
                            <span ng-click="servicesCtrl.nextSector()" translate="lbl_extra_nextSector">Go To Next Sector</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                        
<!--                        <a class="extras-page-sub-title hidden-sm hidden-md hidden-lg" style="padding-left: 0 !important; margin-top:0 !important;" href="javascript:;" ng-show="servicesCtrl.servicesPreference.scopes[0].preferences.length > 1">
                            <span  style="text-align: center; float: none;" ng-click="servicesCtrl.nextSector()" translate="lbl_extra_nextSector">Go To Next Sector</span>
                            <i  style="text-align: center; float: none;font-size: 15px"class="fa fa-angle-right"></i>
                        </a>-->
                    </div>
                </div>
            </div>
        </div><!-- // Content Footer -->

    </div><!-- // Page Wrapper -->

    <div class="row" ng-if="servicesCtrl.appMode == 'modifyAnci' || servicesCtrl.appMode == 'modify_segment'">
        <a href="" class="col-md-4 submit-link pull-left" ng-click="servicesCtrl.skipServices()" ng-if="servicesCtrl.appMode == 'modify_segment'">
            <i>&#xf053;</i>
            <span translate="lbl_common_back">Back</span>
        </a>

        <a href="" class="col-md-4 center submit-link pull-left" ng-class="{'text-right': servicesCtrl.appMode == 'modify_segment'}" ng-click="servicesCtrl.backToHome()">
            <i>&#xf021;</i>
            <span translate="btn_common_startOver">Start Over</span>
        </a>
    </div>

</div>
