<div ng-controller="seatmapController as seatMap" >
    <!-- Extra header -->
    <div scroll-top>
        <!-- Content header -->
        <div class="extras-header content-wrapper">
            <section class="content-header">

                <div class="page-title col-md-8 col-sm-8 col-xs-12 seat-page-title">
                    <!-- Page Title -->
                    <h1>
                        <span class="text-left" translate="title_extra_seats" ng-if="!deviceType.isMobileDevice">Select seats for your trip</span>
                        <a href="" class="hidden-xs skip" ng-click="seatMap.skipServices($event)" translate="btn_extra_skipSeat">Skip
                            Seat Selection</a>

                        <span class="text-left heading-title hidden-xs hidden-sm hidden-md hidden-lg" translate="msg_seatmap_pax" style="font-size: 12px;">Select passenger</span>
                    </h1><!-- // Page Title -->
                </div>

                <div class="hidden" id="skipLink">
                    <!-- Page Title -->
                    <a href="" class="skip seat-page-sub-title" ng-click="seatMap.skipServices($event)"></a>
                </div>

                <!-- Confirm button has to go down -->
                <div class="hidden-xs btn-wrap col-md-4 col-sm-4 col-xs-12 pull-right">
                    <span ng-click="seatMap.backToExtras()" class="button red-btn" translate="lbl_common_continue">Continue</span>
                </div>
            </section><!-- // Content header -->
        </div>
    </div><!-- // Extra header -->

    <!-- Page Wrapper -->
    <div class="content-wrapper extras-container">
        <!-- Content Body -->
        <section class="content-body">
            <!-- Row -->
            <div>
                <!-- Extras Content -->
                <div class="extras-content select-seats col-md-8 col-sm-8 col-xs-12 select-meals">
                    <!-- Content Sub Title -->
                    <div class="sub-title hidden-xs">
                        <h2>
                            <span class="truncate">{{seatMap.airportNames.departureAirportName}}</span>
                            <i class="pd-l-1 pd-r-1" ng-if="seatMap.airportNames.arrivalAirportName" translate="msg_common_to">to</i>
                            <span ng-if="seatMap.airportNames.arrivalAirportName" class="truncate">{{seatMap.airportNames.arrivalAirportName}}</span>
                            <span class="ico"
                                  ng-if="seatMap.getFlightDirection(seatMap.airportNames.departureAirportCode, seatMap.airportNames.arrivalAirportCode) === 'outbound'">
                                <span class="icon-outbound-plane-small">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </span>
                            </span>

                            <span class="ico"
                                  ng-if="seatMap.getFlightDirection(seatMap.airportNames.departureAirportCode, seatMap.airportNames.arrivalAirportCode) === 'inbound'">
                                <span class="icon-inbound-plane-small">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </span>
                            </span>
                        </h2>
                        <a href="javascript:;" ng-click="seatMap.nextSector()"
                           ng-show="seatMap.seatPreferance.scopes[0].preferences.length > 1">
                            <span translate="lbl_extra_nextSector">Go To Next Sector</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                    <!-- Mobile Sub Menu -->
<!--                    <div class="sub-title hidden-xs">
                        <p>
                            <span class="truncate">{{seatMap.airportNames.departureAirportName}}</span>
                            <i ng-if="seatMap.airportNames.arrivalAirportName" translate="msg_common_to">to</i>
                            <span ng-if="seatMap.airportNames.arrivalAirportName" class="truncate">{{seatMap.airportNames.arrivalAirportName}}</span>
                            <span class="ico"
                                  ng-if="seatMap.getFlightDirection(seatMap.airportNames.departureAirportCode, seatMap.airportNames.arrivalAirportCode) === 'outbound'">
                                <span class="icon-outbound-plane-small">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </span>
                            </span>

                            <span class="ico"
                                  ng-if="seatMap.getFlightDirection(seatMap.airportNames.departureAirportCode, seatMap.airportNames.arrivalAirportCode) === 'inbound'">
                                <span class="icon-inbound-plane-small">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </span>
                            </span>
                        </p>

                                                <a class="seat-page-sub-title" style="padding-left: 0 !important" href="javascript:;" ng-click="seatMap.nextSector()" ng-show="seatMap.seatPreferance.scopes[0].preferences.length > 1">
                                                    <span style="text-align: center; float: none;" translate="lbl_extra_nextSector">Go To Next Sector</span>
                                                    <i style="text-align: center; float: none;    position: relative;left: -8px;font-size: 14px !important;" class="fa fa-angle-right"></i>
                                                </a>
                    </div>-->
                    <!-- // Content Sub Title -->
                    <!-- Seat Selection -->
                    <div class="seat-selection">
                        <div class="row xs-margin-seats">
                            <!-- Left Section -->
                            <div class="left-section col-md-6 col-sm-6 col-xs-6 pd-0">

                                <!-- Flight Name -->
                                <div class="flight-name hidden-xs">
                                    <h2 translate="msg_extra_fightSeat" translate-values="{a:'{{seatMap.flightId}}'}">
                                        Flight {{seatMap.flightId}}</h2>
                                </div><!-- // Flight Name -->
                                <!--is-open="seatMap.accordionArray[$index]"-->
                                <div class="hidden-sm hidden-md hidden-lg">
                                    <div class="addon-panel" ng-repeat="(key,flights) in seatMap.seatPreferance.scopes">
                                        <uib-accordion class="segment-list" >
                                            <uib-accordion-group ng-repeat="flight in flights.preferences track by $index" ng-click="seatMap.nextSector($index,$event)" is-open="accordionArray[$index]">
                                                <div  ng-if="flight.segments[0].from">
                                                    <uib-accordion-heading ng-if="flights.scopeType == 'SEGMENT'" >
                                                        <div>
                                                            <i class="fa"  ng-class="accordionArray[$index] ? 'fa-angle-up' : 'fa-angle-down'"></i>

                                                            <span><strong>{{flight.segments[0].from}} </strong><i translate="msg_common_to">to</i> <strong>{{flight.segments[0].to}}</strong></span>
                                                            <span class="price pull-right"><i class="currency">{{seatMap.currency}}</i> <i class="font-weight-bold" isa-connector="{{flight.total}}"></i></span>
                                                        </div>
                                                    </uib-accordion-heading>
                                                </div>
                                                <isa-passenger-list
                                                    passenger-list="seatMap.passengerList"
                                                    list-type="seatmap"
                                                    passenger-change="seatMap.passengerChange(pax)"
                                                    selected-passenger="seatMap.assignToIndex"
                                                    on-action-click="seatMap.deleteSeatFromPassenger(paxIndex)"
                                                    device-mode="deviceType">
                                                </isa-passenger-list>
                                            </uib-accordion-group>
                                        </uib-accordion>
                                    </div>

                                </div>

                                <div class="hidden-xs">
                                    <!--Passenger list -->
                                    <isa-passenger-list
                                        passenger-list="seatMap.passengerList"
                                        list-type="seatmap"
                                        passenger-change="seatMap.passengerChange(pax)"
                                        selected-passenger="seatMap.assignToIndex"
                                        on-action-click="seatMap.deleteSeatFromPassenger(paxIndex)">
                                    </isa-passenger-list>
                                </div>

                                <div id="seat-map-legend" class="seat-map-legend hidden-xs">
                                    <h3 translate="lbl_extra_seatMapLegend">Seatmap Legend</h3>
                                    <ul class="hidden-xs">
                                        <li><i class="available-seat-icon"></i> <span translate="lbl_extra_seatLegendAvailable">Available Seat</span></li>
                                        <li><i class="occupied-seat-icon"></i> <span translate="lbl_extra_seatLegendOccupied">Occupied Seat</span></li>
                                        <li><i class="selected-seat-icon"></i> <span translate="lbl_extra_seatLegendSelected">Selected Seat</span></li>
                                        <li ng-show="seatMap.appState === 'modifyReservation'"><i class="previous-seat-icon"></i> <span translate="lbl_extra_seatLegendPrevious">Previous Seat</span> </li>
                                    </ul>
                                    <ul class="hidden-md hidden-sm hidden-lg row">
                                        <div ng-show="seatMap.appState !== 'modifyReservation'">
                                            <li class="col-xs-4">
                                                <i class="seat-icon available-seat-icon"></i> <span translate="lbl_extra_seatLegendAvailable">Available Seat</span>
                                            </li>
                                            <li class="col-xs-4">
                                                <i class="seat-icon occupied-seat-icon"></i> <span translate="lbl_extra_seatLegendOccupied">Occupied Seat</span>
                                            </li>
                                            <li class="col-xs-4">
                                                <i class="seat-icon selected-seat-icon"></i> <span translate="lbl_extra_seatLegendSelected">Selected Seat</span>
                                            </li>
                                        </div>
                                        <div class="xs-modify-seatlegend" ng-show="seatMap.appState === 'modifyReservation'">
                                            <li class="col-xs-3">
                                                <i class="seat-icon available-seat-icon"></i> <span translate="lbl_extra_seatLegendAvailable" class="xs-seatlegend-text">Available Seat</span>
                                            </li>
                                            <li class="col-xs-3">
                                                <i class="seat-icon occupied-seat-icon"></i> <span translate="lbl_extra_seatLegendOccupied" class="xs-seatlegend-text">Occupied Seat</span>
                                            </li>
                                            <li class="col-xs-3">
                                                <i class="seat-icon selected-seat-icon"></i> <span translate="lbl_extra_seatLegendSelected" class="xs-seatlegend-text">Selected Seat</span>
                                            </li>
                                            <li class="col-xs-3">
                                                <i class="seat-icon previous-seat-icon"></i> <span translate="lbl_extra_seatLegendPrevious" class="xs-seatlegend-text">Previous Seat</span> 
                                            </li>
                                        </div>
                                    </ul>
                                </div>

                            </div><!-- // Left Section -->

                            <!-- Seatmap -->
                            <div class="right-section col-md-6 col-sm-6 col-xs-12" id="aircraft-modal-map" >
                                <div ng-if="deviceType.isMobileDevice">
                                    <div class="row map-heading">
                                        <span class="map-heading-title col-xs-10" translate="lbl_seat_select">Select a seat</span>

                                        <span ng-click="seatMap.closeSeatMap()"  class="icon-close pull-right pd-lt-10 pd-rt-10"></span> 
                                    </div>
                                    <div class="row passenger-info">
                                        <div class="name col-xs-7">

                                            <span>{{seatMap.passengerList[seatMap.assignToIndex].displayName}}</span>
                                        </div>
                                        <div class="seat-info col-xs-5">
                                            <div ng-if="seatMap.passengerList[seatMap.assignToIndex].seatAssigned" class="text-right status" translate="lbl_extra_seatLegendSelected">Selected Seat</div>
                                            <div class="pull-right seat-number">{{seatMap.passengerList[seatMap.assignToIndex].seat.seatNumber}}</div>
                                        </div>
                                    </div>
                                    <div class="row seatmap-legend">
                                        <div ng-show="seatMap.appState !== 'modifyReservation'">
                                            <span class="col-xs-4">
                                                <i class="seat-icon available-seat-icon"></i> <span translate="lbl_extra_seatLegendAvailable" class="xs-seatlegend-text">Available Seat</span>
                                            </span>
                                            <span class="col-xs-4">
                                                <i class="seat-icon occupied-seat-icon"></i> <span translate="lbl_extra_seatLegendOccupied" class="xs-seatlegend-text">Occupied Seat</span>
                                            </span>
                                            <span class="col-xs-4">
                                                <i class="pull-left seat-icon selected-seat-icon"></i> <span translate="lbl_extra_seatLegendSelected" class="xs-seatlegend-text">Selected Seat</span>
                                            </span>
                                        </div>
                                        <div class="xs-modify-seatlegend" ng-show="seatMap.appState === 'modifyReservation'">
                                            <span class="col-xs-3">
                                                <i class="seat-icon available-seat-icon"></i> <span translate="lbl_extra_seatLegendAvailable" class="xs-seatlegend-text pd-rt-5">Available Seat</span>
                                            </span>
                                            <span class="col-xs-3">
                                                <i class="seat-icon occupied-seat-icon"></i> <span translate="lbl_extra_seatLegendOccupied" class="xs-seatlegend-text pd-rt-5">Occupied Seat</span>
                                            </span>
                                            <span class="col-xs-3">
                                                <i class="seat-icon selected-seat-icon"></i> <span translate="lbl_extra_seatLegendSelected" class="xs-seatlegend-text pd-rt-5">Selected Seat</span>
                                            </span>
                                            <span class="col-xs-3">
                                                <i class="seat-icon previous-seat-icon"></i> <span translate="lbl_extra_seatLegendPrevious" class="xs-seatlegend-text pd-rt-5">Previous Seat</span> 
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <seat-map seat-map-data-model="seatMap.currentSector.seatMapData"
                                          seat-prefs="seatMap.selectedFlightSeatDetails"
                                          json-map="seatMap.jsonMapForSeats"
                                          assign-pax-list="seatMap.passengerList"
                                          assign-to-index="seatMap.assignToIndex"
                                          on-seat-select="seatMap.afterSelectSeat(selectedSeat, selectedPax, paxIndex, msg)"
                                          on-before-select="seatMap.beforeSelectSeat(selectedSeat, selectedPax, onSuccess)"
                                          navigate-onselect="true"
                                          previous-seats="seatMap.previousSeats[seatMap.sectorCount]"
                                          selection-on-change="seatMap.selectionChanged(event,element)"/>

                            </div><!-- // Seatmap -->
                        </div>
                    </div><!-- // Seat Selection -->


            </div><!-- // Seatmap -->
                <!-- Sidebar -->
                <div class="sidebar col-md-4 col-sm-4" ng-if="!deviceType.isMobileDevice">
                                
                        <!-- Widget -->
                        <div class="sidebar-widget seatmap-optionlist"
                            isaradiooptionlist
                            source="seatMap.seatPreferance"
                            previous-source="seatMap.previousSelection"
                            set-option="seatMap.showExtrasTotal"
                            select-option="seatMap.nextSector(index,section)"
                            level="2"
                            icon-click="seatMap.onDelete(element,event,index)"
                            type="seat" header-value="lbl_common_seats" />
                        <!-- // Widget -->

                    </div><!-- // Sidebar -->
               </div>
                
                <div class="btn-continu-bottom btn-wrap col-md-4 hidden-xs col-sm-4 col-xs-4 pull-right">
                    <span ng-click="seatMap.backToExtras()" class="button red-btn ng-scope" translate="lbl_common_continue">Confirm selection</span>
                </div>

<!--        </div>// Row -->
            
   <!--  </div>// Extras Content -->

    <!-- Sidebar -->
    <div class="sidebar col-md-4 col-sm-4 col-xs-12" ng-if="deviceType.isMobileDevice" >

        <!-- Widget -->
        <div class="sidebar-widget seatmap-optionlist"
             isaradiooptionlist
             source="seatMap.seatPreferance"
             previous-source="seatMap.previousSelection"
             set-option="seatMap.showExtrasTotal"
             select-option="seatMap.nextSector(index,section)"
             level="2"
             icon-click="seatMap.onDelete(element,event,index)"
             type="seat" header-value="lbl_common_seats"
             />
        <!-- // Widget style="width: 100vw;margin-left: -10px;"-->

    </div><!-- // Sidebar -->

    <div class="btn-wrap col-xs-12 col-md-4 col-sm-4 pull-right btn-continu-bottom" ng-if="deviceType.isMobileDevice">
        <span ng-click="seatMap.backToExtras()" class="button red-btn" translate="lbl_common_continue">Continue</span>
    </div>
    <div class="row xs-modify-actions hidden-sm hidden-md hidden-lg" ng-if="seatMap.appMode == 'modifyAnci' || seatMap.appMode == 'modify_segment'">
        <div ng-if="seatMap.appMode == 'modify_segment'">
            <a href="" class="col-md-4 col-sm-6 col-xs-6 submit-link pull-left" ng-click="seatMap.skipServices($event)">
                <i  class="backClass fa fa-angle-left"></i>
                <span translate="lbl_common_back">Back</span>
            </a>

            <a href="" class="col-md-4 col-sm-6 col-xs-6 center submit-link" ng-class="{'text-right': seatMap.appMode == 'modify_segment'}" ng-click="seatMap.backToHome()">
                <i>&#xf021;</i>
                <span translate="btn_common_startOver">Start Over</span>
            </a>
        </div>
        <div ng-if="seatMap.appMode != 'modify_segment'" style="text-align: center;">
            <a href="" class="col-md-4 col-sm-12 col-xs-12 pd-tp-2 center submit-link" ng-class="{'text-center': seatMap.appMode == 'modify_segment'}" ng-click="seatMap.backToHome()">
                <i>&#xf021;</i>
                <span translate="btn_common_startOver">Start Over</span>
            </a>
        </div>
    </div>
</section><!-- // Content Body -->

<!-- Content Footer -->
<div class="content-footer extras-footer" ng-show="seatMap.seatPreferance.scopes[0].preferences.length > 1">
    <div class="row">
        <div class="col-md-8 col-sm-7 hidden-xs">
            <div class="footer-title">
                <a href="javascript:;" ng-click="seatMap.nextSector()"
                   ng-show="seatMap.seatPreferance.scopes[0].preferences.length > 1">
                    <span translate="lbl_extra_nextSector">Go To Next Sector</span>
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>


        <!-- <div class="hidden-sm hidden-md hidden-lg col-xs-12">
            <div class="footer-title">
                document.getElementById('seat-map-legend').scrollIntoView()
                <a class="seat-page-sub-title" style="padding-left: 0 !important" 
                   href="javascript:;"  onclick="$('html, body').animate({scrollTop: 0}, 2000);" ng-click="seatMap.nextSector()"ng-show="seatMap.seatPreferance.scopes[0].preferences.length > 1">
                    <span style="text-align: center; float: none;" translate="lbl_extra_nextSector">Go To Next Sector</span>
                    <i style="text-align: center; float: none; position: relative;left: -8px;font-size: 14px !important;" class="fa fa-angle-right"></i>
                </a>
            </div>
        </div> -->
    </div>
</div><!-- // Content Footer -->
</div><!-- // Page Wrapper -->

<div class="row xs-modify-actions hidden-xs" ng-if="seatMap.appMode == 'modifyAnci' || seatMap.appMode == 'modify_segment'">
    <div ng-if="seatMap.appMode == 'modify_segment'">
        <a href="" class="col-md-4 col-sm-6 col-xs-6 submit-link pull-left" ng-click="seatMap.skipServices($event)">
            <i>&#xf053;</i> 
            <span translate="lbl_common_back">Back</span>
        </a>

        <a href="" class="col-md-4 col-sm-6 col-xs-6 center submit-link" ng-class="{'text-right': seatMap.appMode == 'modify_segment'}" ng-click="seatMap.backToHome()">
            <i>&#xf021;</i>
            <span translate="btn_common_startOver">Start Over</span>
        </a>
    </div>
    <div ng-if="seatMap.appMode != 'modify_segment'" style="text-align: center;">
        <a href="" class="col-md-4 col-sm-12 col-xs-12 center submit-link" ng-class="{'text-center': seatMap.appMode == 'modify_segment'}" ng-click="seatMap.backToHome()">
            <i>&#xf021;</i>
            <span translate="btn_common_startOver">Start Over</span>
        </a>
    </div>
</div>

</div>

