<div ng-controller="inFlightServicesController as servicesCtrl">
    <!-- Extra header -->
    <div scroll-top>
        <!-- Content header -->
        <div class="extras-header content-wrapper" ng-if="deviceType.isSmallDevice|| deviceType.isLargeDevice">
            <section class="content-header">

                <div class="page-title col-md-8 col-sm-8 col-xs-12 extras-page-title">
                    <!-- Page Title -->
                    <h1>
                        <span translate="title_extra_flightServices">In Flight Services</span>
                        <a href="" class="skip hidden-xs" ng-click="servicesCtrl.skipServices()" translate="btn_extra_skipSvc">Skip Services Selection</a>
                    </h1><!-- // Page Title -->
                </div>
                <!-- <div class="page-title hidden-md hidden-sm hidden-lg col-xs-12">
                <h1>
                <a href="" class="extras-page-sub-title" ng-click="servicesCtrl.skipServices()" translate="btn_extra_skipSvc">Skip Services Selection</a>
                </h1> // Page Title
                </div>-->

                <div class="btn-wrap col-md-4 col-sm-4 hidden-xs pull-right">
                    <span ng-click="servicesCtrl.backToExtras()" class="button red-btn" translate="lbl_common_continue">Continue</span>
                </div>
                <!-- <div class="hidden-sm hidden-md hidden-lg col-xs-12" style="padding-left: 0; padding-right: 0; padding-top:12px;">
                <span ng-click="servicesCtrl.backToExtras()" class="button red-btn" translate="lbl_common_continue">Continue</span>
                </div>-->
            </section><!-- // Content header -->
        </div>
    </div><!-- // Extra header -->

    <!-- Page Wrapper -->
    <div class="content-wrapper extras-container" ng-if="servicesCtrl.availableServices">
        <!-- Content Body -->
        <section class="content-body extras-xs-body">
            <!-- Row -->
            <div>

                <!-- Extras Content -->
                <div class="extras-content select-sevices col-md-8 col-sm-8 col-xs-12 hidden-xs select-meals">

                    <!-- Content Sub Title -->
                    <div class="sub-title">
                        <h2>

                            <span class="truncate">{{servicesCtrl.airportNames.departureAirportName}}</span>
                            <i ng-if="servicesCtrl.airportNames.arrivalAirportName" translate="msg_common_to">to</i>
                            <span class="truncate" ng-if="servicesCtrl.airportNames.arrivalAirportName">{{servicesCtrl.airportNames.arrivalAirportName}}</span>

                            <span class="ico" ng-if="servicesCtrl.airportNames.departureAirportCode === servicesCtrl.searchCriteria.from || servicesCtrl.airportNames.arrivalAirportCode === servicesCtrl.searchCriteria.to">
                                <span class="icon-outbound-plane-small">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </span>
                            </span>

                            <span class="ico" ng-if="servicesCtrl.airportNames.arrivalAirportCode === servicesCtrl.searchCriteria.from || servicesCtrl.airportNames.departureAirportCode === servicesCtrl.searchCriteria.to">
                                <span class="icon-inbound-plane-small">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </span>
                            </span>

                        </h2>

                        <a href="" ng-show="servicesCtrl.servicesPreference.scopes[0].preferences.length > 1">
                            <span ng-click="servicesCtrl.nextSector()" translate="lbl_extra_nextSector">
                                Go To Next Sector
                            </span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                    <!-- <div class="sub-title hidden-sm hidden-md hidden-lg">
                    <p>
                    <span class="">{{servicesCtrl.airportNames.departureAirportName}}</span>
                    <i ng-if="servicesCtrl.airportNames.arrivalAirportName" translate="msg_common_to">to</i>
                    <span class="" ng-if="servicesCtrl.airportNames.arrivalAirportName">{{servicesCtrl.airportNames.arrivalAirportName}}</span>
                    <span class="ico" ng-if="servicesCtrl.airportNames.departureAirportCode === servicesCtrl.searchCriteria.from || servicesCtrl.airportNames.arrivalAirportCode === servicesCtrl.searchCriteria.to">
                    <span class="icon-outbound-plane-small">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    </span>
                    </span>
                    
                    <span class="ico" ng-if="servicesCtrl.airportNames.arrivalAirportCode === servicesCtrl.searchCriteria.from || servicesCtrl.airportNames.departureAirportCode === servicesCtrl.searchCriteria.to">
                    <span class="icon-inbound-plane-small">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    </span>
                    </span>
                    </p>
                    
                    <a class="extras-page-sub-title" style="padding-left: 0 !important; margin-top:0 !important;" href="javascript:;" ng-click="servicesCtrl.nextSector()" ng-show="servicesCtrl.servicesPreference.scopes[0].preferences.length > 1">
                    <span style="text-align: center; float: none;" ng-click="servicesCtrl.nextSector()" translate="lbl_extra_nextSector">Go To Next Sector</span>
                    <i style="text-align: center; float: none; position: relative;left: -8px;font-size: 14px !important;" class="fa fa-angle-right"></i>
                    </a>
                    </div>-->
                    <div class="services-selection">
                        <div class="row">

                            <!-- Left Section -->
                            <!-- <div class="hidden-sm hidden-md hidden-lg col-xs-12" style="text-align: center; padding-bottom: 15px;">
                            <span class="heading-title ng-scope" translate="msg_seatmap_pax">Select passenger from the list below</span>
                            </div>-->
                            <div class="col-md-12 col-sm-12 hidden-xs" style="padding-bottom: 15px;">
                                <span class="heading-title ng-scope" translate="msg_seatmap_pax">Select passenger from the list below</span>
                            </div>
                            <div class="left-section col-md-5 col-sm-5 col-xs-12">
                                <isa-passenger-list passenger-list="servicesCtrl.paxData"
                                                    device-mode="deviceType"
                                                    list-type="services"
                                                    service="services"
                                                    passenger-change="servicesCtrl.passengerChange(pax)"
                                                    selected-passenger="servicesCtrl.selectedPax">
                                </isa-passenger-list>
                            </div><!-- // Left Section -->

                            <!-- Right Section -->
                            <div class="right-section xs-right-section col-md-7 col-sm-7 col-xs-12">

                                <!-- Available Services -->
                                <div class="available-services">

                                    <!-- Title -->
                                    <h2 class="title" translate="title_extra_availableSvc">Available Services</h2><!-- // Title -->

                                    <h4 class="text-center"
                                        ng-if="servicesCtrl.availableServices.length === 0"
                                        translate="lbl_extra_noInFightServices">
                                        No in flight service available
                                    </h4>
                                    <div isaservicesoptionlist
                                         option-click="servicesCtrl.optionClick(id, index)"
                                         source="servicesCtrl.availableServices"
                                         selected-items="servicesCtrl.currentServiceList"
                                         template="inFlightServices"
                                         on-input-change = "servicesCtrl.onCommentChange(value,type)" ></div>

                                </div><!-- // Available Services -->

                            </div><!-- // Right Section -->

                        </div>
                    </div><!-- // Seat Selection -->

                    <!-- Content Sub Title -->
                    <!-- <div class="footer-title">
                    <a href="" ng-show="servicesCtrl.servicesPreference.scopes[0].preferences.length > 1">
                    <span ng-click="servicesCtrl.nextSector()" translate="lbl_extra_nextSector">
                    Go To Next Sector
                    </span>
                    <i class="fa fa-angle-right"></i>
                    </a>
                    </div> --><!-- // Content Sub Title -->

                </div><!-- // Extras Content -->


                <!-- Sidebar-xs-->

                <div ng-if="deviceType.isMobileDevice">
                    <div class="extra-service-addon" ng-repeat="(key,flights) in servicesCtrl.servicesPreference.scopes">
                        <uib-accordion class="segment-list" >
                            <uib-accordion-group ng-repeat="flight in flights.preferences track by $index" is-open="accordionArray[$index]" >
                                <div ng-if="flight.segments[0].from" >
                                    <uib-accordion-heading ng-if="flights.scopeType == 'SEGMENT'" >
                                        <div ng-click="servicesCtrl.nextSector($index)">
                                            <i class="fa" ng-class="accordionArray[$index] ? 'fa-angle-up' : 'fa-angle-down'"></i>

                                            <span class="pd-rt-10"><span class="origin-dest-name">{{flight.segments[0].from}} </span><i class="font-weight-normal" translate="msg_common_to">to</i> <span class="origin-dest-name">{{flight.segments[0].to}}</span></span>
                                            <span class="price pull-right"><span class="currency font-weight-normal"></span> <span class="font-weight-bold" isa-connector="{{flight.total}}"></span></span>
                                        </div>
                                    </uib-accordion-heading>
                                </div>
                                <isa-passenger-list passenger-list="servicesCtrl.paxData"
                                                    option-clickparent="servicesCtrl.optionClick(id, index)"
                                                    list-type="services"
                                                    device-mode="deviceType"
                                                    passenger-change="servicesCtrl.passengerChange(pax)"
                                                    selected-passenger="servicesCtrl.selectedPax"
                                                    source="servicesCtrl.availableServices"
                                                    selected-items="servicesCtrl.currentServiceList"
                                                    passenger-type="servicesCtrl.passengerType"
                                                    passenger="servicesCtrl.paxData[servicesCtrl.selectedPax]"
                                                    outer-index="$index"
                                                    >
                                </isa-passenger-list>
                            </uib-accordion-group>
                        </uib-accordion>
                    </div>

                </div><!-- //Sidebar-xs-->

                <!-- Sidebar -->
                <div class="sidebar extra-service-sidebar col-md-4 col-xs-12 col-sm-4 " >

                    <div class="sidebar-widget"
                         isaradiooptionlist
                         source="servicesCtrl.servicesPreference"
                         set-option="servicesCtrl.sectionSelection"
                         select-option="servicesCtrl.nextSector(index, section)"
                         level="2"
                         icon-click="servicesCtrl.onDelete(element,event,index)"
                         type="services" header-value="lbl_extra_inFlightHeader">
                    </div>
                </div> <!--//Sidebar-->


                <div class="btn-continu-bottom-inflight btn-wrap col-md-4 col-sm-4 col-xs-12 pull-right">
                    <span ng-click="servicesCtrl.backToExtras()" class="button red-btn" translate="lbl_common_continue">Continue</span>
                </div>
                <div class="row xs-modify-actions hidden-sm hidden-md hidden-lg" ng-if="servicesCtrl.appmode == 'modifyAnci' || servicesCtrl.appmode == 'modify_segment'">
                    <div ng-if="servicesCtrl.appmode == 'modify_segment'">
                        <a href="" class="col-md-4 col-sm-6 col-xs-6 pd-l-5 pd-r-5 submit-link pull-left" ng-click="servicesCtrl.skipServices()">
                            <i class="backClass fa fa-angle-left"></i>
                            <span translate="lbl_common_back">Back</span>
                        </a>

                        <a href="" class="col-md-4 col-sm-6 col-xs-6 pd-r-5 pd-l-5 center submit-link" ng-class="{'text-right': servicesCtrl.appmode == 'modify_segment'}" ng-click="servicesCtrl.backToHome()">
                            <i>&#xf021;</i>
                            <span translate="btn_common_startOver">Start Over</span>
                        </a>
                    </div>
                    <div ng-if="servicesCtrl.appmode != 'modify_segment'" style="text-align: center;">
                        <a href="" class="col-md-4 col-sm-12 col-xs-12 pd-tp-2 center submit-link" ng-class="{'text-center': servicesCtrl.appmode == 'modify_segment'}" ng-click="servicesCtrl.backToHome()">
                            <i>&#xf021;</i>
                            <span translate="btn_common_startOver">Start Over</span>
                        </a>
                    </div>
                </div>
            </div><!-- // Row -->
    </div>
</section><!-- // Content Body -->


<!-- Content Footer -->
<div class="content-footer extras-footer" ng-show="servicesCtrl.servicesPreference.scopes[0].preferences.length > 1">
    <div class="row">
        <div class="col-md-8 col-sm-8 hidden-xs">
            <div class="footer-title">
                <a href="" ng-show="servicesCtrl.servicesPreference.scopes[0].preferences.length > 1">
                    <span ng-click="servicesCtrl.nextSector()" translate="lbl_extra_nextSector">
                        Go To Next Sector
                    </span>
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
        <!-- <div class="hidden-sm hidden-md hidden-lg col-xs-12">
        <div class="footer-title">
        document.getElementById('seat-map-legend').scrollIntoView()
        <a class="seat-page-sub-title" style="padding-left: 0 !important"
        href="javascript:;" onclick="$('html, body').animate({scrollTop: 0}, 2000);" ng-click="servicesCtrl.nextSector()" ng-show="servicesCtrl.servicesPreference.scopes[0].preferences.length > 1">
        <span style="text-align: center; float: none;" translate="lbl_extra_nextSector">Go To Next Sector</span>
        <i style="text-align: center; float: none; position: relative;left: -8px;font-size: 14px !important;" class="fa fa-angle-right"></i>
        </a>
        </div>
        </div>-->
    </div>
</div><!-- // Content Footer -->

</div><!-- // Page Wrapper -->

<!-- <div class="row" ng-if="servicesCtrl.appMode == 'modifyAnci' || servicesCtrl.appMode == 'modify_segment'">
<a href="" class="col-md-4 submit-link pull-left" ng-click="servicesCtrl.skipServices()" ng-if="servicesCtrl.appMode == 'modify_segment'">
<i >&#xf053;</i>
Back
</a>

<a href="" class="col-md-4 center submit-link pull-left" ng-class="{'text-center': servicesCtrl.appMode == 'modify_segment'}" ng-click="servicesCtrl.backToHome()">
<i>&#xf021;</i>
Start Over
</a>
</div> -->
<div class="row xs-modify-actions" ng-if="servicesCtrl.appMode == 'modifyAnci' || servicesCtrl.appMode == 'modify_segment'">
    <div ng-if="servicesCtrl.appMode == 'modify_segment'">
        <a href="" class="col-md-4 col-sm-6 col-xs-6 submit-link pull-left" ng-click="servicesCtrl.skipServices()">
            <i>&#xf053;</i>
            <span translate="lbl_common_back">Back</span>
        </a>

        <a href="" class="col-md-4 col-sm-6 col-xs-6 center submit-link" ng-class="{'text-right': servicesCtrl.appMode == 'modify_segment'}" ng-click="servicesCtrl.backToHome()">
            <i>&#xf021;</i>
            <span translate="btn_common_startOver">Start Over</span>
        </a>
    </div>
    <div ng-if="servicesCtrl.appMode != 'modify_segment'" style="text-align: center;">
        <a href="" class="col-md-4 col-sm-12 col-xs-12 center submit-link" ng-class="{'text-center': servicesCtrl.appMode == 'modify_segment'}" ng-click="servicesCtrl.backToHome()">
            <i>&#xf021;</i>
            <span translate="btn_common_startOver">Start Over</span>
        </a>
    </div>
</div>
