<div class="section-popup fade" ng-class="{'show in':blockSection}" ng-style="popupPos" >
    <div class="header col-sm-12">
        <label>You selected {{farePopupHeader}}</label>
        <a href="javascript:;" class="pull-right" ng-click="closePopup()"><i class="fa fa-close"></i></a>
    </div>
    <div class="panelBody col-sm-12">
        <div class="special-savings"></div>
        <div class="flight-details">
            {{originName}} to {{destinationName}} on
            {{flightDepartureDate}} Dep: {{flightDepartureTime}} -
            {{ (flightDepartureDate===flightArrivalDate) ? "" : (flightArrivalDate + " ") }}Arr: {{flightArrivalTime}}
        </div>
        <div class="fare-details">
            <span>
                    <span class="currency-text currency">{{currency}}</span>
                    <span class="price" isa-connector="{{incomingFare}}"></span>
            </span>
            <span class="fare-popup-icon icon-plane_shape_R"></span></div>
        <div class="btn red-btn popup-btn" ng-click="onConfirm({msg : 'this fare is confirmed'})">{{popupButtonCaption}}</div>
    </div>
</div>
<div class="section-mask" ng-style="applyMask" ng-click="closePopup()"></div>
