<div class="row options-row header fare_col_{{headerInfo.length}}" ng-show="headerInfo.length">
    
    <div class="col-xs-12 left-section">
        <div class="options-td departure-time">
            <label>
                <span translate="lbl_common_departure_time">Departure</span>
            </label>
         <!--   <br>
            <label>
            	<span translate="lbl_common_time">Time</span>
            </label>-->
        </div>
        <div class="options-td flight-info">
            <label class="flight-info-label" translate="lbl_common_flightInformation">Flight Information</label>
        </div>
        <div class="options-td arrival-time">
            <label>
                <span translate="lbl_common_arrival_time">Arrival</span>
            </label>
            <!--	<br>
            <label>
                <span translate="lbl_common_time">Time</span>
            </label> -->
        </div>
    </div>

    <div class="right-section right-section-header hidden-xs">
        <div style="text-align: center; width:33%;" ng-repeat="fareType in headerInfo  | limitTo:5" class="class-fare options-td fare-col fare-col-{{ headerInfo.length }}
        fare-type-{{$index + 1}}" ng-style="fTypeWidth" id="{{fareType.fareTypeId}}" ng-class="{'moreOptionHidden':carrierCode==='W5'}">
             
            <div class="pull-left tool-tip-anchor">
                    {{fareType.fareTypeName}}
            </div>
            
            <div ng-if="showFareBundleDescription === true && carrierCode !=='W5'">
               <a style="width:auto; margin-right:10px;" href="javascript:;" uib-tooltip-template="'myTooltipTemplate.html'" tooltip-placement="bottom" tooltip-append-to-body="true"
                   tooltip-trigger="mouseenter" tooltip-class="flight-header-tooltip" class="pull-right" translate="label_common_more">more</a>
                <img ng-src="{{fareType.imageUrl}}" style="display: none">
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="myTooltipTemplate.html">
        <img ng-if="fareType.imageUrl!==''" ng-src="{{fareType.imageUrl}}" alt=""/>
    </script>
</div>