
<div class="dashboard credit-history" ng-controller="viewCreditHistoryCtrl as viewCredit">


        <section class="content-wrapper">

            <!-- Content header -->
            <div class="content-header view-credit-container">

                <!-- Page Title -->
                <h1 class="page-title col-sm-8">
                    <span class="main-text">Airline Credits</span>

                </h1><!-- // Page Title -->

                <div class="btn-wrap col-sm-2 pull-right" ng-hide="viewCredit.isUserLoggedIn">
                    <a href="" ng-click="viewCredit.backToDashboard()">Back to Home</a>
                </div>

                <div class="pagination-wrap col-sm-2 pull-right">
                    <span class="info pull-left">
                        <label>{{viewCredit.startingIndex}}</label>
                        - <label>{{viewCredit.totalRecords > viewCredit.endingIndex ? viewCredit.endingIndex : viewCredit.totalRecords}}</label>
                        <i>of</i>
                        <label>{{viewCredit.totalRecords}}</label>
                    </span>
                    <ul class="page-controllers pull-right">
                        <li class="pull-left" ng-click="viewCredit.prevPage()" ng-disable ="!viewCredit.isPrev"ng-class ="{'disable': !viewCredit.isPrev}"><a href="" ><i class="fa fa-angle-left"></i></a></li>
                        <li class="pull-left" ng-click="viewCredit.nextPage()" ng-disable="!viewCredit.isNext" ng-class ="{'disable': !viewCredit.isNext}"><a href="" ><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>

            </div><!-- // Content header -->

            <!-- Content Body -->
            <div class="content-body">

                <div class="row ma-bt-4 ma-tp-4">
                    <div class="col-md-12">
                        <div class="ma-bt-1">
                            Your current credit with the airline is <strong><span class="" isa-connector="{{viewCredit.airlineCredits}}" decimal-points="2" with-decimal="true"></span></strong> <span class="currency-text currency"></span>
                        </div>
                        <div class="ma-bt-1">
                            Click the Reservation Number below to view details of your booking(s).
                        </div>
                        <div class="ma-bt-1">
                            <span>To use your credit for a new reservation, please contact our</span>
                            <a ng-href="{{viewCredit.callCenterLink}}">Call Centre</a>
                            <span>in your region.</span>
                        </div>
                    </div>
                </div>

                <!-- Row -->
                <div class="row hidden-xs">

                    <!-- Inside Content -->
                    <div class="inside-content col-sm-12">

                        <!-- My Reservations -->
                        <div class="my-reservations details-tittle">

                            <!-- My Reservations Table -->
                            <div class="my-reservations-table airline-credit-table">

                                <!-- Row -->
                                <div class="mrt-row mrt-heading">
                                    <div class="col col-sm-3 text-left">ID</div>
                                    <div class="col col-sm-3">Passenger</div>
                                    <div class="col col-sm-3">Credit Amount</div>
                                    <div class="col col-sm-3">Use Before</div>
                                </div><!-- // Row -->


                                <!-- Row : repeat -->
                                <div class="mrt-row" ng-repeat="trip in viewCredit.creditHistoryPageData">
                                    <div class="col col-sm-3 text-left">
                                        <label>{{ trip.pnr }}</label>
                                    </div>

                                    <div class="col col-sm-3" >
                                        <label>{{trip.fullName}}</label>
                                    </div>
                                    <div class="col col-sm-3">
                                        <label>{{trip.balance}}</label>
                                    </div>
                                    <div class="col col-sm-3">
                                        <label>{{trip.dateOfExpiry |date:'dd MMM yyyy' }}</label>
                                    </div>
                                </div><!-- // Row -->


                            </div><!-- // My Reservations Table -->

                            <!-- View All Reservations -->
                            <!--<div class="all-reservations row">
                                <div class="col-sm-5">
                                    <span class="button gray-btn">View All Reservations</span>
                                </div>
                            </div>--><!-- // View All Reservations -->
                        </div><!-- // My Reservations -->

                    </div><!-- // Inside Content -->


                </div><!-- // Row -->

                <div class="row visible-xs">
                        <!-- Row : repeat -->
                        <table>
                            <tr class="mrt-row" ng-repeat="trip in viewCredit.creditHistoryPageData">
                                
                                <td class="credits-row">    
                                    <div class="col-xs-12 credits-col">

                                        
                                        <div class="col col-xs-6 credits-airline-header">ID</div>
                                        <div class="col col-xs-6 credits-airline-header">Passenger</div>    
                                        <div class="col col-xs-6">
                                            <label>{{ trip.pnr }}</label>
                                        </div>
                                        
                                        <div class="col col-xs-6 credits-airline-fullname" >
                                            <label>{{trip.fullName}}</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 credits-col">

                                    
                                        <div class="col col-xs-6 credits-airline-header">Credit Amount</div>
                                        <div class="col col-xs-6 credits-airline-header">Use Before</div>
                                        <div class="col col-xs-6">
                                            <label>{{trip.balance}}</label>
                                        </div>
                                        
                                        <div class="col col-xs-6">
                                            <label>{{trip.dateOfExpiry |date:'dd MMM yyyy' }}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        
                </div>

            </div><!-- // Content Body -->

        </section><!-- // Page Wrapper -->

</div>
