.legacyBody {
	background : #4584C5;
	min-width:999px;
	overflow:hidden;	
}

.legacyBodyCustom {
	background : #4584C5;
	max-width:400px;
	overflow:hidden;	
}

#divLegacyRootWrapper {
	width:999px;
	height:690px;
	background-image:url('../images/accelaero/legacy-background_no_cache.gif');
	margin-left:auto;
	margin-right:auto;
	display:block;
}

/* menu Styles */

.menuTopBar {
  background-color: transparent;
  border: 2px thin;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
  padding: 1px 4px;
}
	
.menuBar {
  background-color: #4584C5;
  border: 1px solid;
  border-color: #4584C5 #808080 #808080 #4584C5;
  padding: 0px 0px;
  border-left: 0px;
  border-top: 0px
}

.menuPad {
  background-color: #DBDBDB;
  border: 2px solid;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
  padding:4px;
}

.menuItem {
  background-color: transparent;
  border: 0px solid #DBDBDB;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  padding: 3px 6px 3px 6px;
}

.menuTopItem {
  background-color: transparent;
  border: 0px solid;
  border-top-color: #ECECEC;
  border-left-color:#ECECEC;
  border-right-color:#ECECEC; 
  border-bottom-color: #B7B7B7;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 6px 6px 6px 6px;
}

.menuItemOn {
  background-color: #4584C5;
  border: 0px solid #DBDBDB;
  color: #000000;
  cursor: default;
  padding: 6px 6px 6px 6px;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
}
.menuItemDown {
  background-color: #4584C5;
  border: 0px solid #DBDBDB;
  color: #fff;
  cursor: pointer;
  padding: 6px 6px 6px 6px;
  margin-top:0px; margin-left:1px;
  border-color: #704020 #FFFFFF #FFFFFF #704020;
}

.menuItemSub {
  background-color: #dde9f5;
  border: 0px solid #DBDBDB;
  color: #000000;
  cursor: default;
  font-weight: bold;
  padding: 3px 6px 3px 6px;
  border: 0px solid #808080;
}

.holderSpace {
  border: 1px solid #DBDBDB;
  color: #DBDBDB;
  font-weight: bold;
  padding: 2px 6px 2px 6px;
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}

.menuFont {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}
.menuFontOff {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
}
.menuFontOn {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #000;
}

.menuFontOffBold {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
}
.menuFontOnBold {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
}
.menuInfo 
{
	padding: 2px 6px 2px 6px; 
}

.tagOn {
	background:url("../images/accelaero/AA124_no_cache.gif") no-repeat scroll center bottom transparent;
	float:right;
	height:12px;
	width:8px;
}
.tagOff {
	background:url("../images/accelaero/AA125_no_cache.gif") no-repeat scroll center bottom transparent;
	float:right;
	height:12px;
	width:8px;
}