
.ext-el-mask {
    background-color: #ccc;
}

.ext-el-mask-msg {
    border-color:#999;
    background-color:#ddd;
    background-position: 0 -1px;
}
.ext-el-mask-msg div {
    background-color: #eee;
    border-color:#d0d0d0;
    color:#222;
    font:normal 11px tahoma, arial, helvetica, sans-serif;
}

.x-mask-loading div {
    background-color:#fbfbfb;
}

.x-item-disabled {
    color: gray;
}

.x-item-disabled * {
    color: gray !important;
}

.x-splitbar-proxy {
    background-color: #aaa;
}

.x-color-palette a {
    border-color:#fff;
}

.x-color-palette a:hover, .x-color-palette a.x-color-palette-sel {
    border-color:#CFCFCF;
    background-color: #eaeaea;
}

.x-color-palette em:hover, .x-color-palette span:hover{   
    background-color: #eaeaea;
}

.x-color-palette em {
    border-color:#aca899;
}

.x-ie-shadow {
    background-color:#777;
}

.x-spotlight {
    background-color: #ccc;
}

.x-form-field{
    font:normal 12px tahoma, arial, helvetica, sans-serif;
}

.x-form-text, textarea.x-form-field{
    background-color:#fff;
    border-color:#79B7E7;
}

.x-form-select-one {
    background-color:#fff;
    border-color:#79B7E7;
}

.x-form-check-group-label {
    border-bottom: 1px solid #79B7E7;
    color: #333;
}

.x-editor .x-form-check-wrap {
    background-color:#fff;
}

.x-form-field-wrap .x-form-trigger{
    background-image:url(../images/extjs/trigger_no_cache.gif);
    border-bottom-color:#b5b8c8;
}


.x-trigger-wrap-focus .x-form-trigger{
    border-bottom-color: #777777;
}

.x-item-disabled .x-form-trigger-over{
    border-bottom-color:#b5b8c8;
}

.x-item-disabled .x-form-trigger-click{
    border-bottom-color:#b5b8c8;
}

.x-form-focus, textarea.x-form-focus{
	border-color:#79B7E7;
}

.x-form-invalid, textarea.x-form-invalid{
    background-color:#fff;
	border-color:#c30;
}

.ext-webkit .x-form-invalid{
	background-color:#fee;
	border-color:#ff7870;
}

.x-form-inner-invalid, textarea.x-form-inner-invalid{
    background-color:#fff;
}

.x-form-grow-sizer {
	font:normal 12px tahoma, arial, helvetica, sans-serif;
}

.x-form-item {
    font:normal 12px tahoma, arial, helvetica, sans-serif;
}

.x-form-invalid-msg {
    color:#c0272b;
    font:normal 11px tahoma, arial, helvetica, sans-serif;
}

.x-form-empty-field {
    color:gray;
}

.x-small-editor .x-form-field {
    font:normal 11px arial, tahoma, helvetica, sans-serif;
}

.ext-webkit .x-small-editor .x-form-field {
    font:normal 12px arial, tahoma, helvetica, sans-serif;
}

.x-fieldset {
    border-color:#CCCCCC;
}

.x-fieldset legend {
    font:bold 11px tahoma, arial, helvetica, sans-serif;
    color:#777777;
}.x-btn{
	font:normal 11px tahoma, verdana, helvetica;
}

.x-btn button{
    font:normal 11px arial,tahoma,verdana,helvetica;
    color:#333;
}

.x-btn em {
    font-style:normal;
    font-weight:normal;
}

.x-btn-click .x-btn-text, .x-btn-menu-active .x-btn-text, .x-btn-pressed .x-btn-text{
    color:#000;
}

.x-btn-disabled *{
	color:gray !important;
}


.x-btn-group-header {
    color: #666;
}



