.search-flight {
  input[type="date"]:before{
    color:lightgray;
    content:attr(placeholder);
  }

  input[type="date"].full:before {
    color:black;
    content:""!important;
  }

  ul {
    li {
      width: 50%;
      display: inline-block;
      text-align: center;

      &.tabs-title {
        &.is-active {
          border-bottom: none;
          a {
            color: $site-primary-color;
            background: #ffffff;
            font-weight: 700;
          }
        }
      }
      a {
        background: #E8E8E8;
        color: rgba(145, 145, 145, 0.7);
        font-family: 'proxima_novalight';
        font-size: 24px;
        span {
          font-size: 24px;
          //line-height: 100%;
          &.icon-oneway3, .icon-return2 {
            //font-size: 32px;
            // line-height: 0;
          }
          &.one-way {
            // line-height: 150%;
            //vertical-align: top;
          }
        }
      }
    }
  }

  .flight-search-info {
    .tabs-content {
      .tabs-panel {
        .icon-return2 {
          font-size: 24px;
        }
        .icon-oneway3 {
          font-size: 32px;
        }
      }
      .title-icn {
        height: 2.4375rem;
        padding: 0.5rem;
        border: 1px solid #f8f7f7;
        margin: 0 0 1rem;
        font-size: 1rem;
        font-family: inherit;
        line-height: normal;
        color: #0a0a0a;
        background-color: #f8f7f7;
        border-radius: 0;
      }
      select {
        border-radius: 0;
      }
      .input-val {
        margin: 0 0;
        padding: 0;
        .origin {
        }
      }
      .qtyminus, .qtyplus {
        background: #cfcfcf;
        border-radius: 5px 0 0 5px;
        border: none;
        height: 2.4375rem;
        width: 100%;
        font-size: 20px;
      }
      .qty {
        width: 100%;
        padding: 5px;
        text-align: center;
        color: #888888;
      }
      .qtyplus {
        border-radius: 0 5px 5px 0;
      }
    }
  }
}