.fare-floater-wrapper{
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.slick-track .slide{
  text-align: center;
  outline: none;
}

.accelAero-slide{
  position: relative;
  height: 97px;
  ul{
    margin: 0;
    padding: 0;
    position: relative;

    li{
      min-height: 100px;
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
      width: 0;
      position: relative;
      cursor: pointer;
      float: right;
      border-bottom: 1px solid #DCDCDC;

      img{
        position: absolute;
        top:25%;
        left:40%;
      }

      >div.day-block{
        position: absolute;
        top:15%;
        bottom: 15%;
        left: 0%;
        right: 0%;
        border-left: 0;
        border-right: 1px solid $border-color;
        div{
          position: absolute;
          top: -10px;
          bottom: -15px;
          left: -1px;
          right: -1px;
          padding-top: 10px;


        }
      }
      .day-date-text, .day-month-date-text, .day-fare, .not-fare{
        display: block;
      }
      .day-month-date-text{
        text-transform: uppercase;
      }
      .day-fare{
        margin-top: 8px;
        color: $font-color;
        font-weight: 600;
        font-size: 16px;
        i{
          font-style: normal;
        }
      }
      .day-fare.not-fare {
        color: $font-color;
        i{
          font-style: normal;
        };
      }



    }
  }
  ul.rtl{
    ul {
      li {
        float: left;

        >div.day-block{
          border-right: 0;
          border-left: 1px solid $border-color;
        }
      }
    }
  }

  .selected-date{
    .animated{
      background-color: $secondary-color;
      transition:background-color .8s ease-in-out;
      border-bottom: 4px solid $primary-color;
    }
    .day-fare{
      font-size: 20px;
      margin-top:4px;
      color: $primary-color;
      transition:all .2s ease-in-out;
    }

  }

  a.slide-nav{
    position: absolute;
    top:0;
    width: 25px;
    height: 100%;
    line-height: 90px;
    font-size: 20px;
    color: $border-color;
  }
  a.slide-prev{
    left: 0px;
    text-align: right;
  }
  a.slide-next{
    right: 0px;
    text-align: left;
  }
  li.dying>div{
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease-in-out;
  }
}

/*====================================
=            Radio Button            =
====================================*/

.fare-radio-container{
  margin-bottom: 0px;
}

.fare-radio {
  width:100%;

  &:hover{
    cursor: pointer;
  }

  @extend .no-select;
  padding: 0;
  float: left;
  line-height: 20px !important;
  position: relative;

  label {
    cursor: pointer;
    float: left;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
  }
}

.fare-radio [type="radio"]:not(:checked),
.fare-radio [type="radio"]:checked {

  position: absolute;
  left: 999999px;
}

.fare-radio [type="radio"] + label:before {
  width:100%;
  margin-right: 8px;
  float: left;
  line-height: 20px !important;
  height: 16px;
}

.fare-radio [type="radio"]:not(:checked) + label:before {
  width:100%;
  content: '\f1db';
  font: normal normal normal 16px/1 FontAwesome;
  line-height: 20px !important;
  color: #a6a7b1;
}

.fare-radio [type="radio"]:checked + label:before {
  width:100%;
  content: '\f1db';
  font: normal normal normal 16px/1 FontAwesome;
  line-height: 20px !important;
  color: #a6a7b1;
}

.fare-radio [type="radio"]:checked + label:after {
  width:100%;
  color: $primary-color;
  content: '\f111';
  font: normal normal normal 8px/1 FontAwesome;
  line-height: 20px !important;
  height: 16px;
  position: absolute;
  left: 0;
  top: 0;
}
    
@media screen and (max-width: 767px) {
    .fare-radio [type="radio"]:not(:checked) + label:before {
        content: '' !important;
    }
    .fare-radio [type="radio"]:checked + label:before {
        content: '' !important;
    }
    .fare-radio [type="radio"]:checked + label:after {
         content: '' !important;
    }
    .fare-radio [type="radio"]:checked + label:after {
         background-image: url(../images/selected.svg) !important;
}
}



.modify-link{

    margin-top: 5px;
    float: right;

    a{
      cursor: pointer;

      &:hover{
        text-decoration: underline;
      }
    }
}

.block-day{
  pointer-events: none;
}

/*=====  End of Radio Button  ======*/
