@import "theme.scss";
$Athens_gray:#EDEDEF;
$Mercury:#E6E6E6;
$Malachite:#28cf1c;
$Ripe_Lemon:#F6CE12;
$Salt_Box:#646365;
$Dove_Gray:#666666;
$red : #ed0000;
$white : #ffffff;
$black : #414042;
//$gray : #4E4E4E;
$light_gray: #e8e8e8;

$site_selected_gray :#428bca;
$site_accent_color : #29c000;
$primary_font_color: #333333;
$Westar : #E1DEDB;
$Ship_Gray:#414042;
$bg_primary_color:#e8e8e8;
$charcoal_gray:#4a4a4a;
$very_black:#000000;
$space-gray: #3d3d3d;
$mild-gray: #878787;
$meals-cat-headin-bg-color:#e1e1e1;
$meals-passenger-bg-color:#f5f5f5;
$site-bg-color: #ededed;
$color_discount_for_booking: #5eac07;
$inflight-pax-icon: #344252; 
$inflight-services-details: #636363;
$dashboard-border: #e0dfdf;
//------------------ new color theme ------------------

$primery_color:map-get($colors, primaryColor);//#02592e;
$secondery_color:map-get($colors, secondaryColor);//#2E7917;
$color_variation_1:map-get($colors, color_variation_1);// #DFF1D6;
$color_variation_2: lighten(map-get($colors, primaryColor), 10%);//#289A0C;
$color_variation_3:lighten(map-get($colors, primaryColor), 20%);//#c6c86c;
$color_variation_4:lighten(map-get($colors, primaryColor), 30%);//#7e8925;
$color_variation_5:lighten(map-get($colors, primaryColor), 40%);//#487101;
$color_variation_6:lighten(map-get($colors, primaryColor), 50%);//#1f3c1c;
$color_variation_7:lighten(map-get($colors, secondaryColor), 40%);

$fare_tooltip_color:$secondery_color;//#444444;
$fare_primary_color: $primery_color;

$site_primary_color : $primery_color;
$site_primary_color_dark : $primery_color;//#CC0404;
//Fare Page
$fare_selected : $primery_color;
$flight_selection_icon : $primery_color;//#02592e;


$menu_completed : $site_primary_color;
$menu_active :$site_selected_gray;
$gray : lighten(map-get($colors, primaryColor), 10%);
$site_back_color : #fafafa;

//------------end new theme color---------------------------



$checkin_gray_1 : rgb(250, 249, 249);

//segment_component
$segment_component_back : #f5f5f5;
$segment_component_back_selected : #ededed;
$segment_component_checkbox : $site_back_color;

//pax_seat_component
$pax_seat_component_back : #f5f5f5;
$pax_seat_component_back_checkedIn : #e5f9e7;
$pax_seat_component_checkbox: $site_back_color;
$pax_seat_component_checkbox_checkedIn: #cce7ce;


//Seat Map Colors
$seat_default_back : #ffffff;
$seat_occupied_back : #d0d0d0;
$seat_hover_back : #efefef;
$seat_border_color : $seat_occupied_back;
$seat_selected_back : $site_primary_color;
$seat_selected_animateSeat_back :#4d4d4d;


//pax_name_list_component Colors
$paxName_default-back :#f3f3f3;
$paxName_default-txt :#999999;
$paxName_hover-back : #ebebeb;
$paxName_hover-txt : #707070;
$paxName_selected-back : #FFFFFF;
$paxName_selected-txt : #4d4d4d;
$paxName_completed-back : #cce7ce;
$paxName_completed-txt : #00870a;
$paxName_completed-selected-txt : #6D6868;


$lbl_back : #00870a;

//pax_contact_component Colors
$paxContact_headColor : #5e5e5e;
$paxContact_nameColor : #4d4d4d;
$paxContact_iAgreeBack : #f3f3f3;
$paxContact_fieldName : #7c7c7c;
$paxContact_fieldVal : #383838;

$gray-base:              #000 !default;
$gray-1:                 lighten($gray-base, 10%); // #1A1A1A
$gray-2:                 lighten($gray-base, 20%); // #333333
$gray-3:                 lighten($gray-base, 30%); // #4D4D4D
$gray-4:                 lighten($gray-base, 40%); // #666666
$gray-5:                 lighten($gray-base, 50%); // #808080
$gray-6:                 lighten($gray-base, 60%); // #999999
$gray-7:                 lighten($gray-base, 70%); // #B3B3B3
$gray-8:                 lighten($gray-base, 80%); // #CCCCCC
$gray-9:                 lighten($gray-base, 90%); // #E6E6E6


// Rewards Login

$rewards_login_bg : $light_gray;

//summary drawer
$alto: #DCDCDC;

$wild_sand: #f5f5f5;
$citrine_white: #FCFCE7;
$silver_chalice: #a3a3a3;
$spun_pearl: #a6a7b1;
$mountain_mist: #8D8C8E;
$tundora: #4C4C4C;

$malachit: #28cf1c;
$ripe_lemon: #f6ce12;