<div class="dashboard modify-search" ng-controller="dashboardCtrl as dashboard">
    <!--
        <section ui-view="modifySearch"></section> -->

    <section class="content-wrapper">

        <!-- Content header -->
        <div class="content-header dashboard-content-header hidden-xs hidden-sm hidden-lg hidden-md">

            <div class="btn-wrap col-sm-4 col-xs-12 pull-right">
                <button class="button red-btn" ng-click="dashboard.bookFlight()" translate="title_modifySearch_bookAFlight">Book a Flight</button>
            </div>

        </div><!-- // Content header -->

        <!-- Content Body -->
        <div class="content-body">
           
            <!-- Row -->
            <div class="row dashboard-row">
                    <div class="hidden-sm hidden-md hidden-lg section-line" ><hr></div>
                <!-- Inside Content -->
                <div class="inside-content col-md-8 col-sm-7 dashboard-container">

                    <section ng-if="dashboard.isLoyaltyManagementEnabled" class="airwards-registration reg-form">                        
                        <!-- Airewards Header -->
                        <section class="section with-sub"
                                 ng-show="dashboard.pageState === dashboard.pageStates.UPDATE">
                            <h3 class="section-heading">
                                <div class="pull-left" translate="lbl_common_likeTojoin">
                                    Would you like to join
                                </div>
                                <div class="pull-left">
                                    <span><img id="log0-airarabia" style="height:21px; width: 103px;" src="images/airewards-logo.svg" alt=""></span>
                                </div>
                                <div class="pull-left" translate="lbl_common_loyaltyProgram">
                                    Air Arabia Loyalty program?
                                </div>
                            </h3>

                            <div class="section-sub-heading dashboard-airEwards-section">
                                    <span class="radio">
                                        <input name="airwawrds" type="radio" id="radio-0-0" value="true"
                                               ng-model="dashboard.hasJoinAirwards">
                                        <label data-section-key="0" for="radio-0-0" translate ="lbl_common_yes">Yes</label>
                                    </span>
                                    <span class="radio">
                                        <input name="airwawrds" type="radio" id="radio-0-1" value="false"
                                               ng-model="dashboard.hasJoinAirwards">
                                        <label data-section-key="0" for="radio-0-1" translate ="lbl_common_no">No</label>
                                    </span>
                            </div>
                        </section><!-- // Airewards Header -->

                        <form class=""
                              novalidate
                              name="airwardsReg"
                              isa-validator-type="airwardsReg"
                              isa-validator-rules="{{dashboard.formValidation}}"
                              ng-submit="dashboard.joinAirewards(airwardsReg)">

                            <!-- Airewards register information -->
                            <section class="section"
                                     ng-if="dashboard.pageState === dashboard.pageStates.UPDATE && dashboard.hasJoinAirwards === 'true'"
                                     valdr-enabled="dashboard.hasJoinAirwards === 'true'">
                                <div class="">
                                    <div class="row">
                                        <div class="col col-xs-12 col-sm-6">
                                            <div class="data-input">
                                                <label translate="lbl_passenger_dob">Date of Birth<sup class="red">*</sup> </label>                                                
                                                <div class="ibe-jquery-date-picker" valdr-form-group>
                                                    <input ui-date="dashboard.dateOptions"
                                                           name="airwardsDOB"
                                                           ng-model="dashboard.tempAirwardsDOB"
                                                           isa-jq-date-utc="dashboard.airwardsDOB"
                                                           class="form-control"
                                                           id="airewards-dob"
                                                           ng-change="dashboard.setFamilyEmailStatus(dashboard.tempAirwardsDOB)"
                                                           ui-date-fix/>
                                                </div>
                                            </div>
                                        </div>                                        

                                        <div class="col col-xs-12 col-sm-6">
                                            <div class="data-input">
                                                <label>Communication Langugage <sup class="red">*</sup> </label>
                                                <div class="ibe-typeahead">
                                                    <div isa-validator>
                                                        <input type="text" ng-model="dashboard.language"
                                                                selected-value="dashboard.language"
                                                                uib-typeahead="language.languageCode as language.language for language in dashboard.languageList | filter:{language:$viewValue}"
                                                                typeahead-input-formatter="dashboard.formatLabelLanguage($model)"
                                                                typeahead-editable="false"
                                                                typeahead-select-on-exact="true"
                                                                typeahead-min-length="0"
                                                                typeahead-focus
                                                                name="language"
                                                                class="form-control"
                                                                typeahead-on-select="dashboard.onLanguageChange($item)"
                                                                autocomplete="off"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-12 col-sm-6">
                                            <div class="data-input">
                                                <label translate="lbl_passenger_passportNumber">Passport Number</label>
                                                <div class="form-group">
                                                    <div class="ibe-typeahead">
                                                        <div isa-validator>
                                                            <input type="text" class="form-control"
                                                                   ng-model="dashboard.passport">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col col-xs-12 col-sm-6">
                                            <div class="data-input">
                                                <label translate="lbl_passenger_refMemEmail">Referring Member Email</label>
                                                <div class="form-group">
                                                    <div class="ibe-typeahead">
                                                        <div isa-validator>
                                                            <input type="text" name="refEmail" class="form-control"
                                                                   ng-model="dashboard.referringEmail" ng-trim="true">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col col-xs-12 col-sm-6 ma-tp-4">
                                            <span translate="lbl_passenger_refMemEmailDesc" class="help-txt">If you were referred by another member, please enter their email address</span>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col col-xs-12 col-sm-6">
                                            <div class="data-input">
                                                <label translate="lbl_passenger_familyHeadMail">Family Heads Email <sup ng-show="dashboard.isFamilyEmailRequired"
                                                                               class="red">*</sup> </label>
                                                <div class="ibe-typeahead">
                                                    <div isa-validator>
                                                        <input type="text" name="familyEmail" class="form-control"
                                                                ng-model="dashboard.familyEmail"
                                                                valdr-enabled="dashboard.isFamilyEmailRequired"
                                                                ng-trim="true">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col col-xs-12 col-sm-6 ma-tp-4">
                                            <span translate="lbl_passenger_familyHeadMailDesc" class="help-txt">If you are or would like to be a part of a family account, please enter the email address of the family head that will receive your points.</span>
                                        </div>

                                    </div>

                                </div>
                            </section><!-- // Airewards information -->

                            <!-- Mashreq Selection - DISABLED due to CR AARESAA-26661-->
                            <section ng-show="false" class="section with-sub"
                                     ng-show="dashboard.pageState === dashboard.pageStates.UPDATE_LMS || dashboard.pageState === dashboard.pageStates.UPDATE && dashboard.hasJoinAirwards === 'true'">

                                <h3 class="section-heading">Do you have Air Arabia Mashreq Card Loyalty Account?</h3>

                                <!-- Mashreq radio buttons -->
                                <div class="section-sub-heading">
                                <span class="radio">
                                    <input name="mashreq" type="radio" id="radio-1-1" value="true"
                                           ng-model="dashboard.hasMashreqCard">
                                    <label data-section-key="0" for="radio-1-1">Yes</label>
                                </span>
                                <span class="radio">
                                    <input name="mashreq" type="radio" id="radio-1-2" value="false"
                                           ng-model="dashboard.hasMashreqCard">
                                    <label data-section-key="0" for="radio-1-2">No</label>
                                </span>
                                </div><!-- // Mashreq radio buttons -->

                            </section><!-- Mashreq Selection -->

                            <!-- Mashreq Form -->
                            <section ng-show="false" class=""
                                     ng-show="(dashboard.hasMashreqCard === 'true' && dashboard.hasJoinAirwards === 'true' && dashboard.pageState === dashboard.pageStates.UPDATE) || (dashboard.hasMashreqCard === 'true' && dashboard.pageState === dashboard.pageStates.UPDATE_LMS)"
                                     valdr-type="CustomerRegistration">

                                <!-- Mashreq form fields -->
                                <div valdr-enabled="dashboard.hasMashreqCard === 'true'" class="section">

                                    <div class="row">
                                        <!-- Card number -->
                                        <div class="col col-xs-12 col-sm-12">
                                            <p>Air Arabia Mashreq Credit Cardholders need to provide their 12 digit
                                                loyalty account number to link their card to their Air Rewards
                                                account.</p>
                                        </div>
                                        <div class="col col-xs-6 col-sm-6">
                                            <div class="data-input">
                                                <label>12 digit Account Number <sup class="red">*</sup> </label>
                                                <div class="ibe-typeahead">
                                                    <div isa-validator>
                                                        <input type="text" name="loyaltyAccountNo" class="form-control"
                                                                ng-model="dashboard.accountNumber">
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- // Card number -->

                                        <!-- DoB -->
                                        <div class="col col-xs-6 col-sm-6">
                                            <div class="data-input">
                                                <label translate="lbl_passenger_dob">Date of Birth <sup class="red">*</sup> </label>
                                                <div class="ibe-typeahead">
                                                    <div isa-validator>
                                                        <div class="ibe-jquery-date-picker">
                                                            <input ui-date="dashboard.dateOptions"
                                                                name="mashreqDOB"
                                                                ng-model="dashboard.tempMashreqDOB"
                                                                isa-jq-date-utc="dashboard.mashreqDOB"
                                                                class="form-control"
                                                                id="mashreq-dob"
                                                                ui-date-fix/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- // DoB -->
                                    </div>

                                    <div class="row">
                                        <!-- City -->
                                        <div class="col col-xs-6 col-sm-6">
                                            <div class="data-input">
                                                <label>City <sup class="red">*</sup> </label>
                                                <div valdr-form-group>
                                                    <div class="ibe-typeahead">
                                                        <div isa-validator>
                                                            <input type="text" class="form-control" name="city"
                                                                   ng-model="dashboard.city">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- // City -->
                                    </div>

                                    <div class="row">
                                        <div class="col col-xs-12 col-sm-12 margin-bottom-30">
                                            <p>Your loyalty account number will be validated against your email ID, date
                                                of birth, mobile no., city, country and nationality. Please make sure
                                                that the information you are entering for these fields is the same as
                                                that filled in your Air Arabia Mashreq Credit Card application form.</p>
                                        </div>
                                    </div>

                                </div> <!-- // Mashreq form fields -->

                            </section> <!-- // Mashreq Form -->

                            <div class="row" ng-show="dashboard.hasJoinAirwards === 'true' && dashboard.pageState === dashboard.pageStates.UPDATE">
                                <div class="col col-xs-12 col-sm-6 ma-tp-2 ma-bt-2">
                                    <button type="submit" class="button red-btn" name="join">Join</button>
                                </div>
                            </div>

                        </form>
                       
                    </section>

                    <!-- My Reservations -->
                    <div class="my-reservations">

                        <h2 translate="lbl_common_myReservations">My Reservations</h2>

                        <div class="my-reservations-table my-reservation-table-container" ng-if="!dashboard.isReservationsAvailable" translate="lbl_common_noReservations">
                            No reservations made.
                        </div>

                        <!-- My Reservations Table -->
                        <div class="my-reservations-table my-reservation-table-container hidden-xs" id="myreservations_table" ng-if="dashboard.isReservationsAvailable">
                            <div class="ma-bt-4 pd-l-3">
                                <p translate="lbl_common_belowListReservations">
                                    Bellow is a list of your recent reservations done when you were logged in:
                                </p>
                            </div>
                            

                            <!-- Row -->
                            <div class="mrt-row mrt-heading">
                                <div class="col col-md-4 col-xs-4 mrt-heading-col" translate="lbl_confirm_reservNum">Reservation Number</div>
                                <div class="col col-md-8 col-xs-8 mrt-heading-col trip-detail-header" translate="lbl_common_tripDetails">Trip Details</div>
                            </div><!-- // Row -->


                            <!-- Row : repeat -->
                            <div class="mrt-row" ng-repeat="trip in dashboard.reservations">
                                <div class="col col-md-4 col-xs-4 mrt-heading-col res-flight-status" ng-click="dashboard.redirectToReservation(trip.pnr, dashboard.lastName, trip.segmentDetails[0].departureDateTime)">
                                    <label>
                                        {{ trip.pnr }}
                                    </label>
                                    <p ng-if="trip.pnrStatus =='OHD'" translate="lbl_dashboard_onhold" >(Onhold)</p>
                                    <p ng-if="trip.pnrStatus =='CNX'" translate="lbl_dashboard_cancelled" >(Cancelled)</p>
                                    <p ng-if="trip.pnrStatus =='CNF'" translate="lbl_dashboard_confirmed" >(Confirmed)</p>
                                </div>

                                <div class="col col-md-8 col-xs-8 mrt-heading-col" ng-class="{'on-hold': trip.pnrStatus == 'OHD'}">

                                    <!-- Flight -->
                                    <div class="flight"
                                         ng-click="dashboard.redirectToReservation(trip.pnr, dashboard.lastName, segment.departureDateTime)"
                                         ng-repeat="segment in trip.segmentDetails"
                                         ng-class="{'confirmed': segment.status==='CNF','canceled': segment.status==='CNX','hold': segment.status==='ONH'}">
                                        <h5>{{segment.orignNDest.split(' / ')[0]}} to {{segment.orignNDest.split(' /')[segment.orignNDest.split(' /').length - 1]}}
                                            <i ng-class="{'fa-check-circle': segment.status==='CNF','fa-times-circle': segment.status==='CNX','fa-ban': segment.status==='ONH'}"
                                               class="fa"></i>
                                               <span style="color: #333333">{{segment.filghtDesignator}}</span>
                                        </h5>

                                        <div class="departure-arrival">
                                                <span class="departure" style="width: 100%">
                                                    <label translate="lbl_common_departure" style="width: 28%">Departure</label>
                                                    <i>{{segment.departureDateTime | date: 'medium'}}</i>
	                                                &nbsp;
	                                                <span class="ico icon-outbound-plane-small rotate-plane-icon" style="width: 18%; margin: 0 0 -1.5px 0;">
	                                                    <span class="path1"></span>
	                                                    <span class="path2"></span>
	                                                </span>
                                                </span>
                                               
                                                <span class="arrival" style="width: 100%">
                                                    <label style="width: 28%" translate="lbl_common_arrival">Arrival</label>
                                                    <i>{{segment.arrivalDateTime}}</i>
                                                </span>
                                        </div>
                                        <div class="btn-wrap col-sm-3 web-checkin-btn" ng-if="dashboard.isWebCheckInEnabled(segment)">
											<span class="button red-btn ng-scope"
												ng-click="dashboard.onlineCheckIn($event,trip.pnr,segment)"
												translate="btn_dashboard_webCheckIn">Web Check-in</span>
										</div>
                                    </div><!-- // Flight -->

                                </div>
                            </div><!-- // Row -->


                        </div><!-- // My Reservations Table -->
                        
                        <div class="my-reservations-table  hidden-lg hidden-md hidden-sm col-xs-12"  id="myreservations_table" ng-if="dashboard.isReservationsAvailable">
                            <p translate="lbl_common_belowListReservations">
                                Bellow is a list of your recent reservations done when you were logged in:
                            </p>                            
                            <!-- Row : repeat -->
                            <div class="mrt-row" ng-repeat="trip in dashboard.reservations">
                                <div class="mrt-row mrt-heading mrt-border">
                                <div class="col col-xs-12 col-md-4 mrt-heading-col res-num" translate="lbl_confirm_reservNum">Reservation Number</div>
                                
                                <div class="col col-xs-12 col-md-4 mrt-row mrt-heading-col res-flight-status res-number" ng-click="dashboard.redirectToReservation(trip.pnr, dashboard.lastName, trip.segmentDetails[0].departureDateTime)">
                                    <label>
                                        {{ trip.pnr }}
                                    </label>
                                    <label ng-if="trip.pnrStatus =='OHD'" translate="lbl_dashboard_onhold" style="text-align: left !important; font-weight: 400;">(Onhold)</label>
                                    <label ng-if="trip.pnrStatus =='CNX'" translate="lbl_dashboard_cancelled" style="text-align: left !important; font-weight: 400;">(Cancelled)</label>
                                    <label ng-if="trip.pnrStatus =='CNF'" translate="lbl_dashboard_confirmed" style="text-align: left !important; font-weight: 400;">(Confirmed)</label>
                                </div>
                            </div>
                                <div class="mrt-row mrt-heading mrt-border trip-detail-container">                               
                                <div class="col col-xs-12 col-md-8 mrt-heading-col" translate="lbl_common_tripDetails">Trip Details</div>
                            
                                <div class="col col-xs-12 col-md-8 mrt-heading-col" ng-class="{'on-hold': trip.pnrStatus == 'OHD'}">

                                    <!-- Flight -->
                                    <div class="flight"
                                         ng-click="dashboard.redirectToReservation(trip.pnr, dashboard.lastName, segment.departureDateTime)"
                                         ng-repeat="segment in trip.segmentDetails"
                                         ng-class="{'confirmed': segment.status==='CNF','canceled': segment.status==='CNX','hold': segment.status==='ONH'}">
                                        <h5>{{segment.orignNDest.split(' / ')[0]}} to {{segment.orignNDest.split(' /')[1]}}
                                            <i ng-class="{'fa-check-circle': segment.status==='CNF','fa-times-circle': segment.status==='CNX','fa-ban': segment.status==='ONH'}"
                                               class="fa">
                                            </i>
                                            <span style="color: #333333">{{segment.filghtDesignator}}</span>
                                        </h5>
                                        
                                        <div class="departure-arrival">
                                                <span class="departure" style="width: 100%">
                                                    <label translate="lbl_common_departure" style="font-weight:700; ">Departure</label>
                                                    <span>-</span>
                                                    <i style="font-weight:700; "></i>
                                                    <i>{{segment.daydepartureTime}}</i>    
    
                                                </span>
                                               
                                                <span class="arrival" style="width: 100%">
                                                    <label style="font-weight:700;" translate="lbl_common_arrival">Arrival</label>
                                                    <span>-</span>
                                                    <i style="font-weight:700; "></i>
                                                    <i>{{segment.dayarrivalTime}}</i>
                                                </span>
                                        </div>
                                    </div><!-- // Flight -->

                                </div>
                                </div>
                            </div><!-- // Row -->


                        </div><!-- // My Reservations Table -->

                        <!-- View All Reservations -->
                        <div class="all-reservations" ng-click="dashboard.viewAllReservations()"
                             ng-if="dashboard.isReservationsAvailable">
                            <div class="col-sm-5 col-xs-12 view-button">
                                <span class="button gray-btn" ng-click="dashboard.viewAllReservations()" translate="lbl_dashboard_viewAllRes">View All Reservations</span>
                            </div>
                        </div><!-- // View All Reservations -->
                        <div class="modify-search-bookaflight hidden-sm hidden-md hidden-lg col-xs-12 ">
                            <button class="button red-btn" ng-click="dashboard.bookFlight()" translate="title_modifySearch_bookAFlight">Book a Flight</button>
                        </div>
                        
                        <!-- Include save card directive for Show,Delete,Add payment card -->
						<isa-saved-card 
							payment-card-object="dashboard.paymentCardObject" 
							delete-card="dashboard.deleteUserCard(customerAliasId)" 
							add-new-card="dashboard.openAddNewCardPopup()">
						</isa-saved-card>
						<isa-busy-loader is-fixed-position="true" ng-show="dashboard.isSaveCardBusyLoaderVisible" />
                        
						
                    </div><!-- // My Reservations -->

                </div><!-- // Inside Content -->

                <!-- Sidebar -->
                <div class="sidebar col-md-4 col-sm-5">

                    <!-- Dashboard Widget -->
                    <!-- <div class="dashboard-widget" > -->
                    <div class="dashboard-widget xsdashboard-widget" ng-show="dashboard.hasUserJoinedLMS && dashboard.isEmailConfirmed">

                        <!-- Widget Header -->
                        <div class="widget-header bg-red">
                            <span><img src="images/airewards-logo-white.png"></span>
                        </div><!-- // Widget Header -->

                        <!-- Widget Content -->
                        <div class="widget-content">

                            <div class="highlight">
                                <div><label>{{dashboard.lmsDetails | number }}</label> Air Rewards Points</div>
                            </div>

                            <ul>
                                <!-- <li ng-hide="dashboard.earnPointsUrl == null">
                                    <a ng-href="{{dashboard.earnPointsUrl}}">Earn Points</a>
                                </li> -->

                                <li ng-hide="dashboard.redeemPointsUrl == null">
                                    <a ng-href="{{dashboard.redeemPointsUrl}}" translate="lbl_dashboard_redeemPoints">How to Spend your Points</a>
                                </li>
                                
                                <li ng-hide="dashboard.activitiesUrl == null">
                                    <a ng-href="{{dashboard.activitiesUrl}}" translate="lbl_dashboard_activities">My Activity Statement</a>
                                </li>
                                
                                <li ng-hide="dashboard.claimMissingPointsUrl == null">
                                    <a ng-href="{{dashboard.claimMissingPointsUrl}}" translate="lbl_dashboard_claimMissingPoints">Claim points for Past Flights</a>
                                </li>
                                
                                <li ng-hide="dashboard.partnersUrl == null">
                                    <a ng-href="{{dashboard.partnersUrl}}" translate="lbl_dashboard_partners">Partners</a>
                                </li>
                                
                                <li ng-hide="dashboard.faqUrl == null">
                                    <a ng-href="{{dashboard.faqUrl}}" translate="lbl_dashboard_faq">Frequently Asked Questions</a>
                                </li>
                                
                                <li ng-hide="dashboard.contactUsUrl == null">
                                    <a ng-href="{{dashboard.contactUsUrl}}" translate="lbl_dashboard_contactUs">Contact Us</a>
                                </li>
                                
                                <!-- <li ng-hide="dashboard.pointsCalculatorUrl == null">
                                    <a ng-href="{{dashboard.pointsCalculatorUrl}}">Points Calculator</a>
                                </li> -->

                            </ul>

                        </div><!-- // Widget Content -->
                    </div><!-- // Dashboard Widget -->


                    <!-- Dashboard Widget -->
                    <div class="dashboard-widget hidden-xs" ng-show="dashboard.hasUserJoinedLMS && !dashboard.isEmailConfirmed">

                        <!-- Widget Header -->
                        <div class="widget-header bg-red">
                            <span><img src="images/airewards-logo-white.png"></span>
                        </div><!-- // Widget Header -->

                        <!-- Widget Content -->
                        <div class="widget-content">
                            <p class="ma-tp-4" translate="msg_common_airewardsEmailConfirm">
                                Confirmation email sent. Please check your email and click on the link to activate your
                                account.
                            </p>
                            <p>
                                <a href="" translate="lbl_common_resendEmail" ng-click="dashboard.resendEmail()">Resend email</a>
                            </p>
                        </div><!-- // Widget Content -->
                    </div><!-- // Dashboard Widget -->


                    <!-- Dashboard Widget -->
                    <div class="dashboard-widget xsdashboard-widget" ng-show="dashboard.isCreditAvailable && dashboard.isLoyaltyManagementEnabled">

                        <!-- Widget Header -->
                        <div class="widget-header">
                            <span>Reservation Credits</span>
                        </div><!-- // Widget Header -->

                        <!-- Widget Content -->
                        <div class="widget-content">

                            <div ng-show="dashboard.loyaltyManagmentEnabled === true">
                                <p class="highlight">
                                    <i class="currency-text currency strong"></i>
                                    <i class="strong" isa-connector="{{ dashboard.totalCustomerCredit}}"
                                       decimal-points="2" with-decimal="true"></i>
                                    <span>credits available</span>
                                </p>

                                <p class="">
                                    Call on call center to the your credit.&lrm;
                                </p>

                                <ul>
                                    <li><a href="" ng-click="dashboard.viewStatements()">View credit history</a></li>
                                </ul>
                            </div>

                            <div ng-show="dashboard.loyaltyManagmentEnabled !== true">
                                <ul>
                                    <li><a href="">Sign Up</a></li>
                                </ul>
                            </div>


                        </div><!-- // Widget Content -->
                    </div><!-- // Dashboard Widget -->


                    <!-- Dashboard Widget -->
                    <div class="dashboard-widget" ng-show="false">
                    <!--<div class="dashboard-widget" ng-show="dashboard.hasUserJoinedLMS">-->

                        <!-- Widget Header -->
                        <div class="widget-header">
                            <span>Mashreq Airarabia Credit Card</span>
                        </div><!-- // Widget Header -->

                        <!-- Widget Content -->
                        <div class="widget-content">

                            <p class="ma-tp-4">
                                Apply for Air arabia Mashreq credit card and state earning points for your every day
                                purchase
                                <a href="">Apply Now</a>
                            </p>
                            <p>
                                Already have a card? <a href="">click here</a> to link it to Airarabia.
                            </p>
                        </div><!-- // Widget Content -->
                    </div><!-- // Dashboard Widget -->


                </div><!-- // Sidebar -->
                
                
            </div><!-- // Row -->

        </div><!-- // Content Body -->

        <!-- Content Footer -->
        <div class="content-footer hidden-ld hidden-lg hidden-md hidden-sm" id="dashboard-footer-messages">    
            <div ng-if="dashboard.isLoyaltyManagementEnabled">
               <sup class="red">*</sup> <span translate="lbl_common_termsDesc" ng-if="dashboard.isLoyaltyManagementEnabled"> By using My Air Arabia, You accept to receive our promotional emails and offers.</span>
            </div>
        </div><!-- // Content Footer -->
        <!-- Content Footer -->
        <div class="content-footer hidden-xs" ng-if="dashboard.isLoyaltyManagementEnabled">
           <!-- <sup class="red">*</sup> <span translate="lbl_common_termsDesc" > By using My Air Arabia, You accept to receive our promotional emails and offers.</span> -->
        </div><!-- // Content Footer -->

    </section><!-- // Page Wrapper -->

</div>
