<div class="dashboard-header" ng-controller="dashboardHeaderCtrl as header" ng-class="{'all-red': header.isFullColor}">
    <style>
        #header{
            height:70px !important;
        }
        @media only screen and (max-width: 767px) {
            #header{
                height:50px !important;
            } 
        }
    </style>
    <!-- Logo -->
    <!-- <a href="" class="dash-logo">
        <img src="images/main_logo.png" alt="Air Arabia">
    </a> -->
    <!-- // Logo -->
    <div class="container passenger-summary-container logo-container">
        <div class="hidden-overlay"
             ng-click="header.extrasVisible = false; header.userProfileVisible = false;"
             ng-show="header.extrasVisible || header.userProfileVisible"></div>

        <ul>
            <li class="hidden-xs logo pd-4 pd-tp-2">
                <a href="{{header.logoLink}}">
                    <img src="images/main_logo.png" alt="Air Arabia">
                </a>
            </li>
        </ul>        
        <div class="hidden-sm hidden-md hidden-lg row" style="height: 50px !important;">
                <ul>
                    <li id="xs-li-logo" class="logo pd-tp-2 xs-li-logo">
                        <span style="align:center" id="xs-logo-img"><a href="{{header.logoLink}}">                            
                                <img src="images/main_logo.png" alt="Air Arabia">
                            </a>                        
                        </span>
                    </li>
                </ul>
            </div>

        <div class="user-menu hidden-xs" ng-show="header.isUserLoggedIn">

            <!-- User Profile Dropdown -->
            <div class="user-profile-dropdown">
                <h2 class="user-name" ng-model="header.userProfileVisible" ng-click="header.userProfileVisible=!header.userProfileVisible; header.extrasVisible = false;">{{header.name}} <i class="fa fa-caret-down"></i></h2>
                <!-- <a href="" class="view-profile">View Profile</a> -->

                <div class="dropdown-content" ng-show="header.userProfileVisible">
                    <ul>

                        <li><a id="btn-update-profile" translate="lbl_update_profile" href="" ng-click="header.updateProfile()">Update Profile</a></li>
                        <li ng-if="header.carrierCode === 'G9'"><a href="" ng-click="header.goToChangePassword()" translate="lbl_change_password">Change Password</a></li>
                        <li><a id="btn-logout" href="" translate="lbl_logOut" ng-click="header.logout()">Log out</a></li>
                    </ul>
                </div>
            </div><!-- // User Profile Dropdown -->


            <!-- Navigation Dropdown -->
            <div class="navigation-dropdown pull-left">
                <!-- Toggle -->
                <a href="" class="toggle" ng-model="header.extrasVisible"
                   ng-click="header.extrasVisible = !header.extrasVisible; header.userProfileVisible = false">
                   <i class="icon-nav-toggle"></i>
                   <span translate="lbl_common_menu" class="dashboard-menu">Menu</span>
                </a><!-- // Toggle -->

                <!-- My account , My Reservations, My statement , Book a flight -->
                <!-- Dropdown Content -->

                <div class="dropdown-content quick-links" ng-show="header.extrasVisible">
                    <ul>
                        <li ng-click="header.goToDashboard()">
                            <a href="">
                                <i class="fa fa-get-pocket"></i>
                                <div translate="lbl_common_dashboard">Dashboard</div>
                            </a>
                        </li>
                               
                        <li ng-click="header.goToMyAccount()">
                            <a href="">
                                <i class="fa fa-get-pocket"></i>
                                <div translate="lbl_common_myAccount">My Account</div>
                            </a>
                        </li>
                        <li ng-click="header.goToMyReservation()">
                            <a href="">
                                <i class="fa fa-get-pocket"></i>
                                <div translate="lbl_common_myReservations">My Reservations</div>
                            </a>
                        </li>
                        <li ng-click="header.goToSeatMealPreferences()">
                            <a href="#">
								<i class="fa fa-get-pocket"></i>
								<div translate="lbl_passenger_seatMeal">Seat/Meal Preferences</div>
                                </a>
                        </li>
                        <li ng-click="header.goToMyStatement()" style="display: none">
                            <a href="">
                                <i class="fa fa-get-pocket"></i>
                                <div>My Statement</div>
                            </a>
                        </li>
                        <li ng-click="header.goToBookAFlight()">
                            <a href="">
                                <i class="fa fa-get-pocket"></i>
                                <div translate="title_modifySearch_bookAFlight">Book a Flight</div>
                            </a>
                        </li>
                        <li ng-if="header.carrierCode === 'G9'" ng-click="header.goToChangePassword()">
                            <a href="">
                                <i class="fa fa-get-pocket"></i>
                                <div translate="lbl_change_password">Change Password</div>
                            </a>
                        </li>
                        <li ng-click="header.goToFamilyAndFriends()"><a href="#">
								<i class="fa fa-get-pocket"></i>
								<div translate="lbl_passenger_addFamily">Family and
									Friends</div>
                        </a>
                        </li>
                        <li ng-click="header.goToPaymentInfo()">
                            <a href="">
								<i class="fa fa-get-pocket"></i>
								<div translate="lbl_dashboard_saved_cards_header">Payment Information</div>
                            </a>
                        </li>
                    </ul>
                </div><!-- // Dropdown Content -->
                </div>
			<!-- // Navigation Dropdown -->
			</div>
		</div>

</div>
<div class="dashboard modify-search">
	<section ui-view="modifySearch"></section>
</div>
