.digital li, .digital li {
display:inline;
color:#333333;
font-size:20px;
font-weight:bold;
}
.digital, .digital {
padding-left: 0;
margin: 5px 0;
}
.title {
color:#333333;
font-size:11px;
font-weight:bold;
margin: 0 10px;
}
