body
{
	background-color:white;
	margin:0px 0px 0px 0px;
	background-color:#F3F3F3;
}
a
{
	text-decoration:none;
}
font
{
	font-family:tahoma;
	font-size:10px;
	color:black;
}
.BGColor
{
	background-color:white;
	height:27px;
	border:thin groove; 
}
.TblLineColor
{
	background-color:black;
	height:27px;
}
.clsDD
{
	color:black;
	background-color:#F3F3F3;
	font-family:tahoma;
	font-size:10px;
	width:80px;
	height:20px;
	}
.DefMonth
{
	color:white;
	background-color:#9B9B9B;
	}	
.SUHDBGColor
{
	background-color:#F2F2F2;
	border:thin groove; 
	}	
.SUHDColor
{
	color:black;
	}		
.MOHDBGColor
{
	background-color:#F2F2F2;
	border:thin groove; }	
.MOHDColor
{
	color:black;
	}			
.TUHDBGColor
{
	background-color:#F2F2F2;
	border:thin groove; }	
.TUHDColor
{
	color:black;
	}			
.WEHDBGColor
{
	background-color:#F2F2F2;
	border:thin groove; }	
.WEHDColor
{
	color:black;
	}				
.THHDBGColor
{
	background-color:#FFAC52;
	border:thin groove; }	
.THHDColor
{
	color:black;
	}				
.FRHDBGColor
{
	background-color:#FFAC52;
	border:thin groove; }	
.FRHDColor
{
	color:black;
	}		
.SAHDBGColor
{
	background-color:#F2F2F2;
	border:thin groove;}	
.SAHDColor
{
	color:black;
	}						
/* 
*/
.SUBGColor
{
	background-image:url(../images/AA120_no_cache.jpg);
	background-color:white;
	border:thin groove; }	
.SUColor
{
	color:red;
	}		
.MOBGColor
{
	background-image:url(../images/AA120_no_cache.jpg);
	background-color:white;
	border:thin groove; }	
.MOColor
{
	color:black;
	}			
.TUBGColor
{
	background-image:url(../images/AA120_no_cache.jpg);
	background-color:white;
	border:thin groove; }	
.TUColor
{
	color:black;
	}			
.WEBGColor
{
	background-image:url(../images/AA120_no_cache.jpg);
	background-color:white;
	border:thin groove; }	
.WEColor
{
	color:black;
	}				
.THBGColor
{
	background-image:url(../images/AA122_no_cache.jpg);
	background-color:FFE8CE;
	border:thin groove; }	
.THColor
{
	color:black;
	}				
.FRBGColor
{
	background-image:url(../images/AA122_no_cache.jpg);
	background-color:FFE8CE;
	border:thin groove; }	
.FRColor
{
	color:green;
	}		
.SABGColor
{
	background-image:url(../images/AA120_no_cache.jpg);
	background-color:white;
	border:thin groove; }	
.SAColor
{
	color:black;
	}	
.NavMonthBGColor{
	background-image:url(../images/AA121_no_cache.jpg);
	background-color:#9B9B9B;
	border:thin groove; 
}
.NavMonth
{
	color:white;
	}	
.SelDateBGColor
{
	background-color:Maroon;
	border:thin groove; 
}
.SelDate
{
	color:yellow;
	}	
.DisableDaysBGColor
{
	background-color:#D7D7D7;
	border:thin groove; 
	}	
.DisableDays
{
	color:gray;
	font-weight:lighter;
	}		
.ToDateBGColor
{
	background-color:#9B9B9B;
	border:thin groove; 
}
.ToDate
{
	color:white;
	}	
.DisableBGUpto
{
	background-image:url(../images/Cal_Dis_no_cache.gif);
	background-color:#F5F5F5;
	border:thin groove;
	}		
.DisableUpto
{
	color:gray;
	}		
.Button
{
	font-family:tahoma;
	font-size:10px;
	text-align:center;
	text-transform: capitalize;
	font-weight: bold;
	color: Black;
	border-top: 0px solid #B2B2B2;
	border-right: 0px solid #B2B2B2;
	border-bottom: 0px solid #B2B2B2;
	border-left: 0px solid #B2B2B2;
	height: 20px;
	width:20px;
	background:transparent;
	cursor:pointer;
}				

.SelectedButton
{
	font-family:tahoma;
	font-size:10px;
	text-align:center;
	text-transform: capitalize;
	font-weight: bold;
	color: white;
	border-top: 0px solid #B2B2B2;
	border-right: 0px solid #B2B2B2;
	border-bottom: 0px solid #B2B2B2;
	border-left: 0px solid #B2B2B2;
	height: 20px;
	width:20px;
	background:transparent;
	cursor:pointer;
}		
		