<div class="off-canvas-wrapper" >
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper ng-controller="PaymentCtrl as payment">
        <div class="off-canvas-content" data-off-canvas-content>
            <div class="row">
                <div class="small-12  columns">
                    Please Select the payment method
                </div>

                <!-- Payment Options -->
                <div class="payment-options">
                    <span class="radio payment-logo small-6 med columns text-center"
                          ng-repeat="payOption in payment.paymentOptions">
                        <label ng-class="{ 'selected': payment.selectedPaymentOptionFlag == payOption.cardType+'_'+payOption.paymentGateway.gatewayId }"
                            for="payment_{{payOption.cardName}}_{{payOption.cardType}}_{{payOption.paymentGateway.gatewayId}}">
                            <input name="payment_method" type="radio"
                                   id="payment_{{payOption.cardName}}_{{payOption.cardType}}_{{payOption.paymentGateway.gatewayId}}"
                                   ng-model="payment.selectedPaymentOptionFlag"
                                   value="{{payOption.cardType}}_{{payOption.paymentGateway.gatewayId}}"
                                   ng-click="payment.setPayOption()">

                            <img ng-src="assets/images/payment-logos/{{payOption.cssClass.toLowerCase()}}.png">
                            <div class="text truncate" title="{{payOption.displayName}}">
                                {{payOption.displayName}}
                            </div>
                        </label>
                    </span>
                </div><!-- // Payment Options -->
            </div>

            <div class="row margin-top-10">
                <div class="columns small-12 warning-message" ng-show="payment.selectedPaymentOption">
                    <p>
                    The next screen you view may be from your bank.
                    Please do not Press "Back" or "Forward" buttons in your browser while the transaction takes place.
                    Make sure the transaction is complete and you are re-directed to the page after payment to obtain your flight reservation number
                    </p>
                </div>
            </div>
            <div class="margin-top-10"></div>

            <div class="row">
                <div class="flight-info small-12 columns ">
                    <div class="small-6 small-offset-3 price text-center columns">
                        {{payment.paymentSummary.currency}} {{payment.paymentSummary.totalAllInclusive}}
                        <span>Total all inclusive</span>
                    </div>
                </div>
            </div>

            <div class="row margin-top-10">
                <div class="small-12 columns">
                    <a ng-click="payment.continuePayment()" class="button small-12">Proceed
                        <i class="fa fa-chevron-right"aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="dummyForm"></div>
</div>
