<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left" id="offCanvasLeft">
            <ul class="vertical menu" data-drilldown>
                <!-- start of the drilldown multi level menu -->
                <li>
                    Item 1
                </li>
                <li>
                    Item 2
                </li>
            </ul>
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
            <div class="title-bar">
                <div class="title-bar-left">
                    <!--<button class="menu-icon" type="button" data-open="offCanvasLeft"></button>-->
                </div>
                <div class="title-bar-right">
                    <button class="icon-arrow-left2" type="button"></button>
                </div>
                  <span class="title-bar-title">
                  Payment
                  </span>
            </div>
            <div class="row">
                <div class="page-status">
                    <div class="small-up-6">
                        <div class="column visited">
                           <span class="int">
                              <div class="inner">
                                  <span class="icon-depature"></span>
                              </div>
                           </span>

                            <div class="after-trail"></div>
                        </div>
                        <div class="column visited">
                           <span class="int">
                           <span class="icon-return"></span>
                           </span>

                            <div class="after-trail"></div>
                        </div>
                        <div class="column visited">
                           <span class="int">
                           <span class="icon-personal_info"></span>
                           </span>

                            <div class="after-trail"></div>
                        </div>
                        <div class="column visited">
                           <span class="int">
                                  <span class="icon-phone"></span>
                           </span>

                            <div class="after-trail"></div>
                        </div>
                        <div class="column visited">
                           <span class="int">
                          <span class="icon-add"></span>
                           </span>

                            <div class="after-trail"></div>
                        </div>
                        <div class="column current">
                           <span class="int">        <div class="inner">
                               <span class="icon-shopping-cart-facing-left"></span></div>
                           </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="row">

                    <div class="small-12  columns">
                        <fieldset class="small-12 columns">
                            <input type="text" placeholder="Card Number" class="cc-input">
                        </fieldset>
                    </div>
                    <div class="small-12  columns">
                        <fieldset class="small-12 columns">
                            <input type="text" placeholder="Bin Promo">
                        </fieldset>
                    </div>

                    <div class="small-12 columns">
                        <div class="small-12 columns">Expiration Details</div>
                        <fieldset class="small-6 columns">
                            <select>
                                <option value="husker">M M</option>
                                <option value="starbuck">1</option>
                            </select>
                        </fieldset>
                        <fieldset class="small-6 columns">
                            <select>
                                <option value="husker">Y Y Y Y</option>
                                <option value="starbuck">1</option>
                            </select>
                        </fieldset>
                    </div>
                    <div class="small-12  columns">
                        <fieldset class="small-12 columns">
                            <input type="text" placeholder="Card Holder Name">
                        </fieldset>
                    </div>

                    <div class="small-12 columns">
                        <div class="small-12 columns text-right">

                            <img src="assets/images/secure.png" alt=""/>

                        </div>
                    </div>
                </div>


            </div>
            <div class="clear"></div>

            <div class="row">
                <div class="flight-info small-12 columns ">
                    <div class="small-6 text-center columns">
                        <a style="display: none" href="#"> Flight Information</a>
                    </div>
                    <div class="small-6 price text-center columns">
                        USD 450
                        <span>Total all inclusive</span>
                    </div>
                </div>
            </div>
            <div class="clear-2"></div>
            <div class="row">
                <div class="small-12 columns">
                    <a href="#" class="button small-12">Proceed <span class="icon-arrow_right"></span></a>
                </div>
            </div>
        </div>


    </div>
</div>
