
BODY
{
    FONT-SIZE: 12px;
    BACKGROUND: url(../images/bg_clouds_no_cache.gif) #ffffff left top;
    MARGIN: 0px;
    COLOR: #000000;
	scrollbar-arrow-color:#ECC3C3;
	scrollbar-base-color:#F58E8E;
	scrollbar-shadow-color:#FF7171;
	scrollbar-face-color:#C10000;
	scrollbar-highlight-color:#EFDBDB;
	scrollbar-darkshadow-color:#AC6A6A;
	scrollbar-3d-light-color:#FFFFFF;
    FONT-FAMILY: Tahoma
}
/* main pageloaging msg */
.mainPageLoader{
	display:none;
	z-index:9900;
	background:transparent;
	height:50px;
	position:absolute;
	top:50%;
	left:40%;
	width:234px
}
.mainPageLoaderFreame{
	position:absolute;
	background:transparent;
	width:234px;
	height:50px;
}

#content-container
{   
    BACKGROUND: url(../images/bg_gradiant_sub_no_cache.gif) repeat-x center top;   
    DIRECTION: rtl
}
#content
{    
    PADDING-RIGHT: 10px;
    MARGIN-TOP: 0px;
    PADDING-LEFT: 10px;
    BACKGROUND: url(../images/subcontent_corner_no_cache.gif) #ffffff no-repeat right top;
    PADDING-BOTTOM: 15px;
    DIRECTION: rtl;
    MARGIN-RIGHT: 20px;
    PADDING-TOP: 20px
}
#toolBar
{
    PADDING-BOTTOM: 2px;
    BORDER-BOTTOM: #d03637 5px solid
}
#content H1
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    FLOAT: right;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: bottom;
    COLOR: #000000;
    PADDING-TOP: 0px
}

#content .postimagecenter
{
    MARGIN: 10px;
    MARGIN-RIGHT: 50px;
}
#content CITE
{
    PADDING-RIGHT: 20px;
    BORDER-TOP: #ff6600 1px solid;
    DISPLAY: block;
    PADDING-LEFT: 20px;
    PADDING-BOTTOM: 4px;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #ff6600 1px solid
}
#tools-print IMG
{
    BACKGROUND: url(../images/tools_print_btn_no_cache.gif) no-repeat;
    WIDTH: 27px;
    HEIGHT: 24px; 
    MARGIN-RIGHT: 334px;   
}
#content TD
{
    VERTICAL-ALIGN: top;
    BORDER-BOTTOM: #ccc 1px solid
}
#content TR
{
}

#content H2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #99292a
}
#content H3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #99292a
}
#content A
{
    COLOR: #000;
    TEXT-DECORATION: underline
}
.tablefont
{
	FONT-SIZE: 12px;    
    MARGIN: 0px;   
    FONT-FAMILY:Tahoma
}

#page-links
{
    BORDER-TOP: #ccc 1px solid;
    FONT-WEIGHT: bold;
    COLOR: #ff0000;
    TEXT-ALIGN: center
}

fontExp{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: red; 
}
.spMsg{
	background-color:#ffffcf;
	opacity: .7;
	filter: alpha(opacity=80);
	border:1px solid #F3F376;
	padding:2px;
	font-size:11px;
	-moz-border-radius:6px;	/* Rounded edges in Firefox */
	font-family: "tahoma", "Lucida Sans Unicode", Arial, sans-serif; 
}