/* To Do : Refactor */
 html, body {	

}
* html{	
	overflow-x: hidden;
	overflow-y: auto;
	
}
body {
    background-color: #ece8e9 !important;
}
.mainPageLoader{
	display:none;
	z-index:9900;
	height:83px;
	position:absolute;
	top:50%;
	left:40%;
	width:249px
}
.mainPageLoaderFreame{
	position:absolute;
	background:transparent;
	width:253px;
	height:92px;
}
#pageLoading.mainPageLoaderFreame{
    background:white;
    width:253px;
    height:92px;
    z-index: 100;
    text-align: center;
}
html, body,  ol,  dd, blockquote, q, h1, h2, h3, h4, h5, h6, form, fieldset, a, div, img, table
{
	margin: 0;
	padding: 0;
	border: 0;
	font-family:Tahoma,Arial,sans-serif;
	font-size: 11px;
	
}

a:link
{
    COLOR: #134373;
    TEXT-DECORATION: none
}
a:visited
{
    COLOR: #134373;
    TEXT-DECORATION: none
}

UL
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 4px;
}
LI
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 0px;
    margin-left: 15px;
}
label{
	font-family:Tahoma,Arial,sans-serif;
	font-size:11px;
	left:auto;
	color: #0b0b0b;
	line-height: 20px;
}
.divfont{
	font-family:Tahoma,Arial,sans-serif;
	font-size:12px;
	left:auto;
	color: #0b0b0b;
}
font{
	font-family:Tahoma,Arial,sans-serif;
	font-size:12px;
	left:auto;
	color: #0b0b0b; 
}
.fntDefault{
	font-family:Tahoma,Arial,sans-serif;
	font-size:12px;
	left:auto;
	color: #0b0b0b;
}
.fntLink{
    text-decoration: underline;
    cursor: pointer;
}
.appLogo{
	background-image:url(../images/n024_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:0 bottom;
	height:50px;
	background-color: transparent;
}
.topBannerMB{
	background-image:url(../images/n038_no_cache.jpg);
	background-repeat:repeat-x;
	height:85px;
}

#lnkHomeBanner{
	background:url(../images/n037_no_cache.gif) no-repeat 50% 50%;
	width:170px;
	height:60px;
}

.PageBackGround{
	width: 100%! important;
}
.rowSingleGap{
	height:5px;
}
.rowGap{
	height:10px;
}
.defaultRowGap{
	height:25px;
    background: #fff;
}
.gap{width: 30px}
.pnlTop{
	height:8px;
}
.pnlWidth{
	width:800px;
}
.pnlWidthLeft{
	width:258px;
}
.pnlTopR{
	/*background-image:url(../images/LIbe001_no_cache.jpg);
	background:#EFF9FB;
	height:8px;
	width:8px;*/
}
.pnlBottom{
    /*background-image:url(../images/LIbe004_no_cache.jpg);
    background-repeat:repeat-x;
    background-position: 0 -1px;
    height:52px;*/
}
.non-pnlBottom{
    background-image: none;
    background-color: #DFDFDF! important;
}
.non-pnlBottom .gridHDFont{
    color: #0b0b0b;
}
.pnlBottomTall{
    background-image:url(../images/LIbe004_no_cache.jpg);
    background-repeat:repeat-x;
    background-position: 0 -1px;
    height:150px;
}
.pnlBottomTallCal{
    background-image:url(../images/LIbe004_no_cache.jpg);
    background-repeat:no-repeat;
    background-repeat:repeat-x;
    background-position: 0 -1px;
}
.fntSmall{
    font-size:9px;
}
.fntBold{
    font-weight:bold;
}
.hdFont{
    font-size:15px;
}
.hdFontColor{
    color:#02592E;
}
.pTopDM .hdFontColor{
    color:#ffffff;
}

.mandatory,.Mandatory,#spnError li{
    color: red;
}
.tab1A{
    background-image:none;
    background-repeat:no-repeat;
    background-position:top;
    height:56px;
    width:200px;
}
.tab1{
    background-image:none;
    background-repeat:no-repeat;
    background-position:top;
    height:56px;
    width:200px;
}
.tab2A{
    background-image:none;
    background-repeat:no-repeat;
    background-position:top;
    height:56px;
    width:220px;
}
.tab2{
    background-image:none;
    background-repeat:no-repeat;
    background-position:top;
    height:56px;
    width:220px;
}
.tab3A{
    background-image:none;
    background-repeat:no-repeat;
    background-position:top;
    height:56px;
    width:200px;
}
.tab3{
    background-image:none;
    background-repeat:no-repeat;
    background-position:top;
    height:56px;
    width:200px;
}

select
{
    font-family: Tahoma,Arial,sans-serif;
    font-size: 11px;
    height: 19px;
    color: #4E4E4E;
    background-color: #FFFFFF;
    BORDER-RIGHT: thin groove #9D9D9D;
    BORDER-TOP: thin groove #9D9D9D;
    BORDER-LEFT: thin groove #9D9D9D;
    BORDER-BOTTOM: thin groove #9D9D9D;
    padding:1px! important;
    }

input, textarea{
    font-family: Tahoma,Arial,sans-serif;
    font-size: 11px;
    color: #4E4E4E;
    background-color: #FFFFFF;
    BORDER-RIGHT: solid 1px #9D9D9D;
    BORDER-TOP: solid 1px #9D9D9D;
    BORDER-LEFT: solid 1px #9D9D9D;
    BORDER-BOTTOM: solid 1px #9D9D9D;
    padding:3px;
    }
input[type='radio'], input[type='checkbox']{border:0px;.border:0px;_border:0px;.background: transparent;_background: transparent;}
.clsInput{
    font-family: Tahoma,Arial,sans-serif;
    font-size: 11px;
    color: #4E4E4E;
    background-color: #FFFFFF;
    border-bottom: thin groove #9D9D9D;
    border-top: thin groove #9D9D9D;
    border-left: thin groove #9D9D9D;
    border-right: thin groove #9D9D9D;
}

.noBorder
{
    font-family: Tahoma,Arial,sans-serif;
    font-size: 11px;
    color: black;
    border-color:green;
    border-width:0px;
}

.Button
{
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    text-align:center;
    text-transform: capitalize;
    color: white;
    background-color:#FF6600;
    background-image:none;
    height: 25px;
    width:74px;
    cursor:pointer;
    padding-bottom:5px;
    line-height: 22px;
    border: 0;
}

.ButtonLarge {
    background-color:#FF6600;
    background-image:none;
    cursor:pointer;
    width:185px;
}

.ButtonMedium {
    background-color:#FF6600;
    background-image:none;
    cursor:pointer;
    width:104px;
}

.btnCredit{
    background-color:#FF6600;
    width:104px;
    cursor:pointer;
}
.btnCDisable{
    background-color:#c4c4c4;
    width:104px;
    cursor:default;
}
.ButtonLargeDisable{
    background-color:#c4c4c4;
    background-image:none;
    width:185px;
    cursor:default;
}
.ButtonDefaultDisable{
    background-color:#c4c4c4;
    background-image:none;
    width:74px;
    cursor:default;
    background-repeat:no-repeat;
}

.GridHeader {
    background-color:#02592E;
    height:20px;
}

.gridHD, .totalCol{
    background-color:#02592E;
    height:25px;
}

.totalCol{
    background-color: #2B7A77! important;
}
.gridHDDark{
    background-color:#02592E;
    height:45px;
    padding: 5px;
}
.gridHDFont{
    color:white;
}
.gridHDsub {
    background-color: #333333;
    height: 18px;
}
.GridItems {
background-color:white;
height:20px;
}
.lpaneTopL{
    background-image:url(../images/LIbe006_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    height:27px;
    width:11px;
}
.lpaneTopM{
    background-image:url(../images/LIbe007_no_cache.jpg);
    background-repeat:repeat-x;
    background-position:top;
    width:238px;
}
.lpaneTopR{
    background-image:url(../images/LIbe008_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    width:11px;
}
.lpaneMidL{
    background-image:url(../images/LIbe009_no_cache.jpg);
    background-repeat:repeat-y;
    background-position:top;
    width:2px;
}
.lpaneMidM{
    background-color:white;
    width:257px;
}
.lpaneMidR{
    background-image:url(../images/LIbe010_no_cache.jpg);
    background-repeat:repeat-y;
    background-position:top;
    width:1px;
}
.lpaneBotL{
    background-image:url(../images/LIbe011_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    height:18px;
    width:11px;
}
.lpaneBotM{
    background-image:url(../images/LIbe012_no_cache.jpg);
    background-repeat:repeat-x;
    background-position:top;
    width:238px;
}
.lpaneBotR{
    background-image:url(../images/LIbe013_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    width:11px;
}
.navFont{
    font-size:12px;
    vertical-align: middle;
    color:white;
 }
.navFontBig{
    font-size:17px;
    vertical-align: middle;
    color:white;
 }
.rowColor{
    background-color:white;
}
.rowColorAlternate{
    background-color:#DFDFDF;
}
.bdLeft{
    BORDER-LEFT: solid 1px #DFDFDF;
}
.bdTop{
    BORDER-TOP: solid 1px #DFDFDF;
}
.bdBottom{
    BORDER-BOTTOM: solid 1px #DFDFDF;
}
.bdRight{
    BORDER-RIGHT: solid 1px #DFDFDF;
}
.noPadding{
    padding:0px;
}
.lightGrayHD{
    background-color:#DFDFDF;
    height:25px;
}

.errorControl{
    background-color:#FEFFAF;
}

.fontCapitalize{
    text-transform: capitalize;
}
.ButtonAncilary{
    background-image: none;
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    text-align:center;
    text-transform: capitalize;
    color: gray;
    border-top: 0px solid #A65957;
    border-right: 0px solid #A65957;
    border-bottom: 0px solid  #A65957;
    border-left: 0px solid #A65957;
    height: 28px;
    width:174px;
    cursor:pointer;
    background-repeat:no-repeat;
    padding-bottom:2px;
}

.ButtonMeal{
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    text-align:center;
    text-transform: capitalize;
    color: #5A5A5A;
    background-color:transparent;
    background-image: url(../images/n056meal_no_cache.gif);
    border-top: 0px solid #A65957;
    border-right: 0px solid #A65957;
    border-bottom: 0px solid  #A65957;
    border-left: 0px solid #A65957;
    height: 25px;
    width:154px;
    cursor:pointer;
    background-repeat:no-repeat;
}
.oldSeat{
    background-image:none;
    background-repeat:no-repeat;
    height:15px;
    width:20px;
    background-position: -3px;
}
.aisle p{color: #51a7a4! important}
.availSeat{
    background-image:url('../images/LCAnsi004_no_cache.gif');
    background-repeat:no-repeat;
    height:15px;
    width:20px;
    background-position: 0px 0%;
}
.notAvailSeat{
    background-image:url('../images/LCAnsi002_no_cache.gif');
    background-repeat:no-repeat;
    height:15px;
    width:20px;
    background-position: 0px 0%;
}

.friendsSeat{
    background-image:url('../images/LCAnsi007_no_cache.gif');
    background-repeat:no-repeat;
    height:15px;
    width:20px;
}

.SltdSeat{
    background-image:url('../images/LCAnsi003_no_cache.gif');
    background-repeat:no-repeat;
    height:15px;
    width:20px;
    background-position: 0px 0%;
}
.aisle{
    height:15px;
    width:20px;
}
.exitLeft{
    background-image:url('../images/ANCI_06_no_cache.gif');
    background-position:top center;
    background-repeat:no-repeat;
    width:20px;
    height:39px;
}
.exitRight{
    background-image:url('../images/ANCI_07_no_cache.gif');
    background-position:bottom center;
    background-repeat:no-repeat;
    width:20px;
    height:39px;
}
.window{
    width:20px;
}
.wingRight{
    background-image:url('../images/LCAnsi005_no_cache.jpg');
    background-position:bottom center;
    background-repeat:no-repeat;
    height:65px;
    width:594px;
}
.wingLeft{
    background-image:url('../images/LCAnsi006_no_cache.jpg');
    background-position:top center;
    background-repeat:no-repeat;
    height:65px;
    width:594px;
}
.noTextDec{
    text-decoration:none;
}
.seatTT{
    opacity: .9;
    filter: alpha(opacity=90);
    background-color:#3b918e! important;
}
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.tabBG{
    background-image:url('../images/LIbe016_no_cache.jpg');
    height:40px;
    background-repeat: repeat-x;
    background-position: 0 99%;
}
.tabSltd{
    background-image:url('../images/aniciselected.gif');
    background-color:#02592E;
    background-repeat:no-repeat;
    background-position:4px 12px;
    width:auto;
    height:40px;
    padding:1px 5px 1px 25px;
    color: white;
}
.tabNotSltd{
    /*ackground-image:url('../images/LIbe014_no_cache.jpg');*/
	background:#D7D8DA;
	background-repeat:no-repeat;
	width:auto;
	height:40px;
	padding:1px 8px;
	color: #0b0b0b;
}
.tabSltd p, .tabNotSltd p{text-align: left;}
.newTabStyle{height: auto;overflow: hidden;}
.cursorPointer{
	cursor:pointer;
}
.noBorder{
	border: 0px solid transparent;
}
.progressBG {
	background-color:#FA0101;
}
.fntDefaultWhite{
	color:white;
}
.MandatoryGrid{
	color: white;
}
.paddingL5{
	padding-left: 5px;
}
.paddingL3{
	padding-left: 3px;
}
.Gridwt {
	background-color:#FFFFFF;
	height:20px;
}
.GridTable {	
	background-color:#DFDFDF;
	border-color:#DFDFDF;
}
.tblBgLeft{
	background-image:none;
	background-repeat:repeat-x;
	background-position:top;
}
.tblBG{
	background-image:url(../images/LIbe004_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}
.paddingCalss{padding:0px 10px}
.tblBgRight{
	background-image:none;
	background-repeat:repeat-x;
	background-position:top;
}

.newPogressLoading, .loadingContainer {
background:none repeat scroll 0 0 #FFFFFF;
display:none;
}
.pageName label {
    color:#1D6863;
    font-size:15px;
    font-weight:bold;
    text-align:left;
}
.mainbody{
	background: url("../images/body_bg_no_cache.jpg") repeat-y 50% 0;
	padding-top: 20px;padding-bottom: 20px;
}
.mainbody #sortable-ul {
	padding:0;
	display: block;
	width: 940px;
	margin: 0px auto 0;
}

.sortable-ul{
	padding:0;
	display: table;
	width: 940px;
	margin: 0px auto 0;
	height: 85px;
}

.mainbody div#sortable-ul div.sortable-child {
	float:left;
}
.floater{
	margin-right:11px;
	width:auto! important;
	display:block! important;
    visibility: visible! important;
}
#divSummaryPane  {
	width:245px;
	margin-left:8px;
}
#divSummaryPane .add-padding {
	padding:0 6px;
}

.rightColumn {
background:none repeat scroll 0 0 transparent;
margin:0 0 0 6px;
padding:0;
width:658px! important;
}

#termsNCond ul {
margin-bottom:4px;
margin-top:0;
}
#termsNCond ul li {
	margin-bottom:0;
	margin-left:15px;
	margin-top:0;
}

.alignLeft {
	text-align:left;
}

.alignRight{
	text-align:right;
}

/* overwirte rak style start*/
table {
background-color:transparent;
border-collapse:separate;
}
/* overwirte rak style end*/

/* Rak Alert style Start*/
#popup_container {
	-moz-border-radius:5px 5px 5px 5px;
	background:none repeat scroll 0 0 #fff;
	border:2px solid #124d4b;
	color:#FFFFFF;
	font-family:Tahoma,Arial,sans-serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size:12px;
	width: 380px;
	display: none;
	overflow: hidden;
}
.drager {position: relative;z-index: 99999;height: 25px;width:94%;cursor: move;}
#popup_container_frame{
	width: 100%;
	height: 100%;
}
/* Rak Alert style End*/

/* Sumarry panle Styles Start*/
.Page-heading table.headerRow{height: 24px;display: table;margin-bottom: 0px}
.Page-heading table.headerRow td{overflow: hidden;height: 20px;}
.Page-heading .headerBG{
	background-image: url("../images/pheader_no_cache.jpg");
	background-repeat:repeat-x;
	text-align: left;
}
.Page-heading .hBottom{background-repeat: repeat-x;height: 27px;}
.Page-heading .hbSide{background-repeat: repeat-x;height: 27px;width:10px}
.Page-heading .hLeft{background-repeat: repeat-x;width: 10px;height: 27px}
.Page-heading .hCenter{
	background-repeat: repeat-x;
	height: 27px;
	font-size: 14px; 
	color: #fff;
	font-weight: bold;
}
.Page-heading .hRight{background-repeat: repeat-x;width: 10px;height: 27px}

.mLeft{
	/*background-image:url("../images/n028_no_cache.jpg");*/
	background:#2B7A77;
	background-position:center top;
	background-repeat:repeat-y;
	width:1px;
}
.mCenter{width: 243px}
.mRight{
	/*background-image:url("../images/n029_no_cache.jpg");*/
	background:#2B7A77;
	background-position:center top;
	background-repeat:repeat-y;
	width:1px;
}
.Page-heading table.footerRow,table.footerRow{overflow: hidden;height: 0px;display: table;border-top:1px solid #2B7A77;background-color:#2B7A77; height: 32px }
.Page-heading .bLeft{background-position:0 -120px;background-repeat: repeat-x;width: 10px;height: 0px;background: transparent;}
.Page-heading .bCenter{
	background-position:0 -103px;
	background-repeat: repeat-x;
	height: 0px;
	background: transparent;
}
.Page-heading .bRight{background-position:-1px -86px;background-repeat: repeat-x;width: 10px;height: 0px;background: transparent;}
/* Sumarry panle Styles End*/

/* PIA Calendar Styles Start*/

.newCal > div{
	width:40px;
	height:62px;
}

h3.label {
background:none repeat scroll 0 0 transparent;
color:#1D6863;
font-size:11px;
padding:3px 6px;
text-align:left;
}

.cal-header-ul div.cal-one-day {
	background:#02592E;
	border-color:transparent;
	border-style:solid;
	border-width:1px;
	color:#FFF;
	line-height:18px;
	padding:0 0;
	text-align:center;
	border-bottom: 0px;
}
div.cal-one-day div {
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}

.flight-body .cal-base {
	-moz-border-radius:0px 0px 0px 0px;
	border:0px solid #aaa;
	margin:0px;
	text-align:center;
}


.sub-div a {
	color:#1D6863;
	display:block;
	font-family:arial;
	font-weight:bold;
	line-height:18px;
	outline:medium none;
	padding:0px 5px;
	text-decoration:none;
	overflow:hidden;
}
.sub-div a:hover {border: 0;color:#555;}
.sub-div-additional a {
	background:transparent;
	border:1px solid #AAAAAA;
	color:#AAAAAA;
	display:block;
	font-family:arial;
	font-weight:bold;
	line-height:18px;
	outline:medium none;
	padding:0px 5px;
	text-decoration:none;
}
.lowerstCon{height: 4px}

.ui-widget-content {
	/*background:transparent;
	border:0px solid #AAAAAA;*/
	color:#222222;
}

.ui-tabs .ui-tabs-panel {
	background:none repeat scroll 0 0 transparent;
	border-width:0;
	display:block;
	padding:0px;
}

.flight-body a.selected div.cal-base {
	background:transparent;
}
.flight-body a:hover div.cal-base{
	background:transparent;
	background-position: 0px 0px;
	cursor: pointer;
	border: 0px solid #aaa;
	text-decoration: none;
}

.flight-body a.selected div, .flight-body a.selected span, .flight-body a.selected .minFareValue label {
    background: none repeat scroll 0 0 transparent;
    color: #d9ecd9;
}
.flight-body a:hover {text-decoration: none;}
div.cal-day .flight-body div.cal-base{background: #fff}
.calendar-ul li div.cal-day{
	margin: 0px;
	border-color:#02592E;
	border-bottom:0px;
	height:61px;
}
.calendar-ul li div.mout{background: #02592E;}
.calendar-ul li div.cal-day img {
	display:block;
	margin:auto;
	z-index:12;
	left:0px;
	position:relative;
	top:30%;
}
.calendar-ul li div.mout div.cal-one-day{font-weight: bold;background-position: 0 0px}
div.cal-day .flight-body{padding: 0px}
.flight-header span a:hover{text-decoration: none;background: transparent;}
.flight-body a div, .flight-body a span, .flight-body a label {background: transparent;cursor: pointer;color: #02592E;}
.flight-body a:hover div, .flight-body a:hover span, .flight-body a:hover label {background: transparent;cursor: pointer;color: #d9ecd9;}
.flight-body a.selected span{color: #d9ecd9}
.flight-body a.selected label.currValueTotal{color: #d9ecd9}
.lowerstCon{display: none;}
.totalValueSelected label.currValueTotal{font-size: 19px;color: #1D6863;margin-top: 0px;display: block;font-weight: bold;}
.totalValueSelected{font-size: 19px;color: #586618;margin-top: 0px;display: block;}
.totalValueSelected span{font-size: 9px;color: #586618;}
.totalValue{
	color: #586618 !important;
    font-size: 11px;
    font-weight: bold;
}
.departureTime span, .departureTime{font-size: 11px;color: #3B7DC1;}
.arivalTime span, .arivalTime{font-size: 11px;color: #3B7DC1;display: none;}
div.stopover{font-size: 11px;font-size: 10px;color:#3B7DC1;display: none}
#tooltip {
	background-color:#FCFCB5;
	border:1px solid #FFFF66;
	opacity:0.9;
	padding:5px;
	position:absolute;
	z-index:3000;
	width:450px;
}
.selecRadio{text-align: left;}
.selecRadio input{border: 0px;background: transparent;}
.noFlight, .FlightFull{display: block;margin: 15px auto}
.FareGridBorder01, .FareGridBorder02, .FareGridBorder03, .FareGridBorder04, .FareGridBorder05{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #FFFFFF -moz-use-text-color -moz-use-text-color;
    border-style: none solid none none;
    border-width: medium 1px medium medium;
}
.FareGridBorder01 {
background-color:#FAE1C9! important;
border-color:#F36A34;
border-style:solid;
border-width:1px;
height:18px;
}

.FareGridBorder02 {
background-color:#F5C292! important;
border-color: #F36A34;
border-style:solid;
border-width:1px;
height:18px;
}

.FareGridBorder03 {
background-color:#F1AB6C ! important;
border-color: #F36A34;
border-style:solid;
border-width:1px;
height:18px;
}

.FareGridBorder04 {
background-color:#EF9321 ! important;
border-color: #F36A34 ;
border-style:solid;
border-width:1px;
height:18px;
}

.FareGridBorder05 {
background-color:#ED8120 ! important;
border-color:#F36A34;
border-style:solid;
border-width:1px;
height:18px;
}
.c-scroller{
	border-left:1px solid #02592E;
	margin-left:1px;
}

.flight-body a.selected{
	background:#02592E;
	height: 61px
}
.AllFlight .gridHDFont{
	color:#d9ecd9;
}
.AllFlight .thinBorderL{
	border:0px;
}
.CompareFare{display:none}

/* PIA Calendar Styles End*/

.fareSelSidePanel {
width:260px;
margin-left:23px;
}



#divSummaryPane .pane-body {
background:#EFF9FB;
border:0 solid #E72E2C;
}

.GridHeaderHighlight  {
background-color:#636363;
height:20px;
}
.logUserBG {
background:#e4e4e4;
background-position:center top;
background-repeat:repeat-x;
height:34px;
}

.logUserCorT {
background:#e4e4e4;
background-position:center top;
height:34px;
}
.fntWhite {
color:white;
}
.buttonset > table{text-align: center;display: table;margin: 0 auto;width: 310px}

/* process banner start*/
.StepsTable{
	width: 620px;display: block;margin: 2px auto;
	height: 42px;
	background-image:url("../images/pmid_no_cache.jpg");
	background-repeat:repeat-x;
}
.StepsTable td{
    vertical-align:middle! important;
}
.processRight{
	background-image:url("../images/pright_no_cache.jpg");
	background-repeat:no-repeat;
	background-position: right top;
}
.processLeft{
	background-image:url("../images/pleft_no_cache.jpg");
	background-repeat:no-repeat;
	background-position: left top;
}
td.stepsItem {
	height:42px;
	vertical-align: middle;
}
td.stepsItem label{color:#e4e4e4}
td.select {
	background-image:url("../images/pselect_no_cache.jpg");
	background-repeat:no-repeat;
	background-position: center bottom;
}
td.select label{
	color:#d9ecd9;
	font-weight:bold;
}
.paymentGadient{
	background-image:url("../images/LIbe004_no_cache.jpg");
	background-repeat:repeat-x;
}


.hdnavFont  {
	font-size:20px;
}
/* process banner end*/

.tabSltdUser{
	background:#0B4B4A;
	height:25px;
}

.tabSltdOver {
	background:#0B4B4A;
	height:25px;
}
.tabSltdOver label{color: white;cursor: pointer;}

.tabUnSltd{
	background-image: url("../images/pheader_no_cache.jpg");
	background-repeat:repeat-x;
	height:25px;
}
.tabUnSltd label{color: white;cursor: pointer;}
.pTopM {
background:#0B4B4A;
height:25px;
width: 80px;
}

.pTopL {
background:#0B4B4A;
height:25px;
width:11px;
}

.pTopDM {
	background-image: url("../images/pheader_no_cache.jpg");
	background-repeat:repeat-x;
	height:25px;
}

.pTopDR {
	background-image: url("../images/pheader_no_cache.jpg");
	background-repeat:repeat-x;
	height:25px;
	width:11px;
}
.pMidL {
	background:#2B7A77;
	width:1px;
}
.pMidM {
	background-image:url("../images/n033_no_cache.jpg");
	background-position:center top;
	background-repeat:repeat-x;
}
.pMidR {
	background:#2B7A77;
	width:1px;
}
.ui-datepicker-trigger{vertical-align: middle;margin: 1px 2px}
.pBotL {
	background:transparent;
	background-position:center top;
	background-repeat:no-repeat;
	height:15px;
	width:11px;
}
.pBotM {
	background:transparent;
	background-position:center top;
	background-repeat:repeat-x;
	height:15px;
	width:92%;
}
.pBotR {
	background:transparent;
	background-position:center top;
	background-repeat:no-repeat;
	height:15px;
	width:11px;
}
.btnAuxButton {
	font-family:Verdana,Arial,Helvetica,sans-serif;;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	color: #004845;
	background-color:#efefef;
	background-position:left; 
	border-top: 2px solid #004845;
	border-right: 2px solid #004845;
	border-bottom: 2px solid #004845;
	border-left: 2px solid #004845;
	height: 28px;
	cursor:pointer;
	background-repeat:no-repeat;
	padding-bottom:4px;
	padding-left:4px;
	padding-right: 20px;
	background-position: 97% 4px;
	-moz-border-radius:4px 4px 4px 4px;

}
#tabs1{
	background:none repeat scroll 0 0 transparent;
	border:0 none;
	width: 100%;
    margin-top: 20px;
}
/* main pageloaging msg */
.mainPageLoader{display:none;z-index:9900; background:transparent;height:80px;position:absolute;top:50%;left:40%;width:250px}

.searchCritira{
	display:block;width:230px;margin: 0 auto;
}
.searchCritira div{padding: 2px 0}
/*FixME this is for pathch*/
#specialMsg div{
		text-align: left;list-style: none;
		background-color:#ffffcf;
		opacity: .7;
		filter: alpha(opacity=80);
		border:1px solid #F3F376;
		padding:2px;
		font-size:11px;
		-moz-border-radius:6px;	/* Rounded edges in Firefox */
		font-family:Tahoma,Arial,sans-serif;
		font-weight: bold;
}

.spMsg{
	background-color:#ffffcf;
	opacity: .7;
	filter: alpha(opacity=80);
	border:1px solid #F3F376;
	padding:2px;
	font-size:11px;
	-moz-border-radius:6px;	/* Rounded edges in Firefox */
	font-family:Tahoma,Arial,sans-serif;
	
}

/*External Agents Pages Styles */
.recordl td.GridItems{
	background-color:#EBEBEB;
	height:20px;
	FONT-SIZE: 11px;
}
.recordd td.GridItems{
	background-color:#FFFFFF;
	height:20px;
	FONT-SIZE: 11px;
}

.header {
	FONT-FAMILY: Tahoma,Arial,sans-serif;
	font-weight: bold;
	background-color:#2DACE3;
	height:20px;
	FONT-SIZE: 11px;
	color: white; 
	
}
.rakHeader .header{background-color:#fff;}
.thinBorderT{border-top: 1px solid #E8E6E7;}
.thinBorderB{border-bottom: 1px solid #E8E6E7;}
.thinBorderL{border-left: 1px solid #E8E6E7;}
.thinBorderR{border-right: 1px solid #E8E6E7;}
	
.recordtop{
	FONT-FAMILY: Tahoma,Arial,sans-serif;
	font-weight:bold;
	background-color:#ECECEC;
	height:20px;
	FONT-SIZE: 10px;
}
.recordtopar{
	font-weight:bolder;
	background-color:#FFFFFF;
	height:20px;
	FONT-SIZE: 14px;
}
div.div-Table .floatItem{width:auto! important}
.footerClass{
	background:#E6E6E6 url("../images/footerbg_no_cache.jpg") no-repeat scroll -2px -2px;
	width:956px;
	height:80px;
}
.pageBody{padding-left:10px}
/*External Agents Pages Styles */
.mainbody .ui-tabs .ui-tabs-panel{
	background: none repeat scroll 0 0 transparent;
	border-width: 0 0 0;
	height: auto;
}
#footer{
	margin-top: 0! important;
	background:url("../images/footer_no_cache.jpg") repeat-x;
	height:120px;
}

#footer div.logo{
	margin:0 auto;
	width:125px;
	background:url("../images/footer-logo_no_cache.jpg") no-repeat;
	height:65px;
}
.mainbody table,.mainbody tbody,.mainbody td{
	vertical-align: top;
	margin-bottom: 0px;
}
/*New payment style*/
.card-img{display: none}
#paymentInfoPanel td{vertical-align: top;padding:5px}
/* Get calendar popup top */
#ui-datepicker-div{z-index: 300;font-size: 1em;display:none;}
/****overRite ****/
form{
	overflow:inherit  ! important;
}
.tblSeatMapContainer p {
    font-size: 13px !important;
    margin:0;
    margin-bottom: 4px !important;
}
.outerCal{width: 648px;}
.rightColumFix{
	margin: 0 15px;
    width: 97%! important;
}
/*************** new Popup *********************/
.popBG,#popupHeader,#footeritems{background: #1A5553}

.popBG1{background: #1A5553}
.popTopLeft{
	width: 10px;
	height: 9px;
}
.popTopMid{

	height: 9px;
}
.popTopRight{
	width: 10px;
	height: 9px;
}

.popMidLeft{
	width: 10px;
}
.popMidMid{
	background:#1A5553;
	background-repeat: repeat;
}
.popMidRight{
	width: 10px;
}

.popBottomLeft{
	width: 10px;
	height: 9px;
}
.popBottomMid{
	height: 9px;
}
.popBottomRight{
	width: 10px;
	height: 9px;
}

#popupHeader span.close{
	background: url("../images/AA163_no_cache.gif") no-repeat;
	float:right;
	width:14px;
	height:16px;
	cursor: pointer;
}
#popupHeader .headerItems{
	float: left;
	width:180px;
	overflow: hidden;
}
#popupHeader .headeritems{
    float: left;
}
#popupHeader .headeritems label{
    color:white;
    font-weight: bold;
}
#popupFooter input{
	float: right;
}
.popup-column{
	vertical-align:top;
	border-left: 1px solid #e4e4e4;
	width:195px;
	padding-left:5px;
}
.popup-column-first{border:0px}
/*************** new Popup *********************/
.isabutton{
	background-image: none;
    background-repeat: no-repeat;
    border-color: #FF6600;
    background-color: #FF6600;
    border-style: solid;
    border-width: 0;
    color: white;
    cursor: pointer;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    height: 25px;
    padding: 0px;
    text-align: center;
    text-transform: capitalize;
    padding: 5px 10px;
}
.isabutton > table{
	width:auto
}
.ButtonLarge> table, .ButtonLargeDisable> table{
    width: 100%;
}
.isabutton .buttonspan{width:0px}
.isabutton .buttonMiddle{width:auto;text-align:center}
.isabutton[disabled='disabled'] td{
    color: #c4c4c4;
}
#trPriceBDPannel{width:648px;}
a:link u {
    color: #134373;
    text-decoration: none;
}
a#linkTerms:link u {
    text-decoration: underline;
    cursor: pointer;
}
a#linkTerms:link u label {
    cursor: pointer;
}
.GridItems .paddingL5{text-align: left}
.secure-image{
	float:left;
}
.floatleft{
	float:left! important;
}
.floatright{
	float:right! important;
	display:none
}
#IPNotification{display:none}
.paymentInfo{display:none;width:0%}
.paymentInfo1{width:100%}
#lblPaymentGeneralInfo3{text-align:justify}
#newPopItem{
	border:1px solid #e4e4e4;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#bodyitems{
    border: 1px solid #e4e4e4;
    background: #fff;
}
#lblFareRules{
	display:none;
	font-weight: bold;
    font-size: medium;
}
#lblItinerary{font-size:15px; font-weight:bold;color: #02592E;}

/* Styles for Mobile No Format Help */
#lblMobileNoExample{padding-left: 110px;}

#lblCountryCodeHelp{padding-left: 30px;}

#lblAreaCodeHelp{padding-left: 40px;}

#lblNumberHelp{padding-left: 40px;}

#lblCountryCode {
	margin-left: 5px;
	float:left;
	width: 50px;
}

#lblAreaCode {
	margin-left: 5px;
	float:left;
	width: 50px;
}

#lblNumber {
	margin-left: 30px;
	float:left;
	width: 40px;
}
#lblMobileNoMand{}
#btnModSeach{
    display: inline-block;
    padding: 5px;
    border: 1px solid #FF6600;
    background-color: #FF6600;
}
#btnModSeach label{
    color: white;
}
#divModSeach{
    width: 97%! important;
    height: auto! important;
    padding: 10px;
}
.daySmall, .dateSmall{
    display: inline;
    padding: 0 2px;
}
.pnlTopL{
    border-top:1px solid #2e7e7b;
    border-left:1px solid #2e7e7b;
    width: 10px;
    height:5px;
    background: #EFF9FB;
}
.pnlTopM{
    border-top:1px solid #2e7e7b;
    height:5px;
    background: #EFF9FB;
}
.pnlTopR{
    border-top:1px solid #2e7e7b;
    border-right:1px solid #2e7e7b;
    width: 10px;
    height:5px;
    background: #EFF9FB;
}
.pnlMidL{
    border-left:1px solid #2e7e7b;
    width: 10px;
    background: #EFF9FB;
}
.pnlMid{
    background: #EFF9FB;
}
.pnlMidR{
    border-right:1px solid #2e7e7b;
    width: 10px;
    background: #EFF9FB;
}
.pnlBottomL{
    border-bottom:1px solid #2e7e7b;
    border-left:1px solid #2e7e7b;
    width: 10px;
    height:5px;
    background: #EFF9FB;
}
.pnlBottomM{
    border-bottom:1px solid #2e7e7b;
    background: #EFF9FB;
}
.pnlBottomR{
    border-bottom:1px solid #2e7e7b;
    border-right:1px solid #2e7e7b;
    width: 10px;
    height:5px;
    background: #EFF9FB;
}
.pnlGroupbottom{
    border-left:1px solid #2e7e7b;
    border-right:1px solid #2e7e7b;
}
#trModSearch .paddingCalss{
    padding: 0;
}
#tableModSearch{
    width: 100%;
}
#tableModSearch .pnlMid{
    text-align: right;
}
#tableModSearch .pnlMid>table{
    width: 100%
}
.segcodebar{
    background-color: #02592E;
}
.segcodebar label{
    color: #fff;
}
.myAALogo{
    width: 1px;
    height: 1px;
}
.v3PaxTitle{
    background: #02592E;
}
.v3PaxTitle td{
    height: 25px;
}
.v3PaxTitle label{
    color: white;
}
#adlGrid .nonAirarab{
    display: table-row! important;
}
.bookhotelRow{
    display: none;
}
#shoping_Cart_head td{
    background: #02592E;
}
.getFlightDay{
    height: 60px;
}

.flightCol {
    width: 200px;
}
.segcodebar {
    margin: 0 0 0 1px;
    padding: 4px 10px;
    color: #fff;

}
.anciTable{
    background: white;
}
.anciTable .first-col {
    padding: 0 4px
}
.odd td {
    background: #ffffff;
}
.mealrow .odd {
  background: #FFffff;
}
.mealrow .even {
  background: #e4e4e4;
}
a.selectAici label {
    text-decoration: underline;
    cursor: pointer;
}
.passengerCol {
    width: 190px;
}
.allOtherColl label, .mealCol label, .priceCol label, .clearCol label {
    margin: 0 3px;
}
.mealItem table{
    width:100%
}
.mealItem td{
    text-align: center;
}
.mealItem td.thumb{
    width:55px;
    text-align: center;
}
.mealItem td.name, .mealItem td.description{
    text-align: left;
    width:375px
}
.clearCol {
    width: 16px;
}
.clearLabel {
    background: url("../images/close_icon_no_cache.jpg") no-repeat scroll 50% 50% transparent;
    cursor: pointer;
    float: right;
    height: 16px;
    width: 16px;
}
.qtyHead label{
    display: none;
}
.leftNavigation{
    width: 54px;
}
.rightNavigation{
    width: 33px;
}
/* ----------------- AEROMART-392 Edited ---------------- */

#adlGrid .paxDetailsGrid td table tr:first-child td:last-child{
	width: 110px !important;
}

#adlGrid .paxDetailsGrid td table tr.psptDetails table tr:nth-child(2) td:nth-child(5){
	width: 220px !important;
}

#chdGrid .paxDetailsGrid td table tr:first-child td:last-child{
	width: 110px !important;
}

#chdGrid .paxDetailsGrid td table tr.psptDetails table tr:nth-child(2) td:nth-child(5){
	width: 250px !important;
}
