<div class="payment-review">
    <div class="off-canvas-wrapper" ng-controller="ConfirmCtrl as confirm">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div class="off-canvas-content" data-off-canvas-content>
                <div class="payment-review-container">

                    <div class="payment-wper">
                        <div class="row review-title">
                            <div class="row collapse">
                                <div class="small-6 columns">
                                    Review Details
                                </div>
                                <div class="small-6 columns">
                                    PNR : {{confirm.pnr}}
                                </div>
                            </div>
                        </div>


                        <div class="row collapse" ng-repeat="segment in confirm.reservationSegments">
                            <div class="row collapse">
                                <div class="small-2 columns icn">
                                    <span ng-class="{'icon-flight-arv': $index != 0, 'icon-flight-dep': $index == 0}"></span>
                                </div>
                                <div class="small-10 columns">
                                    {{segment.segmentCode}}
                                </div>
                            </div>
                            <div class="row collapse">
                                <div class="small-2 columns">

                                </div>
                                <div class="small-2 columns">
                                    <strong>{{segment.flightDesignator}}</strong>
                                </div>
                                <div class="small-2 columns text-center">
                                    <span class="icon-plane_depature"></span>
                                </div>
                                <div class="small-6 columns collapse date-time">
                                    <div class="row collapse">
                                        <div class="small-6 columns">
                                            {{segment.departureDateTime.local | date:'yyyy-MM-dd'}}
                                        </div>
                                        <div class="small-6 columns">
                                            {{segment.departureDateTime.local | date:'hh:mm:ss'}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row collapse">
                                <div class="small-2 columns">

                                </div>
                                <div class="small-2 columns">

                                </div>
                                <div class="small-2 columns text-center">
                                    <span class="icon-plane_landing"></span>
                                </div>
                                <div class="small-6 columns collapse date-time">
                                    <div class="row collapse">
                                        <div class="small-6 columns">
                                            {{segment.arrivalDateTime.local | date:'yyyy-MM-dd'}}
                                        </div>
                                        <div class="small-6 columns">
                                            {{segment.arrivalDateTime.local | date:'hh:mm:ss'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                        </div>


                    </div>
                    <div class="price-b-cont expanded">
                        <div class="payment-wper">
                            <div class="row collapse">
                                <div class="small-12 columns">
                                    <strong> Price breakdown</strong>
                                </div>

                                <div class="row" ng-repeat="charge in confirm.balanceSummary.chargeBreakdown"
                                     ng-if="charge.type != 'Total Paid'">
                                    <div class="small-7 columns">{{charge.type}}</div>
                                    <div class="small-5 amount columns">USD {{charge.amount}}</div>
                                </div>

                                <hr/>
                                <div class="row total">
                                    <div class="small-7 columns">Total Paid</div>
                                    <div class="small-5 amount columns">USD {{confirm.balanceSummary.totalPayment}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="payment-wper">
                        <div class="row">
                            All payment will be charged in USD, All other currencies are for
                            referance only
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>