/*@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    *:not(i):not(.path1):not(path2):not(.fa){
        font-family: 'Roboto', sans-serif;
    }
}*/
.LTR, .RTL {
    .rewards-login .tabbed-content #signin-content h3{
        margin-bottom: 10px;
    }

    .xs-li-logo span{
        width: 185px !important;
    }
    .cg-busy-default-spinner,.cg-busy-default-text{
        color: $light_gray !important;
    }

    .flight-result-block .flight-options .flight-options-table .options-row.header .right-section {
        .fare-type-1{
            background-color: lighten($secondery_color, 30%) !important;
        }
        .fare-type-2{
            background-color: lighten($secondery_color, 25%) !important;
        }
        .fare-type-3{
            background-color: lighten($secondery_color, 20%) !important;
        }
        .fare-type-4{
            background-color: lighten($secondery_color, 15%) !important;
        }

        .fare-type-5{
            background-color: lighten($secondery_color, 10%) !important;
        }
        .fare-type-6{
            background-color: lighten($secondery_color, 5%) !important;
        }
    }



    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li .mod-flight .icon-outbound-plane-small .path2:before {
        margin-left: -3em;
    }
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li .mod-flight .icon-outbound-plane-small .path1:before {
        color: rgba(145, 145, 145, 0.3);
    }
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li .mod-flight .icon-inbound-plane-small .path2:before {
        margin-left: -3em;
    }
   
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active .mod-flight .icon-outbound-plane-small .path1:before,
        .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active .mod-flight .icon-inbound-plane-small .path1:before,
        .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active .mod-flight .icon-inbound-plane-small .path2:before,
        .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active .mod-flight .icon-outbound-plane-small .path2:before {
        color: #fff;
    }
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active:after {
        border-left: 15px solid $space-gray !important;
        //background-color: $space-gray !important;
        color: $white !important;
    }
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active{
        background-color: $space-gray !important;
        color: $white !important;
    }
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:hover,
        .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:focus {
         background-color: $space-gray !important;
         color: $white !important;
    }
    
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li{
        background-color: $bg-primary-color !important;
        color: $black !important;
    }
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:hover .mod-flight .icon-outbound-plane-small .path1:before,
        .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:focus .mod-flight .icon-outbound-plane-small .path1:before,
        .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:hover .mod-flight .icon-inbound-plane-small .path1:before,
        .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:focus .mod-flight .icon-inbound-plane-small .path1:before,
        .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:hover .mod-flight .icon-inbound-plane-small .path2:before,
        .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:focus .mod-flight .icon-inbound-plane-small .path2:before,
        .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:hover .mod-flight .icon-outbound-plane-small .path2:before,
        .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:focus .mod-flight .icon-outbound-plane-small .path2:before {
        color: #fff;
    }

    .icon-outbound-plane-small,.icon-inbound-plane-small{
        .path2::before{
            color: $primery_color;
        }
        .path1:before{
            color:#a2acc0;
        }
    }
    
    @media only screen and (max-width:767px) {
        .modify-search-currency {
            #currency{
                .cc-link{
                    background-color: #e7e7e7 !important;      
                }
            }
        }
        
        .xs-meal-block{
                span.cat-button{
                   background-color: $meals-cat-headin-bg-color !important;
                   color:$charcoal_gray !important;
                }
        }
        .meal-passenger-list{
            ul{
                li{
                    border-bottom: 1px solid #e0dfdf !important;
                }
                li, li *{
                     background-color: $meals-passenger-bg-color !important;;
                }
            }
        }
    }
}
.LTR header ul li a i.number {
    border-color:$secondery_color !important;
    color:$secondery_color !important;
}
.LTR, .RTL{        
    header{
        background-color: #f5f5f5  !important;
        ul li {
            a {
                color: $secondery_color !important;
            }

            &.completed:hover {
                background: $color_variation_7 !important;
            }
            &.current {
                background: $secondery_color !important;
                @media only screen and (min-width:768px) {
                    span, i.number{
                        color: white !important;
                        border-color: white !important;  
                    }
                }

                @media only screen and (max-width:767px) {
                    span, i.number{
                        color: #000 !important;
                        border-color: #000 !important;  
                    }
                }
            }
        }

    }

    @media only screen and (min-width: 768px){
        .sidebar-widget{
            .isa-radio-option-list-wrapper{
                .widget-header{
                    background-color:$secondery_color !important;
                }
            }
        }
    }


    .select-extras .thumb-block .options .button.opt-btn{
        background-color: $charcoal_gray !important;
        &:hover {
            background-color: $primery_color !important;
        }
    }

    .payment-details .right-content .amount{
        margin-top:0 !important;
    }

    .drawer-bar {
        background: #F5F2E9 !important;
    }

    .services-selection .left-section .data-block ul li {
        &:hover {
            background-color: $primery_color !important;
        }

        &.active {
            background-color: $primery_color !important;

            &:after {
                border-left: 15px solid $primery_color !important;
            }
        }
    }

    .rewards-login .heading .airline-logo{
        height : 45px !important;
    }

    .select-passenger .passengers-list ul, .LTR .seat-selection .left-section .data-block ul {
        li{
            background-color: $bg_primary_color !important;
        }

        li.active-pax, li.active{
            background-color: $secondery_color !important;
            &:after{
                border-left: 15px solid $secondery_color !important;
            }
        }
    }

    .right-section-fare { 
        a.fare-option-0{
            background-color: lighten($secondery_color, 35%);
        }
        a.fare-option-1{
            background-color: lighten($secondery_color, 26%);
        }
        a.fare-option-2{
            background-color: lighten($secondery_color, 17%);
        }
        a.fare-option-3{
            background-color: lighten($secondery_color, 9%);
        }
        a.fare-option-4{
            background-color: lighten($secondery_color, 1%);
        }  
    }

}
@media only screen and (min-width: 768px){
    .LTR .rewards-login {
        max-width: 480px !important;

        .tabbed-content{
            background-color: $bg_primary_color  !important;
        }
    }
}

@media only screen and (max-width: 767px){
    .LTR, .dash-res-sum .res-summary-extras > div{
        .img{
            background-position-x: -19px !important;
        }
    }

    .LTR .rewards-login {
        .tabbed-content{
            background-color: $bg_primary_color  !important;
        }
        .heading .rewards-logo{
            //background-position: -147px 2px !important;
            background-image: url(../images/airewards-logo.png) !important;
        }
    }
    .dash-res-sum{ 
        .panel-default>.panel-heading  {
            background-color: $white;
            border-color: $white;
        }
        .reservation-details .booking-details-h2 {
            color: $very_black;
        }
        .passengers-list-div {
            .glyphicon{
                color: $very_black;
                font-size: 12px;
            }
        }
        .contact-details-div {
            .glyphicon{
                color: $very_black;
                font-size: 12px;
            }
        }
        .reservation-details .col.passengers h2 {
            color: $very_black;
        }
        .contact-details h2 {
            color: $very_black;
        }
        .extra-details-div {
            .glyphicon {
                color: $very_black;
                font-size: 12px;
            }
            .heading-text {
                color: $very_black;
                font-size: 16px;
            }
        }
        .xs-modify-filght-summary .ft-heading {
            background-color: $bg_primary_color;
            color: $very_black;
            font-size: 12px;
        }

        .flight-summary-heading, .flexi-details-heading, .payment-details-heading {
            color: $very_black;
        }
        .flight-summary-glyphion, .flexi-details-glyphion, .payment-details-glyphion {
            color: $very_black;
            font-size: 12px;
        }

    }

    .xs-enterdetails{
        color: $black !important
    }
    .heading-text{
        color: $black !important;
    }
    .extras-header{
        .content-header{
            .page-title{
                >h1{
                    >a{
                        color: $black !important;
                    }
                }
            }
        }
    }
#modify-flight-head{
        color: $very_black !important;
    }
    .dash-alert{
        .notification{
            color: $black !important;
            background-color: transparent !important;
        }
    }
    .flights-head{
        >div{
            color: $very_black !important;
        }
    }
    
    .modify-or-cancel{
        .cancel{
            button{
                background-color: $mild-gray !important;
            }
        }
    }
    
    .LTR .fare-floater-wrapper ul li.selected-date .day-block .day-fare {
        color: $black !important;
        font-weight: 700;
    }
    
    .LTR .font-color-red {
        color: $color_discount_for_booking !important;
    }
    
}
.LTR .package-block .main-section .details span {
    i{
        color: $secondery_color !important;
    }
    p{
        color: $secondery_color !important;
    }
    .label-red{
        color: $primery_color !important;
    }
}
.button.gray-btn{
    background-color:$secondery_color !important;
}
.button.gray-btn:focus{
    background-color:$secondery_color !important;
}
.button.gray-btn:hover{
    background-color:$primery_color !important;
}
.LTR .RTL .package-block.flexi-block .main-section .details i{
    color:$primery_color !important;

}
.ngdialog.ngdialog-theme-default .ngdialog-content{
    border-top: 5px solid $primery_color !important;
    background:#f0f0f0 !important;
}
.LTR .login {
    border-top: solid $primery_color 5px !important;
    background-color: $bg_primary_color;
}