body
{
	margin:0px 0px 0px 0px;
	background-color:#F3F3F3;
}
a
{
	text-decoration:none;
}
font
{
	font-family:tahoma;
	font-size:10px;
	color:black;
}
.BGColor
{
	background-color:white;
	height:19px;
	border:none ; 
}
.TblLineColor
{
	background-color:black;
	height:19px;
}
.clsDD
{
	color:black;
	background-color:white;
	font-family:tahoma;
	font-size:10px;
	}
.DefMonth
{
	color:white;
	background-color:#0071BC;
	}	
.SUHDBGColor
{
	background-color:#0071BC;
	border:thin groove; 
	height: 17px;
	}	
.SUHDColor
{
	color:white;
	font-weight:bold;
	}		
.MOHDBGColor
{
	background-color:#0071BC;
	border:thin groove; 
	height: 17px;
	}	
.MOHDColor
{
	color:white;
	font-weight:bold;
	}			
.TUHDBGColor
{
	background-color:#0071BC;
	border:thin groove; 
	height: 17px;
	}	
.TUHDColor
{
	color:white;
	font-weight:bold;
	}			
.WEHDBGColor
{
	background-color:#0071BC;
	border:thin groove; 
	height: 17px;
	}	
.WEHDColor
{
	color:white;
	font-weight:bold;
	}				
.THHDBGColor
{
	background-color:#0071BC;
	border:thin groove; 
	height: 17px;
	}	
.THHDColor
{
	color:white;
	font-weight:bold;
	}				
.FRHDBGColor
{
	background-color:#0071BC;
	border:thin groove; 
	height: 17px;
	}	
.FRHDColor
{
	color:white;
	font-weight:bold;
	}		
.SAHDBGColor
{
	background-color:#0071BC;
	border:thin groove;
	height: 17px;
	}	
.SAHDColor
{
	color:white;
	font-weight:bold;
	}						
/* 
*/
.SUBGColor
{
	background-color:#BFBFBF;
	border:thin groove; 
	height: 19px;
	}	
.SUColor
{
	color:white;
	font-weight:bold;
	}		
.MOBGColor
{
	background-color:#BFBFBF;
	border:thin groove; 
	height: 19px;
	}
.MOColor
{
	color:white;
	font-weight:bold;
	}			
.TUBGColor
{
	background-color:#BFBFBF;
	border:thin groove; 
	height: 19px;
	}	
.TUColor
{
	color:white;
	font-weight:bold;
	}			
.WEBGColor
{
	background-color:#BFBFBF;
	border:thin groove; 
	height: 19px;
	}	
.WEColor
{
	color:white;
	font-weight:bold;
	}				
.THBGColor
{
	background-color:#BFBFBF;
	border:thin groove; 
	height: 19px;
	}	
.THColor
{
	color:white;
	font-weight:bold;
	}				
.FRBGColor
{
	background-color:#BFBFBF;
	border:thin groove; 
	height: 19px;
	}	
.FRColor
{
	color:white;
	font-weight:bold;
	}		
.SABGColor
{
	background-color:#BFBFBF;
	border:thin groove; 
	height: 19px;
	}	
.SAColor
{
	color:white;
	font-weight:bold;
	}	
.NavMonthBGColor{
	background-color:#0071BC;
	border:thin groove; 
}
.NavMonth
{
	color:white;
	font-size:12px;
	}	
.SelDateBGColor
{
	background-color:Maroon;
	border:thin groove; 
}
.SelDate
{
	color:yellow;
	}	
.DisableDaysBGColor
{
	background-color:#E8E8E8;
	border:thin groove; 
	height: 23px;
	width:26px;
	}	
.DisableDays
{
	color:gray;
	font-weight:lighter;
	}		
.ToDateBGColor
{
	background-color:#0071BC;
	border:thin groove; 
	height:19px;
}
.ToDate
{
	color:white;
	}
.DisableBGUpto
{
	background-image:url(../images/Cal_Dis_no_cache.gif);
	background-color:#F5F5F5;
	border:thin groove;
	height: 23px;
	width:26px;
	}		
.DisableUpto
{
	color:gray;
	}		
.Button
{
	font-family:tahoma;
	font-size:10px;
	text-align:center;
	text-transform: capitalize;
	color: Black;
	border-top: 0px solid #B2B2B2;
	border-right: 0px solid #B2B2B2;
	border-bottom: 0px solid #B2B2B2;
	border-left: 0px solid #B2B2B2;
	height: 19px;
	width:19px;
	background:transparent;
	cursor:pointer;
}				

.SelectedButton
{
	font-family:tahoma;
	font-size:10px;
	text-align:center;
	text-transform: capitalize;
	color: white;
	border-top: 0px solid #B2B2B2;
	border-right: 0px solid #B2B2B2;
	border-bottom: 0px solid #B2B2B2;
	border-left: 0px solid #B2B2B2;
	height: 19px;
	width:19px;
	background:transparent;
	cursor:pointer;
}			
.calendarBorder
{
	border-color:#023599; 
	background-color:#023599; 
}

.calendarBG
{
	background-color:#023599;
}	

.context
{
	background-color:#023599;
}	
