 Body {
	scrollbar-arrow-color:#ECC3C3;
	scrollbar-base-color:#F58E8E;
	scrollbar-shadow-color:#FF7171;
	scrollbar-face-color:#C10000;
	scrollbar-highlight-color:#EFDBDB;
	scrollbar-darkshadow-color:#AC6A6A;
	scrollbar-3d-light-color:#FFFFFF;
	background : white;
	margin :0px 0px 0px 0px;
}
.pageBody{
	background : #E1DCE2;
}
A:link
{
    COLOR: #134373;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #134373;
    TEXT-DECORATION: none
}
.outLine{
	border-color: #D2D3D3 #D2D3D3 #D2D3D3 #D2D3D3;
	border-style: solid solid solid solid;
	background-color: #D2D3D3 ;
}
.BannerTopLine{
	background-color:#F63F4C;
}
.BannerBackGround{
	background-color:#ECECEC;
}
.BannerBorderLeft
{
	background-image: url(../images/left_shadow_no_cache.gif);
	}
.BannerBorderRight
{
	background-image: url(../img/right_shadow_no_cache.gif);
	}
.bottomColor{
	background-color: #626262;
	height:50px;
}
.PageBorder
{
	background-color:#fafafa;
	}
.PageBackGround
{
	background-color:#ffffff;
	}
.PageBottomColor
{
	background-color:#BE2539;
	}	
	
font{
	font-family:verdana;
	font-size:11px;
	left:auto;
	color: black; 
}
fontArabic{
	font-family:verdana;
	font-size:13px;
	left:auto;
	color: black; 
}	
.fontPGInfo{
	font-family:verdana;
	font-size:11px;
	left:auto;
	color: white; 
}
.fontPGInfoArabic{
	font-family:verdana;
	font-size:13px;
	left:auto;
	color: white; 
}
.fntArabic{
	font-size:15px;
	font-family: verdana;
}
.fntCVV{
	font-size:13px;
	font-family: verdana;
}
.fntArabicTerms{
	font-size:17px;
	font-family: verdana;
}
.fntArabicTotal{
	font-size:10px;
	font-family: verdana;
}
.fntEnglish{
	font-family: verdana;
}
.setHeight{
	height:18px;
}

.tinySpace{
	height:5px;
}

.fntBold{
	font-weight:bold;
}

.fntHighLow{
	font-size:15px;
	font-family:verdana;
	font-weight:bold;
}
.fntBoldMax{
	font-size:13px;
	font-family:verdana;
	font-weight:bold;
}
.fntWhite{
	font-size:15px;
	color:black;
}
.fntDefaultWhite{
	color:white;
}
.fntRed{
	color:red;	
}
.fntGreen{
	color:#00B900;	
}
.fntBlack{
	color:black;
}
.fntSmall{
	font-size:12px;
}
.fntSmallArabic{
	font-size:13px;
}
.fntExSmall{
	font-size:8px;
}
.fntExSmallArabic{
	font-size:10px;
}
.fntTiny{
	font-size:5px;
}
.fntTinyArabic{
	font-size:7px;
}
.fntLarge{
	font-size: 17px;
}
.fntExLarge{
	font-size: 22px;
}
.fntDefault{
	font-family:verdana;
	font-size:11px;
	left:auto;
	color: black; 
}
.fntDefaultArabic{
	font-family:verdana;
	font-size:13px;
	left:auto;
	color: black; 
}
.fntMenu{
	font-family:verdana;
	font-size:11px;
	left:auto;
	color: black; 
}
.Header{
	font-family:Arial;
	font-size:11pt;
	text-align:left;
	left:auto;
	text-transform: capitalize;
	color: #D11F1F; 
	font-weight: bold;
}

.SubLink{
	text-align:left;
	left:auto;
	color: #6E6E6E;
	font-weight: bold;
	cursor: text; 
}
.SubLinkSelected{
	background-color:#FFBBBB;
	left:auto;
	color: black; 
	font-weight: bold;
}
.FormHeadBackGround{
	background-color:#F63F4C;
}
.FormBackGround{
	background-color:#ECECEC;
}
.FormHeader{
	left:auto;
	color: #FFFFFF;
	font-weight: bold;
}

select
{
	font-family: verdana;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
	
input
{
	font-family: verdana;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
	
.clsInput{
	font-family: verdana;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
}.NoBorder
{
	font-family: verdana;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: Transparent;
	border-color:Transparent;
	border-style:none;
	}		
.LineColor
{
	color:#C30000;
	}	
.Button
{
	font-family:verdana;
	font-size:15px;
	text-align:center;
	text-transform: capitalize;
	color: white;
	font-weight: bold;
	background-image: url(../images/NI010_no_cache.jpg);
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 22px;
	width:72px;
	cursor:pointer;
	}
.ButtonDefault{
	background-image: url(../images/NI010_no_cache.jpg);
	width:72px;
	cursor:pointer;
}
.ButtonDefaultDisable{
	background-image: url(../images/NI011_no_cache.jpg);
	width:72px;
	cursor:default;
}
.ButtonMedium{
	background-image: url(../images/NI012_no_cache.jpg);
	width:92px;
	cursor:pointer;
}
.ButtonMediumDisable{
	background-image: url(../images/NI013_no_cache.jpg);
	width:92px;
	cursor:default;
}
.ButtonLarge{
	background-image: url(../images/NI015_no_cache.jpg);
	width:142px;
	cursor:pointer;
}
.ButtonLargeDisable{
	background-image: url(../images/NI014_no_cache.jpg);
	width:142px;
	cursor:default;
}

.ButtonHighlight
{
	color: white;
	background-image: url(../images/AA_002_no_cache.jpg);
	}
.GridHeader
{
	background-color:#999999;
	height:20px;
	}	
.Grid
{
	background-color:white;
	border-color:#D7E4ED;
}
.GridTable
{
	background-color:black;
	border-color:#D7E4ED;
}
.GridItems
{
	background-color:#EDEDED;
	height:20px;
	}
.GridHighlight
{
	background-color:#B6B6B6;
	height:20px;
	}
.GridDblHighlight{
	height:30px;
}
.ItineraryHeader
{
	background-color:#D4D0C8;
	height:20px;
}
.ItineraryGridItems{
	background-color:#F4F4F4;
	height:20px;
}
.fntWeek{
	font-size:15px;

}
.FareGridBorder{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	}
.FareInidBorder{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
	}
.Dots{
	background-image: url(../images/dot_no_cache.gif);
	height:20px;
}
.NoFaresBGColor
{
	background-color:#F4F4F4;
	}	
.FaresDaysBGColor
{
	background-color:white;
	}
.FaresMonthBGColor
{
	background-color:#C4C4C4;
	}
.FareBGColor
{
	background-color:white;
}
.Mandatory{
	color: red;
}
.SeperateorBGColor{
	background-color: #CCCCCC;
}
.rightText{
	text-align: right;
}
.itneraryBorder{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
}
.itneraryBGColor
{
	background-color:#C4C4C4;
	}
.pageBreak{
	page-break-after: always	
}
.fontCapitalize{
	text-transform: capitalize;
}
.clsSelect
{
	font-family: verdana;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
.errorControl{
	background-color:#FEFFAF;
	}
.sperateorBar{
	height:5px;
	}
.setHeight{
	height:10px;
}
UL
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 4px;
}
LI
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 0px;
}