<div class="hidden-xs">
    <div ng-repeat="item in source">
        {{is}}
        <div class="row" ng-show="isItemSelected(item)">
            <button class="btn red-btn col-md-4 col-xs-5 xs-margin-r-0 sm-margin-r-0" ng-click="modifyAirportTransfer(item, $index)" translate="btn_airport_transfer_list_ModifyTransfer">Modify Transfer</button>
            <button class="btn red-btn col-md-4 pull-right col-xs-5" ng-click="removeAirportTransfer(item)" translate="btn_airport_transfer_list_DeleteTransfer">Delete Transfer</button>
        </div>

        <div class="row" ng-hide="isItemSelected(item)">
            <div class="col-xs-3"></div>
            <button class="btn red-btn col-md-4 col-xs-5" ng-click="setSelected($index, item)" translate="btn_airport_transfer_list_AddTransfer">Add Transfer</button>
            <div class="col-xs-3"></div>
        </div>

        <form class="airport-service-form" action="" ng-show="($index == selectedItem && !isItemSelected(item)) || (isItemSelected(item) && isModify)">
            <div class="form-group row">
                <label class="col-md-4 col-xs-6 control-label" translate="lbl_airport_transfer_list_Id">ID : </label>
                <label class="col-md-8 col-xs-6 control-label" >{{item.itemId}}</label>
            </div>

            <div class="form-group row">
                <label class="col-md-4 col-xs-6 control-label" translate="lbl_airport_transfer_list_Airport">Airport : </label>
                <label class="col-md-8 col-xs-6 control-label" >{{item.airportCode}}</label>
            </div>

            <div class="form-group row">
                <label class="col-md-4 col-xs-6 control-label" translate="lbl_airport_transfer_list_ProviderName">Provider Name	: </label>
                <label class="col-md-8 col-xs-6 control-label" >{{item.name}}</label>
            </div>

            <div class="form-group row">
                <label class="col-md-4 col-xs-6 control-label" translate="lbl_airport_transfer_list_ProviderNumber">Provider Number : </label>
                <label class="col-md-8 col-xs-6 control-label" >{{item.number}}</label>
            </div>

            <div class="form-group row">
                <label class="col-md-4 col-xs-6 control-label" translate="lbl_airport_transfer_list_ProviderAddress">Provider Address : </label>
                <label class="col-md-8 col-xs-6 control-label" >{{item.address}}</label>
            </div>

            <div class="form-group row">
                <label class="col-md-4 col-xs-6 control-label" translate="lbl_airport_transfer_list_Price">Price: </label>

                <label class="col-md-8 col-xs-6 control-label">{{ getCharge(item)}}</label>
            </div>

            <div class="form-group row ibe-date-picker">
                <label class="col-md-4 control-label" translate="lbl_airport_transfer_list_Date">Date: </label>

                <div class="col-md-8">
                    <p class="input-group">
                        <input type="text"
                               class="form-control"
                               uib-datepicker-popup
                               ng-model="comment.transferDate"
                               is-open="datePicker.isOpenDp"
                               datepicker-options="dateOptions"
                               min-date="dateOptions.minDate"
                               max-date="dateOptions.maxDate"
                               ng-required="true"
                               close-text="Close"
                               show-button-bar="false"
                               show-weeks="false" />

                        <span class="input-group-btn">
                            <button type="button"
                                    class="btn btn-default"
                                    style="height:50px"
                                    ng-click="openDp()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
            </div>

            <div class="form-group row ibe-timepicker">
                <label class="col-md-4 control-label padding-top-48" translate="lbl_airport_transfer_list_Time">Time(HH/MM): </label>
                <div class="col-md-8">
                    <div uib-timepicker
                         ng-model="comment.transferTime"
                         show-meridian="false"></div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4 control-label" translate="lbl_airport_transfer_list_Type">Type: </label>
                <div class="col-md-8 control-label ibe-select-dropdown-label">
                    <select name="" class="form-control ibe-select-dropdown" ng-model="comment.transferType">
                        <option value="HOME" translate="opt_airport_transfer_list_Home">HOME</option>
                        <option value="AIRPORT" translate="opt_airport_transfer_list_Airport">AIRPORT</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4 control-label" translate="lbl_airport_transfer_list_Address">Address: </label>
                <div class="col-md-8">
                    <input class="form-control control-label" type="text" ng-model="comment.transferAddress">
                </div>
            </div>

            <div class="form-group row ibe-contact-number">
                <label class="col-md-4 control-label" translate="lbl_airport_transfer_list_ContactNo">Contact No: </label>
                <div class="col-md-8">
                    <input class="form-control control-label" type="number" ng-model="comment.transferContact">
                </div>
            </div>

            <div class="row">
                <button type="button"
                        class="btn red-btn col-md-4 col-xs-5"
                        ng-click="collapse()" translate="btn_airport_transfer_list_Collapse">Collapse</button>
                <button type="button" style="margin-right: 15px"
                        class="btn red-btn col-md-4 col-md-offset-4 col-xs-5 pull-right"
                        ng-click="addAirportTransfer(item)" translate="btn_airport_transfer_list_Confirm">Confirm</button>
            </div>
        </form>
    </div>
</div>
<div class="hidden-sm hidden-lg hidden-md xs-airporttransfer-form">
    <div ng-repeat="item in source">
        <div class="row col-xs-12 pd-tp-2 pd-r-0 pd-l-0" ng-show="isItemSelected(item)">
            <div class="col-xs-8 pd-l-0 pd-r-0 pull-right">
                <div class="col-xs-6 addRemoveToggle pd-r-0 pd-l-0 ml-0" > <label class="pull-right" ng-click="modifyAirportTransfer(item, $index)" translate="lbl_common_transfer_modify">Modify</label></div>
                <div class="col-xs-6 addRemoveToggle pd-r-0 pd-l-0 ml-0"><label class=" pull-right " ng-click="removeAirportTransfer(item)"  translate="lbl_common_transfer_delete" >Delete</label></div>
            </div>
        </div>

        <div class="row col-xs-12 pd-r-0 pd-l-0 addRemoveToggle" ng-hide="isItemSelected(item)">
            <label class="pull-right" ng-click="setSelected($index, item)" translate="lbl_common_transfer_add">Add</label>
        </div>
        <form name="userForm_{{index}}" class="airport-service-form padding-left-37 padding-right-30" action="" ng-show="($index === selectedItem && !isItemSelected(item)) || (isItemSelected(item) && isModify)">
            <div class="form-group row">
                <label class="col-xs-6 control-label" translate="lbl_airport_transfer_list_Id">ID : </label>
                <label class="col-xs-6 control-label" >{{item.itemId}}</label>
            </div>

            <div class="form-group row">
                <label class="col-xs-6 control-label" translate="lbl_airport_transfer_list_Airport">Airport : </label>
                <label class=" col-xs-6 control-label" >{{item.airportCode}}</label>
            </div>

            <div class="form-group row">
                <label class="col-xs-6 control-label" translate="lbl_airport_transfer_list_ProviderName">Provider Name	: </label>
                <label class=" col-xs-6 control-label" >{{item.name}}</label>
            </div>

            <div class="form-group row">
                <label class="col-xs-6 control-label" translate="lbl_airport_transfer_list_ProviderNumber">Provider Number : </label>
                <label class="col-xs-6 control-label" >{{item.number}}</label>
            </div>

            <div class="form-group row">
                <label class="col-xs-6 control-label" translate="lbl_airport_transfer_list_ProviderAddress">Provider Address : </label>
                <label class="col-xs-6 control-label" >{{item.address}}</label>
            </div>

            <div class="form-group row">
                <label class="col-xs-6 control-label" translate="lbl_airport_transfer_list_Price">Price: </label>

                <label class="col-xs-6 control-label">{{ getCharge(item)}}</label>
            </div>

            <div class="form-group row ibe-date-picker">
                <label class="col-xs-12 control-label" translate="lbl_airport_transfer_list_Date">Date: </label>

                <div class="col-xs-12">
                    <p class="input-group ">
                        <input type="text"
                               class="form-control"
                               uib-datepicker-popup
                               ng-model="comment.transferDate"
                               is-open="datePicker.isOpenDp"
                               datepicker-options="dateOptions"
                               min-date="dateOptions.minDate"
                               max-date="dateOptions.maxDate"
                               ng-required="true"
                               close-text="Close"
                               show-button-bar="false"
                               show-weeks="false" />

                        <span class="input-group-btn">
                            <button type="button"
                                    class="btn btn-default"
                                    style="height:50px"
                                    ng-click="openDp()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
            </div>

            <div class="form-group row ibe-timepicker">
                <label class=" col-xs-12 control-label" translate="lbl_airport_transfer_list_Time">Time(HH/MM): </label>
                <div class="col-xs-12">
                    <div uib-timepicker
                         ng-model="comment.transferTime"
                         show-meridian="false"></div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-xs-12 control-label" translate="lbl_airport_transfer_list_Type">Type: </label>
                <div class="col-xs-12 control-label ibe-select-dropdown-label">
                    <select name="" class="form-control ibe-select-dropdown" ng-model="comment.transferType">
                        <option value="HOME" translate="opt_airport_transfer_list_Home">HOME</option>
                        <option value="AIRPORT" translate="opt_airport_transfer_list_Airport">AIRPORT</option>
                    </select>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-xs-12  control-label" translate="lbl_airport_transfer_list_Address">Address: </label>
                <div class="col-xs-12">
                    <input class=" form-control control-label" type="text" ng-model="comment.transferAddress">
                </div>
            </div>

            <div class="form-group ibe-contact-number row">
                <label class=" col-xs-12 control-label" translate="lbl_airport_transfer_list_ContactNo">Contact No: </label>
                <div class="col-xs-12">
                    <input class="col-xs-12 form-control control-label" type="number" ng-model="comment.transferContact">
                </div>

            </div>

            <div class="row">
                <button type="button"
                        class="btn red-btn col-md-4 col-xs-5"
                        ng-click="collapse()" translate="btn_airport_transfer_list_Collapse">Collapse</button>
                <button type="button" style="margin-right: 15px"
                        class="btn red-btn col-xs-5 pull-right"
                        ng-click="addAirportTransfer(item)" translate="btn_airport_transfer_list_Confirm">Confirm</button>
            </div>
        </form>
    </div>
</div>
