/* To Do : Refactor */
 html, body {	
    background-color: #0C4596! important;
}
* html{	
	overflow-x: hidden;
	overflow-y: auto;
}
.mainPageLoader{
	display:none;
	z-index:9900;
	height:54px;
	position:absolute;
	top:50%;
	left:40%;
	width:234px
}
.mainPageLoaderFreame{
	position:absolute;
	background:transparent;
	width:234px;
	height:54px;
}
html, body,  ol,  dd, blockquote, q, h1, h2, h3, h4, h5, h6, form, fieldset, a, div, img, table
{
	margin: 0;
	padding: 0;
	border: 0;
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size: 11px;
	
}

a:link
{
    COLOR: #134373;
    TEXT-DECORATION: none
}
a:visited
{
    COLOR: #134373;
    TEXT-DECORATION: none
}

UL
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 4px;
}
LI
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 0px;
    margin-left: 15px;
}
label{
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:13px;
	left:auto;
	color: #0b0b0b;
	line-height: 20px;
}
.divfont{
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:13px;
	left:auto;
	color: #0b0b0b;
}
font{
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:13px;
	left:auto;
	color: #0b0b0b; 
}
.fntDefault{
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:13px;
	left:auto;
	color: #0b0b0b;
}
.appLogo{
	background-image:url(../images/n024_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:0px bottom;
	height:50px;
	background-color: #ffffff;
}

.outerPageBackGround{
	width: 100%;
	margin: 0px;
	padding: 0px;
	background:#0c4596 url(../images/bg1_no_cache.png) top left repeat-x;
}

.topBanner{
	background-image:url(../images/n063_no_cache.jpg);
	background-position:top;
	background-repeat:no-repeat;
	height:150px;
	padding: 0 10px;
}
.topBannerLB{
	background-image:url(../images/n037_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:left bottom;
	height:26px;
	width:14px;
}
.topBannerMB{
	background-image:url(../images/n038_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:bottom;
	width:912px;
}
.topBannerRB{
	background-image:url(../images/n039_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
	width:14px;
}
.PageBackGround{
	width: 980px! important;
	margin-top:3px;
}
.rowSingleGap{
	height:5px;
}
.rowGap{
	height:10px;
}
.defaultRowGap{
	height:25px;
}
.gap{width: 30px}
.pnlTop{
	height:0px;
}
.pnlWidth{
	width:800px;
}
.pnlWidthLeft{
	width:258px;
}
.pnlTopR{
	/*background-image:url(../images/LIbe001_no_cache.jpg);*/
	height:0px;
	width:8px;
}
.pnlBottom{
	height:52px;
}
.pnlBottomTall{
	height:150px;
}
.pnlBottomTallCal{

}
.fntSmall{
	font-size:9px;
}
.fntBold{
	font-weight:bold;
}
.hdFont{
	font-size:15px;
}
.hdFontColor{
	color:#294688;
}
.mandatory{
	color: red;
}
.tab1A{
	background-image:url(../images/n034_A_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}
.tab1{
	background-image:url(../images/n034_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}
.tab2A{
	background-image:url(../images/n035_A_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:220px;
}
.tab2{
	background-image:url(../images/n035_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:220px;
}
.tab3A{
	background-image:url(../images/n036_A_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}
.tab3{
	background-image:url(../images/n036_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}

select
{
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 11px;
	height: 19px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove #9D9D9D;
	BORDER-TOP: thin groove #9D9D9D;
	BORDER-LEFT: thin groove #9D9D9D;
	BORDER-BOTTOM: thin groove #9D9D9D;
	padding:1px! important;
	}
	
input, textarea{
	font-family:arial,Times,serif;
	font-size: 11px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: solid 1px #9D9D9D;
	BORDER-TOP: solid 1px #9D9D9D;
	BORDER-LEFT: solid 1px #9D9D9D;
	BORDER-BOTTOM: solid 1px #9D9D9D;
	padding:1px;
	}
input[type='radio'], input[type='checkbox']{border:0px;.border:0px;_border:0px;.background: transparent;_background: transparent;}	
.clsInput{
	font-family: arial,Times,serif;
	font-size: 11px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove #9D9D9D;
	BORDER-TOP: thin groove #9D9D9D;
	BORDER-LEFT: thin groove #9D9D9D;
	BORDER-BOTTOM: thin groove #9D9D9D;
	}
}
.noBorder
{
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 11px;
	color: black;
	border-color:green;
	border-width:0px;
}	
	
.Button
{
	font-family:Georgia,"Times New Roman",arial,Times,serif;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: white;
	background-image: url(../images/n020_no_cache.jpg);  /* lt2 */
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 32px;
	width:80px;
	cursor:pointer;
	background-repeat:no-repeat;
	padding-bottom:5px;
}

.ButtonLarge {
	background-image:url("../images/n045_no_cache.jpg");
	cursor:pointer;
	width:173px;
}

.ButtonMedium {
	background-image:url("../images/n022_no_cache.jpg");
	cursor:pointer;
	width:104px;
}

.btnCredit{
	background-image: url(../images/n022C_no_cache.jpg);  /* lt2 */
	width:104px;
	cursor:pointer;
}
.btnCDisable{
	background-image: url(../images/n023_no_cache.jpg);  /* lt2 */
	width:104px;
	cursor:default;
}
.ButtonLargeDisable{
	background-image: url(../images/n046_no_cache.jpg);
	width:173px;
	cursor:default;
}
.ButtonDefaultDisable{
	background-image: url(../images/n021_no_cache.jpg);  /* lt2 */
	width:74px;
	cursor:default;
	background-repeat:no-repeat;
}

.GridHeader {
background-color:#0B3F8A;
height:20px;
}

.gridHD{
	background-color:#0D4290;
	height:25px;
}
.gridHDDark{
	background-color:#666666;
	height:25px;
}
.gridHDFont{
	color:white;
}
.gridHDsub {
    background-color: #333333;
    height: 18px;
}
.GridItems {
background-color:white;
height:20px;
}
.lpaneTopL{
	background-image:url(../images/LIbe006_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:27px;
	width:11px;
}
.lpaneTopM{
	background-image:url(../images/LIbe007_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	width:238px;
}
.lpaneTopR{
	background-image:url(../images/LIbe008_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	width:11px;
}
.lpaneMidL{
	background-image:url(../images/LIbe009_no_cache.jpg);
	background-repeat:repeat-y;
	background-position:top;
	width:2px;
}
.lpaneMidM{
	background-color:white;
	width:257px;
}
.lpaneMidR{
	background-image:url(../images/LIbe010_no_cache.jpg);
	background-repeat:repeat-y;
	background-position:top;
	width:1px;
}
.lpaneBotL{
	background-image:url(../images/LIbe011_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:18px;
	width:11px;
}
.lpaneBotM{
	background-image:url(../images/LIbe012_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	width:238px;
}
.lpaneBotR{
	background-image:url(../images/LIbe013_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	width:11px;
}
.navFont{
	font-size:12px;
	vertical-align: middle;
	color:white;
 }	
.navFontBig{
	font-size:17px;
	vertical-align: middle;
	color:white;
 }	
.rowColor{
	background-color:white;
}
.rowColorAlternate{
	background-color:#DFDFDF;
}
.bdLeft{
	BORDER-LEFT: solid 1px #DFDFDF;
}
.bdTop{
	BORDER-TOP: solid 1px #DFDFDF;
}
.bdBottom{
	BORDER-BOTTOM: solid 1px #DFDFDF;
}
.bdRight{
	BORDER-RIGHT: solid 1px #DFDFDF;
}
.noPadding{
	padding:0px;
}
.lightGrayHD{
	background-color:#DFDFDF;
	height:25px;
}

.errorControl{
	background-color:#FEFFAF;
}

.fontCapitalize{
	text-transform: capitalize;
}
.ButtonAncilary{
	background-image: url(../images/n200_no_cache.gif);
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: gray;
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 28px;
	width:174px;
	cursor:pointer;
	background-repeat:no-repeat;
	padding-bottom:2px;
}

.ButtonMeal{
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: #5A5A5A;
	background-color:transparent;
	background-image: url(../images/n056meal_no_cache.gif); 
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 25px;
	width:154px;
	cursor:pointer;
	background-repeat:no-repeat;
}
.oldSeat{
	background-image:url('../images/LCAnsi001_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
	background-position: -3px;
}
.aisle p{color: #0faff0! important}
.availSeat{
	background-image:url('../images/LCAnsi004_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
	background-position: 0px 0%;
}
.notAvailSeat{
	background-image:url('../images/LCAnsi002_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
	background-position: 0px 0%;
}

.friendsSeat{
	background-image:url('../images/LCAnsi007_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
}

.SltdSeat{
	background-image:url('../images/LCAnsi003_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
	background-position: 0px 0%;
}
.aisle{
	height:15px;
	width:20px;
}
.exitLeft{
	background-image:url('../images/ANCI_06_no_cache.gif');
	background-position:top center;
	background-repeat:no-repeat;
	width:20px;
	height:39px;
}
.exitRight{
	background-image:url('../images/ANCI_07_no_cache.gif');
	background-position:bottom center;
	background-repeat:no-repeat;
	width:20px;
	height:39px;
}
.window{
	width:20px;
}
.wingRight{
	background-image:url('../images/LCAnsi005_no_cache.jpg');
	background-position:bottom center;
	background-repeat:no-repeat;
	height:65px;
	width:594px;
}
.wingLeft{
	background-image:url('../images/LCAnsi006_no_cache.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	height:65px;
	width:594px;
}
.noTextDec{
	text-decoration:none;
}
.seatTT{
	opacity: .9;
	filter: alpha(opacity=90);
	background-color:#2DACE3! important;
}
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.tabBG{
	background-image:url('../images/LIbe016_no_cache.jpg');
	height:40px;
	background-repeat: repeat-x;
	background-position: 0 99%;	
}
.tabSltd{
	/*background-image:url('../images/aniciselected.gif');*/
	background-color:#ED8120;
	background-repeat:no-repeat;
	background-position:4px 12px;
	width:auto;
	height:40px;
	padding:1px 5px 1px 25px;
	color: white;
}
.tabNotSltd{
	/*ackground-image:url('../images/LIbe014_no_cache.jpg');*/
	background:#D7D8DA;
	background-repeat:no-repeat;
	width:auto;
	height:40px;
	padding:1px 8px;
	color: #0b0b0b;
}
.tabSltd p, .tabNotSltd p{text-align: left;}
.newTabStyle{height: 40px;overflow: hidden;}
.cursorPointer{
	cursor:pointer;
}
.noBorder{
	border: 0px solid transparent;
}
.progressBG {
	background-color:#FA0101;
}
.fntDefaultWhite{
	color:white;
}
.MandatoryGrid{
	color: white;
}
.paddingL5{
	padding-left: 0px;
}
.paddingL3{
	padding-left: 3px;
}
.Gridwt {
	background-color:#FFFFFF;
	height:20px;
}
.GridTable {	
	background-color:#DFDFDF;
	border-color:#DFDFDF;
}
.tblBgLeft{
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}
.tblBG{
	background-image:url(../images/LIbe004_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}
.logUserCorB{width: 0px;background: #777777}
.paddingCalss{padding:0px 10px}
.tblBgRight{
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}

.newPogressLoading, .loadingContainer {
background:none repeat scroll 0 0 #FFFFFF;
display:none;
}
.pageName label {
color:#003399;
font-size:15px;
font-weight:bold;
text-align:left;
}

.mainbody #sortable-ul {
	padding:0;
	display: block;
	width: 980px;
	margin: 10px auto 0;
}

.mainbody div#sortable-ul div.sortable-child {
float:right;
}

#divSummaryPane, .floater {
	width:250px;
	background: #F2F2F2! important;
}
.floater{
	margin-top:75px;
}
#divSummaryPane .add-padding {
padding:0 0px;
}

.rightColumn {
background:none repeat scroll 0 0 #fff;
margin:0 0;
padding:0;
width:729px;
}

#termsNCond ul {
margin-bottom:4px;
margin-top:0;
}
#termsNCond ul li {
	margin-bottom:0;
	margin-left:15px;
	margin-top:0;
}

.alignLeft {
	text-align:left;
}

.alignRight{
	text-align:right;
}

/* overwirte rak style start*/
table {
background-color:transparent;
border-collapse:separate;
}
/* overwirte rak style end*/

/* Rak Alert style Start*/
#popup_container {
	-moz-border-radius:5px 5px 5px 5px;
	background:none repeat scroll 0 0 #fff;
	border:2px solid #0D428C;
	color:#FFFFFF;
	font-family:Georgia,"Times New Roman",Times,serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size:12px;
	width: 380px;
	display: none;
	overflow: hidden;
}
.drager {position: relative;z-index: 99999;height: 25px;width:94%;cursor: move;}
#popup_container_frame{
	width: 100%;
	height: 100%;
}
/* Rak Alert style End*/

/* Sumarry panle Styles Start*/
.Page-heading table.headerRow{overflow: hidden;height: 27px;display: table;margin-bottom: 0px;background: #fcfcfc; }
.Page-heading table.headerRow td{overflow: hidden;height: 20px;}
.Page-heading .headerBG{
	/*background-image: url("../images/panelBGall_no_cache.jpg");*/
	background-repeat:no-repeat;
	text-align: left;
}
.headerBG label{color:#000}
.Page-heading .hBottom{background-position:0 -102px;background-repeat: repeat-x;height: 27px;}
.Page-heading .hbSide{background-position:0 -136px;background-repeat: repeat-x;height: 27px;width:10px}
.Page-heading .hLeft{background-position:0 0px;background-repeat: repeat-x;width: 10px;height: 27px}
.Page-heading .hCenter{
	background-position:0 -29px;
	background-repeat: repeat-x;
	height: 27px;
	font-size: 14px; 
	color: #fff;
	font-weight: bold;
}
.Page-heading .hRight{background-position:0 -57px;background-repeat: repeat-x;width: 10px;height: 27px}

.mLeft{
	width:1px;
}
.mCenter{width: 248px}
.mRight{
	width:1px;
}
.Page-heading table.footerRow,table.footerRow{overflow: hidden;height: 0px;display: table;border-top:0px solid #D7D8DA}
.Page-heading .bLeft{background-position:0 -120px;background-repeat: repeat-x;width: 10px;height: 0px;background: transparent;}
.Page-heading .bCenter{
	background-position:0 -103px;
	background-repeat: repeat-x;
	height: 0px;
	background: transparent;
}
.Page-heading .bRight{background-position:-1px -86px;background-repeat: repeat-x;width: 10px;height: 0px;background: transparent;}
/* Sumarry panle Styles End*/

/* Rak Calendar Styles Start*/
h3.label {
background:none repeat scroll 0 0 transparent;
color:#C97618;
font-size:14px;
padding:3px 6px;
text-align:left;
}
h3.label .correction{
	color:#2259A9;
}

.cal-header-ul div.cal-one-day {
	background:#f1a21f;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-color:transparent;
	border-style:solid;
	border-width:1px;
	color:#FFF;
	line-height:18px;
	padding:0 0;
	text-align:center;
	border-bottom: 0px;
}
div.cal-one-day div {
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}

.flight-body .cal-base {
	-moz-border-radius:0px 0px 0px 0px;
	border:1px solid #aaa;
	height:80px;
	margin:0px;
	text-align:center;
}


.sub-div a {
	background:#f4f4f4;
	border:1px solid #e4e4e4;
	border-radius: 4px;
	color:#FF6207;
	display:block;
	font-family:Georgia,"Times New Roman",Times,serif;
	font-weight:bold;
	line-height:18px;
	outline:medium none;
	padding:41px 5px;
	text-decoration:none;
}
.sub-div a:hover {border: 1px solid #f8f8f8}
.sub-div-additional a {
	background:transparent;
	border:1px solid #AAAAAA;
	color:#AAAAAA;
	display:block;
	font-family:Georgia,"Times New Roman",Times,serif;
	font-weight:bold;
	line-height:18px;
	outline:medium none;
	padding:0px 5px;
	text-decoration:none;
}
.lowerstCon{height: 4px}

.ui-widget-content {
	/*background:transparent;
	border:0px solid #AAAAAA;*/
	color:#222222;
}

.ui-tabs .ui-tabs-panel {
	background:none repeat scroll 0 0 transparent;
	border-width:0;
	display:block;
	padding:0px;
}

.flight-body a.selected div.cal-base {
    background: none repeat scroll 0 0 transparent;
    border-color: #0D4290;
    border-width: 0 0 1px;
    padding: 10px;
}
.flight-body a:hover div.cal-base{
	background:transparent;
	background-position: 0px 0px;
	cursor: pointer;
	border: 1px solid #aaa;
	text-decoration: none;
}

.flight-body a.selected div, .flight-body a.selected span {
    background: none repeat scroll 0 0 transparent;
    color: #fff;
}
.flight-body a:hover {text-decoration: none;}
div.cal-day .flight-body div.cal-base{background: #fff}
.calendar-ul li div.cal-day{margin:0;border: 1px solid #999;}
.calendar-ul li div.mout{border: 1px solid #333;background: transparent;}
.calendar-ul li div.cal-day img {
	display:block;
	margin:auto;
	z-index:12;
	left:0px;
	position:relative;
	top:50%;
}
.calendar-ul li div.mout div.cal-one-day{font-weight: bold;background-position: 0 0px}
div.cal-day .flight-body{padding: 0px}
.flight-header span a:hover{text-decoration: none;background: transparent;}
.flight-body a div, .flight-body a span {background: transparent;cursor: pointer;font-family:arial}
.flight-body a:hover div, .flight-body a:hover span {background: transparent;cursor: pointer;color: #fff;}
.flight-body a.selected span{color: #777777}
.lowerstCon{display: none;}
.totalValueSelected label.currValueTotal{font-size: 19px;color: #777777;margin-top: 0px;display: block;font-weight: bold;font-family:arial}
.totalValueSelected{font-size: 19px;color: #777777;margin-top: 0px;display: block;}
.totalValueSelected span{font-size: 9px;color: #777777;}
.totalValue{
	color: #777777 !important;
    font-size: 11px;
    font-weight: bold;
}
.departureTime span, .departureTime{font-size: 11px;color: #777777;display: none;}
.arivalTime span, .arivalTime{font-size: 11px;color: #777777;display: none;}
div.stopover{font-size: 11px;font-size: 10px;color:#777777;display: none}
#tooltip {
	background-color:#FCFCB5;
	border:1px solid #FFFF66;
	opacity:0.9;
	padding:5px;
	position:absolute;
	z-index:3000;
	width:200px;
}
.selecRadio{text-align: right; position:relative; top:58px}
.selecRadio input{border: 0px;background: transparent;}
.noFlight, .FlightFull{display: block;margin: 15px auto}
.FareGridBorder01, .FareGridBorder02, .FareGridBorder03, .FareGridBorder04, .FareGridBorder05{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #FFFFFF -moz-use-text-color -moz-use-text-color;
    border-style: none solid none none;
    border-width: medium 1px medium medium;
}
.FareGridBorder01 {
background-color:#FAE1C9! important;
border-color:#F36A34;
border-style:solid;
border-width:1px;
height:18px;
}

.FareGridBorder02 {
background-color:#F5C292! important;
border-color: #F36A34;
border-style:solid;
border-width:1px;
height:18px;
}

.FareGridBorder03 {
background-color:#F1AB6C ! important;
border-color: #F36A34;
border-style:solid;
border-width:1px;
height:18px;
}

.FareGridBorder04 {
background-color:#EF9321 ! important;
border-color: #F36A34 ;
border-style:solid;
border-width:1px;
height:18px;
}

.FareGridBorder05 {
background-color:#ED8120 ! important;
border-color:#F36A34;
border-style:solid;
border-width:1px;
height:18px;
}


/* Rak Calendar Styles End*/

.fareSelSidePanel {
width:260px;
}



#divSummaryPane .pane-body {
}

.GridHeaderHighlight  {
background-color:#636363;
height:20px;
}
.logUserBG {
background:#e4e4e4;
background-position:center top;
background-repeat:repeat-x;
height:34px;
}

.logUserCorT {
background:#e4e4e4;
background-position:center top;
height:34px;
}
.fntWhite {
color:white;
}
.buttonset{background:#fff; padding-top:10px}
.buttonset table{text-align: center;display: block;margin: 0 auto;width: 250px;}

/* process banner start*/
.StepsTable{
	width: 90%;display: block;height: 67px; margin:0 auto;overflow:hidden;
}
.right-corner div{
	background:url("../images/steps_arrows_no_cache.jpg") scroll 100% -420px;
	width:28px;
	height: 61px;
}
.StepsTable td{
	height: 61px;
	
}
.stepsItem{
	padding-top:6px;
}
.stepsItem td{
	background:url("../images/steps_arrows_no_cache.jpg");
	text-align:center;
}

.stepsItem .process-right{
	width:28px;
	background-position:0 1px;
}

.stepsItem .process-mid{
	background-position:0 -360px;
}

.stepsItem .process-left{
	width:15px;
	background-position:0 -360px;
}

.stepsItem .first .process-right{
	width:28px;
	background-position:0 -59px;
}

.stepsItem .first .process-mid{
	background-position:0 -300px;
}

.stepsItem .first .process-left{
	width:15px;
	background-position:0 -240px;
}

.select .process-right{
	width:28px;
	background-position:0 -59px;
}

.select .process-mid{
	background-position:0 -300px;
}

.select .process-left{
	width:15px;
	background-position:0 -300px;
}

.selected .process-right{
	width:28px;
	background-position:0 -601px;
}

.selected .process-mid{
	background-position:0 -541px;
}

.selected .process-left{
	width:15px;
	background-position:0 -541px;
}

.selected .first .process-right{
	width:28px;
	background-position:0 -601px;
}

.selected .first .process-mid{
	background-position:0 -541px;
}

.selected .first .process-left{
	width:15px;
	background-position:0 -481px;
}

.selected .last .process-right{
	width:28px;
	background-position:0 -60px;
}

.selected .last .process-mid{
	background-position:0 -541px;
}

.selected .last .process-left{
	width:15px;
	background-position:0 -541px;
}

.last-setected .process-right{
	width:28px;
	background-position:0 -119px! important;
}

.last-setected .last .process-right{
	width:28px;
	background-position:0 -179px! important;
}
.select .peocess-text font{
	color:#fff;
}

.selected .peocess-text font{
	color:#6f6122;
}
.paymentGadient{
	background-image:url("../images/LIbe004_no_cache.jpg");
	background-repeat:repeat-x;
}


.hdnavFont  {
	font-size:20px;
}
/* process banner end*/

.tabSltdUser{
	background:#ED8120;
	height:27px;
}

.tabSltdOver {
	background:#ED8120;
	height:27px;
}
.tabSltdOver label{color: white;cursor: pointer;}

.tabUnSltd{
	background:#777777;
	height:27px;
}
.tabUnSltd label{color: white;cursor: pointer;}
.pTopM {
background:#ED8120;
height:27px;
width: 80px;
}

.pTopL {
background:#ED8120;
height:27px;
width:11px;
}

.pTopDM {
background:#777777;
height:27px;
}

.pTopDR {
	background:#777777;
	height:27px;
	width:11px;
}
.pMidL {
	background:#D7D8DA;
	width:1px;
}
.pMidM {
	background-image:url("../images/n033_no_cache.jpg");
	background-position:center top;
	background-repeat:repeat-x;
}
.pMidR {
	background:#D7D8DA;
	width:1px;
}
.ui-datepicker-trigger{vertical-align: middle;margin: 1px 2px}
.pBotL {
	background:transparent;
	background-position:center top;
	background-repeat:no-repeat;
	height:15px;
	width:11px;
}
.pBotM {
	background:transparent;
	background-position:center top;
	background-repeat:repeat-x;
	height:15px;
	width:92%;
}
.pBotR {
	background:transparent;
	background-position:center top;
	background-repeat:no-repeat;
	height:15px;
	width:11px;
}
.btnAuxButton {color: #294688;cursor: pointer;}
#tabs1{
	background:none repeat scroll 0 0 transparent;
	border:0 none;
	width: 100%;
}
/* main pageloaging msg */
.mainPageLoader{display:none;z-index:9900; background:transparent;height:80px;position:absolute;top:50%;left:40%;width:250px}

.searchCritira{
	display:block;width:230px;margin: 0 auto;
}
.searchCritira div{padding: 2px 0}
/*FixME this is for pathch*/
#specialMsg div{
		text-align: left;list-style: none;
		background-color:#ffffcf;
		opacity: .7;
		filter: alpha(opacity=80);
		border:1px solid #F3F376;
		padding:2px;
		font-size:11px;
		-moz-border-radius:6px;	/* Rounded edges in Firefox */
		font-family:Helvetica,Arial,FreeSans,sans-serif;
		font-weight: bold;
}

.spMsg{
	background-color:#ffffcf;
	opacity: .7;
	filter: alpha(opacity=80);
	border:1px solid #F3F376;
	padding:2px;
	font-size:11px;
	-moz-border-radius:6px;	/* Rounded edges in Firefox */
	font-family:Georgia,"Times New Roman",Times,serif;
	
}

/*External Agents Pages Styles */
.recordl td.GridItems{
	background-color:#EBEBEB;
	height:20px;
	FONT-SIZE: 11px;
}
.recordd td.GridItems{
	background-color:#FFFFFF;
	height:20px;
	FONT-SIZE: 11px;
}

.header {
	
}
.rakHeader .header{background-color:#fff;}
.thinBorderT{border-top: 1px solid #E8E6E7;}
.thinBorderB{border-bottom: 1px solid #E8E6E7;}
.thinBorderL{border-left: 1px solid #E8E6E7;}
.thinBorderR{border-right: 1px solid #E8E6E7;}
	
.recordtop{
	FONT-FAMILY: Georgia,"Times New Roman",Times,serif;
	font-weight:bold;
	background-color:#ECECEC;
	height:20px;
	FONT-SIZE: 10px;
}
.recordtopar{
	font-weight:bolder;
	background-color:#FFFFFF;
	height:20px;
	FONT-SIZE: 14px;
}
div.div-Table .floatItem{width:auto! important}
.footerClass{
	background:#E6E6E6 url("../images/footerbg_no_cache.jpg") no-repeat scroll -2px -2px;
	width:956px;
	height:80px;
}
.pageBody{padding-left:0px}
.tapMainbody .innderTable{
	background: none repeat scroll 0 0 #FFFFFF;
    margin: 62px 0 0;
    padding: 0;
	width:980px
}

.changeFloat{
	margin:10px auto;
}

.tapMainbody{
	background:#fff! important;
}
/*External Agents Pages Styles */

.mainbody{
	background:#fff;
}

.mainbody .ui-tabs .ui-tabs-panel{
	background: none repeat scroll 0 0 transparent;
	border-width: 0 0 0;
	height: auto;
}
#footer{
	margin-top: 0! important;
}
.mainbody table,.mainbody tbody,.mainbody td{
	vertical-align: middle;
	margin-bottom: 0px;
}
.outerCal table td{vertical-align: bottom;}
table.GridTable td{vertical-align: middle;}
/*New payment style*/
.card-img{display: none}
#paymentInfoPanel td{vertical-align: top;padding:5px}
/* Get calendar popup top */
#ui-datepicker-div{z-index: 300;font-size: 1em}
/****overRite ****/
form{
	overflow:inherit  ! important;
}
.tblSeatMapContainer p {
    font-size: 13px !important;
    margin-bottom: 4px !important;
}
.outerCal, #FlightDetailsPanel, #trPriceBDPannel, #trTermsNCond,#trAccept {
	width: 700px;
	margin: 0 auto;
	display: block;
	margin: 6px auto 0px;
}
#trPriceBDPannel .gridHD{
	background-color: #e97400;
}
.flightTemplateC {
	border: 1px solid #d9d9d9;
	width: 230px;
	margin: 10px auto 0;
	background:#fff;
	border-radius: 4px;
}

.flightTemplateC table, #adultCount, #childCount, #infantCount{
	padding :0 8px;
}

.tabBody{
	padding: 0 10px;
}
.pageTopHeader{
	background:#ffffff;
}
#adlGrid td table tbody td, #chdGrid td table tbody td, #infGrid td table tbody td{

}
#trRegisterdUser, #tblContactDetails, #anciConfigTable, #trEmgnContactInfo, #tblSecurityQuestion, #loginInfo, .trconFPanel{
	width:97%;
	margin:5px 10px;
	border:1px solid #e4e4e4;
	border-radius: 4px;
	background:#ffffff url(../images/LIbe003_no_cache.jpg) repeat-x center bottom;
}

.flightCalendar {
	/*padding: 1px 0px;
	background: #ECECEC;*/
}

#passengerMainTable{
	background:#f8f8f8;
}
.differError{
	margin:150px auto 0! important;
}
.SesionOverBg{
	background:#fff;
	
}
.psptDetails{
	background:#333;
}
.rightColumFix{
	padding:10px;
}
/*new styles by lak*/
.outerCal {
    display: block;
    margin: 6px auto 0;
    width: 735px;
}
.outerCal table {
    border-bottom: 0 solid #E4E4E4;
}
.flight-oriented td.gridHD {
    height: 21px;
}
h3.label {
    background: none;
    color: #003399;
    font-size: 12px;
    padding: 6px;
}
h3.label .correction {
    color: #003399;
    font-size: 12px;
}
.sub-div a {
    background: url("../images/v3/next-prev_no_cache.jpg") no-repeat scroll 0 0 #F6F6F6;
    border: 0 none;
    height: 48px;
    line-height: 12px;
    padding: 0 4px;
}
.leftNavigation {
    border-left: 1px solid #E4E4E4;
    border-top: 1px solid #E4E4E4;
    border-top-left-radius: 4px;
    float: right;
    width: auto;
}
.cal_previous {
    background-color: #F6F6F6;
    background-position: 0 0;
    vertical-align: bottom;
    width: 43px;
}
.rightNavigation {
    border-right: 1px solid #E4E4E4;
    border-top: 1px solid #E4E4E4;
    border-top-right-radius: 4px;
    float: left;
    width: auto;
}
.sub-div a:link {
    color: #4B4B4B;
    font-weight: normal;
}
.sub-div a:hover {
    color: #4B4B4B;
}
.sub-div a:hover {
    border: 0 solid #7F7F7F;
}
.aligend {
    background: url("../images/v3/flight-BG_no_cache.jpg") repeat-x scroll 0 0 #F6F6F6;
    height: 63px;
}
.headSelected {
    background-color: #656565 !important;
}
.cal_previous {
    background-color: #F6F6F6;
    background-position: 0 0;
    vertical-align: bottom;
    width: 43px;
}
.cal_previous a {
    background-position: 0 100%;
    display: block;
    overflow: hidden;
    text-align: left;
    width: 35px;
}
.cal_previous a:hover {
    background-position: 0 100%;
}
.newCal td {
    background: none repeat scroll 0 0 #F6F6F6;
}
.cal_next {
    background-position: 100% 0;
    vertical-align: bottom;
    width: 43px;
}
.cal_next a {
    background-position: 100% 100%;
    display: block;
    overflow: hidden;
    text-align: right;
    width: 35px;
}
.cal_next a:hover {
    background-position: 100% 100%;
}
.sub-div-additional a {
    background: none repeat scroll 0 0 #7F7F7F;
    border: 1px solid #AAAAAA;
    color: #FFFFFF;
    display: block;
    font-family: arial;
    font-weight: bold;
    line-height: 18px;
    outline: medium none;
    padding: 0 6px;
    text-decoration: none;
}
.sub-div-additional a:hover {
    border: 1px solid #7F7F7F;
    color: #EFEFEF;
}
.flexibar {
    background: url("../images/v3/flexi-black_no_cache.jpg") no-repeat scroll 100% 100% transparent;
    border: 0 solid #AAAAAA;
    margin: 0;
    padding: 0 3px 0 0;
    text-align: left;
}
.flexibar span {
    background: url("../images/v3/flexi-black_no_cache.jpg") no-repeat scroll 0 100% transparent;
    display: block;
    padding: 0;
}
.flexibar label {
    font-family: Arial,Helvetica,Verdana,sans-serif;
    line-height: 18px;
}
.flexi-red-corner {
    background: url("../images/v3/flexi-red_no_cache.jpg") no-repeat scroll 0 0 transparent;
    height: 52px;
    padding: 0 10px;
}
.flexi-red-arror {
    background: url("../images/v3/flexi-red_no_cache.jpg") no-repeat scroll 100% 0 transparent;
    padding: 0 20px 0 0;
}
.flexibar input {
    font-size: 10px;
    margin: 0 5px !important;
    padding: 0 !important;
    vertical-align: bottom !important;
}
.flexibar label {
    color: #FFFFFF;
    font-size: 10px;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
}
.flexibar a label {
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: underline;
}
.flexibar label.bigTxt {
    font-size: 12px;
    text-transform: uppercase;
}
#ui-datepicker-div {
    z-index: 300;
}
#trCabinClass p {
    margin: 0;
    padding: 0;
}

.calendar-ul li div.cal-day {
    background: none repeat scroll 0 0 transparent;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 0;
}
.flight-body div.cal-indBg {
    background: none repeat scroll 0 0 transparent;
    padding: 0 5px;
    text-align: left !important;
}
.flight-body .cal-base {
    border-color: #BBBBBB;
    border-radius: 0 0 0 0;
    border-style: solid;
    border-width: 0 0 0 0;
    height: auto;
    margin: 0;
    text-align: center;
}
.sData div {
    line-height: 13px;
}
.sData .daySmall {
    color: #0D4290;
    font-size: 11px;
    float: left;
}
.sData .dateSmall {
    color: #0D4290;
    font-size: 11px;
    font-weight: bold;
    font-family:arial;
}
.sDataFull .daySmall {
    color: #FFFFFF;
    font-weight: bold;
    float: left;
}
.sDataFull .dateSmall {
    font-weight: normal;
}
.sData {
    display: block !important;
}
.sDataFull {
    display: none !important;
}
.selected .sData {
    display: none !important;
}
.selected .sDataFull {
    display: block !important;
    padding-top: 0;
}
.colourGreavy {
    background-color: #666666 !important;
    background-position: -4px -4px !important;
    height: 63px !important;
}
.colourGreavy table {
    margin: 30px 5px 0 40px;
    width: auto;
}
.flight-body a.selected {
    background:#0D4290;
    border-color: #444444;
    border-width: 0 0 1px;
}
.FareTypes {
    height: 67px;
    padding: 33px 55px;
}
.calendar-ul {
    height: 63px;
}
.flight-body a {
    display: block;
    height: 63px;
    position: relative;
    top: 15px;
}
.flight-body a:hover div.cal-base {
    background: #0D4290;
    border-color: #444444;
    border-width: 0 0 1px;
    cursor: pointer;
    height: 48px;
    padding:1px 5px;
}
.flight-body a.selected:hover div.cal-base{
	padding: 1px 5px;
}
.thisFls {
    margin-top: 10px;
}
.AllFlight {
    background-color: #444444;
    font-family: Arial,Helvetica,sans-serif;
}
.AllFlight .gridHD {
    background-color: #444444;
    background-image: url("../images/v3/nonEcomomy-fares_no_cache.jpg");
    height: 36px !important;
}
.NotFare {
    background-position: 0 -188px;
}

/*.minFareValue span,.minFareValue label{color:#fff!important}*/
.flight-body a:hover div.cal-base label,.flight-body a:active div.cal-base label,.flight-body a:link div.cal-base label{color: #fff;font-family:arial;}
/*fare styles*/
.nPBList .gridHDDark {
    background: url("../images/v3/fareBGs_no_cache.jpg") repeat-x scroll 0 3px transparent;
    height: 67px;
}
.promoFare_en {
    background: url("../images/v3/promofare_en_no_cache.jpg") no-repeat scroll 0 0 transparent !important;
}
#trPriceBDPannel label {
    line-height: 14pt;
}
.nPBList .gridHDDark label {
    display: block;
}
.totalCol {
    /*background: url("../images/v3/mid-selected_no_cache.jpg") repeat-x scroll 0 50% transparent;*/
    background: #b7c4cd;
}
.totalCol label {
    color: #656f78 !important;
    font-weight: bold;
}
.flight-body a.selected div.cal-base label,.flight-body a.selected div.cal-base span {color:#fff!important}
.bttpartcopyright{  font:11px/24px Arial, Helvetica, sans-serif; color:#393939; }
.bttpartcopyright a{color:#393939; text-decoration:none;}
.bttpartcopyright a:hover{text-decoration:underline;}