<div ng-init="selectedFlightIndex = -1">
    <div ng-repeat="flight in flightOptions">
    <div class="flight-row modify-flight-search" ng-class="{'fare-and-services-selected-row' : flight.isFlightSelected }"
         ng-style="smallDevice && {'flex-direction' : 'row'}">
        <!-- xs-duration -->
        <div class="row xs-modify-flight-select" ng-if="mobileDevice">
            <div class="col duration search-result col-xs-9 xs-search-result pd-rt-0"
                 ng-class="{'content-hidden': $index > 0 && $parent.selectedFlightIndex === $index - 1}">

                <!-- Departure -->
                <div class="departure">
                    <label style="padding-left: 5px">{{flight.departureTime}}</label>
                </div>
                <!-- // Departure -->

                <!-- Timeline -->
                <div class="timeline">
                    <span class="flight-no">{{flight.flightNumber}}</span>

                    <div class="flight-stop-wrapper">
                        <span class="flight-path"></span>
                        <span class="flight-icon pull-left flight-start icon-plane_shape_R" style="font-size: 1.4rem !important;">
                        </span>
                        <span>

                            <ul class="flight-point">
                                <li uib-tooltip-html="stop|stopType" tooltip-placement="top"
                                    tooltip-trigger="mouseenter"
                                    ng-if="!(flight.stops[$index].flightNumber)"
                                    ng-class="{'icon-plane_shape_R':(flight.stops[$index].flightNumber),
                                    'icon-pause':!(flight.stops[$index].flightNumber),
                                    'icon-touchdown':!(flight.stops[$index].flightNumber)}"
                                    class="flight-icon" ng-repeat="stop in flight.stops"
                                    style="line-height:2;font-size:11px;left:30%;top:-2px;margin-right:5px !important;"></li>

                                <li uib-tooltip-html="stop|stopType" tooltip-placement="top"
                                    tooltip-trigger="mouseenter" ng-if="(flight.stops[$index].flightNumber)"
                                    ng-class="{'icon-plane_shape_R':(flight.stops[$index].flightNumber),
                                    'icon-pause':!(flight.stops[$index].flightNumber),
                                     'icon-touchdown':!(flight.stops[$index].flightNumber)}"
                                    class="flight-icon" ng-repeat="stop in flight.stops"
                                    style="line-height:2;font-size:11px;left:30%;top:-2px;margin-right:5px !important;"></li>

                            </ul>

                            <span class="flight-icon flight-stop icon-stop"
                                  ng-if="!(flight.stops[$index].flightNumber) && flight.stops.length > 0"></span>
                            <span class="flight-icon flight-stop icon-stop"
                                  ng-if="(flight.stops[$index].flightNumber)"></span>
                            <span class="flight-icon pull-right flight-stop icon-stop " ng-if="flight.stops.length === 0"></span>
                        </span>

                    </div>
                    <!-- Total time -->
                    <label class="total-time truncate">{{flight|flightDuration}}</label><!-- Total time -->
                </div>
                <!-- // Timeline -->
                <!-- Arrival -->
                <div class="arrival"><label>{{flight.arrivalTime}}</label></div>
                <!-- // Arrival -->
            </div>

            <div class="col select-flight col-xs-3 xs-select-flight fare-and-services-flight-mobile-modify-select-button pull-right"
                 style="border: 0px solid !important"
                 ng-class="{'selected':flight.isFlightSelected}"
                 ng-click="onClickEditFlight($index, $parent.selectedFlightIndex, flight);
                 $parent.selectedFlightIndex = ($parent.selectedFlightIndex == $index) ? -1 : $index">

                <span class="text truncate">
                    <a href="" ng-if="!flight.isFlightSelected">
                       <span class="fare-and-services-flight-select-text" translate="lbl_modify_selectThisFlight"
                             style="color:white !important;">Select</span>
                       <i class="fa fa-angle-right" style="font-size: 1.5rem; float: right"></i>
                    </a>
                    <!--<a href="" ng-if="flight.isFlightFull">-->
                        <!--<span class="fare-and-services-flight-select-text" style="color:white !important;">Not Available</span>-->
                    <!--</a>-->
                    <a href="" ng-if="flight.isFlightSelected">
                        <i class="pull-right fa fa-angle-down" style="padding-right: 20px; padding-left: 20px; font-size: 1.5rem"></i>
                    </a>
                    <span >
            </span>
                </span>
            </div>
        </div>

        <!-- //xs-duration -->

        <!-- Duration -->
        <div class="col duration search-result col-sm-8  col-md-10"
             ng-class="{'content-hidden': $index > 0 && $parent.selectedFlightIndex === $index - 1,
             'fare-and-services-selected-row' : flight.isFlightSelected }" ng-if="!mobileDevice"
             style="border-right: none;
             border-left: none;">

            <!-- Departure -->
            <div class="departure" style="width: auto"><label class="ma-bt-0" style="padding-left: 5px;">{{flight.departureTime}}</label></div>
            <!-- // Departure -->

            <!-- Timeline -->
            <div class="timeline">
                <span class="flight-no">Flight {{flight.flightNumber}} <span ng-if="flight.stops[0].flightNumber" class="conn-flt-num-align">   Flight {{flight.stops[0].flightNumber}}</span>  </span>

                <div class="flight-stop-wrapper">
                    <span class="flight-path" style="z-index: 0"></span>
                    <span class="flight-icon flight-start icon-plane_shape_R pull-left"></span>
                    <span>
                        <ul class="flight-point">
                            <li uib-tooltip-html="stop|stopType" tooltip-placement="top"
                                tooltip-trigger="mouseenter"
                                ng-class="{'icon-plane_shape_R':(flight.stops[$index].flightNumber),
                                'icon-pause':!(flight.stops[$index].flightNumber),
                                 'icon-touchdown':!(flight.stops[$index].flightNumber)}"
                                class="flight-icon" ng-repeat="stop in flight.stops"></li>
                        </ul>
                    </span>
                    <span class="flight-icon flight-stop icon-stop pull-right"></span>
                </div>
            </div>
            <!-- // Timeline -->

            <!-- Arrival -->
            <div class="arrival" style="width:auto"><label class="ma-bt-0">{{flight.arrivalTime}}</label></div>
            <!-- // Arrival -->

        </div>

        <div class="col col-sm-4 fare-and-services-flight-select-button-wrapper"
             ng-class="{'active':flight.isFlightSelected,
             'fare-and-services-selected-row' : flight.isFlightSelected }"
             ng-if="!mobileDevice"
             style="border-right: none; border-left: none;">

            <button class="button bundle-fare-v2-select-button" ng-class="{'selected' : flight.isFlightSelected }"
                    ng-click="onClickEditFlight($index, $parent.selectedFlightIndex, flight);
             $parent.selectedFlightIndex = ($parent.selectedFlightIndex == $index) ? -1 : $index"
                    style="    position: relative; top: 8px; min-width:auto;
                    text-overflow: ellipsis; overflow: hidden; white-space: nowrap; height:42px">
            <span ng-if="!flight.isFlightSelected">
                <span class="fare-and-services-flight-select-text"
                      translate="lbl_modify_selectThisFlight" style="font-size: 14px">Select This Flight</span>
                <i class="fa fa-angle-right" style="margin-top: 2px"></i>
            </span>
            <!--<span ng-if="flight.isFlightFull">-->
                <!--<span class="fare-and-services-flight-select-text">Not Available</span>-->
            <!--</span>-->
            <span ng-if="flight.isFlightSelected">
                <i class="fa fa-angle-down"></i>
            </span>
            </button>

        </div>
        <span>{{flightFare}}</span>
        <div class="xs-select-flight-fare select-flight" ng-if="mobileDevice">
        </div>
        <!-- // Select flight -->
    </div>
    <div ng-if="flight.isFlightSelected"
         ng-class="{'fare-and-services-selected-row' : flight.isFlightSelected,
    'flight-row modify-flight-search' : !mobileDevice}">
        <div ng-class="{'flight-row modify-flight-search' : mobileDevice || smallDevice || largeDevice,
        'fare-and-services-selected-row' : flight.isFlightSelected}">
            <div ng-if="flight.isFlightSelected && flight.isFareListVisible" style ="width:100%"
                 isa-fare-and-services-details header-fare-info="headerFType" flight="flight" currency="AED"
                 is-flight-modification="true">
            </div>
            <div ng-if="flight.isFlightSelected && !flight.isFareListVisible" style="width: 100%;">
                <div class="ico" style="text-align: center">
                    <img width="40px" src="js/util/isaui_lib/dist/images/bx_loader.gif" alt="loading" />
                </div>
            </div>
        </div>
    </div>
   </div>
</div>

    <div ng-if="flightOptions.length !== 0" class="flight-row modify-flight-search last-row"></div>
    <!--Flight Row -->

      <script type="text/ng-template" id="myTooltipTemplate.html">
        <img ng-if="flightFare.imageUrl!==''" ng-src="{{flightFare.imageUrl}}" alt=""/>
    </script>

