<div ng-init="selectedFlightIndex=-1">
    <!-- Placeholder - Before -->
    <div class="flight-row modify-flight-search flight-filler hidden-xs" ng-if="beforeHeight" ng-style="{height: beforeHeight}">
        <p class="center-text" translate="lbl_modify_selectLeft">Select the flight from<br> the left menu to modify it</p>
    </div><!-- // Placeholder - Before-->

    <div ng-repeat="flight in flightOptions">
        <div class="flight-row modify-flight-search fare-and-services-selected-row">

        <!-- xs-duration-->
        <div class="row xs-modify-flight-select" ng-if="mobileDevice">
            <!-- Duration -->
        <div class="col duration col-xs-12 xs-selected-flight xs-search-result pd-rt-0">

            <!-- Departure -->
            <div class="departure"><label style="padding-left: 5px">{{flight.departureTime}}</label></div>
            <!-- // Departure -->

            <!-- Timeline -->
            <div class="timeline">
                <span class="flight-no"> {{flight.flightNumber}}</span>

                <div class="flight-stop-wrapper">
                    <span class="flight-path"></span>
                    <span class="flight-icon pull-left flight-start icon-plane_shape_R"
                          style="font-size: 1.4rem !important;"></span>
                <span>
                    <ul class="flight-point">
                        <li uib-tooltip-html="stop|stopType" tooltip-placement="top"
                            tooltip-trigger="mouseenter"
                            ng-class="{'icon-plane_shape_R':(flight.stops[$index].flightNumber),
                            'icon-pause':!(flight.stops[$index].flightNumber),
                            'icon-touchdown':!(flight.stops[$index].flightNumber)}"
                            class="flight-icon" ng-repeat="stop in flight.stops"></li>
                    </ul>
                </span>

                    <span class="flight-icon pull-right flight-stop icon-stop"></span>
                </div>
            </div>
            <!-- // Timeline -->

            <!-- Arrival -->
            <div class="arrival"><label>{{flight.arrivalTime}}</label></div>
            <!-- // Arrival -->

           	<div class="hidden-xs">
				<p>
		            <!-- Segment Code -->
					<span class="segment-code"><span>{{flight.originCode}}/</span>
                        <span ng-repeat="stop in flight.stops">{{stop.airportCode}}/</span>
                        <span>{{flight.destinationCode}}</span>
                    </span>

		            <!-- Total time -->
                    <span><label class="total-time">{{flight|flightDuration}}</label></span>
                    <!--Total time -->
				</p>
			</div>
        </div>
        <!-- // Duration -->

        </div>
        <!-- //xs-duration-->

        <!-- Duration -->
        <div class="col duration col-sm-12 xs-search-result" ng-if="!mobileDevice" style="border-right: none;
        width:100% !important">
            <!-- Departure -->
            <div class="departure" ><label class="ma-bt-0" style="padding-left: 5px">{{flight.departureTime}}</label></div>
            <!-- Timeline -->
            <div class="timeline">
                <span class="flight-no"><span class="">Flight</span> {{flight.flightNumber}}  <span ng-if="flight.stops[0].flightNumber" class="selected-conn-flt-num-align"> Flight {{flight.stops[0].flightNumber}}</span></span>

                <div class="flight-stop-wrapper" style="z-index:1">
                    <span class="flight-path" ng-style="smallDevice && {'top' : '25px'}"></span>
                    <span class="flight-icon flight-start icon-plane_shape_R pull-left"></span>
                <span>
                    <ul class="flight-point">
                        <li uib-tooltip-html="stop|stopType" tooltip-placement="top"
                            tooltip-trigger="mouseenter"
                            ng-class="{'icon-plane_shape_R':(flight.stops[$index].flightNumber),
                            'icon-pause':!(flight.stops[$index].flightNumber),
                            'icon-touchdown':!(flight.stops[$index].flightNumber)}"
                            class="flight-icon" ng-repeat="stop in flight.stops"></li>
                    </ul>
                </span>
                    <span class="flight-icon flight-stop icon-stop pull-right"></span>
                </div>
                 <!-- Total time -->
                <label class="fare-and-services-total-time" ng-class="{'total-time' : !smallDevice}">{{flight|flightDuration}}</label>

                <!--  Total time -->
            </div>
            <!-- // Timeline -->
            <!-- Arrival -->
            <div class="arrival"><label class="ma-bt-0">{{flight.arrivalTime}}</label></div>
            <!-- // Arrival -->
        </div>

        <!-- // Duration -->
        <!--<div class="select-flight-buttons col-sm-3" ng-if="!mobileDevice">-->
            <!--&lt;!&ndash; Promo Fare &ndash;&gt;-->
            <!--<div class="promo-fare selected" ng-style="{height: flightHeightList[selectedSegment]/2-2 + 'px'}">-->
                <!--<label ng-style="{'line-height': flightHeightList[selectedSegment]/2 + 'px'}">{{flight.selectedFare.description}}</label>-->
                <!--<i class="select" translate="lbl_common_selected">Selected</i>-->
            <!--</div>-->
        <!--</div>-->
    </div>

        <div class="fare-and-services-selected-row">
            <div class="flight-row modify-flight-search fare-and-services-selected-row">
                <div class="right-section right-section-body" style="width : 100%"
                     isa-fare-and-services-details header-fare-info="headerFType" flight="flight" currency="AED"
                     is-flight-changed="true">
                </div>
            </div>
        </div>
    <!--<div>-->
        <!--<div ng-class="{'flight-row modify-flight-search' : mobileDevice,-->
         <!--'options-row' : !mobileDevice}">-->
            <!--<div isa-fare-and-services-details header-fare-info="headerFType" flight="flight" currency="AED"-->
                 <!--is-flight-changed="true">-->
            <!--</div>-->
        <!--</div>-->
     <!--</div>-->
		<!-- Footer xs -->
                <div class="dash-footer" style="margin-top: 20px" ng-if="mobileDevice">
			<div class="row">
		    	<div class="col-xs-12">
                    <!-- These JS needs to be Revisited-->
		        	    <button class="btn red-btn button"
		                    onclick="document.getElementById('dash-foot-confirm').click()"
		                    translate="lbl_modification_continueModification">Continue Modification</button>
		        </div>
		    </div>
		    <div class="row" style="margin-top: 20px; max-width:103vw;">
		        <div class="col-xs-12">
                    <!-- These JS needs to be Revisited-->
		            <button class="btn light-gray-btn truncate button"
		                    onclick="document.getElementById('dash-foot-cancel').click()"
		                    translate="lbl_modification_cancelModification">Cancel Modification</button>
		        </div>
		    </div>
		</div><!-- Footer xs -->
    </div>

    <!--Placeholder - After -->
    <div class="flight-row modify-flight-search flight-filler hidden-xs hidden-sm" ng-if="afterHeight"
         ng-style="{height: afterHeight}">
        <p class="center-text">Select the flight from<br> the left menu to modify it</p>
    </div><!-- // Placeholder - After -->

    <div ng-if="flightOptions.length!==0" class="flight-row modify-flight-search last-row"></div>
    <!--Flight Row -->

    <script type="text/ng-template" id="myTooltipTemplate.html">
        <img ng-if="flightFare.imageUrl!==''" ng-src="{{flightFare.imageUrl}}" alt=""/>
    </script>
</div>