<div class="summary-drawer-overlay ng-cloak" ng-if="main.quoteStatus" ng-click="main.changeQuoteStatus()">

</div>
<div id="xs-summary-drawer" onclick="document.getElementById('flight-info-scroll').scrollIntoView()"

     ng-class="{'xs-summaryheight-full': main.quoteStatus}"
     class="summary-drawer xs-summary-drawer" ng-if="main.showSummaryDrawer" title="{{ 'lbl_common_clickToViewSummary' | translate }}">
    <div class="drawer-arrow text-center drawer-arrow-top" ng-if="deviceType.isMobileDevice" ng-click="main.changeQuoteStatus();$event.stopPropagation()" ng-show="main.quoteStatus">
        <span class="dp-caret fa fa-chevron-down"></span>
    </div>
    <div class="drawer-desc fly-in-group ng-cloak" id ="xs-summary-createflow" ng-if="main.quoteStatus">
        <div class="container pd-0">
            <h2 class="xs-summary_of_your_sel">
                <span class="summary-header xs-ttlsum-pricebreak pull-left" translate="summary_of_your_selection">Summary of your selection</span>
                <span class="close-button xs-sum-close-btn" ng-click="main.changeQuoteStatus()"><i class="fa fa-times"></i></span>
            </h2>

            <div id="flight-info-scroll" class="flight-info-scroll flight-log row pd-lt-10">
                <hr class="line-hr"/>
                <div class="flights-info-block col-md-6 col-xs-12 pd-rt-0">
                    <div class="sector-details" ng-class="{'ma-tp-2': $index == 0, 'ma-tp-4': $index > 0 }" data-ng-repeat="sectorsData in main.quoteDetails.sectorsData track by $index">
                        <div class="sector-flight-info">
                            <div class="row flight-block" >
                                <div class="div-plain-icon col-md-2 col-sm-2 col-xs-1" >
                                    <span ng-show="{{main.getFlightDirection(sectorsData.selectedFlight.flight.originCode, sectorsData.selectedFlight.flight.destinationCode) == 'outbound'}}" class="icon-outbound-plane-small">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </span>
                                    <span ng-show="{{main.getFlightDirection(sectorsData.selectedFlight.flight.originCode, sectorsData.selectedFlight.flight.destinationCode) == 'inbound'}}" class="icon-inbound-plane-small">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </span>
                                </div>
                                <div class="div-info col-md-10 col-sm-10" ng-class="{'col-xs-8':main.isThreeTwentyDevice,'col-xs-9':!main.isThreeTwentyDevice}" >
                                    <h4 >
                                        <label class="segment-titles-text direction-ltr">{{sectorsData.selectedFlight.flight.originName}}</label>
                                        <span translate="msg_common_to">to</span>
                                        <label class="segment-titles-text direction-ltr">{{sectorsData.selectedFlight.flight.destinationName}}</label>
                                        <label class="fare-type">({{sectorsData.selectedFlight.fare.fareType}})</label>
                                    </h4>
                                    <div class="flight-no hidden-xs">
                                        <span class="fligh-no">
                                            <label><i>{{sectorsData.selectedFlight.flight.flightNumber}}</i></label>
                                        </span>
                                    </div>

                                    <div class="flight-time">
                                        <span class="departure-arrival">
                                            <label><i class="i" translate="lbl_common_departure">Departure</i> <i>{{sectorsData.selectedFlight.flight.departureDateTime| convertFlightDateTimeFilter}} </i></label>
                                            <label><i class="i" translate="lbl_common_arrival">Arrival</i> <i>{{sectorsData.selectedFlight.flight.arrivalDateTime| convertFlightDateTimeFilter}}</i></label>
                                        </span>
                                    </div>
                                </div>
                                <div class="flight-no hidden-sm hidden-md hidden-lg col-xs-2 pull-right pad-l-10">
                                    <span class="fligh-no pd-rt-0 pd-lt-0" style="width:auto;">
                                        <label><i style="font-size: 11px">{{sectorsData.selectedFlight.flight.flightNumber}}</i></label>  
                                    </span>
                                </div>
                            </div>

                            <div class="row flight-block" ng-if="sectorsData.selectedFlight.flight.stops"  data-ng-repeat="stopsData in sectorsData.selectedFlight.flight.stops">

                                <div class="div-plain-icon col-md-2 col-sm-2 col-xs-1">

                                </div>

                                <div class="div-info col-md-10 col-sm-10 col-xs-9" >
                                    <div class="flight-no hidden-xs">
                                        <span class="fligh-no">
                                            <label> <i>{{stopsData.flightNumber}}</i></label>
                                        </span>
                                    </div>
                                    <div class="flight-time">
                                        <span class="departure-arrival">
                                            <label><i class="i" translate="lbl_common_departure">Departure</i> <i>{{stopsData.departureDateTime| convertFlightDateTimeFilter}} </i></label>
                                            <label><i class="i" translate="lbl_common_arrival">Arrival</i> <i>{{stopsData.arrivalDateTime| convertFlightDateTimeFilter}}</i></label>
                                        </span>
                                    </div>
                                </div>
                                <div class="pull-right flight-no hidden-sm hidden-md hidden-lg col-xs-1 pd-l-0">
                                    <span class="fligh-no pd-rt-10">
                                        <label class="pull-right"><i style="font-size: 11px">{{stopsData.flightNumber}}</i></label>  
                                    </span>
                                </div>
                            </div>

                            <!-- <a href="" class="more-flights" ng-show="sectorsData.selectedFlight.flight.stops.length && !main.showMooreDetails[sectorsData.sequenceNo]" ng-click="main.changeDetailsStatus(sectorsData.sequenceNo)">More Data <i class="fa fa-angle-double-down"></i></a>
                            <a href="" class="more-flights" ng-show="main.showMooreDetails[sectorsData.sequenceNo]" ng-click="main.changeDetailsStatus(sectorsData.sequenceNo)">Less Data <i class="fa fa-angle-double-up"></i></a> -->

                        </div>
                        <!-- // Flight Sum Block -->

                    </div>

                </div>
                <div class="price-info-block xs-priceinfoblock">
                    <div class="hidden-sm hidden-md hidden-lg section-line xs-section-line" ><hr></div>
                    <h2 class="text-left">
                        <span class="xs-ttlsum-pricebreak" translate="title_summary_drawer">Price Breakdown for </span>
                        <span ng-if="main.quoteDetails.pax.adult != 0" >
                            <span class="xs-ttlsum-pricebreak" ng-show="main.quoteDetails.pax.adult == 1" translate="lbl_common_adultWithValue" translate-values="{a: '{{main.quoteDetails.pax.adult}}'}">{{main.quoteDetails.pax.adult}} Adult</span>
                            <span class="xs-ttlsum-pricebreak" ng-hide="main.quoteDetails.pax.adult == 1" translate="lbl_common_a_adults" translate-values="{a: '{{main.quoteDetails.pax.adult}}'}">{{main.quoteDetails.pax.adult}} Adults</span>
                        </span>
                        <span ng-if="main.quoteDetails.pax.child != 0" >
                            <span class="xs-ttlsum-pricebreak" ng-show="main.quoteDetails.pax.child == 1" translate="lbl_common_childWithValue" translate-values="{a: '{{main.quoteDetails.pax.child}}'}">, {{main.quoteDetails.pax.child}} Child </span>
                            <span class="xs-ttlsum-pricebreak" ng-hide="main.quoteDetails.pax.child == 1" translate="lbl_common_a_children" translate-values="{a: '{{main.quoteDetails.pax.child}}'}">, {{main.quoteDetails.pax.child}} Children </span>
                        </span>
                        <span ng-if="main.quoteDetails.pax.infant != 0" >
                            <span class="xs-ttlsum-pricebreak" ng-show="main.quoteDetails.pax.infant == 1" translate="lbl_common_infantWithValue" translate-values="{a: '{{main.quoteDetails.pax.infant}}'}">, {{main.quoteDetails.pax.infant}} Infant</span>
                            <span class="xs-ttlsum-pricebreak" ng-hide="main.quoteDetails.pax.infant == 1" translate="lbl_common_a_infants" translate-values="{a: '{{main.quoteDetails.pax.infant}}'}">, {{main.quoteDetails.pax.infant}} Infants</span>
                        </span>
                    </h2>

                    <div class="clearfix" ng-repeat="item in main.quoteDetails.totalForJourney.paxWise">
                        <span ng-if="item.noOfPax != 0">{{item.noOfPax}} X </span>
                        <span ng-if="item.paxType === 'AD' && item.noOfPax != 0 && item.noOfPax == 1" translate="lbl_fareQuote_adult">Adult</span>
                        <span ng-if="item.paxType === 'CH' && item.noOfPax != 0 && item.noOfPax == 1" translate="lbl_fareQuote_child">Child</span>
                        <span ng-if="item.paxType === 'IN' && item.noOfPax != 0 && item.noOfPax == 1" translate="lbl_fareQuote_infant">Infant</span>
                        <span ng-if="item.paxType === 'AD' && item.noOfPax != 0 && item.noOfPax != 1" translate="lbl_fareQuote_adults">Adults</span>
                        <span ng-if="item.paxType === 'CH' && item.noOfPax != 0 && item.noOfPax != 1" translate="lbl_fareQuote_children">Children</span>
                        <span ng-if="item.paxType === 'IN' && item.noOfPax != 0 && item.noOfPax != 1" translate="lbl_fareQuote_infants">Infants</span>
                        <div class="hidden-xs" ng-if="carrier == 'W5'">
                            <span ng-repeat="pax in main.quoteDetails.paxListt" ng-if="item.paxType === 'AD' && pax.category === 'Adult'">
                                <span>{{pax.name}}</span>
                            </span>
                            <span ng-repeat="pax in main.quoteDetails.paxListt" ng-if="item.paxType === 'CH' && pax.category === 'Child'">
                                <span>{{pax.name}}</span>
                            </span>
                            <span ng-repeat="pax in main.quoteDetails.paxListt" ng-if="item.paxType === 'IN' && pax.category === 'Infant'">
                                <span>{{pax.name}}</span>
                            </span>
                        </div>

                        <span class="pull-right in-detail" ng-if="item.noOfPax != 0">
                            <span class="currency-text currency currency-left"></span>
                            <span class="font-weight-normal currency-value fare-value price xssm-top-curval amount-right"  
                            isa-connector="{{item.totalFare}}"
                            decimal-points="2"
                            with-decimal="true"></span>
                        </span>

                    </div>
                    <div class="clearfix">
                        <span class="hy-inline-block" translate="lbl_summary_drawer_airportTax">Airport Tax & Surcharge</span>
                        <span class="pull-right in-detail">
                            <span class="currency-text currency currency-left"></span>
                            <span class="font-weight-normal currency-value fare-value price amount-right" 
                            isa-connector="{{main.calculateTotal(main.quoteDetails.totalTaxAndSurcharges,main.quoteDetails.serviceTaxForAdminFee,main.quoteDetails.totalServiceTax*-1)}}" 
                            decimal-points="2" 
                            with-decimal="true"></span>
                        </span>
                    </div>
                    <div class="clearfix font-color-red" ng-repeat="promo in main.quoteDetails.promoInfo">
                        <span class="promo" ng-if="promo.type != 'RETURN_DISCOUNT' && promo.discountAs == 'Money' && main.calculateTotal(promo.discountAmount, main.quoteDetails.anciPromotion) != '0'">
                            <span class="hy-inline-block" translate="lbl_summary_drawer_promotion">Promotion discount</span>
                            <span class="pull-right in-detail">
                                <span class="currency-text currency currency-left"></span>
                                <span class="font-weight-normal currency-value fare-value price font-weight-bold amount-right" 
                                isa-connector="{{main.calculateTotal(promo.discountAmount, main.quoteDetails.anciPromotion)}}" 
                                decimal-points="2" 
                                is-promotion="true"
                                 with-decimal="true"></span>
                            </span>
                        </span>
                        <span class="promo" ng-if="promo.type === 'RETURN_DISCOUNT' && promo.discountAs === 'Money' && main.quoteDetails.journeyType === 'return' && promo.discountAmount != '0' && promo.discountAmount != '0'">
                            <span class="hy-inline-block" translate="lbl_summary_drawer_discount">Discount for booking a return flight</span>
                            <span class="pull-right in-detail">
                                <span class="currency-text currency currency-left"></span>
                                <span class="font-weight-normal currency-value fare-value price font-weight-bold amount-right" 
                                isa-connector="{{promo.discountAmount}}" 
                                decimal-points="2" 
                                is-promotion="true" 
                                with-decimal="true"></span>
                            </span>
                        </span>
                    </div>


                    <div class="clearfix " ng-if="main.extraTotal && main.extraTotal !== '0'">
                        <span class="hy-inline-block" translate="lbl_summary_drawer_additional">Total additional services</span>
                        <span class="pull-right in-detail">
                            <span class="currency-text currency currency-left"></span>
                            <span class="font-weight-normal currency-value fare-value price font-weight-bold amount-right" isa-connector="{{main.extraTotal}}" decimal-points="2" with-decimal="true"></span>
                        </span>

                    </div>
                    
					<div class="clearfix " ng-if="main.serviceTaxTotal && main.serviceTaxTotal !=='0'">
					    <span translate="lbl_summary_drawer_serviceTax">Service Tax</span>
					        <span class="pull-right in-detail">
					        <span class="currency-text currency currency-left"></span>
					        <span class="font-weight-normal currency-value fare-value price font-weight-bold amount-right" isa-connector="{{main.serviceTaxTotal}}" decimal-points="2" with-decimal="true"></span>
					   </span>					
					</div> 
					
					<div class="clearfix " ng-if="adminFee !==0" >
                    <span translate="lbl_summary_administrationFee">Administration Fee</span>
                                <span class="pull-right in-detail">
                                    <span class="currency-text currency currency-left"></span>
                                    <span class="font-weight-normal currency-value fare-value price font-weight-bold" isa-connector="{{adminFee}}" decimal-points="2" with-decimal="true"></span>
                                </span>

                	</div> 
                    
                    <div class="clearfix " ng-if="main.quoteDetails.jnTax && main.quoteDetails.jnTax !== '0'">
                        <span class="hy-inline-block" translate="lbl_summary_drawer_jnTax">JN tax for ancillaries and flexi</span>
                        <span class="pull-right in-detail">
                            <span class="currency-text currency currency-left"></span>
                            <span class="font-weight-normal currency-value fare-value price font-weight-bold amount-right" isa-connector="{{main.quoteDetails.jnTax}}" decimal-points="2" with-decimal="true"></span>
                        </span>
                    </div>
                    <hr/>

                    <div class="clearfix sub-total">

                        <span class="pull-left" style="width:65%;" translate="lbl_summary_drawer_inclusive">Total all inclusive</span>
                        <span class="pull-right in-detail">
                            <span class="currency-text currency currency-left"></span>
                            <span class="currency-value fare-value price font-weight-bold xssm-curval amount-right" isa-connector="{{main.calculateTotal(main.quoteDetails.totalPrice,main.extraTotal,main.quoteDetails.jnTax ,main.quoteDetails.anciPromotion,main.serviceTaxTotal,main.quoteDetails.totalServiceTax*-1,adminFee)}}" decimal-points="2" with-decimal="true"></span>
                        </span>
                    </div>
                    <div class="clearfix font-color-red" ng-repeat="promo in main.quoteDetails.promoInfo">
                        <span class="promo" ng-if="promo.discountAs === 'Credit'">
                            <span class="hy-inline-block" translate="lbl_summary_drawer_credit">Credit for future usage</span>
                            <span class="pull-right in-detail">
                                <span class="currency-text currency currency-left"></span>
                                <span class="font-weight-normal currency-value fare-value price font-weight-bold amount-right" isa-connector="{{main.calculateTotal(promo.discountAmount, main.quoteDetails.anciCredit)}}" decimal-points="2" with-decimal="true"></span>
                            </span>
                        </span>

                    </div>
                    <div class="clearfix" ng-show="main.baseCurrency != main.quoteDetails.selectedCurrencyType || main.baseCurrency != main.getSelectedCurrencyType()">
                        <span class="hy-inline-block">Equivalent</span>
                        <span class="pull-right in-detail">
                            <span class="currency-text currency-left">{{main.baseCurrency}}</span>
                            <span class="font-weight-normal currency-value fare-value price amount-right" isa-connector="{{main.calculateTotal(main.quoteDetails.totalPrice, main.extraTotal, main.quoteDetails.jnTax, main.quoteDetails.anciPromotion,main.serviceTaxTotal,main.quoteDetails.totalServiceTax*-1,adminFee)}}" decimal-points="2" with-decimal="true" is-base-currency="true"></span>
                        </span>
                    </div>
                    <div class="fare-curr-diff" ng-show="main.baseCurrency != main.quoteDetails.selectedCurrencyType || main.baseCurrency != main.getSelectedCurrencyType()">
                        <span class="blue-star">*</span>    
                        <h4 class="d-inline-b" translate="msg_summary_drawer_allPayment"  translate-values="{a: '{{main.baseCurrency}}'}">All payments will be charged in {{main.baseCurrency}}. All other currencies are
                            for reference only.</h4>
                    </div>    
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 pull-right btn-continue" ng-if="main.isValidCareerFor('JCA')">
                <button class="button red-btn" type="button" ng-click="main.continueAfterSummery()" translate="btn_summary_drawer_continue">Close and continue</button>
            </div>

        </div>

    </div>

    <div class="drawer-bar ng-cloak hidden-xs" ng-if="!main.quoteStatus">
        <div class="container pd-0 pd-bt-2 pd-tp-2" ng-click="main.changeQuoteStatus()">

            <div class=" drawer-bar-col drawer-segment" ng-if="segInfo.sectorInfo.origin || segInfo.sectorInfo.destination" 
                 ng-class="{'return': ($index + 1) === main.quoteDetails.segmentFare.length && main.quoteDetails.journeyType === 'return','col-sm-2':main.quoteDetails.journeyType === 'return' , 'col-sm-3':main.quoteDetails.journeyType !== 'return'}"
                 data-ng-repeat="segInfo in main.quoteDetails.segmentFare" >
		             <div class="icon-plane-shape icon-plane_shape_R drawer-icon" ng-hide="($index + 1) === main.quoteDetails.segmentFare.length && main.quoteDetails.journeyType === 'return' || ($index + 3) === main.quoteDetails.segmentFare.length && main.quoteDetails.journeyType === 'return'"></div>
		             <div class="icon-plane-shape icon-plane_shape_L drawer-icon" ng-show="($index + 1) === main.quoteDetails.segmentFare.length && main.quoteDetails.journeyType === 'return' || ($index + 3) === main.quoteDetails.segmentFare.length && main.quoteDetails.journeyType === 'return'"></div>
                <!--<span class="drawer-bar-title" translate="msg_common_outbound"></span><br/>-->

                <div ng-hide="($index + 1) === main.quoteDetails.segmentFare.length && main.quoteDetails.journeyType === 'return'">
                    <span class="drawer-bar-title" translate="msg_common_departing">Departing</span><br/>
                </div>

                <div ng-show="($index + 1) === main.quoteDetails.segmentFare.length && main.quoteDetails.journeyType === 'return'" style="display: flex;">
                    <span class="drawer-bar-title" translate="msg_common_returning">Returning</span><br/>
                </div>
                <span class="drawer-airport-name" translate="lbl_common_flight" translate-values="{a: '{{segInfo.sectorInfo.originName}}', b: '{{segInfo.sectorInfo.destinationName}}'}" style="word-wrap: break-word; height: auto;">{{segInfo.sectorInfo.origin}} to {{segInfo.sectorInfo.destination}}</span>
            </div>

            <div class="col-sm-2 drawer-bar-col drawer-passenger">
                <span class="drawer-bar-title" translate="msg_common_passenger">Passenger</span><br/>
                {{main.quoteDetails.pax.adult -- main.quoteDetails.pax.child -- main.quoteDetails.pax.infant}}
            </div>

            <div class="col-sm-2 drawer-bar-col drawer-flight">
                <span class="drawer-bar-title" translate="msg_common_flight">Flight</span><br/>
                <span class="price-block">
                    <span class="currency-text currency"></span>
                    <span class="currency-value fare-value price" isa-connector="{{main.calculateTotal(main.quoteDetails.totalPrice,main.serviceTaxTotal,adminFee,main.quoteDetails.totalServiceTax*1)}}" decimal-points="2" with-decimal="true"></span>
                </span>
                <span class="pull-right symbol">+</span>
            </div>

            <div class="col-sm-2 drawer-bar-col drawer-extra">
                <span class="drawer-bar-title" translate="msg_common_extraServices">Extra Service</span><br/>
                <span class="price-block">
                    <span class="currency-text currency">{{currency}}</span>
                    <span class="currency-value fare-value price" isa-connector="{{main.calculateTotal(main.extraTotal, main.quoteDetails.jnTax)}}" decimal-points="2" with-decimal="true"></span>
                </span>
                <span class="pull-right symbol hy-margin-top">=</span>
            </div>

            <div class="col-sm-2 drawer-bar-col drawer-total">
                <span class="drawer-bar-title" translate="msg_common_total">Total</span><br/>
                <div class="price-block">
                    <span class="currency-text currency">{{currency}}</span>
                    <span class="currency-value fare-value price" isa-connector="{{main.calculateTotal(main.quoteDetails.totalPrice, main.extraTotal, main.quoteDetails.jnTax, main.quoteDetails.anciPromotion,main.serviceTaxTotal,main.quoteDetails.totalServiceTax*-1,adminFee)}}" decimal-points="2" with-decimal="true"></span>
                </div>
            </div>

            <div class="drawer-arrow text-center" ng-click="main.changeQuoteStatus();$event.stopPropagation()" ng-hide="main.quoteStatus">
                <span class="dp-caret fa fa-chevron-up"></span>
            </div>

        </div>
    </div>
    <div class="drawer-bar ng-cloak hidden-md hidden-sm hidden-lg"  ng-if="!main.quoteStatus">

        <div class="container pd-0 pd-bt-2 pd-tp-2 col-xs-12" id="xs-mobile-drawer" ng-click="main.changeQuoteStatus()">
            <div class="col-xs-3 drawer-bar-col drawer-flight xs-summary-justify">
                <span class="drawer-bar-title  xs-summary-extraservices" translate="msg_common_flight">Flight</span>
                <span class="price-block xs-summary-currency direction-ltr pull-left">
                    <span class="currency-text currency"></span>
                    <span class="currency-value fare-value price" isa-connector="{{main.calculateTotal(main.quoteDetails.totalPrice,main.serviceTaxTotal,adminFee,main.quoteDetails.totalServiceTax*1)}}" decimal-points="2" with-decimal="true"></span>
                </span>
            </div>
            <div class="xs-symbol-div xs-plus-symbol-div">
                <span class="symbol"><br/>+</span><br/>
            </div>
            <div class="col-xs-4 drawer-bar-col drawer-extra xs-summary-justify">
                <span class="drawer-bar-title xs-summary-extraservices hy-xs-summary" translate="msg_common_extraServices">Extra Service</span>
                <span class="price-block xs-summary-currency direction-ltr pull-left">
                    <span class="currency-text currency">{{currency}}</span>
                    <span class="currency-value fare-value price" isa-connector="{{main.calculateTotal(main.extraTotal, main.quoteDetails.jnTax)}}" decimal-points="2" with-decimal="true"></span>
                </span>
            </div>
            <div class="col-xs-1 xs-eq-symbol-div text-left">
                <span class="symbol"><br/>=</span><br/>
            </div>
            <div class="drawer-bar-col drawer-total xs-summary-justify xs-totalsection">
                <span class="drawer-bar-title xs-drawer-bar-title" translate="msg_common_total">Total</span>
                <div class="price-block xs-summary-currency direction-ltr pull-left">
                    <span class="currency-text currency xs-totaltxt">{{currency}}</span>
                    <span class="currency-value fare-value price pd-rt-5" isa-connector="{{main.calculateTotal(main.quoteDetails.totalPrice, main.extraTotal, main.quoteDetails.jnTax, main.quoteDetails.anciPromotion,main.serviceTaxTotal,main.quoteDetails.totalServiceTax*-1,adminFee)}}" decimal-points="2" with-decimal="true"></span>
                </div>
            </div>
            <a href="#flight-info-scroll">
                <div class="drawer-arrow text-center xs-drawer-arrow"  onclick="document.getElementById('flight-info-scroll').scrollIntoView()" ng-click="main.changeQuoteStatus();$event.stopPropagation()" ng-hide="main.quoteStatus">
                    <span class="dp-caret fa fa-chevron-up"></span>
                </div>
            </a>
        </div>
    </div>
</div>


<!-- Modal Box -->
<div class="modal-box" ng-show="main.ismodalModal">
    <!-- Overlay -->
    <div class="overlay"></div><!-- // Overlay -->

    <!-- Modal Content -->
    <div class="modal-content" ng-class="{'fare-rule-popup':main.fareRules}" style="max-width: 900px;top:10%;max-height: 600px">

        <!-- Modal Header -->
        <div class="modal-header xs-term-header">
            <span ng-if="main.termsNCondition" class="text" translate="lbl_common_terms">Terms and Conditions.</span>
            <span ng-if="main.fareRules" class="text" translate="lbl_common_fare_rules_title">Fare rules</span>
            <span class="close-btn" ng-click="main.closePopup()">
                <i class="fa fa-times"></i>
            </span>
        </div><!-- // Modal Header -->

        <!-- Modal Body -->
        <div ng-if="main.termsNCondition" class="modal-body xs-term-body" style="max-height: 425px;overflow-y: auto">
            <p ng-bind-html="main.popUpData">

            </p>
        </div><!-- // Modal Body -->
        <div ng-if="main.fareRules">
            <span data-ng-repeat="fare in main.fareRulesDescriptions">
                <p ng-bind-html="fare">

                </p>
            </span>

        </div>
        <!-- Modal Footer -->
        <div class="modal-footer">

            <div class="row">
                <div class="col-md-6 col-sm-6">

                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <button class="button red-btn" type="button" ng-click="main.closePopup()" translate="btn_summary_drawer_continue">Close and continue</button>
                </div>
            </div>
        </div><!-- // Modal Footer -->
    </div><!-- // Modal Content -->
</div><!-- // Modal Box -->

