<div class="search-box-wrapper" ng-controller="modifySearchController as mod">
    <form id="mod-search" 
    name="modifySearch" 
    novalidate 
    valdr-type="ModSearch"
    isa-validator-type="searchFlight"
    isa-validator-rules="{{mod.searchValidation}}"
    ng-submit="mod.searchFlight(modifySearch)">

        <!-- Search Box -->
        <div class="row xs-modifysearch-container container modif-search modif-search-2 animate-show" ng-if="mod.isModifyVisible">
            <div class="container">
                <div class="col-md-12">
                    <div class="row modify-attr">
                        <div class="col-sm-6 col-xs-11 text-left">
                            <h2>
                                {{ ((fare.isFarePage === true) ? "title_selectFare_modify_search" :
                                                    "title_modifySearch_bookAFlight") | translate}}
                            </h2>
                        </div>
                        <!--  <div class="col-sm-6 col-xs-3 text-right close-btn"> -->
                        <div class="col-sm-6 col-xs-1  text-right"> 
                            <span ng-click="mod.hideModifySearch()" id="btn-close-modify-search"
                                  class="icon-close"></span> 
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-3 col-xs-4 triptype">
                            <span class="radio">
                                <input name="triptype" type="radio" value="Oneway" id="mod-oneway"
                                       ng-checked="!mod.isArrivalDate">
                                <label class="radio-btn-lbl truncate" ng-click="mod.TripOptionSelect($event)" for="mod-oneway">
                                    <span class="triptype-caption" translate="lbl_selectFare_Oneway">One way</span>
                                </label>
                            </span>
                        </div>

                        <div class="col-sm-3 col-xs-4 triptype">
                            <span class="radio ">
                                <input name="triptype" type="radio" value="Return" id="mod-return"
                                       ng-checked="mod.isArrivalDate">
                                <label class="radio-btn-lbl truncate" ng-click="mod.TripOptionSelect($event)" for="mod-return">
                                    <span class="triptype-caption" translate="lbl_selectFare_Return">Return</span>
                                </label>
                            </span>
                        </div>


                        <div class="col-sm-3 col-xs-4 triptype">
                            <span class="radio ">
                                <input name="triptype" type="radio" value="Multy city" id="mod-multycity"
                                       ng-disabled="true">
                                <label class="radio-btn-lbl truncate multi-city-truncate" ng-click="mod.TripOptionSelect($event)" for="mod-multycity">
                                    <span class="triptype-caption" translate="lbl_selectFare_Multicity">Multi city</span>
                                </label>
                            </span>
                        </div>
                        <div class="col-sm-3 hidden-xs" style="line-height: 42px">
                            <i class="info pull-right">
                                <span translate="lbl_passenger_mandatory" style="font-size: 10px">Mandatory Fields</span>
                                <sup class="red" style="left:-4px;font-size: 10px !important">*</sup>
                            </i>
                        </div>
                    </div>
                    <div class="row modify-attr">
                        <!--From Airport-->
                        <div class="col-xs-12" id="modify-search-list"  ng-class="{'col-sm-6': !mod.isArrivalDate, 'col-md-4': !mod.isArrivalDate, 'col-md-3 col-sm-6': mod.isArrivalDate}">
                            <label translate="msg_common_from">From</label>&nbsp;<sup class="red">*</sup>
                            <i class="info pull-right hidden-lg hidden-sm hidden-md">
                                <span translate="lbl_passenger_mandatoryFields" style="font-size: 10px">Mandatory Fields</span>
                                <sup class="red" style="left:-4px;font-size: 10px !important">*</sup>
                            </i>
                            <div class="ibe-typeahead">
                                <div isa-validator> 
                          
                              
                                    <!--<div class="placeholder" ng-click="main.removePlaceholder()" ng-show="main.placeHolder"><span class="placeholder-txt">From</span><span class="placeholder-icon">*</span></div>-->

                                            <input ng-model="mod.fromAirport"
                                            type="text" 
                                            id="search-from" 
                                            name="searchfrom"
                                            uib-typeahead="airport as airport.en for airport in mod.airports | filter:$viewValue | limitTo:8"
                                            typeahead-loading="loadingLocations" 
                                            typeahead-no-results="mod.noResults"
                                            class="form-control direction-ltr text-left" 
                                            value="" ng-bind="mod.searchFromAirport"
                                            autocomplete="off" 
                                            typeahead-on-select="mod.filterDesAirport()" ng-class="{'ng-invalid' : mod.noResults, ' ':!mod.noResults}"/>
                                    
                                       
                                
                                </div>
                                
                                <!-- <div ng-class="{'valdr-message' : mod.noResults, ' ':!mod.noResults}" ng-show="mod.noResults" translate="msg_selectFare_NoResultsFound">
                                    <i class="glyphicon glyphicon-remove"></i> Enter Valid Origin
                                </div> -->
                            </div>
                        </div><!--/From Airport-->

                        <!--To Airport-->
                        <div class="col-xs-12" id="modify-search-list" ng-class="{'col-sm-6': !mod.isArrivalDate, 'col-md-4': !mod.isArrivalDate, 'col-md-3 col-sm-6': mod.isArrivalDate}">
                            <label translate="lbl_msg_search_to">To</label>&nbsp;<sup class="red">*</sup>
                                <div class="ibe-typeahead">
                                    <div isa-validator> 
                                        <input ng-model="mod.toAirPort" id="search-to" name="searchto" type="text"
                                           uib-typeahead="airport as airport.en for airport in mod.desAirports | filter:$viewValue | limitTo:8"
                                           typeahead-loading="loadingLocations" typeahead-no-results="mod.noResults1"
                                           class="form-control direction-ltr text-left" autocomplete="off" ng-class="{'ng-invalid' : mod.noResults1, ' ':!mod.noResults1}"/>
                                
                                    </div>
                                </div>
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                            
                        </div><!--/To Airport-->

                        <!--Departure Date
                        <div class="col-md-4" ng-if="!mod.isArrivalDate">-->
                        <div  class="col-xs-12"  ng-class="{'col-sm-6': !mod.isArrivalDate, 'col-md-4': !mod.isArrivalDate, 'col-md-3 col-sm-6': mod.isArrivalDate}">
                            <label translate="lbl_modifysearch_departure_date">Departure Date  </label>&nbsp;<sup class="red">*</sup>
                            <div class="ibe-date-picker xs-ibe-date-picker ibe-typeahead" valdr-form-group>
                                    <p class="input-group fullWidth" ng-if="!mod.isPersianCalendarType" isa-validator>
                                        <input ng-model="mod.departureDate" id="search-departure-date"
                                               name="search-departure-date" type="text" class="form-control"
                                               show-button-bar="false" show-weeks="false"
                                               uib-datepicker-popup="{{mod.dateformat}}" is-open="mod.fromDateOpened"
                                               min-date="mod.minDepartureDate" ng-change="mod.departureDateChanged()"
                                               datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                               close-text="Close" readonly="readonly"/>
                                        <span class="input-group-btn departure-span-modify-search">
                                            <button id="departure-date-search-flight" type="button" class="btn btn-default departure-span-modify-search-btn"
                                                    ng-click="mod.dpOnClick($event, 'fromDateOpened', mod.isDepartureDate)">
                                                <i class="glyphicon glyphicon-calendar departure-span-modify-search-img pull-right"></i></button>
                                        </span>
                                    </p>
                                <p class="input-group" ng-if="mod.isPersianCalendarType">
                                <adm-dtp ng-model='mod.departureDate' ng-change="mod.departureDateChanged()" name="search-departure-date" options='{calType: "jalali", format: "DD/MM/YYYY", autoClose:"true",zIndex:2147483647}' mindate="mod.minDepartureDate"></adm-dtp>
                                <!--                                          mindate="{{maxDateForVissaIssue}}"                  maxdate="{{maxDateForVissaIssue}}" ng-required="paxDetailConfig.visaDocIssueDate.mandatory[passenger.type]"></adm-dtp> -->
                                </p>
                            </div>
                        </div><!--/Departure Date-->

                        <div class="col-xs-12"  ng-class="{'col-sm-6': !mod.isArrivalDate, 'col-md-4': !mod.isArrivalDate, 'col-md-3 col-sm-6': mod.isArrivalDate}"
                             ng-if="mod.isArrivalDate">
                            <label translate="lbl_modifysearch_arrival_date">Arrival Date  </label>&nbsp;<sup class="red">*</sup>
                            <div class="ibe-date-picker xs-ibe-date-picker ibe-typeahead" valdr-form-group valdr-enabled="mod.isArrivalDate">
                                    <p class="input-group fullWidth" ng-if="!mod.isPersianCalendarType" isa-validator>
                                        <input ng-model="mod.returnDate" id="search-arrival-date" name="search-arrival-date"
                                               type="text" class="form-control" show-button-bar="false" show-weeks="false"
                                               uib-datepicker-popup="{{mod.dateformat}}" is-open="mod.toDateOpened"
                                               min-date="mod.departureDate" max-date="maxDate"
                                               datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                               close-text="Close" readonly="readonly" />
                                        <span class="input-group-btn departure-span-modify-search">
                                            <button id="arrival-date-search-flight" type="button" class="btn btn-default departure-span-modify-search-btn"
                                                    ng-click="mod.dpOnClick($event, 'toDateOpened', mod.isArrivalDate)"><i
                                                    class="glyphicon glyphicon-calendar departure-span-modify-search-img pull-right"></i></button>
                                        </span>
                                    </p>
                                <p class="input-group" ng-if="mod.isPersianCalendarType">
                                <adm-dtp ng-model='mod.returnDate' name="search-arrival-date" options='{calType: "jalali", format: "DD/MM/YYYY",autoClose:"true",zIndex:2147483647}' mindate="mod.departureDate"></adm-dtp>
                                <!--                                          mindate="{{maxDateForVissaIssue}}"                  maxdate="{{maxDateForVissaIssue}}" ng-required="paxDetailConfig.visaDocIssueDate.mandatory[passenger.type]"></adm-dtp> -->
                                </p>
                            </div>
                        </div><!--/Arrival Date-->
                    </div>

                    <!-- Multi city section -->
                    <div ng-if="false">
                        <div class="row  modify-attr">
                            <!--From Airport-->
                            <div class="col-md-3">
                                <label>Origin <sup class="red">*</sup> </label>
                                <div class="ibe-typeahead" valdr-form-group>
                                    <!--<div class="placeholder" ng-click="main.removePlaceholder()" ng-show="main.placeHolder"><span class="placeholder-txt">From</span><span class="placeholder-icon">*</span></div>-->
                                    <div placeholder-caption="From" placeholder-symbol="*" is-visible="false">
                                        <input ng-model="mod.fromAirport" type="text" id="search-from"
                                               name="search-from"
                                               uib-typeahead="airport as airport.en for airport in mod.airports | filter:$viewValue | limitTo:8"
                                               typeahead-loading="loadingLocations" typeahead-no-results="noResults"
                                               class="form-control direction-ltr text-left" value="" ng-bind="mod.searchFromAirport"
                                               autocomplete="off" typeahead-on-select="mod.filterDesAirport()"/>
                                    </div>
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults" translate="msg_selectFare_NoResultsFound">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                                </div>
                            </div><!--/From Airport-->

                            <!--To Airport-->
                            <div class="col-md-3">
                                <label>Destination <sup class="red">*</sup> </label>
                                <div class="ibe-typeahead" valdr-form-group>
                                    <div placeholder-caption="To" placeholder-symbol="*" is-visible="false">
                                        <input ng-model="mod.toAirPort" id="search-to" name="search-to" type="text"
                                               uib-typeahead="airport as airport.en for airport in mod.desAirports | filter:$viewValue | limitTo:8"
                                               typeahead-loading="loadingLocations" typeahead-no-results="noResults"
                                               class="form-control direction-ltr text-left" autocomplete="off"/>
                                    </div>
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults" translate="msg_selectFare_NoResultsFound">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                                </div>
                            </div><!--/To Airport-->

                            <!--Departure Date
                            <div class="col-md-4" ng-if="!mod.isArrivalDate">-->
                            <div class="col-md-3">
                                <label>Departure Date <sup class="red">*</sup> </label>
                                <div class="ibe-date-picker xs-ibe-date-picker" valdr-form-group>
                                    <p class="input-group">
                                        <input name="departuredate" ng-model="mod.departureDate"
                                               id="search-departure-date" name="search-departure-date" type="text"
                                               class="form-control" show-button-bar="false" show-weeks="false"
                                               uib-datepicker-popup="{{mod.dateformat}}" is-open="mod.fromDateOpened"
                                               min-date="mod.minDepartureDate" max-date="mod.returnDate"
                                               datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                               close-text="Close"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"
                                                    ng-click="mod.dpOnClick($event, 'fromDateOpened', mod.isDepartureDate)"><i
                                                    class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                            </div><!--/Departure Date-->

                            <div class="col-md-3">
                                <label>Arrival Date <sup class="red">*</sup> </label>
                                <div class="ibe-date-picker xs-ibe-date-picker" valdr-form-group valdr-enabled="mod.isArrivalDate">
                                    <p class="input-group">
                                        <input ng-model="mod.returnDate" id="search-arrival-date"
                                               name="search-arrival-date" type="text" class="form-control"
                                               show-button-bar="false" show-weeks="false"
                                               uib-datepicker-popup="{{mod.dateformat}}" is-open="mod.toDateOpened"
                                               min-date="mod.departureDate" max-date="maxDate"
                                               datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                               close-text="Close"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"
                                                    ng-click="mod.dpOnClick($event, 'toDateOpened', mod.isArrivalDate)"><i
                                                    class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                            </div><!--/Arrival Date-->
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="">+ Add City</a>
                            </div>
                        </div>
                    </div>
                    <!--// Multi city section -->

                    <div class="row  modify-attr">
                        <div class="passenger-count-select col-md-4 col-sm-6 col-xs-12">
                            <label translate="lbl_modifySearch_passenger">Passengers </label>&nbsp;<sup class="red">*</sup>
                            <isa-passenger-picker
                                id="pax-picker"
                                passenger-details="mod.passengerDetails"
                                is-open="false">
                            </isa-passenger-picker>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <label translate="lbl_modifySearch_cabinType">Cabin Type </label>
                            <div class="ibe-drop-down">
                                <div class="btn-group xs-btn-group-class" uib-keyboard-nav uib-dropdown is-open="status.isopen">
                                    <button  ng-model="mod.selectedCabinType" id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle
                                            ng-disabled="disabled">
                                        <!-- <span class="dp-caption">{{mod.selectedCabinType}}</span> <span
                                            class="dp-caret fa fa-chevron-down"></span> -->
                                        <span class="dp-caption">{{mod.selectedCabinType}}</span>
                                        <span class="fa fa-angle-down pull-right"  ></span>
                                    </button>
                                    <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                                        <li ng-click="mod.onCabinItemSelect(this.n)" role="menuitem"
                                            ng-repeat="n in mod.cabinTypes" onclick="closeDropdown()"><a href="javascript:;">{{n}}</a></li>
                                    </ul>
                                    <script type="text/javascript">
                                        
                                        function closeDropdown() {
                                                    if ($('.xs-btn-group-class').hasClass('open')) {
                                                        $('.xs-btn-group-class').removeClass('open');
                                                    }
                                                }</script>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 hidden-sm hidden-xs" ng-if="mod.isPromoEnabled">
                            <label for="search-promo-code" translate="lbl_modifySearch_promoCode">Promo Code </label>
                            <input ng-model="mod.searchCriteria.promoCode" id="search-promo-code"
                                   name="search-promo-code"
                                   class="form-control ng-valid ng-dirty ng-valid-number ng-touched" type="text">
                        </div>
                    </div>

                    <div class="row  modify-attr modify-curr-attr">
                        <div class="hidden-md hidden-lg col-sm-6 col-xs-12" ng-if="mod.isPromoEnabled">
                            <label for="search-promo-code" translate="lbl_modifySearch_promoCode">Promo Code </label>
                            <input ng-model="mod.searchCriteria.promoCode" id="search-promo-code"
                                   name="search-promo-code"
                                   class="form-control ng-valid ng-dirty ng-valid-number ng-touched" type="text">
                        </div>

                        <div class="col col-md-4 col-sm-6 col-xs-12">
                            <div class="data-input">
                                <label translate="lbl_modifySearch_currency">Currency  </label>&nbsp;<sup class="red">*</sup>

                                <div valdr-form-group>
                                    <div class="ibe-drop-down ibe-drop-down-currency">
                                        <div class="btn-group xs-btn-group-class" uib-keyboard-nav uib-dropdown>
                                            <button id="currency-button"
                                                    type="button" class="btn btn-primary"
                                                    uib-dropdown-toggle
                                                    ng-disabled="disabled"
                                                    ng-model="mod.selectedCurrency"
                                                    name="currency"
                                                    enable-valdr-validation
                                                    enable-valdr-message>
                                                <span class="dp-caption">{{mod.selectedCurrency|| ''}}&nbsp;</span>
                                                <span class="fa fa-angle-down pull-right currency-down"></span>
                                            </button>
                                            <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                                                <li ng-repeat="currency in mod.currencyList"
                                                    ng-click="mod.setCurrency(currency)"
                                                    role="menuitem" onclick="closeDropdown()"><a href="javascript:;">{{currency[mod.selectedLanguage]
                                                    ? currency[mod.selectedLanguage] : currency.en }}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>



                        <div class="hidden-sm hidden-md  hidden-lg col-md-3 col-xs-12 text-right col-btn-search">
                            <button type="submit" id="btn-search-modify-search" class="btn red-btn modify-search-btn"
                                    translate="btn_selectFare_SearchFlights">Search Flights
                            </button>
                        </div>

                    </div>

                    <div class="row hidden-xs">
                        <div class="col-sm-6 col-md-4 text-right col-btn-search pull-right">
                            <button type="submit" id="btn-search-modify-search" class="btn red-btn"
                                    translate="btn_selectFare_SearchFlights">Search Flights
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- // Search Box -->


    </form>
    <div class="modify-search-overlay ng-cloak" ng-show="mod.isModifyVisible" ng-click="mod.hideModifySearch()"></div>
</div>
