<div class="container pd-0" ng-class="{'confirm-page': main.selectedStep.id === 'confirm'}">
    <div class="hidden-xs">
        <ul>
            <!-- For Screen other than mobile -->
            <li class="hidden-xs logo pd-4 pd-tp-2">
                <a href="{{main.logoLink}}">
                    <img src="images/main_logo.png" alt="Air Arabia">
                </a>
            </li>
            <!-- For Mobile Screen-->
            <li class="hidden-sm hidden-md hidden-lg logo xs-logo">
                <a href="{{main.logoLink}}">
                    <img src="images/main_logo.png" alt="Air Arabia">
                </a>
            </li>
            <li class="{{main.steps[4]['status']}} wd-header" id="{{main.steps[4]['id']}} ">
                <a href="javascript:;" ng-click="main.navigateToState('payment')">
                    <table>
                        <tbody>
                            <tr>
                                <td>   
                                    <i class="number" ng-if="main.steps[4]['status'] !== 'completed'">5</i>
                                    <i class="icon-done" ng-if="main.steps[4]['status'] === 'completed'"></i>
                                </td>

                                <td>      
                                    <span translate="{{main.steps[4]['title']}}">Payments</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>           
                </a></li>
            <li class="{{main.steps[3]['status']}} wd-header"  id="{{main.steps[3]['id']}}">
                <a href="javascript:;" ng-click="main.navigateToState('extras')">
                    <table>
                        <tbody>
                            <tr>
                                <td>           
                                    <i class="number" ng-if="main.steps[3]['status'] !== 'completed'">4</i>
                                    <i class="icon-done" ng-if="main.steps[3]['status'] === 'completed'"></i>
                                </td>

                                <td>           
                                    <span translate="{{main.steps[3]['title']}}">Extras</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>        
                </a></li>
            <li class="{{main.steps[2]['status']}} wd-header" id="{{main.steps[2]['id']}}">
                <a href="javascript:;" ng-click="main.navigateToState('passenger')">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <i class="number" ng-if="main.steps[2]['status'] !== 'completed'">3</i>
                                    <i class="icon-done" ng-if="main.steps[2]['status'] === 'completed'"></i>
                                </td>

                                <td>          
                                    <span translate="{{main.steps[2]['title']}}">Passengers</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>        

                </a></li>
            <li class="{{main.steps[1]['status']}} wd-header"  id="{{main.steps[1]['id']}}">
                <a href="javascript:;" ng-click="main.navigateToState('fare')">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <i class="number" ng-if="main.steps[1]['status'] !== 'completed'">2</i>
                                    <i class="icon-done" ng-if="main.steps[1]['status'] === 'completed'"></i>
                                </td>

                                <td>        
                                    <span translate="{{main.steps[1]['title']}}">Select</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>    

                </a></li>
            <li class="{{steps[0]['status']}} completed wd-header"id="{{main.steps[0]['id']}}">
                <a href="javascript:;" ng-click="main.navigateToState('search')">
                    <table>
                        <tbody>
                            <tr>
                                <td class="search-table ">
                                    <i class="number pull-right" ng-if="main.steps[0]['status'] !== 'completed'">1</i>
                                    <i class="icon-done pull-right" ng-if="main.steps[0]['status'] === 'completed'"></i>
                                </td>

                                <td class="search-table">    
                                    <span>{{main.steps[0]['title']| translate}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>     
                </a>
            </li>
        </ul>
    </div>

    <!-- For extra small devices -->
    <div class="hidden-lg hidden-md hidden-sm">
        <isa-progress main="main" ></isa-progress>
    </div>

</div>