<!-- Page Wrapper -->
<div class="content-wrapper travel-modify-search modify-search">

    <!--<section class="content-header" ui-view="modifySearch"></section>-->

    <section class="content-header" ui-view="modifySearch"></section>    
    <!-- Result Panel -->
    <div id="section-{{$index}}" data-sector-id="{{$index}}" class="flight-result-block clearfix waypoint_{{$index}}" ng-repeat="sector in fare.sectorsData.sectors" ng-class="{'last-block': ($index + 1) == fare.sectorsData.sectors.length}">

        <!-- // Content header -->

        <!-- Content header -->
        <div class="hidden-xs fare-row">
            <!-- Page Title -->
            <h1 id="md-page-title" class="page-title col-md-9 col-sm-8 col-xs-9 {{$index == 0 ? 'onward-page-title' : ''}}">
                <span class="main-text">
                    <span class="thin sm-number">{{$index + 1}}. </span>
                    <span class="thin" translate="{{ (fare.isInbound === 'return' && $index === 1) ? 'lbl_fare_selectReturnFlight' : 'lbl_fare_selectFlight'}}">Select your departing flight from</span>
                    <span class="strong truncate place-holder direction-ltr " title="{{sector.ondInfo.originName}}"> {{sector.ondInfo.originName}} </span>
                    <span class="thin" translate="msg_common_to">to</span>
                    <span class="strong truncate place-holder direction-ltr" title="{{sector.ondInfo.destinationName}}"> {{sector.ondInfo.destinationName}} </span>
                </span>
            </h1><!-- // Page Title -->

            <!-- Button Wrap -->
            <div class="btn-wrap col-md-3 col-sm-4 col-xs-3 pull-right pd-r-0 sm-modify-btnwrap" ng-show="$index == 0">
                <div class="row modify-search-currency">
                    <div id="modify-search" class="col-l col-md-7 col-sm-7 col-xs-7 pd-r-0 pd-l-0">

                        <a ng-click="fare.showModifySearch()" translate="btn_selectFare_ModifySearch">
                            Modify Search
                        </a>
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </div>

                    <div id="currency" class="col-r col-md-5 col-sm-4 col-xs-5 pd-r-0 pd-l-0" >
                        <span isacurconverter text="Currsss" curruncytypes="fare.curencyTypes" isopen="false" selected-currency="fare.defaultCurrencyType"></span>
                    </div>
                </div>    
            </div><!-- // Button Wrap -->
        </div>


        <!--        <div class="modify-search-currency hidden-lg hidden-md hidden-sm" ng-show="$index == 0">
                                <div class="btn-wrap  pd-r-0" >
                    <div class="row btn-wrap col-xs-6 modify-search-currency">
                        <div id="modify-search" class="col-xs-4 pd-r-0 pd-l-0">
                            <a ng-click="fare.showModifySearch()" translate="btn_selectFare_ModifySearch">
                                Modify Search
                            </a>
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </div>
                        <div id="currency" class="col-xs-2  pd-l-0 pull-right" ng-show="$index == 0">
                            <span isacurconverter text="Currsss" curruncytypes="fare.curencyTypes" isopen="false" selected-currency="fare.defaultCurrencyType"></span>
                        </div>
                    </div>
                                </div>
                </div>-->


        <!-- Hidden Small/Medium/Large -->
        <div class="row hidden-lg hidden-md hidden-sm">
            <!-- Page Title -->
            <div class="col-xs-12 source-destination-div">
                <h1 id="xs-page-title" class="page-title">
                    <span class="ico {{ (fare.isInbound === 'return' && $index === 1) ? 'icon-plane-shape icon-plane_shape_L' : 'icon-plane-shape icon-plane_shape_R'}}" style="font-size:16px !important;margin-right:5px !important;color:#9b9b9b !important;">                            <span class="path1"></span><span class="path2"></span>                      
                    </span>
                    <span class="main-text pull-right" style="padding-top: 10px;max-width: 93%;">
                        <p class="xs-travel-heading-text row">
                            <span class="thin source-destination" translate="msg_common_from">from</span>
                            <span class="strong source-destination truncate place-holder direction-ltr" title="{{sector.ondInfo.originName}}"> {{sector.ondInfo.originName}} </span>
                            <span class="thin source-destination" translate="msg_common_to">to</span>
                            <span class="strong source-destination truncate place-holder direction-ltr" title="{{sector.ondInfo.destinationName}}"> {{sector.ondInfo.destinationName}} </span>
                        </p>
                    </span>
                </h1><!-- // Page Title -->
            </div>
            <!--</div>-->
        </div>

        <!-- Content Body -->
        <section class="content-body travelfare-body">

            <!-- Row -->
            <div id="flight-options" class="row mobile-row">

                <div  class="ma-bt-4 fare-block-rtl"
                      ng-class="{'block-day':fare.isBlockFare}"
                      fare-floater
                      datasource="sector.timeLineData"
                      on-after-slide="fare.setNextPreviousData(setData,direction, $index)"
                      currency="AED"
                      on-before-slide="fare.validate(date, direction,$index)"
                      on-select-date="fare.afterSelected(selectedDate, dayObj,sequence)"
                      cache-data="true"
                      auto-select-date="true"
                      timeline-speed=".4"
                      animation-easing="ease-out-in"
                      display-animation="fadeIn"
                      is-rtl="false"
                      month-text="fare.monthsText"
                      days-text="fare.daysText"
                      on-before-select-date="fare.onBeforeSelectDate(selectedDate, dayObj,sequence, isOriginalEvent)"
                      >
                </div>

                <div class="ribbon-help" ng-show="(fare.searchCriteria['journeyType'] === 'return') && ($index === 1)"
                     ng-if="fare.savingsAvailable[$index]">
                    <label translate="lbl_selectFare_ReturnWithSavings">Return Fares<br>with Savings</label>
                    <i class="ribbon red-ribbon"></i>
                </div>

                <div  class="flight-options col-sm-12 col-xs-12">
                    <isa-flight-select  class="flight-options-table create-flow flight-fares-section"
                                        header-info="sector.flightInfo['fareTypeInfo']"
                                        flight-options="sector.flightInfo['fareFareResults']"
                                        currency="AED"
                                        is-busy-loader-visible="sector.showBusyLoader"
                                        popup-button-caption="fare.popupCaption"
                                        on-select-fare="fare.onSelectFare(selectedFlight, selectedFare,$index)"
                                        on-confirm="fare.onConfirmFare(selectedFlightFares, $index)"
                                        is-popup-visible="fare.isPopupVisible"
                                        savings-available="fare.savingsAvailable"
                                        segment-id = $index
                                        airline-map="fare.airlineMap"
                                        loading-msg="{{fare.sectorsData.sectors[$index].busyLoaderMsg}}"
                                        block-fare="fare.isBlockFare"
                                        show-fare-bundle-description ="fare.showFareBundleDescription"
                                        outer-index ="$index"
                                        is-create-flow="true"
                                        >

                    </isa-flight-select>
                </div>

            </div><!-- // Row -->
            <!-- // Modal Box -->
            <!--<div class="hidden-sm hidden-md hidden-lg section-line" ><hr></div>-->
        </section><!-- // Content Body -->


    </div><!-- // Result Panel -->
    <div class="row"></div>

    <div class="ma-4">
        <!--airport messages-->
        <div class="inpage-alert alert-warning pd-3" ng-show="fare.airportMessages.length != 0" >
            <p ng-repeat="message in fare.airportMessages" ng-bind-html="fare.trust(message)"></p>
        </div><!--airport messages-->
    </div>

    <div class="summary-wrap travelfare-summary" id="travelfare-summary-bottom">
        <div class="summary-drawer fare-timeline-drawer">
            <div class="drawer-desc fadeIn ng-cloak" ng-if="fare.quoteDetailsSummary">
                <div class="container pd-0">
                    <div class="row summary-modify-button summary-selection">
                        <div class="col-md-8 col-sm-8 col-xs-12 summary-title summary-fare-padding">                        
                            <h2><span class="xs-ttlsum-pricebreak pull-left" translate="summary_of_your_selection">Summary of your selection</span></h2>                            
                            <hr class="visible-xs summary-line-hr" style="width: 96%;">
                        </div>   
                        <div class="col-md-4 col-sm-4 pull-right txt-a-r col-xs-12 summary-modify-button-search hidden-xs">
                        <a class="modify-search-link" ng-click="fare.showModifySearch()" translate="btn_selectFare_ModifySearch">
                            Modify Search
                        </a>
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </div>
                    </div>

                    <div class="flight-info-scroll flight-log">
                        <hr class="hidden-xs"/>
                        <div class="flights-info-block col-md-6 col-xs-12 summary-fare-padding" id="travelfare-flight-info-block">
                            <div class="sector-details ma-bt-3" data-ng-repeat="sectorsData in fare.quoteDetailsSummary.sectorsData" >
                                <div class="sector-flight-info">
                                    <div class="row flight-block" >

                                        <div class="div-plain-icon col-md-2 col-sm-2 col-xs-1" >
                                            <span ng-show="{{fare.getFlightDirection(sectorsData.selectedFlight.flight.originCode, sectorsData.selectedFlight.flight.destinationCode) == 'outbound'}}" class="icon-outbound-plane-small">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </span>
                                            <span ng-show="{{fare.getFlightDirection(sectorsData.selectedFlight.flight.originCode, sectorsData.selectedFlight.flight.destinationCode) == 'inbound'}}" class="icon-inbound-plane-small">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </span>
                                        </div>
                                        <div class="div-info col-md-10 col-sm-10 col-xs-9 pd-rt-10" >
                                            <h4 >
                                                <label class="direction-ltr segment-titles-text">{{sectorsData.selectedFlight.flight.originName}}</label>
                                                <span translate="msg_common_to">to</span>
                                                <label class="direction-ltr segment-titles-text">{{sectorsData.selectedFlight.flight.destinationName}}</label>
                                                <label class="fare-type">({{sectorsData.selectedFlight.fare.fareType}})</label>
                                                <!-- <label class="hidden-sm hidden-md hidden-lg"><i>{{sectorsData.selectedFlight.flight.flightNumber}}</i></label> -->
                                            </h4>
                                            <div class="flight-no hidden-xs">
                                                <span class="fligh-no">
                                                    <label><i>{{sectorsData.selectedFlight.flight.flightNumber}}</i></label>  
                                                </span>
                                            </div>
                                            <div class="flight-time">
                                                <span class="departure-arrival">
                                                    <label><i class="i" translate="lbl_common_departure">Departure</i> <i>{{sectorsData.selectedFlight.flight.departureDateTime| convertFlightDateTimeFilter}}</i></label>
                                                    <label><i class="i" translate="lbl_common_arrival">Arrival</i> <i>{{sectorsData.selectedFlight.flight.arrivalDateTime| convertFlightDateTimeFilter}}</i></label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="pd-lt-0 flight-no xs-flight-no xs-flight-no-ltr hidden-sm hidden-md hidden-lg col-xs-1 pull-right">
                                            <span class="fligh-no">
                                                <label class="pull-right"><i>{{sectorsData.selectedFlight.flight.flightNumber}}</i></label>  
                                            </span>
                                        </div>

                                    </div>
                                    <div  class="flight-block" ng-if="sectorsData.selectedFlight.flight.stops"  data-ng-repeat="stopsData in sectorsData.selectedFlight.flight.stops">
                                        <!--<h4 class="title">
                                            <label>{{stopsData.originName}}</label>
                                            <span translate="msg_common_to">to</span>
                                            <label>{{stopsData.destinationName}}</label>
                                        </h4>-->
                                        <div class="div-plain-icon col-md-2 col-sm-2 col-xs-2" >
                                        </div>

                                        <div class="div-info col-md-10 col-sm-10 col-xs-8" >
                                            <div class="flight-no hidden-xs">
                                                <span class="fligh-no">
                                                    <label> <i>{{stopsData.flightNumber}}</i></label>
                                                </span>
                                            </div>
                                            <div class="flight-time">
                                                <span class="departure-arrival">
                                                    <label><i class="i" translate="lbl_common_departure">Departure</i> <i>{{stopsData.departureDateTime| convertFlightDateTimeFilter}}</i></label>
                                                    <label><i class="i" translate="lbl_common_arrival">Arrival</i> <i>{{stopsData.arrivalDateTime| convertFlightDateTimeFilter}}</i></label>
                                                </span>

                                            </div>
                                        </div>
                                        <div class="flight-no hidden-sm hidden-md hidden-lg col-xs-2 pull-right">
                                            <span class="fligh-no">
                                                <label> <i>{{stopsData.flightNumber}}</i></label>
                                            </span>
                                        </div>


                                    </div>
                                </div>
                                <!-- // Flight Sum Block -->

                            </div>
                        </div>
                        <div  id="bottom"  class="price-info-block col-md-6 col-xs-12 xs-price-info-block summary-fare-padding">
                            <h2 class="price-breakdown-lbl">
                                <span class="xs-ttlsum-pricebreak" translate="title_summary_drawer">Price Breakdown for </span>
                                <span ng-if="fare.quoteDetailsSummary.pax.adult != 0" >
                                    <span class="xs-ttlsum-pricebreak" ng-show="fare.quoteDetailsSummary.pax.adult == 1" translate="lbl_common_adultWithValue" translate-values="{a: '{{fare.quoteDetailsSummary.pax.adult}}'}">{{fare.quoteDetailsSummary.pax.adult}} Adult</span>
                                    <span class="xs-ttlsum-pricebreak" ng-hide="fare.quoteDetailsSummary.pax.adult == 1" translate="lbl_common_a_adults" translate-values="{a: '{{fare.quoteDetailsSummary.pax.adult}}'}">{{fare.quoteDetailsSummary.pax.adult}} Adults</span>
                                </span>
                                <span ng-if="fare.quoteDetailsSummary.pax.child != 0" >
                                    <span class="xs-ttlsum-pricebreak" ng-show="fare.quoteDetailsSummary.pax.child == 1" translate="lbl_common_childWithValue" translate-values="{a: '{{fare.quoteDetailsSummary.pax.child}}'}">, {{fare.quoteDetailsSummary.pax.child}} Child </span>
                                    <span class="xs-ttlsum-pricebreak" ng-hide="fare.quoteDetailsSummary.pax.child == 1" translate="lbl_common_a_children" translate-values="{a: '{{fare.quoteDetailsSummary.pax.child}}'}">, {{fare.quoteDetailsSummary.pax.child}} Children </span>
                                </span>
                                <span ng-if="fare.quoteDetailsSummary.pax.infant != 0" >
                                    <span class="xs-ttlsum-pricebreak" ng-show="fare.quoteDetailsSummary.pax.infant == 1" translate="lbl_common_infantWithValue" translate-values="{a: '{{fare.quoteDetailsSummary.pax.infant}}'}">, {{fare.quoteDetailsSummary.pax.infant}} Infant</span>
                                    <span class="xs-ttlsum-pricebreak" ng-hide="fare.quoteDetailsSummary.pax.infant == 1" translate="lbl_common_a_infants" translate-values="{a: '{{fare.quoteDetailsSummary.pax.infant}}'}">, {{fare.quoteDetailsSummary.pax.infant}} Infants</span>
                                </span>
                                <hr class="visible-xs price-break-line-hr">
                            </h2>

                            <div class="clearfix travelfare-price-info-block" ng-repeat="item in fare.quoteDetailsSummary.totalForJourney.paxWise">
                                <span ng-if="item.noOfPax != 0">{{item.noOfPax}} X </span>
                                <span ng-if="item.paxType === 'AD' && item.noOfPax != 0 && item.noOfPax == 1" translate="lbl_fareQuote_adult">Adult</span>
                                <span ng-if="item.paxType === 'CH' && item.noOfPax != 0 && item.noOfPax == 1" translate="lbl_fareQuote_child">Child</span>
                                <span ng-if="item.paxType === 'IN' && item.noOfPax != 0 && item.noOfPax == 1" translate="lbl_fareQuote_infant">Infant</span>
                                <span ng-if="item.paxType === 'AD' && item.noOfPax != 0 && item.noOfPax != 1" translate="lbl_fareQuote_adults">Adults</span>
                                <span ng-if="item.paxType === 'CH' && item.noOfPax != 0 && item.noOfPax != 1" translate="lbl_fareQuote_children">Children</span>
                                <span ng-if="item.paxType === 'IN' && item.noOfPax != 0 && item.noOfPax != 1" translate="lbl_fareQuote_infants">Infants</span>

                                <span class="pull-right in-detail" ng-if="item.noOfPax != 0">
                                    <span class="currency-text currency currency-left"></span>
                                    <span class="font-weight-normal currency-value fare-value price xssm-top-curval amount-right"  
                                    isa-connector="{{item.totalFare}}" 
                                    decimal-points="2" 
                                    with-decimal="true"></span>

                                </span>
                            </div>
                            <div class="clearfix">
                                <span class="hy-inline-block" translate="lbl_summary_drawer_airportTax">Airport Tax & Surcharge</span>
                                <span class="pull-right in-detail">
                                    <span class="currency-text currency currency-left"></span>
                                    <span class="font-weight-normal currency-value fare-value price amount-right"
                                     isa-connector="{{main.calculateTotal(fare.quoteDetailsSummary.totalTaxAndSurcharges,fare.quoteDetailsSummary.serviceTaxForAdminFee,fare.quoteDetailsSummary.totalServiceTax*-1)}}" 
                                     decimal-points="2" 
                                     with-decimal="true"></span>
                                </span>
                            </div>
                            <div class="clearfix font-color-red" ng-repeat="promo in fare.quoteDetailsSummary.promoInfo">
                                <span class="promo" ng-if="promo.type != 'RETURN_DISCOUNT' && promo.discountAs == 'Money' && main.calculateTotal(promo.discountAmount, fare.quoteDetailsSummary.anciPromotion) != '0'">
                                    <span class="hy-inline-block" translate="lbl_summary_drawer_promotion">Promotion discount</span>
                                    <span class="pull-right in-detail">
                                        <span class="currency-text currency currency-left"></span>
                                        <span class="font-weight-normal currency-value fare-value price font-weight-bold amount-right" 
                                        isa-connector="{{main.calculateTotal(promo.discountAmount, fare.quoteDetailsSummary.anciPromotion)}}" 
                                        decimal-points="2" 
                                        is-promotion="true" with-decimal="true"></span>
                                    </span>
                                </span>
                                <span class="promo" ng-if="promo.type === 'RETURN_DISCOUNT' && promo.discountAs === 'Money' && fare.quoteDetailsSummary.journeyType === 'return' && promo.discountAmount != '0'">
                                    <span class="hy-inline-block" translate="lbl_summary_drawer_discount">Discount for booking a return flight</span>
                                    <span class="pull-right in-detail">
                                        <span class="currency-text currency currency-left"></span>
                                        <span class="font-weight-normal currency-value fare-value price font-weight-bold amount-right" 
                                        isa-connector="{{promo.discountAmount}}" 
                                        decimal-points="2" 
                                        is-promotion="true" 
                                        with-decimal="true"></span>
                                    </span>
                                </span>
                            </div>


                            <div class="clearfix " ng-if="main.extraTotal && main.extraTotal !== '0'">
                                <span class="hy-inline-block" translate="lbl_summary_drawer_additional">Total additional services</span>
                                <span class="pull-right in-detail">
                                    <span class="currency-text currency currency-left"></span>
                                    <span class="font-weight-normal currency-value fare-value price font-weight-bold amount-right" 
                                    isa-connector="{{main.extraTotal}}" 
                                    decimal-points="2" 
                                    with-decimal="true"></span>
                                </span>
                            </div>
                            <div class="clearfix " ng-if="main.serviceTaxTotal && main.serviceTaxTotal !=='0'">                                    
                                <span translate="lbl_summary_drawer_serviceTax">Service Tax</span>
                                    <span class="pull-right in-detail">
                                    <span class="currency-text currency currency-left"></span>
                                    <span class="font-weight-normal currency-value fare-value price font-weight-bold amount-right" 
                                    isa-connector="{{main.serviceTaxTotal}}" 
                                    decimal-points="2" 
                                    with-decimal="true"></span>
								</span>
							</div>  
							
							<div class="clearfix" ng-if="adminFee !==0">
								<span translate="lbl_summary_administrationFee">Administration
									Fee</span> <span class="pull-right in-detail"> <span
									class="currency-text currency currency-left"></span> <span
									class="font-weight-normal currency-value fare-value price "
									isa-connector="{{adminFee}}" decimal-points="2"
									with-decimal="true"></span>
								</span>
							</div>   
                            <div  class="clearfix " ng-if="fare.quoteDetailsSummary.jnTax && fare.quoteDetailsSummary.jnTax !== '0'">
                                <span class="hy-inline-block" translate="lbl_summary_drawer_jnTax">JN tax for ancillaries and flexi</span>
                                <span class="pull-right in-detail">
                                    <span class="currency-text currency currency-left"></span>
                                    <span class="font-weight-normal currency-value fare-value price font-weight-bold amount-right" 
                                    isa-connector="{{fare.quoteDetailsSummary.jnTax}}"
                                    decimal-points="2" 
                                    with-decimal="true"></span>
                                </span>
                            </div>
                            <hr/>

                            <div class="clearfix sub-total">

                                <span class="pull-left hy-inline-block" style="width:65%;" translate="lbl_summary_drawer_inclusive">Total all inclusive</span>
                                <span class="pull-right in-detail">
                                    <span class="currency-text currency currency-left"></span>
                                    <span class="currency-value fare-value price font-weight-bold xssm-curval amount-right" isa-connector="{{main.calculateTotal(fare.quoteDetailsSummary.totalPrice,main.extraTotal,fare.quoteDetailsSummary.jnTax ,fare.quoteDetailsSummary.anciPromotion,main.serviceTaxTotal,fare.quoteDetailsSummary.totalServiceTax*-1,adminFee)}}" decimal-points="2" with-decimal="true"></span>
                                </span>
                            </div>

                            <div class="clearfix font-color-red" ng-repeat="promo in fare.quoteDetailsSummary.promoInfo">
                                <span class="promo" ng-if="promo.discountAs === 'Credit' && promo.discountAmount != 0">
                                    <span class="hy-inline-block" translate="lbl_summary_drawer_credit">Credit for future usage</span>
                                    <span class="pull-right in-detail">
                                        <span class="currency-text currency currency-left"></span>
                                        <span class="font-weight-normal currency-value fare-value price font-weight-bold amount-right" 
                                        isa-connector="{{main.calculateTotal(promo.discountAmount, fare.quoteDetailsSummary.anciCredit)}}" 
                                        decimal-points="2" 
                                        with-decimal="true"></span>
                                    </span>
                                </span>

                            </div>
                            <div class="clearfix" ng-show="fare.baseCurrency != fare.quoteDetailsSummary.selectedCurrencyType || fare.baseCurrency != fare.getSelectedCurrencyType()">
                                <span class="hy-inline-block">Equivalent</span>
                                <span class="pull-right in-detail">
                                    <span class="currency-text currency-left">{{fare.baseCurrency}}</span>
                                    <span class="font-weight-normal currency-value fare-value price amount-right" 
                                    isa-connector="{{main.calculateTotal(fare.quoteDetailsSummary.totalPrice, main.extraTotal, fare.quoteDetailsSummary.jnTax, fare.quoteDetailsSummary.anciPromotion,main.serviceTaxTotal,fare.quoteDetailsSummary.totalServiceTax*-1,adminFee)}}" 
                                    decimal-points="2" 
                                    with-decimal="true" 
                                    is-base-currency="true"></span>
                                </span>
                            </div>
                            <div class="fare-curr-diff" ng-show="fare.baseCurrency != fare.quoteDetailsSummary.selectedCurrencyType || fare.baseCurrency != fare.getSelectedCurrencyType()">
                                <span style="top:11px" class="blue-star hidden-xs xs-allpayment-msg">*</span>
                                <h4 class="d-inline-b xs-allpayment-msg" 
                                translate="msg_summary_drawer_allPayment"  
                                translate-values="{a: '{{fare.baseCurrency}}'}">All payments will be charged in {{fare.baseCurrency}}. All other currencies are
                                    for reference only.</h4>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--Only show summary block if 1st sectors flights have loaded-->
        <div class="flights-summary-block-continue pd-r-3 pd-l-3" ng-if="fare.quoteDetailsSummary">
            <div class="row">
                <div class="copyright col-md-8 col-sm-6 col-xs-12 xs-fs-12 summary-fare-padding">

                    <div class="input-option" ng-show="fare.putCheckboxToAcceptTerms">
                        <span class="checkbox">
                            <input type="checkbox"
                                   name="agreeCheckbox"
                                   id="agreeCheckbox"
                                   checked
                                   ng-model="fare.agreeToTerms">
                            <label for="agreeCheckbox">
                                <span translate="lbl_summary_drawer_termsAgreeText">I agree to the  </span>
                                <a href="javascript:" ng-if="main.appConfigs.showFareRule" ng-click="main.showFareRule()" translate="lbl_common_fare_rules_title">Fare rules</a>
                                <span ng-if="main.appConfigs.showFareRule" translate="lbl_common_and">and</span>
                                <a href="javascript:;" ng-click="main.showTermsAndConditions()" translate="lbl_common_terms">Terms and Conditions.</a>
                                <span ng-if="main.selectedLanguage == 'fa'" translate="lbl_common_airlines_text"></span>
                            </label>
                        </span>
                    </div>

                    <div class="copyright-text" ng-hide="fare.putCheckboxToAcceptTerms">
                        <sup class="red">*</sup>
                        <div class="terms-and-condition text-left">
                            <span translate="lbl_summary_drawer_termsText">By clicking Proceed to Passenger Details button you agree to the  </span>
                            <a href="javascript:" ng-if="main.appConfigs.showFareRule" ng-click="main.showFareRule()" translate="lbl_common_fare_rules_title">Fare rules</a>
                            <span ng-if="main.appConfigs.showFareRule" translate="lbl_common_and">and</span>
							<a href='//www.airarabia.com/terms-and-conditions' target='_blank' translate="lbl_common_terms">Terms and Conditions</a>
							<span translate="lbl_common_andtxt"> and </span>
							<a href='//www.airarabia.com/privacy-policy' target='_blank' translate="lbl_common_privacyPolicy">Privacy Policy</a>
                        </div>
                    </div>
                </div>

                <div class="button-block col-md-4 col-sm-6 col-xs-12 xs-proceedtopass-div summary-fare-padding">
                    <div ng-click="fare.onContinueToPassenger()"
                         ng-disabled="fare.isProceedDisabled()"
                         id="btn-proceed-to-passenger"
                         ng-show="main.selectedStep.id === 'fare'"
                         class="btn red-btn btn-sm col-sm-4 truncate"
                         translate="lbl_summary_drawer_passengerDetails">Proceed to Passenger Details</div>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row" ng-if="fare.quoteDetailsSummary" ng-hide="fare.hidePaymentOptions">
                <div class="col-md-12 col-sm-12 col-xs-12 flight-select-payment-option pay-align">
                    <span class="col-xs-3 pd-0 payment-option-text">
                        <span translate="lbl_fare_payBy">You can pay by</span>:
                    </span>
                    <span class="col-xs-9 col-md-9 col-sm-9 col-lg-9 pd-l-0 pd-r-0 payment-logo-group">
                    <span data-ng-repeat="pgm in fare.paymentOptions" style="margin-right: 20px; margin-bottom: 10px; vertical-align: super;">
						<img ng-src="images/payment-logos/{{pgm.toLowerCase()}}.jpg" alt="{{pgm}}" style="width:60px;max-width:60px;">
					</span>
                    </span>
                </div>
            </div>
        </div>
        <isa-busy-loader ng-show="fare.isFareQuoteBusyLoaderVisible" msg-text="{{ 'msg_fare_loadingMsgForFareQuote' | translate }}"/>
    </div>

    <!-- Modal Box -->
    <div class="modal-box" ng-show="main.ismodalModal">
        <!-- Overlay -->
        <div class="overlay"></div><!-- // Overlay -->

        <!-- Modal Content -->
        <div class="modal-content" ng-class="{'fare-rule-popup':main.fareRules}" style="max-width: 900px;top:10%;max-height: 600px">

            <!-- Modal Header -->
            <div class="modal-header">
                <span ng-if="main.termsNCondition" class="text" translate="lbl_common_terms">Terms and Conditions.</span>
                <span ng-if="main.fareRules" class="text" translate="lbl_common_fare_rules_title">Fare rules</span>
                <span class="close-btn" ng-click="main.closePopup()">
                    <i class="fa fa-times"></i>
                </span>
            </div><!-- // Modal Header -->

            <!-- Modal Body -->
            <div ng-if="main.termsNCondition" class="modal-body" style="max-height: 425px;overflow-y: auto">
                <p ng-bind-html="main.popUpData">

                </p>
            </div>
            <div  ng-if="main.fareRules">
                <span data-ng-repeat="fare in main.fareRulesDescriptions">
                    <p ng-bind-html="fare">

                    </p>
                </span>

            </div>
            <!-- // Modal Body -->
            <!-- Modal Footer -->
            <div class="modal-footer">

                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-6">

                    </div>

                    <div class="col-md-6 col-sm-12 col-xs-6">
                        <button class="button red-btn" type="button" ng-click="main.closePopup()" translate="btn_summary_drawer_continue">Close and continue</button>
                    </div>
                </div>
            </div><!-- // Modal Footer -->
        </div><!-- // Modal Content -->
    </div>
</div><!-- // Page Wrapper -->