<html dir="{{main.getDir()}}" class="{{main.getDir()}} {{main.getLangCode()}}" ng-controller="indexCtrl as main">
    <div class="container pd-0">               
            <div>
                <ul>
                    <li id="xs-li-logo" class="logo pd-tp-2 xs-li-logo">
                        <span style="align:center" id="xs-logo-img"><a href="{{main.logoLink}}">                            
                                <img src="images/main_logo.png" alt="Air Arabia">
                            </a>                        
                        </span>
                    </li>
                </ul>
            </div>
            <div class="row xs-icon xs-menu" ng-class="{'xs-hidden-nav':main.steps[4]['status'] === 'completed'}">
                <ul id="header-title" class="" ng-class="{'col-xs-12':main.steps[4]['status'] === 'current' || applicationMode !== 'create','col-xs-6':main.steps[4]['status'] != 'current'&& applicationMode === 'create'}">
                    <li class="{{main.steps[4]['status']}}" 
                        ng-if="main.steps[4]['status'] === 'current'"id="{{main.steps[4]['id']}}" >
                        <a href="javascript:;" ng-click="main.navigateToState('payment')">
                            <table id="lbl_header_nav_payment">
                                <tbody>
                                    <tr>
                                        <td>   
                                            <i class="number" ng-if="main.steps[4]['status'] !== 'completed'">5</i>
                                            <i class="icon-done" ng-if="main.steps[4]['status'] === 'completed'"></i>
                                        </td>
                                        <td>      
                                            <i id="lbl_header_nav_payment1" translate="title_payment_review">Payments</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>           
                        </a></li>
                    <li class="{{main.steps[3]['status']}} xs-li-6" ng-if="main.steps[3]['status'] === 'current'" id="{{main.steps[3]['id']}}" >
                        <a href="javascript:;" ng-click="main.navigateToState('extras')">
                            <table>
                                <tbody>
                                    <tr>
                                        <td ng-show="extraNavTag === ''">                                            
                                            <i class="number" ng-if="main.steps[3]['status'] !== 'completed'">4</i>
                                            <i class="icon-done" ng-if="main.steps[3]['status'] === 'completed'"></i>
                                        </td>

                                        <td ng-class="{'create-flow-header':applicationMode == 'create' && extraNavTag === '' ,'create-flow-header-addons':applicationMode == 'create' && extraNavTag !== '' ,'modify-flow-header':applicationMode !== 'create'}" >           
                                            <span class="normal-text" ng-if="extraNavTag === ''" translate="{{main.steps[3]['title']}}">Extras</span>
                                            <span class="extra-pd" ng-if="extraNavTag != ''" translate="{{extraNavTag}}">Extras</span>                                           

                                        </td>
                                    </tr>
                                </tbody>
                            </table>        
                        </a></li>
                    <li class="{{main.steps[2]['status']}} xs-li-6" ng-if=" main.steps[2]['status'] === 'current'" id="{{main.steps[2]['id']}}" >
                        <a href="javascript:;" ng-click="main.navigateToState('passenger')">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <i class="number" ng-if="main.steps[2]['status'] !== 'completed'">3</i>
                                            <i class="icon-done" ng-if="main.steps[2]['status'] === 'completed'"></i>
                                        </td>

                                        <td ng-class="{'create-flow-header':applicationMode == 'create', 'modify-flow-header':applicationMode !== 'create'}">          
                                            <span class="" translate="{{main.steps[2]['title']}}">Passengers</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>        

                        </a></li>
                    <li class="{{main.steps[1]['status']}} xs-li-6" ng-if="main.steps[1]['status'] === 'current'" id="{{main.steps[1]['id']}}" >
                        <a href="javascript:;" ng-click="main.navigateToState('fare')">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <i class="number" ng-if="main.steps[1]['status'] !== 'completed'">2</i>
                                            <i class="icon-done" ng-if="main.steps[1]['status'] === 'completed'"></i>
                                        </td>

                                        <td ng-class="{'create-flow-header':applicationMode == 'create', 'modify-flow-header':applicationMode !== 'create'}">        
                                            <span translate="{{main.steps[1]['title']}}">Select</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>    

                        </a></li>
                    <li class="{{steps[0]['status']}} completed xs-li-6" ng-if="main.steps[0]['status'] === 'current'"id="{{main.steps[0]['id']}}" >
                        <a href="javascript:;" ng-click="main.navigateToState('search')">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <i class="number" ng-if="main.steps[0]['status'] !== 'completed'">1</i>
                                            <i class="icon-done" ng-if="main.steps[0]['status'] === 'completed'"></i>
                                        </td>

                                        <td ng-class="{'create-flow-header':applicationMode == 'create', 'modify-flow-header':applicationMode !== 'create'}">    
                                            <span>{{main.steps[0]['title']| translate}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>     
                        </a>
                    </li>
                </ul>                                                                                                                                             

                <div ng-show="applicationMode === 'create'" id="md-sr-cr-bg" class="pd-r-0 modify-search-currency col-xs-6" ng-class="{'hidden':main.steps[4]['status'] === 'current', 'modify-cur-background': applicationMode !== 'create' , 'modify-cur-bg-grey': applicationMode === 'create'}">                                                                
                    <ul  ng-if="applicationMode === 'create'"> 
                        <li class="btn-wrap  pd-r-0" ng-hide="extraNavTag">                       
                            <table class="row modify-search-currency" style="display: table">
                                <tbody>
                                    <tr>
                                        <td  id="" class=" pd-r-0 pd-l-0 "  ng-click="showModifySearch()" style="width: 68.75%; display: table-cell"> 
                                            <a  ng-if="modifyValue !== 21" translate="btn_selectFare_ModifySearch" class="truncate pull-left xs-msearch">
                                                Modify Search
                                                </a>
                                            <a  ng-if="modifyValue === 21" translate="btn_selectFare_ModifySearch" class="truncate pull-left xs-msearch">
                                                Modify Search
                                                </a>
                                            <i class="fa fa-angle-down xs-modify-fa" ></i>
                                        </td>
                                        <td id="" class="pd-l-0 text-right " style="width: 31.25%; display: table-cell">
                                            <span class="currency-txt" isacurconverter text="Currsss" curruncytypes="curencyTypes" isopen="false" selected-currency="defaultCurrencyType"></span>
                                             <!--<span isacurconverter text="Currsss" curruncytypes="main.curencyTypes" isopen="false" selected-currency="main.defaultCurrencyType"></span>-->
                                        </td>
                                    </tr>
                                </tbody>
                                               
                                
                            </table>
<!--                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a translate="btn_selectFare_ModifySearch" class="truncate pull-left">
                                                Modify Search
                                                </a><i class="fa fa-angle-down" style="font-size:14px;"></i>
                                        </td>

                                        <td>    
                                           <span isacurconverter text="Currsss" curruncytypes="curencyTypes" isopen="false" selected-currency="main.defaultCurrencyType"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>     -->
                        </li>
                           
                        <li ng-show="extraNavTag" class="extras-header content-wrapper">
                            <section class="content-header">
                                <div class="page-title xs-textcenter">                                
                                    <h1>                                                           
                                        <a href="" class="extras-page-sub-title truncate pd-l-2 pd-r-2" ng-click="skipServices()" translate="{{skipService}}">Skip
                                             Selection</a>
                                    </h1> 
                                </div>
                            </section> 
                        </li>
                </ul>                    
                </div>                                
            </div>       
    </div>
</html>