<div ng-controller="radioOptionListController" class="isa-radio-option-list-wrapper"  >

    <div class="widget-header">
        <span class="left">Total</span>
        <span class="right">
            <i class="currency"></i> <i isa-connector="{{headerValue}}"></i>
        </span>
    </div><!-- // Widget Header -->

    <!-- Widget Content -->
    <div class="widget-content">

        <!-- Section -->
        <div   class="w-section " ng-class={highlighted:selectedSection==key} ng-repeat="(key,flights) in source">
            <div class="section-heading">
                <span class="text">{{key}} trip</span>
                <i><img src="images/misc/{{key}}-plane.svg"></i>
            </div>

            <!-- Radio Section repeat-->
            <div class="radio-section" ng-repeat="flight in flights" >

                <!-- Item  -->
                <div class="item" >

                    <!-- Title -->
									<span class="radio " >
			                			<input  name="radioname" type="radio" id="radio-{{ key + '-' + $index}}" ng-checked=" key == 'Outbound'">
			                			<label data-section-key="{{key}}" ng-click="optionOnSelect($event,$index,key)" for="radio-{{ key + '-' + $index}}">{{flight.from}} to {{flight.to}}
                                            <span class="currency">
                                            <i ng-if="(type == 'default')" isa-connector="{{flight.extrasTotal.total}}"></i>
                                            <i ng-if="(type == 'meal')" isa-connector="{{flight.extrasTotal.meals.total}}"></i>
                                            <i ng-if="(type == 'baggage')" isa-connector="{{flight.extrasTotal.baggage.total}}"></i>
                                            <i ng-if="(type == 'seat')" isa-connector="{{flight.extrasTotal.seat.total}}"></i>
                                            <i ng-if="(type == 'insurance')" isa-connector="{{flight.extrasTotal.insuarance.total}}"></i>
                                            <i ng-if="(type == 'services')" isa-connector="{{flight.extrasTotal.services.total}}"></i>

                                        </span></label>
			                		</span><!-- // Title -->

                    <!-- Sub Section firstLevel repeat-->
                    <div class="option-wrapper" ng-show="$index == selectedIndex && key == selectedSection && level == 1">
                        <div class="sub-section" ng-repeat="(exKey,extra) in flight.extrasTotal">
                            <div class="section-title" ng-repeat="(key,value) in extra">
                                <span class="text">{{capitalizeFirstLetter(exKey)}} total </span>
                                <div class="price"><i class="currency"></i> <i isa-connector="{{value}}"></i></div>
                            </div>
                        </div><!-- // Sub Section -->
                    </div>
                    <!-- Sub Section second level repeat-->
                    <div class="sub-section second"  ng-show="($index == selectedIndex && key == selectedSection  && level == 2) ">
                        <div ng-repeat="(key,value) in flight.passenger">
                            <div class="section-title" ng-if="type != 'baggage' && type != 'seat'">
                                <az href="" class="action"><i>‒</i></az>
                                <span class="text">{{getLabel(value,1)}}</span>
                            </div>

                            <ul class="meal-wrapper" ng-init="pasValue = value; pasIndex = $index">
                                <li ng-if="(type == 'meal')" ng-repeat="(key,value) in getSource(value.extras) track by key">
                                        <a href="" class="action"><i class="remove fa fa-trash-o" ng-click="onChildIconClick(this,pasIndex,$index)"></i></a>
                                        <span  class="text">{{value.name}} X  {{value.count}}</span>
                                        <div  class="price"><i class="currency"></i> <i isa-connector="{{value.price}}"></i></div>
                                </li>
                                <li ng-if="(type == 'services')" ng-repeat="(key,value) in getSource(value.extras) track by key">
                                    <a href="" class="action"><i class="remove fa fa-trash-o"></i></a>
                                    <span  class="text">{{value.optionName}}</span>
                                    <div  class="price"><i class="currency"></i> <i isa-connector="{{value.cost}}"></i></div>
                                </li>
                                <li ng-if="(type == 'baggage')" ng-init="value = getSource(value.extras)">
                                        <a href="" class="action"><i class="remove fa fa-trash-o"></i></a>
                                        <span  class="text"> {{getLabel(pasValue,1)}} </span>
                                        <div  class="price"><i class="currency"></i> <i isa-connector="{{value.amount}}"></i></div>
                                </li>
                                <li ng-if="(type == 'seat')" ng-init="value = getSource(value.extras)">
                                    <a href="" class="action"><i class="remove fa fa-trash-o"></i></a>
                                    <span  class="text"> {{getLabel(pasValue,1)}} <span class="seat-number">{{pasValue.extras.seat.seatNumber}}</span></span>
                                    <div  class="price"><i class="currency"></i> <i isa-connector="{{value.price}}"></i></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Sub Section second level-->


                </div><!-- // Item -->


            </div><!-- // Radio Section -->
        </div><!-- // Section -->



    </div><!-- // Widget Content -->

</div>