<div ng-controller="radioOptionListController" class="isa-radio-option-list-wrapper"  >
    <div class="widget-header">    
        <span class="left truncate hy-header-value hidden-xs" translate="{{headerValue}}">{{headerValue}}</span>
        <span class="left truncate hy-header-value hidden-sm hidden-md hidden-lg" ng-if="carrierCode !=='W5' || type !== 'meal'" >{{headerValue | translate}}</span>

        <span class="right" ng-if="previousSource && (carrierCode !=='W5' || type !== 'meal')">
            <i class="currency"></i> <i isa-connector="{{source.total + preferedsource.preferedTotal}}"></i>
		</span>

        <span class="right" ng-if="!previousSource && (carrierCode !=='W5' || type !== 'meal')">
            <i class="currency"></i> <i isa-connector="{{source.total + preferedsource.preferedTotal}}"></i>
        </span>
    </div><!-- // Widget Header -->

    <!-- Widget Content -->
    <div class="widget-content hidden-xs">
        <!-- Section -->
        <div class="w-section"  ng-repeat="(key,flights) in source.scopes">
            <!--<div class="section-heading">
                <span class="text">{{key}} trip  </span>
                <i><img ng-src="images/misc/{{key}}-plane.svg"></i>
            </div>
            -->

            <!-- Radio Section repeat-->
            <div class="radio-section" id="{{$index}}" ng-class="{'highlighted':selectedIndex==$index && !flight.unEditable}" ng-repeat="flight in flights.preferences" >

                <!-- Item  -->
                <div class="item" ng-if="flight.segments[0].from ">

                    <!-- Title - AIRPORT -->
                    <span class="radio " ng-if="flights.scopeType == 'AIRPORT' && flight.preferanceId.point ">
                        <input ng-if="!flight.unEditable"  name="radioname" type="radio" id="radio-{{ key + '-' + $index}}" ng-checked=" selectedIndex == $index">
                        <label data-section-key="{{key}}" ng-click="!flight.unEditable && optionOnSelect($event,$index,key)" for="radio-{{ key + '-' + $index}}">
                            {{flight.segments[0].from}} (<i translate="{{'lbl_common_' + flight.preferanceId.point}}">{{flight.preferanceId.point | capitalizeFirstFilter}}</i>)
                            <span class="price"><i class="currency"></i> <i isa-connector="{{flight.total}}"></i></span>
                        </label>
                    </span><!-- // Title - AIRPORT -->

                    <!-- Title - SEGMENT -->
                    <span class="radio " ng-if="flights.scopeType == 'SEGMENT' ">
                        <input ng-if="!flight.unEditable" name="radioname" type="radio" id="radio-{{ key + '-' + $index}}" ng-checked=" selectedIndex == $index">
                        <label data-section-key="{{key}}" ng-click="!flight.unEditable && optionOnSelect($event,$index,key)" for="radio-{{ key + '-' + $index}}">{{flight.segments[0].from}} <i translate="msg_common_to">to</i> {{flight.segments[0].to}}
                            <span  ng-if="type !== 'meal' && carrierCode !== 'W5' " class="price"><i class="currency"></i> <i isa-connector="{{flight.total}}"></i></span>
                        </label>
                    </span><!-- // Title - SEGMENT -->

                    <!-- Title - OND -->
                    <span class="radio " ng-if="flights.scopeType == 'OND' ">
                        <input ng-if="!flight.unEditable" name="radioname" type="radio" id="radio-{{ key + '-' + $index}}" ng-checked=" selectedIndex == $index">
                        <label data-section-key="{{key}}" ng-click="!flight.unEditable && optionOnSelect($event,$index,key)" for="radio-{{ key + '-' + $index}}">{{flight.segments[0].from}} <i translate="msg_common_to">to</i> {{flight.segments[getLength(flight.segments)].to}}
                            <span class="price"><i class="currency"></i> <i isa-connector="{{flight.total}}"></i></span>
                        </label>

                    </span><!-- // Title - OND -->

                    <ul class="flight-segments" ng-if="flights.scopeType == 'OND' && flight.segments.length > 1">
                       <li ng-repeat="segment in flight.segments">{{segment.from }} <i class="fa fa-angle-right"></i></li>
                       <li>{{flight.segments[getLength(flight.segments)].to}} </i> </li>
                    </ul>

                    <!-- Sub Section firstLevel repeat-->
                    <div class="option-wrapper" ng-show="$index == selectedIndex && level == 1">
                        <div class="sub-section" ng-repeat="(exKey,extra) in flight.extrasTotal">
                            <div class="section-title" ng-repeat="(key,value) in extra">
                                <span class="text">{{capitalizeFirstLetter(exKey)}} total </span>
                                <div class="price"><i class="currency"></i> <i isa-connector="{{value}}"></i></div>
                            </div>
                        </div><!-- // Sub Section -->
                    </div>
                    <!-- Sub Section second level repeat-->
                    <div class="sub-section second"  ng-show="($index == selectedIndex && level == 2) || flight.unEditable">
                        <div ng-repeat="(key,value) in flight.passengers">

                            <!-- Sidebar widget for ancillary seats -->
                            <div class="section-title" ng-if="(type == 'seat')">
                                <div ng-if="!flight.unEditable">
                                    <a class="action" ng-if="value.selectedItems[0].id"><i class="remove fa fa-trash-o pull-left" ng-click="onChildIconClick(this,$event,pasIndex)"></i></a>
                                </div>

                                <span class="text">{{value.passenger.displayName}}</span>
                                <span>{{value.selectedItems[0].id}}</span>

                                <span class="pull-right" ng-if="value.selectedItems[0].amount != 0 && value.selectedItems[0].price != 0">
                                    <span class="currency"></span>
                                    <span isa-connector="{{value.selectedItems[0].price || value.selectedItems[0].amount}}"></span>
                                </span>

                                <span class="pull-right" ng-if="value.selectedItems[0].amount == 0 || value.selectedItems[0].price == 0">
                                    <span class="">Free</span>
                                </span>

                            </div>

                            <div class="section-title" ng-if="source.ancillary == 'MEAL' || source.ancillary == 'SSR_AIRPORT' || source.ancillary == 'SSR_IN_FLIGHT' || source.ancillary == 'AIRPORT_TRANSFER'">
                             <!--<a href="" class="action"><i>&mdash;</i></a> -->
                                <span class="text">{{value.passenger.displayName}} </span>
                                <div ng-if="type !== 'meal' || carrierCode !== 'W5'" class="price"><span style="float: right"><i  class="currency"></i> <i isa-connector="{{value.itmeTotalCharge+preferedsource.totalItemPrice}}"></i></span></div>
                            </div>

                            <ul class="meal-wrapper" ng-init="pasValue = value; pasIndex = $index;">
                            	<li ng-if="(source.ancillary == 'MEAL' && preferedsource.isPageLoaded == true && value.passenger.paxSequence <= 1)">
                            		<span class="text" translate="lbl_common_Meals_Preferred"><strong>Preferred Meals</strong></span>
                            	</li>
                            	<li ng-if="(source.ancillary == 'MEAL' && value.passenger.paxSequence <= 1)" ng-repeat="(key,item) in preferedsource">
                            	 <span class="text">{{item.quantity}} X {{item.mealName}}</span>
                                    <a  class="action"><i class="remove fa fa-trash-o" ng-click="onChildIconClickPM(this,$event,pasIndex)"></i></a>
                                    <div  class="price"><i class="currency"></i> <i isa-connector="{{item.totalPrice}}"></i></div>
                               </li>
                               <li ng-if="(source.ancillary == 'MEAL' && preferedsource.isPageLoaded == true && value.passenger.paxSequence <= 1)">
                            		<span class="text" translate="lbl_common_Meals_additional"><strong>Additional Meals</strong></span>
                            	</li>
                                <li ng-if="(source.ancillary == 'MEAL')" ng-repeat="(key,item) in value.selectedItems">
                                    <a  class="action"><i class="remove fa fa-trash-o" ng-click="onChildIconClick(this,$event,pasIndex)"></i></a>
                                    <span  class="text">{{item.count || item.quantity}} X {{item.name}} </span>
                                    <div ng-if="type !== 'MEAL' || carrierCode !== 'W5' "  class="price"><i class="currency"></i> <i isa-connector="{{item.selectedItemTotal}}"></i></div>
                                </li>
                                <li ng-if="(source.ancillary == 'BAGGAGE')" ng-repeat="(key,item) in value.selectedItems">
                                    <!--<a href="" class="action"><i class="remove fa fa-trash-o" ng-click="onChildIconClick(this,$event,pasIndex)"></i></a>-->
                                    <span  class="text">
                                    	{{value.passenger.displayName}} 
                                    	<br>
                                     	<span class="hidden-xs hidden-lg hidden-md" ng-show="(item.value != 'No Baggage')">{{item.value | limitTo: 6}}</span>
                                    </span>
                                    <span class="hidden-sm" ng-show="(item.value != 'No Baggage')">{{item.value | limitTo: 6}}</span>
                                    <div  class="price"><i class="currency"></i> <i isa-connector="{{item.price || item.amount}}"></i></div>
                                </li>
                                <li ng-if="(source.ancillary == 'SSR_AIRPORT')" ng-repeat="(key,item) in value.selectedItems" >
                                    <a  class="action"><i class="remove fa fa-trash-o" ng-click="onChildIconClick(this,$event,pasIndex)"></i></a>
                                    <span  class="text">{{item.ssrName}}</span>
                                    <div  class="price">
                                        <i class="currency"></i>
                                        <i class="dummy" isa-connector="{{item.price || item.amount[0]['amount'] || item.amount}}"></i>
                                    </div>
                                </li>
                                <li ng-if="(source.ancillary == 'SSR_IN_FLIGHT')" ng-repeat="(key,item) in value.selectedItems">
                                    <a  class="action"><i class="remove fa fa-trash-o" ng-click="onChildIconClick(this,$event,pasIndex)"></i></a>
                                    <span  class="text">{{item.ssrName || item.name}}</span>
                                <div  class="price"><i class="currency"></i> <i isa-connector="{{item.price || item.amount}}"></i></div>
                            </li>
                            <li ng-if="(source.ancillary == 'AUTOMATIC_CHECKIN')" ng-repeat="(key,item) in value.selectedItems">
                                    <a  class="action"><i class="remove fa fa-trash-o" ng-click="onChildIconClick(this,$event,pasIndex)"></i></a>
                                    <span  class="text">{{value.passenger.displayName}}  </span>
                                <div  class="price"><i class="currency"></i> <i isa-connector="{{item.price }}"></i></div>
                            </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Sub Section second level-->


                </div><!-- // Item -->


            </div><!-- // Radio Section -->



        </div><!-- // Section -->

        <!--Previous Selection Section-->
        <div class="w-section" style="background:#C5C5C5" ng-repeat="(key,flights) in previousSource.scopes" ng-if="previousSource">
            <!-- Radio Section repeat-->
            <div class="radio-section" id="{{$index}}" ng-repeat="flight in flights.preferences" style="opacity:.6">
                <!-- Item  -->
                <div class="item" ng-if="flight.segments[0].from ">

                    <!-- Title - AIRPORT -->
                    <span class="radio " ng-if="flights.scopeType == 'AIRPORT' && flight.preferanceId.point ">
                        <input name="radioname" type="radio">
                        <label>
                            {{flight.segments[0].from}} ({{flight.preferanceId.point | capitalizeFirstFilter}})
                            <span class="price"><i class="currency"></i> <i isa-connector="{{flight.total}}"></i></span>
                        </label>
                    </span><!-- // Title - AIRPORT -->

                    <!-- Title - SEGMENT -->
                    <span class="radio " ng-if="flights.scopeType == 'SEGMENT' ">
                        <input name="radioname" type="radio" ng-checked="false">
                        <label>{{flight.segments[0].from}} to {{flight.segments[0].to}}
                            <span class="price"><i class="currency"></i> <i isa-connector="{{flight.total}}"></i></span>
                        </label>
                    </span><!-- // Title - SEGMENT -->

                    <!-- Title - OND -->
                    <span class="radio " ng-if="flights.scopeType == 'OND' ">
                        <input name="radioname" type="radio"  ng-checked="false">
                        <label>{{flight.segments[0].from}} to {{flight.segments[getLength(flight.segments)].to}}
                            <span class="price"><i class="currency"></i> <i isa-connector="{{flight.total}}"></i></span>
                        </label>

                    </span><!-- // Title - OND -->

                    <ul class="flight-segments" ng-if="flights.scopeType == 'OND' && flight.segments.length > 1">
                        <li ng-repeat="segment in flight.segments">{{segment.from }} <i class="fa fa-angle-right"></i></li>
                        <li>{{flight.segments[getLength(flight.segments)].to}} </i> </li>
                    </ul>

                    <!-- Sub Section firstLevel repeat-->
                    <div class="option-wrapper" ng-show="$index == selectedIndex && level == 1">
                        <div class="sub-section" ng-repeat="(exKey,extra) in flight.extrasTotal">
                            <div class="section-title" ng-repeat="(key,value) in extra">
                                <span class="text">{{capitalizeFirstLetter(exKey)}} total </span>
                                <div class="price"><i class="currency"></i> <i isa-connector="{{value}}"></i></div>
                            </div>
                        </div><!-- // Sub Section -->
                    </div>

                    <!-- Sub Section second level repeat-->
                    <div class="sub-section second"  ng-show="($index == selectedIndex && level == 2) || flight.unEditable">
                        <div ng-repeat="(key,value) in flight.passengers">

                            <!-- Sidebar widget for ancillary seats -->
                            <div class="section-title" ng-if="(type == 'seat')">
                                <div ng-if="!flight.unEditable">
                                    <a class="action" ng-if="value.selectedItems[0].id"><i class="remove fa fa-trash-o pull-left" ng-click="onChildIconClick(this,$event,pasIndex)"></i></a>
                                </div>

                                <span class="text">{{value.passenger.displayName}}</span>
                                <span>{{value.selectedItems[0].id}}</span>

                                <span class="pull-right" ng-if="value.selectedItems[0].amount != 0 && value.selectedItems[0].price != 0">
                                    <span class="currency"></span>
                                    <span isa-connector="{{value.selectedItems[0].price || value.selectedItems[0].amount}}"></span>
                                </span>

                                <span class="pull-right" ng-if="value.selectedItems[0].amount == 0 || value.selectedItems[0].price == 0">
                                    <span class="">Free</span>
                                </span>
                            </div>

                            <div class="section-title" ng-if="source.ancillary == 'MEAL' || source.ancillary == 'SSR_AIRPORT' || source.ancillary == 'SSR_IN_FLIGHT'">
                                <!--<a href="" class="action"><i>&mdash;</i></a> -->
                                <span class="text">{{value.passenger.displayName}} </span>
                                <div class="price"><span style="float: right"><i class="currency"></i> <i isa-connector="{{value.itmeTotalCharge+preferedsource.totalItemPrice}}"></i></span></div>
                            </div>

                            <ul class="meal-wrapper" ng-init="pasValue = value; pasIndex = $index;">
                                <li ng-if="(source.ancillary == 'MEAL')" ng-repeat="(key,item) in value.selectedItems" class="no-hover">
                                    <a  class="action"><i class="remove fa fa-trash-o" ng-click="onChildIconClick(this,$event,pasIndex)"></i></a>
                                    <span  class="text">{{item.count || item.quantity}} X {{item.name}} </span>
                                    <div  class="price"><i class="currency"></i> <i isa-connector="{{item.selectedItemTotal}}"></i></div>
                                </li>
                                <li ng-if="(source.ancillary == 'BAGGAGE')" ng-repeat="(key,item) in value.selectedItems" class="no-hover">
                                    <!--<a href="" class="action"><i class="remove fa fa-trash-o" ng-click="onChildIconClick(this,$event,pasIndex)"></i></a>-->
                                    <span  class="text">{{value.passenger.displayName}}   </span>
                                    <span ng-show="(item.value != 'No Baggage')">{{item.value | limitTo: 6}}</span>
                                    <div  class="price"><i class="currency"></i> <i isa-connector="{{item.price || item.amount}}"></i></div>
                                </li>
                                <li ng-if="(source.ancillary == 'SSR_AIRPORT')" ng-repeat="(key,item) in value.selectedItems" class="no-hover">
                                    <a  class="action"></a>
                                    <span  class="text">{{item.ssrName}}</span>
                                    <div  class="price">
                                        <i class="currency"></i>
                                        <i class="dummy" isa-connector="{{item.price || item.amount[0]['amount'] || item.amount}}"></i>
                                    </div>
                                </li>
                                <li ng-if="(source.ancillary == 'SSR_IN_FLIGHT')" ng-repeat="(key,item) in value.selectedItems" class="no-hover">
                                    <a  class="action"><i class="remove fa fa-trash-o" ng-click="onChildIconClick(this,$event,pasIndex)"></i></a>
                                    <span  class="text">{{item.ssrName}}</span>
                                    <div  class="price"><i class="currency"></i> <i isa-connector="{{item.price}}"></i></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Sub Section second level-->
                </div><!-- // Item -->
            </div><!-- // Radio Section -->
        </div><!-- // Previous Selection Section -->


    </div><!-- // Widget Content -->

</div>