<div ng-controller="radioOptionListController" class="isa-radio-option-list-wrapper">

    <!-- Widget Header -->
    <div class="widget-header">
        <span class="left">Services Total</span>
        <span class="right"><i>AED</i> 2600</span>
    </div>
    <!-- // Widget Header -->

    <!-- Widget Content -->
    <div class="widget-content">
        <!-- Section -->
        <div class="w-section " ng-class={highlighted:isSectionSelected(key)} ng-repeat="(key,flights) in source">
            <div class="section-heading">
                <span class="text">{{key}} trip</span>
                <i><img ng-src="images/misc/{{key}}-plane.svg"></i>
            </div>
            <!-- Radio Section repeat-->
            <div class="radio-section" ng-repeat="(flightkey, flight) in flights">
                <!-- Item  -->
                <div class="item">
                    <!-- Title -->
                    <span class="radio ">
                        <input name="radioname" type="radio" id="radio-{{ key + '-' + $index}}">
                        <label data-section-key="{{key}}" ng-click="optionOnSelect($event,$index,key)"
                               for="radio-{{ key + '-' + $index}}">{{flight.from}} to {{flight.to}}
                            <span>AED <i>1400</i></span></label>
                    </span>
                    <!-- // Title -->

                    <!--Services subsection-->
                    <div class="option-wrapper" ng-show="flightkey === $index && flightkey == selectedIndex && key == selectedSection">
                        <div class="sub-section" ng-repeat="passenger in flight.passenger">
                            <div class="section-title">
                                <a href="" class="action"><i>‒</i></a>
                                <span class="text">{{passenger.firstName + " " + passenger.lastName}}</span>
                            </div>

                            <!--TODO: Get data from the services array add remove data to this array -->
                            <ul>
                                <li>
                                    <a href="" class="action"><i class="remove fa fa-trash-o"></i></a>
                                    <span class="text">Gnocchi genovese X 1</span>
                                    <div class="price">AED <i>52</i></div>
                                </li>
                                <li>
                                    <a href="" class="action"><i class="remove fa fa-trash-o"></i></a>
                                    <span class="text">Orange Juice X 1</span>
                                    <div class="price">AED <i>32</i></div>
                                </li>
                            </ul>
                        </div>
                    </div><!-- // Services subsection -->
                </div><!-- // Item -->
            </div><!-- // Radio Section -->
        </div><!-- // Section -->
    </div><!-- // Widget Content -->
</div>