<div class="popup-confirm">
    <p translate="msg_passenger_emailId_pending">The Airrewards ID(s) you have entered for the following user(s) is/are pending verification.</p>
    <ul>
        <li data-ng-repeat="passenger in passengers">
            {{passenger.name}}
        </li>
    </ul>
    <p translate="msg_passenger_emailId_proceed">Do you want to proceed?</p>
        <button class="button red-btn ng-binding" ng-click="confirm()" translate="lbl_common_ok">OK</button>

</div>