<div class="popup-confirm">
    <p translate="msg_passenger_airrewards_invalid">The Air Rewards ID you have entered for the following user(s) is invalid:</p>
    <ul>
        <li data-ng-repeat="passenger in passengers">
            {{passenger.name}}
        </li>
    </ul>
    <p translate="msg_passenger_airrewards_info">Please check and make sure that it is a valid ID and that the passenger name exactly matches the name of the registered member under this Air Rewards ID.</p>
        <button class="button red-btn ng-binding" ng-click="confirm()">OK</button>

</div>
