<div class="popup-confirm">
    <p ng-bind-html="content">
        <!--{{content}}-->
    </p>

    <div class="btn-set">
        <button class="button btn-ok popupAlert-btn red-btn pull-right truncate" ng-click="confirm()" translate="{{okButtonText == 'OK' ? 'lbl_common_ok' : (okButtonText.toUpperCase() === 'Go To Dashboard'.toUpperCase()? 'msg_common_goToDashboard' :okButtonText)}}">{{okButtonText}}</button>
        <button class="button btn-cancel popupAlert-btn gray-btn pull-left truncate" ng-click="closeThisDialog()" translate="{{cancelButtonText == 'Cancel' ? 'lbl_common_cancel' : (cancelButtonText.toUpperCase() === 'Login As Different User'.toUpperCase()?'msg_common_loginAsDifferentUser' :cancelButtonText)}}">{{cancelButtonText}}</button>
    </div>
</div>