<div class="popup-confirm">
    <h3>{{'lbl_extra_seatEmergencySeatNumber' | translate}} {{seat.seatNumber}}</h3>
    <p>
        {{'lbl_extra_seatEmergencyToOccupy'| translate}}
        <ul>
            <li translate="lbl_extra_seatEmergencyItemOlder">Be older than 15 years.</li>
            <li translate="lbl_extra_seatEmergencyItemPregnant">Not be pregnant. </li>
            <li translate="lbl_extra_seatEmergencyItemAuditory">Have full visual and auditory capability and be able to understand the cabin crew¿s instructions.</li>
            <li translate="lbl_extra_seatEmergencyItemHealth">Be in good health and be fully capacitated mentally and physically.</li>
            <li translate="lbl_extra_seatEmergencyItemMove">Not have difficulty moving fast due to age, weight or bodily mass.</li>
            <li translate="lbl_extra_seatEmergencyItemCustody">Not be in custody or categorised as a deportee.</li>
            <li translate="lbl_extra_seatEmergencyItemActive">Be willing to participate actively if required by opening the emergency door once instructed.</li>
        </ul>
        <p translate="lbl_extra_seatEmergencyReserveRight">In all circumstances, the company reserves the right,
            for operational or safety reasons, to assign or reassign seats at any time, even after aircraft boarding.
            For any incident that may arise in relation to Seat Selection, contact our Customer Service.
        </p>

        <p translate="lbl_extra_seatEmergencyNoRecline">Please note that the seats in the row number 11 do not recline
            for security reasons.</p>

        <p translate="lbl_extra_seatEmergencyTC">I accept the terms and conditions for the emergency exit seat.</p>
    </p>

    <div class=" row btn-set">
        <button class="button red-btn pull-left emergency-confirm-btn"
                translate="lbl_extra_seatEmergencyAccept"
                ng-click="confirm()">I Accept
        </button>

        <button class="button red-btn pull-right emergency-cancel-btn"
                translate="lbl_extra_seatEmergencyCancel"
                ng-click="closeThisDialog()">Cancel
        </button>
    </div>

</div>
