<div class="popup-confirm">
    <div class="error-waraper" ng-bind-html="error"></div>
    <div class="btn-set">
        <button class="button red-btn pull-left" ng-click="confirm()">Continue to payment</button>
        <button class="button red-btn pull-right" ng-click="closeThisDialog()">Cancel</button>
    </div>

</div>
