
<div class="popup-confirm">
	<p>Following are the list of Invoices, Please select invoices to Print.</p>
    <div>
    	<ul>
        	<li data-ng-repeat="record in records">
            	<input style="visibility:visible" type="checkbox" ng-change="selectedInvoiceIds()" ng-model="selected[record.taxInvoiceId]"> {{record.taxInvoiceNumber}}
        	</li>
    	</ul>
	</div>
    <div class="btn-set">
        <button class="button red-btn pull-left" ng-click="confirm()">Continue</button>
        <button class="button red-btn pull-right" ng-click="closeThisDialog()">Cancel</button>
    </div>
</div>

