<!-- Meals Search Box -->
<div class="meals-search-box col-md-12 hidden-xs meals-search-box-styles" ng-if="!isMobileDevice">
    <div class="row xs-sort-by search-row">
        <!-- Meals Category -->
        <!--
        <div class="meals-category col col-md-3 col-sm-3 col-xs-3">
            <button ng-click="dropdownOptionClick()" class="btn btn-default" translate="lbl_meal_filterItems">
                Filter Items
                <i class="fa fa-angle-down"></i>
            </button>

            <div ng-show="isCatListVisible">
        <!-- Overlay -->
        <!-- Dropdown Content -->
        <!--
                <div class="dropdown-content">
        <!-- Food Box -->
        <!--
                    <div data-cat-id="{{$index}}" class="food-box col-md-3 col-sm-3 col-xs-3"
                         ng-repeat="category in dropdownSource">
                        <input ng-click="optionOnClick({id:$index})" name="checkbox_name" type="checkbox"
                               id="meal-{{$index}}">
                        <label for="meal-{{$index}}" style="background-image:url(images/meals/{{categoryName(category)}}.jpg);">
                            <span>{{category}}</span>
                        </label>

                    </div><!-- // Food Box -->
        <!--
                 <div class="btn-wrap col-md-4 col-sm-4 col-xs-4 pull-right" style="z-index: 100;">
                     <span ng-click="doneMealOptionClick()" class="button red-btn done-button">Done</span>
                 </div>

             </div><!-- // Dropdown Content -->

        <!--        <div class="overlay"></div><!-- // Overlay -->

        <!--    </div>
        </div><!-- // Meals Category -->

        <!-- Search Box -->
        <div class="search-box xs-searchtxt col col-md-9 col-sm-9 col-xs-7">
            <form>
                <input type="search" placeholder="{{'lbl_extra_mealSearchPlaceholder'| translate}}" ng-model="searchText" ng-change="onFiltering({mealName:searchText})" class="text-left">
            </form>
        </div><!-- // Search Box -->

        <!-- Sort by price -->
        <div class="sort dropdown dropdown-extra-meal col col-md-3 col-sm-3 col-xs-5">
            <div class="btn-group xs-btngroup" uib-keyboard-nav uib-dropdown is-open="status.isopen">
                <button class="btn btn-default dropdown-toggl sortby-btn" id="meal-filterby" uib-dropdown-toggle
                        ng-disabled="disabled">
                    <span translate="lbl_extra_mealSortBy">Sort By</span> {{orderbyText| translate}}
                    <i class="fa fa-angle-down xs-fadown-icon arrow-extra"></i>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                    <li ng-click="onSecondaryOptingClick('mealCharge')" role="menuitem">
                        <a href="#" translate="lbl_extra_mealSortByPrice">By price</a>
                    </li>
                    <li ng-click="onSecondaryOptingClick('mealName')" role="menuitem">
                        <a href="#" translate="lbl_extra_mealSortByName">By name</a>
                    </li>
                    <li ng-click="onSecondaryOptingClick('popularity')" role="menuitem">
                        <a href="#" translate="lbl_extra_mealSortByPopularity">By Popularity</a>
                    </li>
                </ul>
            </div>
        </div><!-- // Sort by price -->

    </div>
</div><!-- // Meals Search Box -->
<div class="selected-cat hidden-xs" ng-if="!isMobileDevice">
    <!--<span ng-repeat="filterCat in selectedList">{{filterCat}} </span>-->
    <div class="row" data-ng-show="dropdownSource.length > 0">
        <div class="col-md-3 col-sm-3 select-all-btn">
            <span  translate="lbl_common_selectAll"  class="cat-button gray-btn check-btn" ng-click="optionOnClick({id: 'All', event: $event})">Select All</span>
        </div>

        <div class="col-md-3 col-sm-3" ng-repeat="category in dropdownSource">
            <span class="cat-button xssm-selectmeal-type" ng-click="optionOnClick({id: $index, event: $event})" >{{category}}</span>
        </div>
    </div>
</div>

<div class="selected-cat hidden-md hidden-lg hidden-sm" ng-if="isMobileDevice">
    
    <div ng-if="isNextSectorClick" class="row meal-slider" data-ng-show="dropdownSource.length > 0">
        <div class="xs-meal-block" ng-repeat="category in dropdownSource" ng-click="mealDatalocal = optionOnClick({id: $index, event: $event});$event.preventDefault();">
            <span class="cat-button text-left"
                  ng-click="toogleMealSection({id:$index, catCode:mealDatalocal[$index].mealCategoryCode}, $event);mealblockOpen = !mealblockOpen" >
                <i class="fa fa-meal-block mr-rt-0 pd-lt-15 {{!mealblockOpen ? 'fa-plus' : 'fa-minus' }}" ></i>
                {{category}}
            </span>

            <div class="meal-block meal-block-{{$parent.$parent.$index}}" ng-repeat="(key,value) in mealDatalocal"
                 ng-if="value.mealName">
                <!-- Thumbnail -->
                <div class="row">
                    <div class="col-xs-3">
                        <span class="image img" style="background-image:url({{value.mealThumbnailImagePath}});"></span>
                    </div>
                    <div class="col-xs-9">
                        <h2 class="meal-heading">{{value.mealName}}</h2>
                        <p class="xs-options-descrption">{{value.mealDescription}}</p>
                        <div class="more" ng-if="value.kCal">
                            <span>{{value.kCal}} kCal</span>
                            <i class="ico icon-vege"></i>
                        </div>

                        <div class="">
                            <div class="mealcost-section">
                                <span class="price-block text-left">
                                    <i class="currency">{{currencyType}}</i>
                                    <i class="price" isa-connector={{value.mealCharge}}></i>
                                </span><!-- // Price -->
                            </div>	
                            <div class="option-section pull-right">

                                <button ng-click="onMobileElementClick($event, $index,true);"
                                        id="mealbtn-{{$parent.$parent.$index}}-{{$index}}"
                                        type="button"
                                        class="button xs-meal-options-button text-right"
                                        ng-class="{'items-added': addedItems[value.mealCode], 'red-btn': $index === selectedMobileRow, 'gray-btn': $index !== selectedMobileRow}">

                                    <span ng-if="!(addedItems[value.mealCode]) && $index !== selectedMobileRow"
                                          class="meal-select-caption pd-lt-0 pull-right"
                                          translate="lbl_meal_addMeal">Add This Meal
                                    </span>
                                    <span ng-if="addedItems[value.mealCode] && $index !== selectedMobileRow"
                                          class="meal-select-caption pd-lt-0 pull-right"
                                          translate="lbl_meal_editMeal">Edit Selection
                                    </span>

                                    <span ng-if="$index === selectedMobileRow" class="meal-select-caption meal-select-done pd-lt-0 pull-right" translate="lbl_common_close">close</span>
                                    <i class="fa modify fa-angle-down hidden"></i></button>
                            </div>
                        </div>
                    </div><!-- // Title -->
                </div>
                <!-- Meals QTY dropdown bind-to="$index"-->	
                <div class="meal-passenger-list" 
                    isa-spinner-list 
                    default-value="0" 
                    max="availableOptions.max" 
                    min="availableOptions.min" 
                    is-visible="$index == selectedMobileRow"
                    bind-to="$index"  
                    spinner-source="widgetOptions" 
                    current-item-selection="currentItemSelection"
                    set-count="setWidgetData(spinnerValue,index,fromMobileClick,{name:value.mealName,price:value.mealCharge, meal:value,mealIndex:key})"
                    get-invent="getInventory(oldCount, newCount,key,value)" 
                    selected-category-code="selectedCategoryCode"
                    index-category="mealDatalocal[$index].mealCategoryCode"
                    index-segment="$parent.$parent.$parent.$index" 
                    selected-segment="currentSegment" 
                    on-element-parent-click="onMobileElementClick(event, index,isClose)" 
                    index="$index" 
                    meal="value"></div>
                <!-- // Thumbnail -->
                <!-- Options -->


                <!-- // Options -->
            </div>

            <!--<span class="hidden" ng-init="optionOnClick({id: 0})"></span>-->
        </div>
    

        <!--<div ng-init="optionOnClick({id: '0'})"></div>-->
    </div>
    <h4 class="text-center ma-tp-4 ma-bt-4" ng-if="!dropdownSource" 
    translate="lbl_extra_mealsNoMeals">Meals not available</h4>
</div>
<div ng-if="!isMobileDevice" data-ng-show="paginationData.isvisible && paginationData.numberofPages.length > 1 && source.length > 0"  class="pagination-wrapper xs-pagination-wrapper border-bottom hidden-xs">
    <ul>
        <li class = "xs-pagination-icons" ng-click="onPageSelection({index: $index})"
            ng-repeat="n in paginationData.numberofPages"
            ng-class="{selected:selectedPage == $index}">{{$index + 1}}
        </li>
    </ul>
</div>

<!-- Meal Block -->
<div class="meal-block hidden-xs" ng-repeat="(key,value) in source |  limitTo : 10 "
     ng-if="value.mealName && !isMobileDevice">
    <!-- Thumbnail -->
    <span class="image col-md-3 col-sm-3" style="background-image:url({{value.mealThumbnailImagePath}});"></span>
    <!-- // Thumbnail -->

    <!-- Data -->
    <div class="data col-md-6 col-sm-6">
        <!-- Title -->
        <h2 class="title">{{value.mealName}}</h2><!-- // Title -->

        <!-- Description -->
        <div class="description">
            {{value.mealDescription}}
        </div><!-- // Description -->

        <!-- More details -->
        <div class="more" ng-if="value.kCal">
            <span>{{value.kCal}} kCal</span>
            <i class="ico icon-vege"></i>
        </div><!-- // More details -->
    </div><!-- // Data -->

    <!-- Options -->
    <div class="options col-md-3 col-sm-3">

        <!-- Price -->
        <span class="price-block text-right" ng-if="carrierCode != 'W5'">
            <i class="currency">{{currencyType}}</i>
            <i class="price" isa-connector={{value.mealCharge}}></i>
        </span><!-- // Price -->

        <!-- Action -->
        <!--<button ng-click="onElementClick($index)" type="button" class="active button gray-btn">Done <i class="fa fa-times"></i></button><!-- // Action -->
        <button ng-click="onElementClick($event, $index)"
                id="mealbtn-{{$index}}"
                type="button"
                class="button add-meal-pref"
                ng-class="{'items-added': addedItems[value.mealCode], 'red-btn': $index === selectedRowIndex, 'gray-btn': $index !== selectedRowIndex}">

            <span ng-if="!(addedItems[value.mealCode]) && $index !== selectedRowIndex"
                  class="meal-select-caption "
                  translate="lbl_meal_addMeal">Add This Meal
            </span>
            <span ng-if="addedItems[value.mealCode] && $index !== selectedRowIndex"
                  class="meal-select-caption "
                  translate="lbl_meal_editMeal">Edit Selection
            </span>

            <span ng-if="$index === selectedRowIndex" class="meal-select-caption" translate="lbl_common_done">Done</span>
            <i class="fa modify fa-angle-down"></i></button>

        <!-- Meals QTY dropdown -->
        <div isa-spinner-list 
            default-value="0" 
            max="value.allocatedMeals" 
            min="availableOptions.min" 
            is-visible="$index == selectedRowIndex"
            bind-to="$index" 
            spinner-source="widgetOptions" 
            current-item-selection="currentItemSelection"
            set-count="setWidgetData(spinnerValue,index,fromMobileClick,{name:value.mealName,price:value.mealCharge, meal:value,mealIndex:key})" 
            get-invent="getInventory(oldCount, newCount,key,value)" 
            meal="value"></div>
        <!-- // Meals QTY dropdown -->

    </div><!-- // Options -->
</div><!-- // Meal Block -->

<div ng-if="!isMobileDevice" data-ng-show="paginationData.isvisible && paginationData.numberofPages.length > 1 && source.length > 0"  class="pagination-wrapper xs-pagination-wrapper hidden-xs">
    <ul>
        <li class = "xs-pagination-icons" ng-click="onPageSelection({index: $index})"
            ng-repeat="n in paginationData.numberofPages"
            ng-class="{selected:selectedPage == $index}">{{$index + 1}}</li>
    </ul>
</div>