<ul class="hidden-xs sm-ancillar">
    <li ng-repeat="ancillary in source" class="pull-left">
        <div class="thumb">
            <span class="img" ng-class="ancillary.ancillaryImageClass"></span>
            <a href="" class="truncate">
                <i class="fa" ng-class="{'fa-check-circle':ancillary.isSelected, 'checked':ancillary.isSelected, 'fa-plus-circle':!ancillary.isSelected,'add':!ancillary.isSelected}"></i>
                <span ng-if=" ancillary.ancillaryType !== 'SSR_AIRPORT' && ancillary.ancillaryType !== 'SSR_IN_FLIGHT' ">{{ancillary.ancillaryName}}</span>
                <span ng-if=" ancillary.ancillaryType === 'SSR_AIRPORT' " translate="lbl_extra_ssr_airport">AIRPORT SERVICES</span>
                <span ng-if=" ancillary.ancillaryType === 'SSR_IN_FLIGHT' "  translate="lbl_extra_ssr_in_flight">INFLIGHT SERVICES</span>
                <span ng-if=" ancillary.ancillaryType === 'AIRPORT_TRANSFER' " translate="lbl_extra_airport_transfer">{{anciOptions['AIRPORT_TRANSFER'].optionNameTemp}}</span>
            </a>
        </div>
        <div class="data">
            <label translate="{{ ancillary.isSelected ? 'lbl_common_selected' : 'lbl_common_notSelected' }}">{{(ancillary.isSelected) ? 'Selected' : 'Not Selected'}}</label>
            <span class="hidden-sm">
                <i class="currency"></i>
                <i isa-connector="{{ancillary.amount}}"></i>
                <a href="" ng-show="ancillary.isEnable" ng-click="optionOnClick({id:ancillary.ancillaryType})">
                    <i class="fa fa-pencil"></i> {{'lbl_common_edit' | translate}}</a>
                <a href="" ng-show="!ancillary.isEnable">
                    <i class="fa fa-pencil-square"></i> {{"lbl_common_notEditable" | translate}}</a>
            </span>

            <span class="hidden-md hidden-lg">
                <i class="currency"></i>
                <i isa-connector="{{ancillary.amount}}"></i>
            </span>
            <span class="hidden-md hidden-lg sm-ancillar-edit">
                <a style="display: block" href="" ng-show="ancillary.isEnable" ng-click="optionOnClick({id:ancillary.ancillaryType})">
                    <i class="fa fa-pencil"></i> {{'lbl_common_edit' | translate}}</a>
                <a style="display: block" href="" ng-show="!ancillary.isEnable">
                    <i class="fa fa-pencil-square"></i> {{"lbl_common_notEditable" | translate}}</a>
            </span>

        </div>
    </li>
</ul>

<ul class="hidden-sm hidden-md hidden-lg">
    <div class="row res-summary-extras pd-lt-15" ng-repeat="ancillary in source">
        <div class="row">
            <!--<div class="image col-xs-4 img" ng-class="option.ancillaryImageClass">
                    </div>-->
            <div class="col-xs-9 xs-modification-extras-heading" style="width: auto !important;">
                <!--                    <h2 class="pull-left" ng-if=" ancillary.ancillaryType !== 'SSR_AIRPORT' || ancillary.ancillaryType !== 'AIRPORT_TRANSFER'  || ancillary.ancillaryType !== 'SSR_IN_FLIGHT'">{{anciOptions[ancillary.ancillaryName].optionNameTemp}}</h2>
                    <h2  class="pull-left" ng-if=" ancillary.ancillaryType === 'SSR_AIRPORT' ">{{anciOptions['SSR_AIRPORT'].optionNameTemp}}</h2>
                    <h2 class="pull-left" ng-if=" ancillary.ancillaryType === 'SSR_IN_FLIGHT' " translate="lbl_extra_inFlightHeader">INFLIGHT SERVICES</h2>-->
                <h2 class="pull-left" ng-if=" ancillary.ancillaryType !== 'SSR_AIRPORT' && ancillary.ancillaryType !== 'SSR_IN_FLIGHT' ">{{ancillary.ancillaryName}}</h2>
                <h2 class="pull-left" ng-if=" ancillary.ancillaryType === 'SSR_AIRPORT' " translate="lbl_extra_ssrHeader">AIRPORT SERVICES</h2>
                <h2 class="pull-left" ng-if=" ancillary.ancillaryType === 'SSR_IN_FLIGHT' " translate="lbl_extra_inFlightHeader">INFLIGHT SERVICES</h2>
                <h2 class="pull-left" ng-if=" ancillary.ancillaryType === 'AIRPORT_TRANSFER' " translate="lbl_extra_airport_transfer">{{anciOptions['AIRPORT_TRANSFER'].optionNameTemp}}</h2>
                <!--                    <h2  ng-if=" ancillary.ancillaryType === 'SSR_AIRPORT' ">AIRPORT SERVICES</h2>
                    <h2  ng-if=" ancillary.ancillaryType === 'SSR_IN_FLIGHT' " translate="lbl_extra_inFlightHeader">INFLIGHT SERVICES</h2>
                    <h2  ng-if=" ancillary.ancillaryType === 'AIRPORT_TRANSFER' ">AIRPORT TRANSFER</h2>-->

                <a href="">
                    <i class="fa" ng-class="{'fa-check-circle':ancillary.isSelected, 'checked':ancillary.isSelected, 'fa-plus-circle':!ancillary.isSelected,'add':!ancillary.isSelected}"></i>
                </a>
            </div>

            <div class="col-xs-3 xs-options-price-col xs-price-row pull-right pd-r-0 pd-l-0">
                <div class="price-block pull-right xs-options-price">
                    <i class="currency-text currency"></i>
                    <i class="price" isa-connector="{{ancillary.amount}}"></i>
                </div>
            </div>
            <br>
            <div class="col-xs-12">

                <p class="xs-options-descrption">{{anciOptions[ancillary.ancillaryType].description}}</p>
                <!--                    <p class="xs-options-descrption" ng-if=" ancillary.ancillaryType === 'SSR_AIRPORT' ">{{anciOptions["SSR_AIRPORT"].description}}</p>
                    <p class="xs-options-descrption" ng-if=" ancillary.ancillaryType === 'SSR_IN_FLIGHT' ">{{anciOptions["SSR_IN_FLIGHT"].description}}</p>
                    <p class="xs-options-descrption" ng-if=" ancillary.ancillaryType === 'AIRPORT_TRANSFER' ">{{anciOptions["AIRPORT_TRANSFER"].description}}</p>-->

            </div>
            <!--                <span>{{ondprefernces}}</span>-->
            <div class="col-xs-12">
               <div ng-if="ancillary.ancillaryType === 'INSURANCE'&& ancillary.isSelected">                                                        
                            <span class="select" translate="lbl_common_selected">Selected</span>                             
                        </div> 
            </div>
        </div>
        <div class="row" style="margin-bottom:15px !important"
        ng-init="fltSegment = returnFlightBySegments(flight)">
            <div class="col-xs-10 segm-space pd-l-0 pd-r-0 segm-details" ng-repeat="fltSeg in fltSegment track by $index">
                <div class="pd-r-0"
                ng-class="{'col-xs-10': fltSeg.length < 2, 'col-xs-5': fltSeg.length > 1}"
                ng-repeat="flt in fltSeg track by $index">
                    <div ng-repeat="(valueIndex,selectedancillary) in selectedAncillaries track by $index"
                    ng-if="selectedancillary.ancillaryType === ancillary.ancillaryType && ancillary.isSelected && flt.flight.status === 'CNF'">
                        <div class="xs-src-dest-name-rtl" ng-if="selectedancillary.ancillaryType === 'BAGGAGE' && valueIndex === duplicateIndex.baggageDuplicateIndex">
                            <span>
                                <b> {{flt.flight.originCode}}</span>
                            <b>
                                <span translate="msg_common_to"> to </span>
                            </b>
                            <span>
                                <b>{{flt.flight.destinationCode}}</b>
                            </span>
                            <br>
                            <div ng-repeat="rph in selectedancillary.flightRPH track by $index">
                                <div ng-if="rph === flt.flight.flightRPH" >
                                    <span ng-if="baggageForSectorFirst[0] === rph">{{baggageForSectorFirst[1]}}</span>
                                    <span ng-if="baggageForSectorSecond[0] === rph">{{baggageForSectorSecond[1]}}</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="xs-src-dest-name-rtl" ng-if="selectedancillary.ancillaryType === 'SEAT' && valueIndex === duplicateIndex.seatDuplicateIndex">
                            <span>
                                <b> {{flt.flight.originCode}}</span>
                            <b>
                                <span translate="msg_common_to"> to </span>
                            </b>
                            <span>
                                <b>{{flt.flight.destinationCode}}</b>
                            </span>
                        </div>
                        <div class="xs-src-dest-name-rtl" ng-if="selectedancillary.ancillaryType === 'MEAL' && valueIndex === duplicateIndex.mealDuplicateIndex">
                            <span>
                                <b> {{flt.flight.originCode}}</span>
                            <b>
                                <span translate="msg_common_to"> to </span>
                            </b>
                            <span>
                                <b>{{flt.flight.destinationCode}}</b>
                            </span>
                        </div>
                        <div class="xs-src-dest-name-rtl" ng-if="selectedancillary.ancillaryType === 'INSURANCE' && valueIndex === duplicateIndex.insuranceDuplicateIndex">
                            <span>
                                <b> {{flt.flight.originCode}}</span>
                            <b>
                                <span translate="msg_common_to"> to </span>
                            </b>
                            <span>
                                <b>{{flt.flight.destinationCode}}</b>
                            </span>
                        </div>
                        <div class="xs-src-dest-name-rtl" ng-if="selectedancillary.ancillaryType === 'SSR_IN_FLIGHT' && valueIndex === duplicateIndex.inflightDuplicateIndex">
                            <span>
                                <b> {{flt.flight.originCode}}</span>
                            <b>
                                <span translate="msg_common_to"> to </span>
                            </b>
                            <span>
                                <b>{{flt.flight.destinationCode}}</b>
                            </span>
                        </div>
                        <div class="xs-src-dest-name-rtl" ng-if="selectedancillary.ancillaryType === 'SSR_AIRPORT' && valueIndex === duplicateIndex.airportDuplicateIndex">
                            <span>
                                <b> {{flt.flight.originCode}}</span>
                            <b>
                                <span translate="msg_common_to"> to </span>
                            </b>
                            <span>
                                <b>{{flt.flight.destinationCode}}</b>
                            </span>
                        </div>
                        <div class="xs-src-dest-name-rtl" ng-if="selectedancillary.ancillaryType === 'FLEXIBILITY' && valueIndex === duplicateIndex.flexiDuplicateIndex">
                            <span>
                                <b> {{flt.flight.originCode}}</span>
                            <b>
                                <span translate="msg_common_to"> to </span>
                            </b>
                            <span>
                                <b>{{flt.flight.destinationCode}}</b>
                            </span>
                        </div>
                        <div ng-if="selectedancillary.ancillaryType === 'MEAL'" 
                        ng-repeat="i in getNumber(duplicateIndexlength.mealDuplicateIndex) track by $index">
                            <div class="pull-left ancilary-align-rtl text-left"
                                ng-repeat="rph in selectedancillary.flightRPH track by $index">
                                <div ng-if="rph === flt.flight.flightRPH" >
                                    {{selectedancillary.ancillaryValue[$index]}}
                                </div>
                            </div>
                        </div>
                        <div ng-if="selectedancillary.ancillaryType === 'SEAT'" 
                        ng-repeat="i in getNumber(duplicateIndexlength.seatDuplicateIndex) track by $index">
                            <div class="pull-left ancilary-align-rtl text-left"
                                ng-repeat="rph in selectedancillary.flightRPH track by $index">
                                <div ng-if="rph === flt.flight.flightRPH" >
                                    {{selectedancillary.ancillaryValue[$index]}}
                                </div>
                            </div>    
                        </div>
<!--                        <div ng-if="selectedancillary.ancillaryType === 'BAGGAGE'"
                         ng-repeat="i in getNumber(duplicateIndexlength.baggageDuplicateIndex) track by $index">
                            <div class="pull-left ancilary-align-rtl text-left"
                            ng-repeat="rph in selectedancillary.flightRPH track by $index">
                                <div ng-if="rph === flt.flight.flightRPH" >
                                    {{selectedancillary.ancillaryValue[$index]}}
                                </div>
                            </div>    
                        </div>-->
                        <div ng-if="selectedancillary.ancillaryType === 'SSR_IN_FLIGHT'"
                         ng-repeat="i in getNumber(duplicateIndexlength.inflightDuplicateIndex) track by $index">
                            <div class="pull-left ancilary-align-rtl text-left"
                            ng-repeat="rph in selectedancillary.flightRPH track by $index">
                                <div ng-if="rph === flt.flight.flightRPH" >
                                    {{selectedancillary.ancillaryValue[$index]}}
                                </div>
                            </div>    
                        </div>
                        <div ng-if="selectedancillary.ancillaryType === 'SSR_AIRPORT'" 
                        ng-repeat="i in getNumber(duplicateIndexlength.airportDuplicateIndex) track by $index">
                        <div class="pull-left ancilary-align-rtl text-left"
                        ng-repeat="rph in selectedancillary.flightRPH track by $index">
                            <div ng-if="rph === flt.flight.flightRPH" >
                                {{selectedancillary.ancillaryValue[$index]}}
                            </div>
                        </div>  
                    </div>  
                </div>
            </div>
        </div>
        <div class="col-xs-2 xs-select-add pull-right pd-l-0">
            <button class="btn btn-block xs-add-btn-class pull-right" ng-show="ancillary.isEnable" ng-click="optionOnClick({id:ancillary.ancillaryType})">
                <span>
                    <i class="material-icons">mode_edit</i>
                </span>
            </button>
        </div>
    </div>
</ul>