<fieldset class="small-4 columns select-date">
    <select ng-model="date" ng-change="onChange('date')"  ng-options="date.value as date.name disable when date.disabled for date in dates">
        <option value="" disabled selected hidden>DD</option>
    </select>
</fieldset>
<fieldset class="small-4 columns select-month">
    <select ng-model="month" ng-change="onChange('month')" ng-options="month.value as month.name disable when month.disabled for month in months">
        <option value="" disabled selected hidden>MM</option>
    </select>
</fieldset>
<fieldset class="small-4 columns select-year">
    <select ng-model="year" ng-change="onChange('year')" ng-options="year.value as year.name disable when year.disabled for year in years">
        <option value="" disabled selected hidden>YYYY</option>
    </select>
</fieldset>
