<div class="row">
    <div class="col-md-4" ng-repeat="(key, passengerType) in passengerDetails">
        <div class="input-group">
            <input type="text"
                   class="form-control"
                   placeholder="0"
                   ng-model="passengerType.value"/>
            <span class="input-group-addon passanger-add-btn">
                <div class="d-block"><i class="material-icons" ng-click="addPassenger(key)">keyboard_arrow_up</i></div>
                <div class="d-block"><i class="material-icons" ng-click="removePassenger(key)">keyboard_arrow_down</i></div>
            </span>
        </div>
        <label class="margin-t-5" ng-if="passengerType.value !== 1">{{passengerType.labelMulti}}</label>
        <label class="margin-t-5" ng-if="passengerType.value === 1">{{passengerType.labelSingle}}</label>
    </div>
</div>