<div class="input-box" ng-click="showDropDown()">
    <div valdr-form-group>
        <div class="ibe-typeahead">
            <div>
                <input type="text" class="form-control " readonly ng-model="displayText">
            </div>
        </div>
    </div>
</div>

<div>
    <!-- Dropdown Box -->
    <div class="dropdown-box" ng-show="isOpen" click-outside="clickOutside()" id="pax-dropdown-box">
        <div class="col col-sm-12 col-xs-12 done-btn hidden-xs">
            <button type="button" class="done" ng-click="hideDropDown()" translate="lbl_common_done">Done</button>
        </div>

        <div class="col col-sm-4 col-xs-4 col-section-{{$index}}" ng-repeat="(key, passengerType) in passengerDetails">
            <label ng-if="passengerType.value !== 1">{{passengerType.labelMulti}}</label>
            <label ng-if="passengerType.value === 1">{{passengerType.labelSingle}}</label>

            <p class="center age-text">{{passengerType.ageText}}</p>

            <input maxlength="1" class="count text-center" ng-model="passengerType.value"
                   ng-click="onItemClick($event)" ng-change="passengerAmountChange(passengerType.value, '{{passengerType.value}}', key)"/>
            <ul class="controll">
                <li ng-click="addPassenger(key)"><i class="fa fa-angle-up"></i></li>
                <li ng-click="removePassenger(key)"><i class="fa fa-angle-down"></i></li>
            </ul>
        </div>
        
        <div class="col col-sm-12 col-xs-12 done-btn hidden-sm hidden-md hidden-lg">
            <button type="button" class="done" ng-click="hideDropDown()" translate="lbl_common_done">Done</button>
        </div>
    </div><!-- // Dropdown Box -->
    <div class="dropdown-error valdr-message" ng-show="showError">
        {{errorMessage}}
    </div>
</div>