<div class="off-canvas-wrapper" >
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper ng-controller="PostPaymentCtrl as postPayCtrl">
        <div class="off-canvas-content" data-off-canvas-content>
            <div class="row">
                <div class="small-12  columns">

                    <div ng-if="postPayCtrl.paymentRetry">
                        <h1 style="text-align: center">Payment Failed</h1>

                        <div class="col">
                            Error: <div class="text-danger" ng-bind-html="postPayCtrl.paymentRetryMsg">
                            </div>

                            <br>
                            <p>If your card has been charged by the bank, please check with the airline regarding the booking.</p>
                            <br/>
                        </div>

                        <div class="col">
                            <button class="button small-12" ng-click="postPayCtrl.startOver()">Start Over</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dummyForm"></div>
</div>
