$colors: require('colorTheme'); // Just like Node require()!

.foo {
  color: map-get($colors, primary);

  &:hover {
    // Sassport uses inferred Sass values, not strings!
    color: lighten(map-get($colors, primary), 10%);
  }
}