
<!-- Page Wrapper -->
<div id="signin-section" class="content" ng-controller="signInCtrl as sign" >


    <section class="content-wrapper">



        <!-- Content Body -->
        <div class="content-body">

            <!-- Row -->
            <div class="row">

                <!-- Inside Content -->
                <div class="inside-content col-xs-12 col-sm-8">

                    <div class="content-header" ng-hide="sign.isForgetPassword">
                        <h1 class="page-title">
                            <span class="main-text" translate="lbl_login_caption">Member login</span>
                        </h1>
                    </div>
                    <div class="content-header" ng-show="sign.isForgetPassword">
                        <h1 class="page-title">
                            <span class="main-text" translate="lbl_forgotpassword_caption">Forgot Password?</span>
                        </h1>
                    </div>

                    <div isa-busy-loader ng-show="sign.isLoaderVisible"></div>

                    <!-- <div class="description" ng-hide="sign.isForgetPassword">
                        If you are already registered with Air Arabia, you can login to fill your
                        contact information using your profile.
                    </div> -->



                    <form novalidate 
                        isa-validator-type="signIn"
                        isa-validator-rules="{{sign.signInValidation}}"
                        name="signIn" 
                        ng-submit="sign.submitSignIn(signIn)"
                        ng-hide="sign.isForgetPassword">
                        <div class="row">
                            <div class="col-xs-12 col-md-9">

                                <div class="ibe-typeahead">
                                    <div isa-validator class="sign-in-emailAddressAndPassword">
                                        <label for="email" translate="lbl_common_emailAddress">
                                            Email address
                                        </label>
                                        <div>
                                            <input isaAttrPlaceholder placeholder-caption="Email Address" placeholder-symbol="*"
                                                   is-visible="true" is-input-disabled="true" type="text" name="email" ng-model="sign.user.customerID" class="form-control">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12 col-md-9">

                                <div class="ibe-typeahead">
                                    <div isa-validator class="ma-bt-0 sign-in-emailAddressAndPassword">
                                        <label for="password" translate="lbl_common_password">
                                            Password
                                        </label>
                                        <div >
                                            <input isaAttrPlaceholder placeholder-caption="Password" placeholder-symbol="*"
                                                   is-visible="true" is-input-disabled="true" type="password" name="password" ng-model="sign.user.password" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-9 col-xs-12">
                                <div class="form-footer">
                                    <label>
                                        <a href="" translate="lbl_passenger_forgotPw" ng-click="sign.showForgetPasswordPanel($event)">Forgot Password? </a>
                                    </label>
                                    <button type="submit" name="loginButton" class="button red-btn hidden-xs" ng-disabled="sign.isLoginProcessing">{{sign.loginButtonText}}</button>
                                </div>
                            </div>
                        </div>
                        <div class="row hidden-sm hidden-md hidden-lg">
                            <div class="col-xs-12">
                                <div class="form-footer sign-btn">
                                    <button type="submit" name="loginButton" class="button red-btn" ng-disabled="sign.isLoginProcessing">{{sign.loginButtonText}}</button>
                                </div>
                            </div>
                        </div>


                    </form>

                    <div id="reset-password" class="" ng-show="sign.isForgetPassword">

                        <form novalidate valdr-type="forgetPassword" name="forgetPassword" ng-submit="sign.getForgetPassword(forgetPassword)">

                            <div class="row">
                                <div class="col-xs-12 col-md-9">
                                    <div class="ibe-typeahead">
                                        <div isa-validator>
                                            <div>
                                                <label for="email" translate="lbl_forgotpassword_emailAddress">Enter your email address below to reset your password</label>
                                                <input isaAttrPlaceholder placeholder-caption="Email Address" placeholder-symbol="*"
                                                       is-visible="true" is-input-disabled="true" type="text" name="forgetEmail" id="forgetEmail"
                                                       ng-model="sign.forgetPasswordEmail" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-if="sign.carrierCode == 'W5'">
                                <div class="col-md-12">
                                    <div class="ibe-typeahead">
                                        <div isa-validator>
                                            <div>
                                                <label for="securityQuestion" translate="lbl_common_security_question">Security Question</label>
                                                <div class="ibe-drop-down">
                                                    <div class="btn-group" uib-keyboard-nav uib-dropdown>
                                                        <button id="question-button"
                                                                type="button" class="btn btn-primary"
                                                                uib-dropdown-toggle
                                                                ng-disabled="disabled"
                                                                ng-model="sign.forgetPasswordQuestion"
                                                                name="secretQuestion"
                                                                enable-valdr-validation
                                                                enable-valdr-message>

                                                            <span class="dp-caption">{{sign.forgetPasswordQuestion|| '' }}&nbsp;</span> <span
                                                                class="fa fa-angle-down"></span>
                                                        </button>
                                                        <ul class="uib-dropdown-menu" role="menu"
                                                            aria-labelledby="single-button">
                                                            <li ng-repeat="secretQuestion in sign.secretQuestionList"
                                                                ng-click="sign.setSecretQuestion(secretQuestion['1'])"
                                                                role="menuitem"><a href="javascript:;">{{secretQuestion[1]}}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-if="sign.carrierCode == 'W5'">
                                <div class="col-md-12">
                                    <div class="ibe-typeahead">
                                        <div isa-validator>
                                            <div>
                                                <label for="securityAnswer" translate="lbl_common_security_answer">Your Answer</label>
                                                <input isaAttrPlaceholder placeholder-caption="Email Address" placeholder-symbol="*"
                                                       is-visible="true" is-input-disabled="true" type="text" name="securityAnswer" id="forgetAnswer"
                                                       ng-model="sign.forgetPasswordAnswer" class="form-control">
                                            </div>
                                        </div>
                                        <span class="validation-msg" ng-show="sign.isInvalidCaptcha">Please enter the valid captcha.</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-9">
                                    <div class="captcha-form">
                                        <div class="captcha-key">
                                            <img ng-src="{{sign.captchaSrc}}" style="cursor: pointer;"
                                                 ng-click="sign.refreshCaptcha()" width="200"/>
                                            <i class="refresh" ng-click="sign.refreshCaptcha()"></i>
                                        </div>

                                        <div isa-validator>
                                            <input placeholder ="Enter the above text here"
                                                   type="text" name="captcha" id="captcha"
                                                   ng-model="sign.captcha" class="form-control">
                                        </div>
                                        <span class="validation-msg" ng-show="sign.isInvalidCaptcha">Please enter the valid captcha.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-9">
                                    <div class="form-footer back-to-login-section">
                                        <div class="pull-left hidden-xs hidden-md hidden-lg" style="margin-top: -20px">
                                            <label><a href="" class="back-to-login"  translate="lbl_passenger_backToLogin" ng-click="sign.isForgetPassword = false">Back to Login</a></label>
                                        </div>
                                        <button class="button red-btn hidden-xs" type="submit" translate="lbl_passenger_getForgotPW">Get forget password</button>
                                        <div class="pull-left hidden-sm">
                                            <label><a href="" class="back-to-login"  translate="lbl_passenger_backToLogin" ng-click="sign.isForgetPassword = false">Back to Login</a></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hidden-sm hidden-md hidden-lg row">
                                <div class="col-xs-12">
                                    <div class="form-footer">
                                        <button class="button red-btn" type="submit" translate="lbl_passenger_getForgotPW">Get forget password</button>
                                        <div class="pull-left">
                                            <label><a href="" class="back-to-login" ng-click="sign.isForgetPassword = false" translate="lbl_passenger_backToLogin">Back to Login</a></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>



                </div><!-- // Inside Content -->

                <!-- Sidebar -->
                <div ng-if="sign.isLoyaltyManagementEnabled" class="sidebar col-sm-4">

                    <!-- Dashboard Widget -->
                    <!-- <div class="dashboard-widget">


                        <div class="widget-header bg-red">
                            <span><img src="images/my-airarabia-white.png"></span>
                        </div>

                        <div class="widget-content">

                            <p class="intro">Discover all the benefits for signing up for My Airarabia</p>

                            <ul>
                                <li><a href=""><span>Be the first to know about our promotions, new routes, schedule launches.</span></a></li>
                                <li><a href=""><span>Keep a list of all your reservations and check the details at any time.</span></a></li>
                                <li><a href=""><span>Change your reservations and keep the remaining credit to be used for future use.</span></a></li>
                            </ul>
                        </div>
                    </div> -->
                    <!-- // Dashboard Widget -->

                    <!-- Dashboard Widget -->
                    <div class="dashboard-widget">

                        <!-- Widget Header -->
                        <div class="widget-header bg-red">
                            <span><img src="images/airewards-logo-white.png"></span>
                        </div><!-- // Widget Header -->

                        <!-- Widget Content -->
                        <div class="widget-content">

                            <p class="intro" translate="lbl_signin_airrewards_intro">Air Rewards offers loyal Air Arabia customers a wide range of benefits and rewards:</p>

                            <ul>
                                <li><label><a href="" translate="lbl_signin_airrewards_earn_points"><span>Earn points for every 1USD you spend.</span></a></label></li>
                                <li><label><a href="" translate="lbl_signin_airrewards_redeem_dates"><span>Redeem on any flight with no blackout dates.</span></a></label></li>
                                <li><label><a href="" translate="lbl_signin_airrewards_use_points"><span>Use points + cash anytime</span></a></label></li>
                                <li><label><a href="" translate="lbl_signin_airrewards_earn_and_share"><span>Earn and share points with family accounts.</span></a></label></li>
                            </ul>
                        </div><!-- // Widget Content -->
                    </div><!-- // Dashboard Widget -->

                    <!-- Dashboard Widget - Mashreq widget hidden -->
                    <div class="dashboard-widget" ng-show="false">

                        <!-- Widget Header -->
                        <div class="widget-header bg-red">
                            <span><img src="images/mashreq-logo-white.png"></span>
                            <h4>Mashreq Air Arabia Credit card</h4>
                        </div><!-- // Widget Header -->

                        <!-- Widget Content -->
                        <div class="widget-content">

                            <span class="img">
                                <img src="images/mashreq-cards.png">
                            </span>

                            <div class="clear"></div>

                            <p class="intro pd-tp-4">Apply for Mashreq Air Arabia Platinum Credit Card and earn Dirhams for every retail purchase you make with your card.</p>

                        </div><!-- // Widget Content -->
                    </div><!-- // Dashboard Widget -->

                </div><!-- // Sidebar -->
            </div><!-- // Row -->

        </div><!-- // Content Body -->


        <!-- Content Footer -->
        <!-- <div class="content-footer">
            <span><sup class="red">*</sup> By Registering My Air Arabia, You accept to recieve our promotional emails and offers.</span>
        </div> -->
        <!-- // Content Footer -->

    </section><!-- // Page Wrapper -->
</div>