
<!-- Page Banner -->
<div class="page-banner">
    <div class="wrap">
        <img src="images/misc/reg-banner-content.png" onerror="this.src = '';" border="0">
    </div>
</div><!-- // Page Banner -->
