<div class="plane-map">
    <!-- Plane Head -->
    <div class="plane-head"></div><!-- // Plane Head -->
    <!-- Plane Body -->
    <div class="plane-body">
        <!-- Section -->
        <section class="col-numbers">
            <!--Row Group-->
            <div class="row-group group-1 col-md-6">

                <!--Seat Row-->
                <div class="seats-row">
                    <span class="seat col-md-4">
                        <h4>A</h4>
                    </span>
                    <span class="seat col-md-4">
                        <h4>B</h4>
                    </span>
                    <span class="seat col-md-4">
                        <h4>C</h4>
                    </span>
                </div><!--// Seat Row-->

            </div><!--// Row Group-->

            <!--Row Group-->
            <div class="row-group group-2 col-md-6">

                <!--Seat Row-->
                <div class="seats-row">
                    <span class="seat col-md-4">
                        <h4>D</h4>
                    </span>
                    <span class="seat col-md-4">
                        <h4>E</h4>
                    </span>
                    <span class="seat col-md-4">
                        <h4>F</h4>
                    </span>
                </div><!--// Seat Row-->

            </div><!--// Row Group-->
        </section><!-- // Section -->
        <div ng-show="isSeatMapDataAvailable()"><span>Seat map not available for this segment</span></div>
        <section ng-repeat="cabin in seatMapDataModel.cabinClass" class="{{cabin.cabinType}}">

            <section ng-repeat="airRowGroup in cabin.airRowGroupDTOs" clss="{{airRowGroup.rowGroupId}}">
                <!-- Row Group -->
                <div class="row-group group-{{airColumn.columnGroupId}} col-md-6 airColumn-{{airColumn.columnGroupId}}" ng-repeat="airColumn in airRowGroup.airColumnGroups | orderBy:'columnGroupId'">
                    <!-- Seat Row -->

                    <!--DEV COMMENT :- Please Add "exit-row" class to exit row -->
                    <div class="seats-row  row-{{airRow.rowNumber}}" ng-repeat="airRow in airColumn.airRows | orderBy:rowNumber">

                        <!-- Row Number -->
                        <i class="row-number" ng-if="airColumn.columnGroupId==1">{{airRow.rowNumber}}</i><!-- // Row Number -->
                        {{airSeat}}
                        <span class="seat col-md-4 hidden-xs" ng-repeat="airSeat in airRow.airSeats" ng-class="{'exit-seat': airSeat.type === 'EXIT'}"
                              uib-tooltip-template="'myTooltipTemplate.html'"
                              tooltip-placement="right"
                              tooltip-enable="airSeat.seatAvailability == jsonMap.availability['VAC'] || airSeat.seatAvailability == jsonMap.availability['SEL']"
                        >
                            <i ng-class="{'seat-previous':checkAvailability(airSeat, 'INA'),
                                'seat-available':checkAvailability(airSeat, 'VAC'),
                                'seat-selected':checkAvailability(airSeat, 'SEL'),
                                'seat-reserved':checkAvailability(airSeat, 'RES')}"
                               id="{{airSeat.seatNumber}}"
                               ng-click="selectSeat($event, airSeat)"></i>

<!--                            <span class="tooltip black-tooltip" ng-if="airSeat.seatAvailability == jsonMap.availability['VAC']">
                                <i class="seat-number">{{airSeat.seatNumber}}</i>
                                <i class="seat-price" ng-if="airSeat.price != 0">
                                    &lt;!&ndash;<span class="currency"></span>&nbsp;&ndash;&gt;
                                    &lt;!&ndash;<span isa-connector="{{airSeat.price}}"></span>&ndash;&gt;
                                </i>
                                <i class="seat-price" ng-if="airSeat.price == 0">Free </i>
                            </span>

                            <span class="tooltip black-tooltip selected-tooltip" ng-if="airSeat.seatAvailability == jsonMap.availability['SEL']">
                                <i class="seat-number">{{airSeat.seatNumber}}</i>

                                <i class="seat-number truncate">{{airSeat.passengerName}}</i>
                                <i class="seat-price" ng-if="airSeat.price != 0">
                                    &lt;!&ndash;<span class="currency"></span>&nbsp;&ndash;&gt;
                                    &lt;!&ndash;<span isa-connector="{{airSeat.price}}"></span>&ndash;&gt;
                                </i>
                                <i class="seat-price" ng-if="airSeat.price == 0">Free </i>

                            </span>-->
                        </span>
                         <span class="seat col-md-4 hidden-sm hidden-md hidden-lg" ng-repeat="airSeat in airRow.airSeats" ng-class="{'exit-seat': airSeat.type === 'EXIT'}"
                              uib-tooltip-template="'myTooltipTemplate.html'"
                              tooltip-placement="bottom"
                              tooltip-enable="airSeat.seatAvailability == jsonMap.availability['VAC'] || airSeat.seatAvailability == jsonMap.availability['SEL']"
                        >
                            <i ng-class="{'seat-previous':checkAvailability(airSeat, 'INA'),
                                'seat-available':checkAvailability(airSeat, 'VAC'),
                                'seat-selected':checkAvailability(airSeat, 'SEL'),
                                'seat-reserved':checkAvailability(airSeat, 'RES')}"
                               id="{{airSeat.seatNumber}}"
                               ng-click="selectSeat($event, airSeat)"></i>
                        </span>
                    </div><!-- // Seat Row -->
                </div><!-- // Plane Body -->
            </section>
        </section>
    </div>
    <!-- Plane Tail --
    <div class="plane-tail"></div>
    <!-- // Plane Tail -->

    <script type="text/ng-template" id="myTooltipTemplate.html">
        <span class="uib-tooltip" ng-if="airSeat.seatAvailability == jsonMap.availability['VAC']">
            <i class="seat-number">{{airSeat.seatNumber}}</i>
            <i class="seat-price" ng-if="airSeat.price != 0">
                <span class="currency"></span>&nbsp;
                <span isa-connector="{{airSeat.price}}"></span>
            </i>
            <i class="seat-price" ng-if="airSeat.price == 0">Free </i>
        </span>


        <span class="uib-tooltip selected-tooltip" ng-if="airSeat.seatAvailability == jsonMap.availability['SEL']">
            <i class="seat-number">{{airSeat.seatNumber}}</i>

            <i class="seat-number truncate">{{airSeat.passengerName}}</i>
            <i class="seat-price" ng-if="airSeat.price != 0">
                <span class="currency"></span>&nbsp;
                <span isa-connector="{{airSeat.price}}"></span>
            </i>
            <i class="seat-price" ng-if="airSeat.price == 0">Free </i>
        </span>
    </script>
</div><!-- // Plane -->