<div id="accordion-section-{{$parent.$index}}">
    <div class="panel accordion hidden-sm hidden-md hidden-lg options-row body fare_col_{{headerInfo.length}}" data-index="{{$index}}" ng-repeat="flight in flightOptions" ng-show="flightOptions.length">
        <div class="left-section" data-toggle="collapse" data-target="#accordion{{$parent.$parent.$index}}_{{$index}},#accordion{{$parent.$parent.$index}}_{{$index}}_1"  data-parent = "#accordion-section-{{$parent.$parent.$index}}" aria-expanded="true" aria-controls="accordion_{{$index}}" style="cursor:pointer">
            <div class="flight-data-row" ng-class="{'xs-flight-margin':!isThreeTwentyDevice}">
                <div class="options-td departure-time departure-time-txt">
                    <label>{{flight.departureTime}}</label>
                </div>
                <div class="options-td flight-info flight-info-detail">
                    <!--<div class="caption-txt">&nbsp;<!-- Flight {{flight.flightNumber}}-->
                    <div class="flight-stop-wrapper">
                        <span class="flight-path"></span>
                        <span class="flight-icon flight-start pull-left" uib-tooltip-html="flight|stopType" tooltip-placement="top"
                              tooltip-trigger="mouseenter"
                              ng-class="{'icon-plane_shape_R':(flight.travelMode === 'FLIGHT'),
                            'icon-bus':(flight.travelMode === 'BUS')}"
                              ng-style="setDurationOfWidth(flight.stops)">
                            <i class="flight-name">{{flight.flightNumber}}</i>
                        </span>
                        <span>
                            <ul class="flight-point" >
                                <li uib-tooltip-html="stop|stopType" tooltip-placement="top"
                                    tooltip-trigger="mouseenter"
                                    ng-class="{'icon-plane_shape_R':(flight.stops[$index].travelMode === 'FLIGHT'),
                            'icon-bus':(flight.stops[$index].travelMode === 'BUS'),
                            'icon-pause':!(flight.stops[$index].flightNumber),
                            'icon-touchdown':!(flight.stops[$index].flightNumber)}"
                                    class="flight-icon" ng-repeat="stop in flight.stops" ng-style="setDurationOfWidth(flight.stops)">
                                    <i class="flight-name">{{stop.flightNumber}}</i>
                                </li>
                            </ul>
                        </span>
                        <span class="flight-icon flight-stop icon-stop pull-right"></span>
                    </div>
                    <!-- <p class="segment-code-txt">
                            <span>{{flight.originCode}}/</span><span ng-repeat="stop in flight.stops">{{stop.airportCode}}/</span><span>{{flight.destinationCode}}</span>
                        </p> -->
                    <div class="flight-duration caption-txt">
                        <p class="segment-code-txt">
                                <span>{{flight.originCode}}/</span>
                                <span ng-repeat="stop in flight.stops">{{stop.airportCode}}/</span><span>{{flight.destinationCode}}</span>
                        </p> 
                    </div>

                </div>
                <div class="rs-arrival-time options-td arrival-time arrival-time-txt" ng-class="{'nextday-flag': flight.nextDayFlag !== '','no-nextday-flag': flight.nextDayFlag == ''}">
                    <label>{{flight.arrivalTime}}</label><div class="pull-left" ng-if="flight.nextDayFlag !== ''" style="line-height: 0; font-size: 10px;" title="Next Day">{{flight.nextDayFlag}}</div>
                </div>
                
                <div ng-if="!(flight.flightFaresAvailability[0].fareValue === 0 || flight.flightFaresAvailability[0].fareValue === 'null')" class=" price-expand-lbl-div testing options-td flight-price-lbl pull-right" ng-class="{'nextday-flag': flight.nextDayFlag !== '','no-nextday-flag': flight.nextDayFlag == ''}">
                    <i class="flight-price-expand-icon fa fa-angle-down pull-right pull-right pd-rt-5"></i>
                    <span class="currency-text currency">{{currency}}</span>
                    <span class="currency-value fare-value" isa-connector ="{{flight.flightFaresAvailability[0].fareValue}}"></span>
<!--                    <div class="flight-fa-icon">
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </div>-->
                </div>
                <div class="col-xs-7 flightDuration">
                        <p style="text-align:center">{{flight|flightDuration}}</p>
                </div>
            </div>
            <div class="hidden-sm hidden-md hidden-lg section-line"><hr></div>
        </div>
        <script>
                $( document ).ready(function() {
               //changeHeightOnLoad(0);
              // changeHeightOnLoad(1);
                
            });
          $('.collapse').on('shown.bs.collapse', function(){
        $(this).parent().find(".fa-angle-down").removeClass("fa-angle-down").addClass("fa-angle-up");
        var maxValue=0;
        var indexValue = $(this).parent().index();
        var indexValue2 = $(this).parent().parent().parent().parent().parent().parent().parent().index()-1;
        //console.log("indexValue1="+indexValue+" index2="+indexValue2);
         if(typeof document.getElementById("xs-fareclassid_"+indexValue2+"_"+indexValue+"_0") !='undefined' && document.getElementById("xs-fareclassid_"+indexValue2+"_"+indexValue+"_0") !=null){
             maxValue = document.getElementById("xs-fareclassid_"+indexValue2+"_"+indexValue+"_0").offsetHeight;
           //console.log(document.getElementById("xs-fareclassid_0").offsetHeight);
        }
        if(typeof document.getElementById("xs-fareclassid_"+indexValue2+"_"+indexValue+"_1") !='undefined' && document.getElementById("xs-fareclassid_"+indexValue2+"_"+indexValue+"_1") !=null){
            if(maxValue < document.getElementById("xs-fareclassid_"+indexValue2+"_"+indexValue+"_1").offsetHeight)
                maxValue = document.getElementById("xs-fareclassid_"+indexValue2+"_"+indexValue+"_1").offsetHeight;
          // console.log(document.getElementById("xs-fareclassid_1").offsetHeight);
        }
        if(typeof document.getElementById("xs-fareclassid_"+indexValue2+"_"+indexValue+"_2") !='undefined' && document.getElementById("xs-fareclassid_"+indexValue2+"_"+indexValue+"_2") !=null){
             if(maxValue < document.getElementById("xs-fareclassid_"+indexValue2+"_"+indexValue+"_2").offsetHeight)
                maxValue = document.getElementById("xs-fareclassid_"+indexValue2+"_"+indexValue+"_2").offsetHeight;
          // console.log(document.getElementById("xs-fareclassid_2").offsetHeight);
        }
        if(typeof document.getElementById("xs-fareclassid_"+indexValue2+"_"+indexValue+"_3") !='undefined' && document.getElementById("xs-fareclassid_"+indexValue2+"_"+indexValue+"_3") !=null){
             if(maxValue < document.getElementById("xs-fareclassid_"+indexValue2+"_"+indexValue+"_3").offsetHeight)
                maxValue = document.getElementById("xs-fareclassid_"+indexValue2+"_"+indexValue+"_3").offsetHeight;
           //console.log(document.getElementById("xs-fareclassid_3").offsetHeight);
        }
        if(typeof document.getElementById("xs-fareclassid_"+indexValue2+"_"+indexValue+"_4") !='undefined' && document.getElementById("xs-fareclassid_"+indexValue2+"_"+indexValue+"_4") !=null){
             if(maxValue < document.getElementById("xs-fareclassid_"+indexValue2+"_"+indexValue+"_4").offsetHeight)
                maxValue = document.getElementById("xs-fareclassid_"+indexValue2+"_"+indexValue+"_4").offsetHeight;
           //console.log(document.getElementById("xs-fareclassid_4").offsetHeight);
        }
        if(maxValue !== '0'){
            var css = '.xs-fareclass_'+indexValue2+'_'+indexValue+'{height: '+maxValue+'px !important;}',
            head = document.head || document.getElementsByTagName('head')[0],
                        style = document.createElement('style');

                            style.type = 'text/css';
                            if (style.styleSheet){
                              style.styleSheet.cssText = css;
                            } else {
                              style.appendChild(document.createTextNode(css));
                            }

                            head.appendChild(style);
         }
        }).on('hidden.bs.collapse', function(){
        $(this).parent().find(".fa-angle-up").removeClass("fa-angle-up").addClass("fa-angle-down");
    }); 
    
    
    function changeHeightOnLoad(i){
                 var maxValue=0;
                if(typeof document.getElementById("xs-fareclassid_"+i+"_"+0+"_0") !='undefined' && document.getElementById("xs-fareclassid_"+0+"_"+0+"_0") !=null){
                    //console.log("in");
                    maxValue = document.getElementById("xs-fareclassid_"+i+"_"+0+"_0").offsetHeight;
                }
                 if(typeof document.getElementById("xs-fareclassid_"+i+"_"+0+"_1") !='undefined' && document.getElementById("xs-fareclassid_"+0+"_"+0+"_1") !=null){
                   // console.log("in");
                    if(maxValue < document.getElementById("xs-fareclassid_"+i+"_"+0+"_1").offsetHeight)
                    maxValue = document.getElementById("xs-fareclassid_"+i+"_"+0+"_1").offsetHeight;
                }
                 if(typeof document.getElementById("xs-fareclassid_"+i+"_"+0+"_2") !='undefined' && document.getElementById("xs-fareclassid_"+0+"_"+0+"_2") !=null){
                  //  console.log("in");
                    if(maxValue < document.getElementById("xs-fareclassid_"+i+"_"+0+"_2").offsetHeight)
                    maxValue = document.getElementById("xs-fareclassid_"+i+"_"+0+"_2").offsetHeight;
                }
                 if(typeof document.getElementById("xs-fareclassid_"+i+"_"+0+"_3") !='undefined' && document.getElementById("xs-fareclassid_"+0+"_"+0+"_3") !=null){
                   // console.log("in");
                    if(maxValue < document.getElementById("xs-fareclassid_"+i+"_"+0+"_3").offsetHeight)
                    maxValue = document.getElementById("xs-fareclassid_"+i+"_"+0+"_3").offsetHeight;
                }
                 if(typeof document.getElementById("xs-fareclassid_"+i+"_"+0+"_4") !='undefined' && document.getElementById("xs-fareclassid_"+0+"_"+0+"_4") !=null){
                   // console.log("in");
                    if(maxValue < document.getElementById("xs-fareclassid_"+i+"_"+0+"_4").offsetHeight)
                    maxValue = document.getElementById("xs-fareclassid_"+i+"_"+0+"_4").offsetHeight;
                 }
                
                if(maxValue !== '0'){
                var css = '.xs-fareclass_'+i+'_'+0+'{height: '+maxValue+'px !important;}',
                    head = document.head || document.getElementsByTagName('head')[0],
		    style = document.createElement('style');
	
			style.type = 'text/css';
			if (style.styleSheet){
			  style.styleSheet.cssText = css;
			} else {
			  style.appendChild(document.createTextNode(css));
			}
		
			head.appendChild(style);
                    }
            }
</script>

        <!--  <div class="options-row body fare_col_{{headerInfo.length}}" data-index="{{$index}}" ng-repeat="flight in flightOptions" ng-show="flightOptions.length"> -->
        <div class="collapse right-section right-section-fare  accordion-content"  id="accordion{{$parent.$parent.$index}}_{{$index}}_1">
            <a href="javascript:;"  ng-repeat="flightFare in flight.flightFaresAvailability| limitTo:5"
               class="fare-option-{{$index}} options-td fare-col-{{flight.flightFaresAvailability.length>5?5:flight.flightFaresAvailability.length}}" 
               data-id="{{flight.flightRPH}}_{{flight.flightNumber}}_{{flightFare.fareTypeId}}"
               ng-style="fTypeWidth" 
               ng-class="{'selected-fare':flightFare.isFlightSelect,'block-fare':blockFare}" 
               ng-if="!flight.isFlightFull">
                <div class="fare-col"  
                    ng-click="selectThisFare($event, flight, flightFare, $index)" 
                    ng-show ="!flightFare.fareValue === 'null' || !flightFare.fareValue === ' ' || flightFare.fareValue">
                   <div ng-if="flightFare.additionalFareClassInfo.discountAmount">
                        <span class="important-info top"id="important-info-save" ><span translate="lbl_fare_saveDisc">Save </span><span class="currency-text currency">{{currency}}</span>
                            <span class="currency-value fare-value" isa-connector ="{{flightFare.additionalFareClassInfo.discountAmount}}"></span></span>&nbsp;
                    </div>
                    <div class="xs-fareclass_{{outerIndex}}_{{$parent.$parent.$index}}" style="font-size:1rem !important;">
                        <span  id="xs-fareclassid_{{outerIndex}}_{{$parent.$parent.$index}}_{{$index}}" class="flight-class-name">{{headerInfo[$index].fareTypeName}}</span>
                    </div>
                    <span class="ribbon red-rebbon" ng-if="flightFare.additionalFareClassInfo.discountAmount" ng-init="setSavingsAvailable(true)"></span>
                    <div class="fare-radio-container" ng-show="flightFare.fareValue && flightFare.fareValue !== 'null'" isaconnecotor>
                        
                        <span class="currency-text currency">{{currency}}</span>
                        <span class="currency-value fare-value" isa-connector ="{{flightFare.fareValue}}"></span>
                        
                        <span class="fare-radio">
                            <input name="radioname_{{flight.flightRPH}}_{{flight.flightNumber}}_{{flightFare.fareTypeId}}_{{flight.flightNumber}}" type="radio" id="radio_{{flight.flightRPH}}_{{flight.flightNumber}}_{{flightFare.fareTypeId}}_{{flight.flightNumber}}" ng-model="flightFare.isFlightSelect"
                                   ng-value="true">
                            <label  for="radio_{{flight.flightRPH}}_{{flight.flightNumber}}_{{flightFare.fareTypeId}}_{{flight.flightNumber}}"></label>
                        </span>
                    </div>
                    <div ng-if="flightFare.fareValue === 'null' || flightFare.fareValue === ' ' || !flightFare.fareValue">
                        <span class="not-available" translate="lbl_common_notAvailable">Not Available</span>
                    </div>
                    <div ng-if="flightFare.availableSeats !== '' && flightFare.availableSeats !== '-1' && flightFare.availableSeats > -1">
                        <span class="important-info bottom" >{{flightFare.availableSeats}} <span translate="lbl_common_seatsLeft">Seat(s) left</span> </span>&nbsp;
                        <i class="fa fa-info-circle web-only blink" ng-if="flightFare.visibleChannels[0] == 'Web'" title="Web only"></i>
                    </div>

                    <!-- <div class="select-button"  ng-hide="flightFare.fareValue === 'null' || flightFare.fareValue ===' '|| !flightFare.fareValue || flightFare.isFlightSelect">
                          Select
                      </div>
      
                      <div class="selected-button"  ng-show="flightFare.isFlightSelect">
                          Selected
                      </div>-->

                </div>
                <!-- <div class="fare-col text-center notavailable"  ng-show="flightFare.fareValue === 'null' || flightFare.fareValue === ' ' || !flightFare.fareValue">

                    <div class='not-fare'>
                        <span class="not-available" translate="lbl_common_notAvailable">Not Available</span>
                    </div>

                </div> -->
            </a>
            <a href="javascript:;"  class="text-center notavailable" ng-if="flight.isFlightFull">
                <div class="fare-col notavailable" >
                    <div class='not-fare'>
                        <span class="not-available" translate="lbl_common_notAvailable">Flight Full</span>
                    </div>

                </div>
            </a>
        </div>
    </div>
</div>
<!-- For Medium and small -->
<div class="hidden-xs options-row body fare_col_{{headerInfo.length}}" data-index="{{$index}}" ng-repeat="flight in flightOptions" ng-show="flightOptions.length">
    <div class="left-section left-section-body">
        <!-- fare.toggleFlight('test 2') -->
        <div class="options-td departure-time departure-time-txt">
            <label>{{flight.departureTime}}</label>
        </div>
        <div class="options-td flight-info timeline-info">
            <div class="caption-txt">&nbsp;<!-- Flight {{flight.flightNumber}} --></div>
            <div class="flight-stop-wrapper">
                <span class="flight-path"></span>
                <span class="flight-icon flight-start pull-left" uib-tooltip-html="flight|stopType" tooltip-placement="top"
                      tooltip-trigger="mouseenter"
                      ng-class="{'icon-plane_shape_R':(flight.travelMode === 'FLIGHT'),
                            'icon-bus':(flight.travelMode === 'BUS')}"
                      ng-style="setDurationOfWidth(flight.stops)">
                    <i class="flight-name">{{flight.flightNumber}}</i>
                </span>
                <span>
                    <ul class="flight-point" >
                        <li uib-tooltip-html="stop|stopType" tooltip-placement="top"
                            tooltip-trigger="mouseenter"
                            ng-class="{'icon-plane_shape_R':(flight.stops[$index].travelMode === 'FLIGHT'),
                            'icon-bus':(flight.stops[$index].travelMode === 'BUS'),
                            'icon-pause':!(flight.stops[$index].flightNumber),
                            'icon-touchdown':!(flight.stops[$index].flightNumber)}"
                            class="flight-icon" ng-repeat="stop in flight.stops" ng-style="setDurationOfWidth(flight.stops)">
                            <i class="flight-name">{{stop.flightNumber}}</i>
                        </li>
                    </ul>
                </span>
                <span class="flight-icon flight-stop icon-stop pull-right"></span>
            </div>
            <div class="flight-duration">
            	<p class="segment-code-txt">
            		<span>{{flight.originCode}}/</span><span ng-repeat="stop in flight.stops">{{stop.airportCode}}/</span><span>{{flight.destinationCode}}</span>
            	</p>
            	<p class="caption-txt">{{flight|flightDuration}}</p>
            </div>
        </div>
        <div class="rs-arrival-time options-td arrival-time arrival-time-txt" ng-class="{'nextday-flag': flight.nextDayFlag !== ''}">
            <label>{{flight.arrivalTime}}</label><div ng-if="flight.nextDayFlag !== ''" style="line-height: 0;font-size: 10px;" title="Next Day">{{flight.nextDayFlag}}</div>
        </div>
    </div>
    <div class="right-section right-section-body">
        <a href="javascript:;"  ng-repeat="flightFare in flight.flightFaresAvailability| limitTo:5"
           class="options-td fare-col-{{flight.flightFaresAvailability.length}}" data-id="{{flight.flightRPH}}_{{flight.flightNumber}}_{{flightFare.fareTypeId}}"
           ng-style="fTypeWidth" 
           ng-class="{'selected-fare':flightFare.isFlightSelect,'block-fare':blockFare}" ng-if="!flight.isFlightFull">
            <div class="fare-col" 
            ng-class="{'radioWithSeats':flightFare.availableSeats !== '' && flightFare.availableSeats !== '-1' && flightFare.availableSeats > -1}"
            ng-click="selectThisFare($event, flight, flightFare, $index)" 
            ng-hide ="flightFare.fareValue === 'null' || flightFare.fareValue === ' ' || !flightFare.fareValue">
                <div ng-if="flightFare.additionalFareClassInfo.discountAmount">
                    <span class="important-info top"><span translate="lbl_fare_saveDisc">Save </span><span class="currency-text currency">{{currency}}</span>
                        <span class="currency-value fare-value" isa-connector ="{{flightFare.additionalFareClassInfo.discountAmount}}"></span></span>&nbsp;
                </div>
                <span class="ribbon red-rebbon" ng-if="flightFare.additionalFareClassInfo.discountAmount" ng-init="setSavingsAvailable(true)"></span>
                <div class="fare-radio-container" ng-show="flightFare.fareValue && flightFare.fareValue !== 'null'" isaconnecotor>
                    <span class="fare-radio">
                        <input name="radioname_{{flight.flightRPH}}_{{flight.flightNumber}}_{{flightFare.fareTypeId}}_{{flightFare.fareTypeId}}" type="radio" id="radio_{{flight.flightRPH}}_{{flight.flightNumber}}_{{flightFare.fareTypeId}}_{{flightFare.fareTypeId}}" ng-model="flightFare.isFlightSelect"
                               ng-value="true">
                        <label  for="radio_{{flight.flightRPH}}_{{flight.flightNumber}}_{{flightFare.fareTypeId}}_{{flightFare.fareTypeId}}"></label>
                    </span>
                    <span class="currency-text currency">{{currency}}</span>
                    <span class="currency-value fare-value" isa-connector ="{{flightFare.updatedFareValue || flightFare.fareValue}}"></span>
                </div>
                <div ng-if="flightFare.fareValue === 'null' || flightFare.fareValue === ' ' || !flightFare.fareValue">
                    <span class="not-available" translate="lbl_common_notAvailable">Not Available</span>
                </div>
                <div ng-if="flightFare.availableSeats !== '' && flightFare.availableSeats != '-1' && flightFare.availableSeats > -1">
                    <span class="important-info bottom">{{flightFare.availableSeats}} <span translate="lbl_common_seatsLeft">Seat(s) left</span> </span>&nbsp;
                    <i class="fa fa-info-circle web-only blink" ng-if="flightFare.visibleChannels[0] == 'Web'" title="Web only"></i>
                </div>
                <!--                <div class="select-button"  ng-hide="flightFare.fareValue === 'null' || flightFare.fareValue ===' '|| !flightFare.fareValue || flightFare.isFlightSelect">
                                    Select
                                </div>
                
                                <div class="selected-button"  ng-show="flightFare.isFlightSelect">
                                    Selected
                                </div>-->
            </div>
            <div class="fare-col" ng-show="flightFare.fareValue === 'null' || flightFare.fareValue === ' ' || !flightFare.fareValue">

                <div class='not-fare'>
                    <span class="not-available" translate="lbl_common_notAvailable">Not Available</span>
                </div>

            </div>
        </a>
        <a href="javascript:;"  ng-if="flight.isFlightFull">
            <div class="fare-col" >

                <div class='not-fare'>
                    <span class="not-available" translate="lbl_common_notAvailable">Flight Full</span>
                </div>

            </div>
        </a>
    </div>
     </div>
<div class="options-row body" data-index="{{$index}}" ng-hide="flightOptions.length" >
    <div class="center-section">
        <div class="options-td departure-time">
            <label translate="lbl_fare_noFlights">No flight(s) available </label>
        </div>
    </div>
</div>
<isa-busy-loader ng-hide="isBusyLoaderVisible === false" msg-text="{{loadingMsg}}"/> 

