<div ng-init="selectedFlightIndex = -1">
    <div class="flight-row modify-flight-search" ng-repeat="flight in flightOptions">


        <!-- xs-duration -->
        <div class="row xs-modify-flight-select" ng-if="mobileDevice">
            <div class="col duration search-result col-xs-9 xs-search-result pd-rt-0" ng-class="{'content-hidden': $index > 0 && $parent.selectedFlightIndex === $index - 1}">

                <!-- Departure -->
                <div class="departure"><label>{{flight.departureTime}}</label></div>
                <!-- // Departure -->

                <!-- Timeline -->
                <div class="timeline">
                    <span class="flight-no">{{flight.flightNumber}}</span>

                    <div class="flight-stop-wrapper">
                        <span class="flight-path"></span>
                        <span class="flight-icon pull-left flight-start icon-plane_shape_R" style="font-size: 1.4rem !important;"></span>
                        <span>

                            <ul class="flight-point">
                                <li uib-tooltip-html="stop|stopType" tooltip-placement="top"
                                    tooltip-trigger="mouseenter"
                                    ng-if="!(flight.stops[$index].flightNumber)"
                                    ng-class="{'icon-plane_shape_R':(flight.stops[$index].flightNumber),'icon-pause':!(flight.stops[$index].flightNumber), 'icon-touchdown':!(flight.stops[$index].flightNumber)}"
                                    class="flight-icon" ng-repeat="stop in flight.stops" style="line-height:2;font-size:11px;left:30%;top:-2px;margin-right:5px !important;"></li>

                                <li uib-tooltip-html="stop|stopType" tooltip-placement="top"
                                    tooltip-trigger="mouseenter" ng-if="(flight.stops[$index].flightNumber)"
                                    ng-class="{'icon-plane_shape_R':(flight.stops[$index].flightNumber),'icon-pause':!(flight.stops[$index].flightNumber), 'icon-touchdown':!(flight.stops[$index].flightNumber)}"
                                    class="flight-icon" ng-repeat="stop in flight.stops" style="line-height:2;font-size:11px;left:30%;top:-2px;margin-right:5px !important;"></li>

                            </ul>

                            <span class="flight-icon flight-stop icon-stop" ng-if="!(flight.stops[$index].flightNumber) && flight.stops.length > 0"></span> 
                            <span class="flight-icon flight-stop icon-stop" ng-if="(flight.stops[$index].flightNumber)"></span> 
                            <span class="flight-icon pull-right flight-stop icon-stop " ng-if="flight.stops.length === 0"></span>
                        </span>

                    </div>
                    <!-- Total time -->
                <label class="total-time truncate">{{flight|flightDuration}}</label><!-- Total time -->
                </div>
                <!-- // Timeline -->

                <!-- Arrival -->
                <div class="arrival"><label>{{flight.arrivalTime}}</label></div>
                <!-- // Arrival -->

                

            </div>
            <div class="col select-flight col-xs-3 xs-select-flight pull-right" ng-class="{'active':$parent.selectedFlightIndex == $index}"
                 ng-click="onClickEditFlight($index, $parent.selectedFlightIndex);$parent.selectedFlightIndex = ($parent.selectedFlightIndex == $index) ? -1 : $index">
                <span class="ico" ng-if="$parent.selectedFlightIndex === $index" ng-hide="flight.isFareListVisible">
                    <img width="18px" ng-if="isBusyLoaderVisible" src="js/util/isaui_lib/dist/images/bx_loader.gif" alt="loading">
                </span>

                <span class="text truncate">
                    <a href="" ng-if="$parent.selectedFlightIndex !== $index" translate="lbl_modify_selectThisFlight">Select this flight</a>
                    <a href="" ng-if="$parent.selectedFlightIndex === $index" translate="lbl_modify_selectAFare">Select a fare</a>
                </span>
            </div>
        </div>

        <!-- //xs-duration -->

        <!-- Duration -->
        <div class="col duration search-result col-sm-9  col-md-10" ng-class="{'content-hidden': $index > 0 && $parent.selectedFlightIndex === $index - 1}" ng-if="!mobileDevice">

            <!-- Departure -->
            <div class="departure"><label class="ma-bt-0">{{flight.departureTime}}</label></div>
            <!-- // Departure -->

            <!-- Timeline -->
            <div class="timeline">
                <span class="flight-no">Flight {{flight.flightNumber}}</span>

                <div class="flight-stop-wrapper">
                    <span class="flight-path"></span>
                    <span class="flight-icon flight-start icon-plane_shape_R pull-left"></span>
                    <span>
                        <ul class="flight-point">
                            <li uib-tooltip-html="stop|stopType" tooltip-placement="top"
                                tooltip-trigger="mouseenter"
                                ng-class="{'icon-plane_shape_R':(flight.stops[$index].flightNumber),'icon-pause':!(flight.stops[$index].flightNumber), 'icon-touchdown':!(flight.stops[$index].flightNumber)}"
                                class="flight-icon" ng-repeat="stop in flight.stops"></li>
                        </ul>
                    </span>
                    <span class="flight-icon flight-stop icon-stop pull-right"></span>
                </div>
            </div>
            <!-- // Timeline -->

            <!-- Arrival -->
            <div class="arrival"><label class="ma-bt-0">{{flight.arrivalTime}}</label></div>
            <!-- // Arrival -->

        </div>
<!--        <div class="total-time-div hidden-xs">
			<p>
		         Segment Code 
				<span class="segment-code">
					<span>{{flight.originCode}}/</span><span ng-repeat="stop in flight.stops">{{stop.airportCode}}/</span><span>{{flight.destinationCode}}</span>
				</span>
			  Total time             
	            <span><label class="total-time">{{flight|flightDuration}}</label></span> // Total time 
			</p>
        </div>-->
        <!-- // Duration -->

        <!-- Promo Fare -->
        <!--<div class="col promo-fare">
            <label>{{flight.flightFaresAvailability[0].fareTypeName}}</label>
            &lt;!&ndash;<span>{{currency}} <i>{{flight.flightFaresAvailability[0].fareValue}}</i></span>&ndash;&gt;
        </div>-->
        <!-- // Promo Fare -->
        <!-- <div class="hidden-md hidden-sm hidden-lg col-xs-2" style="width: 27.2%"></div> -->
        <!-- Select flight -->
        <div class="col select-flight col-sm-3" ng-class="{'active':$parent.selectedFlightIndex == $index}" ng-if="!mobileDevice"
             ng-click="onClickEditFlight($index, $parent.selectedFlightIndex);$parent.selectedFlightIndex = ($parent.selectedFlightIndex == $index) ? -1 : $index">
            <span class="ico" ng-if="$parent.selectedFlightIndex === $index">
                <i ng-class="{'icon-close': !isBusyLoaderVisible}"></i>
                <img width="18px" ng-if="isBusyLoaderVisible" src="js/util/isaui_lib/dist/images/bx_loader.gif" alt="loading">
            </span>

            <span class="text">
                <a href="" ng-if="$parent.selectedFlightIndex !== $index" translate="lbl_modify_selectThisFlight">Select this flight</a>
                <a href="" ng-if="$parent.selectedFlightIndex === $index" translate="lbl_modify_selectAFare">Select a fare</a>
            </span>

            <ul class="flight-fares " ng-show="$parent.selectedFlightIndex == $index && flight.isFareListVisible">
                <li ng-repeat="flightFare in flight.flightFaresAvailability| limitTo:5"
                    ng-click="onSelectFareNoPopup({selectedFlight: flight, selectedFare: flightFare})"
                    uib-tooltip-template="'myTooltipTemplate.html'"
                    tooltip-placement="bottom" >

                    <label>{{flightFare.description}}</label>
                    <i class="select" translate="lbl_common_select">Select</i>
                </li>
            </ul>
        </div>
        <span>{{flightFare}}</span>
        <div class="xs-select-flight-fare select-flight" ng-if="mobileDevice"> 
            <ul class="flight-fares xs-fare-type xs-fare-type-{{flight.flightFaresAvailability.length>5?5:flight.flightFaresAvailability.length}}"
                ng-show="$parent.selectedFlightIndex == $index && flight.isFareListVisible"
                style="max-height: 75px !important" >
                <li id="flight-modify-fare-type" ng-repeat="flightFare in flight.flightFaresAvailability| limitTo:5"
                    ng-click="onSelectFareNoPopup({selectedFlight: flight, selectedFare: flightFare})"
                    uib-tooltip-template="'myTooltipTemplate.html'"
                    tooltip-placement="bottom" style="max-height: 70px; height: 70px">

                    <label style="overflow-wrap: break-word;">{{flightFare.description}}</label>
                    <i class="select" translate="lbl_common_select">Select</i>
                </li>
            </ul>
        </div>
        <!-- // Select flight -->

    </div>
    <div ng-if="flightOptions.length !== 0" class="flight-row modify-flight-search last-row"></div>
    <!--Flight Row -->

    <script type="text/ng-template" id="myTooltipTemplate.html">
        <img ng-if="flightFare.imageUrl!==''" ng-src="{{flightFare.imageUrl}}" alt=""/>
    </script>
</div>

