<div ng-controller="LoginCtrl as login">
    <div class="login-page"></div>
    <div class="loginbgoverlay"></div>  
        
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <div class="loginform">
                <div class="login-header">
                   <h4>Login</h4>
                   <div class="loginform-logo">
                    <img src="images/loginformlogo.png" />
                   </div>
                </div>
                
                <div class="login-content">
                    <p>If you are already registered with Air Arabia, you can login to fill your contact information using your profile.</p>
                    
                    <form>
                      <div class="form-group">
                        <input type='text' class="form-control" placeholder="Username" ng-model="login.user">
                      </div>
                        
                      <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" ng-model="login.pw">
                      </div> 
                      <div class="form-group">  
                          <button class="btn btn-login pull-right" type="button" ng-click="login.logInUser()">Login</button>
                          <div class="clearfix"></div>     
                      </div>  
                    </form>    
                </div>    
            </div>
        </div>
    </div>
</div>