
<div class="container login-bar {{ login.isMobileHeaderVisible ? 'hidden-sm hidden-md hidden-lg' : ''}}" ng-controller="loginBarCtrl as login">
    <div>
        <div class="col-xs-12 pd-l-0 pd-r-0 {{login.isMobileHeaderVisible ? '' : 'hidden-xs'}}" ng-if="deviceType.isMobileDevice">
            <div class="row">
                <div class="col-xs-6 pd-r-1 pull-left ">
                <!-- Page Title -->
                <h1 class="dashboard-page-title">
                    <span class="truncate main-text" style="font-weight: bold; width: 95%" translate="lbl_common_dashboard" ng-if="login.isDashboard">Dashboard</span>
                    <span class="truncate main-text" style="font-weight: bold; width: 95%" translate="lbl_update_profile" ng-if="login.isUpdateProfile">Update Profile</span>
                    <span class="truncate main-text" style="font-weight: bold; width: 95%" translate="lbl_common_allReservations" ng-if="login.isMyReservations">All Reservations</span>
                    <span class="truncate main-text" style="font-weight: bold; width: 95%" translate="lbl_reset_password" ng-if="login.isChangePassword">Reset Password</span>
                    <span class="truncate main-text" style="font-weight: bold; width: 95%" translate="lbl_passenger_seatMeal" ng-if="login.isSeatMeatPreferences">Seat / Meal Preferences</span>
                    <span class="truncate main-text" style="font-weight: bold; width: 95%" translate="lbl_passenger_addFamilyDetails" ng-if="login.isFamilyAndFriends">Family And Friends</span>
                </h1>
                <!-- // Page Title -->
                </div>
                <div class="col-xs-6 user-menu pull-right" ng-show="login.isUserLoggedIn">

                <!-- Toggle -->
                <a href="" class="toggle" ng-model="login.extrasVisible"
                   ng-click="login.extrasVisible = !login.extrasVisible; login.userProfileVisible = false"><i class="icon-nav-toggle" style="color: #333"></i></a><!-- // Toggle -->

                <span class="user-name" ng-model="login.userProfileVisible" >{{login.user.loggedInCustomerDetails.firstName}} {{login.user.loggedInCustomerDetails.lastName}}</span>
                <i ng-model="login.userProfileVisible" ng-click="login.userProfileVisible = !login.userProfileVisible; login.extrasVisible = false;" class="fa fa-caret-down"></i>          
                </div>
            </div>               
        </div>
        <div ng-if="login.isUserLoggedIn" class="row dashboard-title user-details pull-left hidden-xs col-md-12 col-sm-12">
        	<div class="row col-md-8 col-sm-8">
	            <!-- Page Title -->
	            <h3 class="page-title pd-0 col-md-3 col-sm-3 col-xs-12" style="font-weight: bold; top:5px;" ng-if="login.isDashboard">
	                <span class="main-text" translate="lbl_common_dashboard">Dashboard</span>
	            </h3>
	            <!-- // Page Title -->
	            <div class="{{login.isDashboard? 'col-md-9 col-sm-9': 'col-md-12'}} col-xs-12 pull-left pd-0">
	            	<span class="col-md-1 col-sm-1 user-icon text-right pd-0">
	            		<i class="fa fa-user"></i>
	            	</span>
	            	<div class="col-md-11 col-sm-11 pd-r-0">
		            	<div class="row" id="user-name-details">
			                <span translate="lbl_login_welcome" >Welcome, </span>
			                <span class="login-name">{{login.userDisplayName}}</span>
			                <span  class="signout" translate="lbl_passenger_signout1" ng-click="login.signout()">(Sign Out)</span>
			            </div>
			            <div class="col-md-12 col-sm-12 col-xs-12 pd-r-0 pd-l-0">
			            	<span ng-show="login.isEmailConfirmed">
			                	<span>{{login.lmsPoints| number }}</span>
			                	<span translate="lbl_login_rewards_points">Air Rewards Points</span>
			                </span>
			                <span translate="lbl_login_not_activated" class="red"
			                	ng-hide="login.user.loggedInLmsDetails == null || login.user.loggedInLmsDetails.emailConfirmed">Account not activated</span>
				            <span id="other-details-bottom">
				            	<span ng-show="login.isEmailConfirmed">&nbsp;|&nbsp;</span>
				                <span class="currency-text currency"></span>
				                <span class="" isa-connector="{{login.credits}}"
				                 decimal-points="2" with-decimal="true"></span>
				                <span translate="lbl_login_credits"  class="">Credits</span>
				            </span>
			            </div>
	            	</div>
	            </div>
            </div>
            <div class="row book-flight-btn col-md-4 col-sm-4 hidden-xs pull-right pd-r-0" ng-if="login.isDashboard">
                <button class="button red-btn" ng-click="login.goToBookAFlight()" translate="title_modifySearch_bookAFlight">Book a Flight</button>
            </div>
        </div>
        <div ng-if="login.isUserLoggedIn" class="user-details pull-left hidden-sm hidden-md hidden-lg" ng-class="{'xs-user-details' : login.userProfileVisible || login.extrasVisible}">
            <div class="row">	               	                
                <div class="col-xs-12">                
                    <span class="welcome-text" translate="lbl_login_welcome" >Welcome, </span>
                    <span class="login-name" >
                        {{login.userDisplayName}}
                    </span>
                    <span translate="lbl_passenger_signout1" class="signout" ng-click="login.signout()" ng-show="!login.isDashboard">(Sign Out)</span>		          
                </div>
            </div>
            <div class="row other-details" ng-show="login.isEmailConfirmed">
                <div class="col-xs-12"> 
                    <span style="font-weight: bold;">{{login.lmsPoints | number }}</span>
                    <span translate="lbl_login_rewards_points" >Air Rewards Points</span>
                </div>
            </div>
            <div class="row other-details" ng-hide="login.user.loggedInLmsDetails == null || login.user.loggedInLmsDetails.emailConfirmed">
                <div class="col-xs-12"> 
                    <span translate="lbl_login_not_activated"class="red">Account not activated</span>
                    <span class="red" >| </span><span translate="lbl_common_resendEmail" class="red" ng-click="login.resendEmail()"> | Resend email</span>  
                </div>
            </div>
            <div class="row other-details" style="padding-left: 10px!important">
                <div class="col-xs-12"> 
                    <div class="pull-left">
                        <span class="pull-left">
                            <span class="currency-text currency currency-left" style="font-weight: bold;padding-right: 3px;padding-top: 1px"> </span>
                            <span class="amount-right" style="font-weight: bold;padding-right: 3px" 
                            isa-connector="{{login.credits}}" decimal-points="2" with-decimal="true"></span>
                        </span>
                        <span translate="lbl_login_credits" class="pull-right">Credits</span>
                    </div>
                </div>
            </div>            
            <div class="dropdown-content" ng-show="login.userProfileVisible"> 
                    <ul>                        
                        <li><a href="" translate="lbl_update_profile"   onclick="document.getElementById('btn-update-profile').click()">Update Profile</a></li>
                        <li ng-if="login.carrierCode === 'G9'"><a href="" ng-click="login.goToChangePassword()" translate="lbl_change_password">Change Password</a></li>
                        <li><a href=""   translate="lbl_logOut" ng-click="login.signout()">Log out</a></li>
                    </ul>
            </div>
            <div class="dropdown-content quick-links" ng-if="login.extrasVisible">
                    <ul>
                        <li ng-click="login.backToHome()" class="text-left">
                            <a href="">
                                <span translate="lbl_common_dashboard">My Dashboard</span>
                            </a>
                        </li>
                        <li ng-click="login.goToMyAccount()" class="text-left">
                            <a href="">
                                <span translate="lbl_common_myAccount">My Account</span>
                            </a>
                        </li>
                        <li ng-click="login.goToMyReservation()" class="text-left">
                            <a href="">                                
                                <span translate="lbl_common_myReservations">My Reservations</span>
                            </a>
                        </li>
                        <li ng-click="login.goToMyStatement()" class="text-left"  style="display: none">
                            <a href="">                              
                                <span>My Statement</span>
                            </a>
                        </li>
                        <li ng-click="login.goToBookAFlight()" class="text-left">
                            <a href="">                               
                                <span translate="title_modifySearch_bookAFlight">Book a Flight</span>
                            </a>
                        </li>
                         <li ng-if="login.carrierCode === 'G9'" ng-click="login.goToChangePassword()" class="text-left">
                             <a href="">                             
                                <span translate="lbl_change_password">Change Password</span>
                            </a>
                        </li>
                         <li ng-click="login.goToSeatMealPreferences()" class="text-left"><a href="">
								<div translate="lbl_passenger_seatMeal">Seat/Meal Preferences</div>
						</a></li>
						    <li ng-click="login.goToFamilyAndFriends()" class="text-left"><a href="">
								<div translate="lbl_passenger_addFamily">Family and
									Friends</div>
                        </a></li>
                        <li ng-click="login.goToPaymentInfo()" class="text-left"><a href="">
								<span translate="lbl_dashboard_saved_cards_header">Family and
									Friends</span>
						</a></li>
                    </ul>
                </div><!-- // Dropdown Content -->
        </div>
        <div class="pull-right pd-tp-4">
            <div class="back-bar" id="back-to-home" ng-show="login.isUserLoggedIn && !login.isDashboard">
                <a href="" ng-click="login.backToHome()">Back to Home</a>
            </div>
        </div>
    </div>

