.loading-animation{
  position: fixed;
  z-index: 9999;
  top: 43%;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  width: 80%;
  /*border: 1px solid $base-color;*/
  font-size: 1em;
  color: $base-color;
  text-align: center;
}

.spinner {
  margin: 10px auto 0;
  width: 100%;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: $primary-color;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.modal-backdrop{
  z-index: 9999;
  opacity: .1;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}