	.socailBtnWrapper{
		width:90%;
		margin:5px auto;
		padding:10px;
		background-color: #f8f8f8 !important;
		border-radius: 4px !important;
		border:1px solid #e4e4e4
	}
	.soclaiButton{
		float:left;
		margin:3px 5px
	}	
	.soCommonBtn a{
		background-color: #ECECEC !important;
					background-image: -moz-linear-gradient(center top , #FEFEFE 0%, #ECECEC 100%) !important;
					border-color: #E2E2E2 #BFBFBF #B9B9B9 -moz-use-text-color !important;
					color: #333333 !important;
					border-radius: 0 2px 2px 0 !important;
	    border-style: solid solid solid none !important;
	    border-width: 1px 1px 1px 0 !important;
	    height: 20px !important;
	    line-height: 20px !important;
	    overflow: hidden !important;
	    padding: 0 4px 0 0px !important;
	    text-align: center !important;
	    text-shadow: -1px 1px 0 #FFFFFF !important;
	    vertical-align: top !important;
	    white-space: nowrap !important;
	    display:block;
	    text-decoration: none;
	}
	.soCommonBtn a:hover{
		background-color: #dedede !important;
					background-image: -moz-linear-gradient(center top , #EdEdEd 0%, #dedede 100%) !important;
					border-color: #ababab #9a9a9a #787878 -moz-use-text-color !important;
	}
	.buttonFB span.logo{
		background:url('../images/social-logo_no_cache.gif') no-repeat -2px 6px;;
		padding:11px;
		margin-right:3px;
	}
	.buttonLN span.logo{
		background:url('../images/linkedIn-logo_no_cache.png') no-repeat -2px 6px;;
		padding:11px;
		margin-right:3px;
	}
	.clear{clear:both}