.ssThinBorder{
	BORDER-RIGHT: #a6a6a6 1px solid; 
	BORDER-TOP: #a6a6a6 1px solid; 
	BORDER-LEFT: #a6a6a6 1px solid; 
	BORDER-BOTTOM: #a6a6a6 1px solid; 
	}

.ssThinBG{
	background-color:#EFEFEF;
	}
.ssHref:link
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
	color:Black;
}	
.ssHref:HOVER
{
	color:Red;
	text-decoration:underline;}

.ssThinBGSltd
{
	background-color:#FEDCDB;
	}	