/*
**** CSS Document which used to build common legacy layout on DIVs
*    DONOT add any client specific styles or color style classes in this,
*	 --Baladewa Welathanthri 
*/
div.div-Table{direction: ltr;}
div.div-Table-rtl{direction: rtl;}
div.div-Table div.table-Row {float: left;margin: 0;padding: 0;height: auto;margin-bottom: 4px} /* set the direction and floating over the page */
div.thin-row{height: auto! important}
div.div-Table-rtl div.table-Row {float: right;margin: 0;padding: 0;height: auto} /* set the direction and floating over the page */
div.one-Col {width:100%;}
div.two-Col {width:50%;}
div.three-Col {width: 33.3%;}
div.div-Table div.table-Row div.table-Data{float: left;margin: 0;padding: 3px 0px;text-align: left;height: auto}
div.div-Table-rtl div.table-Row div.table-Data{float: right;margin: 0;padding: 2px 0px;text-align: right;}
div.table-Row div.table-Data input,div.table-Row div.table-Data span,
div.table-Row div.table-Data label, div.table-Row div.table-Data select,
div.table-Row div.table-Data div{display: inline;margin: 0px 2px 0 0}
div.table-Row div.table-Data font,div.table-Row div.table-Data label.font{display: none;margin: 0}
div.table-Row div.table-Data img{display: inline;margin: 0px 2px 0 0}
div.one-Col div.left-TD{width:24%;}
div.one-Col div.right-TD{width:73%;}
div.two-Col div.left-TD{width:94%;}
div.two-Col div.right-TD{width:90%;}
div.three-Col div.left-TD{width:90%;}
div.three-Col div.right-TD{width:90%;}
div.end-Table{clear: both;height: 0px}
div.div-Table label.mandatory{margin: 0px! important}
div.div-Table-rtl label.mandatory{margin: 0px! important}
div.div-Table .auto-height{height:auto! important;padding:3px 0! important;}
div.div-Table .floatItem{float:right}
div.div-Table-rtl .floatItem{float:left}

/* */
div.div-Table .cunCode{
	text-align: right! important;
    width: 50px;
    margin-right: 14px! important;
}
div.div-Table .areaCode{
	text-align: right! important;
    width: 50px;
    margin-right: 14px! important;
}
div.div-Table .pNumber{
	text-align: right! important;
    width: 100px;
}

/* */
div.div-Table-rtl .cunCode{
	text-align: right! important;
    width: 50px;
    margin-left: 12px! important;
    float:left;
}
div.div-Table-rtl .areaCode{
	text-align: right! important;
    width: 50px;
    margin-left: 14px! important;
    float:left;
}
div.div-Table-rtl .pNumber{
	text-align: right! important;
    width: 100px;
    float:left;
}
div.div-Table-rtl #lblCountryCode{
	float:left;
	display:inline;
	width: 50px;
	margin-left: 12px! important;
}

div.div-Table-rtl #lblAreaCode{
	float:left;
	display:inline;
	width: 50px;
	margin-left: 14px! important;
}
div.div-Table-rtl #lblNumber{
	float:left;
	display:inline;
	width: 40px;
	margin-left: 14px! important;
	padding-right:10px;
}
#ui-datepicker-div{display:none}

.socialWrapper{
    height: 300px;
    width: 580px;
	background: url("../images/v3/social-med_no_cache.jpg") no-repeat;
}
.socialBtnArea{
    background: none repeat scroll 0 0 #FFFFFF;
    height: 90px;
    margin: 0 auto 0;
    position: relative;
    top: 200px;
    width: 400px;
    border-radius:6px;
    padding:3px;
    border: 1px solid #FDA915;
}
.socialBtnArea div.btnSocial{
	background: url("../images/v3/SM_icons_no_cache.jpg") no-repeat;
}
.btnSocial{
	float:left;
	width:68px;
	height:68px;
	cursor:pointer;
	margin:3px; 
}
.fbook{
	background-position:0px 0px !important;
}
.twiter{
	background-position: -250px 0 !important;
}
.googlep{
	background-position: -334px -85px !important;
}
.linkIn{
	 background-position: -334px 0 !important;
}
div#flSearch{
	display: block;
}
.reg-user-flow>div#flSearch{
	display: none;
}
