<?xml version="1.0" encoding="UTF-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>$commonTemplatingDTO.getCarrierName() Notification</subject>
	</header>
	<content>
        <body><![CDATA[#if($method)Dear $title. $firstName, Booking# $pnr Your flight $flightNumber {$origin/$destination} has been cancelled. Please call $phone for immediate assistance.#else Dear $title. $firstName, Booking# $pnr Your flight $oldFlightAlertInfoDTO.getFlightNumber() {$oldFlightAlertInfoDTO.getOriginAptCode()/$oldFlightAlertInfoDTO.getDestinationAptCode()} has been cancelled. Please call $phone for immediate assistance.#end]]></body>
	</content>
</message>