/* To Do : Refactor */
 html, body {	

}
* html{	
	overflow-x: hidden;
	overflow-y: auto;
	
}
body {
    background-color: #ffffff !important;
	color: #252525;
	font-family: Calibri,sans-serif;
	font-size: 14px;
}

#logo{
	background-image: url("../images/logo_no_cache.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='images/logo.gif', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(\a src='images/logo.gif',\a sizingMethod='scale')";
	float: left;
	width: 192px;
	height: 75px;
	text-indent: -99999px;
	margin-right: 15px;
	margin-top: 15px;
}

.wrap {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
	padding: 0 15px;
}

.mainPageLoader{
	display:none;
	z-index:9900;
	height:93px;
	position:absolute;
	top:50%;
	left:40%;
	width:249px
}
.mainPageLoaderFreame{
	position:absolute;
	background:transparent;
	width:253px;
	height:90px;
}
html, body,  ol,  dd, blockquote, q, h1, h2, h3, h4, h5, h6, form, fieldset, a, div, img, table
{
	margin: 0;
	padding: 0;
	border: 0;
	font-family:Tahoma,Arial,sans-serif;
	font-size: 11px;
	
}

a:link
{
    COLOR: #134373;
    TEXT-DECORATION: none
}
a:visited
{
    COLOR: #134373;
    TEXT-DECORATION: none
}

UL
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 4px;
}
LI
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 0px;
    margin-left: 15px;
}
label{
	font-family:Tahoma,Arial,sans-serif;
	font-size:13px;
	left:auto;
	color: #0b0b0b;
	line-height: 20px;
	letter-spacing: 0.4px;
}
.divfont{
	font-family:Tahoma,Arial,sans-serif;
	font-size:12px;
	left:auto;
	color: #0b0b0b;
}
font{
	font-family:Tahoma,Arial,sans-serif;
	font-size:12px;
	left:auto;
	color: #0b0b0b; 
}
.fntDefault{
	font-family:Tahoma,Arial,sans-serif;
	font-size:12px;
	left:auto;
	color: #0b0b0b;
}
.appLogo{
	background-image:url(../images/n024_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:0 bottom;
	height:50px;
	background-color: transparent;
}
.topBannerMB{
	background-image:url(../images/n038_no_cache.jpg);
	background-repeat:repeat-x;
	height:85px;
}

#lnkHomeBanner{
	background:url(../images/n037_no_cache.gif) no-repeat 50% 50%;
	width:170px;
	height:60px;
}

.PageBackGround{
	width: 1170px! important;
}
.rowSingleGap{
	height:5px;
}
.rowGap{
	height:10px;
}
.defaultRowGap{
	height:25px;
}
.gap{width: 30px}
.pnlTop{
	background:#ffffff;
	height:8px;
}
.pnlWidth{
	width:800px;
}
.pnlWidthLeft{
	width:258px;
}
.pnlTopR{
	/*background-image:url(../images/LIbe001_no_cache.jpg);*/
	height:0px;
	width:0px;
}
.pnlBottom{
	height:52px;
}
.pnlBottomTall{
	height:150px;
}
.pnlBottomTallCal{
	background-position: 0 -1px;
}
.fntSmall{
	font-size:9px;
}
.fntBold{
	font-weight:bold;
}
.hdFont{
	font-size:15px;
}
.hdFontColor{
	color:#0d3e8d;
	font-size: 13px;
}
.mandatory,.Mandatory,#spnError li{
	color: red;
}
.tab1A{
	background-image:url(../images/n034_A_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}
.tab1{
	background-image:url(../images/n034_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}
.tab2A{
	background-image:url(../images/n035_A_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:220px;
}
.tab2{
	background-image:url(../images/n035_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:220px;
}
.tab3A{
	background-image:url(../images/n036_A_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}
.tab3{
	background-image:url(../images/n036_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}

select
{
	font-family: Tahoma,Arial,sans-serif;
	font-size: 11px;
	height: 19px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove #9D9D9D;
	BORDER-TOP: thin groove #9D9D9D;
	BORDER-LEFT: thin groove #9D9D9D;
	BORDER-BOTTOM: thin groove #9D9D9D;
	padding:1px! important;
	}
	
input, textarea{
	font-family: Tahoma,Arial,sans-serif;
	font-size: 11px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: solid 1px #9D9D9D;
	BORDER-TOP: solid 1px #9D9D9D;
	BORDER-LEFT: solid 1px #9D9D9D;
	BORDER-BOTTOM: solid 1px #9D9D9D;
	padding:3px;
}
input[type='radio'], input[type='checkbox']{border:0px;.border:0px;_border:0px;.background: transparent;_background: transparent;}	
.clsInput{
	font-family: Tahoma,Arial,sans-serif;
	font-size: 11px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove #9D9D9D;
	BORDER-TOP: thin groove #9D9D9D;
	BORDER-LEFT: thin groove #9D9D9D;
	BORDER-BOTTOM: thin groove #9D9D9D;
	}
}
.noBorder
{
	font-family: Tahoma,Arial,sans-serif;
	font-size: 11px;
	color: black;
	border-color:green;
	border-width:0px;
}	
	
.Button
{
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: white;
	cursor:pointer;
	padding:5px 20px;
	line-height: 30px;
	border: 0;
	background: #4a70b7;
}

.ButtonLarge {
	background-color:#8f7836;
	background-image:none;
	cursor:pointer;
}

.ButtonMedium {
	background-color:#8f7836;
	background-image:none;
	cursor:pointer;
}

.btnCredit{
	background-color:#8f7836;
	cursor:pointer;
	text-align: center;
}
.btnCDisable{
	background-color:#c4c4c4;
	width:104px;
	cursor:default;
}
.ButtonLargeDisable{
	background-color:#c4c4c4;
	background-image:none;
	width:173px;
	cursor:default;
}
.ButtonDefaultDisable{
	background-color:#c4c4c4;
	background-image:none;
	width:74px;
	cursor:default;
	background-repeat:no-repeat;
}

.GridHeader {
	background-color:#1a5faa;
	height:20px;
}

.gridHD, .totalCol{
	background-color:#1a5fac;
	height:40px;
}
.gridHDDark{
	background-color:#1a5faa;
	height:auto;
}
.gridHDDark .FareTypes{
	padding: 10px;
}
.gridHDFont{
	color:white;
}
.gridHDsub {
    background-color: #333333;
    height: 18px;
}
.GridItems {
background-color:white;
height:20px;
}
.lpaneTopL{
	background-image:url(../images/LIbe006_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:27px;
	width:11px;
}
.lpaneTopM{
	background-image:url(../images/LIbe007_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	width:238px;
}
.lpaneTopR{
	background-image:url(../images/LIbe008_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	width:11px;
}
.lpaneMidL{
	background-image:url(../images/LIbe009_no_cache.jpg);
	background-repeat:repeat-y;
	background-position:top;
	width:2px;
}
.lpaneMidM{
	background-color:white;
	width:257px;
}
.lpaneMidR{
	background-image:url(../images/LIbe010_no_cache.jpg);
	background-repeat:repeat-y;
	background-position:top;
	width:1px;
}
.lpaneBotL{
	background-image:url(../images/LIbe011_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:18px;
	width:11px;
}
.lpaneBotM{
	background-image:url(../images/LIbe012_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	width:238px;
}
.lpaneBotR{
	background-image:url(../images/LIbe013_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	width:11px;
}
.navFont{
	font-size:12px;
	vertical-align: middle;
	color:white;
 }	
.navFontBig{
	font-size:17px;
	vertical-align: middle;
	color:white;
 }	
.rowColor{
	background-color:white;
}
.rowColorAlternate{
	background-color:#DFDFDF;
}
.bdLeft{
	BORDER-LEFT: solid 1px #DFDFDF;
}
.bdTop{
	BORDER-TOP: solid 1px #DFDFDF;
}
.bdBottom{
	BORDER-BOTTOM: solid 1px #DFDFDF;
}
.bdRight{
	BORDER-RIGHT: solid 1px #DFDFDF;
}
.noPadding{
	padding:0px;
}
.lightGrayHD{
	background-color:#DFDFDF;
	height:25px;
}

.errorControl{
	background-color:#FEFFAF;
}

.fontCapitalize{
	text-transform: capitalize;
}
.ButtonAncilary{
	background-image: url(../images/n200_no_cache.gif);
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: gray;
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 28px;
	width:174px;
	cursor:pointer;
	background-repeat:no-repeat;
	padding-bottom:2px;
}

.ButtonMeal{
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: #5A5A5A;
	background-color:transparent;
	background-image: url(../images/n056meal_no_cache.gif); 
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 25px;
	width:154px;
	cursor:pointer;
	background-repeat:no-repeat;
}
.oldSeat{
	background-image:url('../images/LCAnsi001_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
	background-position: -3px;
}
.aisle p{color: #1A5FAC! important}
.availSeat{
	background-image:url('../images/LCAnsi004_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
	background-position: 0px 0%;
}
.notAvailSeat{
	background-image:url('../images/LCAnsi002_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
	background-position: 0px 0%;
}
.SltdSeat{
	background-image:url('../images/LCAnsi003_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
	background-position: 0px 0%;
}
.aisle{
	height:15px;
	width:20px;
}
.exitLeft{
	background-image:url('../images/ANCI_06_no_cache.gif');
	background-position:top center;
	background-repeat:no-repeat;
	width:20px;
	height:39px;
}
.exitRight{
	background-image:url('../images/ANCI_07_no_cache.gif');
	background-position:bottom center;
	background-repeat:no-repeat;
	width:20px;
	height:39px;
}
.window{
	width:20px;
}
.wingRight{
	background-image:url('../images/LCAnsi005_no_cache.jpg');
	background-position:bottom center;
	background-repeat:no-repeat;
	height:65px;
	width:594px;
}
.wingLeft{
	background-image:url('../images/LCAnsi006_no_cache.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	height:65px;
	width:594px;
}
.noTextDec{
	text-decoration:none;
}
.seatTT{
	opacity: .9;
	filter: alpha(opacity=90);
	background-color:#1A5FAA! important;
}
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.tabBG{
	background-image:url('../images/LIbe016_no_cache.jpg');
	height:40px;
	background-repeat: repeat-x;
	background-position: 0 99%;	
}
.tabSltd{
	background-image:url('../images/aniciselected.gif');
	background-color:#1a5faa;
	background-repeat:no-repeat;
	background-position:4px 12px;
	width:auto;
	height:40px;
	padding:1px 5px 1px 25px;
	color: white;
}
.tabNotSltd{
	/*ackground-image:url('../images/LIbe014_no_cache.jpg');*/
	background:#D7D8DA;
	background-repeat:no-repeat;
	width:auto;
	height:40px;
	padding:1px 8px;
	color: #0b0b0b;
}
.tabSltd p, .tabNotSltd p{text-align: left;}
.newTabStyle{height: 40px;overflow: hidden;}
.cursorPointer{
	cursor:pointer;
}
.noBorder{
	border: 0px solid transparent;
}
.progressBG {
	background-color:#FA0101;
}
.fntDefaultWhite{
	color:white;
}
.MandatoryGrid{
	color: red;
}
.paddingL5{
	padding-left: 5px;
}
.paddingL3{
	padding-left: 3px;
}
.Gridwt {
	background-color:#FFFFFF;
	height:20px;
}
.GridTable{
	background-color:#DFDFDF;
	border-color:#DFDFDF;
}
.GridTable.totalCol{
	background-color: #1f3d7c;
	padding: 10px;
}
.tblBgLeft{
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}
.tblBG{
	background-image:url(../images/LIbe004_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}
.paddingCalss{padding:0px 10px}
.tblBgRight{
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}

.newPogressLoading, .loadingContainer {
background:none repeat scroll 0 0 #FFFFFF;
display:none;
}
.pageName label {
color:#1f3d7c;
font-size:15px;
font-weight:bold;
text-align:left;
}
.pageName{
	padding-bottom: 15px;
}

.mainbody{
	padding-top: 0px;padding-bottom: 20px;
}
.mainbody #sortable-ul {
	padding:0;
	display: block;
	width: 1170px;
	margin: 0px auto 0;
}

.sortable-ul{
	padding:0;
	display: table;
	width: 940px;
	margin: 0px auto 0;
	height: 85px;
}

.mainbody div#sortable-ul div.sortable-child {
	float:left;
}
.floater{
	margin-right:11px;
	width:auto! important;
	display:block! important;
}
#divSummaryPane  {
	width:245px;
	margin-left:0px;
}
#divSummaryPane .add-padding {
	padding:0 6px;
}

.rightColumn {
background:none repeat scroll 0 0 transparent;
margin:0 0 0 6px;
padding:0;
width:888px! important;
}

#termsNCond ul {
margin-bottom:4px;
margin-top:0;
}
#termsNCond ul li {
	margin-bottom:0;
	margin-left:15px;
	margin-top:0;
}

.alignLeft {
	text-align:left;
}

.alignRight{
	text-align:right;
}

/* overwirte rak style start*/
table {
background-color:transparent;
border-collapse:separate;
}
/* overwirte rak style end*/

/* Rak Alert style Start*/
#popup_container {
	-moz-border-radius:5px 5px 5px 5px;
	background:none repeat scroll 0 0 #fff;
	border:2px solid #0134a1;
	color:#FFFFFF;
	font-family:Tahoma,Arial,sans-serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size:12px;
	width: 380px;
	display: none;
	overflow: hidden;
}
.drager {position: relative;z-index: 99999;height: 25px;width:94%;cursor: move;}
#popup_container_frame{
	width: 100%;
	height: 100%;
}
/* Rak Alert style End*/

/* Sumarry panle Styles Start*/
.Page-heading table.headerRow{height: 24px;display: table;margin-bottom: 0px}
.Page-heading table.headerRow td{overflow: hidden;height: 35px;}
.Page-heading .headerBG{
	background-color: #0134a1;
	text-align: left;
}
.Page-heading .hBottom{height: 27px;}
.Page-heading .hbSide{height: 27px;width:10px}
.Page-heading .hLeft{width: 10px;height: 27px}
.Page-heading .hCenter{
	height: 27px;
	font-size: 14px; 
	color: #fff;
	font-weight: bold;
}
.Page-heading .hRight{background-repeat: repeat-x;width: 10px;height: 27px}

.mLeft{
	/*background-image:url("../images/n028_no_cache.jpg");*/
	background: #1a5faa;
	width:1px;
}
.mCenter{width: 243px}
.mRight{
	background-color: #1a5faa;
	width:1px;
}
.Page-heading table.footerRow,table.footerRow{overflow: hidden;height: 0px;display: table;border-top:1px solid #1a5faa; background-color: #0134a1;}
.Page-heading .bLeft{
	width: 10px;
	height: 0px;
	background: transparent;
}
.Page-heading .bCenter{
	height: 0px;
	background: transparent;
}
.Page-heading .bRight{background-position:-1px -86px;background-repeat: repeat-x;width: 10px;height: 0px;background: transparent;}
/* Sumarry panle Styles End*/

/* Mahan Calendar Styles Start*/

.newCal > div{
	width:40px;
	height:62px;
}

h3.label {
	background:none repeat scroll 0 0 transparent;
	color:#1a3181;
	text-align:left;

	padding: 0px;
	margin-bottom: 25px;
	font-size: 14px;
	margin-top: 10px;
}

.cal-header-ul div.cal-one-day {
	background:#1a5faa;
	border-color:transparent;
	border-style:solid;
	border-width:1px;
	color:#FFF;
	line-height:18px;
	padding:0 0;
	text-align:center;
	border-bottom: 0px;
}
div.cal-one-day div {
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
}

.flight-body .cal-base {
	-moz-border-radius:0px 0px 0px 0px;
	border:0px solid #aaa;
	margin:0px;
	text-align:center;
}


.sub-div a {
	color:#1f3d7c;
	display:block;
	font-family:arial;
	font-weight:bold;
	line-height:18px;
	outline:medium none;
	padding:0px;
	text-decoration:none;
}
.sub-div a:hover {border: 0;color:#555;}
.sub-div-additional{
	display: none;
}
.sub-div-additional a {
	background:transparent;
	border:0px solid #AAAAAA;
	color:#1f3d7c;
	display:block;
	font-family:arial;
	font-weight:bold;
	line-height:18px;
	outline:medium none;
	padding:0px 5px;
	text-decoration:none;
}
.lowerstCon{height: 4px}

.ui-widget-content {
	/*background:transparent;
	border:0px solid #AAAAAA;*/
	color:#222222;
}

.ui-tabs .ui-tabs-panel {
	background:none repeat scroll 0 0 transparent;
	border-width:0;
	display:block;
	padding:0px;
}

.flight-body a.selected div.cal-base {
	background:transparent;
}
.flight-body a:hover div.cal-base{
	background:transparent;
	background-position: 0px 0px;
	cursor: pointer;
	border: 0px solid #aaa;
	text-decoration: none;
}

.flight-body a.selected div, .flight-body a.selected span {
    background: none repeat scroll 0 0 transparent;
    color: #ffffff;
}
.flight-body a:hover {text-decoration: none;}
div.cal-day .flight-body div.cal-base{background: #fff}
.calendar-ul li div.cal-day{
	margin: 0px;
	border-color:#1f3d7c;
	border-bottom:0px;
	height:61px;
}
.calendar-ul li div.mout{background: #1f3d7c;}
.calendar-ul li div.mout a div,.calendar-ul li div.mout a span, .calendar-ul li div.mout a label{
	color: #ffffff
}
.flightAvailability{
	visibility: hidden;
}
.calendar-ul li div.cal-day img {
	display:block;
	margin:auto;
	z-index:12;
	left:0px;
	position:relative;
	top:30%;
}
.calendar-ul li div.mout div.cal-one-day{font-weight: bold;background-position: 0 0px}
div.cal-day .flight-body{padding: 0px}
.flight-header span a:hover{text-decoration: none;background: transparent;}
.flight-body a div, .flight-body a span, .flight-body a label {background: transparent;cursor: pointer;color: #1f3d7c;}
.flight-body a:hover div, .flight-body a:hover span, .flight-body a:hover label {background: transparent;cursor: pointer;color: #ffffff;}
.flight-body a.selected span{color: #ffffff}
.flight-body a.selected label.currValueTotal, .flight-body a.selected label{color: #ffffff}
.lowerstCon{display: none;}
.totalValueSelected label.currValueTotal{font-size: 18px;color: #1f3d7c;margin-top: 0px;font-weight: bold;}
.totalValueSelected{font-size: 19px;color: #586618;margin-top: 0px;display: inline-block;position:relative;}
.totalValueSelected span{font-size: 18px;color: #1f3d7c;}
.totalValue{
	color: #586618 !important;
    font-size: 11px;
    font-weight: bold;
}
.departureTime span, .departureTime{font-size: 11px;color: #3B7DC1;}
.arivalTime span, .arivalTime{font-size: 11px;color: #3B7DC1;display: none;}
div.stopover{font-size: 11px;font-size: 10px;color:#3B7DC1;display: none}
#tooltip {
		/* background-color:#FCFCB5; */
	border: 1px solid #066AB2;
	opacity:0.9;
	/* padding:5px; */
	position:absolute;
	z-index:3000;
}
.selecRadio{text-align: left;}
.selecRadio input{border: 0px;background: transparent;}
.noFlight, .FlightFull{display: block;margin: 15px auto}
.FareGridBorder01, .FareGridBorder02, .FareGridBorder03, .FareGridBorder04, .FareGridBorder05{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #FFFFFF -moz-use-text-color -moz-use-text-color;
    border-style: none solid none none;
    border-width: medium 1px medium medium;
}
.FareGridBorder01 {
background-color:#FAE1C9! important;
border-color:#F36A34;
border-style:solid;
border-width:1px;
height:18px;
}

.FareGridBorder02 {
background-color:#F5C292! important;
border-color: #F36A34;
border-style:solid;
border-width:1px;
height:18px;
}

.FareGridBorder03 {
background-color:#F1AB6C ! important;
border-color: #F36A34;
border-style:solid;
border-width:1px;
height:18px;
}

.FareGridBorder04 {
background-color:#EF9321 ! important;
border-color: #F36A34 ;
border-style:solid;
border-width:1px;
height:18px;
}

.FareGridBorder05 {
background-color:#ED8120 ! important;
border-color:#F36A34;
border-style:solid;
border-width:1px;
height:18px;
}
.c-scroller{
	border-left:1px solid #1a5faa;
	margin-left:1px;
}

.flight-body .selected{
	background:#1a5fac;
	height: 62px;
}
.AllFlight .gridHDFont{
	color: #ffffff;
}
.AllFlight .thinBorderL{
	border:0px;
}
.CompareFare{display:none}
/* Mahan Calendar Styles End*/

.fareSelSidePanel {
width:260px;
margin-left:25px;
}



#divSummaryPane .pane-body {
	background-color:#fff;
	border:0 solid #E72E2C;
}

.GridHeaderHighlight  {
background-color:#636363;
height:20px;
}
.logUserBG {
background:#e4e4e4;
background-position:center top;
background-repeat:repeat-x;
height:34px;
}

.logUserCorT {
background:#e4e4e4;
background-position:center top;
height:34px;
}
.fntWhite {
color:white;
}
.buttonset > table{
	text-align: center;
	display: table;
	margin: 0 auto;
	width: 100%}

/* process banner start*/
.StepsTable{
	width: 875px;
	display: block;
	height: 46px;
	background-color: #1a5faa;
}

td.stepsItem {
	height:42px;
	vertical-align: middle;
	background-color: #1a5faa;
	border-right:1px solid #fff;
}
td.stepsItem font{color:#ffffff;letter-spacing: 1.3px;font-weight: normal;font-size: 13px;}
td.select {
	border-right:none;
	background-color: #0134a1;
	/*background-image:url("../images/AA045_no_cache.jpg");
	background-repeat:repeat-x;
	background-position: 0 42px;*/
	border-bottom: 4px solid #e82009;
}
td.select label{
	color:#ffffff;
	font-weight:bold;
}
.anciGadient>table{
	padding:0 0!important;
}
.noPadding{
	padding: 0!important;
}
#divAncillary .tabBody, #divPayment>.tabBody, #divPassenger>.tabBody{
	padding: 0 8px;
}
#divPassenger .paddingCalss{
	padding: 0px 0px;
}

.hdnavFont  {
	font-size:20px;
}
/* process banner end*/

.tabSltdUser{
	background:#4a70b7;
	height:25px;
}

.tabSltdOver {
	background:#4a70b7;
	height:25px;
}
.tabSltdOver label{color: white;cursor: pointer;}

.tabUnSltd{
	background-image: url("../images/pheader_no_cache.jpg");
	background-repeat:repeat-x;
	height:25px;
}
.tabUnSltd label{color: white;cursor: pointer;}
.pTopM {
background:#4a70b7;
height:25px;
width: 80px;
}

.pTopL {
background:#4a70b7;
height:25px;
width:11px;
}

.pTopDM {
	background-image: url("../images/pheader_no_cache.jpg");
	background-repeat:repeat-x;
	height:25px;
}

.pTopDR {
	background-image: url("../images/pheader_no_cache.jpg");
	background-repeat:repeat-x;
	height:25px;
	width:11px;
}
.pMidL {
	background:#4a70b7;
	width:1px;
}
.pMidM {
	background-image:url("../images/n033_no_cache.jpg");
	background-position:center top;
	background-repeat:repeat-x;
}
.pMidR {
	background:#4a70b7;
	width:1px;
}
.ui-datepicker-trigger{
	vertical-align: middle;
	margin: 1px 2px;
	background-image: url('../images/Calendar2_no_cache.gif');
}
.pBotL {
	background:transparent;
	background-position:center top;
	background-repeat:no-repeat;
	height:15px;
	width:11px;
}
.pBotM {
	background:transparent;
	background-position:center top;
	background-repeat:repeat-x;
	height:15px;
	width:92%;
}
.pBotR {
	background:transparent;
	background-position:center top;
	background-repeat:no-repeat;
	height:15px;
	width:11px;
}
.btnAuxButton {
	font-family:Verdana,Arial,Helvetica,sans-serif;;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	color: #004845;
	background-color:#efefef;
	background-position:left; 
	border-top: 2px solid #004845;
	border-right: 2px solid #004845;
	border-bottom: 2px solid #004845;
	border-left: 2px solid #004845;
	height: 28px;
	cursor:pointer;
	background-repeat:no-repeat;
	padding-bottom:4px;
	padding-left:4px;
	padding-right: 20px;
	background-position: 97% 4px;
	-moz-border-radius:4px 4px 4px 4px;

}
#tabs1{
	background:none repeat scroll 0 0 transparent;
	border:0 none;
	width: 100%;
}
/* main pageloaging msg */
.mainPageLoader{display:none;z-index:9900; background:transparent;height:80px;position:absolute;top:50%;left:40%;width:250px}

.searchCritira{
	display:block;width:230px;margin: 0 auto;
}
.searchCritira div{padding: 2px 0}
/*FixME this is for pathch*/
#specialMsg div{
		text-align: left;list-style: none;
		background-color:#ffffcf;
		opacity: .7;
		filter: alpha(opacity=80);
		border:1px solid #F3F376;
		padding:2px;
		font-size:11px;
		-moz-border-radius:6px;	/* Rounded edges in Firefox */
		font-family:Tahoma,Arial,sans-serif;
		font-weight: bold;
}

.spMsg{
	background-color:#ffffcf;
	opacity: .7;
	filter: alpha(opacity=80);
	border:1px solid #F3F376;
	padding:2px;
	font-size:11px;
	-moz-border-radius:6px;	/* Rounded edges in Firefox */
	font-family:Tahoma,Arial,sans-serif;
	
}

/*External Agents Pages Styles */
.recordl td.GridItems{
	background-color:#EBEBEB;
	height:20px;
	FONT-SIZE: 11px;
}
.recordd td.GridItems{
	background-color:#FFFFFF;
	height:20px;
	FONT-SIZE: 11px;
}

.header {
	FONT-FAMILY: Tahoma,Arial,sans-serif;
	font-weight: bold;
	background-color:#2DACE3;
	height:20px;
	FONT-SIZE: 11px;
	color: white; 
	
}
.rakHeader .header{background-color:#fff;}
.thinBorderT{border-top: 1px solid #E8E6E7;}
.thinBorderB{border-bottom: 1px solid #E8E6E7;}
.thinBorderL{border-left: 1px solid #E8E6E7;}
.thinBorderR{border-right: 1px solid #E8E6E7;}
	
.recordtop{
	FONT-FAMILY: Tahoma,Arial,sans-serif;
	font-weight:bold;
	background-color:#ECECEC;
	height:20px;
	FONT-SIZE: 10px;
}
.recordtopar{
	font-weight:bolder;
	background-color:#FFFFFF;
	height:20px;
	FONT-SIZE: 14px;
}
div.div-Table .floatItem{width:auto! important}
.footerClass{
	background:#E6E6E6 url("../images/footerbg_no_cache.jpg") no-repeat scroll -2px -2px;
	width:956px;
	height:80px;
}
.pageBody{padding-left:10px}
/*External Agents Pages Styles */
.mainbody .ui-tabs .ui-tabs-panel{
	background: none repeat scroll 0 0 transparent;
	border-width: 0 0 0;
	height: auto;
}
.footer{
	padding: 0px 0;
	background-color: #171f25;
	color: #fff;
}

.footer .copyrights {
	font-size: 13px;
	font-weight: 500;
	color: #54646e;
	padding: 0 15px;
	margin-top: 7px;
	height: 33px;
	line-height: 33px;
}
.footer .copyrights span{
	float: left;
}
.footer .copyrights .menu-copyrights-english-container{
	float: left;
	width: 70%;
}
.footer .copyrights ul{
	float: left;
	padding: 0;
	width: 100%;
}
.footer .copyrights ul li{
	float: left;
	margin: 10px;
	line-height: 13px;
}
.footer .copyrights ul li a{
	font-size: 13px;
	font-weight: 500;
	color: #54646e;
}
.footer .copyrights ul li:first-child{
	list-style: none;
}


.footer div.logo{
	margin:0 auto;
	width:125px;
	background:url("../images/footer-logo_no_cache.jpg") no-repeat;
	height:65px;
}
.mainbody table,.mainbody tbody,.mainbody td{
	vertical-align: middle;
	margin-bottom: 0px;
}
/*New payment style*/
#lblPayingoptions{ font-size: 11px;}
.card-img{width:100px; float:left;}
.ul-cards li div.card-img {
    border-bottom: 0px;
    height: 35px;
    background: #fff;
}
.ul-cards li {
    list-style: none;
    margin: 2px;
    border: 1px solid #bbb;
    float: left;
    width: 125px;
    height: 90px;
    background: #f1f1f1;
}
#paymentInfoPanel td{vertical-align: top;padding:5px}
/* Get calendar popup top */
#ui-datepicker-div{z-index: 300;font-size: 1em;display:none;}
/****overRite ****/
form{
	overflow:inherit  ! important;
}
.tblSeatMapContainer p {
    font-size: 13px !important;
    margin:0;
    margin-bottom: 4px !important;
}
.outerCal{width: 648px;}
.rightColumFix{
	margin: 0 15px;
    width: 97%! important;
}
/*************** new Popup *********************/
.popBG,#popupHeader,#footeritems{background: #1a5faa}

.popBG1{background: #1a5faa}
.popTopLeft{
	width: 10px;
	height: 9px;
}
.popTopMid{

	height: 9px;
}
.popTopRight{
	width: 10px;
	height: 9px;
}

.popMidLeft{
	width: 10px;
}
.popMidMid{
	/*background:#f1f1f1;*/
	background-repeat: repeat;
}
.popMidRight{
	width: 10px;
}

.popBottomLeft{
	width: 10px;
	height: 9px;
}
.popBottomMid{
	height: 9px;
}
.popBottomRight{
	width: 10px;
	height: 9px;
}

#popupHeader span.close{
	background: url("../images/popupClose_no_cache.gif") no-repeat;
	float:right;
	width:14px;
	height:16px;
	cursor: pointer;
}
#popupHeader .headerItems{
	float: left;
	width:180px;
	overflow: hidden;
}
#popupFooter input{
	float: right;
}
.popup-column{
	vertical-align:top;
	border-left: 1px solid #e4e4e4;
	width:195px;
	padding-left:5px;
}
.popup-column-first{border:0px}
/*************** new Popup *********************/
.isabutton{
	border: 1px solid #4a70b7;
	background-color: #4a70b7;
	background-image: none;
    color: white;
    cursor: pointer;
    font-family: arial;
    font-size: 11px;
    font-weight: normal;
	border-radius: 3px;
	padding: 7px 15px;
	text-align: center;
	position: relative;
    text-transform: capitalize;
    width: auto;
    letter-spacing: 1px;
}
.isabutton > table{
	width:100%;
	background: none;
	border:0px;
}
.isabutton .buttonspan{width:0px}
.isabutton .buttonMiddle{width:99%;text-align:center;color: #ffffff;font-size: 12px;}
a#linkTerms:link u label {
    cursor: pointer;
}
#tableModSearch{
	margin-bottom: 15px;
	/*background-color: #e4e4e4;*/
	display: block;
}
#tableModSearch .imgMod:after{
	content: "";
}
#tableModSearch .imgMod{
	width: 0px!important;
}
#tableModSearch .pnlMid table{
	width: auto;
}

#tableModSearch .pnlMid #divModSeach{
	height: auto !important;
	padding: 10px;
	display: block;
	width: auto !important;
	background: #ebeaea;
}
.flightCalendar{
	top:0 !important;
	margin-left: 6px;
}
.sData>.dateSmall, .sData>.daySmall{
	display: inline!important;
	margin:0 3px;
}
.selected .sDataFull{
	display: none;
}
.selected .sData{
	display: block;
}
.floatleft {
	float: left;
}
.floatright {
	float: right;
}
#lblFareRules{
	display: none;
}
.paxDetailsGrid td table{
	width: 99%;
}
#tblContactDetails input:[type='text']{
	width: 80%;
}
.paymentCardInputs{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}
#divLoadBg.rightColumn{
	width: 100%!important;
}
#lblModifysearch{
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: normal;
	font-size: 12px;
	padding-left: 35px;
	padding-right: 20px;
	letter-spacing: 1px;
}
#btnModSeach{
	padding: 8px;
	border-radius: 5px;
	background-color: #4c71b7;
	background-image: url(../images/ic_search_white_24dp_2x.png);
	background-position: 20px 10px;
	background-repeat: no-repeat;
	background-size: 12%;
}

.sub-div a{
	text-indent: -9999px;
	background-repeat: no-repeat;
	height: 62px;
	background-position: center center;
	background-size: 60%;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
}
.leftNavigation .sub-div a{
	background-image: url('../images/back-(1).png');
}
.rightNavigation .sub-div a{
	background-image: url('../images/next-(1).png');
}
.getFlightDay{
	padding: 10px 0px;
}
#fCalOut_FL tr, #fCalIn_FL tr{
	height: 60px;
}
.tdFareColumn input[type='radio']{
	margin:3px 10px;
	vertical-align: bottom;
}
.cal-base .minFareValue{
	font-size: 13px;
	padding-top: 5px;
}
.selected .cal-base .minFareValue{
	font-size: 14px;
}
.selected .cal-base .minFareValue label{
	font-size: 14px;
}
#trPriceBDPannel table tbody tr:first-child{
	height: 60px;
}
.paymenBdown{
	height: 50px;
}
#priceBreakDownTemplate_0,#priceBreakDownTemplate_1{
	margin-bottom: 15px;
}

#outFlightsDiv .pnlBottom{
	height: 45px !important;
	background-image: url('../images/flight001.png') !important;
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: 10%;
}

#inFlightsDiv .pnlBottom{
	height: 45px !important;
	background-image: url('../images/flight002.png') !important;
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: 10%;
}
#adlGrid .paddingL5, #chdGrid .paddingL5, #infGrid .paddingL5{
	padding-left:0px;
}
/*
#adlGrid table thead tr:nth-child(2) td, #chdGrid table thead tr:nth-child(2) td , #infGrid table thead tr:nth-child(2) td{
	height: 60px;
}*/

#adlGrid table thead tr:nth-child(2).psptDetails td, #chdGrid table thead tr:nth-child(2).psptDetails td , #infGrid table thead tr:nth-child(2).psptDetails td{
	height: 30px;
}

#adlGrid .gridHDsub, #chdGrid .gridHDsub, #infGrid .gridHDsub{
	background-color: #fff;
}

#adlGrid .gridHDFont, #chdGrid .gridHDFont,  #infGrid .gridHDFont{
	color: #0b0b0b;
}

.pnlMid .fntBold{
	font-weight: normal;
}

#adlGrid .psptDetails table tr td:first-child{
	width: 75px !important;
}

#chdGrid .psptDetails table tr td:first-child{
	width: 70px !important;
}

.pnlMid .hdFontColor.fntBold,.pnlMid .fntSmall.fntBold{
	font-weight: bold;
}
#tblContactDetails .three-Col input, #tblContactDetails .three-Col select{
	width: 90% !important;
}

#tblContactDetails .three-Col select#selTitle{
	width: auto !important;
}
#txtEmail, #txtVerifyEmail{
	width: 65% !important;
}
#tbdySeatSeg .tabSltd p{
	margin:0px; 
}
#tbdySeatSeg .tabSltd{
	padding: 0 15px;
}    
#tblSeatDetails .newTabStyle{
	height: auto;
}
#seatPaxTmplt_0 .defaultRowGap{
	height: 40px;
	
}
#payByCreditCardPanel #tblPriceBreakdown{
	    background-color: #0134a1;
}
#payByCreditCardPanel .rowColorAlternate{
	padding: 10px 15px 5px 15px;
	
}
#payByCreditCardPanel .rowColorAlternate:nth-child(1){
	text-align: left;
}
#payByCreditCardPanel .rowColorAlternate:nth-child(2){
	text-align: right;
}
#payByCreditCardPanel .rowColorAlternate #lblTotalDue{
	font-size: 16px;
}

#payByCreditCardPanel .rowColorAlternate #lblTotalDueAmount,#payByCreditCardPanel .rowColorAlternate #lblTotalDueAmount + label{
	font-size: 16px;
}
td.stepsItem.selected{
	background-color: #0134a1;
}
#customCCPanel .pnlMid .paddingCalss{
	padding: 0px 0px 15px 0px;
}
#paymentInfoPanel .totalCol{
	background-color: #0134a1;
	padding: 15px 15px 5px 15px;
	height: 30px;
}
#paymentInfoPanel .totalCol label{
	font-size: 16px;
}
.baseTotalPanel #lblTotal,.baseTotalPanel #totalAmount{
	font-size: 16px;
	font-weight: normal;
}
#tblPriceBreakdown label{
	font-size: 14px;
}
#spnMemTabN .tabUnSltd{
	background: #999;
}
#spnMemTabN .tabSltdOver{
	background: #4a70b7;
}

#adlGrid td:first-child table thead tr:nth-child(3) td:nth-child(3){
	width:145px;
}
#adlGrid td:first-child table thead tr:nth-child(3) td:nth-child(4){
	width:155px;
}	
#adlGrid td:first-child table thead tr:nth-child(3) td:nth-child(5){
	width:156px;
}	
#adlGrid td:first-child table thead tr:nth-child(3) td:nth-child(6){
	width:105px;
}





#chdGrid td:first-child table,#infGrid td:first-child table{
	width: 100%;
}

#infGrid td:first-child table thead tr:nth-child(2) td:nth-child(1){
	width: 50px;
}
#infGrid td:first-child table thead tr:nth-child(2) td:nth-child(2){
	width: 104px;
}
#infGrid td:first-child table thead tr:nth-child(2) td:nth-child(3){
	width: 151px;
}
#infGrid td:first-child table thead tr:nth-child(2) td:nth-child(4){
	width: 257px;
}
#infGrid td:first-child table thead tr:nth-child(2) td:nth-child(5){
	width: 225px;
}

#infGrid .paxDetailsGrid td:first-child table tbody tr td:nth-child(1){
	width: 30px;
}
#infGrid .paxDetailsGrid td:first-child table tbody tr td:nth-child(2){
	width: 200px;
}
#infGrid .paxDetailsGrid td:first-child table tbody tr td:nth-child(3){
	width: 95px;
}
#infGrid .paxDetailsGrid td:first-child table tbody tr td:nth-child(4){
	width: 130px;
}
#infGrid .paxDetailsGrid td:first-child table tbody tr td:nth-child(5){
	width: 165px;
}	

#infGrid .paxDetailsGrid td:first-child table tbody tr td{
	padding-bottom: 5px;
}

#reservationList #trButtons{
	display: none;
}
#tr-LMS-LoggedIn{
	display: none;
}
#frmBalanceSummay .totalCol{
	background-color: #1a5fac;
}

#lblFinalCredit,#finalCreditAmount{
	color: #fff;
}
#payDetail .totalCol{
	background-color: #1a5fac;
}
#trPaymentMethods{
	width: 125px !important;
}
#lblOHDExpiryMessage{
	font-weight: normal;
	font-family: Tahoma,Arial,sans-serif;
  	font-size: 13px;
  	left: auto;
  	color: #0b0b0b;
  	line-height: 20px;
  	letter-spacing: 0.4px;
}
#atLeasetOne{float: none;}

#infGrid .paxDetailsGrid .psptDetails table tr td{
	padding-top: 0px !important;
	height: 20px !important;
}
#infGrid .paxDetailsGrid .psptDetails table tr td:nth-child(1){
	width: 53px !important;
}
#infGrid .paxDetailsGrid .psptDetails table tr td:nth-child(2){
	width: 240px !important;
}
#infGrid .paxDetailsGrid .psptDetails table tr td:nth-child(3){
	width: 220px !important;
}
#infGrid .paxDetailsGrid .psptDetails table tr td:nth-child(4){
	width: 236px !important;
}

/********************************** Meals Pop Up **************************************/
.mealloader {
    background: transparent;
}

.mealloader .closethis {
    float: right
}

.mealloader .headerBG {
    background: url("../images/panelBGall_no_cache.jpg") no-repeat;
    text-align: left;
    cursor: move;
}

.mealloader .headerBG label {
    cursor: move;
    width: 220px;
    float: left
}

.mealloader .hLeft {
    background-position: -1px -1px;
    background-repeat: repeat-x;
    height: 24px;
    width: 10px;
}

.mealloader .hCenter {
    background-position: 0 -30px;
    background-repeat: repeat-x;
    height: 24px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    padding: 2px 0px;
    width: 232px;
}

a.selectAici label {
    text-decoration: underline;
    cursor: pointer;
}

a:hover.selectAici label {
    text-decoration: underline;
    color: #E52A23;
}

.bigtext {
    font-size: 14px
}

.mealItem {
    background: #fcf6e6;
}

.mealItem td.thumb {
    width: 50px;
    vertical-align: top;
}

.mealItem td.name, .mealItem td.description {
    width: 340px;
    padding: 2px 6px;
    text-align: left;
    vertical-align: top;
}

.mealItem td.qtyHead, .mealItem td.priceHead {
    background: #d0c9bf;
    width: 80px;
    padding: 2px;
    text-align: center;
    vertical-align: top;
}

.mealItem td.qtyBody {
    width: 80px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}

.mealItem td.priceBody {
    width: 80px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}

.mOverMeal {
    background: #eae4d4
}

.mealSpinner {
    width: 65px;
    margin: 10px auto
}

.mealSpinner div {
    background: url("../images/addred_no_cache.gif") no-repeat;
    cursor: pointer;
}

div.add {
    background-position: 0px 0px;
    width: 11px;
    height: 11px;
}

div.reduse {
    background-position: -14px 0px;
    width: 11px;
    height: 11px;
}

.headeritems {
    float: left;
    color: white;
}

#popupHeader td {
   /* background: url("../images/meal-BreagCrum_no_cache.jpg"); */
}

#popupHeader td label {
    color: #0b0b0b;
    font-size: 10px;
    line-height: 15px;
}

#popupHeader td.grayBar {
    background-position: 0px -45px;
    height: 15px;
    padding: 0 10px;
}

td.grayBar, td.grayBar label {
    cursor: pointer;
}

#popupHeader td.grayCorner {
    background-position: 0px -15px;
    height: 15px;
    width: 11px;
}
#popupHeader td.grayCorner:after {

}

#popupHeader td.redBar {
    background-position: 0px -30px;
    height: 15px;
    padding: 0 10px
}

#popupHeader td.redCorner {
    background-position: 0px 0px;
    height: 15px;
    width: 11px;
}

label.value {
    width: 30px;
    display: block
}

/* meal images */
#bodyitems {
    background: #ffffff
}

.catBlock {
    float: left;
    width: 94px;
    height: 94px;
    margin: 2px;
    border: 1px solid #f1f1f1;
    cursor: pointer;
    background: url("../images/mealCata_no_cache.jpg") no-repeat;
}

a.calClass1 div {
    background-position: 0 0;
}

a:hover.calClass1 div {
    background-position: -94px 0;
}

a.calClass2 div {
    background-position: 0 -94px;
}

a:hover.calClass2 div {
    background-position: -94px -94px;
}

a.calClass3 div {
    background-position: 0 -188px;
}

a:hover.calClass3 div {
    background-position: -94px -188px;
}

a.calClass4 div {
    background-position: 0 -282px;
}

a:hover.calClass4 div {
    background-position: -94px -282px;
}

a.calClass5 div {
    background-position: 0 -376px;
}

a:hover.calClass5 div {
    background-position: -94px -376px;
}

a.calClass6 div {
    background-position: 0 -469px;
}

a:hover.calClass6 div {
    background-position: -94px -469px;
}

a.calClass7 div {
    background-position: 0 -659px;
}

a:hover.calClass7 div {
    background-position: -94px -659px;
}

.firstCat {
    background-position: 0 -564px;
}

.mealMouseOver {
    opacity: 0.6;
    filter: alpha(opacity=60)
}

.mealMenuTable {
    width: 600px
}

.mealimage1 {
    height: 70px;
    width: 120px;
    background: url("../images/salad_no_cache.jpg") scroll 50% 0 no-repeat;
}

.mealimage2 {
    height: 70px;
    width: 120px;
    background: url("../images/sandwich_no_cache.jpg") scroll 50% 0 no-repeat;
}

.mealimage3 {
    height: 70px;
    width: 120px;
    background: url("../images/cafe_no_cache.jpg") scroll 50% 0 no-repeat;
}

.mealimage4 {
    height: 70px;
    width: 120px;
    background: url("../images/drinks_no_cache.jpg") scroll 50% 0 no-repeat;
}

/* meal images */

.anciTable {
    width: 640px
}

.anciTable .first-col {
    padding: 0 4px
}

.mealrow .odd {
    background: #f4f4f4
}

.passengerCol {
    width: 190px;
}

.flightCol {
    width: 200px;
}

.allOtherColl {
    width: 440px;
}

.mealCol {
    width: 150px;
}

.priceCol {
    width: 80px;
}

.clearCol {
    width: 30px;
}

.passengerCol label, .flightCol label, .allOtherColl label, .mealCol label,
.priceCol label, .clearCol label {
    margin: 0 3px
}

.clearMeal {
    outline: none
}

.clearLabel {
    background: url("../images/close_icon_no_cache.jpg") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: right;
    height: 14px;
    width: 14px
}
.clearLabel.clearAutoGenPax{
    padding:2px 5px 2px 5px;
    float: none!important;
    background-position: 100% 0;
}

a:hover.clearLabel label {
    cursor: pointer;
    color: #E82B25;
    text-decoration: underline;
}

.clear-icon {
    background: url("../themes/default/images/jquery/ui-icons_cd0a0a_256x240_no_cache.png") no-repeat;
    background-position: -176px -96px;
    height: 15px;
    width: 15px;
    display: inline;
    padding: 0 7px
}

.zoomer {
    background: #fafafa;
    border: 3px solid #333;
    z-index: 2000;
    top: 0px;
    left: 0px;
    width: 250px;
}

.zoomer .loadImage {
    height: 250px
}

.zoomer .imgDescription {
    background: #333;
    color: #fff;
    padding: 5px;
    vertical-align: bottom;
}

/*meal accodian */

.accordionWrapper {
    display: inline-block;
    background-color: #fff;
    overflow: hidden;
}

.accordionWrapper img {
    vertical-align: top;
    border: 0;
    margin: 0;
    padding: 0
}

.accordionWrapper div {
    display: inline;
    float: left;
    margin: auto;
}

.accordionWrapper div.title {
    cursor: pointer;
}

.accordionWrapper div.content {
    display: none;
}

a:hover.clear-icon {
    background: url("../themes/default/images/jquery/ui-icons_454545_256x240_no_cache.png") no-repeat;
    background-position: -176px -96px;
    height: 15px;
    width: 15px;
    display: inline;
    padding: 0 7px
}

.mealBack {
    float: left;
    margin-left: 10px;
}

.mealConfirm {
    float: right;
    margin-right: 10px;
}

/********************************** Meals Pop Up **************************************/

#lblMealTotal{
	color: #fff;
}

#mealTotalROW .totalCol label{
	color: #fff;
}

#tbdyMealSeg .anciTable tbody tr td.segcodebar{
	background-color: #1a5fac;
	height: 30px;
}
.headeritems #navMealCat{
	color: #fff;
}
#newPopItem .headeritems label{
	color: #fff;
	font-size: 12px;
}
#reservationPage .isabutton{
	margin:0px 1px;
}#reservationPage .isabutton{
	margin:0px 1px;
}
.fareClass .ttip{
	background: url('../images/questionMark.png');
	background-repeat: no-repeat;
	background-position: center center;
	width: 15px;
    display: inline-block;
}
.FareTypes {
    height: 67px;
    padding: 33px 55px 0px !important;
    background-repeat: no-repeat;
    background-size: 110px 67px;
    background-position: -2px 0;
    background-image: url(../images/v3/promoFare_en.png);
}

/*--------------- Remove ameria bank logo and add visa mastercard image ------------------------ */
 
#customCCPanel .ul-cards li div.card-img{
	background-color: transparent;
}
#customCCPanel .card-img span{
	background-image:url('../images/visamastercard.png');
	height: 30px;
    width: 90px;
    background-position: initial !important;
}
#customCCPanel  #listCard .card-desc label{
	display: none;
}

#customCCPanel  #listCard .card-img{
	float: right;
}
#customCCPanel  #listCard.ul-cards li{
	height: auto;
    padding: 30px 10px;
}

#trPaymentMethods .card-img span.AMERIA_BANK {
    background-position: 0 -692px;
}

#tbdyMealSeg .anciTable tbody tr td.segcodebar:last-child{
	text-align: center;
}
#divFlightDetailsRequote .flight-body a:hover div{
	color: #1f3d7c;
}
#divFlightDetailsRequote .flight-body .getFlightDay .cal-indBg .sData .daySmall{
	display: block !important;
	font-size: 14px;
}
#divFlightDetailsRequote .flight-body .selected:hover div,#divFlightDetailsRequote .flight-body .selected:focus div{
	color: #fff;
}
#divFlightDetailsRequote .GridItems{
	height: 40px;
}
#shoping_Cart_head{
	background-color: #1a5fac;
}
#divSSRContainer .newTabStyle{
	height: auto;
}

#lblAdditionalAnciCharges {
	color: white;
}