html, body {
    background-color:#fff;
}
* html{
    overflow-x: hidden;
    overflow-y: auto;
}

.mainPageLoader{
    display:none;
    z-index:9900;
    background:transparent;
    height:74px;
    position:absolute;
    top:50%;
    left:40%;
    width:228px
}

#logo{
    background-image: url("../images/logo_no_cache.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='images/logo.gif', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(\a src='images/logo.gif',\a sizingMethod='scale')";
    float: left;
    width: 215px;
    height: 100px;
    text-indent: -99999px;
    margin-right: 15px;
}

.wrap {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
}

.mainPageLoaderFreame{
    position:absolute;
    background:transparent;
    width:228px;
    height:74px;
}

html, body,  ol,  dd, blockquote, q, h1, h2, h3, h4, h5, h6, form, fieldset, a, div, img, table {
    margin: 0;
    padding: 0;
    border: 0;
    font-family:Arial,Helvetica,sans-serif;
    font-size: 10pt;
}
ul {
    margin-bottom:4px;
    margin-top:0;
}
li {
    margin-bottom:0;
    margin-left:15px;
    margin-top:0;
}
/* LT added */
label{
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    left:auto;
    color: #1a1b2d;
}
.fntDefault{
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    left:auto;
    color: #1a1b2d;
}
.appLogo{
    background-image:url(../images/n024_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:left bottom;
    height:50px;
}
.topBanner{
    background:transparent;
    height:70px;
}

.PageBackGround{
    /*background-color: #f2f1de;*/
    width:100%! important;
}
.mainbody, .appLogo{background-color: #ffffff;  }

.footer{
    padding: 0px 0;
    background-color: #171f25;
    color: #fff;
}

.footer .copyrights {
    font-size: 13px;
    font-weight: 500;
    color: #54646e;
    padding: 0 15px;
    margin-top: 7px;
    height: 33px;
    line-height: 33px;
}
.footer .copyrights span{
    float: left;
}
.footer .copyrights .menu-copyrights-english-container{
    float: left;
    width: 70%;
}
.footer .copyrights ul{
    float: left;
    padding: 0;
    width: 100%;
}
.footer .copyrights ul li{
    float: left;
    margin: 10px;
    line-height: 13px;
}
.footer .copyrights ul li a{
    font-size: 13px;
    font-weight: 500;
    color: #54646e;
}
.footer .copyrights ul li:first-child{
    list-style: none;
}


.footer div.logo{
    margin:0 auto;
    width:125px;
    background:url("../images/footer-logo_no_cache.jpg") no-repeat;
    height:65px;
}
.topBannerMB{background-color:#1A1B2D;}
.rowSingleGap{
    height:5px;
}
.rowGap{
    height:10px;
}
.defaultRowGap{
    height:25px;
}
.pnlTop{
    background-image:url(../images/LIbe002_no_cache.jpg);
    background-repeat:repeat-x;
    background-position:top;
    height:8px;
}
.pnlWidth{
    width:800px;
}
.pnlWidthLeft{
    width:258px;
}
.pnlTopR{
    background-image:url(../images/LIbe002_no_cache.jpg);
    background-repeat:repeat-x;
    background-position:top;
    height:8px;
    width:8px;
}
.pnlBottom{
    background-image:url(../images/LIbe003_no_cache.jpg);
    background-repeat:repeat-x;
    height:52px;
}
.pnlBottomTall{
    background-image:url(../images/LIbe004_no_cache.jpg);
    background-repeat:repeat-x;
    height:150px;
}
.pnlBottomTallCal {
    background-image:url("../images/LIbe004_no_cache.jpg");
    background-position:0 0;
    background-repeat:repeat-x;
}
.fntSmall{
    font-size:9px;
}
.fntBold{
    font-weight:bold;
}
.hdFont{
    font-size:15px;
}
.hdFontColor{
    color:#1a1b2d;
}
.mandatory{
    color: red;
}
.tab1A{
    background-image:url(../images/n034_A_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    height:56px;
    width:200px;
}
.tab1{
    background-image:url(../images/n034_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    height:56px;
    width:200px;
}
.tab2A{
    background-image:url(../images/n035_A_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    height:56px;
    width:220px;
}
.tab2{
    background-image:url(../images/n035_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    height:56px;
    width:220px;
}
.tab3A{
    background-image:url(../images/n036_A_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    height:56px;
    width:200px;
}
.tab3{
    background-image:url(../images/n036_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    height:56px;
    width:200px;
}

select
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    height: 17px;
    color: #4E4E4E;
    background-color: #FFFFFF;
    BORDER-RIGHT: thin groove #9D9D9D;
    BORDER-TOP: thin groove #9D9D9D;
    BORDER-LEFT: thin groove #9D9D9D;
    BORDER-BOTTOM: thin groove #9D9D9D;
}

input, textarea{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    color: #4E4E4E;
    background-color: #FFFFFF;
    BORDER-RIGHT: solid 1px #9D9D9D;
    BORDER-TOP: solid 1px #9D9D9D;
    BORDER-LEFT: solid 1px #9D9D9D;
    BORDER-BOTTOM: solid 1px #9D9D9D;
}

.clsInput{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    color: #4E4E4E;
    background-color: #FFFFFF;
    BORDER-RIGHT: thin groove #9D9D9D;
    BORDER-TOP: thin groove #9D9D9D;
    BORDER-LEFT: thin groove #9D9D9D;
    BORDER-BOTTOM: thin groove #9D9D9D;
}
}
.noBorder
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    color: black;
    background-color: red;
    border-color:green;
    border-width:0px;
}

.Button
{
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    text-align:center;
    text-transform: capitalize;
    color: white;
    background-color:#4a70b7;
    cursor:pointer;
    border-radius: 3px;
    padding: 3px 15px;
    border: 0;
}

.ButtonLarge {
    background-color:#4a70b7;
    background-image:none;
    cursor:pointer;
}

.ButtonMedium {
    background-color:#4a70b7;
    background-image:none;
    cursor:pointer;
}

.btnCredit{
    background-color:#4a70b7;
    cursor:pointer;
    text-align: center;
}
.ButtonDefaultDisable{
    background-color:#c4c4c4;
    width:74px;
    cursor:default;
    background-repeat:no-repeat;
}
.ButtonLargeDisable{
    background-color:#c4c4c4;
    width:173px;
    cursor:default;
}
.ButtonLargeMedium{
    background-color:#4a70b7;
    width:134px;
    cursor:pointer;
}
.ButtonMedium{
    background-color:#4a70b7;
    width:104px;
    cursor:pointer;
}

.gridHD{
    background-color:#A38F50;
    height:25px;
}
.gridHDDark{
    background-color:#3e3f5d;
    height:25px;
}
.gridHDFont{
    color:white;
}
.gridHDsub {
    background-color: #333333;
    height: 18px;
}
.lpaneTopL{
    background-image:url(../images/LIbe006_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    height:27px;
    width:11px;
}
.lpaneTopM{
    background-image:url(../images/LIbe007_no_cache.jpg);
    background-repeat:repeat-x;
    background-position:top;
    width:238px;
}
.lpaneTopR{
    background-image:url(../images/LIbe008_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    width:11px;
}
.lpaneMidL{
    background-image:url(../images/LIbe009_no_cache.jpg);
    background-repeat:repeat-y;
    background-position:top;
    width:2px;
}
.lpaneMidM{
    background-color:white;
    width:257px;
}
.lpaneMidR{
    background-image:url(../images/LIbe010_no_cache.jpg);
    background-repeat:repeat-y;
    background-position:top;
    width:1px;
}
.lpaneBotL{
    background-image:url(../images/LIbe011_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    height:18px;
    width:11px;
}
.lpaneBotM{
    background-image:url(../images/LIbe012_no_cache.jpg);
    background-repeat:repeat-x;
    background-position:top;
    width:238px;
}
.lpaneBotR{
    background-image:url(../images/LIbe013_no_cache.jpg);
    background-repeat:no-repeat;
    background-position:top;
    width:11px;
}
.navFont{
    font-size:12px;
    vertical-align: middle;
    color:white;
}
.navFontBig{
    font-size:17px;
    vertical-align: middle;
    color:white;
}
.rowColor{
    background-color:white;
}
.rowColorAlternate{
    background-color:#DFDFDF;
}
.bdLeft{
    BORDER-LEFT: solid 1px #DFDFDF;
}
.bdTop{
    BORDER-TOP: solid 1px #DFDFDF;
}
.bdBottom{
    BORDER-BOTTOM: solid 1px #DFDFDF;
}
.bdRight{
    BORDER-RIGHT: solid 1px #DFDFDF;
}
.noPadding{
    padding:0px;
}
.lightGrayHD{
    background-color:#DFDFDF;
    height:25px;
}

.errorControl{
    background-color:#FEFFAF;
}

.fontCapitalize{
    text-transform: capitalize;
}
.ButtonAncilary{
    background-image: url(../images/n200_no_cache.gif);
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    font-weight:bold;
    text-align:center;
    text-transform: capitalize;
    color: gray;
    border-top: 0px solid #A65957;
    border-right: 0px solid #A65957;
    border-bottom: 0px solid  #A65957;
    border-left: 0px solid #A65957;
    height: 28px;
    width:174px;
    cursor:pointer;
    background-repeat:no-repeat;
    padding-bottom:2px;
}

.ButtonMeal{
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    font-weight:bold;
    text-align:center;
    text-transform: capitalize;
    color: #5A5A5A;
    background-color:transparent;
    background-image: url(../images/n056meal_no_cache.gif);
    border-top: 0px solid #A65957;
    border-right: 0px solid #A65957;
    border-bottom: 0px solid  #A65957;
    border-left: 0px solid #A65957;
    height: 25px;
    width:154px;
    cursor:pointer;
    background-repeat:no-repeat;
}
.availSeat{
    background-image:url('../images/LCAnsi004_no_cache.gif');
    background-repeat:no-repeat;
    height:15px;
    width:20px;
}
.notAvailSeat{
    background-image:url('../images/LCAnsi002_no_cache.gif');
    background-repeat:no-repeat;
    height:15px;
    width:20px;
}
.friendsSeat{
	background-image:url('../images/LCAnsi007_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
}
.SltdSeat{
    background-image:url('../images/LCAnsi003_no_cache.gif');
    background-repeat:no-repeat;
    height:15px;
    width:20px;
}
.aisle{
    height:15px;
    width:20px;
}
.exitLeft{
    background-image:url('../images/ANCI_06_no_cache.gif');
    background-position:top center;
    background-repeat:no-repeat;
    width:20px;
    height:39px;
}
.exitRight{
    background-image:url('../images/ANCI_07_no_cache.gif');
    background-position:bottom center;
    background-repeat:no-repeat;
    width:20px;
    height:39px;
}
.window{
    width:20px;
}
.wingRight{
    background-image:url('../images/LCAnsi005_no_cache.jpg');
    background-position:bottom center;
    background-repeat:no-repeat;
    height:65px;
    width:594px;
}
.wingLeft{
    background-image:url('../images/LCAnsi006_no_cache.jpg');
    background-position:top center;
    background-repeat:no-repeat;
    height:65px;
    width:594px;
}
.noTextDec{
    text-decoration:none;
}
.seatTT{
    opacity: .8;
    filter: alpha(opacity=80);
}
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.tabBG{
    background-image:url('../images/LIbe016_no_cache.jpg');
    height:27px;
}
.tabSltd{
    background-image:url('../images/LIbe015_no_cache.jpg');
    background-repeat:no-repeat;
    width:109px;
    height:27px;
}
.tabNotSltd{
    background-image:url('../images/LIbe014_no_cache.jpg');
    background-repeat:no-repeat;
    width:109px;
    height:27px;
}
.cursorPointer{
    cursor:pointer;
}
.noBorder{
    border: 0px solid transparent;
}
.progressBG {
    background-color:#FA0101;
}
.fntDefaultWhite{
    color:white;
}
.MandatoryGrid{
    color: white;
}
.paddingL5{
    padding-left: 5px;
}
.paddingL3{
    padding-left: 3px;
}
.Gridwt {
    background-color:#FFFFFF;
    height:20px;
}
.GridTable {
    background-color:#DFDFDF;
    border-color:#DFDFDF;
}
.GridHighlight {
    background-color:#EBEBEB;
    height:20px;
}
.GridItems{background: #ffffff}
.tblBgLeft{
    background-image:url(../images/n019_no_cache.jpg);
    background-repeat:repeat-x;
    background-position:top;
}
.tblBgRight{
    background-image:url(../images/n019_no_cache.jpg);
    background-repeat:repeat-x;
    background-position:top;
}
.copyright {
    color:#FFFFFF;
    font-size:11px;
    margin:0 auto;
    padding:10px 19px 14px;
}
.copyright a {
    color:#FFFFFF;
    font-size:11px;
    text-decoration:none;
}
.mainbody{padding-top: 10px}
.mainbody div#sortable-ul {
    margin:0;
    padding:0;
}
.mainbody div#sortable-ul div.sortable-child {
    float:left;
}
#divSummaryPane, .floater{
    width:250px;
}
.floater{margin-left: 5px;background: transparent! important;}
#divSummaryPane .bookingSummary, #divSummaryPane .paymentSummary {
    margin-bottom:8px;
}

.rightColumn {
    background:none repeat scroll 0 0 transparent;
    margin:0 0 0 8px;
    padding:0;
    width:680px;
}
.headerRow{height: 24px}
.hLeft{background: url("../images/allbg_no_cache.jpg");width:5px}
.hCenter{background: url("../images/allbg_no_cache.jpg");}
.hRight{background: url("../images/allbg_no_cache.jpg");width:5px}

.mLeft {
    background:none repeat-y scroll center top #dbc771;
    width:1px;
}
.mRight {
    background:none repeat-y scroll center top #dbc771;
    width:1px;
}
.mCenter{width:255px}
.Page-heading table.footerRow {
    border-top:1px solid #dbc771;
    display:table;
    height:0;
    overflow:hidden;
}

#divSummaryPane .add-padding {
    padding:0 8px;
}
.paddingCalss{padding:0 10px;}
font {
    color:#1a1b2d;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:11px;
}
.paddingR5 {
    padding-right:5px;
}
.alignRight {
    text-align:right;
}
.alignLeft {
    text-align:left;
}
.buttonset{text-align: center;}
.buttonset table {
    width:auto;
    margin: 0px auto;
}
/*
New Style
*/
.newPogressLoading ,.loadingContainer{background:#fff;display: none;}
.pageName label{color:#1a1b2d;font-size:15px;font-weight:bold;text-align: left}
/* Calendar Styles*/
#tabs1{width: 100%}
.ui-tabs .ui-tabs-panel{
    padding: 8px 0px;
}
.outerCal {
    display:block;
    margin:6px auto 0;
    width:97%;
}
h3.label {
    background: transparent;
    color:#1A1B2D;
    font-size:14px;
    padding:5px 6px;
    text-align:left;
}
.fntArabic{
    font-size:15px;
    font-family: verdana;
}
.fntEnglish{
    font-family: Arial,Helvetica,sans-serif;
    color: #1a1b2d;
    cursor:default;
}
.cal-header-ul div.cal-one-day {
    background:none repeat scroll 0 0 #A38F50;
    border-color:#F0E8C4 #F0E8C4 -moz-use-text-color;
    border-style:solid solid none;
    border-width:1px 1px 0;
    color:#FFFFFF;
    line-height:18px;
    padding:0;
    text-align:center;
}
div.cal-one-day div {
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
}

.calendar-ul li div.cal-day {
    border:1px solid #A38F50;
    height:65px;
}

div.cal-day .flight-body {
    padding:0;
}

div.cal-day .flight-body div.cal-base {
    background:none repeat scroll 0 0 #FFFFFF;
}

.flight-body .cal-base {
    -moz-border-radius:0 0 0 0;
    border:1px solid #A38F50;
    height:65px;
    margin:0;
    text-align:center;
}
.flight-body a:hover div.cal-base {
    border:1px solid #d3b147;
    cursor: pointer;
}

.flight-body a.selected div.cal-base {
    border:1px solid #d3b147;
    cursor: pointer;
}

.lowerstCon  {
    display:none;
}

.lowerstCon {
    height:4px;
}
.flightFull div.totalValue {
    background:none repeat scroll 0 0 transparent !important;
    color:#737373 !important;
    font-size:11px;
    font-weight:bold;
}

.noFlight, .FlightFull {
    display:block;
    margin:15px auto;
}

.totalValue {
    color: #737373 !important;
    font-size: 11px;
    font-weight: bold;
}
.totalValueSelected {
    color:#666666;
    font-size:19px;
    margin-top:0;
}
div.stopover {
    display: none;
}

.flight-body a div, .flight-body a span {
    background:none repeat scroll 0 0 transparent;
    cursor:pointer;
}

.selecRadio {
    text-align:left;
}

.flight-body a:hover div, .flight-body a:hover span {
    background:none repeat scroll 0 0 transparent;

}

.flight-body a.selected div, .flight-body a.selected span {
    background:none repeat scroll 0 0 transparent;
}

.sub-div a {
    border:1px solid #A38F50;
    color:#A38F50;
    display:block;
    font-family:arial;
    font-weight:bold;
    line-height:18px;
    outline:medium none;
    padding:0 6px;
    text-decoration:none;
}
.sub-div a:hover {
    border:1px solid #d3b147;
    color:#d3b147;
    display:block;
    font-family:arial;
    font-weight:bold;
    line-height:18px;
    outline:medium none;
    padding:0 6px;
    text-decoration:none;
}

.sub-div-additional a {
    border:1px solid #A38F50;
    color:#A38F50;
    display:block;
    font-family:arial;
    font-weight:bold;
    line-height:18px;
    outline:medium none;
    padding:0 6px;
    text-decoration:none;
}
.sub-div-additional a:hover {
    border:1px solid #d3b147;
    color:#d3b147;
    display:block;
    font-family:arial;
    font-weight:bold;
    line-height:18px;
    outline:medium none;
    padding:0 6px;
    text-decoration:none;
}

/*Gradeant colors */
.FareGridBorder01 {
    background-color:#d2d3ea! important;
    border-color:#2c2d4d;
    border-style:solid;
    border-width:1px;
    height:18px;
}

.FareGridBorder02 {
    background-color:#aaabc7! important;
    border-color: #2c2d4d;
    border-style:solid;
    border-width:1px;
    height:18px;
}

.FareGridBorder03 {
    background-color:#6f7096 ! important;
    border-color: #2c2d4d;
    border-style:solid;
    border-width:1px;
    height:18px;
}

.FareGridBorder04 {
    background-color:#4c4d72 ! important;
    border-color: #2c2d4d ;
    border-style:solid;
    border-width:1px;
    height:18px;
}

.FareGridBorder05 {
    background-color:#2c2d4d ! important;
    border-color:#2c2d4d;
    border-style:solid;
    border-width:1px;
    height:18px;
}
.fntHighLow{color:white! important}
.fntLowHigh{color:black! important}
/* steps */
.StepsTable{background: #fff;border: 1px solid #DBC771;}
div.stepsItem{display: none}
div.select{display: block;}
/*alert*/
.drager {
    cursor:move;
    height:25px;
    position:relative;
    width:94%;
    z-index:99999;
}
#popup_container {
    -moz-border-radius:0px;
    background:none repeat scroll 0 0 #FFFFFF;
    border:2px solid #dbc771;
    color:#FFFFFF;
    display:none;
    font-family:Arial,sans-serif;
    font-size:12px;
    overflow:hidden;
    width:380px;
}
#popup_container_frame  {
    height:100%;
    width:100%;
}

.fareSelSidePanel {
    width:260px;
    padding-left:8px;
}

.fareSelSidePanel table.footerRow{
    background:#DBC771;
    height:1px;
}

.pTopM {
    background:#3d3e5d;
    height:24px;
    width: 80px;
}
.pTopM label{color: #fff}

.pTopL {
    background:#3d3e5d;
    height:24px;
    width:11px;
}

.pTopDM {
    background:url("../images/allbg_no_cache.jpg") repeat-x;
    height:24px;
}

.pTopDR {
    background:url("../images/allbg_no_cache.jpg") repeat-x;
    height:24px;
    width:11px;
}
.pMidL {
    background:#DBC771;
    width:1px;
}
.pMidM {
    background-image:url("../images/n033_no_cache.jpg");
    background-position:center top;
    background-repeat:repeat-x;
}
.pMidR {
    background:#DBC771;
    width:1px;
}
.searchCritira  {
    display:block;
    margin:0 auto;
    width:224px;
}
.GridHeaderHighlight {
    background:#3d3e5d;
    height:20px;
    border-bottom: 1px solid #DBC771;
}
.GridHeaderHighlight label, .logUserBG  label, .tabUnSltd label{
    color: #ffffff;
}
.logUserBG{
    background:#A38F50;
    height:34px;
    border-bottom: 1px solid #DBC771;
}
.logUserCorT{
    background:#A38F50;
    height:34px;
    border-bottom: 1px solid #DBC771;
}

.tabSltdUser {
    background:#DBC771;
    height:27px;
}

.tabUnSltd {
    background:#A38F50;
    height:27px;
}

.tabSltdOver {
    background:#DBC771;
    height:27px;
}
.tabSltdOver label{
    color: #1A1B2D
}
.logUserCorB{
    background:#A38F50;
    height:27px;
}

#trCabinClass p {
    margin:0;
    padding:0;
}

.popuploader{background: transparent;width: 250px}
.popuploader .closethisp{float: right}
.popuploader .headerBG {background: url("../images/allbg_no_cache.jpg") no-repeat;text-align: left;cursor: move;}
.popuploader .headerBG label{cursor: move;width: 220px;float: left}
.popuploader .hLeft {
    background-position:0px 0px;
    background-repeat:repeat-x;
    height:24px;
    width:10px;
}
.popuploader .hCenter {
    background-position:0 0px;
    background-repeat: repeat-x;
    height: 24px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    padding: 0px 0px;
    width:232px;
}
.popuploader .hRight {background-position:0 0px;background-repeat: repeat-x;width: 10px;height: 24px}
.popuploader .popupbody{overflow-y: auto;overflow-x: hidden;border: 1px solid #DBC771;background: #fff}
.ui-datepicker-trigger  {
    margin:1px 2px;
    vertical-align:middle;
}
div.div-Table .floatItem{width:auto! important}