* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Myriad Pro",Calibri,sans-serif;
    color: #252525;
    line-height: 23px;
    font-size: 14px;
    background: #fff;
}

#scheduleTbl{
    float: left;
    width: 100%;
    font-size : 12px;
    background: #fff;
}

#scheduleTbl table {
    float: left;
    width: 100%;
}

#scheduleTbl br {
    display: none;
}

#scheduleTbl table tr {
    float: left;
    width: 100%;
    display: table;
    background: #fff;
}

#scheduleTbl table tr br {
    display: none;
}

tr.recordtop.fntBold.fntRed.row2 {
    display: none !important;
}


#scheduleTbl table tr.recordd td {
    background: whitesmoke;
}

#scheduleTbl table tr td.header {
    display: none;
}

#scheduleTbl table tr.recordd {
}

#scheduleTbl table tr:nth-child(even) {
    background: white;
}

#scheduleTbl table td {
    display: table-cell;
    padding: 7px 5px;
    width: 12% !important;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
    background: #fff;
}

#scheduleTbl table td.hdRow {
    background: #EAEAEA;
    font-weight: 600;
}

#scheduleTbl table td.hdRow br {
    display: block;
}

#scheduleTbl table tr.recordtop {margin-bottom: 25px;}

#scheduleTbl table tr.recordtop td {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

td.align.header {
    display: none !important;
    background: #fff !important;
} 