<div class="row">
	<h4 translate="lbl_autocheckin_passengerDetailsLbl">Passenger
		Details</h4>
	<div class="passengers-list">
		<div class="col-md-12">
			<div class="col-md-4">
				<div class="inner">
					<div ng-repeat="passenger in passengerList">
						<ul class="autocheckin-tab">
							<li><a href="javascript:void(0);"
								ng-click="changeSelected($index)"
								ng-class="{'done':(passengerDetailsFilled[$index]==true), 'active': passengerIndex == $index}">{{passenger.displayName}}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-8">
						<label> <span translate="lbl_autocheckin_passportNumber">Passport
								Number </span> <sup class="red">*</sup>
						</label>
						<div class="form-group">
							<input type="text" class="form-control" ng-model="passportNo"
								ng-required="true" ng-keyup="changeSelectedUpdateData()">
						</div>
					</div>
					<div class="col-md-4">
						<label> <span translate="lbl_autocheckin_ExpiryDate">Expiry
								Date </span> <sup class="red">*</sup>
						</label>
						<div class="form-group">
							<div isa-validator class="calender-alin">
								<input ui-date="passportExpiry" type='text'
									name="passportExpiry" ng-model="passportExpiry"
									class="form-control" id="pax-passportExpiry" ui-date-fix
									ng-change="changeSelectedUpdateData()" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<label> <span
							translate="lbl_autocheckin_CountryOfIssurance">Country of
								Issurance </span> <sup class="red">*</sup>
						</label>
						<div class="form-group">
							<div class="ibe-typeahead">
								<div isa-validator>
									<input type="text" onClick="scrollToCountry()" novalidate
										name="country" ng-model="passportIssuedCntry"
										selected-value="passportIssuedCntry"
										uib-typeahead="country.code as country.name for country in countryList | filter:{name:$viewValue}:startsWith"
										typeahead-input-formatter="formatLabelCountry($model)"
										typeahead-select-on-exact="true" typeahead-min-length="0"
										typeahead-focus class="form-control" autocomplete="off" />
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<label> <span translate="lbl_passenger_dob">Date of
								Birth </span> <sup class="red">*</sup>
						</label>
						<div class="form-group">
							<div isa-validator class="calender-alin">
								<input ui-date="dateOptions" type='text' ng-model="dob"
									class="form-control" ui-date-fix
									ng-change="changeSelectedUpdateData()" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label> <span translate="lbl_common_emailAddress">Email
								Address</span> <sup class="red">*</sup>
						</label>
						<div class="form-group">
							<input type="text" name="email" ng-model="email"
								ng-keyup="changeSelectedUpdateData()" class="form-control" />
						</div>
						<div class="xs-chk-phn input-option ma-0">
							<span class="checkbox"> <input type="checkbox" checked="">
								<label class="passenger-xs-text ng-scope" for="mobileNoTravel"
								translate="lbl_autocheckin_terms_part1">I am not
									carrying any <a href="#"> <span
										translate="lbl_autocheckin_terms_part2">dangerous goods
											or sharp objects</span>
								</a>
							</label>
							</span>
						</div>
						<div class="col-md-12 text-right">
							<a href="javascript:void(0)" ng-click="nextPassenger()"> <span
								translate="lbl_passenger_nextPassenger " class="ng-scope">Next
									Passenger</span> <i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ---------end of pax list -->