/* To Do : Refactor */
 html, body {	

}
* html{	
	overflow-x: hidden;
	overflow-y: auto;
	
}
body {
    background-color: #ffffff;
}
.mainPageLoader{
	display:none;
	z-index:9900;
	height:83px;
	position:absolute;
	top:50%;
	left:40%;
	width:249px
}
.mainPageLoaderFreame{
	position:absolute;
	background:transparent;
	width:253px;
	height:92px;
}
html, body,  ol,  dd, blockquote, q, h1, h2, h3, h4, h5, h6, form, fieldset, a, div, img, table
{
	margin: 0;
	padding: 0;
	border: 0;
	font-family:Tahoma,Arial,sans-serif;
	font-size: 11px;
	
}

a:link
{
    COLOR: #800020;
    TEXT-DECORATION: none
}
a:visited
{
    COLOR: #800020;
    TEXT-DECORATION: none
}

UL
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 4px;
}
LI
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 0px;
    margin-left: 15px;
}
label{
	font-family:Tahoma,Arial,sans-serif;
	font-size:11px;
	left:auto;
	color: #0b0b0b;
	line-height: 20px;
}

.ul-cards {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.ul-cards li{
    list-style: none;
    margin: 2px;
    border: 1px solid #bbb;
    float: left;
    width: 130px;
    height: 80px;
    background: #f1f1f1

}
.ul-cards li div{
    border: 1px solid #f1f1f1
}
.ul-cards li div.card-img{
    border-bottom: 0px;
    height: 35px;
    background: #fff;
}
.ul-cards li div.card-desc{
    border-bottom: 0px;
    height: 53px;
    background: #fff;
}


.divfont{
	font-family:Tahoma,Arial,sans-serif;
	font-size:12px;
	left:auto;
	color: #0b0b0b;
}
font{
	font-family:Tahoma,Arial,sans-serif;
	font-size:12px;
	left:auto;
	color: #0b0b0b; 
}
.fntDefault{
	font-family:Tahoma,Arial,sans-serif;
	font-size:12px;
	left:auto;
	color: #0b0b0b;
}
.appLogo{
	background-image:url(../images/n024_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:0 bottom;
	height:50px;
	background-color: transparent;
}
.topBannerMB{
	background-color:#ffffff;
	height:85px;
}

#lnkHomeBanner{
	background:url(../images/n037_no_cache.jpg) no-repeat 50% 50%;
	width:149px;
	height:49px;
}

.PageBackGround{

}
.rowSingleGap{
	height:5px;
}
.rowGap{
	height:10px;
}
.defaultRowGap{
	height:25px;
}
.gap{width: 30px}


.fntSmall{
	font-size:9px;
}
.fntBold{
	font-weight:bold;
}
.hdFont{
	font-size:15px;
}
.hdFontColor{
	/*OLD - color:#be1623; */
	color:#800020; 
}

.mandatory,.Mandatory,#spnError li{
	color: #800020;
}
.tab1A{
	background-image:url(../images/n034_A_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}
.tab1{
	background-image:url(../images/n034_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}
.tab2A{
	background-image:url(../images/n035_A_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:220px;
}
.tab2{
	background-image:url(../images/n035_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:220px;
}
.tab3A{
	background-image:url(../images/n036_A_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}
.tab3{
	background-image:url(../images/n036_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}

select
{
	font-family: Tahoma,Arial,sans-serif;
	font-size: 11px;
	height: 19px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove #9D9D9D;
	BORDER-TOP: thin groove #9D9D9D;
	BORDER-LEFT: thin groove #9D9D9D;
	BORDER-BOTTOM: thin groove #9D9D9D;
	padding:1px! important;
	}
	
input, textarea{
	font-family: Tahoma,Arial,sans-serif;
	font-size: 11px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: solid 1px #9D9D9D;
	BORDER-TOP: solid 1px #9D9D9D;
	BORDER-LEFT: solid 1px #9D9D9D;
	BORDER-BOTTOM: solid 1px #9D9D9D;
	padding:3px 2px;
	}
input[type='radio'], input[type='checkbox']{border:0px;.border:0px;_border:0px;.background: transparent;_background: transparent;}	
.clsInput{
	font-family: Tahoma,Arial,sans-serif;
	font-size: 11px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove #9D9D9D;
	BORDER-TOP: thin groove #9D9D9D;
	BORDER-LEFT: thin groove #9D9D9D;
	BORDER-BOTTOM: thin groove #9D9D9D;
	}
}
.noBorder
{
	font-family: Tahoma,Arial,sans-serif;
	font-size: 11px;
	color: black;
	border-color:green;
	border-width:0px;
}	
	
.Button
{
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: white;
	background-color:#800020;
	background-image:none;
	height: 25px;
	width:74px;
	cursor:pointer;
	padding-bottom:5px;
	line-height: 22px;
	border: 0;
}

.ButtonLarge {
	background-color:#800020;
	background-image:none;
	cursor:pointer;
	width:173px;
}

.ButtonMedium {
	background-color:#800020;
	background-image:none;
	cursor:pointer;
	width:104px;
}

.btnCredit{
	background-color:#800020;
	width:104px;
	cursor:pointer;
}
.btnCDisable{
	background-color:#c4c4c4;
	width:104px;
	cursor:default;
}
.ButtonLargeDisable{
	background-color:#c4c4c4;
	background-image:none;
	width:173px;
	cursor:default;
}
.ButtonDefaultDisable{
	background-color:#c4c4c4;
	background-image:none;
	width:74px;
	cursor:default;
	background-repeat:no-repeat;
}

.GridHeader {
	background-color:#36a9e0;
	height:20px;
}

.gridHD, .totalCol{
	background-color:#800020 !important;
	height:25px;
}

.gridHD, .totalCol label{
	color : #ffffff;
}

.gridHDDark{
	background-color:#36a9e0;
	height:25px;
}
.gridHDFont{
	color:white;
}
.gridHDsub {
    background-color: #333333;
    height: 18px;
}
.GridItems {
background-color:white;
height:20px;
}
.lpaneTopL{
	background-image:url(../images/LIbe006_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:27px;
	width:11px;
}
.lpaneTopM{
	background-image:url(../images/LIbe007_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	width:238px;
}
.lpaneTopR{
	background-image:url(../images/LIbe008_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	width:11px;
}
.lpaneMidL{
	background-image:url(../images/LIbe009_no_cache.jpg);
	background-repeat:repeat-y;
	background-position:top;
	width:2px;
}
.lpaneMidM{
	background-color:white;
	width:257px;
}
.lpaneMidR{
	background-image:url(../images/LIbe010_no_cache.jpg);
	background-repeat:repeat-y;
	background-position:top;
	width:1px;
}
.lpaneBotL{
	background-image:url(../images/LIbe011_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:18px;
	width:11px;
}
.lpaneBotM{
	background-image:url(../images/LIbe012_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	width:238px;
}
.lpaneBotR{
	background-image:url(../images/LIbe013_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	width:11px;
}
.navFont{
	font-size:12px;
	vertical-align: middle;
	color:white;
 }	
.navFontBig{
	font-size:17px;
	vertical-align: middle;
	color:white;
 }	
.rowColor{
	background-color:white;
}
.rowColorAlternate{
	background-color:#DFDFDF;
}
.bdLeft{
	BORDER-LEFT: solid 1px #DFDFDF;
}
.bdTop{
	BORDER-TOP: solid 1px #DFDFDF;
}
.bdBottom{
	BORDER-BOTTOM: solid 1px #DFDFDF;
}
.bdRight{
	BORDER-RIGHT: solid 1px #DFDFDF;
}
.noPadding{
	padding:0px;
}
.lightGrayHD{
	background-color:#DFDFDF;
	height:25px;
}

.errorControl{
	background-color:#FEFFAF;
}

.fontCapitalize{
	text-transform: capitalize;
}
.ButtonAncilary{
	background-image: url(../images/n200_no_cache.gif);
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: gray;
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 28px;
	width:174px;
	cursor:pointer;
	background-repeat:no-repeat;
	padding-bottom:2px;
}

.ButtonMeal{
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: #5A5A5A;
	background-color:transparent;
	background-image: url(../images/n056meal_no_cache.gif); 
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 25px;
	width:154px;
	cursor:pointer;
	background-repeat:no-repeat;
}
.oldSeat{
	background-image:url('../images/LCAnsi001_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
	background-position: -3px;
}
.aisle p{color: #51a7a4! important}
.availSeat{
	background-image:url('../images/LCAnsi004_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
	background-position: 0px 0%;
}
.notAvailSeat{
	background-image:url('../images/LCAnsi002_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
	background-position: 0px 0%;
}
.SltdSeat{
	background-image:url('../images/LCAnsi003_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
	background-position: 0px 0%;
}
.aisle{
	height:15px;
	width:20px;
}
.exitLeft{
	background-image:url('../images/ANCI_06_no_cache.gif');
	background-position:top center;
	background-repeat:no-repeat;
	width:20px;
	height:39px;
}
.exitRight{
	background-image:url('../images/ANCI_07_no_cache.gif');
	background-position:bottom center;
	background-repeat:no-repeat;
	width:20px;
	height:39px;
}
.window{
	width:20px;
}
.wingRight{
	background-image:url('../images/LCAnsi005_no_cache.jpg');
	background-position:bottom center;
	background-repeat:no-repeat;
	height:65px;
	width:594px;
}
.wingLeft{
	background-image:url('../images/LCAnsi006_no_cache.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	height:65px;
	width:594px;
}
.noTextDec{
	text-decoration:none;
}
.seatTT{
	opacity: .9;
	filter: alpha(opacity=90);
	background-color:#3b918e! important;
}
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.tabBG{
	background-image:url('../images/LIbe016_no_cache.jpg');
	height:40px;
	background-repeat: repeat-x;
	background-position: 0 99%;	
}
.tabSltd{
	background-image:url('../images/aniciselected.gif');
	background-color:#36a9e0;
	background-repeat:no-repeat;
	background-position:4px 12px;
	width:auto;
	height:40px;
	padding:1px 5px 1px 25px;
	color: white;
}
.tabNotSltd{
	/*ackground-image:url('../images/LIbe014_no_cache.jpg');*/
	background:#D7D8DA;
	background-repeat:no-repeat;
	width:auto;
	height:40px;
	padding:1px 8px;
	color: #0b0b0b;
}
.tabSltd p, .tabNotSltd p{text-align: left;}
.newTabStyle{height: 40px;overflow: hidden;}
.cursorPointer{
	cursor:pointer;
}
.noBorder{
	border: 0px solid transparent;
}
.progressBG {
	background-color:#FA0101;
}
.fntDefaultWhite{
	color:white;
}
.MandatoryGrid{
	color: white;
}
.paddingL5{
	padding-left: 5px;
}
.paddingL3{
	padding-left: 3px;
}
.Gridwt {
	background-color:#FFFFFF;
	height:20px;
}
.GridTable {	
	background-color:#DFDFDF;
	border-color:#DFDFDF;
}
.tblBgLeft{
	background:none;
}
.tblBG{
	background:none;
}
.paddingCalss{padding:0px 0px}
.tblBgRight{
	background:none;
}

.newPogressLoading, .loadingContainer {
	background:none repeat scroll 0 0 #FFFFFF;
	display:none;
}
.pageName label {
	color:#800020;
	font-size:15px;
	font-weight:bold;
	text-align:left;
}
.mainbody{
	background: url("../images/body_bg_no_cache.jpg") repeat-y 50% 0;
	padding-top: 20px;padding-bottom: 20px;
}
.mainbody #sortable-ul {
	padding:0;
	display: block;
	width: 940px;
	margin: 0px auto 0;
}

.sortable-ul{
	padding:0;
	display: table;
	width: 940px;
	margin: 0px auto 0;
	height: 85px;
}

.mainbody div#sortable-ul div.sortable-child {
	float:left;
}
#divSummaryPane, .floater{
	width:250px
}
#divSummaryPane  {
	width:245px;
	margin-right:8px;
}
#divSummaryPane .add-padding {
	padding:0 6px;
}

.rightColumn {
	background:none repeat scroll 0 0 transparent;
	margin:0 0 0 6px;
	padding:0;
	width:680px;
}

#termsNCond ul {
	margin-bottom:4px;
	margin-top:0;
}
#termsNCond ul li {
	margin-bottom:0;
	margin-left:15px;
	margin-top:0;
}

.alignLeft {
	text-align:left;
}

.alignRight{
	text-align:right;
}

/* overwirte rak style start*/
table {
background-color:transparent;
border-collapse:separate;
}
/* overwirte rak style end*/

/* Rak Alert style Start*/
#popup_container {
	-moz-border-radius:5px 5px 5px 5px;
	background:none repeat scroll 0 0 #fff;
	border:2px solid #800020;
	color:#FFFFFF;
	font-family:Tahoma,Arial,sans-serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size:12px;
	width: 380px;
	display: none;
	overflow: hidden;
}
.drager {position: relative;z-index: 99999;height: 25px;width:94%;cursor: move;}
#popup_container_frame{
	width: 100%;
	height: 100%;
}
/* Rak Alert style End*/

/* Sumarry panle Styles Start*/
.Page-heading table.headerRow{display: table;margin-bottom: 0px}
.Page-heading table.headerRow td{overflow: hidden;height: 40px;}
.Page-heading .headerBG{
	background-color:#800020;
	text-align: left;
}
.Page-heading .hBottom{background-repeat: repeat-x;height: 27px;}
.Page-heading .hbSide{background-repeat: repeat-x;height: 27px;width:10px}
.Page-heading .hLeft{background-repeat: repeat-x;width: 10px;height: 27px}
.Page-heading .hCenter{
	background-repeat: repeat-x;
	height: 27px;
	font-size: 14px; 
	color: #fff;
	font-weight: bold;
}
.Page-heading .hRight{background-repeat: repeat-x;width: 10px;height: 27px}

.mLeft{
	background:#800020;
	width:1px;
}
.mCenter{width: 243px}
.mRight{
	background:#800020;
	width:1px;
}
.Page-heading table.footerRow,table.footerRow{overflow: hidden;height: auto;display: table;border-top:1px solid #800020;background-color: #800020;padding: 7px 0px}
.Page-heading .bLeft{width: 10px;height: 0px;background: transparent;}
.Page-heading .bCenter{
	height: 0px;
	background: transparent;
}
.Page-heading .bRight{width: 10px;height: 0px;background: transparent;}
/* Sumarry panle Styles End*/

/* Mahan Calendar Styles Start*/


h3.label {
	background:none repeat scroll 0 0 transparent;
	color:#800020;
	font-size:11px;
	padding:3px 6px;
	text-align:left;
}

.cal-header-ul div.cal-one-day {
	background:#36a9e0;
	border-color:transparent;
	border-style:solid;
	border-width:1px;
	color:#FFF;
	line-height:18px;
	padding:0 0;
	text-align:center;
	border-bottom: 0px;
}
div.cal-one-day div {
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
}

.flight-body .cal-base {
	-moz-border-radius:0px 0px 0px 0px;
	border:0px solid #aaa;
	margin:0px;
	text-align:center;
}


.sub-div-additional a {
	background:transparent;
	border:1px solid #AAAAAA;
	color:#AAAAAA;
	display:block;
	font-family:arial;
	font-weight:bold;
	line-height:18px;
	outline:medium none;
	padding:0px 5px;
	text-decoration:none;
}
.lowerstCon{height: 4px}

.ui-widget-content {
	/*background:transparent;
	border:0px solid #AAAAAA;*/
	color:#222222;
}

.ui-tabs .ui-tabs-panel {
	background:none repeat scroll 0 0 transparent;
	border-width:0;
	display:block;
	padding:0px;
}


/******************** process banner start***************/
.StepsTable{
	width: 100%;
	display: block;
	margin: 2px 0px 15px;
}

.stepsItem{
	/*width:163px;*/
	background: url("../images/v3/process_bg_no_cache.jpg") repeat-x scroll 0 0;
}
td.iconCorrect{
	width:20px
}
td.peocess-text{
	font-size: 12px;
	text-align: center;
	width: 127px
}

td.peocess-text font{
	color: #666;
}
.select td.peocess-text font{
	color: #ffffff;
}
td.process-right{
	background: url("../images/v3/right-normal-corner_no_cache.jpg") no-repeat scroll 0 0;
	width:25px;
	height: 50px;
}

.first td.process-left{
	background: url("../images/v3/first-left-normal-corner_no_cache.jpg") no-repeat scroll 0 0;
	width:10px;
	height: 50px;
}

.last td.process-right{
	background: url("../images/v3/last-right-normal-corner_no_cache.jpg") no-repeat scroll 0 0;
	width: 6px;
	height: 50px;
}
.select .first td.process-left{
	background: url("../images/v3/left-Selected-corner_no_cache.jpg") no-repeat scroll 0 0;
	width:8px;
	height: 50px;
}

.select .process-left{
	background: url("../images/v3/selected-right-corner_no_cache.jpg") no-repeat scroll 0 0;
	height: 50px;
	width:23px
}

.select .process-mid{
	background: url("../images/v3/mid-selected_no_cache.jpg") repeat-x scroll 0 0;
	height: 50px;
}

.select .process-right{
	background: url("../images/v3/right-selected-corner_no_cache.jpg") no-repeat scroll 0 0;
	height: 50px;
	width:25px;
}


.select .last td.process-right{
	background: url("../images/v3/last-right-selected-corner_no_cache.jpg") no-repeat scroll 0 0;
	width:6px;
	height: 50px;
}
.selected td.iconCorrect{
    background: url("../images/v3/selecte-done_no_cache.jpg") no-repeat scroll 4px 19px transparent;
}

.last-setected td.process-right{
	width:0px;
}

/******************** process banner end***************/

.flight-body a.selected div.cal-base, .flight-body a:hover.selected div.cal-base{
	background:transparent;
	padding: 10px;
}
.flight-body a:hover div.cal-base{
	background:transparent;
	background-position: 0px 0px;
	cursor: pointer;
	border: 0px solid #aaa;
	text-decoration: none;
}

.flight-body a.selected div, .flight-body a.selected span, .flight-body a.selected label {
    background: none repeat scroll 0 0 transparent;
    color: #fff;
}
.flight-body a:hover {text-decoration: none;}
div.cal-day .flight-body div.cal-base{background: #fff}
.calendar-ul li div.cal-day{
	margin: 0px;
	border:0px;
	height:61px;
}

.sub-div a {
	height: 48px;
	padding: 0px 4px;
	line-height: 12px;
	border: 0 none;
	background: #F6F6F6 url(../images/v3/next-prev_no_cache.jpg) no-repeat;
}

.cal_previous {
	background-position: 0 0;
	vertical-align: bottom;
	width: 43px;
	background-color: #F6F6F6;
}

.cal_previous a {
	background-position: 0 100%;
	display:block;
	text-align: left;
	width:35px;
	overflow: hidden;
}

.cal_previous a:hover{
	background-position: 0 100%;
}

.cal_next {
	background-position: 100% 0;
	vertical-align: bottom;
	width: 43px;
}

.cal_next a {
	background-position: 100% 100%;
	display:block;
	text-align:right;
	width: 35px;
	overflow: hidden;
}

.cal_next a:hover{
	background-position: 100% 100%;
}

.calendar-ul li div.cal-day img {
	display:block;
	margin:auto;
	z-index:12;
	left:0px;
	position:relative;
	top:30%;
}
.calendar-ul li div.mout div.cal-one-day{font-weight: bold;background-position: 0 0px}
div.cal-day .flight-body{padding: 0px}
.flight-header span a:hover{text-decoration: none;background: transparent;}
.flight-body a div, .flight-body a span, .flight-body a label {background: transparent;cursor: pointer;color: #800020;}
.flight-body a:hover div, .flight-body a:hover span, .flight-body a:hover label {background: transparent;cursor: pointer;color: #fff;}

.flight-body a.selected label.currValueTotal{color: #d9ecd9}
.lowerstCon{display: none;}
.totalValueSelected label.currValueTotal{font-size: 15px;color: #800020;margin-top: 0px;}
.totalValueSelected{font-size: 19px;color: #586618;margin-top: 0px;}
.totalValueSelected span{font-size: 9px;color: #0b0b0b;}
.totalValue{
	color: #586618 !important;
    font-size: 11px;
    font-weight: bold;
}
#fCalOut_FL .GridItems, #fCalIn_FL .GridItems {
	min-height: 36px;
	height: auto! important;
	height: 36px;
}
.departureTime span, .departureTime{font-size: 11px;color: #3B7DC1;}
.arivalTime span, .arivalTime{font-size: 11px;color: #3B7DC1;display: none;}
div.stopover{font-size: 11px;font-size: 10px;color:#3B7DC1;display: none}
#tooltip {
	background-color:#FCFCB5;
	border:1px solid #FFFF66;
	opacity:0.9;
	padding:5px;
	position:absolute;
	z-index:3000;
}
.selecRadio{text-align: left;}
.selecRadio input{border: 0px;background: transparent;}
.noFlight, .FlightFull{display: block;margin: 15px auto}
.FareGridBorder01, .FareGridBorder02, .FareGridBorder03, .FareGridBorder04, .FareGridBorder05{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #FFFFFF -moz-use-text-color -moz-use-text-color;
    border-style: none solid none none;
    border-width: medium 1px medium medium;
}
.FareGridBorder01 {
	background-color:#FAE1C9! important;
	border-color:#F36A34;
	border-style:solid;
	border-width:1px;
	height:18px;
}

.FareGridBorder02 {
	background-color:#F5C292! important;
	border-color: #F36A34;
	border-style:solid;
	border-width:1px;
	height:18px;
}

.FareGridBorder03 {
	background-color:#F1AB6C ! important;
	border-color: #F36A34;
	border-style:solid;
	border-width:1px;
	height:18px;
}

.FareGridBorder04 {
	background-color:#EF9321 ! important;
	border-color: #F36A34 ;
	border-style:solid;
	border-width:1px;
	height:18px;
}

.FareGridBorder05 {
	background-color:#ED8120 ! important;
	border-color:#F36A34;
	border-style:solid;
	border-width:1px;
	height:18px;
}
.c-scroller{
	border-left:0px ;
	margin-left:0px;
}
.floatleft{
	float:left;
}
.floatright{
	float:right;
}
.flight-body .selected{
	background:#36a9e0;
	height: 63px
}
.AllFlight{
	background-color:#36a9e0;
}
.AllFlight .gridHD{
	background-color:#444444;
	background-image:url(../images/v3/nonEcomomy-fares_no_cache.jpg);
	height:36px! important;
}
.NotFare{
	background-position: 0 -188px;
}
.thisFls .thinBorderL {
	border-left: 1px solid #feffff;
}
.AllFlight .gridHD label{
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
}
.thisFls{
	margin-top:10px;
}

.flight-body a {
	display: block;
	height: 63px;
	position: relative;
	top: 15px;
}

.flight-body a:hover div.cal-base {
	background:#36A9E1;
	cursor: pointer;
	border-width: 0 0 1px 0;
	border-color:#36A9E1;
	padding:1px 10px;
	height:48px;
}

.CompareFare{display:none}
/* Mahan Calendar Styles End*/

.fareSelSidePanel {
	width:260px;
	margin-left:1px;
}

/*new classes */
.fareClass{
	background-position: 0 -150px;
}
.fareClass .ttip{
	background-image:url("../images/v3/what-icon_no_cache.jpg")!important;
	background-position: 0 -83px;
}
.fareClass label.gridHDFont{
	color:#FFF;
}
.Y_N_class{
	background-image:url("../images/v3/economy-corner_no_cache.jpg")!important;
	background-position: 0 0px;
	border-left:0px! important;
}
.Y_N_class label.gridHDFont{
	color:#fff! important;
}
.Y_N_class .ttip{
	background-position: 0 -13px;
}

.Y_Y_class{
	background-position: 0 0px;
}
.Y_Y_class label.gridHDFont{
	color:#fff! important;
}
.Y_Y_class .ttip{
	background-position: 0 -48px;
}
.flight-body div, .flight-body span{
	font-family:Arial,Helvetica,Verdana,sans-serif;
}
.sData div{
	line-height:13px;
}
.sData .daySmall{
	color:#800020;
	font-size:11px;
	display: inline;
	padding: 0 1px
	
}
.sData .dateSmall{
	color:#800020;
	font-size:11px;
	display: inline;
	padding: 0 2px
}
.sDataFull .daySmall{
	font-weight:bold;
	color:#ffffff;
	display: inline;
	padding: 0 1px;
}
.sDataFull .dateSmall{
	font-weight:bold;
	display: inline;
	padding: 0 2px;
}
.sData{display:block! important}
.sDataFull{display:none! important}
.selected .sData{display:none! important}
.selected .sDataFull{display:block! important;padding-top:0px}
.minFareValue .from{
	display:none! important;
}
.minFareValue span, .minFareValue label{
	font-weight: bold;
}
.selected .minFareValue .from{
	display:inline! important;
	text-transform: lowercase;
	font-weight:normal! important;
}
.nPBList .gridHDDark{
	background: url("../images/v3/fareBGs_no_cache.jpg") repeat-x scroll 0 3px;
	height:40px;
	padding: 0 15px;
}

.nPBList .gridHDDark label{
    display: block;
    line-height: 40px;
}

.leftNavigation {
	float: right;
	width: auto;
	border-top: 1px solid #e4e4e4;
	border-left: 1px solid #e4e4e4;
	border-top-left-radius: 4px;
}

.rightNavigation{
	float: left;
	width: auto;
	border-top: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	border-top-right-radius: 4px;
}

.aligend {
	background: #F6F6F6 url(../images/v3/flight-BG_no_cache.jpg) repeat-x scroll 0px 0px;
	height: 63px;
}
.flightCalendar {
padding-bottom: 0px;
}

#divSummaryPane .pane-body {
	background:url("../images/LIbe003_no_cache.jpg") repeat-x scroll 0 0 #fff;
	border:0 solid #E72E2C;
}

.GridHeaderHighlight  {
background-color:#636363;
height:20px;
}
.logUserBG {
background:#e4e4e4;
background-position:center top;
background-repeat:repeat-x;
height:34px;
}

.logUserCorT {
background:#e4e4e4;
background-position:center top;
height:34px;
}
.fntWhite {
color:white;
}

.tabSltdUser{
	background:#800020;
	height:25px;
}

.tabSltdOver {
	background:#2CABDE;
	height:25px;
}
.tabSltdOver label{color: white;cursor: pointer;}

.tabUnSltd{
	background-color:#2CABDE;
	height:25px;
}
.tabUnSltd label{color: white;cursor: pointer;}
.pnlTopL{
	height:9px;
	width:9px;
	border-width: 1px 0px 0px 1px;
	border-style: solid;
	border-color: #e4e4e4
}
.pnlTopM{
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	border-color: #e4e4e4;
	height:9px;
}
.pnlTopR{
	border-width: 1px 1px 0px 0px;
	border-style: solid;
	border-color: #e4e4e4;
	height:9px;
	width:9px;
}
.pnlMidL{
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	border-color: #e4e4e4;
    width: 9px;
}
.pnlMid{
}
.pnlMidR{
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	border-color: #e4e4e4;
	width:9px;
}
.pnlGroupbottom{border-top: 1px solid #e4e4e4;}
.pnlBottomL{
	border-width: 0px 0px 1px 1px;
	border-style: solid;
	border-color: #e4e4e4;
	height:9px;
	width:9px;
}
.pnlBottomM{
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #e4e4e4;
	height:9px;
}
.pnlBottomR{
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	border-color: #e4e4e4;
	height:9px;
	width:9px;
}
.ui-datepicker-trigger{vertical-align: middle;margin: 1px 2px}
.pBotL {
	background:transparent;
	background-position:center top;
	background-repeat:no-repeat;
	height:15px;
	width:11px;
}
.pBotM {
	background:transparent;
	background-position:center top;
	background-repeat:repeat-x;
	height:15px;
	width:92%;
}
.pBotR {
	background:transparent;
	background-position:center top;
	background-repeat:no-repeat;
	height:15px;
	width:11px;
}
.btnAuxButton {
	font-family:Verdana,Arial,Helvetica,sans-serif;;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	color: #004845;
	background-color:#efefef;
	background-position:left; 
	border-top: 2px solid #004845;
	border-right: 2px solid #004845;
	border-bottom: 2px solid #004845;
	border-left: 2px solid #004845;
	height: 28px;
	cursor:pointer;
	background-repeat:no-repeat;
	padding-bottom:4px;
	padding-left:4px;
	padding-right: 20px;
	background-position: 97% 4px;
	-moz-border-radius:4px 4px 4px 4px;

}
.colourGreavy{
	background-color: #36a9e0! important;
	height: auto! important;
	padding: 7px 0px;
}
#tabs1{
	background:none repeat scroll 0 0 transparent;
	border:0 none;
	width: 100%;
}
/* main pageloaging msg */
.mainPageLoader{display:none;z-index:9900; background:transparent;height:80px;position:absolute;top:50%;left:40%;width:250px}

.searchCritira{
	display:block;width:230px;margin: 0 auto;
}
.searchCritira div{padding: 2px 0}
/*FixME this is for pathch*/
#specialMsg div{
		text-align: left;list-style: none;
		background-color:#ffffcf;
		opacity: .7;
		filter: alpha(opacity=80);
		border:1px solid #F3F376;
		padding:2px;
		font-size:11px;
		-moz-border-radius:6px;	/* Rounded edges in Firefox */
		font-family:Tahoma,Arial,sans-serif;
		font-weight: bold;
}

.spMsg{
	background-color:#ffffcf;
	opacity: .7;
	filter: alpha(opacity=80);
	border:1px solid #F3F376;
	padding:2px;
	font-size:11px;
	-moz-border-radius:6px;	/* Rounded edges in Firefox */
	font-family:Tahoma,Arial,sans-serif;
	
}


/*button span*/
button.isabutton:disabled .buttonMiddle{
	color:#999! important;
}

button.isabutton{
	width:auto;
	padding: 0px;
	margin: 0px;
	overflow: visible;
	background: transparent;
	border: 0! important;
	outline: none;
}
.buttonspan{
    border: 0 none !important;
    cursor: pointer;
    padding: 0px;
}
.buttonMiddle{
  	white-space:nowrap;
  	font-family:arial;
  	font-size: 12px;
  	padding: 0px;
  	font-weight: bold;
}
.InsConfirm, .InsCancel{
	background: url("../images/n052_no_cache.jpg") repeat-x scroll 0 0;
	-moz-border-radius: 8px; -webkit-border-radius: 8px;
	color:#fff;
	border:1px solid #E02722;
}

/*black buttons*/
.blackStOver td, .backPrevious td, .blackNormal td{
	background: url("../images/v3/black-buton-R_no_cache.jpg") no-repeat;
}
/*startover*/
.blackStOver td.buttonspan{
	background-position:0 -35px;
	height: 34px;
	padding:0 0 0 27px;
}

.blackStOver td.buttonMiddle{
	background-position:100% 0;
    color: #FFFFFF;
    height: 34px;
    line-height: 34px;
    padding: 0 25px 0 7px;
}

/*backPrevious*/
.backPrevious td.buttonspan{
	background-position:0 -70px;
	height: 34px;
	padding:0 0 0 27px;
}

.backPrevious td.buttonMiddle{
	background-position:100% 0;
    color: #FFFFFF;
    height: 34px;
    line-height: 34px;
    padding: 0 25px 0 7px;
}

/*backNormal*/
.blackNormal td.buttonspan{
	background-position:0 0px;
	height: 34px;
	padding:0 0 0 27px;
}

.blackNormal td.buttonMiddle{
	background-position:100% 0;
    color: #FFFFFF;
    height: 34px;
    line-height: 34px;
    padding: 0 25px 0 7px;
}

/*red buttons*/
.redContinue td, .redNormal td{
	background: url("../images/v3/red-buton-R_no_cache.jpg") no-repeat;
}
/*redContinue*/
.redContinue td.buttonspan{
	background-position:0 0;
	height: 34px;
	padding:0 0 0 20px;
}
.redContinue td.buttonMiddle{
	background-position:100% -35px;
	height: 34px;
    line-height: 34px;
    margin-top: 0px;
	color:#fff;
	padding-right: 35px;
}
/*redNormal*/
.redNormal td.buttonspan{
	background-position:0 0;
	height: 34px;
	padding:0 0 0 20px;
}
.redNormal td.buttonMiddle{
	background-position:100% 0px;
	height: 34px;
    line-height: 34px;
    margin-top: 0px;
	color:#fff;
	padding-right: 25px;
}
/*white pluse*/

.whitebutton td.buttonspan{
	background: url("../images/v3/white-button-right_no_cache.gif") no-repeat scroll 0 -38px;
	height: 34px;
    line-height: 34px;
    margin-top: 0px;
	color:#fff;
	padding-right: 20px;
}

.whitebutton td.buttonMiddle{
	background: url("../images/v3/white-button-right_no_cache.gif") no-repeat scroll 100% -1px ;
	height: 36px;
	padding: 0 10px 0 6px;
}



/*External Agents Pages Styles */
.recordl td.GridItems{
	background-color:#EBEBEB;
	height:20px;
	FONT-SIZE: 11px;
}
.recordd td.GridItems{
	background-color:#FFFFFF;
	height:20px;
	FONT-SIZE: 11px;
}

.header {
	FONT-FAMILY: Tahoma,Arial,sans-serif;
	font-weight: bold;
	background-color:#2DACE3;
	height:20px;
	FONT-SIZE: 11px;
	color: white; 
	
}
.rakHeader .header{background-color:#fff;}
.thinBorderT{border-top: 1px solid #E8E6E7;}
.thinBorderB{border-bottom: 1px solid #E8E6E7;}
.thinBorderL{border-left: 1px solid #E8E6E7;}
.thinBorderR{border-right: 1px solid #E8E6E7;}
	
.recordtop{
	FONT-FAMILY: Tahoma,Arial,sans-serif;
	font-weight:bold;
	background-color:#ECECEC;
	height:20px;
	FONT-SIZE: 10px;
}
.recordtopar{
	font-weight:bolder;
	background-color:#FFFFFF;
	height:20px;
	FONT-SIZE: 14px;
}
div.div-Table .floatItem{width:auto! important}
.footerClass{
	background:#E6E6E6 url("../images/footerbg_no_cache.jpg") no-repeat scroll -2px -2px;
	width:956px;
	height:80px;
}
.pageBody{padding-left:10px}
/*External Agents Pages Styles */
.mainbody .ui-tabs .ui-tabs-panel{
	background: none repeat scroll 0 0 transparent;
	border-width: 0 0 0;
	height: auto;
}
#footer{
	margin-top: 0! important;
	background:url("../images/footer_no_cache.jpg") repeat-x;
	height:120px;
}

/********************************** Meals Pop Up **************************************/
.mealloader{background: transparent;}
.mealloader .closethis{float: right}
.mealloader .headerBG {background: url("../images/panelBGall_no_cache.jpg") no-repeat;text-align: left;cursor: move;}
.mealloader .headerBG label{cursor: move;width: 220px;float: left}
.mealloader .hLeft {
    background-position:-1px -1px;
    background-repeat:repeat-x;
    height:24px;
    width:10px;
}
.mealloader .hCenter {
    background-position:0 -30px;
    background-repeat: repeat-x;
    height: 24px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    padding: 2px 0px;
    width:232px;
}
a.selectAici label{text-decoration: underline;cursor: pointer;}
a:hover.selectAici label{text-decoration: underline;color:#E52A23;}
.bigtext{font-size: 14px}
.mealItem {
    background: #fcf6e6;
}
.mealItem td.thumb{
    width:50px;
    vertical-align: top;
}
.mealItem td.name, .mealItem td.description{
    width:340px;
    padding: 2px 6px;
    text-align: left;
    vertical-align: top;
}
.mealItem td.qtyHead, .mealItem td.priceHead{
    background:#d0c9bf;
    width:80px;
    padding: 2px;
    text-align: center;
    vertical-align: top;
}

.mealItem td.qtyBody{
    width:80px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}
.mealItem td.priceBody{
    width:80px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}
.mOverMeal{background: #eae4d4}
.mealSpinner{width:65px;margin: 10px auto}
.mealSpinner div{
    background:url("../images/v3/addred_no_cache.gif") no-repeat;
    cursor: pointer;
}
div.add{
    background-position: 0px 0px;
    width: 11px;
    height: 11px;
}
div.reduse{
    background-position: -14px 0px;
    width: 11px;
    height: 11px;
}
.headeritems{float: left}
#popupHeader td{
    background:url("../images/v3/meal-BreagCrum_no_cache.jpg");
}
#popupHeader td label{color: #ffffff;font-size: 10px;line-height: 15px;}
#popupHeader td.grayBar{
    background-position: 0px -45px;
    height: 15px;
    padding: 0 10px;
}
td.grayBar, td.grayBar label{cursor: pointer;}
#popupHeader td.grayCorner{
    background-position: 0px -15px;
    height: 15px;
    width: 11px;
}
#popupHeader td.redBar{
    background-position: 0px -30px;
    height: 15px;
    padding: 0 10px
}
#popupHeader td.redCorner{
    background-position: 0px 0px;
    height: 15px;
    width: 11px;
}
label.value{width:30px;display:block}
/* meal images */
#bodyitems{background: #ffffff}
.catBlock{
    float: left;
    width: 94px;
    height: 94px;
    margin: 2px;
    border: 1px solid #f1f1f1;
    cursor: pointer;
    background:url("../images/mealCata_no_cache.jpg") no-repeat;
}

a.calClass1 div{
    background-position: 0 0;
}
a:hover.calClass1 div{
    background-position: -94px 0;
}
a.calClass2 div{
    background-position: 0 -94px;
}
a:hover.calClass2 div{
    background-position: -94px -94px;
}
a.calClass3 div{
    background-position: 0 -188px;
}
a:hover.calClass3 div{
    background-position: -94px -188px;
}
a.calClass4 div{
    background-position: 0 -282px;
}
a:hover.calClass4 div{
    background-position: -94px -282px;
}
a.calClass5 div{
    background-position: 0 -376px;
}
a:hover.calClass5 div{
    background-position: -94px -376px;
}
a.calClass6 div{
    background-position: 0 -469px;
}
a:hover.calClass6 div{
    background-position: -94px -469px;
}
a.calClass7 div{
    background-position: 0 -659px;
}
a:hover.calClass7 div{
    background-position: -94px -659px;
}
.firstCat{
    background-position: 0 -564px;
}
.mealMouseOver{opacity:0.6;filter:alpha(opacity=60)}
.mealMenuTable{width:600px}
.mealimage1{height: 70px;width: 120px;background:url("../images/salad_no_cache.jpg") scroll 50% 0 no-repeat;}
.mealimage2{height: 70px;width: 120px;background:url("../images/sandwich_no_cache.jpg") scroll 50% 0 no-repeat;}
.mealimage3{height: 70px;width: 120px;background:url("../images/cafe_no_cache.jpg") scroll 50% 0 no-repeat;}
.mealimage4{height: 70px;width: 120px;background:url("../images/drinks_no_cache.jpg") scroll 50% 0 no-repeat;}
/* meal images */



.anciTable {width: 640px}

.anciTable .first-col{padding: 0 4px}
.mealrow .odd{background:#f4f4f4}

.passengerCol{width: 190px;}
.flightCol{width: 200px;}
.allOtherColl{width: 440px;}
.mealCol{width: 150px;}
.priceCol{width: 80px;}
.clearCol{width: 30px;}

.passengerCol label, .flightCol label, .allOtherColl label, .mealCol label,
.priceCol label, .clearCol label{margin: 0 3px}

.clearMeal{outline: none}
.clearLabel{
    background: url("../images/v3/close_icon_no_cache.jpg") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float:right;
    height: 14px;
    width: 14px
}
a:hover.clearLabel label{cursor: pointer;color: #E82B25;text-decoration: underline;}
.clear-icon{
    background: url("../themes/default/images/jquery/ui-icons_cd0a0a_256x240_no_cache.png") no-repeat;
    background-position: -176px -96px;
    height: 15px;
    width: 15px;
    display: inline;
    padding: 0 7px
}

.zoomer{
    background:#fafafa;
    border:3px solid #333;
    z-index:2000;
    top:0px;
    left:0px;
    width:250px;
}
.zoomer .loadImage{height: 250px}
.zoomer .imgDescription{
    background: #333;
    color: #fff;
    padding: 5px;
    vertical-align: bottom;
}

/*meal accodian */

.accordionWrapper{display:inline-block; background-color:#fff; overflow:hidden;}
.accordionWrapper img{vertical-align:top; border:0; margin:0; padding:0}
.accordionWrapper div{display:inline; float:left; margin:auto;}
.accordionWrapper div.title{cursor:pointer;}
.accordionWrapper div.content{display:none;}

a:hover.clear-icon{
    background: url("../themes/default/images/jquery/ui-icons_454545_256x240_no_cache.png") no-repeat;
    background-position: -176px -96px;
    height: 15px;
    width: 15px;
    display: inline;
    padding: 0 7px
}
.mealBack{
    float: left;
    margin-left: 10px;
}
.mealConfirm{
    float: right;
    margin-right: 10px;
}
/********************************** Meals Pop Up **************************************/


/*New payment style*/
#paymentInfoPanel td{vertical-align: top;padding:5px}
/* Get calendar popup top */
#ui-datepicker-div{z-index: 300;font-size: 1em;display:none;}
/****overRite ****/
form{
	overflow:inherit  ! important;
}
.tblSeatMapContainer p {
    font-size: 13px !important;
    margin:0;
    margin-bottom: 4px !important;
}
.outerCal{width: 100%;}
.rightColumFix{
	margin: 0 15px;
    width: 97%! important;
}
/*************** new Popup *********************/
.popBG,#popupHeader,#footeritems{background: #e4e4e4}

.popBG1{background: #e4e4e4}
.popTopLeft{
	width: 10px;
	height: 9px;
}
.popTopMid{

	height: 9px;
}
.popTopRight{
	width: 10px;
	height: 9px;
}

.popMidLeft{
	width: 10px;
}
.popMidMid{
	background-color:#e4e4e4;
	background-repeat: repeat;
}
.popMidMid table{
	background-color:#fff;
}
.popMidRight{
	width: 10px;
}

.popBottomLeft{
	width: 10px;
	height: 9px;
}
.popBottomMid{
	height: 9px;
}
.popBottomRight{
	width: 10px;
	height: 9px;
}

#popupHeader span.close{
	background: url("../images/popupClose_no_cache.gif") no-repeat;
	float:right;
	width:14px;
	height:16px;
	cursor: pointer;
}
#popupHeader .headerItems{
	float: left;
	width:180px;
	overflow: hidden;
}
#popupFooter input{
	float: right;
}
.popup-column{
	vertical-align:top;
	border-left: 1px solid #e4e4e4;
	width:195px;
	padding-left:5px;
}
.popup-column-first{border:0px}
/*************** new Popup *********************/

.buttonset > table{
	width:100%
}
.isabutton .buttonspan{width:0px}

a#linkTerms:link u label {
    cursor: pointer;
}

.imgMod {
	width: 14px;
	height: 14px;
	float: left;
	background: url("../images/v3/white-button-left_no_cache.gif") no-repeat scroll -8px -11px;
	margin: 1px 5px 0 0;
}
#tableModSearch .pnlTopM, #tableModSearch .pnlBottomL, #tableModSearch .pnlBottomM, #tableModSearch .pnlBottomR,
#tableModSearch .pnlTopL, #tableModSearch .pnlTopR, #tableModSearch .pnlMidL, #tableModSearch .pnlMid, 
#tableModSearch .pnlMidR, #tableModSearch .pnlTopL{
	background: #f1f1f1;
}
.pTopL{
	background-color: #800020;
	width:30px;
	height: 30px;
}
.pTopM{
	background-color: #2CABDE;
	width:100px;
	height: 30px;
}
.pTopDM{
	background-color: #800020;
	height: 30px;
}
.pTopDR{
	background-color: #800020;
	width:10px;
	height: 30px;
}
.pMidL{
	background-color: #800020;
	width: 1px;
	
}
.pMidR{
	background-color: #800020;
	width: 1px
}
.logUserCorB{
	background-color: #2CABDE;
}
.logUserCorT{
	background-color: #fff;
}

.clearLabel{
    background: url("../images/v3/close_icon_no_cache.jpg") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float:right;
    height: 14px;
    width: 14px
}
a:hover.clearLabel label{cursor: pointer;color: #E82B25;text-decoration: underline;}

.removeallSeats label {
	color: #800020;
}
#lblCabinClass{
    height: 16px;
    overflow: hidden;
    display: block;
}

