<!-- Datablock -->
<div class="data-block" ng-if="!isMobileDevice">
    <!--<span class="heading-title" translate="msg_seatmap_pax">Select passenger from the list</span>-->

    <ul>
        <li ng-repeat="passenger in passengerList track by $index"
            ng-class="{'active': selectedPassenger===$index}"  ng-click="changeSelected($index)">
            <span class="checkbox-circle">
                <input type="checkbox" id="id{{$index}}"
                       ng-model="passenger.assigned" disabled>
                <label for="id{{$index}}">{{passenger.firstName}} {{passenger.lastName}} <span class="lbl-tail" ng-show="passenger.infantSequence">&#47; Infant</span> <i>{{passenger.extras.seat.seatNumber}}</i></label>
            </span>
        </li>
    </ul>
</div>
<div class="data-block paxList-up" ng-if="isMobileDevice">
    <uib-accordion class="paxList">
        <uib-accordion-group 
            ng-repeat="passenger in passengerList"
            is-open="accordionArray[$index]">
            <uib-accordion-heading>
                <div ng-class="{'active': selectedPassenger===$index}"  ng-click="changeSelected($index)">
                        <i class="fa" ng-class="accordionArray[$index] ? 'fa-minus':'fa-plus'"></i>
                        <label for="id{{$index}}">{{passenger.firstName}} {{passenger.lastName}} <span class="lbl-tail" ng-show="passenger.infantSequence">&#47; Infant</span> <i>{{passenger.extras.seat.seatNumber}}</i></label>
                </div>
            </uib-accordion-heading>
            
            <div class="available-services" ng-if="service !== 'transfer'">
                <!--<h2 class="title" translate="title_extra_availableSvc">Available Services</h2>-->
                <ul>
                    <li ng-repeat="option in source track by $index">
                        <!-- Checkbox -->
                        <span class="check checkbox-circle" ng-show="option.selected" >
                            <input type="checkbox" id="id_{{$index}}" ng-checked="option.selected" disabled>
                            <label for="id_{{$index}}"></label>
                        </span><!-- // Checkbox -->
                        
                        <!-- Data -->
                        <div class="data">
                            <div >
                                <h4 ng-click="serviceClick=!serviceClick;$event.stopPropagation()">
                                    <span>
                                        <i class="fa" ng-class="serviceClick ? 'fa-angle-up':'fa-angle-down'" ></i>
                                    </span>
                                    <span>{{option.ssrName}}</span>
                                </h4>
                                <span ng-show="serviceClick">{{option.description}}</span>
                                
                            </div>
                        </div><!-- // Data -->

                        <!-- Price -->
                        <div class="price pull-left pd-r-2" >
                            <!--TODO: set the amount according to the passenger type-->
                            <span class="currency"></span> <i isa-connector={{option.charges[passengerType].amount}}> </i>
                        </div><!-- // Price -->

                        <div class="pull-right addRemoveToggle truncate" ng-click="optionOnClick({id:option, index:$index,outerindex:outerIndex},$event)">
                            <span  ng-show="!option.selected"> {{add}}</span>
                            <span  ng-show="option.selected"> {{remove}}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="available-services" ng-if="service === 'transfer'">
                 <div airport-transfer-list
                                         source="source"
                                         index="$index"
                                         add-transfer="addTransfer(item, comment, dateValidations)"
                                         remove-transfer="removeTransfer(item)"
                                         selected-items="selectedItems"
                                         validations="validations"
                                         current-selection="currentSelection"
                                         passenger="passenger">
            </div>
        </uib-accordion-group>
    </uib-accordion> 
</div>
<!-- // Datablock -->