<div class="off-canvas-wrapper" ng-controller="AvailabilityCtrl as availability">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas-content" data-off-canvas-content>
            <div class="row flight-details">
                <div class="small-3 text-center columns">{{ availability.fromAirport }}</div>
                <div class="small-6 columns flight-path">
                    <span class="start"></span>
                    <span class="line">
                        <span class="icon-Icon-Plane"></span>
                    </span>
                    <span class="end"></span>
                </div>
                <div class="small-3 text-center columns">{{ availability.toAirport }}</div>
            </div>

            <div class="row collapse">
                <div class="small-12 columns flight-look">
                    <ul class="tabs flight-lookup" id="horz-tabs" data-tabs>

                        <!-- add area selected true -->
                        <li class="tabs-title" ng-class="{'is-active': timeline.selected }" ng-repeat="timeline in availability.timelineData" ng-click="availability.fareDateSelected($event, timeline)"
                            ng-init="availability.setInitialSelection($event, timeline)">
                            <a href="">
                                {{ availability.moment(timeline.date, 'DD/MM/YYYY').format('DD MMM') }}
                                <span>{{availability.currency}} {{ timeline.fareValue }}+</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="small-12 columns available-flights">
                    <div class="tabs-content" data-tabs-content="horz-tabs">
                        <div class="tabs-panel" id="panel1v">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua.
                            </p>
                        </div>
                        <div class="tabs-panel is-active" id="panel2v">
                            <div class="">
                                <ul class="accordion normal-flight" data-accordion>

                                    <li class="accordion-item" ng-repeat="flight in availability.flights" data-accordion-item ng-click="availability.changeSelectedFlight($index)"
                                        ng-class="{'is-active': $index == availability.selectedFlightIndex}">

                                        <a class="accordion-title">
                                            <div class="normal-flight-int">
                                                <div class="row collapse">
                                                    <div class="small-3 medium-2 text-center columns">
                                                        <div class="start">
                                                            <span class="time">{{flight.departureTime}}</span>
                                                            <span class="icon-Icon-Plane"></span>
                                                        </div>
                                                    </div>
                                                    <div class="small-6 medium-8 text-center columns flight-path">
                                                        <span class="line">
                                                            <span class="text" ng-if="flight.totalDuration.split(':')[0] == 0">
                                                                {{ flight.totalDuration.split(':')[1] }} hour(s) {{ flight.totalDuration.split(':')[2] }} minute(s)
                                                            </span>
                                                            <span class="text" ng-if="flight.totalDuration.split(':')[0] > 0">
                                                                {{ flight.totalDuration.split(':')[0] }} day(s) {{ flight.totalDuration.split(':')[1] }} hour(s) {{ flight.totalDuration.split(':')[2]
                                                                }} minute(s)
                                                            </span>
                                                        </span>
                                                    </div>
                                                    <div class="small-3 medium-2 text-center columns">
                                                        <div class="start">
                                                            <span class="time">{{flight.arrivalTime}}</span>
                                                            <span class="icn"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>

                                        <div class="accordion-content" ng-class="{'display-block': $index == availability.selectedFlightIndex}">
                                            <ul>

                                                <span class="no-flights" ng-if="!availability.validFlightsAvailable(flight.flightFaresAvailability)">No flights</span>

                                                <li ng-repeat="fare in flight.flightFaresAvailability">
                                                    <label>
                                                        <div class="row collapse" ng-if="fare.fareValue != 'null'">
                                                            <div class="small-2 columns">
                                                                <input type="radio" name="depature" id="departure{{$index}}" ng-value="true" ng-model="fare.selectedFare" ng-click="availability.setDepartureFlightDetails(flight, fare)">
                                                            </div>
                                                            <div class="small-10 columns text-right price">
                                                                <div class="row collapse">
                                                                    <div class="small-12 columns"> {{availability.currency}} {{ fare.fareValue }}
                                                                    </div>
                                                                    <div class="small-12 columns">
                                                                        <span ng-repeat="class in availability.fareClasses">
                                                                            <span ng-if="fare.fareTypeId === class.fareTypeId">
                                                                                {{ class.fareTypeName }}
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </label>
                                                </li>

                                            </ul>
                                        </div>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-panel" id="panel3v">
                        <img class="thumbnail">
                    </div>
                    <div class="tabs-panel" id="panel4v">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua.
                        </p>
                    </div>
                    <div class="tabs-panel" id="panel5v">
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                            id est laborum.
                        </p>
                    </div>
                    <div class="tabs-panel" id="panel6v">
                        <img class="thumbnail">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="availability.isOneWayFlightInfoAvailable && !passengerDetails.isReturn">
            <div class="flight-priceInfo small-12 columns ">
                <div class="subTotal text-center columns">
                    <ng-container class="subTotal farePerPass columns" ng-repeat="passenger in availability.paxPricerDetails"> 
                        <div class="subTotal-title" ng-show="passenger.paxType == 'CH'">
                                {{passenger.noOfPax}} X Child(s)
                        </div>
                        <div class="subTotal-amount"  ng-show="passenger.paxType == 'CH'"> 
                                {{ passenger.fare }} {{availability.currency}}
                        </div>
                        <div class="subTotal-title" ng-show="passenger.paxType == 'IN'">
                                {{passenger.noOfPax}} X Infant(s)
                        </div>
                        <div class="subTotal-amount" ng-show="passenger.paxType == 'IN' ">
                                {{ passenger.fare }} {{availability.currency}}
                        </div>
                        <div class="subTotal-title" ng-show="passenger.paxType == 'AD'">
                                {{passenger.noOfPax}} X Adult(s)
                        </div>
                        <div class="subTotal-amount" ng-show="passenger.paxType == 'AD'">
                                {{ passenger.fare }} {{availability.currency}}
                        </div>
                    </ng-container>
                    <div class="subTotal-title">Tax & Surcharge</div>
                    <div class="subTotal-amount"> {{availability.tax }} {{availability.currency}}</div>
                    <hr>
                    <div class="subTotal-title">Total outbound flight</div>
                    <div class="subTotal-amount" ng-cloak> {{ availability.flightFare + availability.tax }} {{availability.currency}}</div>
                    <div class="subTotal-title" ng-show="availability.promoInfo.length>0">PROMOTION DISCOUNT</div>
                    <div class="subTotal-amount" ng-repeat="promo in availability.promoInfo">- {{ promo.discountAmount }} {{availability.currency}}</div>
                </div>
            </div>
        </div>

        <div class="clear-1"></div>

        <div class="row" ng-show="availability.isOneWayFlightInfoAvailable && !availability.isReturn">
            <div class="flight-info small-12 columns">
                <div class="price text-center columns">
                    <div class="total-title">
                    Total 
                    <span>All inclusive</span>
                    </div>
                    <div class="total-amount">
                            {{availability.currency}} {{ availability.totalPrice }} 
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="availability.flights.length === 0" style="text-align: center; font-size: 30px; color: #888; padding-top:20px">
            No flights available
        </div>

        <div class="clear-2"></div>

        <div class="row">
            <div class="small-12 columns">
                <a class="button small-12" ng-click="availability.navigateToNext()" ng-disabled="!availability.enableProceed">Proceed
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>

    </div>
</div>