	<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tbody>
			<tr>
				<td width="34%" class="GridHeaderHighlight" align="left">
				<span id ="spnPic"></span>
				<span id="spnUN">
					&nbsp;
					<label id="lblWelcome"	class="fntWhite paddingL5">  </label> &nbsp;
					<label id="lblTxtName" class="fntBold fntWhite fontCapitalize">
					</label>
				</span>
				</td>				
				<td align="center" width="60%" class="logUserBG">
				<span id="lms"></span>
				</td>
				
				<td width="1%" class="logUserCorT"></td>
			</tr>
			<tr>
				<td colspan="4">
				<div style="display: none;" id="spnMemTab"> </div>
				<div id="spnMemTabN">
					<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tbody>
							<tr>
								<td  align="center" width="17%" id="tdReservationList" class="tabUnSltd cursorPointer">
									<label class="fntBold fntBlack" id="lblReservationList"></label>
								</td>
							    <td align="center">
									<img src="../images/n051_no_cache.jpg">
								</td>
								<td align="center" width="17%" id="tdReservationCredit" class="tabUnSltd cursorPointer">
									<label id="lblTabCredit" class="fntBold fntBlack"></label></td>
								<td align="center">
									<img src="../images/n051_no_cache.jpg" />
								</td>
								<td align="center" width="17%" id="tdTravelHistory" class="tabUnSltd cursorPointer">
									<label id="lblTabTravelHistory" class="fntBold fntBlack"></label></td>
								<td align="center">
									<img src="../images/n051_no_cache.jpg" />
								</td>
								<td align="center" width="17%" id="tdUpdateProfile" class="tabUnSltd cursorPointer">
									<label id="lblTabUpdateProfile" class="fntBold fntBlack"></label>
								</td>
								<td align="center">
									<img src="../images/n051_no_cache.jpg" />
								</td>
								<td align="center" width="16%" id="tdLms" class="tabUnSltd cursorPointer">
									<label id="lblTabLms" class="fntBold fntBlack">Airewards</label>
								</td>
								<td align="center" id="lmsSeperater">
									<img src="../images/n051_no_cache.jpg" />
								</td>
								<td align="center" width="16%" id="tdLogout" class="tabUnSltd cursorPointer">
									<label id="lblTabLogOut" class="fntBold fntBlack">  </label>
								</td>
								<td align="right" class="logUserCorB">
									&nbsp;							
								</td>
							</tr>
							<tr><td class="rowGap"></td></tr>
							<tr>
								<td colspan="12">
									<div id="lmsResend">
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</td>
			</tr>		
		</tbody>
	</table>	
