
.spinner-wrapper{
  position: relative;
  left: 50px;
  width: 100%;

  .isa-txt{
    width: 80%;
    position: absolute;
    input{
      border-right: none;

    }
  }

  .sp-btn-panel{
    position: relative;
    width: 25%;
    .isa-btn{
      display: block;
      width: 100%;
      height: 25px;
      cursor: pointer;
      position: absolute;
      left: 160%;
      text-align: center;
      border: #808080 1px solid;
      border-left: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &.isa-btn-inc{
        border-bottom: none;
      }
      &.isa-btn-dec{
        top:25px;
        border-top: none;
      }


    }

  }
}