.GridRow
{
	border-width:1px 1px 2px 1px; 
	height:18px;  
	border-style:solid; 
	}
.gridBody{
	background-color: #F4F4F4;
}	
.GridHDBorder
{
	border-color:white gray gray white; 
	}	
.GridItemRow
{
	border-width:1px;  
	height:18px; 
	border-style:solid; 
	border-color:white gray #D4D0C8 white;
	}
.GridHeaderBand
{
	border-bottom-width:thin;
	}
.GridBold
{
	font-weight:bolder;
	}
.GridHeader
{
	background-color:#D4D0C8;
	}
.GridHeadHover
{
	border-width:1px 1px 2px 1px; 
	height:18px;  
	border-style:solid;
	background-color:#ECEBE8;
	border-color:white gray #B5B5B5 white; 
	cursor:pointer;
	}		
	
.GridItem
{
	background-color:white;
	}	
.GridGroupRowBottom{
	height:18px; 
	border-bottom-width: 1;
	border-bottom-style: solid;
	border-bottom-color: #D4D0C8;
}	
.GridGroupRowTop{
	height:18px; 
	border-top-width: 1;
	border-top-style: solid;
	border-top-color: white;
}
.GridHDClicked
{
	border-width:1px 1px 2px 1px; 
	height:18px;  
	border-style:inset; 
	border-color:white gray white white; 
	}
.GridAlternateRow
{
	background-color:#F7F7F7;
	}
.GridItemHover
{
	background-color:#ECECEC;
	border-width:1px;  
	border-style:solid; 
	border-color:white gray #D4D0C8 white;
	cursor:pointer;
	}
.GridNoBorder
{
	font-family: Verdana;
	font-size: 10px;
	height: 10px;
	background-color: Transparent;
	border-color:Transparent;
	border-style:none;
	}	
.GridItemSelected
{
	border-width:1px 1px 2px 1px; 
	height:18px;  
	border-style:solid;
	background-color:#CFCFCF;
	border-color:white gray #B5B5B5 white; 
	cursor:pointer;
	}
.GridOutBorder
{
	BORDER-RIGHT: #EFEFEF 0px solid; 
	BORDER-TOP: #EFEFEF 0px solid; 
	BORDER-LEFT: #EFEFEF 0px solid; 
	BORDER-BOTTOM: #EFEFEF 1px solid;
	}
.defaultCursor{
	cursor: default;
}	
.gridItemLeftOnly{
	border-width:1px;  
	border-style:solid; 
	border-color:white gray #D4D0C8 white;
}
.cursorPointer{
	cursor: pointer;
}
.fontCapitalize{
	text-transform: capitalize;
}
.GridHDPrintBorder
{
	border-color: gray  white gray white; 
	}			
.GridItemPrintBorder
{
	border-color: white white white white; 
	}
.GridPrintHeader{
	background-color: white;
	
}

.GridHeader1
{

	background-color:#D4D0C8;
	
	background-image:url(BG1_no_cache.jpg);
	
	background-repeat:repeat-x;
	
}	
.GridHeader2
{
	background-color:#D4D0C8;
	
	background-image:url(BG2_no_cache.jpg);
	
	background-repeat:repeat-x;
	
}	


/* Custom colors for background */	

.bgRed{
	background-color:Red;
	}	
.bgGreen
{
	background-color:Green;
	}		
.bgBlue
{
	background-color:Blue;
	}			
.bgYellow
{
	background-color:Yellow;
	}				
.bgPink
{
	background-color:Pink;
	}


.bgOrange1
{
	background-color:#FDEADA;
	}	
.bgOrange2
{
	background-color:#FBD5B5;
	}	
.bgOrange3
{
	background-color:#FAC08F;
	}	
.bgLBlue1
{
	background-color:#DBEEF3;
	}
.bgLBlue2
{
	background-color:#B7DDE8;
	}
.bgLBlue3
{
	background-color:#92CDDC;
	}	
.bgPurp1
{
	background-color:#E5E0EC;
	}	
.bgPurp2
{
	background-color:#CCC1D9;
	}	
.bgPurp3
{
	background-color:#B2A2C7;
	}			
.bgGreen1
{
	background-color:#EBF1DD;
	}	
.bgGreen2
{
	background-color:#D7E3BC;
	}	
.bgGreen3
{
	background-color:#C3D69B;
	}		

.bgPink2
{
	background-color:#E5B9B7;
	}	
.bgPink3
{
	background-color:#D99694;
	}		
.bgBrown1
{
	background-color:#DDD9C3;
	}	
.bgBrown2
{
	background-color:#C4BD97;
	}	
.bgBrown3
{
	background-color:#938953;
	}			
.gridBand
{
	background-color:#B5AD9F;
	}
/* -- Added for the Crew */
.toolTipColor
{
	background-color:#FBFFE0;
	}	
.gridThin
{
	border-width : 1px;
    border-style : solid;
    border-color : #808080;
}

.gridThinLeft
{
	border-left-width : 1px;
    border-left-style : solid;
    border-left-color : #808080;
	border-top-width : 1px;
    border-top-style : solid;
    border-top-color : #808080;
    border-bottom-width : 1px;
    border-bottom-style : solid;
    border-bottom-color : #808080;
    /*
    border-right-width : 1px;
    border-right-style : solid;
    border-right-color : red;
	*/
}	
.gridThinRight
{
	/*
	border-left-width : 1px;
    border-left-style : solid;
    border-left-color : red;
	*/
	border-top-width : 1px;
    border-top-style : ridge;
    border-top-color : #808080;
    border-bottom-width : 1px;
    border-bottom-style : solid;
    border-bottom-color : #808080;
    border-right-width : 1px;
    border-right-style : solid;
    border-right-color : #808080;
}
.GridItemRowRed
{
	border-width:1px;  
	height:18px; 
	border-style:solid; 
	border-color:red;
}
.GridItemHoverRed
{
	background-color:#ECECEC;
	border-width:1px;  
	border-style:solid; 
	border-color:red;
	cursor:pointer;
}

