<div ng-if="isVisible" style="" class="dropdown-content meals-qty-dropdown">
    <ul ng-class="{'activeScroll':  spinnerSource.length > 4 }">
        <li class="pd-rt-0" ng-repeat="(key,value) in spinnerSource">
            <span class="check checkbox-circle">
                <input type="checkbox" checked id="qty_id_{{$index}}" name="" ng-if="!isMobileDevice" />
                <label class="text-left" for="qty_id_{{$index}}">{{value.displayName}}</label>
            </span>
            <form>
                <a ng-click="onDecriment($event, key, meal)" href="" class="add"><i class="fa fa-minus-circle"></i></a>
                <input  ng-if="!mDevice"  ng-keyup="onKeyInput($event)" data-meal-key="{{key}}" type="text" ng-model="currentItemSelection[$index].count">
                <input  ng-if="mDevice"  data-meal-key="{{key}}" type="text" ng-model="currentItemSelection[$index].count">
                <a ng-click="onIncriment($event, key, meal)" href="" class="add"><i class="fa fa-plus-circle"></i></a>
            </form>
        </li>
         <div ng-if="mDevice" class="col-xs-12 pd-l-6 pd-r-1 pd-tp-2">
            <button  class="button red-btn xs-meal-btn pull-right" translate="lbl_common_done" type="button"  ng-click="onDoneClick($event,index,false)">Done
         </button>
    </ul>
</div>