<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>	
	<style type="text/css">
		html, body {height:100%; margin:0; padding:0;}		
	</style>
</head>
		<body>
		<table id="page-background" width="480" height="500" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td colspan="3">
					<img src="$ibeURL/images/OOps_01.jpg" width="480" height="181" alt=""/></td>
			</tr>
			<tr>
				<td style="background:#0033a0 url($ibeURL/images/OOps_04.jpg) repeat-y scroll 0 0" background="#0033a0">
					<img src="$ibeURL/images/OOps_04.jpg" width="2" height="auto" alt=""/></td>
				<td style="padding:5px;">
					<p style="margin:0px; padding:0px;">
						$label.dear $customerName,
						<br/><br/>
						$label.before_display_time_hours $displayReleaseTime $label.after_display_time_hours
						<br/><br/>
						$label.still_pay
						<ul>
							<li>$label.before_url <a href="http://jcairlines.com/">$label.here</a> $label.after_url</li>
							<li>$label.before_call_center_url  <a href="http://jcairlines.com/index.php/contacts">$label.after_call_center_url </a></li>
							<li>$label.before_sales_shop_url   <a href="http://jcairlines.com/index.php/contacts">$label.after_sales_shop_url</a> $label.or <a href="http://jcairlines.com/index.php/contacts">$label.cash_collection_partners</a></li>
						</ul>
						
						$label.before_reservation_number<b>$pnr</b>
						<br/>
						$label.before_release_time <b>$releaseTime $label.after_release_time</b>
						<br/><br/>
						$label.best_regards<br/>
						JC International Airlines
					</p>
				</td>
				<td style="background:#0033a0 url($ibeURL/images/OOps_04.jpg) repeat-y scroll 0 0" background="#0033a0">
					<img src="$ibeURL/images/OOps_04.jpg" width="2" height="auto" alt=""/></td>
			</tr>
			<tr>
				<td colspan="3">
					<img src="$ibeURL/images/OOps_05.jpg" width="480" height="120" alt=""/></td>
				</tr>
		</table>
		</body>
</html>
		