<!-- Page Wrapper -->
<div class="content-wrapper payment-confirmation error-container" ng-controller="errorPageController as errorPage">
    <section class="content-header">

        <!-- Page Title -->
        <h1 class="page-title col-xs-12">
            <span>Error Page</span>
        </h1><!-- // Page Title -->

        <span >
            <i class="fa fa-exclamation-triangle" style="color: red;font-size: 16px"></i>
            <label>{{errorPage.errorMessage}}</label>
        </span>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="col-btn-search" style="margin: 0 auto;width:200px;">
                    <div ng-click="errorPage.startOver()" id="btn-proceed-to-passenger"
                         class="btn red-btn btn-sm col-sm-4 ng-scope"
                         translate="btn_common_startOver">Start Over</div>
                </div>
            </div>
        </div>
    </section><!-- // Content header -->
</div>