<div class="" style="position: relative">
    <div class="">
        <div>
            <!--Summary drawer for payment-->
            <div class="summary-drawer" style="position:relative; z-index: 0">
                <div class="drawer-desc" style="box-shadow: none; background: white; border:none;padding-top: 0">
                    <div class="pd-r-0 flight-info-scroll payment-flight-scroll">

                        <div class="clearfix flight-info-block-container">
                            <div class="flights-info-block" id="xs-paysum_mod-flights-info-block">
                                <div ng-repeat="group in paymentCtrl.groupWiseSegment"
                                     class="sector-details"
                                     ng-show="group.status !== 'CNX'">

                                    <div ng-repeat="segment in group.segments" class="sector-flight-info">
                                        <div class="flight-block" >
                                            <div class="div-plain-icon col-md-2 col-sm-2 col-xs-2" >
                                                <span ng-show="{{main.getFlightDirection(segment.flight.originCode, segment.flight.destinationCode,true) === 'outbound'}}" class="icon-outbound-plane-small">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                </span>
                                                <span ng-show="{{main.getFlightDirection(segment.flight.originCode, segment.flight.destinationCode,true) === 'inbound'}}" class="icon-inbound-plane-small">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                </span>
                                            </div>

                                            <div class="div-info col-md-10 col-sm-10 col-xs-8" >
                                                <h4>
                                                    <label>{{segment.flight.originName}}</label>
                                                    <span translate="msg_common_to">to</span>
                                                    <label>{{segment.flight.destinationName}}</label>
                                                </h4>

                                                <div class="flight-no hidden-xs">
                                                    <span class="fligh-no">
                                                        <label><i>{{segment.flight.flightNumber}}</i></label>
                                                    </span>
                                                </div>
                                                <div class="flight-time">
                                                    <span class="departure-arrival">
                                                        <label class="departure-payment-segment">
                                                            <i ng-class="{'canceled-segment':flightDrawer.selectedIndexStatus[segmentIndex]}" class="i departure-label" translate="lbl_common_departure">Departure</i>
                                                            <i class="departure-val direction-ltr">{{segment.flight.departureDate | convertFlightDateFilter}} {{segment.flight.departureTime}}</i>
                                                        </label>
                                                        <label class="arrival-payment-segment">
                                                            <i ng-class="{'canceled-segment':flightDrawer.selectedIndexStatus[segmentIndex]}" class="i arrival-label" translate="lbl_common_arrival">Arrival</i>
                                                            <i class="arrival-val direction-ltr">{{segment.flight.arrivalDate | convertFlightDateFilter}} {{segment.flight.arrivalTime}}</i>
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flight-no pull-right hidden-sm hidden-md hidden-lg col-xs-2">
                                                <span class="fligh-no">
                                                    <label><i>{{segment.flight.flightNumber}}</i></label>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="price-info-block xs-priceinfo-modify">
                                <div class="hidden-sm hidden-md hidden-lg section-line" ><hr></div>
                                
                                <h2 class="price-breakdown-lbl">
                                    <span translate="title_summary_drawer">Price Breakdown for</span>
                                    <span ng-repeat="pax in paymentCtrl.paxSummary">
                                        <span>{{pax.count}}
                                                <span ng-if="pax.type == 'AD'" translate="lbl_common_adult">Adult</span>
                                                <span ng-if="pax.type == 'CH'" translate="lbl_common_child">Child</span>
                                                <span ng-if="pax.type == 'IN'" translate="lbl_common_infant">Infant</span>
                                        </span>
                                    </span>
                                </h2>
                                
                                <!-- Passenger charge breakdown -->
                                <div class="clearfix row" ng-repeat="pax in paymentCtrl.paxSummary">
                                    <span class="col-xs-7 col-sm-7">{{pax.count}} x
                                        <span ng-if="pax.type == 'AD'" translate="lbl_common_adult">Adult</span>
                                        <span ng-if="pax.type == 'CH'" translate="lbl_common_child">Child</span>
                                        <span ng-if="pax.type == 'IN'" translate="lbl_common_infant">Infant</span>

                                    </span>
                                    <span class="">
                                        <span class="col-xs-2 col-sm-2 currency-text currency" style="float: left;"></span>
                                        <span class="col-xs-3 col-sm-3 numeric-amount" 
                                        isa-connector={{pax.totalCharge}} with-decimal="true"></span>
                                    </span>
                                </div>

                                <div class="clearfix row">
                                    <span class="col-xs-7 col-sm-7" translate="lbl_modify_airportTaxAndSurcharges">Airport Taxes and Surcharges</span>
                                    <span class="">
                                        <span class="currency-text currency col-xs-2 col-sm-2" style="float: left;"></span>
                                        <span class="col-xs-3 col-sm-3 numeric-amount"
                                         isa-connector={{paymentCtrl.modifyCharges.taxSurcharge}} with-decimal="true"></span>
                                    </span>
                                </div><!-- // Passenger charge breakdown -->

                                <hr class="divider hidden-xs"/>
                                <div class="hidden-sm hidden-md hidden-lg section-line" ><hr></div>

                                <!--Price breakdown-->
                                <div class="clearfix row">
                                   <span class="col-xs-7 col-sm-7" translate="lbl_modify_totalNewSelect">Total New Selection</span>

                                    <span class="">
                                        <span class="currency-text currency col-xs-2 col-sm-2" style="float: left;"></span>
                                        <span class="col-xs-3 col-sm-3 numeric-amount" 
                                        isa-connector={{paymentCtrl.modifyCharges.postCharge}} with-decimal="true"></span>
                                    </span>
                                </div>

                                <div class="clearfix row">
                                      <span class="col-xs-7 col-sm-7" translate="lbl_modify_previousPayment">Previous payment</span>
                                    <span class="currency-text currency col-xs-2 col-sm-2" style="float: left;"></span>
                                    <span class="col-xs-3 col-sm-3 numeric-amount">
                                        -
                                        <span isa-connector={{paymentCtrl.modifyCharges.previousCharge}} with-decimal="true"></span>
                                    </span>
                                </div>

                                <div class="clearfix row">
                                    <span class="col-xs-7 col-sm-7" translate="lbl_modify_nonRefundableAmount">Non refundable amount</span>
                                    <span class="">
                                        <span class="currency-text currency col-xs-2 col-sm-2" style="float: left;"></span>
                                        <span class="col-xs-3 col-sm-3 numeric-amount" 
                                        isa-connector={{paymentCtrl.modifyCharges.nonRefundable}} with-decimal="true"></span>
                                    </span>
                                </div>

                                <div class="clearfix row" ng-repeat="(key, charge) in paymentCtrl.modifyCharges.chargeInfo" ng-if="charge">
                                    <span class="col-xs-7 col-sm-7" translate="lbl_modify_modificationCharge" ng-if="key == 'modificationCharge'">Modification charge </span>
                                    <span class="col-xs-7 col-sm-7" ng-if="key == 'cancellationCharge'">Cancellation Charge </span>
                                    <span class="col-xs-7 col-sm-7" ng-if="key == 'penaltyCharge'">Penalty charge </span>

                                    <span class="">
                                        <span class="currency-text currency col-xs-2 col-sm-2" style="float: left;"></span>
                                        <span class="col-xs-3 col-sm-3 numeric-amount" 
                                        isa-connector={{charge}} with-decimal="true"></span>
                                    </span>
                                </div><!--// Price breakdown-->
                                <div class="clearfix row">
                                    <span class="col-xs-7 col-sm-7" translate="lbl_summary_administrationFee">Administration Fee</span>
                                    <span class="">
                                        <span class="currency-text currency col-xs-2 col-sm-2" style="float: left;"></span>
                                        <span class=" col-xs-3 col-sm-3 numeric-amount before-fare font-weight-normal currency-value fare-value price ng-isolate-scope" ></span>
                                        <span class="col-xs-3 col-sm-3 numeric-amount after-fare font-weight-normal currency-value fare-value price ng-isolate-scope" isa-connector="{{paymentCtrl.transactionFee}}" decimal-points="2" with-decimal="true"></span>
                                    </span>
                                </div>
                                <hr class="divider hidden-xs">
                                <div class="hidden-sm hidden-md hidden-lg section-line" ><hr></div>

                                <div class="total-credit">

                                    <div class="clearfix row" ng-if="paymentCtrl.modifyCharges.credit">
                                        <span class="col-xs-7 col-sm-7" translate="drawer_remaining_credits">Remaining Credit</span>
                                        <span class="">
                                            <span class="currency-text currency col-xs-2 col-sm-2" style="float: left;" ></span>
                                            <span class="col-xs-3 col-sm-3 numeric-amount" 
                                            isa-connector={{paymentCtrl.modifyCharges.credit}} with-decimal="true"></span>
                                        </span>
                                    </div>

                                    <div class="clearfix row" ng-if="paymentCtrl.modifyCharges.total">
                                        <span class="col-xs-7 col-sm-7" translate="lbl_payment_totalAmount">Total Due Amount</span>
                                        <span class="">
                                            <span class="currency-text currency col-xs-2 col-sm-2" style="float: left;"></span>
                                            <span class="col-xs-3 col-sm-3 numeric-amount" 
                                            isa-connector={{paymentCtrl.modifyCharges.totalAllInclusive}} decimal-points="2" with-decimal="true"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--//Summary drawer for payment-->

            <div class="summary-flight-info ng-scope" ng-repeat="change in paymentCtrl.fareDisplay.chargeListToDisplay" ng-if="change.enableDisplay">
                <div class="clearfix">
                    <span class="ng-binding">{{change.displayDescription}}</span>
                    <span class="pull-right charge-container">
                        <span class="before-fare font-weight-normal currency-value fare-value price ng-isolate-scope" isa-connector="{{change.displayOldCharge}}" decimal-points="2" with-decimal="true"></span>
                        <span class="after-fare font-weight-normal currency-value fare-value price ng-isolate-scope" isa-connector="{{change.displayNewCharge}}" decimal-points="2" with-decimal="true"></span>
                    </span>
                </div>
            </div>
            

            <!--//Charge details-->
            <div class="clearfix" ng-show="paymentCtrl.quoteDetails.reservationChargeDetails.length > 0"></div>
            <div class="reservation-details-payment-summary"
                 ng-show="paymentCtrl.quoteDetails.reservationChargeDetails.length > 0"
                 ng-if="paymentCtrl.isValidCareerFor('WAN')">
                <h2 translate="lbl_payment_chargeDetailHeading">Reservation Charge Details</h2>

                <div class="description">
                    <span class="detail-toggle">
                        <a ng-click="paymentCtrl.showChargeDescription = true"
                           ng-show="!paymentCtrl.showChargeDescription"
                           translate="lbl_payment_showDetails">Show Details
                        </a>
                        <a ng-click="paymentCtrl.showChargeDescription = false"
                           ng-show="paymentCtrl.showChargeDescription"
                           translate="lbl_payment_hideDetails">Hide Details
                        </a>
                    </span>
                </div>

                <table class="table table-striped" ng-show="paymentCtrl.showChargeDescription">
                    <thead>
                        <tr>
                            <th translate="lbl_payment_chargeDescription">Charge Description</th>
                            <th translate="lbl_payment_chargeGroup">Charge Group</th>
                            <th class="text-right" translate="lbl_payment_chargeAmount">Charge Amount</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="charge in paymentCtrl.quoteDetails.reservationChargeDetails">
                            <td>{{charge.description}}</td>
                            <td>{{charge.chargeGroup}}</td>
                            <td class="text-right">
                                <span class="currency-text currency"></span>
                                <span isa-connector="{{charge.chargeAmount}}" 
                                decimal-points="2" with-decimal="true"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!--//Charge details-->


        </div>
    </div>
</div>
