<div class="fare-table">
    <div class="summary-drawer fare-timeline-drawer">
        <div class="drawer-desc fly-in-group ng-cloak">
            <div class="container pd-0">
                <div class="flight-info-scroll flight-log" style="width:100%">
                    <div class="flights-info-block" id="xs-balpay-flightsinfo-block">
                        <!--{{paymentCtrl.sectorsData}}-->
                        <div class="sector-details" data-ng-repeat="sectorsData in paymentCtrl.sectorsData" >
                           <div class="sector-flight-info">
                               <div class="flight-block" >
                                   <div class="div-info col-md-12 col-sm-10 col-xs-8" ng-repeat="seg in sectorsData.segments" style="margin-bottom: 15px;">
                                         <div class="div-plain-icon col-md-2 col-sm-2 col-xs-2" >
                                            <span class="icon-outbound-plane-small">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </span>
                                        </div>
                                        <div class="col-md-10 col-sm-2 col-xs-2" >                                    
                                            <h4 >
                                                <label>{{seg.flight.originName}}</label>
                                                <span translate="msg_common_to">to</span>
                                                <label>{{seg.flight.destinationName}}</label>
                                                <!--<label class="fare-type">({{seg.fare.fareType}})</label>-->
                                            </h4>
                                            <div class="flight-no hidden-xs">
                                                 <span class="fligh-no">
                                                      <label><i>{{seg.flight.flightNumber}}</i></label>
                                                 </span>
                                            </div>
                                            <div class="flight-time">
                                                            <span class="departure-arrival">
                                                                <label><i class="i" translate="lbl_common_departure">Departure</i> <i>{{seg.flight.departureDateObj | date: 'yyyy-MM-dd HH:mm'}} </i></label>
    
                                                                <label><i class="i" translate="lbl_common_arrival">Arrival</i> <i>{{seg.flight.arrivalDateObj | date: 'yyyy-MM-dd HH:mm'}}</i></label>
                                                            </span>
    
                                            </div>
                                        </div>
                                        <br/>
                                   </div>
                                    <div class="flight-no hidden-sm hidden-md hidden-lg col-xs-2" ng-repeat="seg in sectorsData.segments">
                                        <span class="fligh-no">
                                             <label><i>{{seg.flight.flightNumber}}</i></label>
                                        </span>
                                   </div>
                               </div>
                           </div>
                            <!-- // Flight Sum Block -->

                        </div>
                    </div>

                    <div class="price-info-block">
                        <div class="summary-flight-info" ng-repeat="change in paymentCtrl.fareDisplay.chargeBreakdown">
                            <div class="clearfix row" ng-class="{'sub-total':change.type=='Balance To Pay'}" ng-if="change!=undefined && change.amount!=0">
                                <span class="ng-binding col-xs-7">{{change.type}}</span>
                                <span class="in-detail">
                                    <span class="currency-text currency col-xs-2">AED</span>
                                    <span class="col-xs-3 text-right after-fare font-weight-normal currency-value fare-value price" 
                                    decimal-points="2" 
                                    with-decimal="true">{{change.amount}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>