<div class="fare-table xssm-faretable">
    <!-- Fare Block -->
    <div class="fare-block" style="border-bottom:0 ">
        <!-- Left Content -->
        
            <div class="left-content col-xs-12 pd-r-0">
                <div class="row xs-reservsummery-margin">
                        <div class="col-xs-8 col-sm-9 col-md-9 pd-0" >
                            <h2 class="pull-left payment-h2" translate="lbl_payment_reservation_information" ng-class="{'total-info-width': paymentCtrl.isThreeTwentyDevice}">Reservation Information</h2>
                        </div>
                        <div class="col-xs-4 pd-0 ma-tp-4">
                            <div class="description text-right">
                                <span ng-class="{hide: paymentCtrl.showFlightDetails,'pull-right':deviceType.isMobileDevice}" class="detail-toggle xs-details">
                                    <a class="truncate" style="text-decoration: underline;" ng-click="paymentCtrl.setShowFlightDetails(true)" translate="lbl_payment_showDetails">Show Details <i class="fa fa-angle-down" ></i></a>
                                </span>
                                <span ng-class="{'hide': !paymentCtrl.showFlightDetails, 'pull-right':deviceType.isMobileDevice}" class="detail-toggle xs-details">
                                    <a class="truncate" style="text-decoration: underline;" ng-click="paymentCtrl.setShowFlightDetails(false)" translate="lbl_payment_hideDetails">Hide Details <i class="fa fa-angle-up"></i></a>
                                </span>
                            </div>
                        </div>
               </div>
        </div><!-- // Left Content -->

        <!-- Right Content -->
        <div class="clearfix sub-total payment-currency-info" id="payment H2" ng-class="{hide: paymentCtrl.showFlightDetails}">
            <h2 class="text-left ng-scope"id="lPayment" translate="lbl_payment_fareServices" ng-class="{'pull-right':!deviceType.isMobileDevice, 'pull-left':deviceType.isMobileDevice}">Total all inclusive</h2>
            <h2 class="pull-right in-detail tax-detail text-right" id="totalPricePayment">
                <span class="currency-text currency font-weight-bold" style="float:left;"></span>
                <span class="font-weight-bold numeric-amount" isa-connector="{{ paymentCtrl.quoteDetails.totalAllInclusive}}" decimal-points="2" style="font-size: 18px" with-decimal="true"></span>
            </h2>
            <div class="hidden-sm hidden-md hidden-lg section-line xs-section-line" ><hr></div>
        </div><!-- // Right Content -->
    </div><!-- // Fare Block -->

    <div class="summary-drawer fare-timeline-drawer" ng-hide="!paymentCtrl.showFlightDetails">
        <div class="hidden-sm hidden-md hidden-lg section-line" ><hr></div>
        <div class="drawer-desc fly-in-group ng-cloak payment-summary-block" ng-if="main.quoteDetails">
            <div class="container pd-0">

                <div class="flight-info-scroll flight-log" id="pay-summary-flightinfoscroll">
                    <div class="paymnet-flights-info-block flights-info-block flights-info-block-payment-summary pd-rt-0">
                        <div class="sector-details" ng-class="{'ma-tp-6': $index == 0, 'ma-tp-4': $index > 0 }" data-ng-repeat="sectorsData in main.quoteDetails.sectorsData track by $index" >
                            <div class="sector-flight-info">
                                <div class="flight-block" >
                                    <div class="div-plain-icon col-md-2 col-sm-2 hidden-xs" >
                                        <span ng-show="{{main.getFlightDirection(sectorsData.selectedFlight.flight.originCode, sectorsData.selectedFlight.flight.destinationCode) == 'outbound'}}" class="icon-outbound-plane-small">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </span>
                                        <span ng-show="{{main.getFlightDirection(sectorsData.selectedFlight.flight.originCode, sectorsData.selectedFlight.flight.destinationCode) == 'inbound'}}" class="icon-inbound-plane-small">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </span>
                                    </div>
                                    <div class="div-plain-icon hidden-md hidden-sm hidden-lg col-xs-1" >
                                        <span ng-show="{{main.getFlightDirection(sectorsData.selectedFlight.flight.originCode, sectorsData.selectedFlight.flight.destinationCode) == 'outbound'}}" class="icon-outbound-plane-small">
                                            <span class="path1 small-plain"></span>
                                            <span class="path2 small-plain"></span>
                                        </span>
                                        <span ng-show="{{main.getFlightDirection(sectorsData.selectedFlight.flight.originCode, sectorsData.selectedFlight.flight.destinationCode) == 'inbound'}}" class="icon-inbound-plane-small">
                                            <span class="path1 small-plain"></span>
                                            <span class="path2 small-plain"></span>
                                        </span>
                                    </div>
                                    <div class="div-info col-md-10 col-sm-10 col-xs-8" >
                                        <h4>
                                            <label class="segment-titles-text">{{sectorsData.selectedFlight.flight.originName}}</label>
                                            <span translate="msg_common_to">to</span>
                                            <label class="segment-titles-text">{{sectorsData.selectedFlight.flight.destinationName}}</label>
                                            <label class="fare-type">({{sectorsData.selectedFlight.fare.fareType}})</label>
                                        </h4>
                                        <div class="flight-no payment-flight-no hidden-xs">
                                            <span class="fligh-no">
                                                <label><i>{{sectorsData.selectedFlight.flight.flightNumber}}</i></label>
                                            </span>
                                        </div>
                                        <div class="flight-time hidden-xs">
                                            <span class="departure-arrival">
                                                <label><i class="i" translate="lbl_common_departure">Departure</i> <i>{{sectorsData.selectedFlight.flight.departureDateTime| convertFlightDateTimeFilter}} </i></label>
                                                <label><i class="i" translate="lbl_common_arrival">Arrival</i> <i>{{sectorsData.selectedFlight.flight.arrivalDateTime| convertFlightDateTimeFilter}}</i></label>
                                            </span>
                                        </div>
                                        <div class="flight-time mobile-flight-time hidden-sm hidden-md hidden-lg">
                                            <span class="departure-arrival">
                                                <label><i class="i" translate="lbl_common_departure">Departure</i> <i>{{sectorsData.selectedFlight.flight.departureDateTime| convertFlightDateTimeFilter}} </i></label>
                                                <label><i class="i" translate="lbl_common_arrival">Arrival</i> <i>{{sectorsData.selectedFlight.flight.arrivalDateTime| convertFlightDateTimeFilter}}</i></label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="pull-right flight-no hidden-sm hidden-md hidden-lg col-xs-1 pd-l-0  mr-rt-10">
                                        <span class="fligh-no">
                                            <label class="pull-right"><i style="font-size: 11px">{{sectorsData.selectedFlight.flight.flightNumber}}</i></label>  
                                        </span>
                                    </div>
                                </div>
                                <div class="flight-block" ng-if="sectorsData.selectedFlight.flight.stops"  data-ng-repeat="stopsData in sectorsData.selectedFlight.flight.stops">
                                    <div class="div-plain-icon col-md-2 col-sm-2 col-xs-1" ></div>

                                    <div class="div-info col-md-10 col-sm-10 col-xs-9" >
                                        <div class="flight-no payment-flight-no hidden-xs">
                                            <span class="fligh-no">
                                                <label> <i>{{stopsData.flightNumber}}</i></label>
                                            </span>
                                        </div>
                                        <div class="flight-time">
                                            <span class="departure-arrival">
                                                <label><i class="i" translate="lbl_common_departure">Departure</i> <i>{{stopsData.departureDateTime| convertFlightDateTimeFilter}} </i></label>
                                                <label><i class="i" translate="lbl_common_arrival">Arrival</i> <i>{{stopsData.arrivalDateTime| convertFlightDateTimeFilter}}</i></label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="pull-right flight-no hidden-sm hidden-md hidden-lg col-xs-1 pd-l-0 mr-rt-10">
                                        <span class="fligh-no">
                                            <label class="pull-right"><i style="font-size: 11px">{{stopsData.flightNumber}}</i></label>  
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- // Flight Sum Block -->

                        </div>
                    </div>
                    <div class="paymnet-price-info-block price-info-block xs-paymnet-price-info-block">
                        <isa-busy-loader ng-show="paymentCtrl.loadingPaymentSummary"></isa-busy-loader>
                        <div class="hidden-sm hidden-md hidden-lg section-line" ><hr></div>
                        <h2 class="col-xs-12 text-left pad-l-0 pad-r-0 pding-l-none">
                            <span class="xs-ttlsum-pricebreak" translate="title_summary_drawer">Price Breakdown for </span>
                            <span ng-if="main.quoteDetails.pax.adult != 0" >
                                <span class="xs-ttlsum-pricebreak" ng-show="main.quoteDetails.pax.adult == 1" translate="lbl_common_adultWithValue" translate-values="{a: '{{main.quoteDetails.pax.adult}}'}">{{main.quoteDetails.pax.adult}} Adult</span>
                                <span class="xs-ttlsum-pricebreak" ng-hide="main.quoteDetails.pax.adult == 1" translate="lbl_common_a_adults" translate-values="{a: '{{main.quoteDetails.pax.adult}}'}">{{main.quoteDetails.pax.adult}} Adults</span>
                            </span>
                            <span ng-if="main.quoteDetails.pax.child != 0" >
                                <span class="xs-ttlsum-pricebreak" ng-show="main.quoteDetails.pax.child == 1" translate="lbl_common_childWithValue" translate-values="{a: '{{main.quoteDetails.pax.child}}'}">, {{main.quoteDetails.pax.child}} Child </span>
                                <span class="xs-ttlsum-pricebreak" ng-hide="main.quoteDetails.pax.child == 1" translate="lbl_common_a_children" translate-values="{a: '{{main.quoteDetails.pax.child}}'}">, {{main.quoteDetails.pax.child}} Children </span>
                            </span>
                            <span ng-if="main.quoteDetails.pax.infant != 0" >
                                <span class="xs-ttlsum-pricebreak" ng-show="main.quoteDetails.pax.infant == 1" translate="lbl_common_infantWithValue" translate-values="{a: '{{main.quoteDetails.pax.infant}}'}">, {{main.quoteDetails.pax.infant}} Infant</span>
                                <span class="xs-ttlsum-pricebreak" ng-hide="main.quoteDetails.pax.infant == 1" translate="lbl_common_a_infants" translate-values="{a: '{{main.quoteDetails.pax.infant}}'}">, {{main.quoteDetails.pax.infant}} Infants</span>
                            </span>
                        </h2>

                        <div class="clearfix sm-paxWiseTotalFare" ng-repeat="item in paymentCtrl.quoteDetails.paxWiseTotalFare">
                            <div class="col-md-7 col-sm-6 col-xs-6 pd-0" ng-if="item.paxType === 'AD' && item.noOfPax != 0 && item.noOfPax == 1 && (paymentCtrl.isValidCareerFor('ARM') || paymentCtrl.isValidCareerFor('MHA') || paymentCtrl.isValidCareerFor('JCA') || paymentCtrl.isValidCareerFor('WAN') || paymentCtrl.isValidCareerFor('SAW'))" >
                                <span ng-if="item.noOfPax != 0">{{item.noOfPax}} X </span>
                                <span translate="lbl_fareQuote_adult">Adult</span>
                                <span ng-if="paymentCtrl.adultNames.length > 0" class="pax-name hidden-xs hidden-sm">&#40;{{paymentCtrl.adultNames}}&#41;</span>
                            </div>
                            <div class="col-md-7 col-sm-6 col-xs-6 pd-0" ng-if="item.paxType === 'CH' && item.noOfPax != 0 && item.noOfPax == 1 && (paymentCtrl.isValidCareerFor('ARM') || paymentCtrl.isValidCareerFor('MHA') || paymentCtrl.isValidCareerFor('JCA') || paymentCtrl.isValidCareerFor('WAN') || paymentCtrl.isValidCareerFor('SAW'))" >
                                <span ng-if="item.noOfPax != 0">{{item.noOfPax}} X </span>
                                <span translate="lbl_fareQuote_child">Child</span>
                                <span ng-if="paymentCtrl.childNames.length > 0" class="pax-name hidden-xs hidden-sm">&#40;{{paymentCtrl.childNames}}&#41;</span>
                            </div>
                            <div class="col-md-7 col-sm-6 col-xs-6 pd-0" ng-if="item.paxType === 'IN' && item.noOfPax != 0 && item.noOfPax == 1 && (paymentCtrl.isValidCareerFor('ARM') || paymentCtrl.isValidCareerFor('MHA') || paymentCtrl.isValidCareerFor('JCA') || paymentCtrl.isValidCareerFor('WAN') || paymentCtrl.isValidCareerFor('SAW'))" >
                                <span ng-if="item.noOfPax != 0">{{item.noOfPax}} X </span>
                                <span translate="lbl_fareQuote_infant">Infant</span>
                                <span ng-if="paymentCtrl.infantNames.length > 0" class="pax-name hidden-xs hidden-sm">&#40;{{paymentCtrl.infantNames}}&#41;</span>
                            </div>
                            <div class="col-md-7 col-sm-6 col-xs-6 pd-0" ng-if="item.paxType === 'AD' && item.noOfPax != 0 && item.noOfPax != 1 && (paymentCtrl.isValidCareerFor('ARM') || paymentCtrl.isValidCareerFor('MHA') || paymentCtrl.isValidCareerFor('JCA') || paymentCtrl.isValidCareerFor('WAN') || paymentCtrl.isValidCareerFor('SAW'))" >
                                <span ng-if="item.noOfPax != 0">{{item.noOfPax}} X </span>
                                <span translate="lbl_fareQuote_adults">Adults</span>
                                <span ng-if="paymentCtrl.adultNames.length > 0" class="pax-name hidden-xs hidden-sm">&#40;{{paymentCtrl.adultNames}}&#41;</span>
                            </div>
                            <div class="col-md-7 col-sm-6 col-xs-6 pd-0" ng-if="item.paxType === 'CH' && item.noOfPax != 0 && item.noOfPax != 1 && (paymentCtrl.isValidCareerFor('ARM') || paymentCtrl.isValidCareerFor('MHA') || paymentCtrl.isValidCareerFor('JCA') || paymentCtrl.isValidCareerFor('WAN') || paymentCtrl.isValidCareerFor('SAW'))" >
                                <span ng-if="item.noOfPax != 0">{{item.noOfPax}} X </span>
                                <span translate="lbl_fareQuote_children">Children</span>
                                <span ng-if="paymentCtrl.childNames.length > 0" class="pax-name hidden-xs">&#40;{{paymentCtrl.childNames}}&#41;</span>
                            </div>
                            <div class="col-md-7  col-sm-6 col-xs-6 pd-0" ng-if="item.paxType === 'IN' && item.noOfPax != 0 && item.noOfPax != 1 && (paymentCtrl.isValidCareerFor('ARM') || paymentCtrl.isValidCareerFor('MHA') || paymentCtrl.isValidCareerFor('JCA') || paymentCtrl.isValidCareerFor('WAN') || paymentCtrl.isValidCareerFor('SAW'))" >
                                <span ng-if="item.noOfPax != 0">{{item.noOfPax}} X </span>
                                <span translate="lbl_fareQuote_infants">Infants</span>
                                <span ng-if="paymentCtrl.infantNames.length > 0" class="pax-name hidden-xs hidden-sm">&#40;{{paymentCtrl.infantNames}}&#41;</span>
                            </div>

                            <div class="col-md-4 col-xs-4 pd-0" ng-if="item.paxType === 'AD' && item.noOfPax != 0 && item.noOfPax == 1 && paymentCtrl.isValidCareerFor('AAA')">
                                <span ng-if="item.noOfPax != 0">{{item.noOfPax}} X </span>
                                <span  translate="lbl_fareQuote_adult">Adult</span>
                            </div>
                            <div class="col-md-4 col-xs-4 pd-0" ng-if="item.paxType === 'CH' && item.noOfPax != 0 && item.noOfPax == 1 && paymentCtrl.isValidCareerFor('AAA')">
                                <span ng-if="item.noOfPax != 0">{{item.noOfPax}} X </span>
                                <span  translate="lbl_fareQuote_child">Child</span>
                            </div>
                            <div class="col-md-4 col-xs-4 pd-0" ng-if="item.paxType === 'IN' && item.noOfPax != 0 && item.noOfPax == 1 && paymentCtrl.isValidCareerFor('AAA')">
                                <span ng-if="item.noOfPax != 0">{{item.noOfPax}} X </span>
                                <span  translate="lbl_fareQuote_infant">Infant</span>
                            </div>
                            <div class="col-md-4 col-xs-4 pd-0" ng-if="item.paxType === 'AD' && item.noOfPax != 0 && item.noOfPax != 1 && paymentCtrl.isValidCareerFor('AAA')">
                                <span ng-if="item.noOfPax != 0">{{item.noOfPax}} X </span>
                                <span  translate="lbl_fareQuote_adults">Adults</span>
                            </div>
                            <div class="col-md-4 col-xs-4 pd-0" ng-if="item.paxType === 'CH' && item.noOfPax != 0 && item.noOfPax != 1 && paymentCtrl.isValidCareerFor('AAA')">
                                <span ng-if="item.noOfPax != 0">{{item.noOfPax}} X </span>
                                <span  translate="lbl_fareQuote_children">Children</span>
                            </div>
                            <div class="col-md-4 col-xs-4 pd-0" ng-if="item.paxType === 'IN' && item.noOfPax != 0 && item.noOfPax != 1 && paymentCtrl.isValidCareerFor('AAA')">
                                <span ng-if="item.noOfPax != 0">{{item.noOfPax}} X </span>
                                <span  translate="lbl_fareQuote_infants">Infants</span>
                            </div>

                            <span class="pull-right in-detail" ng-if="item.noOfPax != 0">
                                <span class="currency-text currency currency-left"></span>
                                <span class="font-weight-normal currency-value fare-value price xssm-top-curval numeric-amount"  
                                isa-connector="{{item.totalFare}}" 
                                decimal-points="2" 
                                with-decimal="true"></span>
                            </span>
                        </div>
                        <div class="clearfix">
                            <span class="hy-inline-block pding-l-none" translate="lbl_summary_drawer_airportTax">Airport Tax & Surcharge</span>
                            <span class="pull-right in-detail tax-detail">
                                <span class="currency-text currency currency-left"></span>
                                <span class="font-weight-normal currency-value fare-value price  numeric-amount" 
                                isa-connector="{{paymentCtrl.quoteDetails.taxAndSurcharges}}" 
                                decimal-points="2" 
                                with-decimal="true"></span>
                            </span>
                        </div>

                        <span class="promo font-color-red"
                              ng-if="paymentCtrl.quoteDetails.promoSummary && paymentCtrl.quoteDetails.promoSummary.discountAmount != '0' && paymentCtrl.quoteDetails.promoSummary.discountAs == 'Money'">
                            <span class="hy-inline-block pding-l-none" translate="lbl_summary_drawer_promotion">Promotion discount</span>
                            <span class="pull-right in-detail tax-detail">
                                <span class="currency-text currency currency-left"></span>
                                <span class="font-weight-normal currency-value fare-value price font-weight-bold numeric-amount" 
                                isa-connector="{{paymentCtrl.quoteDetails.promoSummary.discountAmount}}" 
                                decimal-points="2" 
                                is-promotion="true"
                                with-decimal="true"></span>
                            </span>
                        </span>

                        <div class="clearfix " ng-if="paymentCtrl.quoteDetails.totalAncillary && paymentCtrl.quoteDetails.totalAncillary !== '0'">
                            <span class="hy-inline-block pding-l-none" translate="lbl_summary_drawer_additional">Total additional services</span>
                            <span class="pull-right in-detail tax-detail">
                                <span class="currency-text currency currency-left"></span>
                                <span class="font-weight-normal currency-value fare-value price font-weight-bold numeric-amount" isa-connector="{{paymentCtrl.quoteDetails.totalAncillary}}" decimal-points="2" with-decimal="true"></span>
                            </span>
                        </div>
                        <div class="clearfix" ng-if="paymentCtrl.quoteDetails.administrationFee > 0">
                            <span class="hy-inline-block pding-l-none" translate="lbl_summary_administrationFee">Administration Fee</span>
                            <span class="pull-right in-detail tax-detail">
                                <span class="currency-text currency currency-left"></span>
                                <span class="font-weight-normal currency-value fare-value price numeric-amount"
                                isa-connector="{{paymentCtrl.quoteDetails.administrationFee}}" 
                                decimal-points="2" 
                                with-decimal="true"></span>
                            </span>
                        </div>
                        
                        <div class="clearfix" ng-if="paymentCtrl.quoteDetails.totalServiceTaxes > 0">
                             <span translate="lbl_summary_serviceTax">Service Tax</span>
                                <span class="pull-right in-detail">
                                    <span class="currency-text currency currency-left"></span>
                                    <span class="font-weight-normal currency-value fare-value price numeric-amount" 
                                    isa-connector="{{paymentCtrl.quoteDetails.totalServiceTaxes}}" 
                                    decimal-points="2" 
                                    with-decimal="true"></span>
                                </span>
                        </div>

                        <hr/>

                        <div class="clearfix sub-total payment-currency-info total-inclusive-hidden">
                            <span class="pull-left payment-total hy-inline-block pding-l-none" id="lPayment" translate="lbl_summary_drawer_inclusive">Total all inclusive</span>
                            <span class="pull-right payment-total-amount in-detail tax-detail" id="totalPricePayment">
                                <span class="currency-text currency font-weight-bold payment-total-currency currency-left"></span>
                                <span class="font-weight-bold payment-total-number numeric-amount"
                                 isa-connector="{{ paymentCtrl.quoteDetails.totalAllInclusive}}" 
                                 decimal-points="2" 
                                 with-decimal="true"
                                 ></span>
                            </span>
                        </div>
                        <span class="promo font-color-red" ng-if="paymentCtrl.quoteDetails.promoSummary && paymentCtrl.quoteDetails.promoSummary.discountAmount != '0' && paymentCtrl.quoteDetails.promoSummary.discountAs == 'Credit'">
                            <span class="hy-inline-block" translate="lbl_summary_drawer_credit">Credit for future usage</span>
                            <span class="pull-right in-detail tax-detail">
                                <span class="currency-text currency currency-left"></span>
                                <span class="font-weight-normal currency-value fare-value price font-weight-bold numeric-amount" 
                                isa-connector="{{ paymentCtrl.quoteDetails.promoSummary.discountAmount}}" 
                                decimal-points="2" 
                                with-decimal="true"></span>
                            </span>
                        </span>


                        <div class="clearfix" ng-show="main.baseCurrency != main.quoteDetails.selectedCurrencyType || main.baseCurrency != main.getSelectedCurrencyType()">
                            <span class="hy-inline-block">Equivalent</span>
                            <span class="pull-right in-detail tax-detail">
                                <span class="currency-text currency-left">{{main.baseCurrency}}</span>
                                <span class="font-weight-normal currency-value fare-value price numeric-amount" 
                                isa-connector="{{paymentCtrl.quoteDetails.totalAllInclusive}}" 
                                decimal-points="2" 
                                with-decimal="true" 
                                is-base-currency="true"></span>
                            </span>
                        </div>
                        <div class="fare-curr-diff" ng-show="main.baseCurrency != main.defaultCurrencyType || paymentCtrl.currentPaymentCurrency != main.getSelectedCurrencyType()">
                            <span class="blue-star d-inline-b"> * </span>
                            <h4 translate="msg_summary_drawer_allPayment" class="d-inline-b res-summary-start-txt" style="display: initial;"
                                translate-values="{a: '{{paymentCtrl.currentPaymentCurrency}}'}">
                             All payments will be charged in {{paymentCtrl.currentPaymentCurrency}}. All other currencies are for reference only.
                            </h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="ancillary-details-payment-summary" style="padding:20px 0px;border-top:1px solid #ededef;"
         ng-if="paymentCtrl.isAnciSummaryAtPaymentEnabled"
         ng-show="paymentCtrl.paymentForAnci.length">
        
        <h2 translate="lbl_ancillary_details">Ancillary Details</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="lbl_passenger_names" >Passenger Name(s)</th> 
                    <th translate="lbl_segment">Segment</th>
                    <!--<th>Seat</th>  -->
                    <!--<th>Meal</th>-->
                    <th translate="lbl_ssr">SSR(s)</th>
                    <!--<th>Baggage(s)</th>-->
                    <th translate="lbl_airport_transfer">Airport Transfer(s)</td> 
                </tr>    
            </thead>    
            <tbody>
                <tr ng-repeat="item in paymentCtrl.paymentForAnci">
                    <td>{{item[0]}}</td>

                    <td><span ng-if="item[1].originCode">
                        {{item[1].originCode}}/{{item[1].destinationCode}}<br><small>{{item[1].flightNumber}}</small>
                        </span>
                    </td>
                    <!--<td>1F</td>-->
                    <!--<td>1x Blini</td>-->
                    <td>
                        <span ng-repeat="item in item[2]">
                            {{item.id}} <br>
                        </span>
                    </td>
                    <!--<td>30Kg</td>-->
                    <td>
                        <span ng-repeat="item in item[3]">
                            {{item.input.transferType}} {{item.input.applyOn}} Transit
                        </span>
                    </td>
                </tr>

            </tbody>    
        </table>    
    </div>

    <div class="clearfix" ng-show="paymentCtrl.quoteDetails.reservationChargeDetails.length > 0"></div>
    <div class="reservation-details-payment-summary"
         ng-show="paymentCtrl.quoteDetails.reservationChargeDetails.length > 0"
         ng-if="paymentCtrl.isValidCareerFor('WAN')">
        <div class="col-xs-8 pd-0">
        <h2 class="pull-left text-left" translate="lbl_payment_chargeDetailHeading">Reservation Charge Details</h2>
        </div>
        
        <div class="col-xs-4 col-sm-12 col-md-12 pd-0">
            <div class="description" ng-class="{'pull-right':deviceType.isMobileDevice}">
                <span class="detail-toggle">
                    <a class="truncate" ng-click="paymentCtrl.showChargeDescription = true"
                       ng-show="!paymentCtrl.showChargeDescription"
                       translate="lbl_payment_showDetails">Show Details
                    </a>
                    <a class="truncate" ng-click="paymentCtrl.showChargeDescription = false"
                       ng-show="paymentCtrl.showChargeDescription"
                       translate="lbl_payment_hideDetails">Hide Details
                    </a>
                </span>
            </div>
        </div>

        <table class="table table-striped" ng-show="paymentCtrl.showChargeDescription">
            <thead>
                <tr>
                    <th style="width:50%" translate="lbl_payment_chargeDescription">Charge Description</th>
                    <th style="width:20%" translate="lbl_payment_chargeGroup">Charge Group</th>
                    <th style="width:30%" class="text-right" translate="lbl_payment_chargeAmount">Charge Amount</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="charge in paymentCtrl.quoteDetails.reservationChargeDetails">
                    <td style="width:50%">{{charge.description}}</td>
                    <td style="width:20%">{{charge.chargeGroup}}</td>
                    <td style="width:30%" class="text-right">
                        <span class="currency-text currency"></span>
                        <span isa-connector="{{charge.chargeAmount}}" decimal-points="2" with-decimal="true"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
