<!-- Page Wrapper -->
<div class="content-wrapper" ng-controller="postPaymentController as postPayCtrl">
    <br/>
    <div class="row col-md-12 col-sm-12 col-xs-12" ng-if="postPayCtrl.paymentRetry">
        <div class="text-danger" ng-bind-html="postPayCtrl.paymentRetryMsg">
        </div>
        <br/>
    </div>
</div>