<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <div class="off-canvas-content" data-off-canvas-content>
            <div class="title-bar">
                <div class="title-bar-left" ng-hide=" main.getTitle() === 'Select Flight' || main.getTitle() === 'Confirm' ||  main.getTitle() === 'Select Outbound Flight' || !main.getTitle()">
                    <button class="icon-arrow-left2" type="button" ng-click="main.goBack()"></button>
                </div>
                <span class="title-bar-title">
                    {{main.getTitle()}}
                </span>
            </div>

            <div ui-view="header"></div>
            <div ui-view="content"></div>
        </DIV>
    </div>
</div>
