<!-- Modify Or Cancel -->
<div class="modify-or-cancel">
    <!-- Alert -->
    <div class="dash-alert" ng-show="modifyFlights.reservationHasUNSegments
             && selectedFlight.selectedSegmentParams.cancellable != 'true'
             && selectedFlight.selectedSegmentParams.modifible != 'true'">
        <div class="notification col-sm-6"
             ng-if="modifyFlights.reservationHasUNSegments
             && selectedFlight.selectedSegmentParams.cancellable != 'true'
             && selectedFlight.selectedSegmentParams.modifible != 'true'">
            <p>Can not cancel or modify flight segment due to a canceled flight in the reservation</p>
        </div>
    </div><!-- // Alert -->

    <!-- Modify Flight -->
    <div class="col modify" ng-show="selectedFlight.selectedSegmentParams.modifible == 'true'">
        <button class="col-sm-5 col-xs-12 btn red-btn button" ng-click="selectedFlight.onModifyFlightClick()"
                ng-show="selectedFlight.selectedSegmentParams.modifible == 'true'" translate="lbl_modify_modifyThisFlight">Modify this flight
        </button>
    </div><!-- // Modify Flight -->

    <span class="or hidden-xs"
          ng-show="selectedFlight.selectedSegmentParams.cancellable == 'true' && selectedFlight.selectedSegmentParams.modifible == 'true'">
        <i translate="lbl_modify_or">or</i>
    </span>

    <!-- Modify Flight -->
    <div class="col cancel" ng-show="selectedFlight.selectedSegmentParams.cancellable == 'true'" >
        <button class="col-sm-5 col-xs-12 btn light-gray-btn button" ng-click="selectedFlight.onCancelSegmentClick()"
                ng-show="selectedFlight.selectedSegmentParams.cancellable == 'true'" translate="lbl_modify_cancelThisFlight">Cancel this flight
        </button>
    </div><!-- // Modify Flight -->
</div><!-- // Modify Or Cancel -->
