<!-- Summary Drawer Overlay -->
<div class="summary-drawer-overlay ng-cloak" ng-if="main.quoteStatus" ng-click="main.changeQuoteStatus()">
</div><!-- // Summary Drawer Overlay -->

<!-- Summary Drawer -->
<div class="summary-drawer sm-summary-drawer " ng-if="main.showSummaryDrawer" ng-style="{height:hgt+ 'px'}" ng-class="{'mod-summary-drawer': main.quoteStatus}">
    <div class="drawer-desc fly-in-group ng-cloak" ng-if="main.quoteStatus">

        <div class="container">
            <div class="drawer-arrow text-center xs-drawer-arrow" ng-click="main.changeQuoteStatus()">
                <span class="dp-caret fa fa-chevron-down"></span>
            </div>

            <div class="row" ng-controller="ModifyFlightDrawerController as flightDrawer" style="margin:0 !important;">
                
                <div class="flight-info-scroll xsflight-info-scroll" id="modifyflightdraw-flights-info-block">
                    <h2 class="xs-text-center text-left xs-ttlsum-pricebreak" translate="{{flightDrawer.heading}}">{{flightDrawer.heading}}</h2>
                    <h4 class="xs-text-center hidden-xs" translate="lbl_modification_cancellationDesc"
                        translate-values="{'currency': main.getSelectedCurrencyType()}">
                        All payment will be charged in {{main.getSelectedCurrencyType()}}. All other currencies are
                        for reference only</h4>
                    <hr class="hidden-xs"/>

                    <div class="clearfix flight-info-block-container">
                        <div class="flights-info-block hidden-sm hidden-md hidden-lg pd-rt-0" style="padding-right: 5px;">

                            <div ng-repeat="group in flightDrawer.groupWiseSegment track by $index"
                                 class="sector-details"
                                 ng-show="group.status !== 'CNX'" 
                                 ng-init="segmentIndex = $index" 
                                 ng-class="{'canceled-segment':flightDrawer.selectedIndexStatus[$index],'ma-tp-3': $index == 0, 'ma-tp-4': $index > 0 }">
                                <div ng-repeat="segment in group.segments" class="sector-flight-info" >
                                    <div class="flight-block" >
                                        <div class="div-plain-icon col-md-2 col-sm-2 col-xs-2" >
                                            <span ng-show="{{segmentIndex == 0 }}" class="icon-outbound-plane-small">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                             </span>
                                            <span ng-show="{{segmentIndex == 1}}" class="icon-inbound-plane-small">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                            </span>
                                        </div>

                                        <div class="div-info col-md-10 col-sm-10 col-xs-8" >
                                            <h4 class="source-To-destination">
                                                <label>{{segment.flight.originName}}</label>
                                                <span translate="msg_common_to">to</span>
                                                <label>{{segment.flight.destinationName}}</label>
                                            </h4>

                                            <div class="flight-no hidden-xs">
                                                <span class="fligh-no">
                                                     <label><i>{{segment.flight.flightNumber}}</i></label>
                                                </span>
                                            </div>
                                            <div class="flight-time">
                                                <span class="departure-arrival">
                                                    <label class="departure-canceled-segment">
                                                        <i ng-class="{'canceled-segment':flightDrawer.selectedIndexStatus[segmentIndex]}" class="i departure-label" translate="lbl_common_departure">Departure</i>
                                                        <i class="departure-val direction-ltr">{{segment.flight.departureDate | convertFlightDateFilter}} {{segment.flight.departureTime}}</i>
                                                    </label>
                                                    <label class="arrival-canceled-segment">
                                                        <i ng-class="{'canceled-segment':flightDrawer.selectedIndexStatus[segmentIndex]}" class="i arrival-label" translate="lbl_common_arrival">Arrival</i>
                                                        <i class=" arrival-val direction-ltr">{{segment.flight.arrivalDate | convertFlightDateFilter}} {{segment.flight.arrivalTime}}</i>
                                                    </label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="flight-no pull-right hidden-sm hidden-md hidden-lg col-xs-2 source-To-destination-flightNo">
                                            <span class="fligh-no">
                                                 <label><i>{{segment.flight.flightNumber}}</i></label>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <hr/>



                            </div>
                        </div>

                        <div class="flights-info-block hidden-xs pd-lt-0" ng-if="!mobileDevice" style="padding-right: 3px !important;">

                            <div ng-repeat="group in flightDrawer.groupWiseSegment"
                                 class="sector-details"
                                 ng-show="group.status !== 'CNX'" ng-init="segmentIndex = $index" ng-class="{'canceled-segment':flightDrawer.selectedIndexStatus[$index]}">
                                <div ng-repeat="segment in group.segments" class="sector-flight-info" >
                                    <div class="flight-block" >
                                        <div class="div-plain-icon col-md-2 col-sm-2 col-xs-2 pd-r-0 pd-l-0" >
                                            <span ng-show="{{segmentIndex == 0}}" class="icon-outbound-plane-small">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </span>
                                            <span ng-show="{{segmentIndex != 0}}" class="icon-inbound-plane-small">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                                </span>
                                        </div>

                                        <div class="div-info col-md-10 col-sm-10 col-xs-8 pd-r-0 pd-l-0" >
                                            <h4 class="destination-To-source">
                                                <label>{{segment.flight.originName}}</label>
                                                <span translate="msg_common_to">to</span>
                                                <label>{{segment.flight.destinationName}}</label>
                                            </h4>

                                            <div class="flight-no hidden-xs">
                                                <span class="fligh-no">
                                                     <label><i>{{segment.flight.flightNumber}}</i></label>
                                                </span>
                                            </div>
                                            <div class="flight-time">
                                                <span class="departure-arrival">
                                                    <label>
                                                        <i ng-class="{'canceled-segment':flightDrawer.selectedIndexStatus[segmentIndex]}" class="i" translate="lbl_common_departure">Departure</i>
                                                        <i class="direction-ltr">{{segment.flight.departureDate | convertFlightDateFilter}} {{segment.flight.departureTime}}</i>
                                                    </label>
                                                    <label>
                                                        <i ng-class="{'canceled-segment':flightDrawer.selectedIndexStatus[segmentIndex]}" class="i" translate="lbl_common_arrival">Arrival</i>
                                                        <i class="direction-ltr">{{segment.flight.arrivalDate | convertFlightDateFilter}} {{segment.flight.arrivalTime}}</i>
                                                    </label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="flight-no hidden-sm hidden-md hidden-lg col-xs-2 pull-right destination-To-source-flightNo">
                                            <span class="fligh-no">
                                                 <label><i>{{segment.flight.flightNumber}}</i></label>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <hr/>



                            </div>
                        </div>

                        <div class="price-info-block xs-p-l-0">
                            <div class="hidden-sm hidden-md hidden-lg section-line" ><hr></div>
                            <h2 class="price-breakdown-lbl price-Breakdown-for">
                                <span translate="title_summary_drawer">Price Breakdown for</span>
                                    <span ng-repeat="pax in flightDrawer.paxSummary">
                                        <span ng-if="pax.type == 'AD'">{{pax.count}} Adult</span>
                                        <span ng-if="pax.type == 'CH'">{{pax.count}} Child</span>
                                        <span ng-if="pax.type == 'IN'">{{pax.count}} Infant</span>
                                    </span>
                            </h2>
                            
                            <!-- Passenger charge breakdown -->
                            <div class="clearfix X-Adult" ng-repeat="pax in flightDrawer.paxSummary">
                                <span class="drawer-breakup-label">{{pax.count}} x
                                    <span ng-if="pax.type == 'AD'"><lable translate="lbl_common_adult">Adult</lable></span>
                                    <span ng-if="pax.type == 'CH'"><lable translate="lbl_common_child">Child</lable></span>
                                    <span ng-if="pax.type == 'IN'"><lable translate="lbl_common_infant">Infant</lable></span>
                                </span>
                                <span class="pull-right  in-detail">
                                    <span class="currency-text currency currency-left currency-left"></span>
                                    <span 
                                    class="font-weight-normal currency-value fare-value price xssm-top-curval font-weight-normal currency-value fare-value price xssm-top-curval numeric-amount"
                                    isa-connector={{pax.totalCharge}} 
                                    decimal-points="2" 
                                    with-decimal="true"></span>
                                </span>
                            </div>

                            <div class="clearfix Airport-Tax-Surcha" id="airport-taxes">
                                <span class="drawer-breakup-label" translate="lbl_modify_airportTaxAndSurcharges">Airport Taxes and Surcharges</span>
	                            <span class="pull-right  in-detail">
	                                <span class="currency-text currency currency-left"></span>
                                    <span  class="font-weight-normal currency-value fare-value price xssm-top-curval numeric-amount"
                                    isa-connector={{flightDrawer.modifyCharges.taxSurcharge}} 
                                    decimal-points="2" 
                                    with-decimal="true"></span>
	                            </span>
                            </div><!-- // Passenger charge breakdown -->

                            <hr class="divider hidden-xs"/>
                            <div class="hidden-sm hidden-md hidden-lg section-line" ><hr></div>

                            <!--Price breakdown-->
                            <div class="clearfix Total-New-Selection">
                                <span class="drawer-breakup-label" translate="lbl_modify_totalNewSelect">Total New Selection</span>

	                            <span class="pull-right in-detail">
	                                <span class="currency-text currency currency-left"></span>
                                    <span  class="font-weight-normal currency-value fare-value price xssm-top-curval numeric-amount"
                                    isa-connector={{flightDrawer.modifyCharges.postCharge}} 
                                    decimal-points="2" 
                                    with-decimal="true"></span>
	                            </span>
                            </div>

                            <div class="clearfix Total-New-Selection">
                                <span class="drawer-breakup-label" translate="lbl_modify_previousPayment">Previous payment</span>
	                              <span class="pull-right in-detail">
	                               
                                    <span class="currency-text currency currency-left"></span>
                                   
	                                <span class="font-weight-normal currency-value fare-value price xssm-top-curval numeric-amount" isa-connector={{flightDrawer.modifyCharges.previousCharge}} with-decimal="true"></span>
                                    <span class="font-weight-normal currency-value fare-value price xssm-top-curval numeric-amount">-</span>
                                </span>
                            </div>

                            <div class="clearfix Total-New-Selection">
                                <span class="drawer-breakup-label" translate="lbl_modify_nonRefundableAmount">Non refundable amount</span>
	                            <span class="pull-right  in-detail">
	                                <span class="currency-text currency currency-left"></span>
                                    <span   class="font-weight-normal currency-value fare-value price xssm-top-curval numeric-amount"
                                    isa-connector={{flightDrawer.modifyCharges.nonRefundable}} 
                                    decimal-points="2" 
                                    with-decimal="true"></span>
	                            </span>
                            </div>

                            <div class="clearfix" ng-repeat="(key, charge) in flightDrawer.modifyCharges.chargeInfo" ng-if="charge">
                                <span class="drawer-breakup-label" translate="lbl_modify_modificationCharge" ng-if="key == 'modificationCharge'">Modification charge </span>
                                <span class="drawer-breakup-label"  translate="lbl_modification_cancellationCharges"  ng-if="key == 'cancellationCharge'">Cancellation Charge </span>
                                <span class="drawer-breakup-label" ng-if="key == 'penaltyCharge'">Penalty charge </span>

                                <span class="pull-right  in-detail">
                                    <span class="currency-text currency currency-left"></span>
                                    <span  class="font-weight-normal currency-value fare-value price xssm-top-curval numeric-amount"
                                    isa-connector={{charge}}
                                    decimal-points="2"
                                    with-decimal="true"></span>
                                </span>
                            </div><!--// Price breakdown-->

                            <hr class="divider hidden-xs">
                            <div class="hidden-sm hidden-md hidden-lg section-line" ><hr></div>

                            <div class="total-credit">

                                <div class="clearfix Total-New-Selection" ng-if="flightDrawer.modifyCharges.credit">
                                    <span class="drawer-breakup-label" translate="drawer_remaining_credits">Remaining Credit</span>
                                    <span class="pull-right  in-detail">
                                        <span class="currency-text currency currency-left"></span>
                                        <span  isa-connector={{flightDrawer.modifyCharges.credit}} 
                                        class="font-weight-normal currency-value fare-value price xssm-top-curval numeric-amount"
                                        decimal-points="2"
                                        with-decimal="true"></span>
                                    </span>
                                </div>

                                <div class="clearfix Total-Due-Amount" ng-if="flightDrawer.modifyCharges.total">
                                    <span class="drawer-breakup-label" translate="drawer_due_amount">Total Due Amount</span>
                                    <span class="pull-right  in-detail">
                                        <span class="currency-text currency currency-left"></span>
                                        <span  isa-connector={{flightDrawer.modifyCharges.total}} 
                                        class="font-weight-normal currency-value fare-value price xssm-top-curval numeric-amount"
                                        decimal-points="2"
                                        with-decimal="true"></span>
                                    </span>
                                </div>

                            </div>
                            <div class="hidden-sm hidden-md hidden-lg section-line" ><hr></div>
                        </div>
                    </div>

                    <!--                    <div class="clearfix section-total font-weight-bold">Available Credit
                                            <span class="pull-right">
                                                    <span class="currency-text currency currency-left"></span>
                                                    <span class="font-weight-normal currency-value fare-value price font-weight-bold"
                                                          isa-connector="{{flightDrawer.charges.creditToDisplay}}"></span>
                                            </span>
                                        </div>



                                        <div class="clearfix sub-total">
                                            <div class="pull-right">Total Due Payment<span class="amount">
                                                 <span class="currency-text currency currency-left"></span>
                                                <span class="currency-value fare-value price font-weight-bold"
                                                      isa-connector="{{flightDrawer.charges.dueAmountToDisplay}}"></span>
                                               </span></div>
                                        </div>-->

                    <div class="row">
                        <div class="col-sm-6 col-xs-12 input-option xssm-p-b-15 xs-fs-12" ng-show="main.putCheckboxToAcceptTerms">
                            <span class="checkbox">
                                <input type="checkbox"
                                       name="agreeCheckbox"
                                       id="agreeCheckbox"
                                       checked
                                       ng-model="main.agreeToTerms">

                                <label for="agreeCheckbox">
                                    <span translate="lbl_summary_drawer_termsAgreeText">I agree to the  </span>
                                    <a href="javascript:" ng-if="main.appConfigs.showFareRule" ng-click="main.showFareRule()" translate="lbl_common_fare_rules_title">Fare rules</a>
                                    <span ng-if="main.appConfigs.showFareRule" translate="lbl_common_and">and</span>
                                    <a href="javascript:;" ng-click="main.showTermsAndConditions()" translate="lbl_common_terms">Terms and Conditions.</a>
                                </label>
                            </span>
                        </div>

                        <div class="col-sm-6 col-xs-12 xssm-p-b-15 hidden-xs" ng-hide="main.putCheckboxToAcceptTerms">
                            <span class="font-color-red">*</span> 
                            <span translate="lbl_summary_drawer_termsText">By clicking the Confirm button you agree to the </span>
                            <a href="javascript:" ng-if="main.carrerCode == 'W5'" ng-click="main.showFareRule()" translate="lbl_common_fare_rules_title">Fare rules</a>
                            <span ng-if="main.carrerCode == 'W5'" translate="lbl_common_and">and</span>
                            <a href="javascript:;" ng-click="main.showTermsAndConditions()" translate="lbl_common_terms">Terms and Conditions.</a>
                        </div>
                       
                        <h4 class="xs-text-center hidden-md hidden-sm hidden-lg text-left" id="modify-summary-last-label" translate="lbl_modification_cancellationDesc"
                        translate-values="{'currency': main.getSelectedCurrencyType()}">
                        All payment will be charged in {{main.getSelectedCurrencyType()}}. All other currencies are
                        for reference only</h4>
                        
                        <div class="col-sm-6 col-xs-12" ng-if="flightDrawer.appMode !== 'modifyAnci' && flightDrawer.isAncillaryAvailable">
                            <div ng-click="flightDrawer.onConfirmCancelSegment()"
                                 id="btn-proceed-to-passenger"
                                 ng-disabled="!main.agreeToTerms && main.putCheckboxToAcceptTerms"
                                 class="btn red-btn btn-sm xssm-p-b-15">Continue to Extras
                            </div>
                        </div>

                        <div class="col-sm-6 col-xs-12 pull-right" ng-if="flightDrawer.appMode === 'modifyAnci' || !flightDrawer.isAncillaryAvailable">
                            <div class="row disclaimer" ng-if="main.carrerCode === 'W5'">
                            <div class="col-sm-12">
                            <p class="xs-text-center"><span class="font-color-red">*</span> <span style="font-size: 1rem !important;" translate="lbl_modification_confirmCancel1">Click on 'Confirm Cancel Reservation' to continue with the cancellation. Applicable cancellation charges will be deducted and the balance amount will be credited to your account.
                            To use your credit for a new reservation, please contact our</span style="font-size: 1rem !important;"> <a ng-if="drawer.callCenterAvailable"  href="{{main.logoLink + '/call-centre'}}" translate="lbl_modification_confirmCancel2">Call Centre</a> <span ng-if="drawer.callCenterAvailable" translate="lbl_modification_confirmCancel3">in your region.</span> </p>
                            </div>
                            </div>
                            <div ng-click="flightDrawer.onConfirmCancelSegment()"
                                 id="btn-proceed-to-passenger"
                                 ng-disabled="!main.agreeToTerms && main.putCheckboxToAcceptTerms"
                                 class="btn red-btn btn-sm pull-right xssm-p-b-15" translate="btn_extra_contPaymnt">Continue to Payment
                            </div>
                             <a id="bottom"></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="drawer-bar ng-cloak" ng-if="!main.quoteStatus">
        <div class="container pd-0 pd-bt-2 pd-tp-2" ng-click="main.changeQuoteStatus()">
            <div class="col-sm-12 drawer-bar-col col-xs-12 xs-text-center">
                Flight Modification Price Breakdown
            </div>
            <div class="drawer-arrow text-center xs-drawer-modi-arrow xs-drawer-arrow" ng-click="main.changeQuoteStatus();$event.stopPropagation()"
                 ng-hide="main.quoteStatus">
                <span class="dp-caret fa fa-chevron-up"></span>
            </div>
        </div>
    </div>
</div><!-- // Summary Drawer -->

<!-- Terms and conditions -->
<div class="modal-box" ng-show="main.ismodalModal">
    <!-- Overlay -->
    <div class="overlay"></div><!-- // Overlay -->

    <!-- Modal Content -->
    <div class="modal-content" style="max-width: 900px;top:10%;max-height: 600px">

        <!-- Modal Header -->
        <div class="modal-header">
            <span ng-if="main.termsNCondition" class="text" translate="lbl_common_terms">Terms and Conditions.</span>
            <span ng-if="main.fareRules" class="text" translate="lbl_common_fare_rules_title">Fare rules</span>
            <span class="close-btn" ng-click="main.closePopup()">
                <i class="fa fa-times"></i>
            </span>
        </div><!-- // Modal Header -->

        <!-- Modal Body -->
        <div ng-if="main.termsNCondition" class="modal-body" style="max-height: 425px;overflow-y: auto">
            <p ng-bind-html="main.popUpData">

            </p>
        </div><!-- // Modal Body -->

		<div ng-if="main.fareRules">
           <span data-ng-repeat="fare in main.fareRulesDescriptions">
                <p ng-bind-html="fare">

                </p>
            </span>

        </div>

        <!-- Modal Footer -->
        <div class="modal-footer">

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">

                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <button class="button red-btn" type="button" ng-click="main.closePopup()"
                            translate="btn_summary_drawer_continue">Close and continue
                    </button>
                </div>
            </div>
        </div><!-- // Modal Footer -->
    </div><!-- // Modal Content -->
</div><!-- // Terms and conditions -->