<!-- Page Wrapper -->
<section class="container page-wrapper dash-mod-flights">

    <section class="content-wrapper">

        <!-- Content header -->
        <div class="content-header">
            <div  class="page-title modify-flight-page-title">
                <!-- Page Title -->
                <h1>
                    <span class="main-text hidden-xs" translate="lbl_modify_modifyHeading">Modify your flights for reservation </span>
                    <span class="hidden-sm hidden-md hidden-lg" id="modify-flight-head" translate="lbl_modify_modifyHeading">Modify your flights for reservation <i class="red">#{{modifyFlights.getReservationSearchCriteria.pnr}}</i></span>
                </h1><!-- // Page Title -->
            </div>

        </div>
        <!-- // Content header -->

        <!-- Content Body -->
        <div class="content-body">
            <div class="hidden-sm hidden-md hidden-lg section-line xs-section-line" ><hr></div>

            <!-- Modify Flights Table -->
            <div class="modify-flights-table">

                <div class="flights-head hidden-xs">
                    <div translate="lbl_modify_currentFlights" class="flights-head-left col-xs-12">Current Flights</div>
                    <div translate="lbl_modify_newFlights" class="hidden-xs flights-head-right">New Flights</div>
                </div>

                <!-- Mobile left (right md) -->
                <div class="right-content hidden-sm hidden-md hidden-lg" style="border: none;">
                    <div class="dash-alert ng-scope">
                        <div class="notification col-sm-6 col-xs-12 ng-binding text-left">
                            Please select the flight you want to modify or cancel 
                        </div>
                    </div>
                </div>

                <!-- Small header -->
                <div class="flights-head hidden-sm hidden-md hidden-lg">
                    <div translate="lbl_modify_currentFlights" class="col-xs-12">Current Flights</div>
                </div>

                <!-- Left Sidebar -->
                <div class="left-sidebar col-xs-12 modify-flights-left">

                    <ul id="flight-segment-list">
                        <div ng-repeat="fareGroup in modifyFlights.model.fareGroupWiseSegments".
                            ng-init="parentIndex = $index"
                            class="fare-segment">
                            <li ng-show="fareGroup.status.indexOf('CNF') >= 0"
                                ng-class="{'active':modifyFlights.selectedFareGroupIndex == $index}"
                                ng-click="modifyFlights.onFlightSelected($index, fareGroup);"
                                ng-style="modifyFlights.modifyStyle">
                                <div class="wrapper" ng-repeat="segment in fareGroup.segments">

                                    <!-- <h4>{{segment.flight.flightNumber}}</h4>
    
                                    <label class="departure">{{segment.flight.departureDate}} {{segment.flight.departureTime}}</label>
                                    <div class="ond">
                                        <span class="dep">{{segment.flight.originName}}</span>
                                        <span class="ico icon-outbound-plane-small">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </span>
                                        <span class="arr">{{segment.flight.destinationName}}</span>
                                    </div>
                                    <label class="arrival">{{segment.flight.arrivalDate}}v{{segment.flight.arrivalTime}}</label> -->

                                    <div class="mod-flight">
                                        <!--  <div class="pull-left" style="width:15%">
                                             <span ng-if="modifyFlights.model.fareGroupWiseSegments[0].segments[0].flight.originName != segment.flight.destinationName"  class="ico icon-outbound-plane-small">
                                                 <span class="path1"></span>
                                                 <span class="path2"></span>
                                             </span>
                                             <span ng-if="modifyFlights.model.fareGroupWiseSegments[0].segments[0].flight.originName == segment.flight.destinationName" class="ico icon-inbound-plane-small">
                                                 <span class="path1"></span>
                                                 <span class="path2"></span>
                                             </span>
                                         </div> -->
                                        <!--                                    <div class="div-plain-icon col-md-2 col-sm-2 col-xs-1 xxs-fs-12">
                                                                                <span ng-if="modifyFlights.model.fareGroupWiseSegments[0].segments[0].flight.originName != segment.flight.destinationName" class="icon-outbound-plane-small">
                                                                                    <span class="path1"></span>
                                                                                    <span class="path2"></span>
                                                                                </span>
                                                                                <span ng-if="modifyFlights.model.fareGroupWiseSegments[0].segments[0].flight.originName == segment.flight.destinationName" class="icon-inbound-plane-small">
                                                                                    <span class="path1"></span>
                                                                                    <span class="path2"></span>
                                                                                </span>
                                                                            </div> -->
                                        <div class="flight-block">
                                        <div class="div-plain-icon col-md-2 pd-l-0 pd-r-0 col-sm-2 col-xs-1 xxs-fs-12">
                                            <span ng-show="{{parentIndex == 0}}" class="icon-outbound-plane-small">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </span>
                                            <span ng-show="{{parentIndex != 0}}" class="icon-inbound-plane-small">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </span>
                                        </div>
                                        <div class="div-info col-md-10 col-sm-8 col-xs-8" >
                                            <div class="hidden-xs">
                                                <h4 class="ma-bt-2">
                                                	<div> {{segment.flight.originName}} 
                                                	<span translate="msg_common_to">to</span> {{segment.flight.destinationName}} 
                                                	</div>
                                                	<div><span class="promo-fare" style="font-size:13px;">(Promo Fare)</span></div>
                                                </h4>
                                            </div>
                                            <h4 class="hidden-md hidden-sm hidden-lg"> 
                                                <span class="thick-font pull-left">{{segment.flight.originName}}</span>
                                                <span translate="msg_common_to" class="pull-left" style="padding: 0 3px !important;">to</span>
                                                <span class="thick-font pull-left">{{segment.flight.destinationName}}</span>
                                                <span class="promo-fare" style="font-size:13px;padding: 0 3px !important;">(Promo Fare)</span>
                                            </h4>
                                            <div class="flight-no hidden-xs col-lg-2 pd-0 hidden-sm col-md-2">
                                                <span class="fligh-no">
                                                    <label class="thick-font-flightNumber"><i>{{segment.flight.flightNumber}}</i></label>  
                                                </span>
                                            </div>
                                            <div class="pd-2 flight-time col-md-10" style="padding-top: 0">
                                                <span class="departure-arrival">
                                                    <span>
                                            <i class="col-lg-auto i col-sm-4 col-xs-5 pd-l-0 thick-font pd-r-0 dept-arr-text" translate="lbl_common_departure">Departure</i>
                                                  <i ng-if="!modifyFlights.isPersianCalendarType" class="i  thick-font date-time col-sm-7 col-xs-7 pd-l-0 pd-r-0 hidden-xs">{{modifyFlights.formatDateTime(segment.flight.departureDate, segment.flight.departureTime)}}</i>
                                                        <i ng-if="!modifyFlights.isPersianCalendarType" class="i date-time col-xs-6 pd-r-0 pd-l-0 direction-ltr hidden-sm hidden-md hidden-lg">{{segment.flight.departureDate | convertFlightDateFilter}} {{segment.flight.departureTime}}</i>
                                                        <i ng-if="modifyFlights.isPersianCalendarType" style="text-align:left !important;" class="thick-font pd-lt-0 i date-time col-sm-7 col-xs-6 pd-l-0 hidden-xs">{{segment.flight.departureDate}} {{segment.flight.departureTime}}</i>
                                                        <i ng-if="modifyFlights.isPersianCalendarType" style="text-align:left !important;" class="i date-time col-xs-6 pd-r-0 hidden-sm hidden-md hidden-lg">{{segment.flight.departureDate | convertFlightDateFilter}} {{segment.flight.departureTime}}</i> 
                                                        <!-- <i>{{segment.flight.departureDateObj | date:"dd/MM/yyyy HH:mm" }}</i> -->
                                                    </span>
                                                    <span style="margin-top: -8px;">
                                                        <i fligh-no pull-right class="i col-xs-5 col-sm-4 pd-l-0 pd-r-0 thick-font pd-r-0 dept-arr-text" translate="lbl_common_arrival">Arrival</i> 
                                                     <i ng-if="!modifyFlights.isPersianCalendarType" class="i thick-font date-time col-sm-7 col-xs-7 pd-l-0 pd-r-0 hidden-xs">{{modifyFlights.formatDateTime(segment.flight.arrivalDate, segment.flight.arrivalTime)}}</i>
                                                        <i ng-if="!modifyFlights.isPersianCalendarType"  class="i date-time col-sm-7 col-xs-6 pd-r-0 pd-l-0 pd-r-0 direction-ltr hidden-sm hidden-md hidden-lg">{{segment.flight.arrivalDate | convertFlightDateFilter}} {{segment.flight.arrivalTime}}</i>
                                                        <i ng-if="modifyFlights.isPersianCalendarType" style="text-align:left !important;" class="thick-font pd-r-0 i date-time col-sm-7 col-xs-6 pd-l-0 hidden-xs">{{segment.flight.arrivalDate}} {{segment.flight.arrivalTime}}</i>
                                                        <i ng-if="modifyFlights.isPersianCalendarType" style="text-align:left !important;" class="pd-r-0 i date-time col-sm-7 col-xs-6 pd-r-0 hidden-sm hidden-md hidden-lg">{{segment.flight.arrivalDate | convertFlightDateFilter}} {{segment.flight.arrivalTime}}</i> 
                                                    </label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="flight-no xs-flight-no hidden-md hidden-lg col-xs-2 col-sm-2 pull-right">
                                            <span class="fligh-no text-right">
                                                <label class="thick-font-flightNumber"><i>{{segment.flight.flightNumber}}</i></label> 
                                            </span>
                                        </div>
                                    </div>
                                        <!-- <div class="flight-info pull-left pd-l-2" style="font-size:14px; width:85% !important">
                                            <h4 class="ma-bt-2">
                                                <span>{{segment.flight.originName}}</span>
                                                <span>to</span>
                                                <span>{{segment.flight.destinationName}}</span>
                                                <span class="promo-fare" style="font-size:13px;">(Promo Fare)</span>
                                            </h4>
                                            <div class="flight-no pull-left" >
                                                <span class="fligh-no">
                                                     <label><i>{{segment.flight.flightNumber}}</i></label>
                                                </span>
                                            </div>
                                            <div class="flight-time pull-right" >{{segment.flight.departureDate}}
                                                <span class="departure-arrival">
                                                    <div class="date-time-wrapper" ><i class="i">Departure</i><i class="i date-time" >{{modifyFlights.formatDateTime(segment.flight.departureDate,segment.flight.departureTime)}}</i> <i>{{segment.flight.departureDateObj | date:"dd/MM/yyyy HH:mm" }}</i></div>
                                                    <div class="date-time-wrapper" ><i class="i">Arrival</i><i class="i date-time" >{{modifyFlights.formatDateTime(segment.flight.arrivalDate,segment.flight.arrivalTime) }}</i> <i>{{segment.flight.arrivalDateObj | date:"dd/MM/yyyy HH:mm" }}</i></div>
                                                </span>
                                            </div>
    
                                        </div> -->
                                    </div>
                                </div>


                            </li>
                            <li id="flight-modify-mobile" 
                            ng-show="modifyFlights.selectedFareGroupIndex == $index" 
                            ng-if="deviceType.isMobileDevice" style="background-color: #ffffff !important;">
                                <div id="rContent" class="right-content">
                                    <div ui-view="modifyContentView"></div>
                                </div>
                            </li>
                        </div>
                    </ul>
                </div>
                <!-- // Left Sidebar -->

                <!-- Right Content -->
                <div id="dash-flights flight-result-block ng-scope" class="right-content" ng-if="!deviceType.isMobileDevice">
                    <div ui-view="modifyContentView" class="modify-content-view">
                    </div>
					  
                    <!-- Modify Or Cancel -->
     
                </div>
                <!-- // Right Content -->
            </div>
        </div>
        <div class="row col-sm-12 col-md-12 col-xs-12 pd-0 ma-0 sm-confirmButtonRowClass">
        <div class="back-bar back-to-reservation  mod-flight-back-reservation col-sm-5 col-md-5 col-xs-12">
                <!--<a href="" ng-click="modifyFlights.backToHome()">Back</a>-->
                <a href="" class="submit-link pull-left text-left" ng-click="modifyFlights.backToHome()">
                    <span class="pull-left"><i class="fa fa-angle-left rtl-icon-rotate" style="font-size: 16px;padding:13px 3px !important;"></i></span>
                    <span  class="pull-left" translate="lbl_modify_backToHome">Back to Reservation Home</span>
                    <!--<span ng-if="modifyFlights.isUserLoggedIn" translate="lbl_modify_backToDash">Back to Dashboard</span> ng-if="!modifyFlights.isUserLoggedIn"-->
                </a>
        </div>
          <div class="col-sm-7 col-md-7 col-xs-7 mod-flight-confirm-reservation" ng-show="showConfirmButtons && !deviceType.isMobileDevice">
					        <!--<div class="col-sm-1 hidden-sm hidden-md hidden-lg"></div>-->
					        <div class="col-sm-5 pd-0" >
					            <button id="dash-foot-cancel" class="btn truncate light-gray-btn button"
					                    ng-click="modifyFlights.cancelModification()"
					                    translate="lbl_modification_cancelModification">Cancel Modification</button>
					        </div>
					        <div class="col-sm-5 pull-right dash-foot-confirm-div pd-0">
					            <button id="dash-foot-confirm" class="btn red-btn button"
					                    ng-click="modifyFlights.onConfirmModification()"
					                    translate="lbl_modification_continueModification">Continue Modification</button>
					        </div>
					    </div>
        </div>

    </section>

</section>
