<!-- Search Form -->
<div class="search-form">
    <div translate="lbl_modify_newFlights" class="hidden-sm hidden-md hidden-lg new-flight-heading">New Flights</div>
    <form name="modification_flight_search" valdr-type="ModificationFlightSearch" ng-submit="searchCtrl.searchFlight(modification_flight_search)">
        <div class="row form-row">
            <div class="col-sm-6 col-xs-12">
                <label class="text-left" translate="msg_common_from">From</label>
                <div valdr-form-group>
                    <input id="search_from" name="search_from" class="form-control" type="text" autocomplete="off"
                           ng-model="searchCtrl.model.searchCriteria.from"
                           uib-typeahead="airport as airport.en for airport in searchCtrl.model.airports | filter:$viewValue | limitTo:8"
                           typeahead-loading="loadingLocations" typeahead-no-results="noResultsFrom">
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

                    <div ng-show="noResultsFrom">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <label class="text-left" translate="lbl_msg_search_to">To</label>
                <div valdr-form-group>
                    <input id="search_to" name="search_to" class="form-control" type="text" autocomplete="off"
                           ng-model="searchCtrl.model.searchCriteria.to"
                           uib-typeahead="airport as airport.en for airport in searchCtrl.model.airports | filter:$viewValue | limitTo:8"
                           typeahead-loading="loadingLocations" typeahead-no-results="noResultsTo">
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

                    <div ng-show="noResultsTo">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <label class="text-left" translate="lbl_modifysearch_departure_date">Date</label>
                <!-- <input class="form-control" type="text" ng-model="searchCtrl.model.departureDate">-->
                <div class="ibe-date-picker xs-ibe-date-picker" id="modify-ibe-date-picker" valdr-form-group>
                    <p class="input-group" ng-if="!searchCtrl.isPersianCalendarType">
                        <input  name="search_departure_date" ng-model="searchCtrl.model.searchCriteria.departureDate"  autocomplete="off"
                               id="search_departure_date" name="search-departure-date" type="text"
                               class="form-control hasDatepicker"
                               show-button-bar="false"
                               show-weeks="false"
                               uib-datepicker-popup="{{searchCtrl.model.dateformat}}"
                               is-open="searchCtrl.model.fromDateOpened"
                               min-date="searchCtrl.model.minDepartureDate"
                               max-date="maxDate"
                               datepicker-options="dateOptions"
                               date-disabled="disabled(date, mode)"
                               ng-click="searchCtrl.model.fromDateOpened=!searchCtrl.model.fromDateOpened"
                               close-text="Close"
                                readonly="readonly"/>
                              <span class="input-group-btn">   
                                  <button id="departure-date" type="button" class="btn btn-default departure-span-modify-search-btn"

                                            ng-click="searchCtrl.model.fromDateOpened=!searchCtrl.model.fromDateOpened">
                                        <i class="glyphicon glyphicon-calendar departure-span-modify-search-img pull-right pd-lt-10"></i></button>
                                </span>
                    </p>
                    <p class="input-group" >
                              <adm-dtp ng-if="searchCtrl.isPersianCalendarType" ng-model='searchCtrl.model.searchCriteria.departureDate'  id="search_departure_date"  name="search-departure-date" options='{calType: "jalali", format: "DD/MM/YYYY", autoClose:"true",zIndex:1000}' style="width:100% !important;"  
                              minDate="{{searchCtrl.minDateForCal}}"></adm-dtp>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12" ng-if="searchCtrl.model.searchCriteria.carrierCode !== 'W5'">
                <label class="text-left" translate="lbl_modifySearch_cabinType">Cabin Class</label>
                <!-- <select class="form-control" name="" id="">
                     <option value="">Economy</option>
                 </select>-->
                <div class="ibe-drop-down">
                    <div class="btn-group xs-btn-group-class " uib-keyboard-nav uib-dropdown is-open="status.isopen">
                        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle
                                ng-disabled="disabled">
                            <span class="dp-caption">{{searchCtrl.model.searchCriteria.cabinClass}}</span>
                            <span style="left: 12px;position: relative;color: gray;" class="dp-caret fa fa-angle-down hidden-sm hidden-md hidden-lg"></span>
                            <span style="left: 12px;position: relative;color: gray;" class="dp-caret fa fa-chevron-down hidden-xs"></span>
                        </button>
                        <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button" style="text-align: left;">
                            <li ng-click="searchCtrl.onCabinItemSelect(this.n)" role="menuitem"
                                ng-repeat="n in searchCtrl.model.AllCabinTypes" onclick="closeDropdown()"><a href="#">{{n}}</a></li>
                        </ul>
                        <script type="text/javascript">function closeDropdown() {
                                                    if ($('.xs-btn-group-class').hasClass('open')) {
                                                        $('.xs-btn-group-class').removeClass('open');
                                                    }
                                                }</script>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px !important">
            <div class="btn-wrp col-sm-6 col-xs-12">
                <button class="btn red-btn button" type="submit" translate="lbl_modify_showAvailable">Show Available Flights</button>
            </div>
        </div>
    </form>
</div><!-- // Search Form -->
