a.first-item {
  padding-left: 5px !important;
}

a.last-item {
  padding-right: 5px !important;
}

.fare-and-services-footer-right-section {
  float: left;
}
.fare-and-services-wrapper{

  .fare-and-services-body{

    .fare-and-services-body-container{

      .fare-and-services-footer-table{

        .fare-and-services-footer-right-section{

          .fare-and-services-footer-right-section-select-text {
            padding-left: 23px;
            &.selected{
              padding-left: 25px;
            }
          }
         
          .fare-checkbox-container{
            position: relative;
            display: inline;
            i{
              &.fa-circle-thin{
                position: absolute;
                bottom: 1px
              }
            }
            img{
              left: -1px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .left-section > .flight-data-row .flight-price-lbl {
    &.fare-and-services-flight-mobile-select-button, &.fare-and-services-flight-mobile-modify-select-button {
      .flight-price-expand-icon {

        padding-right: 0 !important;
        padding-left: 0 !important;

        &.fa-angle-right {
          color: $white !important;
        }
        &.fa-angle-down {
          color: $fare-and-services-header-color !important;
        }
      }
    }
  }
}