table.fare-and-services-mobile-container {
  height: 100%;
  width: 100%;
  tbody{
    display:flex;
    width: 100%;
    tr{
      display:flex;
      width: 100%;
      .fare-and-services-mobile-header {
        width: 50%;
        padding-top: 11px;
        background-color: #4E4E4E;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .fare-and-services-mobile-header-info {
          font-size: 10px;
        }
      }
    
      .fare-and-services-mobile-extra-item {
        font-size: 10px;
        background-color: $white !important;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 15px 0px 10px 12px;
    
        a.baggage-rates-link {
          padding-top: 3px !important;
          color: $red !important;;
          text-decoration: underline !important;
          font-size: 12px !important;
        }
      }
    
      .fare-and-services-mobile-select-section {
        background-color: #fff !important;
        width: 20%;
        min-width: 26%;
        padding-top: 13px;
        padding-right: 8px;
        padding-bottom: 8px;
        text-align: right;
      }
    }
  }
}

.fare-and-services-flight-mobile-select-button-wrapper {
  text-align: center;
  padding: 0px !important;

  .button {
    background: $gray;
    //position: relative;
    //left: 20px;
    //top: 8px;
    //padding-left: 5px !important;
    //padding-right: 5px !important;
    //height : 32px;
    color: $white;

    &:disabled {
      background: $gray-7;
    }

    &.selected {
      background: $selected-flight-row-color;
      color: $black;
    }

    .fare-and-services-flight-select-text {
      font-size: 12px;
      font-weight: 500;
    }

    .fare-and-services-flight-select-fare-value {
      font-size: 16px;
      font-weight: bold;
    }

    i.fa-angle-right, i.fa-angle-down {
      font-size: 18px;
      font-weight: bold;
      float: right;
      position: relative;
      top: 10px;
      text-align: right;
    }
  }
}

.fare-and-services-flight-mobile-select-button, .fare-and-services-flight-mobile-modify-select-button {

  background: $fare-and-services-header-color;
  color: $white;
  font-size: 12px;
  font-weight: normal;

  .fare-and-services-flight-select-text {
    color: $white !important;
  }

  &:disabled , &.disabled {
    background: $gray-7;
  }

  &.selected {
    background: $selected-flight-row-color;
    color: $black;
  }

  i.fa-angle-right, i.fa-angle-down {

    font-weight: bold;
    position: relative;
    padding-left: 3px;
    padding-right: 3px;
  }

  i.fa-angle-down {
    color: $black !important;
  }

  i.fa-angle-right {
    color: $white !important;
  }
}

@media only screen and (max-width: 767px) {
  .RTL .left-section > .flight-data-row .flight-price-lbl .fa-angle-right:before {
    content: "\f104" !important;
  }

  .flight-result-block .flight-options .options-row.body a .currency-value {
    font-size: 1.2rem !important;
  }

}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .fare-and-services-flight-select-button-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .dash-mod-flights .modify-flight-search .xs-search-result .fare-and-services-total-time {
    margin-top: 20px !important;
    text-align: end;
    font-size: 12px;
  }

  .fare-and-services-wrapper {

    .fare-and-services-body {

      .fare-and-services-body-container {

        .fare-and-services-header {
          font-size: 14px;
        }

        .fare-and-services-header-row {
          .fare-and-services-header-text, .fare-and-services-header-text-without-info,
          .fare-and-services-header-info-text {
            padding-left: 12px !important;
            padding-right: 12px !important;
          }
        }

      }

      .fare-and-services-items-container {

        .fare-and-services-item {
          padding-left: 12px !important;
          padding-right: 12px !important;
          font-size: 10px !important;

        }
      }

      .fare-and-services-footer-seperator-wrap {
        padding-left: 12px !important;
        padding-right: 12px !important;
        margin-bottom: 6px !important;
      }

      .fare-and-services-footer-left-section {
        padding-left: 12px !important;
        padding-right: 12px !important;
      }

      .fare-and-services-footer-right-section {
        padding-right: 12px !important;
        padding-left: 12px !important;
      }
    }
  }

  .fare-and-services-footer-selected {
    border-bottom: 4px solid $red;
    margin: 5px 10px 0px 10px;
  }
}

.baggage-rates-link {
  font-weight: 600;
  small {
    font-size: 100%;
  }

  strong, b {
    font-weight: 600;
  }
}

