a.fare-and-services-container {
  padding-bottom: 20px !important;
  padding-top: 5px;
  flex-grow: 1;

  color: $black !important;

  &:hover, &:link, &:visited, &:focus {
    text-decoration: none !important;
  }

  i.fa-circle-thin {
    font-size: 16px;
  }
}

.fare-and-services-wrapper {

  .fare-and-services-body {
    margin: 5px 5px 0px 5px;
    box-shadow: 1px 3px 12px 0 $fare-and-services-box-shadow-color;

    .fare-and-services-body-container {

      text-align: start;
      background: $white;

      .fare-and-services-header {
        font-size: 16px;
        font-weight:600;
        color: $white;
        background-color: $fare-and-services-header-color;
        min-height: 44px;
        margin-bottom: 5px;

        :hover {
          background-color: $fare-and-services-header-color;
        }

        .fare-and-services-header-row {
          width: 100%;
          min-height: 44px;
          
          :hover {
            background-color: $fare-and-services-header-color;
          }

          .fare-and-services-header-text {
            width: 60%;
            padding-left: 18px;
            padding-right: 18px;
          }

          .fare-and-services-header-text-without-info {
            width: 100%;
            padding-left: 18px;
            padding-right: 18px
          }

          .fare-and-services-header-info-text {
            width: 40%;
            text-align: right;
            padding-right: 18px;
            font-size: 12px;
            font-weight: bold;
          }
        }

      }

      .fare-and-services-items-container {
        //padding-bottom: 5px;
        .fare-and-services-item {
          .fare-and-services-item-description{
            a{
              padding-left: 10px;
            }
          }
        }
        &.addSpaceBag{
          .fare-and-services-item {
            .fare-and-services-item-description{
              a{
                float:right;
              }
            }
          }
        }
        .fare-and-services-item {
          padding-left: 18px;
          padding-right: 18px;
          margin-top: 5px;
          margin-bottom: 5px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 307px;
          font-size: 12px;

          img.free-item {
            padding-right: 10px;
          }

          img.dollar-item {
            padding-left: 0px;
            padding-right: 15px;
          }

          .fare-and-services-item-description {
            color: $black;

            & strong {
              font-weight: 600;
            }
            
            & a {
              color: $red;
              text-decoration: underline;
              font-weight: 600;
            }

            & small {
              font-size: 100%;
            }
            
           
          }
        }
      }

      .fare-and-services-footer-bottom {
        color: $white;
        text-align: center;
        margin: 0px;
        border-bottom: 3px solid;
        border-top: 0px;
        margin-top:5px;

        &.selected {
          color: $red;
        }
      }

      .fare-and-services-footer-seperator-wrap {
        padding-left: 18px;
        padding-right: 18px;
        margin-bottom: 8px;

        .fare-and-services-footer-seperator {
          color: $fare-and-services-footer-seperator-color;
          text-align: center;
          margin: 0px;
          border-top: 1px solid;
        }
      }

      .fare-and-services-footer-table {
        //margin-top: 8px;
        width: 100%;
        color: $black;

        .fare-and-services-footer-left-section {
          padding-left: 18px;
          padding-right: 18px;

          .fare-and-services-footer-currency-text {
            font-size: 16px;
          }
        }

        .fare-and-services-footer-right-section {
          float: right;
          padding-right: 18px;
          padding-left: 18px;

          label, .bundle-fare-label-text {
            float: right;
          }

          &.new-line {
            padding-right: 18px;
            padding-left: 18px;
            float:left;

            label, .bundle-fare-label-text {
              float: none;
            }
          }
          
          .fare-and-services-footer-right-section-select-text {
            font-weight: 600;
            font-size: 14px;
          }
         
          .fare-selected-tick {
            img {
              position: absolute;
              top: 1px;
              width: 18px;
            }
          }
        }
      }
    }
  }

  .fare-and-services-footer-selected {
    border-bottom: 4px solid $red;
    margin: 5px 10px 0px 10px;
  }
}

.fare-and-services-flight-select-button-wrapper {
  text-align: center;
  padding: 20px 20px 0px !important;

  &.mobile {
    padding: 0px !important;
  }

  .button, .a {
    background: $fare-and-services-header-color;
    color: $white;

    &:disabled {
      background: $gray-7;
    }

    &.selected {
      background: $selected-flight-row-color;
      color: $black;
    }

    .fare-and-services-flight-select-text {
      font-size: 12px;
      font-weight: 500;
    }

    .fare-and-services-flight-select-fare-value {
      font-size: 16px;
      font-weight: 600;
    }

    i.fa-angle-right, i.fa-angle-down {
      font-size: 18px;
      font-weight: bold;
      float: right;
      position: relative;
      top: 10px;
      text-align: right;
    }
  }
}

.fare-and-services-row {
  &.selected {
    background: $selected-flight-row-color !important;

    .flight-path {
      z-index: 0 !important;
    }
  }
}

a.desktop-fare-bundle-container-box-1 {
  width: 100%;
}

a.desktop-fare-bundle-container-box-2 {
  width: 50%;
}

a.desktop-fare-bundle-container-box-3 {
  width: 33.33%;
}

a.desktop-fare-bundle-container-box-4 {
  width: 25%;
}

a.desktop-fare-bundle-container-box-5 {
  width: 20%;
}

.modal-box.baggage-rates-modal {

  .modal-content {

    .modal-header {

      background-color: $fare-and-services-header-color;
      color: $white !important;

      span.close-btn.close-btn :hover {
        color: $white !important;
      }
    }
  }
}

.fare-and-services-wrapper{
	height: 100%;
	.fare-and-services-body{
		height: 100%;
	}
	.fare-and-services-body-container{
		height: 100%
	}
}
.modify-flight-search{
   .fare-and-services-wrapper{
       height: auto !important;
   }
}

.baggage-rates-price-text {
  color : $red;
}