$red : #ed0000;
$white : #ffffff;
$black : #414042;
$gray : #4E4E4E;
$light_gray: #e8e8e8;

$site_back_color : #fafafa;
$site_selected_gray :#414042;
$site_accent_color : #29c000;
$primary_font_color: #333333;

$site_primary_color : #ed0000;
$site_primary_color_dark : #CC0404;

$menu_completed : $site_primary_color;
$menu_active :$site_selected_gray;

$checkin_gray_1 : rgb(250, 249, 249);

//segment_component
$segment_component_back : #f5f5f5;
$segment_component_back_selected : #ededed;
$segment_component_checkbox : $site_back_color;

//pax_seat_component
$pax_seat_component_back : #f5f5f5;
$pax_seat_component_back_checkedIn : #e5f9e7;
$pax_seat_component_checkbox: $site_back_color;
$pax_seat_component_checkbox_checkedIn: #cce7ce;


//Seat Map Colors
$seat_default_back : #ffffff;
$seat_occupied_back : #d0d0d0;
$seat_hover_back : #efefef;
$seat_border_color : $seat_occupied_back;
$seat_selected_back : $site_primary_color;
$seat_selected_animateSeat_back :#4d4d4d;


//pax_name_list_component Colors
$paxName_default-back :#f3f3f3;
$paxName_default-txt :#999999;
$paxName_hover-back : #ebebeb;
$paxName_hover-txt : #707070;
$paxName_selected-back : #FFFFFF;
$paxName_selected-txt : #4d4d4d;
$paxName_completed-back : #cce7ce;
$paxName_completed-txt : #00870a;
$paxName_completed-selected-txt : #6D6868;


$lbl_back : #00870a;

//pax_contact_component Colors
$paxContact_headColor : #5e5e5e;
$paxContact_nameColor : #4d4d4d;
$paxContact_iAgreeBack : #f3f3f3;
$paxContact_fieldName : #7c7c7c;
$paxContact_fieldVal : #383838;

$gray-base:              #000 !default;
$gray-1:                 lighten($gray-base, 10%);
$gray-2:                 lighten($gray-base, 20%);
$gray-3:                 lighten($gray-base, 30%);
$gray-4:                 lighten($gray-base, 40%);
$gray-5:                 lighten($gray-base, 50%);
$gray-6:                 lighten($gray-base, 60%);
$gray-7:                 lighten($gray-base, 70%);
$gray-8:                 lighten($gray-base, 80%);
$gray-9:                 lighten($gray-base, 90%);


// Rewards Login

$rewards_login_bg : $light_gray;
