@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?j0a225');
    src:    url('../fonts/icomoon.eot?j0a225#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?j0a225') format('truetype'),
        url('../fonts/icomoon.woff?j0a225') format('woff'),
        url('../fonts/icomoon.svg?j0a225#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bus:before {
    content: "\e92e";
}
.icon-nav-toggle:before {
    content: "\e92d";
}
.icon-up:before {
    content: "\e92b";
}
.icon-plus:before {
    content: "\e92c";
}
.icon-dragger:before {
    content: "\e929";
}
.icon-outbound-plane-small .path1:before {
    content: "\e912";
    color: rgba(145, 145, 145, 0.3);
}
.icon-outbound-plane-small .path2:before {
    content: "\e926";
    margin-left: -2.470703125em;
    color: rgb(237, 0, 0);
}
.icon-inbound-plane-small .path1:before {
    content: "\e927";
    color: rgba(145, 145, 145, 0.3);
}
.icon-inbound-plane-small .path2:before {
    content: "\e928";
    margin-left: -2.470703125em;
    color: rgb(237, 0, 0);
}
.icon-check-in:before {
    content: "\e922";
}
.icon-crown:before {
    content: "\e923";
}
.icon-hands-shake:before {
    content: "\e924";
}
.icon-quick-check-in:before {
    content: "\e925";
}
.icon-double-arrow-right:before {
    content: "\e920";
}
.icon-double-arrow-left:before {
    content: "\e921";
}
.icon-default-seat .path1:before {
    content: "\e913";
    color: rgb(151, 150, 151);
}
.icon-default-seat .path2:before {
    content: "\e914";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.36);
}
.icon-default-seat .path3:before {
    content: "\e915";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.36);
}
.icon-disabled-seat .path1:before {
    content: "\e916";
    color: rgb(180, 180, 180);
}
.icon-disabled-seat .path2:before {
    content: "\e917";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.36);
}
.icon-disabled-seat .path3:before {
    content: "\e918";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.36);
}
.icon-disabled-seat .path4:before {
    content: "\e919";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-seleted-seat .path1:before {
    content: "\e91a";
    color: rgb(236, 29, 37);
}
.icon-seleted-seat .path2:before {
    content: "\e91b";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.36);
}
.icon-seleted-seat .path3:before {
    content: "\e91c";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.36);
}
.icon-seleted-seat .path4:before {
    content: "\e91d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-bathroom:before {
    content: "\e91e";
}
.icon-cup:before {
    content: "\e91f";
}
.icon-vege:before {
    content: "\e92a";
}
.icon-selected:before {
    content: "\e910";
}
.icon-non_select:before {
    content: "\e911";
}
.icon-icon_bookmark:before {
    content: "\e90f";
}
.icon-plane_shape_L:before {
    content: "\e90a";
}
.icon-plane_shape_R:before {
    content: "\e90b";
}
.icon-infant:before {
    content: "\e900";
}
.icon-adult:before {
    content: "\e906";
}
.icon-number2:before {
    content: "\e901";
}
.icon-number3:before {
    content: "\e902";
}
.icon-number4:before {
    content: "\e903";
}
.icon-number5:before {
    content: "\e904";
}
.icon-children:before {
    content: "\e905";
}
.icon-calendar:before {
    content: "\e907";
}
.icon-close:before {
    content: "\e908";
}
.icon-done:before {
    content: "\e909";
}
.icon-clock:before {
    content: "\e90e";
}
.icon-pause:before {
    content: "\e90c";
}
.icon-stop:before {
    content: "\e90d";
}
.icon-baggage-gray:before {
  content: "\e92f";
}
.icon-baggage-gray{
  font-size: 20px;
  line-height: 0px;
}
.passenger-information-block .icon-inbound-plane-small .path1:before {
  color: #4E4E4E;
  margin-right: -0.55em !important;
}

